@use "../../setting" as *;

/* Backgrounds Image */
@if $Basic {
  /*x
  @mixin bg-none {
    background-image: none;
  }

  @mixin bg-gradient-to-t {
    $gradient-direction: to top !global;
    background-image: get_BgImg();
  }

  @mixin bg-gradient-to-tr {
    $gradient-direction: to top right !global;
    background-image: get_BgImg();
  }

  @mixin bg-gradient-to-r {
    $gradient-direction: to right !global;
    background-image: get_BgImg();
  }

  @mixin bg-gradient-to-br {
    $gradient-direction: to bottom right !global;
    background-image: get_BgImg();
  }

  @mixin bg-gradient-to-b {
    $gradient-direction: to bottom !global;
    background-image: get_BgImg();
  }

  @mixin bg-gradient-to-bl {
    $gradient-direction: to bottom left !global;
    background-image: get_BgImg();
  }

  @mixin bg-gradient-to-l {
    $gradient-direction: to left !global;
    background-image: get_BgImg();
  }

  @mixin bg-gradient-to-tl {
    $gradient-direction: to top right !global;
    background-image: get_BgImg();
  }
  x*/
}

@if $Rwd {
  // reducing size for updating speed
  @if $isLiteMode {
    /*x
    @mixin sm\:bg-image-($value) {
      @media (min-width: $rwd-sm) {
        background-image: $value;
      }
    }

    @mixin md\:bg-image-($value) {
      @media (min-width: $rwd-md) {
        background-image: $value;
      }
    }

    @mixin lg\:bg-image-($value) {
      @media (min-width: $rwd-lg) {
        background-image: $value;
      }
    }

    @mixin xl\:bg-image-($value) {
      @media (min-width: $rwd-xl) {
        background-image: $value;
      }
    }

    @mixin \2xl\:bg-image-($value) {
      @media (min-width: $rwd-2xl) {
        background-image: $value;
      }
    }x*/
  }

  // tailwind default
  @else {
  }
}

/* Naming collision: bg -> bg-image */
@if $Custom {
  /*x
  @mixin bg-image-($value) {
    background-image: $value;
  }x*/
}
