@use "../../setting" as *;


$Position: (
  "static": static,
  "fixed": fixed,
  "absolute": absolute,
  "relative": relative,
  "sticky": sticky,
);

@if $Basic {
  @each $key, $value in $Position {
    /*x
    @mixin #{$key} {
      @include position(#{$value});
    }
    x*/
  }
}

@if $Rwd {
  @each $rwd in $rwdBox {
    @each $key, $value in $Position {
      /*x
      @mixin #{$rwd}\:#{$key} {
        @include position(#{$value}, $#{$rwd});
      }
      x*/
    }
  }
}