@use "../../setting" as *;

/* Position */
@if $Basic {
  // /*x
  @mixin static {
    position: static;
  }

  @mixin fixed {
    position: fixed;
  }

  @mixin absolute {
    position: absolute;
  }

  @mixin relative {
    position: relative;
  }

  @mixin sticky {
    position: sticky;
  }

  // x*/
}

@if $Rwd {
  // /*x
  @mixin sm\:static {
    @include sm\:position(static);
  }

  @mixin sm\:fixed {
    @include sm\:position(fixed);
  }

  @mixin sm\:absolute {
    @include sm\:position(absolute);
  }

  @mixin sm\:relative {
    @include sm\:position(relative);
  }

  @mixin sm\:sticky {
    @include sm\:position(sticky);
  }

  @mixin md\:static {
    @include md\:position(static);
  }

  @mixin md\:fixed {
    @include md\:position(fixed);
  }

  @mixin md\:absolute {
    @include md\:position(absolute);
  }

  @mixin md\:relative {
    @include md\:position(relative);
  }

  @mixin md\:sticky {
    @include md\:position(sticky);
  }

  @mixin lg\:static {
    @include lg\:position(static);
  }

  @mixin lg\:fixed {
    @include lg\:position(fixed);
  }

  @mixin lg\:absolute {
    @include lg\:position(absolute);
  }

  @mixin lg\:relative {
    @include lg\:position(relative);
  }

  @mixin lg\:sticky {
    @include lg\:position(sticky);
  }

  @mixin xl\:static {
    @include xl\:position(static);
  }

  @mixin xl\:fixed {
    @include xl\:position(fixed);
  }

  @mixin xl\:absolute {
    @include xl\:position(absolute);
  }

  @mixin xl\:relative {
    @include xl\:position(relative);
  }

  @mixin xl\:sticky {
    @include xl\:position(sticky);
  }

  @mixin \2xl\:static {
    @include \2xl\:position(static);
  }

  @mixin \2xl\:fixed {
    @include \2xl\:position(fixed);
  }

  @mixin \2xl\:absolute {
    @include \2xl\:position(absolute);
  }

  @mixin \2xl\:relative {
    @include \2xl\:position(relative);
  }

  @mixin \2xl\:sticky {
    @include \2xl\:position(sticky);
  }

  // x*/
}
