@use "../../mode0" as *;
@use "true" as *;

@include describe("1.Layout") {
  @include describe("Floats") {
    @include describe("Basic") {
      @include it("float-start") {
        @include assert {
          @include output {
            @include float-start;
            @include reset;
          }

          @include expect {
            float: inline-start;
          }
        }
      }

      @include it("float-end") {
        @include assert {
          @include output {
            @include float-end;
            @include reset;
          }

          @include expect {
            float: inline-end;
          }
        }
      }

      @include it("float-right") {
        @include assert {
          @include output {
            @include float-right;
            @include reset;
          }

          @include expect {
            float: right;
          }
        }
      }

      @include it("float-left") {
        @include assert {
          @include output {
            @include float-left;
            @include reset;
          }

          @include expect {
            float: left;
          }
        }
      }

      @include it("float-none") {
        @include assert {
          @include output {
            @include float-none;
            @include reset;
          }

          @include expect {
            float: none;
          }
        }
      }
    }

    @include describe("Rwd") {
      @include it("sm\:float-start") {
        @include assert {
          @include output {
            @include sm\:float-start;
            @include reset;
          }

          @include expect {
            @media (min-width: $sm) {
              float: inline-start;
            }
          }
        }
      }

      @include it("sm\:float-end") {
        @include assert {
          @include output {
            @include sm\:float-end;
            @include reset;
          }

          @include expect {
            @media (min-width: $sm) {
              float: inline-end;
            }
          }
        }
      }

      @include it("sm\:float-right") {
        @include assert {
          @include output {
            @include sm\:float-right;
            @include reset;
          }

          @include expect {
            @media (min-width: $sm) {
              float: right;
            }
          }
        }
      }

      @include it("sm\:float-left") {
        @include assert {
          @include output {
            @include sm\:float-left;
            @include reset;
          }

          @include expect {
            @media (min-width: $sm) {
              float: left;
            }
          }
        }
      }

      @include it("sm\:float-none") {
        @include assert {
          @include output {
            @include sm\:float-none;
            @include reset;
          }

          @include expect {
            @media (min-width: $sm) {
              float: none;
            }
          }
        }
      }

      @include it("md\:float-start") {
        @include assert {
          @include output {
            @include md\:float-start;
            @include reset;
          }

          @include expect {
            @media (min-width: $md) {
              float: inline-start;
            }
          }
        }
      }

      @include it("md\:float-end") {
        @include assert {
          @include output {
            @include md\:float-end;
            @include reset;
          }

          @include expect {
            @media (min-width: $md) {
              float: inline-end;
            }
          }
        }
      }

      @include it("md\:float-right") {
        @include assert {
          @include output {
            @include md\:float-right;
            @include reset;
          }

          @include expect {
            @media (min-width: $md) {
              float: right;
            }
          }
        }
      }

      @include it("md\:float-left") {
        @include assert {
          @include output {
            @include md\:float-left;
            @include reset;
          }

          @include expect {
            @media (min-width: $md) {
              float: left;
            }
          }
        }
      }

      @include it("md\:float-none") {
        @include assert {
          @include output {
            @include md\:float-none;
            @include reset;
          }

          @include expect {
            @media (min-width: $md) {
              float: none;
            }
          }
        }
      }

      @include it("lg\:float-start") {
        @include assert {
          @include output {
            @include lg\:float-start;
            @include reset;
          }

          @include expect {
            @media (min-width: $lg) {
              float: inline-start;
            }
          }
        }
      }

      @include it("lg\:float-end") {
        @include assert {
          @include output {
            @include lg\:float-end;
            @include reset;
          }

          @include expect {
            @media (min-width: $lg) {
              float: inline-end;
            }
          }
        }
      }

      @include it("lg\:float-right") {
        @include assert {
          @include output {
            @include lg\:float-right;
            @include reset;
          }

          @include expect {
            @media (min-width: $lg) {
              float: right;
            }
          }
        }
      }

      @include it("lg\:float-left") {
        @include assert {
          @include output {
            @include lg\:float-left;
            @include reset;
          }

          @include expect {
            @media (min-width: $lg) {
              float: left;
            }
          }
        }
      }

      @include it("lg\:float-none") {
        @include assert {
          @include output {
            @include lg\:float-none;
            @include reset;
          }

          @include expect {
            @media (min-width: $lg) {
              float: none;
            }
          }
        }
      }

      @include it("xl\:float-start") {
        @include assert {
          @include output {
            @include xl\:float-start;
            @include reset;
          }

          @include expect {
            @media (min-width: $xl) {
              float: inline-start;
            }
          }
        }
      }

      @include it("xl\:float-end") {
        @include assert {
          @include output {
            @include xl\:float-end;
            @include reset;
          }

          @include expect {
            @media (min-width: $xl) {
              float: inline-end;
            }
          }
        }
      }

      @include it("xl\:float-right") {
        @include assert {
          @include output {
            @include xl\:float-right;
            @include reset;
          }

          @include expect {
            @media (min-width: $xl) {
              float: right;
            }
          }
        }
      }

      @include it("xl\:float-left") {
        @include assert {
          @include output {
            @include xl\:float-left;
            @include reset;
          }

          @include expect {
            @media (min-width: $xl) {
              float: left;
            }
          }
        }
      }

      @include it("xl\:float-none") {
        @include assert {
          @include output {
            @include xl\:float-none;
            @include reset;
          }

          @include expect {
            @media (min-width: $xl) {
              float: none;
            }
          }
        }
      }

      @include it("2xl\:float-start") {
        @include assert {
          @include output {
            @include \2xl\:float-start;
            @include reset;
          }

          @include expect {
            @media (min-width: $\2xl) {
              float: inline-start;
            }
          }
        }
      }

      @include it("2xl\:float-end") {
        @include assert {
          @include output {
            @include \2xl\:float-end;
            @include reset;
          }

          @include expect {
            @media (min-width: $\2xl) {
              float: inline-end;
            }
          }
        }
      }

      @include it("2xl\:float-right") {
        @include assert {
          @include output {
            @include \2xl\:float-right;
            @include reset;
          }

          @include expect {
            @media (min-width: $\2xl) {
              float: right;
            }
          }
        }
      }

      @include it("2xl\:float-left") {
        @include assert {
          @include output {
            @include \2xl\:float-left;
            @include reset;
          }

          @include expect {
            @media (min-width: $\2xl) {
              float: left;
            }
          }
        }
      }

      @include it("2xl\:float-none") {
        @include assert {
          @include output {
            @include \2xl\:float-none;
            @include reset;
          }

          @include expect {
            @media (min-width: $\2xl) {
              float: none;
            }
          }
        }
      }
    }
  }
}
