@include describe('6.Backgrounds') {
  @include describe('Background Position') {
    @include describe('Basic') {
      @include it('bg-bottom') {
        @include assert {
          @include output {
            @include bg-bottom;
            @include utils_reset-tw-variables;
          }

          @include expect {
            background-position: bottom;
          }
        }
      }

      @include it('bg-center') {
        @include assert {
          @include output {
            @include bg-center;
            @include utils_reset-tw-variables;
          }

          @include expect {
            background-position: center;
          }
        }
      }

      @include it('bg-left') {
        @include assert {
          @include output {
            @include bg-left;
            @include utils_reset-tw-variables;
          }

          @include expect {
            background-position: left;
          }
        }
      }

      @include it('bg-left-bottom') {
        @include assert {
          @include output {
            @include bg-left-bottom;
            @include utils_reset-tw-variables;
          }

          @include expect {
            background-position: left bottom;
          }
        }
      }

      @include it('bg-left-top') {
        @include assert {
          @include output {
            @include bg-left-top;
            @include utils_reset-tw-variables;
          }

          @include expect {
            background-position: left top;
          }
        }
      }

      @include it('bg-right') {
        @include assert {
          @include output {
            @include bg-right;
            @include utils_reset-tw-variables;
          }

          @include expect {
            background-position: right;
          }
        }
      }

      @include it('bg-right-bottom') {
        @include assert {
          @include output {
            @include bg-right-bottom;
            @include utils_reset-tw-variables;
          }

          @include expect {
            background-position: right bottom;
          }
        }
      }

      @include it('bg-right-top') {
        @include assert {
          @include output {
            @include bg-right-top;
            @include utils_reset-tw-variables;
          }

          @include expect {
            background-position: right top;
          }
        }
      }

      @include it('bg-top') {
        @include assert {
          @include output {
            @include bg-top;
            @include utils_reset-tw-variables;
          }

          @include expect {
            background-position: top;
          }
        }
      }
    }

    @include describe('Rwd') {
      @include it('sm\:bg-bottom') {
        @include assert {
          @include output {
            @include sm\:bg-bottom;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              background-position: bottom;
            }
          }
        }
      }

      @include it('sm\:bg-center') {
        @include assert {
          @include output {
            @include sm\:bg-center;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              background-position: center;
            }
          }
        }
      }

      @include it('sm\:bg-left') {
        @include assert {
          @include output {
            @include sm\:bg-left;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              background-position: left;
            }
          }
        }
      }

      @include it('sm\:bg-left-bottom') {
        @include assert {
          @include output {
            @include sm\:bg-left-bottom;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              background-position: left bottom;
            }
          }
        }
      }

      @include it('sm\:bg-left-top') {
        @include assert {
          @include output {
            @include sm\:bg-left-top;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              background-position: left top;
            }
          }
        }
      }

      @include it('sm\:bg-right') {
        @include assert {
          @include output {
            @include sm\:bg-right;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              background-position: right;
            }
          }
        }
      }

      @include it('sm\:bg-right-bottom') {
        @include assert {
          @include output {
            @include sm\:bg-right-bottom;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              background-position: right bottom;
            }
          }
        }
      }

      @include it('sm\:bg-right-top') {
        @include assert {
          @include output {
            @include sm\:bg-right-top;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              background-position: right top;
            }
          }
        }
      }

      @include it('sm\:bg-top') {
        @include assert {
          @include output {
            @include sm\:bg-top;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              background-position: top;
            }
          }
        }
      }

      @include it('md\:bg-bottom') {
        @include assert {
          @include output {
            @include md\:bg-bottom;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              background-position: bottom;
            }
          }
        }
      }

      @include it('md\:bg-center') {
        @include assert {
          @include output {
            @include md\:bg-center;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              background-position: center;
            }
          }
        }
      }

      @include it('md\:bg-left') {
        @include assert {
          @include output {
            @include md\:bg-left;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              background-position: left;
            }
          }
        }
      }

      @include it('md\:bg-left-bottom') {
        @include assert {
          @include output {
            @include md\:bg-left-bottom;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              background-position: left bottom;
            }
          }
        }
      }

      @include it('md\:bg-left-top') {
        @include assert {
          @include output {
            @include md\:bg-left-top;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              background-position: left top;
            }
          }
        }
      }

      @include it('md\:bg-right') {
        @include assert {
          @include output {
            @include md\:bg-right;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              background-position: right;
            }
          }
        }
      }

      @include it('md\:bg-right-bottom') {
        @include assert {
          @include output {
            @include md\:bg-right-bottom;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              background-position: right bottom;
            }
          }
        }
      }

      @include it('md\:bg-right-top') {
        @include assert {
          @include output {
            @include md\:bg-right-top;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              background-position: right top;
            }
          }
        }
      }

      @include it('md\:bg-top') {
        @include assert {
          @include output {
            @include md\:bg-top;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              background-position: top;
            }
          }
        }
      }

      @include it('lg\:bg-bottom') {
        @include assert {
          @include output {
            @include lg\:bg-bottom;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              background-position: bottom;
            }
          }
        }
      }

      @include it('lg\:bg-center') {
        @include assert {
          @include output {
            @include lg\:bg-center;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              background-position: center;
            }
          }
        }
      }

      @include it('lg\:bg-left') {
        @include assert {
          @include output {
            @include lg\:bg-left;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              background-position: left;
            }
          }
        }
      }

      @include it('lg\:bg-left-bottom') {
        @include assert {
          @include output {
            @include lg\:bg-left-bottom;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              background-position: left bottom;
            }
          }
        }
      }

      @include it('lg\:bg-left-top') {
        @include assert {
          @include output {
            @include lg\:bg-left-top;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              background-position: left top;
            }
          }
        }
      }

      @include it('lg\:bg-right') {
        @include assert {
          @include output {
            @include lg\:bg-right;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              background-position: right;
            }
          }
        }
      }

      @include it('lg\:bg-right-bottom') {
        @include assert {
          @include output {
            @include lg\:bg-right-bottom;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              background-position: right bottom;
            }
          }
        }
      }

      @include it('lg\:bg-right-top') {
        @include assert {
          @include output {
            @include lg\:bg-right-top;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              background-position: right top;
            }
          }
        }
      }

      @include it('lg\:bg-top') {
        @include assert {
          @include output {
            @include lg\:bg-top;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              background-position: top;
            }
          }
        }
      }

      @include it('xl\:bg-bottom') {
        @include assert {
          @include output {
            @include xl\:bg-bottom;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              background-position: bottom;
            }
          }
        }
      }

      @include it('xl\:bg-center') {
        @include assert {
          @include output {
            @include xl\:bg-center;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              background-position: center;
            }
          }
        }
      }

      @include it('xl\:bg-left') {
        @include assert {
          @include output {
            @include xl\:bg-left;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              background-position: left;
            }
          }
        }
      }

      @include it('xl\:bg-left-bottom') {
        @include assert {
          @include output {
            @include xl\:bg-left-bottom;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              background-position: left bottom;
            }
          }
        }
      }

      @include it('xl\:bg-left-top') {
        @include assert {
          @include output {
            @include xl\:bg-left-top;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              background-position: left top;
            }
          }
        }
      }

      @include it('xl\:bg-right') {
        @include assert {
          @include output {
            @include xl\:bg-right;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              background-position: right;
            }
          }
        }
      }

      @include it('xl\:bg-right-bottom') {
        @include assert {
          @include output {
            @include xl\:bg-right-bottom;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              background-position: right bottom;
            }
          }
        }
      }

      @include it('xl\:bg-right-top') {
        @include assert {
          @include output {
            @include xl\:bg-right-top;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              background-position: right top;
            }
          }
        }
      }

      @include it('xl\:bg-top') {
        @include assert {
          @include output {
            @include xl\:bg-top;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              background-position: top;
            }
          }
        }
      }

      @include it('2xl\:bg-bottom') {
        @include assert {
          @include output {
            @include \2xl\:bg-bottom;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              background-position: bottom;
            }
          }
        }
      }

      @include it('2xl\:bg-center') {
        @include assert {
          @include output {
            @include \2xl\:bg-center;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              background-position: center;
            }
          }
        }
      }

      @include it('2xl\:bg-left') {
        @include assert {
          @include output {
            @include \2xl\:bg-left;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              background-position: left;
            }
          }
        }
      }

      @include it('2xl\:bg-left-bottom') {
        @include assert {
          @include output {
            @include \2xl\:bg-left-bottom;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              background-position: left bottom;
            }
          }
        }
      }

      @include it('2xl\:bg-left-top') {
        @include assert {
          @include output {
            @include \2xl\:bg-left-top;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              background-position: left top;
            }
          }
        }
      }

      @include it('2xl\:bg-right') {
        @include assert {
          @include output {
            @include \2xl\:bg-right;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              background-position: right;
            }
          }
        }
      }

      @include it('2xl\:bg-right-bottom') {
        @include assert {
          @include output {
            @include \2xl\:bg-right-bottom;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              background-position: right bottom;
            }
          }
        }
      }

      @include it('2xl\:bg-right-top') {
        @include assert {
          @include output {
            @include \2xl\:bg-right-top;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              background-position: right top;
            }
          }
        }
      }

      @include it('2xl\:bg-top') {
        @include assert {
          @include output {
            @include \2xl\:bg-top;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              background-position: top;
            }
          }
        }
      }
    }
  }
}
