@use 'true' as *;
@use '../awaken' as *;

@include describe('6.Backgrounds') {
  @include describe('Background Repeat') {
    @include describe('Basic') {
      @include it('bg-repeat') {
        @include assert {
          @include output {
            @include bg-repeat;
            @include utils_reset-tw;
          }

          @include expect {
            background-repeat: repeat;
          }
        }
      }

      @include it('bg-no-repeat') {
        @include assert {
          @include output {
            @include bg-no-repeat;
            @include utils_reset-tw;
          }

          @include expect {
            background-repeat: no-repeat;
          }
        }
      }

      @include it('bg-repeat-x') {
        @include assert {
          @include output {
            @include bg-repeat-x;
            @include utils_reset-tw;
          }

          @include expect {
            background-repeat: repeat-x;
          }
        }
      }

      @include it('bg-repeat-y') {
        @include assert {
          @include output {
            @include bg-repeat-y;
            @include utils_reset-tw;
          }

          @include expect {
            background-repeat: repeat-y;
          }
        }
      }

      @include it('bg-repeat-round') {
        @include assert {
          @include output {
            @include bg-repeat-round;
            @include utils_reset-tw;
          }

          @include expect {
            background-repeat: round;
          }
        }
      }

      @include it('bg-repeat-space') {
        @include assert {
          @include output {
            @include bg-repeat-space;
            @include utils_reset-tw;
          }

          @include expect {
            background-repeat: space;
          }
        }
      }
    }
  }
}
