@include describe('6.Backgrounds') {
  @include describe('Background Origin') {
    @include describe('Basic') {
      @include it('bg-origin-border') {
        @include assert {
          @include output {
            @include bg-origin-border;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            background-origin: border-box;
          }
        }
      }

      @include it('bg-origin-padding') {
        @include assert {
          @include output {
            @include bg-origin-padding;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            background-origin: padding-box;
          }
        }
      }

      @include it('bg-origin-content') {
        @include assert {
          @include output {
            @include bg-origin-content;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            background-origin: content-box;
          }
        }
      }
    }

    @include describe('Rwd') {
      @include it('sm\:bg-origin-border') {
        @include assert {
          @include output {
            @include sm\:bg-origin-border;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              background-origin: border-box;
            }
          }
        }
      }

      @include it('sm\:bg-origin-padding') {
        @include assert {
          @include output {
            @include sm\:bg-origin-padding;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              background-origin: padding-box;
            }
          }
        }
      }

      @include it('sm\:bg-origin-content') {
        @include assert {
          @include output {
            @include sm\:bg-origin-content;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              background-origin: content-box;
            }
          }
        }
      }

      @include it('md\:bg-origin-border') {
        @include assert {
          @include output {
            @include md\:bg-origin-border;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              background-origin: border-box;
            }
          }
        }
      }

      @include it('md\:bg-origin-padding') {
        @include assert {
          @include output {
            @include md\:bg-origin-padding;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              background-origin: padding-box;
            }
          }
        }
      }

      @include it('md\:bg-origin-content') {
        @include assert {
          @include output {
            @include md\:bg-origin-content;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              background-origin: content-box;
            }
          }
        }
      }

      @include it('lg\:bg-origin-border') {
        @include assert {
          @include output {
            @include lg\:bg-origin-border;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              background-origin: border-box;
            }
          }
        }
      }

      @include it('lg\:bg-origin-padding') {
        @include assert {
          @include output {
            @include lg\:bg-origin-padding;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              background-origin: padding-box;
            }
          }
        }
      }

      @include it('lg\:bg-origin-content') {
        @include assert {
          @include output {
            @include lg\:bg-origin-content;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              background-origin: content-box;
            }
          }
        }
      }

      @include it('xl\:bg-origin-border') {
        @include assert {
          @include output {
            @include xl\:bg-origin-border;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              background-origin: border-box;
            }
          }
        }
      }

      @include it('xl\:bg-origin-padding') {
        @include assert {
          @include output {
            @include xl\:bg-origin-padding;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              background-origin: padding-box;
            }
          }
        }
      }

      @include it('xl\:bg-origin-content') {
        @include assert {
          @include output {
            @include xl\:bg-origin-content;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              background-origin: content-box;
            }
          }
        }
      }

      @include it('2xl\:bg-origin-border') {
        @include assert {
          @include output {
            @include \2xl\:bg-origin-border;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              background-origin: border-box;
            }
          }
        }
      }

      @include it('2xl\:bg-origin-padding') {
        @include assert {
          @include output {
            @include \2xl\:bg-origin-padding;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              background-origin: padding-box;
            }
          }
        }
      }

      @include it('2xl\:bg-origin-content') {
        @include assert {
          @include output {
            @include \2xl\:bg-origin-content;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              background-origin: content-box;
            }
          }
        }
      }
    }
  }
}
