

@include describe('6.Backgrounds') {
  @include describe('Background Repeat') {
    @include describe('Basic') {
      @include it('bg-repeat') {
        @include assert {
          @include output {
            @include bg-repeat;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            background-repeat: repeat;
          }
        }
      }

      @include it('bg-no-repeat') {
        @include assert {
          @include output {
            @include bg-no-repeat;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            background-repeat: no-repeat;
          }
        }
      }

      @include it('bg-repeat-x') {
        @include assert {
          @include output {
            @include bg-repeat-x;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            background-repeat: repeat-x;
          }
        }
      }

      @include it('bg-repeat-y') {
        @include assert {
          @include output {
            @include bg-repeat-y;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            background-repeat: repeat-y;
          }
        }
      }

      @include it('bg-repeat-round') {
        @include assert {
          @include output {
            @include bg-repeat-round;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            background-repeat: round;
          }
        }
      }

      @include it('bg-repeat-space') {
        @include assert {
          @include output {
            @include bg-repeat-space;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            background-repeat: space;
          }
        }
      }
    }

    @include describe('Rwd') {
      @include it('sm\:bg-repeat') {
        @include assert {
          @include output {
            @include sm\:bg-repeat;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              background-repeat: repeat;
            }
          }
        }
      }

      @include it('sm\:bg-no-repeat') {
        @include assert {
          @include output {
            @include sm\:bg-no-repeat;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              background-repeat: no-repeat;
            }
          }
        }
      }

      @include it('sm\:bg-repeat-x') {
        @include assert {
          @include output {
            @include sm\:bg-repeat-x;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              background-repeat: repeat-x;
            }
          }
        }
      }

      @include it('sm\:bg-repeat-y') {
        @include assert {
          @include output {
            @include sm\:bg-repeat-y;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              background-repeat: repeat-y;
            }
          }
        }
      }

      @include it('sm\:bg-repeat-round') {
        @include assert {
          @include output {
            @include sm\:bg-repeat-round;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              background-repeat: round;
            }
          }
        }
      }

      @include it('sm\:bg-repeat-space') {
        @include assert {
          @include output {
            @include sm\:bg-repeat-space;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              background-repeat: space;
            }
          }
        }
      }

      @include it('md\:bg-repeat') {
        @include assert {
          @include output {
            @include md\:bg-repeat;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              background-repeat: repeat;
            }
          }
        }
      }

      @include it('md\:bg-no-repeat') {
        @include assert {
          @include output {
            @include md\:bg-no-repeat;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              background-repeat: no-repeat;
            }
          }
        }
      }

      @include it('md\:bg-repeat-x') {
        @include assert {
          @include output {
            @include md\:bg-repeat-x;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              background-repeat: repeat-x;
            }
          }
        }
      }

      @include it('md\:bg-repeat-y') {
        @include assert {
          @include output {
            @include md\:bg-repeat-y;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              background-repeat: repeat-y;
            }
          }
        }
      }

      @include it('md\:bg-repeat-round') {
        @include assert {
          @include output {
            @include md\:bg-repeat-round;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              background-repeat: round;
            }
          }
        }
      }

      @include it('md\:bg-repeat-space') {
        @include assert {
          @include output {
            @include md\:bg-repeat-space;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              background-repeat: space;
            }
          }
        }
      }

      @include it('lg\:bg-repeat') {
        @include assert {
          @include output {
            @include lg\:bg-repeat;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              background-repeat: repeat;
            }
          }
        }
      }

      @include it('lg\:bg-no-repeat') {
        @include assert {
          @include output {
            @include lg\:bg-no-repeat;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              background-repeat: no-repeat;
            }
          }
        }
      }

      @include it('lg\:bg-repeat-x') {
        @include assert {
          @include output {
            @include lg\:bg-repeat-x;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              background-repeat: repeat-x;
            }
          }
        }
      }

      @include it('lg\:bg-repeat-y') {
        @include assert {
          @include output {
            @include lg\:bg-repeat-y;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              background-repeat: repeat-y;
            }
          }
        }
      }

      @include it('lg\:bg-repeat-round') {
        @include assert {
          @include output {
            @include lg\:bg-repeat-round;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              background-repeat: round;
            }
          }
        }
      }

      @include it('lg\:bg-repeat-space') {
        @include assert {
          @include output {
            @include lg\:bg-repeat-space;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              background-repeat: space;
            }
          }
        }
      }

      @include it('xl\:bg-repeat') {
        @include assert {
          @include output {
            @include xl\:bg-repeat;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              background-repeat: repeat;
            }
          }
        }
      }

      @include it('xl\:bg-no-repeat') {
        @include assert {
          @include output {
            @include xl\:bg-no-repeat;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              background-repeat: no-repeat;
            }
          }
        }
      }

      @include it('xl\:bg-repeat-x') {
        @include assert {
          @include output {
            @include xl\:bg-repeat-x;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              background-repeat: repeat-x;
            }
          }
        }
      }

      @include it('xl\:bg-repeat-y') {
        @include assert {
          @include output {
            @include xl\:bg-repeat-y;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              background-repeat: repeat-y;
            }
          }
        }
      }

      @include it('xl\:bg-repeat-round') {
        @include assert {
          @include output {
            @include xl\:bg-repeat-round;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              background-repeat: round;
            }
          }
        }
      }

      @include it('xl\:bg-repeat-space') {
        @include assert {
          @include output {
            @include xl\:bg-repeat-space;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              background-repeat: space;
            }
          }
        }
      }

      @include it('2xl\:bg-repeat') {
        @include assert {
          @include output {
            @include \2xl\:bg-repeat;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_2xl) {
              background-repeat: repeat;
            }
          }
        }
      }

      @include it('2xl\:bg-no-repeat') {
        @include assert {
          @include output {
            @include \2xl\:bg-no-repeat;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_2xl) {
              background-repeat: no-repeat;
            }
          }
        }
      }

      @include it('2xl\:bg-repeat-x') {
        @include assert {
          @include output {
            @include \2xl\:bg-repeat-x;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_2xl) {
              background-repeat: repeat-x;
            }
          }
        }
      }

      @include it('2xl\:bg-repeat-y') {
        @include assert {
          @include output {
            @include \2xl\:bg-repeat-y;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_2xl) {
              background-repeat: repeat-y;
            }
          }
        }
      }

      @include it('2xl\:bg-repeat-round') {
        @include assert {
          @include output {
            @include \2xl\:bg-repeat-round;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_2xl) {
              background-repeat: round;
            }
          }
        }
      }

      @include it('2xl\:bg-repeat-space') {
        @include assert {
          @include output {
            @include \2xl\:bg-repeat-space;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_2xl) {
              background-repeat: space;
            }
          }
        }
      }
    }
  }
}
