

@include describe('6.Backgrounds') {
  @include describe('Background Attachment') {
    @include describe('Basic') {
      @include it('bg-fixed') {
        @include assert {
          @include output {
            @include bg-fixed;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            background-attachment: fixed;
          }
        }
      }

      @include it('bg-local') {
        @include assert {
          @include output {
            @include bg-local;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            background-attachment: local;
          }
        }
      }

      @include it('bg-scroll') {
        @include assert {
          @include output {
            @include bg-scroll;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            background-attachment: scroll;
          }
        }
      }
    }

    @include describe('Rwd') {
      @include it('sm\:bg-fixed') {
        @include assert {
          @include output {
            @include sm\:bg-fixed;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              background-attachment: fixed;
            }
          }
        }
      }

      @include it('sm\:bg-local') {
        @include assert {
          @include output {
            @include sm\:bg-local;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              background-attachment: local;
            }
          }
        }
      }

      @include it('sm\:bg-scroll') {
        @include assert {
          @include output {
            @include sm\:bg-scroll;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              background-attachment: scroll;
            }
          }
        }
      }

      @include it('md\:bg-fixed') {
        @include assert {
          @include output {
            @include md\:bg-fixed;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              background-attachment: fixed;
            }
          }
        }
      }

      @include it('md\:bg-local') {
        @include assert {
          @include output {
            @include md\:bg-local;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              background-attachment: local;
            }
          }
        }
      }

      @include it('md\:bg-scroll') {
        @include assert {
          @include output {
            @include md\:bg-scroll;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              background-attachment: scroll;
            }
          }
        }
      }

      @include it('lg\:bg-fixed') {
        @include assert {
          @include output {
            @include lg\:bg-fixed;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              background-attachment: fixed;
            }
          }
        }
      }

      @include it('lg\:bg-local') {
        @include assert {
          @include output {
            @include lg\:bg-local;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              background-attachment: local;
            }
          }
        }
      }

      @include it('lg\:bg-scroll') {
        @include assert {
          @include output {
            @include lg\:bg-scroll;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              background-attachment: scroll;
            }
          }
        }
      }

      @include it('xl\:bg-fixed') {
        @include assert {
          @include output {
            @include xl\:bg-fixed;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              background-attachment: fixed;
            }
          }
        }
      }

      @include it('xl\:bg-local') {
        @include assert {
          @include output {
            @include xl\:bg-local;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              background-attachment: local;
            }
          }
        }
      }

      @include it('xl\:bg-scroll') {
        @include assert {
          @include output {
            @include xl\:bg-scroll;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              background-attachment: scroll;
            }
          }
        }
      }

      @include it('2xl\:bg-fixed') {
        @include assert {
          @include output {
            @include \2xl\:bg-fixed;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              background-attachment: fixed;
            }
          }
        }
      }

      @include it('2xl\:bg-local') {
        @include assert {
          @include output {
            @include \2xl\:bg-local;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              background-attachment: local;
            }
          }
        }
      }

      @include it('2xl\:bg-scroll') {
        @include assert {
          @include output {
            @include \2xl\:bg-scroll;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              background-attachment: scroll;
            }
          }
        }
      }
    }
  }
}
