@include describe('9.Filters') {
  @include describe('Backdrop Invert') {
    @include describe('Basic') {
      @include it('backdrop-invert-0') {
        @include assert {
          @include output {
            @include backdrop-invert-0;
            @include utils_reset-tw;
          }

          @include expect {
            backdrop-filter: invert(0);
          }
        }
      }

      @include it('backdrop-invert') {
        @include assert {
          @include output {
            @include backdrop-invert;
            @include utils_reset-tw;
          }

          @include expect {
            backdrop-filter: invert(100%);
          }
        }
      }
    }

    @include describe('Rwd') {
      @include it('backdrop-invert-0') {
        @include assert {
          @include output {
            @include backdrop-invert-0;
            @include utils_reset-tw;
          }

          @include expect {
            backdrop-filter: invert(0);
          }
        }
      }

      @include it('backdrop-invert') {
        @include assert {
          @include output {
            @include backdrop-invert;
            @include utils_reset-tw;
          }

          @include expect {
            backdrop-filter: invert(100%);
          }
        }
      }

      @include it('sm\:backdrop-invert-0') {
        @include assert {
          @include output {
            @include sm\:backdrop-invert-0;
            @include utils_reset-tw;
          }

          @include expect {
            @media (min-width: $_sm) {
              backdrop-filter: invert(0);
            }
          }
        }
      }

      @include it('sm\:backdrop-invert') {
        @include assert {
          @include output {
            @include sm\:backdrop-invert;
            @include utils_reset-tw;
          }

          @include expect {
            @media (min-width: $_sm) {
              backdrop-filter: invert(100%);
            }
          }
        }
      }

      @include it('md\:backdrop-invert-0') {
        @include assert {
          @include output {
            @include md\:backdrop-invert-0;
            @include utils_reset-tw;
          }

          @include expect {
            @media (min-width: $_md) {
              backdrop-filter: invert(0);
            }
          }
        }
      }

      @include it('md\:backdrop-invert') {
        @include assert {
          @include output {
            @include md\:backdrop-invert;
            @include utils_reset-tw;
          }

          @include expect {
            @media (min-width: $_md) {
              backdrop-filter: invert(100%);
            }
          }
        }
      }

      @include it('lg\:backdrop-invert-0') {
        @include assert {
          @include output {
            @include lg\:backdrop-invert-0;
            @include utils_reset-tw;
          }

          @include expect {
            @media (min-width: $_lg) {
              backdrop-filter: invert(0);
            }
          }
        }
      }

      @include it('lg\:backdrop-invert') {
        @include assert {
          @include output {
            @include lg\:backdrop-invert;
            @include utils_reset-tw;
          }

          @include expect {
            @media (min-width: $_lg) {
              backdrop-filter: invert(100%);
            }
          }
        }
      }

      @include it('xl\:backdrop-invert-0') {
        @include assert {
          @include output {
            @include xl\:backdrop-invert-0;
            @include utils_reset-tw;
          }

          @include expect {
            @media (min-width: $_xl) {
              backdrop-filter: invert(0);
            }
          }
        }
      }

      @include it('xl\:backdrop-invert') {
        @include assert {
          @include output {
            @include xl\:backdrop-invert;
            @include utils_reset-tw;
          }

          @include expect {
            @media (min-width: $_xl) {
              backdrop-filter: invert(100%);
            }
          }
        }
      }

      @include it('2xl\:backdrop-invert-0') {
        @include assert {
          @include output {
            @include \2xl\:backdrop-invert-0;
            @include utils_reset-tw;
          }

          @include expect {
            @media (min-width: $_xxl) {
              backdrop-filter: invert(0);
            }
          }
        }
      }

      @include it('2xl\:backdrop-invert') {
        @include assert {
          @include output {
            @include \2xl\:backdrop-invert;
            @include utils_reset-tw;
          }

          @include expect {
            @media (min-width: $_xxl) {
              backdrop-filter: invert(100%);
            }
          }
        }
      }
    }

    @include describe('Custom') {
      @include it('backdrop-invert-(.25)') {
        @include assert {
          @include output {
            @include backdrop-invert-(0.25);
            @include utils_reset-tw;
          }

          @include expect {
            backdrop-filter: invert(0.25);
          }
        }
      }

      @include it('sm\:backdrop-invert-(.25)') {
        @include assert {
          @include output {
            @include sm\:backdrop-invert-(0.25);
            @include utils_reset-tw;
          }

          @include expect {
            @media (min-width: $_sm) {
              backdrop-filter: invert(0.25);
            }
          }
        }
      }

      @include it('md\:backdrop-invert-(.25)') {
        @include assert {
          @include output {
            @include md\:backdrop-invert-(0.25);
            @include utils_reset-tw;
          }

          @include expect {
            @media (min-width: $_md) {
              backdrop-filter: invert(0.25);
            }
          }
        }
      }

      @include it('lg\:backdrop-invert-(.25)') {
        @include assert {
          @include output {
            @include lg\:backdrop-invert-(0.25);
            @include utils_reset-tw;
          }

          @include expect {
            @media (min-width: $_lg) {
              backdrop-filter: invert(0.25);
            }
          }
        }
      }

      @include it('xl\:backdrop-invert-(.25)') {
        @include assert {
          @include output {
            @include xl\:backdrop-invert-(0.25);
            @include utils_reset-tw;
          }

          @include expect {
            @media (min-width: $_xl) {
              backdrop-filter: invert(0.25);
            }
          }
        }
      }

      @include it('2xl\:backdrop-invert-(.25)') {
        @include assert {
          @include output {
            @include \2xl\:backdrop-invert-(0.25);
            @include utils_reset-tw;
          }

          @include expect {
            @media (min-width: $_xxl) {
              backdrop-filter: invert(0.25);
            }
          }
        }
      }
    }
  }
}
