@include describe('9.Filters') {
  @include describe('Backdrop Blur') {
    @include describe('Basic') {
      @include it('backdrop-blur-none') {
        @include assert {
          @include output {
            @include backdrop-blur-none;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            backdrop-filter: blur(0);
          }
        }
      }

      @include it('backdrop-blur-sm') {
        @include assert {
          @include output {
            @include backdrop-blur-sm;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            backdrop-filter: blur(4px);
          }
        }
      }

      @include it('backdrop-blur') {
        @include assert {
          @include output {
            @include backdrop-blur;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            backdrop-filter: blur(8px);
          }
        }
      }

      @include it('backdrop-blur-md') {
        @include assert {
          @include output {
            @include backdrop-blur-md;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            backdrop-filter: blur(12px);
          }
        }
      }

      @include it('backdrop-blur-lg') {
        @include assert {
          @include output {
            @include backdrop-blur-lg;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            backdrop-filter: blur(16px);
          }
        }
      }

      @include it('backdrop-blur-xl') {
        @include assert {
          @include output {
            @include backdrop-blur-xl;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            backdrop-filter: blur(24px);
          }
        }
      }

      @include it('backdrop-blur-2xl') {
        @include assert {
          @include output {
            @include backdrop-blur-2xl;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            backdrop-filter: blur(40px);
          }
        }
      }

      @include it('backdrop-blur-3xl') {
        @include assert {
          @include output {
            @include backdrop-blur-3xl;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            backdrop-filter: blur(64px);
          }
        }
      }
    }

    @include describe('Rwd') {
      @include it('sm\:backdrop-blur-none') {
        @include assert {
          @include output {
            @include sm\:backdrop-blur-none;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              backdrop-filter: blur(0);
            }
          }
        }
      }

      @include it('sm\:backdrop-blur-sm') {
        @include assert {
          @include output {
            @include sm\:backdrop-blur-sm;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              backdrop-filter: blur(4px);
            }
          }
        }
      }

      @include it('sm\:backdrop-blur') {
        @include assert {
          @include output {
            @include sm\:backdrop-blur;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              backdrop-filter: blur(8px);
            }
          }
        }
      }

      @include it('sm\:backdrop-blur-md') {
        @include assert {
          @include output {
            @include sm\:backdrop-blur-md;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              backdrop-filter: blur(12px);
            }
          }
        }
      }

      @include it('sm\:backdrop-blur-lg') {
        @include assert {
          @include output {
            @include sm\:backdrop-blur-lg;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              backdrop-filter: blur(16px);
            }
          }
        }
      }

      @include it('sm\:backdrop-blur-xl') {
        @include assert {
          @include output {
            @include sm\:backdrop-blur-xl;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              backdrop-filter: blur(24px);
            }
          }
        }
      }

      @include it('sm\:backdrop-blur-2xl') {
        @include assert {
          @include output {
            @include sm\:backdrop-blur-2xl;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              backdrop-filter: blur(40px);
            }
          }
        }
      }

      @include it('sm\:backdrop-blur-3xl') {
        @include assert {
          @include output {
            @include sm\:backdrop-blur-3xl;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              backdrop-filter: blur(64px);
            }
          }
        }
      }

      @include it('md\:backdrop-blur-none') {
        @include assert {
          @include output {
            @include md\:backdrop-blur-none;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              backdrop-filter: blur(0);
            }
          }
        }
      }

      @include it('md\:backdrop-blur-sm') {
        @include assert {
          @include output {
            @include md\:backdrop-blur-sm;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              backdrop-filter: blur(4px);
            }
          }
        }
      }

      @include it('md\:backdrop-blur') {
        @include assert {
          @include output {
            @include md\:backdrop-blur;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              backdrop-filter: blur(8px);
            }
          }
        }
      }

      @include it('md\:backdrop-blur-md') {
        @include assert {
          @include output {
            @include md\:backdrop-blur-md;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              backdrop-filter: blur(12px);
            }
          }
        }
      }

      @include it('md\:backdrop-blur-lg') {
        @include assert {
          @include output {
            @include md\:backdrop-blur-lg;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              backdrop-filter: blur(16px);
            }
          }
        }
      }

      @include it('md\:backdrop-blur-xl') {
        @include assert {
          @include output {
            @include md\:backdrop-blur-xl;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              backdrop-filter: blur(24px);
            }
          }
        }
      }

      @include it('md\:backdrop-blur-2xl') {
        @include assert {
          @include output {
            @include md\:backdrop-blur-2xl;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              backdrop-filter: blur(40px);
            }
          }
        }
      }

      @include it('md\:backdrop-blur-3xl') {
        @include assert {
          @include output {
            @include md\:backdrop-blur-3xl;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              backdrop-filter: blur(64px);
            }
          }
        }
      }

      @include it('lg\:backdrop-blur-none') {
        @include assert {
          @include output {
            @include lg\:backdrop-blur-none;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              backdrop-filter: blur(0);
            }
          }
        }
      }

      @include it('lg\:backdrop-blur-sm') {
        @include assert {
          @include output {
            @include lg\:backdrop-blur-sm;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              backdrop-filter: blur(4px);
            }
          }
        }
      }

      @include it('lg\:backdrop-blur') {
        @include assert {
          @include output {
            @include lg\:backdrop-blur;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              backdrop-filter: blur(8px);
            }
          }
        }
      }

      @include it('lg\:backdrop-blur-md') {
        @include assert {
          @include output {
            @include lg\:backdrop-blur-md;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              backdrop-filter: blur(12px);
            }
          }
        }
      }

      @include it('lg\:backdrop-blur-lg') {
        @include assert {
          @include output {
            @include lg\:backdrop-blur-lg;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              backdrop-filter: blur(16px);
            }
          }
        }
      }

      @include it('lg\:backdrop-blur-xl') {
        @include assert {
          @include output {
            @include lg\:backdrop-blur-xl;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              backdrop-filter: blur(24px);
            }
          }
        }
      }

      @include it('lg\:backdrop-blur-2xl') {
        @include assert {
          @include output {
            @include lg\:backdrop-blur-2xl;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              backdrop-filter: blur(40px);
            }
          }
        }
      }

      @include it('lg\:backdrop-blur-3xl') {
        @include assert {
          @include output {
            @include lg\:backdrop-blur-3xl;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              backdrop-filter: blur(64px);
            }
          }
        }
      }

      @include it('xl\:backdrop-blur-none') {
        @include assert {
          @include output {
            @include xl\:backdrop-blur-none;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              backdrop-filter: blur(0);
            }
          }
        }
      }

      @include it('xl\:backdrop-blur-sm') {
        @include assert {
          @include output {
            @include xl\:backdrop-blur-sm;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              backdrop-filter: blur(4px);
            }
          }
        }
      }

      @include it('xl\:backdrop-blur') {
        @include assert {
          @include output {
            @include xl\:backdrop-blur;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              backdrop-filter: blur(8px);
            }
          }
        }
      }

      @include it('xl\:backdrop-blur-md') {
        @include assert {
          @include output {
            @include xl\:backdrop-blur-md;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              backdrop-filter: blur(12px);
            }
          }
        }
      }

      @include it('xl\:backdrop-blur-lg') {
        @include assert {
          @include output {
            @include xl\:backdrop-blur-lg;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              backdrop-filter: blur(16px);
            }
          }
        }
      }

      @include it('xl\:backdrop-blur-xl') {
        @include assert {
          @include output {
            @include xl\:backdrop-blur-xl;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              backdrop-filter: blur(24px);
            }
          }
        }
      }

      @include it('xl\:backdrop-blur-2xl') {
        @include assert {
          @include output {
            @include xl\:backdrop-blur-2xl;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              backdrop-filter: blur(40px);
            }
          }
        }
      }

      @include it('xl\:backdrop-blur-3xl') {
        @include assert {
          @include output {
            @include xl\:backdrop-blur-3xl;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              backdrop-filter: blur(64px);
            }
          }
        }
      }

      @include it('2xl\:backdrop-blur-none') {
        @include assert {
          @include output {
            @include \2xl\:backdrop-blur-none;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              backdrop-filter: blur(0);
            }
          }
        }
      }

      @include it('2xl\:backdrop-blur-sm') {
        @include assert {
          @include output {
            @include \2xl\:backdrop-blur-sm;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              backdrop-filter: blur(4px);
            }
          }
        }
      }

      @include it('2xl\:backdrop-blur') {
        @include assert {
          @include output {
            @include \2xl\:backdrop-blur;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              backdrop-filter: blur(8px);
            }
          }
        }
      }

      @include it('2xl\:backdrop-blur-md') {
        @include assert {
          @include output {
            @include \2xl\:backdrop-blur-md;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              backdrop-filter: blur(12px);
            }
          }
        }
      }

      @include it('2xl\:backdrop-blur-lg') {
        @include assert {
          @include output {
            @include \2xl\:backdrop-blur-lg;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              backdrop-filter: blur(16px);
            }
          }
        }
      }

      @include it('2xl\:backdrop-blur-xl') {
        @include assert {
          @include output {
            @include \2xl\:backdrop-blur-xl;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              backdrop-filter: blur(24px);
            }
          }
        }
      }

      @include it('2xl\:backdrop-blur-2xl') {
        @include assert {
          @include output {
            @include \2xl\:backdrop-blur-2xl;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              backdrop-filter: blur(40px);
            }
          }
        }
      }

      @include it('2xl\:backdrop-blur-3xl') {
        @include assert {
          @include output {
            @include \2xl\:backdrop-blur-3xl;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              backdrop-filter: blur(64px);
            }
          }
        }
      }
    }

    @include describe('Custom') {
      @include it('backdrop-blur-(2px)') {
        @include assert {
          @include output {
            @include backdrop-blur-(2px);
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            backdrop-filter: blur(2px);
          }
        }
      }

      @include it('sm\:backdrop-blur-(2px)') {
        @include assert {
          @include output {
            @include sm\:backdrop-blur-(2px);
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              backdrop-filter: blur(2px);
            }
          }
        }
      }

      @include it('md\:backdrop-blur-(2px)') {
        @include assert {
          @include output {
            @include md\:backdrop-blur-(2px);
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              backdrop-filter: blur(2px);
            }
          }
        }
      }

      @include it('lg\:backdrop-blur-(2px)') {
        @include assert {
          @include output {
            @include lg\:backdrop-blur-(2px);
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              backdrop-filter: blur(2px);
            }
          }
        }
      }

      @include it('xl\:backdrop-blur-(2px)') {
        @include assert {
          @include output {
            @include xl\:backdrop-blur-(2px);
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              backdrop-filter: blur(2px);
            }
          }
        }
      }

      @include it('2xl\:backdrop-blur-(2px)') {
        @include assert {
          @include output {
            @include \2xl\:backdrop-blur-(2px);
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              backdrop-filter: blur(2px);
            }
          }
        }
      }
    }
  }
}
