@include describe('9.Filters') {
  @include describe('Backdrop Sepia') {
    @include describe('Basic') {
      @include it('backdrop-sepia-0') {
        @include assert {
          @include output {
            @include backdrop-sepia-0;
            @include utils_reset-tw-variables;
          }

          @include expect {
            backdrop-filter: sepia(0);
          }
        }
      }

      @include it('backdrop-sepia') {
        @include assert {
          @include output {
            @include backdrop-sepia;
            @include utils_reset-tw-variables;
          }

          @include expect {
            backdrop-filter: sepia(100%);
          }
        }
      }
    }

    @include describe('Rwd') {
      @include it('sm\:backdrop-sepia-0') {
        @include assert {
          @include output {
            @include sm\:backdrop-sepia-0;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              backdrop-filter: sepia(0);
            }
          }
        }
      }

      @include it('sm\:backdrop-sepia') {
        @include assert {
          @include output {
            @include sm\:backdrop-sepia;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              backdrop-filter: sepia(100%);
            }
          }
        }
      }
      @include it('md\:backdrop-sepia-0') {
        @include assert {
          @include output {
            @include md\:backdrop-sepia-0;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              backdrop-filter: sepia(0);
            }
          }
        }
      }

      @include it('md\:backdrop-sepia') {
        @include assert {
          @include output {
            @include md\:backdrop-sepia;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              backdrop-filter: sepia(100%);
            }
          }
        }
      }
      @include it('lg\:backdrop-sepia-0') {
        @include assert {
          @include output {
            @include lg\:backdrop-sepia-0;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              backdrop-filter: sepia(0);
            }
          }
        }
      }

      @include it('lg\:backdrop-sepia') {
        @include assert {
          @include output {
            @include lg\:backdrop-sepia;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              backdrop-filter: sepia(100%);
            }
          }
        }
      }
      @include it('xl\:backdrop-sepia-0') {
        @include assert {
          @include output {
            @include xl\:backdrop-sepia-0;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              backdrop-filter: sepia(0);
            }
          }
        }
      }

      @include it('xl\:backdrop-sepia') {
        @include assert {
          @include output {
            @include xl\:backdrop-sepia;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              backdrop-filter: sepia(100%);
            }
          }
        }
      }
      @include it('2xl\:backdrop-sepia-0') {
        @include assert {
          @include output {
            @include \2xl\:backdrop-sepia-0;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              backdrop-filter: sepia(0);
            }
          }
        }
      }

      @include it('2xl\:backdrop-sepia') {
        @include assert {
          @include output {
            @include \2xl\:backdrop-sepia;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              backdrop-filter: sepia(100%);
            }
          }
        }
      }
    }

    @include describe('Custom') {
      @include it('backdrop-sepia-(.25)') {
        @include assert {
          @include output {
            @include backdrop-sepia-(0.25);
            @include utils_reset-tw-variables;
          }

          @include expect {
            backdrop-filter: sepia(0.25);
          }
        }
      }

      @include it('sm\:backdrop-sepia-(.25)') {
        @include assert {
          @include output {
            @include sm\:backdrop-sepia-(0.25);
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              backdrop-filter: sepia(0.25);
            }
          }
        }
      }

      @include it('md\:backdrop-sepia-(.25)') {
        @include assert {
          @include output {
            @include md\:backdrop-sepia-(0.25);
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              backdrop-filter: sepia(0.25);
            }
          }
        }
      }

      @include it('lg\:backdrop-sepia-(.25)') {
        @include assert {
          @include output {
            @include lg\:backdrop-sepia-(0.25);
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              backdrop-filter: sepia(0.25);
            }
          }
        }
      }

      @include it('xl\:backdrop-sepia-(.25)') {
        @include assert {
          @include output {
            @include xl\:backdrop-sepia-(0.25);
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              backdrop-filter: sepia(0.25);
            }
          }
        }
      }

      @include it('2xl\:backdrop-sepia-(.25)') {
        @include assert {
          @include output {
            @include \2xl\:backdrop-sepia-(0.25);
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              backdrop-filter: sepia(0.25);
            }
          }
        }
      }
    }
  }
}
