@use 'true' as *;
@use '../awaken' as *;

@include describe('9.Filters') {
  @include describe('Backdrop Blur') {
    @include describe('Basic') {
      @include it('backdrop-blur-none') {
        @include assert {
          @include output {
            @include backdrop-blur-none;
            @include utils_reset-tw;
          }

          @include expect {
            backdrop-filter: blur(0);
          }
        }
      }

      @include it('backdrop-blur-sm') {
        @include assert {
          @include output {
            @include backdrop-blur-sm;
            @include utils_reset-tw;
          }

          @include expect {
            backdrop-filter: blur(4px);
          }
        }
      }

      @include it('backdrop-blur') {
        @include assert {
          @include output {
            @include backdrop-blur;
            @include utils_reset-tw;
          }

          @include expect {
            backdrop-filter: blur(8px);
          }
        }
      }

      @include it('backdrop-blur-md') {
        @include assert {
          @include output {
            @include backdrop-blur-md;
            @include utils_reset-tw;
          }

          @include expect {
            backdrop-filter: blur(12px);
          }
        }
      }

      @include it('backdrop-blur-lg') {
        @include assert {
          @include output {
            @include backdrop-blur-lg;
            @include utils_reset-tw;
          }

          @include expect {
            backdrop-filter: blur(16px);
          }
        }
      }

      @include it('backdrop-blur-xl') {
        @include assert {
          @include output {
            @include backdrop-blur-xl;
            @include utils_reset-tw;
          }

          @include expect {
            backdrop-filter: blur(24px);
          }
        }
      }

      @include it('backdrop-blur-2xl') {
        @include assert {
          @include output {
            @include backdrop-blur-2xl;
            @include utils_reset-tw;
          }

          @include expect {
            backdrop-filter: blur(40px);
          }
        }
      }

      @include it('backdrop-blur-3xl') {
        @include assert {
          @include output {
            @include backdrop-blur-3xl;
            @include utils_reset-tw;
          }

          @include expect {
            backdrop-filter: blur(64px);
          }
        }
      }
    }

    @include describe('Custom') {
      @include it('backdrop-blur-(2px)') {
        @include assert {
          @include output {
            @include backdrop-blur-(2px);
            @include utils_reset-tw;
          }

          @include expect {
            backdrop-filter: blur(2px);
          }
        }
      }
    }
  }
}
