

@include describe('9.Filters') {
  @include describe('Brightness') {
    @include describe('Basic') {
      @include it('brightness-0') {
        @include assert {
          @include output {
            @include brightness-0;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            filter: brightness(0);
          }
        }
      }

      @include it('brightness-50') {
        @include assert {
          @include output {
            @include brightness-50;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            filter: brightness(0.5);
          }
        }
      }

      @include it('brightness-75') {
        @include assert {
          @include output {
            @include brightness-75;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            filter: brightness(0.75);
          }
        }
      }

      @include it('brightness-90') {
        @include assert {
          @include output {
            @include brightness-90;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            filter: brightness(0.9);
          }
        }
      }

      @include it('brightness-95') {
        @include assert {
          @include output {
            @include brightness-95;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            filter: brightness(0.95);
          }
        }
      }

      @include it('brightness-100') {
        @include assert {
          @include output {
            @include brightness-100;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            filter: brightness(1);
          }
        }
      }

      @include it('brightness-105') {
        @include assert {
          @include output {
            @include brightness-105;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            filter: brightness(1.05);
          }
        }
      }

      @include it('brightness-110') {
        @include assert {
          @include output {
            @include brightness-110;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            filter: brightness(1.1);
          }
        }
      }

      @include it('brightness-125') {
        @include assert {
          @include output {
            @include brightness-125;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            filter: brightness(1.25);
          }
        }
      }

      @include it('brightness-150') {
        @include assert {
          @include output {
            @include brightness-150;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            filter: brightness(1.5);
          }
        }
      }

      @include it('brightness-200') {
        @include assert {
          @include output {
            @include brightness-200;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            filter: brightness(2);
          }
        }
      }
    }

    @include describe('Rwd') {
      @include it('sm\:brightness-0') {
        @include assert {
          @include output {
            @include sm\:brightness-0;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              filter: brightness(0);
            }
          }
        }
      }

      @include it('sm\:brightness-50') {
        @include assert {
          @include output {
            @include sm\:brightness-50;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              filter: brightness(0.5);
            }
          }
        }
      }

      @include it('sm\:brightness-75') {
        @include assert {
          @include output {
            @include sm\:brightness-75;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              filter: brightness(0.75);
            }
          }
        }
      }

      @include it('sm\:brightness-90') {
        @include assert {
          @include output {
            @include sm\:brightness-90;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              filter: brightness(0.9);
            }
          }
        }
      }

      @include it('sm\:brightness-95') {
        @include assert {
          @include output {
            @include sm\:brightness-95;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              filter: brightness(0.95);
            }
          }
        }
      }

      @include it('sm\:brightness-100') {
        @include assert {
          @include output {
            @include sm\:brightness-100;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              filter: brightness(1);
            }
          }
        }
      }

      @include it('sm\:brightness-105') {
        @include assert {
          @include output {
            @include sm\:brightness-105;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              filter: brightness(1.05);
            }
          }
        }
      }

      @include it('sm\:brightness-110') {
        @include assert {
          @include output {
            @include sm\:brightness-110;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              filter: brightness(1.1);
            }
          }
        }
      }

      @include it('sm\:brightness-125') {
        @include assert {
          @include output {
            @include sm\:brightness-125;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              filter: brightness(1.25);
            }
          }
        }
      }

      @include it('sm\:brightness-150') {
        @include assert {
          @include output {
            @include sm\:brightness-150;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              filter: brightness(1.5);
            }
          }
        }
      }

      @include it('sm\:brightness-200') {
        @include assert {
          @include output {
            @include sm\:brightness-200;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              filter: brightness(2);
            }
          }
        }
      }
      @include it('md\:brightness-0') {
        @include assert {
          @include output {
            @include md\:brightness-0;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              filter: brightness(0);
            }
          }
        }
      }

      @include it('md\:brightness-50') {
        @include assert {
          @include output {
            @include md\:brightness-50;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              filter: brightness(0.5);
            }
          }
        }
      }

      @include it('md\:brightness-75') {
        @include assert {
          @include output {
            @include md\:brightness-75;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              filter: brightness(0.75);
            }
          }
        }
      }

      @include it('md\:brightness-90') {
        @include assert {
          @include output {
            @include md\:brightness-90;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              filter: brightness(0.9);
            }
          }
        }
      }

      @include it('md\:brightness-95') {
        @include assert {
          @include output {
            @include md\:brightness-95;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              filter: brightness(0.95);
            }
          }
        }
      }

      @include it('md\:brightness-100') {
        @include assert {
          @include output {
            @include md\:brightness-100;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              filter: brightness(1);
            }
          }
        }
      }

      @include it('md\:brightness-105') {
        @include assert {
          @include output {
            @include md\:brightness-105;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              filter: brightness(1.05);
            }
          }
        }
      }

      @include it('md\:brightness-110') {
        @include assert {
          @include output {
            @include md\:brightness-110;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              filter: brightness(1.1);
            }
          }
        }
      }

      @include it('md\:brightness-125') {
        @include assert {
          @include output {
            @include md\:brightness-125;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              filter: brightness(1.25);
            }
          }
        }
      }

      @include it('md\:brightness-150') {
        @include assert {
          @include output {
            @include md\:brightness-150;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              filter: brightness(1.5);
            }
          }
        }
      }

      @include it('md\:brightness-200') {
        @include assert {
          @include output {
            @include md\:brightness-200;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              filter: brightness(2);
            }
          }
        }
      }
      @include it('lg\:brightness-0') {
        @include assert {
          @include output {
            @include lg\:brightness-0;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              filter: brightness(0);
            }
          }
        }
      }

      @include it('lg\:brightness-50') {
        @include assert {
          @include output {
            @include lg\:brightness-50;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              filter: brightness(0.5);
            }
          }
        }
      }

      @include it('lg\:brightness-75') {
        @include assert {
          @include output {
            @include lg\:brightness-75;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              filter: brightness(0.75);
            }
          }
        }
      }

      @include it('lg\:brightness-90') {
        @include assert {
          @include output {
            @include lg\:brightness-90;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              filter: brightness(0.9);
            }
          }
        }
      }

      @include it('lg\:brightness-95') {
        @include assert {
          @include output {
            @include lg\:brightness-95;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              filter: brightness(0.95);
            }
          }
        }
      }

      @include it('lg\:brightness-100') {
        @include assert {
          @include output {
            @include lg\:brightness-100;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              filter: brightness(1);
            }
          }
        }
      }

      @include it('lg\:brightness-105') {
        @include assert {
          @include output {
            @include lg\:brightness-105;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              filter: brightness(1.05);
            }
          }
        }
      }

      @include it('lg\:brightness-110') {
        @include assert {
          @include output {
            @include lg\:brightness-110;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              filter: brightness(1.1);
            }
          }
        }
      }

      @include it('lg\:brightness-125') {
        @include assert {
          @include output {
            @include lg\:brightness-125;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              filter: brightness(1.25);
            }
          }
        }
      }

      @include it('lg\:brightness-150') {
        @include assert {
          @include output {
            @include lg\:brightness-150;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              filter: brightness(1.5);
            }
          }
        }
      }

      @include it('lg\:brightness-200') {
        @include assert {
          @include output {
            @include lg\:brightness-200;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              filter: brightness(2);
            }
          }
        }
      }
      @include it('xl\:brightness-0') {
        @include assert {
          @include output {
            @include xl\:brightness-0;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              filter: brightness(0);
            }
          }
        }
      }

      @include it('xl\:brightness-50') {
        @include assert {
          @include output {
            @include xl\:brightness-50;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              filter: brightness(0.5);
            }
          }
        }
      }

      @include it('xl\:brightness-75') {
        @include assert {
          @include output {
            @include xl\:brightness-75;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              filter: brightness(0.75);
            }
          }
        }
      }

      @include it('xl\:brightness-90') {
        @include assert {
          @include output {
            @include xl\:brightness-90;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              filter: brightness(0.9);
            }
          }
        }
      }

      @include it('xl\:brightness-95') {
        @include assert {
          @include output {
            @include xl\:brightness-95;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              filter: brightness(0.95);
            }
          }
        }
      }

      @include it('xl\:brightness-100') {
        @include assert {
          @include output {
            @include xl\:brightness-100;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              filter: brightness(1);
            }
          }
        }
      }

      @include it('xl\:brightness-105') {
        @include assert {
          @include output {
            @include xl\:brightness-105;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              filter: brightness(1.05);
            }
          }
        }
      }

      @include it('xl\:brightness-110') {
        @include assert {
          @include output {
            @include xl\:brightness-110;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              filter: brightness(1.1);
            }
          }
        }
      }

      @include it('xl\:brightness-125') {
        @include assert {
          @include output {
            @include xl\:brightness-125;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              filter: brightness(1.25);
            }
          }
        }
      }

      @include it('xl\:brightness-150') {
        @include assert {
          @include output {
            @include xl\:brightness-150;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              filter: brightness(1.5);
            }
          }
        }
      }

      @include it('xl\:brightness-200') {
        @include assert {
          @include output {
            @include xl\:brightness-200;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              filter: brightness(2);
            }
          }
        }
      }
      @include it('2xl\:brightness-0') {
        @include assert {
          @include output {
            @include \2xl\:brightness-0;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              filter: brightness(0);
            }
          }
        }
      }

      @include it('2xl\:brightness-50') {
        @include assert {
          @include output {
            @include \2xl\:brightness-50;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              filter: brightness(0.5);
            }
          }
        }
      }

      @include it('2xl\:brightness-75') {
        @include assert {
          @include output {
            @include \2xl\:brightness-75;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              filter: brightness(0.75);
            }
          }
        }
      }

      @include it('2xl\:brightness-90') {
        @include assert {
          @include output {
            @include \2xl\:brightness-90;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              filter: brightness(0.9);
            }
          }
        }
      }

      @include it('2xl\:brightness-95') {
        @include assert {
          @include output {
            @include \2xl\:brightness-95;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              filter: brightness(0.95);
            }
          }
        }
      }

      @include it('2xl\:brightness-100') {
        @include assert {
          @include output {
            @include \2xl\:brightness-100;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              filter: brightness(1);
            }
          }
        }
      }

      @include it('2xl\:brightness-105') {
        @include assert {
          @include output {
            @include \2xl\:brightness-105;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              filter: brightness(1.05);
            }
          }
        }
      }

      @include it('2xl\:brightness-110') {
        @include assert {
          @include output {
            @include \2xl\:brightness-110;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              filter: brightness(1.1);
            }
          }
        }
      }

      @include it('2xl\:brightness-125') {
        @include assert {
          @include output {
            @include \2xl\:brightness-125;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              filter: brightness(1.25);
            }
          }
        }
      }

      @include it('2xl\:brightness-150') {
        @include assert {
          @include output {
            @include \2xl\:brightness-150;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              filter: brightness(1.5);
            }
          }
        }
      }

      @include it('2xl\:brightness-200') {
        @include assert {
          @include output {
            @include \2xl\:brightness-200;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              filter: brightness(2);
            }
          }
        }
      }
    }

    @include describe('Custom') {
      @include it('brightness-(1.75)') {
        @include assert {
          @include output {
            @include brightness-(1.75);
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            filter: brightness(1.75);
          }
        }
      }
      @include it('sm\:brightness-(1.75)') {
        @include assert {
          @include output {
            @include sm\:brightness-(1.75);
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              filter: brightness(1.75);
            }
          }
        }
      }
      @include it('md\:brightness-(1.75)') {
        @include assert {
          @include output {
            @include md\:brightness-(1.75);
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              filter: brightness(1.75);
            }
          }
        }
      }
      @include it('lg\:brightness-(1.75)') {
        @include assert {
          @include output {
            @include lg\:brightness-(1.75);
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              filter: brightness(1.75);
            }
          }
        }
      }
      @include it('xl\:brightness-(1.75)') {
        @include assert {
          @include output {
            @include xl\:brightness-(1.75);
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              filter: brightness(1.75);
            }
          }
        }
      }
      @include it('2xl\:brightness-(1.75)') {
        @include assert {
          @include output {
            @include \2xl\:brightness-(1.75);
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              filter: brightness(1.75);
            }
          }
        }
      }
    }
  }
}
