@use "true" as *;
@use "../awaken" as *;

@include describe("9.Filters") {
  @include describe("Grayscale") {
    @include describe("Basic") {
      @include it("grayscale-0") {
        @include assert {
          @include output {
            @include grayscale-0;
            @include utils_reset-tw;
          }

          @include expect {
            filter: grayscale(0);
          }
        }
      }

      @include it("grayscale") {
        @include assert {
          @include output {
            @include grayscale;
            @include utils_reset-tw;
          }

          @include expect {
            filter: grayscale(100%);
          }
        }
      }
    }

    @include describe("Custom") {
      @include it("grayscale-(50%)") {
        @include assert {
          @include output {
            @include grayscale-(50%);
            @include utils_reset-tw;
          }

          @include expect {
            filter: grayscale(50%);
          }
        }
      }
    }
  }
}
