@include describe('9.Filters') {
  @include describe('Saturate') {
    @include describe('Basic') {
      @include it('saturate-0') {
        @include assert {
          @include output {
            @include saturate-0;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            filter: saturate(0);
          }
        }
      }

      @include it('saturate-50') {
        @include assert {
          @include output {
            @include saturate-50;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            filter: saturate(0.5);
          }
        }
      }

      @include it('saturate-100') {
        @include assert {
          @include output {
            @include saturate-100;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            filter: saturate(1);
          }
        }
      }

      @include it('saturate-150') {
        @include assert {
          @include output {
            @include saturate-150;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            filter: saturate(1.5);
          }
        }
      }

      @include it('saturate-200') {
        @include assert {
          @include output {
            @include saturate-200;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            filter: saturate(2);
          }
        }
      }
    }

    @include describe('Rwd') {
      @include it('sm\:saturate-0') {
        @include assert {
          @include output {
            @include sm\:saturate-0;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              filter: saturate(0);
            }
          }
        }
      }

      @include it('sm\:saturate-50') {
        @include assert {
          @include output {
            @include sm\:saturate-50;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              filter: saturate(0.5);
            }
          }
        }
      }

      @include it('sm\:saturate-100') {
        @include assert {
          @include output {
            @include sm\:saturate-100;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              filter: saturate(1);
            }
          }
        }
      }

      @include it('sm\:saturate-150') {
        @include assert {
          @include output {
            @include sm\:saturate-150;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              filter: saturate(1.5);
            }
          }
        }
      }

      @include it('sm\:saturate-200') {
        @include assert {
          @include output {
            @include sm\:saturate-200;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              filter: saturate(2);
            }
          }
        }
      }

      @include it('md\:saturate-0') {
        @include assert {
          @include output {
            @include md\:saturate-0;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              filter: saturate(0);
            }
          }
        }
      }

      @include it('md\:saturate-50') {
        @include assert {
          @include output {
            @include md\:saturate-50;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              filter: saturate(0.5);
            }
          }
        }
      }

      @include it('md\:saturate-100') {
        @include assert {
          @include output {
            @include md\:saturate-100;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              filter: saturate(1);
            }
          }
        }
      }

      @include it('md\:saturate-150') {
        @include assert {
          @include output {
            @include md\:saturate-150;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              filter: saturate(1.5);
            }
          }
        }
      }

      @include it('md\:saturate-200') {
        @include assert {
          @include output {
            @include md\:saturate-200;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              filter: saturate(2);
            }
          }
        }
      }

      @include it('lg\:saturate-0') {
        @include assert {
          @include output {
            @include lg\:saturate-0;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              filter: saturate(0);
            }
          }
        }
      }

      @include it('lg\:saturate-50') {
        @include assert {
          @include output {
            @include lg\:saturate-50;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              filter: saturate(0.5);
            }
          }
        }
      }

      @include it('lg\:saturate-100') {
        @include assert {
          @include output {
            @include lg\:saturate-100;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              filter: saturate(1);
            }
          }
        }
      }

      @include it('lg\:saturate-150') {
        @include assert {
          @include output {
            @include lg\:saturate-150;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              filter: saturate(1.5);
            }
          }
        }
      }

      @include it('lg\:saturate-200') {
        @include assert {
          @include output {
            @include lg\:saturate-200;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              filter: saturate(2);
            }
          }
        }
      }

      @include it('xl\:saturate-0') {
        @include assert {
          @include output {
            @include xl\:saturate-0;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              filter: saturate(0);
            }
          }
        }
      }

      @include it('xl\:saturate-50') {
        @include assert {
          @include output {
            @include xl\:saturate-50;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              filter: saturate(0.5);
            }
          }
        }
      }

      @include it('xl\:saturate-100') {
        @include assert {
          @include output {
            @include xl\:saturate-100;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              filter: saturate(1);
            }
          }
        }
      }

      @include it('xl\:saturate-150') {
        @include assert {
          @include output {
            @include xl\:saturate-150;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              filter: saturate(1.5);
            }
          }
        }
      }

      @include it('xl\:saturate-200') {
        @include assert {
          @include output {
            @include xl\:saturate-200;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              filter: saturate(2);
            }
          }
        }
      }

      @include it('2xl\:saturate-0') {
        @include assert {
          @include output {
            @include \2xl\:saturate-0;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              filter: saturate(0);
            }
          }
        }
      }

      @include it('2xl\:saturate-50') {
        @include assert {
          @include output {
            @include \2xl\:saturate-50;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              filter: saturate(0.5);
            }
          }
        }
      }

      @include it('2xl\:saturate-100') {
        @include assert {
          @include output {
            @include \2xl\:saturate-100;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              filter: saturate(1);
            }
          }
        }
      }

      @include it('2xl\:saturate-150') {
        @include assert {
          @include output {
            @include \2xl\:saturate-150;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              filter: saturate(1.5);
            }
          }
        }
      }

      @include it('2xl\:saturate-200') {
        @include assert {
          @include output {
            @include \2xl\:saturate-200;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              filter: saturate(2);
            }
          }
        }
      }
    }

    @include describe('Custom') {
      @include it('saturate-(.25)') {
        @include assert {
          @include output {
            @include saturate-(0.25);
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            filter: saturate(0.25);
          }
        }
      }

      @include it('sm\:saturate-(.25)') {
        @include assert {
          @include output {
            @include sm\:saturate-(0.25);
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              filter: saturate(0.25);
            }
          }
        }
      }

      @include it('md\:saturate-(.25)') {
        @include assert {
          @include output {
            @include md\:saturate-(0.25);
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              filter: saturate(0.25);
            }
          }
        }
      }

      @include it('lg\:saturate-(.25)') {
        @include assert {
          @include output {
            @include lg\:saturate-(0.25);
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              filter: saturate(0.25);
            }
          }
        }
      }

      @include it('xl\:saturate-(.25)') {
        @include assert {
          @include output {
            @include xl\:saturate-(0.25);
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              filter: saturate(0.25);
            }
          }
        }
      }

      @include it('2xl\:saturate-(.25)') {
        @include assert {
          @include output {
            @include \2xl\:saturate-(0.25);
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              filter: saturate(0.25);
            }
          }
        }
      }
    }
  }
}
