@use "true" as *;
@use "../../escss" as *;

@include describe("9-Filters") {
  @include describe("6-Backdrop Invert") {
    @include describe("Basic") {
      @include it("backdrop-invert-0") {
        @include assert {
          @include output {
            @include backdrop-invert-0;
          }

          @include expect {
            --tw-backdrop-invert: invert(0%);
            backdrop-filter: var(--tw-backdrop-blur,)
              var(--tw-backdrop-brightness,) var(--tw-backdrop-contrast,)
              var(--tw-backdrop-grayscale,) var(--tw-backdrop-hue-rotate,)
              var(--tw-backdrop-invert,) var(--tw-backdrop-opacity,)
              var(--tw-backdrop-saturate,) var(--tw-backdrop-sepia,);
          }
        }
      }

      @include it("backdrop-invert") {
        @include assert {
          @include output {
            @include backdrop-invert;
          }

          @include expect {
            --tw-backdrop-invert: invert(100%);
            backdrop-filter: var(--tw-backdrop-blur,)
              var(--tw-backdrop-brightness,) var(--tw-backdrop-contrast,)
              var(--tw-backdrop-grayscale,) var(--tw-backdrop-hue-rotate,)
              var(--tw-backdrop-invert,) var(--tw-backdrop-opacity,)
              var(--tw-backdrop-saturate,) var(--tw-backdrop-sepia,);
          }
        }
      }
    }

    @include describe("Custom") {
      @include it("backdrop-invert-(.25)") {
        @include assert {
          @include output {
            @include backdrop-invert-(0.25);
          }

          @include expect {
            --tw-backdrop-invert: invert(0.25);
            backdrop-filter: var(--tw-backdrop-blur,)
              var(--tw-backdrop-brightness,) var(--tw-backdrop-contrast,)
              var(--tw-backdrop-grayscale,) var(--tw-backdrop-hue-rotate,)
              var(--tw-backdrop-invert,) var(--tw-backdrop-opacity,)
              var(--tw-backdrop-saturate,) var(--tw-backdrop-sepia,);
          }
        }
      }
    }
  }
}
