$Columns: (
  'columns-1': 1,
  'columns-2': 2,
  'columns-3': 3,
  'columns-4': 4,
  'columns-5': 5,
  'columns-6': 6,
  'columns-7': 7,
  'columns-8': 8,
  'columns-9': 9,
  'columns-10': 10,
  'columns-11': 11,
  'columns-12': 12,
  'columns-auto': auto,
  'columns-3xs': 16rem,
  'columns-2xs': 18rem,
  'columns-xs': 20rem,
  'columns-sm': 24rem,
  'columns-md': 28rem,
  'columns-lg': 32rem,
  'columns-xl': 36rem,
  'columns-2xl': 42rem,
  'columns-3xl': 48rem,
  'columns-4xl': 56rem,
  'columns-5xl': 64rem,
  'columns-6xl': 72rem,
  'columns-7xl': 80rem,
);

@if $isBasic {
  @each $key, $value in $Columns {
    /*x
    @mixin #{$key} {
      @include columns(#{$value});
    }
    x*/
  }
}

@if $isRwd and (not $isAwaken) {
  @each $rwdToken, $rwd in $rwdBox {
    @each $key, $value in $Columns {
      /*x
      @mixin #{$rwdToken}\:#{$key} {
        @include columns(#{$value}, #{$rwd});
      }
      x*/
    }
    /*x
    @mixin #{$rwdToken}\:columns-($v) {
      @include columns($v, #{$rwd});
    }
    x*/
  }
}

@if $isArbitrary {
  /*x
  @mixin columns-($v) {
    @include columns($v);
  }
  x*/
}
