$Display: (
  'flex': flex,
  'block': block,
  'inline-block': inline-block,
  'inline': inline,
  'inline-flex': inline-flex,
  'table': table,
  'inline-table': inline-table,
  'table-caption': table-caption,
  'table-cell': table-cell,
  'table-column': table-column,
  'table-column-group': table-column-group,
  'table-footer-group': table-footer-group,
  'table-header-group': table-header-group,
  'table-row-group': table-row-group,
  'table-row': table-row,
  'flow-root': flow-root,
  'grid': grid,
  'inline-grid': inline-grid,
  'contents': contents,
  'list-item': list-item,
  'hidden': none,
);

@if $isBasic {
  @each $key, $value in $Display {
    // atomic handle flex
    @if $key != 'flex' {
      /*x
      @mixin #{$key} {
        @include display(#{$value});
      }
      x*/
    }
  }
}

@if $isRwd and (not $isAwaken) {
  @each $rwdToken, $rwd in $rwdBox {
    @each $key, $value in $Display {
      /*x
      @mixin #{$rwdToken}\:#{$key} {
        @include display(#{$value}, #{$rwd});
      }
      x*/
    }
  }
}
