$data: (
  'overflow-auto': auto,
  'overflow-hidden': hidden,
  'overflow-clip': clip,
  'overflow-visible': visible,
  'overflow-scroll': scroll,
);

$data-x: (
  'overflow-x-auto': auto,
  'overflow-x-hidden': hidden,
  'overflow-x-clip': clip,
  'overflow-x-visible': visible,
  'overflow-x-scroll': scroll,
);

$data-y: (
  'overflow-y-auto': auto,
  'overflow-y-hidden': hidden,
  'overflow-y-clip': clip,
  'overflow-y-visible': visible,
  'overflow-y-scroll': scroll,
);

@if $isBasic {
  @each $key, $value in $data {
    /*x
    @mixin #{$key} {
      @include overflow(#{$value});
    }
    x*/
  }

  @each $key, $value in $data-x {
    /*x
    @mixin #{$key} {
      @include overflow-x(#{$value});
    }
    x*/
  }

  @each $key, $value in $data-y {
    /*x
    @mixin #{$key} {
      @include overflow-y(#{$value});
    }
    x*/
  }
}

@if $isResponsive and (not $isAwaken) {
  @each $rwdToken, $rwd in $rwdBox {
    @each $key, $value in $data {
      /*x
      @mixin #{$rwdToken}\:#{$key} {
        @include overflow(#{$value}, #{$rwd});
      }
      x*/
    }

    @each $key, $value in $data-x {
      /*x
      @mixin #{$rwdToken}\:#{$key} {
        @include overflow-x(#{$value}, #{$rwd});
      }
      x*/
    }

    @each $key, $value in $data-y {
      /*x
      @mixin #{$rwdToken}\:#{$key} {
        @include overflow-y(#{$value}, #{$rwd});
      }
      x*/
    }
  }
}
