$Visibility: (
  'visible': visible,
  'invisible': hidden,
  'collapse': collapse,
);

@if $isBasic {
  @each $key, $value in $Visibility {
    /*x
    @mixin #{$key} {
      @include visibility(#{$value});
    }
    x*/
  }
}

@if $isRwd and (not $isAwaken) {
  @each $rwdToken, $rwd in $rwdBox {
    @each $key, $value in $Visibility {
      /*x
      @mixin #{$rwdToken}\:#{$key} {
        @include visibility(#{$value}, #{$rwd});
      }
      x*/
    }
  }
}
