$Z-Index: (
  'z-0': 0,
  'z-10': 10,
  'z-20': 20,
  'z-30': 30,
  'z-40': 40,
  'z-50': 50,
  'z-auto': auto,
);

@if $isBasic {
  @each $key, $value in $Z-Index {
    /*x
    @mixin #{$key} {
      @include z-index(#{$value});
    }
    x*/
  }
}

@if $isRwd and $isClassic {
  @each $rwdToken, $rwd in $rwdBox {
    @each $key, $value in $Z-Index {
      /*x
      @mixin #{$rwdToken}\:#{$key} {
        @include z-index(#{$value}, #{$rwd});
      }
      x*/
    }
  }
}

@if $isArbitrary {
  /*x
  @mixin z-($v) {
    @include z-index($v);
  }
  x*/

  @each $rwdToken, $rwd in $rwdBox {
    /*x
    @mixin #{$rwdToken}\:z-($v) {
      @include z-index($v, #{$rwd});
    }
    x*/
  }
}

@if $isNegative {
  @if $isBasic {
    @each $key, $value in $Z-Index {
      /*x
      @mixin -#{$key} {
        @include z-index(-#{$value});
      }
      x*/
    }
  }

  @if $isRwd and $isClassic {
    @each $rwdToken, $rwd in $rwdBox {
      @each $key, $value in $Z-Index {
        /*x
        @mixin #{$rwdToken}\:-#{$key} {
          @include z-index(#{-$value}, #{$rwd});
        }
      x*/
      }
    }
  }

  @if $isArbitrary {
    /*x
    @mixin -z-($v) {
      @include z-index(-$v);
    }
    x*/

    @each $rwdToken, $rwd in $rwdBox {
      /*x
      @mixin #{$rwdToken}\:-z-($v) {
        @include z-index(-$v, #{$rwd});
      }
      x*/
    }
  }
}
