@use "../setting" as *;

$ListStyleImage: (
  "list-image-none": none,
);

@if $isBasicUsage {
  @each $key, $value in $ListStyleImage {
    /*x
    @mixin #{$key} {
      list-style-image: #{$value};
    }
    x*/
  }
}

@if $isUsingCustomValues {
  /*x
  @mixin list-image-($v) {
    list-style-image: $v;
  }
  x*/
}
