@use "../setting" as *;

$ListStyleType: (
  "list-none": none,
  "list-disc": disc,
  "list-decimal": decimal,
);

@if $isBasicUsage {
  @each $key, $value in $ListStyleType {
    /*x
    @mixin #{$key} {
      list-style-type: #{$value};
    }
    x*/
  }
}

@if $isUsingCustomValues {
  /*x
  @mixin list-($v) {
    list-style-type: $v;
  }
  x*/
}
