@use "../setting" as *;

$TextUnderlineOffset: (
  "underline-offset-auto": auto,
  "underline-offset-0": 0px,
  "underline-offset-1": 1px,
  "underline-offset-2": 2px,
  "underline-offset-4": 4px,
  "underline-offset-8": 8px,
);

@if $isBasicUsage {
  @each $key, $value in $TextUnderlineOffset {
    /*x
    @mixin #{$key} {
      text-underline-offset: #{$value};
    }
    x*/
  }
}

@if $isUsingCustomValues {
  /*x
  @mixin underline-offset-($v) {
    text-underline-offset: $v;
  }
  x*/
}
