// arbitrary utility same as @mixin text-($v)
@use "sass:list";
@use "../setting" as *;

$FontSize: (
  "text-xs": (
    "$text-xs",
    "$text-xs--line-height",
  ),
  "text-sm": (
    "$text-sm",
    "$text-sm--line-height",
  ),
  "text-base": (
    "$text-base",
    "$text-base--line-height",
  ),
  "text-lg": (
    "$text-lg",
    "$text-lg--line-height",
  ),
  "text-xl": (
    "$text-xl",
    "$text-xl--line-height",
  ),
  "text-2xl": (
    "$text-2xl",
    "$text-2xl--line-height",
  ),
  "text-3xl": (
    "$text-3xl",
    "$text-3xl--line-height",
  ),
  "text-4xl": (
    "$text-4xl",
    "$text-4xl--line-height",
  ),
  "text-5xl": (
    "$text-5xl",
    "$text-5xl--line-height",
  ),
  "text-6xl": (
    "$text-6xl",
    "$text-6xl--line-height",
  ),
  "text-7xl": (
    "$text-7xl",
    "$text-7xl--line-height",
  ),
  "text-8xl": (
    "$text-8xl",
    "$text-8xl--line-height",
  ),
  "text-9xl": (
    "$text-9xl",
    "$text-9xl--line-height",
  ),
);

@if $isBasicUsage {
  @each $key, $value in $FontSize {
    /*x
    @mixin #{$key} {
      font-size: #{list.nth($value, 1)};
      line-height: #{list.nth($value,2)};
  }
    x*/
    /*x
    @mixin #{$key}\/3 {
      font-size: #{list.nth($value, 1)};
      line-height: $spacing-3;
    }
    x*/
    /*x
    @mixin #{$key}\/4 {
      font-size: #{list.nth($value, 1)};
      line-height: $spacing-4;
    }
    x*/
    /*x
    @mixin #{$key}\/5 {
      font-size: #{list.nth($value, 1)};
      line-height: $spacing-5;
    }
    x*/
    /*x
    @mixin #{$key}\/6 {
      font-size: #{list.nth($value, 1)};
      line-height: $spacing-6;
    }
    x*/
    /*x
    @mixin #{$key}\/7 {
      font-size: #{list.nth($value, 1)};
      line-height: $spacing-7;
    }
    x*/
    /*x
    @mixin #{$key}\/8 {
      font-size: #{list.nth($value, 1)};
      line-height: $spacing-8;
    }
    x*/
    /*x
    @mixin #{$key}\/9 {
      font-size: #{list.nth($value, 1)};
      line-height: $spacing-9;
    }
    x*/
    /*x
    @mixin #{$key}\/10 {
      font-size: #{list.nth($value, 1)};
      line-height: $spacing-10;
    }
    x*/
    /*x
    @mixin #{$key}\/none {
      font-size: #{list.nth($value, 1)};
      line-height: 1;
    }
    x*/
    /*x
    @mixin #{$key}\/tight {
      font-size: #{list.nth($value, 1)};
      line-height: $leading-tight;
    }
    x*/
    /*x
    @mixin #{$key}\/snug {
      font-size: #{list.nth($value, 1)};
      line-height: $leading-snug;
    }
    x*/
    /*x
    @mixin #{$key}\/normal {
      font-size: #{list.nth($value, 1)};
      line-height: $leading-normal;
    }
    x*/
    /*x
    @mixin #{$key}\/relaxed {
      font-size: #{list.nth($value, 1)};
      line-height: $leading-relaxed;
    }
    x*/
    /*x
    @mixin #{$key}\/loose {
      font-size: #{list.nth($value, 1)};
      line-height: $leading-loose;
    }
    x*/
  }
}

@if $isUsingCustomValues {
  /*x
  @mixin text-xs\/($v) {
    font-size: $text-xs;
    line-height: $v;
  }

  @mixin text-sm\/($v) {
    font-size: $text-sm;
    line-height: $v;
  }

  @mixin text-base\/($v) {
    font-size: $text-base;
    line-height: $v;
  }

  @mixin text-lg\/($v) {
    font-size: $text-lg;
    line-height: $v;
  }

  @mixin text-xl\/($v) {
    font-size: $text-xl;
    line-height: $v;
  }

  @mixin text-2xl\/($v) {
    font-size: $text-2xl;
    line-height: $v;
  }

  @mixin text-3xl\/($v) {
    font-size: $text-3xl;
    line-height: $v;
  }

  @mixin text-4xl\/($v) {
    font-size: $text-4xl;
    line-height: $v;
  }

  @mixin text-5xl\/($v) {
    font-size: $text-5xl;
    line-height: $v;
  }

  @mixin text-6xl\/($v) {
    font-size: $text-6xl;
    line-height: $v;
  }

  @mixin text-7xl\/($v) {
    font-size: $text-7xl;
    line-height: $v;
  }

  @mixin text-8xl\/($v) {
    font-size: $text-8xl;
    line-height: $v;
  }

  @mixin text-9xl\/($v) {
    font-size: $text-9xl;
    line-height: $v;
  }
  x*/
}
