@use "../setting" as *;

$VerticalAlign: (
  "align-baseline": baseline,
  "align-top": top,
  "align-middle": middle,
  "align-bottom": bottom,
  "align-text-top": text-top,
  "align-text-bottom": text-bottom,
  "align-sub": sub,
  "align-super": super,
);

@if $QuickReference {
  @each $key, $value in $VerticalAlign {
    /*x
    @mixin #{$key} {
      vertical-align: #{$value};
    }
    x*/
  }
}

@if $UsingACustomValue {
  /*x
  @mixin align-($v) {
    vertical-align: $v;
  }
  x*/
}
