// TODO: break-normal is not consistence
@use "../setting" as *;

@if $QuickReference {
  /*x
  @mixin break-normal	{
    overflow-wrap: normal;
    word-break: normal;
  }

  @mixin break-all	{
    word-break: break-all;
  }

  @mixin break-keep	{
    word-break: keep-all;
  }
  x*/
}
