@use "../../setting" as *;

@if $DivideWidth {
  /* DivideWidth */
  @if $Basic {
    #mixin__divide-x-0 {
      > * + * {
        border-right-width: 0px;
        border-left-width: 0px;
      }
    }

    #mixin__divide-x-2 {
      > * + * {
        border-right-width: 0px;
        border-left-width: 2px;
      }
    }

    #mixin__divide-x-4 {
      > * + * {
        border-right-width: 0px;
        border-left-width: 4px;
      }
    }

    #mixin__divide-x-8 {
      > * + * {
        border-right-width: 0px;
        border-left-width: 8px;
      }
    }

    #mixin__divide-x {
      > * + * {
        border-right-width: 0px;
        border-left-width: 1px;
      }
    }

    #mixin__divide-y-0 {
      > * + * {
        border-top-width: 0px;
        border-bottom-width: 0px;
      }
    }

    #mixin__divide-y-2 {
      > * + * {
        border-top-width: 2px;
        border-bottom-width: 0px;
      }
    }

    #mixin__divide-y-4 {
      > * + * {
        border-top-width: 4px;
        border-bottom-width: 0px;
      }
    }

    #mixin__divide-y-8 {
      > * + * {
        border-top-width: 8px;
        border-bottom-width: 0px;
      }
    }

    #mixin__divide-y {
      > * + * {
        border-top-width: 1px;
        border-bottom-width: 0px;
      }
    }

    #mixin__divide-y-reverse {
      > * + * {
        --tw-divide-y-reverse: 1;
      }
    }

    #mixin__divide-x-reverse {
      > * + * {
        --tw-divide-x-reverse: 1;
      }
    }
  }

  @if $Rwd {
    #mixin__sm\:divide-solid {
      @media (min-width: $breakpoint-sm) {
        > * + * {
          border-style: solid;
        }
      }
    }

    #mixin__sm\:divide-dashed {
      @media (min-width: $breakpoint-sm) {
        > * + * {
          border-style: dashed;
        }
      }
    }

    #mixin__sm\:divide-dotted {
      @media (min-width: $breakpoint-sm) {
        > * + * {
          border-style: dotted;
        }
      }
    }

    #mixin__sm\:divide-double {
      @media (min-width: $breakpoint-sm) {
        > * + * {
          border-style: double;
        }
      }
    }

    #mixin__sm\:divide-none {
      @media (min-width: $breakpoint-sm) {
        > * + * {
          border-style: none;
        }
      }
    }

    #mixin__md\:divide-solid {
      @media (min-width: $breakpoint-md) {
        > * + * {
          border-style: solid;
        }
      }
    }

    #mixin__md\:divide-dashed {
      @media (min-width: $breakpoint-md) {
        > * + * {
          border-style: dashed;
        }
      }
    }

    #mixin__md\:divide-dotted {
      @media (min-width: $breakpoint-md) {
        > * + * {
          border-style: dotted;
        }
      }
    }

    #mixin__md\:divide-double {
      @media (min-width: $breakpoint-md) {
        > * + * {
          border-style: double;
        }
      }
    }

    #mixin__md\:divide-none {
      @media (min-width: $breakpoint-md) {
        > * + * {
          border-style: none;
        }
      }
    }

    #mixin__lg\:divide-solid {
      @media (min-width: $breakpoint-lg) {
        > * + * {
          border-style: solid;
        }
      }
    }

    #mixin__lg\:divide-dashed {
      @media (min-width: $breakpoint-lg) {
        > * + * {
          border-style: dashed;
        }
      }
    }

    #mixin__lg\:divide-dotted {
      @media (min-width: $breakpoint-lg) {
        > * + * {
          border-style: dotted;
        }
      }
    }

    #mixin__lg\:divide-double {
      @media (min-width: $breakpoint-lg) {
        > * + * {
          border-style: double;
        }
      }
    }

    #mixin__lg\:divide-none {
      @media (min-width: $breakpoint-lg) {
        > * + * {
          border-style: none;
        }
      }
    }

    #mixin__xl\:divide-solid {
      @media (min-width: $breakpoint-xl) {
        > * + * {
          border-style: solid;
        }
      }
    }

    #mixin__xl\:divide-dashed {
      @media (min-width: $breakpoint-xl) {
        > * + * {
          border-style: dashed;
        }
      }
    }

    #mixin__xl\:divide-dotted {
      @media (min-width: $breakpoint-xl) {
        > * + * {
          border-style: dotted;
        }
      }
    }

    #mixin__xl\:divide-double {
      @media (min-width: $breakpoint-xl) {
        > * + * {
          border-style: double;
        }
      }
    }

    #mixin__xl\:divide-none {
      @media (min-width: $breakpoint-xl) {
        > * + * {
          border-style: none;
        }
      }
    }

    #mixin__\\2xl\:divide-solid {
      @media (min-width: $breakpoint-2xl) {
        > * + * {
          border-style: solid;
        }
      }
    }

    #mixin__\\2xl\:divide-dashed {
      @media (min-width: $breakpoint-2xl) {
        > * + * {
          border-style: dashed;
        }
      }
    }

    #mixin__\\2xl\:divide-dotted {
      @media (min-width: $breakpoint-2xl) {
        > * + * {
          border-style: dotted;
        }
      }
    }

    #mixin__\\2xl\:divide-double {
      @media (min-width: $breakpoint-2xl) {
        > * + * {
          border-style: double;
        }
      }
    }

    #mixin__\\2xl\:divide-none {
      @media (min-width: $breakpoint-2xl) {
        > * + * {
          border-style: none;
        }
      }
    }
  }
}
