@use "../../setting" as *;

/* Font Weight */
@if $Basic {
  /*x
  @mixin font-thin {
    font-weight: 100;
  }

  @mixin font-extralight {
    font-weight: 200;
  }

  @mixin font-light {
    font-weight: 300;
  }

  @mixin font-normal {
    font-weight: 400;
  }

  @mixin font-medium {
    font-weight: 500;
  }

  @mixin font-semibold {
    font-weight: 600;
  }

  @mixin font-bold {
    font-weight: 700;
  }

  @mixin font-extrabold {
    font-weight: 800;
  }

  @mixin font-black {
    font-weight: 900;
  }x*/
}

@if $Rwd {
  // reducing size for updating speed
  @if $isLite {
    /*x
    @mixin sm\:font-weight-($value) {
      @media (min-width: $breakpoint-sm) {
        font-weight: $value;
      }
    }

    @mixin md\:font-weight-($value) {
      @media (min-width: $breakpoint-md) {
        font-weight: $value;
      }
    }

    @mixin lg\:font-weight-($value) {
      @media (min-width: $breakpoint-lg) {
        font-weight: $value;
      }
    }

    @mixin xl\:font-weight-($value) {
      @media (min-width: $breakpoint-xl) {
        font-weight: $value;
      }
    }

    @mixin \2xl\:font-weight-($value) {
      @media (min-width: $breakpoint-2xl) {
        font-weight: $value;
      }
    }x*/
  }

  // tailwind default
  @else {
  }
}

/* Naming collision: font -> font-weight */
@if $Custom {
  /*x
  @mixin font-weight-($value) {
    font-weight: $value;
  }x*/
}
