@use "../../setting" as *;


$PlaceSelf: (
  "place-self-auto": auto,
  "place-self-start": start,
  "place-self-end": end,
  "place-self-center": center,
  "place-self-stretch": stretch,
);

@if $Basic {
  @each $key, $value in $PlaceSelf {
    /*x
    @mixin #{$key} {
      @include place-self(#{$value});
    }
    x*/
  }
}

@if $Rwd {
  @each $rwd in $rwdBox {
    @each $key, $value in $PlaceSelf {
      /*x
      @mixin #{$rwd}\:#{$key} {
        @include place-self(#{$value}, $#{$rwd});
      }
      x*/
    }
  }
}