@use "../../setting" as *;

/* Place Self */
@if $Basic {
  // /*x
  @mixin place-self-auto {
    place-self: auto;
  }

  @mixin place-self-start {
    place-self: start;
  }

  @mixin place-self-end {
    place-self: end;
  }

  @mixin place-self-center {
    place-self: center;
  }

  @mixin place-self-stretch {
    place-self: stretch;
  }

  // x*/
}

@if $Rwd {
  // /*x
  @mixin sm\:place-self-auto {
    @include sm\:place-self(auto);
  }

  @mixin sm\:place-self-start {
    @include sm\:place-self(start);
  }

  @mixin sm\:place-self-end {
    @include sm\:place-self(end);
  }

  @mixin sm\:place-self-center {
    @include sm\:place-self(center);
  }

  @mixin sm\:place-self-stretch {
    @include sm\:place-self(stretch);
  }

  @mixin md\:place-self-auto {
    @include md\:place-self(auto);
  }

  @mixin md\:place-self-start {
    @include md\:place-self(start);
  }

  @mixin md\:place-self-end {
    @include md\:place-self(end);
  }

  @mixin md\:place-self-center {
    @include md\:place-self(center);
  }

  @mixin md\:place-self-stretch {
    @include md\:place-self(stretch);
  }

  @mixin lg\:place-self-auto {
    @include lg\:place-self(auto);
  }

  @mixin lg\:place-self-start {
    @include lg\:place-self(start);
  }

  @mixin lg\:place-self-end {
    @include lg\:place-self(end);
  }

  @mixin lg\:place-self-center {
    @include lg\:place-self(center);
  }

  @mixin lg\:place-self-stretch {
    @include lg\:place-self(stretch);
  }

  @mixin xl\:place-self-auto {
    @include xl\:place-self(auto);
  }

  @mixin xl\:place-self-start {
    @include xl\:place-self(start);
  }

  @mixin xl\:place-self-end {
    @include xl\:place-self(end);
  }

  @mixin xl\:place-self-center {
    @include xl\:place-self(center);
  }

  @mixin xl\:place-self-stretch {
    @include xl\:place-self(stretch);
  }

  @mixin \2xl\:place-self-auto {
    @include \2xl\:place-self(auto);
  }

  @mixin \2xl\:place-self-start {
    @include \2xl\:place-self(start);
  }

  @mixin \2xl\:place-self-end {
    @include \2xl\:place-self(end);
  }

  @mixin \2xl\:place-self-center {
    @include \2xl\:place-self(center);
  }

  @mixin \2xl\:place-self-stretch {
    @include \2xl\:place-self(stretch);
  }

  // x*/
}
