@include describe('11.Transitions & Animation') {
  @include describe('Transition Delay') {
    @include describe('Basic') {
      @include it('delay-0') {
        @include assert {
          @include output {
            @include delay-0;
            @include utils_reset-tw-variables;
          }

          @include expect {
            transition-delay: 0s;
          }
        }
      }

      @include it('delay-75') {
        @include assert {
          @include output {
            @include delay-75;
            @include utils_reset-tw-variables;
          }

          @include expect {
            transition-delay: 75ms;
          }
        }
      }

      @include it('delay-100') {
        @include assert {
          @include output {
            @include delay-100;
            @include utils_reset-tw-variables;
          }

          @include expect {
            transition-delay: 100ms;
          }
        }
      }

      @include it('delay-150') {
        @include assert {
          @include output {
            @include delay-150;
            @include utils_reset-tw-variables;
          }

          @include expect {
            transition-delay: 150ms;
          }
        }
      }

      @include it('delay-200') {
        @include assert {
          @include output {
            @include delay-200;
            @include utils_reset-tw-variables;
          }

          @include expect {
            transition-delay: 200ms;
          }
        }
      }

      @include it('delay-300') {
        @include assert {
          @include output {
            @include delay-300;
            @include utils_reset-tw-variables;
          }

          @include expect {
            transition-delay: 300ms;
          }
        }
      }

      @include it('delay-500') {
        @include assert {
          @include output {
            @include delay-500;
            @include utils_reset-tw-variables;
          }

          @include expect {
            transition-delay: 500ms;
          }
        }
      }

      @include it('delay-700') {
        @include assert {
          @include output {
            @include delay-700;
            @include utils_reset-tw-variables;
          }

          @include expect {
            transition-delay: 700ms;
          }
        }
      }

      @include it('delay-1000') {
        @include assert {
          @include output {
            @include delay-1000;
            @include utils_reset-tw-variables;
          }

          @include expect {
            transition-delay: 1000ms;
          }
        }
      }
    }

    @include describe('Rwd') {
      @include it('sm\:delay-0') {
        @include assert {
          @include output {
            @include sm\:delay-0;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              transition-delay: 0s;
            }
          }
        }
      }

      @include it('sm\:delay-75') {
        @include assert {
          @include output {
            @include sm\:delay-75;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              transition-delay: 75ms;
            }
          }
        }
      }

      @include it('sm\:delay-100') {
        @include assert {
          @include output {
            @include sm\:delay-100;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              transition-delay: 100ms;
            }
          }
        }
      }

      @include it('sm\:delay-150') {
        @include assert {
          @include output {
            @include sm\:delay-150;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              transition-delay: 150ms;
            }
          }
        }
      }

      @include it('sm\:delay-200') {
        @include assert {
          @include output {
            @include sm\:delay-200;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              transition-delay: 200ms;
            }
          }
        }
      }

      @include it('sm\:delay-300') {
        @include assert {
          @include output {
            @include sm\:delay-300;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              transition-delay: 300ms;
            }
          }
        }
      }

      @include it('sm\:delay-500') {
        @include assert {
          @include output {
            @include sm\:delay-500;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              transition-delay: 500ms;
            }
          }
        }
      }

      @include it('sm\:delay-700') {
        @include assert {
          @include output {
            @include sm\:delay-700;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              transition-delay: 700ms;
            }
          }
        }
      }

      @include it('sm\:delay-1000') {
        @include assert {
          @include output {
            @include sm\:delay-1000;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              transition-delay: 1000ms;
            }
          }
        }
      }

      @include it('md\:delay-0') {
        @include assert {
          @include output {
            @include md\:delay-0;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              transition-delay: 0s;
            }
          }
        }
      }

      @include it('md\:delay-75') {
        @include assert {
          @include output {
            @include md\:delay-75;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              transition-delay: 75ms;
            }
          }
        }
      }

      @include it('md\:delay-100') {
        @include assert {
          @include output {
            @include md\:delay-100;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              transition-delay: 100ms;
            }
          }
        }
      }

      @include it('md\:delay-150') {
        @include assert {
          @include output {
            @include md\:delay-150;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              transition-delay: 150ms;
            }
          }
        }
      }

      @include it('md\:delay-200') {
        @include assert {
          @include output {
            @include md\:delay-200;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              transition-delay: 200ms;
            }
          }
        }
      }

      @include it('md\:delay-300') {
        @include assert {
          @include output {
            @include md\:delay-300;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              transition-delay: 300ms;
            }
          }
        }
      }

      @include it('md\:delay-500') {
        @include assert {
          @include output {
            @include md\:delay-500;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              transition-delay: 500ms;
            }
          }
        }
      }

      @include it('md\:delay-700') {
        @include assert {
          @include output {
            @include md\:delay-700;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              transition-delay: 700ms;
            }
          }
        }
      }

      @include it('md\:delay-1000') {
        @include assert {
          @include output {
            @include md\:delay-1000;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              transition-delay: 1000ms;
            }
          }
        }
      }

      @include it('lg\:delay-0') {
        @include assert {
          @include output {
            @include lg\:delay-0;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              transition-delay: 0s;
            }
          }
        }
      }

      @include it('lg\:delay-75') {
        @include assert {
          @include output {
            @include lg\:delay-75;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              transition-delay: 75ms;
            }
          }
        }
      }

      @include it('lg\:delay-100') {
        @include assert {
          @include output {
            @include lg\:delay-100;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              transition-delay: 100ms;
            }
          }
        }
      }

      @include it('lg\:delay-150') {
        @include assert {
          @include output {
            @include lg\:delay-150;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              transition-delay: 150ms;
            }
          }
        }
      }

      @include it('lg\:delay-200') {
        @include assert {
          @include output {
            @include lg\:delay-200;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              transition-delay: 200ms;
            }
          }
        }
      }

      @include it('lg\:delay-300') {
        @include assert {
          @include output {
            @include lg\:delay-300;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              transition-delay: 300ms;
            }
          }
        }
      }

      @include it('lg\:delay-500') {
        @include assert {
          @include output {
            @include lg\:delay-500;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              transition-delay: 500ms;
            }
          }
        }
      }

      @include it('lg\:delay-700') {
        @include assert {
          @include output {
            @include lg\:delay-700;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              transition-delay: 700ms;
            }
          }
        }
      }

      @include it('lg\:delay-1000') {
        @include assert {
          @include output {
            @include lg\:delay-1000;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              transition-delay: 1000ms;
            }
          }
        }
      }

      @include it('xl\:delay-0') {
        @include assert {
          @include output {
            @include xl\:delay-0;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              transition-delay: 0s;
            }
          }
        }
      }

      @include it('xl\:delay-75') {
        @include assert {
          @include output {
            @include xl\:delay-75;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              transition-delay: 75ms;
            }
          }
        }
      }

      @include it('xl\:delay-100') {
        @include assert {
          @include output {
            @include xl\:delay-100;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              transition-delay: 100ms;
            }
          }
        }
      }

      @include it('xl\:delay-150') {
        @include assert {
          @include output {
            @include xl\:delay-150;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              transition-delay: 150ms;
            }
          }
        }
      }

      @include it('xl\:delay-200') {
        @include assert {
          @include output {
            @include xl\:delay-200;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              transition-delay: 200ms;
            }
          }
        }
      }

      @include it('xl\:delay-300') {
        @include assert {
          @include output {
            @include xl\:delay-300;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              transition-delay: 300ms;
            }
          }
        }
      }

      @include it('xl\:delay-500') {
        @include assert {
          @include output {
            @include xl\:delay-500;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              transition-delay: 500ms;
            }
          }
        }
      }

      @include it('xl\:delay-700') {
        @include assert {
          @include output {
            @include xl\:delay-700;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              transition-delay: 700ms;
            }
          }
        }
      }

      @include it('xl\:delay-1000') {
        @include assert {
          @include output {
            @include xl\:delay-1000;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              transition-delay: 1000ms;
            }
          }
        }
      }

      @include it('2xl\:delay-0') {
        @include assert {
          @include output {
            @include \2xl\:delay-0;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              transition-delay: 0s;
            }
          }
        }
      }

      @include it('2xl\:delay-75') {
        @include assert {
          @include output {
            @include \2xl\:delay-75;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              transition-delay: 75ms;
            }
          }
        }
      }

      @include it('2xl\:delay-100') {
        @include assert {
          @include output {
            @include \2xl\:delay-100;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              transition-delay: 100ms;
            }
          }
        }
      }

      @include it('2xl\:delay-150') {
        @include assert {
          @include output {
            @include \2xl\:delay-150;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              transition-delay: 150ms;
            }
          }
        }
      }

      @include it('2xl\:delay-200') {
        @include assert {
          @include output {
            @include \2xl\:delay-200;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              transition-delay: 200ms;
            }
          }
        }
      }

      @include it('2xl\:delay-300') {
        @include assert {
          @include output {
            @include \2xl\:delay-300;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              transition-delay: 300ms;
            }
          }
        }
      }

      @include it('2xl\:delay-500') {
        @include assert {
          @include output {
            @include \2xl\:delay-500;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              transition-delay: 500ms;
            }
          }
        }
      }

      @include it('2xl\:delay-700') {
        @include assert {
          @include output {
            @include \2xl\:delay-700;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              transition-delay: 700ms;
            }
          }
        }
      }

      @include it('2xl\:delay-1000') {
        @include assert {
          @include output {
            @include \2xl\:delay-1000;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              transition-delay: 1000ms;
            }
          }
        }
      }
    }

    @include describe('Custom') {
      @include it('delay-(2000ms)') {
        @include assert {
          @include output {
            @include delay-(2000ms);
            @include utils_reset-tw-variables;
          }

          @include expect {
            transition-delay: 2000ms;
          }
        }
      }

      @include it('sm\:delay-(2000ms)') {
        @include assert {
          @include output {
            @include sm\:delay-(2000ms);
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              transition-delay: 2000ms;
            }
          }
        }
      }

      @include it('md\:delay-(2000ms)') {
        @include assert {
          @include output {
            @include md\:delay-(2000ms);
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              transition-delay: 2000ms;
            }
          }
        }
      }

      @include it('lg\:delay-(2000ms)') {
        @include assert {
          @include output {
            @include lg\:delay-(2000ms);
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              transition-delay: 2000ms;
            }
          }
        }
      }

      @include it('xl\:delay-(2000ms)') {
        @include assert {
          @include output {
            @include xl\:delay-(2000ms);
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              transition-delay: 2000ms;
            }
          }
        }
      }

      @include it('2xl\:delay-(2000ms)') {
        @include assert {
          @include output {
            @include \2xl\:delay-(2000ms);
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              transition-delay: 2000ms;
            }
          }
        }
      }
    }
  }
}
