@use "true" as *;
@use "../escss" as *;

@include describe("11-Transitions & Animation") {
  @include describe("1-Transition Property") {
    @include describe("Basic") {
      @include it("transition-none") {
        @include assert {
          @include output {
            @include transition-none;
          }

          @include expect {
            transition-property: none;
          }
        }
      }

      @include it("transition-all") {
        @include assert {
          @include output {
            @include transition-all;
          }

          @include expect {
            transition-property: all;
            transition-timing-function: var(
              --tw-ease,
              cubic-bezier(0.4, 0, 0.2, 1)
            );
            transition-duration: var(--tw-duration, 150ms);
          }
        }
      }

      @include it("transition") {
        @include assert {
          @include output {
            @include transition;
          }

          @include expect {
            transition-property:
              color,
              background-color,
              border-color,
              outline-color,
              text-decoration-color,
              fill,
              stroke,
              --tw-gradient-from,
              --tw-gradient-via,
              --tw-gradient-to,
              opacity,
              box-shadow,
              transform,
              translate,
              scale,
              rotate,
              filter,
              -webkit-backdrop-filter,
              backdrop-filter,
              display,
              visibility,
              content-visibility,
              overlay,
              pointer-events;
            transition-timing-function: var(
              --tw-ease,
              cubic-bezier(0.4, 0, 0.2, 1)
            );
            transition-duration: var(--tw-duration, 150ms);
          }
        }
      }

      @include it("transition-colors") {
        @include assert {
          @include output {
            @include transition-colors;
          }

          @include expect {
            transition-property:
              color, background-color, border-color, outline-color,
              text-decoration-color, fill, stroke, --tw-gradient-from,
              --tw-gradient-via, --tw-gradient-to;
            transition-timing-function: var(
              --tw-ease,
              cubic-bezier(0.4, 0, 0.2, 1)
            );
            transition-duration: var(--tw-duration, 150ms);
          }
        }
      }

      @include it("transition-opacity") {
        @include assert {
          @include output {
            @include transition-opacity;
          }

          @include expect {
            transition-property: opacity;
            transition-timing-function: var(
              --tw-ease,
              cubic-bezier(0.4, 0, 0.2, 1)
            );
            transition-duration: var(--tw-duration, 150ms);
          }
        }
      }

      @include it("transition-shadow") {
        @include assert {
          @include output {
            @include transition-shadow;
          }

          @include expect {
            transition-property: box-shadow;
            transition-timing-function: var(
              --tw-ease,
              cubic-bezier(0.4, 0, 0.2, 1)
            );
            transition-duration: var(--tw-duration, 150ms);
          }
        }
      }

      @include it("transition-transform") {
        @include assert {
          @include output {
            @include transition-transform;
          }

          @include expect {
            transition-property: transform, translate, scale, rotate;
            transition-timing-function: var(
              --tw-ease,
              cubic-bezier(0.4, 0, 0.2, 1)
            );
            transition-duration: var(--tw-duration, 150ms);
          }
        }
      }
    }

    @include describe("Custom") {
      @include it("transition-(height)") {
        @include assert {
          @include output {
            @include transition-(height);
          }

          @include expect {
            transition-property: height;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-duration: 150ms;
          }
        }
      }
    }
  }
}
