@use "true" as *;
@use "../escss" as *;

@include describe("11-Transitions & Animation") {
  @include describe("4-Transition Timing Function") {
    @include describe("Basic") {
      @include it("ease-linear") {
        @include assert {
          @include output {
            @include ease-linear;
          }

          @include expect {
            --tw-ease: linear;
            transition-timing-function: linear;
          }
        }
      }

      @include it("ease-in") {
        @include assert {
          @include output {
            @include ease-in;
          }

          @include expect {
            --tw-ease: cubic-bezier(0.4, 0, 1, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
          }
        }
      }

      @include it("ease-out") {
        @include assert {
          @include output {
            @include ease-out;
          }

          @include expect {
            --tw-ease: cubic-bezier(0, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
          }
        }
      }

      @include it("ease-in-out") {
        @include assert {
          @include output {
            @include ease-in-out;
          }

          @include expect {
            --tw-ease: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          }
        }
      }
    }

    @include describe("Custom") {
      @include it("ease-(cubic-bezier(0.95,0.05,0.795,0.035))") {
        @include assert {
          @include output {
            @include ease-(cubic-bezier(0.95, 0.05, 0.795, 0.035));
          }

          @include expect {
            --tw-ease: cubic-bezier(0.95, 0.05, 0.795, 0.035);
            transition-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
          }
        }
      }
    }
  }
}
