@use "true" as *;
@use "../awaken" as *;

@include describe("11-Transitions & Animation") {
  @include describe("5-Animation") {
    @include describe("Basic") {
      @include it("animate-none") {
        @include assert {
          @include output {
            @include animate-none;
          }

          @include expect {
            animation: none;
          }
        }
      }

      @include it("animate-spin") {
        @include assert {
          @include output {
            @include animate-spin;
          }

          @include expect {
            animation: spin 1s linear infinite;
          }
        }
      }

      @include it("animate-ping") {
        @include assert {
          @include output {
            @include animate-ping;
          }

          @include expect {
            animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
          }
        }
      }

      @include it("animate-pulse") {
        @include assert {
          @include output {
            @include animate-pulse;
          }

          @include expect {
            animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
          }
        }
      }

      @include it("animate-bounce") {
        @include assert {
          @include output {
            @include animate-bounce;
          }

          @include expect {
            animation: bounce 1s infinite;
          }
        }
      }
    }

    @include describe("Custom") {
      @include it("animate-(wiggle 1s ease-in-out infinite)") {
        @include assert {
          @include output {
            @include animate-(wiggle 1s ease-in-out infinite);
          }

          @include expect {
            animation: wiggle 1s ease-in-out infinite;
          }
        }
      }
    }
  }
}
