@use "../../../settings/structures" as *;

@if $TextDecorationStyle {
  #mixin__decoration-solid {
    text-decoration-style: solid;
  }

  #mixin__decoration-double {
    text-decoration-style: double;
  }

  #mixin__decoration-dotted {
    text-decoration-style: dotted;
  }

  #mixin__decoration-dashed {
    text-decoration-style: dashed;
  }

  #mixin__decoration-wavy {
    text-decoration-style: wavy;
  }
}
