@use "../../setting" as *;

$Brightness: (
  "brightness-0": brightness(0),
  "brightness-50": brightness(0.5),
  "brightness-75": brightness(0.75),
  "brightness-90": brightness(0.9),
  "brightness-95": brightness(0.95),
  "brightness-100": brightness(1),
  "brightness-105": brightness(1.05),
  "brightness-110": brightness(1.1),
  "brightness-125": brightness(1.25),
  "brightness-150": brightness(1.5),
  "brightness-200": brightness(2),
);

@if $Basic {
  @each $key, $value in $Brightness {
    /*x
    @mixin #{$key} {
      $tw-brightness: #{$value} !global;
      @include filter(get_filter());
    }
    x*/
  }
}

@if $Rwd and ($sizeMode ==0 or $sizeMode ==1) {
  @each $rwd in $rwdBox {
    @each $key, $value in $Brightness {
      /*x
      @mixin #{$rwd}\:#{$key} {
        $tw-brightness: #{$value} !global;
        @include filter(get_filter(), $#{$rwd});
      }
      x*/
    }
  }
}

@if $Custom {
  /*x
  @mixin brightness-($v) {
    $tw-brightness: brightness($v) !global;
    @include filter(get_filter());
  }
  x*/

  @each $rwd in $rwdBox {
    /*x
    @mixin #{$rwd}\:brightness-($v) {
      $tw-brightness: brightness($v) !global;
      @include filter(get_filter(), $#{$rwd});
    }
    x*/
  }
}
