@use "../../setting" as *;

@if $Basic {
  // /*x
  @mixin brightness-0 {
    $tw-brightness: brightness(0) !global;
    filter: get_filter();
  }

  @mixin brightness-50 {
    $tw-brightness: brightness(0.5) !global;
    filter: get_filter();
  }

  @mixin brightness-75 {
    $tw-brightness: brightness(0.75) !global;
    filter: get_filter();
  }

  @mixin brightness-90 {
    $tw-brightness: brightness(0.9) !global;
    filter: get_filter();
  }

  @mixin brightness-95 {
    $tw-brightness: brightness(0.95) !global;
    filter: get_filter();
  }

  @mixin brightness-100 {
    $tw-brightness: brightness(1) !global;
    filter: get_filter();
  }

  @mixin brightness-105 {
    $tw-brightness: brightness(1.05) !global;
    filter: get_filter();
  }

  @mixin brightness-110 {
    $tw-brightness: brightness(1.1) !global;
    filter: get_filter();
  }

  @mixin brightness-125 {
    $tw-brightness: brightness(1.25) !global;
    filter: get_filter();
  }

  @mixin brightness-150 {
    $tw-brightness: brightness(1.5) !global;
    filter: get_filter();
  }

  @mixin brightness-200 {
    $tw-brightness: brightness(2) !global;
    filter: get_filter();
  }

  // x*/
}

@if $Rwd {
  @if $sizeMode ==0 or $sizeMode ==1 {
    // /*x
    @mixin sm\:brightness-0 {
      @include sm\:brightness-(0);
    }

    @mixin sm\:brightness-50 {
      @include sm\:brightness-(0.5);
    }

    @mixin sm\:brightness-75 {
      @include sm\:brightness-(0.75);
    }

    @mixin sm\:brightness-90 {
      @include sm\:brightness-(0.9);
    }

    @mixin sm\:brightness-95 {
      @include sm\:brightness-(0.95);
    }

    @mixin sm\:brightness-100 {
      @include sm\:brightness-(1);
    }

    @mixin sm\:brightness-105 {
      @include sm\:brightness-(1.05);
    }

    @mixin sm\:brightness-110 {
      @include sm\:brightness-(1.1);
    }

    @mixin sm\:brightness-125 {
      @include sm\:brightness-(1.25);
    }

    @mixin sm\:brightness-150 {
      @include sm\:brightness-(1.5);
    }

    @mixin sm\:brightness-200 {
      @include sm\:brightness-(2);
    }

    @mixin md\:brightness-0 {
      @include md\:brightness-(0);
    }

    @mixin md\:brightness-50 {
      @include md\:brightness-(0.5);
    }

    @mixin md\:brightness-75 {
      @include md\:brightness-(0.75);
    }

    @mixin md\:brightness-90 {
      @include md\:brightness-(0.9);
    }

    @mixin md\:brightness-95 {
      @include md\:brightness-(0.95);
    }

    @mixin md\:brightness-100 {
      @include md\:brightness-(1);
    }

    @mixin md\:brightness-105 {
      @include md\:brightness-(1.05);
    }

    @mixin md\:brightness-110 {
      @include md\:brightness-(1.1);
    }

    @mixin md\:brightness-125 {
      @include md\:brightness-(1.25);
    }

    @mixin md\:brightness-150 {
      @include md\:brightness-(1.5);
    }

    @mixin md\:brightness-200 {
      @include md\:brightness-(2);
    }

    @mixin lg\:brightness-0 {
      @include lg\:brightness-(0);
    }

    @mixin lg\:brightness-50 {
      @include lg\:brightness-(0.5);
    }

    @mixin lg\:brightness-75 {
      @include lg\:brightness-(0.75);
    }

    @mixin lg\:brightness-90 {
      @include lg\:brightness-(0.9);
    }

    @mixin lg\:brightness-95 {
      @include lg\:brightness-(0.95);
    }

    @mixin lg\:brightness-100 {
      @include lg\:brightness-(1);
    }

    @mixin lg\:brightness-105 {
      @include lg\:brightness-(1.05);
    }

    @mixin lg\:brightness-110 {
      @include lg\:brightness-(1.1);
    }

    @mixin lg\:brightness-125 {
      @include lg\:brightness-(1.25);
    }

    @mixin lg\:brightness-150 {
      @include lg\:brightness-(1.5);
    }

    @mixin lg\:brightness-200 {
      @include lg\:brightness-(2);
    }

    @mixin xl\:brightness-0 {
      @include xl\:brightness-(0);
    }

    @mixin xl\:brightness-50 {
      @include xl\:brightness-(0.5);
    }

    @mixin xl\:brightness-75 {
      @include xl\:brightness-(0.75);
    }

    @mixin xl\:brightness-90 {
      @include xl\:brightness-(0.9);
    }

    @mixin xl\:brightness-95 {
      @include xl\:brightness-(0.95);
    }

    @mixin xl\:brightness-100 {
      @include xl\:brightness-(1);
    }

    @mixin xl\:brightness-105 {
      @include xl\:brightness-(1.05);
    }

    @mixin xl\:brightness-110 {
      @include xl\:brightness-(1.1);
    }

    @mixin xl\:brightness-125 {
      @include xl\:brightness-(1.25);
    }

    @mixin xl\:brightness-150 {
      @include xl\:brightness-(1.5);
    }

    @mixin xl\:brightness-200 {
      @include xl\:brightness-(2);
    }

    @mixin \2xl\:brightness-0 {
      @include \2xl\:brightness-(0);
    }

    @mixin \2xl\:brightness-50 {
      @include \2xl\:brightness-(0.5);
    }

    @mixin \2xl\:brightness-75 {
      @include \2xl\:brightness-(0.75);
    }

    @mixin \2xl\:brightness-90 {
      @include \2xl\:brightness-(0.9);
    }

    @mixin \2xl\:brightness-95 {
      @include \2xl\:brightness-(0.95);
    }

    @mixin \2xl\:brightness-100 {
      @include \2xl\:brightness-(1);
    }

    @mixin \2xl\:brightness-105 {
      @include \2xl\:brightness-(1.05);
    }

    @mixin \2xl\:brightness-110 {
      @include \2xl\:brightness-(1.1);
    }

    @mixin \2xl\:brightness-125 {
      @include \2xl\:brightness-(1.25);
    }

    @mixin \2xl\:brightness-150 {
      @include \2xl\:brightness-(1.5);
    }

    @mixin \2xl\:brightness-200 {
      @include \2xl\:brightness-(2);
    }

    // x*/
  }
}

@if $Custom {
  // /*x
  @mixin brightness-($v) {
    $tw-brightness: brightness($v) !global;
    @include filter(get_filter());
  }

  @mixin sm\:brightness-($v) {
    $tw-brightness: brightness($v) !global;
    @include filter(get_filter(), $sm);
  }

  @mixin md\:brightness-($v) {
    $tw-brightness: brightness($v) !global;
    @include filter(get_filter(), $md);
  }

  @mixin lg\:brightness-($v) {
    $tw-brightness: brightness($v) !global;
    @include filter(get_filter(), $lg);
  }

  @mixin xl\:brightness-($v) {
    $tw-brightness: brightness($v) !global;
    @include filter(get_filter(), $xl);
  }

  @mixin \2xl\:brightness-($v) {
    $tw-brightness: brightness($v) !global;
    @include filter(get_filter(), $\2xl);
  }

  // x*/
}
