// Custom same as  @mixin bg-($v)
$BackgroundsPosition: (
  'bg-bottom': bottom,
  'bg-center': center,
  'bg-left': left,
  'bg-left-bottom': left bottom,
  'bg-left-top': left top,
  'bg-right': right,
  'bg-right-bottom': right bottom,
  'bg-right-top': right top,
  'bg-top': top,
);

@if $isBasic {
  @each $key, $value in $BackgroundsPosition {
    /*x
    @mixin #{$key} {
      @include background-position(#{$value});
    }
    x*/
  }
}

@if $isRwd and $isClassic {
  @each $rwdToken, $rwd in $rwdBox {
    @each $key, $value in $BackgroundsPosition {
      /*x
      @mixin #{$rwdToken}\:#{$key} {
        @include background-position(#{$value}, #{$rwd});
      }
      x*/
    }
  }
}
