// arbitrary same as  @mixin bg-($v)
$BackgroundsImage: (
  'bg-none': none,
  'bg-gradient-to-t': to top,
  'bg-gradient-to-tr': to top right,
  'bg-gradient-to-r': to right,
  'bg-gradient-to-br': to bottom right,
  'bg-gradient-to-b': to bottom,
  'bg-gradient-to-bl': to bottom left,
  'bg-gradient-to-l': to left,
  'bg-gradient-to-tl': to top left,
);

@if $isBasic {
  @each $key, $value in $BackgroundsImage {
    /*x
    @mixin #{$key} {
      $tw-dummy-gradient-direction: #{$value} !global;
      @include background-image(_l-g());
    }
    x*/
  }
}

@if $isRwd and $isClassic {
  @each $rwdToken, $rwd in $rwdBox {
    @each $key, $value in $BackgroundsImage {
      /*x
      @mixin #{$rwdToken}\:#{$key} {
        $tw-dummy-gradient-direction: #{$value} !global;
        @include background-image(_l-g(), #{$rwd});
      }
      x*/
    }
  }
}
