@use "../../../settings/structures" as *;

@if $TextTransform {
  #mixin__uppercase {
    text-transform: uppercase;
  }

  #mixin__lowercase {
    text-transform: lowercase;
  }

  #mixin__capitalize {
    text-transform: capitalize;
  }

  #mixin__normal-case {
    text-transform: none;
  }
}
