@use "../../setting" as *;

/* Overscroll Behavior */
@if $Basic {
  // /*x 
  @mixin overscroll-auto {
    overscroll-behavior: auto;
  }

  @mixin overscroll-contain {
    overscroll-behavior: contain;
  }

  @mixin overscroll-none {
    overscroll-behavior: none;
  }

  @mixin overscroll-y-auto {
    overscroll-behavior-y: auto;
  }

  @mixin overscroll-y-contain {
    overscroll-behavior-y: contain;
  }

  @mixin overscroll-y-none {
    overscroll-behavior-y: none;
  }

  @mixin overscroll-x-auto {
    overscroll-behavior-x: auto;
  }

  @mixin overscroll-x-contain {
    overscroll-behavior-x: contain;
  }

  @mixin overscroll-x-none {
    overscroll-behavior-x: none;
  } // x*/
}

@if $Rwd {
  // /*x 
  @mixin sm\:overscroll-auto {
    @include r(sm, overscroll-behavior, auto);
  }

  @mixin sm\:overscroll-contain {
    @include r(sm, overscroll-behavior, contain);
  }

  @mixin sm\:overscroll-none {
    @include r(sm, overscroll-behavior, none);
  }

  @mixin sm\:overscroll-y-auto {
    @include r(sm, overscroll-behavior-y, auto);
  }

  @mixin sm\:overscroll-y-contain {
    @include r(sm, overscroll-behavior-y, contain);
  }

  @mixin sm\:overscroll-y-none {
    @include r(sm, overscroll-behavior-y, none);
  }

  @mixin sm\:overscroll-x-auto {
    @include r(sm, overscroll-behavior-x, auto);
  }

  @mixin sm\:overscroll-x-contain {
    @include r(sm, overscroll-behavior-x, contain);
  }

  @mixin sm\:overscroll-x-none {
    @include r(sm, overscroll-behavior-x, none);
  }

  @mixin md\:overscroll-auto {
    @include r(md, overscroll-behavior, auto);
  }

  @mixin md\:overscroll-contain {
    @include r(md, overscroll-behavior, contain);
  }

  @mixin md\:overscroll-none {
    @include r(md, overscroll-behavior, none);
  }

  @mixin md\:overscroll-y-auto {
    @include r(md, overscroll-behavior-y, auto);
  }

  @mixin md\:overscroll-y-contain {
    @include r(md, overscroll-behavior-y, contain);
  }

  @mixin md\:overscroll-y-none {
    @include r(md, overscroll-behavior-y, none);
  }

  @mixin md\:overscroll-x-auto {
    @include r(md, overscroll-behavior-x, auto);
  }

  @mixin md\:overscroll-x-contain {
    @include r(md, overscroll-behavior-x, contain);
  }

  @mixin md\:overscroll-x-none {
    @include r(md, overscroll-behavior-x, none);
  }

  @mixin lg\:overscroll-auto {
    @include r(lg, overscroll-behavior, auto);
  }

  @mixin lg\:overscroll-contain {
    @include r(lg, overscroll-behavior, contain);
  }

  @mixin lg\:overscroll-none {
    @include r(lg, overscroll-behavior, none);
  }

  @mixin lg\:overscroll-y-auto {
    @include r(lg, overscroll-behavior-y, auto);
  }

  @mixin lg\:overscroll-y-contain {
    @include r(lg, overscroll-behavior-y, contain);
  }

  @mixin lg\:overscroll-y-none {
    @include r(lg, overscroll-behavior-y, none);
  }

  @mixin lg\:overscroll-x-auto {
    @include r(lg, overscroll-behavior-x, auto);
  }

  @mixin lg\:overscroll-x-contain {
    @include r(lg, overscroll-behavior-x, contain);
  }

  @mixin lg\:overscroll-x-none {
    @include r(lg, overscroll-behavior-x, none);
  }

  @mixin xl\:overscroll-auto {
    @include r(xl, overscroll-behavior, auto);
  }

  @mixin xl\:overscroll-contain {
    @include r(xl, overscroll-behavior, contain);
  }

  @mixin xl\:overscroll-none {
    @include r(xl, overscroll-behavior, none);
  }

  @mixin xl\:overscroll-y-auto {
    @include r(xl, overscroll-behavior-y, auto);
  }

  @mixin xl\:overscroll-y-contain {
    @include r(xl, overscroll-behavior-y, contain);
  }

  @mixin xl\:overscroll-y-none {
    @include r(xl, overscroll-behavior-y, none);
  }

  @mixin xl\:overscroll-x-auto {
    @include r(xl, overscroll-behavior-x, auto);
  }

  @mixin xl\:overscroll-x-contain {
    @include r(xl, overscroll-behavior-x, contain);
  }

  @mixin xl\:overscroll-x-none {
    @include r(xl, overscroll-behavior-x, none);
  }

  @mixin \2xl\:overscroll-auto {
    @include r(2xl, overscroll-behavior, auto);
  }

  @mixin \2xl\:overscroll-contain {
    @include r(2xl, overscroll-behavior, contain);
  }

  @mixin \2xl\:overscroll-none {
    @include r(2xl, overscroll-behavior, none);
  }

  @mixin \2xl\:overscroll-y-auto {
    @include r(2xl, overscroll-behavior-y, auto);
  }

  @mixin \2xl\:overscroll-y-contain {
    @include r(2xl, overscroll-behavior-y, contain);
  }

  @mixin \2xl\:overscroll-y-none {
    @include r(2xl, overscroll-behavior-y, none);
  }

  @mixin \2xl\:overscroll-x-auto {
    @include r(2xl, overscroll-behavior-x, auto);
  }

  @mixin \2xl\:overscroll-x-contain {
    @include r(2xl, overscroll-behavior-x, contain);
  }

  @mixin \2xl\:overscroll-x-none {
    @include r(2xl, overscroll-behavior-x, none);
  } // x*/
}
