@use "../../mode0" as *;
@use "true" as *;

@include describe("6.Backgrounds") {
  @include describe("Background Attachment") {
    @include describe("Basic") {
      @include it("bg-fixed") {
        @include assert {
          @include output {
            @include bg-fixed;
            @include reset;
          }

          @include expect {
            background-attachment: fixed;
          }
        }
      }

      @include it("bg-local") {
        @include assert {
          @include output {
            @include bg-local;
            @include reset;
          }

          @include expect {
            background-attachment: local;
          }
        }
      }

      @include it("bg-scroll") {
        @include assert {
          @include output {
            @include bg-scroll;
            @include reset;
          }

          @include expect {
            background-attachment: scroll;
          }
        }
      }
    }

    @include describe("Rwd") {
      @include it("sm\:bg-fixed") {
        @include assert {
          @include output {
            @include sm\:bg-fixed;
            @include reset;
          }

          @include expect {
            @media (min-width: $sm) {
              background-attachment: fixed;
            }
          }
        }
      }

      @include it("sm\:bg-local") {
        @include assert {
          @include output {
            @include sm\:bg-local;
            @include reset;
          }

          @include expect {
            @media (min-width: $sm) {
              background-attachment: local;
            }
          }
        }
      }

      @include it("sm\:bg-scroll") {
        @include assert {
          @include output {
            @include sm\:bg-scroll;
            @include reset;
          }

          @include expect {
            @media (min-width: $sm) {
              background-attachment: scroll;
            }
          }
        }
      }

      @include it("md\:bg-fixed") {
        @include assert {
          @include output {
            @include md\:bg-fixed;
            @include reset;
          }

          @include expect {
            @media (min-width: $md) {
              background-attachment: fixed;
            }
          }
        }
      }

      @include it("md\:bg-local") {
        @include assert {
          @include output {
            @include md\:bg-local;
            @include reset;
          }

          @include expect {
            @media (min-width: $md) {
              background-attachment: local;
            }
          }
        }
      }

      @include it("md\:bg-scroll") {
        @include assert {
          @include output {
            @include md\:bg-scroll;
            @include reset;
          }

          @include expect {
            @media (min-width: $md) {
              background-attachment: scroll;
            }
          }
        }
      }

      @include it("lg\:bg-fixed") {
        @include assert {
          @include output {
            @include lg\:bg-fixed;
            @include reset;
          }

          @include expect {
            @media (min-width: $lg) {
              background-attachment: fixed;
            }
          }
        }
      }

      @include it("lg\:bg-local") {
        @include assert {
          @include output {
            @include lg\:bg-local;
            @include reset;
          }

          @include expect {
            @media (min-width: $lg) {
              background-attachment: local;
            }
          }
        }
      }

      @include it("lg\:bg-scroll") {
        @include assert {
          @include output {
            @include lg\:bg-scroll;
            @include reset;
          }

          @include expect {
            @media (min-width: $lg) {
              background-attachment: scroll;
            }
          }
        }
      }

      @include it("xl\:bg-fixed") {
        @include assert {
          @include output {
            @include xl\:bg-fixed;
            @include reset;
          }

          @include expect {
            @media (min-width: $xl) {
              background-attachment: fixed;
            }
          }
        }
      }

      @include it("xl\:bg-local") {
        @include assert {
          @include output {
            @include xl\:bg-local;
            @include reset;
          }

          @include expect {
            @media (min-width: $xl) {
              background-attachment: local;
            }
          }
        }
      }

      @include it("xl\:bg-scroll") {
        @include assert {
          @include output {
            @include xl\:bg-scroll;
            @include reset;
          }

          @include expect {
            @media (min-width: $xl) {
              background-attachment: scroll;
            }
          }
        }
      }

      @include it("2xl\:bg-fixed") {
        @include assert {
          @include output {
            @include \2xl\:bg-fixed;
            @include reset;
          }

          @include expect {
            @media (min-width: $\2xl) {
              background-attachment: fixed;
            }
          }
        }
      }

      @include it("2xl\:bg-local") {
        @include assert {
          @include output {
            @include \2xl\:bg-local;
            @include reset;
          }

          @include expect {
            @media (min-width: $\2xl) {
              background-attachment: local;
            }
          }
        }
      }

      @include it("2xl\:bg-scroll") {
        @include assert {
          @include output {
            @include \2xl\:bg-scroll;
            @include reset;
          }

          @include expect {
            @media (min-width: $\2xl) {
              background-attachment: scroll;
            }
          }
        }
      }
    }
  }
}
