@use "../../setting" as *;

$TextTransform: (
  "uppercase": uppercase,
  "lowercase": lowercase,
  "capitalize": capitalize,
  "normal-case": none,
);

@if $Basic {
  @each $key, $value in $TextTransform {
    /*x
    @mixin #{$key}{
      @include text-transform(#{$value});
    }
    x*/
  }
}

@if $Rwd {
  @each $rwd in $rwdBox {
    @each $key, $value in $TextTransform {
      /*x
      @mixin #{$rwd}\:#{$key}{
        @include text-transform(#{$value}, $#{$rwd});
      }
      x*/
    }
  }
}