@use "../../setting" as *;
@use "../../mode0" as *;
@use "true" as *;

@include describe("11.Transitions & Animation") {
  @include describe("Transition Duration") {
    @include describe("Basic") {
      @include it("duration-0") {
        @include assert {
          @include output {
            @include duration-0;
            @include clear;
          }

          @include expect {
            transition-duration: 0s;
          }
        }
      }

      @include it("duration-75") {
        @include assert {
          @include output {
            @include duration-75;
            @include clear;
          }

          @include expect {
            transition-duration: 75ms;
          }
        }
      }

      @include it("duration-100") {
        @include assert {
          @include output {
            @include duration-100;
            @include clear;
          }

          @include expect {
            transition-duration: 100ms;
          }
        }
      }

      @include it("duration-150") {
        @include assert {
          @include output {
            @include duration-150;
            @include clear;
          }

          @include expect {
            transition-duration: 150ms;
          }
        }
      }

      @include it("duration-200") {
        @include assert {
          @include output {
            @include duration-200;
            @include clear;
          }

          @include expect {
            transition-duration: 200ms;
          }
        }
      }

      @include it("duration-300") {
        @include assert {
          @include output {
            @include duration-300;
            @include clear;
          }

          @include expect {
            transition-duration: 300ms;
          }
        }
      }

      @include it("duration-500") {
        @include assert {
          @include output {
            @include duration-500;
            @include clear;
          }

          @include expect {
            transition-duration: 500ms;
          }
        }
      }

      @include it("duration-700") {
        @include assert {
          @include output {
            @include duration-700;
            @include clear;
          }

          @include expect {
            transition-duration: 700ms;
          }
        }
      }

      @include it("duration-1000") {
        @include assert {
          @include output {
            @include duration-1000;
            @include clear;
          }

          @include expect {
            transition-duration: 1000ms;
          }
        }
      }
    }

    @include describe("Rwd") {
      @include it("sm\:duration-0") {
        @include assert {
          @include output {
            @include sm\:duration-0;
            @include clear;
          }

          @include expect {
            @media(min-width:$sm) {
              transition-duration: 0s;
            }
          }
        }
      }

      @include it("sm\:duration-75") {
        @include assert {
          @include output {
            @include sm\:duration-75;
            @include clear;
          }

          @include expect {
            @media(min-width:$sm) {
              transition-duration: 75ms;
            }
          }
        }
      }

      @include it("sm\:duration-100") {
        @include assert {
          @include output {
            @include sm\:duration-100;
            @include clear;
          }

          @include expect {
            @media(min-width:$sm) {
              transition-duration: 100ms;
            }
          }
        }
      }

      @include it("sm\:duration-150") {
        @include assert {
          @include output {
            @include sm\:duration-150;
            @include clear;
          }

          @include expect {
            @media(min-width:$sm) {
              transition-duration: 150ms;
            }
          }
        }
      }

      @include it("sm\:duration-200") {
        @include assert {
          @include output {
            @include sm\:duration-200;
            @include clear;
          }

          @include expect {
            @media(min-width:$sm) {
              transition-duration: 200ms;
            }
          }
        }
      }

      @include it("sm\:duration-300") {
        @include assert {
          @include output {
            @include sm\:duration-300;
            @include clear;
          }

          @include expect {
            @media(min-width:$sm) {
              transition-duration: 300ms;
            }
          }
        }
      }

      @include it("sm\:duration-500") {
        @include assert {
          @include output {
            @include sm\:duration-500;
            @include clear;
          }

          @include expect {
            @media(min-width:$sm) {
              transition-duration: 500ms;
            }
          }
        }
      }

      @include it("sm\:duration-700") {
        @include assert {
          @include output {
            @include sm\:duration-700;
            @include clear;
          }

          @include expect {
            @media(min-width:$sm) {
              transition-duration: 700ms;
            }
          }
        }
      }

      @include it("sm\:duration-1000") {
        @include assert {
          @include output {
            @include sm\:duration-1000;
            @include clear;
          }

          @include expect {
            @media(min-width:$sm) {
              transition-duration: 1000ms;
            }
          }
        }
      }

      @include it("md\:duration-0") {
        @include assert {
          @include output {
            @include md\:duration-0;
            @include clear;
          }

          @include expect {
            @media(min-width:$md) {
              transition-duration: 0s;
            }
          }
        }
      }

      @include it("md\:duration-75") {
        @include assert {
          @include output {
            @include md\:duration-75;
            @include clear;
          }

          @include expect {
            @media(min-width:$md) {
              transition-duration: 75ms;
            }
          }
        }
      }

      @include it("md\:duration-100") {
        @include assert {
          @include output {
            @include md\:duration-100;
            @include clear;
          }

          @include expect {
            @media(min-width:$md) {
              transition-duration: 100ms;
            }
          }
        }
      }

      @include it("md\:duration-150") {
        @include assert {
          @include output {
            @include md\:duration-150;
            @include clear;
          }

          @include expect {
            @media(min-width:$md) {
              transition-duration: 150ms;
            }
          }
        }
      }

      @include it("md\:duration-200") {
        @include assert {
          @include output {
            @include md\:duration-200;
            @include clear;
          }

          @include expect {
            @media(min-width:$md) {
              transition-duration: 200ms;
            }
          }
        }
      }

      @include it("md\:duration-300") {
        @include assert {
          @include output {
            @include md\:duration-300;
            @include clear;
          }

          @include expect {
            @media(min-width:$md) {
              transition-duration: 300ms;
            }
          }
        }
      }

      @include it("md\:duration-500") {
        @include assert {
          @include output {
            @include md\:duration-500;
            @include clear;
          }

          @include expect {
            @media(min-width:$md) {
              transition-duration: 500ms;
            }
          }
        }
      }

      @include it("md\:duration-700") {
        @include assert {
          @include output {
            @include md\:duration-700;
            @include clear;
          }

          @include expect {
            @media(min-width:$md) {
              transition-duration: 700ms;
            }
          }
        }
      }

      @include it("md\:duration-1000") {
        @include assert {
          @include output {
            @include md\:duration-1000;
            @include clear;
          }

          @include expect {
            @media(min-width:$md) {
              transition-duration: 1000ms;
            }
          }
        }
      }

      @include it("lg\:duration-0") {
        @include assert {
          @include output {
            @include lg\:duration-0;
            @include clear;
          }

          @include expect {
            @media(min-width:$lg) {
              transition-duration: 0s;
            }
          }
        }
      }

      @include it("lg\:duration-75") {
        @include assert {
          @include output {
            @include lg\:duration-75;
            @include clear;
          }

          @include expect {
            @media(min-width:$lg) {
              transition-duration: 75ms;
            }
          }
        }
      }

      @include it("lg\:duration-100") {
        @include assert {
          @include output {
            @include lg\:duration-100;
            @include clear;
          }

          @include expect {
            @media(min-width:$lg) {
              transition-duration: 100ms;
            }
          }
        }
      }

      @include it("lg\:duration-150") {
        @include assert {
          @include output {
            @include lg\:duration-150;
            @include clear;
          }

          @include expect {
            @media(min-width:$lg) {
              transition-duration: 150ms;
            }
          }
        }
      }

      @include it("lg\:duration-200") {
        @include assert {
          @include output {
            @include lg\:duration-200;
            @include clear;
          }

          @include expect {
            @media(min-width:$lg) {
              transition-duration: 200ms;
            }
          }
        }
      }

      @include it("lg\:duration-300") {
        @include assert {
          @include output {
            @include lg\:duration-300;
            @include clear;
          }

          @include expect {
            @media(min-width:$lg) {
              transition-duration: 300ms;
            }
          }
        }
      }

      @include it("lg\:duration-500") {
        @include assert {
          @include output {
            @include lg\:duration-500;
            @include clear;
          }

          @include expect {
            @media(min-width:$lg) {
              transition-duration: 500ms;
            }
          }
        }
      }

      @include it("lg\:duration-700") {
        @include assert {
          @include output {
            @include lg\:duration-700;
            @include clear;
          }

          @include expect {
            @media(min-width:$lg) {
              transition-duration: 700ms;
            }
          }
        }
      }

      @include it("lg\:duration-1000") {
        @include assert {
          @include output {
            @include lg\:duration-1000;
            @include clear;
          }

          @include expect {
            @media(min-width:$lg) {
              transition-duration: 1000ms;
            }
          }
        }
      }

      @include it("xl\:duration-0") {
        @include assert {
          @include output {
            @include xl\:duration-0;
            @include clear;
          }

          @include expect {
            @media(min-width:$xl) {
              transition-duration: 0s;
            }
          }
        }
      }

      @include it("xl\:duration-75") {
        @include assert {
          @include output {
            @include xl\:duration-75;
            @include clear;
          }

          @include expect {
            @media(min-width:$xl) {
              transition-duration: 75ms;
            }
          }
        }
      }

      @include it("xl\:duration-100") {
        @include assert {
          @include output {
            @include xl\:duration-100;
            @include clear;
          }

          @include expect {
            @media(min-width:$xl) {
              transition-duration: 100ms;
            }
          }
        }
      }

      @include it("xl\:duration-150") {
        @include assert {
          @include output {
            @include xl\:duration-150;
            @include clear;
          }

          @include expect {
            @media(min-width:$xl) {
              transition-duration: 150ms;
            }
          }
        }
      }

      @include it("xl\:duration-200") {
        @include assert {
          @include output {
            @include xl\:duration-200;
            @include clear;
          }

          @include expect {
            @media(min-width:$xl) {
              transition-duration: 200ms;
            }
          }
        }
      }

      @include it("xl\:duration-300") {
        @include assert {
          @include output {
            @include xl\:duration-300;
            @include clear;
          }

          @include expect {
            @media(min-width:$xl) {
              transition-duration: 300ms;
            }
          }
        }
      }

      @include it("xl\:duration-500") {
        @include assert {
          @include output {
            @include xl\:duration-500;
            @include clear;
          }

          @include expect {
            @media(min-width:$xl) {
              transition-duration: 500ms;
            }
          }
        }
      }

      @include it("xl\:duration-700") {
        @include assert {
          @include output {
            @include xl\:duration-700;
            @include clear;
          }

          @include expect {
            @media(min-width:$xl) {
              transition-duration: 700ms;
            }
          }
        }
      }

      @include it("xl\:duration-1000") {
        @include assert {
          @include output {
            @include xl\:duration-1000;
            @include clear;
          }

          @include expect {
            @media(min-width:$xl) {
              transition-duration: 1000ms;
            }
          }
        }
      }

      @include it("\2xl\:duration-0") {
        @include assert {
          @include output {
            @include \2xl\:duration-0;
            @include clear;
          }

          @include expect {
            @media(min-width:$\2xl) {
              transition-duration: 0s;
            }
          }
        }
      }

      @include it("\2xl\:duration-75") {
        @include assert {
          @include output {
            @include \2xl\:duration-75;
            @include clear;
          }

          @include expect {
            @media(min-width:$\2xl) {
              transition-duration: 75ms;
            }
          }
        }
      }

      @include it("\2xl\:duration-100") {
        @include assert {
          @include output {
            @include \2xl\:duration-100;
            @include clear;
          }

          @include expect {
            @media(min-width:$\2xl) {
              transition-duration: 100ms;
            }
          }
        }
      }

      @include it("\2xl\:duration-150") {
        @include assert {
          @include output {
            @include \2xl\:duration-150;
            @include clear;
          }

          @include expect {
            @media(min-width:$\2xl) {
              transition-duration: 150ms;
            }
          }
        }
      }

      @include it("\2xl\:duration-200") {
        @include assert {
          @include output {
            @include \2xl\:duration-200;
            @include clear;
          }

          @include expect {
            @media(min-width:$\2xl) {
              transition-duration: 200ms;
            }
          }
        }
      }

      @include it("\2xl\:duration-300") {
        @include assert {
          @include output {
            @include \2xl\:duration-300;
            @include clear;
          }

          @include expect {
            @media(min-width:$\2xl) {
              transition-duration: 300ms;
            }
          }
        }
      }

      @include it("\2xl\:duration-500") {
        @include assert {
          @include output {
            @include \2xl\:duration-500;
            @include clear;
          }

          @include expect {
            @media(min-width:$\2xl) {
              transition-duration: 500ms;
            }
          }
        }
      }

      @include it("\2xl\:duration-700") {
        @include assert {
          @include output {
            @include \2xl\:duration-700;
            @include clear;
          }

          @include expect {
            @media(min-width:$\2xl) {
              transition-duration: 700ms;
            }
          }
        }
      }

      @include it("\2xl\:duration-1000") {
        @include assert {
          @include output {
            @include \2xl\:duration-1000;
            @include clear;
          }

          @include expect {
            @media(min-width:$\2xl) {
              transition-duration: 1000ms;
            }
          }
        }
      }
    }

    @include describe("Custom") {
      @include it("duration-(2000ms)") {
        @include assert {
          @include output {
            @include duration-(2000ms);
            @include clear;
          }

          @include expect {
            transition-duration: 2000ms;
          }
        }
      }

      @include it("sm\:duration-(2000ms)") {
        @include assert {
          @include output {
            @include sm\:duration-(2000ms);
            @include clear;
          }

          @include expect {
            @media(min-width:$sm) {
              transition-duration: 2000ms;
            }
          }
        }
      }

      @include it("md\:duration-(2000ms)") {
        @include assert {
          @include output {
            @include md\:duration-(2000ms);
            @include clear;
          }

          @include expect {
            @media(min-width:$md) {
              transition-duration: 2000ms;
            }
          }
        }
      }

      @include it("lg\:duration-(2000ms)") {
        @include assert {
          @include output {
            @include lg\:duration-(2000ms);
            @include clear;
          }

          @include expect {
            @media(min-width:$lg) {
              transition-duration: 2000ms;
            }
          }
        }
      }

      @include it("xl\:duration-(2000ms)") {
        @include assert {
          @include output {
            @include xl\:duration-(2000ms);
            @include clear;
          }

          @include expect {
            @media(min-width:$xl) {
              transition-duration: 2000ms;
            }
          }
        }
      }

      @include it("\2xl\:duration-(2000ms)") {
        @include assert {
          @include output {
            @include \2xl\:duration-(2000ms);
            @include clear;
          }

          @include expect {
            @media(min-width:$\2xl) {
              transition-duration: 2000ms;
            }
          }
        }
      }
    }
  }
}