@include describe('5.Typography') {
  @include describe('Font Weight') {
    @include describe('Basic') {
      @include it('font-thin') {
        @include assert {
          @include output {
            @include font-thin;
            @include utils__reset-tw-variables;
          }

          @include expect {
            font-weight: 100;
          }
        }
      }

      @include it('font-extralight') {
        @include assert {
          @include output {
            @include font-extralight;
            @include utils__reset-tw-variables;
          }

          @include expect {
            font-weight: 200;
          }
        }
      }

      @include it('font-light') {
        @include assert {
          @include output {
            @include font-light;
            @include utils__reset-tw-variables;
          }

          @include expect {
            font-weight: 300;
          }
        }
      }

      @include it('font-normal') {
        @include assert {
          @include output {
            @include font-normal;
            @include utils__reset-tw-variables;
          }

          @include expect {
            font-weight: 400;
          }
        }
      }

      @include it('font-medium') {
        @include assert {
          @include output {
            @include font-medium;
            @include utils__reset-tw-variables;
          }

          @include expect {
            font-weight: 500;
          }
        }
      }

      @include it('font-semibold') {
        @include assert {
          @include output {
            @include font-semibold;
            @include utils__reset-tw-variables;
          }

          @include expect {
            font-weight: 600;
          }
        }
      }

      @include it('font-bold') {
        @include assert {
          @include output {
            @include font-bold;
            @include utils__reset-tw-variables;
          }

          @include expect {
            font-weight: 700;
          }
        }
      }

      @include it('font-extrabold') {
        @include assert {
          @include output {
            @include font-extrabold;
            @include utils__reset-tw-variables;
          }

          @include expect {
            font-weight: 800;
          }
        }
      }

      @include it('font-black') {
        @include assert {
          @include output {
            @include font-black;
            @include utils__reset-tw-variables;
          }

          @include expect {
            font-weight: 900;
          }
        }
      }
    }

    @include describe('Rwd') {
      @include it('sm\:font-thin') {
        @include assert {
          @include output {
            @include sm\:font-thin;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              font-weight: 100;
            }
          }
        }
      }

      @include it('sm\:font-extralight') {
        @include assert {
          @include output {
            @include sm\:font-extralight;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              font-weight: 200;
            }
          }
        }
      }

      @include it('sm\:font-light') {
        @include assert {
          @include output {
            @include sm\:font-light;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              font-weight: 300;
            }
          }
        }
      }

      @include it('sm\:font-normal') {
        @include assert {
          @include output {
            @include sm\:font-normal;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              font-weight: 400;
            }
          }
        }
      }

      @include it('sm\:font-medium') {
        @include assert {
          @include output {
            @include sm\:font-medium;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              font-weight: 500;
            }
          }
        }
      }

      @include it('sm\:font-semibold') {
        @include assert {
          @include output {
            @include sm\:font-semibold;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              font-weight: 600;
            }
          }
        }
      }

      @include it('sm\:font-bold') {
        @include assert {
          @include output {
            @include sm\:font-bold;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              font-weight: 700;
            }
          }
        }
      }

      @include it('sm\:font-extrabold') {
        @include assert {
          @include output {
            @include sm\:font-extrabold;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              font-weight: 800;
            }
          }
        }
      }

      @include it('sm\:font-black') {
        @include assert {
          @include output {
            @include sm\:font-black;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              font-weight: 900;
            }
          }
        }
      }

      @include it('md\:font-thin') {
        @include assert {
          @include output {
            @include md\:font-thin;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              font-weight: 100;
            }
          }
        }
      }

      @include it('md\:font-extralight') {
        @include assert {
          @include output {
            @include md\:font-extralight;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              font-weight: 200;
            }
          }
        }
      }

      @include it('md\:font-light') {
        @include assert {
          @include output {
            @include md\:font-light;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              font-weight: 300;
            }
          }
        }
      }

      @include it('md\:font-normal') {
        @include assert {
          @include output {
            @include md\:font-normal;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              font-weight: 400;
            }
          }
        }
      }

      @include it('md\:font-medium') {
        @include assert {
          @include output {
            @include md\:font-medium;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              font-weight: 500;
            }
          }
        }
      }

      @include it('md\:font-semibold') {
        @include assert {
          @include output {
            @include md\:font-semibold;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              font-weight: 600;
            }
          }
        }
      }

      @include it('md\:font-bold') {
        @include assert {
          @include output {
            @include md\:font-bold;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              font-weight: 700;
            }
          }
        }
      }

      @include it('md\:font-extrabold') {
        @include assert {
          @include output {
            @include md\:font-extrabold;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              font-weight: 800;
            }
          }
        }
      }

      @include it('md\:font-black') {
        @include assert {
          @include output {
            @include md\:font-black;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              font-weight: 900;
            }
          }
        }
      }

      @include it('lg\:font-thin') {
        @include assert {
          @include output {
            @include lg\:font-thin;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              font-weight: 100;
            }
          }
        }
      }

      @include it('lg\:font-extralight') {
        @include assert {
          @include output {
            @include lg\:font-extralight;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              font-weight: 200;
            }
          }
        }
      }

      @include it('lg\:font-light') {
        @include assert {
          @include output {
            @include lg\:font-light;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              font-weight: 300;
            }
          }
        }
      }

      @include it('lg\:font-normal') {
        @include assert {
          @include output {
            @include lg\:font-normal;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              font-weight: 400;
            }
          }
        }
      }

      @include it('lg\:font-medium') {
        @include assert {
          @include output {
            @include lg\:font-medium;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              font-weight: 500;
            }
          }
        }
      }

      @include it('lg\:font-semibold') {
        @include assert {
          @include output {
            @include lg\:font-semibold;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              font-weight: 600;
            }
          }
        }
      }

      @include it('lg\:font-bold') {
        @include assert {
          @include output {
            @include lg\:font-bold;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              font-weight: 700;
            }
          }
        }
      }

      @include it('lg\:font-extrabold') {
        @include assert {
          @include output {
            @include lg\:font-extrabold;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              font-weight: 800;
            }
          }
        }
      }

      @include it('lg\:font-black') {
        @include assert {
          @include output {
            @include lg\:font-black;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              font-weight: 900;
            }
          }
        }
      }

      @include it('xl\:font-thin') {
        @include assert {
          @include output {
            @include xl\:font-thin;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              font-weight: 100;
            }
          }
        }
      }

      @include it('xl\:font-extralight') {
        @include assert {
          @include output {
            @include xl\:font-extralight;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              font-weight: 200;
            }
          }
        }
      }

      @include it('xl\:font-light') {
        @include assert {
          @include output {
            @include xl\:font-light;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              font-weight: 300;
            }
          }
        }
      }

      @include it('xl\:font-normal') {
        @include assert {
          @include output {
            @include xl\:font-normal;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              font-weight: 400;
            }
          }
        }
      }

      @include it('xl\:font-medium') {
        @include assert {
          @include output {
            @include xl\:font-medium;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              font-weight: 500;
            }
          }
        }
      }

      @include it('xl\:font-semibold') {
        @include assert {
          @include output {
            @include xl\:font-semibold;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              font-weight: 600;
            }
          }
        }
      }

      @include it('xl\:font-bold') {
        @include assert {
          @include output {
            @include xl\:font-bold;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              font-weight: 700;
            }
          }
        }
      }

      @include it('xl\:font-extrabold') {
        @include assert {
          @include output {
            @include xl\:font-extrabold;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              font-weight: 800;
            }
          }
        }
      }

      @include it('xl\:font-black') {
        @include assert {
          @include output {
            @include xl\:font-black;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              font-weight: 900;
            }
          }
        }
      }

      @include it('2xl\:font-thin') {
        @include assert {
          @include output {
            @include \2xl\:font-thin;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              font-weight: 100;
            }
          }
        }
      }

      @include it('2xl\:font-extralight') {
        @include assert {
          @include output {
            @include \2xl\:font-extralight;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              font-weight: 200;
            }
          }
        }
      }

      @include it('2xl\:font-light') {
        @include assert {
          @include output {
            @include \2xl\:font-light;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              font-weight: 300;
            }
          }
        }
      }

      @include it('2xl\:font-normal') {
        @include assert {
          @include output {
            @include \2xl\:font-normal;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              font-weight: 400;
            }
          }
        }
      }

      @include it('2xl\:font-medium') {
        @include assert {
          @include output {
            @include \2xl\:font-medium;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              font-weight: 500;
            }
          }
        }
      }

      @include it('2xl\:font-semibold') {
        @include assert {
          @include output {
            @include \2xl\:font-semibold;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              font-weight: 600;
            }
          }
        }
      }

      @include it('2xl\:font-bold') {
        @include assert {
          @include output {
            @include \2xl\:font-bold;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              font-weight: 700;
            }
          }
        }
      }

      @include it('2xl\:font-extrabold') {
        @include assert {
          @include output {
            @include \2xl\:font-extrabold;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              font-weight: 800;
            }
          }
        }
      }

      @include it('2xl\:font-black') {
        @include assert {
          @include output {
            @include \2xl\:font-black;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              font-weight: 900;
            }
          }
        }
      }
    }

    @include describe('Custom') {
      @include it('font-(1100)') {
        @include assert {
          @include output {
            @include font-(1100);
            @include utils__reset-tw-variables;
          }

          @include expect {
            font-weight: 1100;
          }
        }
      }

      @include it('sm\:font-(1100)') {
        @include assert {
          @include output {
            @include sm\:font-(1100);
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              font-weight: 1100;
            }
          }
        }
      }

      @include it('md\:font-(1100)') {
        @include assert {
          @include output {
            @include md\:font-(1100);
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              font-weight: 1100;
            }
          }
        }
      }

      @include it('lg\:font-(1100)') {
        @include assert {
          @include output {
            @include lg\:font-(1100);
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              font-weight: 1100;
            }
          }
        }
      }

      @include it('xl\:font-(1100)') {
        @include assert {
          @include output {
            @include xl\:font-(1100);
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              font-weight: 1100;
            }
          }
        }
      }

      @include it('2xl\:font-(1100)') {
        @include assert {
          @include output {
            @include \2xl\:font-(1100);
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              font-weight: 1100;
            }
          }
        }
      }
    }
  }
}
