

@include describe('5.Typography') {
  @include describe('Font Style') {
    @include describe('Basic') {
      @include it('italic') {
        @include assert {
          @include output {
            @include italic;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            font-style: italic;
          }
        }
      }

      @include it('not-italic') {
        @include assert {
          @include output {
            @include not-italic;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            font-style: normal;
          }
        }
      }
    }

    @include describe('Rwd') {
      @include it('sm\:italic') {
        @include assert {
          @include output {
            @include sm\:italic;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              font-style: italic;
            }
          }
        }
      }

      @include it('sm\:not-italic') {
        @include assert {
          @include output {
            @include sm\:not-italic;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              font-style: normal;
            }
          }
        }
      }

      @include it('md\:italic') {
        @include assert {
          @include output {
            @include md\:italic;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              font-style: italic;
            }
          }
        }
      }

      @include it('md\:not-italic') {
        @include assert {
          @include output {
            @include md\:not-italic;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              font-style: normal;
            }
          }
        }
      }

      @include it('lg\:italic') {
        @include assert {
          @include output {
            @include lg\:italic;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              font-style: italic;
            }
          }
        }
      }

      @include it('lg\:not-italic') {
        @include assert {
          @include output {
            @include lg\:not-italic;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              font-style: normal;
            }
          }
        }
      }

      @include it('xl\:italic') {
        @include assert {
          @include output {
            @include xl\:italic;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              font-style: italic;
            }
          }
        }
      }

      @include it('xl\:not-italic') {
        @include assert {
          @include output {
            @include xl\:not-italic;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              font-style: normal;
            }
          }
        }
      }

      @include it('2xl\:italic') {
        @include assert {
          @include output {
            @include \2xl\:italic;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              font-style: italic;
            }
          }
        }
      }

      @include it('2xl\:not-italic') {
        @include assert {
          @include output {
            @include \2xl\:not-italic;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              font-style: normal;
            }
          }
        }
      }
    }
  }
}
