// @forward "FontFamily";
// @forward "FontSize";
// @forward "FontSmoothing";
// @forward "FontStyle";
// @forward "FontVariantNumeric";
// @forward "FontWeight";
// @forward "Hyphens";
@forward "LetterSpacing";
@forward "LineClamp";
@forward "LineHeight";
@forward "ListStyleImage";
@forward "ListStylePosition";
@forward "ListStyleType";
@forward "TextAlign";
@forward "TextColor";
@forward "TextDecoration";
@forward "TextDecorationColor";
@forward "TextDecorationStyle";
@forward "TextDecorationThickness";
@forward "TextIndent";
@forward "TextOverflow";
@forward "TextTransform";
@forward "TextUnderlineOffset";
@forward "TextWrap";
@forward "VerticalAlign";
@forward "Whitespace";
@forward "WordBreak";
