@include describe('5.Typography') {
  @include describe('List Style Type') {
    @include describe('Basic') {
      @include it('list-none') {
        @include assert {
          @include output {
            @include list-none;
            @include utils_reset-tw;
          }

          @include expect {
            list-style-type: none;
          }
        }
      }

      @include it('list-disc') {
        @include assert {
          @include output {
            @include list-disc;
            @include utils_reset-tw;
          }

          @include expect {
            list-style-type: disc;
          }
        }
      }

      @include it('list-decimal') {
        @include assert {
          @include output {
            @include list-decimal;
            @include utils_reset-tw;
          }

          @include expect {
            list-style-type: decimal;
          }
        }
      }
    }

    @include describe('Custom') {
      @include it('list-(upper-roman)') {
        @include assert {
          @include output {
            @include list-(upper-roman);
            @include utils_reset-tw;
          }

          @include expect {
            list-style-type: upper-roman;
          }
        }
      }
    }
  }
}
