@include describe('5.Typography') {
  @include describe('List Style Position') {
    @include describe('Basic') {
      @include it('list-inside') {
        @include assert {
          @include output {
            @include list-inside;
            @include utils__reset-tw-variables;
          }

          @include expect {
            list-style-position: inside;
          }
        }
      }

      @include it('list-outside') {
        @include assert {
          @include output {
            @include list-outside;
            @include utils__reset-tw-variables;
          }

          @include expect {
            list-style-position: outside;
          }
        }
      }
    }

    @include describe('Rwd') {
      @include it('sm\:list-inside') {
        @include assert {
          @include output {
            @include sm\:list-inside;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              list-style-position: inside;
            }
          }
        }
      }

      @include it('sm\:list-outside') {
        @include assert {
          @include output {
            @include sm\:list-outside;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              list-style-position: outside;
            }
          }
        }
      }

      @include it('md\:list-inside') {
        @include assert {
          @include output {
            @include md\:list-inside;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              list-style-position: inside;
            }
          }
        }
      }

      @include it('md\:list-outside') {
        @include assert {
          @include output {
            @include md\:list-outside;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              list-style-position: outside;
            }
          }
        }
      }

      @include it('lg\:list-inside') {
        @include assert {
          @include output {
            @include lg\:list-inside;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              list-style-position: inside;
            }
          }
        }
      }

      @include it('lg\:list-outside') {
        @include assert {
          @include output {
            @include lg\:list-outside;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              list-style-position: outside;
            }
          }
        }
      }

      @include it('xl\:list-inside') {
        @include assert {
          @include output {
            @include xl\:list-inside;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              list-style-position: inside;
            }
          }
        }
      }

      @include it('xl\:list-outside') {
        @include assert {
          @include output {
            @include xl\:list-outside;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              list-style-position: outside;
            }
          }
        }
      }

      @include it('2xl\:list-inside') {
        @include assert {
          @include output {
            @include \2xl\:list-inside;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              list-style-position: inside;
            }
          }
        }
      }

      @include it('2xl\:list-outside') {
        @include assert {
          @include output {
            @include \2xl\:list-outside;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              list-style-position: outside;
            }
          }
        }
      }
    }
  }
}
