@include describe('5.Typography') {
  @include describe('List Style Image') {
    @include describe('Basic') {
      @include it('list-image-none') {
        @include assert {
          @include output {
            @include list-image-none;
            @include utils__reset-tw-variables;
          }

          @include expect {
            list-style-image: none;
          }
        }
      }
    }

    @include describe('Rwd') {
      @include it('sm\:list-image-none') {
        @include assert {
          @include output {
            @include sm\:list-image-none;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              list-style-image: none;
            }
          }
        }
      }

      @include it('md\:list-image-none') {
        @include assert {
          @include output {
            @include md\:list-image-none;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              list-style-image: none;
            }
          }
        }
      }

      @include it('lg\:list-image-none') {
        @include assert {
          @include output {
            @include lg\:list-image-none;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              list-style-image: none;
            }
          }
        }
      }

      @include it('xl\:list-image-none') {
        @include assert {
          @include output {
            @include xl\:list-image-none;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              list-style-image: none;
            }
          }
        }
      }

      @include it('2xl\:list-image-none') {
        @include assert {
          @include output {
            @include \2xl\:list-image-none;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              list-style-image: none;
            }
          }
        }
      }
    }

    @include describe('Custom') {
      @include it('list-image-(url(checkmark.png))') {
        @include assert {
          @include output {
            @include list-image-(url(checkmark.png));
            @include utils__reset-tw-variables;
          }

          @include expect {
            list-style-image: url(checkmark.png);
          }
        }
      }

      @include it('sm\:list-image-(url(checkmark.png))') {
        @include assert {
          @include output {
            @include sm\:list-image-(url(checkmark.png));
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              list-style-image: url(checkmark.png);
            }
          }
        }
      }

      @include it('md\:list-image-(url(checkmark.png))') {
        @include assert {
          @include output {
            @include md\:list-image-(url(checkmark.png));
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              list-style-image: url(checkmark.png);
            }
          }
        }
      }

      @include it('lg\:list-image-(url(checkmark.png))') {
        @include assert {
          @include output {
            @include lg\:list-image-(url(checkmark.png));
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              list-style-image: url(checkmark.png);
            }
          }
        }
      }

      @include it('xl\:list-image-(url(checkmark.png))') {
        @include assert {
          @include output {
            @include xl\:list-image-(url(checkmark.png));
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              list-style-image: url(checkmark.png);
            }
          }
        }
      }

      @include it('2xl\:list-image-(url(checkmark.png))') {
        @include assert {
          @include output {
            @include \2xl\:list-image-(url(checkmark.png));
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              list-style-image: url(checkmark.png);
            }
          }
        }
      }
    }
  }
}
