@include describe('5.Typography') {
  @include describe('Text Decoration Thickness') {
    @include describe('Basic') {
      @include it('decoration-auto') {
        @include assert {
          @include output {
            @include decoration-auto;
            @include utils_reset-tw-variables;
          }

          @include expect {
            text-decoration-thickness: auto;
          }
        }
      }

      @include it('decoration-from-font') {
        @include assert {
          @include output {
            @include decoration-from-font;
            @include utils_reset-tw-variables;
          }

          @include expect {
            text-decoration-thickness: from-font;
          }
        }
      }

      @include it('decoration-0') {
        @include assert {
          @include output {
            @include decoration-0;
            @include utils_reset-tw-variables;
          }

          @include expect {
            text-decoration-thickness: 0px;
          }
        }
      }

      @include it('decoration-1') {
        @include assert {
          @include output {
            @include decoration-1;
            @include utils_reset-tw-variables;
          }

          @include expect {
            text-decoration-thickness: 1px;
          }
        }
      }

      @include it('decoration-2') {
        @include assert {
          @include output {
            @include decoration-2;
            @include utils_reset-tw-variables;
          }

          @include expect {
            text-decoration-thickness: 2px;
          }
        }
      }

      @include it('decoration-4') {
        @include assert {
          @include output {
            @include decoration-4;
            @include utils_reset-tw-variables;
          }

          @include expect {
            text-decoration-thickness: 4px;
          }
        }
      }

      @include it('decoration-8') {
        @include assert {
          @include output {
            @include decoration-8;
            @include utils_reset-tw-variables;
          }

          @include expect {
            text-decoration-thickness: 8px;
          }
        }
      }
    }

    @include describe('Rwd') {
      @include it('sm\:decoration-auto') {
        @include assert {
          @include output {
            @include sm\:decoration-auto;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              text-decoration-thickness: auto;
            }
          }
        }
      }

      @include it('sm\:decoration-from-font') {
        @include assert {
          @include output {
            @include sm\:decoration-from-font;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              text-decoration-thickness: from-font;
            }
          }
        }
      }

      @include it('sm\:decoration-0') {
        @include assert {
          @include output {
            @include sm\:decoration-0;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              text-decoration-thickness: 0px;
            }
          }
        }
      }

      @include it('sm\:decoration-1') {
        @include assert {
          @include output {
            @include sm\:decoration-1;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              text-decoration-thickness: 1px;
            }
          }
        }
      }

      @include it('sm\:decoration-2') {
        @include assert {
          @include output {
            @include sm\:decoration-2;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              text-decoration-thickness: 2px;
            }
          }
        }
      }

      @include it('sm\:decoration-4') {
        @include assert {
          @include output {
            @include sm\:decoration-4;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              text-decoration-thickness: 4px;
            }
          }
        }
      }

      @include it('sm\:decoration-8') {
        @include assert {
          @include output {
            @include sm\:decoration-8;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              text-decoration-thickness: 8px;
            }
          }
        }
      }

      @include it('md\:decoration-auto') {
        @include assert {
          @include output {
            @include md\:decoration-auto;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              text-decoration-thickness: auto;
            }
          }
        }
      }

      @include it('md\:decoration-from-font') {
        @include assert {
          @include output {
            @include md\:decoration-from-font;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              text-decoration-thickness: from-font;
            }
          }
        }
      }

      @include it('md\:decoration-0') {
        @include assert {
          @include output {
            @include md\:decoration-0;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              text-decoration-thickness: 0px;
            }
          }
        }
      }

      @include it('md\:decoration-1') {
        @include assert {
          @include output {
            @include md\:decoration-1;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              text-decoration-thickness: 1px;
            }
          }
        }
      }

      @include it('md\:decoration-2') {
        @include assert {
          @include output {
            @include md\:decoration-2;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              text-decoration-thickness: 2px;
            }
          }
        }
      }

      @include it('md\:decoration-4') {
        @include assert {
          @include output {
            @include md\:decoration-4;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              text-decoration-thickness: 4px;
            }
          }
        }
      }

      @include it('md\:decoration-8') {
        @include assert {
          @include output {
            @include md\:decoration-8;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              text-decoration-thickness: 8px;
            }
          }
        }
      }

      @include it('lg\:decoration-auto') {
        @include assert {
          @include output {
            @include lg\:decoration-auto;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              text-decoration-thickness: auto;
            }
          }
        }
      }

      @include it('lg\:decoration-from-font') {
        @include assert {
          @include output {
            @include lg\:decoration-from-font;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              text-decoration-thickness: from-font;
            }
          }
        }
      }

      @include it('lg\:decoration-0') {
        @include assert {
          @include output {
            @include lg\:decoration-0;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              text-decoration-thickness: 0px;
            }
          }
        }
      }

      @include it('lg\:decoration-1') {
        @include assert {
          @include output {
            @include lg\:decoration-1;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              text-decoration-thickness: 1px;
            }
          }
        }
      }

      @include it('lg\:decoration-2') {
        @include assert {
          @include output {
            @include lg\:decoration-2;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              text-decoration-thickness: 2px;
            }
          }
        }
      }

      @include it('lg\:decoration-4') {
        @include assert {
          @include output {
            @include lg\:decoration-4;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              text-decoration-thickness: 4px;
            }
          }
        }
      }

      @include it('lg\:decoration-8') {
        @include assert {
          @include output {
            @include lg\:decoration-8;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              text-decoration-thickness: 8px;
            }
          }
        }
      }

      @include it('xl\:decoration-auto') {
        @include assert {
          @include output {
            @include xl\:decoration-auto;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              text-decoration-thickness: auto;
            }
          }
        }
      }

      @include it('xl\:decoration-from-font') {
        @include assert {
          @include output {
            @include xl\:decoration-from-font;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              text-decoration-thickness: from-font;
            }
          }
        }
      }

      @include it('xl\:decoration-0') {
        @include assert {
          @include output {
            @include xl\:decoration-0;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              text-decoration-thickness: 0px;
            }
          }
        }
      }

      @include it('xl\:decoration-1') {
        @include assert {
          @include output {
            @include xl\:decoration-1;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              text-decoration-thickness: 1px;
            }
          }
        }
      }

      @include it('xl\:decoration-2') {
        @include assert {
          @include output {
            @include xl\:decoration-2;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              text-decoration-thickness: 2px;
            }
          }
        }
      }

      @include it('xl\:decoration-4') {
        @include assert {
          @include output {
            @include xl\:decoration-4;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              text-decoration-thickness: 4px;
            }
          }
        }
      }

      @include it('xl\:decoration-8') {
        @include assert {
          @include output {
            @include xl\:decoration-8;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              text-decoration-thickness: 8px;
            }
          }
        }
      }

      @include it('2xl\:decoration-auto') {
        @include assert {
          @include output {
            @include \2xl\:decoration-auto;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xxl) {
              text-decoration-thickness: auto;
            }
          }
        }
      }

      @include it('2xl\:decoration-from-font') {
        @include assert {
          @include output {
            @include \2xl\:decoration-from-font;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xxl) {
              text-decoration-thickness: from-font;
            }
          }
        }
      }

      @include it('2xl\:decoration-0') {
        @include assert {
          @include output {
            @include \2xl\:decoration-0;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xxl) {
              text-decoration-thickness: 0px;
            }
          }
        }
      }

      @include it('2xl\:decoration-1') {
        @include assert {
          @include output {
            @include \2xl\:decoration-1;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xxl) {
              text-decoration-thickness: 1px;
            }
          }
        }
      }

      @include it('2xl\:decoration-2') {
        @include assert {
          @include output {
            @include \2xl\:decoration-2;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xxl) {
              text-decoration-thickness: 2px;
            }
          }
        }
      }

      @include it('2xl\:decoration-4') {
        @include assert {
          @include output {
            @include \2xl\:decoration-4;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xxl) {
              text-decoration-thickness: 4px;
            }
          }
        }
      }

      @include it('2xl\:decoration-8') {
        @include assert {
          @include output {
            @include \2xl\:decoration-8;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xxl) {
              text-decoration-thickness: 8px;
            }
          }
        }
      }
    }

    @include describe('Custom') {
      @include it('decoration-(3px)') {
        @include assert {
          @include output {
            @include decoration-(3px);
            @include utils_reset-tw-variables;
          }

          @include expect {
            text-decoration-thickness: 3px;
          }
        }
      }

      @include it('sm\:decoration-(3px)') {
        @include assert {
          @include output {
            @include sm\:decoration-(3px);
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              text-decoration-thickness: 3px;
            }
          }
        }
      }

      @include it('md\:decoration-(3px)') {
        @include assert {
          @include output {
            @include md\:decoration-(3px);
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              text-decoration-thickness: 3px;
            }
          }
        }
      }

      @include it('lg\:decoration-(3px)') {
        @include assert {
          @include output {
            @include lg\:decoration-(3px);
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              text-decoration-thickness: 3px;
            }
          }
        }
      }

      @include it('xl\:decoration-(3px)') {
        @include assert {
          @include output {
            @include xl\:decoration-(3px);
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              text-decoration-thickness: 3px;
            }
          }
        }
      }

      @include it('2xl\:decoration-(3px)') {
        @include assert {
          @include output {
            @include \2xl\:decoration-(3px);
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xxl) {
              text-decoration-thickness: 3px;
            }
          }
        }
      }
    }
  }
}
