

@include describe('5.Typography') {
  @include describe('Text Wrap') {
    @include describe('Basic') {
      @include it('text-wrap') {
        @include assert {
          @include output {
            @include text-wrap;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            text-wrap: wrap;
          }
        }
      }

      @include it('text-nowrap') {
        @include assert {
          @include output {
            @include text-nowrap;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            text-wrap: nowrap;
          }
        }
      }

      @include it('text-balance') {
        @include assert {
          @include output {
            @include text-balance;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            text-wrap: balance;
          }
        }
      }

      @include it('text-pretty') {
        @include assert {
          @include output {
            @include text-pretty;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            text-wrap: pretty;
          }
        }
      }
    }

    @include describe('Rwd') {
      @include it('sm\:text-wrap') {
        @include assert {
          @include output {
            @include sm\:text-wrap;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              text-wrap: wrap;
            }
          }
        }
      }

      @include it('sm\:text-nowrap') {
        @include assert {
          @include output {
            @include sm\:text-nowrap;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              text-wrap: nowrap;
            }
          }
        }
      }

      @include it('sm\:text-balance') {
        @include assert {
          @include output {
            @include sm\:text-balance;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              text-wrap: balance;
            }
          }
        }
      }

      @include it('sm\:text-pretty') {
        @include assert {
          @include output {
            @include sm\:text-pretty;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              text-wrap: pretty;
            }
          }
        }
      }

      @include it('md\:text-wrap') {
        @include assert {
          @include output {
            @include md\:text-wrap;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              text-wrap: wrap;
            }
          }
        }
      }

      @include it('md\:text-nowrap') {
        @include assert {
          @include output {
            @include md\:text-nowrap;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              text-wrap: nowrap;
            }
          }
        }
      }

      @include it('md\:text-balance') {
        @include assert {
          @include output {
            @include md\:text-balance;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              text-wrap: balance;
            }
          }
        }
      }

      @include it('md\:text-pretty') {
        @include assert {
          @include output {
            @include md\:text-pretty;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              text-wrap: pretty;
            }
          }
        }
      }

      @include it('lg\:text-wrap') {
        @include assert {
          @include output {
            @include lg\:text-wrap;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              text-wrap: wrap;
            }
          }
        }
      }

      @include it('lg\:text-nowrap') {
        @include assert {
          @include output {
            @include lg\:text-nowrap;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              text-wrap: nowrap;
            }
          }
        }
      }

      @include it('lg\:text-balance') {
        @include assert {
          @include output {
            @include lg\:text-balance;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              text-wrap: balance;
            }
          }
        }
      }

      @include it('lg\:text-pretty') {
        @include assert {
          @include output {
            @include lg\:text-pretty;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              text-wrap: pretty;
            }
          }
        }
      }

      @include it('xl\:text-wrap') {
        @include assert {
          @include output {
            @include xl\:text-wrap;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              text-wrap: wrap;
            }
          }
        }
      }

      @include it('xl\:text-nowrap') {
        @include assert {
          @include output {
            @include xl\:text-nowrap;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              text-wrap: nowrap;
            }
          }
        }
      }

      @include it('xl\:text-balance') {
        @include assert {
          @include output {
            @include xl\:text-balance;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              text-wrap: balance;
            }
          }
        }
      }

      @include it('xl\:text-pretty') {
        @include assert {
          @include output {
            @include xl\:text-pretty;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              text-wrap: pretty;
            }
          }
        }
      }

      @include it('2xl\:text-wrap') {
        @include assert {
          @include output {
            @include \2xl\:text-wrap;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_2xl) {
              text-wrap: wrap;
            }
          }
        }
      }

      @include it('2xl\:text-nowrap') {
        @include assert {
          @include output {
            @include \2xl\:text-nowrap;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_2xl) {
              text-wrap: nowrap;
            }
          }
        }
      }

      @include it('2xl\:text-balance') {
        @include assert {
          @include output {
            @include \2xl\:text-balance;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_2xl) {
              text-wrap: balance;
            }
          }
        }
      }

      @include it('2xl\:text-pretty') {
        @include assert {
          @include output {
            @include \2xl\:text-pretty;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_2xl) {
              text-wrap: pretty;
            }
          }
        }
      }
    }
  }
}
