@include describe('5.Typography') {
  @include describe('Text Transform') {
    @include describe('Basic') {
      @include it('uppercase') {
        @include assert {
          @include output {
            @include uppercase;
            @include utils_reset-tw-variables;
          }

          @include expect {
            text-transform: uppercase;
          }
        }
      }

      @include it('lowercase') {
        @include assert {
          @include output {
            @include lowercase;
            @include utils_reset-tw-variables;
          }

          @include expect {
            text-transform: lowercase;
          }
        }
      }

      @include it('capitalize') {
        @include assert {
          @include output {
            @include capitalize;
            @include utils_reset-tw-variables;
          }

          @include expect {
            text-transform: capitalize;
          }
        }
      }

      @include it('normal-case') {
        @include assert {
          @include output {
            @include normal-case;
            @include utils_reset-tw-variables;
          }

          @include expect {
            text-transform: none;
          }
        }
      }
    }

    @include describe('Rwd') {
      @include it('sm\:uppercase') {
        @include assert {
          @include output {
            @include sm\:uppercase;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              text-transform: uppercase;
            }
          }
        }
      }

      @include it('sm\:lowercase') {
        @include assert {
          @include output {
            @include sm\:lowercase;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              text-transform: lowercase;
            }
          }
        }
      }

      @include it('sm\:capitalize') {
        @include assert {
          @include output {
            @include sm\:capitalize;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              text-transform: capitalize;
            }
          }
        }
      }

      @include it('sm\:normal-case') {
        @include assert {
          @include output {
            @include sm\:normal-case;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              text-transform: none;
            }
          }
        }
      }

      @include it('md\:uppercase') {
        @include assert {
          @include output {
            @include md\:uppercase;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              text-transform: uppercase;
            }
          }
        }
      }

      @include it('md\:lowercase') {
        @include assert {
          @include output {
            @include md\:lowercase;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              text-transform: lowercase;
            }
          }
        }
      }

      @include it('md\:capitalize') {
        @include assert {
          @include output {
            @include md\:capitalize;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              text-transform: capitalize;
            }
          }
        }
      }

      @include it('md\:normal-case') {
        @include assert {
          @include output {
            @include md\:normal-case;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              text-transform: none;
            }
          }
        }
      }

      @include it('lg\:uppercase') {
        @include assert {
          @include output {
            @include lg\:uppercase;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              text-transform: uppercase;
            }
          }
        }
      }

      @include it('lg\:lowercase') {
        @include assert {
          @include output {
            @include lg\:lowercase;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              text-transform: lowercase;
            }
          }
        }
      }

      @include it('lg\:capitalize') {
        @include assert {
          @include output {
            @include lg\:capitalize;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              text-transform: capitalize;
            }
          }
        }
      }

      @include it('lg\:normal-case') {
        @include assert {
          @include output {
            @include lg\:normal-case;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              text-transform: none;
            }
          }
        }
      }

      @include it('xl\:uppercase') {
        @include assert {
          @include output {
            @include xl\:uppercase;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              text-transform: uppercase;
            }
          }
        }
      }

      @include it('xl\:lowercase') {
        @include assert {
          @include output {
            @include xl\:lowercase;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              text-transform: lowercase;
            }
          }
        }
      }

      @include it('xl\:capitalize') {
        @include assert {
          @include output {
            @include xl\:capitalize;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              text-transform: capitalize;
            }
          }
        }
      }

      @include it('xl\:normal-case') {
        @include assert {
          @include output {
            @include xl\:normal-case;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              text-transform: none;
            }
          }
        }
      }

      @include it('2xl\:uppercase') {
        @include assert {
          @include output {
            @include \2xl\:uppercase;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xxl) {
              text-transform: uppercase;
            }
          }
        }
      }

      @include it('2xl\:lowercase') {
        @include assert {
          @include output {
            @include \2xl\:lowercase;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xxl) {
              text-transform: lowercase;
            }
          }
        }
      }

      @include it('2xl\:capitalize') {
        @include assert {
          @include output {
            @include \2xl\:capitalize;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xxl) {
              text-transform: capitalize;
            }
          }
        }
      }

      @include it('2xl\:normal-case') {
        @include assert {
          @include output {
            @include \2xl\:normal-case;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xxl) {
              text-transform: none;
            }
          }
        }
      }
    }
  }
}
