@include describe('5.Typography') {
  @include describe('Text Decoration') {
    @include describe('Basic') {
      @include it('underline') {
        @include assert {
          @include output {
            @include underline;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            text-decoration-line: underline;
          }
        }
      }

      @include it('overline') {
        @include assert {
          @include output {
            @include overline;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            text-decoration-line: overline;
          }
        }
      }

      @include it('line-through') {
        @include assert {
          @include output {
            @include line-through;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            text-decoration-line: line-through;
          }
        }
      }

      @include it('no-underline') {
        @include assert {
          @include output {
            @include no-underline;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            text-decoration-line: none;
          }
        }
      }
    }
    @include describe('Rwd') {
      @include it('sm\:underline') {
        @include assert {
          @include output {
            @include sm\:underline;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              text-decoration-line: underline;
            }
          }
        }
      }

      @include it('sm\:overline') {
        @include assert {
          @include output {
            @include sm\:overline;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              text-decoration-line: overline;
            }
          }
        }
      }

      @include it('sm\:line-through') {
        @include assert {
          @include output {
            @include sm\:line-through;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              text-decoration-line: line-through;
            }
          }
        }
      }

      @include it('sm\:no-underline') {
        @include assert {
          @include output {
            @include sm\:no-underline;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              text-decoration-line: none;
            }
          }
        }
      }

      @include it('md\:underline') {
        @include assert {
          @include output {
            @include md\:underline;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              text-decoration-line: underline;
            }
          }
        }
      }

      @include it('md\:overline') {
        @include assert {
          @include output {
            @include md\:overline;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              text-decoration-line: overline;
            }
          }
        }
      }

      @include it('md\:line-through') {
        @include assert {
          @include output {
            @include md\:line-through;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              text-decoration-line: line-through;
            }
          }
        }
      }

      @include it('md\:no-underline') {
        @include assert {
          @include output {
            @include md\:no-underline;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              text-decoration-line: none;
            }
          }
        }
      }

      @include it('lg\:underline') {
        @include assert {
          @include output {
            @include lg\:underline;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              text-decoration-line: underline;
            }
          }
        }
      }

      @include it('lg\:overline') {
        @include assert {
          @include output {
            @include lg\:overline;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              text-decoration-line: overline;
            }
          }
        }
      }

      @include it('lg\:line-through') {
        @include assert {
          @include output {
            @include lg\:line-through;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              text-decoration-line: line-through;
            }
          }
        }
      }

      @include it('lg\:no-underline') {
        @include assert {
          @include output {
            @include lg\:no-underline;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              text-decoration-line: none;
            }
          }
        }
      }

      @include it('xl\:underline') {
        @include assert {
          @include output {
            @include xl\:underline;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              text-decoration-line: underline;
            }
          }
        }
      }

      @include it('xl\:overline') {
        @include assert {
          @include output {
            @include xl\:overline;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              text-decoration-line: overline;
            }
          }
        }
      }

      @include it('xl\:line-through') {
        @include assert {
          @include output {
            @include xl\:line-through;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              text-decoration-line: line-through;
            }
          }
        }
      }

      @include it('xl\:no-underline') {
        @include assert {
          @include output {
            @include xl\:no-underline;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              text-decoration-line: none;
            }
          }
        }
      }

      @include it('2xl\:underline') {
        @include assert {
          @include output {
            @include \2xl\:underline;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              text-decoration-line: underline;
            }
          }
        }
      }

      @include it('2xl\:overline') {
        @include assert {
          @include output {
            @include \2xl\:overline;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              text-decoration-line: overline;
            }
          }
        }
      }

      @include it('2xl\:line-through') {
        @include assert {
          @include output {
            @include \2xl\:line-through;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              text-decoration-line: line-through;
            }
          }
        }
      }

      @include it('2xl\:no-underline') {
        @include assert {
          @include output {
            @include \2xl\:no-underline;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              text-decoration-line: none;
            }
          }
        }
      }
    }
  }
}
