@include describe('5.Typography') {
  @include describe('Whitespace') {
    @include describe('Basic') {
      @include it('whitespace-normal') {
        @include assert {
          @include output {
            @include whitespace-normal;
            @include utils_reset-tw;
          }

          @include expect {
            white-space: normal;
          }
        }
      }

      @include it('whitespace-nowrap') {
        @include assert {
          @include output {
            @include whitespace-nowrap;
            @include utils_reset-tw;
          }

          @include expect {
            white-space: nowrap;
          }
        }
      }

      @include it('whitespace-pre') {
        @include assert {
          @include output {
            @include whitespace-pre;
            @include utils_reset-tw;
          }

          @include expect {
            white-space: pre;
          }
        }
      }

      @include it('whitespace-pre-line') {
        @include assert {
          @include output {
            @include whitespace-pre-line;
            @include utils_reset-tw;
          }

          @include expect {
            white-space: pre-line;
          }
        }
      }

      @include it('whitespace-pre-wrap') {
        @include assert {
          @include output {
            @include whitespace-pre-wrap;
            @include utils_reset-tw;
          }

          @include expect {
            white-space: pre-wrap;
          }
        }
      }

      @include it('whitespace-break-spaces') {
        @include assert {
          @include output {
            @include whitespace-break-spaces;
            @include utils_reset-tw;
          }

          @include expect {
            white-space: break-spaces;
          }
        }
      }
    }

    @include describe('Rwd') {
      @include it('sm\:whitespace-normal') {
        @include assert {
          @include output {
            @include sm\:whitespace-normal;
            @include utils_reset-tw;
          }

          @include expect {
            @media (min-width: $_sm) {
              white-space: normal;
            }
          }
        }
      }

      @include it('sm\:whitespace-nowrap') {
        @include assert {
          @include output {
            @include sm\:whitespace-nowrap;
            @include utils_reset-tw;
          }

          @include expect {
            @media (min-width: $_sm) {
              white-space: nowrap;
            }
          }
        }
      }

      @include it('sm\:whitespace-pre') {
        @include assert {
          @include output {
            @include sm\:whitespace-pre;
            @include utils_reset-tw;
          }

          @include expect {
            @media (min-width: $_sm) {
              white-space: pre;
            }
          }
        }
      }

      @include it('sm\:whitespace-pre-line') {
        @include assert {
          @include output {
            @include sm\:whitespace-pre-line;
            @include utils_reset-tw;
          }

          @include expect {
            @media (min-width: $_sm) {
              white-space: pre-line;
            }
          }
        }
      }

      @include it('sm\:whitespace-pre-wrap') {
        @include assert {
          @include output {
            @include sm\:whitespace-pre-wrap;
            @include utils_reset-tw;
          }

          @include expect {
            @media (min-width: $_sm) {
              white-space: pre-wrap;
            }
          }
        }
      }

      @include it('sm\:whitespace-break-spaces') {
        @include assert {
          @include output {
            @include sm\:whitespace-break-spaces;
            @include utils_reset-tw;
          }

          @include expect {
            @media (min-width: $_sm) {
              white-space: break-spaces;
            }
          }
        }
      }

      @include it('md\:whitespace-normal') {
        @include assert {
          @include output {
            @include md\:whitespace-normal;
            @include utils_reset-tw;
          }

          @include expect {
            @media (min-width: $_md) {
              white-space: normal;
            }
          }
        }
      }

      @include it('md\:whitespace-nowrap') {
        @include assert {
          @include output {
            @include md\:whitespace-nowrap;
            @include utils_reset-tw;
          }

          @include expect {
            @media (min-width: $_md) {
              white-space: nowrap;
            }
          }
        }
      }

      @include it('md\:whitespace-pre') {
        @include assert {
          @include output {
            @include md\:whitespace-pre;
            @include utils_reset-tw;
          }

          @include expect {
            @media (min-width: $_md) {
              white-space: pre;
            }
          }
        }
      }

      @include it('md\:whitespace-pre-line') {
        @include assert {
          @include output {
            @include md\:whitespace-pre-line;
            @include utils_reset-tw;
          }

          @include expect {
            @media (min-width: $_md) {
              white-space: pre-line;
            }
          }
        }
      }

      @include it('md\:whitespace-pre-wrap') {
        @include assert {
          @include output {
            @include md\:whitespace-pre-wrap;
            @include utils_reset-tw;
          }

          @include expect {
            @media (min-width: $_md) {
              white-space: pre-wrap;
            }
          }
        }
      }

      @include it('md\:whitespace-break-spaces') {
        @include assert {
          @include output {
            @include md\:whitespace-break-spaces;
            @include utils_reset-tw;
          }

          @include expect {
            @media (min-width: $_md) {
              white-space: break-spaces;
            }
          }
        }
      }

      @include it('lg\:whitespace-normal') {
        @include assert {
          @include output {
            @include lg\:whitespace-normal;
            @include utils_reset-tw;
          }

          @include expect {
            @media (min-width: $_lg) {
              white-space: normal;
            }
          }
        }
      }

      @include it('lg\:whitespace-nowrap') {
        @include assert {
          @include output {
            @include lg\:whitespace-nowrap;
            @include utils_reset-tw;
          }

          @include expect {
            @media (min-width: $_lg) {
              white-space: nowrap;
            }
          }
        }
      }

      @include it('lg\:whitespace-pre') {
        @include assert {
          @include output {
            @include lg\:whitespace-pre;
            @include utils_reset-tw;
          }

          @include expect {
            @media (min-width: $_lg) {
              white-space: pre;
            }
          }
        }
      }

      @include it('lg\:whitespace-pre-line') {
        @include assert {
          @include output {
            @include lg\:whitespace-pre-line;
            @include utils_reset-tw;
          }

          @include expect {
            @media (min-width: $_lg) {
              white-space: pre-line;
            }
          }
        }
      }

      @include it('lg\:whitespace-pre-wrap') {
        @include assert {
          @include output {
            @include lg\:whitespace-pre-wrap;
            @include utils_reset-tw;
          }

          @include expect {
            @media (min-width: $_lg) {
              white-space: pre-wrap;
            }
          }
        }
      }

      @include it('lg\:whitespace-break-spaces') {
        @include assert {
          @include output {
            @include lg\:whitespace-break-spaces;
            @include utils_reset-tw;
          }

          @include expect {
            @media (min-width: $_lg) {
              white-space: break-spaces;
            }
          }
        }
      }

      @include it('xl\:whitespace-normal') {
        @include assert {
          @include output {
            @include xl\:whitespace-normal;
            @include utils_reset-tw;
          }

          @include expect {
            @media (min-width: $_xl) {
              white-space: normal;
            }
          }
        }
      }

      @include it('xl\:whitespace-nowrap') {
        @include assert {
          @include output {
            @include xl\:whitespace-nowrap;
            @include utils_reset-tw;
          }

          @include expect {
            @media (min-width: $_xl) {
              white-space: nowrap;
            }
          }
        }
      }

      @include it('xl\:whitespace-pre') {
        @include assert {
          @include output {
            @include xl\:whitespace-pre;
            @include utils_reset-tw;
          }

          @include expect {
            @media (min-width: $_xl) {
              white-space: pre;
            }
          }
        }
      }

      @include it('xl\:whitespace-pre-line') {
        @include assert {
          @include output {
            @include xl\:whitespace-pre-line;
            @include utils_reset-tw;
          }

          @include expect {
            @media (min-width: $_xl) {
              white-space: pre-line;
            }
          }
        }
      }

      @include it('xl\:whitespace-pre-wrap') {
        @include assert {
          @include output {
            @include xl\:whitespace-pre-wrap;
            @include utils_reset-tw;
          }

          @include expect {
            @media (min-width: $_xl) {
              white-space: pre-wrap;
            }
          }
        }
      }

      @include it('xl\:whitespace-break-spaces') {
        @include assert {
          @include output {
            @include xl\:whitespace-break-spaces;
            @include utils_reset-tw;
          }

          @include expect {
            @media (min-width: $_xl) {
              white-space: break-spaces;
            }
          }
        }
      }

      @include it('2xl\:whitespace-normal') {
        @include assert {
          @include output {
            @include \2xl\:whitespace-normal;
            @include utils_reset-tw;
          }

          @include expect {
            @media (min-width: $_xxl) {
              white-space: normal;
            }
          }
        }
      }

      @include it('2xl\:whitespace-nowrap') {
        @include assert {
          @include output {
            @include \2xl\:whitespace-nowrap;
            @include utils_reset-tw;
          }

          @include expect {
            @media (min-width: $_xxl) {
              white-space: nowrap;
            }
          }
        }
      }

      @include it('2xl\:whitespace-pre') {
        @include assert {
          @include output {
            @include \2xl\:whitespace-pre;
            @include utils_reset-tw;
          }

          @include expect {
            @media (min-width: $_xxl) {
              white-space: pre;
            }
          }
        }
      }

      @include it('2xl\:whitespace-pre-line') {
        @include assert {
          @include output {
            @include \2xl\:whitespace-pre-line;
            @include utils_reset-tw;
          }

          @include expect {
            @media (min-width: $_xxl) {
              white-space: pre-line;
            }
          }
        }
      }

      @include it('2xl\:whitespace-pre-wrap') {
        @include assert {
          @include output {
            @include \2xl\:whitespace-pre-wrap;
            @include utils_reset-tw;
          }

          @include expect {
            @media (min-width: $_xxl) {
              white-space: pre-wrap;
            }
          }
        }
      }

      @include it('2xl\:whitespace-break-spaces') {
        @include assert {
          @include output {
            @include \2xl\:whitespace-break-spaces;
            @include utils_reset-tw;
          }

          @include expect {
            @media (min-width: $_xxl) {
              white-space: break-spaces;
            }
          }
        }
      }
    }
  }
}
