@use "../../mode0" as *;
@use "true" as *;

@include describe("5.Typography") {
  @include describe("Text Decoration") {
    @include describe("Basic") {
      @include it("underline") {
        @include assert {
          @include output {
            @include underline;
            @include reset;
          }

          @include expect {
            text-decoration-line: underline;
          }
        }
      }

      @include it("overline") {
        @include assert {
          @include output {
            @include overline;
            @include reset;
          }

          @include expect {
            text-decoration-line: overline;
          }
        }
      }

      @include it("line-through") {
        @include assert {
          @include output {
            @include line-through;
            @include reset;
          }

          @include expect {
            text-decoration-line: line-through;
          }
        }
      }

      @include it("no-underline") {
        @include assert {
          @include output {
            @include no-underline;
            @include reset;
          }

          @include expect {
            text-decoration-line: none;
          }
        }
      }
    }
    @include describe("Rwd") {
      @include it("sm\:underline") {
        @include assert {
          @include output {
            @include sm\:underline;
            @include reset;
          }

          @include expect {
            @media (min-width: $sm) {
              text-decoration-line: underline;
            }
          }
        }
      }

      @include it("sm\:overline") {
        @include assert {
          @include output {
            @include sm\:overline;
            @include reset;
          }

          @include expect {
            @media (min-width: $sm) {
              text-decoration-line: overline;
            }
          }
        }
      }

      @include it("sm\:line-through") {
        @include assert {
          @include output {
            @include sm\:line-through;
            @include reset;
          }

          @include expect {
            @media (min-width: $sm) {
              text-decoration-line: line-through;
            }
          }
        }
      }

      @include it("sm\:no-underline") {
        @include assert {
          @include output {
            @include sm\:no-underline;
            @include reset;
          }

          @include expect {
            @media (min-width: $sm) {
              text-decoration-line: none;
            }
          }
        }
      }

      @include it("md\:underline") {
        @include assert {
          @include output {
            @include md\:underline;
            @include reset;
          }

          @include expect {
            @media (min-width: $md) {
              text-decoration-line: underline;
            }
          }
        }
      }

      @include it("md\:overline") {
        @include assert {
          @include output {
            @include md\:overline;
            @include reset;
          }

          @include expect {
            @media (min-width: $md) {
              text-decoration-line: overline;
            }
          }
        }
      }

      @include it("md\:line-through") {
        @include assert {
          @include output {
            @include md\:line-through;
            @include reset;
          }

          @include expect {
            @media (min-width: $md) {
              text-decoration-line: line-through;
            }
          }
        }
      }

      @include it("md\:no-underline") {
        @include assert {
          @include output {
            @include md\:no-underline;
            @include reset;
          }

          @include expect {
            @media (min-width: $md) {
              text-decoration-line: none;
            }
          }
        }
      }

      @include it("lg\:underline") {
        @include assert {
          @include output {
            @include lg\:underline;
            @include reset;
          }

          @include expect {
            @media (min-width: $lg) {
              text-decoration-line: underline;
            }
          }
        }
      }

      @include it("lg\:overline") {
        @include assert {
          @include output {
            @include lg\:overline;
            @include reset;
          }

          @include expect {
            @media (min-width: $lg) {
              text-decoration-line: overline;
            }
          }
        }
      }

      @include it("lg\:line-through") {
        @include assert {
          @include output {
            @include lg\:line-through;
            @include reset;
          }

          @include expect {
            @media (min-width: $lg) {
              text-decoration-line: line-through;
            }
          }
        }
      }

      @include it("lg\:no-underline") {
        @include assert {
          @include output {
            @include lg\:no-underline;
            @include reset;
          }

          @include expect {
            @media (min-width: $lg) {
              text-decoration-line: none;
            }
          }
        }
      }

      @include it("xl\:underline") {
        @include assert {
          @include output {
            @include xl\:underline;
            @include reset;
          }

          @include expect {
            @media (min-width: $xl) {
              text-decoration-line: underline;
            }
          }
        }
      }

      @include it("xl\:overline") {
        @include assert {
          @include output {
            @include xl\:overline;
            @include reset;
          }

          @include expect {
            @media (min-width: $xl) {
              text-decoration-line: overline;
            }
          }
        }
      }

      @include it("xl\:line-through") {
        @include assert {
          @include output {
            @include xl\:line-through;
            @include reset;
          }

          @include expect {
            @media (min-width: $xl) {
              text-decoration-line: line-through;
            }
          }
        }
      }

      @include it("xl\:no-underline") {
        @include assert {
          @include output {
            @include xl\:no-underline;
            @include reset;
          }

          @include expect {
            @media (min-width: $xl) {
              text-decoration-line: none;
            }
          }
        }
      }

      @include it("\2xl\:underline") {
        @include assert {
          @include output {
            @include \2xl\:underline;
            @include reset;
          }

          @include expect {
            @media (min-width: $\2xl) {
              text-decoration-line: underline;
            }
          }
        }
      }

      @include it("\2xl\:overline") {
        @include assert {
          @include output {
            @include \2xl\:overline;
            @include reset;
          }

          @include expect {
            @media (min-width: $\2xl) {
              text-decoration-line: overline;
            }
          }
        }
      }

      @include it("\2xl\:line-through") {
        @include assert {
          @include output {
            @include \2xl\:line-through;
            @include reset;
          }

          @include expect {
            @media (min-width: $\2xl) {
              text-decoration-line: line-through;
            }
          }
        }
      }

      @include it("\2xl\:no-underline") {
        @include assert {
          @include output {
            @include \2xl\:no-underline;
            @include reset;
          }

          @include expect {
            @media (min-width: $\2xl) {
              text-decoration-line: none;
            }
          }
        }
      }
    }
  }
}
