@use "../../setting" as *;

$ScrollPadding: (
  "0": "$\\0",
  "px": "$\\px",
  "0\\.5": "$\\0\\.5",
  "1": "$\\1",
  "1\\.5": "$\\1\\.5",
  "2": "$\\2",
  "2\\.5": "$\\2\\.5",
  "3": "$\\3",
  "3\\.5": "$\\3\\.5",
  "4": "$\\4",
  "5": "$\\5",
  "6": "$\\6",
  "7": "$\\7",
  "8": "$\\8",
  "9": "$\\9",
  "10": "$\\10",
  "11": "$\\11",
  "12": "$\\12",
  "14": "$\\14",
  "16": "$\\16",
  "20": "$\\20",
  "24": "$\\24",
  "28": "$\\28",
  "32": "$\\32",
  "36": "$\\36",
  "40": "$\\40",
  "44": "$\\44",
  "48": "$\\48",
  "52": "$\\52",
  "56": "$\\56",
  "60": "$\\60",
  "64": "$\\64",
  "72": "$\\72",
  "80": "$\\80",
  "96": "$\\96",
);

@if $Basic {
  @each $key, $value in $ScrollPadding {
    /*x
    @mixin scroll-p-#{$key} {
      @include scroll-padding( #{$value});
    }

    @mixin scroll-px-#{$key} {
      @include scroll-padding-left(#{$value});
      @include scroll-padding-right(#{$value});
    }

    @mixin scroll-py-#{$key} {
      @include scroll-padding-top(#{$value});
      @include scroll-padding-bottom(#{$value});
    }

    @mixin scroll-ps-#{$key} {
      @include scroll-padding-inline-start(#{$value});
    }

    @mixin scroll-pe-#{$key} {
      @include scroll-padding-inline-end(#{$value});
    }

    @mixin scroll-pt-#{$key} {
      @include scroll-padding-top(#{$value});
    }

    @mixin scroll-pr-#{$key} {
      @include scroll-padding-right(#{$value});
    }

    @mixin scroll-pb-#{$key} {
      @include scroll-padding-bottom(#{$value});
    }

    @mixin scroll-pl-#{$key} {
      @include scroll-padding-left(#{$value});
    }
    x*/
  }
}

@if $Rwd and ($sizeMode ==0 or $sizeMode ==1) {
  @each $rwd in $rwdBox {
    @each $key, $value in $ScrollPadding {
      /*x
      @mixin #{$rwd}\:scroll-p-#{$key} {
        @include scroll-padding( #{$value}, $#{$rwd});
      }

      @mixin #{$rwd}\:scroll-px-#{$key} {
        @include #{$rwd} {
          @include scroll-padding-left(#{$value});
          @include scroll-padding-right(#{$value});
        }
      }

      @mixin #{$rwd}\:scroll-py-#{$key} {
        @include #{$rwd} {
          @include scroll-padding-top(#{$value});
          @include scroll-padding-bottom(#{$value});
        }
      }

      @mixin #{$rwd}\:scroll-ps-#{$key} {
        @include scroll-padding-inline-start(#{$value}, $#{$rwd});
      }

      @mixin #{$rwd}\:scroll-pe-#{$key} {
        @include scroll-padding-inline-end(#{$value}, $#{$rwd});
      }

      @mixin #{$rwd}\:scroll-pt-#{$key} {
        @include scroll-padding-top(#{$value}, $#{$rwd});
      }

      @mixin #{$rwd}\:scroll-pr-#{$key} {
        @include scroll-padding-right(#{$value}, $#{$rwd});
      }

      @mixin #{$rwd}\:scroll-pb-#{$key} {
        @include scroll-padding-bottom(#{$value}, $#{$rwd});
      }

      @mixin #{$rwd}\:scroll-pl-#{$key} {
        @include scroll-padding-left(#{$value}, $#{$rwd});
      }
      x*/
    }
  }
}

@if $Custom {
  /*x
  @mixin scroll-p-($v) {
    @include scroll-padding($v);
  }

  @mixin scroll-px-($v) {
    @include scroll-padding-left($v);
    @include scroll-padding-right($v);
  }

  @mixin scroll-py-($v) {
    @include scroll-padding-top($v);
    @include scroll-padding-bottom($v);
  }

  @mixin scroll-ps-($v) {
    @include scroll-padding-inline-start($v);
  }

  @mixin scroll-pe-($v) {
    @include scroll-padding-inline-end($v);
  }

  @mixin scroll-pt-($v) {
    @include scroll-padding-top($v);
  }

  @mixin scroll-pr-($v) {
    @include scroll-padding-right($v);
  }

  @mixin scroll-pb-($v) {
    @include scroll-padding-bottom($v);
  }

  @mixin scroll-pl-($v) {
    @include scroll-padding-left($v);
  }
  x*/

  @each $rwd in $rwdBox {
    /*x
    @mixin #{$rwd}\:scroll-p-($v) {
      @include scroll-padding($v, $#{$rwd});
    }

    @mixin #{$rwd}\:scroll-px-($v) {
      @include #{$rwd} {
        @include scroll-padding-left($v);
        @include scroll-padding-right($v);
      }
    }

    @mixin #{$rwd}\:scroll-py-($v) {
      @include #{$rwd} {
        @include scroll-padding-top($v);
        @include scroll-padding-bottom($v);
      }
    }

    @mixin #{$rwd}\:scroll-ps-($v) {
      @include scroll-padding-inline-start($v, $#{$rwd});
    }

    @mixin #{$rwd}\:scroll-pe-($v) {
      @include scroll-padding-inline-end($v, $#{$rwd});
    }

    @mixin #{$rwd}\:scroll-pt-($v) {
      @include scroll-padding-top($v, $#{$rwd});
    }

    @mixin #{$rwd}\:scroll-pr-($v) {
      @include scroll-padding-right($v, $#{$rwd});
    }

    @mixin #{$rwd}\:scroll-pb-($v) {
      @include scroll-padding-bottom($v, $#{$rwd});
    }

    @mixin #{$rwd}\:scroll-pl-($v) {
      @include scroll-padding-left($v, $#{$rwd});
    }
    x*/
  }
}
