@use "../../setting" as *;

/* Container */
@if $Basic {
  // /*x
  @mixin container($rwd: null) {
    @if $rwd==null {
      width: 100%;

      @media (min-width: $sm) {
        max-width: $sm;
      }

      @media (min-width: $md) {
        max-width: $md;
      }

      @media (min-width: $lg) {
        max-width: $lg;
      }

      @media (min-width: $xl) {
        max-width: $xl;
      }

      @media (min-width: $\2xl) {
        max-width: $\2xl;
      }
    } @else {
      @media (min-width: $rwd) {
        width: 100%;

        @media (min-width: $sm) {
          max-width: $sm;
        }

        @media (min-width: $md) {
          max-width: $md;
        }

        @media (min-width: $lg) {
          max-width: $lg;
        }

        @media (min-width: $xl) {
          max-width: $xl;
        }

        @media (min-width: $\2xl) {
          max-width: $\2xl;
        }
      }
    }
  }

  // x*/
}

@if $Rwd {
  // /*x
  @mixin sm\:container {
    @include container($sm);
  }

  @mixin md\:container {
    @include container($md);
  }

  @mixin lg\:container {
    @include container($lg);
  }

  @mixin xl\:container {
    @include container($xl);
  }

  @mixin \2xl\:container {
    @include container($\2xl);
  }

  // x*/
}
