@use "../../mode0" as *;
@use "true" as *;

@include describe("5.Typography") {
  @include describe("Hyphens") {
    @include describe("Basic") {
      @include it("hyphens-none") {
        @include assert {
          @include output {
            @include hyphens-none;
            @include clear;
          }

          @include expect {
            hyphens: none;
          }
        }
      }

      @include it("hyphens-manual") {
        @include assert {
          @include output {
            @include hyphens-manual;
            @include clear;
          }

          @include expect {
            hyphens: manual;
          }
        }
      }

      @include it("hyphens-auto") {
        @include assert {
          @include output {
            @include hyphens-auto;
            @include clear;
          }

          @include expect {
            hyphens: auto;
          }
        }
      }
    }

    @include describe("Rwd") {
      @include it("sm\:hyphens-none") {
        @include assert {
          @include output {
            @include sm\:hyphens-none;
            @include clear;
          }

          @include expect {
            @media (min-width: $sm) {
              hyphens: none;
            }
          }
        }
      }

      @include it("sm\:hyphens-manual") {
        @include assert {
          @include output {
            @include sm\:hyphens-manual;
            @include clear;
          }

          @include expect {
            @media (min-width: $sm) {
              hyphens: manual;
            }
          }
        }
      }

      @include it("sm\:hyphens-auto") {
        @include assert {
          @include output {
            @include sm\:hyphens-auto;
            @include clear;
          }

          @include expect {
            @media (min-width: $sm) {
              hyphens: auto;
            }
          }
        }
      }

      @include it("md\:hyphens-none") {
        @include assert {
          @include output {
            @include md\:hyphens-none;
            @include clear;
          }

          @include expect {
            @media (min-width: $md) {
              hyphens: none;
            }
          }
        }
      }

      @include it("md\:hyphens-manual") {
        @include assert {
          @include output {
            @include md\:hyphens-manual;
            @include clear;
          }

          @include expect {
            @media (min-width: $md) {
              hyphens: manual;
            }
          }
        }
      }

      @include it("md\:hyphens-auto") {
        @include assert {
          @include output {
            @include md\:hyphens-auto;
            @include clear;
          }

          @include expect {
            @media (min-width: $md) {
              hyphens: auto;
            }
          }
        }
      }

      @include it("lg\:hyphens-none") {
        @include assert {
          @include output {
            @include lg\:hyphens-none;
            @include clear;
          }

          @include expect {
            @media (min-width: $lg) {
              hyphens: none;
            }
          }
        }
      }

      @include it("lg\:hyphens-manual") {
        @include assert {
          @include output {
            @include lg\:hyphens-manual;
            @include clear;
          }

          @include expect {
            @media (min-width: $lg) {
              hyphens: manual;
            }
          }
        }
      }

      @include it("lg\:hyphens-auto") {
        @include assert {
          @include output {
            @include lg\:hyphens-auto;
            @include clear;
          }

          @include expect {
            @media (min-width: $lg) {
              hyphens: auto;
            }
          }
        }
      }

      @include it("xl\:hyphens-none") {
        @include assert {
          @include output {
            @include xl\:hyphens-none;
            @include clear;
          }

          @include expect {
            @media (min-width: $xl) {
              hyphens: none;
            }
          }
        }
      }

      @include it("xl\:hyphens-manual") {
        @include assert {
          @include output {
            @include xl\:hyphens-manual;
            @include clear;
          }

          @include expect {
            @media (min-width: $xl) {
              hyphens: manual;
            }
          }
        }
      }

      @include it("xl\:hyphens-auto") {
        @include assert {
          @include output {
            @include xl\:hyphens-auto;
            @include clear;
          }

          @include expect {
            @media (min-width: $xl) {
              hyphens: auto;
            }
          }
        }
      }

      @include it("\2xl\:hyphens-none") {
        @include assert {
          @include output {
            @include \2xl\:hyphens-none;
            @include clear;
          }

          @include expect {
            @media (min-width: $\2xl) {
              hyphens: none;
            }
          }
        }
      }

      @include it("\2xl\:hyphens-manual") {
        @include assert {
          @include output {
            @include \2xl\:hyphens-manual;
            @include clear;
          }

          @include expect {
            @media (min-width: $\2xl) {
              hyphens: manual;
            }
          }
        }
      }

      @include it("\2xl\:hyphens-auto") {
        @include assert {
          @include output {
            @include \2xl\:hyphens-auto;
            @include clear;
          }

          @include expect {
            @media (min-width: $\2xl) {
              hyphens: auto;
            }
          }
        }
      }
    }
  }
}
