@use "../../setting" as *;


$TransitionDuration: (
  "duration-0": 0s,
  "duration-75": 75ms,
  "duration-100": 100ms,
  "duration-150": 150ms,
  "duration-200": 200ms,
  "duration-300": 300ms,
  "duration-500": 500ms,
  "duration-700": 700ms,
  "duration-1000": 1000ms,
);

@if $Basic {
  @each $key, $value in $TransitionDuration {
    /*x
    @mixin #{$key} {
      @include transition-duration(#{$value});
    }
    x*/
  }
}

@if $Rwd and ($sizeMode ==0 or $sizeMode ==1) {
  @each $rwd in $rwdBox {
    @each $key, $value in $TransitionDuration {
      /*x
      @mixin #{$rwd}\:#{$key} {
        @include transition-duration(#{$value}, $#{$rwd});
      }
      x*/
    }
  }
}

@if $Custom {
  /*x
  @mixin duration-($v) {
    @include transition-duration($v);
  }
  x*/

  @each $rwd in $rwdBox {
    /*x
    @mixin #{$rwd}\:duration-($v) {
      @include transition-duration($v, $#{$rwd});
    }
    x*/
  }
}