@use "../../mode0" as *;
@use "true" as *;

@include describe("9.Filters") {
  @include describe("Contrast") {
    @include describe("Basic") {
      @include it("contrast-0") {
        @include assert {
          @include output {
            @include contrast-0;
            @include clear;
          }

          @include expect {
            filter: contrast(0);
          }
        }
      }

      @include it("contrast-50") {
        @include assert {
          @include output {
            @include contrast-50;
            @include clear;
          }

          @include expect {
            filter: contrast(0.5);
          }
        }
      }

      @include it("contrast-75") {
        @include assert {
          @include output {
            @include contrast-75;
            @include clear;
          }

          @include expect {
            filter: contrast(0.75);
          }
        }
      }

      @include it("contrast-100") {
        @include assert {
          @include output {
            @include contrast-100;
            @include clear;
          }

          @include expect {
            filter: contrast(1);
          }
        }
      }

      @include it("contrast-125") {
        @include assert {
          @include output {
            @include contrast-125;
            @include clear;
          }

          @include expect {
            filter: contrast(1.25);
          }
        }
      }

      @include it("contrast-150") {
        @include assert {
          @include output {
            @include contrast-150;
            @include clear;
          }

          @include expect {
            filter: contrast(1.5);
          }
        }
      }

      @include it("contrast-200") {
        @include assert {
          @include output {
            @include contrast-200;
            @include clear;
          }

          @include expect {
            filter: contrast(2);
          }
        }
      }
    }

    @include describe("Rwd") {
      @include it("sm\:contrast-0") {
        @include assert {
          @include output {
            @include sm\:contrast-0;
            @include clear;
          }

          @include expect {
            @media (min-width: $sm) {
              filter: contrast(0);
            }
          }
        }
      }

      @include it("sm\:contrast-50") {
        @include assert {
          @include output {
            @include sm\:contrast-50;
            @include clear;
          }

          @include expect {
            @media (min-width: $sm) {
              filter: contrast(0.5);
            }
          }
        }
      }

      @include it("sm\:contrast-75") {
        @include assert {
          @include output {
            @include sm\:contrast-75;
            @include clear;
          }

          @include expect {
            @media (min-width: $sm) {
              filter: contrast(0.75);
            }
          }
        }
      }

      @include it("sm\:contrast-100") {
        @include assert {
          @include output {
            @include sm\:contrast-100;
            @include clear;
          }

          @include expect {
            @media (min-width: $sm) {
              filter: contrast(1);
            }
          }
        }
      }

      @include it("sm\:contrast-125") {
        @include assert {
          @include output {
            @include sm\:contrast-125;
            @include clear;
          }

          @include expect {
            @media (min-width: $sm) {
              filter: contrast(1.25);
            }
          }
        }
      }

      @include it("sm\:contrast-150") {
        @include assert {
          @include output {
            @include sm\:contrast-150;
            @include clear;
          }

          @include expect {
            @media (min-width: $sm) {
              filter: contrast(1.5);
            }
          }
        }
      }

      @include it("sm\:contrast-200") {
        @include assert {
          @include output {
            @include sm\:contrast-200;
            @include clear;
          }

          @include expect {
            @media (min-width: $sm) {
              filter: contrast(2);
            }
          }
        }
      }

      @include it("md\:contrast-0") {
        @include assert {
          @include output {
            @include md\:contrast-0;
            @include clear;
          }

          @include expect {
            @media (min-width: $md) {
              filter: contrast(0);
            }
          }
        }
      }

      @include it("md\:contrast-50") {
        @include assert {
          @include output {
            @include md\:contrast-50;
            @include clear;
          }

          @include expect {
            @media (min-width: $md) {
              filter: contrast(0.5);
            }
          }
        }
      }

      @include it("md\:contrast-75") {
        @include assert {
          @include output {
            @include md\:contrast-75;
            @include clear;
          }

          @include expect {
            @media (min-width: $md) {
              filter: contrast(0.75);
            }
          }
        }
      }

      @include it("md\:contrast-100") {
        @include assert {
          @include output {
            @include md\:contrast-100;
            @include clear;
          }

          @include expect {
            @media (min-width: $md) {
              filter: contrast(1);
            }
          }
        }
      }

      @include it("md\:contrast-125") {
        @include assert {
          @include output {
            @include md\:contrast-125;
            @include clear;
          }

          @include expect {
            @media (min-width: $md) {
              filter: contrast(1.25);
            }
          }
        }
      }

      @include it("md\:contrast-150") {
        @include assert {
          @include output {
            @include md\:contrast-150;
            @include clear;
          }

          @include expect {
            @media (min-width: $md) {
              filter: contrast(1.5);
            }
          }
        }
      }

      @include it("md\:contrast-200") {
        @include assert {
          @include output {
            @include md\:contrast-200;
            @include clear;
          }

          @include expect {
            @media (min-width: $md) {
              filter: contrast(2);
            }
          }
        }
      }

      @include it("lg\:contrast-0") {
        @include assert {
          @include output {
            @include lg\:contrast-0;
            @include clear;
          }

          @include expect {
            @media (min-width: $lg) {
              filter: contrast(0);
            }
          }
        }
      }

      @include it("lg\:contrast-50") {
        @include assert {
          @include output {
            @include lg\:contrast-50;
            @include clear;
          }

          @include expect {
            @media (min-width: $lg) {
              filter: contrast(0.5);
            }
          }
        }
      }

      @include it("lg\:contrast-75") {
        @include assert {
          @include output {
            @include lg\:contrast-75;
            @include clear;
          }

          @include expect {
            @media (min-width: $lg) {
              filter: contrast(0.75);
            }
          }
        }
      }

      @include it("lg\:contrast-100") {
        @include assert {
          @include output {
            @include lg\:contrast-100;
            @include clear;
          }

          @include expect {
            @media (min-width: $lg) {
              filter: contrast(1);
            }
          }
        }
      }

      @include it("lg\:contrast-125") {
        @include assert {
          @include output {
            @include lg\:contrast-125;
            @include clear;
          }

          @include expect {
            @media (min-width: $lg) {
              filter: contrast(1.25);
            }
          }
        }
      }

      @include it("lg\:contrast-150") {
        @include assert {
          @include output {
            @include lg\:contrast-150;
            @include clear;
          }

          @include expect {
            @media (min-width: $lg) {
              filter: contrast(1.5);
            }
          }
        }
      }

      @include it("lg\:contrast-200") {
        @include assert {
          @include output {
            @include lg\:contrast-200;
            @include clear;
          }

          @include expect {
            @media (min-width: $lg) {
              filter: contrast(2);
            }
          }
        }
      }

      @include it("xl\:contrast-0") {
        @include assert {
          @include output {
            @include xl\:contrast-0;
            @include clear;
          }

          @include expect {
            @media (min-width: $xl) {
              filter: contrast(0);
            }
          }
        }
      }

      @include it("xl\:contrast-50") {
        @include assert {
          @include output {
            @include xl\:contrast-50;
            @include clear;
          }

          @include expect {
            @media (min-width: $xl) {
              filter: contrast(0.5);
            }
          }
        }
      }

      @include it("xl\:contrast-75") {
        @include assert {
          @include output {
            @include xl\:contrast-75;
            @include clear;
          }

          @include expect {
            @media (min-width: $xl) {
              filter: contrast(0.75);
            }
          }
        }
      }

      @include it("xl\:contrast-100") {
        @include assert {
          @include output {
            @include xl\:contrast-100;
            @include clear;
          }

          @include expect {
            @media (min-width: $xl) {
              filter: contrast(1);
            }
          }
        }
      }

      @include it("xl\:contrast-125") {
        @include assert {
          @include output {
            @include xl\:contrast-125;
            @include clear;
          }

          @include expect {
            @media (min-width: $xl) {
              filter: contrast(1.25);
            }
          }
        }
      }

      @include it("xl\:contrast-150") {
        @include assert {
          @include output {
            @include xl\:contrast-150;
            @include clear;
          }

          @include expect {
            @media (min-width: $xl) {
              filter: contrast(1.5);
            }
          }
        }
      }

      @include it("xl\:contrast-200") {
        @include assert {
          @include output {
            @include xl\:contrast-200;
            @include clear;
          }

          @include expect {
            @media (min-width: $xl) {
              filter: contrast(2);
            }
          }
        }
      }

      @include it("\2xl\:contrast-0") {
        @include assert {
          @include output {
            @include \2xl\:contrast-0;
            @include clear;
          }

          @include expect {
            @media (min-width: $\2xl) {
              filter: contrast(0);
            }
          }
        }
      }

      @include it("\2xl\:contrast-50") {
        @include assert {
          @include output {
            @include \2xl\:contrast-50;
            @include clear;
          }

          @include expect {
            @media (min-width: $\2xl) {
              filter: contrast(0.5);
            }
          }
        }
      }

      @include it("\2xl\:contrast-75") {
        @include assert {
          @include output {
            @include \2xl\:contrast-75;
            @include clear;
          }

          @include expect {
            @media (min-width: $\2xl) {
              filter: contrast(0.75);
            }
          }
        }
      }

      @include it("\2xl\:contrast-100") {
        @include assert {
          @include output {
            @include \2xl\:contrast-100;
            @include clear;
          }

          @include expect {
            @media (min-width: $\2xl) {
              filter: contrast(1);
            }
          }
        }
      }

      @include it("\2xl\:contrast-125") {
        @include assert {
          @include output {
            @include \2xl\:contrast-125;
            @include clear;
          }

          @include expect {
            @media (min-width: $\2xl) {
              filter: contrast(1.25);
            }
          }
        }
      }

      @include it("\2xl\:contrast-150") {
        @include assert {
          @include output {
            @include \2xl\:contrast-150;
            @include clear;
          }

          @include expect {
            @media (min-width: $\2xl) {
              filter: contrast(1.5);
            }
          }
        }
      }

      @include it("\2xl\:contrast-200") {
        @include assert {
          @include output {
            @include \2xl\:contrast-200;
            @include clear;
          }

          @include expect {
            @media (min-width: $\2xl) {
              filter: contrast(2);
            }
          }
        }
      }
    }

    @include describe("Custom") {
      @include it("contrast-(.25)") {
        @include assert {
          @include output {
            @include contrast-(0.25);
            @include clear;
          }

          @include expect {
            filter: contrast(0.25);
          }
        }
      }

      @include it("sm\:contrast-(.25)") {
        @include assert {
          @include output {
            @include sm\:contrast-(0.25);
            @include clear;
          }

          @include expect {
            @media (min-width: $sm) {
              filter: contrast(0.25);
            }
          }
        }
      }

      @include it("md\:contrast-(.25)") {
        @include assert {
          @include output {
            @include md\:contrast-(0.25);
            @include clear;
          }

          @include expect {
            @media (min-width: $md) {
              filter: contrast(0.25);
            }
          }
        }
      }

      @include it("lg\:contrast-(.25)") {
        @include assert {
          @include output {
            @include lg\:contrast-(0.25);
            @include clear;
          }

          @include expect {
            @media (min-width: $lg) {
              filter: contrast(0.25);
            }
          }
        }
      }

      @include it("xl\:contrast-(.25)") {
        @include assert {
          @include output {
            @include xl\:contrast-(0.25);
            @include clear;
          }

          @include expect {
            @media (min-width: $xl) {
              filter: contrast(0.25);
            }
          }
        }
      }

      @include it("\2xl\:contrast-(.25)") {
        @include assert {
          @include output {
            @include \2xl\:contrast-(0.25);
            @include clear;
          }

          @include expect {
            @media (min-width: $\2xl) {
              filter: contrast(0.25);
            }
          }
        }
      }
    }
  }
}
