@use "true" as *;
@use "../escss" as *;

@include describe("10-Tables") {
  @include describe("1-Border Collapse") {
    @include describe("Basic") {
      @include it("border-collapse") {
        @include assert {
          @include output {
            @include border-collapse;
          }

          @include expect {
            border-collapse: collapse;
          }
        }
      }

      @include it("border-separate") {
        @include assert {
          @include output {
            @include border-separate;
          }

          @include expect {
            border-collapse: separate;
          }
        }
      }
    }
  }
}
