@use "../setting" as *;

$BackdropBlur: (
  "backdrop-blur-none": blur(0),
  "backdrop-blur-sm": "blur($blur-sm)",
  "backdrop-blur": "blur($blur)",
  "backdrop-blur-md": "blur($blur-md)",
  "backdrop-blur-lg": "blur($blur-lg)",
  "backdrop-blur-xl": "blur($blur-xl)",
  "backdrop-blur-2xl": "blur($blur-2xl)",
  "backdrop-blur-3xl": "blur($blur-3xl)",
);

@if $isBasicUsage {
  /*x
    @mixin backdrop-filter {
      -webkit-backdrop-filter: _b-f();
      backdrop-filter: _b-f();
    }

    @mixin backdrop-filter-none {
      -webkit-backdrop-filter: none;
      backdrop-filter: none;
    }
    x*/
  @each $key, $value in $BackdropBlur {
    /*x
    @mixin #{$key} {
      --tw-backdrop-blur: #/*x{#{$value}};
      backdrop-filter: _b-f();
    }
    x*/
  }
}

@if $isUsingCustomValues {
  /*x
  @mixin backdrop-blur-($v) {
    --tw-backdrop-blur: #/*x{blur($v)};
    backdrop-filter: _b-f();
  }
  x*/
}
