@use "../../../settings/structures" as *;

@if $TextWrap {
  #mixin__text-wrap {
    text-wrap: wrap;
  }

  #mixin__text-nowrap {
    text-wrap: nowrap;
  }

  #mixin__text-balance {
    text-wrap: balance;
  }

  #mixin__text-pretty {
    text-wrap: pretty;
  }
}
