@use "../../setting" as *;


$FlexDirection: (
  "flex-row": row,
  "flex-row-reverse": row-reverse,
  "flex-col": column,
  "flex-col-reverse": column-reverse,
);

@if $Basic {
  @each $key, $value in $FlexDirection {
    /*x
    @mixin #{$key} {
      @include flex-direction(#{$value});
    }
    x*/
  }
}

@if $Rwd {
  @each $rwd in $rwdBox {
    @each $key, $value in $FlexDirection {
      /*x
      @mixin #{$rwd}\:#{$key} {
        @include flex-direction(#{$value}, $#{$rwd});
      }
      x*/
    }
  }
}

