@use "../../mode0" as *;
@use "true" as *;

@include describe("2.Flexbox & Grid") {
  @include describe("Justify Self") {
    @include describe("Basic") {
      @include it("justify-self-auto") {
        @include assert {
          @include output {
            @include justify-self-auto;
            @include clear;
          }

          @include expect {
            justify-self: auto;
          }
        }
      }

      @include it("justify-self-start") {
        @include assert {
          @include output {
            @include justify-self-start;
            @include clear;
          }

          @include expect {
            justify-self: start;
          }
        }
      }

      @include it("justify-self-end") {
        @include assert {
          @include output {
            @include justify-self-end;
            @include clear;
          }

          @include expect {
            justify-self: end;
          }
        }
      }

      @include it("justify-self-center") {
        @include assert {
          @include output {
            @include justify-self-center;
            @include clear;
          }

          @include expect {
            justify-self: center;
          }
        }
      }

      @include it("justify-self-stretch") {
        @include assert {
          @include output {
            @include justify-self-stretch;
            @include clear;
          }

          @include expect {
            justify-self: stretch;
          }
        }
      }
    }

    @include describe("Rwd") {
      @include it("sm\:justify-self-auto") {
        @include assert {
          @include output {
            @include sm\:justify-self-auto;
            @include clear;
          }

          @include expect {
            @media (min-width: $sm) {
              justify-self: auto;
            }
          }
        }
      }

      @include it("sm\:justify-self-start") {
        @include assert {
          @include output {
            @include sm\:justify-self-start;
            @include clear;
          }

          @include expect {
            @media (min-width: $sm) {
              justify-self: start;
            }
          }
        }
      }

      @include it("sm\:justify-self-end") {
        @include assert {
          @include output {
            @include sm\:justify-self-end;
            @include clear;
          }

          @include expect {
            @media (min-width: $sm) {
              justify-self: end;
            }
          }
        }
      }

      @include it("sm\:justify-self-center") {
        @include assert {
          @include output {
            @include sm\:justify-self-center;
            @include clear;
          }

          @include expect {
            @media (min-width: $sm) {
              justify-self: center;
            }
          }
        }
      }

      @include it("sm\:justify-self-stretch") {
        @include assert {
          @include output {
            @include sm\:justify-self-stretch;
            @include clear;
          }

          @include expect {
            @media (min-width: $sm) {
              justify-self: stretch;
            }
          }
        }
      }

      @include it("md\:justify-self-auto") {
        @include assert {
          @include output {
            @include md\:justify-self-auto;
            @include clear;
          }

          @include expect {
            @media (min-width: $md) {
              justify-self: auto;
            }
          }
        }
      }

      @include it("md\:justify-self-start") {
        @include assert {
          @include output {
            @include md\:justify-self-start;
            @include clear;
          }

          @include expect {
            @media (min-width: $md) {
              justify-self: start;
            }
          }
        }
      }

      @include it("md\:justify-self-end") {
        @include assert {
          @include output {
            @include md\:justify-self-end;
            @include clear;
          }

          @include expect {
            @media (min-width: $md) {
              justify-self: end;
            }
          }
        }
      }

      @include it("md\:justify-self-center") {
        @include assert {
          @include output {
            @include md\:justify-self-center;
            @include clear;
          }

          @include expect {
            @media (min-width: $md) {
              justify-self: center;
            }
          }
        }
      }

      @include it("md\:justify-self-stretch") {
        @include assert {
          @include output {
            @include md\:justify-self-stretch;
            @include clear;
          }

          @include expect {
            @media (min-width: $md) {
              justify-self: stretch;
            }
          }
        }
      }

      @include it("lg\:justify-self-auto") {
        @include assert {
          @include output {
            @include lg\:justify-self-auto;
            @include clear;
          }

          @include expect {
            @media (min-width: $lg) {
              justify-self: auto;
            }
          }
        }
      }

      @include it("lg\:justify-self-start") {
        @include assert {
          @include output {
            @include lg\:justify-self-start;
            @include clear;
          }

          @include expect {
            @media (min-width: $lg) {
              justify-self: start;
            }
          }
        }
      }

      @include it("lg\:justify-self-end") {
        @include assert {
          @include output {
            @include lg\:justify-self-end;
            @include clear;
          }

          @include expect {
            @media (min-width: $lg) {
              justify-self: end;
            }
          }
        }
      }

      @include it("lg\:justify-self-center") {
        @include assert {
          @include output {
            @include lg\:justify-self-center;
            @include clear;
          }

          @include expect {
            @media (min-width: $lg) {
              justify-self: center;
            }
          }
        }
      }

      @include it("lg\:justify-self-stretch") {
        @include assert {
          @include output {
            @include lg\:justify-self-stretch;
            @include clear;
          }

          @include expect {
            @media (min-width: $lg) {
              justify-self: stretch;
            }
          }
        }
      }

      @include it("xl\:justify-self-auto") {
        @include assert {
          @include output {
            @include xl\:justify-self-auto;
            @include clear;
          }

          @include expect {
            @media (min-width: $xl) {
              justify-self: auto;
            }
          }
        }
      }

      @include it("xl\:justify-self-start") {
        @include assert {
          @include output {
            @include xl\:justify-self-start;
            @include clear;
          }

          @include expect {
            @media (min-width: $xl) {
              justify-self: start;
            }
          }
        }
      }

      @include it("xl\:justify-self-end") {
        @include assert {
          @include output {
            @include xl\:justify-self-end;
            @include clear;
          }

          @include expect {
            @media (min-width: $xl) {
              justify-self: end;
            }
          }
        }
      }

      @include it("xl\:justify-self-center") {
        @include assert {
          @include output {
            @include xl\:justify-self-center;
            @include clear;
          }

          @include expect {
            @media (min-width: $xl) {
              justify-self: center;
            }
          }
        }
      }

      @include it("xl\:justify-self-stretch") {
        @include assert {
          @include output {
            @include xl\:justify-self-stretch;
            @include clear;
          }

          @include expect {
            @media (min-width: $xl) {
              justify-self: stretch;
            }
          }
        }
      }

      @include it("\2xl\:justify-self-auto") {
        @include assert {
          @include output {
            @include \2xl\:justify-self-auto;
            @include clear;
          }

          @include expect {
            @media (min-width: $\2xl) {
              justify-self: auto;
            }
          }
        }
      }

      @include it("\2xl\:justify-self-start") {
        @include assert {
          @include output {
            @include \2xl\:justify-self-start;
            @include clear;
          }

          @include expect {
            @media (min-width: $\2xl) {
              justify-self: start;
            }
          }
        }
      }

      @include it("\2xl\:justify-self-end") {
        @include assert {
          @include output {
            @include \2xl\:justify-self-end;
            @include clear;
          }

          @include expect {
            @media (min-width: $\2xl) {
              justify-self: end;
            }
          }
        }
      }

      @include it("\2xl\:justify-self-center") {
        @include assert {
          @include output {
            @include \2xl\:justify-self-center;
            @include clear;
          }

          @include expect {
            @media (min-width: $\2xl) {
              justify-self: center;
            }
          }
        }
      }

      @include it("\2xl\:justify-self-stretch") {
        @include assert {
          @include output {
            @include \2xl\:justify-self-stretch;
            @include clear;
          }

          @include expect {
            @media (min-width: $\2xl) {
              justify-self: stretch;
            }
          }
        }
      }
    }
  }
}
