@use "../../setting" as *;

/* Box Sizing */
@if $Basic {
  /*x
  @mixin box-border {
    box-sizing: border-box;
  }

  @mixin box-content {
    box-sizing: content-box;
  }
  x*/
}

@if $Rwd {
  /*x
  @mixin sm\:box-border {
    @media (min-width: $Rwd-sm) {
      box-sizing: border-box;
    }
  }

  @mixin sm\:box-content {
    @media (min-width: $Rwd-sm) {
      box-sizing: content-box;
    }
  }

  @mixin md\:box-border {
    @media (min-width: $Rwd-md) {
      box-sizing: border-box;
    }
  }

  @mixin md\:box-content {
    @media (min-width: $Rwd-md) {
      box-sizing: content-box;
    }
  }

  @mixin lg\:box-border {
    @media (min-width: $Rwd-lg) {
      box-sizing: border-box;
    }
  }

  @mixin lg\:box-content {
    @media (min-width: $Rwd-lg) {
      box-sizing: content-box;
    }
  }

  @mixin xl\:box-border {
    @media (min-width: $Rwd-xl) {
      box-sizing: border-box;
    }
  }

  @mixin xl\:box-content {
    @media (min-width: $Rwd-xl) {
      box-sizing: content-box;
    }
  }

  @mixin \2xl\:box-border {
    @media (min-width: $Rwd-2xl) {
      box-sizing: border-box;
    }
  }

  @mixin \2xl\:box-content {
    @media (min-width: $Rwd-2xl) {
      box-sizing: content-box;
    }
  }
  x*/
}
