@use "../../setting" as *;

/* Box Sizing */
@if $Basic {
  @mixin_box-border {
    box-sizing: border-box;
  }

  @mixin_box-content {
    box-sizing: content-box;
  }
}

@if $Rwd {
  @mixin_sm\:box-border {
    @media (min-width: $breakpoint-sm) {
      box-sizing: border-box;
    }
  }

  @mixin_sm\:box-content {
    @media (min-width: $breakpoint-sm) {
      box-sizing: content-box;
    }
  }

  @mixin_md\:box-border {
    @media (min-width: $breakpoint-md) {
      box-sizing: border-box;
    }
  }

  @mixin_md\:box-content {
    @media (min-width: $breakpoint-md) {
      box-sizing: content-box;
    }
  }

  @mixin_lg\:box-border {
    @media (min-width: $breakpoint-lg) {
      box-sizing: border-box;
    }
  }

  @mixin_lg\:box-content {
    @media (min-width: $breakpoint-lg) {
      box-sizing: content-box;
    }
  }

  @mixin_xl\:box-border {
    @media (min-width: $breakpoint-xl) {
      box-sizing: border-box;
    }
  }

  @mixin_xl\:box-content {
    @media (min-width: $breakpoint-xl) {
      box-sizing: content-box;
    }
  }

  @mixin_\\2xl\:box-border {
    @media (min-width: $breakpoint-2xl) {
      box-sizing: border-box;
    }
  }

  @mixin_\\2xl\:box-content {
    @media (min-width: $breakpoint-2xl) {
      box-sizing: content-box;
    }
  }
}
