@use "../../../settings/structures" as *;

@if $Skew {
  %-skew-x-0 {
    --tw-skew-x: skewX(-0deg);
    transform: translate(var(--tw-translate-x), var(--tw-translate-y))
      rotate(var(--tw-rotate))
      skewX(var(--tw-skew-x))
      skewY(var(--tw-skew-y))
      scaleX(var(--tw-scale-x))
      scaleY(var(--tw-scale-y));
  }

  %-skew-y-0 {
    --tw-skew-y: skewY(-0deg);
    transform: translate(var(--tw-translate-x), var(--tw-translate-y))
      rotate(var(--tw-rotate))
      skewX(var(--tw-skew-x))
      skewY(var(--tw-skew-y))
      scaleX(var(--tw-scale-x))
      scaleY(var(--tw-scale-y));
  }

  %-skew-x-1 {
    --tw-skew-x: skewX(-1deg);
    transform: translate(var(--tw-translate-x), var(--tw-translate-y))
      rotate(var(--tw-rotate))
      skewX(var(--tw-skew-x))
      skewY(var(--tw-skew-y))
      scaleX(var(--tw-scale-x))
      scaleY(var(--tw-scale-y));
  }

  %-skew-y-1 {
    --tw-skew-y: skewY(-1deg);
    transform: translate(var(--tw-translate-x), var(--tw-translate-y))
      rotate(var(--tw-rotate))
      skewX(var(--tw-skew-x))
      skewY(var(--tw-skew-y))
      scaleX(var(--tw-scale-x))
      scaleY(var(--tw-scale-y));
  }

  %-skew-x-2 {
    --tw-skew-x: skewX(-2deg);
    transform: translate(var(--tw-translate-x), var(--tw-translate-y))
      rotate(var(--tw-rotate))
      skewX(var(--tw-skew-x))
      skewY(var(--tw-skew-y))
      scaleX(var(--tw-scale-x))
      scaleY(var(--tw-scale-y));
  }

  %-skew-y-2 {
    --tw-skew-y: skewY(-2deg);
    transform: translate(var(--tw-translate-x), var(--tw-translate-y))
      rotate(var(--tw-rotate))
      skewX(var(--tw-skew-x))
      skewY(var(--tw-skew-y))
      scaleX(var(--tw-scale-x))
      scaleY(var(--tw-scale-y));
  }

  %-skew-x-3 {
    --tw-skew-x: skewX(-3deg);
    transform: translate(var(--tw-translate-x), var(--tw-translate-y))
      rotate(var(--tw-rotate))
      skewX(var(--tw-skew-x))
      skewY(var(--tw-skew-y))
      scaleX(var(--tw-scale-x))
      scaleY(var(--tw-scale-y));
  }

  %-skew-y-3 {
    --tw-skew-y: skewY(-3deg);
    transform: translate(var(--tw-translate-x), var(--tw-translate-y))
      rotate(var(--tw-rotate))
      skewX(var(--tw-skew-x))
      skewY(var(--tw-skew-y))
      scaleX(var(--tw-scale-x))
      scaleY(var(--tw-scale-y));
  }

  %-skew-x-6 {
    --tw-skew-x: skewX(-6deg);
    transform: translate(var(--tw-translate-x), var(--tw-translate-y))
      rotate(var(--tw-rotate))
      skewX(var(--tw-skew-x))
      skewY(var(--tw-skew-y))
      scaleX(var(--tw-scale-x))
      scaleY(var(--tw-scale-y));
  }

  %-skew-y-6 {
    --tw-skew-y: skewY(-6deg);
    transform: translate(var(--tw-translate-x), var(--tw-translate-y))
      rotate(var(--tw-rotate))
      skewX(var(--tw-skew-x))
      skewY(var(--tw-skew-y))
      scaleX(var(--tw-scale-x))
      scaleY(var(--tw-scale-y));
  }

  %-skew-x-12 {
    --tw-skew-x: skewX(-12deg);
    transform: translate(var(--tw-translate-x), var(--tw-translate-y))
      rotate(var(--tw-rotate))
      skewX(var(--tw-skew-x))
      skewY(var(--tw-skew-y))
      scaleX(var(--tw-scale-x))
      scaleY(var(--tw-scale-y));
  }

  %-skew-y-12 {
    --tw-skew-y: skewY(-12deg);
    transform: translate(var(--tw-translate-x), var(--tw-translate-y))
      rotate(var(--tw-rotate))
      skewX(var(--tw-skew-x))
      skewY(var(--tw-skew-y))
      scaleX(var(--tw-scale-x))
      scaleY(var(--tw-scale-y));
  }
}
