@use "../../setting" as *;

$box: (
  "0": "$\\0",
  "px": "$\\px",
  "0\\.5": "$\\0\\.5",
  "1": "$\\1",
  "1\\.5": "$\\1\\.5",
  "2": "$\\2",
  "2\\.5": "$\\2\\.5",
  "3": "$\\3",
  "3\\.5": "$\\3\\.5",
  "4": "$\\4",
  "5": "$\\5",
  "6": "$\\6",
  "7": "$\\7",
  "8": "$\\8",
  "9": "$\\9",
  "10": "$\\10",
  "11": "$\\11",
  "12": "$\\12",
  "14": "$\\14",
  "16": "$\\16",
  "20": "$\\20",
  "24": "$\\24",
  "28": "$\\28",
  "32": "$\\32",
  "36": "$\\36",
  "40": "$\\40",
  "44": "$\\44",
  "48": "$\\48",
  "52": "$\\52",
  "56": "$\\56",
  "60": "$\\60",
  "64": "$\\64",
  "72": "$\\72",
  "80": "$\\80",
  "96": "$\\96",
  "auto": "auto",
  "1\\/2": "50%",
  "1\\/3": "33.333333%",
  "2\\/3": "66.666667%",
  "1\\/4": "25%",
  "2\\/4": "50%",
  "3\\/4": "75%",
  "full": "100%",
);

@if $Basic {
  @each $key, $value in $box {
    /*x
    @mixin inset-#{$key} {
      inset: #{$value};
    }

    @mixin inset-x-#{$key} {
      left: #{$value};
      right: #{$value};
    }

    @mixin inset-y-#{$key} {
      top: #{$value};
      bottom: #{$value};
    }

    @mixin start-#{$key} {
      inset-inline-start: #{$value};
    }

    @mixin end-#{$key} {
      inset-inline-end: #{$value};
    }

    @mixin top-#{$key} {
      top: #{$value};
    }

    @mixin right-#{$key} {
      right: #{$value};
    }

    @mixin bottom-#{$key} {
      bottom: #{$value};
    }

    @mixin left-#{$key} {
      left: #{$value};
    }
    x*/
    /*x
    @mixin -inset-#{$key} {
      inset: -#{$value};
    }

    @mixin -inset-x-#{$key} {
      left: -#{$value};
      right: -#{$value};
    }

    @mixin -inset-y-#{$key} {
      top: -#{$value};
      bottom: -#{$value};
    }

    @mixin -start-#{$key} {
      inset-inline-start: -#{$value};
    }

    @mixin -end-#{$key} {
      inset-inline-end: -#{$value};
    }

    @mixin -top-#{$key} {
      top: -#{$value};
    }

    @mixin -right-#{$key} {
      right: -#{$value};
    }

    @mixin -bottom-#{$key} {
      bottom: -#{$value};
    }

    @mixin -left-#{$key} {
      left: -#{$value};
    }
    x*/
  }
}

@if $Rwd and ($sizeMode ==0 or $sizeMode ==1) {
  @each $rwd in $rwdBox {
    @each $key, $value in $box {
      /*x
      @mixin #{$rwd}\:inset-#{$key} {
        @include inset(#{$value}, $#{$rwd});
      }

      @mixin #{$rwd}\:inset-x-#{$key} {
        @include #{$rwd} {
          @include left(#{$value});
          @include right(#{$value});
        }
      }

      @mixin #{$rwd}\:inset-y-#{$key} {
        @include #{$rwd} {
          @include top(#{$value});
          @include bottom(#{$value});
        }
      }

      @mixin #{$rwd}\:start-#{$key} {
        @include inset-inline-start(#{$value}, $#{$rwd});
      }

      @mixin #{$rwd}\:end-#{$key} {
        @include inset-inline-end(#{$value}, $#{$rwd});
      }

      @mixin #{$rwd}\:top-#{$key} {
        @include top(#{$value}, $#{$rwd});
      }

      @mixin #{$rwd}\:right-#{$key} {
        @include right(#{$value}, $#{$rwd});
      }

      @mixin #{$rwd}\:bottom-#{$key} {
        @include bottom(#{$value}, $#{$rwd});
      }

      @mixin #{$rwd}\:left-#{$key} {
        @include left(#{$value}, $#{$rwd});
      }
      x*/
      /*x
      @mixin #{$rwd}\:-inset-#{$key} {
        @include inset(-#{$value}, $#{$rwd});
      }

      @mixin #{$rwd}\:-inset-x-#{$key} {
        @include #{$rwd} {
          @include left(-#{$value});
          @include right(-#{$value});
        }
      }

      @mixin #{$rwd}\:-inset-y-#{$key} {
        @include #{$rwd} {
          @include top(-#{$value});
          @include bottom(-#{$value});
        }
      }

      @mixin #{$rwd}\:-start-#{$key} {
        @include inset-inline-start(-#{$value}, $#{$rwd});
      }

      @mixin #{$rwd}\:-end-#{$key} {
        @include inset-inline-end(-#{$value}, $#{$rwd});
      }

      @mixin #{$rwd}\:-top-#{$key} {
        @include top(-#{$value}, $#{$rwd});
      }

      @mixin #{$rwd}\:-right-#{$key} {
        @include right(-#{$value}, $#{$rwd});
      }

      @mixin #{$rwd}\:-bottom-#{$key} {
        @include bottom(-#{$value}, $#{$rwd});
      }

      @mixin #{$rwd}\:-left-#{$key} {
        @include left(-#{$value}, $#{$rwd});
      }
    x*/
    }
  }
}

@if $Custom {
  /*x
  @mixin inset-($v) {
    @include inset($v);
  }

  @mixin inset-x-($v) {
    @include left($v);
    @include right($v);
  }

  @mixin inset-y-($v) {
    @include top($v);
    @include bottom($v);
  }

  @mixin start-($v) {
    @include inset-inline-start($v);
  }

  @mixin end-($v) {
    @include inset-inline-end($v);
  }

  @mixin top-($v) {
    @include top($v);
  }

  @mixin right-($v) {
    @include right($v);
  }

  @mixin bottom-($v) {
    @include bottom($v);
  }

  @mixin left-($v) {
    @include left($v);
  }
  x*/
  /*x
  @mixin -inset-($v) {
    @include inset(-$v);
  }

  @mixin -inset-x-($v) {
    @include left(-$v);
    @include right(-$v);
  }

  @mixin -inset-y-($v) {
    @include top(-$v);
    @include bottom(-$v);
  }

  @mixin -start-($v) {
    @include inset-inline-start(-$v);
  }

  @mixin -end-($v) {
    @include inset-inline-end(-$v);
  }

  @mixin -top-($v) {
    @include top(-$v);
  }

  @mixin -right-($v) {
    @include right(-$v);
  }

  @mixin -bottom-($v) {
    @include bottom(-$v);
  }

  @mixin -left-($v) {
    @include left(-$v);
  }
  x*/

  @each $rwd in $rwdBox {
    /*x
    @mixin #{$rwd}\:inset-($v) {
      @include inset($v, $#{$rwd});
    }

    @mixin #{$rwd}\:inset-x-($v) {
      @include #{$rwd} {
        @include left($v);
        @include right($v);
      }
    }

    @mixin #{$rwd}\:inset-y-($v) {
      @include #{$rwd} {
        @include top($v);
        @include bottom($v);
      }
    }

    @mixin #{$rwd}\:start-($v) {
      @include inset-inline-start($v, $#{$rwd});
    }

    @mixin #{$rwd}\:end-($v) {
      @include inset-inline-end($v, $#{$rwd});
    }

    @mixin #{$rwd}\:top-($v) {
      @include top($v, $#{$rwd});
    }

    @mixin #{$rwd}\:right-($v) {
      @include right($v, $#{$rwd});
    }

    @mixin #{$rwd}\:bottom-($v) {
      @include bottom($v, $#{$rwd});
    }

    @mixin #{$rwd}\:left-($v) {
      @include left($v, $#{$rwd});
    }
    x*/
    /*x
    @mixin #{$rwd}\:-inset-($v) {
      @include inset(-$v, $#{$rwd});
    }

    @mixin #{$rwd}\:-inset-x-($v) {
      @include #{$rwd} {
        @include left(-$v);
        @include right(-$v);
      }
    }

    @mixin #{$rwd}\:-inset-y-($v) {
      @include #{$rwd} {
        @include top(-$v);
        @include bottom(-$v);
      }
    }

    @mixin #{$rwd}\:-start-($v) {
      @include inset-inline-start(-$v, $#{$rwd});
    }

    @mixin #{$rwd}\:-end-($v) {
      @include inset-inline-end(-$v, $#{$rwd});
    }

    @mixin #{$rwd}\:-top-($v) {
      @include top(-$v, $#{$rwd});
    }

    @mixin #{$rwd}\:-right-($v) {
      @include right(-$v, $#{$rwd});
    }

    @mixin #{$rwd}\:-bottom-($v) {
      @include bottom(-$v, $#{$rwd});
    }

    @mixin #{$rwd}\:-left-($v) {
      @include left(-$v, $#{$rwd});
    }
    x*/
  }
}