@use "../../setting" as *;

$BoxDecorationBreak: (
  "box-decoration-clone": clone,
  "box-decoration-slice": slice,
);

@if $Basic {
  @each $key, $value in $BoxDecorationBreak {
    /*x
    @mixin #{$key} {
      @include box-decoration-break(#{$value});
    }
    x*/
  }
}

@if $Rwd {
  @each $rwd in $rwdBox {
    @each $key, $value in $BoxDecorationBreak {
      /*x
      @mixin #{$rwd}\:#{$key} {
        @include box-decoration-break(#{$value}, $#{$rwd});
      }
      x*/
    }
  }
}