@include describe('SM') {
  @include it('block') {
    @include assert {
      @include output {
        @include sm\:block
      }

      @include expect {
        @media (min-width: $__MEDIA-SM) {
          display: block;
        }
      }
    }
  }
  @include it('inline-block') {
    @include assert {
      @include output {
        @include sm\:inline-block
      }

      @include expect {
        @media (min-width: $__MEDIA-SM) {
          display: inline-block;
        }
      }
    }
  }
  @include it('inline') {
    @include assert {
      @include output {
        @include sm\:inline
      }

      @include expect {
        @media (min-width: $__MEDIA-SM) {
          display: inline;
        }
      }
    }
  }
  @include it('flex') {
    @include assert {
      @include output {
        @include sm\:flex
      }

      @include expect {
        @media (min-width: $__MEDIA-SM) {
          display: flex;
        }
      }
    }
  }
  @include it('inline-flex') {
    @include assert {
      @include output {
        @include sm\:inline-flex
      }

      @include expect {
        @media (min-width: $__MEDIA-SM) {
          display: inline-flex;
        }
      }
    }
  }
  @include it('table') {
    @include assert {
      @include output {
        @include sm\:table
      }

      @include expect {
        @media (min-width: $__MEDIA-SM) {
          display: table;
        }
      }
    }
  }
  @include it('inline-table') {
    @include assert {
      @include output {
        @include sm\:inline-table
      }

      @include expect {
        @media (min-width: $__MEDIA-SM) {
          display: inline-table;
        }
      }
    }
  }
  @include it('table-caption') {
    @include assert {
      @include output {
        @include sm\:table-caption
      }

      @include expect {
        @media (min-width: $__MEDIA-SM) {
          display: table-caption;
        }
      }
    }
  }
  @include it('table-cell') {
    @include assert {
      @include output {
        @include sm\:table-cell
      }

      @include expect {
        @media (min-width: $__MEDIA-SM) {
          display: table-cell;
        }
      }
    }
  }
  @include it('table-column') {
    @include assert {
      @include output {
        @include sm\:table-column
      }

      @include expect {
        @media (min-width: $__MEDIA-SM) {
          display: table-column;
        }
      }
    }
  }
  @include it('table-column-group') {
    @include assert {
      @include output {
        @include sm\:table-column-group
      }

      @include expect {
        @media (min-width: $__MEDIA-SM) {
          display: table-column-group;
        }
      }
    }
  }
  @include it('table-footer-group') {
    @include assert {
      @include output {
        @include sm\:table-footer-group
      }

      @include expect {
        @media (min-width: $__MEDIA-SM) {
          display: table-footer-group;
        }
      }
    }
  }
  @include it('table-header-group') {
    @include assert {
      @include output {
        @include sm\:table-header-group
      }

      @include expect {
        @media (min-width: $__MEDIA-SM) {
          display: table-header-group;
        }
      }
    }
  }
  @include it('table-row-group') {
    @include assert {
      @include output {
        @include sm\:table-row-group
      }

      @include expect {
        @media (min-width: $__MEDIA-SM) {
          display: table-row-group;
        }
      }
    }
  }
  @include it('table-row') {
    @include assert {
      @include output {
        @include sm\:table-row
      }

      @include expect {
        @media (min-width: $__MEDIA-SM) {
          display: table-row;
        }
      }
    }
  }
  @include it('flow-root') {
    @include assert {
      @include output {
        @include sm\:flow-root
      }

      @include expect {
        @media (min-width: $__MEDIA-SM) {
          display: flow-root;
        }
      }
    }
  }
  @include it('grid') {
    @include assert {
      @include output {
        @include sm\:grid
      }

      @include expect {
        @media (min-width: $__MEDIA-SM) {
          display: grid;
        }
      }
    }
  }
  @include it('inline-grid') {
    @include assert {
      @include output {
        @include sm\:inline-grid
      }

      @include expect {
        @media (min-width: $__MEDIA-SM) {
          display: inline-grid;
        }
      }
    }
  }
  @include it('contents') {
    @include assert {
      @include output {
        @include sm\:contents
      }

      @include expect {
        @media (min-width: $__MEDIA-SM) {
          display: contents;
        }
      }
    }
  }
  @include it('list-item') {
    @include assert {
      @include output {
        @include sm\:list-item
      }

      @include expect {
        @media (min-width: $__MEDIA-SM) {
          display: list-item;
        }
      }
    }
  }
  @include it('hidden') {
    @include assert {
      @include output {
        @include sm\:hidden
      }

      @include expect {
        @media (min-width: $__MEDIA-SM) {
          display: none;
        }
      }
    }
  }
}