@mixin sm\:w-0 {
  @media (min-width: $breakpoint-sm) {
    width: 0px;
  }
}

@mixin sm\:w-px {
  @media (min-width: $breakpoint-sm) {
    width: 1px;
  }
}

/* 2px */
@mixin sm\:w-0\.5 {
  @media (min-width: $breakpoint-sm) {
    width: 0.125rem;
  }
}

/* 4px */
@mixin sm\:w-1 {
  @media (min-width: $breakpoint-sm) {
    width: 0.25rem;
  }
}

/* 6px */
@mixin sm\:w-1\.5 {
  @media (min-width: $breakpoint-sm) {
    width: 0.375rem;
  }
}

/* 8px */
@mixin sm\:w-2 {
  @media (min-width: $breakpoint-sm) {
    width: 0.5rem;
  }
}

/* 10px */
@mixin sm\:w-2\.5 {
  @media (min-width: $breakpoint-sm) {
    width: 0.625rem;
  }
}

/* 12px */
@mixin sm\:w-3 {
  @media (min-width: $breakpoint-sm) {
    width: 0.75rem;
  }
}

/* 14px */
@mixin sm\:w-3\.5 {
  @media (min-width: $breakpoint-sm) {
    width: 0.875rem;
  }
}

/* 16px */
@mixin sm\:w-4 {
  @media (min-width: $breakpoint-sm) {
    width: 1rem;
  }
}

/* 20px */
@mixin sm\:w-5 {
  @media (min-width: $breakpoint-sm) {
    width: 1.25rem;
  }
}

/* 24px */
@mixin sm\:w-6 {
  @media (min-width: $breakpoint-sm) {
    width: 1.5rem;
  }
}

/* 28px */
@mixin sm\:w-7 {
  @media (min-width: $breakpoint-sm) {
    width: 1.75rem;
  }
}

/* 32px */
@mixin sm\:w-8 {
  @media (min-width: $breakpoint-sm) {
    width: 2rem;
  }
}

/* 36px */
@mixin sm\:w-9 {
  @media (min-width: $breakpoint-sm) {
    width: 2.25rem;
  }
}

/* 40px */
@mixin sm\:w-10 {
  @media (min-width: $breakpoint-sm) {
    width: 2.5rem;
  }
}

/* 44px */
@mixin sm\:w-11 {
  @media (min-width: $breakpoint-sm) {
    width: 2.75rem;
  }
}

/* 48px */
@mixin sm\:w-12 {
  @media (min-width: $breakpoint-sm) {
    width: 3rem;
  }
}

/* 56px */
@mixin sm\:w-14 {
  @media (min-width: $breakpoint-sm) {
    width: 3.5rem;
  }
}

/* 64px */
@mixin sm\:w-16 {
  @media (min-width: $breakpoint-sm) {
    width: 4rem;
  }
}

/* 80px */
@mixin sm\:w-20 {
  @media (min-width: $breakpoint-sm) {
    width: 5rem;
  }
}

/* 96px */
@mixin sm\:w-24 {
  @media (min-width: $breakpoint-sm) {
    width: 6rem;
  }
}

/* 112px */
@mixin sm\:w-28 {
  @media (min-width: $breakpoint-sm) {
    width: 7rem;
  }
}

/* 128px */
@mixin sm\:w-32 {
  @media (min-width: $breakpoint-sm) {
    width: 8rem;
  }
}

/* 144px */
@mixin sm\:w-36 {
  @media (min-width: $breakpoint-sm) {
    width: 9rem;
  }
}

/* 160px */
@mixin sm\:w-40 {
  @media (min-width: $breakpoint-sm) {
    width: 10rem;
  }
}

/* 176px */
@mixin sm\:w-44 {
  @media (min-width: $breakpoint-sm) {
    width: 11rem;
  }
}

/* 192px */
@mixin sm\:w-48 {
  @media (min-width: $breakpoint-sm) {
    width: 12rem;
  }
}

/* 208px */
@mixin sm\:w-52 {
  @media (min-width: $breakpoint-sm) {
    width: 13rem;
  }
}

/* 224px */
@mixin sm\:w-56 {
  @media (min-width: $breakpoint-sm) {
    width: 14rem;
  }
}

/* 240px */
@mixin sm\:w-60 {
  @media (min-width: $breakpoint-sm) {
    width: 15rem;
  }
}

/* 256px */
@mixin sm\:w-64 {
  @media (min-width: $breakpoint-sm) {
    width: 16rem;
  }
}

/* 288px */
@mixin sm\:w-72 {
  @media (min-width: $breakpoint-sm) {
    width: 18rem;
  }
}

/* 320px */
@mixin sm\:w-80 {
  @media (min-width: $breakpoint-sm) {
    width: 20rem;
  }
}

/* 384px */
@mixin sm\:w-96 {
  @media (min-width: $breakpoint-sm) {
    width: 24rem;
  }
}

@mixin sm\:w-auto {
  @media (min-width: $breakpoint-sm) {
    width: auto;
  }
}

@mixin sm\:w-1\/2 {
  @media (min-width: $breakpoint-sm) {
    width: 50%;
  }
}

@mixin sm\:w-1\/3 {
  @media (min-width: $breakpoint-sm) {
    width: 33.333333%;
  }
}

@mixin sm\:w-2\/3 {
  @media (min-width: $breakpoint-sm) {
    width: 66.666667%;
  }
}

@mixin sm\:w-1\/4 {
  @media (min-width: $breakpoint-sm) {
    width: 25%;
  }
}

@mixin sm\:w-2\/4 {
  @media (min-width: $breakpoint-sm) {
    width: 50%;
  }
}

@mixin sm\:w-3\/4 {
  @media (min-width: $breakpoint-sm) {
    width: 75%;
  }
}

@mixin sm\:w-1\/5 {
  @media (min-width: $breakpoint-sm) {
    width: 20%;
  }
}

@mixin sm\:w-2\/5 {
  @media (min-width: $breakpoint-sm) {
    width: 40%;
  }
}

@mixin sm\:w-3\/5 {
  @media (min-width: $breakpoint-sm) {
    width: 60%;
  }
}

@mixin sm\:w-4\/5 {
  @media (min-width: $breakpoint-sm) {
    width: 80%;
  }
}

@mixin sm\:w-1\/6 {
  @media (min-width: $breakpoint-sm) {
    width: 16.666667%;
  }
}

@mixin sm\:w-2\/6 {
  @media (min-width: $breakpoint-sm) {
    width: 33.333333%;
  }
}

@mixin sm\:w-3\/6 {
  @media (min-width: $breakpoint-sm) {
    width: 50%;
  }
}

@mixin sm\:w-4\/6 {
  @media (min-width: $breakpoint-sm) {
    width: 66.666667%;
  }
}

@mixin sm\:w-5\/6 {
  @media (min-width: $breakpoint-sm) {
    width: 83.333333%;
  }
}

@mixin sm\:w-1\/12 {
  @media (min-width: $breakpoint-sm) {
    width: 8.333333%;
  }
}

@mixin sm\:w-2\/12 {
  @media (min-width: $breakpoint-sm) {
    width: 16.666667%;
  }
}

@mixin sm\:w-3\/12 {
  @media (min-width: $breakpoint-sm) {
    width: 25%;
  }
}

@mixin sm\:w-4\/12 {
  @media (min-width: $breakpoint-sm) {
    width: 33.333333%;
  }
}

@mixin sm\:w-5\/12 {
  @media (min-width: $breakpoint-sm) {
    width: 41.666667%;
  }
}

@mixin sm\:w-6\/12 {
  @media (min-width: $breakpoint-sm) {
    width: 50%;
  }
}

@mixin sm\:w-7\/12 {
  @media (min-width: $breakpoint-sm) {
    width: 58.333333%;
  }
}

@mixin sm\:w-8\/12 {
  @media (min-width: $breakpoint-sm) {
    width: 66.666667%;
  }
}

@mixin sm\:w-9\/12 {
  @media (min-width: $breakpoint-sm) {
    width: 75%;
  }
}

@mixin sm\:w-10\/12 {
  @media (min-width: $breakpoint-sm) {
    width: 83.333333%;
  }
}

@mixin sm\:w-11\/12 {
  @media (min-width: $breakpoint-sm) {
    width: 91.666667%;
  }
}

@mixin sm\:w-full {
  @media (min-width: $breakpoint-sm) {
    width: 100%;
  }
}

@mixin sm\:w-screen {
  @media (min-width: $breakpoint-sm) {
    width: 100vw;
  }
}

@mixin sm\:w-svw {
  @media (min-width: $breakpoint-sm) {
    width: 100svw;
  }
}

@mixin sm\:w-lvw {
  @media (min-width: $breakpoint-sm) {
    width: 100lvw;
  }
}

@mixin sm\:w-dvw {
  @media (min-width: $breakpoint-sm) {
    width: 100dvw;
  }
}

@mixin sm\:w-min {
  @media (min-width: $breakpoint-sm) {
    width: min-content;
  }
}

@mixin sm\:w-max {
  @media (min-width: $breakpoint-sm) {
    width: max-content;
  }
}

@mixin sm\:w-fit {
  @media (min-width: $breakpoint-sm) {
    width: fit-content;
  }
}

@mixin md\:w-0 {
  @media (min-width: $breakpoint-md) {
    width: 0px;
  }
}

@mixin md\:w-px {
  @media (min-width: $breakpoint-md) {
    width: 1px;
  }
}

/* 2px */
@mixin md\:w-0\.5 {
  @media (min-width: $breakpoint-md) {
    width: 0.125rem;
  }
}

/* 4px */
@mixin md\:w-1 {
  @media (min-width: $breakpoint-md) {
    width: 0.25rem;
  }
}

/* 6px */
@mixin md\:w-1\.5 {
  @media (min-width: $breakpoint-md) {
    width: 0.375rem;
  }
}

/* 8px */
@mixin md\:w-2 {
  @media (min-width: $breakpoint-md) {
    width: 0.5rem;
  }
}

/* 10px */
@mixin md\:w-2\.5 {
  @media (min-width: $breakpoint-md) {
    width: 0.625rem;
  }
}

/* 12px */
@mixin md\:w-3 {
  @media (min-width: $breakpoint-md) {
    width: 0.75rem;
  }
}

/* 14px */
@mixin md\:w-3\.5 {
  @media (min-width: $breakpoint-md) {
    width: 0.875rem;
  }
}

/* 16px */
@mixin md\:w-4 {
  @media (min-width: $breakpoint-md) {
    width: 1rem;
  }
}

/* 20px */
@mixin md\:w-5 {
  @media (min-width: $breakpoint-md) {
    width: 1.25rem;
  }
}

/* 24px */
@mixin md\:w-6 {
  @media (min-width: $breakpoint-md) {
    width: 1.5rem;
  }
}

/* 28px */
@mixin md\:w-7 {
  @media (min-width: $breakpoint-md) {
    width: 1.75rem;
  }
}

/* 32px */
@mixin md\:w-8 {
  @media (min-width: $breakpoint-md) {
    width: 2rem;
  }
}

/* 36px */
@mixin md\:w-9 {
  @media (min-width: $breakpoint-md) {
    width: 2.25rem;
  }
}

/* 40px */
@mixin md\:w-10 {
  @media (min-width: $breakpoint-md) {
    width: 2.5rem;
  }
}

/* 44px */
@mixin md\:w-11 {
  @media (min-width: $breakpoint-md) {
    width: 2.75rem;
  }
}

/* 48px */
@mixin md\:w-12 {
  @media (min-width: $breakpoint-md) {
    width: 3rem;
  }
}

/* 56px */
@mixin md\:w-14 {
  @media (min-width: $breakpoint-md) {
    width: 3.5rem;
  }
}

/* 64px */
@mixin md\:w-16 {
  @media (min-width: $breakpoint-md) {
    width: 4rem;
  }
}

/* 80px */
@mixin md\:w-20 {
  @media (min-width: $breakpoint-md) {
    width: 5rem;
  }
}

/* 96px */
@mixin md\:w-24 {
  @media (min-width: $breakpoint-md) {
    width: 6rem;
  }
}

/* 112px */
@mixin md\:w-28 {
  @media (min-width: $breakpoint-md) {
    width: 7rem;
  }
}

/* 128px */
@mixin md\:w-32 {
  @media (min-width: $breakpoint-md) {
    width: 8rem;
  }
}

/* 144px */
@mixin md\:w-36 {
  @media (min-width: $breakpoint-md) {
    width: 9rem;
  }
}

/* 160px */
@mixin md\:w-40 {
  @media (min-width: $breakpoint-md) {
    width: 10rem;
  }
}

/* 176px */
@mixin md\:w-44 {
  @media (min-width: $breakpoint-md) {
    width: 11rem;
  }
}

/* 192px */
@mixin md\:w-48 {
  @media (min-width: $breakpoint-md) {
    width: 12rem;
  }
}

/* 208px */
@mixin md\:w-52 {
  @media (min-width: $breakpoint-md) {
    width: 13rem;
  }
}

/* 224px */
@mixin md\:w-56 {
  @media (min-width: $breakpoint-md) {
    width: 14rem;
  }
}

/* 240px */
@mixin md\:w-60 {
  @media (min-width: $breakpoint-md) {
    width: 15rem;
  }
}

/* 256px */
@mixin md\:w-64 {
  @media (min-width: $breakpoint-md) {
    width: 16rem;
  }
}

/* 288px */
@mixin md\:w-72 {
  @media (min-width: $breakpoint-md) {
    width: 18rem;
  }
}

/* 320px */
@mixin md\:w-80 {
  @media (min-width: $breakpoint-md) {
    width: 20rem;
  }
}

/* 384px */
@mixin md\:w-96 {
  @media (min-width: $breakpoint-md) {
    width: 24rem;
  }
}

@mixin md\:w-auto {
  @media (min-width: $breakpoint-md) {
    width: auto;
  }
}

@mixin md\:w-1\/2 {
  @media (min-width: $breakpoint-md) {
    width: 50%;
  }
}

@mixin md\:w-1\/3 {
  @media (min-width: $breakpoint-md) {
    width: 33.333333%;
  }
}

@mixin md\:w-2\/3 {
  @media (min-width: $breakpoint-md) {
    width: 66.666667%;
  }
}

@mixin md\:w-1\/4 {
  @media (min-width: $breakpoint-md) {
    width: 25%;
  }
}

@mixin md\:w-2\/4 {
  @media (min-width: $breakpoint-md) {
    width: 50%;
  }
}

@mixin md\:w-3\/4 {
  @media (min-width: $breakpoint-md) {
    width: 75%;
  }
}

@mixin md\:w-1\/5 {
  @media (min-width: $breakpoint-md) {
    width: 20%;
  }
}

@mixin md\:w-2\/5 {
  @media (min-width: $breakpoint-md) {
    width: 40%;
  }
}

@mixin md\:w-3\/5 {
  @media (min-width: $breakpoint-md) {
    width: 60%;
  }
}

@mixin md\:w-4\/5 {
  @media (min-width: $breakpoint-md) {
    width: 80%;
  }
}

@mixin md\:w-1\/6 {
  @media (min-width: $breakpoint-md) {
    width: 16.666667%;
  }
}

@mixin md\:w-2\/6 {
  @media (min-width: $breakpoint-md) {
    width: 33.333333%;
  }
}

@mixin md\:w-3\/6 {
  @media (min-width: $breakpoint-md) {
    width: 50%;
  }
}

@mixin md\:w-4\/6 {
  @media (min-width: $breakpoint-md) {
    width: 66.666667%;
  }
}

@mixin md\:w-5\/6 {
  @media (min-width: $breakpoint-md) {
    width: 83.333333%;
  }
}

@mixin md\:w-1\/12 {
  @media (min-width: $breakpoint-md) {
    width: 8.333333%;
  }
}

@mixin md\:w-2\/12 {
  @media (min-width: $breakpoint-md) {
    width: 16.666667%;
  }
}

@mixin md\:w-3\/12 {
  @media (min-width: $breakpoint-md) {
    width: 25%;
  }
}

@mixin md\:w-4\/12 {
  @media (min-width: $breakpoint-md) {
    width: 33.333333%;
  }
}

@mixin md\:w-5\/12 {
  @media (min-width: $breakpoint-md) {
    width: 41.666667%;
  }
}

@mixin md\:w-6\/12 {
  @media (min-width: $breakpoint-md) {
    width: 50%;
  }
}

@mixin md\:w-7\/12 {
  @media (min-width: $breakpoint-md) {
    width: 58.333333%;
  }
}

@mixin md\:w-8\/12 {
  @media (min-width: $breakpoint-md) {
    width: 66.666667%;
  }
}

@mixin md\:w-9\/12 {
  @media (min-width: $breakpoint-md) {
    width: 75%;
  }
}

@mixin md\:w-10\/12 {
  @media (min-width: $breakpoint-md) {
    width: 83.333333%;
  }
}

@mixin md\:w-11\/12 {
  @media (min-width: $breakpoint-md) {
    width: 91.666667%;
  }
}

@mixin md\:w-full {
  @media (min-width: $breakpoint-md) {
    width: 100%;
  }
}

@mixin md\:w-screen {
  @media (min-width: $breakpoint-md) {
    width: 100vw;
  }
}

@mixin md\:w-svw {
  @media (min-width: $breakpoint-md) {
    width: 100svw;
  }
}

@mixin md\:w-lvw {
  @media (min-width: $breakpoint-md) {
    width: 100lvw;
  }
}

@mixin md\:w-dvw {
  @media (min-width: $breakpoint-md) {
    width: 100dvw;
  }
}

@mixin md\:w-min {
  @media (min-width: $breakpoint-md) {
    width: min-content;
  }
}

@mixin md\:w-max {
  @media (min-width: $breakpoint-md) {
    width: max-content;
  }
}

@mixin md\:w-fit {
  @media (min-width: $breakpoint-md) {
    width: fit-content;
  }
}


@mixin lg\:w-0 {
  @media (min-width: $breakpoint-lg) {
    width: 0px;
  }
}

@mixin lg\:w-px {
  @media (min-width: $breakpoint-lg) {
    width: 1px;
  }
}

/* 2px */
@mixin lg\:w-0\.5 {
  @media (min-width: $breakpoint-lg) {
    width: 0.125rem;
  }
}

/* 4px */
@mixin lg\:w-1 {
  @media (min-width: $breakpoint-lg) {
    width: 0.25rem;
  }
}

/* 6px */
@mixin lg\:w-1\.5 {
  @media (min-width: $breakpoint-lg) {
    width: 0.375rem;
  }
}

/* 8px */
@mixin lg\:w-2 {
  @media (min-width: $breakpoint-lg) {
    width: 0.5rem;
  }
}

/* 10px */
@mixin lg\:w-2\.5 {
  @media (min-width: $breakpoint-lg) {
    width: 0.625rem;
  }
}

/* 12px */
@mixin lg\:w-3 {
  @media (min-width: $breakpoint-lg) {
    width: 0.75rem;
  }
}

/* 14px */
@mixin lg\:w-3\.5 {
  @media (min-width: $breakpoint-lg) {
    width: 0.875rem;
  }
}

/* 16px */
@mixin lg\:w-4 {
  @media (min-width: $breakpoint-lg) {
    width: 1rem;
  }
}

/* 20px */
@mixin lg\:w-5 {
  @media (min-width: $breakpoint-lg) {
    width: 1.25rem;
  }
}

/* 24px */
@mixin lg\:w-6 {
  @media (min-width: $breakpoint-lg) {
    width: 1.5rem;
  }
}

/* 28px */
@mixin lg\:w-7 {
  @media (min-width: $breakpoint-lg) {
    width: 1.75rem;
  }
}

/* 32px */
@mixin lg\:w-8 {
  @media (min-width: $breakpoint-lg) {
    width: 2rem;
  }
}

/* 36px */
@mixin lg\:w-9 {
  @media (min-width: $breakpoint-lg) {
    width: 2.25rem;
  }
}

/* 40px */
@mixin lg\:w-10 {
  @media (min-width: $breakpoint-lg) {
    width: 2.5rem;
  }
}

/* 44px */
@mixin lg\:w-11 {
  @media (min-width: $breakpoint-lg) {
    width: 2.75rem;
  }
}

/* 48px */
@mixin lg\:w-12 {
  @media (min-width: $breakpoint-lg) {
    width: 3rem;
  }
}

/* 56px */
@mixin lg\:w-14 {
  @media (min-width: $breakpoint-lg) {
    width: 3.5rem;
  }
}

/* 64px */
@mixin lg\:w-16 {
  @media (min-width: $breakpoint-lg) {
    width: 4rem;
  }
}

/* 80px */
@mixin lg\:w-20 {
  @media (min-width: $breakpoint-lg) {
    width: 5rem;
  }
}

/* 96px */
@mixin lg\:w-24 {
  @media (min-width: $breakpoint-lg) {
    width: 6rem;
  }
}

/* 112px */
@mixin lg\:w-28 {
  @media (min-width: $breakpoint-lg) {
    width: 7rem;
  }
}

/* 128px */
@mixin lg\:w-32 {
  @media (min-width: $breakpoint-lg) {
    width: 8rem;
  }
}

/* 144px */
@mixin lg\:w-36 {
  @media (min-width: $breakpoint-lg) {
    width: 9rem;
  }
}

/* 160px */
@mixin lg\:w-40 {
  @media (min-width: $breakpoint-lg) {
    width: 10rem;
  }
}

/* 176px */
@mixin lg\:w-44 {
  @media (min-width: $breakpoint-lg) {
    width: 11rem;
  }
}

/* 192px */
@mixin lg\:w-48 {
  @media (min-width: $breakpoint-lg) {
    width: 12rem;
  }
}

/* 208px */
@mixin lg\:w-52 {
  @media (min-width: $breakpoint-lg) {
    width: 13rem;
  }
}

/* 224px */
@mixin lg\:w-56 {
  @media (min-width: $breakpoint-lg) {
    width: 14rem;
  }
}

/* 240px */
@mixin lg\:w-60 {
  @media (min-width: $breakpoint-lg) {
    width: 15rem;
  }
}

/* 256px */
@mixin lg\:w-64 {
  @media (min-width: $breakpoint-lg) {
    width: 16rem;
  }
}

/* 288px */
@mixin lg\:w-72 {
  @media (min-width: $breakpoint-lg) {
    width: 18rem;
  }
}

/* 320px */
@mixin lg\:w-80 {
  @media (min-width: $breakpoint-lg) {
    width: 20rem;
  }
}

/* 384px */
@mixin lg\:w-96 {
  @media (min-width: $breakpoint-lg) {
    width: 24rem;
  }
}

@mixin lg\:w-auto {
  @media (min-width: $breakpoint-lg) {
    width: auto;
  }
}

@mixin lg\:w-1\/2 {
  @media (min-width: $breakpoint-lg) {
    width: 50%;
  }
}

@mixin lg\:w-1\/3 {
  @media (min-width: $breakpoint-lg) {
    width: 33.333333%;
  }
}

@mixin lg\:w-2\/3 {
  @media (min-width: $breakpoint-lg) {
    width: 66.666667%;
  }
}

@mixin lg\:w-1\/4 {
  @media (min-width: $breakpoint-lg) {
    width: 25%;
  }
}

@mixin lg\:w-2\/4 {
  @media (min-width: $breakpoint-lg) {
    width: 50%;
  }
}

@mixin lg\:w-3\/4 {
  @media (min-width: $breakpoint-lg) {
    width: 75%;
  }
}

@mixin lg\:w-1\/5 {
  @media (min-width: $breakpoint-lg) {
    width: 20%;
  }
}

@mixin lg\:w-2\/5 {
  @media (min-width: $breakpoint-lg) {
    width: 40%;
  }
}

@mixin lg\:w-3\/5 {
  @media (min-width: $breakpoint-lg) {
    width: 60%;
  }
}

@mixin lg\:w-4\/5 {
  @media (min-width: $breakpoint-lg) {
    width: 80%;
  }
}

@mixin lg\:w-1\/6 {
  @media (min-width: $breakpoint-lg) {
    width: 16.666667%;
  }
}

@mixin lg\:w-2\/6 {
  @media (min-width: $breakpoint-lg) {
    width: 33.333333%;
  }
}

@mixin lg\:w-3\/6 {
  @media (min-width: $breakpoint-lg) {
    width: 50%;
  }
}

@mixin lg\:w-4\/6 {
  @media (min-width: $breakpoint-lg) {
    width: 66.666667%;
  }
}

@mixin lg\:w-5\/6 {
  @media (min-width: $breakpoint-lg) {
    width: 83.333333%;
  }
}

@mixin lg\:w-1\/12 {
  @media (min-width: $breakpoint-lg) {
    width: 8.333333%;
  }
}

@mixin lg\:w-2\/12 {
  @media (min-width: $breakpoint-lg) {
    width: 16.666667%;
  }
}

@mixin lg\:w-3\/12 {
  @media (min-width: $breakpoint-lg) {
    width: 25%;
  }
}

@mixin lg\:w-4\/12 {
  @media (min-width: $breakpoint-lg) {
    width: 33.333333%;
  }
}

@mixin lg\:w-5\/12 {
  @media (min-width: $breakpoint-lg) {
    width: 41.666667%;
  }
}

@mixin lg\:w-6\/12 {
  @media (min-width: $breakpoint-lg) {
    width: 50%;
  }
}

@mixin lg\:w-7\/12 {
  @media (min-width: $breakpoint-lg) {
    width: 58.333333%;
  }
}

@mixin lg\:w-8\/12 {
  @media (min-width: $breakpoint-lg) {
    width: 66.666667%;
  }
}

@mixin lg\:w-9\/12 {
  @media (min-width: $breakpoint-lg) {
    width: 75%;
  }
}

@mixin lg\:w-10\/12 {
  @media (min-width: $breakpoint-lg) {
    width: 83.333333%;
  }
}

@mixin lg\:w-11\/12 {
  @media (min-width: $breakpoint-lg) {
    width: 91.666667%;
  }
}

@mixin lg\:w-full {
  @media (min-width: $breakpoint-lg) {
    width: 100%;
  }
}

@mixin lg\:w-screen {
  @media (min-width: $breakpoint-lg) {
    width: 100vw;
  }
}

@mixin lg\:w-svw {
  @media (min-width: $breakpoint-lg) {
    width: 100svw;
  }
}

@mixin lg\:w-lvw {
  @media (min-width: $breakpoint-lg) {
    width: 100lvw;
  }
}

@mixin lg\:w-dvw {
  @media (min-width: $breakpoint-lg) {
    width: 100dvw;
  }
}

@mixin lg\:w-min {
  @media (min-width: $breakpoint-lg) {
    width: min-content;
  }
}

@mixin lg\:w-max {
  @media (min-width: $breakpoint-lg) {
    width: max-content;
  }
}

@mixin lg\:w-fit {
  @media (min-width: $breakpoint-lg) {
    width: fit-content;
  }
}


@mixin xl\:w-0 {
  @media (min-width: $breakpoint-xl) {
    width: 0px;
  }
}

@mixin xl\:w-px {
  @media (min-width: $breakpoint-xl) {
    width: 1px;
  }
}

/* 2px */
@mixin xl\:w-0\.5 {
  @media (min-width: $breakpoint-xl) {
    width: 0.125rem;
  }
}

/* 4px */
@mixin xl\:w-1 {
  @media (min-width: $breakpoint-xl) {
    width: 0.25rem;
  }
}

/* 6px */
@mixin xl\:w-1\.5 {
  @media (min-width: $breakpoint-xl) {
    width: 0.375rem;
  }
}

/* 8px */
@mixin xl\:w-2 {
  @media (min-width: $breakpoint-xl) {
    width: 0.5rem;
  }
}

/* 10px */
@mixin xl\:w-2\.5 {
  @media (min-width: $breakpoint-xl) {
    width: 0.625rem;
  }
}

/* 12px */
@mixin xl\:w-3 {
  @media (min-width: $breakpoint-xl) {
    width: 0.75rem;
  }
}

/* 14px */
@mixin xl\:w-3\.5 {
  @media (min-width: $breakpoint-xl) {
    width: 0.875rem;
  }
}

/* 16px */
@mixin xl\:w-4 {
  @media (min-width: $breakpoint-xl) {
    width: 1rem;
  }
}

/* 20px */
@mixin xl\:w-5 {
  @media (min-width: $breakpoint-xl) {
    width: 1.25rem;
  }
}

/* 24px */
@mixin xl\:w-6 {
  @media (min-width: $breakpoint-xl) {
    width: 1.5rem;
  }
}

/* 28px */
@mixin xl\:w-7 {
  @media (min-width: $breakpoint-xl) {
    width: 1.75rem;
  }
}

/* 32px */
@mixin xl\:w-8 {
  @media (min-width: $breakpoint-xl) {
    width: 2rem;
  }
}

/* 36px */
@mixin xl\:w-9 {
  @media (min-width: $breakpoint-xl) {
    width: 2.25rem;
  }
}

/* 40px */
@mixin xl\:w-10 {
  @media (min-width: $breakpoint-xl) {
    width: 2.5rem;
  }
}

/* 44px */
@mixin xl\:w-11 {
  @media (min-width: $breakpoint-xl) {
    width: 2.75rem;
  }
}

/* 48px */
@mixin xl\:w-12 {
  @media (min-width: $breakpoint-xl) {
    width: 3rem;
  }
}

/* 56px */
@mixin xl\:w-14 {
  @media (min-width: $breakpoint-xl) {
    width: 3.5rem;
  }
}

/* 64px */
@mixin xl\:w-16 {
  @media (min-width: $breakpoint-xl) {
    width: 4rem;
  }
}

/* 80px */
@mixin xl\:w-20 {
  @media (min-width: $breakpoint-xl) {
    width: 5rem;
  }
}

/* 96px */
@mixin xl\:w-24 {
  @media (min-width: $breakpoint-xl) {
    width: 6rem;
  }
}

/* 112px */
@mixin xl\:w-28 {
  @media (min-width: $breakpoint-xl) {
    width: 7rem;
  }
}

/* 128px */
@mixin xl\:w-32 {
  @media (min-width: $breakpoint-xl) {
    width: 8rem;
  }
}

/* 144px */
@mixin xl\:w-36 {
  @media (min-width: $breakpoint-xl) {
    width: 9rem;
  }
}

/* 160px */
@mixin xl\:w-40 {
  @media (min-width: $breakpoint-xl) {
    width: 10rem;
  }
}

/* 176px */
@mixin xl\:w-44 {
  @media (min-width: $breakpoint-xl) {
    width: 11rem;
  }
}

/* 192px */
@mixin xl\:w-48 {
  @media (min-width: $breakpoint-xl) {
    width: 12rem;
  }
}

/* 208px */
@mixin xl\:w-52 {
  @media (min-width: $breakpoint-xl) {
    width: 13rem;
  }
}

/* 224px */
@mixin xl\:w-56 {
  @media (min-width: $breakpoint-xl) {
    width: 14rem;
  }
}

/* 240px */
@mixin xl\:w-60 {
  @media (min-width: $breakpoint-xl) {
    width: 15rem;
  }
}

/* 256px */
@mixin xl\:w-64 {
  @media (min-width: $breakpoint-xl) {
    width: 16rem;
  }
}

/* 288px */
@mixin xl\:w-72 {
  @media (min-width: $breakpoint-xl) {
    width: 18rem;
  }
}

/* 320px */
@mixin xl\:w-80 {
  @media (min-width: $breakpoint-xl) {
    width: 20rem;
  }
}

/* 384px */
@mixin xl\:w-96 {
  @media (min-width: $breakpoint-xl) {
    width: 24rem;
  }
}

@mixin xl\:w-auto {
  @media (min-width: $breakpoint-xl) {
    width: auto;
  }
}

@mixin xl\:w-1\/2 {
  @media (min-width: $breakpoint-xl) {
    width: 50%;
  }
}

@mixin xl\:w-1\/3 {
  @media (min-width: $breakpoint-xl) {
    width: 33.333333%;
  }
}

@mixin xl\:w-2\/3 {
  @media (min-width: $breakpoint-xl) {
    width: 66.666667%;
  }
}

@mixin xl\:w-1\/4 {
  @media (min-width: $breakpoint-xl) {
    width: 25%;
  }
}

@mixin xl\:w-2\/4 {
  @media (min-width: $breakpoint-xl) {
    width: 50%;
  }
}

@mixin xl\:w-3\/4 {
  @media (min-width: $breakpoint-xl) {
    width: 75%;
  }
}

@mixin xl\:w-1\/5 {
  @media (min-width: $breakpoint-xl) {
    width: 20%;
  }
}

@mixin xl\:w-2\/5 {
  @media (min-width: $breakpoint-xl) {
    width: 40%;
  }
}

@mixin xl\:w-3\/5 {
  @media (min-width: $breakpoint-xl) {
    width: 60%;
  }
}

@mixin xl\:w-4\/5 {
  @media (min-width: $breakpoint-xl) {
    width: 80%;
  }
}

@mixin xl\:w-1\/6 {
  @media (min-width: $breakpoint-xl) {
    width: 16.666667%;
  }
}

@mixin xl\:w-2\/6 {
  @media (min-width: $breakpoint-xl) {
    width: 33.333333%;
  }
}

@mixin xl\:w-3\/6 {
  @media (min-width: $breakpoint-xl) {
    width: 50%;
  }
}

@mixin xl\:w-4\/6 {
  @media (min-width: $breakpoint-xl) {
    width: 66.666667%;
  }
}

@mixin xl\:w-5\/6 {
  @media (min-width: $breakpoint-xl) {
    width: 83.333333%;
  }
}

@mixin xl\:w-1\/12 {
  @media (min-width: $breakpoint-xl) {
    width: 8.333333%;
  }
}

@mixin xl\:w-2\/12 {
  @media (min-width: $breakpoint-xl) {
    width: 16.666667%;
  }
}

@mixin xl\:w-3\/12 {
  @media (min-width: $breakpoint-xl) {
    width: 25%;
  }
}

@mixin xl\:w-4\/12 {
  @media (min-width: $breakpoint-xl) {
    width: 33.333333%;
  }
}

@mixin xl\:w-5\/12 {
  @media (min-width: $breakpoint-xl) {
    width: 41.666667%;
  }
}

@mixin xl\:w-6\/12 {
  @media (min-width: $breakpoint-xl) {
    width: 50%;
  }
}

@mixin xl\:w-7\/12 {
  @media (min-width: $breakpoint-xl) {
    width: 58.333333%;
  }
}

@mixin xl\:w-8\/12 {
  @media (min-width: $breakpoint-xl) {
    width: 66.666667%;
  }
}

@mixin xl\:w-9\/12 {
  @media (min-width: $breakpoint-xl) {
    width: 75%;
  }
}

@mixin xl\:w-10\/12 {
  @media (min-width: $breakpoint-xl) {
    width: 83.333333%;
  }
}

@mixin xl\:w-11\/12 {
  @media (min-width: $breakpoint-xl) {
    width: 91.666667%;
  }
}

@mixin xl\:w-full {
  @media (min-width: $breakpoint-xl) {
    width: 100%;
  }
}

@mixin xl\:w-screen {
  @media (min-width: $breakpoint-xl) {
    width: 100vw;
  }
}

@mixin xl\:w-svw {
  @media (min-width: $breakpoint-xl) {
    width: 100svw;
  }
}

@mixin xl\:w-lvw {
  @media (min-width: $breakpoint-xl) {
    width: 100lvw;
  }
}

@mixin xl\:w-dvw {
  @media (min-width: $breakpoint-xl) {
    width: 100dvw;
  }
}

@mixin xl\:w-min {
  @media (min-width: $breakpoint-xl) {
    width: min-content;
  }
}

@mixin xl\:w-max {
  @media (min-width: $breakpoint-xl) {
    width: max-content;
  }
}

@mixin xl\:w-fit {
  @media (min-width: $breakpoint-xl) {
    width: fit-content;
  }
}


@mixin \2xl\:w-0 {
  @media (min-width: $breakpoint-2xl) {
    width: 0px;
  }
}

@mixin \2xl\:w-px {
  @media (min-width: $breakpoint-2xl) {
    width: 1px;
  }
}

/* 2px */
@mixin \2xl\:w-0\.5 {
  @media (min-width: $breakpoint-2xl) {
    width: 0.125rem;
  }
}

/* 4px */
@mixin \2xl\:w-1 {
  @media (min-width: $breakpoint-2xl) {
    width: 0.25rem;
  }
}

/* 6px */
@mixin \2xl\:w-1\.5 {
  @media (min-width: $breakpoint-2xl) {
    width: 0.375rem;
  }
}

/* 8px */
@mixin \2xl\:w-2 {
  @media (min-width: $breakpoint-2xl) {
    width: 0.5rem;
  }
}

/* 10px */
@mixin \2xl\:w-2\.5 {
  @media (min-width: $breakpoint-2xl) {
    width: 0.625rem;
  }
}

/* 12px */
@mixin \2xl\:w-3 {
  @media (min-width: $breakpoint-2xl) {
    width: 0.75rem;
  }
}

/* 14px */
@mixin \2xl\:w-3\.5 {
  @media (min-width: $breakpoint-2xl) {
    width: 0.875rem;
  }
}

/* 16px */
@mixin \2xl\:w-4 {
  @media (min-width: $breakpoint-2xl) {
    width: 1rem;
  }
}

/* 20px */
@mixin \2xl\:w-5 {
  @media (min-width: $breakpoint-2xl) {
    width: 1.25rem;
  }
}

/* 24px */
@mixin \2xl\:w-6 {
  @media (min-width: $breakpoint-2xl) {
    width: 1.5rem;
  }
}

/* 28px */
@mixin \2xl\:w-7 {
  @media (min-width: $breakpoint-2xl) {
    width: 1.75rem;
  }
}

/* 32px */
@mixin \2xl\:w-8 {
  @media (min-width: $breakpoint-2xl) {
    width: 2rem;
  }
}

/* 36px */
@mixin \2xl\:w-9 {
  @media (min-width: $breakpoint-2xl) {
    width: 2.25rem;
  }
}

/* 40px */
@mixin \2xl\:w-10 {
  @media (min-width: $breakpoint-2xl) {
    width: 2.5rem;
  }
}

/* 44px */
@mixin \2xl\:w-11 {
  @media (min-width: $breakpoint-2xl) {
    width: 2.75rem;
  }
}

/* 48px */
@mixin \2xl\:w-12 {
  @media (min-width: $breakpoint-2xl) {
    width: 3rem;
  }
}

/* 56px */
@mixin \2xl\:w-14 {
  @media (min-width: $breakpoint-2xl) {
    width: 3.5rem;
  }
}

/* 64px */
@mixin \2xl\:w-16 {
  @media (min-width: $breakpoint-2xl) {
    width: 4rem;
  }
}

/* 80px */
@mixin \2xl\:w-20 {
  @media (min-width: $breakpoint-2xl) {
    width: 5rem;
  }
}

/* 96px */
@mixin \2xl\:w-24 {
  @media (min-width: $breakpoint-2xl) {
    width: 6rem;
  }
}

/* 112px */
@mixin \2xl\:w-28 {
  @media (min-width: $breakpoint-2xl) {
    width: 7rem;
  }
}

/* 128px */
@mixin \2xl\:w-32 {
  @media (min-width: $breakpoint-2xl) {
    width: 8rem;
  }
}

/* 144px */
@mixin \2xl\:w-36 {
  @media (min-width: $breakpoint-2xl) {
    width: 9rem;
  }
}

/* 160px */
@mixin \2xl\:w-40 {
  @media (min-width: $breakpoint-2xl) {
    width: 10rem;
  }
}

/* 176px */
@mixin \2xl\:w-44 {
  @media (min-width: $breakpoint-2xl) {
    width: 11rem;
  }
}

/* 192px */
@mixin \2xl\:w-48 {
  @media (min-width: $breakpoint-2xl) {
    width: 12rem;
  }
}

/* 208px */
@mixin \2xl\:w-52 {
  @media (min-width: $breakpoint-2xl) {
    width: 13rem;
  }
}

/* 224px */
@mixin \2xl\:w-56 {
  @media (min-width: $breakpoint-2xl) {
    width: 14rem;
  }
}

/* 240px */
@mixin \2xl\:w-60 {
  @media (min-width: $breakpoint-2xl) {
    width: 15rem;
  }
}

/* 256px */
@mixin \2xl\:w-64 {
  @media (min-width: $breakpoint-2xl) {
    width: 16rem;
  }
}

/* 288px */
@mixin \2xl\:w-72 {
  @media (min-width: $breakpoint-2xl) {
    width: 18rem;
  }
}

/* 320px */
@mixin \2xl\:w-80 {
  @media (min-width: $breakpoint-2xl) {
    width: 20rem;
  }
}

/* 384px */
@mixin \2xl\:w-96 {
  @media (min-width: $breakpoint-2xl) {
    width: 24rem;
  }
}

@mixin \2xl\:w-auto {
  @media (min-width: $breakpoint-2xl) {
    width: auto;
  }
}

@mixin \2xl\:w-1\/2 {
  @media (min-width: $breakpoint-2xl) {
    width: 50%;
  }
}

@mixin \2xl\:w-1\/3 {
  @media (min-width: $breakpoint-2xl) {
    width: 33.333333%;
  }
}

@mixin \2xl\:w-2\/3 {
  @media (min-width: $breakpoint-2xl) {
    width: 66.666667%;
  }
}

@mixin \2xl\:w-1\/4 {
  @media (min-width: $breakpoint-2xl) {
    width: 25%;
  }
}

@mixin \2xl\:w-2\/4 {
  @media (min-width: $breakpoint-2xl) {
    width: 50%;
  }
}

@mixin \2xl\:w-3\/4 {
  @media (min-width: $breakpoint-2xl) {
    width: 75%;
  }
}

@mixin \2xl\:w-1\/5 {
  @media (min-width: $breakpoint-2xl) {
    width: 20%;
  }
}

@mixin \2xl\:w-2\/5 {
  @media (min-width: $breakpoint-2xl) {
    width: 40%;
  }
}

@mixin \2xl\:w-3\/5 {
  @media (min-width: $breakpoint-2xl) {
    width: 60%;
  }
}

@mixin \2xl\:w-4\/5 {
  @media (min-width: $breakpoint-2xl) {
    width: 80%;
  }
}

@mixin \2xl\:w-1\/6 {
  @media (min-width: $breakpoint-2xl) {
    width: 16.666667%;
  }
}

@mixin \2xl\:w-2\/6 {
  @media (min-width: $breakpoint-2xl) {
    width: 33.333333%;
  }
}

@mixin \2xl\:w-3\/6 {
  @media (min-width: $breakpoint-2xl) {
    width: 50%;
  }
}

@mixin \2xl\:w-4\/6 {
  @media (min-width: $breakpoint-2xl) {
    width: 66.666667%;
  }
}

@mixin \2xl\:w-5\/6 {
  @media (min-width: $breakpoint-2xl) {
    width: 83.333333%;
  }
}

@mixin \2xl\:w-1\/12 {
  @media (min-width: $breakpoint-2xl) {
    width: 8.333333%;
  }
}

@mixin \2xl\:w-2\/12 {
  @media (min-width: $breakpoint-2xl) {
    width: 16.666667%;
  }
}

@mixin \2xl\:w-3\/12 {
  @media (min-width: $breakpoint-2xl) {
    width: 25%;
  }
}

@mixin \2xl\:w-4\/12 {
  @media (min-width: $breakpoint-2xl) {
    width: 33.333333%;
  }
}

@mixin \2xl\:w-5\/12 {
  @media (min-width: $breakpoint-2xl) {
    width: 41.666667%;
  }
}

@mixin \2xl\:w-6\/12 {
  @media (min-width: $breakpoint-2xl) {
    width: 50%;
  }
}

@mixin \2xl\:w-7\/12 {
  @media (min-width: $breakpoint-2xl) {
    width: 58.333333%;
  }
}

@mixin \2xl\:w-8\/12 {
  @media (min-width: $breakpoint-2xl) {
    width: 66.666667%;
  }
}

@mixin \2xl\:w-9\/12 {
  @media (min-width: $breakpoint-2xl) {
    width: 75%;
  }
}

@mixin \2xl\:w-10\/12 {
  @media (min-width: $breakpoint-2xl) {
    width: 83.333333%;
  }
}

@mixin \2xl\:w-11\/12 {
  @media (min-width: $breakpoint-2xl) {
    width: 91.666667%;
  }
}

@mixin \2xl\:w-full {
  @media (min-width: $breakpoint-2xl) {
    width: 100%;
  }
}

@mixin \2xl\:w-screen {
  @media (min-width: $breakpoint-2xl) {
    width: 100vw;
  }
}

@mixin \2xl\:w-svw {
  @media (min-width: $breakpoint-2xl) {
    width: 100svw;
  }
}

@mixin \2xl\:w-lvw {
  @media (min-width: $breakpoint-2xl) {
    width: 100lvw;
  }
}

@mixin \2xl\:w-dvw {
  @media (min-width: $breakpoint-2xl) {
    width: 100dvw;
  }
}

@mixin \2xl\:w-min {
  @media (min-width: $breakpoint-2xl) {
    width: min-content;
  }
}

@mixin \2xl\:w-max {
  @media (min-width: $breakpoint-2xl) {
    width: max-content;
  }
}

@mixin \2xl\:w-fit {
  @media (min-width: $breakpoint-2xl) {
    width: fit-content;
  }
}