@mixin sm\:grow {
  @media (min-width: $breakpoint-sm) {
    flex-grow: 1;
  }
}

@mixin sm\:grow-0 {
  @media (min-width: $breakpoint-sm) {
    flex-grow: 0;
  }
}

@mixin md\:grow {
  @media (min-width: $breakpoint-md) {
    flex-grow: 1;
  }
}

@mixin md\:grow-0 {
  @media (min-width: $breakpoint-md) {
    flex-grow: 0;
  }
}

@mixin lg\:grow {
  @media (min-width: $breakpoint-lg) {
    flex-grow: 1;
  }
}

@mixin lg\:grow-0 {
  @media (min-width: $breakpoint-lg) {
    flex-grow: 0;
  }
}

@mixin xl\:grow {
  @media (min-width: $breakpoint-xl) {
    flex-grow: 1;
  }
}

@mixin xl\:grow-0 {
  @media (min-width: $breakpoint-xl) {
    flex-grow: 0;
  }
}

@mixin \2xl\:grow {
  @media (min-width: $breakpoint-2xl) {
    flex-grow: 1;
  }
}

@mixin \2xl\:grow-0 {
  @media (min-width: $breakpoint-2xl) {
    flex-grow: 0;
  }
}