@mixin sm\:flex-1 {
  @media (min-width: $breakpoint-sm) {
    flex: 1 1 0%;
  }
}

@mixin sm\:flex-auto {
  @media (min-width: $breakpoint-sm) {
    flex: 1 1 auto;
  }
}

@mixin sm\:flex-initial {
  @media (min-width: $breakpoint-sm) {
    flex: 0 1 auto;
  }
}

@mixin sm\:flex-none {
  @media (min-width: $breakpoint-sm) {
    flex: none;
  }
}

@mixin md\:flex-1 {
  @media (min-width: $breakpoint-md) {
    flex: 1 1 0%;
  }
}

@mixin md\:flex-auto {
  @media (min-width: $breakpoint-md) {
    flex: 1 1 auto;
  }
}

@mixin md\:flex-initial {
  @media (min-width: $breakpoint-md) {
    flex: 0 1 auto;
  }
}

@mixin md\:flex-none {
  @media (min-width: $breakpoint-md) {
    flex: none;
  }
}

@mixin lg\:flex-1 {
  @media (min-width: $breakpoint-lg) {
    flex: 1 1 0%;
  }
}

@mixin lg\:flex-auto {
  @media (min-width: $breakpoint-lg) {
    flex: 1 1 auto;
  }
}

@mixin lg\:flex-initial {
  @media (min-width: $breakpoint-lg) {
    flex: 0 1 auto;
  }
}

@mixin lg\:flex-none {
  @media (min-width: $breakpoint-lg) {
    flex: none;
  }
}

@mixin xl\:flex-1 {
  @media (min-width: $breakpoint-xl) {
    flex: 1 1 0%;
  }
}

@mixin xl\:flex-auto {
  @media (min-width: $breakpoint-xl) {
    flex: 1 1 auto;
  }
}

@mixin xl\:flex-initial {
  @media (min-width: $breakpoint-xl) {
    flex: 0 1 auto;
  }
}

@mixin xl\:flex-none {
  @media (min-width: $breakpoint-xl) {
    flex: none;
  }
}

@mixin \2xl\:flex-1 {
  @media (min-width: $breakpoint-2xl) {
    flex: 1 1 0%;
  }
}

@mixin \2xl\:flex-auto {
  @media (min-width: $breakpoint-2xl) {
    flex: 1 1 auto;
  }
}

@mixin \2xl\:flex-initial {
  @media (min-width: $breakpoint-2xl) {
    flex: 0 1 auto;
  }
}

@mixin \2xl\:flex-none {
  @media (min-width: $breakpoint-2xl) {
    flex: none;
  }
}