  @mixin \2xl\:gap-0 {
    @media (min-width: $breakpoint-2xl) {
      gap: 0px;
    }
  }

  @mixin \2xl\:gap-x-0 {
    @media (min-width: $breakpoint-2xl) {
      column-gap: 0px;
    }
  }

  @mixin \2xl\:gap-y-0 {
    @media (min-width: $breakpoint-2xl) {
      row-gap: 0px;
    }
  }

  @mixin \2xl\:gap-px {
    @media (min-width: $breakpoint-2xl) {
      gap: 1px;
    }
  }

  @mixin \2xl\:gap-x-px {
    @media (min-width: $breakpoint-2xl) {
      column-gap: 1px;
    }
  }

  @mixin \2xl\:gap-y-px {
    @media (min-width: $breakpoint-2xl) {
      row-gap: 1px;
    }
  }

  /* 2px */
  @mixin \2xl\:gap-0\.5 {
    @media (min-width: $breakpoint-2xl) {
      gap: 0.125rem;
    }
  }

  /* 2px */
  @mixin \2xl\:gap-x-0\.5 {
    @media (min-width: $breakpoint-2xl) {
      column-gap: 0.125rem;
    }
  }

  /* 2px */
  @mixin \2xl\:gap-y-0\.5 {
    @media (min-width: $breakpoint-2xl) {
      row-gap: 0.125rem;
    }
  }

  /* 4px */
  @mixin \2xl\:gap-1 {
    @media (min-width: $breakpoint-2xl) {
      gap: 0.25rem;
    }
  }

  /* 4px */
  @mixin \2xl\:gap-x-1 {
    @media (min-width: $breakpoint-2xl) {
      column-gap: 0.25rem;
    }
  }

  /* 4px */
  @mixin \2xl\:gap-y-1 {
    @media (min-width: $breakpoint-2xl) {
      row-gap: 0.25rem;
    }
  }

  /* 6px */
  @mixin \2xl\:gap-1\.5 {
    @media (min-width: $breakpoint-2xl) {
      gap: 0.375rem;
    }
  }

  /* 6px */
  @mixin \2xl\:gap-x-1\.5 {
    @media (min-width: $breakpoint-2xl) {
      column-gap: 0.375rem;
    }
  }

  /* 6px */
  @mixin \2xl\:gap-y-1\.5 {
    @media (min-width: $breakpoint-2xl) {
      row-gap: 0.375rem;
    }
  }

  /* 8px */
  @mixin \2xl\:gap-2 {
    @media (min-width: $breakpoint-2xl) {
      gap: 0.5rem;
    }
  }

  /* 8px */
  @mixin \2xl\:gap-x-2 {
    @media (min-width: $breakpoint-2xl) {
      column-gap: 0.5rem;
    }
  }

  /* 8px */
  @mixin \2xl\:gap-y-2 {
    @media (min-width: $breakpoint-2xl) {
      row-gap: 0.5rem;
    }
  }

  /* 10px */
  @mixin \2xl\:gap-2\.5 {
    @media (min-width: $breakpoint-2xl) {
      gap: 0.625rem;
    }
  }

  /* 10px */
  @mixin \2xl\:gap-x-2\.5 {
    @media (min-width: $breakpoint-2xl) {
      column-gap: 0.625rem;
    }
  }

  /* 10px */
  @mixin \2xl\:gap-y-2\.5 {
    @media (min-width: $breakpoint-2xl) {
      row-gap: 0.625rem;
    }
  }

  /* 12px */
  @mixin \2xl\:gap-3 {
    @media (min-width: $breakpoint-2xl) {
      gap: 0.75rem;
    }
  }

  /* 12px */
  @mixin \2xl\:gap-x-3 {
    @media (min-width: $breakpoint-2xl) {
      column-gap: 0.75rem;
    }
  }

  /* 12px */
  @mixin \2xl\:gap-y-3 {
    @media (min-width: $breakpoint-2xl) {
      row-gap: 0.75rem;
    }
  }

  /* 14px */
  @mixin \2xl\:gap-3\.5 {
    @media (min-width: $breakpoint-2xl) {
      gap: 0.875rem;
    }
  }

  /* 14px */
  @mixin \2xl\:gap-x-3\.5 {
    @media (min-width: $breakpoint-2xl) {
      column-gap: 0.875rem;
    }
  }

  /* 14px */
  @mixin \2xl\:gap-y-3\.5 {
    @media (min-width: $breakpoint-2xl) {
      row-gap: 0.875rem;
    }
  }

  /* 16px */
  @mixin \2xl\:gap-4 {
    @media (min-width: $breakpoint-2xl) {
      gap: 1rem;
    }
  }

  /* 16px */
  @mixin \2xl\:gap-x-4 {
    @media (min-width: $breakpoint-2xl) {
      column-gap: 1rem;
    }
  }

  /* 16px */
  @mixin \2xl\:gap-y-4 {
    @media (min-width: $breakpoint-2xl) {
      row-gap: 1rem;
    }
  }

  /* 20px */
  @mixin \2xl\:gap-5 {
    @media (min-width: $breakpoint-2xl) {
      gap: 1.25rem;
    }
  }

  /* 20px */
  @mixin \2xl\:gap-x-5 {
    @media (min-width: $breakpoint-2xl) {
      column-gap: 1.25rem;
    }
  }

  /* 20px */
  @mixin \2xl\:gap-y-5 {
    @media (min-width: $breakpoint-2xl) {
      row-gap: 1.25rem;
    }
  }

  /* 24px */
  @mixin \2xl\:gap-6 {
    @media (min-width: $breakpoint-2xl) {
      gap: 1.5rem;
    }
  }

  /* 24px */
  @mixin \2xl\:gap-x-6 {
    @media (min-width: $breakpoint-2xl) {
      column-gap: 1.5rem;
    }
  }

  /* 24px */
  @mixin \2xl\:gap-y-6 {
    @media (min-width: $breakpoint-2xl) {
      row-gap: 1.5rem;
    }
  }

  /* 28px */
  @mixin \2xl\:gap-7 {
    @media (min-width: $breakpoint-2xl) {
      gap: 1.75rem;
    }
  }

  /* 28px */
  @mixin \2xl\:gap-x-7 {
    @media (min-width: $breakpoint-2xl) {
      column-gap: 1.75rem;
    }
  }

  /* 28px */
  @mixin \2xl\:gap-y-7 {
    @media (min-width: $breakpoint-2xl) {
      row-gap: 1.75rem;
    }
  }

  /* 32px */
  @mixin \2xl\:gap-8 {
    @media (min-width: $breakpoint-2xl) {
      gap: 2rem;
    }
  }

  /* 32px */
  @mixin \2xl\:gap-x-8 {
    @media (min-width: $breakpoint-2xl) {
      column-gap: 2rem;
    }
  }

  /* 32px */
  @mixin \2xl\:gap-y-8 {
    @media (min-width: $breakpoint-2xl) {
      row-gap: 2rem;
    }
  }

  /* 36px */
  @mixin \2xl\:gap-9 {
    @media (min-width: $breakpoint-2xl) {
      gap: 2.25rem;
    }
  }

  /* 36px */
  @mixin \2xl\:gap-x-9 {
    @media (min-width: $breakpoint-2xl) {
      column-gap: 2.25rem;
    }
  }

  /* 36px */
  @mixin \2xl\:gap-y-9 {
    @media (min-width: $breakpoint-2xl) {
      row-gap: 2.25rem;
    }
  }

  /* 40px */
  @mixin \2xl\:gap-10 {
    @media (min-width: $breakpoint-2xl) {
      gap: 2.5rem;
    }
  }

  /* 40px */
  @mixin \2xl\:gap-x-10 {
    @media (min-width: $breakpoint-2xl) {
      column-gap: 2.5rem;
    }
  }

  /* 40px */
  @mixin \2xl\:gap-y-10 {
    @media (min-width: $breakpoint-2xl) {
      row-gap: 2.5rem;
    }
  }

  /* 44px */
  @mixin \2xl\:gap-11 {
    @media (min-width: $breakpoint-2xl) {
      gap: 2.75rem;
    }
  }

  /* 44px */
  @mixin \2xl\:gap-x-11 {
    @media (min-width: $breakpoint-2xl) {
      column-gap: 2.75rem;
    }
  }

  /* 44px */
  @mixin \2xl\:gap-y-11 {
    @media (min-width: $breakpoint-2xl) {
      row-gap: 2.75rem;
    }
  }

  /* 48px */
  @mixin \2xl\:gap-12 {
    @media (min-width: $breakpoint-2xl) {
      gap: 3rem;
    }
  }

  /* 48px */
  @mixin \2xl\:gap-x-12 {
    @media (min-width: $breakpoint-2xl) {
      column-gap: 3rem;
    }
  }

  /* 48px */
  @mixin \2xl\:gap-y-12 {
    @media (min-width: $breakpoint-2xl) {
      row-gap: 3rem;
    }
  }

  /* 56px */
  @mixin \2xl\:gap-14 {
    @media (min-width: $breakpoint-2xl) {
      gap: 3.5rem;
    }
  }

  /* 56px */
  @mixin \2xl\:gap-x-14 {
    @media (min-width: $breakpoint-2xl) {
      column-gap: 3.5rem;
    }
  }

  /* 56px */
  @mixin \2xl\:gap-y-14 {
    @media (min-width: $breakpoint-2xl) {
      row-gap: 3.5rem;
    }
  }

  /* 64px */
  @mixin \2xl\:gap-16 {
    @media (min-width: $breakpoint-2xl) {
      gap: 4rem;
    }
  }

  /* 64px */
  @mixin \2xl\:gap-x-16 {
    @media (min-width: $breakpoint-2xl) {
      column-gap: 4rem;
    }
  }

  /* 64px */
  @mixin \2xl\:gap-y-16 {
    @media (min-width: $breakpoint-2xl) {
      row-gap: 4rem;
    }
  }

  /* 80px */
  @mixin \2xl\:gap-20 {
    @media (min-width: $breakpoint-2xl) {
      gap: 5rem;
    }
  }

  /* 80px */
  @mixin \2xl\:gap-x-20 {
    @media (min-width: $breakpoint-2xl) {
      column-gap: 5rem;
    }
  }

  /* 80px */
  @mixin \2xl\:gap-y-20 {
    @media (min-width: $breakpoint-2xl) {
      row-gap: 5rem;
    }
  }

  /* 96px */
  @mixin \2xl\:gap-24 {
    @media (min-width: $breakpoint-2xl) {
      gap: 6rem;
    }
  }

  /* 96px */
  @mixin \2xl\:gap-x-24 {
    @media (min-width: $breakpoint-2xl) {
      column-gap: 6rem;
    }
  }

  /* 96px */
  @mixin \2xl\:gap-y-24 {
    @media (min-width: $breakpoint-2xl) {
      row-gap: 6rem;
    }
  }

  /* 112px */
  @mixin \2xl\:gap-28 {
    @media (min-width: $breakpoint-2xl) {
      gap: 7rem;
    }
  }

  /* 112px */
  @mixin \2xl\:gap-x-28 {
    @media (min-width: $breakpoint-2xl) {
      column-gap: 7rem;
    }
  }

  /* 112px */
  @mixin \2xl\:gap-y-28 {
    @media (min-width: $breakpoint-2xl) {
      row-gap: 7rem;
    }
  }

  /* 128px */
  @mixin \2xl\:gap-32 {
    @media (min-width: $breakpoint-2xl) {
      gap: 8rem;
    }
  }

  /* 128px */
  @mixin \2xl\:gap-x-32 {
    @media (min-width: $breakpoint-2xl) {
      column-gap: 8rem;
    }
  }

  /* 128px */
  @mixin \2xl\:gap-y-32 {
    @media (min-width: $breakpoint-2xl) {
      row-gap: 8rem;
    }
  }

  /* 144px */
  @mixin \2xl\:gap-36 {
    @media (min-width: $breakpoint-2xl) {
      gap: 9rem;
    }
  }

  /* 144px */
  @mixin \2xl\:gap-x-36 {
    @media (min-width: $breakpoint-2xl) {
      column-gap: 9rem;
    }
  }

  /* 144px */
  @mixin \2xl\:gap-y-36 {
    @media (min-width: $breakpoint-2xl) {
      row-gap: 9rem;
    }
  }

  /* 160px */
  @mixin \2xl\:gap-40 {
    @media (min-width: $breakpoint-2xl) {
      gap: 10rem;
    }
  }

  /* 160px */
  @mixin \2xl\:gap-x-40 {
    @media (min-width: $breakpoint-2xl) {
      column-gap: 10rem;
    }
  }

  /* 160px */
  @mixin \2xl\:gap-y-40 {
    @media (min-width: $breakpoint-2xl) {
      row-gap: 10rem;
    }
  }

  /* 176px */
  @mixin \2xl\:gap-44 {
    @media (min-width: $breakpoint-2xl) {
      gap: 11rem;
    }
  }

  /* 176px */
  @mixin \2xl\:gap-x-44 {
    @media (min-width: $breakpoint-2xl) {
      column-gap: 11rem;
    }
  }

  /* 176px */
  @mixin \2xl\:gap-y-44 {
    @media (min-width: $breakpoint-2xl) {
      row-gap: 11rem;
    }
  }

  /* 192px */
  @mixin \2xl\:gap-48 {
    @media (min-width: $breakpoint-2xl) {
      gap: 12rem;
    }
  }

  /* 192px */
  @mixin \2xl\:gap-x-48 {
    @media (min-width: $breakpoint-2xl) {
      column-gap: 12rem;
    }
  }

  /* 192px */
  @mixin \2xl\:gap-y-48 {
    @media (min-width: $breakpoint-2xl) {
      row-gap: 12rem;
    }
  }

  /* 208px */
  @mixin \2xl\:gap-52 {
    @media (min-width: $breakpoint-2xl) {
      gap: 13rem;
    }
  }

  /* 208px */
  @mixin \2xl\:gap-x-52 {
    @media (min-width: $breakpoint-2xl) {
      column-gap: 13rem;
    }
  }

  /* 208px */
  @mixin \2xl\:gap-y-52 {
    @media (min-width: $breakpoint-2xl) {
      row-gap: 13rem;
    }
  }

  /* 224px */
  @mixin \2xl\:gap-56 {
    @media (min-width: $breakpoint-2xl) {
      gap: 14rem;
    }
  }

  /* 224px */
  @mixin \2xl\:gap-x-56 {
    @media (min-width: $breakpoint-2xl) {
      column-gap: 14rem;
    }
  }

  /* 224px */
  @mixin \2xl\:gap-y-56 {
    @media (min-width: $breakpoint-2xl) {
      row-gap: 14rem;
    }
  }

  /* 240px */
  @mixin \2xl\:gap-60 {
    @media (min-width: $breakpoint-2xl) {
      gap: 15rem;
    }
  }

  /* 240px */
  @mixin \2xl\:gap-x-60 {
    @media (min-width: $breakpoint-2xl) {
      column-gap: 15rem;
    }
  }

  /* 240px */
  @mixin \2xl\:gap-y-60 {
    @media (min-width: $breakpoint-2xl) {
      row-gap: 15rem;
    }
  }

  /* 256px */
  @mixin \2xl\:gap-64 {
    @media (min-width: $breakpoint-2xl) {
      gap: 16rem;
    }
  }

  /* 256px */
  @mixin \2xl\:gap-x-64 {
    @media (min-width: $breakpoint-2xl) {
      column-gap: 16rem;
    }
  }

  /* 256px */
  @mixin \2xl\:gap-y-64 {
    @media (min-width: $breakpoint-2xl) {
      row-gap: 16rem;
    }
  }

  /* 288px */
  @mixin \2xl\:gap-72 {
    @media (min-width: $breakpoint-2xl) {
      gap: 18rem;
    }
  }

  /* 288px */
  @mixin \2xl\:gap-x-72 {
    @media (min-width: $breakpoint-2xl) {
      column-gap: 18rem;
    }
  }

  /* 288px */
  @mixin \2xl\:gap-y-72 {
    @media (min-width: $breakpoint-2xl) {
      row-gap: 18rem;
    }
  }

  /* 320px */
  @mixin \2xl\:gap-80 {
    @media (min-width: $breakpoint-2xl) {
      gap: 20rem;
    }
  }

  /* 320px */
  @mixin \2xl\:gap-x-80 {
    @media (min-width: $breakpoint-2xl) {
      column-gap: 20rem;
    }
  }

  /* 320px */
  @mixin \2xl\:gap-y-80 {
    @media (min-width: $breakpoint-2xl) {
      row-gap: 20rem;
    }
  }

  /* 384px */
  @mixin \2xl\:gap-96 {
    @media (min-width: $breakpoint-2xl) {
      gap: 24rem;
    }
  }

  /* 384px */
  @mixin \2xl\:gap-x-96 {
    @media (min-width: $breakpoint-2xl) {
      column-gap: 24rem;
    }
  }

  /* 384px */
  @mixin \2xl\:gap-y-96 {
    @media (min-width: $breakpoint-2xl) {
      row-gap: 24rem;
    }
  }


  