%decoration-slate-950\/0 {text-decoration-color: rgb(2 6 23 / 0);}
%decoration-slate-950\/5 {text-decoration-color: rgb(2 6 23 / 0.05);}
%decoration-slate-950\/10 {text-decoration-color: rgb(2 6 23 / 0.1);}
%decoration-slate-950\/15 {text-decoration-color: rgb(2 6 23 / 0.15);}
%decoration-slate-950\/20 {text-decoration-color: rgb(2 6 23 / 0.2);}
%decoration-slate-950\/25 {text-decoration-color: rgb(2 6 23 / 0.25);}
%decoration-slate-950\/30 {text-decoration-color: rgb(2 6 23 / 0.3);}
%decoration-slate-950\/35 {text-decoration-color: rgb(2 6 23 / 0.35);}
%decoration-slate-950\/40 {text-decoration-color: rgb(2 6 23 / 0.4);}
%decoration-slate-950\/45 {text-decoration-color: rgb(2 6 23 / 0.45);}
%decoration-slate-950\/50 {text-decoration-color: rgb(2 6 23 / 0.5);}
%decoration-slate-950\/55 {text-decoration-color: rgb(2 6 23 / 0.55);}
%decoration-slate-950\/60 {text-decoration-color: rgb(2 6 23 / 0.6);}
%decoration-slate-950\/65 {text-decoration-color: rgb(2 6 23 / 0.65);}
%decoration-slate-950\/70 {text-decoration-color: rgb(2 6 23 / 0.7);}
%decoration-slate-950\/75 {text-decoration-color: rgb(2 6 23 / 0.75);}
%decoration-slate-950\/80 {text-decoration-color: rgb(2 6 23 / 0.8);}
%decoration-slate-950\/85 {text-decoration-color: rgb(2 6 23 / 0.85);}
%decoration-slate-950\/90 {text-decoration-color: rgb(2 6 23 / 0.9);}
%decoration-slate-950\/95 {text-decoration-color: rgb(2 6 23 / 0.95);}
%decoration-slate-950\/100 {text-decoration-color: rgb(2 6 23 / 1);}


