  @mixin \2xl\:rounded-none {
    @media (min-width: $breakpoint-2xl) {
      border-radius: 0px;
    }
  }

  /* 2px */
  @mixin \2xl\:rounded-2xl {
    @media (min-width: $breakpoint-2xl) {
      border-radius: 0.125rem;
    }
  }

  /* 4px */
  @mixin \2xl\:rounded {
    @media (min-width: $breakpoint-2xl) {
      border-radius: 0.25rem;
    }
  }

  /* 6px */
  @mixin \2xl\:rounded-2xl {
    @media (min-width: $breakpoint-2xl) {
      border-radius: 0.375rem;
    }
  }

  /* 8px */
  @mixin \2xl\:rounded-2xl {
    @media (min-width: $breakpoint-2xl) {
      border-radius: 0.5rem;
    }
  }

  /* 12px */
  @mixin \2xl\:rounded-2xl {
    @media (min-width: $breakpoint-2xl) {
      border-radius: 0.75rem;
    }
  }

  /* 16px */
  @mixin \2xl\:rounded-2xl {
    @media (min-width: $breakpoint-2xl) {
      border-radius: 1rem;
    }
  }

  /* 24px */
  @mixin \2xl\:rounded-3xl {
    @media (min-width: $breakpoint-2xl) {
      border-radius: 1.5rem;
    }
  }

  @mixin \2xl\:rounded-full {
    @media (min-width: $breakpoint-2xl) {
      border-radius: 9999px;
    }
  }

  @mixin \2xl\:rounded-s-none {
    @media (min-width: $breakpoint-2xl) {
      border-start-start-radius: 0px;
      border-end-start-radius: 0px;
    }
  }

  /* 2px */
  @mixin \2xl\:rounded-s-2xl {
    @media (min-width: $breakpoint-2xl) {
      border-start-start-radius: 0.125rem;
      border-end-start-radius: 0.125rem;
    }
  }

  /* 4px */
  @mixin \2xl\:rounded-s {
    @media (min-width: $breakpoint-2xl) {
      border-start-start-radius: 0.25rem;
      border-end-start-radius: 0.25rem;
    }
  }

  /* 6px */
  @mixin \2xl\:rounded-s-2xl {
    @media (min-width: $breakpoint-2xl) {
      border-start-start-radius: 0.375rem;
      border-end-start-radius: 0.375rem;
    }
  }

  /* 8px */
  @mixin \2xl\:rounded-s-2xl {
    @media (min-width: $breakpoint-2xl) {
      border-start-start-radius: 0.5rem;
      border-end-start-radius: 0.5rem;
    }
  }

  /* 12px */
  @mixin \2xl\:rounded-s-2xl {
    @media (min-width: $breakpoint-2xl) {
      border-start-start-radius: 0.75rem;
      border-end-start-radius: 0.75rem;
    }
  }

  /* 16px */
  @mixin \2xl\:rounded-s-2xl {
    @media (min-width: $breakpoint-2xl) {
      border-start-start-radius: 1rem;
      border-end-start-radius: 1rem;
    }
  }

  /* 24px */
  @mixin \2xl\:rounded-s-3xl {
    @media (min-width: $breakpoint-2xl) {
      border-start-start-radius: 1.5rem;
      border-end-start-radius: 1.5rem;
    }
  }

  @mixin \2xl\:rounded-s-full {
    @media (min-width: $breakpoint-2xl) {
      border-start-start-radius: 9999px;
      border-end-start-radius: 9999px;
    }
  }

  @mixin \2xl\:rounded-e-none {
    @media (min-width: $breakpoint-2xl) {
      border-start-end-radius: 0px;
      border-end-end-radius: 0px;
    }
  }

  /* 2px */
  @mixin \2xl\:rounded-e-2xl {
    @media (min-width: $breakpoint-2xl) {
      border-start-end-radius: 0.125rem;
      border-end-end-radius: 0.125rem;
    }
  }

  /* 4px */
  @mixin \2xl\:rounded-e {
    @media (min-width: $breakpoint-2xl) {
      border-start-end-radius: 0.25rem;
      border-end-end-radius: 0.25rem;
    }
  }

  /* 6px */
  @mixin \2xl\:rounded-e-2xl {
    @media (min-width: $breakpoint-2xl) {
      border-start-end-radius: 0.375rem;
      border-end-end-radius: 0.375rem;
    }
  }

  /* 8px */
  @mixin \2xl\:rounded-e-2xl {
    @media (min-width: $breakpoint-2xl) {
      border-start-end-radius: 0.5rem;
      border-end-end-radius: 0.5rem;
    }
  }

  /* 12px */
  @mixin \2xl\:rounded-e-2xl {
    @media (min-width: $breakpoint-2xl) {
      border-start-end-radius: 0.75rem;
      border-end-end-radius: 0.75rem;
    }
  }

  /* 16px */
  @mixin \2xl\:rounded-e-2xl {
    @media (min-width: $breakpoint-2xl) {
      border-start-end-radius: 1rem;
      border-end-end-radius: 1rem;
    }
  }

  /* 24px */
  @mixin \2xl\:rounded-e-3xl {
    @media (min-width: $breakpoint-2xl) {
      border-start-end-radius: 1.5rem;
      border-end-end-radius: 1.5rem;
    }
  }

  @mixin \2xl\:rounded-e-full {
    @media (min-width: $breakpoint-2xl) {
      border-start-end-radius: 9999px;
      border-end-end-radius: 9999px;
    }
  }

  @mixin \2xl\:rounded-t-none {
    @media (min-width: $breakpoint-2xl) {
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
    }
  }

  /* 2px */
  @mixin \2xl\:rounded-t-2xl {
    @media (min-width: $breakpoint-2xl) {
      border-top-left-radius: 0.125rem;
      border-top-right-radius: 0.125rem;
    }
  }

  /* 4px */
  @mixin \2xl\:rounded-t {
    @media (min-width: $breakpoint-2xl) {
      border-top-left-radius: 0.25rem;
      border-top-right-radius: 0.25rem;
    }
  }

  /* 6px */
  @mixin \2xl\:rounded-t-2xl {
    @media (min-width: $breakpoint-2xl) {
      border-top-left-radius: 0.375rem;
      border-top-right-radius: 0.375rem;
    }
  }

  /* 8px */
  @mixin \2xl\:rounded-t-2xl {
    @media (min-width: $breakpoint-2xl) {
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
    }
  }

  /* 12px */
  @mixin \2xl\:rounded-t-2xl {
    @media (min-width: $breakpoint-2xl) {
      border-top-left-radius: 0.75rem;
      border-top-right-radius: 0.75rem;
    }
  }

  /* 16px */
  @mixin \2xl\:rounded-t-2xl {
    @media (min-width: $breakpoint-2xl) {
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
    }
  }

  /* 24px */
  @mixin \2xl\:rounded-t-3xl {
    @media (min-width: $breakpoint-2xl) {
      border-top-left-radius: 1.5rem;
      border-top-right-radius: 1.5rem;
    }
  }

  @mixin \2xl\:rounded-t-full {
    @media (min-width: $breakpoint-2xl) {
      border-top-left-radius: 9999px;
      border-top-right-radius: 9999px;
    }
  }

  @mixin \2xl\:rounded-r-none {
    @media (min-width: $breakpoint-2xl) {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
    }
  }

  /* 2px */
  @mixin \2xl\:rounded-r-2xl {
    @media (min-width: $breakpoint-2xl) {
      border-top-right-radius: 0.125rem;
      border-bottom-right-radius: 0.125rem;
    }
  }

  /* 4px */
  @mixin \2xl\:rounded-r {
    @media (min-width: $breakpoint-2xl) {
      border-top-right-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
    }
  }

  /* 6px */
  @mixin \2xl\:rounded-r-2xl {
    @media (min-width: $breakpoint-2xl) {
      border-top-right-radius: 0.375rem;
      border-bottom-right-radius: 0.375rem;
    }
  }

  /* 8px */
  @mixin \2xl\:rounded-r-2xl {
    @media (min-width: $breakpoint-2xl) {
      border-top-right-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
    }
  }

  /* 12px */
  @mixin \2xl\:rounded-r-2xl {
    @media (min-width: $breakpoint-2xl) {
      border-top-right-radius: 0.75rem;
      border-bottom-right-radius: 0.75rem;
    }
  }

  /* 16px */
  @mixin \2xl\:rounded-r-2xl {
    @media (min-width: $breakpoint-2xl) {
      border-top-right-radius: 1rem;
      border-bottom-right-radius: 1rem;
    }
  }

  /* 24px */
  @mixin \2xl\:rounded-r-3xl {
    @media (min-width: $breakpoint-2xl) {
      border-top-right-radius: 1.5rem;
      border-bottom-right-radius: 1.5rem;
    }
  }

  @mixin \2xl\:rounded-r-full {
    @media (min-width: $breakpoint-2xl) {
      border-top-right-radius: 9999px;
      border-bottom-right-radius: 9999px;
    }
  }

  @mixin \2xl\:rounded-b-none {
    @media (min-width: $breakpoint-2xl) {
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 0px;
    }
  }

  /* 2px */
  @mixin \2xl\:rounded-b-2xl {
    @media (min-width: $breakpoint-2xl) {
      border-bottom-right-radius: 0.125rem;
      border-bottom-left-radius: 0.125rem;
    }
  }

  /* 4px */
  @mixin \2xl\:rounded-b {
    @media (min-width: $breakpoint-2xl) {
      border-bottom-right-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem;
    }
  }

  /* 6px */
  @mixin \2xl\:rounded-b-2xl {
    @media (min-width: $breakpoint-2xl) {
      border-bottom-right-radius: 0.375rem;
      border-bottom-left-radius: 0.375rem;
    }
  }

  /* 8px */
  @mixin \2xl\:rounded-b-2xl {
    @media (min-width: $breakpoint-2xl) {
      border-bottom-right-radius: 0.5rem;
      border-bottom-left-radius: 0.5rem;
    }
  }

  /* 12px */
  @mixin \2xl\:rounded-b-2xl {
    @media (min-width: $breakpoint-2xl) {
      border-bottom-right-radius: 0.75rem;
      border-bottom-left-radius: 0.75rem;
    }
  }

  /* 16px */
  @mixin \2xl\:rounded-b-2xl {
    @media (min-width: $breakpoint-2xl) {
      border-bottom-right-radius: 1rem;
      border-bottom-left-radius: 1rem;
    }
  }

  /* 24px */
  @mixin \2xl\:rounded-b-3xl {
    @media (min-width: $breakpoint-2xl) {
      border-bottom-right-radius: 1.5rem;
      border-bottom-left-radius: 1.5rem;
    }
  }

  @mixin \2xl\:rounded-b-full {
    @media (min-width: $breakpoint-2xl) {
      border-bottom-right-radius: 9999px;
      border-bottom-left-radius: 9999px;
    }
  }

  @mixin \2xl\:rounded-l-none {
    @media (min-width: $breakpoint-2xl) {
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
    }
  }

  /* 2px */
  @mixin \2xl\:rounded-l-2xl {
    @media (min-width: $breakpoint-2xl) {
      border-top-left-radius: 0.125rem;
      border-bottom-left-radius: 0.125rem;
    }
  }

  /* 4px */
  @mixin \2xl\:rounded-l {
    @media (min-width: $breakpoint-2xl) {
      border-top-left-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem;
    }
  }

  /* 6px */
  @mixin \2xl\:rounded-l-2xl {
    @media (min-width: $breakpoint-2xl) {
      border-top-left-radius: 0.375rem;
      border-bottom-left-radius: 0.375rem;
    }
  }

  /* 8px */
  @mixin \2xl\:rounded-l-2xl {
    @media (min-width: $breakpoint-2xl) {
      border-top-left-radius: 0.5rem;
      border-bottom-left-radius: 0.5rem;
    }
  }

  /* 12px */
  @mixin \2xl\:rounded-l-2xl {
    @media (min-width: $breakpoint-2xl) {
      border-top-left-radius: 0.75rem;
      border-bottom-left-radius: 0.75rem;
    }
  }

  /* 16px */
  @mixin \2xl\:rounded-l-2xl {
    @media (min-width: $breakpoint-2xl) {
      border-top-left-radius: 1rem;
      border-bottom-left-radius: 1rem;
    }
  }

  /* 24px */
  @mixin \2xl\:rounded-l-3xl {
    @media (min-width: $breakpoint-2xl) {
      border-top-left-radius: 1.5rem;
      border-bottom-left-radius: 1.5rem;
    }
  }

  @mixin \2xl\:rounded-l-full {
    @media (min-width: $breakpoint-2xl) {
      border-top-left-radius: 9999px;
      border-bottom-left-radius: 9999px;
    }
  }

  @mixin \2xl\:rounded-ss-none {
    @media (min-width: $breakpoint-2xl) {
      border-start-start-radius: 0px;
    }
  }

  /* 2px */
  @mixin \2xl\:rounded-ss-2xl {
    @media (min-width: $breakpoint-2xl) {
      border-start-start-radius: 0.125rem;
    }
  }

  /* 4px */
  @mixin \2xl\:rounded-ss {
    @media (min-width: $breakpoint-2xl) {
      border-start-start-radius: 0.25rem;
    }
  }

  /* 6px */
  @mixin \2xl\:rounded-ss-2xl {
    @media (min-width: $breakpoint-2xl) {
      border-start-start-radius: 0.375rem;
    }
  }

  /* 8px */
  @mixin \2xl\:rounded-ss-2xl {
    @media (min-width: $breakpoint-2xl) {
      border-start-start-radius: 0.5rem;
    }
  }

  /* 12px */
  @mixin \2xl\:rounded-ss-2xl {
    @media (min-width: $breakpoint-2xl) {
      border-start-start-radius: 0.75rem;
    }
  }

  /* 16px */
  @mixin \2xl\:rounded-ss-2xl {
    @media (min-width: $breakpoint-2xl) {
      border-start-start-radius: 1rem;
    }
  }

  /* 24px */
  @mixin \2xl\:rounded-ss-3xl {
    @media (min-width: $breakpoint-2xl) {
      border-start-start-radius: 1.5rem;
    }
  }

  @mixin \2xl\:rounded-ss-full {
    @media (min-width: $breakpoint-2xl) {
      border-start-start-radius: 9999px;
    }
  }

  @mixin \2xl\:rounded-se-none {
    @media (min-width: $breakpoint-2xl) {
      border-start-end-radius: 0px;
    }
  }

  /* 2px */
  @mixin \2xl\:rounded-se-2xl {
    @media (min-width: $breakpoint-2xl) {
      border-start-end-radius: 0.125rem;
    }
  }

  /* 4px */
  @mixin \2xl\:rounded-se {
    @media (min-width: $breakpoint-2xl) {
      border-start-end-radius: 0.25rem;
    }
  }

  /* 6px */
  @mixin \2xl\:rounded-se-2xl {
    @media (min-width: $breakpoint-2xl) {
      border-start-end-radius: 0.375rem;
    }
  }

  /* 8px */
  @mixin \2xl\:rounded-se-2xl {
    @media (min-width: $breakpoint-2xl) {
      border-start-end-radius: 0.5rem;
    }
  }

  /* 12px */
  @mixin \2xl\:rounded-se-2xl {
    @media (min-width: $breakpoint-2xl) {
      border-start-end-radius: 0.75rem;
    }
  }

  /* 16px */
  @mixin \2xl\:rounded-se-2xl {
    @media (min-width: $breakpoint-2xl) {
      border-start-end-radius: 1rem;
    }
  }

  /* 24px */
  @mixin \2xl\:rounded-se-3xl {
    @media (min-width: $breakpoint-2xl) {
      border-start-end-radius: 1.5rem;
    }
  }

  @mixin \2xl\:rounded-se-full {
    @media (min-width: $breakpoint-2xl) {
      border-start-end-radius: 9999px;
    }
  }

  @mixin \2xl\:rounded-ee-none {
    @media (min-width: $breakpoint-2xl) {
      border-end-end-radius: 0px;
    }
  }

  /* 2px */
  @mixin \2xl\:rounded-ee-2xl {
    @media (min-width: $breakpoint-2xl) {
      border-end-end-radius: 0.125rem;
    }
  }

  /* 4px */
  @mixin \2xl\:rounded-ee {
    @media (min-width: $breakpoint-2xl) {
      border-end-end-radius: 0.25rem;
    }
  }

  /* 6px */
  @mixin \2xl\:rounded-ee-2xl {
    @media (min-width: $breakpoint-2xl) {
      border-end-end-radius: 0.375rem;
    }
  }

  /* 8px */
  @mixin \2xl\:rounded-ee-2xl {
    @media (min-width: $breakpoint-2xl) {
      border-end-end-radius: 0.5rem;
    }
  }

  /* 12px */
  @mixin \2xl\:rounded-ee-2xl {
    @media (min-width: $breakpoint-2xl) {
      border-end-end-radius: 0.75rem;
    }
  }

  /* 16px */
  @mixin \2xl\:rounded-ee-2xl {
    @media (min-width: $breakpoint-2xl) {
      border-end-end-radius: 1rem;
    }
  }

  /* 24px */
  @mixin \2xl\:rounded-ee-3xl {
    @media (min-width: $breakpoint-2xl) {
      border-end-end-radius: 1.5rem;
    }
  }

  @mixin \2xl\:rounded-ee-full {
    @media (min-width: $breakpoint-2xl) {
      border-end-end-radius: 9999px;
    }
  }

  @mixin \2xl\:rounded-es-none {
    @media (min-width: $breakpoint-2xl) {
      border-end-start-radius: 0px;
    }
  }

  /* 2px */
  @mixin \2xl\:rounded-es-2xl {
    @media (min-width: $breakpoint-2xl) {
      border-end-start-radius: 0.125rem;
    }
  }

  /* 4px */
  @mixin \2xl\:rounded-es {
    @media (min-width: $breakpoint-2xl) {
      border-end-start-radius: 0.25rem;
    }
  }

  /* 6px */
  @mixin \2xl\:rounded-es-2xl {
    @media (min-width: $breakpoint-2xl) {
      border-end-start-radius: 0.375rem;
    }
  }

  /* 8px */
  @mixin \2xl\:rounded-es-2xl {
    @media (min-width: $breakpoint-2xl) {
      border-end-start-radius: 0.5rem;
    }
  }

  /* 12px */
  @mixin \2xl\:rounded-es-2xl {
    @media (min-width: $breakpoint-2xl) {
      border-end-start-radius: 0.75rem;
    }
  }

  /* 16px */
  @mixin \2xl\:rounded-es-2xl {
    @media (min-width: $breakpoint-2xl) {
      border-end-start-radius: 1rem;
    }
  }

  /* 24px */
  @mixin \2xl\:rounded-es-3xl {
    @media (min-width: $breakpoint-2xl) {
      border-end-start-radius: 1.5rem;
    }
  }

  @mixin \2xl\:rounded-es-full {
    @media (min-width: $breakpoint-2xl) {
      border-end-start-radius: 9999px;
    }
  }

  @mixin \2xl\:rounded-tl-none {
    @media (min-width: $breakpoint-2xl) {
      border-top-left-radius: 0px;
    }
  }

  /* 2px */
  @mixin \2xl\:rounded-tl-2xl {
    @media (min-width: $breakpoint-2xl) {
      border-top-left-radius: 0.125rem;
    }
  }

  /* 4px */
  @mixin \2xl\:rounded-tl {
    @media (min-width: $breakpoint-2xl) {
      border-top-left-radius: 0.25rem;
    }
  }

  /* 6px */
  @mixin \2xl\:rounded-tl-2xl {
    @media (min-width: $breakpoint-2xl) {
      border-top-left-radius: 0.375rem;
    }
  }

  /* 8px */
  @mixin \2xl\:rounded-tl-2xl {
    @media (min-width: $breakpoint-2xl) {
      border-top-left-radius: 0.5rem;
    }
  }

  /* 12px */
  @mixin \2xl\:rounded-tl-2xl {
    @media (min-width: $breakpoint-2xl) {
      border-top-left-radius: 0.75rem;
    }
  }

  /* 16px */
  @mixin \2xl\:rounded-tl-2xl {
    @media (min-width: $breakpoint-2xl) {
      border-top-left-radius: 1rem;
    }
  }

  /* 24px */
  @mixin \2xl\:rounded-tl-3xl {
    @media (min-width: $breakpoint-2xl) {
      border-top-left-radius: 1.5rem;
    }
  }

  @mixin \2xl\:rounded-tl-full {
    @media (min-width: $breakpoint-2xl) {
      border-top-left-radius: 9999px;
    }
  }

  @mixin \2xl\:rounded-tr-none {
    @media (min-width: $breakpoint-2xl) {
      border-top-right-radius: 0px;
    }
  }

  /* 2px */
  @mixin \2xl\:rounded-tr-2xl {
    @media (min-width: $breakpoint-2xl) {
      border-top-right-radius: 0.125rem;
    }
  }

  /* 4px */
  @mixin \2xl\:rounded-tr {
    @media (min-width: $breakpoint-2xl) {
      border-top-right-radius: 0.25rem;
    }
  }

  /* 6px */
  @mixin \2xl\:rounded-tr-2xl {
    @media (min-width: $breakpoint-2xl) {
      border-top-right-radius: 0.375rem;
    }
  }

  /* 8px */
  @mixin \2xl\:rounded-tr-2xl {
    @media (min-width: $breakpoint-2xl) {
      border-top-right-radius: 0.5rem;
    }
  }

  /* 12px */
  @mixin \2xl\:rounded-tr-2xl {
    @media (min-width: $breakpoint-2xl) {
      border-top-right-radius: 0.75rem;
    }
  }

  /* 16px */
  @mixin \2xl\:rounded-tr-2xl {
    @media (min-width: $breakpoint-2xl) {
      border-top-right-radius: 1rem;
    }
  }

  /* 24px */
  @mixin \2xl\:rounded-tr-3xl {
    @media (min-width: $breakpoint-2xl) {
      border-top-right-radius: 1.5rem;
    }
  }

  @mixin \2xl\:rounded-tr-full {
    @media (min-width: $breakpoint-2xl) {
      border-top-right-radius: 9999px;
    }
  }

  @mixin \2xl\:rounded-br-none {
    @media (min-width: $breakpoint-2xl) {
      border-bottom-right-radius: 0px;
    }
  }

  /* 2px */
  @mixin \2xl\:rounded-br-2xl {
    @media (min-width: $breakpoint-2xl) {
      border-bottom-right-radius: 0.125rem;
    }
  }

  /* 4px */
  @mixin \2xl\:rounded-br {
    @media (min-width: $breakpoint-2xl) {
      border-bottom-right-radius: 0.25rem;
    }
  }

  /* 6px */
  @mixin \2xl\:rounded-br-2xl {
    @media (min-width: $breakpoint-2xl) {
      border-bottom-right-radius: 0.375rem;
    }
  }

  /* 8px */
  @mixin \2xl\:rounded-br-2xl {
    @media (min-width: $breakpoint-2xl) {
      border-bottom-right-radius: 0.5rem;
    }
  }

  /* 12px */
  @mixin \2xl\:rounded-br-2xl {
    @media (min-width: $breakpoint-2xl) {
      border-bottom-right-radius: 0.75rem;
    }
  }

  /* 16px */
  @mixin \2xl\:rounded-br-2xl {
    @media (min-width: $breakpoint-2xl) {
      border-bottom-right-radius: 1rem;
    }
  }

  /* 24px */
  @mixin \2xl\:rounded-br-3xl {
    @media (min-width: $breakpoint-2xl) {
      border-bottom-right-radius: 1.5rem;
    }
  }

  @mixin \2xl\:rounded-br-full {
    @media (min-width: $breakpoint-2xl) {
      border-bottom-right-radius: 9999px;
    }
  }

  @mixin \2xl\:rounded-bl-none {
    @media (min-width: $breakpoint-2xl) {
      border-bottom-left-radius: 0px;
    }
  }

  /* 2px */
  @mixin \2xl\:rounded-bl-2xl {
    @media (min-width: $breakpoint-2xl) {
      border-bottom-left-radius: 0.125rem;
    }
  }

  /* 4px */
  @mixin \2xl\:rounded-bl {
    @media (min-width: $breakpoint-2xl) {
      border-bottom-left-radius: 0.25rem;
    }
  }

  /* 6px */
  @mixin \2xl\:rounded-bl-2xl {
    @media (min-width: $breakpoint-2xl) {
      border-bottom-left-radius: 0.375rem;
    }
  }

  /* 8px */
  @mixin \2xl\:rounded-bl-2xl {
    @media (min-width: $breakpoint-2xl) {
      border-bottom-left-radius: 0.5rem;
    }
  }

  /* 12px */
  @mixin \2xl\:rounded-bl-2xl {
    @media (min-width: $breakpoint-2xl) {
      border-bottom-left-radius: 0.75rem;
    }
  }

  /* 16px */
  @mixin \2xl\:rounded-bl-2xl {
    @media (min-width: $breakpoint-2xl) {
      border-bottom-left-radius: 1rem;
    }
  }

  /* 24px */
  @mixin \2xl\:rounded-bl-3xl {
    @media (min-width: $breakpoint-2xl) {
      border-bottom-left-radius: 1.5rem;
    }
  }

  @mixin \2xl\:rounded-bl-full {
    @media (min-width: $breakpoint-2xl) {
      border-bottom-left-radius: 9999px;
    }
  }



