@use "true" as *;
@use "../awaken" as *;

@include describe("1.Layout") {
  @include describe("Clear") {
    @include describe("Basic") {
      @include it("clear-start") {
        @include assert {
          @include output {
            @include clear-start;
            @include utils_reset;
          }

          @include expect {
            clear: inline-start;
          }
        }
      }

      @include it("clear-end") {
        @include assert {
          @include output {
            @include clear-end;
            @include utils_reset;
          }

          @include expect {
            clear: inline-end;
          }
        }
      }

      @include it("clear-left") {
        @include assert {
          @include output {
            @include clear-left;
            @include utils_reset;
          }

          @include expect {
            clear: left;
          }
        }
      }

      @include it("clear-right") {
        @include assert {
          @include output {
            @include clear-right;
            @include utils_reset;
          }

          @include expect {
            clear: right;
          }
        }
      }

      @include it("clear-both") {
        @include assert {
          @include output {
            @include clear-both;
            @include utils_reset;
          }

          @include expect {
            clear: both;
          }
        }
      }

      @include it("clear-none") {
        @include assert {
          @include output {
            @include clear-none;
            @include utils_reset;
          }

          @include expect {
            clear: none;
          }
        }
      }
    }
  }
}
