@use "true" as *;
@use "../style" as *;

@include describe("1-Layout") {
  @include describe("13-Object Fit") {
    @include describe("Basic") {
      @include it("object-contain") {
        @include assert {
          @include output {
            @include object-contain;
          }

          @include expect {
            object-fit: contain;
          }
        }
      }

      @include it("object-cover") {
        @include assert {
          @include output {
            @include object-cover;
          }

          @include expect {
            object-fit: cover;
          }
        }
      }

      @include it("object-fill") {
        @include assert {
          @include output {
            @include object-fill;
          }

          @include expect {
            object-fit: fill;
          }
        }
      }

      @include it("object-none") {
        @include assert {
          @include output {
            @include object-none;
          }

          @include expect {
            object-fit: none;
          }
        }
      }

      @include it("object-scale-down") {
        @include assert {
          @include output {
            @include object-scale-down;
          }

          @include expect {
            object-fit: scale-down;
          }
        }
      }
    }
  }
}
