@use "true" as *;
@use "../awaken" as *;

@include describe("1-Layout") {
  @include describe("15-Overflow") {
    @include describe("Basic") {
      @include it("overflow-auto") {
        @include assert {
          @include output {
            @include overflow-auto;
          }

          @include expect {
            overflow: auto;
          }
        }
      }

      @include it("overflow-hidden") {
        @include assert {
          @include output {
            @include overflow-hidden;
          }

          @include expect {
            overflow: hidden;
          }
        }
      }

      @include it("overflow-clip") {
        @include assert {
          @include output {
            @include overflow-clip;
          }

          @include expect {
            overflow: clip;
          }
        }
      }

      @include it("overflow-visible") {
        @include assert {
          @include output {
            @include overflow-visible;
          }

          @include expect {
            overflow: visible;
          }
        }
      }

      @include it("overflow-scroll") {
        @include assert {
          @include output {
            @include overflow-scroll;
          }

          @include expect {
            overflow: scroll;
          }
        }
      }

      @include it("overflow-x-auto") {
        @include assert {
          @include output {
            @include overflow-x-auto;
          }

          @include expect {
            overflow-x: auto;
          }
        }
      }

      @include it("overflow-y-auto") {
        @include assert {
          @include output {
            @include overflow-y-auto;
          }

          @include expect {
            overflow-y: auto;
          }
        }
      }

      @include it("overflow-x-hidden") {
        @include assert {
          @include output {
            @include overflow-x-hidden;
          }

          @include expect {
            overflow-x: hidden;
          }
        }
      }

      @include it("overflow-y-hidden") {
        @include assert {
          @include output {
            @include overflow-y-hidden;
          }

          @include expect {
            overflow-y: hidden;
          }
        }
      }

      @include it("overflow-x-clip") {
        @include assert {
          @include output {
            @include overflow-x-clip;
          }

          @include expect {
            overflow-x: clip;
          }
        }
      }

      @include it("overflow-y-clip") {
        @include assert {
          @include output {
            @include overflow-y-clip;
          }

          @include expect {
            overflow-y: clip;
          }
        }
      }

      @include it("overflow-x-visible") {
        @include assert {
          @include output {
            @include overflow-x-visible;
          }

          @include expect {
            overflow-x: visible;
          }
        }
      }

      @include it("overflow-y-visible") {
        @include assert {
          @include output {
            @include overflow-y-visible;
          }

          @include expect {
            overflow-y: visible;
          }
        }
      }

      @include it("overflow-x-scroll") {
        @include assert {
          @include output {
            @include overflow-x-scroll;
          }

          @include expect {
            overflow-x: scroll;
          }
        }
      }

      @include it("overflow-y-scroll") {
        @include assert {
          @include output {
            @include overflow-y-scroll;
          }

          @include expect {
            overflow-y: scroll;
          }
        }
      }
    }
  }
}
