@use "true" as *;
@use "../escss" as *;

@include describe("1-Layout") {
  @include describe("18-Visibility") {
    @include describe("Basic") {
      @include it("visible") {
        @include assert {
          @include output {
            @include visible;
          }

          @include expect {
            visibility: visible;
          }
        }
      }

      @include it("invisible") {
        @include assert {
          @include output {
            @include invisible;
          }

          @include expect {
            visibility: hidden;
          }
        }
      }

      @include it("collapse") {
        @include assert {
          @include output {
            @include collapse;
          }

          @include expect {
            visibility: collapse;
          }
        }
      }
    }
  }
}
