@use "true" as *;
@use "../escss" as *;

@include describe("1-Layout") {
  @include describe("19-Z-Index") {
    @include describe("Positive") {
      @include describe("Basic") {
        @include it("z-0") {
          @include assert {
            @include output {
              @include z-0;
            }

            @include expect {
              z-index: 0;
            }
          }
        }

        @include it("z-10") {
          @include assert {
            @include output {
              @include z-10;
            }

            @include expect {
              z-index: 10;
            }
          }
        }

        @include it("z-20") {
          @include assert {
            @include output {
              @include z-20;
            }

            @include expect {
              z-index: 20;
            }
          }
        }

        @include it("z-30") {
          @include assert {
            @include output {
              @include z-30;
            }

            @include expect {
              z-index: 30;
            }
          }
        }

        @include it("z-40") {
          @include assert {
            @include output {
              @include z-40;
            }

            @include expect {
              z-index: 40;
            }
          }
        }

        @include it("z-50") {
          @include assert {
            @include output {
              @include z-50;
            }

            @include expect {
              z-index: 50;
            }
          }
        }

        @include it("z-auto") {
          @include assert {
            @include output {
              @include z-auto;
            }

            @include expect {
              z-index: auto;
            }
          }
        }
      }

      @include describe("Custom") {
        @include it("z-(100)") {
          @include assert {
            @include output {
              @include z-(100);
            }

            @include expect {
              z-index: 100;
            }
          }
        }
      }
    }

    @include describe("Negative") {
      @include describe("Basic") {
        @include it("-z-0") {
          @include assert {
            @include output {
              @include \-z-0;
            }

            @include expect {
              z-index: 0;
            }
          }
        }

        @include it("-z-10") {
          @include assert {
            @include output {
              @include \-z-10;
            }

            @include expect {
              z-index: -10;
            }
          }
        }

        @include it("-z-20") {
          @include assert {
            @include output {
              @include \-z-20;
            }

            @include expect {
              z-index: -20;
            }
          }
        }

        @include it("-z-30") {
          @include assert {
            @include output {
              @include \-z-30;
            }

            @include expect {
              z-index: -30;
            }
          }
        }

        @include it("-z-40") {
          @include assert {
            @include output {
              @include \-z-40;
            }

            @include expect {
              z-index: -40;
            }
          }
        }

        @include it("-z-50") {
          @include assert {
            @include output {
              @include \-z-50;
            }

            @include expect {
              z-index: -50;
            }
          }
        }
      }

      @include describe("Custom") {
        @include it("-z-(100)") {
          @include assert {
            @include output {
              @include \-z-(100);
            }

            @include expect {
              z-index: -100;
            }
          }
        }
      }
    }
  }
}
