@use "true" as *;
@use "../escss" as *;

@include describe("1-Layout") {
  @include describe("5-Break Inside") {
    @include describe("Basic") {
      @include it("break-inside-auto") {
        @include assert {
          @include output {
            @include break-inside-auto;
          }

          @include expect {
            break-inside: auto;
          }
        }
      }

      @include it("break-inside-avoid") {
        @include assert {
          @include output {
            @include break-inside-avoid;
          }

          @include expect {
            break-inside: avoid;
          }
        }
      }

      @include it("break-inside-avoid-page") {
        @include assert {
          @include output {
            @include break-inside-avoid-page;
          }

          @include expect {
            break-inside: avoid-page;
          }
        }
      }

      @include it("break-inside-avoid-column") {
        @include assert {
          @include output {
            @include break-inside-avoid-column;
          }

          @include expect {
            break-inside: avoid-column;
          }
        }
      }
    }
  }
}
