@use "../../setting" as *;

@if $ScrollBehavior {
  /* ScrollBehavior */
  @if $Basic {
    @mixin_scroll-auto {
      scroll-behavior: auto;
    }

    @mixin_scroll-smooth {
      scroll-behavior: smooth;
    }
  }

  @if $Rwd {
    @mixin_sm\:scroll-auto {
      @media (min-width: $breakpoint-sm) {
        scroll-behavior: auto;
      }
    }

    @mixin_sm\:scroll-smooth {
      @media (min-width: $breakpoint-sm) {
        scroll-behavior: smooth;
      }
    }

    @mixin_md\:scroll-auto {
      @media (min-width: $breakpoint-md) {
        scroll-behavior: auto;
      }
    }

    @mixin_md\:scroll-smooth {
      @media (min-width: $breakpoint-md) {
        scroll-behavior: smooth;
      }
    }

    @mixin_lg\:scroll-auto {
      @media (min-width: $breakpoint-lg) {
        scroll-behavior: auto;
      }
    }

    @mixin_lg\:scroll-smooth {
      @media (min-width: $breakpoint-lg) {
        scroll-behavior: smooth;
      }
    }

    @mixin_xl\:scroll-auto {
      @media (min-width: $breakpoint-xl) {
        scroll-behavior: auto;
      }
    }

    @mixin_xl\:scroll-smooth {
      @media (min-width: $breakpoint-xl) {
        scroll-behavior: smooth;
      }
    }

    @mixin_\\2xl\:scroll-auto {
      @media (min-width: $breakpoint-2xl) {
        scroll-behavior: auto;
      }
    }

    @mixin_\\2xl\:scroll-smooth {
      @media (min-width: $breakpoint-2xl) {
        scroll-behavior: smooth;
      }
    }
  }
}
