@use "../../setting" as *;


$FlexGrow: (
  "grow": 1,
  "grow-0": 0,
);

@if $Basic {
  @each $key, $value in $FlexGrow {
    /*x
    @mixin #{$key} {
      @include flex-grow(#{$value});
    }
    x*/
  }
}

@if $Rwd and ($sizeMode ==0 or $sizeMode ==1) {
  @each $rwd in $rwdBox {
    @each $key, $value in $FlexGrow {
      /*x
      @mixin #{$rwd}\:#{$key} {
        @include flex-grow(#{$value}, $#{$rwd});
      }
      x*/
    }
  }
}

@if $Custom {
  /*x
  @mixin grow-($v) {
    @include flex-grow($v);
  }
  x*/

  @each $rwd in $rwdBox {
    /*x
    @mixin #{$rwd}\:grow-($v) {
      @include flex-grow($v, $#{$rwd});
    }
    x*/
  }
}