@use "../../setting" as *;

/* Border Spacing */
@if $Basic {
  // /*x
  @mixin border-spacing-0 {
    border-spacing: 0px 0px;
  }

  @mixin border-spacing-x-0 {
    border-spacing: 0px 0;
  }

  @mixin border-spacing-y-0 {
    border-spacing: 0 0px;
  }

  @mixin border-spacing-px {
    border-spacing: 1px 1px;
  }

  @mixin border-spacing-x-px {
    border-spacing: 1px 0;
  }

  @mixin border-spacing-y-px {
    border-spacing: 0 1px;
  }

  @mixin border-spacing-0\.5 {
    border-spacing: 0.125rem 0.125rem;
  }

  @mixin border-spacing-x-0\.5 {
    border-spacing: 0.125rem 0;
  }

  @mixin border-spacing-y-0\.5 {
    border-spacing: 0 0.125rem;
  }

  @mixin border-spacing-1 {
    border-spacing: 0.25rem 0.25rem;
  }

  @mixin border-spacing-x-1 {
    border-spacing: 0.25rem 0;
  }

  @mixin border-spacing-y-1 {
    border-spacing: 0 0.25rem;
  }

  @mixin border-spacing-1\.5 {
    border-spacing: 0.375rem 0.375rem;
  }

  @mixin border-spacing-x-1\.5 {
    border-spacing: 0.375rem 0;
  }

  @mixin border-spacing-y-1\.5 {
    border-spacing: 0 0.375rem;
  }

  @mixin border-spacing-2 {
    border-spacing: 0.5rem 0.5rem;
  }

  @mixin border-spacing-x-2 {
    border-spacing: 0.5rem 0;
  }

  @mixin border-spacing-y-2 {
    border-spacing: 0 0.5rem;
  }

  @mixin border-spacing-2\.5 {
    border-spacing: 0.625rem 0.625rem;
  }

  @mixin border-spacing-x-2\.5 {
    border-spacing: 0.625rem 0;
  }

  @mixin border-spacing-y-2\.5 {
    border-spacing: 0 0.625rem;
  }

  @mixin border-spacing-3 {
    border-spacing: 0.75rem 0.75rem;
  }

  @mixin border-spacing-x-3 {
    border-spacing: 0.75rem 0;
  }

  @mixin border-spacing-y-3 {
    border-spacing: 0 0.75rem;
  }

  @mixin border-spacing-3\.5 {
    border-spacing: 0.875rem 0.875rem;
  }

  @mixin border-spacing-x-3\.5 {
    border-spacing: 0.875rem 0;
  }

  @mixin border-spacing-y-3\.5 {
    border-spacing: 0 0.875rem;
  }

  @mixin border-spacing-4 {
    border-spacing: 1rem 1rem;
  }

  @mixin border-spacing-x-4 {
    border-spacing: 1rem 0;
  }

  @mixin border-spacing-y-4 {
    border-spacing: 0 1rem;
  }

  @mixin border-spacing-5 {
    border-spacing: 1.25rem 1.25rem;
  }

  @mixin border-spacing-x-5 {
    border-spacing: 1.25rem 0;
  }

  @mixin border-spacing-y-5 {
    border-spacing: 0 1.25rem;
  }

  @mixin border-spacing-6 {
    border-spacing: 1.5rem 1.5rem;
  }

  @mixin border-spacing-x-6 {
    border-spacing: 1.5rem 0;
  }

  @mixin border-spacing-y-6 {
    border-spacing: 0 1.5rem;
  }

  @mixin border-spacing-7 {
    border-spacing: 1.75rem 1.75rem;
  }

  @mixin border-spacing-x-7 {
    border-spacing: 1.75rem 0;
  }

  @mixin border-spacing-y-7 {
    border-spacing: 0 1.75rem;
  }

  @mixin border-spacing-8 {
    border-spacing: 2rem 2rem;
  }

  @mixin border-spacing-x-8 {
    border-spacing: 2rem 0;
  }

  @mixin border-spacing-y-8 {
    border-spacing: 0 2rem;
  }

  @mixin border-spacing-9 {
    border-spacing: 2.25rem 2.25rem;
  }

  @mixin border-spacing-x-9 {
    border-spacing: 2.25rem 0;
  }

  @mixin border-spacing-y-9 {
    border-spacing: 0 2.25rem;
  }

  @mixin border-spacing-10 {
    border-spacing: 2.5rem 2.5rem;
  }

  @mixin border-spacing-x-10 {
    border-spacing: 2.5rem 0;
  }

  @mixin border-spacing-y-10 {
    border-spacing: 0 2.5rem;
  }

  @mixin border-spacing-11 {
    border-spacing: 2.75rem 2.75rem;
  }

  @mixin border-spacing-x-11 {
    border-spacing: 2.75rem 0;
  }

  @mixin border-spacing-y-11 {
    border-spacing: 0 2.75rem;
  }

  @mixin border-spacing-12 {
    border-spacing: 3rem 3rem;
  }

  @mixin border-spacing-x-12 {
    border-spacing: 3rem 0;
  }

  @mixin border-spacing-y-12 {
    border-spacing: 0 3rem;
  }

  @mixin border-spacing-14 {
    border-spacing: 3.5rem 3.5rem;
  }

  @mixin border-spacing-x-14 {
    border-spacing: 3.5rem 0;
  }

  @mixin border-spacing-y-14 {
    border-spacing: 0 3.5rem;
  }

  @mixin border-spacing-16 {
    border-spacing: 4rem 4rem;
  }

  @mixin border-spacing-x-16 {
    border-spacing: 4rem 0;
  }

  @mixin border-spacing-y-16 {
    border-spacing: 0 4rem;
  }

  @mixin border-spacing-20 {
    border-spacing: 5rem 5rem;
  }

  @mixin border-spacing-x-20 {
    border-spacing: 5rem 0;
  }

  @mixin border-spacing-y-20 {
    border-spacing: 0 5rem;
  }

  @mixin border-spacing-24 {
    border-spacing: 6rem 6rem;
  }

  @mixin border-spacing-x-24 {
    border-spacing: 6rem 0;
  }

  @mixin border-spacing-y-24 {
    border-spacing: 0 6rem;
  }

  @mixin border-spacing-28 {
    border-spacing: 7rem 7rem;
  }

  @mixin border-spacing-x-28 {
    border-spacing: 7rem 0;
  }

  @mixin border-spacing-y-28 {
    border-spacing: 0 7rem;
  }

  @mixin border-spacing-32 {
    border-spacing: 8rem 8rem;
  }

  @mixin border-spacing-x-32 {
    border-spacing: 8rem 0;
  }

  @mixin border-spacing-y-32 {
    border-spacing: 0 8rem;
  }

  @mixin border-spacing-36 {
    border-spacing: 9rem 9rem;
  }

  @mixin border-spacing-x-36 {
    border-spacing: 9rem 0;
  }

  @mixin border-spacing-y-36 {
    border-spacing: 0 9rem;
  }

  @mixin border-spacing-40 {
    border-spacing: 10rem 10rem;
  }

  @mixin border-spacing-x-40 {
    border-spacing: 10rem 0;
  }

  @mixin border-spacing-y-40 {
    border-spacing: 0 10rem;
  }

  @mixin border-spacing-44 {
    border-spacing: 11rem 11rem;
  }

  @mixin border-spacing-x-44 {
    border-spacing: 11rem 0;
  }

  @mixin border-spacing-y-44 {
    border-spacing: 0 11rem;
  }

  @mixin border-spacing-48 {
    border-spacing: 12rem 12rem;
  }

  @mixin border-spacing-x-48 {
    border-spacing: 12rem 0;
  }

  @mixin border-spacing-y-48 {
    border-spacing: 0 12rem;
  }

  @mixin border-spacing-52 {
    border-spacing: 13rem 13rem;
  }

  @mixin border-spacing-x-52 {
    border-spacing: 13rem 0;
  }

  @mixin border-spacing-y-52 {
    border-spacing: 0 13rem;
  }

  @mixin border-spacing-56 {
    border-spacing: 14rem 14rem;
  }

  @mixin border-spacing-x-56 {
    border-spacing: 14rem 0;
  }

  @mixin border-spacing-y-56 {
    border-spacing: 0 14rem;
  }

  @mixin border-spacing-60 {
    border-spacing: 15rem 15rem;
  }

  @mixin border-spacing-x-60 {
    border-spacing: 15rem 0;
  }

  @mixin border-spacing-y-60 {
    border-spacing: 0 15rem;
  }

  @mixin border-spacing-64 {
    border-spacing: 16rem 16rem;
  }

  @mixin border-spacing-x-64 {
    border-spacing: 16rem 0;
  }

  @mixin border-spacing-y-64 {
    border-spacing: 0 16rem;
  }

  @mixin border-spacing-72 {
    border-spacing: 18rem 18rem;
  }

  @mixin border-spacing-x-72 {
    border-spacing: 18rem 0;
  }

  @mixin border-spacing-y-72 {
    border-spacing: 0 18rem;
  }

  @mixin border-spacing-80 {
    border-spacing: 20rem 20rem;
  }

  @mixin border-spacing-x-80 {
    border-spacing: 20rem 0;
  }

  @mixin border-spacing-y-80 {
    border-spacing: 0 20rem;
  }

  @mixin border-spacing-96 {
    border-spacing: 24rem 24rem;
  }

  @mixin border-spacing-x-96 {
    border-spacing: 24rem 0;
  }

  @mixin border-spacing-y-96 {
    border-spacing: 0 24rem;
  } // x*/
}

@if $Rwd {
  // /*x
  @mixin sm\:border-spacing-0 {
    @include r(sm, border-spacing, 0px 0px);
  }

  @mixin sm\:border-spacing-x-0 {
    @include r(sm, border-spacing, 0px 0);
  }

  @mixin sm\:border-spacing-y-0 {
    @include r(sm, border-spacing, 0 0px);
  }

  @mixin sm\:border-spacing-px {
    @include r(sm, border-spacing, 1px 1px);
  }

  @mixin sm\:border-spacing-x-px {
    @include r(sm, border-spacing, 1px 0);
  }

  @mixin sm\:border-spacing-y-px {
    @include r(sm, border-spacing, 0 1px);
  }

  @mixin sm\:border-spacing-0\.5 {
    @include r(sm, border-spacing, 0.125rem 0.125rem);
  }

  @mixin sm\:border-spacing-x-0\.5 {
    @include r(sm, border-spacing, 0.125rem 0);
  }

  @mixin sm\:border-spacing-y-0\.5 {
    @include r(sm, border-spacing, 0 0.125rem);
  }

  @mixin sm\:border-spacing-1 {
    @include r(sm, border-spacing, 0.25rem 0.25rem);
  }

  @mixin sm\:border-spacing-x-1 {
    @include r(sm, border-spacing, 0.25rem 0);
  }

  @mixin sm\:border-spacing-y-1 {
    @include r(sm, border-spacing, 0 0.25rem);
  }

  @mixin sm\:border-spacing-1\.5 {
    @include r(sm, border-spacing, 0.375rem 0.375rem);
  }

  @mixin sm\:border-spacing-x-1\.5 {
    @include r(sm, border-spacing, 0.375rem 0);
  }

  @mixin sm\:border-spacing-y-1\.5 {
    @include r(sm, border-spacing, 0 0.375rem);
  }

  @mixin sm\:border-spacing-2 {
    @include r(sm, border-spacing, 0.5rem 0.5rem);
  }

  @mixin sm\:border-spacing-x-2 {
    @include r(sm, border-spacing, 0.5rem 0);
  }

  @mixin sm\:border-spacing-y-2 {
    @include r(sm, border-spacing, 0 0.5rem);
  }

  @mixin sm\:border-spacing-2\.5 {
    @include r(sm, border-spacing, 0.625rem 0.625rem);
  }

  @mixin sm\:border-spacing-x-2\.5 {
    @include r(sm, border-spacing, 0.625rem 0);
  }

  @mixin sm\:border-spacing-y-2\.5 {
    @include r(sm, border-spacing, 0 0.625rem);
  }

  @mixin sm\:border-spacing-3 {
    @include r(sm, border-spacing, 0.75rem 0.75rem);
  }

  @mixin sm\:border-spacing-x-3 {
    @include r(sm, border-spacing, 0.75rem 0);
  }

  @mixin sm\:border-spacing-y-3 {
    @include r(sm, border-spacing, 0 0.75rem);
  }

  @mixin sm\:border-spacing-3\.5 {
    @include r(sm, border-spacing, 0.875rem 0.875rem);
  }

  @mixin sm\:border-spacing-x-3\.5 {
    @include r(sm, border-spacing, 0.875rem 0);
  }

  @mixin sm\:border-spacing-y-3\.5 {
    @include r(sm, border-spacing, 0 0.875rem);
  }

  @mixin sm\:border-spacing-4 {
    @include r(sm, border-spacing, 1rem 1rem);
  }

  @mixin sm\:border-spacing-x-4 {
    @include r(sm, border-spacing, 1rem 0);
  }

  @mixin sm\:border-spacing-y-4 {
    @include r(sm, border-spacing, 0 1rem);
  }

  @mixin sm\:border-spacing-5 {
    @include r(sm, border-spacing, 1.25rem 1.25rem);
  }

  @mixin sm\:border-spacing-x-5 {
    @include r(sm, border-spacing, 1.25rem 0);
  }

  @mixin sm\:border-spacing-y-5 {
    @include r(sm, border-spacing, 0 1.25rem);
  }

  @mixin sm\:border-spacing-6 {
    @include r(sm, border-spacing, 1.5rem 1.5rem);
  }

  @mixin sm\:border-spacing-x-6 {
    @include r(sm, border-spacing, 1.5rem 0);
  }

  @mixin sm\:border-spacing-y-6 {
    @include r(sm, border-spacing, 0 1.5rem);
  }

  @mixin sm\:border-spacing-7 {
    @include r(sm, border-spacing, 1.75rem 1.75rem);
  }

  @mixin sm\:border-spacing-x-7 {
    @include r(sm, border-spacing, 1.75rem 0);
  }

  @mixin sm\:border-spacing-y-7 {
    @include r(sm, border-spacing, 0 1.75rem);
  }

  @mixin sm\:border-spacing-8 {
    @include r(sm, border-spacing, 2rem 2rem);
  }

  @mixin sm\:border-spacing-x-8 {
    @include r(sm, border-spacing, 2rem 0);
  }

  @mixin sm\:border-spacing-y-8 {
    @include r(sm, border-spacing, 0 2rem);
  }

  @mixin sm\:border-spacing-9 {
    @include r(sm, border-spacing, 2.25rem 2.25rem);
  }

  @mixin sm\:border-spacing-x-9 {
    @include r(sm, border-spacing, 2.25rem 0);
  }

  @mixin sm\:border-spacing-y-9 {
    @include r(sm, border-spacing, 0 2.25rem);
  }

  @mixin sm\:border-spacing-10 {
    @include r(sm, border-spacing, 2.5rem 2.5rem);
  }

  @mixin sm\:border-spacing-x-10 {
    @include r(sm, border-spacing, 2.5rem 0);
  }

  @mixin sm\:border-spacing-y-10 {
    @include r(sm, border-spacing, 0 2.5rem);
  }

  @mixin sm\:border-spacing-11 {
    @include r(sm, border-spacing, 2.75rem 2.75rem);
  }

  @mixin sm\:border-spacing-x-11 {
    @include r(sm, border-spacing, 2.75rem 0);
  }

  @mixin sm\:border-spacing-y-11 {
    @include r(sm, border-spacing, 0 2.75rem);
  }

  @mixin sm\:border-spacing-12 {
    @include r(sm, border-spacing, 3rem 3rem);
  }

  @mixin sm\:border-spacing-x-12 {
    @include r(sm, border-spacing, 3rem 0);
  }

  @mixin sm\:border-spacing-y-12 {
    @include r(sm, border-spacing, 0 3rem);
  }

  @mixin sm\:border-spacing-14 {
    @include r(sm, border-spacing, 3.5rem 3.5rem);
  }

  @mixin sm\:border-spacing-x-14 {
    @include r(sm, border-spacing, 3.5rem 0);
  }

  @mixin sm\:border-spacing-y-14 {
    @include r(sm, border-spacing, 0 3.5rem);
  }

  @mixin sm\:border-spacing-16 {
    @include r(sm, border-spacing, 4rem 4rem);
  }

  @mixin sm\:border-spacing-x-16 {
    @include r(sm, border-spacing, 4rem 0);
  }

  @mixin sm\:border-spacing-y-16 {
    @include r(sm, border-spacing, 0 4rem);
  }

  @mixin sm\:border-spacing-20 {
    @include r(sm, border-spacing, 5rem 5rem);
  }

  @mixin sm\:border-spacing-x-20 {
    @include r(sm, border-spacing, 5rem 0);
  }

  @mixin sm\:border-spacing-y-20 {
    @include r(sm, border-spacing, 0 5rem);
  }

  @mixin sm\:border-spacing-24 {
    @include r(sm, border-spacing, 6rem 6rem);
  }

  @mixin sm\:border-spacing-x-24 {
    @include r(sm, border-spacing, 6rem 0);
  }

  @mixin sm\:border-spacing-y-24 {
    @include r(sm, border-spacing, 0 6rem);
  }

  @mixin sm\:border-spacing-28 {
    @include r(sm, border-spacing, 7rem 7rem);
  }

  @mixin sm\:border-spacing-x-28 {
    @include r(sm, border-spacing, 7rem 0);
  }

  @mixin sm\:border-spacing-y-28 {
    @include r(sm, border-spacing, 0 7rem);
  }

  @mixin sm\:border-spacing-32 {
    @include r(sm, border-spacing, 8rem 8rem);
  }

  @mixin sm\:border-spacing-x-32 {
    @include r(sm, border-spacing, 8rem 0);
  }

  @mixin sm\:border-spacing-y-32 {
    @include r(sm, border-spacing, 0 8rem);
  }

  @mixin sm\:border-spacing-36 {
    @include r(sm, border-spacing, 9rem 9rem);
  }

  @mixin sm\:border-spacing-x-36 {
    @include r(sm, border-spacing, 9rem 0);
  }

  @mixin sm\:border-spacing-y-36 {
    @include r(sm, border-spacing, 0 9rem);
  }

  @mixin sm\:border-spacing-40 {
    @include r(sm, border-spacing, 10rem 10rem);
  }

  @mixin sm\:border-spacing-x-40 {
    @include r(sm, border-spacing, 10rem 0);
  }

  @mixin sm\:border-spacing-y-40 {
    @include r(sm, border-spacing, 0 10rem);
  }

  @mixin sm\:border-spacing-44 {
    @include r(sm, border-spacing, 11rem 11rem);
  }

  @mixin sm\:border-spacing-x-44 {
    @include r(sm, border-spacing, 11rem 0);
  }

  @mixin sm\:border-spacing-y-44 {
    @include r(sm, border-spacing, 0 11rem);
  }

  @mixin sm\:border-spacing-48 {
    @include r(sm, border-spacing, 12rem 12rem);
  }

  @mixin sm\:border-spacing-x-48 {
    @include r(sm, border-spacing, 12rem 0);
  }

  @mixin sm\:border-spacing-y-48 {
    @include r(sm, border-spacing, 0 12rem);
  }

  @mixin sm\:border-spacing-52 {
    @include r(sm, border-spacing, 13rem 13rem);
  }

  @mixin sm\:border-spacing-x-52 {
    @include r(sm, border-spacing, 13rem 0);
  }

  @mixin sm\:border-spacing-y-52 {
    @include r(sm, border-spacing, 0 13rem);
  }

  @mixin sm\:border-spacing-56 {
    @include r(sm, border-spacing, 14rem 14rem);
  }

  @mixin sm\:border-spacing-x-56 {
    @include r(sm, border-spacing, 14rem 0);
  }

  @mixin sm\:border-spacing-y-56 {
    @include r(sm, border-spacing, 0 14rem);
  }

  @mixin sm\:border-spacing-60 {
    @include r(sm, border-spacing, 15rem 15rem);
  }

  @mixin sm\:border-spacing-x-60 {
    @include r(sm, border-spacing, 15rem 0);
  }

  @mixin sm\:border-spacing-y-60 {
    @include r(sm, border-spacing, 0 15rem);
  }

  @mixin sm\:border-spacing-64 {
    @include r(sm, border-spacing, 16rem 16rem);
  }

  @mixin sm\:border-spacing-x-64 {
    @include r(sm, border-spacing, 16rem 0);
  }

  @mixin sm\:border-spacing-y-64 {
    @include r(sm, border-spacing, 0 16rem);
  }

  @mixin sm\:border-spacing-72 {
    @include r(sm, border-spacing, 18rem 18rem);
  }

  @mixin sm\:border-spacing-x-72 {
    @include r(sm, border-spacing, 18rem 0);
  }

  @mixin sm\:border-spacing-y-72 {
    @include r(sm, border-spacing, 0 18rem);
  }

  @mixin sm\:border-spacing-80 {
    @include r(sm, border-spacing, 20rem 20rem);
  }

  @mixin sm\:border-spacing-x-80 {
    @include r(sm, border-spacing, 20rem 0);
  }

  @mixin sm\:border-spacing-y-80 {
    @include r(sm, border-spacing, 0 20rem);
  }

  @mixin sm\:border-spacing-96 {
    @include r(sm, border-spacing, 24rem 24rem);
  }

  @mixin sm\:border-spacing-x-96 {
    @include r(sm, border-spacing, 24rem 0);
  }

  @mixin sm\:border-spacing-y-96 {
    @include r(sm, border-spacing, 0 24rem);
  }

  @mixin md\:border-spacing-0 {
    @include r(md, border-spacing, 0px 0px);
  }

  @mixin md\:border-spacing-x-0 {
    @include r(md, border-spacing, 0px 0);
  }

  @mixin md\:border-spacing-y-0 {
    @include r(md, border-spacing, 0 0px);
  }

  @mixin md\:border-spacing-px {
    @include r(md, border-spacing, 1px 1px);
  }

  @mixin md\:border-spacing-x-px {
    @include r(md, border-spacing, 1px 0);
  }

  @mixin md\:border-spacing-y-px {
    @include r(md, border-spacing, 0 1px);
  }

  @mixin md\:border-spacing-0\.5 {
    @include r(md, border-spacing, 0.125rem 0.125rem);
  }

  @mixin md\:border-spacing-x-0\.5 {
    @include r(md, border-spacing, 0.125rem 0);
  }

  @mixin md\:border-spacing-y-0\.5 {
    @include r(md, border-spacing, 0 0.125rem);
  }

  @mixin md\:border-spacing-1 {
    @include r(md, border-spacing, 0.25rem 0.25rem);
  }

  @mixin md\:border-spacing-x-1 {
    @include r(md, border-spacing, 0.25rem 0);
  }

  @mixin md\:border-spacing-y-1 {
    @include r(md, border-spacing, 0 0.25rem);
  }

  @mixin md\:border-spacing-1\.5 {
    @include r(md, border-spacing, 0.375rem 0.375rem);
  }

  @mixin md\:border-spacing-x-1\.5 {
    @include r(md, border-spacing, 0.375rem 0);
  }

  @mixin md\:border-spacing-y-1\.5 {
    @include r(md, border-spacing, 0 0.375rem);
  }

  @mixin md\:border-spacing-2 {
    @include r(md, border-spacing, 0.5rem 0.5rem);
  }

  @mixin md\:border-spacing-x-2 {
    @include r(md, border-spacing, 0.5rem 0);
  }

  @mixin md\:border-spacing-y-2 {
    @include r(md, border-spacing, 0 0.5rem);
  }

  @mixin md\:border-spacing-2\.5 {
    @include r(md, border-spacing, 0.625rem 0.625rem);
  }

  @mixin md\:border-spacing-x-2\.5 {
    @include r(md, border-spacing, 0.625rem 0);
  }

  @mixin md\:border-spacing-y-2\.5 {
    @include r(md, border-spacing, 0 0.625rem);
  }

  @mixin md\:border-spacing-3 {
    @include r(md, border-spacing, 0.75rem 0.75rem);
  }

  @mixin md\:border-spacing-x-3 {
    @include r(md, border-spacing, 0.75rem 0);
  }

  @mixin md\:border-spacing-y-3 {
    @include r(md, border-spacing, 0 0.75rem);
  }

  @mixin md\:border-spacing-3\.5 {
    @include r(md, border-spacing, 0.875rem 0.875rem);
  }

  @mixin md\:border-spacing-x-3\.5 {
    @include r(md, border-spacing, 0.875rem 0);
  }

  @mixin md\:border-spacing-y-3\.5 {
    @include r(md, border-spacing, 0 0.875rem);
  }

  @mixin md\:border-spacing-4 {
    @include r(md, border-spacing, 1rem 1rem);
  }

  @mixin md\:border-spacing-x-4 {
    @include r(md, border-spacing, 1rem 0);
  }

  @mixin md\:border-spacing-y-4 {
    @include r(md, border-spacing, 0 1rem);
  }

  @mixin md\:border-spacing-5 {
    @include r(md, border-spacing, 1.25rem 1.25rem);
  }

  @mixin md\:border-spacing-x-5 {
    @include r(md, border-spacing, 1.25rem 0);
  }

  @mixin md\:border-spacing-y-5 {
    @include r(md, border-spacing, 0 1.25rem);
  }

  @mixin md\:border-spacing-6 {
    @include r(md, border-spacing, 1.5rem 1.5rem);
  }

  @mixin md\:border-spacing-x-6 {
    @include r(md, border-spacing, 1.5rem 0);
  }

  @mixin md\:border-spacing-y-6 {
    @include r(md, border-spacing, 0 1.5rem);
  }

  @mixin md\:border-spacing-7 {
    @include r(md, border-spacing, 1.75rem 1.75rem);
  }

  @mixin md\:border-spacing-x-7 {
    @include r(md, border-spacing, 1.75rem 0);
  }

  @mixin md\:border-spacing-y-7 {
    @include r(md, border-spacing, 0 1.75rem);
  }

  @mixin md\:border-spacing-8 {
    @include r(md, border-spacing, 2rem 2rem);
  }

  @mixin md\:border-spacing-x-8 {
    @include r(md, border-spacing, 2rem 0);
  }

  @mixin md\:border-spacing-y-8 {
    @include r(md, border-spacing, 0 2rem);
  }

  @mixin md\:border-spacing-9 {
    @include r(md, border-spacing, 2.25rem 2.25rem);
  }

  @mixin md\:border-spacing-x-9 {
    @include r(md, border-spacing, 2.25rem 0);
  }

  @mixin md\:border-spacing-y-9 {
    @include r(md, border-spacing, 0 2.25rem);
  }

  @mixin md\:border-spacing-10 {
    @include r(md, border-spacing, 2.5rem 2.5rem);
  }

  @mixin md\:border-spacing-x-10 {
    @include r(md, border-spacing, 2.5rem 0);
  }

  @mixin md\:border-spacing-y-10 {
    @include r(md, border-spacing, 0 2.5rem);
  }

  @mixin md\:border-spacing-11 {
    @include r(md, border-spacing, 2.75rem 2.75rem);
  }

  @mixin md\:border-spacing-x-11 {
    @include r(md, border-spacing, 2.75rem 0);
  }

  @mixin md\:border-spacing-y-11 {
    @include r(md, border-spacing, 0 2.75rem);
  }

  @mixin md\:border-spacing-12 {
    @include r(md, border-spacing, 3rem 3rem);
  }

  @mixin md\:border-spacing-x-12 {
    @include r(md, border-spacing, 3rem 0);
  }

  @mixin md\:border-spacing-y-12 {
    @include r(md, border-spacing, 0 3rem);
  }

  @mixin md\:border-spacing-14 {
    @include r(md, border-spacing, 3.5rem 3.5rem);
  }

  @mixin md\:border-spacing-x-14 {
    @include r(md, border-spacing, 3.5rem 0);
  }

  @mixin md\:border-spacing-y-14 {
    @include r(md, border-spacing, 0 3.5rem);
  }

  @mixin md\:border-spacing-16 {
    @include r(md, border-spacing, 4rem 4rem);
  }

  @mixin md\:border-spacing-x-16 {
    @include r(md, border-spacing, 4rem 0);
  }

  @mixin md\:border-spacing-y-16 {
    @include r(md, border-spacing, 0 4rem);
  }

  @mixin md\:border-spacing-20 {
    @include r(md, border-spacing, 5rem 5rem);
  }

  @mixin md\:border-spacing-x-20 {
    @include r(md, border-spacing, 5rem 0);
  }

  @mixin md\:border-spacing-y-20 {
    @include r(md, border-spacing, 0 5rem);
  }

  @mixin md\:border-spacing-24 {
    @include r(md, border-spacing, 6rem 6rem);
  }

  @mixin md\:border-spacing-x-24 {
    @include r(md, border-spacing, 6rem 0);
  }

  @mixin md\:border-spacing-y-24 {
    @include r(md, border-spacing, 0 6rem);
  }

  @mixin md\:border-spacing-28 {
    @include r(md, border-spacing, 7rem 7rem);
  }

  @mixin md\:border-spacing-x-28 {
    @include r(md, border-spacing, 7rem 0);
  }

  @mixin md\:border-spacing-y-28 {
    @include r(md, border-spacing, 0 7rem);
  }

  @mixin md\:border-spacing-32 {
    @include r(md, border-spacing, 8rem 8rem);
  }

  @mixin md\:border-spacing-x-32 {
    @include r(md, border-spacing, 8rem 0);
  }

  @mixin md\:border-spacing-y-32 {
    @include r(md, border-spacing, 0 8rem);
  }

  @mixin md\:border-spacing-36 {
    @include r(md, border-spacing, 9rem 9rem);
  }

  @mixin md\:border-spacing-x-36 {
    @include r(md, border-spacing, 9rem 0);
  }

  @mixin md\:border-spacing-y-36 {
    @include r(md, border-spacing, 0 9rem);
  }

  @mixin md\:border-spacing-40 {
    @include r(md, border-spacing, 10rem 10rem);
  }

  @mixin md\:border-spacing-x-40 {
    @include r(md, border-spacing, 10rem 0);
  }

  @mixin md\:border-spacing-y-40 {
    @include r(md, border-spacing, 0 10rem);
  }

  @mixin md\:border-spacing-44 {
    @include r(md, border-spacing, 11rem 11rem);
  }

  @mixin md\:border-spacing-x-44 {
    @include r(md, border-spacing, 11rem 0);
  }

  @mixin md\:border-spacing-y-44 {
    @include r(md, border-spacing, 0 11rem);
  }

  @mixin md\:border-spacing-48 {
    @include r(md, border-spacing, 12rem 12rem);
  }

  @mixin md\:border-spacing-x-48 {
    @include r(md, border-spacing, 12rem 0);
  }

  @mixin md\:border-spacing-y-48 {
    @include r(md, border-spacing, 0 12rem);
  }

  @mixin md\:border-spacing-52 {
    @include r(md, border-spacing, 13rem 13rem);
  }

  @mixin md\:border-spacing-x-52 {
    @include r(md, border-spacing, 13rem 0);
  }

  @mixin md\:border-spacing-y-52 {
    @include r(md, border-spacing, 0 13rem);
  }

  @mixin md\:border-spacing-56 {
    @include r(md, border-spacing, 14rem 14rem);
  }

  @mixin md\:border-spacing-x-56 {
    @include r(md, border-spacing, 14rem 0);
  }

  @mixin md\:border-spacing-y-56 {
    @include r(md, border-spacing, 0 14rem);
  }

  @mixin md\:border-spacing-60 {
    @include r(md, border-spacing, 15rem 15rem);
  }

  @mixin md\:border-spacing-x-60 {
    @include r(md, border-spacing, 15rem 0);
  }

  @mixin md\:border-spacing-y-60 {
    @include r(md, border-spacing, 0 15rem);
  }

  @mixin md\:border-spacing-64 {
    @include r(md, border-spacing, 16rem 16rem);
  }

  @mixin md\:border-spacing-x-64 {
    @include r(md, border-spacing, 16rem 0);
  }

  @mixin md\:border-spacing-y-64 {
    @include r(md, border-spacing, 0 16rem);
  }

  @mixin md\:border-spacing-72 {
    @include r(md, border-spacing, 18rem 18rem);
  }

  @mixin md\:border-spacing-x-72 {
    @include r(md, border-spacing, 18rem 0);
  }

  @mixin md\:border-spacing-y-72 {
    @include r(md, border-spacing, 0 18rem);
  }

  @mixin md\:border-spacing-80 {
    @include r(md, border-spacing, 20rem 20rem);
  }

  @mixin md\:border-spacing-x-80 {
    @include r(md, border-spacing, 20rem 0);
  }

  @mixin md\:border-spacing-y-80 {
    @include r(md, border-spacing, 0 20rem);
  }

  @mixin md\:border-spacing-96 {
    @include r(md, border-spacing, 24rem 24rem);
  }

  @mixin md\:border-spacing-x-96 {
    @include r(md, border-spacing, 24rem 0);
  }

  @mixin md\:border-spacing-y-96 {
    @include r(md, border-spacing, 0 24rem);
  }

  @mixin lg\:border-spacing-0 {
    @include r(lg, border-spacing, 0px 0px);
  }

  @mixin lg\:border-spacing-x-0 {
    @include r(lg, border-spacing, 0px 0);
  }

  @mixin lg\:border-spacing-y-0 {
    @include r(lg, border-spacing, 0 0px);
  }

  @mixin lg\:border-spacing-px {
    @include r(lg, border-spacing, 1px 1px);
  }

  @mixin lg\:border-spacing-x-px {
    @include r(lg, border-spacing, 1px 0);
  }

  @mixin lg\:border-spacing-y-px {
    @include r(lg, border-spacing, 0 1px);
  }

  @mixin lg\:border-spacing-0\.5 {
    @include r(lg, border-spacing, 0.125rem 0.125rem);
  }

  @mixin lg\:border-spacing-x-0\.5 {
    @include r(lg, border-spacing, 0.125rem 0);
  }

  @mixin lg\:border-spacing-y-0\.5 {
    @include r(lg, border-spacing, 0 0.125rem);
  }

  @mixin lg\:border-spacing-1 {
    @include r(lg, border-spacing, 0.25rem 0.25rem);
  }

  @mixin lg\:border-spacing-x-1 {
    @include r(lg, border-spacing, 0.25rem 0);
  }

  @mixin lg\:border-spacing-y-1 {
    @include r(lg, border-spacing, 0 0.25rem);
  }

  @mixin lg\:border-spacing-1\.5 {
    @include r(lg, border-spacing, 0.375rem 0.375rem);
  }

  @mixin lg\:border-spacing-x-1\.5 {
    @include r(lg, border-spacing, 0.375rem 0);
  }

  @mixin lg\:border-spacing-y-1\.5 {
    @include r(lg, border-spacing, 0 0.375rem);
  }

  @mixin lg\:border-spacing-2 {
    @include r(lg, border-spacing, 0.5rem 0.5rem);
  }

  @mixin lg\:border-spacing-x-2 {
    @include r(lg, border-spacing, 0.5rem 0);
  }

  @mixin lg\:border-spacing-y-2 {
    @include r(lg, border-spacing, 0 0.5rem);
  }

  @mixin lg\:border-spacing-2\.5 {
    @include r(lg, border-spacing, 0.625rem 0.625rem);
  }

  @mixin lg\:border-spacing-x-2\.5 {
    @include r(lg, border-spacing, 0.625rem 0);
  }

  @mixin lg\:border-spacing-y-2\.5 {
    @include r(lg, border-spacing, 0 0.625rem);
  }

  @mixin lg\:border-spacing-3 {
    @include r(lg, border-spacing, 0.75rem 0.75rem);
  }

  @mixin lg\:border-spacing-x-3 {
    @include r(lg, border-spacing, 0.75rem 0);
  }

  @mixin lg\:border-spacing-y-3 {
    @include r(lg, border-spacing, 0 0.75rem);
  }

  @mixin lg\:border-spacing-3\.5 {
    @include r(lg, border-spacing, 0.875rem 0.875rem);
  }

  @mixin lg\:border-spacing-x-3\.5 {
    @include r(lg, border-spacing, 0.875rem 0);
  }

  @mixin lg\:border-spacing-y-3\.5 {
    @include r(lg, border-spacing, 0 0.875rem);
  }

  @mixin lg\:border-spacing-4 {
    @include r(lg, border-spacing, 1rem 1rem);
  }

  @mixin lg\:border-spacing-x-4 {
    @include r(lg, border-spacing, 1rem 0);
  }

  @mixin lg\:border-spacing-y-4 {
    @include r(lg, border-spacing, 0 1rem);
  }

  @mixin lg\:border-spacing-5 {
    @include r(lg, border-spacing, 1.25rem 1.25rem);
  }

  @mixin lg\:border-spacing-x-5 {
    @include r(lg, border-spacing, 1.25rem 0);
  }

  @mixin lg\:border-spacing-y-5 {
    @include r(lg, border-spacing, 0 1.25rem);
  }

  @mixin lg\:border-spacing-6 {
    @include r(lg, border-spacing, 1.5rem 1.5rem);
  }

  @mixin lg\:border-spacing-x-6 {
    @include r(lg, border-spacing, 1.5rem 0);
  }

  @mixin lg\:border-spacing-y-6 {
    @include r(lg, border-spacing, 0 1.5rem);
  }

  @mixin lg\:border-spacing-7 {
    @include r(lg, border-spacing, 1.75rem 1.75rem);
  }

  @mixin lg\:border-spacing-x-7 {
    @include r(lg, border-spacing, 1.75rem 0);
  }

  @mixin lg\:border-spacing-y-7 {
    @include r(lg, border-spacing, 0 1.75rem);
  }

  @mixin lg\:border-spacing-8 {
    @include r(lg, border-spacing, 2rem 2rem);
  }

  @mixin lg\:border-spacing-x-8 {
    @include r(lg, border-spacing, 2rem 0);
  }

  @mixin lg\:border-spacing-y-8 {
    @include r(lg, border-spacing, 0 2rem);
  }

  @mixin lg\:border-spacing-9 {
    @include r(lg, border-spacing, 2.25rem 2.25rem);
  }

  @mixin lg\:border-spacing-x-9 {
    @include r(lg, border-spacing, 2.25rem 0);
  }

  @mixin lg\:border-spacing-y-9 {
    @include r(lg, border-spacing, 0 2.25rem);
  }

  @mixin lg\:border-spacing-10 {
    @include r(lg, border-spacing, 2.5rem 2.5rem);
  }

  @mixin lg\:border-spacing-x-10 {
    @include r(lg, border-spacing, 2.5rem 0);
  }

  @mixin lg\:border-spacing-y-10 {
    @include r(lg, border-spacing, 0 2.5rem);
  }

  @mixin lg\:border-spacing-11 {
    @include r(lg, border-spacing, 2.75rem 2.75rem);
  }

  @mixin lg\:border-spacing-x-11 {
    @include r(lg, border-spacing, 2.75rem 0);
  }

  @mixin lg\:border-spacing-y-11 {
    @include r(lg, border-spacing, 0 2.75rem);
  }

  @mixin lg\:border-spacing-12 {
    @include r(lg, border-spacing, 3rem 3rem);
  }

  @mixin lg\:border-spacing-x-12 {
    @include r(lg, border-spacing, 3rem 0);
  }

  @mixin lg\:border-spacing-y-12 {
    @include r(lg, border-spacing, 0 3rem);
  }

  @mixin lg\:border-spacing-14 {
    @include r(lg, border-spacing, 3.5rem 3.5rem);
  }

  @mixin lg\:border-spacing-x-14 {
    @include r(lg, border-spacing, 3.5rem 0);
  }

  @mixin lg\:border-spacing-y-14 {
    @include r(lg, border-spacing, 0 3.5rem);
  }

  @mixin lg\:border-spacing-16 {
    @include r(lg, border-spacing, 4rem 4rem);
  }

  @mixin lg\:border-spacing-x-16 {
    @include r(lg, border-spacing, 4rem 0);
  }

  @mixin lg\:border-spacing-y-16 {
    @include r(lg, border-spacing, 0 4rem);
  }

  @mixin lg\:border-spacing-20 {
    @include r(lg, border-spacing, 5rem 5rem);
  }

  @mixin lg\:border-spacing-x-20 {
    @include r(lg, border-spacing, 5rem 0);
  }

  @mixin lg\:border-spacing-y-20 {
    @include r(lg, border-spacing, 0 5rem);
  }

  @mixin lg\:border-spacing-24 {
    @include r(lg, border-spacing, 6rem 6rem);
  }

  @mixin lg\:border-spacing-x-24 {
    @include r(lg, border-spacing, 6rem 0);
  }

  @mixin lg\:border-spacing-y-24 {
    @include r(lg, border-spacing, 0 6rem);
  }

  @mixin lg\:border-spacing-28 {
    @include r(lg, border-spacing, 7rem 7rem);
  }

  @mixin lg\:border-spacing-x-28 {
    @include r(lg, border-spacing, 7rem 0);
  }

  @mixin lg\:border-spacing-y-28 {
    @include r(lg, border-spacing, 0 7rem);
  }

  @mixin lg\:border-spacing-32 {
    @include r(lg, border-spacing, 8rem 8rem);
  }

  @mixin lg\:border-spacing-x-32 {
    @include r(lg, border-spacing, 8rem 0);
  }

  @mixin lg\:border-spacing-y-32 {
    @include r(lg, border-spacing, 0 8rem);
  }

  @mixin lg\:border-spacing-36 {
    @include r(lg, border-spacing, 9rem 9rem);
  }

  @mixin lg\:border-spacing-x-36 {
    @include r(lg, border-spacing, 9rem 0);
  }

  @mixin lg\:border-spacing-y-36 {
    @include r(lg, border-spacing, 0 9rem);
  }

  @mixin lg\:border-spacing-40 {
    @include r(lg, border-spacing, 10rem 10rem);
  }

  @mixin lg\:border-spacing-x-40 {
    @include r(lg, border-spacing, 10rem 0);
  }

  @mixin lg\:border-spacing-y-40 {
    @include r(lg, border-spacing, 0 10rem);
  }

  @mixin lg\:border-spacing-44 {
    @include r(lg, border-spacing, 11rem 11rem);
  }

  @mixin lg\:border-spacing-x-44 {
    @include r(lg, border-spacing, 11rem 0);
  }

  @mixin lg\:border-spacing-y-44 {
    @include r(lg, border-spacing, 0 11rem);
  }

  @mixin lg\:border-spacing-48 {
    @include r(lg, border-spacing, 12rem 12rem);
  }

  @mixin lg\:border-spacing-x-48 {
    @include r(lg, border-spacing, 12rem 0);
  }

  @mixin lg\:border-spacing-y-48 {
    @include r(lg, border-spacing, 0 12rem);
  }

  @mixin lg\:border-spacing-52 {
    @include r(lg, border-spacing, 13rem 13rem);
  }

  @mixin lg\:border-spacing-x-52 {
    @include r(lg, border-spacing, 13rem 0);
  }

  @mixin lg\:border-spacing-y-52 {
    @include r(lg, border-spacing, 0 13rem);
  }

  @mixin lg\:border-spacing-56 {
    @include r(lg, border-spacing, 14rem 14rem);
  }

  @mixin lg\:border-spacing-x-56 {
    @include r(lg, border-spacing, 14rem 0);
  }

  @mixin lg\:border-spacing-y-56 {
    @include r(lg, border-spacing, 0 14rem);
  }

  @mixin lg\:border-spacing-60 {
    @include r(lg, border-spacing, 15rem 15rem);
  }

  @mixin lg\:border-spacing-x-60 {
    @include r(lg, border-spacing, 15rem 0);
  }

  @mixin lg\:border-spacing-y-60 {
    @include r(lg, border-spacing, 0 15rem);
  }

  @mixin lg\:border-spacing-64 {
    @include r(lg, border-spacing, 16rem 16rem);
  }

  @mixin lg\:border-spacing-x-64 {
    @include r(lg, border-spacing, 16rem 0);
  }

  @mixin lg\:border-spacing-y-64 {
    @include r(lg, border-spacing, 0 16rem);
  }

  @mixin lg\:border-spacing-72 {
    @include r(lg, border-spacing, 18rem 18rem);
  }

  @mixin lg\:border-spacing-x-72 {
    @include r(lg, border-spacing, 18rem 0);
  }

  @mixin lg\:border-spacing-y-72 {
    @include r(lg, border-spacing, 0 18rem);
  }

  @mixin lg\:border-spacing-80 {
    @include r(lg, border-spacing, 20rem 20rem);
  }

  @mixin lg\:border-spacing-x-80 {
    @include r(lg, border-spacing, 20rem 0);
  }

  @mixin lg\:border-spacing-y-80 {
    @include r(lg, border-spacing, 0 20rem);
  }

  @mixin lg\:border-spacing-96 {
    @include r(lg, border-spacing, 24rem 24rem);
  }

  @mixin lg\:border-spacing-x-96 {
    @include r(lg, border-spacing, 24rem 0);
  }

  @mixin lg\:border-spacing-y-96 {
    @include r(lg, border-spacing, 0 24rem);
  }

  @mixin xl\:border-spacing-0 {
    @include r(xl, border-spacing, 0px 0px);
  }

  @mixin xl\:border-spacing-x-0 {
    @include r(xl, border-spacing, 0px 0);
  }

  @mixin xl\:border-spacing-y-0 {
    @include r(xl, border-spacing, 0 0px);
  }

  @mixin xl\:border-spacing-px {
    @include r(xl, border-spacing, 1px 1px);
  }

  @mixin xl\:border-spacing-x-px {
    @include r(xl, border-spacing, 1px 0);
  }

  @mixin xl\:border-spacing-y-px {
    @include r(xl, border-spacing, 0 1px);
  }

  @mixin xl\:border-spacing-0\.5 {
    @include r(xl, border-spacing, 0.125rem 0.125rem);
  }

  @mixin xl\:border-spacing-x-0\.5 {
    @include r(xl, border-spacing, 0.125rem 0);
  }

  @mixin xl\:border-spacing-y-0\.5 {
    @include r(xl, border-spacing, 0 0.125rem);
  }

  @mixin xl\:border-spacing-1 {
    @include r(xl, border-spacing, 0.25rem 0.25rem);
  }

  @mixin xl\:border-spacing-x-1 {
    @include r(xl, border-spacing, 0.25rem 0);
  }

  @mixin xl\:border-spacing-y-1 {
    @include r(xl, border-spacing, 0 0.25rem);
  }

  @mixin xl\:border-spacing-1\.5 {
    @include r(xl, border-spacing, 0.375rem 0.375rem);
  }

  @mixin xl\:border-spacing-x-1\.5 {
    @include r(xl, border-spacing, 0.375rem 0);
  }

  @mixin xl\:border-spacing-y-1\.5 {
    @include r(xl, border-spacing, 0 0.375rem);
  }

  @mixin xl\:border-spacing-2 {
    @include r(xl, border-spacing, 0.5rem 0.5rem);
  }

  @mixin xl\:border-spacing-x-2 {
    @include r(xl, border-spacing, 0.5rem 0);
  }

  @mixin xl\:border-spacing-y-2 {
    @include r(xl, border-spacing, 0 0.5rem);
  }

  @mixin xl\:border-spacing-2\.5 {
    @include r(xl, border-spacing, 0.625rem 0.625rem);
  }

  @mixin xl\:border-spacing-x-2\.5 {
    @include r(xl, border-spacing, 0.625rem 0);
  }

  @mixin xl\:border-spacing-y-2\.5 {
    @include r(xl, border-spacing, 0 0.625rem);
  }

  @mixin xl\:border-spacing-3 {
    @include r(xl, border-spacing, 0.75rem 0.75rem);
  }

  @mixin xl\:border-spacing-x-3 {
    @include r(xl, border-spacing, 0.75rem 0);
  }

  @mixin xl\:border-spacing-y-3 {
    @include r(xl, border-spacing, 0 0.75rem);
  }

  @mixin xl\:border-spacing-3\.5 {
    @include r(xl, border-spacing, 0.875rem 0.875rem);
  }

  @mixin xl\:border-spacing-x-3\.5 {
    @include r(xl, border-spacing, 0.875rem 0);
  }

  @mixin xl\:border-spacing-y-3\.5 {
    @include r(xl, border-spacing, 0 0.875rem);
  }

  @mixin xl\:border-spacing-4 {
    @include r(xl, border-spacing, 1rem 1rem);
  }

  @mixin xl\:border-spacing-x-4 {
    @include r(xl, border-spacing, 1rem 0);
  }

  @mixin xl\:border-spacing-y-4 {
    @include r(xl, border-spacing, 0 1rem);
  }

  @mixin xl\:border-spacing-5 {
    @include r(xl, border-spacing, 1.25rem 1.25rem);
  }

  @mixin xl\:border-spacing-x-5 {
    @include r(xl, border-spacing, 1.25rem 0);
  }

  @mixin xl\:border-spacing-y-5 {
    @include r(xl, border-spacing, 0 1.25rem);
  }

  @mixin xl\:border-spacing-6 {
    @include r(xl, border-spacing, 1.5rem 1.5rem);
  }

  @mixin xl\:border-spacing-x-6 {
    @include r(xl, border-spacing, 1.5rem 0);
  }

  @mixin xl\:border-spacing-y-6 {
    @include r(xl, border-spacing, 0 1.5rem);
  }

  @mixin xl\:border-spacing-7 {
    @include r(xl, border-spacing, 1.75rem 1.75rem);
  }

  @mixin xl\:border-spacing-x-7 {
    @include r(xl, border-spacing, 1.75rem 0);
  }

  @mixin xl\:border-spacing-y-7 {
    @include r(xl, border-spacing, 0 1.75rem);
  }

  @mixin xl\:border-spacing-8 {
    @include r(xl, border-spacing, 2rem 2rem);
  }

  @mixin xl\:border-spacing-x-8 {
    @include r(xl, border-spacing, 2rem 0);
  }

  @mixin xl\:border-spacing-y-8 {
    @include r(xl, border-spacing, 0 2rem);
  }

  @mixin xl\:border-spacing-9 {
    @include r(xl, border-spacing, 2.25rem 2.25rem);
  }

  @mixin xl\:border-spacing-x-9 {
    @include r(xl, border-spacing, 2.25rem 0);
  }

  @mixin xl\:border-spacing-y-9 {
    @include r(xl, border-spacing, 0 2.25rem);
  }

  @mixin xl\:border-spacing-10 {
    @include r(xl, border-spacing, 2.5rem 2.5rem);
  }

  @mixin xl\:border-spacing-x-10 {
    @include r(xl, border-spacing, 2.5rem 0);
  }

  @mixin xl\:border-spacing-y-10 {
    @include r(xl, border-spacing, 0 2.5rem);
  }

  @mixin xl\:border-spacing-11 {
    @include r(xl, border-spacing, 2.75rem 2.75rem);
  }

  @mixin xl\:border-spacing-x-11 {
    @include r(xl, border-spacing, 2.75rem 0);
  }

  @mixin xl\:border-spacing-y-11 {
    @include r(xl, border-spacing, 0 2.75rem);
  }

  @mixin xl\:border-spacing-12 {
    @include r(xl, border-spacing, 3rem 3rem);
  }

  @mixin xl\:border-spacing-x-12 {
    @include r(xl, border-spacing, 3rem 0);
  }

  @mixin xl\:border-spacing-y-12 {
    @include r(xl, border-spacing, 0 3rem);
  }

  @mixin xl\:border-spacing-14 {
    @include r(xl, border-spacing, 3.5rem 3.5rem);
  }

  @mixin xl\:border-spacing-x-14 {
    @include r(xl, border-spacing, 3.5rem 0);
  }

  @mixin xl\:border-spacing-y-14 {
    @include r(xl, border-spacing, 0 3.5rem);
  }

  @mixin xl\:border-spacing-16 {
    @include r(xl, border-spacing, 4rem 4rem);
  }

  @mixin xl\:border-spacing-x-16 {
    @include r(xl, border-spacing, 4rem 0);
  }

  @mixin xl\:border-spacing-y-16 {
    @include r(xl, border-spacing, 0 4rem);
  }

  @mixin xl\:border-spacing-20 {
    @include r(xl, border-spacing, 5rem 5rem);
  }

  @mixin xl\:border-spacing-x-20 {
    @include r(xl, border-spacing, 5rem 0);
  }

  @mixin xl\:border-spacing-y-20 {
    @include r(xl, border-spacing, 0 5rem);
  }

  @mixin xl\:border-spacing-24 {
    @include r(xl, border-spacing, 6rem 6rem);
  }

  @mixin xl\:border-spacing-x-24 {
    @include r(xl, border-spacing, 6rem 0);
  }

  @mixin xl\:border-spacing-y-24 {
    @include r(xl, border-spacing, 0 6rem);
  }

  @mixin xl\:border-spacing-28 {
    @include r(xl, border-spacing, 7rem 7rem);
  }

  @mixin xl\:border-spacing-x-28 {
    @include r(xl, border-spacing, 7rem 0);
  }

  @mixin xl\:border-spacing-y-28 {
    @include r(xl, border-spacing, 0 7rem);
  }

  @mixin xl\:border-spacing-32 {
    @include r(xl, border-spacing, 8rem 8rem);
  }

  @mixin xl\:border-spacing-x-32 {
    @include r(xl, border-spacing, 8rem 0);
  }

  @mixin xl\:border-spacing-y-32 {
    @include r(xl, border-spacing, 0 8rem);
  }

  @mixin xl\:border-spacing-36 {
    @include r(xl, border-spacing, 9rem 9rem);
  }

  @mixin xl\:border-spacing-x-36 {
    @include r(xl, border-spacing, 9rem 0);
  }

  @mixin xl\:border-spacing-y-36 {
    @include r(xl, border-spacing, 0 9rem);
  }

  @mixin xl\:border-spacing-40 {
    @include r(xl, border-spacing, 10rem 10rem);
  }

  @mixin xl\:border-spacing-x-40 {
    @include r(xl, border-spacing, 10rem 0);
  }

  @mixin xl\:border-spacing-y-40 {
    @include r(xl, border-spacing, 0 10rem);
  }

  @mixin xl\:border-spacing-44 {
    @include r(xl, border-spacing, 11rem 11rem);
  }

  @mixin xl\:border-spacing-x-44 {
    @include r(xl, border-spacing, 11rem 0);
  }

  @mixin xl\:border-spacing-y-44 {
    @include r(xl, border-spacing, 0 11rem);
  }

  @mixin xl\:border-spacing-48 {
    @include r(xl, border-spacing, 12rem 12rem);
  }

  @mixin xl\:border-spacing-x-48 {
    @include r(xl, border-spacing, 12rem 0);
  }

  @mixin xl\:border-spacing-y-48 {
    @include r(xl, border-spacing, 0 12rem);
  }

  @mixin xl\:border-spacing-52 {
    @include r(xl, border-spacing, 13rem 13rem);
  }

  @mixin xl\:border-spacing-x-52 {
    @include r(xl, border-spacing, 13rem 0);
  }

  @mixin xl\:border-spacing-y-52 {
    @include r(xl, border-spacing, 0 13rem);
  }

  @mixin xl\:border-spacing-56 {
    @include r(xl, border-spacing, 14rem 14rem);
  }

  @mixin xl\:border-spacing-x-56 {
    @include r(xl, border-spacing, 14rem 0);
  }

  @mixin xl\:border-spacing-y-56 {
    @include r(xl, border-spacing, 0 14rem);
  }

  @mixin xl\:border-spacing-60 {
    @include r(xl, border-spacing, 15rem 15rem);
  }

  @mixin xl\:border-spacing-x-60 {
    @include r(xl, border-spacing, 15rem 0);
  }

  @mixin xl\:border-spacing-y-60 {
    @include r(xl, border-spacing, 0 15rem);
  }

  @mixin xl\:border-spacing-64 {
    @include r(xl, border-spacing, 16rem 16rem);
  }

  @mixin xl\:border-spacing-x-64 {
    @include r(xl, border-spacing, 16rem 0);
  }

  @mixin xl\:border-spacing-y-64 {
    @include r(xl, border-spacing, 0 16rem);
  }

  @mixin xl\:border-spacing-72 {
    @include r(xl, border-spacing, 18rem 18rem);
  }

  @mixin xl\:border-spacing-x-72 {
    @include r(xl, border-spacing, 18rem 0);
  }

  @mixin xl\:border-spacing-y-72 {
    @include r(xl, border-spacing, 0 18rem);
  }

  @mixin xl\:border-spacing-80 {
    @include r(xl, border-spacing, 20rem 20rem);
  }

  @mixin xl\:border-spacing-x-80 {
    @include r(xl, border-spacing, 20rem 0);
  }

  @mixin xl\:border-spacing-y-80 {
    @include r(xl, border-spacing, 0 20rem);
  }

  @mixin xl\:border-spacing-96 {
    @include r(xl, border-spacing, 24rem 24rem);
  }

  @mixin xl\:border-spacing-x-96 {
    @include r(xl, border-spacing, 24rem 0);
  }

  @mixin xl\:border-spacing-y-96 {
    @include r(xl, border-spacing, 0 24rem);
  }

  @mixin \2xl\:border-spacing-0 {
    @include r(2xl, border-spacing, 0px 0px);
  }

  @mixin \2xl\:border-spacing-x-0 {
    @include r(2xl, border-spacing, 0px 0);
  }

  @mixin \2xl\:border-spacing-y-0 {
    @include r(2xl, border-spacing, 0 0px);
  }

  @mixin \2xl\:border-spacing-px {
    @include r(2xl, border-spacing, 1px 1px);
  }

  @mixin \2xl\:border-spacing-x-px {
    @include r(2xl, border-spacing, 1px 0);
  }

  @mixin \2xl\:border-spacing-y-px {
    @include r(2xl, border-spacing, 0 1px);
  }

  @mixin \2xl\:border-spacing-0\.5 {
    @include r(2xl, border-spacing, 0.125rem 0.125rem);
  }

  @mixin \2xl\:border-spacing-x-0\.5 {
    @include r(2xl, border-spacing, 0.125rem 0);
  }

  @mixin \2xl\:border-spacing-y-0\.5 {
    @include r(2xl, border-spacing, 0 0.125rem);
  }

  @mixin \2xl\:border-spacing-1 {
    @include r(2xl, border-spacing, 0.25rem 0.25rem);
  }

  @mixin \2xl\:border-spacing-x-1 {
    @include r(2xl, border-spacing, 0.25rem 0);
  }

  @mixin \2xl\:border-spacing-y-1 {
    @include r(2xl, border-spacing, 0 0.25rem);
  }

  @mixin \2xl\:border-spacing-1\.5 {
    @include r(2xl, border-spacing, 0.375rem 0.375rem);
  }

  @mixin \2xl\:border-spacing-x-1\.5 {
    @include r(2xl, border-spacing, 0.375rem 0);
  }

  @mixin \2xl\:border-spacing-y-1\.5 {
    @include r(2xl, border-spacing, 0 0.375rem);
  }

  @mixin \2xl\:border-spacing-2 {
    @include r(2xl, border-spacing, 0.5rem 0.5rem);
  }

  @mixin \2xl\:border-spacing-x-2 {
    @include r(2xl, border-spacing, 0.5rem 0);
  }

  @mixin \2xl\:border-spacing-y-2 {
    @include r(2xl, border-spacing, 0 0.5rem);
  }

  @mixin \2xl\:border-spacing-2\.5 {
    @include r(2xl, border-spacing, 0.625rem 0.625rem);
  }

  @mixin \2xl\:border-spacing-x-2\.5 {
    @include r(2xl, border-spacing, 0.625rem 0);
  }

  @mixin \2xl\:border-spacing-y-2\.5 {
    @include r(2xl, border-spacing, 0 0.625rem);
  }

  @mixin \2xl\:border-spacing-3 {
    @include r(2xl, border-spacing, 0.75rem 0.75rem);
  }

  @mixin \2xl\:border-spacing-x-3 {
    @include r(2xl, border-spacing, 0.75rem 0);
  }

  @mixin \2xl\:border-spacing-y-3 {
    @include r(2xl, border-spacing, 0 0.75rem);
  }

  @mixin \2xl\:border-spacing-3\.5 {
    @include r(2xl, border-spacing, 0.875rem 0.875rem);
  }

  @mixin \2xl\:border-spacing-x-3\.5 {
    @include r(2xl, border-spacing, 0.875rem 0);
  }

  @mixin \2xl\:border-spacing-y-3\.5 {
    @include r(2xl, border-spacing, 0 0.875rem);
  }

  @mixin \2xl\:border-spacing-4 {
    @include r(2xl, border-spacing, 1rem 1rem);
  }

  @mixin \2xl\:border-spacing-x-4 {
    @include r(2xl, border-spacing, 1rem 0);
  }

  @mixin \2xl\:border-spacing-y-4 {
    @include r(2xl, border-spacing, 0 1rem);
  }

  @mixin \2xl\:border-spacing-5 {
    @include r(2xl, border-spacing, 1.25rem 1.25rem);
  }

  @mixin \2xl\:border-spacing-x-5 {
    @include r(2xl, border-spacing, 1.25rem 0);
  }

  @mixin \2xl\:border-spacing-y-5 {
    @include r(2xl, border-spacing, 0 1.25rem);
  }

  @mixin \2xl\:border-spacing-6 {
    @include r(2xl, border-spacing, 1.5rem 1.5rem);
  }

  @mixin \2xl\:border-spacing-x-6 {
    @include r(2xl, border-spacing, 1.5rem 0);
  }

  @mixin \2xl\:border-spacing-y-6 {
    @include r(2xl, border-spacing, 0 1.5rem);
  }

  @mixin \2xl\:border-spacing-7 {
    @include r(2xl, border-spacing, 1.75rem 1.75rem);
  }

  @mixin \2xl\:border-spacing-x-7 {
    @include r(2xl, border-spacing, 1.75rem 0);
  }

  @mixin \2xl\:border-spacing-y-7 {
    @include r(2xl, border-spacing, 0 1.75rem);
  }

  @mixin \2xl\:border-spacing-8 {
    @include r(2xl, border-spacing, 2rem 2rem);
  }

  @mixin \2xl\:border-spacing-x-8 {
    @include r(2xl, border-spacing, 2rem 0);
  }

  @mixin \2xl\:border-spacing-y-8 {
    @include r(2xl, border-spacing, 0 2rem);
  }

  @mixin \2xl\:border-spacing-9 {
    @include r(2xl, border-spacing, 2.25rem 2.25rem);
  }

  @mixin \2xl\:border-spacing-x-9 {
    @include r(2xl, border-spacing, 2.25rem 0);
  }

  @mixin \2xl\:border-spacing-y-9 {
    @include r(2xl, border-spacing, 0 2.25rem);
  }

  @mixin \2xl\:border-spacing-10 {
    @include r(2xl, border-spacing, 2.5rem 2.5rem);
  }

  @mixin \2xl\:border-spacing-x-10 {
    @include r(2xl, border-spacing, 2.5rem 0);
  }

  @mixin \2xl\:border-spacing-y-10 {
    @include r(2xl, border-spacing, 0 2.5rem);
  }

  @mixin \2xl\:border-spacing-11 {
    @include r(2xl, border-spacing, 2.75rem 2.75rem);
  }

  @mixin \2xl\:border-spacing-x-11 {
    @include r(2xl, border-spacing, 2.75rem 0);
  }

  @mixin \2xl\:border-spacing-y-11 {
    @include r(2xl, border-spacing, 0 2.75rem);
  }

  @mixin \2xl\:border-spacing-12 {
    @include r(2xl, border-spacing, 3rem 3rem);
  }

  @mixin \2xl\:border-spacing-x-12 {
    @include r(2xl, border-spacing, 3rem 0);
  }

  @mixin \2xl\:border-spacing-y-12 {
    @include r(2xl, border-spacing, 0 3rem);
  }

  @mixin \2xl\:border-spacing-14 {
    @include r(2xl, border-spacing, 3.5rem 3.5rem);
  }

  @mixin \2xl\:border-spacing-x-14 {
    @include r(2xl, border-spacing, 3.5rem 0);
  }

  @mixin \2xl\:border-spacing-y-14 {
    @include r(2xl, border-spacing, 0 3.5rem);
  }

  @mixin \2xl\:border-spacing-16 {
    @include r(2xl, border-spacing, 4rem 4rem);
  }

  @mixin \2xl\:border-spacing-x-16 {
    @include r(2xl, border-spacing, 4rem 0);
  }

  @mixin \2xl\:border-spacing-y-16 {
    @include r(2xl, border-spacing, 0 4rem);
  }

  @mixin \2xl\:border-spacing-20 {
    @include r(2xl, border-spacing, 5rem 5rem);
  }

  @mixin \2xl\:border-spacing-x-20 {
    @include r(2xl, border-spacing, 5rem 0);
  }

  @mixin \2xl\:border-spacing-y-20 {
    @include r(2xl, border-spacing, 0 5rem);
  }

  @mixin \2xl\:border-spacing-24 {
    @include r(2xl, border-spacing, 6rem 6rem);
  }

  @mixin \2xl\:border-spacing-x-24 {
    @include r(2xl, border-spacing, 6rem 0);
  }

  @mixin \2xl\:border-spacing-y-24 {
    @include r(2xl, border-spacing, 0 6rem);
  }

  @mixin \2xl\:border-spacing-28 {
    @include r(2xl, border-spacing, 7rem 7rem);
  }

  @mixin \2xl\:border-spacing-x-28 {
    @include r(2xl, border-spacing, 7rem 0);
  }

  @mixin \2xl\:border-spacing-y-28 {
    @include r(2xl, border-spacing, 0 7rem);
  }

  @mixin \2xl\:border-spacing-32 {
    @include r(2xl, border-spacing, 8rem 8rem);
  }

  @mixin \2xl\:border-spacing-x-32 {
    @include r(2xl, border-spacing, 8rem 0);
  }

  @mixin \2xl\:border-spacing-y-32 {
    @include r(2xl, border-spacing, 0 8rem);
  }

  @mixin \2xl\:border-spacing-36 {
    @include r(2xl, border-spacing, 9rem 9rem);
  }

  @mixin \2xl\:border-spacing-x-36 {
    @include r(2xl, border-spacing, 9rem 0);
  }

  @mixin \2xl\:border-spacing-y-36 {
    @include r(2xl, border-spacing, 0 9rem);
  }

  @mixin \2xl\:border-spacing-40 {
    @include r(2xl, border-spacing, 10rem 10rem);
  }

  @mixin \2xl\:border-spacing-x-40 {
    @include r(2xl, border-spacing, 10rem 0);
  }

  @mixin \2xl\:border-spacing-y-40 {
    @include r(2xl, border-spacing, 0 10rem);
  }

  @mixin \2xl\:border-spacing-44 {
    @include r(2xl, border-spacing, 11rem 11rem);
  }

  @mixin \2xl\:border-spacing-x-44 {
    @include r(2xl, border-spacing, 11rem 0);
  }

  @mixin \2xl\:border-spacing-y-44 {
    @include r(2xl, border-spacing, 0 11rem);
  }

  @mixin \2xl\:border-spacing-48 {
    @include r(2xl, border-spacing, 12rem 12rem);
  }

  @mixin \2xl\:border-spacing-x-48 {
    @include r(2xl, border-spacing, 12rem 0);
  }

  @mixin \2xl\:border-spacing-y-48 {
    @include r(2xl, border-spacing, 0 12rem);
  }

  @mixin \2xl\:border-spacing-52 {
    @include r(2xl, border-spacing, 13rem 13rem);
  }

  @mixin \2xl\:border-spacing-x-52 {
    @include r(2xl, border-spacing, 13rem 0);
  }

  @mixin \2xl\:border-spacing-y-52 {
    @include r(2xl, border-spacing, 0 13rem);
  }

  @mixin \2xl\:border-spacing-56 {
    @include r(2xl, border-spacing, 14rem 14rem);
  }

  @mixin \2xl\:border-spacing-x-56 {
    @include r(2xl, border-spacing, 14rem 0);
  }

  @mixin \2xl\:border-spacing-y-56 {
    @include r(2xl, border-spacing, 0 14rem);
  }

  @mixin \2xl\:border-spacing-60 {
    @include r(2xl, border-spacing, 15rem 15rem);
  }

  @mixin \2xl\:border-spacing-x-60 {
    @include r(2xl, border-spacing, 15rem 0);
  }

  @mixin \2xl\:border-spacing-y-60 {
    @include r(2xl, border-spacing, 0 15rem);
  }

  @mixin \2xl\:border-spacing-64 {
    @include r(2xl, border-spacing, 16rem 16rem);
  }

  @mixin \2xl\:border-spacing-x-64 {
    @include r(2xl, border-spacing, 16rem 0);
  }

  @mixin \2xl\:border-spacing-y-64 {
    @include r(2xl, border-spacing, 0 16rem);
  }

  @mixin \2xl\:border-spacing-72 {
    @include r(2xl, border-spacing, 18rem 18rem);
  }

  @mixin \2xl\:border-spacing-x-72 {
    @include r(2xl, border-spacing, 18rem 0);
  }

  @mixin \2xl\:border-spacing-y-72 {
    @include r(2xl, border-spacing, 0 18rem);
  }

  @mixin \2xl\:border-spacing-80 {
    @include r(2xl, border-spacing, 20rem 20rem);
  }

  @mixin \2xl\:border-spacing-x-80 {
    @include r(2xl, border-spacing, 20rem 0);
  }

  @mixin \2xl\:border-spacing-y-80 {
    @include r(2xl, border-spacing, 0 20rem);
  }

  @mixin \2xl\:border-spacing-96 {
    @include r(2xl, border-spacing, 24rem 24rem);
  }

  @mixin \2xl\:border-spacing-x-96 {
    @include r(2xl, border-spacing, 24rem 0);
  }

  @mixin \2xl\:border-spacing-y-96 {
    @include r(2xl, border-spacing, 0 24rem);
  } // x*/
}

@if $Custom {
  // /*x
  @mixin border-spacing-($v) {
    border-spacing: $v;
  }

  @mixin border-spacing-x-($v) {
    border-spacing: $v 0;
  }

  @mixin border-spacing-y-($v) {
    border-spacing: 0 $v;
  }
  @mixin sm\:border-spacing-($v) {
    @include r(sm, border-spacing, $v);
  }

  @mixin sm\:border-spacing-x-($v) {
    @include r(sm, border-spacing, $v 0);
  }

  @mixin sm\:border-spacing-y-($v) {
    @include r(sm, border-spacing, 0 $v);
  }

  @mixin md\:border-spacing-($v) {
    @include r(md, border-spacing, $v);
  }

  @mixin md\:border-spacing-x-($v) {
    @include r(md, border-spacing, $v 0);
  }

  @mixin md\:border-spacing-y-($v) {
    @include r(md, border-spacing, 0 $v);
  }

  @mixin lg\:border-spacing-($v) {
    @include r(lg, border-spacing, $v);
  }

  @mixin lg\:border-spacing-x-($v) {
    @include r(lg, border-spacing, $v 0);
  }

  @mixin lg\:border-spacing-y-($v) {
    @include r(lg, border-spacing, 0 $v);
  }

  @mixin xl\:border-spacing-($v) {
    @include r(xl, border-spacing, $v);
  }

  @mixin xl\:border-spacing-x-($v) {
    @include r(xl, border-spacing, $v 0);
  }

  @mixin xl\:border-spacing-y-($v) {
    @include r(xl, border-spacing, 0 $v);
  }

  @mixin \2xl\:border-spacing-($v) {
    @include r(2xl, border-spacing, $v);
  }

  @mixin \2xl\:border-spacing-x-($v) {
    @include r(2xl, border-spacing, $v 0);
  }

  @mixin \2xl\:border-spacing-y-($v) {
    @include r(2xl, border-spacing, 0 $v);
  } // x*/
}
