@use "../../setting" as *;

/* Gap */
@if $Basic {
  /*x
  @mixin gap-0 {
    gap: 0px;
  }

  @mixin gap-x-0 {
    column-gap: 0px;
  }

  @mixin gap-y-0 {
    row-gap: 0px;
  }

  @mixin gap-px {
    gap: 1px;
  }

  @mixin gap-x-px {
    column-gap: 1px;
  }

  @mixin gap-y-px {
    row-gap: 1px;
  }

  // 2px
  @mixin gap-0\.5 {
    gap: 0.125rem;
  }

  // 2px
  @mixin gap-x-0\.5 {
    column-gap: 0.125rem;
  }

  // 2px
  @mixin gap-y-0\.5 {
    row-gap: 0.125rem;
  }

  // 4px
  @mixin gap-1 {
    gap: 0.25rem;
  }

  // 4px
  @mixin gap-x-1 {
    column-gap: 0.25rem;
  }

  // 4px
  @mixin gap-y-1 {
    row-gap: 0.25rem;
  }

  // 6px
  @mixin gap-1\.5 {
    gap: 0.375rem;
  }

  // 6px
  @mixin gap-x-1\.5 {
    column-gap: 0.375rem;
  }

  // 6px
  @mixin gap-y-1\.5 {
    row-gap: 0.375rem;
  }

  // 8px
  @mixin gap-2 {
    gap: 0.5rem;
  }

  // 8px
  @mixin gap-x-2 {
    column-gap: 0.5rem;
  }

  // 8px
  @mixin gap-y-2 {
    row-gap: 0.5rem;
  }

  // 10px
  @mixin gap-2\.5 {
    gap: 0.625rem;
  }

  // 10px
  @mixin gap-x-2\.5 {
    column-gap: 0.625rem;
  }

  // 10px
  @mixin gap-y-2\.5 {
    row-gap: 0.625rem;
  }

  // 12px
  @mixin gap-3 {
    gap: 0.75rem;
  }

  // 12px
  @mixin gap-x-3 {
    column-gap: 0.75rem;
  }

  // 12px
  @mixin gap-y-3 {
    row-gap: 0.75rem;
  }

  // 14px
  @mixin gap-3\.5 {
    gap: 0.875rem;
  }

  // 14px
  @mixin gap-x-3\.5 {
    column-gap: 0.875rem;
  }

  // 14px
  @mixin gap-y-3\.5 {
    row-gap: 0.875rem;
  }

  // 16px
  @mixin gap-4 {
    gap: 1rem;
  }

  // 16px
  @mixin gap-x-4 {
    column-gap: 1rem;
  }

  // 16px
  @mixin gap-y-4 {
    row-gap: 1rem;
  }

  // 20px
  @mixin gap-5 {
    gap: 1.25rem;
  }

  // 20px
  @mixin gap-x-5 {
    column-gap: 1.25rem;
  }

  // 20px
  @mixin gap-y-5 {
    row-gap: 1.25rem;
  }

  // 24px
  @mixin gap-6 {
    gap: 1.5rem;
  }

  // 24px
  @mixin gap-x-6 {
    column-gap: 1.5rem;
  }

  // 24px
  @mixin gap-y-6 {
    row-gap: 1.5rem;
  }

  // 28px
  @mixin gap-7 {
    gap: 1.75rem;
  }

  // 28px
  @mixin gap-x-7 {
    column-gap: 1.75rem;
  }

  // 28px
  @mixin gap-y-7 {
    row-gap: 1.75rem;
  }

  // 32px
  @mixin gap-8 {
    gap: 2rem;
  }

  // 32px
  @mixin gap-x-8 {
    column-gap: 2rem;
  }

  // 32px
  @mixin gap-y-8 {
    row-gap: 2rem;
  }

  // 36px
  @mixin gap-9 {
    gap: 2.25rem;
  }

  // 36px
  @mixin gap-x-9 {
    column-gap: 2.25rem;
  }

  // 36px
  @mixin gap-y-9 {
    row-gap: 2.25rem;
  }

  // 40px
  @mixin gap-10 {
    gap: 2.5rem;
  }

  // 40px
  @mixin gap-x-10 {
    column-gap: 2.5rem;
  }

  // 40px
  @mixin gap-y-10 {
    row-gap: 2.5rem;
  }

  // 44px
  @mixin gap-11 {
    gap: 2.75rem;
  }

  // 44px
  @mixin gap-x-11 {
    column-gap: 2.75rem;
  }

  // 44px
  @mixin gap-y-11 {
    row-gap: 2.75rem;
  }

  // 48px
  @mixin gap-12 {
    gap: 3rem;
  }

  // 48px
  @mixin gap-x-12 {
    column-gap: 3rem;
  }

  // 48px
  @mixin gap-y-12 {
    row-gap: 3rem;
  }

  // 56px
  @mixin gap-14 {
    gap: 3.5rem;
  }

  // 56px
  @mixin gap-x-14 {
    column-gap: 3.5rem;
  }

  // 56px
  @mixin gap-y-14 {
    row-gap: 3.5rem;
  }

  // 64px
  @mixin gap-16 {
    gap: 4rem;
  }

  // 64px
  @mixin gap-x-16 {
    column-gap: 4rem;
  }

  // 64px
  @mixin gap-y-16 {
    row-gap: 4rem;
  }

  // 80px
  @mixin gap-20 {
    gap: 5rem;
  }

  // 80px
  @mixin gap-x-20 {
    column-gap: 5rem;
  }

  // 80px
  @mixin gap-y-20 {
    row-gap: 5rem;
  }

  // 96px
  @mixin gap-24 {
    gap: 6rem;
  }

  // 96px
  @mixin gap-x-24 {
    column-gap: 6rem;
  }

  // 96px
  @mixin gap-y-24 {
    row-gap: 6rem;
  }

  // 112px
  @mixin gap-28 {
    gap: 7rem;
  }

  // 112px
  @mixin gap-x-28 {
    column-gap: 7rem;
  }

  // 112px
  @mixin gap-y-28 {
    row-gap: 7rem;
  }

  // 128px
  @mixin gap-32 {
    gap: 8rem;
  }

  // 128px
  @mixin gap-x-32 {
    column-gap: 8rem;
  }

  // 128px
  @mixin gap-y-32 {
    row-gap: 8rem;
  }

  // 144px
  @mixin gap-36 {
    gap: 9rem;
  }

  // 144px
  @mixin gap-x-36 {
    column-gap: 9rem;
  }

  // 144px
  @mixin gap-y-36 {
    row-gap: 9rem;
  }

  // 160px
  @mixin gap-40 {
    gap: 10rem;
  }

  // 160px
  @mixin gap-x-40 {
    column-gap: 10rem;
  }

  // 160px
  @mixin gap-y-40 {
    row-gap: 10rem;
  }

  // 176px
  @mixin gap-44 {
    gap: 11rem;
  }

  // 176px
  @mixin gap-x-44 {
    column-gap: 11rem;
  }

  // 176px
  @mixin gap-y-44 {
    row-gap: 11rem;
  }

  // 192px
  @mixin gap-48 {
    gap: 12rem;
  }

  // 192px
  @mixin gap-x-48 {
    column-gap: 12rem;
  }

  // 192px
  @mixin gap-y-48 {
    row-gap: 12rem;
  }

  // 208px
  @mixin gap-52 {
    gap: 13rem;
  }

  // 208px
  @mixin gap-x-52 {
    column-gap: 13rem;
  }

  // 208px
  @mixin gap-y-52 {
    row-gap: 13rem;
  }

  // 224px
  @mixin gap-56 {
    gap: 14rem;
  }

  // 224px
  @mixin gap-x-56 {
    column-gap: 14rem;
  }

  // 224px
  @mixin gap-y-56 {
    row-gap: 14rem;
  }

  // 240px
  @mixin gap-60 {
    gap: 15rem;
  }

  // 240px
  @mixin gap-x-60 {
    column-gap: 15rem;
  }

  // 240px
  @mixin gap-y-60 {
    row-gap: 15rem;
  }

  // 256px
  @mixin gap-64 {
    gap: 16rem;
  }

  // 256px
  @mixin gap-x-64 {
    column-gap: 16rem;
  }

  // 256px
  @mixin gap-y-64 {
    row-gap: 16rem;
  }

  // 288px
  @mixin gap-72 {
    gap: 18rem;
  }

  // 288px
  @mixin gap-x-72 {
    column-gap: 18rem;
  }

  // 288px
  @mixin gap-y-72 {
    row-gap: 18rem;
  }

  // 320px
  @mixin gap-80 {
    gap: 20rem;
  }

  // 320px
  @mixin gap-x-80 {
    column-gap: 20rem;
  }

  // 320px
  @mixin gap-y-80 {
    row-gap: 20rem;
  }

  // 384px
  @mixin gap-96 {
    gap: 24rem;
  }

  // 384px
  @mixin gap-x-96 {
    column-gap: 24rem;
  }

  // 384px
  @mixin gap-y-96 {
    row-gap: 24rem;
  }x*/
}

@if $Rwd {
  // reducing size for updating speed
  @if $isLiteMode {
    /*x
    @mixin sm\:gap-($v) {
      @include r(sm, gap, $v);
    }

    @mixin sm\:gap-x-($v) {
      @include r(sm, column-gap, $v);
    }

    @mixin sm\:gap-y-($v) {
      @include r(sm, row-gap, $v);
    }

    @mixin md\:gap-($v) {
      @include r(md, gap, $v);
    }

    @mixin md\:gap-x-($v) {
      @include r(md, column-gap, $v);
    }

    @mixin md\:gap-y-($v) {
      @include r(md, row-gap, $v);
    }

    @mixin lg\:gap-($v) {
      @include r(lg, gap, $v);
    }

    @mixin lg\:gap-x-($v) {
      @include r(lg, column-gap, $v);
    }

    @mixin lg\:gap-y-($v) {
      @include r(lg, row-gap, $v);
    }

    @mixin xl\:gap-($v) {
      @include r(xl, gap, $v);
    }

    @mixin xl\:gap-x-($v) {
      @include r(xl, column-gap, $v);
    }

    @mixin xl\:gap-y-($v) {
      @include r(xl, row-gap, $v);
    }

    @mixin \2xl\:gap-($v) {
      @include r(2xl, gap, $v);
    }

    @mixin \2xl\:gap-x-($v) {
      @include r(2xl, column-gap, $v);
    }

    @mixin \2xl\:gap-y-($v) {
      @include r(2xl, row-gap, $v);
    }x*/
  }

  // tailwind default
  @else {
  }
}

@if $Custom {
  /*x
  @mixin gap-($v) {
    gap: $v;
  }

  @mixin gap-x-($v) {
    column-gap: $v;
  }

  @mixin gap-y-($v) {
    row-gap: $v;
  }x*/
}
