@use "../../setting" as *;

/* Aspect Ratio */
@if $Basic {
  @mixin_aspect-auto {
    aspect-ratio: auto;
  }

  @mixin_aspect-square {
    aspect-ratio: 1 / 1;
  }

  @mixin_aspect-video {
    aspect-ratio: 16 / 9;
  }
}

@if $Rwd {
  // reducing size for updating speed
  @if $isLite {
    @mixin_sm\:aspect- (_value) {
      @media (min-width: $breakpoint-sm) {
        aspect-ratio: _value;
      }
    }

    @mixin_md\:aspect- (_value) {
      @media (min-width: $breakpoint-md) {
        aspect-ratio: _value;
      }
    }

    @mixin_lg\:aspect- (_value) {
      @media (min-width: $breakpoint-lg) {
        aspect-ratio: _value;
      }
    }

    @mixin_xl\:aspect- (_value) {
      @media (min-width: $breakpoint-xl) {
        aspect-ratio: _value;
      }
    }

    @mixin_\\2xl\:aspect- (_value) {
      @media (min-width: $breakpoint-2xl) {
        aspect-ratio: _value;
      }
    }
  }

  // tailwind default
  @else {
  }
}

@if $Custom {
  @mixin_aspect- (_value) {
    aspect-ratio: _value;
  }
}
