@use "../../setting" as *;

@if $Basic {
  // /*x
  @mixin min-w-0 {
    min-width: $\0;
  }

  @mixin min-w-1 {
    min-width: $\1;
  }

  @mixin min-w-2 {
    min-width: $\2;
  }

  @mixin min-w-3 {
    min-width: $\3;
  }

  @mixin min-w-4 {
    min-width: $\4;
  }

  @mixin min-w-5 {
    min-width: $\5;
  }

  @mixin min-w-6 {
    min-width: $\6;
  }

  @mixin min-w-7 {
    min-width: $\7;
  }

  @mixin min-w-8 {
    min-width: $\8;
  }

  @mixin min-w-9 {
    min-width: $\9;
  }

  @mixin min-w-10 {
    min-width: $\10;
  }

  @mixin min-w-11 {
    min-width: $\11;
  }

  @mixin min-w-12 {
    min-width: $\12;
  }

  @mixin min-w-14 {
    min-width: $\14;
  }

  @mixin min-w-16 {
    min-width: $\16;
  }

  @mixin min-w-20 {
    min-width: $\20;
  }

  @mixin min-w-24 {
    min-width: $\24;
  }

  @mixin min-w-28 {
    min-width: $\28;
  }

  @mixin min-w-32 {
    min-width: $\32;
  }

  @mixin min-w-36 {
    min-width: $\36;
  }

  @mixin min-w-40 {
    min-width: $\40;
  }

  @mixin min-w-44 {
    min-width: $\44;
  }

  @mixin min-w-48 {
    min-width: $\48;
  }

  @mixin min-w-52 {
    min-width: $\52;
  }

  @mixin min-w-56 {
    min-width: $\56;
  }

  @mixin min-w-60 {
    min-width: $\60;
  }

  @mixin min-w-64 {
    min-width: $\64;
  }

  @mixin min-w-72 {
    min-width: $\72;
  }

  @mixin min-w-80 {
    min-width: $\80;
  }

  @mixin min-w-96 {
    min-width: $\96;
  }

  @mixin min-w-px {
    min-width: $\px;
  }

  @mixin min-w-0\.5 {
    min-width: $\0\.5;
  }

  @mixin min-w-1\.5 {
    min-width: $\1\.5;
  }

  @mixin min-w-2\.5 {
    min-width: $\2\.5;
  }

  @mixin min-w-3\.5 {
    min-width: $\3\.5;
  }

  @mixin min-w-full {
    min-width: 100%;
  }

  @mixin min-w-min {
    min-width: min-content;
  }

  @mixin min-w-max {
    min-width: max-content;
  }

  @mixin min-w-fit {
    min-width: fit-content;
  }

  // x*/
}

@if $Rwd and ($sizeMode == 0 or $sizeMode == 1) {
  // /*x
  @mixin sm\:min-w-0 {
    @include sm\:min-w-($\0);
  }

  @mixin sm\:min-w-1 {
    @include sm\:min-w-($\1);
  }

  @mixin sm\:min-w-2 {
    @include sm\:min-w-($\2);
  }

  @mixin sm\:min-w-3 {
    @include sm\:min-w-($\3);
  }

  @mixin sm\:min-w-4 {
    @include sm\:min-w-($\4);
  }

  @mixin sm\:min-w-5 {
    @include sm\:min-w-($\5);
  }

  @mixin sm\:min-w-6 {
    @include sm\:min-w-($\6);
  }

  @mixin sm\:min-w-7 {
    @include sm\:min-w-($\7);
  }

  @mixin sm\:min-w-8 {
    @include sm\:min-w-($\8);
  }

  @mixin sm\:min-w-9 {
    @include sm\:min-w-($\9);
  }

  @mixin sm\:min-w-10 {
    @include sm\:min-w-($\10);
  }

  @mixin sm\:min-w-11 {
    @include sm\:min-w-($\11);
  }

  @mixin sm\:min-w-12 {
    @include sm\:min-w-($\12);
  }

  @mixin sm\:min-w-14 {
    @include sm\:min-w-($\14);
  }

  @mixin sm\:min-w-16 {
    @include sm\:min-w-($\16);
  }

  @mixin sm\:min-w-20 {
    @include sm\:min-w-($\20);
  }

  @mixin sm\:min-w-24 {
    @include sm\:min-w-($\24);
  }

  @mixin sm\:min-w-28 {
    @include sm\:min-w-($\28);
  }

  @mixin sm\:min-w-32 {
    @include sm\:min-w-($\32);
  }

  @mixin sm\:min-w-36 {
    @include sm\:min-w-($\36);
  }

  @mixin sm\:min-w-40 {
    @include sm\:min-w-($\40);
  }

  @mixin sm\:min-w-44 {
    @include sm\:min-w-($\44);
  }

  @mixin sm\:min-w-48 {
    @include sm\:min-w-($\48);
  }

  @mixin sm\:min-w-52 {
    @include sm\:min-w-($\52);
  }

  @mixin sm\:min-w-56 {
    @include sm\:min-w-($\56);
  }

  @mixin sm\:min-w-60 {
    @include sm\:min-w-($\60);
  }

  @mixin sm\:min-w-64 {
    @include sm\:min-w-($\64);
  }

  @mixin sm\:min-w-72 {
    @include sm\:min-w-($\72);
  }

  @mixin sm\:min-w-80 {
    @include sm\:min-w-($\80);
  }

  @mixin sm\:min-w-96 {
    @include sm\:min-w-($\96);
  }

  @mixin sm\:min-w-px {
    @include sm\:min-w-($\px);
  }

  @mixin sm\:min-w-0\.5 {
    @include sm\:min-w-($\0\.5);
  }

  @mixin sm\:min-w-1\.5 {
    @include sm\:min-w-($\1\.5);
  }

  @mixin sm\:min-w-2\.5 {
    @include sm\:min-w-($\2\.5);
  }

  @mixin sm\:min-w-3\.5 {
    @include sm\:min-w-($\3\.5);
  }

  @mixin sm\:min-w-full {
    @include sm\:min-w-(100%);
  }

  @mixin sm\:min-w-min {
    @include sm\:min-w-(min-content);
  }

  @mixin sm\:min-w-max {
    @include sm\:min-w-(max-content);
  }

  @mixin sm\:min-w-fit {
    @include sm\:min-w-(fit-content);
  }

  @mixin md\:min-w-0 {
    @include md\:min-w-($\0);
  }

  @mixin md\:min-w-1 {
    @include md\:min-w-($\1);
  }

  @mixin md\:min-w-2 {
    @include md\:min-w-($\2);
  }

  @mixin md\:min-w-3 {
    @include md\:min-w-($\3);
  }

  @mixin md\:min-w-4 {
    @include md\:min-w-($\4);
  }

  @mixin md\:min-w-5 {
    @include md\:min-w-($\5);
  }

  @mixin md\:min-w-6 {
    @include md\:min-w-($\6);
  }

  @mixin md\:min-w-7 {
    @include md\:min-w-($\7);
  }

  @mixin md\:min-w-8 {
    @include md\:min-w-($\8);
  }

  @mixin md\:min-w-9 {
    @include md\:min-w-($\9);
  }

  @mixin md\:min-w-10 {
    @include md\:min-w-($\10);
  }

  @mixin md\:min-w-11 {
    @include md\:min-w-($\11);
  }

  @mixin md\:min-w-12 {
    @include md\:min-w-($\12);
  }

  @mixin md\:min-w-14 {
    @include md\:min-w-($\14);
  }

  @mixin md\:min-w-16 {
    @include md\:min-w-($\16);
  }

  @mixin md\:min-w-20 {
    @include md\:min-w-($\20);
  }

  @mixin md\:min-w-24 {
    @include md\:min-w-($\24);
  }

  @mixin md\:min-w-28 {
    @include md\:min-w-($\28);
  }

  @mixin md\:min-w-32 {
    @include md\:min-w-($\32);
  }

  @mixin md\:min-w-36 {
    @include md\:min-w-($\36);
  }

  @mixin md\:min-w-40 {
    @include md\:min-w-($\40);
  }

  @mixin md\:min-w-44 {
    @include md\:min-w-($\44);
  }

  @mixin md\:min-w-48 {
    @include md\:min-w-($\48);
  }

  @mixin md\:min-w-52 {
    @include md\:min-w-($\52);
  }

  @mixin md\:min-w-56 {
    @include md\:min-w-($\56);
  }

  @mixin md\:min-w-60 {
    @include md\:min-w-($\60);
  }

  @mixin md\:min-w-64 {
    @include md\:min-w-($\64);
  }

  @mixin md\:min-w-72 {
    @include md\:min-w-($\72);
  }

  @mixin md\:min-w-80 {
    @include md\:min-w-($\80);
  }

  @mixin md\:min-w-96 {
    @include md\:min-w-($\96);
  }

  @mixin md\:min-w-px {
    @include md\:min-w-($\px);
  }

  @mixin md\:min-w-0\.5 {
    @include md\:min-w-($\0\.5);
  }

  @mixin md\:min-w-1\.5 {
    @include md\:min-w-($\1\.5);
  }

  @mixin md\:min-w-2\.5 {
    @include md\:min-w-($\2\.5);
  }

  @mixin md\:min-w-3\.5 {
    @include md\:min-w-($\3\.5);
  }

  @mixin md\:min-w-full {
    @include md\:min-w-(100%);
  }

  @mixin md\:min-w-min {
    @include md\:min-w-(min-content);
  }

  @mixin md\:min-w-max {
    @include md\:min-w-(max-content);
  }

  @mixin md\:min-w-fit {
    @include md\:min-w-(fit-content);
  }

  @mixin lg\:min-w-0 {
    @include lg\:min-w-($\0);
  }

  @mixin lg\:min-w-1 {
    @include lg\:min-w-($\1);
  }

  @mixin lg\:min-w-2 {
    @include lg\:min-w-($\2);
  }

  @mixin lg\:min-w-3 {
    @include lg\:min-w-($\3);
  }

  @mixin lg\:min-w-4 {
    @include lg\:min-w-($\4);
  }

  @mixin lg\:min-w-5 {
    @include lg\:min-w-($\5);
  }

  @mixin lg\:min-w-6 {
    @include lg\:min-w-($\6);
  }

  @mixin lg\:min-w-7 {
    @include lg\:min-w-($\7);
  }

  @mixin lg\:min-w-8 {
    @include lg\:min-w-($\8);
  }

  @mixin lg\:min-w-9 {
    @include lg\:min-w-($\9);
  }

  @mixin lg\:min-w-10 {
    @include lg\:min-w-($\10);
  }

  @mixin lg\:min-w-11 {
    @include lg\:min-w-($\11);
  }

  @mixin lg\:min-w-12 {
    @include lg\:min-w-($\12);
  }

  @mixin lg\:min-w-14 {
    @include lg\:min-w-($\14);
  }

  @mixin lg\:min-w-16 {
    @include lg\:min-w-($\16);
  }

  @mixin lg\:min-w-20 {
    @include lg\:min-w-($\20);
  }

  @mixin lg\:min-w-24 {
    @include lg\:min-w-($\24);
  }

  @mixin lg\:min-w-28 {
    @include lg\:min-w-($\28);
  }

  @mixin lg\:min-w-32 {
    @include lg\:min-w-($\32);
  }

  @mixin lg\:min-w-36 {
    @include lg\:min-w-($\36);
  }

  @mixin lg\:min-w-40 {
    @include lg\:min-w-($\40);
  }

  @mixin lg\:min-w-44 {
    @include lg\:min-w-($\44);
  }

  @mixin lg\:min-w-48 {
    @include lg\:min-w-($\48);
  }

  @mixin lg\:min-w-52 {
    @include lg\:min-w-($\52);
  }

  @mixin lg\:min-w-56 {
    @include lg\:min-w-($\56);
  }

  @mixin lg\:min-w-60 {
    @include lg\:min-w-($\60);
  }

  @mixin lg\:min-w-64 {
    @include lg\:min-w-($\64);
  }

  @mixin lg\:min-w-72 {
    @include lg\:min-w-($\72);
  }

  @mixin lg\:min-w-80 {
    @include lg\:min-w-($\80);
  }

  @mixin lg\:min-w-96 {
    @include lg\:min-w-($\96);
  }

  @mixin lg\:min-w-px {
    @include lg\:min-w-($\px);
  }

  @mixin lg\:min-w-0\.5 {
    @include lg\:min-w-($\0\.5);
  }

  @mixin lg\:min-w-1\.5 {
    @include lg\:min-w-($\1\.5);
  }

  @mixin lg\:min-w-2\.5 {
    @include lg\:min-w-($\2\.5);
  }

  @mixin lg\:min-w-3\.5 {
    @include lg\:min-w-($\3\.5);
  }

  @mixin lg\:min-w-full {
    @include lg\:min-w-(100%);
  }

  @mixin lg\:min-w-min {
    @include lg\:min-w-(min-content);
  }

  @mixin lg\:min-w-max {
    @include lg\:min-w-(max-content);
  }

  @mixin lg\:min-w-fit {
    @include lg\:min-w-(fit-content);
  }

  @mixin xl\:min-w-0 {
    @include xl\:min-w-($\0);
  }

  @mixin xl\:min-w-1 {
    @include xl\:min-w-($\1);
  }

  @mixin xl\:min-w-2 {
    @include xl\:min-w-($\2);
  }

  @mixin xl\:min-w-3 {
    @include xl\:min-w-($\3);
  }

  @mixin xl\:min-w-4 {
    @include xl\:min-w-($\4);
  }

  @mixin xl\:min-w-5 {
    @include xl\:min-w-($\5);
  }

  @mixin xl\:min-w-6 {
    @include xl\:min-w-($\6);
  }

  @mixin xl\:min-w-7 {
    @include xl\:min-w-($\7);
  }

  @mixin xl\:min-w-8 {
    @include xl\:min-w-($\8);
  }

  @mixin xl\:min-w-9 {
    @include xl\:min-w-($\9);
  }

  @mixin xl\:min-w-10 {
    @include xl\:min-w-($\10);
  }

  @mixin xl\:min-w-11 {
    @include xl\:min-w-($\11);
  }

  @mixin xl\:min-w-12 {
    @include xl\:min-w-($\12);
  }

  @mixin xl\:min-w-14 {
    @include xl\:min-w-($\14);
  }

  @mixin xl\:min-w-16 {
    @include xl\:min-w-($\16);
  }

  @mixin xl\:min-w-20 {
    @include xl\:min-w-($\20);
  }

  @mixin xl\:min-w-24 {
    @include xl\:min-w-($\24);
  }

  @mixin xl\:min-w-28 {
    @include xl\:min-w-($\28);
  }

  @mixin xl\:min-w-32 {
    @include xl\:min-w-($\32);
  }

  @mixin xl\:min-w-36 {
    @include xl\:min-w-($\36);
  }

  @mixin xl\:min-w-40 {
    @include xl\:min-w-($\40);
  }

  @mixin xl\:min-w-44 {
    @include xl\:min-w-($\44);
  }

  @mixin xl\:min-w-48 {
    @include xl\:min-w-($\48);
  }

  @mixin xl\:min-w-52 {
    @include xl\:min-w-($\52);
  }

  @mixin xl\:min-w-56 {
    @include xl\:min-w-($\56);
  }

  @mixin xl\:min-w-60 {
    @include xl\:min-w-($\60);
  }

  @mixin xl\:min-w-64 {
    @include xl\:min-w-($\64);
  }

  @mixin xl\:min-w-72 {
    @include xl\:min-w-($\72);
  }

  @mixin xl\:min-w-80 {
    @include xl\:min-w-($\80);
  }

  @mixin xl\:min-w-96 {
    @include xl\:min-w-($\96);
  }

  @mixin xl\:min-w-px {
    @include xl\:min-w-($\px);
  }

  @mixin xl\:min-w-0\.5 {
    @include xl\:min-w-($\0\.5);
  }

  @mixin xl\:min-w-1\.5 {
    @include xl\:min-w-($\1\.5);
  }

  @mixin xl\:min-w-2\.5 {
    @include xl\:min-w-($\2\.5);
  }

  @mixin xl\:min-w-3\.5 {
    @include xl\:min-w-($\3\.5);
  }

  @mixin xl\:min-w-full {
    @include xl\:min-w-(100%);
  }

  @mixin xl\:min-w-min {
    @include xl\:min-w-(min-content);
  }

  @mixin xl\:min-w-max {
    @include xl\:min-w-(max-content);
  }

  @mixin xl\:min-w-fit {
    @include xl\:min-w-(fit-content);
  }

  @mixin \2xl\:min-w-0 {
    @include \2xl\:min-w-($\0);
  }

  @mixin \2xl\:min-w-1 {
    @include \2xl\:min-w-($\1);
  }

  @mixin \2xl\:min-w-2 {
    @include \2xl\:min-w-($\2);
  }

  @mixin \2xl\:min-w-3 {
    @include \2xl\:min-w-($\3);
  }

  @mixin \2xl\:min-w-4 {
    @include \2xl\:min-w-($\4);
  }

  @mixin \2xl\:min-w-5 {
    @include \2xl\:min-w-($\5);
  }

  @mixin \2xl\:min-w-6 {
    @include \2xl\:min-w-($\6);
  }

  @mixin \2xl\:min-w-7 {
    @include \2xl\:min-w-($\7);
  }

  @mixin \2xl\:min-w-8 {
    @include \2xl\:min-w-($\8);
  }

  @mixin \2xl\:min-w-9 {
    @include \2xl\:min-w-($\9);
  }

  @mixin \2xl\:min-w-10 {
    @include \2xl\:min-w-($\10);
  }

  @mixin \2xl\:min-w-11 {
    @include \2xl\:min-w-($\11);
  }

  @mixin \2xl\:min-w-12 {
    @include \2xl\:min-w-($\12);
  }

  @mixin \2xl\:min-w-14 {
    @include \2xl\:min-w-($\14);
  }

  @mixin \2xl\:min-w-16 {
    @include \2xl\:min-w-($\16);
  }

  @mixin \2xl\:min-w-20 {
    @include \2xl\:min-w-($\20);
  }

  @mixin \2xl\:min-w-24 {
    @include \2xl\:min-w-($\24);
  }

  @mixin \2xl\:min-w-28 {
    @include \2xl\:min-w-($\28);
  }

  @mixin \2xl\:min-w-32 {
    @include \2xl\:min-w-($\32);
  }

  @mixin \2xl\:min-w-36 {
    @include \2xl\:min-w-($\36);
  }

  @mixin \2xl\:min-w-40 {
    @include \2xl\:min-w-($\40);
  }

  @mixin \2xl\:min-w-44 {
    @include \2xl\:min-w-($\44);
  }

  @mixin \2xl\:min-w-48 {
    @include \2xl\:min-w-($\48);
  }

  @mixin \2xl\:min-w-52 {
    @include \2xl\:min-w-($\52);
  }

  @mixin \2xl\:min-w-56 {
    @include \2xl\:min-w-($\56);
  }

  @mixin \2xl\:min-w-60 {
    @include \2xl\:min-w-($\60);
  }

  @mixin \2xl\:min-w-64 {
    @include \2xl\:min-w-($\64);
  }

  @mixin \2xl\:min-w-72 {
    @include \2xl\:min-w-($\72);
  }

  @mixin \2xl\:min-w-80 {
    @include \2xl\:min-w-($\80);
  }

  @mixin \2xl\:min-w-96 {
    @include \2xl\:min-w-($\96);
  }

  @mixin \2xl\:min-w-px {
    @include \2xl\:min-w-($\px);
  }

  @mixin \2xl\:min-w-0\.5 {
    @include \2xl\:min-w-($\0\.5);
  }

  @mixin \2xl\:min-w-1\.5 {
    @include \2xl\:min-w-($\1\.5);
  }

  @mixin \2xl\:min-w-2\.5 {
    @include \2xl\:min-w-($\2\.5);
  }

  @mixin \2xl\:min-w-3\.5 {
    @include \2xl\:min-w-($\3\.5);
  }

  @mixin \2xl\:min-w-full {
    @include \2xl\:min-w-(100%);
  }

  @mixin \2xl\:min-w-min {
    @include \2xl\:min-w-(min-content);
  }

  @mixin \2xl\:min-w-max {
    @include \2xl\:min-w-(max-content);
  }

  @mixin \2xl\:min-w-fit {
    @include \2xl\:min-w-(fit-content);
  }

  // x*/
}

@if $Custom {
  // /*x
  @mixin min-w-($v) {
    @include min-width($v);
  }

  @mixin sm\:min-w-($v) {
    @include min-width($v, $sm);
  }

  @mixin md\:min-w-($v) {
    @include min-width($v, $md);
  }

  @mixin lg\:min-w-($v) {
    @include min-width($v, $lg);
  }

  @mixin xl\:min-w-($v) {
    @include min-width($v, $xl);
  }

  @mixin \2xl\:min-w-($v) {
    @include min-width($v, $\2xl);
  }

  // x*/
}
