@use "../setting" as *;

$PerspectiveOrigin: (
  "perspective-origin-center": center,
  "perspective-origin-top": top,
  "perspective-origin-top-right": top right,
  "perspective-origin-right": right,
  "perspective-origin-bottom-right": bottom right,
  "perspective-origin-bottom": bottom,
  "perspective-origin-bottom-left": bottom left,
  "perspective-origin-left": left,
  "perspective-origin-top-left": top left,
);

@if $QuickReference {
  @each $key, $value in $PerspectiveOrigin {
    /*x
    @mixin #{$key} {
      perspective-origin: #{$value};
    }
    x*/
  }
}

@if $UsingACustomValue {
  /*x
  @mixin perspective-origin-($v) {
    perspective-origin: $v;
  }
  x*/
}
