@use "../setting" as *;

$Rotate: (
  "0": 0deg,
  "1": 1deg,
  "2": 2deg,
  "3": 3deg,
  "6": 6deg,
  "12": 12deg,
  "45": 45deg,
  "90": 90deg,
  "180": 180deg,
);

@if $QuickReference {
  /*x
  .rotate-none {
    rotate: none;
  }
  x*/

  @each $key, $value in $Rotate {
    /*x
    @mixin rotate-#{$key} {
      rotate: #{$value};
    }
      
    @mixin rotate-x-#{$key} {
      --tw-rotate-x: #{rotateX($value)} !important;
      transform: _r-xyz_s-xy();
    }

    @mixin rotate-y-#{$key} {
      --tw-rotate-y: #{rotateY($value)} !important;
      transform: _r-xyz_s-xy();
    }

    @mixin rotate-z-#{$key} {
      --tw-rotate-z: #{rotateZ($value)} !important;
      transform: _r-xyz_s-xy();
    }
    x*/
  }
}

@if $UsingNegativeValues {
  @if $QuickReference {
    @each $key, $value in $Rotate {
      /*x
      @mixin \-rotate-#{$key} {
        rotate: #{-$value};
      }

      @mixin \-rotate-x-#{$key} {
        --tw-rotate-x: #{rotateX(-$value)} !important;
        transform: _r-xyz_s-xy();
      }

      @mixin \-rotate-y-#{$key} {
        --tw-rotate-y: #{rotateY(-$value)} !important;
        transform: _r-xyz_s-xy();
      }

      @mixin \-rotate-z-#{$key} {
        --tw-rotate-z: #{rotateZ(-$value)} !important;
        transform: _r-xyz_s-xy();
      }
      x*/
    }
  }

  @if $UsingACustomValue {
    /*x
    @mixin \-rotate-($v) {
      rotate: -$v;
    }

    @mixin \-rotate-x-($v) {
      --tw-rotate-x: rotateX(-$v) !important;
      transform: _r-xyz_s-xy();
    }

    @mixin \-rotate-y-($v) {
      --tw-rotate-y: rotateY(-$v) !important;
      transform: _r-xyz_s-xy();
    }

    @mixin \-rotate-z-($v) {
      --tw-rotate-z: rotateZ(-$v) !important;
      transform: _r-xyz_s-xy();
    }
    x*/
  }
}

@if $UsingACustomValue {
  /*x
  @mixin rotate-($v) {
    rotate: $v;
  }

  @mixin rotate-x-($v) {
    --tw-rotate-x: rotateX($v) !important;
    transform: _r-xyz_s-xy();
  }

  @mixin rotate-y-($v) {
    --tw-rotate-y: rotateY($v) !important;
    transform: _r-xyz_s-xy();
  }

  @mixin rotate-z-($v) {
    --tw-rotate-z: rotateZ($v) !important;
    transform: _r-xyz_s-xy();
  }
  x*/
}
