@use "../setting" as *;

@if $QuickReference {
  /*x
  @mixin transform-none {
    transform: none;
  }

  @mixin transform-gpu {
    transform: translateZ(0) _r-xyz_s-xy();
  }

  @mixin transform-cpu {
    transform: _r-xyz_s-xy();
  }
  x*/
}

@if $UsingACustomValue {
  /*x
  @mixin transform-($v) {
    transform: $v;
  }
  x*/
}
