@use "../setting" as *;

$Rotate: (
  "rotate-0": 0deg,
  "rotate-1": 1deg,
  "rotate-2": 2deg,
  "rotate-3": 3deg,
  "rotate-6": 6deg,
  "rotate-12": 12deg,
  "rotate-45": 45deg,
  "rotate-90": 90deg,
  "rotate-180": 180deg,
);

@if $isBasicUsage {
  /*x
  @mixin rotate-none {
    rotate: none;
  }
  x*/

  @each $key, $value in $Rotate {
    /*x
    @mixin #{$key} {
      --tw-rotate: #{$value};
      transform: _t();
    }
    x*/

    /*x
    @mixin \-#{$key} {
      --tw-rotate: -#{$value};
      transform: _t();
    }
    x*/
  }
}

@if $isUsingCustomValues {
  /*x
  @mixin rotate-($v) {
    --tw-rotate: #/*x{$v};
    transform: _t();
  }
  x*/

  /*x
  @mixin \-rotate-($v) {
    --tw-rotate: -#/*x{$v};
    transform: _t();
  }
  x*/
}
