@use "../../setting" as *;



$Gap: (
  "0": "$\\0",
  "px": "$\\px",
  "0\\.5": "$\\0\\.5",
  "1": "$\\1",
  "1\\.5": "$\\1\\.5",
  "2": "$\\2",
  "2\\.5": "$\\2\\.5",
  "3": "$\\3",
  "3\\.5": "$\\3\\.5",
  "4": "$\\4",
  "5": "$\\5",
  "6": "$\\6",
  "7": "$\\7",
  "8": "$\\8",
  "9": "$\\9",
  "10": "$\\10",
  "11": "$\\11",
  "12": "$\\12",
  "14": "$\\14",
  "16": "$\\16",
  "20": "$\\20",
  "24": "$\\24",
  "28": "$\\28",
  "32": "$\\32",
  "36": "$\\36",
  "40": "$\\40",
  "44": "$\\44",
  "48": "$\\48",
  "52": "$\\52",
  "56": "$\\56",
  "60": "$\\60",
  "64": "$\\64",
  "72": "$\\72",
  "80": "$\\80",
  "96": "$\\96",
);

@if $Basic {
  @each $key, $value in $Gap {
    /*x
    @mixin gap-#{$key} {
      @include gap(#{$value});
    }

    @mixin gap-x-#{$key} {
      @include column-gap(#{$value});
    }

    @mixin gap-y-#{$key} {
      @include row-gap(#{$value});
    }
    x*/
  }
}

@if $Rwd and ($sizeMode ==0 or $sizeMode ==1) {
  @each $rwd in $rwdBox {
    @each $key, $value in $Gap {
    /*x
    @mixin #{$rwd}\:gap-#{$key} {
      @include gap(#{$value}, $#{$rwd});
    }

    @mixin #{$rwd}\:gap-x-#{$key} {
      @include column-gap(#{$value}, $#{$rwd});
    }

    @mixin #{$rwd}\:gap-y-#{$key} {
      @include row-gap(#{$value}, $#{$rwd});
    }
    x*/
    }
  }
}

@if $Custom {
  /*x
  @mixin gap-($v) {
    @include gap($v);
  }

  @mixin gap-x-($v) {
    @include column-gap($v);
  }

  @mixin gap-y-($v) {
    @include row-gap($v);
  }
  x*/

  @each $rwd in $rwdBox {
    /*x
    @mixin #{$rwd}\:gap-($v) {
      @include gap($v, $#{$rwd});
    }

    @mixin #{$rwd}\:gap-x-($v) {
      @include column-gap($v, $#{$rwd});
    }

    @mixin #{$rwd}\:gap-y-($v) {
      @include row-gap($v, $#{$rwd});
    }
    x*/
  }
}

