@use "../../../settings/structures" as *;

@if $LetterSpacing {
  #mixin__-tracking-tighter {
    letter-spacing: -(-0.05em);
  }

  #mixin__-tracking-tight {
    letter-spacing: -(-0.025em);
  }

  #mixin__-tracking-normal {
    letter-spacing: -0em;
  }

  #mixin__-tracking-wide {
    letter-spacing: -0.025em;
  }

  #mixin__-tracking-wider {
    letter-spacing: -0.05em;
  }

  #mixin__-tracking-widest {
    letter-spacing: -0.1em;
  }
}
