@use "../../mode0" as *;
@use "true" as *;

@include describe("6.Backgrounds") {
  @include describe("Background Clip") {
    @include describe("Basic") {
      @include it("bg-clip-border") {
        @include assert {
          @include output {
            @include bg-clip-border;
            @include reset;
          }

          @include expect {
            background-clip: border-box;
          }
        }
      }

      @include it("bg-clip-padding") {
        @include assert {
          @include output {
            @include bg-clip-padding;
            @include reset;
          }

          @include expect {
            background-clip: padding-box;
          }
        }
      }

      @include it("bg-clip-content") {
        @include assert {
          @include output {
            @include bg-clip-content;
            @include reset;
          }

          @include expect {
            background-clip: content-box;
          }
        }
      }

      @include it("bg-clip-text") {
        @include assert {
          @include output {
            @include bg-clip-text;
            @include reset;
          }

          @include expect {
            background-clip: text;
          }
        }
      }
    }

    @include describe("Rwd") {
      @include it("sm\:bg-clip-border") {
        @include assert {
          @include output {
            @include sm\:bg-clip-border;
            @include reset;
          }

          @include expect {
            @media (min-width: $sm) {
              background-clip: border-box;
            }
          }
        }
      }

      @include it("sm\:bg-clip-padding") {
        @include assert {
          @include output {
            @include sm\:bg-clip-padding;
            @include reset;
          }

          @include expect {
            @media (min-width: $sm) {
              background-clip: padding-box;
            }
          }
        }
      }

      @include it("sm\:bg-clip-content") {
        @include assert {
          @include output {
            @include sm\:bg-clip-content;
            @include reset;
          }

          @include expect {
            @media (min-width: $sm) {
              background-clip: content-box;
            }
          }
        }
      }

      @include it("sm\:bg-clip-text") {
        @include assert {
          @include output {
            @include sm\:bg-clip-text;
            @include reset;
          }

          @include expect {
            @media (min-width: $sm) {
              background-clip: text;
            }
          }
        }
      }
    }
  }
}
