@use "../../setting" as *;


$FlexShrink: (
  "shrink": "1",
  "shrink-0": "0",
);

@if $Basic {
  @each $key, $value in $FlexShrink {
    /*x
    @mixin #{$key} {
      @include flex-shrink(#{$value});
    }
    x*/
  }
}

@if $Rwd and ($sizeMode ==0 or $sizeMode ==1) {
  @each $rwd in $rwdBox {
    @each $key, $value in $FlexShrink {
      /*x
      @mixin #{$rwd}\:#{$key} {
        @include flex-shrink(#{$value}, $#{$rwd});
      }
      x*/
    }
  }
}

@if $Custom {
  /*x
  @mixin shrink-($v) {
    @include flex-shrink($v);
  }
  x*/

  @each $rwd in $rwdBox {
    /*x
    @mixin #{$rwd}\:shrink-($v) {
      @include flex-shrink($v, $#{$rwd});
    }
    x*/
  }
}