@use "../../setting" as *;

/* Hyphens */
@if $Basic {
  @mixin_hyphens-none {
    hyphens: none;
  }

  @mixin_hyphens-manual {
    hyphens: manual;
  }

  @mixin_hyphens-auto {
    hyphens: auto;
  }
}

@if $Rwd {
  @mixin_sm\:hyphens-none {
    @media (min-width: $breakpoint-sm) {
      hyphens: none;
    }
  }

  @mixin_sm\:hyphens-manual {
    @media (min-width: $breakpoint-sm) {
      hyphens: manual;
    }
  }

  @mixin_sm\:hyphens-auto {
    @media (min-width: $breakpoint-sm) {
      hyphens: auto;
    }
  }

  @mixin_md\:hyphens-none {
    @media (min-width: $breakpoint-md) {
      hyphens: none;
    }
  }

  @mixin_md\:hyphens-manual {
    @media (min-width: $breakpoint-md) {
      hyphens: manual;
    }
  }

  @mixin_md\:hyphens-auto {
    @media (min-width: $breakpoint-md) {
      hyphens: auto;
    }
  }

  @mixin_lg\:hyphens-none {
    @media (min-width: $breakpoint-lg) {
      hyphens: none;
    }
  }

  @mixin_lg\:hyphens-manual {
    @media (min-width: $breakpoint-lg) {
      hyphens: manual;
    }
  }

  @mixin_lg\:hyphens-auto {
    @media (min-width: $breakpoint-lg) {
      hyphens: auto;
    }
  }

  @mixin_xl\:hyphens-none {
    @media (min-width: $breakpoint-xl) {
      hyphens: none;
    }
  }

  @mixin_xl\:hyphens-manual {
    @media (min-width: $breakpoint-xl) {
      hyphens: manual;
    }
  }

  @mixin_xl\:hyphens-auto {
    @media (min-width: $breakpoint-xl) {
      hyphens: auto;
    }
  }

  @mixin_\\2xl\:hyphens-none {
    @media (min-width: $breakpoint-2xl) {
      hyphens: none;
    }
  }

  @mixin_\\2xl\:hyphens-manual {
    @media (min-width: $breakpoint-2xl) {
      hyphens: manual;
    }
  }

  @mixin_\\2xl\:hyphens-auto {
    @media (min-width: $breakpoint-2xl) {
      hyphens: auto;
    }
  }
}
