@use "../../setting" as *;


$WhiteSpace: (
  "whitespace-normal": normal,
  "whitespace-nowrap": nowrap,
  "whitespace-pre": pre,
  "whitespace-pre-line": pre-line,
  "whitespace-pre-wrap": pre-wrap,
  "whitespace-break-spaces": break-spaces,
);

@if $Basic {
  @each $key, $value in $WhiteSpace {
    /*x
    @mixin #{$key}{
      @include white-space(#{$value});
    }
    x*/
  }
}

@if $Rwd {
  @each $rwd in $rwdBox {
    @each $key, $value in $WhiteSpace {
      /*x
      @mixin #{$rwd}\:#{$key}{
        @include white-space(#{$value}, $#{$key});
      }
      x*/
    }
  }
}