@use "../../setting" as *;
@use "../../mode0" as *;
@use "true" as *;

@include describe("1.Layout") {
  @include describe("Break Before") {
    @include describe("Basic") {
      @include it("break-before-auto") {
        @include assert {
          @include output {
            @include break-before-auto;
            @include clear;
          }

          @include expect {
            break-before: auto;
          }
        }
      }

      @include it("break-before-avoid") {
        @include assert {
          @include output {
            @include break-before-avoid;
            @include clear;
          }

          @include expect {
            break-before: avoid;
          }
        }
      }

      @include it("break-before-all") {
        @include assert {
          @include output {
            @include break-before-all;
            @include clear;
          }

          @include expect {
            break-before: all;
          }
        }
      }

      @include it("break-before-avoid-page") {
        @include assert {
          @include output {
            @include break-before-avoid-page;
            @include clear;
          }

          @include expect {
            break-before: avoid-page;
          }
        }
      }

      @include it("break-before-page") {
        @include assert {
          @include output {
            @include break-before-page;
            @include clear;
          }

          @include expect {
            break-before: page;
          }
        }
      }

      @include it("break-before-left") {
        @include assert {
          @include output {
            @include break-before-left;
            @include clear;
          }

          @include expect {
            break-before: left;
          }
        }
      }

      @include it("break-before-right") {
        @include assert {
          @include output {
            @include break-before-right;
            @include clear;
          }

          @include expect {
            break-before: right;
          }
        }
      }

      @include it("break-before-column") {
        @include assert {
          @include output {
            @include break-before-column;
            @include clear;
          }

          @include expect {
            break-before: column;
          }
        }
      }
    }

    @include describe("Rwd") {
      @include it("sm\:break-before-auto") {
        @include assert {
          @include output {
            @include sm\:break-before-auto;
            @include clear;
          }

          @include expect {
            @media (min-width: $sm) {
              break-before: auto;
            }
          }
        }
      }

      @include it("sm\:break-before-avoid") {
        @include assert {
          @include output {
            @include sm\:break-before-avoid;
            @include clear;
          }

          @include expect {
            @media (min-width: $sm) {
              break-before: avoid;
            }
          }
        }
      }

      @include it("sm\:break-before-all") {
        @include assert {
          @include output {
            @include sm\:break-before-all;
            @include clear;
          }

          @include expect {
            @media (min-width: $sm) {
              break-before: all;
            }
          }
        }
      }

      @include it("sm\:break-before-avoid-page") {
        @include assert {
          @include output {
            @include sm\:break-before-avoid-page;
            @include clear;
          }

          @include expect {
            @media (min-width: $sm) {
              break-before: avoid-page;
            }
          }
        }
      }

      @include it("sm\:break-before-page") {
        @include assert {
          @include output {
            @include sm\:break-before-page;
            @include clear;
          }

          @include expect {
            @media (min-width: $sm) {
              break-before: page;
            }
          }
        }
      }

      @include it("sm\:break-before-left") {
        @include assert {
          @include output {
            @include sm\:break-before-left;
            @include clear;
          }

          @include expect {
            @media (min-width: $sm) {
              break-before: left;
            }
          }
        }
      }

      @include it("sm\:break-before-right") {
        @include assert {
          @include output {
            @include sm\:break-before-right;
            @include clear;
          }

          @include expect {
            @media (min-width: $sm) {
              break-before: right;
            }
          }
        }
      }

      @include it("sm\:break-before-column") {
        @include assert {
          @include output {
            @include sm\:break-before-column;
            @include clear;
          }

          @include expect {
            @media (min-width: $sm) {
              break-before: column;
            }
          }
        }
      }

      @include it("md\:break-before-auto") {
        @include assert {
          @include output {
            @include md\:break-before-auto;
            @include clear;
          }

          @include expect {
            @media (min-width: $md) {
              break-before: auto;
            }
          }
        }
      }

      @include it("md\:break-before-avoid") {
        @include assert {
          @include output {
            @include md\:break-before-avoid;
            @include clear;
          }

          @include expect {
            @media (min-width: $md) {
              break-before: avoid;
            }
          }
        }
      }

      @include it("md\:break-before-all") {
        @include assert {
          @include output {
            @include md\:break-before-all;
            @include clear;
          }

          @include expect {
            @media (min-width: $md) {
              break-before: all;
            }
          }
        }
      }

      @include it("md\:break-before-avoid-page") {
        @include assert {
          @include output {
            @include md\:break-before-avoid-page;
            @include clear;
          }

          @include expect {
            @media (min-width: $md) {
              break-before: avoid-page;
            }
          }
        }
      }

      @include it("md\:break-before-page") {
        @include assert {
          @include output {
            @include md\:break-before-page;
            @include clear;
          }

          @include expect {
            @media (min-width: $md) {
              break-before: page;
            }
          }
        }
      }

      @include it("md\:break-before-left") {
        @include assert {
          @include output {
            @include md\:break-before-left;
            @include clear;
          }

          @include expect {
            @media (min-width: $md) {
              break-before: left;
            }
          }
        }
      }

      @include it("md\:break-before-right") {
        @include assert {
          @include output {
            @include md\:break-before-right;
            @include clear;
          }

          @include expect {
            @media (min-width: $md) {
              break-before: right;
            }
          }
        }
      }

      @include it("md\:break-before-column") {
        @include assert {
          @include output {
            @include md\:break-before-column;
            @include clear;
          }

          @include expect {
            @media (min-width: $md) {
              break-before: column;
            }
          }
        }
      }

      @include it("lg\:break-before-auto") {
        @include assert {
          @include output {
            @include lg\:break-before-auto;
            @include clear;
          }

          @include expect {
            @media (min-width: $lg) {
              break-before: auto;
            }
          }
        }
      }

      @include it("lg\:break-before-avoid") {
        @include assert {
          @include output {
            @include lg\:break-before-avoid;
            @include clear;
          }

          @include expect {
            @media (min-width: $lg) {
              break-before: avoid;
            }
          }
        }
      }

      @include it("lg\:break-before-all") {
        @include assert {
          @include output {
            @include lg\:break-before-all;
            @include clear;
          }

          @include expect {
            @media (min-width: $lg) {
              break-before: all;
            }
          }
        }
      }

      @include it("lg\:break-before-avoid-page") {
        @include assert {
          @include output {
            @include lg\:break-before-avoid-page;
            @include clear;
          }

          @include expect {
            @media (min-width: $lg) {
              break-before: avoid-page;
            }
          }
        }
      }

      @include it("lg\:break-before-page") {
        @include assert {
          @include output {
            @include lg\:break-before-page;
            @include clear;
          }

          @include expect {
            @media (min-width: $lg) {
              break-before: page;
            }
          }
        }
      }

      @include it("lg\:break-before-left") {
        @include assert {
          @include output {
            @include lg\:break-before-left;
            @include clear;
          }

          @include expect {
            @media (min-width: $lg) {
              break-before: left;
            }
          }
        }
      }

      @include it("lg\:break-before-right") {
        @include assert {
          @include output {
            @include lg\:break-before-right;
            @include clear;
          }

          @include expect {
            @media (min-width: $lg) {
              break-before: right;
            }
          }
        }
      }

      @include it("lg\:break-before-column") {
        @include assert {
          @include output {
            @include lg\:break-before-column;
            @include clear;
          }

          @include expect {
            @media (min-width: $lg) {
              break-before: column;
            }
          }
        }
      }

      @include it("xl\:break-before-auto") {
        @include assert {
          @include output {
            @include xl\:break-before-auto;
            @include clear;
          }

          @include expect {
            @media (min-width: $xl) {
              break-before: auto;
            }
          }
        }
      }

      @include it("xl\:break-before-avoid") {
        @include assert {
          @include output {
            @include xl\:break-before-avoid;
            @include clear;
          }

          @include expect {
            @media (min-width: $xl) {
              break-before: avoid;
            }
          }
        }
      }

      @include it("xl\:break-before-all") {
        @include assert {
          @include output {
            @include xl\:break-before-all;
            @include clear;
          }

          @include expect {
            @media (min-width: $xl) {
              break-before: all;
            }
          }
        }
      }

      @include it("xl\:break-before-avoid-page") {
        @include assert {
          @include output {
            @include xl\:break-before-avoid-page;
            @include clear;
          }

          @include expect {
            @media (min-width: $xl) {
              break-before: avoid-page;
            }
          }
        }
      }

      @include it("xl\:break-before-page") {
        @include assert {
          @include output {
            @include xl\:break-before-page;
            @include clear;
          }

          @include expect {
            @media (min-width: $xl) {
              break-before: page;
            }
          }
        }
      }

      @include it("xl\:break-before-left") {
        @include assert {
          @include output {
            @include xl\:break-before-left;
            @include clear;
          }

          @include expect {
            @media (min-width: $xl) {
              break-before: left;
            }
          }
        }
      }

      @include it("xl\:break-before-right") {
        @include assert {
          @include output {
            @include xl\:break-before-right;
            @include clear;
          }

          @include expect {
            @media (min-width: $xl) {
              break-before: right;
            }
          }
        }
      }

      @include it("xl\:break-before-column") {
        @include assert {
          @include output {
            @include xl\:break-before-column;
            @include clear;
          }

          @include expect {
            @media (min-width: $xl) {
              break-before: column;
            }
          }
        }
      }

      @include it("\2xl\:break-before-auto") {
        @include assert {
          @include output {
            @include \2xl\:break-before-auto;
            @include clear;
          }

          @include expect {
            @media (min-width: $\2xl) {
              break-before: auto;
            }
          }
        }
      }

      @include it("\2xl\:break-before-avoid") {
        @include assert {
          @include output {
            @include \2xl\:break-before-avoid;
            @include clear;
          }

          @include expect {
            @media (min-width: $\2xl) {
              break-before: avoid;
            }
          }
        }
      }

      @include it("\2xl\:break-before-all") {
        @include assert {
          @include output {
            @include \2xl\:break-before-all;
            @include clear;
          }

          @include expect {
            @media (min-width: $\2xl) {
              break-before: all;
            }
          }
        }
      }

      @include it("\2xl\:break-before-avoid-page") {
        @include assert {
          @include output {
            @include \2xl\:break-before-avoid-page;
            @include clear;
          }

          @include expect {
            @media (min-width: $\2xl) {
              break-before: avoid-page;
            }
          }
        }
      }

      @include it("\2xl\:break-before-page") {
        @include assert {
          @include output {
            @include \2xl\:break-before-page;
            @include clear;
          }

          @include expect {
            @media (min-width: $\2xl) {
              break-before: page;
            }
          }
        }
      }

      @include it("\2xl\:break-before-left") {
        @include assert {
          @include output {
            @include \2xl\:break-before-left;
            @include clear;
          }

          @include expect {
            @media (min-width: $\2xl) {
              break-before: left;
            }
          }
        }
      }

      @include it("\2xl\:break-before-right") {
        @include assert {
          @include output {
            @include \2xl\:break-before-right;
            @include clear;
          }

          @include expect {
            @media (min-width: $\2xl) {
              break-before: right;
            }
          }
        }
      }

      @include it("\2xl\:break-before-column") {
        @include assert {
          @include output {
            @include \2xl\:break-before-column;
            @include clear;
          }

          @include expect {
            @media (min-width: $\2xl) {
              break-before: column;
            }
          }
        }
      }
    }
  }
}
