@use "../../setting" as *;


$BreakBefore: (
  "break-before-auto": auto,
  "break-before-avoid": avoid,
  "break-before-all": all,
  "break-before-avoid-page": avoid-page,
  "break-before-page": page,
  "break-before-left": left,
  "break-before-right": right,
  "break-before-column": column,
);

@if $Basic {
  @each $key, $value in $BreakBefore {
    /*x
    @mixin #{$key} {
      @include break-before(#{$value});
    }
    x*/
  }
}

@if $Rwd {
  @each $rwd in $rwdBox {
    @each $key, $value in $BreakBefore {
      /*x
      @mixin #{$rwd}\:#{$key} {
        @include break-before(#{$value}, $#{$rwd});
      }
      x*/
    }
  }
}