@use "../../mode0" as *;
@use "true" as *;

@include describe("1.Layout") {
  @include describe("Position") {
    @include describe("Basic") {
      @include it("static") {
        @include assert {
          @include output {
            @include static;
            @include reset;
          }

          @include expect {
            position: static;
          }
        }
      }

      @include it("fixed") {
        @include assert {
          @include output {
            @include fixed;
            @include reset;
          }

          @include expect {
            position: fixed;
          }
        }
      }

      @include it("absolute") {
        @include assert {
          @include output {
            @include absolute;
            @include reset;
          }

          @include expect {
            position: absolute;
          }
        }
      }

      @include it("relative") {
        @include assert {
          @include output {
            @include relative;
            @include reset;
          }

          @include expect {
            position: relative;
          }
        }
      }

      @include it("sticky") {
        @include assert {
          @include output {
            @include sticky;
            @include reset;
          }

          @include expect {
            position: sticky;
          }
        }
      }
    }
    @include describe("Rwd") {
      @include it("sm\:static") {
        @include assert {
          @include output {
            @include sm\:static;
            @include reset;
          }

          @include expect {
            @media (min-width: $sm) {
              position: static;
            }
          }
        }
      }

      @include it("sm\:fixed") {
        @include assert {
          @include output {
            @include sm\:fixed;
            @include reset;
          }

          @include expect {
            @media (min-width: $sm) {
              position: fixed;
            }
          }
        }
      }

      @include it("sm\:absolute") {
        @include assert {
          @include output {
            @include sm\:absolute;
            @include reset;
          }

          @include expect {
            @media (min-width: $sm) {
              position: absolute;
            }
          }
        }
      }

      @include it("sm\:relative") {
        @include assert {
          @include output {
            @include sm\:relative;
            @include reset;
          }

          @include expect {
            @media (min-width: $sm) {
              position: relative;
            }
          }
        }
      }

      @include it("sm\:sticky") {
        @include assert {
          @include output {
            @include sm\:sticky;
            @include reset;
          }

          @include expect {
            @media (min-width: $sm) {
              position: sticky;
            }
          }
        }
      }

      @include it("md\:static") {
        @include assert {
          @include output {
            @include md\:static;
            @include reset;
          }

          @include expect {
            @media (min-width: $md) {
              position: static;
            }
          }
        }
      }

      @include it("md\:fixed") {
        @include assert {
          @include output {
            @include md\:fixed;
            @include reset;
          }

          @include expect {
            @media (min-width: $md) {
              position: fixed;
            }
          }
        }
      }

      @include it("md\:absolute") {
        @include assert {
          @include output {
            @include md\:absolute;
            @include reset;
          }

          @include expect {
            @media (min-width: $md) {
              position: absolute;
            }
          }
        }
      }

      @include it("md\:relative") {
        @include assert {
          @include output {
            @include md\:relative;
            @include reset;
          }

          @include expect {
            @media (min-width: $md) {
              position: relative;
            }
          }
        }
      }

      @include it("md\:sticky") {
        @include assert {
          @include output {
            @include md\:sticky;
            @include reset;
          }

          @include expect {
            @media (min-width: $md) {
              position: sticky;
            }
          }
        }
      }

      @include it("lg\:static") {
        @include assert {
          @include output {
            @include lg\:static;
            @include reset;
          }

          @include expect {
            @media (min-width: $lg) {
              position: static;
            }
          }
        }
      }

      @include it("lg\:fixed") {
        @include assert {
          @include output {
            @include lg\:fixed;
            @include reset;
          }

          @include expect {
            @media (min-width: $lg) {
              position: fixed;
            }
          }
        }
      }

      @include it("lg\:absolute") {
        @include assert {
          @include output {
            @include lg\:absolute;
            @include reset;
          }

          @include expect {
            @media (min-width: $lg) {
              position: absolute;
            }
          }
        }
      }

      @include it("lg\:relative") {
        @include assert {
          @include output {
            @include lg\:relative;
            @include reset;
          }

          @include expect {
            @media (min-width: $lg) {
              position: relative;
            }
          }
        }
      }

      @include it("lg\:sticky") {
        @include assert {
          @include output {
            @include lg\:sticky;
            @include reset;
          }

          @include expect {
            @media (min-width: $lg) {
              position: sticky;
            }
          }
        }
      }

      @include it("xl\:static") {
        @include assert {
          @include output {
            @include xl\:static;
            @include reset;
          }

          @include expect {
            @media (min-width: $xl) {
              position: static;
            }
          }
        }
      }

      @include it("xl\:fixed") {
        @include assert {
          @include output {
            @include xl\:fixed;
            @include reset;
          }

          @include expect {
            @media (min-width: $xl) {
              position: fixed;
            }
          }
        }
      }

      @include it("xl\:absolute") {
        @include assert {
          @include output {
            @include xl\:absolute;
            @include reset;
          }

          @include expect {
            @media (min-width: $xl) {
              position: absolute;
            }
          }
        }
      }

      @include it("xl\:relative") {
        @include assert {
          @include output {
            @include xl\:relative;
            @include reset;
          }

          @include expect {
            @media (min-width: $xl) {
              position: relative;
            }
          }
        }
      }

      @include it("xl\:sticky") {
        @include assert {
          @include output {
            @include xl\:sticky;
            @include reset;
          }

          @include expect {
            @media (min-width: $xl) {
              position: sticky;
            }
          }
        }
      }

      @include it("2xl\:static") {
        @include assert {
          @include output {
            @include \2xl\:static;
            @include reset;
          }

          @include expect {
            @media (min-width: $\2xl) {
              position: static;
            }
          }
        }
      }

      @include it("2xl\:fixed") {
        @include assert {
          @include output {
            @include \2xl\:fixed;
            @include reset;
          }

          @include expect {
            @media (min-width: $\2xl) {
              position: fixed;
            }
          }
        }
      }

      @include it("2xl\:absolute") {
        @include assert {
          @include output {
            @include \2xl\:absolute;
            @include reset;
          }

          @include expect {
            @media (min-width: $\2xl) {
              position: absolute;
            }
          }
        }
      }

      @include it("2xl\:relative") {
        @include assert {
          @include output {
            @include \2xl\:relative;
            @include reset;
          }

          @include expect {
            @media (min-width: $\2xl) {
              position: relative;
            }
          }
        }
      }

      @include it("2xl\:sticky") {
        @include assert {
          @include output {
            @include \2xl\:sticky;
            @include reset;
          }

          @include expect {
            @media (min-width: $\2xl) {
              position: sticky;
            }
          }
        }
      }
    }
  }
}
