

@include describe('7.Borders') {
  @include describe('Outline Style') {
    @include describe('Basic') {
      @include it('outline-none') {
        @include assert {
          @include output {
            @include outline-none;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            outline: 2px solid transparent;
            outline-offset: 2px;
          }
        }
      }

      @include it('outline') {
        @include assert {
          @include output {
            @include outline;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            outline-style: solid;
          }
        }
      }

      @include it('outline-dashed') {
        @include assert {
          @include output {
            @include outline-dashed;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            outline-style: dashed;
          }
        }
      }

      @include it('outline-dotted') {
        @include assert {
          @include output {
            @include outline-dotted;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            outline-style: dotted;
          }
        }
      }

      @include it('outline-double') {
        @include assert {
          @include output {
            @include outline-double;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            outline-style: double;
          }
        }
      }
    }

    @include describe('Rwd') {
      @include it('sm\:outline-none') {
        @include assert {
          @include output {
            @include sm\:outline-none;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              outline: 2px solid transparent;
              outline-offset: 2px;
            }
          }
        }
      }

      @include it('sm\:outline') {
        @include assert {
          @include output {
            @include sm\:outline;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              outline-style: solid;
            }
          }
        }
      }

      @include it('sm\:outline-dashed') {
        @include assert {
          @include output {
            @include sm\:outline-dashed;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              outline-style: dashed;
            }
          }
        }
      }

      @include it('sm\:outline-dotted') {
        @include assert {
          @include output {
            @include sm\:outline-dotted;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              outline-style: dotted;
            }
          }
        }
      }

      @include it('sm\:outline-double') {
        @include assert {
          @include output {
            @include sm\:outline-double;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              outline-style: double;
            }
          }
        }
      }

      @include it('md\:outline-none') {
        @include assert {
          @include output {
            @include md\:outline-none;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              outline: 2px solid transparent;
              outline-offset: 2px;
            }
          }
        }
      }

      @include it('md\:outline') {
        @include assert {
          @include output {
            @include md\:outline;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              outline-style: solid;
            }
          }
        }
      }

      @include it('md\:outline-dashed') {
        @include assert {
          @include output {
            @include md\:outline-dashed;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              outline-style: dashed;
            }
          }
        }
      }

      @include it('md\:outline-dotted') {
        @include assert {
          @include output {
            @include md\:outline-dotted;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              outline-style: dotted;
            }
          }
        }
      }

      @include it('md\:outline-double') {
        @include assert {
          @include output {
            @include md\:outline-double;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              outline-style: double;
            }
          }
        }
      }

      @include it('lg\:outline-none') {
        @include assert {
          @include output {
            @include lg\:outline-none;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              outline: 2px solid transparent;
              outline-offset: 2px;
            }
          }
        }
      }

      @include it('lg\:outline') {
        @include assert {
          @include output {
            @include lg\:outline;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              outline-style: solid;
            }
          }
        }
      }

      @include it('lg\:outline-dashed') {
        @include assert {
          @include output {
            @include lg\:outline-dashed;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              outline-style: dashed;
            }
          }
        }
      }

      @include it('lg\:outline-dotted') {
        @include assert {
          @include output {
            @include lg\:outline-dotted;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              outline-style: dotted;
            }
          }
        }
      }

      @include it('lg\:outline-double') {
        @include assert {
          @include output {
            @include lg\:outline-double;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              outline-style: double;
            }
          }
        }
      }

      @include it('xl\:outline-none') {
        @include assert {
          @include output {
            @include xl\:outline-none;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              outline: 2px solid transparent;
              outline-offset: 2px;
            }
          }
        }
      }

      @include it('xl\:outline') {
        @include assert {
          @include output {
            @include xl\:outline;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              outline-style: solid;
            }
          }
        }
      }

      @include it('xl\:outline-dashed') {
        @include assert {
          @include output {
            @include xl\:outline-dashed;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              outline-style: dashed;
            }
          }
        }
      }

      @include it('xl\:outline-dotted') {
        @include assert {
          @include output {
            @include xl\:outline-dotted;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              outline-style: dotted;
            }
          }
        }
      }

      @include it('xl\:outline-double') {
        @include assert {
          @include output {
            @include xl\:outline-double;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              outline-style: double;
            }
          }
        }
      }

      @include it('2xl\:outline-none') {
        @include assert {
          @include output {
            @include \2xl\:outline-none;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              outline: 2px solid transparent;
              outline-offset: 2px;
            }
          }
        }
      }

      @include it('2xl\:outline') {
        @include assert {
          @include output {
            @include \2xl\:outline;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              outline-style: solid;
            }
          }
        }
      }

      @include it('2xl\:outline-dashed') {
        @include assert {
          @include output {
            @include \2xl\:outline-dashed;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              outline-style: dashed;
            }
          }
        }
      }

      @include it('2xl\:outline-dotted') {
        @include assert {
          @include output {
            @include \2xl\:outline-dotted;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              outline-style: dotted;
            }
          }
        }
      }

      @include it('2xl\:outline-double') {
        @include assert {
          @include output {
            @include \2xl\:outline-double;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              outline-style: double;
            }
          }
        }
      }
    }
  }
}
