@include describe('7.Borders') {
  @include describe('Outline Style') {
    @include describe('Basic') {
      @include it('outline-none') {
        @include assert {
          @include output {
            @include outline-none;
            @include utils_reset-tw;
          }

          @include expect {
            & {
              outline: 2px solid transparent;
            }
            & {
              outline-offset: 2px;
            }
          }
        }
      }

      @include it('outline') {
        @include assert {
          @include output {
            @include outline;
            @include utils_reset-tw;
          }

          @include expect {
            outline-style: solid;
          }
        }
      }

      @include it('outline-dashed') {
        @include assert {
          @include output {
            @include outline-dashed;
            @include utils_reset-tw;
          }

          @include expect {
            outline-style: dashed;
          }
        }
      }

      @include it('outline-dotted') {
        @include assert {
          @include output {
            @include outline-dotted;
            @include utils_reset-tw;
          }

          @include expect {
            outline-style: dotted;
          }
        }
      }

      @include it('outline-double') {
        @include assert {
          @include output {
            @include outline-double;
            @include utils_reset-tw;
          }

          @include expect {
            outline-style: double;
          }
        }
      }
    }
  }
}
