@use "true" as *;
@use "../awaken" as *;

@include describe("7.Borders") {
  @include describe("Outline Width") {
    @include describe("Basic") {
      @include it("outline-0") {
        @include assert {
          @include output {
            @include outline-0;
            @include utils_reset;
          }

          @include expect {
            outline-width: 0px;
          }
        }
      }

      @include it("outline-1") {
        @include assert {
          @include output {
            @include outline-1;
            @include utils_reset;
          }

          @include expect {
            outline-width: 1px;
          }
        }
      }

      @include it("outline-2") {
        @include assert {
          @include output {
            @include outline-2;
            @include utils_reset;
          }

          @include expect {
            outline-width: 2px;
          }
        }
      }

      @include it("outline-4	") {
        @include assert {
          @include output {
            @include outline-4;
            @include utils_reset;
          }

          @include expect {
            outline-width: 4px;
          }
        }
      }

      @include it("outline-8") {
        @include assert {
          @include output {
            @include outline-8;
            @include utils_reset;
          }

          @include expect {
            outline-width: 8px;
          }
        }
      }
    }

    @include describe("Custom") {
      @include it("outline-(5px)") {
        @include assert {
          @include output {
            @include outline-(5px);
            @include utils_reset;
          }

          @include expect {
            outline-width: 5px;
          }
        }
      }
    }
  }
}
