

@include describe('7.Borders') {
  @include describe('Outline Offset') {
    @include describe('Basic') {
      @include it('outline-offset-0') {
        @include assert {
          @include output {
            @include outline-offset-0;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            outline-offset: 0px;
          }
        }
      }

      @include it('outline-offset-1') {
        @include assert {
          @include output {
            @include outline-offset-1;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            outline-offset: 1px;
          }
        }
      }

      @include it('outline-offset-2') {
        @include assert {
          @include output {
            @include outline-offset-2;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            outline-offset: 2px;
          }
        }
      }

      @include it('outline-offset-4') {
        @include assert {
          @include output {
            @include outline-offset-4;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            outline-offset: 4px;
          }
        }
      }

      @include it('outline-offset-8') {
        @include assert {
          @include output {
            @include outline-offset-8;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            outline-offset: 8px;
          }
        }
      }
    }

    @include describe('Rwd') {
      @include it('sm\:outline-offset-0') {
        @include assert {
          @include output {
            @include sm\:outline-offset-0;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              outline-offset: 0px;
            }
          }
        }
      }

      @include it('sm\:outline-offset-1') {
        @include assert {
          @include output {
            @include sm\:outline-offset-1;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              outline-offset: 1px;
            }
          }
        }
      }

      @include it('sm\:outline-offset-2') {
        @include assert {
          @include output {
            @include sm\:outline-offset-2;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              outline-offset: 2px;
            }
          }
        }
      }

      @include it('sm\:outline-offset-4') {
        @include assert {
          @include output {
            @include sm\:outline-offset-4;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              outline-offset: 4px;
            }
          }
        }
      }

      @include it('sm\:outline-offset-8') {
        @include assert {
          @include output {
            @include sm\:outline-offset-8;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              outline-offset: 8px;
            }
          }
        }
      }

      @include it('md\:outline-offset-0') {
        @include assert {
          @include output {
            @include md\:outline-offset-0;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              outline-offset: 0px;
            }
          }
        }
      }

      @include it('md\:outline-offset-1') {
        @include assert {
          @include output {
            @include md\:outline-offset-1;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              outline-offset: 1px;
            }
          }
        }
      }

      @include it('md\:outline-offset-2') {
        @include assert {
          @include output {
            @include md\:outline-offset-2;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              outline-offset: 2px;
            }
          }
        }
      }

      @include it('md\:outline-offset-4') {
        @include assert {
          @include output {
            @include md\:outline-offset-4;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              outline-offset: 4px;
            }
          }
        }
      }

      @include it('md\:outline-offset-8') {
        @include assert {
          @include output {
            @include md\:outline-offset-8;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              outline-offset: 8px;
            }
          }
        }
      }

      @include it('lg\:outline-offset-0') {
        @include assert {
          @include output {
            @include lg\:outline-offset-0;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              outline-offset: 0px;
            }
          }
        }
      }

      @include it('lg\:outline-offset-1') {
        @include assert {
          @include output {
            @include lg\:outline-offset-1;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              outline-offset: 1px;
            }
          }
        }
      }

      @include it('lg\:outline-offset-2') {
        @include assert {
          @include output {
            @include lg\:outline-offset-2;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              outline-offset: 2px;
            }
          }
        }
      }

      @include it('lg\:outline-offset-4') {
        @include assert {
          @include output {
            @include lg\:outline-offset-4;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              outline-offset: 4px;
            }
          }
        }
      }

      @include it('lg\:outline-offset-8') {
        @include assert {
          @include output {
            @include lg\:outline-offset-8;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              outline-offset: 8px;
            }
          }
        }
      }

      @include it('xl\:outline-offset-0') {
        @include assert {
          @include output {
            @include xl\:outline-offset-0;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              outline-offset: 0px;
            }
          }
        }
      }

      @include it('xl\:outline-offset-1') {
        @include assert {
          @include output {
            @include xl\:outline-offset-1;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              outline-offset: 1px;
            }
          }
        }
      }

      @include it('xl\:outline-offset-2') {
        @include assert {
          @include output {
            @include xl\:outline-offset-2;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              outline-offset: 2px;
            }
          }
        }
      }

      @include it('xl\:outline-offset-4') {
        @include assert {
          @include output {
            @include xl\:outline-offset-4;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              outline-offset: 4px;
            }
          }
        }
      }

      @include it('xl\:outline-offset-8') {
        @include assert {
          @include output {
            @include xl\:outline-offset-8;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              outline-offset: 8px;
            }
          }
        }
      }

      @include it('2xl\:outline-offset-0') {
        @include assert {
          @include output {
            @include \2xl\:outline-offset-0;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_2xl) {
              outline-offset: 0px;
            }
          }
        }
      }

      @include it('2xl\:outline-offset-1') {
        @include assert {
          @include output {
            @include \2xl\:outline-offset-1;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_2xl) {
              outline-offset: 1px;
            }
          }
        }
      }

      @include it('2xl\:outline-offset-2') {
        @include assert {
          @include output {
            @include \2xl\:outline-offset-2;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_2xl) {
              outline-offset: 2px;
            }
          }
        }
      }

      @include it('2xl\:outline-offset-4') {
        @include assert {
          @include output {
            @include \2xl\:outline-offset-4;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_2xl) {
              outline-offset: 4px;
            }
          }
        }
      }

      @include it('2xl\:outline-offset-8') {
        @include assert {
          @include output {
            @include \2xl\:outline-offset-8;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_2xl) {
              outline-offset: 8px;
            }
          }
        }
      }
    }

    @include describe('Custom') {
      @include it('outline-offset-(3px)') {
        @include assert {
          @include output {
            @include outline-offset-(3px);
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            outline-offset: 3px;
          }
        }
      }

      @include it('sm\:outline-offset-(3px)') {
        @include assert {
          @include output {
            @include sm\:outline-offset-(3px);
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              outline-offset: 3px;
            }
          }
        }
      }

      @include it('md\:outline-offset-(3px)') {
        @include assert {
          @include output {
            @include md\:outline-offset-(3px);
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              outline-offset: 3px;
            }
          }
        }
      }

      @include it('lg\:outline-offset-(3px)') {
        @include assert {
          @include output {
            @include lg\:outline-offset-(3px);
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              outline-offset: 3px;
            }
          }
        }
      }

      @include it('xl\:outline-offset-(3px)') {
        @include assert {
          @include output {
            @include xl\:outline-offset-(3px);
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              outline-offset: 3px;
            }
          }
        }
      }

      @include it('2xl\:outline-offset-(3px)') {
        @include assert {
          @include output {
            @include \2xl\:outline-offset-(3px);
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_2xl) {
              outline-offset: 3px;
            }
          }
        }
      }
    }
  }
}
