@use "../../mode0" as *;
@use "true" as *;

@include describe("2.Flexbox & Grid") {
  @include describe("Flex Direction") {
    @include describe("Basic") {
      @include it("flex-row") {
        @include assert {
          @include output {
            @include flex-row;
            @include reset;
          }

          @include expect {
            flex-direction: row;
          }
        }
      }

      @include it("flex-row-reverse") {
        @include assert {
          @include output {
            @include flex-row-reverse;
            @include reset;
          }

          @include expect {
            flex-direction: row-reverse;
          }
        }
      }

      @include it("flex-col") {
        @include assert {
          @include output {
            @include flex-col;
            @include reset;
          }

          @include expect {
            flex-direction: column;
          }
        }
      }

      @include it("flex-col-reverse") {
        @include assert {
          @include output {
            @include flex-col-reverse;
            @include reset;
          }

          @include expect {
            flex-direction: column-reverse;
          }
        }
      }
    }

    @include describe("Rwd") {
      @include it("sm\:flex-row") {
        @include assert {
          @include output {
            @include sm\:flex-row;
            @include reset;
          }

          @include expect {
            @media (min-width: $sm) {
              flex-direction: row;
            }
          }
        }
      }

      @include it("sm\:flex-row-reverse") {
        @include assert {
          @include output {
            @include sm\:flex-row-reverse;
            @include reset;
          }

          @include expect {
            @media (min-width: $sm) {
              flex-direction: row-reverse;
            }
          }
        }
      }

      @include it("sm\:flex-col") {
        @include assert {
          @include output {
            @include sm\:flex-col;
            @include reset;
          }

          @include expect {
            @media (min-width: $sm) {
              flex-direction: column;
            }
          }
        }
      }

      @include it("sm\:flex-col-reverse") {
        @include assert {
          @include output {
            @include sm\:flex-col-reverse;
            @include reset;
          }

          @include expect {
            @media (min-width: $sm) {
              flex-direction: column-reverse;
            }
          }
        }
      }

      @include it("md\:flex-row") {
        @include assert {
          @include output {
            @include md\:flex-row;
            @include reset;
          }

          @include expect {
            @media (min-width: $md) {
              flex-direction: row;
            }
          }
        }
      }

      @include it("md\:flex-row-reverse") {
        @include assert {
          @include output {
            @include md\:flex-row-reverse;
            @include reset;
          }

          @include expect {
            @media (min-width: $md) {
              flex-direction: row-reverse;
            }
          }
        }
      }

      @include it("md\:flex-col") {
        @include assert {
          @include output {
            @include md\:flex-col;
            @include reset;
          }

          @include expect {
            @media (min-width: $md) {
              flex-direction: column;
            }
          }
        }
      }

      @include it("md\:flex-col-reverse") {
        @include assert {
          @include output {
            @include md\:flex-col-reverse;
            @include reset;
          }

          @include expect {
            @media (min-width: $md) {
              flex-direction: column-reverse;
            }
          }
        }
      }

      @include it("lg\:flex-row") {
        @include assert {
          @include output {
            @include lg\:flex-row;
            @include reset;
          }

          @include expect {
            @media (min-width: $lg) {
              flex-direction: row;
            }
          }
        }
      }

      @include it("lg\:flex-row-reverse") {
        @include assert {
          @include output {
            @include lg\:flex-row-reverse;
            @include reset;
          }

          @include expect {
            @media (min-width: $lg) {
              flex-direction: row-reverse;
            }
          }
        }
      }

      @include it("lg\:flex-col") {
        @include assert {
          @include output {
            @include lg\:flex-col;
            @include reset;
          }

          @include expect {
            @media (min-width: $lg) {
              flex-direction: column;
            }
          }
        }
      }

      @include it("lg\:flex-col-reverse") {
        @include assert {
          @include output {
            @include lg\:flex-col-reverse;
            @include reset;
          }

          @include expect {
            @media (min-width: $lg) {
              flex-direction: column-reverse;
            }
          }
        }
      }

      @include it("xl\:flex-row") {
        @include assert {
          @include output {
            @include xl\:flex-row;
            @include reset;
          }

          @include expect {
            @media (min-width: $xl) {
              flex-direction: row;
            }
          }
        }
      }

      @include it("xl\:flex-row-reverse") {
        @include assert {
          @include output {
            @include xl\:flex-row-reverse;
            @include reset;
          }

          @include expect {
            @media (min-width: $xl) {
              flex-direction: row-reverse;
            }
          }
        }
      }

      @include it("xl\:flex-col") {
        @include assert {
          @include output {
            @include xl\:flex-col;
            @include reset;
          }

          @include expect {
            @media (min-width: $xl) {
              flex-direction: column;
            }
          }
        }
      }

      @include it("xl\:flex-col-reverse") {
        @include assert {
          @include output {
            @include xl\:flex-col-reverse;
            @include reset;
          }

          @include expect {
            @media (min-width: $xl) {
              flex-direction: column-reverse;
            }
          }
        }
      }

      @include it("\2xl\:flex-row") {
        @include assert {
          @include output {
            @include \2xl\:flex-row;
            @include reset;
          }

          @include expect {
            @media (min-width: $\2xl) {
              flex-direction: row;
            }
          }
        }
      }

      @include it("\2xl\:flex-row-reverse") {
        @include assert {
          @include output {
            @include \2xl\:flex-row-reverse;
            @include reset;
          }

          @include expect {
            @media (min-width: $\2xl) {
              flex-direction: row-reverse;
            }
          }
        }
      }

      @include it("\2xl\:flex-col") {
        @include assert {
          @include output {
            @include \2xl\:flex-col;
            @include reset;
          }

          @include expect {
            @media (min-width: $\2xl) {
              flex-direction: column;
            }
          }
        }
      }

      @include it("\2xl\:flex-col-reverse") {
        @include assert {
          @include output {
            @include \2xl\:flex-col-reverse;
            @include reset;
          }

          @include expect {
            @media (min-width: $\2xl) {
              flex-direction: column-reverse;
            }
          }
        }
      }
    }
  }
}
