$FlexShrink: (
  'shrink': 1,
  'shrink-0': 0,
);

@if $isBasic {
  @each $key, $value in $FlexShrink {
    /*x
    @mixin #{$key} {
      @include flex-shrink(#{$value});
    }
    x*/
  }
}

@if $isRwd and $isClassic {
  @each $rwdToken, $rwd in $rwdBox {
    @each $key, $value in $FlexShrink {
      /*x
      @mixin #{$rwdToken}\:#{$key} {
        @include flex-shrink(#{$value}, #{$rwd});
      }
      x*/
    }
  }
}

@if $isArbitrary {
  /*x
  @mixin shrink-($v) {
    @include flex-shrink($v);
  }
  x*/

  @each $rwdToken, $rwd in $rwdBox {
    /*x
    @mixin #{$rwdToken}\:shrink-($v) {
      @include flex-shrink($v, #{$rwd});
    }
    x*/
  }
}
