$Flex: (
  'flex-1': 1 1 0%,
  'flex-auto': 1 1 auto,
  'flex-initial': 0 1 auto,
  'flex-none': none,
);

@if $isBasic {
  @each $key, $value in $Flex {
    /*x
    @mixin #{$key} {
      @include flex(#{$value});
    }
    x*/
  }
}

@if $isRwd and $isClassic {
  @each $rwdToken, $rwd in $rwdBox {
    @each $key, $value in $Flex {
      /*x
      @mixin #{$rwdToken}\:#{$key} {
        @include flex(#{$value}, #{$rwd});
      }
      x*/
    }
  }
}

@if $isCustom {
  /*x
  @mixin flex-($v) {
    @include flex($v);
  }
  x*/

  @each $rwdToken, $rwd in $rwdBox {
    /*x
    @mixin #{$rwdToken}\:flex-($v) {
      @include flex($v, #{$rwd});
    }
    x*/
  }
}
