$FlexWrap: (
  'flex-wrap': wrap,
  'flex-wrap-reverse': wrap-reverse,
  'flex-nowrap': nowrap,
);

@if $isBasic {
  @each $key, $value in $FlexWrap {
    // atomic handle flex-wrap
    @if $key != 'flex-wrap' {
      /*x
      @mixin #{$key} {
        @include flex-wrap(#{$value});
      }
      x*/
    }
  }
}

@if $isRwd and (not $isAwaken) {
  @each $rwdToken, $rwd in $rwdBox {
    @each $key, $value in $FlexWrap {
      /*x
      @mixin #{$rwdToken}\:#{$key} {
        @include flex-wrap(#{$value}, #{$rwd});
      }
      x*/
    }
  }
}
