$Gap: (
  '0': '$_0',
  'px': '$_px',
  '0\\.5': '$_0\\.5',
  '1': '$_1',
  '1\\.5': '$_1\\.5',
  '2': '$_2',
  '2\\.5': '$_2\\.5',
  '3': '$_3',
  '3\\.5': '$_3\\.5',
  '4': '$_4',
  '5': '$_5',
  '6': '$_6',
  '7': '$_7',
  '8': '$_8',
  '9': '$_9',
  '10': '$_10',
  '11': '$_11',
  '12': '$_12',
  '14': '$_14',
  '16': '$_16',
  '20': '$_20',
  '24': '$_24',
  '28': '$_28',
  '32': '$_32',
  '36': '$_36',
  '40': '$_40',
  '44': '$_44',
  '48': '$_48',
  '52': '$_52',
  '56': '$_56',
  '60': '$_60',
  '64': '$_64',
  '72': '$_72',
  '80': '$_80',
  '96': '$_96',
);

@if $isBasic {
  @each $key, $value in $Gap {
    /*x
    @mixin gap-#{$key} {
      @include gap(#{$value});
    }

    @mixin gap-x-#{$key} {
      @include column-gap(#{$value});
    }

    @mixin gap-y-#{$key} {
      @include row-gap(#{$value});
    }
    x*/
  }
}

@if $isRwd and (not $isAwaken) {
  @each $rwdToken, $rwd in $rwdBox {
    @each $key, $value in $Gap {
      /*x
    @mixin #{$rwdToken}\:gap-#{$key} {
      @include gap(#{$value}, #{$rwd});
    }

    @mixin #{$rwdToken}\:gap-x-#{$key} {
      @include column-gap(#{$value}, #{$rwd});
    }

    @mixin #{$rwdToken}\:gap-y-#{$key} {
      @include row-gap(#{$value}, #{$rwd});
    }
    x*/
    }

    /*x
    @mixin #{$rwdToken}\:gap-($v) {
      @include gap($v, #{$rwd});
    }

    @mixin #{$rwdToken}\:gap-x-($v) {
      @include column-gap($v, #{$rwd});
    }

    @mixin #{$rwdToken}\:gap-y-($v) {
      @include row-gap($v, #{$rwd});
    }
    x*/
  }
}

@if $isArbitrary {
  /*x
  @mixin gap-($v) {
    @include gap($v);
  }

  @mixin gap-x-($v) {
    @include column-gap($v);
  }

  @mixin gap-y-($v) {
    @include row-gap($v);
  }
  x*/
}
