$GridAutoRows: (
  'auto-rows-auto': auto,
  'auto-rows-min': min-content,
  'auto-rows-max': max-content,
  'auto-rows-fr': minmax(0, 1fr),
);

@if $isBasic {
  @each $key, $value in $GridAutoRows {
    /*x
    @mixin #{$key} {
      @include grid-auto-rows(#{$value});
    }
    x*/
  }
}

@if $isRwd and (not $isAwaken) {
  @each $rwdToken, $rwd in $rwdBox {
    @each $key, $value in $GridAutoRows {
      /*x
      @mixin #{$rwdToken}\:#{$key} {
        @include grid-auto-rows(#{$value}, #{$rwd});
      }
      x*/
    }

    /*x
    @mixin #{$rwdToken}\:auto-rows-($v) {
      @include grid-auto-rows($v, #{$rwd});
    }
    x*/
  }
}

@if $isArbitrary {
  /*x
  @mixin auto-rows-($v) {
    @include grid-auto-rows($v);
  }
  x*/
}
