$group-GridColumnStartEnd: (
  'col-auto': auto,
  'col-span-1': span 1 / span 1,
  'col-span-2': span 2 / span 2,
  'col-span-3': span 3 / span 3,
  'col-span-4': span 4 / span 4,
  'col-span-5': span 5 / span 5,
  'col-span-6': span 6 / span 6,
  'col-span-7': span 7 / span 7,
  'col-span-8': span 8 / span 8,
  'col-span-9': span 9 / span 9,
  'col-span-10': span 10 / span 10,
  'col-span-11': span 11 / span 11,
  'col-span-12': span 12 / span 12,
  'col-span-full': '#/*x{1 / -1}',
);

$group-GridColumnStartEnd-start: (
  'col-start-1': 1,
  'col-start-2': 2,
  'col-start-3': 3,
  'col-start-4': 4,
  'col-start-5': 5,
  'col-start-6': 6,
  'col-start-7': 7,
  'col-start-8': 8,
  'col-start-9': 9,
  'col-start-10': 10,
  'col-start-11': 11,
  'col-start-12': 12,
  'col-start-13': 13,
  'col-start-auto': auto,
);

$group-GridColumnStartEnd-end: (
  'col-end-1': 1,
  'col-end-2': 2,
  'col-end-3': 3,
  'col-end-4': 4,
  'col-end-5': 5,
  'col-end-6': 6,
  'col-end-7': 7,
  'col-end-8': 8,
  'col-end-9': 9,
  'col-end-10': 10,
  'col-end-11': 11,
  'col-end-12': 12,
  'col-end-13': 13,
  'col-end-auto': auto,
);

@if $isBasic {
  @each $key, $value in $group-GridColumnStartEnd {
    /*x
    @mixin #{$key} {
      @include grid-column(#{$value});
    }
    x*/
  }

  @each $key, $value in $group-GridColumnStartEnd-start {
    /*x
    @mixin #{$key} {
      @include grid-column-start(#{$value});
    }
    x*/
  }

  @each $key, $value in $group-GridColumnStartEnd-end {
    /*x
    @mixin #{$key} {
      @include grid-column-end(#{$value});
    }
    x*/
  }
}

@if $isRwd and (not $isAwaken) {
  @each $rwdToken, $rwd in $rwdBox {
    @each $key, $value in $group-GridColumnStartEnd {
      /*x
      @mixin #{$rwdToken}\:#{$key} {
        @include grid-column(#{$value}, #{$rwd});
      }
      x*/
    }

    @each $key, $value in $group-GridColumnStartEnd-start {
      /*x
      @mixin #{$rwdToken}\:#{$key} {
        @include grid-column-start(#{$value}, #{$rwd});
      }
      x*/
    }

    @each $key, $value in $group-GridColumnStartEnd-end {
      /*x
      @mixin #{$rwdToken}\:#{$key} {
        @include grid-column-end(#{$value}, #{$rwd});
      }
      x*/
    }

    /*x
    @mixin #{$rwdToken}\:col-($v) {
      @include grid-column($v, #{$rwd});
    }

    @mixin #{$rwdToken}\:col-start-($v) {
      @include grid-column-start($v, #{$rwd});
    }

    @mixin #{$rwdToken}\:col-end-($v) {
      @include grid-column-end($v, #{$rwd});
    }
    x*/
  }
}

@if $isArbitrary {
  /*x
  @mixin col-($v) {
    @include grid-column($v);
  }

  @mixin col-start-($v) {
    @include grid-column-start($v);
  }

  @mixin col-end-($v) {
    @include grid-column-end($v);
  }
  x*/
}
