$JustifySelf: (
  'justify-self-auto': auto,
  'justify-self-start': start,
  'justify-self-end': end,
  'justify-self-center': center,
  'justify-self-stretch': stretch,
);

@if $isBasic {
  @each $key, $value in $JustifySelf {
    /*x
    @mixin #{$key} {
      @include justify-self(#{$value});
    }
    x*/
  }
}

@if $isRwd and (not $isAwaken) {
  @each $rwdToken, $rwd in $rwdBox {
    @each $key, $value in $JustifySelf {
      /*x
      @mixin #{$rwdToken}\:#{$key} {
        @include justify-self(#{$value}, #{$rwd});
      }
      x*/
    }
  }
}
