$JustifyItems: (
  'justify-items-start': start,
  'justify-items-end': end,
  'justify-items-center': center,
  'justify-items-stretch': stretch,
);

@if $isBasic {
  @each $key, $value in $JustifyItems {
    /*x
    @mixin #{$key} {
      @include justify-items(#{$value});
    }
    x*/
  }
}

@if $isRwd and (not $isAwaken) {
  @each $rwdToken, $rwd in $rwdBox {
    @each $key, $value in $JustifyItems {
      /*x
      @mixin #{$rwdToken}\:#{$key} {
        @include justify-items(#{$value}, #{$rwd});
      }
      x*/
    }
  }
}
