$PlaceItems: (
  'place-items-start': start,
  'place-items-end': end,
  'place-items-center': center,
  'place-items-baseline': baseline,
  'place-items-stretch': stretch,
);

@if $isBasic {
  @each $key, $value in $PlaceItems {
    /*x
    @mixin #{$key} {
      @include place-items(#{$value});
    }
    x*/
  }
}

@if $isRwd and (not $isAwaken) {
  @each $rwdToken, $rwd in $rwdBox {
    @each $key, $value in $PlaceItems {
      /*x
      @mixin #{$rwdToken}\:#{$key} {
        @include place-items(#{$value}, #{$rwd});
      }
      x*/
    }
  }
}
