@use "../../setting" as *;
@use "../../mode0" as *;
@use "true" as *;

/* Backgrounds Repeat */
@if $Basic {
  // /*x
  @mixin bg-repeat($rwd: null) {
    @if $rwd==null {
      background-repeat: repeat;
    } @else {
      @media (min-width: $rwd) {
        background-repeat: repeat;
      }
    }
  }

  @mixin bg-no-repeat($rwd: null) {
    @if $rwd==null {
      background-repeat: no-repeat;
    } @else {
      @media (min-width: $rwd) {
        background-repeat: no-repeat;
      }
    }
  }

  @mixin bg-repeat-x($rwd: null) {
    @if $rwd==null {
      background-repeat: repeat-x;
    } @else {
      @media (min-width: $rwd) {
        background-repeat: repeat-x;
      }
    }
  }

  @mixin bg-repeat-y($rwd: null) {
    @if $rwd==null {
      background-repeat: repeat-y;
    } @else {
      @media (min-width: $rwd) {
        background-repeat: repeat-y;
      }
    }
  }

  @mixin bg-repeat-round($rwd: null) {
    @if $rwd==null {
      background-repeat: round;
    } @else {
      @media (min-width: $rwd) {
        background-repeat: round;
      }
    }
  }

  @mixin bg-repeat-space($rwd: null) {
    @if $rwd==null {
      background-repeat: space;
    } @else {
      @media (min-width: $rwd) {
        background-repeat: space;
      }
    }
  }

  // x*/
}

@if $Rwd {
  // /*x
  @mixin sm\:bg-repeat {
    @include bg-repeat($sm);
  }

  @mixin sm\:bg-no-repeat {
    @include bg-no-repeat($sm);
  }

  @mixin sm\:bg-repeat-x {
    @include bg-repeat-x($sm);
  }

  @mixin sm\:bg-repeat-y {
    @include bg-repeat-y($sm);
  }

  @mixin sm\:bg-repeat-round {
    @include bg-repeat-round($sm);
  }

  @mixin sm\:bg-repeat-space {
    @include bg-repeat-space($sm);
  }

  @mixin md\:bg-repeat {
    @include bg-repeat($md);
  }

  @mixin md\:bg-no-repeat {
    @include bg-no-repeat($md);
  }

  @mixin md\:bg-repeat-x {
    @include bg-repeat-x($md);
  }

  @mixin md\:bg-repeat-y {
    @include bg-repeat-y($md);
  }

  @mixin md\:bg-repeat-round {
    @include bg-repeat-round($md);
  }

  @mixin md\:bg-repeat-space {
    @include bg-repeat-space($md);
  }

  @mixin lg\:bg-repeat {
    @include bg-repeat($lg);
  }

  @mixin lg\:bg-no-repeat {
    @include bg-no-repeat($lg);
  }

  @mixin lg\:bg-repeat-x {
    @include bg-repeat-x($lg);
  }

  @mixin lg\:bg-repeat-y {
    @include bg-repeat-y($lg);
  }

  @mixin lg\:bg-repeat-round {
    @include bg-repeat-round($lg);
  }

  @mixin lg\:bg-repeat-space {
    @include bg-repeat-space($lg);
  }

  @mixin xl\:bg-repeat {
    @include bg-repeat($xl);
  }

  @mixin xl\:bg-no-repeat {
    @include bg-no-repeat($xl);
  }

  @mixin xl\:bg-repeat-x {
    @include bg-repeat-x($xl);
  }

  @mixin xl\:bg-repeat-y {
    @include bg-repeat-y($xl);
  }

  @mixin xl\:bg-repeat-round {
    @include bg-repeat-round($xl);
  }

  @mixin xl\:bg-repeat-space {
    @include bg-repeat-space($xl);
  }

  @mixin \2xl\:bg-repeat {
    @include bg-repeat($\2xl);
  }

  @mixin \2xl\:bg-no-repeat {
    @include bg-no-repeat($\2xl);
  }

  @mixin \2xl\:bg-repeat-x {
    @include bg-repeat-x($\2xl);
  }

  @mixin \2xl\:bg-repeat-y {
    @include bg-repeat-y($\2xl);
  }

  @mixin \2xl\:bg-repeat-round {
    @include bg-repeat-round($\2xl);
  }

  @mixin \2xl\:bg-repeat-space {
    @include bg-repeat-space($\2xl);
  }

  // x*/
}
