@use "../setting" as *;

$ScrollMargin: (
  "0": "$spacing-0",
  "0\\.5": "$spacing-0\\.5",
  "1": "$spacing-1",
  "1\\.5": "$spacing-1\\.5",
  "2": "$spacing-2",
  "2\\.5": "$spacing-2\\.5",
  "3": "$spacing-3",
  "3\\.5": "$spacing-3\\.5",
  "4": "$spacing-4",
  "5": "$spacing-5",
  "6": "$spacing-6",
  "7": "$spacing-7",
  "8": "$spacing-8",
  "9": "$spacing-9",
  "10": "$spacing-10",
  "11": "$spacing-11",
  "12": "$spacing-12",
  "14": "$spacing-14",
  "16": "$spacing-16",
  "20": "$spacing-20",
  "24": "$spacing-24",
  "28": "$spacing-28",
  "32": "$spacing-32",
  "36": "$spacing-36",
  "40": "$spacing-40",
  "44": "$spacing-44",
  "48": "$spacing-48",
  "52": "$spacing-52",
  "56": "$spacing-56",
  "60": "$spacing-60",
  "64": "$spacing-64",
  "72": "$spacing-72",
  "80": "$spacing-80",
  "96": "$spacing-96",
  "px": 1px,
);

@if $QuickReference {
  @each $key, $value in $ScrollMargin {
    /*x
    @mixin scroll-m-#{$key} {
      scroll-margin: #{$value};
    }

    @mixin scroll-mx-#{$key} {
      scroll-margin-inline: #{$value};
    }

    @mixin scroll-my-#{$key} {
      scroll-margin-block: #{$value};
    }

    @mixin scroll-ms-#{$key} {
      scroll-margin-inline-start: #{$value};
    }

    @mixin scroll-me-#{$key} {
      scroll-margin-inline-end: #{$value};
    }

    @mixin scroll-mt-#{$key} {
      scroll-margin-top: #{$value};
    }

    @mixin scroll-mr-#{$key} {
      scroll-margin-right: #{$value};
    }

    @mixin scroll-mb-#{$key} {
      scroll-margin-bottom: #{$value};
    }

    @mixin scroll-ml-#{$key} {
      scroll-margin-left: #{$value};
    }
    x*/
  }
}

@if $UsingNegativeValues {
  @if $QuickReference {
    @each $key, $value in $ScrollMargin {
      /*x
      @mixin \-scroll-m-#{$key} {
        scroll-margin: -#{$value};
      }

      @mixin \-scroll-mx-#{$key} {
        scroll-margin-inline: -#{$value};
      }

      @mixin \-scroll-my-#{$key} {
        scroll-margin-block: -#{$value};
      }

      @mixin \-scroll-ms-#{$key} {
        scroll-margin-inline-start: -#{$value};
      }

      @mixin \-scroll-me-#{$key} {
        scroll-margin-inline-end: -#{$value};
      }

      @mixin \-scroll-mt-#{$key} {
        scroll-margin-top: -#{$value};
      }

      @mixin \-scroll-mr-#{$key} {
        scroll-margin-right: -#{$value};
      }

      @mixin \-scroll-mb-#{$key} {
        scroll-margin-bottom: -#{$value};
      }

      @mixin \-scroll-ml-#{$key} {
        scroll-margin-left: -#{$value};
      }
      x*/
    }
  }

  @if $UsingACustomValue {
    /*x
    @mixin \-scroll-m-($v) {
      scroll-margin: -$v;
    }

    @mixin \-scroll-mx-($v) {
      scroll-margin-inline: -$v;
    }

    @mixin \-scroll-my-($v) {
      scroll-margin-block: -$v;
    }

    @mixin \-scroll-ms-($v) {
      scroll-margin-inline-start: -$v;
    }

    @mixin \-scroll-me-($v) {
      scroll-margin-inline-end: -$v;
    }

    @mixin \-scroll-mt-($v) {
      scroll-margin-top: -$v;
    }

    @mixin \-scroll-mr-($v) {
      scroll-margin-right: -$v;
    }

    @mixin \-scroll-mb-($v) {
      scroll-margin-bottom: -$v;
    }

    @mixin \-scroll-ml-($v) {
      scroll-margin-left: -$v;
    }
    x*/
  }
}

@if $UsingACustomValue {
  /*x
  @mixin scroll-m-($v) {
    scroll-margin: $v;
  }

  @mixin scroll-mx-($v) {
    scroll-margin-inline: $v;
  }

  @mixin scroll-my-($v) {
    scroll-margin-block: $v;
  }

  @mixin scroll-ms-($v) {
    scroll-margin-inline-start: $v;
  }

  @mixin scroll-me-($v) {
    scroll-margin-inline-end: $v;
  }

  @mixin scroll-mt-($v) {
    scroll-margin-top: $v;
  }

  @mixin scroll-mr-($v) {
    scroll-margin-right: $v;
  }

  @mixin scroll-mb-($v) {
    scroll-margin-bottom: $v;
  }

  @mixin scroll-ml-($v) {
    scroll-margin-left: $v;
  }
  x*/
}
