@use "../setting" as *;

$WillChange: (
  "will-change-auto": auto,
  "will-change-scroll": scroll-position,
  "will-change-contents": contents,
  "will-change-transform": transform,
);

@if $isBasicUsage {
  @each $key, $value in $WillChange {
    /*x
    @mixin #{$key} {
      will-change: #{$value};
    }
    x*/
  }
}

@if $isUsingCustomValues {
  /*x
  @mixin will-change-($v, $v2: null) {
    will-change: $v, $v2;
  }
  x*/
}
