@use "../../setting" as *;


$ObjectFit: (
  "object-contain": contain,
  "object-cover": cover,
  "object-fill": fill,
  "object-none": none,
  "object-scale-down": scale-down,
);

@if $Basic {
  @each $key, $value in $ObjectFit {
    /*x
    @mixin #{$key} {
      @include object-fit(#{$value});
    }
    x*/
  }
}

@if $Rwd {
  @each $rwd in $rwdBox {
    @each $key, $value in $ObjectFit {
      /*x
      @mixin #{$rwd}\:#{$key} {
        @include object-fit(#{$value}, $#{$rwd});
      }
      x*/
    }
  }
}