@use "../../mode0" as *;
@use "true" as *;

@include describe("2.Flexbox & Grid") {
  @include describe("Place Content") {
    @include describe("Basic") {
      @include it("place-content-center") {
        @include assert {
          @include output {
            @include place-content-center;
            @include reset;
          }

          @include expect {
            place-content: center;
          }
        }
      }

      @include it("place-content-start") {
        @include assert {
          @include output {
            @include place-content-start;
            @include reset;
          }

          @include expect {
            place-content: start;
          }
        }
      }

      @include it("place-content-end") {
        @include assert {
          @include output {
            @include place-content-end;
            @include reset;
          }

          @include expect {
            place-content: end;
          }
        }
      }

      @include it("place-content-between") {
        @include assert {
          @include output {
            @include place-content-between;
            @include reset;
          }

          @include expect {
            place-content: space-between;
          }
        }
      }

      @include it("place-content-around") {
        @include assert {
          @include output {
            @include place-content-around;
            @include reset;
          }

          @include expect {
            place-content: space-around;
          }
        }
      }

      @include it("place-content-evenly") {
        @include assert {
          @include output {
            @include place-content-evenly;
            @include reset;
          }

          @include expect {
            place-content: space-evenly;
          }
        }
      }

      @include it("place-content-baseline") {
        @include assert {
          @include output {
            @include place-content-baseline;
            @include reset;
          }

          @include expect {
            place-content: baseline;
          }
        }
      }

      @include it("place-content-stretch") {
        @include assert {
          @include output {
            @include place-content-stretch;
            @include reset;
          }

          @include expect {
            place-content: stretch;
          }
        }
      }
    }

    @include describe("Rwd") {
      @include it("sm\:place-content-center") {
        @include assert {
          @include output {
            @include sm\:place-content-center;
            @include reset;
          }

          @include expect {
            @media (min-width: $sm) {
              place-content: center;
            }
          }
        }
      }

      @include it("sm\:place-content-start") {
        @include assert {
          @include output {
            @include sm\:place-content-start;
            @include reset;
          }

          @include expect {
            @media (min-width: $sm) {
              place-content: start;
            }
          }
        }
      }

      @include it("sm\:place-content-end") {
        @include assert {
          @include output {
            @include sm\:place-content-end;
            @include reset;
          }

          @include expect {
            @media (min-width: $sm) {
              place-content: end;
            }
          }
        }
      }

      @include it("sm\:place-content-between") {
        @include assert {
          @include output {
            @include sm\:place-content-between;
            @include reset;
          }

          @include expect {
            @media (min-width: $sm) {
              place-content: space-between;
            }
          }
        }
      }

      @include it("sm\:place-content-around") {
        @include assert {
          @include output {
            @include sm\:place-content-around;
            @include reset;
          }

          @include expect {
            @media (min-width: $sm) {
              place-content: space-around;
            }
          }
        }
      }

      @include it("sm\:place-content-evenly") {
        @include assert {
          @include output {
            @include sm\:place-content-evenly;
            @include reset;
          }

          @include expect {
            @media (min-width: $sm) {
              place-content: space-evenly;
            }
          }
        }
      }

      @include it("sm\:place-content-baseline") {
        @include assert {
          @include output {
            @include sm\:place-content-baseline;
            @include reset;
          }

          @include expect {
            @media (min-width: $sm) {
              place-content: baseline;
            }
          }
        }
      }

      @include it("sm\:place-content-stretch") {
        @include assert {
          @include output {
            @include sm\:place-content-stretch;
            @include reset;
          }

          @include expect {
            @media (min-width: $sm) {
              place-content: stretch;
            }
          }
        }
      }

      @include it("md\:place-content-center") {
        @include assert {
          @include output {
            @include md\:place-content-center;
            @include reset;
          }

          @include expect {
            @media (min-width: $md) {
              place-content: center;
            }
          }
        }
      }

      @include it("md\:place-content-start") {
        @include assert {
          @include output {
            @include md\:place-content-start;
            @include reset;
          }

          @include expect {
            @media (min-width: $md) {
              place-content: start;
            }
          }
        }
      }

      @include it("md\:place-content-end") {
        @include assert {
          @include output {
            @include md\:place-content-end;
            @include reset;
          }

          @include expect {
            @media (min-width: $md) {
              place-content: end;
            }
          }
        }
      }

      @include it("md\:place-content-between") {
        @include assert {
          @include output {
            @include md\:place-content-between;
            @include reset;
          }

          @include expect {
            @media (min-width: $md) {
              place-content: space-between;
            }
          }
        }
      }

      @include it("md\:place-content-around") {
        @include assert {
          @include output {
            @include md\:place-content-around;
            @include reset;
          }

          @include expect {
            @media (min-width: $md) {
              place-content: space-around;
            }
          }
        }
      }

      @include it("md\:place-content-evenly") {
        @include assert {
          @include output {
            @include md\:place-content-evenly;
            @include reset;
          }

          @include expect {
            @media (min-width: $md) {
              place-content: space-evenly;
            }
          }
        }
      }

      @include it("md\:place-content-baseline") {
        @include assert {
          @include output {
            @include md\:place-content-baseline;
            @include reset;
          }

          @include expect {
            @media (min-width: $md) {
              place-content: baseline;
            }
          }
        }
      }

      @include it("md\:place-content-stretch") {
        @include assert {
          @include output {
            @include md\:place-content-stretch;
            @include reset;
          }

          @include expect {
            @media (min-width: $md) {
              place-content: stretch;
            }
          }
        }
      }

      @include it("lg\:place-content-center") {
        @include assert {
          @include output {
            @include lg\:place-content-center;
            @include reset;
          }

          @include expect {
            @media (min-width: $lg) {
              place-content: center;
            }
          }
        }
      }

      @include it("lg\:place-content-start") {
        @include assert {
          @include output {
            @include lg\:place-content-start;
            @include reset;
          }

          @include expect {
            @media (min-width: $lg) {
              place-content: start;
            }
          }
        }
      }

      @include it("lg\:place-content-end") {
        @include assert {
          @include output {
            @include lg\:place-content-end;
            @include reset;
          }

          @include expect {
            @media (min-width: $lg) {
              place-content: end;
            }
          }
        }
      }

      @include it("lg\:place-content-between") {
        @include assert {
          @include output {
            @include lg\:place-content-between;
            @include reset;
          }

          @include expect {
            @media (min-width: $lg) {
              place-content: space-between;
            }
          }
        }
      }

      @include it("lg\:place-content-around") {
        @include assert {
          @include output {
            @include lg\:place-content-around;
            @include reset;
          }

          @include expect {
            @media (min-width: $lg) {
              place-content: space-around;
            }
          }
        }
      }

      @include it("lg\:place-content-evenly") {
        @include assert {
          @include output {
            @include lg\:place-content-evenly;
            @include reset;
          }

          @include expect {
            @media (min-width: $lg) {
              place-content: space-evenly;
            }
          }
        }
      }

      @include it("lg\:place-content-baseline") {
        @include assert {
          @include output {
            @include lg\:place-content-baseline;
            @include reset;
          }

          @include expect {
            @media (min-width: $lg) {
              place-content: baseline;
            }
          }
        }
      }

      @include it("lg\:place-content-stretch") {
        @include assert {
          @include output {
            @include lg\:place-content-stretch;
            @include reset;
          }

          @include expect {
            @media (min-width: $lg) {
              place-content: stretch;
            }
          }
        }
      }

      @include it("xl\:place-content-center") {
        @include assert {
          @include output {
            @include xl\:place-content-center;
            @include reset;
          }

          @include expect {
            @media (min-width: $xl) {
              place-content: center;
            }
          }
        }
      }

      @include it("xl\:place-content-start") {
        @include assert {
          @include output {
            @include xl\:place-content-start;
            @include reset;
          }

          @include expect {
            @media (min-width: $xl) {
              place-content: start;
            }
          }
        }
      }

      @include it("xl\:place-content-end") {
        @include assert {
          @include output {
            @include xl\:place-content-end;
            @include reset;
          }

          @include expect {
            @media (min-width: $xl) {
              place-content: end;
            }
          }
        }
      }

      @include it("xl\:place-content-between") {
        @include assert {
          @include output {
            @include xl\:place-content-between;
            @include reset;
          }

          @include expect {
            @media (min-width: $xl) {
              place-content: space-between;
            }
          }
        }
      }

      @include it("xl\:place-content-around") {
        @include assert {
          @include output {
            @include xl\:place-content-around;
            @include reset;
          }

          @include expect {
            @media (min-width: $xl) {
              place-content: space-around;
            }
          }
        }
      }

      @include it("xl\:place-content-evenly") {
        @include assert {
          @include output {
            @include xl\:place-content-evenly;
            @include reset;
          }

          @include expect {
            @media (min-width: $xl) {
              place-content: space-evenly;
            }
          }
        }
      }

      @include it("xl\:place-content-baseline") {
        @include assert {
          @include output {
            @include xl\:place-content-baseline;
            @include reset;
          }

          @include expect {
            @media (min-width: $xl) {
              place-content: baseline;
            }
          }
        }
      }

      @include it("xl\:place-content-stretch") {
        @include assert {
          @include output {
            @include xl\:place-content-stretch;
            @include reset;
          }

          @include expect {
            @media (min-width: $xl) {
              place-content: stretch;
            }
          }
        }
      }

      @include it("2xl\:place-content-center") {
        @include assert {
          @include output {
            @include \2xl\:place-content-center;
            @include reset;
          }

          @include expect {
            @media (min-width: $\2xl) {
              place-content: center;
            }
          }
        }
      }

      @include it("2xl\:place-content-start") {
        @include assert {
          @include output {
            @include \2xl\:place-content-start;
            @include reset;
          }

          @include expect {
            @media (min-width: $\2xl) {
              place-content: start;
            }
          }
        }
      }

      @include it("2xl\:place-content-end") {
        @include assert {
          @include output {
            @include \2xl\:place-content-end;
            @include reset;
          }

          @include expect {
            @media (min-width: $\2xl) {
              place-content: end;
            }
          }
        }
      }

      @include it("2xl\:place-content-between") {
        @include assert {
          @include output {
            @include \2xl\:place-content-between;
            @include reset;
          }

          @include expect {
            @media (min-width: $\2xl) {
              place-content: space-between;
            }
          }
        }
      }

      @include it("2xl\:place-content-around") {
        @include assert {
          @include output {
            @include \2xl\:place-content-around;
            @include reset;
          }

          @include expect {
            @media (min-width: $\2xl) {
              place-content: space-around;
            }
          }
        }
      }

      @include it("2xl\:place-content-evenly") {
        @include assert {
          @include output {
            @include \2xl\:place-content-evenly;
            @include reset;
          }

          @include expect {
            @media (min-width: $\2xl) {
              place-content: space-evenly;
            }
          }
        }
      }

      @include it("2xl\:place-content-baseline") {
        @include assert {
          @include output {
            @include \2xl\:place-content-baseline;
            @include reset;
          }

          @include expect {
            @media (min-width: $\2xl) {
              place-content: baseline;
            }
          }
        }
      }

      @include it("2xl\:place-content-stretch") {
        @include assert {
          @include output {
            @include \2xl\:place-content-stretch;
            @include reset;
          }

          @include expect {
            @media (min-width: $\2xl) {
              place-content: stretch;
            }
          }
        }
      }
    }
  }
}
