@include describe('15.Accessibility') {
  @include describe('Forced Color Adjust') {
    @include describe('Basic') {
      @include it('forced-color-adjust-auto') {
        @include assert {
          @include output {
            @include forced-color-adjust-auto;
            @include utils_reset-tw-variables;
          }

          @include expect {
            forced-color-adjust: auto;
          }
        }
      }

      @include it('forced-color-adjust-none') {
        @include assert {
          @include output {
            @include forced-color-adjust-none;
            @include utils_reset-tw-variables;
          }

          @include expect {
            forced-color-adjust: none;
          }
        }
      }
    }

    @include describe('Rwd') {
      @include it('sm\:forced-color-adjust-auto') {
        @include assert {
          @include output {
            @include sm\:forced-color-adjust-auto;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              forced-color-adjust: auto;
            }
          }
        }
      }

      @include it('sm\:forced-color-adjust-none') {
        @include assert {
          @include output {
            @include sm\:forced-color-adjust-none;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              forced-color-adjust: none;
            }
          }
        }
      }
      @include it('md\:forced-color-adjust-auto') {
        @include assert {
          @include output {
            @include md\:forced-color-adjust-auto;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              forced-color-adjust: auto;
            }
          }
        }
      }

      @include it('md\:forced-color-adjust-none') {
        @include assert {
          @include output {
            @include md\:forced-color-adjust-none;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              forced-color-adjust: none;
            }
          }
        }
      }
      @include it('lg\:forced-color-adjust-auto') {
        @include assert {
          @include output {
            @include lg\:forced-color-adjust-auto;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              forced-color-adjust: auto;
            }
          }
        }
      }

      @include it('lg\:forced-color-adjust-none') {
        @include assert {
          @include output {
            @include lg\:forced-color-adjust-none;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              forced-color-adjust: none;
            }
          }
        }
      }
      @include it('xl\:forced-color-adjust-auto') {
        @include assert {
          @include output {
            @include xl\:forced-color-adjust-auto;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              forced-color-adjust: auto;
            }
          }
        }
      }

      @include it('xl\:forced-color-adjust-none') {
        @include assert {
          @include output {
            @include xl\:forced-color-adjust-none;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              forced-color-adjust: none;
            }
          }
        }
      }
      @include it('2xl\:forced-color-adjust-auto') {
        @include assert {
          @include output {
            @include \2xl\:forced-color-adjust-auto;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              forced-color-adjust: auto;
            }
          }
        }
      }

      @include it('2xl\:forced-color-adjust-none') {
        @include assert {
          @include output {
            @include \2xl\:forced-color-adjust-none;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              forced-color-adjust: none;
            }
          }
        }
      }
    }
  }
}
