@use "../../setting" as *;

/* Resize */
@if $Basic {
  // /*x
  @mixin resize-none($rwd: null) {
    @if $rwd==null {
      resize: none;
    } @else {
      @media (min-width: $rwd) {
        resize: none;
      }
    }
  }

  @mixin resize-y($rwd: null) {
    @if $rwd==null {
      resize: vertical;
    } @else {
      @media (min-width: $rwd) {
        resize: vertical;
      }
    }
  }

  @mixin resize-x($rwd: null) {
    @if $rwd==null {
      resize: horizontal;
    } @else {
      @media (min-width: $rwd) {
        resize: horizontal;
      }
    }
  }

  @mixin resize($rwd: null) {
    @if $rwd==null {
      resize: both;
    } @else {
      @media (min-width: $rwd) {
        resize: both;
      }
    }
  } // x*/
}

@if $Rwd {
  // /*x
  @mixin sm\:resize-none {
    @include resize-none($sm);
  }

  @mixin sm\:resize-y {
    @include resize-y($sm);
  }

  @mixin sm\:resize-x {
    @include resize-x($sm);
  }

  @mixin sm\:resize {
    @include resize($sm);
  }

  @mixin md\:resize-none {
    @include resize-none($md);
  }

  @mixin md\:resize-y {
    @include resize-y($md);
  }

  @mixin md\:resize-x {
    @include resize-x($md);
  }

  @mixin md\:resize {
    @include resize($md);
  }

  @mixin lg\:resize-none {
    @include resize-none($lg);
  }

  @mixin lg\:resize-y {
    @include resize-y($lg);
  }

  @mixin lg\:resize-x {
    @include resize-x($lg);
  }

  @mixin lg\:resize {
    @include resize($lg);
  }

  @mixin xl\:resize-none {
    @include resize-none($xl);
  }

  @mixin xl\:resize-y {
    @include resize-y($xl);
  }

  @mixin xl\:resize-x {
    @include resize-x($xl);
  }

  @mixin xl\:resize {
    @include resize($xl);
  }

  @mixin \2xl\:resize-none {
    @include resize-none($\2xl);
  }

  @mixin \2xl\:resize-y {
    @include resize-y($\2xl);
  }

  @mixin \2xl\:resize-x {
    @include resize-x($\2xl);
  }

  @mixin \2xl\:resize {
    @include resize($\2xl);
  } // x*/
}
