@use "../../setting" as *;


$GradientColorStops: (
  black: "$bla",
  white: "$whi",
  slate-50: "$sla-50",
  slate-100: "$sla-100",
  slate-200: "$sla-200",
  slate-300: "$sla-300",
  slate-400: "$sla-400",
  slate-500: "$sla-500",
  slate-600: "$sla-600",
  slate-700: "$sla-700",
  slate-800: "$sla-800",
  slate-900: "$sla-900",
  slate-950: "$sla-950",
  gray-50: "$gra-50",
  gray-100: "$gra-100",
  gray-200: "$gra-200",
  gray-300: "$gra-300",
  gray-400: "$gra-400",
  gray-500: "$gra-500",
  gray-600: "$gra-600",
  gray-700: "$gra-700",
  gray-800: "$gra-800",
  gray-900: "$gra-900",
  gray-950: "$gra-950",
  zinc-50: "$zin-50",
  zinc-100: "$zin-100",
  zinc-200: "$zin-200",
  zinc-300: "$zin-300",
  zinc-400: "$zin-400",
  zinc-500: "$zin-500",
  zinc-600: "$zin-600",
  zinc-700: "$zin-700",
  zinc-800: "$zin-800",
  zinc-900: "$zin-900",
  zinc-950: "$zin-950",
  neutral-50: "$neu-50",
  neutral-100: "$neu-100",
  neutral-200: "$neu-200",
  neutral-300: "$neu-300",
  neutral-400: "$neu-400",
  neutral-500: "$neu-500",
  neutral-600: "$neu-600",
  neutral-700: "$neu-700",
  neutral-800: "$neu-800",
  neutral-900: "$neu-900",
  neutral-950: "$neu-950",
  stone-50: "$sto-50",
  stone-100: "$sto-100",
  stone-200: "$sto-200",
  stone-300: "$sto-300",
  stone-400: "$sto-400",
  stone-500: "$sto-500",
  stone-600: "$sto-600",
  stone-700: "$sto-700",
  stone-800: "$sto-800",
  stone-900: "$sto-900",
  stone-950: "$sto-950",
  red-50: "$red-50",
  red-100: "$red-100",
  red-200: "$red-200",
  red-300: "$red-300",
  red-400: "$red-400",
  red-500: "$red-500",
  red-600: "$red-600",
  red-700: "$red-700",
  red-800: "$red-800",
  red-900: "$red-900",
  red-950: "$red-950",
  orange-50: "$ora-50",
  orange-100: "$ora-100",
  orange-200: "$ora-200",
  orange-300: "$ora-300",
  orange-400: "$ora-400",
  orange-500: "$ora-500",
  orange-600: "$ora-600",
  orange-700: "$ora-700",
  orange-800: "$ora-800",
  orange-900: "$ora-900",
  orange-950: "$ora-950",
  amber-50: "$amb-50",
  amber-100: "$amb-100",
  amber-200: "$amb-200",
  amber-300: "$amb-300",
  amber-400: "$amb-400",
  amber-500: "$amb-500",
  amber-600: "$amb-600",
  amber-700: "$amb-700",
  amber-800: "$amb-800",
  amber-900: "$amb-900",
  amber-950: "$amb-950",
  yellow-50: "$yel-50",
  yellow-100: "$yel-100",
  yellow-200: "$yel-200",
  yellow-300: "$yel-300",
  yellow-400: "$yel-400",
  yellow-500: "$yel-500",
  yellow-600: "$yel-600",
  yellow-700: "$yel-700",
  yellow-800: "$yel-800",
  yellow-900: "$yel-900",
  yellow-950: "$yel-950",
  lime-50: "$lim-50",
  lime-100: "$lim-100",
  lime-200: "$lim-200",
  lime-300: "$lim-300",
  lime-400: "$lim-400",
  lime-500: "$lim-500",
  lime-600: "$lim-600",
  lime-700: "$lim-700",
  lime-800: "$lim-800",
  lime-900: "$lim-900",
  lime-950: "$lim-950",
  green-50: "$gre-50",
  green-100: "$gre-100",
  green-200: "$gre-200",
  green-300: "$gre-300",
  green-400: "$gre-400",
  green-500: "$gre-500",
  green-600: "$gre-600",
  green-700: "$gre-700",
  green-800: "$gre-800",
  green-900: "$gre-900",
  green-950: "$gre-950",
  emerald-50: "$eme-50",
  emerald-100: "$eme-100",
  emerald-200: "$eme-200",
  emerald-300: "$eme-300",
  emerald-400: "$eme-400",
  emerald-500: "$eme-500",
  emerald-600: "$eme-600",
  emerald-700: "$eme-700",
  emerald-800: "$eme-800",
  emerald-900: "$eme-900",
  emerald-950: "$eme-950",
  teal-50: "$tea-50",
  teal-100: "$tea-100",
  teal-200: "$tea-200",
  teal-300: "$tea-300",
  teal-400: "$tea-400",
  teal-500: "$tea-500",
  teal-600: "$tea-600",
  teal-700: "$tea-700",
  teal-800: "$tea-800",
  teal-900: "$tea-900",
  teal-950: "$tea-950",
  cyan-50: "$cya-50",
  cyan-100: "$cya-100",
  cyan-200: "$cya-200",
  cyan-300: "$cya-300",
  cyan-400: "$cya-400",
  cyan-500: "$cya-500",
  cyan-600: "$cya-600",
  cyan-700: "$cya-700",
  cyan-800: "$cya-800",
  cyan-900: "$cya-900",
  cyan-950: "$cya-950",
  sky-50: "$sky-50",
  sky-100: "$sky-100",
  sky-200: "$sky-200",
  sky-300: "$sky-300",
  sky-400: "$sky-400",
  sky-500: "$sky-500",
  sky-600: "$sky-600",
  sky-700: "$sky-700",
  sky-800: "$sky-800",
  sky-900: "$sky-900",
  sky-950: "$sky-950",
  blue-50: "$blu-50",
  blue-100: "$blu-100",
  blue-200: "$blu-200",
  blue-300: "$blu-300",
  blue-400: "$blu-400",
  blue-500: "$blu-500",
  blue-600: "$blu-600",
  blue-700: "$blu-700",
  blue-800: "$blu-800",
  blue-900: "$blu-900",
  blue-950: "$blu-950",
  indigo-50: "$ind-50",
  indigo-100: "$ind-100",
  indigo-200: "$ind-200",
  indigo-300: "$ind-300",
  indigo-400: "$ind-400",
  indigo-500: "$ind-500",
  indigo-600: "$ind-600",
  indigo-700: "$ind-700",
  indigo-800: "$ind-800",
  indigo-900: "$ind-900",
  indigo-950: "$ind-950",
  violet-50: "$vio-50",
  violet-100: "$vio-100",
  violet-200: "$vio-200",
  violet-300: "$vio-300",
  violet-400: "$vio-400",
  violet-500: "$vio-500",
  violet-600: "$vio-600",
  violet-700: "$vio-700",
  violet-800: "$vio-800",
  violet-900: "$vio-900",
  violet-950: "$vio-950",
  purple-50: "$pur-50",
  purple-100: "$pur-100",
  purple-200: "$pur-200",
  purple-300: "$pur-300",
  purple-400: "$pur-400",
  purple-500: "$pur-500",
  purple-600: "$pur-600",
  purple-700: "$pur-700",
  purple-800: "$pur-800",
  purple-900: "$pur-900",
  purple-950: "$pur-950",
  fuchsia-50: "$fuc-50",
  fuchsia-100: "$fuc-100",
  fuchsia-200: "$fuc-200",
  fuchsia-300: "$fuc-300",
  fuchsia-400: "$fuc-400",
  fuchsia-500: "$fuc-500",
  fuchsia-600: "$fuc-600",
  fuchsia-700: "$fuc-700",
  fuchsia-800: "$fuc-800",
  fuchsia-900: "$fuc-900",
  fuchsia-950: "$fuc-950",
  pink-50: "$pin-50",
  pink-100: "$pin-100",
  pink-200: "$pin-200",
  pink-300: "$pin-300",
  pink-400: "$pin-400",
  pink-500: "$pin-500",
  pink-600: "$pin-600",
  pink-700: "$pin-700",
  pink-800: "$pin-800",
  pink-900: "$pin-900",
  pink-950: "$pin-950",
  rose-50: "$ros-50",
  rose-100: "$ros-100",
  rose-200: "$ros-200",
  rose-300: "$ros-300",
  rose-400: "$ros-400",
  rose-500: "$ros-500",
  rose-600: "$ros-600",
  rose-700: "$ros-700",
  rose-800: "$ros-800",
  rose-900: "$ros-900",
  rose-950: "$ros-950",
);

$GradientColorStops2: (
  "0\\%": 0%,
  "5\\%": 5%,
  "10\\%": 10%,
  "15\\%": 15%,
  "20\\%": 20%,
  "25\\%": 25%,
  "30\\%": 30%,
  "35\\%": 35%,
  "40\\%": 40%,
  "45\\%": 45%,
  "50\\%": 50%,
  "55\\%": 55%,
  "60\\%": 60%,
  "65\\%": 65%,
  "70\\%": 70%,
  "75\\%": 75%,
  "80\\%": 80%,
  "85\\%": 85%,
  "90\\%": 90%,
  "95\\%": 95%,
  "100\\%": 100%,
);

@if $Basic {

  /*x
  @mixin from-inherit {
    @include background-image(inherit !important);
  }

  @mixin from-current {
    $tw-gradient-from: currentColor !global;
    @include background-image(get_linear-gradient());
  }

  @mixin from-transparent {
    $tw-gradient-from: transparent !global;
    @include background-image(get_linear-gradient());
  }

  @mixin via-inherit {
    @include background-image(inherit !important);
  }

  @mixin via-current {
    $tw-gradient-via: currentColor !global;
    @include background-image(get_linear-gradient());
  }

  @mixin via-transparent {
    $tw-gradient-via: transparent !global;
    @include background-image(get_linear-gradient());
  }

  @mixin to-inherit {
    @include background-image(inherit !important);
  }

  @mixin to-current {
    $tw-gradient-to: currentColor !global;
    @include background-image(get_linear-gradient());
  }

  @mixin to-transparent {
    $tw-gradient-to: transparent !global;
    @include background-image(get_linear-gradient());
  }
  x*/

  @each $key, $value in $GradientColorStops {
    /*x
    @mixin from-#{$key}($v: 1) {
      $tw-gradient-from: c(#{$value}, $v) !global;
      @include background-image(get_linear-gradient());
    }

    @mixin via-#{$key}($v: 1) {
      $tw-gradient-via: c(#{$value}, $v) !global;
      @include background-image(get_linear-gradient());
    }

    @mixin to-#{$key}($v: 1) {
      $tw-gradient-to: c(#{$value}, $v) !global;
      @include background-image(get_linear-gradient());
    }
    x*/
  }
  
  @each $key, $value in $GradientColorStops2 {
    /*x
    @mixin from-#{$key} {
      $tw-gradient-from-position: #{$value} !global;
      @include background-image(get_linear-gradient());
    }

    @mixin via-#{$key} {
      $tw-gradient-via-position: #{$value} !global;
      @include background-image(get_linear-gradient());
    }

    @mixin to-#{$key} {
      $tw-gradient-to-position: #{$value} !global;
      @include background-image(get_linear-gradient());
    }
    x*/
  }
}


@if $Rwd and ($sizeMode ==0 or $sizeMode ==1) {
  @each $rwd in $rwdBox {

    /*x
    @mixin #{$rwd}\:from-inherit {
      @include background-image(inherit !important, $#{$rwd});
    }

    @mixin #{$rwd}\:from-current {
      $tw-gradient-from: currentColor !global;
      @include background-image(get_linear-gradient(), $#{$rwd});
    }

    @mixin #{$rwd}\:from-transparent {
      $tw-gradient-from: transparent !global;
      @include background-image(get_linear-gradient(), $#{$rwd});
    }

    @mixin #{$rwd}\:via-inherit {
      @include background-image(inherit !important, $#{$rwd});
    }

    @mixin #{$rwd}\:via-current {
      $tw-gradient-via: currentColor !global;
      @include background-image(get_linear-gradient(), $#{$rwd});
    }

    @mixin #{$rwd}\:via-transparent {
      $tw-gradient-via: transparent !global;
      @include background-image(get_linear-gradient(), $#{$rwd});
    }

    @mixin #{$rwd}\:to-inherit {
      @include background-image(inherit !important, $#{$rwd});
    }

    @mixin #{$rwd}\:to-current {
      $tw-gradient-to: currentColor !global;
      @include background-image(get_linear-gradient(), $#{$rwd});
    }

    @mixin #{$rwd}\:to-transparent {
      $tw-gradient-to: transparent !global;
      @include background-image(get_linear-gradient(), $#{$rwd});
    }
    x*/
    @each $key, $value in $GradientColorStops {
      /*x
      @mixin #{$rwd}\:from-#{$key}($v: 1) {
        $tw-gradient-from: c(#{$value}, $v) !global;
        @include background-image(get_linear-gradient(), $#{$rwd});
      }

      @mixin #{$rwd}\:via-#{$key}($v: 1) {
        $tw-gradient-via: c(#{$value}, $v) !global;
        @include background-image(get_linear-gradient(), $#{$rwd});
      }

      @mixin #{$rwd}\:to-#{$key}($v: 1) {
        $tw-gradient-to: c(#{$value}, $v) !global;
        @include background-image(get_linear-gradient(), $#{$rwd});
      }
      x*/
    }

    @each $key, $value in $GradientColorStops2 {
      /*x
      @mixin #{$rwd}\:from-#{$key} {
        $tw-gradient-from-position: #{$value} !global;
        @include background-image(get_linear-gradient(), $#{$rwd});
      }

      @mixin #{$rwd}\:via-#{$key} {
        $tw-gradient-via-position: #{$value} !global;
        @include background-image(get_linear-gradient(), $#{$rwd});
      }

      @mixin #{$rwd}\:to-#{$key} {
        $tw-gradient-to-position: #{$value} !global;
        @include background-image(get_linear-gradient(), $#{$rwd});
      }
      x*/
    }
  }
}

@if $Custom {
  /*x
  @mixin from-($v) {
    @if list.index(inherit, $v) {
      @include background-image(inherit !important); // to match same behavior as tailwind
    }

    @else if meta.type-of($v)==color or list.index(currentColor, $v) {
      $tw-gradient-from: $v !global;
      @include background-image(get_linear-gradient());
    }

    @else {
      $tw-gradient-from-position: $v !global;
      @include background-image(get_linear-gradient());
    }
  }

  @mixin via-($v) {
    @if list.index(inherit, $v) {
      @include background-image(inherit !important); // to match same behavior as tailwind
    }

    @else if meta.type-of($v)==color or list.index(currentColor, $v) {
      $tw-gradient-via: $v !global;
      @include background-image(get_linear-gradient());
    }

    @else {
      $tw-gradient-via-position: $v !global;
      @include background-image(get_linear-gradient());
    }
  }

  @mixin to-($v) {
    @if list.index(inherit, $v) {
      @include background-image(inherit !important); // to match same behavior as tailwind
    }

    @else if meta.type-of($v)==color or list.index(currentColor, $v) {
      $tw-gradient-to: $v !global;
      @include background-image(get_linear-gradient());
    }

    @else {
      $tw-gradient-to-position: $v !global;
      @include background-image(get_linear-gradient());
    }
  }
  x*/

  @each $rwd in $rwdBox {
    /*x
    @mixin #{$rwd}\:from-($v) {
      @if list.index(inherit, $v) {
        @include background-image(inherit !important, $#{$rwd}); // to match same behavior as tailwind
      }

      @else if meta.type-of($v)==color or list.index(currentColor, $v) {
        @include #{$rwd} {
          $tw-gradient-from: $v !global;
          @include background-image(get_linear-gradient());
        }
      }

      @else {
        $tw-gradient-from-position: $v !global;
        @include background-image(get_linear-gradient(), $#{$rwd});
      }
    }

    @mixin #{$rwd}\:via-($v) {
      @if list.index(inherit, $v) {
        @include background-image(inherit !important, $#{$rwd}); // to match same behavior as tailwind
      }

      @else if meta.type-of($v)==color or list.index(currentColor, $v) {
        @include #{$rwd} {
          $tw-gradient-via: $v !global;
          @include background-image(get_linear-gradient());
        }
      }

      @else {
        $tw-gradient-via-position: $v !global;
        @include background-image(get_linear-gradient(), $#{$rwd});
      }
    }

    @mixin #{$rwd}\:to-($v) {
      @if list.index(inherit, $v) {
        @include background-image(inherit !important, $#{$rwd}); // to match same behavior as tailwind
      }

      @else if meta.type-of($v)==color or list.index(currentColor, $v) {
        @include #{$rwd} {
          $tw-gradient-to: $v !global;
          @include background-image(get_linear-gradient());
        }
      }

      @else {
        $tw-gradient-to-position: $v !global;
        @include background-image(get_linear-gradient(), $#{$rwd});
      }
    }
    x*/
  }
}


