@use "../../setting" as *;

$TextDecorationThickness: (
  "decoration-auto": auto,
  "decoration-from-font": from-font,
  "decoration-0": 0px,
  "decoration-1": 1px,
  "decoration-2": 2px,
  "decoration-4": 4px,
  "decoration-8": 8px,
);

@if $Basic {
  @each $key, $value in $TextDecorationThickness {
    /*x
    @mixin #{$key} {
      @include text-decoration-thickness(#{$value});
    }
    x*/
  }
}

@if $Rwd and ($sizeMode ==0 or $sizeMode ==1) {
  @each $rwd in $rwdBox {
    @each $key, $value in $TextDecorationThickness {
      /*x
      @mixin #{$rwd}\:#{$key} {
        @include text-decoration-thickness(#{$value}, $#{$rwd});
      }
      x*/
    }
  }
}

@if $Custom {
  /*x
  @mixin decoration-($v) {
    @if meta.type-of($v)==color or list.index(inherit currentColor transparent, $v) {
      @include text-decoration-color($v);
    }

    @else {
      @include text-decoration-thickness($v);
    }
  }
  x*/

  @each $rwd in $rwdBox {
    /*x
    @mixin #{$rwd}\:decoration-($v) {
      @if meta.type-of($v)==color or list.index(inherit currentColor transparent, $v) {
        @include text-decoration-color($v, $#{$rwd});
      }

      @else {
        @include text-decoration-thickness($v, $#{$rwd});
      }
    }
    x*/
  }
}