@use "../../setting" as *;

/* Text Decoration Thickness */
@if $Basic {
  // /*x
  @mixin decoration-auto {
    text-decoration-thickness: auto;
  }

  @mixin decoration-from-font {
    text-decoration-thickness: from-font;
  }

  @mixin decoration-0 {
    text-decoration-thickness: 0px;
  }

  @mixin decoration-1 {
    text-decoration-thickness: 1px;
  }

  @mixin decoration-2 {
    text-decoration-thickness: 2px;
  }

  @mixin decoration-4 {
    text-decoration-thickness: 4px;
  }

  @mixin decoration-8 {
    text-decoration-thickness: 8px;
  }

  // x*/
}

@if $Rwd {
  @if $sizeMode ==0 or $sizeMode ==1 {
    // /*x
    @mixin sm\:decoration-auto {
      @include sm\:decoration-(auto);
    }

    @mixin sm\:decoration-from-font {
      @include sm\:decoration-(from-font);
    }

    @mixin sm\:decoration-0 {
      @include sm\:decoration-(0px);
    }

    @mixin sm\:decoration-1 {
      @include sm\:decoration-(1px);
    }

    @mixin sm\:decoration-2 {
      @include sm\:decoration-(2px);
    }

    @mixin sm\:decoration-4 {
      @include sm\:decoration-(4px);
    }

    @mixin sm\:decoration-8 {
      @include sm\:decoration-(8px);
    }

    @mixin md\:decoration-auto {
      @include md\:decoration-(auto);
    }

    @mixin md\:decoration-from-font {
      @include md\:decoration-(from-font);
    }

    @mixin md\:decoration-0 {
      @include md\:decoration-(0px);
    }

    @mixin md\:decoration-1 {
      @include md\:decoration-(1px);
    }

    @mixin md\:decoration-2 {
      @include md\:decoration-(2px);
    }

    @mixin md\:decoration-4 {
      @include md\:decoration-(4px);
    }

    @mixin md\:decoration-8 {
      @include md\:decoration-(8px);
    }

    @mixin lg\:decoration-auto {
      @include lg\:decoration-(auto);
    }

    @mixin lg\:decoration-from-font {
      @include lg\:decoration-(from-font);
    }

    @mixin lg\:decoration-0 {
      @include lg\:decoration-(0px);
    }

    @mixin lg\:decoration-1 {
      @include lg\:decoration-(1px);
    }

    @mixin lg\:decoration-2 {
      @include lg\:decoration-(2px);
    }

    @mixin lg\:decoration-4 {
      @include lg\:decoration-(4px);
    }

    @mixin lg\:decoration-8 {
      @include lg\:decoration-(8px);
    }

    @mixin xl\:decoration-auto {
      @include xl\:decoration-(auto);
    }

    @mixin xl\:decoration-from-font {
      @include xl\:decoration-(from-font);
    }

    @mixin xl\:decoration-0 {
      @include xl\:decoration-(0px);
    }

    @mixin xl\:decoration-1 {
      @include xl\:decoration-(1px);
    }

    @mixin xl\:decoration-2 {
      @include xl\:decoration-(2px);
    }

    @mixin xl\:decoration-4 {
      @include xl\:decoration-(4px);
    }

    @mixin xl\:decoration-8 {
      @include xl\:decoration-(8px);
    }

    @mixin \2xl\:decoration-auto {
      @include \2xl\:decoration-(auto);
    }

    @mixin \2xl\:decoration-from-font {
      @include \2xl\:decoration-(from-font);
    }

    @mixin \2xl\:decoration-0 {
      @include \2xl\:decoration-(0px);
    }

    @mixin \2xl\:decoration-1 {
      @include \2xl\:decoration-(1px);
    }

    @mixin \2xl\:decoration-2 {
      @include \2xl\:decoration-(2px);
    }

    @mixin \2xl\:decoration-4 {
      @include \2xl\:decoration-(4px);
    }

    @mixin \2xl\:decoration-8 {
      @include \2xl\:decoration-(8px);
    }

    // x*/
  }
}

@if $Custom {
  // /*x
  @mixin get_decoration-($v) {
    @if meta.type-of($v)
      ==color or
      list.index(inherit currentColor transparent, $v)
    {
      @include text-decoration-color($v);
    } @else {
      @include text-decoration-thickness($v);
    }
  }

  @mixin decoration-($v) {
    @include get_decoration-($v);
  }

  @mixin sm\:decoration-($v) {
    @include sm {
      @include get_decoration-($v);
    }
  }

  @mixin md\:decoration-($v) {
    @include md {
      @include get_decoration-($v);
    }
  }

  @mixin lg\:decoration-($v) {
    @include lg {
      @include get_decoration-($v);
    }
  }

  @mixin xl\:decoration-($v) {
    @include xl {
      @include get_decoration-($v);
    }
  }

  @mixin \2xl\:decoration-($v) {
    @include \2xl {
      @include get_decoration-($v);
    }
  }

  // x*/
}
