// true: faster updating speed <1 MB>. rendering arbitrary classes in RWD.
// false: slow <? MB>. rendering every classes in RWD.
$isLiteMode: true;

// controlling render output
$Basic: true;
$Rwd: true;
$Custom: true;

// RENDER OUT
// /*x
// Breakpoints
$RWD: (
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
  2xl: 1536px,
);

// abbrev name for file concern
$COLORS: (
  // Black
  bla: #000,
  // White
  whi: #fff,
  // Slate
  sla-50: #f8fafc,
  sla-100: #f1f5f9,
  sla-200: #e2e8f0,
  sla-300: #cbd5e1,
  sla-400: #94a3b8,
  sla-500: #64748b,
  sla-600: #475569,
  sla-700: #334155,
  sla-800: #1e293b,
  sla-900: #0f172a,
  sla-950: #020617,
  // Gray
  gra-50: #f9fafb,
  gra-100: #f3f4f6,
  gra-200: #e5e7eb,
  gra-300: #d1d5db,
  gra-400: #9ca3af,
  gra-500: #6b7280,
  gra-600: #4b5563,
  gra-700: #374151,
  gra-800: #1f2937,
  gra-900: #111827,
  gra-950: #030712,
  // Zinc
  zin-50: #fafafa,
  zin-100: #f4f4f5,
  zin-200: #e4e4e7,
  zin-300: #d4d4d8,
  zin-400: #a1a1aa,
  zin-500: #71717a,
  zin-600: #52525b,
  zin-700: #3f3f46,
  zin-800: #27272a,
  zin-900: #18181b,
  zin-950: #09090b,
  // Neutral
  neu-50: #fafafa,
  neu-100: #f5f5f5,
  neu-200: #e5e5e5,
  neu-300: #d4d4d4,
  neu-400: #a3a3a3,
  neu-500: #737373,
  neu-600: #525252,
  neu-700: #404040,
  neu-800: #262626,
  neu-900: #171717,
  neu-950: #0a0a0a,
  // Stone
  sto-50: #fafaf9,
  sto-100: #f5f5f4,
  sto-200: #e7e5e4,
  sto-300: #d6d3d1,
  sto-400: #a8a29e,
  sto-500: #78716c,
  sto-600: #57534e,
  sto-700: #44403c,
  sto-800: #292524,
  sto-900: #1c1917,
  sto-950: #0c0a09,
  // Red
  red-50: #fef2f2,
  red-100: #fee2e2,
  red-200: #fecaca,
  red-300: #fca5a5,
  red-400: #f87171,
  red-500: #ef4444,
  red-600: #dc2626,
  red-700: #b91c1c,
  red-800: #991b1b,
  red-900: #7f1d1d,
  red-950: #450a0a,
  // Orange
  ora-50: #fff7ed,
  ora-100: #ffedd5,
  ora-200: #fed7aa,
  ora-300: #fdba74,
  ora-400: #fb923c,
  ora-500: #f97316,
  ora-600: #ea580c,
  ora-700: #c2410c,
  ora-800: #9a3412,
  ora-900: #7c2d12,
  ora-950: #431407,
  // Amber
  amb-50: #fffbeb,
  amb-100: #fef3c7,
  amb-200: #fde68a,
  amb-300: #fcd34d,
  amb-400: #fbbf24,
  amb-500: #f59e0b,
  amb-600: #d97706,
  amb-700: #b45309,
  amb-800: #92400e,
  amb-900: #78350f,
  amb-950: #451a03,
  // Yellow
  yel-50: #fefce8,
  yel-100: #fef9c3,
  yel-200: #fef08a,
  yel-300: #fde047,
  yel-400: #facc15,
  yel-500: #eab308,
  yel-600: #ca8a04,
  yel-700: #a16207,
  yel-800: #854d0e,
  yel-900: #713f12,
  yel-950: #422006,
  // Lime
  lim-50: #f7fee7,
  lim-100: #ecfccb,
  lim-200: #d9f99d,
  lim-300: #bef264,
  lim-400: #a3e635,
  lim-500: #84cc16,
  lim-600: #65a30d,
  lim-700: #4d7c0f,
  lim-800: #3f6212,
  lim-900: #365314,
  lim-950: #1a2e05,
  // Green
  gre-50: #f0fdf4,
  gre-100: #dcfce7,
  gre-200: #bbf7d0,
  gre-300: #86efac,
  gre-400: #4ade80,
  gre-500: #22c55e,
  gre-600: #16a34a,
  gre-700: #15803d,
  gre-800: #166534,
  gre-900: #14532d,
  gre-950: #052e16,
  // Emerald
  eme-50: #ecfdf5,
  eme-100: #d1fae5,
  eme-200: #a7f3d0,
  eme-300: #6ee7b7,
  eme-400: #34d399,
  eme-500: #10b981,
  eme-600: #059669,
  eme-700: #047857,
  eme-800: #065f46,
  eme-900: #064e3b,
  eme-950: #022c22,
  // Teal
  tea-50: #f0fdfa,
  tea-100: #ccfbf1,
  tea-200: #99f6e4,
  tea-300: #5eead4,
  tea-400: #2dd4bf,
  tea-500: #14b8a6,
  tea-600: #0d9488,
  tea-700: #0f766e,
  tea-800: #115e59,
  tea-900: #134e4a,
  tea-950: #042f2e,
  // Cyan
  cya-50: #ecfeff,
  cya-100: #cffafe,
  cya-200: #a5f3fc,
  cya-300: #67e8f9,
  cya-400: #22d3ee,
  cya-500: #06b6d4,
  cya-600: #0891b2,
  cya-700: #0e7490,
  cya-800: #155e75,
  cya-900: #164e63,
  cya-950: #083344,
  // Sky
  sky-50: #f0f9ff,
  sky-100: #e0f2fe,
  sky-200: #bae6fd,
  sky-300: #7dd3fc,
  sky-400: #38bdf8,
  sky-500: #0ea5e9,
  sky-600: #0284c7,
  sky-700: #0369a1,
  sky-800: #075985,
  sky-900: #0c4a6e,
  sky-950: #082f49,
  // Blue
  blu-50: #eff6ff,
  blu-100: #dbeafe,
  blu-200: #bfdbfe,
  blu-300: #93c5fd,
  blu-400: #60a5fa,
  blu-500: #3b82f6,
  blu-600: #2563eb,
  blu-700: #1d4ed8,
  blu-800: #1e40af,
  blu-900: #1e3a8a,
  blu-950: #172554,
  // Indigo
  ind-50: #eef2ff,
  ind-100: #e0e7ff,
  ind-200: #c7d2fe,
  ind-300: #a5b4fc,
  ind-400: #818cf8,
  ind-500: #6366f1,
  ind-600: #4f46e5,
  ind-700: #4338ca,
  ind-800: #3730a3,
  ind-900: #312e81,
  ind-950: #1e1b4b,
  // Violet
  vio-50: #f5f3ff,
  vio-100: #ede9fe,
  vio-200: #ddd6fe,
  vio-300: #c4b5fd,
  vio-400: #a78bfa,
  vio-500: #8b5cf6,
  vio-600: #7c3aed,
  vio-700: #6d28d9,
  vio-800: #5b21b6,
  vio-900: #4c1d95,
  vio-950: #2e1065,
  // Purple
  pur-50: #faf5ff,
  pur-100: #f3e8ff,
  pur-200: #e9d5ff,
  pur-300: #d8b4fe,
  pur-400: #c084fc,
  pur-500: #a855f7,
  pur-600: #9333ea,
  pur-700: #7e22ce,
  pur-800: #6b21a8,
  pur-900: #581c87,
  pur-950: #3b0764,
  // Fuchsia
  fuc-50: #fdf4ff,
  fuc-100: #fae8ff,
  fuc-200: #f5d0fe,
  fuc-300: #f0abfc,
  fuc-400: #e879f9,
  fuc-500: #d946ef,
  fuc-600: #c026d3,
  fuc-700: #a21caf,
  fuc-800: #86198f,
  fuc-900: #701a75,
  fuc-950: #4a044e,
  // Pink
  pin-50: #fdf2f8,
  pin-100: #fce7f3,
  pin-200: #fbcfe8,
  pin-300: #f9a8d4,
  pin-400: #f472b6,
  pin-500: #ec4899,
  pin-600: #db2777,
  pin-700: #be185d,
  pin-800: #9d174d,
  pin-900: #831843,
  pin-950: #500724,
  // Rose
  ros-50: #fff1f2,
  ros-100: #ffe4e6,
  ros-200: #fecdd3,
  ros-300: #fda4af,
  ros-400: #fb7185,
  ros-500: #f43f5e,
  ros-600: #e11d48,
  ros-700: #be123c,
  ros-800: #9f1239,
  ros-900: #881337,
  ros-950: #4c0519
);

// Gradient Color Stops
$--gradient-direction: "NO-DIRECTION" !default;
$--tw-gradient-from: "NO-FROM-COLOR" !default;
$--tw-gradient-via: null !default; // detects the use of 2 or 3 gradient stops
$--tw-gradient-to: transparent !default;
$--tw-gradient-from-position: null !default;
$--tw-gradient-via-position: null !default;
$--tw-gradient-to-position: null !default;

// Space Between
$--space-value: 0 !default;
$--tw-space-x-reverse: 0 !default;
$--tw-space-y-reverse: 0 !default;

// Divide Width
$--divide-value: 0 !default;
$--tw-divide-x-reverse: 0 !default;
$--tw-divide-y-reverse: 0 !default;

// Box Shadow
$--tw-ring-offset-width: 0 !default;
$--tw-ring-offset-color: #fff !default;
$--tw-ring-inset: null !default;
$--ring-width: 0 !default;
$--tw-ring-color: rgb(59 130 246 / 0.5) !default;
$-shadow-token: null !default;
$--shadow-length: 0 0 0 0 !default;
$--tw-shadow-color: #fff !default;

// Scroll Snap Type
$--tw-scroll-snap-strictness: proximity !default;

// Transforms
$--tw-translate-x: 0 !default;
$--tw-translate-y: 0 !default;
$--tw-rotate: 0 !default;
$--tw-skew-x: 0 !default;
$--tw-skew-y: 0 !default;
$--tw-scale-x: 1 !default;
$--tw-scale-y: 1 !default;

// Filters
$--tw-blur: null !default;
$--tw-brightness: null !default;
$--tw-contrast: null !default;
$--tw-grayscale: null !default;
$--tw-hue-rotate: null !default;
$--tw-invert: null !default;
$--tw-saturate: null !default;
$--tw-sepia: null !default;
$--tw-drop-shadow: null !default;
$--tw-backdrop-blur: null !default;
$--tw-backdrop-brightness: null !default;
$--tw-backdrop-contrast: null !default;
$--tw-backdrop-grayscale: null !default;
$--tw-backdrop-hue-rotate: null !default;
$--tw-backdrop-invert: null !default;
$--tw-backdrop-opacity: null !default;
$--tw-backdrop-saturate: null !default;
$--tw-backdrop-sepia: null !default;
// x*/
