// true: faster updating speed <1.66 MB>. arbitrary classes in RWD.
// false: slow <? MB>. every classes in RWD.
$isLiteMode: true;

// controlling render output
$Basic: true;
$Rwd: true;
$Custom: true;

// render output
/*x
$rwd-sm: 640px;
$rwd-md: 768px;
$rwd-lg: 1024px;
$rwd-xl: 1280px;
$rwd-2xl: 1536px;
x*/
