@use "../../mode0" as *;
@use "true" as *;

@include describe("2.Flexbox & Grid") {
  @include describe("Grid Auto Flow") {
    @include describe("Basic") {
      @include it("grid-flow-row") {
        @include assert {
          @include output {
            @include grid-flow-row;
            @include reset;
          }

          @include expect {
            grid-auto-flow: row;
          }
        }
      }

      @include it("grid-flow-col") {
        @include assert {
          @include output {
            @include grid-flow-col;
            @include reset;
          }

          @include expect {
            grid-auto-flow: column;
          }
        }
      }

      @include it("grid-flow-dense") {
        @include assert {
          @include output {
            @include grid-flow-dense;
            @include reset;
          }

          @include expect {
            grid-auto-flow: dense;
          }
        }
      }

      @include it("grid-flow-row-dense") {
        @include assert {
          @include output {
            @include grid-flow-row-dense;
            @include reset;
          }

          @include expect {
            grid-auto-flow: row dense;
          }
        }
      }

      @include it("grid-flow-col-dense") {
        @include assert {
          @include output {
            @include grid-flow-col-dense;
            @include reset;
          }

          @include expect {
            grid-auto-flow: column dense;
          }
        }
      }
    }

    @include describe("Rwd") {
      @include it("sm\:grid-flow-row") {
        @include assert {
          @include output {
            @include sm\:grid-flow-row;
            @include reset;
          }

          @include expect {
            @media (min-width: $sm) {
              grid-auto-flow: row;
            }
          }
        }
      }

      @include it("sm\:grid-flow-col") {
        @include assert {
          @include output {
            @include sm\:grid-flow-col;
            @include reset;
          }

          @include expect {
            @media (min-width: $sm) {
              grid-auto-flow: column;
            }
          }
        }
      }

      @include it("sm\:grid-flow-dense") {
        @include assert {
          @include output {
            @include sm\:grid-flow-dense;
            @include reset;
          }

          @include expect {
            @media (min-width: $sm) {
              grid-auto-flow: dense;
            }
          }
        }
      }

      @include it("sm\:grid-flow-row-dense") {
        @include assert {
          @include output {
            @include sm\:grid-flow-row-dense;
            @include reset;
          }

          @include expect {
            @media (min-width: $sm) {
              grid-auto-flow: row dense;
            }
          }
        }
      }

      @include it("sm\:grid-flow-col-dense") {
        @include assert {
          @include output {
            @include sm\:grid-flow-col-dense;
            @include reset;
          }

          @include expect {
            @media (min-width: $sm) {
              grid-auto-flow: column dense;
            }
          }
        }
      }

      @include it("md\:grid-flow-row") {
        @include assert {
          @include output {
            @include md\:grid-flow-row;
            @include reset;
          }

          @include expect {
            @media (min-width: $md) {
              grid-auto-flow: row;
            }
          }
        }
      }

      @include it("md\:grid-flow-col") {
        @include assert {
          @include output {
            @include md\:grid-flow-col;
            @include reset;
          }

          @include expect {
            @media (min-width: $md) {
              grid-auto-flow: column;
            }
          }
        }
      }

      @include it("md\:grid-flow-dense") {
        @include assert {
          @include output {
            @include md\:grid-flow-dense;
            @include reset;
          }

          @include expect {
            @media (min-width: $md) {
              grid-auto-flow: dense;
            }
          }
        }
      }

      @include it("md\:grid-flow-row-dense") {
        @include assert {
          @include output {
            @include md\:grid-flow-row-dense;
            @include reset;
          }

          @include expect {
            @media (min-width: $md) {
              grid-auto-flow: row dense;
            }
          }
        }
      }

      @include it("md\:grid-flow-col-dense") {
        @include assert {
          @include output {
            @include md\:grid-flow-col-dense;
            @include reset;
          }

          @include expect {
            @media (min-width: $md) {
              grid-auto-flow: column dense;
            }
          }
        }
      }

      @include it("lg\:grid-flow-row") {
        @include assert {
          @include output {
            @include lg\:grid-flow-row;
            @include reset;
          }

          @include expect {
            @media (min-width: $lg) {
              grid-auto-flow: row;
            }
          }
        }
      }

      @include it("lg\:grid-flow-col") {
        @include assert {
          @include output {
            @include lg\:grid-flow-col;
            @include reset;
          }

          @include expect {
            @media (min-width: $lg) {
              grid-auto-flow: column;
            }
          }
        }
      }

      @include it("lg\:grid-flow-dense") {
        @include assert {
          @include output {
            @include lg\:grid-flow-dense;
            @include reset;
          }

          @include expect {
            @media (min-width: $lg) {
              grid-auto-flow: dense;
            }
          }
        }
      }

      @include it("lg\:grid-flow-row-dense") {
        @include assert {
          @include output {
            @include lg\:grid-flow-row-dense;
            @include reset;
          }

          @include expect {
            @media (min-width: $lg) {
              grid-auto-flow: row dense;
            }
          }
        }
      }

      @include it("lg\:grid-flow-col-dense") {
        @include assert {
          @include output {
            @include lg\:grid-flow-col-dense;
            @include reset;
          }

          @include expect {
            @media (min-width: $lg) {
              grid-auto-flow: column dense;
            }
          }
        }
      }

      @include it("xl\:grid-flow-row") {
        @include assert {
          @include output {
            @include xl\:grid-flow-row;
            @include reset;
          }

          @include expect {
            @media (min-width: $xl) {
              grid-auto-flow: row;
            }
          }
        }
      }

      @include it("xl\:grid-flow-col") {
        @include assert {
          @include output {
            @include xl\:grid-flow-col;
            @include reset;
          }

          @include expect {
            @media (min-width: $xl) {
              grid-auto-flow: column;
            }
          }
        }
      }

      @include it("xl\:grid-flow-dense") {
        @include assert {
          @include output {
            @include xl\:grid-flow-dense;
            @include reset;
          }

          @include expect {
            @media (min-width: $xl) {
              grid-auto-flow: dense;
            }
          }
        }
      }

      @include it("xl\:grid-flow-row-dense") {
        @include assert {
          @include output {
            @include xl\:grid-flow-row-dense;
            @include reset;
          }

          @include expect {
            @media (min-width: $xl) {
              grid-auto-flow: row dense;
            }
          }
        }
      }

      @include it("xl\:grid-flow-col-dense") {
        @include assert {
          @include output {
            @include xl\:grid-flow-col-dense;
            @include reset;
          }

          @include expect {
            @media (min-width: $xl) {
              grid-auto-flow: column dense;
            }
          }
        }
      }

      @include it("\2xl\:grid-flow-row") {
        @include assert {
          @include output {
            @include \2xl\:grid-flow-row;
            @include reset;
          }

          @include expect {
            @media (min-width: $\2xl) {
              grid-auto-flow: row;
            }
          }
        }
      }

      @include it("\2xl\:grid-flow-col") {
        @include assert {
          @include output {
            @include \2xl\:grid-flow-col;
            @include reset;
          }

          @include expect {
            @media (min-width: $\2xl) {
              grid-auto-flow: column;
            }
          }
        }
      }

      @include it("\2xl\:grid-flow-dense") {
        @include assert {
          @include output {
            @include \2xl\:grid-flow-dense;
            @include reset;
          }

          @include expect {
            @media (min-width: $\2xl) {
              grid-auto-flow: dense;
            }
          }
        }
      }

      @include it("\2xl\:grid-flow-row-dense") {
        @include assert {
          @include output {
            @include \2xl\:grid-flow-row-dense;
            @include reset;
          }

          @include expect {
            @media (min-width: $\2xl) {
              grid-auto-flow: row dense;
            }
          }
        }
      }

      @include it("\2xl\:grid-flow-col-dense") {
        @include assert {
          @include output {
            @include \2xl\:grid-flow-col-dense;
            @include reset;
          }

          @include expect {
            @media (min-width: $\2xl) {
              grid-auto-flow: column dense;
            }
          }
        }
      }
    }
  }
}
