@use "../../setting" as *;


$TableLayout: (
  "table-auto": auto,
  "table-fixed": fixed,
);

@if $Basic {
  @each $key, $value in $TableLayout {
    /*x
    @mixin #{$key} {
      @include table-layout(#{$value});
    }
    x*/
  }
}

@if $Rwd {
  @each $rwd in $rwdBox {
    @each $key, $value in $TableLayout {
      /*x
      @mixin #{$rwd}\:#{$key} {
        @include table-layout(#{$value}, $#{$rwd});
      }
      x*/
    }
  }
}