@use "sass:color";
@use "true" as *;
@use "../escss" as *;

@include describe("7-Borders") {
  @include describe("3-Border Color") {
    @include describe("Basic") {
      @include it("divide-inherit") {
        @include assert {
          @include output {
            @include divide-inherit;
          }

          @include expect {
            :where(& > :not(:last-child)) {
              border-color: inherit;
            }
          }
        }
      }

      @include it("divide-current") {
        @include assert {
          @include output {
            @include divide-current;
          }

          @include expect {
            :where(& > :not(:last-child)) {
              border-color: currentcolor;
            }
          }
        }
      }

      @include it("divide-transparent") {
        @include assert {
          @include output {
            @include divide-transparent;
          }

          @include expect {
            :where(& > :not(:last-child)) {
              border-color: transparent;
            }
          }
        }
      }

      @include it("divide-black") {
        @include assert {
          @include output {
            @include divide-black;
          }

          @include expect {
            :where(& > :not(:last-child)) {
              border-color: black;
            }
          }
        }
      }

      @include it("divide-black(0.11)") {
        @include assert {
          @include output {
            @include divide-black(0.11);
          }

          @include expect {
            :where(& > :not(:last-child)) {
              border-color: rgba(0, 0, 0, 0.11);
            }
          }
        }
      }

      @include it("border-inherit") {
        @include assert {
          @include output {
            @include border-inherit;
          }

          @include expect {
            border-color: inherit;
          }
        }
      }

      @include it("border-current") {
        @include assert {
          @include output {
            @include border-current;
          }

          @include expect {
            border-color: currentcolor;
          }
        }
      }

      @include it("border-transparent") {
        @include assert {
          @include output {
            @include border-transparent;
          }

          @include expect {
            border-color: transparent;
          }
        }
      }

      @include it("border-black") {
        @include assert {
          @include output {
            @include border-black;
          }

          @include expect {
            border-color: black;
          }
        }
      }

      @include it("border-black(0.11)") {
        @include assert {
          @include output {
            @include border-black(0.11);
          }

          @include expect {
            border-color: rgba(0, 0, 0, 0.11);
          }
        }
      }
    }

    @include describe("Custom") {
      @include it("border-(#243c5a)") {
        @include assert {
          @include output {
            @include border-(#243c5a);
          }

          @include expect {
            border-color: #243c5a;
          }
        }
      }

      @include it("border-x-(#243c5a)") {
        @include assert {
          @include output {
            @include border-x-(#243c5a);
          }

          @include expect {
            border-inline-color: #243c5a;
          }
        }
      }

      @include it("border-y-(#243c5a)") {
        @include assert {
          @include output {
            @include border-y-(#243c5a);
          }

          @include expect {
            border-block-color: #243c5a;
          }
        }
      }

      @include it("border-s-(#243c5a)") {
        @include assert {
          @include output {
            @include border-s-(#243c5a);
          }

          @include expect {
            border-inline-start-color: #243c5a;
          }
        }
      }

      @include it("border-e-(#243c5a)") {
        @include assert {
          @include output {
            @include border-e-(#243c5a);
          }

          @include expect {
            border-inline-end-color: #243c5a;
          }
        }
      }

      @include it("border-t-(#243c5a)") {
        @include assert {
          @include output {
            @include border-t-(#243c5a);
          }

          @include expect {
            border-top-color: #243c5a;
          }
        }
      }

      @include it("border-r-(#243c5a)") {
        @include assert {
          @include output {
            @include border-r-(#243c5a);
          }

          @include expect {
            border-right-color: #243c5a;
          }
        }
      }

      @include it("border-b-(#243c5a)") {
        @include assert {
          @include output {
            @include border-b-(#243c5a);
          }

          @include expect {
            border-bottom-color: #243c5a;
          }
        }
      }

      @include it("border-l-(#243c5a)") {
        @include assert {
          @include output {
            @include border-l-(#243c5a);
          }

          @include expect {
            border-left-color: #243c5a;
          }
        }
      }

      @include it("divide-(#243c5a)") {
        @include assert {
          @include output {
            @include divide-(#243c5a);
          }

          @include expect {
            :where(& > :not(:last-child)) {
              border-color: #243c5a;
            }
          }
        }
      }
    }
  }
}
