@use "true" as *;
@use "../awaken" as *;

@include describe("7-Borders") {
  @include describe("7-Divide Style") {
    @include describe("Basic") {
      @include it("divide-solid") {
        @include assert {
          @include output {
            @include divide-solid;
            
          }

          @include expect {
            > :not([hidden]) ~ :not([hidden]) {
              border-style: solid;
            }
          }
        }
      }

      @include it("divide-dashed") {
        @include assert {
          @include output {
            @include divide-dashed;
            
          }

          @include expect {
            > :not([hidden]) ~ :not([hidden]) {
              border-style: dashed;
            }
          }
        }
      }

      @include it("divide-dotted") {
        @include assert {
          @include output {
            @include divide-dotted;
            
          }

          @include expect {
            > :not([hidden]) ~ :not([hidden]) {
              border-style: dotted;
            }
          }
        }
      }

      @include it("divide-double") {
        @include assert {
          @include output {
            @include divide-double;
            
          }

          @include expect {
            > :not([hidden]) ~ :not([hidden]) {
              border-style: double;
            }
          }
        }
      }

      @include it("divide-none") {
        @include assert {
          @include output {
            @include divide-none;
            
          }

          @include expect {
            > :not([hidden]) ~ :not([hidden]) {
              border-style: none;
            }
          }
        }
      }
    }
  }
}
