@use "true" as *;
@use "../awaken" as *;

@include describe("5-Typography") {
  @include describe("1-Font Family") {
    @include describe("Basic") {
      @include it("font-sans") {
        @include assert {
          @include output {
            @include font-sans;
            
          }

          @include expect {
            font-family:
              ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
              "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
          }
        }
      }

      @include it("font-serif") {
        @include assert {
          @include output {
            @include font-serif;
            
          }

          @include expect {
            font-family:
              ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
          }
        }
      }

      @include it("font-mono") {
        @include assert {
          @include output {
            @include font-mono;
            
          }

          @include expect {
            font-family:
              ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
              "Liberation Mono", "Courier New", monospace;
          }
        }
      }
    }

    @include describe("Custom") {
      @include it("font-('Open Sans')") {
        @include assert {
          @include output {
            @include font-("Open Sans");
            
          }

          @include expect {
            font-family: "Open Sans";
          }
        }
      }
    }
  }
}
