@use "true" as *;
@use "../escss" as *;

@include describe("5-Typography") {
  @include describe("10-Line Height") {
    @include describe("Basic") {
      @include it("leading-3") {
        @include assert {
          @include output {
            @include leading-3;
          }

          @include expect {
            --tw-leading: 0.75rem;
            line-height: 0.75rem;
          }
        }
      }

      @include it("leading-4") {
        @include assert {
          @include output {
            @include leading-4;
          }

          @include expect {
            --tw-leading: 1rem;
            line-height: 1rem;
          }
        }
      }

      @include it("leading-5") {
        @include assert {
          @include output {
            @include leading-5;
          }

          @include expect {
            --tw-leading: 1.25rem;
            line-height: 1.25rem;
          }
        }
      }

      @include it("leading-6") {
        @include assert {
          @include output {
            @include leading-6;
          }

          @include expect {
            --tw-leading: 1.5rem;
            line-height: 1.5rem;
          }
        }
      }

      @include it("leading-7") {
        @include assert {
          @include output {
            @include leading-7;
          }

          @include expect {
            --tw-leading: 1.75rem;
            line-height: 1.75rem;
          }
        }
      }

      @include it("leading-8") {
        @include assert {
          @include output {
            @include leading-8;
          }

          @include expect {
            --tw-leading: 2rem;
            line-height: 2rem;
          }
        }
      }

      @include it("leading-9") {
        @include assert {
          @include output {
            @include leading-9;
          }

          @include expect {
            --tw-leading: 2.25rem;
            line-height: 2.25rem;
          }
        }
      }

      @include it("leading-10") {
        @include assert {
          @include output {
            @include leading-10;
          }

          @include expect {
            --tw-leading: 2.5rem;
            line-height: 2.5rem;
          }
        }
      }

      @include it("leading-none") {
        @include assert {
          @include output {
            @include leading-none;
          }

          @include expect {
            --tw-leading: 1;
            line-height: 1;
          }
        }
      }

      @include it("leading-tight") {
        @include assert {
          @include output {
            @include leading-tight;
          }

          @include expect {
            --tw-leading: 1.25;
            line-height: 1.25;
          }
        }
      }

      @include it("leading-snug") {
        @include assert {
          @include output {
            @include leading-snug;
          }

          @include expect {
            --tw-leading: 1.375;
            line-height: 1.375;
          }
        }
      }

      @include it("leading-normal") {
        @include assert {
          @include output {
            @include leading-normal;
          }

          @include expect {
            --tw-leading: 1.5;
            line-height: 1.5;
          }
        }
      }

      @include it("leading-relaxed") {
        @include assert {
          @include output {
            @include leading-relaxed;
          }

          @include expect {
            --tw-leading: 1.625;
            line-height: 1.625;
          }
        }
      }

      @include it("leading-loose") {
        @include assert {
          @include output {
            @include leading-loose;
          }

          @include expect {
            --tw-leading: 2;
            line-height: 2;
          }
        }
      }
    }

    @include describe("Custom") {
      @include it("leading-(3rem)") {
        @include assert {
          @include output {
            @include leading-(3rem);
          }

          @include expect {
            --tw-leading: 3rem;
            line-height: 3rem;
          }
        }
      }
    }
  }
}
