@use "true" as *;
@use "../escss" as *;

@include describe("5-Typography") {
  @include describe("11-List Style Image") {
    @include describe("Basic") {
      @include it("list-image-none") {
        @include assert {
          @include output {
            @include list-image-none;
          }

          @include expect {
            list-style-image: none;
          }
        }
      }
    }

    @include describe("Custom") {
      @include it("list-image-(url(checkmark.png))") {
        @include assert {
          @include output {
            @include list-image-(url(checkmark.png));
          }

          @include expect {
            list-style-image: url(checkmark.png);
          }
        }
      }
    }
  }
}
