@use "true" as *;
@use "../awaken" as *;

@include describe("5-Typography") {
  @include describe("12-List Style Type") {
    @include describe("Basic") {
      @include it("list-none") {
        @include assert {
          @include output {
            @include list-none;
          }

          @include expect {
            list-style-type: none;
          }
        }
      }

      @include it("list-disc") {
        @include assert {
          @include output {
            @include list-disc;
          }

          @include expect {
            list-style-type: disc;
          }
        }
      }

      @include it("list-decimal") {
        @include assert {
          @include output {
            @include list-decimal;
          }

          @include expect {
            list-style-type: decimal;
          }
        }
      }
    }

    @include describe("Custom") {
      @include it("list-(upper-roman)") {
        @include assert {
          @include output {
            @include list-(upper-roman);
          }

          @include expect {
            list-style-type: upper-roman;
          }
        }
      }
    }
  }
}
