@use "true" as *;
@use "../escss" as *;

@include describe("5-Typography") {
  @include describe("16-Text Decoration Line") {
    @include describe("Basic") {
      @include it("underline") {
        @include assert {
          @include output {
            @include underline;
          }

          @include expect {
            text-decoration-line: underline;
          }
        }
      }

      @include it("overline") {
        @include assert {
          @include output {
            @include overline;
          }

          @include expect {
            text-decoration-line: overline;
          }
        }
      }

      @include it("line-through") {
        @include assert {
          @include output {
            @include line-through;
          }

          @include expect {
            text-decoration-line: line-through;
          }
        }
      }

      @include it("no-underline") {
        @include assert {
          @include output {
            @include no-underline;
          }

          @include expect {
            text-decoration-line: none;
          }
        }
      }
    }
  }
}
