@use "true" as *;
@use "../escss" as *;

@include describe("5-Typography") {
  @include describe("19-Text Decoration Thickness") {
    @include describe("Basic") {
      @include it("decoration-auto") {
        @include assert {
          @include output {
            @include decoration-auto;
          }

          @include expect {
            text-decoration-thickness: auto;
          }
        }
      }

      @include it("decoration-from-font") {
        @include assert {
          @include output {
            @include decoration-from-font;
          }

          @include expect {
            text-decoration-thickness: from-font;
          }
        }
      }

      @include it("decoration-0") {
        @include assert {
          @include output {
            @include decoration-0;
          }

          @include expect {
            text-decoration-thickness: 0px;
          }
        }
      }

      @include it("decoration-1") {
        @include assert {
          @include output {
            @include decoration-1;
          }

          @include expect {
            text-decoration-thickness: 1px;
          }
        }
      }

      @include it("decoration-2") {
        @include assert {
          @include output {
            @include decoration-2;
          }

          @include expect {
            text-decoration-thickness: 2px;
          }
        }
      }

      @include it("decoration-4") {
        @include assert {
          @include output {
            @include decoration-4;
          }

          @include expect {
            text-decoration-thickness: 4px;
          }
        }
      }

      @include it("decoration-8") {
        @include assert {
          @include output {
            @include decoration-8;
          }

          @include expect {
            text-decoration-thickness: 8px;
          }
        }
      }
    }

    @include describe("Custom") {
      @include it("decoration-(3px)") {
        @include assert {
          @include output {
            @include decoration-(3px);
          }

          @include expect {
            text-decoration-thickness: 3px;
          }
        }
      }
    }
  }
}
