@use "true" as *;
@use "../escss" as *;

@include describe("5-Typography") {
  @include describe("2-Font Size") {
    @include describe("Basic") {
      @include it("text-xs") {
        @include assert {
          @include output {
            @include text-xs;
          }

          @include expect {
            font-size: 0.75rem;
            line-height: var(--tw-leading, 1.3333333333);
          }
        }
      }

      @include it("text-sm") {
        @include assert {
          @include output {
            @include text-sm;
          }

          @include expect {
            font-size: 0.875rem;
            line-height: var(--tw-leading, 1.4285714286);
          }
        }
      }

      @include it("text-base") {
        @include assert {
          @include output {
            @include text-base;
          }

          @include expect {
            font-size: 1rem;
            line-height: var(--tw-leading, 1.5);
          }
        }
      }

      @include it("text-lg") {
        @include assert {
          @include output {
            @include text-lg;
          }

          @include expect {
            font-size: 1.125rem;
            line-height: var(--tw-leading, 1.5555555556);
          }
        }
      }

      @include it("text-xl") {
        @include assert {
          @include output {
            @include text-xl;
          }

          @include expect {
            font-size: 1.25rem;
            line-height: var(--tw-leading, 1.4);
          }
        }
      }

      @include it("text-2xl") {
        @include assert {
          @include output {
            @include text-2xl;
          }

          @include expect {
            font-size: 1.5rem;
            line-height: var(--tw-leading, 1.3333333333);
          }
        }
      }

      @include it("text-3xl") {
        @include assert {
          @include output {
            @include text-3xl;
          }

          @include expect {
            font-size: 1.875rem;
            line-height: var(--tw-leading, 1.2);
          }
        }
      }

      @include it("text-4xl") {
        @include assert {
          @include output {
            @include text-4xl;
          }

          @include expect {
            font-size: 2.25rem;
            line-height: var(--tw-leading, 1.1111111111);
          }
        }
      }

      @include it("text-5xl") {
        @include assert {
          @include output {
            @include text-5xl;
          }

          @include expect {
            font-size: 3rem;
            line-height: var(--tw-leading, 1);
          }
        }
      }

      @include it("text-6xl") {
        @include assert {
          @include output {
            @include text-6xl;
          }

          @include expect {
            font-size: 3.75rem;
            line-height: var(--tw-leading, 1);
          }
        }
      }

      @include it("text-7xl") {
        @include assert {
          @include output {
            @include text-7xl;
          }

          @include expect {
            font-size: 4.5rem;
            line-height: var(--tw-leading, 1);
          }
        }
      }

      @include it("text-8xl") {
        @include assert {
          @include output {
            @include text-8xl;
          }

          @include expect {
            font-size: 6rem;
            line-height: var(--tw-leading, 1);
          }
        }
      }

      @include it("text-9xl") {
        @include assert {
          @include output {
            @include text-9xl;
          }

          @include expect {
            font-size: 8rem;
            line-height: var(--tw-leading, 1);
          }
        }
      }
    }

    @include describe("Custom") {
      @include it("text-(14px)") {
        @include assert {
          @include output {
            @include text-(14px);
          }

          @include expect {
            font-size: 14px;
          }
        }
      }
    }
  }
}
