@use "true" as *;
@use "../awaken" as *;

@include describe("5-Typography") {
  @include describe("24-Vertical Align") {
    @include describe("Basic") {
      @include it("align-baseline") {
        @include assert {
          @include output {
            @include align-baseline;
          }

          @include expect {
            vertical-align: baseline;
          }
        }
      }

      @include it("align-top") {
        @include assert {
          @include output {
            @include align-top;
          }

          @include expect {
            vertical-align: top;
          }
        }
      }

      @include it("align-middle") {
        @include assert {
          @include output {
            @include align-middle;
          }

          @include expect {
            vertical-align: middle;
          }
        }
      }

      @include it("align-bottom") {
        @include assert {
          @include output {
            @include align-bottom;
          }

          @include expect {
            vertical-align: bottom;
          }
        }
      }

      @include it("align-text-top") {
        @include assert {
          @include output {
            @include align-text-top;
          }

          @include expect {
            vertical-align: text-top;
          }
        }
      }

      @include it("align-text-bottom") {
        @include assert {
          @include output {
            @include align-text-bottom;
          }

          @include expect {
            vertical-align: text-bottom;
          }
        }
      }

      @include it("align-sub") {
        @include assert {
          @include output {
            @include align-sub;
          }

          @include expect {
            vertical-align: sub;
          }
        }
      }

      @include it("align-super") {
        @include assert {
          @include output {
            @include align-super;
          }

          @include expect {
            vertical-align: super;
          }
        }
      }
    }

    @include describe("Custom") {
      @include it("align-(4px)") {
        @include assert {
          @include output {
            @include align-(4px);
          }

          @include expect {
            vertical-align: 4px;
          }
        }
      }
    }
  }
}
