@use "true" as *;
@use "../escss" as *;

@include describe("5-Typography") {
  @include describe("29-Hyphens") {
    @include describe("Basic") {
      @include it("hyphens-none") {
        @include assert {
          @include output {
            @include hyphens-none;
          }

          @include expect {
            hyphens: none;
          }
        }
      }

      @include it("hyphens-manual") {
        @include assert {
          @include output {
            @include hyphens-manual;
          }

          @include expect {
            hyphens: manual;
          }
        }
      }

      @include it("hyphens-auto") {
        @include assert {
          @include output {
            @include hyphens-auto;
          }

          @include expect {
            hyphens: auto;
          }
        }
      }
    }
  }
}
