@use "true" as *;
@use "../escss" as *;

@include describe("5-Typography") {
  @include describe("8-Letter Spacing") {
    @include describe("Positive") {
      @include describe("Basic") {
        @include it("tracking-tighter") {
          @include assert {
            @include output {
              @include tracking-tighter;
            }

            @include expect {
              letter-spacing: -0.05em;
            }
          }
        }

        @include it("tracking-tight") {
          @include assert {
            @include output {
              @include tracking-tight;
            }

            @include expect {
              letter-spacing: -0.025em;
            }
          }
        }

        @include it("tracking-normal") {
          @include assert {
            @include output {
              @include tracking-normal;
            }

            @include expect {
              letter-spacing: 0em;
            }
          }
        }

        @include it("tracking-wide") {
          @include assert {
            @include output {
              @include tracking-wide;
            }

            @include expect {
              letter-spacing: 0.025em;
            }
          }
        }

        @include it("tracking-wider") {
          @include assert {
            @include output {
              @include tracking-wider;
            }

            @include expect {
              letter-spacing: 0.05em;
            }
          }
        }

        @include it("tracking-widest") {
          @include assert {
            @include output {
              @include tracking-widest;
            }

            @include expect {
              letter-spacing: 0.1em;
            }
          }
        }
      }

      @include describe("Custom") {
        @include it("tracking-(0.25rem)") {
          @include assert {
            @include output {
              @include tracking-(0.25rem);
            }

            @include expect {
              letter-spacing: 0.25rem;
            }
          }
        }
      }
    }

    @include describe("Negative") {
      @include describe("Basic") {
        @include it("-tracking-tighter") {
          @include assert {
            @include output {
              @include \-tracking-tighter;
            }

            @include expect {
              letter-spacing: 0.05em;
            }
          }
        }

        @include it("-tracking-tight") {
          @include assert {
            @include output {
              @include \-tracking-tight;
            }

            @include expect {
              letter-spacing: 0.025em;
            }
          }
        }

        @include it("-tracking-normal") {
          @include assert {
            @include output {
              @include \-tracking-normal;
            }

            @include expect {
              letter-spacing: -0em;
            }
          }
        }

        @include it("-tracking-wide") {
          @include assert {
            @include output {
              @include \-tracking-wide;
            }

            @include expect {
              letter-spacing: -0.025em;
            }
          }
        }

        @include it("-tracking-wider") {
          @include assert {
            @include output {
              @include \-tracking-wider;
            }

            @include expect {
              letter-spacing: -0.05em;
            }
          }
        }

        @include it("-tracking-widest") {
          @include assert {
            @include output {
              @include \-tracking-widest;
            }

            @include expect {
              letter-spacing: -0.1em;
            }
          }
        }
      }

      @include describe("Custom") {
        @include it("-tracking-(0.25rem)") {
          @include assert {
            @include output {
              @include \-tracking-(0.25rem);
            }

            @include expect {
              letter-spacing: -0.25rem;
            }
          }
        }
      }
    }
  }
}
