@use "../../setting" as *;

$v3-Blur: (
  "blur": blur(8px),
);

@if $V3-compatibility {
  @if $QuickReference {
    @each $key, $value in $v3-Blur {
      /*x
      @mixin #{$key} {
        --tw-blur: #{$value};
        filter: _f();
      }
      x*/
    }
  }
}