@use "../../setting" as *;

$Padding: (
  "0": "$\\0",
  "px": "$\\px",
  "0\\.5": "$\\0\\.5",
  "1": "$\\1",
  "1\\.5": "$\\1\\.5",
  "2": "$\\2",
  "2\\.5": "$\\2\\.5",
  "3": "$\\3",
  "3\\.5": "$\\3\\.5",
  "4": "$\\4",
  "5": "$\\5",
  "6": "$\\6",
  "7": "$\\7",
  "8": "$\\8",
  "9": "$\\9",
  "10": "$\\10",
  "11": "$\\11",
  "12": "$\\12",
  "14": "$\\14",
  "16": "$\\16",
  "20": "$\\20",
  "24": "$\\24",
  "28": "$\\28",
  "32": "$\\32",
  "36": "$\\36",
  "40": "$\\40",
  "44": "$\\44",
  "48": "$\\48",
  "52": "$\\52",
  "56": "$\\56",
  "60": "$\\60",
  "64": "$\\64",
  "72": "$\\72",
  "80": "$\\80",
  "96": "$\\96"
);

@if $Basic {
  @each $key, $value in $Padding {
    /*x
    @mixin p-#{$key} {
      @include padding(#{$value});
    }

    @mixin px-#{$key} {
      @include padding-left(#{$value});
      @include padding-right(#{$value});
    }

    @mixin py-#{$key} {
      @include padding-top(#{$value});
      @include padding-bottom(#{$value});
    }

    @mixin ps-#{$key} {
      @include padding-inline-start(#{$value});
    }

    @mixin pe-#{$key} {
      @include padding-inline-end(#{$value});
    }

    @mixin pt-#{$key} {
      @include padding-top(#{$value});
    }

    @mixin pr-#{$key} {
      @include padding-right(#{$value});
    }

    @mixin pb-#{$key} {
      @include padding-bottom(#{$value});
    }

    @mixin pl-#{$key} {
      @include padding-left(#{$value});
    }
    x*/
  }
}

@if $Rwd and ($sizeMode ==0 or $sizeMode ==1) {
  @each $rwd in $rwdBox {
    @each $key, $value in $Padding {
    /*x
    @mixin #{$rwd}\:p-#{$key} {
      @include padding(#{$value}, $#{$rwd});
    }

    @mixin #{$rwd}\:px-#{$key} {
      @include #{$rwd} {
        @include padding-left(#{$value});
        @include padding-right(#{$value});
      }
    }

    @mixin #{$rwd}\:py-#{$key} {
      @include #{$rwd} {
        @include padding-top(#{$value});
        @include padding-bottom(#{$value});
      }
    }

    @mixin #{$rwd}\:ps-#{$key} {
      @include padding-inline-start(#{$value}, $#{$rwd});
    }

    @mixin #{$rwd}\:pe-#{$key} {
      @include padding-inline-end(#{$value}, $#{$rwd});
    }

    @mixin #{$rwd}\:pt-#{$key} {
      @include padding-top(#{$value}, $#{$rwd});
    }

    @mixin #{$rwd}\:pr-#{$key} {
      @include padding-right(#{$value}, $#{$rwd});
    }

    @mixin #{$rwd}\:pb-#{$key} {
      @include padding-bottom(#{$value}, $#{$rwd});
    }

    @mixin #{$rwd}\:pl-#{$key} {
      @include padding-left(#{$value}, $#{$rwd});
    }
    x*/
    }
  }
}

@if $Custom {
  /*x
  @mixin p-($v) {
    @include padding($v);
  }

  @mixin px-($v) {
    @include padding-left($v);
    @include padding-right($v);
  }

  @mixin py-($v) {
    @include padding-top($v);
    @include padding-bottom($v);
  }

  @mixin ps-($v) {
    @include padding-inline-start($v);
  }

  @mixin pe-($v) {
    @include padding-inline-end($v);
  }

  @mixin pt-($v) {
    @include padding-top($v);
  }

  @mixin pr-($v) {
    @include padding-right($v);
  }

  @mixin pb-($v) {
    @include padding-bottom($v);
  }

  @mixin pl-($v) {
    @include padding-left($v);
  }
  x*/

  @each $rwd in $rwdBox {
  /*x
  @mixin #{$rwd}\:p-($v) {
    @include padding($v, $#{$rwd});
  }

  @mixin #{$rwd}\:px-($v) {
    @include #{$rwd} {
      @include padding-left($v);
      @include padding-right($v);
    }
  }

  @mixin #{$rwd}\:py-($v) {
    @include #{$rwd} {
      @include padding-top($v);
      @include padding-bottom($v);
    }
  }

  @mixin #{$rwd}\:ps-($v) {
    @include padding-inline-start($v, $#{$rwd});
  }

  @mixin #{$rwd}\:pe-($v) {
    @include padding-inline-end($v, $#{$rwd});
  }

  @mixin #{$rwd}\:pt-($v) {
    @include padding-top($v, $#{$rwd});
  }

  @mixin #{$rwd}\:pr-($v) {
    @include padding-right($v, $#{$rwd});
  }

  @mixin #{$rwd}\:pb-($v) {
    @include padding-bottom($v, $#{$rwd});
  }

  @mixin #{$rwd}\:pl-($v) {
    @include padding-left($v, $#{$rwd});
  }
  x*/
  }
}

