@use "../../setting" as *;


$Invert: (
  "invert-0": invert(0),
  "invert": invert(100%)
);

@if $Basic {
  @each $key, $value in $Invert {
    /*x
    @mixin #{$key} {
      $tw-invert: #{$value} !global;
      @include filter(get_filter());
    }
    x*/
  }
}

@if $Rwd and ($sizeMode ==0 or $sizeMode ==1) {
  @each $rwd in $rwdBox {
    @each $key, $value in $Invert {
      /*x
      @mixin #{$rwd}\:#{$key} {
        $tw-invert: #{$value} !global;
        @include filter(get_filter(), $#{$rwd});
      }
      x*/
    }
  }
}

@if $Custom {
  /*x
  @mixin invert-($v) {
    $tw-invert: invert($v) !global;
    @include filter(get_filter());
  }
  x*/

  @each $rwd in $rwdBox {
    /*x
    @mixin #{$rwd}\:invert-($v) {
      $tw-invert: invert($v) !global;
      @include filter(get_filter(), $#{$rwd});
    }
    x*/
  }
}