@use "true" as *;
@use "../awaken" as *;

@include describe("12.Transforms") {
  @include describe("Perspective") {
    @include describe("Basic") {
      @include it("perspective-none") {
        @include assert {
          @include output {
            @include perspective-none;
            @include utils_reset;
          }

          @include expect {
            perspective: none;
          }
        }
      }

      @include it("perspective-dramatic") {
        @include assert {
          @include output {
            @include perspective-dramatic;
            @include utils_reset;
          }

          @include expect {
            perspective: 100px;
          }
        }
      }

      @include it("perspective-near") {
        @include assert {
          @include output {
            @include perspective-near;
            @include utils_reset;
          }

          @include expect {
            perspective: 300px;
          }
        }
      }

      @include it("perspective-normal") {
        @include assert {
          @include output {
            @include perspective-normal;
            @include utils_reset;
          }

          @include expect {
            perspective: 500px;
          }
        }
      }

      @include it("perspective-midrange") {
        @include assert {
          @include output {
            @include perspective-midrange;
            @include utils_reset;
          }

          @include expect {
            perspective: 800px;
          }
        }
      }

      @include it("perspective-distant") {
        @include assert {
          @include output {
            @include perspective-distant;
            @include utils_reset;
          }

          @include expect {
            perspective: 1200px;
          }
        }
      }
    }
  }
}
