@use "../../setting" as *;


$VerticalAlign: (
  "align-baseline": baseline,
  "align-top": top,
  "align-middle": middle,
  "align-bottom": bottom,
  "align-text-top": text-top,
  "align-text-bottom": text-bottom,
  "align-sub": sub,
  "align-super": super,
);

@if $Basic {
  @each $key, $value in $VerticalAlign {
    /*x
    @mixin #{$key} {
      @include vertical-align(#{$value});
    }
    x*/
  }
}

@if $Rwd and ($sizeMode ==0 or $sizeMode ==1) {
  @each $rwd in $rwdBox {
    @each $key, $value in $VerticalAlign {
      /*x
      @mixin #{$rwd}\:#{$key} {
        @include vertical-align(#{$value}, $#{$rwd});
      }
      x*/
    }
  }
}

@if $Custom {
  /*x
  @mixin align-($v) {
    @include vertical-align($v);
  }
  x*/

  @each $rwd in $rwdBox {
    /*x
    @mixin #{$rwd}\:align-($v) {
      @include vertical-align($v, $#{$rwd});
    }
    x*/
  }
}