@use "../../setting" as *;
@use "../../mode0" as *;
@use "true" as *;

@include describe("13.Interactivity") {
  @include describe("User Select") {
    @include describe("Basic") {
      @include it("select-none") {
        @include assert {
          @include output {
            @include select-none;
            @include clear;
          }

          @include expect {
            user-select: none;
          }
        }
      }

      @include it("select-text") {
        @include assert {
          @include output {
            @include select-text;
            @include clear;
          }

          @include expect {
            user-select: text;
          }
        }
      }

      @include it("select-all") {
        @include assert {
          @include output {
            @include select-all;
            @include clear;
          }

          @include expect {
            user-select: all;
          }
        }
      }

      @include it("select-auto") {
        @include assert {
          @include output {
            @include select-auto;
            @include clear;
          }

          @include expect {
            user-select: auto;
          }
        }
      }
    }

    @include describe("Rwd") {
      @include it("sm\:select-none") {
        @include assert {
          @include output {
            @include sm\:select-none;
            @include clear;
          }

          @include expect {
            @media (min-width: $sm) {
              user-select: none;
            }
          }
        }
      }

      @include it("sm\:select-text") {
        @include assert {
          @include output {
            @include sm\:select-text;
            @include clear;
          }

          @include expect {
            @media (min-width: $sm) {
              user-select: text;
            }
          }
        }
      }

      @include it("sm\:select-all") {
        @include assert {
          @include output {
            @include sm\:select-all;
            @include clear;
          }

          @include expect {
            @media (min-width: $sm) {
              user-select: all;
            }
          }
        }
      }

      @include it("sm\:select-auto") {
        @include assert {
          @include output {
            @include sm\:select-auto;
            @include clear;
          }

          @include expect {
            @media (min-width: $sm) {
              user-select: auto;
            }
          }
        }
      }

      @include it("md\:select-none") {
        @include assert {
          @include output {
            @include md\:select-none;
            @include clear;
          }

          @include expect {
            @media (min-width: $md) {
              user-select: none;
            }
          }
        }
      }

      @include it("md\:select-text") {
        @include assert {
          @include output {
            @include md\:select-text;
            @include clear;
          }

          @include expect {
            @media (min-width: $md) {
              user-select: text;
            }
          }
        }
      }

      @include it("md\:select-all") {
        @include assert {
          @include output {
            @include md\:select-all;
            @include clear;
          }

          @include expect {
            @media (min-width: $md) {
              user-select: all;
            }
          }
        }
      }

      @include it("md\:select-auto") {
        @include assert {
          @include output {
            @include md\:select-auto;
            @include clear;
          }

          @include expect {
            @media (min-width: $md) {
              user-select: auto;
            }
          }
        }
      }

      @include it("lg\:select-none") {
        @include assert {
          @include output {
            @include lg\:select-none;
            @include clear;
          }

          @include expect {
            @media (min-width: $lg) {
              user-select: none;
            }
          }
        }
      }

      @include it("lg\:select-text") {
        @include assert {
          @include output {
            @include lg\:select-text;
            @include clear;
          }

          @include expect {
            @media (min-width: $lg) {
              user-select: text;
            }
          }
        }
      }

      @include it("lg\:select-all") {
        @include assert {
          @include output {
            @include lg\:select-all;
            @include clear;
          }

          @include expect {
            @media (min-width: $lg) {
              user-select: all;
            }
          }
        }
      }

      @include it("lg\:select-auto") {
        @include assert {
          @include output {
            @include lg\:select-auto;
            @include clear;
          }

          @include expect {
            @media (min-width: $lg) {
              user-select: auto;
            }
          }
        }
      }

      @include it("xl\:select-none") {
        @include assert {
          @include output {
            @include xl\:select-none;
            @include clear;
          }

          @include expect {
            @media (min-width: $xl) {
              user-select: none;
            }
          }
        }
      }

      @include it("xl\:select-text") {
        @include assert {
          @include output {
            @include xl\:select-text;
            @include clear;
          }

          @include expect {
            @media (min-width: $xl) {
              user-select: text;
            }
          }
        }
      }

      @include it("xl\:select-all") {
        @include assert {
          @include output {
            @include xl\:select-all;
            @include clear;
          }

          @include expect {
            @media (min-width: $xl) {
              user-select: all;
            }
          }
        }
      }

      @include it("xl\:select-auto") {
        @include assert {
          @include output {
            @include xl\:select-auto;
            @include clear;
          }

          @include expect {
            @media (min-width: $xl) {
              user-select: auto;
            }
          }
        }
      }

      @include it("\2xl\:select-none") {
        @include assert {
          @include output {
            @include \2xl\:select-none;
            @include clear;
          }

          @include expect {
            @media (min-width: $\2xl) {
              user-select: none;
            }
          }
        }
      }

      @include it("\2xl\:select-text") {
        @include assert {
          @include output {
            @include \2xl\:select-text;
            @include clear;
          }

          @include expect {
            @media (min-width: $\2xl) {
              user-select: text;
            }
          }
        }
      }

      @include it("\2xl\:select-all") {
        @include assert {
          @include output {
            @include \2xl\:select-all;
            @include clear;
          }

          @include expect {
            @media (min-width: $\2xl) {
              user-select: all;
            }
          }
        }
      }

      @include it("\2xl\:select-auto") {
        @include assert {
          @include output {
            @include \2xl\:select-auto;
            @include clear;
          }

          @include expect {
            @media (min-width: $\2xl) {
              user-select: auto;
            }
          }
        }
      }
    }
  }
}
