@include describe('13.Interactivity') {
  @include describe('Scroll Snap Type') {
    @include describe('Basic') {
    }

    @include describe('Rwd') {
      @include it('sm\:snap-none') {
        @include assert {
          @include output {
            @include sm\:snap-none;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              scroll-snap-type: none;
            }
          }
        }
      }

      @include it('sm\:snap-x') {
        @include assert {
          @include output {
            @include sm\:snap-x;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              scroll-snap-type: x proximity;
            }
          }
        }
      }

      @include it('sm\:snap-y') {
        @include assert {
          @include output {
            @include sm\:snap-y;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              scroll-snap-type: y proximity;
            }
          }
        }
      }

      @include it('sm\:snap-both') {
        @include assert {
          @include output {
            @include sm\:snap-both;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              scroll-snap-type: both proximity;
            }
          }
        }
      }

      @include it('sm\:snap-mandatory') {
        @include assert {
          @include output {
            @include sm\:snap-mandatory;
            @include sm\:snap-x;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              scroll-snap-type: x mandatory;
            }
          }
        }
      }

      @include it('sm\:snap-proximity') {
        @include assert {
          @include output {
            @include sm\:snap-proximity;
            @include sm\:snap-x;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              scroll-snap-type: x proximity;
            }
          }
        }
      }

      @include it('md\:snap-none') {
        @include assert {
          @include output {
            @include md\:snap-none;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              scroll-snap-type: none;
            }
          }
        }
      }

      @include it('md\:snap-x') {
        @include assert {
          @include output {
            @include md\:snap-x;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              scroll-snap-type: x proximity;
            }
          }
        }
      }

      @include it('md\:snap-y') {
        @include assert {
          @include output {
            @include md\:snap-y;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              scroll-snap-type: y proximity;
            }
          }
        }
      }

      @include it('md\:snap-both') {
        @include assert {
          @include output {
            @include md\:snap-both;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              scroll-snap-type: both proximity;
            }
          }
        }
      }

      @include it('md\:snap-mandatory') {
        @include assert {
          @include output {
            @include md\:snap-mandatory;
            @include md\:snap-x;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              scroll-snap-type: x mandatory;
            }
          }
        }
      }

      @include it('md\:snap-proximity') {
        @include assert {
          @include output {
            @include md\:snap-proximity;
            @include md\:snap-x;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              scroll-snap-type: x proximity;
            }
          }
        }
      }

      @include it('lg\:snap-none') {
        @include assert {
          @include output {
            @include lg\:snap-none;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              scroll-snap-type: none;
            }
          }
        }
      }

      @include it('lg\:snap-x') {
        @include assert {
          @include output {
            @include lg\:snap-x;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              scroll-snap-type: x proximity;
            }
          }
        }
      }

      @include it('lg\:snap-y') {
        @include assert {
          @include output {
            @include lg\:snap-y;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              scroll-snap-type: y proximity;
            }
          }
        }
      }

      @include it('lg\:snap-both') {
        @include assert {
          @include output {
            @include lg\:snap-both;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              scroll-snap-type: both proximity;
            }
          }
        }
      }

      @include it('lg\:snap-mandatory') {
        @include assert {
          @include output {
            @include lg\:snap-mandatory;
            @include lg\:snap-x;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              scroll-snap-type: x mandatory;
            }
          }
        }
      }

      @include it('lg\:snap-proximity') {
        @include assert {
          @include output {
            @include lg\:snap-proximity;
            @include lg\:snap-x;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              scroll-snap-type: x proximity;
            }
          }
        }
      }

      @include it('xl\:snap-none') {
        @include assert {
          @include output {
            @include xl\:snap-none;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              scroll-snap-type: none;
            }
          }
        }
      }

      @include it('xl\:snap-x') {
        @include assert {
          @include output {
            @include xl\:snap-x;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              scroll-snap-type: x proximity;
            }
          }
        }
      }

      @include it('xl\:snap-y') {
        @include assert {
          @include output {
            @include xl\:snap-y;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              scroll-snap-type: y proximity;
            }
          }
        }
      }

      @include it('xl\:snap-both') {
        @include assert {
          @include output {
            @include xl\:snap-both;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              scroll-snap-type: both proximity;
            }
          }
        }
      }

      @include it('xl\:snap-mandatory') {
        @include assert {
          @include output {
            @include xl\:snap-mandatory;
            @include xl\:snap-x;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              scroll-snap-type: x mandatory;
            }
          }
        }
      }

      @include it('xl\:snap-proximity') {
        @include assert {
          @include output {
            @include xl\:snap-proximity;
            @include xl\:snap-x;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              scroll-snap-type: x proximity;
            }
          }
        }
      }

      @include it('2xl\:snap-none') {
        @include assert {
          @include output {
            @include \2xl\:snap-none;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              scroll-snap-type: none;
            }
          }
        }
      }

      @include it('2xl\:snap-x') {
        @include assert {
          @include output {
            @include \2xl\:snap-x;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              scroll-snap-type: x proximity;
            }
          }
        }
      }

      @include it('2xl\:snap-y') {
        @include assert {
          @include output {
            @include \2xl\:snap-y;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              scroll-snap-type: y proximity;
            }
          }
        }
      }

      @include it('2xl\:snap-both') {
        @include assert {
          @include output {
            @include \2xl\:snap-both;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              scroll-snap-type: both proximity;
            }
          }
        }
      }

      @include it('2xl\:snap-mandatory') {
        @include assert {
          @include output {
            @include \2xl\:snap-mandatory;
            @include \2xl\:snap-x;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              scroll-snap-type: x mandatory;
            }
          }
        }
      }

      @include it('2xl\:snap-proximity') {
        @include assert {
          @include output {
            @include \2xl\:snap-proximity;
            @include \2xl\:snap-x;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              scroll-snap-type: x proximity;
            }
          }
        }
      }
    }
  }
}
