@include describe('13.Interactivity') {
  @include describe('User Select') {
    @include describe('Basic') {
      @include it('select-none') {
        @include assert {
          @include output {
            @include select-none;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            user-select: none;
          }
        }
      }

      @include it('select-text') {
        @include assert {
          @include output {
            @include select-text;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            user-select: text;
          }
        }
      }

      @include it('select-all') {
        @include assert {
          @include output {
            @include select-all;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            user-select: all;
          }
        }
      }

      @include it('select-auto') {
        @include assert {
          @include output {
            @include select-auto;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            user-select: auto;
          }
        }
      }
    }

    @include describe('Rwd') {
      @include it('sm\:select-none') {
        @include assert {
          @include output {
            @include sm\:select-none;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              user-select: none;
            }
          }
        }
      }

      @include it('sm\:select-text') {
        @include assert {
          @include output {
            @include sm\:select-text;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              user-select: text;
            }
          }
        }
      }

      @include it('sm\:select-all') {
        @include assert {
          @include output {
            @include sm\:select-all;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              user-select: all;
            }
          }
        }
      }

      @include it('sm\:select-auto') {
        @include assert {
          @include output {
            @include sm\:select-auto;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              user-select: auto;
            }
          }
        }
      }

      @include it('md\:select-none') {
        @include assert {
          @include output {
            @include md\:select-none;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              user-select: none;
            }
          }
        }
      }

      @include it('md\:select-text') {
        @include assert {
          @include output {
            @include md\:select-text;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              user-select: text;
            }
          }
        }
      }

      @include it('md\:select-all') {
        @include assert {
          @include output {
            @include md\:select-all;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              user-select: all;
            }
          }
        }
      }

      @include it('md\:select-auto') {
        @include assert {
          @include output {
            @include md\:select-auto;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              user-select: auto;
            }
          }
        }
      }

      @include it('lg\:select-none') {
        @include assert {
          @include output {
            @include lg\:select-none;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              user-select: none;
            }
          }
        }
      }

      @include it('lg\:select-text') {
        @include assert {
          @include output {
            @include lg\:select-text;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              user-select: text;
            }
          }
        }
      }

      @include it('lg\:select-all') {
        @include assert {
          @include output {
            @include lg\:select-all;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              user-select: all;
            }
          }
        }
      }

      @include it('lg\:select-auto') {
        @include assert {
          @include output {
            @include lg\:select-auto;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              user-select: auto;
            }
          }
        }
      }

      @include it('xl\:select-none') {
        @include assert {
          @include output {
            @include xl\:select-none;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              user-select: none;
            }
          }
        }
      }

      @include it('xl\:select-text') {
        @include assert {
          @include output {
            @include xl\:select-text;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              user-select: text;
            }
          }
        }
      }

      @include it('xl\:select-all') {
        @include assert {
          @include output {
            @include xl\:select-all;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              user-select: all;
            }
          }
        }
      }

      @include it('xl\:select-auto') {
        @include assert {
          @include output {
            @include xl\:select-auto;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              user-select: auto;
            }
          }
        }
      }

      @include it('2xl\:select-none') {
        @include assert {
          @include output {
            @include \2xl\:select-none;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              user-select: none;
            }
          }
        }
      }

      @include it('2xl\:select-text') {
        @include assert {
          @include output {
            @include \2xl\:select-text;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              user-select: text;
            }
          }
        }
      }

      @include it('2xl\:select-all') {
        @include assert {
          @include output {
            @include \2xl\:select-all;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              user-select: all;
            }
          }
        }
      }

      @include it('2xl\:select-auto') {
        @include assert {
          @include output {
            @include \2xl\:select-auto;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              user-select: auto;
            }
          }
        }
      }
    }
  }
}
