$BorderSpacing: (
  '0': '$_0',
  'px': '$_px',
  '0\\.5': '$_0\\.5',
  '1': '$_1',
  '1\\.5': '$_1\\.5',
  '2': '$_2',
  '2\\.5': '$_2\\.5',
  '3': '$_3',
  '3\\.5': '$_3\\.5',
  '4': '$_4',
  '5': '$_5',
  '6': '$_6',
  '7': '$_7',
  '8': '$_8',
  '9': '$_9',
  '10': '$_10',
  '11': '$_11',
  '12': '$_12',
  '14': '$_14',
  '16': '$_16',
  '20': '$_20',
  '24': '$_24',
  '28': '$_28',
  '32': '$_32',
  '36': '$_36',
  '40': '$_40',
  '44': '$_44',
  '48': '$_48',
  '52': '$_52',
  '56': '$_56',
  '60': '$_60',
  '64': '$_64',
  '72': '$_72',
  '80': '$_80',
  '96': '$_96',
);

@if $isBasic {
  @each $key, $value in $BorderSpacing {
    /*x
    @mixin border-spacing-#{$key} {
      @include border-spacing((#{$value}) (#{$value}));
    }

    @mixin border-spacing-x-#{$key} {
      @include border-spacing((#{$value}) 0);
    }

    @mixin border-spacing-y-#{$key} {
      @include border-spacing(0 (#{$value}));
    }
    x*/
  }
}

@if $isRwd and $isClassic {
  @each $rwdToken, $rwd in $rwdBox {
    @each $key, $value in $BorderSpacing {
      /*x
      @mixin #{$rwdToken}\:border-spacing-#{$key} {
        @include border-spacing((#{$value}) (#{$value}), #{$rwd});
      }

      @mixin #{$rwdToken}\:border-spacing-x-#{$key} {
        @include border-spacing((#{$value}) 0, #{$rwd});
      }

      @mixin #{$rwdToken}\:border-spacing-y-#{$key} {
        @include border-spacing(0 (#{$value}), #{$rwd});
      }
      x*/
    }
  }
}

@if $isArbitrary {
  /*x
  @mixin border-spacing-($v) {
    @include border-spacing($v $v);
  }

  @mixin border-spacing-x-($v) {
    @include border-spacing($v 0);
  }

  @mixin border-spacing-y-($v) {
    @include border-spacing(0 $v);
  }
  x*/

  @each $rwdToken, $rwd in $rwdBox {
    /*x
    @mixin #{$rwdToken}\:border-spacing-($v) {
      @include border-spacing($v $v, #{$rwd});
    }

    @mixin #{$rwdToken}\:border-spacing-x-($v) {
      @include border-spacing($v 0, #{$rwd});
    }

    @mixin #{$rwdToken}\:border-spacing-y-($v) {
      @include border-spacing(0 $v, #{$rwd});
    }
    x*/
  }
}
