$TableLayout: (
  'table-auto': auto,
  'table-fixed': fixed,
);

@if $isBasic {
  @each $key, $value in $TableLayout {
    /*x
    @mixin #{$key} {
      @include table-layout(#{$value});
    }
    x*/
  }
}

@if $isRwd and (not $isAwaken) {
  @each $rwdToken, $rwd in $rwdBox {
    @each $key, $value in $TableLayout {
      /*x
      @mixin #{$rwdToken}\:#{$key} {
        @include table-layout(#{$value}, #{$rwd});
      }
      x*/
    }
  }
}
