@use "../../setting" as *;


$Grayscale: (
  "grayscale-0": grayscale(0),
  "grayscale": grayscale(100%)
);

@if $Basic {
  @each $key, $value in $Grayscale {
    /*x
    @mixin #{$key} {
      $tw-grayscale: #{$value} !global;
      @include filter(get_filter());
    }
    x*/
  }
}

@if $Rwd and ($sizeMode ==0 or $sizeMode ==1) {
  @each $rwd in $rwdBox {
    @each $key, $value in $Grayscale {
      /*x
      @mixin #{$rwd}\:#{$key} {
        $tw-grayscale: #{$value} !global;
        @include filter(get_filter(), $#{$rwd});
      }
      x*/
    }
  }
}

@if $Custom {
  /*x
  @mixin grayscale-($v) {
    $tw-grayscale: grayscale($v) !global;
    @include filter(get_filter());
  }
  x*/

  @each $rwd in $rwdBox {
    /*x
    @mixin #{$rwd}\:grayscale-($v) {
      $tw-grayscale: grayscale($v) !global;
      @include filter(get_filter(), $#{$rwd});
    }
    x*/
  }
}