@use "../../setting" as *;

$BackdropHueRotate: (
  "backdrop-hue-rotate-0": hue-rotate(0deg),
  "backdrop-hue-rotate-15": hue-rotate(15deg),
  "backdrop-hue-rotate-30": hue-rotate(30deg),
  "backdrop-hue-rotate-60": hue-rotate(60deg),
  "backdrop-hue-rotate-90": hue-rotate(90deg),
  "backdrop-hue-rotate-180": hue-rotate(180deg),
);

$NegativeBackdropHueRotate: (
  "\\-backdrop-hue-rotate-0": hue-rotate(0deg),
  "\\-backdrop-hue-rotate-15": hue-rotate(-15deg),
  "\\-backdrop-hue-rotate-30": hue-rotate(-30deg),
  "\\-backdrop-hue-rotate-60": hue-rotate(-60deg),
  "\\-backdrop-hue-rotate-90": hue-rotate(-90deg),
  "\\-backdrop-hue-rotate-180": hue-rotate(-180deg),
);

@if $QuickReference {
  @each $key, $value in $BackdropHueRotate {
    /*x
    @mixin #{$key} {
      --tw-backdrop-hue-rotate: #{$value};
      -webkit-backdrop-filter: _bf();
      backdrop-filter: _bf();
    }
    x*/
  }
}

@if $UsingNegativeValues {
  @if $QuickReference {
    @each $key, $value in $NegativeBackdropHueRotate {
      /*x
      @mixin #{$key} {
        --tw-backdrop-hue-rotate: #{$value};
        -webkit-backdrop-filter: _bf();
        backdrop-filter: _bf();
      }
      x*/
    }
  }

  @if $UsingACustomValue {
    /*x
    @mixin \-backdrop-hue-rotate-($v) {
      --tw-backdrop-hue-rotate: #/*x{hue-rotate(-$v)};
      -webkit-backdrop-filter: _bf();
      backdrop-filter: _bf();
    }
    x*/
  }
}

@if $UsingACustomValue {
  /*x
  @mixin backdrop-hue-rotate-($v) {
    --tw-backdrop-hue-rotate: #/*x{hue-rotate($v)};
    -webkit-backdrop-filter: _bf();
    backdrop-filter: _bf();
  }
  x*/
}
