@use "../../setting" as *;

$BackdropInvert: (
  "backdrop-invert": invert(100%),
  "backdrop-invert-0": invert(0%),
  "backdrop-invert-25": invert(25%),
  "backdrop-invert-50": invert(50%),
  "backdrop-invert-75": invert(75%),
  "backdrop-invert-100": invert(100%),
);

@if $QuickReference {
  @each $key, $value in $BackdropInvert {
    /*x
    @mixin #{$key} {
      --tw-backdrop-invert: #{$value};
      backdrop-filter: _bf();
    }
    x*/
  }
}

@if $UsingACustomValue {
  /*x
  @mixin backdrop-invert-($v) {
    --tw-backdrop-invert: invert(#/*X{$v});
    backdrop-filter: _bf();
  }
  x*/
}
