@use "../../setting" as *;

$Isolation: (
  "isolate": isolate,
  "isolation-auto": auto,
);

@if $Basic {
  @each $key, $value in $Isolation {
    /*x
    @mixin #{$key} {
      @include isolation(#{$value});
    }
    x*/
  }
}

@if $Rwd {
  @each $rwd in $rwdBox {
    @each $key, $value in $Isolation {
      /*x
      @mixin #{$rwd}\:#{$key} {
        @include isolation(#{$value}, $#{$rwd});
      }
      x*/
    }
  }
}