$BorderStyle: (
  'border-solid': solid,
  'border-dashed': dashed,
  'border-dotted': dotted,
  'border-double': double,
  'border-hidden': hidden,
  'border-none': none,
);

@if $isBasic {
  @each $key, $value in $BorderStyle {
    /*x
    @mixin #{$key}{
      @include border-style(#{$value});
    }
    x*/
  }
}

@if $isRwd and (not $isAwaken) {
  @each $rwdToken, $rwd in $rwdBox {
    @each $key, $value in $BorderStyle {
      /*x
      @mixin #{$rwdToken}\:#{$key}{
        @include border-style(#{$value}, #{$rwd});
      }
      x*/
    }
  }
}
