$data: (
  'outline-offset-0': 0px,
  'outline-offset-1': 1px,
  'outline-offset-2': 2px,
  'outline-offset-4': 4px,
  'outline-offset-8': 8px,
);

@if $isBasic {
  @each $key, $value in $data {
    /*x
    @mixin #{$key} {
      @include outline-offset(#{$value});
    }
    x*/
  }
}

@if $isArbitrary {
  /*x
  @mixin outline-offset-($v) {
    @include outline-offset($v);
  }
  x*/
}
