// 1st: outline
// 2nd: outline-offset
// 3rd: outline-style
$OutlineStyle: (
  'outline-none': (
    (2px solid transparent),
    2px,
    'null',
  ),
  'outline': (
    'null',
    'null',
    solid,
  ),
  'outline-dashed': (
    'null',
    'null',
    dashed,
  ),
  'outline-dotted': (
    'null',
    'null',
    dotted,
  ),
  'outline-double': (
    'null',
    'null',
    double,
  ),
);

@if $isBasic {
  @each $key, $value in $OutlineStyle {
    // atomic handle outline
    @if $key != 'outline' {
      /*x
      @mixin #{$key} {
        @include outline(#{list.nth($value, 1)});
        @include outline-offset(#{list.nth($value, 2)});
        @include outline-style(#{list.nth($value, 3)});
      }
      x*/
    }
  }
}

@if $isRwd and $isClassic {
  @each $rwdToken, $rwd in $rwdBox {
    @each $key, $value in $OutlineStyle {
      /*x
      @mixin #{$rwdToken}\:#{$key} {
        @include #{$rwdToken} {
          @include outline(#{list.nth($value, 1)});
          @include outline-offset(#{list.nth($value, 2)});
          @include outline-style(#{list.nth($value, 3)});
        }
      }
      x*/
    }
  }
}
