@use "../../setting" as *;



$TextWrap: (
  "text-wrap": wrap,
  "text-nowrap": nowrap,
  "text-balance": balance,
  "text-pretty": pretty,
);

@if $Basic {
  @each $key, $value in $TextWrap {
    /*x
    @mixin #{$key}{
      @include text-wrap(#{$value});
    }
    x*/
  }
}

@if $Rwd {
  @each $rwd in $rwdBox {
    @each $key, $value in $TextWrap {
      /*x
      @mixin #{$rwd}\:#{$key}{
        @include text-wrap(#{$value}, $#{$key});
      }
      x*/
    }
  }
}