@use "../../mode0" as *;
@use "true" as *;

@include describe("1.Layout") {
  @include describe("Container") {
    @include describe("Basic") {
      @include it("container") {
        @include assert {
          @include output {
            @include container;
          }

          @include expect {
            width: 100%;

            @media (min-width: 640px) {
              max-width: 640px;
            }

            @media (min-width: 768px) {
              max-width: 768px;
            }

            @media (min-width: 1024px) {
              max-width: 1024px;
            }

            @media (min-width: 1280px) {
              max-width: 1280px;
            }

            @media (min-width: 1536px) {
              max-width: 1536px;
            }
          }
        }
      }
    }

    @include describe("Rwd") {
      @include it("sm\:container") {
        @include assert {
          @include output {
            @include sm\:container;
          }

          @include expect {
            @media (min-width: $sm) {
              width: 100%;

              @media (min-width: 640px) {
                max-width: 640px;
              }

              @media (min-width: 768px) {
                max-width: 768px;
              }

              @media (min-width: 1024px) {
                max-width: 1024px;
              }

              @media (min-width: 1280px) {
                max-width: 1280px;
              }

              @media (min-width: 1536px) {
                max-width: 1536px;
              }
            }
          }
        }
      }

      @include it("md\:container") {
        @include assert {
          @include output {
            @include md\:container;
          }

          @include expect {
            @media (min-width: $md) {
              width: 100%;

              @media (min-width: 640px) {
                max-width: 640px;
              }

              @media (min-width: 768px) {
                max-width: 768px;
              }

              @media (min-width: 1024px) {
                max-width: 1024px;
              }

              @media (min-width: 1280px) {
                max-width: 1280px;
              }

              @media (min-width: 1536px) {
                max-width: 1536px;
              }
            }
          }
        }
      }

      @include it("lg\:container") {
        @include assert {
          @include output {
            @include lg\:container;
          }

          @include expect {
            @media (min-width: $lg) {
              width: 100%;

              @media (min-width: 640px) {
                max-width: 640px;
              }

              @media (min-width: 768px) {
                max-width: 768px;
              }

              @media (min-width: 1024px) {
                max-width: 1024px;
              }

              @media (min-width: 1280px) {
                max-width: 1280px;
              }

              @media (min-width: 1536px) {
                max-width: 1536px;
              }
            }
          }
        }
      }

      @include it("xl\:container") {
        @include assert {
          @include output {
            @include xl\:container;
          }

          @include expect {
            @media (min-width: $xl) {
              width: 100%;

              @media (min-width: 640px) {
                max-width: 640px;
              }

              @media (min-width: 768px) {
                max-width: 768px;
              }

              @media (min-width: 1024px) {
                max-width: 1024px;
              }

              @media (min-width: 1280px) {
                max-width: 1280px;
              }

              @media (min-width: 1536px) {
                max-width: 1536px;
              }
            }
          }
        }
      }

      @include it("\2xl\:container") {
        @include assert {
          @include output {
            @include \2xl\:container;
          }

          @include expect {
            @media (min-width: $\2xl) {
              width: 100%;

              @media (min-width: 640px) {
                max-width: 640px;
              }

              @media (min-width: 768px) {
                max-width: 768px;
              }

              @media (min-width: 1024px) {
                max-width: 1024px;
              }

              @media (min-width: 1280px) {
                max-width: 1280px;
              }

              @media (min-width: 1536px) {
                max-width: 1536px;
              }
            }
          }
        }
      }
    }
  }
}
