@use "../../setting" as *;


$JustifyItems: (
  "justify-items-start": start,
  "justify-items-end": end,
  "justify-items-center": center,
  "justify-items-stretch": stretch,
);

@if $Basic {
  @each $key, $value in $JustifyItems {
    /*x
    @mixin #{$key} {
      @include justify-items(#{$value});
    }
    x*/
  }
}

@if $Rwd {
  @each $rwd in $rwdBox {
    @each $key, $value in $JustifyItems {
      /*x
      @mixin #{$rwd}\:#{$key} {
        @include justify-items(#{$value}, $#{$rwd});
      }
      x*/
    }
  }
}