

@include describe('2.Flexbox & Grid') {
  @include describe('Align Items') {
    @include describe('Basic') {
      @include it('items-start') {
        @include assert {
          @include output {
            @include items-start;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            align-items: flex-start;
          }
        }
      }

      @include it('items-end') {
        @include assert {
          @include output {
            @include items-end;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            align-items: flex-end;
          }
        }
      }

      @include it('items-center') {
        @include assert {
          @include output {
            @include items-center;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            align-items: center;
          }
        }
      }

      @include it('items-baseline') {
        @include assert {
          @include output {
            @include items-baseline;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            align-items: baseline;
          }
        }
      }

      @include it('items-stretch') {
        @include assert {
          @include output {
            @include items-stretch;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            align-items: stretch;
          }
        }
      }
    }

    @include describe('Rwd') {
      @include it('sm\:items-start') {
        @include assert {
          @include output {
            @include sm\:items-start;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              align-items: flex-start;
            }
          }
        }
      }

      @include it('sm\:items-end') {
        @include assert {
          @include output {
            @include sm\:items-end;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              align-items: flex-end;
            }
          }
        }
      }

      @include it('sm\:items-center') {
        @include assert {
          @include output {
            @include sm\:items-center;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              align-items: center;
            }
          }
        }
      }

      @include it('sm\:items-baseline') {
        @include assert {
          @include output {
            @include sm\:items-baseline;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              align-items: baseline;
            }
          }
        }
      }

      @include it('sm\:items-stretch') {
        @include assert {
          @include output {
            @include sm\:items-stretch;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              align-items: stretch;
            }
          }
        }
      }

      @include it('md\:items-start') {
        @include assert {
          @include output {
            @include md\:items-start;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              align-items: flex-start;
            }
          }
        }
      }

      @include it('md\:items-end') {
        @include assert {
          @include output {
            @include md\:items-end;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              align-items: flex-end;
            }
          }
        }
      }

      @include it('md\:items-center') {
        @include assert {
          @include output {
            @include md\:items-center;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              align-items: center;
            }
          }
        }
      }

      @include it('md\:items-baseline') {
        @include assert {
          @include output {
            @include md\:items-baseline;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              align-items: baseline;
            }
          }
        }
      }

      @include it('md\:items-stretch') {
        @include assert {
          @include output {
            @include md\:items-stretch;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              align-items: stretch;
            }
          }
        }
      }

      @include it('lg\:items-start') {
        @include assert {
          @include output {
            @include lg\:items-start;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              align-items: flex-start;
            }
          }
        }
      }

      @include it('lg\:items-end') {
        @include assert {
          @include output {
            @include lg\:items-end;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              align-items: flex-end;
            }
          }
        }
      }

      @include it('lg\:items-center') {
        @include assert {
          @include output {
            @include lg\:items-center;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              align-items: center;
            }
          }
        }
      }

      @include it('lg\:items-baseline') {
        @include assert {
          @include output {
            @include lg\:items-baseline;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              align-items: baseline;
            }
          }
        }
      }

      @include it('lg\:items-stretch') {
        @include assert {
          @include output {
            @include lg\:items-stretch;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              align-items: stretch;
            }
          }
        }
      }

      @include it('xl\:items-start') {
        @include assert {
          @include output {
            @include xl\:items-start;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              align-items: flex-start;
            }
          }
        }
      }

      @include it('xl\:items-end') {
        @include assert {
          @include output {
            @include xl\:items-end;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              align-items: flex-end;
            }
          }
        }
      }

      @include it('xl\:items-center') {
        @include assert {
          @include output {
            @include xl\:items-center;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              align-items: center;
            }
          }
        }
      }

      @include it('xl\:items-baseline') {
        @include assert {
          @include output {
            @include xl\:items-baseline;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              align-items: baseline;
            }
          }
        }
      }

      @include it('xl\:items-stretch') {
        @include assert {
          @include output {
            @include xl\:items-stretch;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              align-items: stretch;
            }
          }
        }
      }

      @include it('2xl\:items-start') {
        @include assert {
          @include output {
            @include \2xl\:items-start;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              align-items: flex-start;
            }
          }
        }
      }

      @include it('2xl\:items-end') {
        @include assert {
          @include output {
            @include \2xl\:items-end;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              align-items: flex-end;
            }
          }
        }
      }

      @include it('2xl\:items-center') {
        @include assert {
          @include output {
            @include \2xl\:items-center;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              align-items: center;
            }
          }
        }
      }

      @include it('2xl\:items-baseline') {
        @include assert {
          @include output {
            @include \2xl\:items-baseline;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              align-items: baseline;
            }
          }
        }
      }

      @include it('2xl\:items-stretch') {
        @include assert {
          @include output {
            @include \2xl\:items-stretch;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              align-items: stretch;
            }
          }
        }
      }
    }
  }
}
