@use 'true' as *;
@use '../awaken' as *;

@include describe('2.Flexbox & Grid') {
  @include describe('Align Content') {
    @include describe('Basic') {
      @include it('content-normal') {
        @include assert {
          @include output {
            @include content-normal;
            @include utils_reset-tw;
          }

          @include expect {
            align-content: normal;
          }
        }
      }

      @include it('content-center') {
        @include assert {
          @include output {
            @include content-center;
            @include utils_reset-tw;
          }

          @include expect {
            align-content: center;
          }
        }
      }

      @include it('content-start') {
        @include assert {
          @include output {
            @include content-start;
            @include utils_reset-tw;
          }

          @include expect {
            align-content: flex-start;
          }
        }
      }

      @include it('content-end') {
        @include assert {
          @include output {
            @include content-end;
            @include utils_reset-tw;
          }

          @include expect {
            align-content: flex-end;
          }
        }
      }

      @include it('content-between') {
        @include assert {
          @include output {
            @include content-between;
            @include utils_reset-tw;
          }

          @include expect {
            align-content: space-between;
          }
        }
      }

      @include it('content-around') {
        @include assert {
          @include output {
            @include content-around;
            @include utils_reset-tw;
          }

          @include expect {
            align-content: space-around;
          }
        }
      }

      @include it('content-evenly') {
        @include assert {
          @include output {
            @include content-evenly;
            @include utils_reset-tw;
          }

          @include expect {
            align-content: space-evenly;
          }
        }
      }

      @include it('content-baseline') {
        @include assert {
          @include output {
            @include content-baseline;
            @include utils_reset-tw;
          }

          @include expect {
            align-content: baseline;
          }
        }
      }

      @include it('content-stretch') {
        @include assert {
          @include output {
            @include content-stretch;
            @include utils_reset-tw;
          }

          @include expect {
            align-content: stretch;
          }
        }
      }
    }
  }
}
