@include describe('2.Flexbox & Grid') {
  @include describe('Align Content') {
    @include describe('Basic') {
      @include it('content-normal') {
        @include assert {
          @include output {
            @include content-normal;
            @include utils_reset-tw-variables;
          }

          @include expect {
            align-content: normal;
          }
        }
      }

      @include it('content-center') {
        @include assert {
          @include output {
            @include content-center;
            @include utils_reset-tw-variables;
          }

          @include expect {
            align-content: center;
          }
        }
      }

      @include it('content-start') {
        @include assert {
          @include output {
            @include content-start;
            @include utils_reset-tw-variables;
          }

          @include expect {
            align-content: flex-start;
          }
        }
      }

      @include it('content-end') {
        @include assert {
          @include output {
            @include content-end;
            @include utils_reset-tw-variables;
          }

          @include expect {
            align-content: flex-end;
          }
        }
      }

      @include it('content-between') {
        @include assert {
          @include output {
            @include content-between;
            @include utils_reset-tw-variables;
          }

          @include expect {
            align-content: space-between;
          }
        }
      }

      @include it('content-around') {
        @include assert {
          @include output {
            @include content-around;
            @include utils_reset-tw-variables;
          }

          @include expect {
            align-content: space-around;
          }
        }
      }

      @include it('content-evenly') {
        @include assert {
          @include output {
            @include content-evenly;
            @include utils_reset-tw-variables;
          }

          @include expect {
            align-content: space-evenly;
          }
        }
      }

      @include it('content-baseline') {
        @include assert {
          @include output {
            @include content-baseline;
            @include utils_reset-tw-variables;
          }

          @include expect {
            align-content: baseline;
          }
        }
      }

      @include it('content-stretch') {
        @include assert {
          @include output {
            @include content-stretch;
            @include utils_reset-tw-variables;
          }

          @include expect {
            align-content: stretch;
          }
        }
      }
    }

    @include describe('Rwd') {
      @include it('sm\:content-normal') {
        @include assert {
          @include output {
            @include sm\:content-normal;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              align-content: normal;
            }
          }
        }
      }

      @include it('sm\:content-center') {
        @include assert {
          @include output {
            @include sm\:content-center;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              align-content: center;
            }
          }
        }
      }

      @include it('sm\:content-start') {
        @include assert {
          @include output {
            @include sm\:content-start;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              align-content: flex-start;
            }
          }
        }
      }

      @include it('sm\:content-end') {
        @include assert {
          @include output {
            @include sm\:content-end;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              align-content: flex-end;
            }
          }
        }
      }

      @include it('sm\:content-between') {
        @include assert {
          @include output {
            @include sm\:content-between;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              align-content: space-between;
            }
          }
        }
      }

      @include it('sm\:content-around') {
        @include assert {
          @include output {
            @include sm\:content-around;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              align-content: space-around;
            }
          }
        }
      }

      @include it('sm\:content-evenly') {
        @include assert {
          @include output {
            @include sm\:content-evenly;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              align-content: space-evenly;
            }
          }
        }
      }

      @include it('sm\:content-baseline') {
        @include assert {
          @include output {
            @include sm\:content-baseline;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              align-content: baseline;
            }
          }
        }
      }

      @include it('sm\:content-stretch') {
        @include assert {
          @include output {
            @include sm\:content-stretch;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              align-content: stretch;
            }
          }
        }
      }

      @include it('md\:content-normal') {
        @include assert {
          @include output {
            @include md\:content-normal;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              align-content: normal;
            }
          }
        }
      }

      @include it('md\:content-center') {
        @include assert {
          @include output {
            @include md\:content-center;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              align-content: center;
            }
          }
        }
      }

      @include it('md\:content-start') {
        @include assert {
          @include output {
            @include md\:content-start;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              align-content: flex-start;
            }
          }
        }
      }

      @include it('md\:content-end') {
        @include assert {
          @include output {
            @include md\:content-end;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              align-content: flex-end;
            }
          }
        }
      }

      @include it('md\:content-between') {
        @include assert {
          @include output {
            @include md\:content-between;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              align-content: space-between;
            }
          }
        }
      }

      @include it('md\:content-around') {
        @include assert {
          @include output {
            @include md\:content-around;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              align-content: space-around;
            }
          }
        }
      }

      @include it('md\:content-evenly') {
        @include assert {
          @include output {
            @include md\:content-evenly;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              align-content: space-evenly;
            }
          }
        }
      }

      @include it('md\:content-baseline') {
        @include assert {
          @include output {
            @include md\:content-baseline;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              align-content: baseline;
            }
          }
        }
      }

      @include it('md\:content-stretch') {
        @include assert {
          @include output {
            @include md\:content-stretch;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              align-content: stretch;
            }
          }
        }
      }

      @include it('lg\:content-normal') {
        @include assert {
          @include output {
            @include lg\:content-normal;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              align-content: normal;
            }
          }
        }
      }

      @include it('lg\:content-center') {
        @include assert {
          @include output {
            @include lg\:content-center;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              align-content: center;
            }
          }
        }
      }

      @include it('lg\:content-start') {
        @include assert {
          @include output {
            @include lg\:content-start;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              align-content: flex-start;
            }
          }
        }
      }

      @include it('lg\:content-end') {
        @include assert {
          @include output {
            @include lg\:content-end;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              align-content: flex-end;
            }
          }
        }
      }

      @include it('lg\:content-between') {
        @include assert {
          @include output {
            @include lg\:content-between;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              align-content: space-between;
            }
          }
        }
      }

      @include it('lg\:content-around') {
        @include assert {
          @include output {
            @include lg\:content-around;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              align-content: space-around;
            }
          }
        }
      }

      @include it('lg\:content-evenly') {
        @include assert {
          @include output {
            @include lg\:content-evenly;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              align-content: space-evenly;
            }
          }
        }
      }

      @include it('lg\:content-baseline') {
        @include assert {
          @include output {
            @include lg\:content-baseline;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              align-content: baseline;
            }
          }
        }
      }

      @include it('lg\:content-stretch') {
        @include assert {
          @include output {
            @include lg\:content-stretch;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              align-content: stretch;
            }
          }
        }
      }

      @include it('xl\:content-normal') {
        @include assert {
          @include output {
            @include xl\:content-normal;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              align-content: normal;
            }
          }
        }
      }

      @include it('xl\:content-center') {
        @include assert {
          @include output {
            @include xl\:content-center;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              align-content: center;
            }
          }
        }
      }

      @include it('xl\:content-start') {
        @include assert {
          @include output {
            @include xl\:content-start;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              align-content: flex-start;
            }
          }
        }
      }

      @include it('xl\:content-end') {
        @include assert {
          @include output {
            @include xl\:content-end;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              align-content: flex-end;
            }
          }
        }
      }

      @include it('xl\:content-between') {
        @include assert {
          @include output {
            @include xl\:content-between;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              align-content: space-between;
            }
          }
        }
      }

      @include it('xl\:content-around') {
        @include assert {
          @include output {
            @include xl\:content-around;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              align-content: space-around;
            }
          }
        }
      }

      @include it('xl\:content-evenly') {
        @include assert {
          @include output {
            @include xl\:content-evenly;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              align-content: space-evenly;
            }
          }
        }
      }

      @include it('xl\:content-baseline') {
        @include assert {
          @include output {
            @include xl\:content-baseline;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              align-content: baseline;
            }
          }
        }
      }

      @include it('xl\:content-stretch') {
        @include assert {
          @include output {
            @include xl\:content-stretch;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              align-content: stretch;
            }
          }
        }
      }

      @include it('2xl\:content-normal') {
        @include assert {
          @include output {
            @include \2xl\:content-normal;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              align-content: normal;
            }
          }
        }
      }

      @include it('2xl\:content-center') {
        @include assert {
          @include output {
            @include \2xl\:content-center;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              align-content: center;
            }
          }
        }
      }

      @include it('2xl\:content-start') {
        @include assert {
          @include output {
            @include \2xl\:content-start;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              align-content: flex-start;
            }
          }
        }
      }

      @include it('2xl\:content-end') {
        @include assert {
          @include output {
            @include \2xl\:content-end;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              align-content: flex-end;
            }
          }
        }
      }

      @include it('2xl\:content-between') {
        @include assert {
          @include output {
            @include \2xl\:content-between;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              align-content: space-between;
            }
          }
        }
      }

      @include it('2xl\:content-around') {
        @include assert {
          @include output {
            @include \2xl\:content-around;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              align-content: space-around;
            }
          }
        }
      }

      @include it('2xl\:content-evenly') {
        @include assert {
          @include output {
            @include \2xl\:content-evenly;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              align-content: space-evenly;
            }
          }
        }
      }

      @include it('2xl\:content-baseline') {
        @include assert {
          @include output {
            @include \2xl\:content-baseline;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              align-content: baseline;
            }
          }
        }
      }

      @include it('2xl\:content-stretch') {
        @include assert {
          @include output {
            @include \2xl\:content-stretch;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              align-content: stretch;
            }
          }
        }
      }
    }
  }
}
