@include describe('2.Flexbox & Grid') {
  @include describe('Align Self') {
    @include describe('Basic') {
      @include it('self-auto') {
        @include assert {
          @include output {
            @include self-auto;
            @include utils_reset-tw-variables;
          }

          @include expect {
            align-self: auto;
          }
        }
      }

      @include it('self-start') {
        @include assert {
          @include output {
            @include self-start;
            @include utils_reset-tw-variables;
          }

          @include expect {
            align-self: flex-start;
          }
        }
      }

      @include it('self-end') {
        @include assert {
          @include output {
            @include self-end;
            @include utils_reset-tw-variables;
          }

          @include expect {
            align-self: flex-end;
          }
        }
      }

      @include it('self-center') {
        @include assert {
          @include output {
            @include self-center;
            @include utils_reset-tw-variables;
          }

          @include expect {
            align-self: center;
          }
        }
      }

      @include it('self-stretch') {
        @include assert {
          @include output {
            @include self-stretch;
            @include utils_reset-tw-variables;
          }

          @include expect {
            align-self: stretch;
          }
        }
      }

      @include it('self-baseline') {
        @include assert {
          @include output {
            @include self-baseline;
            @include utils_reset-tw-variables;
          }

          @include expect {
            align-self: baseline;
          }
        }
      }
    }
    @include describe('Rwd') {
      @include it('sm\:self-auto') {
        @include assert {
          @include output {
            @include sm\:self-auto;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              align-self: auto;
            }
          }
        }
      }

      @include it('sm\:self-start') {
        @include assert {
          @include output {
            @include sm\:self-start;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              align-self: flex-start;
            }
          }
        }
      }

      @include it('sm\:self-end') {
        @include assert {
          @include output {
            @include sm\:self-end;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              align-self: flex-end;
            }
          }
        }
      }

      @include it('sm\:self-center') {
        @include assert {
          @include output {
            @include sm\:self-center;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              align-self: center;
            }
          }
        }
      }

      @include it('sm\:self-stretch') {
        @include assert {
          @include output {
            @include sm\:self-stretch;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              align-self: stretch;
            }
          }
        }
      }

      @include it('sm\:self-baseline') {
        @include assert {
          @include output {
            @include sm\:self-baseline;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              align-self: baseline;
            }
          }
        }
      }
      @include it('md\:self-auto') {
        @include assert {
          @include output {
            @include md\:self-auto;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              align-self: auto;
            }
          }
        }
      }

      @include it('md\:self-start') {
        @include assert {
          @include output {
            @include md\:self-start;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              align-self: flex-start;
            }
          }
        }
      }

      @include it('md\:self-end') {
        @include assert {
          @include output {
            @include md\:self-end;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              align-self: flex-end;
            }
          }
        }
      }

      @include it('md\:self-center') {
        @include assert {
          @include output {
            @include md\:self-center;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              align-self: center;
            }
          }
        }
      }

      @include it('md\:self-stretch') {
        @include assert {
          @include output {
            @include md\:self-stretch;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              align-self: stretch;
            }
          }
        }
      }

      @include it('md\:self-baseline') {
        @include assert {
          @include output {
            @include md\:self-baseline;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              align-self: baseline;
            }
          }
        }
      }
      @include it('lg\:self-auto') {
        @include assert {
          @include output {
            @include lg\:self-auto;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              align-self: auto;
            }
          }
        }
      }

      @include it('lg\:self-start') {
        @include assert {
          @include output {
            @include lg\:self-start;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              align-self: flex-start;
            }
          }
        }
      }

      @include it('lg\:self-end') {
        @include assert {
          @include output {
            @include lg\:self-end;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              align-self: flex-end;
            }
          }
        }
      }

      @include it('lg\:self-center') {
        @include assert {
          @include output {
            @include lg\:self-center;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              align-self: center;
            }
          }
        }
      }

      @include it('lg\:self-stretch') {
        @include assert {
          @include output {
            @include lg\:self-stretch;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              align-self: stretch;
            }
          }
        }
      }

      @include it('lg\:self-baseline') {
        @include assert {
          @include output {
            @include lg\:self-baseline;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              align-self: baseline;
            }
          }
        }
      }
      @include it('xl\:self-auto') {
        @include assert {
          @include output {
            @include xl\:self-auto;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              align-self: auto;
            }
          }
        }
      }

      @include it('xl\:self-start') {
        @include assert {
          @include output {
            @include xl\:self-start;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              align-self: flex-start;
            }
          }
        }
      }

      @include it('xl\:self-end') {
        @include assert {
          @include output {
            @include xl\:self-end;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              align-self: flex-end;
            }
          }
        }
      }

      @include it('xl\:self-center') {
        @include assert {
          @include output {
            @include xl\:self-center;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              align-self: center;
            }
          }
        }
      }

      @include it('xl\:self-stretch') {
        @include assert {
          @include output {
            @include xl\:self-stretch;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              align-self: stretch;
            }
          }
        }
      }

      @include it('xl\:self-baseline') {
        @include assert {
          @include output {
            @include xl\:self-baseline;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              align-self: baseline;
            }
          }
        }
      }
      @include it('2xl\:self-auto') {
        @include assert {
          @include output {
            @include \2xl\:self-auto;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xxl) {
              align-self: auto;
            }
          }
        }
      }

      @include it('2xl\:self-start') {
        @include assert {
          @include output {
            @include \2xl\:self-start;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xxl) {
              align-self: flex-start;
            }
          }
        }
      }

      @include it('2xl\:self-end') {
        @include assert {
          @include output {
            @include \2xl\:self-end;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xxl) {
              align-self: flex-end;
            }
          }
        }
      }

      @include it('2xl\:self-center') {
        @include assert {
          @include output {
            @include \2xl\:self-center;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xxl) {
              align-self: center;
            }
          }
        }
      }

      @include it('2xl\:self-stretch') {
        @include assert {
          @include output {
            @include \2xl\:self-stretch;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xxl) {
              align-self: stretch;
            }
          }
        }
      }

      @include it('2xl\:self-baseline') {
        @include assert {
          @include output {
            @include \2xl\:self-baseline;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xxl) {
              align-self: baseline;
            }
          }
        }
      }
    }
  }
}
