@include describe('2.Flexbox & Grid') {
  @include describe('Flex') {
    @include describe('Basic') {
      @include it('flex-1') {
        @include assert {
          @include output {
            @include flex-1;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            flex: 1 1 0%;
          }
        }
      }

      @include it('flex-auto') {
        @include assert {
          @include output {
            @include flex-auto;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            flex: 1 1 auto;
          }
        }
      }

      @include it('flex-initial') {
        @include assert {
          @include output {
            @include flex-initial;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            flex: 0 1 auto;
          }
        }
      }

      @include it('flex-none') {
        @include assert {
          @include output {
            @include flex-none;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            flex: none;
          }
        }
      }
    }

    @include describe('Rwd') {
      @include it('sm\:flex-1') {
        @include assert {
          @include output {
            @include sm\:flex-1;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              flex: 1 1 0%;
            }
          }
        }
      }

      @include it('sm\:flex-auto') {
        @include assert {
          @include output {
            @include sm\:flex-auto;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              flex: 1 1 auto;
            }
          }
        }
      }

      @include it('sm\:flex-initial') {
        @include assert {
          @include output {
            @include sm\:flex-initial;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              flex: 0 1 auto;
            }
          }
        }
      }

      @include it('sm\:flex-none') {
        @include assert {
          @include output {
            @include sm\:flex-none;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              flex: none;
            }
          }
        }
      }

      @include it('md\:flex-1') {
        @include assert {
          @include output {
            @include md\:flex-1;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              flex: 1 1 0%;
            }
          }
        }
      }

      @include it('md\:flex-auto') {
        @include assert {
          @include output {
            @include md\:flex-auto;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              flex: 1 1 auto;
            }
          }
        }
      }

      @include it('md\:flex-initial') {
        @include assert {
          @include output {
            @include md\:flex-initial;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              flex: 0 1 auto;
            }
          }
        }
      }

      @include it('md\:flex-none') {
        @include assert {
          @include output {
            @include md\:flex-none;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              flex: none;
            }
          }
        }
      }

      @include it('lg\:flex-1') {
        @include assert {
          @include output {
            @include lg\:flex-1;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              flex: 1 1 0%;
            }
          }
        }
      }

      @include it('lg\:flex-auto') {
        @include assert {
          @include output {
            @include lg\:flex-auto;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              flex: 1 1 auto;
            }
          }
        }
      }

      @include it('lg\:flex-initial') {
        @include assert {
          @include output {
            @include lg\:flex-initial;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              flex: 0 1 auto;
            }
          }
        }
      }

      @include it('lg\:flex-none') {
        @include assert {
          @include output {
            @include lg\:flex-none;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              flex: none;
            }
          }
        }
      }

      @include it('xl\:flex-1') {
        @include assert {
          @include output {
            @include xl\:flex-1;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              flex: 1 1 0%;
            }
          }
        }
      }

      @include it('xl\:flex-auto') {
        @include assert {
          @include output {
            @include xl\:flex-auto;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              flex: 1 1 auto;
            }
          }
        }
      }

      @include it('xl\:flex-initial') {
        @include assert {
          @include output {
            @include xl\:flex-initial;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              flex: 0 1 auto;
            }
          }
        }
      }

      @include it('xl\:flex-none') {
        @include assert {
          @include output {
            @include xl\:flex-none;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              flex: none;
            }
          }
        }
      }

      @include it('2xl\:flex-1') {
        @include assert {
          @include output {
            @include \2xl\:flex-1;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              flex: 1 1 0%;
            }
          }
        }
      }

      @include it('2xl\:flex-auto') {
        @include assert {
          @include output {
            @include \2xl\:flex-auto;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              flex: 1 1 auto;
            }
          }
        }
      }

      @include it('2xl\:flex-initial') {
        @include assert {
          @include output {
            @include \2xl\:flex-initial;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              flex: 0 1 auto;
            }
          }
        }
      }

      @include it('2xl\:flex-none') {
        @include assert {
          @include output {
            @include \2xl\:flex-none;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              flex: none;
            }
          }
        }
      }
    }

    @include describe('Custom') {
      @include it('flex-(2 2 0%)') {
        @include assert {
          @include output {
            @include flex-(2 2 0%);
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            flex: 2 2 0%;
          }
        }
      }

      @include it('sm\:flex-(2 2 0%)') {
        @include assert {
          @include output {
            @include sm\:flex-(2 2 0%);
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              flex: 2 2 0%;
            }
          }
        }
      }

      @include it('md\:flex-(2 2 0%)') {
        @include assert {
          @include output {
            @include md\:flex-(2 2 0%);
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              flex: 2 2 0%;
            }
          }
        }
      }

      @include it('lg\:flex-(2 2 0%)') {
        @include assert {
          @include output {
            @include lg\:flex-(2 2 0%);
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              flex: 2 2 0%;
            }
          }
        }
      }

      @include it('xl\:flex-(2 2 0%)') {
        @include assert {
          @include output {
            @include xl\:flex-(2 2 0%);
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              flex: 2 2 0%;
            }
          }
        }
      }

      @include it('2xl\:flex-(2 2 0%)') {
        @include assert {
          @include output {
            @include \2xl\:flex-(2 2 0%);
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              flex: 2 2 0%;
            }
          }
        }
      }
    }
  }
}
