@include describe('2.Flexbox & Grid') {
  @include describe('Flex Wrap') {
    @include describe('Basic') {
      @include it('flex-wrap') {
        @include assert {
          @include output {
            @include flex-wrap;
            @include utils_reset-tw;
          }

          @include expect {
            flex-wrap: wrap;
          }
        }
      }

      @include it('flex-wrap-reverse') {
        @include assert {
          @include output {
            @include flex-wrap-reverse;
            @include utils_reset-tw;
          }

          @include expect {
            flex-wrap: wrap-reverse;
          }
        }
      }

      @include it('flex-nowrap') {
        @include assert {
          @include output {
            @include flex-nowrap;
            @include utils_reset-tw;
          }

          @include expect {
            flex-wrap: nowrap;
          }
        }
      }
    }
  }
}
