@include describe('2.Flexbox & Grid') {
  @include describe('Flex Wrap') {
    @include describe('Basic') {
      @include it('flex-wrap') {
        @include assert {
          @include output {
            @include flex-wrap;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            flex-wrap: wrap;
          }
        }
      }

      @include it('flex-wrap-reverse') {
        @include assert {
          @include output {
            @include flex-wrap-reverse;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            flex-wrap: wrap-reverse;
          }
        }
      }

      @include it('flex-nowrap') {
        @include assert {
          @include output {
            @include flex-nowrap;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            flex-wrap: nowrap;
          }
        }
      }
    }

    @include describe('Rwd') {
      @include it('sm\:flex-wrap') {
        @include assert {
          @include output {
            @include sm\:flex-wrap;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              flex-wrap: wrap;
            }
          }
        }
      }

      @include it('sm\:flex-wrap-reverse') {
        @include assert {
          @include output {
            @include sm\:flex-wrap-reverse;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              flex-wrap: wrap-reverse;
            }
          }
        }
      }

      @include it('sm\:flex-nowrap') {
        @include assert {
          @include output {
            @include sm\:flex-nowrap;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              flex-wrap: nowrap;
            }
          }
        }
      }

      @include it('md\:flex-wrap') {
        @include assert {
          @include output {
            @include md\:flex-wrap;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              flex-wrap: wrap;
            }
          }
        }
      }

      @include it('md\:flex-wrap-reverse') {
        @include assert {
          @include output {
            @include md\:flex-wrap-reverse;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              flex-wrap: wrap-reverse;
            }
          }
        }
      }

      @include it('md\:flex-nowrap') {
        @include assert {
          @include output {
            @include md\:flex-nowrap;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              flex-wrap: nowrap;
            }
          }
        }
      }

      @include it('lg\:flex-wrap') {
        @include assert {
          @include output {
            @include lg\:flex-wrap;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              flex-wrap: wrap;
            }
          }
        }
      }

      @include it('lg\:flex-wrap-reverse') {
        @include assert {
          @include output {
            @include lg\:flex-wrap-reverse;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              flex-wrap: wrap-reverse;
            }
          }
        }
      }

      @include it('lg\:flex-nowrap') {
        @include assert {
          @include output {
            @include lg\:flex-nowrap;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              flex-wrap: nowrap;
            }
          }
        }
      }

      @include it('xl\:flex-wrap') {
        @include assert {
          @include output {
            @include xl\:flex-wrap;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              flex-wrap: wrap;
            }
          }
        }
      }

      @include it('xl\:flex-wrap-reverse') {
        @include assert {
          @include output {
            @include xl\:flex-wrap-reverse;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              flex-wrap: wrap-reverse;
            }
          }
        }
      }

      @include it('xl\:flex-nowrap') {
        @include assert {
          @include output {
            @include xl\:flex-nowrap;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              flex-wrap: nowrap;
            }
          }
        }
      }

      @include it('2xl\:flex-wrap') {
        @include assert {
          @include output {
            @include \2xl\:flex-wrap;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              flex-wrap: wrap;
            }
          }
        }
      }

      @include it('2xl\:flex-wrap-reverse') {
        @include assert {
          @include output {
            @include \2xl\:flex-wrap-reverse;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              flex-wrap: wrap-reverse;
            }
          }
        }
      }

      @include it('2xl\:flex-nowrap') {
        @include assert {
          @include output {
            @include \2xl\:flex-nowrap;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              flex-wrap: nowrap;
            }
          }
        }
      }
    }
  }
}
