@include describe('2.Flexbox & Grid') {
  @include describe('Flex Grow') {
    @include describe('Basic') {
      @include it('grow') {
        @include assert {
          @include output {
            @include grow;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            flex-grow: 1;
          }
        }
      }

      @include it('grow-0') {
        @include assert {
          @include output {
            @include grow-0;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            flex-grow: 0;
          }
        }
      }
    }

    @include describe('Rwd') {
      @include it('sm\:grow') {
        @include assert {
          @include output {
            @include sm\:grow;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              flex-grow: 1;
            }
          }
        }
      }

      @include it('sm\:grow-0') {
        @include assert {
          @include output {
            @include sm\:grow-0;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              flex-grow: 0;
            }
          }
        }
      }
      @include it('md\:grow') {
        @include assert {
          @include output {
            @include md\:grow;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              flex-grow: 1;
            }
          }
        }
      }

      @include it('md\:grow-0') {
        @include assert {
          @include output {
            @include md\:grow-0;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              flex-grow: 0;
            }
          }
        }
      }
      @include it('lg\:grow') {
        @include assert {
          @include output {
            @include lg\:grow;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              flex-grow: 1;
            }
          }
        }
      }

      @include it('lg\:grow-0') {
        @include assert {
          @include output {
            @include lg\:grow-0;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              flex-grow: 0;
            }
          }
        }
      }
      @include it('xl\:grow') {
        @include assert {
          @include output {
            @include xl\:grow;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              flex-grow: 1;
            }
          }
        }
      }

      @include it('xl\:grow-0') {
        @include assert {
          @include output {
            @include xl\:grow-0;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              flex-grow: 0;
            }
          }
        }
      }
      @include it('2xl\:grow') {
        @include assert {
          @include output {
            @include \2xl\:grow;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              flex-grow: 1;
            }
          }
        }
      }

      @include it('2xl\:grow-0') {
        @include assert {
          @include output {
            @include \2xl\:grow-0;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              flex-grow: 0;
            }
          }
        }
      }
    }

    @include describe('Custom') {
      @include it('grow-(2)') {
        @include assert {
          @include output {
            @include grow-(2);
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            flex-grow: 2;
          }
        }
      }

      @include it('sm\:grow-(2)') {
        @include assert {
          @include output {
            @include sm\:grow-(2);
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              flex-grow: 2;
            }
          }
        }
      }

      @include it('md\:grow-(2)') {
        @include assert {
          @include output {
            @include md\:grow-(2);
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              flex-grow: 2;
            }
          }
        }
      }

      @include it('lg\:grow-(2)') {
        @include assert {
          @include output {
            @include lg\:grow-(2);
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              flex-grow: 2;
            }
          }
        }
      }

      @include it('xl\:grow-(2)') {
        @include assert {
          @include output {
            @include xl\:grow-(2);
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              flex-grow: 2;
            }
          }
        }
      }

      @include it('2xl\:grow-(2)') {
        @include assert {
          @include output {
            @include \2xl\:grow-(2);
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              flex-grow: 2;
            }
          }
        }
      }
    }
  }
}
