@include describe('2.Flexbox & Grid') {
  @include describe('Flex Shrink') {
    @include describe('Basic') {
      @include it('shrink') {
        @include assert {
          @include output {
            @include shrink;
            @include utils__reset-tw-variables;
          }

          @include expect {
            flex-shrink: 1;
          }
        }
      }

      @include it('shrink-0') {
        @include assert {
          @include output {
            @include shrink-0;
            @include utils__reset-tw-variables;
          }

          @include expect {
            flex-shrink: 0;
          }
        }
      }
    }

    @include describe('Rwd') {
      @include it('sm\:shrink') {
        @include assert {
          @include output {
            @include sm\:shrink;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              flex-shrink: 1;
            }
          }
        }
      }

      @include it('sm\:shrink-0') {
        @include assert {
          @include output {
            @include sm\:shrink-0;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              flex-shrink: 0;
            }
          }
        }
      }

      @include it('md\:shrink') {
        @include assert {
          @include output {
            @include md\:shrink;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              flex-shrink: 1;
            }
          }
        }
      }

      @include it('md\:shrink-0') {
        @include assert {
          @include output {
            @include md\:shrink-0;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              flex-shrink: 0;
            }
          }
        }
      }

      @include it('lg\:shrink') {
        @include assert {
          @include output {
            @include lg\:shrink;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              flex-shrink: 1;
            }
          }
        }
      }

      @include it('lg\:shrink-0') {
        @include assert {
          @include output {
            @include lg\:shrink-0;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              flex-shrink: 0;
            }
          }
        }
      }

      @include it('xl\:shrink') {
        @include assert {
          @include output {
            @include xl\:shrink;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              flex-shrink: 1;
            }
          }
        }
      }

      @include it('xl\:shrink-0') {
        @include assert {
          @include output {
            @include xl\:shrink-0;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              flex-shrink: 0;
            }
          }
        }
      }

      @include it('2xl\:shrink') {
        @include assert {
          @include output {
            @include \2xl\:shrink;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              flex-shrink: 1;
            }
          }
        }
      }

      @include it('2xl\:shrink-0') {
        @include assert {
          @include output {
            @include \2xl\:shrink-0;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              flex-shrink: 0;
            }
          }
        }
      }
    }

    @include describe('Custom') {
      @include it('shrink-(2)') {
        @include assert {
          @include output {
            @include shrink-(2);
            @include utils__reset-tw-variables;
          }

          @include expect {
            flex-shrink: 2;
          }
        }
      }

      @include it('sm\:shrink-(2)') {
        @include assert {
          @include output {
            @include sm\:shrink-(2);
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              flex-shrink: 2;
            }
          }
        }
      }

      @include it('md\:shrink-(2)') {
        @include assert {
          @include output {
            @include md\:shrink-(2);
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              flex-shrink: 2;
            }
          }
        }
      }

      @include it('lg\:shrink-(2)') {
        @include assert {
          @include output {
            @include lg\:shrink-(2);
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              flex-shrink: 2;
            }
          }
        }
      }

      @include it('xl\:shrink-(2)') {
        @include assert {
          @include output {
            @include xl\:shrink-(2);
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              flex-shrink: 2;
            }
          }
        }
      }

      @include it('2xl\:shrink-(2)') {
        @include assert {
          @include output {
            @include \2xl\:shrink-(2);
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              flex-shrink: 2;
            }
          }
        }
      }
    }
  }
}
