@use 'true' as *;
@use '../awaken' as *;

@include describe('2.Flexbox & Grid') {
  @include describe('Flex Grow') {
    @include describe('Basic') {
      @include it('grow') {
        @include assert {
          @include output {
            @include grow;
            @include utils_reset-tw;
          }

          @include expect {
            flex-grow: 1;
          }
        }
      }

      @include it('grow-0') {
        @include assert {
          @include output {
            @include grow-0;
            @include utils_reset-tw;
          }

          @include expect {
            flex-grow: 0;
          }
        }
      }
    }

    @include describe('Custom') {
      @include it('grow-(2)') {
        @include assert {
          @include output {
            @include grow-(2);
            @include utils_reset-tw;
          }

          @include expect {
            flex-grow: 2;
          }
        }
      }
    }
  }
}
