

@include describe('2.Flexbox & Grid') {
  @include describe('Grid Auto Columns') {
    @include describe('Basic') {
      @include it('auto-cols-auto') {
        @include assert {
          @include output {
            @include auto-cols-auto;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            grid-auto-columns: auto;
          }
        }
      }

      @include it('auto-cols-min') {
        @include assert {
          @include output {
            @include auto-cols-min;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            grid-auto-columns: min-content;
          }
        }
      }

      @include it('auto-cols-max') {
        @include assert {
          @include output {
            @include auto-cols-max;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            grid-auto-columns: max-content;
          }
        }
      }

      @include it('auto-cols-fr') {
        @include assert {
          @include output {
            @include auto-cols-fr;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            grid-auto-columns: minmax(0, 1fr);
          }
        }
      }
    }

    @include describe('Rwd') {
      @include it('sm\:auto-cols-auto') {
        @include assert {
          @include output {
            @include sm\:auto-cols-auto;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              grid-auto-columns: auto;
            }
          }
        }
      }

      @include it('sm\:auto-cols-min') {
        @include assert {
          @include output {
            @include sm\:auto-cols-min;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              grid-auto-columns: min-content;
            }
          }
        }
      }

      @include it('sm\:auto-cols-max') {
        @include assert {
          @include output {
            @include sm\:auto-cols-max;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              grid-auto-columns: max-content;
            }
          }
        }
      }

      @include it('sm\:auto-cols-fr') {
        @include assert {
          @include output {
            @include sm\:auto-cols-fr;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              grid-auto-columns: minmax(0, 1fr);
            }
          }
        }
      }
      @include it('md\:auto-cols-auto') {
        @include assert {
          @include output {
            @include md\:auto-cols-auto;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              grid-auto-columns: auto;
            }
          }
        }
      }

      @include it('md\:auto-cols-min') {
        @include assert {
          @include output {
            @include md\:auto-cols-min;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              grid-auto-columns: min-content;
            }
          }
        }
      }

      @include it('md\:auto-cols-max') {
        @include assert {
          @include output {
            @include md\:auto-cols-max;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              grid-auto-columns: max-content;
            }
          }
        }
      }

      @include it('md\:auto-cols-fr') {
        @include assert {
          @include output {
            @include md\:auto-cols-fr;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              grid-auto-columns: minmax(0, 1fr);
            }
          }
        }
      }
      @include it('lg\:auto-cols-auto') {
        @include assert {
          @include output {
            @include lg\:auto-cols-auto;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              grid-auto-columns: auto;
            }
          }
        }
      }

      @include it('lg\:auto-cols-min') {
        @include assert {
          @include output {
            @include lg\:auto-cols-min;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              grid-auto-columns: min-content;
            }
          }
        }
      }

      @include it('lg\:auto-cols-max') {
        @include assert {
          @include output {
            @include lg\:auto-cols-max;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              grid-auto-columns: max-content;
            }
          }
        }
      }

      @include it('lg\:auto-cols-fr') {
        @include assert {
          @include output {
            @include lg\:auto-cols-fr;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              grid-auto-columns: minmax(0, 1fr);
            }
          }
        }
      }
      @include it('xl\:auto-cols-auto') {
        @include assert {
          @include output {
            @include xl\:auto-cols-auto;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              grid-auto-columns: auto;
            }
          }
        }
      }

      @include it('xl\:auto-cols-min') {
        @include assert {
          @include output {
            @include xl\:auto-cols-min;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              grid-auto-columns: min-content;
            }
          }
        }
      }

      @include it('xl\:auto-cols-max') {
        @include assert {
          @include output {
            @include xl\:auto-cols-max;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              grid-auto-columns: max-content;
            }
          }
        }
      }

      @include it('xl\:auto-cols-fr') {
        @include assert {
          @include output {
            @include xl\:auto-cols-fr;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              grid-auto-columns: minmax(0, 1fr);
            }
          }
        }
      }
      @include it('2xl\:auto-cols-auto') {
        @include assert {
          @include output {
            @include \2xl\:auto-cols-auto;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_2xl) {
              grid-auto-columns: auto;
            }
          }
        }
      }

      @include it('2xl\:auto-cols-min') {
        @include assert {
          @include output {
            @include \2xl\:auto-cols-min;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_2xl) {
              grid-auto-columns: min-content;
            }
          }
        }
      }

      @include it('2xl\:auto-cols-max') {
        @include assert {
          @include output {
            @include \2xl\:auto-cols-max;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_2xl) {
              grid-auto-columns: max-content;
            }
          }
        }
      }

      @include it('2xl\:auto-cols-fr') {
        @include assert {
          @include output {
            @include \2xl\:auto-cols-fr;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_2xl) {
              grid-auto-columns: minmax(0, 1fr);
            }
          }
        }
      }
    }

    @include describe('Custom') {
      @include it('auto-cols-(minmax(0,_2fr))') {
        @include assert {
          @include output {
            @include auto-cols-(minmax(0, _2fr));
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            grid-auto-columns: minmax(0, _2fr);
          }
        }
      }

      @include it('sm\:auto-cols-(minmax(0,_2fr))') {
        @include assert {
          @include output {
            @include sm\:auto-cols-(minmax(0, _2fr));
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              grid-auto-columns: minmax(0, _2fr);
            }
          }
        }
      }

      @include it('md\:auto-cols-(minmax(0,_2fr))') {
        @include assert {
          @include output {
            @include md\:auto-cols-(minmax(0, _2fr));
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              grid-auto-columns: minmax(0, _2fr);
            }
          }
        }
      }

      @include it('lg\:auto-cols-(minmax(0,_2fr))') {
        @include assert {
          @include output {
            @include lg\:auto-cols-(minmax(0, _2fr));
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              grid-auto-columns: minmax(0, _2fr);
            }
          }
        }
      }

      @include it('xl\:auto-cols-(minmax(0,_2fr))') {
        @include assert {
          @include output {
            @include xl\:auto-cols-(minmax(0, _2fr));
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              grid-auto-columns: minmax(0, _2fr);
            }
          }
        }
      }

      @include it('2xl\:auto-cols-(minmax(0,_2fr))') {
        @include assert {
          @include output {
            @include \2xl\:auto-cols-(minmax(0, _2fr));
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_2xl) {
              grid-auto-columns: minmax(0, _2fr);
            }
          }
        }
      }
    }
  }
}
