@include describe('2.Flexbox & Grid') {
  @include describe('Justify Content') {
    @include describe('Basic') {
      @include it('justify-normal') {
        @include assert {
          @include output {
            @include justify-normal;
            @include utils__reset-tw-variables;
          }

          @include expect {
            justify-content: normal;
          }
        }
      }

      @include it('justify-start') {
        @include assert {
          @include output {
            @include justify-start;
            @include utils__reset-tw-variables;
          }

          @include expect {
            justify-content: flex-start;
          }
        }
      }

      @include it('justify-end') {
        @include assert {
          @include output {
            @include justify-end;
            @include utils__reset-tw-variables;
          }

          @include expect {
            justify-content: flex-end;
          }
        }
      }

      @include it('justify-center') {
        @include assert {
          @include output {
            @include justify-center;
            @include utils__reset-tw-variables;
          }

          @include expect {
            justify-content: center;
          }
        }
      }

      @include it('justify-between') {
        @include assert {
          @include output {
            @include justify-between;
            @include utils__reset-tw-variables;
          }

          @include expect {
            justify-content: space-between;
          }
        }
      }

      @include it('justify-around') {
        @include assert {
          @include output {
            @include justify-around;
            @include utils__reset-tw-variables;
          }

          @include expect {
            justify-content: space-around;
          }
        }
      }

      @include it('justify-evenly') {
        @include assert {
          @include output {
            @include justify-evenly;
            @include utils__reset-tw-variables;
          }

          @include expect {
            justify-content: space-evenly;
          }
        }
      }

      @include it('justify-stretch') {
        @include assert {
          @include output {
            @include justify-stretch;
            @include utils__reset-tw-variables;
          }

          @include expect {
            justify-content: stretch;
          }
        }
      }
    }

    @include describe('Rwd') {
      @include it('sm\:justify-normal') {
        @include assert {
          @include output {
            @include sm\:justify-normal;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              justify-content: normal;
            }
          }
        }
      }

      @include it('sm\:justify-start') {
        @include assert {
          @include output {
            @include sm\:justify-start;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              justify-content: flex-start;
            }
          }
        }
      }

      @include it('sm\:justify-end') {
        @include assert {
          @include output {
            @include sm\:justify-end;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              justify-content: flex-end;
            }
          }
        }
      }

      @include it('sm\:justify-center') {
        @include assert {
          @include output {
            @include sm\:justify-center;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              justify-content: center;
            }
          }
        }
      }

      @include it('sm\:justify-between') {
        @include assert {
          @include output {
            @include sm\:justify-between;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              justify-content: space-between;
            }
          }
        }
      }

      @include it('sm\:justify-around') {
        @include assert {
          @include output {
            @include sm\:justify-around;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              justify-content: space-around;
            }
          }
        }
      }

      @include it('sm\:justify-evenly') {
        @include assert {
          @include output {
            @include sm\:justify-evenly;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              justify-content: space-evenly;
            }
          }
        }
      }

      @include it('sm\:justify-stretch') {
        @include assert {
          @include output {
            @include sm\:justify-stretch;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              justify-content: stretch;
            }
          }
        }
      }

      @include it('md\:justify-normal') {
        @include assert {
          @include output {
            @include md\:justify-normal;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              justify-content: normal;
            }
          }
        }
      }

      @include it('md\:justify-start') {
        @include assert {
          @include output {
            @include md\:justify-start;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              justify-content: flex-start;
            }
          }
        }
      }

      @include it('md\:justify-end') {
        @include assert {
          @include output {
            @include md\:justify-end;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              justify-content: flex-end;
            }
          }
        }
      }

      @include it('md\:justify-center') {
        @include assert {
          @include output {
            @include md\:justify-center;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              justify-content: center;
            }
          }
        }
      }

      @include it('md\:justify-between') {
        @include assert {
          @include output {
            @include md\:justify-between;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              justify-content: space-between;
            }
          }
        }
      }

      @include it('md\:justify-around') {
        @include assert {
          @include output {
            @include md\:justify-around;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              justify-content: space-around;
            }
          }
        }
      }

      @include it('md\:justify-evenly') {
        @include assert {
          @include output {
            @include md\:justify-evenly;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              justify-content: space-evenly;
            }
          }
        }
      }

      @include it('md\:justify-stretch') {
        @include assert {
          @include output {
            @include md\:justify-stretch;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              justify-content: stretch;
            }
          }
        }
      }

      @include it('lg\:justify-normal') {
        @include assert {
          @include output {
            @include lg\:justify-normal;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              justify-content: normal;
            }
          }
        }
      }

      @include it('lg\:justify-start') {
        @include assert {
          @include output {
            @include lg\:justify-start;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              justify-content: flex-start;
            }
          }
        }
      }

      @include it('lg\:justify-end') {
        @include assert {
          @include output {
            @include lg\:justify-end;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              justify-content: flex-end;
            }
          }
        }
      }

      @include it('lg\:justify-center') {
        @include assert {
          @include output {
            @include lg\:justify-center;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              justify-content: center;
            }
          }
        }
      }

      @include it('lg\:justify-between') {
        @include assert {
          @include output {
            @include lg\:justify-between;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              justify-content: space-between;
            }
          }
        }
      }

      @include it('lg\:justify-around') {
        @include assert {
          @include output {
            @include lg\:justify-around;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              justify-content: space-around;
            }
          }
        }
      }

      @include it('lg\:justify-evenly') {
        @include assert {
          @include output {
            @include lg\:justify-evenly;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              justify-content: space-evenly;
            }
          }
        }
      }

      @include it('lg\:justify-stretch') {
        @include assert {
          @include output {
            @include lg\:justify-stretch;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              justify-content: stretch;
            }
          }
        }
      }

      @include it('xl\:justify-normal') {
        @include assert {
          @include output {
            @include xl\:justify-normal;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              justify-content: normal;
            }
          }
        }
      }

      @include it('xl\:justify-start') {
        @include assert {
          @include output {
            @include xl\:justify-start;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              justify-content: flex-start;
            }
          }
        }
      }

      @include it('xl\:justify-end') {
        @include assert {
          @include output {
            @include xl\:justify-end;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              justify-content: flex-end;
            }
          }
        }
      }

      @include it('xl\:justify-center') {
        @include assert {
          @include output {
            @include xl\:justify-center;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              justify-content: center;
            }
          }
        }
      }

      @include it('xl\:justify-between') {
        @include assert {
          @include output {
            @include xl\:justify-between;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              justify-content: space-between;
            }
          }
        }
      }

      @include it('xl\:justify-around') {
        @include assert {
          @include output {
            @include xl\:justify-around;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              justify-content: space-around;
            }
          }
        }
      }

      @include it('xl\:justify-evenly') {
        @include assert {
          @include output {
            @include xl\:justify-evenly;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              justify-content: space-evenly;
            }
          }
        }
      }

      @include it('xl\:justify-stretch') {
        @include assert {
          @include output {
            @include xl\:justify-stretch;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              justify-content: stretch;
            }
          }
        }
      }

      @include it('2xl\:justify-normal') {
        @include assert {
          @include output {
            @include \2xl\:justify-normal;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              justify-content: normal;
            }
          }
        }
      }

      @include it('2xl\:justify-start') {
        @include assert {
          @include output {
            @include \2xl\:justify-start;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              justify-content: flex-start;
            }
          }
        }
      }

      @include it('2xl\:justify-end') {
        @include assert {
          @include output {
            @include \2xl\:justify-end;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              justify-content: flex-end;
            }
          }
        }
      }

      @include it('2xl\:justify-center') {
        @include assert {
          @include output {
            @include \2xl\:justify-center;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              justify-content: center;
            }
          }
        }
      }

      @include it('2xl\:justify-between') {
        @include assert {
          @include output {
            @include \2xl\:justify-between;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              justify-content: space-between;
            }
          }
        }
      }

      @include it('2xl\:justify-around') {
        @include assert {
          @include output {
            @include \2xl\:justify-around;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              justify-content: space-around;
            }
          }
        }
      }

      @include it('2xl\:justify-evenly') {
        @include assert {
          @include output {
            @include \2xl\:justify-evenly;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              justify-content: space-evenly;
            }
          }
        }
      }

      @include it('2xl\:justify-stretch') {
        @include assert {
          @include output {
            @include \2xl\:justify-stretch;
            @include utils__reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              justify-content: stretch;
            }
          }
        }
      }
    }
  }
}
