@include describe('2.Flexbox & Grid') {
  @include describe('Justify Items') {
    @include describe('Basic') {
      @include it('justify-items-start') {
        @include assert {
          @include output {
            @include justify-items-start;
            @include utils_reset-tw-variables;
          }

          @include expect {
            justify-items: start;
          }
        }
      }

      @include it('justify-items-end') {
        @include assert {
          @include output {
            @include justify-items-end;
            @include utils_reset-tw-variables;
          }

          @include expect {
            justify-items: end;
          }
        }
      }

      @include it('justify-items-center') {
        @include assert {
          @include output {
            @include justify-items-center;
            @include utils_reset-tw-variables;
          }

          @include expect {
            justify-items: center;
          }
        }
      }

      @include it('justify-items-stretch') {
        @include assert {
          @include output {
            @include justify-items-stretch;
            @include utils_reset-tw-variables;
          }

          @include expect {
            justify-items: stretch;
          }
        }
      }
    }

    @include describe('Rwd') {
      @include it('sm\:justify-items-start') {
        @include assert {
          @include output {
            @include sm\:justify-items-start;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              justify-items: start;
            }
          }
        }
      }

      @include it('sm\:justify-items-end') {
        @include assert {
          @include output {
            @include sm\:justify-items-end;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              justify-items: end;
            }
          }
        }
      }

      @include it('sm\:justify-items-center') {
        @include assert {
          @include output {
            @include sm\:justify-items-center;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              justify-items: center;
            }
          }
        }
      }

      @include it('sm\:justify-items-stretch') {
        @include assert {
          @include output {
            @include sm\:justify-items-stretch;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              justify-items: stretch;
            }
          }
        }
      }

      @include it('md\:justify-items-start') {
        @include assert {
          @include output {
            @include md\:justify-items-start;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              justify-items: start;
            }
          }
        }
      }

      @include it('md\:justify-items-end') {
        @include assert {
          @include output {
            @include md\:justify-items-end;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              justify-items: end;
            }
          }
        }
      }

      @include it('md\:justify-items-center') {
        @include assert {
          @include output {
            @include md\:justify-items-center;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              justify-items: center;
            }
          }
        }
      }

      @include it('md\:justify-items-stretch') {
        @include assert {
          @include output {
            @include md\:justify-items-stretch;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              justify-items: stretch;
            }
          }
        }
      }

      @include it('lg\:justify-items-start') {
        @include assert {
          @include output {
            @include lg\:justify-items-start;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              justify-items: start;
            }
          }
        }
      }

      @include it('lg\:justify-items-end') {
        @include assert {
          @include output {
            @include lg\:justify-items-end;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              justify-items: end;
            }
          }
        }
      }

      @include it('lg\:justify-items-center') {
        @include assert {
          @include output {
            @include lg\:justify-items-center;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              justify-items: center;
            }
          }
        }
      }

      @include it('lg\:justify-items-stretch') {
        @include assert {
          @include output {
            @include lg\:justify-items-stretch;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              justify-items: stretch;
            }
          }
        }
      }

      @include it('xl\:justify-items-start') {
        @include assert {
          @include output {
            @include xl\:justify-items-start;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              justify-items: start;
            }
          }
        }
      }

      @include it('xl\:justify-items-end') {
        @include assert {
          @include output {
            @include xl\:justify-items-end;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              justify-items: end;
            }
          }
        }
      }

      @include it('xl\:justify-items-center') {
        @include assert {
          @include output {
            @include xl\:justify-items-center;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              justify-items: center;
            }
          }
        }
      }

      @include it('xl\:justify-items-stretch') {
        @include assert {
          @include output {
            @include xl\:justify-items-stretch;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              justify-items: stretch;
            }
          }
        }
      }

      @include it('2xl\:justify-items-start') {
        @include assert {
          @include output {
            @include \2xl\:justify-items-start;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              justify-items: start;
            }
          }
        }
      }

      @include it('2xl\:justify-items-end') {
        @include assert {
          @include output {
            @include \2xl\:justify-items-end;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              justify-items: end;
            }
          }
        }
      }

      @include it('2xl\:justify-items-center') {
        @include assert {
          @include output {
            @include \2xl\:justify-items-center;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              justify-items: center;
            }
          }
        }
      }

      @include it('2xl\:justify-items-stretch') {
        @include assert {
          @include output {
            @include \2xl\:justify-items-stretch;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              justify-items: stretch;
            }
          }
        }
      }
    }
  }
}
