@include describe('2.Flexbox & Grid') {
  @include describe('Justify Content') {
    @include describe('Basic') {
      @include it('justify-normal') {
        @include assert {
          @include output {
            @include justify-normal;
            @include utils_reset-tw;
          }

          @include expect {
            justify-content: normal;
          }
        }
      }

      @include it('justify-start') {
        @include assert {
          @include output {
            @include justify-start;
            @include utils_reset-tw;
          }

          @include expect {
            justify-content: flex-start;
          }
        }
      }

      @include it('justify-end') {
        @include assert {
          @include output {
            @include justify-end;
            @include utils_reset-tw;
          }

          @include expect {
            justify-content: flex-end;
          }
        }
      }

      @include it('justify-center') {
        @include assert {
          @include output {
            @include justify-center;
            @include utils_reset-tw;
          }

          @include expect {
            justify-content: center;
          }
        }
      }

      @include it('justify-between') {
        @include assert {
          @include output {
            @include justify-between;
            @include utils_reset-tw;
          }

          @include expect {
            justify-content: space-between;
          }
        }
      }

      @include it('justify-around') {
        @include assert {
          @include output {
            @include justify-around;
            @include utils_reset-tw;
          }

          @include expect {
            justify-content: space-around;
          }
        }
      }

      @include it('justify-evenly') {
        @include assert {
          @include output {
            @include justify-evenly;
            @include utils_reset-tw;
          }

          @include expect {
            justify-content: space-evenly;
          }
        }
      }

      @include it('justify-stretch') {
        @include assert {
          @include output {
            @include justify-stretch;
            @include utils_reset-tw;
          }

          @include expect {
            justify-content: stretch;
          }
        }
      }
    }
  }
}
