

@include describe('2.Flexbox & Grid') {
  @include describe('Place Items') {
    @include describe('Basic') {
      @include it('place-items-start') {
        @include assert {
          @include output {
            @include place-items-start;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            place-items: start;
          }
        }
      }

      @include it('place-items-end') {
        @include assert {
          @include output {
            @include place-items-end;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            place-items: end;
          }
        }
      }

      @include it('place-items-center') {
        @include assert {
          @include output {
            @include place-items-center;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            place-items: center;
          }
        }
      }

      @include it('place-items-baseline') {
        @include assert {
          @include output {
            @include place-items-baseline;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            place-items: baseline;
          }
        }
      }

      @include it('place-items-stretch') {
        @include assert {
          @include output {
            @include place-items-stretch;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            place-items: stretch;
          }
        }
      }
    }

    @include describe('Rwd') {
      @include it('sm\:place-items-start') {
        @include assert {
          @include output {
            @include sm\:place-items-start;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              place-items: start;
            }
          }
        }
      }

      @include it('sm\:place-items-end') {
        @include assert {
          @include output {
            @include sm\:place-items-end;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              place-items: end;
            }
          }
        }
      }

      @include it('sm\:place-items-center') {
        @include assert {
          @include output {
            @include sm\:place-items-center;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              place-items: center;
            }
          }
        }
      }

      @include it('sm\:place-items-baseline') {
        @include assert {
          @include output {
            @include sm\:place-items-baseline;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              place-items: baseline;
            }
          }
        }
      }

      @include it('sm\:place-items-stretch') {
        @include assert {
          @include output {
            @include sm\:place-items-stretch;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              place-items: stretch;
            }
          }
        }
      }

      @include it('md\:place-items-start') {
        @include assert {
          @include output {
            @include md\:place-items-start;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              place-items: start;
            }
          }
        }
      }

      @include it('md\:place-items-end') {
        @include assert {
          @include output {
            @include md\:place-items-end;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              place-items: end;
            }
          }
        }
      }

      @include it('md\:place-items-center') {
        @include assert {
          @include output {
            @include md\:place-items-center;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              place-items: center;
            }
          }
        }
      }

      @include it('md\:place-items-baseline') {
        @include assert {
          @include output {
            @include md\:place-items-baseline;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              place-items: baseline;
            }
          }
        }
      }

      @include it('md\:place-items-stretch') {
        @include assert {
          @include output {
            @include md\:place-items-stretch;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              place-items: stretch;
            }
          }
        }
      }

      @include it('lg\:place-items-start') {
        @include assert {
          @include output {
            @include lg\:place-items-start;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              place-items: start;
            }
          }
        }
      }

      @include it('lg\:place-items-end') {
        @include assert {
          @include output {
            @include lg\:place-items-end;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              place-items: end;
            }
          }
        }
      }

      @include it('lg\:place-items-center') {
        @include assert {
          @include output {
            @include lg\:place-items-center;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              place-items: center;
            }
          }
        }
      }

      @include it('lg\:place-items-baseline') {
        @include assert {
          @include output {
            @include lg\:place-items-baseline;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              place-items: baseline;
            }
          }
        }
      }

      @include it('lg\:place-items-stretch') {
        @include assert {
          @include output {
            @include lg\:place-items-stretch;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              place-items: stretch;
            }
          }
        }
      }

      @include it('xl\:place-items-start') {
        @include assert {
          @include output {
            @include xl\:place-items-start;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              place-items: start;
            }
          }
        }
      }

      @include it('xl\:place-items-end') {
        @include assert {
          @include output {
            @include xl\:place-items-end;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              place-items: end;
            }
          }
        }
      }

      @include it('xl\:place-items-center') {
        @include assert {
          @include output {
            @include xl\:place-items-center;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              place-items: center;
            }
          }
        }
      }

      @include it('xl\:place-items-baseline') {
        @include assert {
          @include output {
            @include xl\:place-items-baseline;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              place-items: baseline;
            }
          }
        }
      }

      @include it('xl\:place-items-stretch') {
        @include assert {
          @include output {
            @include xl\:place-items-stretch;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              place-items: stretch;
            }
          }
        }
      }

      @include it('2xl\:place-items-start') {
        @include assert {
          @include output {
            @include \2xl\:place-items-start;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              place-items: start;
            }
          }
        }
      }

      @include it('2xl\:place-items-end') {
        @include assert {
          @include output {
            @include \2xl\:place-items-end;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              place-items: end;
            }
          }
        }
      }

      @include it('2xl\:place-items-center') {
        @include assert {
          @include output {
            @include \2xl\:place-items-center;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              place-items: center;
            }
          }
        }
      }

      @include it('2xl\:place-items-baseline') {
        @include assert {
          @include output {
            @include \2xl\:place-items-baseline;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              place-items: baseline;
            }
          }
        }
      }

      @include it('2xl\:place-items-stretch') {
        @include assert {
          @include output {
            @include \2xl\:place-items-stretch;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              place-items: stretch;
            }
          }
        }
      }
    }
  }
}
