

@include describe('2.Flexbox & Grid') {
  @include describe('Place Self') {
    @include describe('Basic') {
      @include it('place-self-auto') {
        @include assert {
          @include output {
            @include place-self-auto;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            place-self: auto;
          }
        }
      }

      @include it('place-self-start') {
        @include assert {
          @include output {
            @include place-self-start;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            place-self: start;
          }
        }
      }

      @include it('place-self-end') {
        @include assert {
          @include output {
            @include place-self-end;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            place-self: end;
          }
        }
      }

      @include it('place-self-center') {
        @include assert {
          @include output {
            @include place-self-center;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            place-self: center;
          }
        }
      }

      @include it('place-self-stretch') {
        @include assert {
          @include output {
            @include place-self-stretch;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            place-self: stretch;
          }
        }
      }
    }

    @include describe('Rwd') {
      @include it('sm\:place-self-auto') {
        @include assert {
          @include output {
            @include sm\:place-self-auto;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              place-self: auto;
            }
          }
        }
      }

      @include it('sm\:place-self-start') {
        @include assert {
          @include output {
            @include sm\:place-self-start;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              place-self: start;
            }
          }
        }
      }

      @include it('sm\:place-self-end') {
        @include assert {
          @include output {
            @include sm\:place-self-end;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              place-self: end;
            }
          }
        }
      }

      @include it('sm\:place-self-center') {
        @include assert {
          @include output {
            @include sm\:place-self-center;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              place-self: center;
            }
          }
        }
      }

      @include it('sm\:place-self-stretch') {
        @include assert {
          @include output {
            @include sm\:place-self-stretch;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              place-self: stretch;
            }
          }
        }
      }

      @include it('md\:place-self-auto') {
        @include assert {
          @include output {
            @include md\:place-self-auto;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              place-self: auto;
            }
          }
        }
      }

      @include it('md\:place-self-start') {
        @include assert {
          @include output {
            @include md\:place-self-start;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              place-self: start;
            }
          }
        }
      }

      @include it('md\:place-self-end') {
        @include assert {
          @include output {
            @include md\:place-self-end;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              place-self: end;
            }
          }
        }
      }

      @include it('md\:place-self-center') {
        @include assert {
          @include output {
            @include md\:place-self-center;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              place-self: center;
            }
          }
        }
      }

      @include it('md\:place-self-stretch') {
        @include assert {
          @include output {
            @include md\:place-self-stretch;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              place-self: stretch;
            }
          }
        }
      }

      @include it('lg\:place-self-auto') {
        @include assert {
          @include output {
            @include lg\:place-self-auto;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              place-self: auto;
            }
          }
        }
      }

      @include it('lg\:place-self-start') {
        @include assert {
          @include output {
            @include lg\:place-self-start;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              place-self: start;
            }
          }
        }
      }

      @include it('lg\:place-self-end') {
        @include assert {
          @include output {
            @include lg\:place-self-end;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              place-self: end;
            }
          }
        }
      }

      @include it('lg\:place-self-center') {
        @include assert {
          @include output {
            @include lg\:place-self-center;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              place-self: center;
            }
          }
        }
      }

      @include it('lg\:place-self-stretch') {
        @include assert {
          @include output {
            @include lg\:place-self-stretch;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              place-self: stretch;
            }
          }
        }
      }

      @include it('xl\:place-self-auto') {
        @include assert {
          @include output {
            @include xl\:place-self-auto;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              place-self: auto;
            }
          }
        }
      }

      @include it('xl\:place-self-start') {
        @include assert {
          @include output {
            @include xl\:place-self-start;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              place-self: start;
            }
          }
        }
      }

      @include it('xl\:place-self-end') {
        @include assert {
          @include output {
            @include xl\:place-self-end;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              place-self: end;
            }
          }
        }
      }

      @include it('xl\:place-self-center') {
        @include assert {
          @include output {
            @include xl\:place-self-center;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              place-self: center;
            }
          }
        }
      }

      @include it('xl\:place-self-stretch') {
        @include assert {
          @include output {
            @include xl\:place-self-stretch;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              place-self: stretch;
            }
          }
        }
      }

      @include it('2xl\:place-self-auto') {
        @include assert {
          @include output {
            @include \2xl\:place-self-auto;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_2xl) {
              place-self: auto;
            }
          }
        }
      }

      @include it('2xl\:place-self-start') {
        @include assert {
          @include output {
            @include \2xl\:place-self-start;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_2xl) {
              place-self: start;
            }
          }
        }
      }

      @include it('2xl\:place-self-end') {
        @include assert {
          @include output {
            @include \2xl\:place-self-end;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_2xl) {
              place-self: end;
            }
          }
        }
      }

      @include it('2xl\:place-self-center') {
        @include assert {
          @include output {
            @include \2xl\:place-self-center;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_2xl) {
              place-self: center;
            }
          }
        }
      }

      @include it('2xl\:place-self-stretch') {
        @include assert {
          @include output {
            @include \2xl\:place-self-stretch;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_2xl) {
              place-self: stretch;
            }
          }
        }
      }
    }
  }
}
