@use "../../setting" as *;

/* Outline Style */
@if $Basic {
  /*x
  @mixin outline-none {
    outline: 2px solid transparent;
    outline-offset: 2px;
  }

  @mixin outline {
    outline-style: solid;
  }

  @mixin outline-dashed {
    outline-style: dashed;
  }

  @mixin outline-dotted {
    outline-style: dotted;
  }

  @mixin outline-double {
    outline-style: double;
  }x*/
}

@if $Rwd {
  /*x
  @mixin sm\:outline-none {
    @include r(sm, outline, 2px solid transparent, outline-offset, 2px);
  }

  @mixin sm\:outline {
    @include r(sm, outline-style, solid);
  }

  @mixin sm\:outline-dashed {
    @include r(sm, outline-style, dashed);
  }

  @mixin sm\:outline-dotted {
    @include r(sm, outline-style, dotted);
  }

  @mixin sm\:outline-double {
    @include r(sm, outline-style, double);
  }

  @mixin md\:outline-none {
    @include r(md, outline, 2px solid transparent, outline-offset, 2px);
  }

  @mixin md\:outline {
    @include r(md, outline-style, solid);
  }

  @mixin md\:outline-dashed {
    @include r(md, outline-style, dashed);
  }

  @mixin md\:outline-dotted {
    @include r(md, outline-style, dotted);
  }

  @mixin md\:outline-double {
    @include r(md, outline-style, double);
  }

  @mixin lg\:outline-none {
    @include r(lg, outline, 2px solid transparent, outline-offset, 2px);
  }

  @mixin lg\:outline {
    @include r(lg, outline-style, solid);
  }

  @mixin lg\:outline-dashed {
    @include r(lg, outline-style, dashed);
  }

  @mixin lg\:outline-dotted {
    @include r(lg, outline-style, dotted);
  }

  @mixin lg\:outline-double {
    @include r(lg, outline-style, double);
  }

  @mixin xl\:outline-none {
    @include r(xl, outline, 2px solid transparent, outline-offset, 2px);
  }

  @mixin xl\:outline {
    @include r(xl, outline-style, solid);
  }

  @mixin xl\:outline-dashed {
    @include r(xl, outline-style, dashed);
  }

  @mixin xl\:outline-dotted {
    @include r(xl, outline-style, dotted);
  }

  @mixin xl\:outline-double {
    @include r(xl, outline-style, double);
  }

  @mixin \2xl\:outline-none {
    @include r(2xl, outline, 2px solid transparent, outline-offset, 2px);
  }

  @mixin \2xl\:outline {
    @include r(2xl, outline-style, solid);
  }

  @mixin \2xl\:outline-dashed {
    @include r(2xl, outline-style, dashed);
  }

  @mixin \2xl\:outline-dotted {
    @include r(2xl, outline-style, dotted);
  }

  @mixin \2xl\:outline-double {
    @include r(2xl, outline-style, double);
  }x*/
}
