@use "true" as *;
@use "../awaken" as *;

@include describe("3-Spacing") {
  @include describe("3-Space Between") {
    @include describe("Positive") {
      @include describe("Basic") {
        @include it("space-x-0 ") {
          @include assert {
            @include output {
              @include space-x-0;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-left: 0px;
                margin-right: 0px;
              }
            }
          }
        }

        @include it("space-y-0 ") {
          @include assert {
            @include output {
              @include space-y-0;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-top: 0px;
                margin-bottom: 0px;
              }
            }
          }
        }

        @include it("space-x-0_5 ") {
          @include assert {
            @include output {
              @include space-x-0_5;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-left: 0.125rem;
                margin-right: 0rem;
              }
            }
          }
        }

        @include it("space-y-0_5 ") {
          @include assert {
            @include output {
              @include space-y-0_5;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-top: 0.125rem;
                margin-bottom: 0rem;
              }
            }
          }
        }

        @include it("space-x-1 ") {
          @include assert {
            @include output {
              @include space-x-1;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-left: 0.25rem;
                margin-right: 0rem;
              }
            }
          }
        }

        @include it("space-y-1 ") {
          @include assert {
            @include output {
              @include space-y-1;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-top: 0.25rem;
                margin-bottom: 0rem;
              }
            }
          }
        }

        @include it("space-x-1_5 ") {
          @include assert {
            @include output {
              @include space-x-1_5;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-left: 0.375rem;
                margin-right: 0rem;
              }
            }
          }
        }

        @include it("space-y-1_5 ") {
          @include assert {
            @include output {
              @include space-y-1_5;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-top: 0.375rem;
                margin-bottom: 0rem;
              }
            }
          }
        }

        @include it("space-x-2 ") {
          @include assert {
            @include output {
              @include space-x-2;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-left: 0.5rem;
                margin-right: 0rem;
              }
            }
          }
        }

        @include it("space-y-2 ") {
          @include assert {
            @include output {
              @include space-y-2;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-top: 0.5rem;
                margin-bottom: 0rem;
              }
            }
          }
        }

        @include it("space-x-2_5 ") {
          @include assert {
            @include output {
              @include space-x-2_5;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-left: 0.625rem;
                margin-right: 0rem;
              }
            }
          }
        }

        @include it("space-y-2_5 ") {
          @include assert {
            @include output {
              @include space-y-2_5;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-top: 0.625rem;
                margin-bottom: 0rem;
              }
            }
          }
        }

        @include it("space-x-3 ") {
          @include assert {
            @include output {
              @include space-x-3;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-left: 0.75rem;
                margin-right: 0rem;
              }
            }
          }
        }

        @include it("space-y-3 ") {
          @include assert {
            @include output {
              @include space-y-3;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-top: 0.75rem;
                margin-bottom: 0rem;
              }
            }
          }
        }

        @include it("space-x-3_5 ") {
          @include assert {
            @include output {
              @include space-x-3_5;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-left: 0.875rem;
                margin-right: 0rem;
              }
            }
          }
        }

        @include it("space-y-3_5 ") {
          @include assert {
            @include output {
              @include space-y-3_5;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-top: 0.875rem;
                margin-bottom: 0rem;
              }
            }
          }
        }

        @include it("space-x-4 ") {
          @include assert {
            @include output {
              @include space-x-4;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-left: 1rem;
                margin-right: 0rem;
              }
            }
          }
        }

        @include it("space-y-4 ") {
          @include assert {
            @include output {
              @include space-y-4;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-top: 1rem;
                margin-bottom: 0rem;
              }
            }
          }
        }

        @include it("space-x-5 ") {
          @include assert {
            @include output {
              @include space-x-5;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-left: 1.25rem;
                margin-right: 0rem;
              }
            }
          }
        }

        @include it("space-y-5 ") {
          @include assert {
            @include output {
              @include space-y-5;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-top: 1.25rem;
                margin-bottom: 0rem;
              }
            }
          }
        }

        @include it("space-x-6 ") {
          @include assert {
            @include output {
              @include space-x-6;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-left: 1.5rem;
                margin-right: 0rem;
              }
            }
          }
        }

        @include it("space-y-6 ") {
          @include assert {
            @include output {
              @include space-y-6;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-top: 1.5rem;
                margin-bottom: 0rem;
              }
            }
          }
        }

        @include it("space-x-7 ") {
          @include assert {
            @include output {
              @include space-x-7;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-left: 1.75rem;
                margin-right: 0rem;
              }
            }
          }
        }

        @include it("space-y-7 ") {
          @include assert {
            @include output {
              @include space-y-7;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-top: 1.75rem;
                margin-bottom: 0rem;
              }
            }
          }
        }

        @include it("space-x-8 ") {
          @include assert {
            @include output {
              @include space-x-8;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-left: 2rem;
                margin-right: 0rem;
              }
            }
          }
        }

        @include it("space-y-8 ") {
          @include assert {
            @include output {
              @include space-y-8;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-top: 2rem;
                margin-bottom: 0rem;
              }
            }
          }
        }

        @include it("space-x-9 ") {
          @include assert {
            @include output {
              @include space-x-9;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-left: 2.25rem;
                margin-right: 0rem;
              }
            }
          }
        }

        @include it("space-y-9 ") {
          @include assert {
            @include output {
              @include space-y-9;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-top: 2.25rem;
                margin-bottom: 0rem;
              }
            }
          }
        }

        @include it("space-x-10 ") {
          @include assert {
            @include output {
              @include space-x-10;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-left: 2.5rem;
                margin-right: 0rem;
              }
            }
          }
        }

        @include it("space-y-10 ") {
          @include assert {
            @include output {
              @include space-y-10;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-top: 2.5rem;
                margin-bottom: 0rem;
              }
            }
          }
        }

        @include it("space-x-11 ") {
          @include assert {
            @include output {
              @include space-x-11;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-left: 2.75rem;
                margin-right: 0rem;
              }
            }
          }
        }

        @include it("space-y-11 ") {
          @include assert {
            @include output {
              @include space-y-11;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-top: 2.75rem;
                margin-bottom: 0rem;
              }
            }
          }
        }

        @include it("space-x-12 ") {
          @include assert {
            @include output {
              @include space-x-12;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-left: 3rem;
                margin-right: 0rem;
              }
            }
          }
        }

        @include it("space-y-12 ") {
          @include assert {
            @include output {
              @include space-y-12;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-top: 3rem;
                margin-bottom: 0rem;
              }
            }
          }
        }

        @include it("space-x-14 ") {
          @include assert {
            @include output {
              @include space-x-14;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-left: 3.5rem;
                margin-right: 0rem;
              }
            }
          }
        }

        @include it("space-y-14 ") {
          @include assert {
            @include output {
              @include space-y-14;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-top: 3.5rem;
                margin-bottom: 0rem;
              }
            }
          }
        }

        @include it("space-x-16 ") {
          @include assert {
            @include output {
              @include space-x-16;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-left: 4rem;
                margin-right: 0rem;
              }
            }
          }
        }

        @include it("space-y-16 ") {
          @include assert {
            @include output {
              @include space-y-16;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-top: 4rem;
                margin-bottom: 0rem;
              }
            }
          }
        }

        @include it("space-x-20 ") {
          @include assert {
            @include output {
              @include space-x-20;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-left: 5rem;
                margin-right: 0rem;
              }
            }
          }
        }

        @include it("space-y-20 ") {
          @include assert {
            @include output {
              @include space-y-20;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-top: 5rem;
                margin-bottom: 0rem;
              }
            }
          }
        }

        @include it("space-x-24 ") {
          @include assert {
            @include output {
              @include space-x-24;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-left: 6rem;
                margin-right: 0rem;
              }
            }
          }
        }

        @include it("space-y-24 ") {
          @include assert {
            @include output {
              @include space-y-24;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-top: 6rem;
                margin-bottom: 0rem;
              }
            }
          }
        }

        @include it("space-x-28 ") {
          @include assert {
            @include output {
              @include space-x-28;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-left: 7rem;
                margin-right: 0rem;
              }
            }
          }
        }

        @include it("space-y-28 ") {
          @include assert {
            @include output {
              @include space-y-28;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-top: 7rem;
                margin-bottom: 0rem;
              }
            }
          }
        }

        @include it("space-x-32 ") {
          @include assert {
            @include output {
              @include space-x-32;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-left: 8rem;
                margin-right: 0rem;
              }
            }
          }
        }

        @include it("space-y-32 ") {
          @include assert {
            @include output {
              @include space-y-32;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-top: 8rem;
                margin-bottom: 0rem;
              }
            }
          }
        }

        @include it("space-x-36 ") {
          @include assert {
            @include output {
              @include space-x-36;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-left: 9rem;
                margin-right: 0rem;
              }
            }
          }
        }

        @include it("space-y-36 ") {
          @include assert {
            @include output {
              @include space-y-36;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-top: 9rem;
                margin-bottom: 0rem;
              }
            }
          }
        }

        @include it("space-x-40 ") {
          @include assert {
            @include output {
              @include space-x-40;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-left: 10rem;
                margin-right: 0rem;
              }
            }
          }
        }

        @include it("space-y-40 ") {
          @include assert {
            @include output {
              @include space-y-40;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-top: 10rem;
                margin-bottom: 0rem;
              }
            }
          }
        }

        @include it("space-x-44 ") {
          @include assert {
            @include output {
              @include space-x-44;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-left: 11rem;
                margin-right: 0rem;
              }
            }
          }
        }

        @include it("space-y-44 ") {
          @include assert {
            @include output {
              @include space-y-44;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-top: 11rem;
                margin-bottom: 0rem;
              }
            }
          }
        }

        @include it("space-x-48 ") {
          @include assert {
            @include output {
              @include space-x-48;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-left: 12rem;
                margin-right: 0rem;
              }
            }
          }
        }

        @include it("space-y-48 ") {
          @include assert {
            @include output {
              @include space-y-48;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-top: 12rem;
                margin-bottom: 0rem;
              }
            }
          }
        }

        @include it("space-x-52 ") {
          @include assert {
            @include output {
              @include space-x-52;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-left: 13rem;
                margin-right: 0rem;
              }
            }
          }
        }

        @include it("space-y-52 ") {
          @include assert {
            @include output {
              @include space-y-52;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-top: 13rem;
                margin-bottom: 0rem;
              }
            }
          }
        }

        @include it("space-x-56 ") {
          @include assert {
            @include output {
              @include space-x-56;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-left: 14rem;
                margin-right: 0rem;
              }
            }
          }
        }

        @include it("space-y-56 ") {
          @include assert {
            @include output {
              @include space-y-56;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-top: 14rem;
                margin-bottom: 0rem;
              }
            }
          }
        }

        @include it("space-x-60 ") {
          @include assert {
            @include output {
              @include space-x-60;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-left: 15rem;
                margin-right: 0rem;
              }
            }
          }
        }

        @include it("space-y-60 ") {
          @include assert {
            @include output {
              @include space-y-60;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-top: 15rem;
                margin-bottom: 0rem;
              }
            }
          }
        }

        @include it("space-x-64 ") {
          @include assert {
            @include output {
              @include space-x-64;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-left: 16rem;
                margin-right: 0rem;
              }
            }
          }
        }

        @include it("space-y-64 ") {
          @include assert {
            @include output {
              @include space-y-64;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-top: 16rem;
                margin-bottom: 0rem;
              }
            }
          }
        }

        @include it("space-x-72 ") {
          @include assert {
            @include output {
              @include space-x-72;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-left: 18rem;
                margin-right: 0rem;
              }
            }
          }
        }

        @include it("space-y-72 ") {
          @include assert {
            @include output {
              @include space-y-72;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-top: 18rem;
                margin-bottom: 0rem;
              }
            }
          }
        }

        @include it("space-x-80 ") {
          @include assert {
            @include output {
              @include space-x-80;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-left: 20rem;
                margin-right: 0rem;
              }
            }
          }
        }

        @include it("space-y-80 ") {
          @include assert {
            @include output {
              @include space-y-80;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-top: 20rem;
                margin-bottom: 0rem;
              }
            }
          }
        }

        @include it("space-x-96 ") {
          @include assert {
            @include output {
              @include space-x-96;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-left: 24rem;
                margin-right: 0rem;
              }
            }
          }
        }

        @include it("space-y-96 ") {
          @include assert {
            @include output {
              @include space-y-96;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-top: 24rem;
                margin-bottom: 0rem;
              }
            }
          }
        }

        @include it("space-x-px ") {
          @include assert {
            @include output {
              @include space-x-px;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-left: 1px;
                margin-right: 0px;
              }
            }
          }
        }

        @include it("space-y-px ") {
          @include assert {
            @include output {
              @include space-y-px;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-top: 1px;
                margin-bottom: 0px;
              }
            }
          }
        }

        @include it("space-y-reverse ") {
          @include assert {
            @include output {
              @include space-y-4;
              @include space-y-reverse;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-top: 1rem;
                margin-bottom: 0rem;
              }

              > :not([hidden]) ~ :not([hidden]) {
                margin-top: 0rem;
                margin-bottom: 1rem;
              }
            }
          }
        }

        @include it("space-x-reverse ") {
          @include assert {
            @include output {
              @include space-x-4;
              @include space-x-reverse;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-left: 1rem;
                margin-right: 0rem;
              }

              > :not([hidden]) ~ :not([hidden]) {
                margin-left: 0rem;
                margin-right: 1rem;
              }
            }
          }
        }
      }

      @include it("space-y-(5px) ") {
        @include assert {
          @include output {
            @include space-y-(5px);
            
          }

          @include expect {
            > :not([hidden]) ~ :not([hidden]) {
              margin-top: 5px;

              margin-bottom: 0px;
            }
          }
        }
      }

      @include it("space-x-(5px) ") {
        @include assert {
          @include output {
            @include space-x-(5px);
            
          }

          @include expect {
            > :not([hidden]) ~ :not([hidden]) {
              margin-left: 5px;

              margin-right: 0px;
            }
          }
        }
      }
    }

    @include describe("Negative") {
      @include describe("Basic") {
        @include it("-space-x-0 ") {
          @include assert {
            @include output {
              @include \-space-x-0;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-left: -0px;
                margin-right: -0px;
              }
            }
          }
        }

        @include it("-space-y-0 ") {
          @include assert {
            @include output {
              @include \-space-y-0;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-top: -0px;
                margin-bottom: -0px;
              }
            }
          }
        }

        @include it("-space-x-0_5 ") {
          @include assert {
            @include output {
              @include \-space-x-0_5;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-left: -0.125rem;
                margin-right: -0rem;
              }
            }
          }
        }

        @include it("-space-y-0_5 ") {
          @include assert {
            @include output {
              @include \-space-y-0_5;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-top: -0.125rem;
                margin-bottom: -0rem;
              }
            }
          }
        }

        @include it("-space-x-1 ") {
          @include assert {
            @include output {
              @include \-space-x-1;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-left: -0.25rem;
                margin-right: -0rem;
              }
            }
          }
        }

        @include it("-space-y-1 ") {
          @include assert {
            @include output {
              @include \-space-y-1;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-top: -0.25rem;
                margin-bottom: -0rem;
              }
            }
          }
        }

        @include it("-space-x-1_5 ") {
          @include assert {
            @include output {
              @include \-space-x-1_5;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-left: -0.375rem;
                margin-right: -0rem;
              }
            }
          }
        }

        @include it("-space-y-1_5 ") {
          @include assert {
            @include output {
              @include \-space-y-1_5;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-top: -0.375rem;
                margin-bottom: -0rem;
              }
            }
          }
        }

        @include it("-space-x-2 ") {
          @include assert {
            @include output {
              @include \-space-x-2;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-left: -0.5rem;
                margin-right: -0rem;
              }
            }
          }
        }

        @include it("-space-y-2 ") {
          @include assert {
            @include output {
              @include \-space-y-2;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-top: -0.5rem;
                margin-bottom: -0rem;
              }
            }
          }
        }

        @include it("-space-x-2_5 ") {
          @include assert {
            @include output {
              @include \-space-x-2_5;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-left: -0.625rem;
                margin-right: -0rem;
              }
            }
          }
        }

        @include it("-space-y-2_5 ") {
          @include assert {
            @include output {
              @include \-space-y-2_5;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-top: -0.625rem;
                margin-bottom: -0rem;
              }
            }
          }
        }

        @include it("-space-x-3 ") {
          @include assert {
            @include output {
              @include \-space-x-3;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-left: -0.75rem;
                margin-right: -0rem;
              }
            }
          }
        }

        @include it("-space-y-3 ") {
          @include assert {
            @include output {
              @include \-space-y-3;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-top: -0.75rem;
                margin-bottom: -0rem;
              }
            }
          }
        }

        @include it("-space-x-3_5 ") {
          @include assert {
            @include output {
              @include \-space-x-3_5;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-left: -0.875rem;
                margin-right: -0rem;
              }
            }
          }
        }

        @include it("-space-y-3_5 ") {
          @include assert {
            @include output {
              @include \-space-y-3_5;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-top: -0.875rem;
                margin-bottom: -0rem;
              }
            }
          }
        }

        @include it("-space-x-4 ") {
          @include assert {
            @include output {
              @include \-space-x-4;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-left: -1rem;
                margin-right: -0rem;
              }
            }
          }
        }

        @include it("-space-y-4 ") {
          @include assert {
            @include output {
              @include \-space-y-4;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-top: -1rem;
                margin-bottom: -0rem;
              }
            }
          }
        }

        @include it("-space-x-5 ") {
          @include assert {
            @include output {
              @include \-space-x-5;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-left: -1.25rem;
                margin-right: -0rem;
              }
            }
          }
        }

        @include it("-space-y-5 ") {
          @include assert {
            @include output {
              @include \-space-y-5;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-top: -1.25rem;
                margin-bottom: -0rem;
              }
            }
          }
        }

        @include it("-space-x-6 ") {
          @include assert {
            @include output {
              @include \-space-x-6;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-left: -1.5rem;
                margin-right: -0rem;
              }
            }
          }
        }

        @include it("-space-y-6 ") {
          @include assert {
            @include output {
              @include \-space-y-6;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-top: -1.5rem;
                margin-bottom: -0rem;
              }
            }
          }
        }

        @include it("-space-x-7 ") {
          @include assert {
            @include output {
              @include \-space-x-7;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-left: -1.75rem;
                margin-right: -0rem;
              }
            }
          }
        }

        @include it("-space-y-7 ") {
          @include assert {
            @include output {
              @include \-space-y-7;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-top: -1.75rem;
                margin-bottom: -0rem;
              }
            }
          }
        }

        @include it("-space-x-8 ") {
          @include assert {
            @include output {
              @include \-space-x-8;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-left: -2rem;
                margin-right: -0rem;
              }
            }
          }
        }

        @include it("-space-y-8 ") {
          @include assert {
            @include output {
              @include \-space-y-8;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-top: -2rem;
                margin-bottom: -0rem;
              }
            }
          }
        }

        @include it("-space-x-9 ") {
          @include assert {
            @include output {
              @include \-space-x-9;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-left: -2.25rem;
                margin-right: -0rem;
              }
            }
          }
        }

        @include it("-space-y-9 ") {
          @include assert {
            @include output {
              @include \-space-y-9;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-top: -2.25rem;
                margin-bottom: -0rem;
              }
            }
          }
        }

        @include it("-space-x-10 ") {
          @include assert {
            @include output {
              @include \-space-x-10;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-left: -2.5rem;
                margin-right: -0rem;
              }
            }
          }
        }

        @include it("-space-y-10 ") {
          @include assert {
            @include output {
              @include \-space-y-10;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-top: -2.5rem;
                margin-bottom: -0rem;
              }
            }
          }
        }

        @include it("-space-x-11 ") {
          @include assert {
            @include output {
              @include \-space-x-11;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-left: -2.75rem;
                margin-right: -0rem;
              }
            }
          }
        }

        @include it("-space-y-11 ") {
          @include assert {
            @include output {
              @include \-space-y-11;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-top: -2.75rem;
                margin-bottom: -0rem;
              }
            }
          }
        }

        @include it("-space-x-12 ") {
          @include assert {
            @include output {
              @include \-space-x-12;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-left: -3rem;
                margin-right: -0rem;
              }
            }
          }
        }

        @include it("-space-y-12 ") {
          @include assert {
            @include output {
              @include \-space-y-12;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-top: -3rem;
                margin-bottom: -0rem;
              }
            }
          }
        }

        @include it("-space-x-14 ") {
          @include assert {
            @include output {
              @include \-space-x-14;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-left: -3.5rem;
                margin-right: -0rem;
              }
            }
          }
        }

        @include it("-space-y-14 ") {
          @include assert {
            @include output {
              @include \-space-y-14;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-top: -3.5rem;
                margin-bottom: -0rem;
              }
            }
          }
        }

        @include it("-space-x-16 ") {
          @include assert {
            @include output {
              @include \-space-x-16;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-left: -4rem;
                margin-right: -0rem;
              }
            }
          }
        }

        @include it("-space-y-16 ") {
          @include assert {
            @include output {
              @include \-space-y-16;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-top: -4rem;
                margin-bottom: -0rem;
              }
            }
          }
        }

        @include it("-space-x-20 ") {
          @include assert {
            @include output {
              @include \-space-x-20;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-left: -5rem;
                margin-right: -0rem;
              }
            }
          }
        }

        @include it("-space-y-20 ") {
          @include assert {
            @include output {
              @include \-space-y-20;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-top: -5rem;
                margin-bottom: -0rem;
              }
            }
          }
        }

        @include it("-space-x-24 ") {
          @include assert {
            @include output {
              @include \-space-x-24;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-left: -6rem;
                margin-right: -0rem;
              }
            }
          }
        }

        @include it("-space-y-24 ") {
          @include assert {
            @include output {
              @include \-space-y-24;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-top: -6rem;
                margin-bottom: -0rem;
              }
            }
          }
        }

        @include it("-space-x-28 ") {
          @include assert {
            @include output {
              @include \-space-x-28;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-left: -7rem;
                margin-right: -0rem;
              }
            }
          }
        }

        @include it("-space-y-28 ") {
          @include assert {
            @include output {
              @include \-space-y-28;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-top: -7rem;
                margin-bottom: -0rem;
              }
            }
          }
        }

        @include it("-space-x-32 ") {
          @include assert {
            @include output {
              @include \-space-x-32;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-left: -8rem;
                margin-right: -0rem;
              }
            }
          }
        }

        @include it("-space-y-32 ") {
          @include assert {
            @include output {
              @include \-space-y-32;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-top: -8rem;
                margin-bottom: -0rem;
              }
            }
          }
        }

        @include it("-space-x-36 ") {
          @include assert {
            @include output {
              @include \-space-x-36;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-left: -9rem;
                margin-right: -0rem;
              }
            }
          }
        }

        @include it("-space-y-36 ") {
          @include assert {
            @include output {
              @include \-space-y-36;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-top: -9rem;
                margin-bottom: -0rem;
              }
            }
          }
        }

        @include it("-space-x-40 ") {
          @include assert {
            @include output {
              @include \-space-x-40;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-left: -10rem;
                margin-right: -0rem;
              }
            }
          }
        }

        @include it("-space-y-40 ") {
          @include assert {
            @include output {
              @include \-space-y-40;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-top: -10rem;
                margin-bottom: -0rem;
              }
            }
          }
        }

        @include it("-space-x-44 ") {
          @include assert {
            @include output {
              @include \-space-x-44;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-left: -11rem;
                margin-right: -0rem;
              }
            }
          }
        }

        @include it("-space-y-44 ") {
          @include assert {
            @include output {
              @include \-space-y-44;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-top: -11rem;
                margin-bottom: -0rem;
              }
            }
          }
        }

        @include it("-space-x-48 ") {
          @include assert {
            @include output {
              @include \-space-x-48;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-left: -12rem;
                margin-right: -0rem;
              }
            }
          }
        }

        @include it("-space-y-48 ") {
          @include assert {
            @include output {
              @include \-space-y-48;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-top: -12rem;
                margin-bottom: -0rem;
              }
            }
          }
        }

        @include it("-space-x-52 ") {
          @include assert {
            @include output {
              @include \-space-x-52;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-left: -13rem;
                margin-right: -0rem;
              }
            }
          }
        }

        @include it("-space-y-52 ") {
          @include assert {
            @include output {
              @include \-space-y-52;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-top: -13rem;
                margin-bottom: -0rem;
              }
            }
          }
        }

        @include it("-space-x-56 ") {
          @include assert {
            @include output {
              @include \-space-x-56;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-left: -14rem;
                margin-right: -0rem;
              }
            }
          }
        }

        @include it("-space-y-56 ") {
          @include assert {
            @include output {
              @include \-space-y-56;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-top: -14rem;
                margin-bottom: -0rem;
              }
            }
          }
        }

        @include it("-space-x-60 ") {
          @include assert {
            @include output {
              @include \-space-x-60;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-left: -15rem;
                margin-right: -0rem;
              }
            }
          }
        }

        @include it("-space-y-60 ") {
          @include assert {
            @include output {
              @include \-space-y-60;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-top: -15rem;
                margin-bottom: -0rem;
              }
            }
          }
        }

        @include it("-space-x-64 ") {
          @include assert {
            @include output {
              @include \-space-x-64;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-left: -16rem;
                margin-right: -0rem;
              }
            }
          }
        }

        @include it("-space-y-64 ") {
          @include assert {
            @include output {
              @include \-space-y-64;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-top: -16rem;
                margin-bottom: -0rem;
              }
            }
          }
        }

        @include it("-space-x-72 ") {
          @include assert {
            @include output {
              @include \-space-x-72;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-left: -18rem;
                margin-right: -0rem;
              }
            }
          }
        }

        @include it("-space-y-72 ") {
          @include assert {
            @include output {
              @include \-space-y-72;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-top: -18rem;
                margin-bottom: -0rem;
              }
            }
          }
        }

        @include it("-space-x-80 ") {
          @include assert {
            @include output {
              @include \-space-x-80;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-left: -20rem;
                margin-right: -0rem;
              }
            }
          }
        }

        @include it("-space-y-80 ") {
          @include assert {
            @include output {
              @include \-space-y-80;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-top: -20rem;
                margin-bottom: -0rem;
              }
            }
          }
        }

        @include it("-space-x-96 ") {
          @include assert {
            @include output {
              @include \-space-x-96;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-left: -24rem;
                margin-right: -0rem;
              }
            }
          }
        }

        @include it("-space-y-96 ") {
          @include assert {
            @include output {
              @include \-space-y-96;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-top: -24rem;
                margin-bottom: -0rem;
              }
            }
          }
        }

        @include it("-space-x-px ") {
          @include assert {
            @include output {
              @include \-space-x-px;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-left: -1px;
                margin-right: -0px;
              }
            }
          }
        }

        @include it("-space-y-px ") {
          @include assert {
            @include output {
              @include \-space-y-px;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-top: -1px;
                margin-bottom: -0px;
              }
            }
          }
        }

        @include it("space-y-reverse ") {
          @include assert {
            @include output {
              @include \-space-y-4;
              @include space-y-reverse;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-top: -1rem;
                margin-bottom: -0rem;
              }

              > :not([hidden]) ~ :not([hidden]) {
                margin-top: -0rem;
                margin-bottom: -1rem;
              }
            }
          }
        }

        @include it("space-x-reverse ") {
          @include assert {
            @include output {
              @include \-space-x-4;
              @include space-x-reverse;
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-left: -1rem;
                margin-right: -0rem;
              }

              > :not([hidden]) ~ :not([hidden]) {
                margin-left: -0rem;
                margin-right: -1rem;
              }
            }
          }
        }
      }
      @include describe("Custom") {
        @include it("-space-y-(5px) ") {
          @include assert {
            @include output {
              @include \-space-y-(5px);
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-top: -5px;
                margin-bottom: -0px;
              }
            }
          }
        }

        @include it("-space-x-(5px) ") {
          @include assert {
            @include output {
              @include \-space-x-(5px);
              
            }

            @include expect {
              > :not([hidden]) ~ :not([hidden]) {
                margin-left: -5px;
                margin-right: -0px;
              }
            }
          }
        }
      }
    }
  }
}
