@use "../../setting" as *;


$CaptionSide: (
  "caption-top": top,
  "caption-bottom": bottom,
);

@if $Basic {
  @each $key, $value in $CaptionSide {
    /*x
    @mixin #{$key} {
      @include caption-side(#{$value});
    }
    x*/
  }
}

@if $Rwd {
  @each $rwd in $rwdBox {
    @each $key, $value in $CaptionSide {
      /*x
      @mixin #{$rwd}\:#{$key} {
        @include caption-side(#{$value}, $#{$rwd});
      }
      x*/
    }
  }
}