@use "../../setting" as *;


$TextDecoration: (
  "underline": underline,
  "overline": overline,
  "line-through": line-through,
  "no-underline": none,
);

@if $Basic {
  @each $key, $value in $TextDecoration {
    /*x
    @mixin #{$key}{
      @include 	text-decoration-line(#{$value});
    }
    x*/
  }
}

@if $Rwd {
  @each $rwd in $rwdBox {
    @each $key, $value in $TextDecoration {
      /*x
      @mixin #{$rwd}\:#{$key}{
        @include 	text-decoration-line(#{$value}, $#{$rwd});
      }
      x*/
    }
  }
}
