@use "../../setting" as *;


$Sepia: (
  "sepia-0": sepia(0),
  "sepia": sepia(100%),
);

@if $Basic {
  @each $key, $value in $Sepia {
    /*x
    @mixin #{$key} {
      $tw-sepia: #{$value} !global;
      @include filter(#{$value});
    }
    x*/
  }
}

@if $Rwd and ($sizeMode ==0 or $sizeMode ==1) {
  @each $rwd in $rwdBox {
    @each $key, $value in $Sepia {
      /*x
      @mixin #{$rwd}\:#{$key} {
        $tw-sepia: #{$value} !global;
        @include filter(#{$value}, $#{$rwd});
      }
      x*/
    }
  }
}

@if $Custom {
  /*x
  @mixin sepia-($v) {
    $tw-sepia: sepia($v) !global;
    @include filter(get_filter());
  }
  x*/

  @each $rwd in $rwdBox {
    /*x
    @mixin #{$rwd}\:sepia-($v) {
      $tw-sepia: sepia($v) !global;
      @include filter(get_filter(), $#{$rwd});
    }
    x*/
  }
}