@use "../../mode0" as *;
@use "true" as *;

@include describe("5.Typography") {
  @include describe("Text Decoration Style") {
    @include describe("Basic") {
      @include it("decoration-solid") {
        @include assert {
          @include output {
            @include decoration-solid;
            @include clear;
          }

          @include expect {
            text-decoration-style: solid;
          }
        }
      }

      @include it("decoration-double") {
        @include assert {
          @include output {
            @include decoration-double;
            @include clear;
          }

          @include expect {
            text-decoration-style: double;
          }
        }
      }

      @include it("decoration-dotted") {
        @include assert {
          @include output {
            @include decoration-dotted;
            @include clear;
          }

          @include expect {
            text-decoration-style: dotted;
          }
        }
      }

      @include it("decoration-dashed") {
        @include assert {
          @include output {
            @include decoration-dashed;
            @include clear;
          }

          @include expect {
            text-decoration-style: dashed;
          }
        }
      }

      @include it("decoration-wavy") {
        @include assert {
          @include output {
            @include decoration-wavy;
            @include clear;
          }

          @include expect {
            text-decoration-style: wavy;
          }
        }
      }
    }

    @include describe("Rwd") {
      @include it("sm\:decoration-solid") {
        @include assert {
          @include output {
            @include sm\:decoration-solid;
            @include clear;
          }

          @include expect {
            @media (min-width: $sm) {
              text-decoration-style: solid;
            }
          }
        }
      }

      @include it("sm\:decoration-double") {
        @include assert {
          @include output {
            @include sm\:decoration-double;
            @include clear;
          }

          @include expect {
            @media (min-width: $sm) {
              text-decoration-style: double;
            }
          }
        }
      }

      @include it("sm\:decoration-dotted") {
        @include assert {
          @include output {
            @include sm\:decoration-dotted;
            @include clear;
          }

          @include expect {
            @media (min-width: $sm) {
              text-decoration-style: dotted;
            }
          }
        }
      }

      @include it("sm\:decoration-dashed") {
        @include assert {
          @include output {
            @include sm\:decoration-dashed;
            @include clear;
          }

          @include expect {
            @media (min-width: $sm) {
              text-decoration-style: dashed;
            }
          }
        }
      }

      @include it("sm\:decoration-wavy") {
        @include assert {
          @include output {
            @include sm\:decoration-wavy;
            @include clear;
          }

          @include expect {
            @media (min-width: $sm) {
              text-decoration-style: wavy;
            }
          }
        }
      }

      @include it("md\:decoration-solid") {
        @include assert {
          @include output {
            @include md\:decoration-solid;
            @include clear;
          }

          @include expect {
            @media (min-width: $md) {
              text-decoration-style: solid;
            }
          }
        }
      }

      @include it("md\:decoration-double") {
        @include assert {
          @include output {
            @include md\:decoration-double;
            @include clear;
          }

          @include expect {
            @media (min-width: $md) {
              text-decoration-style: double;
            }
          }
        }
      }

      @include it("md\:decoration-dotted") {
        @include assert {
          @include output {
            @include md\:decoration-dotted;
            @include clear;
          }

          @include expect {
            @media (min-width: $md) {
              text-decoration-style: dotted;
            }
          }
        }
      }

      @include it("md\:decoration-dashed") {
        @include assert {
          @include output {
            @include md\:decoration-dashed;
            @include clear;
          }

          @include expect {
            @media (min-width: $md) {
              text-decoration-style: dashed;
            }
          }
        }
      }

      @include it("md\:decoration-wavy") {
        @include assert {
          @include output {
            @include md\:decoration-wavy;
            @include clear;
          }

          @include expect {
            @media (min-width: $md) {
              text-decoration-style: wavy;
            }
          }
        }
      }

      @include it("lg\:decoration-solid") {
        @include assert {
          @include output {
            @include lg\:decoration-solid;
            @include clear;
          }

          @include expect {
            @media (min-width: $lg) {
              text-decoration-style: solid;
            }
          }
        }
      }

      @include it("lg\:decoration-double") {
        @include assert {
          @include output {
            @include lg\:decoration-double;
            @include clear;
          }

          @include expect {
            @media (min-width: $lg) {
              text-decoration-style: double;
            }
          }
        }
      }

      @include it("lg\:decoration-dotted") {
        @include assert {
          @include output {
            @include lg\:decoration-dotted;
            @include clear;
          }

          @include expect {
            @media (min-width: $lg) {
              text-decoration-style: dotted;
            }
          }
        }
      }

      @include it("lg\:decoration-dashed") {
        @include assert {
          @include output {
            @include lg\:decoration-dashed;
            @include clear;
          }

          @include expect {
            @media (min-width: $lg) {
              text-decoration-style: dashed;
            }
          }
        }
      }

      @include it("lg\:decoration-wavy") {
        @include assert {
          @include output {
            @include lg\:decoration-wavy;
            @include clear;
          }

          @include expect {
            @media (min-width: $lg) {
              text-decoration-style: wavy;
            }
          }
        }
      }

      @include it("xl\:decoration-solid") {
        @include assert {
          @include output {
            @include xl\:decoration-solid;
            @include clear;
          }

          @include expect {
            @media (min-width: $xl) {
              text-decoration-style: solid;
            }
          }
        }
      }

      @include it("xl\:decoration-double") {
        @include assert {
          @include output {
            @include xl\:decoration-double;
            @include clear;
          }

          @include expect {
            @media (min-width: $xl) {
              text-decoration-style: double;
            }
          }
        }
      }

      @include it("xl\:decoration-dotted") {
        @include assert {
          @include output {
            @include xl\:decoration-dotted;
            @include clear;
          }

          @include expect {
            @media (min-width: $xl) {
              text-decoration-style: dotted;
            }
          }
        }
      }

      @include it("xl\:decoration-dashed") {
        @include assert {
          @include output {
            @include xl\:decoration-dashed;
            @include clear;
          }

          @include expect {
            @media (min-width: $xl) {
              text-decoration-style: dashed;
            }
          }
        }
      }

      @include it("xl\:decoration-wavy") {
        @include assert {
          @include output {
            @include xl\:decoration-wavy;
            @include clear;
          }

          @include expect {
            @media (min-width: $xl) {
              text-decoration-style: wavy;
            }
          }
        }
      }

      @include it("\2xl\:decoration-solid") {
        @include assert {
          @include output {
            @include \2xl\:decoration-solid;
            @include clear;
          }

          @include expect {
            @media (min-width: $\2xl) {
              text-decoration-style: solid;
            }
          }
        }
      }

      @include it("\2xl\:decoration-double") {
        @include assert {
          @include output {
            @include \2xl\:decoration-double;
            @include clear;
          }

          @include expect {
            @media (min-width: $\2xl) {
              text-decoration-style: double;
            }
          }
        }
      }

      @include it("\2xl\:decoration-dotted") {
        @include assert {
          @include output {
            @include \2xl\:decoration-dotted;
            @include clear;
          }

          @include expect {
            @media (min-width: $\2xl) {
              text-decoration-style: dotted;
            }
          }
        }
      }

      @include it("\2xl\:decoration-dashed") {
        @include assert {
          @include output {
            @include \2xl\:decoration-dashed;
            @include clear;
          }

          @include expect {
            @media (min-width: $\2xl) {
              text-decoration-style: dashed;
            }
          }
        }
      }

      @include it("\2xl\:decoration-wavy") {
        @include assert {
          @include output {
            @include \2xl\:decoration-wavy;
            @include clear;
          }

          @include expect {
            @media (min-width: $\2xl) {
              text-decoration-style: wavy;
            }
          }
        }
      }
    }
  }
}
