@use "../../mode0" as *;
@use "true" as *;

@include describe("7.Borders") {
  @include describe("Border Style") {
    @include describe("Basic") {
      @include it("border-solid") {
        @include assert {
          @include output {
            @include border-solid;
            @include clear;
          }

          @include expect {
            border-style: solid;
          }
        }
      }

      @include it("border-dashed") {
        @include assert {
          @include output {
            @include border-dashed;
            @include clear;
          }

          @include expect {
            border-style: dashed;
          }
        }
      }

      @include it("border-dotted") {
        @include assert {
          @include output {
            @include border-dotted;
            @include clear;
          }

          @include expect {
            border-style: dotted;
          }
        }
      }

      @include it("border-double") {
        @include assert {
          @include output {
            @include border-double;
            @include clear;
          }

          @include expect {
            border-style: double;
          }
        }
      }

      @include it("border-hidden") {
        @include assert {
          @include output {
            @include border-hidden;
            @include clear;
          }

          @include expect {
            border-style: hidden;
          }
        }
      }

      @include it("border-none") {
        @include assert {
          @include output {
            @include border-none;
            @include clear;
          }

          @include expect {
            border-style: none;
          }
        }
      }
    }

    @include describe("Rwd") {
      @include it("sm\:border-solid") {
        @include assert {
          @include output {
            @include sm\:border-solid;
            @include clear;
          }

          @include expect {
            @media (min-width: $sm) {
              border-style: solid;
            }
          }
        }
      }

      @include it("sm\:border-dashed") {
        @include assert {
          @include output {
            @include sm\:border-dashed;
            @include clear;
          }

          @include expect {
            @media (min-width: $sm) {
              border-style: dashed;
            }
          }
        }
      }

      @include it("sm\:border-dotted") {
        @include assert {
          @include output {
            @include sm\:border-dotted;
            @include clear;
          }

          @include expect {
            @media (min-width: $sm) {
              border-style: dotted;
            }
          }
        }
      }

      @include it("sm\:border-double") {
        @include assert {
          @include output {
            @include sm\:border-double;
            @include clear;
          }

          @include expect {
            @media (min-width: $sm) {
              border-style: double;
            }
          }
        }
      }

      @include it("sm\:border-hidden") {
        @include assert {
          @include output {
            @include sm\:border-hidden;
            @include clear;
          }

          @include expect {
            @media (min-width: $sm) {
              border-style: hidden;
            }
          }
        }
      }

      @include it("sm\:border-none") {
        @include assert {
          @include output {
            @include sm\:border-none;
            @include clear;
          }

          @include expect {
            @media (min-width: $sm) {
              border-style: none;
            }
          }
        }
      }

      @include it("md\:border-solid") {
        @include assert {
          @include output {
            @include md\:border-solid;
            @include clear;
          }

          @include expect {
            @media (min-width: $md) {
              border-style: solid;
            }
          }
        }
      }

      @include it("md\:border-dashed") {
        @include assert {
          @include output {
            @include md\:border-dashed;
            @include clear;
          }

          @include expect {
            @media (min-width: $md) {
              border-style: dashed;
            }
          }
        }
      }

      @include it("md\:border-dotted") {
        @include assert {
          @include output {
            @include md\:border-dotted;
            @include clear;
          }

          @include expect {
            @media (min-width: $md) {
              border-style: dotted;
            }
          }
        }
      }

      @include it("md\:border-double") {
        @include assert {
          @include output {
            @include md\:border-double;
            @include clear;
          }

          @include expect {
            @media (min-width: $md) {
              border-style: double;
            }
          }
        }
      }

      @include it("md\:border-hidden") {
        @include assert {
          @include output {
            @include md\:border-hidden;
            @include clear;
          }

          @include expect {
            @media (min-width: $md) {
              border-style: hidden;
            }
          }
        }
      }

      @include it("md\:border-none") {
        @include assert {
          @include output {
            @include md\:border-none;
            @include clear;
          }

          @include expect {
            @media (min-width: $md) {
              border-style: none;
            }
          }
        }
      }

      @include it("lg\:border-solid") {
        @include assert {
          @include output {
            @include lg\:border-solid;
            @include clear;
          }

          @include expect {
            @media (min-width: $lg) {
              border-style: solid;
            }
          }
        }
      }

      @include it("lg\:border-dashed") {
        @include assert {
          @include output {
            @include lg\:border-dashed;
            @include clear;
          }

          @include expect {
            @media (min-width: $lg) {
              border-style: dashed;
            }
          }
        }
      }

      @include it("lg\:border-dotted") {
        @include assert {
          @include output {
            @include lg\:border-dotted;
            @include clear;
          }

          @include expect {
            @media (min-width: $lg) {
              border-style: dotted;
            }
          }
        }
      }

      @include it("lg\:border-double") {
        @include assert {
          @include output {
            @include lg\:border-double;
            @include clear;
          }

          @include expect {
            @media (min-width: $lg) {
              border-style: double;
            }
          }
        }
      }

      @include it("lg\:border-hidden") {
        @include assert {
          @include output {
            @include lg\:border-hidden;
            @include clear;
          }

          @include expect {
            @media (min-width: $lg) {
              border-style: hidden;
            }
          }
        }
      }

      @include it("lg\:border-none") {
        @include assert {
          @include output {
            @include lg\:border-none;
            @include clear;
          }

          @include expect {
            @media (min-width: $lg) {
              border-style: none;
            }
          }
        }
      }

      @include it("xl\:border-solid") {
        @include assert {
          @include output {
            @include xl\:border-solid;
            @include clear;
          }

          @include expect {
            @media (min-width: $xl) {
              border-style: solid;
            }
          }
        }
      }

      @include it("xl\:border-dashed") {
        @include assert {
          @include output {
            @include xl\:border-dashed;
            @include clear;
          }

          @include expect {
            @media (min-width: $xl) {
              border-style: dashed;
            }
          }
        }
      }

      @include it("xl\:border-dotted") {
        @include assert {
          @include output {
            @include xl\:border-dotted;
            @include clear;
          }

          @include expect {
            @media (min-width: $xl) {
              border-style: dotted;
            }
          }
        }
      }

      @include it("xl\:border-double") {
        @include assert {
          @include output {
            @include xl\:border-double;
            @include clear;
          }

          @include expect {
            @media (min-width: $xl) {
              border-style: double;
            }
          }
        }
      }

      @include it("xl\:border-hidden") {
        @include assert {
          @include output {
            @include xl\:border-hidden;
            @include clear;
          }

          @include expect {
            @media (min-width: $xl) {
              border-style: hidden;
            }
          }
        }
      }

      @include it("xl\:border-none") {
        @include assert {
          @include output {
            @include xl\:border-none;
            @include clear;
          }

          @include expect {
            @media (min-width: $xl) {
              border-style: none;
            }
          }
        }
      }

      @include it("\2xl\:border-solid") {
        @include assert {
          @include output {
            @include \2xl\:border-solid;
            @include clear;
          }

          @include expect {
            @media (min-width: $\2xl) {
              border-style: solid;
            }
          }
        }
      }

      @include it("\2xl\:border-dashed") {
        @include assert {
          @include output {
            @include \2xl\:border-dashed;
            @include clear;
          }

          @include expect {
            @media (min-width: $\2xl) {
              border-style: dashed;
            }
          }
        }
      }

      @include it("\2xl\:border-dotted") {
        @include assert {
          @include output {
            @include \2xl\:border-dotted;
            @include clear;
          }

          @include expect {
            @media (min-width: $\2xl) {
              border-style: dotted;
            }
          }
        }
      }

      @include it("\2xl\:border-double") {
        @include assert {
          @include output {
            @include \2xl\:border-double;
            @include clear;
          }

          @include expect {
            @media (min-width: $\2xl) {
              border-style: double;
            }
          }
        }
      }

      @include it("\2xl\:border-hidden") {
        @include assert {
          @include output {
            @include \2xl\:border-hidden;
            @include clear;
          }

          @include expect {
            @media (min-width: $\2xl) {
              border-style: hidden;
            }
          }
        }
      }

      @include it("\2xl\:border-none") {
        @include assert {
          @include output {
            @include \2xl\:border-none;
            @include clear;
          }

          @include expect {
            @media (min-width: $\2xl) {
              border-style: none;
            }
          }
        }
      }
    }
  }
}
