@use "../../setting" as *;


$Size: (
  "size-0": "$\\0",
  "size-px": "$\\px",
  "size-0\\.5": "$\\0\\.5",
  "size-1": "$\\1",
  "size-1\\.5": "$\\1\\.5",
  "size-2": "$\\2",
  "size-2\\.5": "$\\2\\.5",
  "size-3": "$\\3",
  "size-3\\.5": "$\\3\\.5",
  "size-4": "$\\4",
  "size-5": "$\\5",
  "size-6": "$\\6",
  "size-7": "$\\7",
  "size-8": "$\\8",
  "size-9": "$\\9",
  "size-10": "$\\10",
  "size-11": "$\\11",
  "size-12": "$\\12",
  "size-14": "$\\14",
  "size-16": "$\\16",
  "size-20": "$\\20",
  "size-24": "$\\24",
  "size-28": "$\\28",
  "size-32": "$\\32",
  "size-36": "$\\36",
  "size-40": "$\\40",
  "size-44": "$\\44",
  "size-48": "$\\48",
  "size-52": "$\\52",
  "size-56": "$\\56",
  "size-60": "$\\60",
  "size-64": "$\\64",
  "size-72": "$\\72",
  "size-80": "$\\80",
  "size-96": "$\\96",
  "size-auto": auto,
  "size-1\\/2": 50%,
  "size-1\\/3": 33.333333%,
  "size-2\\/3": 66.666667%,
  "size-1\\/4": 25%,
  "size-2\\/4": 50%,
  "size-3\\/4": 75%,
  "size-1\\/5": 20%,
  "size-2\\/5": 40%,
  "size-3\\/5": 60%,
  "size-4\\/5": 80%,
  "size-1\\/6": 16.666667%,
  "size-2\\/6": 33.333333%,
  "size-3\\/6": 50%,
  "size-4\\/6": 66.666667%,
  "size-5\\/6": 83.333333%,
  "size-1\\/12": 8.333333%,
  "size-2\\/12": 16.666667%,
  "size-3\\/12": 25%,
  "size-4\\/12": 33.333333%,
  "size-5\\/12": 41.666667%,
  "size-6\\/12": 50%,
  "size-7\\/12": 58.333333%,
  "size-8\\/12": 66.666667%,
  "size-9\\/12": 75%,
  "size-10\\/12": 83.333333%,
  "size-11\\/12": 91.666667%,
  "size-full": 100%,
  "size-min": min-content,
  "size-max": max-content,
  "size-fit": fit-content,
);

@if $Basic {
  @each $key, $value in $Size {
    /*x
    @mixin #{$key} {
      @include width(#{$value});
      @include height(#{$value});
    }
    x*/
  }
}

@if $Rwd and ($sizeMode ==0 or $sizeMode ==1) {
  @each $rwd in $rwdBox {
    @each $key, $value in $Size {
      /*x
      @mixin #{$rwd}\:#{$key} {
        @include #{$rwd} {
          @include width(#{$value});
          @include height(#{$value});
        }
      }
      x*/
    }
  }
}

@if $Custom {
  /*x
  @mixin size-($v) {
    @include width($v);
    @include height($v);
  }
  x*/

  @each $rwd in $rwdBox {
    /*x
    @mixin #{$rwd}\:size-($v) {
      @include #{$rwd} {
        @include width($v);
        @include height($v);
      }
    }
    x*/
  }
}