@use "../../setting" as *;

@if $Basic {
  // /*x
  @mixin size-0 {
    width: $\0;
    height: $\0;
  }

  @mixin size-px {
    width: $\px;
    height: $\px;
  }

  @mixin size-0\.5 {
    width: $\0\.5;
    height: $\0\.5;
  }

  @mixin size-1 {
    width: $\1;
    height: $\1;
  }

  @mixin size-1\.5 {
    width: $\1\.5;
    height: $\1\.5;
  }

  @mixin size-2 {
    width: $\2;
    height: $\2;
  }

  @mixin size-2\.5 {
    width: $\2\.5;
    height: $\2\.5;
  }

  @mixin size-3 {
    width: $\3;
    height: $\3;
  }

  @mixin size-3\.5 {
    width: $\3\.5;
    height: $\3\.5;
  }

  @mixin size-4 {
    width: $\4;
    height: $\4;
  }

  @mixin size-5 {
    width: $\5;
    height: $\5;
  }

  @mixin size-6 {
    width: $\6;
    height: $\6;
  }

  @mixin size-7 {
    width: $\7;
    height: $\7;
  }

  @mixin size-8 {
    width: $\8;
    height: $\8;
  }

  @mixin size-9 {
    width: $\9;
    height: $\9;
  }

  @mixin size-10 {
    width: $\10;
    height: $\10;
  }

  @mixin size-11 {
    width: $\11;
    height: $\11;
  }

  @mixin size-12 {
    width: $\12;
    height: $\12;
  }

  @mixin size-14 {
    width: $\14;
    height: $\14;
  }

  @mixin size-16 {
    width: $\16;
    height: $\16;
  }

  @mixin size-20 {
    width: $\20;
    height: $\20;
  }

  @mixin size-24 {
    width: $\24;
    height: $\24;
  }

  @mixin size-28 {
    width: $\28;
    height: $\28;
  }

  @mixin size-32 {
    width: $\32;
    height: $\32;
  }

  @mixin size-36 {
    width: $\36;
    height: $\36;
  }

  @mixin size-40 {
    width: $\40;
    height: $\40;
  }

  @mixin size-44 {
    width: $\44;
    height: $\44;
  }

  @mixin size-48 {
    width: $\48;
    height: $\48;
  }

  @mixin size-52 {
    width: $\52;
    height: $\52;
  }

  @mixin size-56 {
    width: $\56;
    height: $\56;
  }

  @mixin size-60 {
    width: $\60;
    height: $\60;
  }

  @mixin size-64 {
    width: $\64;
    height: $\64;
  }

  @mixin size-72 {
    width: $\72;
    height: $\72;
  }

  @mixin size-80 {
    width: $\80;
    height: $\80;
  }

  @mixin size-96 {
    width: $\96;
    height: $\96;
  }

  @mixin size-auto {
    width: auto;
    height: auto;
  }

  @mixin size-1\/2 {
    width: 50%;
    height: 50%;
  }

  @mixin size-1\/3 {
    width: 33.333333%;
    height: 33.333333%;
  }

  @mixin size-2\/3 {
    width: 66.666667%;
    height: 66.666667%;
  }

  @mixin size-1\/4 {
    width: 25%;
    height: 25%;
  }

  @mixin size-2\/4 {
    width: 50%;
    height: 50%;
  }

  @mixin size-3\/4 {
    width: 75%;
    height: 75%;
  }

  @mixin size-1\/5 {
    width: 20%;
    height: 20%;
  }

  @mixin size-2\/5 {
    width: 40%;
    height: 40%;
  }

  @mixin size-3\/5 {
    width: 60%;
    height: 60%;
  }

  @mixin size-4\/5 {
    width: 80%;
    height: 80%;
  }

  @mixin size-1\/6 {
    width: 16.666667%;
    height: 16.666667%;
  }

  @mixin size-2\/6 {
    width: 33.333333%;
    height: 33.333333%;
  }

  @mixin size-3\/6 {
    width: 50%;
    height: 50%;
  }

  @mixin size-4\/6 {
    width: 66.666667%;
    height: 66.666667%;
  }

  @mixin size-5\/6 {
    width: 83.333333%;
    height: 83.333333%;
  }

  @mixin size-1\/12 {
    width: 8.333333%;
    height: 8.333333%;
  }

  @mixin size-2\/12 {
    width: 16.666667%;
    height: 16.666667%;
  }

  @mixin size-3\/12 {
    width: 25%;
    height: 25%;
  }

  @mixin size-4\/12 {
    width: 33.333333%;
    height: 33.333333%;
  }

  @mixin size-5\/12 {
    width: 41.666667%;
    height: 41.666667%;
  }

  @mixin size-6\/12 {
    width: 50%;
    height: 50%;
  }

  @mixin size-7\/12 {
    width: 58.333333%;
    height: 58.333333%;
  }

  @mixin size-8\/12 {
    width: 66.666667%;
    height: 66.666667%;
  }

  @mixin size-9\/12 {
    width: 75%;
    height: 75%;
  }

  @mixin size-10\/12 {
    width: 83.333333%;
    height: 83.333333%;
  }

  @mixin size-11\/12 {
    width: 91.666667%;
    height: 91.666667%;
  }

  @mixin size-full {
    width: 100%;
    height: 100%;
  }

  @mixin size-min {
    width: min-content;
    height: min-content;
  }

  @mixin size-max {
    width: max-content;
    height: max-content;
  }

  @mixin size-fit {
    width: fit-content;
    height: fit-content;
  }

  // x*/
}

@if $Rwd {
  @if $sizeMode ==0 or $sizeMode ==1 {
    // /*x
    @mixin sm\:size-0 {
      @include sm\:size-($\0);
    }

    @mixin sm\:size-px {
      @include sm\:size-($\px);
    }

    @mixin sm\:size-0\.5 {
      @include sm\:size-($\0\.5);
    }

    @mixin sm\:size-1 {
      @include sm\:size-($\1);
    }

    @mixin sm\:size-1\.5 {
      @include sm\:size-($\1\.5);
    }

    @mixin sm\:size-2 {
      @include sm\:size-($\2);
    }

    @mixin sm\:size-2\.5 {
      @include sm\:size-($\2\.5);
    }

    @mixin sm\:size-3 {
      @include sm\:size-($\3);
    }

    @mixin sm\:size-3\.5 {
      @include sm\:size-($\3\.5);
    }

    @mixin sm\:size-4 {
      @include sm\:size-($\4);
    }

    @mixin sm\:size-5 {
      @include sm\:size-($\5);
    }

    @mixin sm\:size-6 {
      @include sm\:size-($\6);
    }

    @mixin sm\:size-7 {
      @include sm\:size-($\7);
    }

    @mixin sm\:size-8 {
      @include sm\:size-($\8);
    }

    @mixin sm\:size-9 {
      @include sm\:size-($\9);
    }

    @mixin sm\:size-10 {
      @include sm\:size-($\10);
    }

    @mixin sm\:size-11 {
      @include sm\:size-($\11);
    }

    @mixin sm\:size-12 {
      @include sm\:size-($\12);
    }

    @mixin sm\:size-14 {
      @include sm\:size-($\14);
    }

    @mixin sm\:size-16 {
      @include sm\:size-($\16);
    }

    @mixin sm\:size-20 {
      @include sm\:size-($\20);
    }

    @mixin sm\:size-24 {
      @include sm\:size-($\24);
    }

    @mixin sm\:size-28 {
      @include sm\:size-($\28);
    }

    @mixin sm\:size-32 {
      @include sm\:size-($\32);
    }

    @mixin sm\:size-36 {
      @include sm\:size-($\36);
    }

    @mixin sm\:size-40 {
      @include sm\:size-($\40);
    }

    @mixin sm\:size-44 {
      @include sm\:size-($\44);
    }

    @mixin sm\:size-48 {
      @include sm\:size-($\48);
    }

    @mixin sm\:size-52 {
      @include sm\:size-($\52);
    }

    @mixin sm\:size-56 {
      @include sm\:size-($\56);
    }

    @mixin sm\:size-60 {
      @include sm\:size-($\60);
    }

    @mixin sm\:size-64 {
      @include sm\:size-($\64);
    }

    @mixin sm\:size-72 {
      @include sm\:size-($\72);
    }

    @mixin sm\:size-80 {
      @include sm\:size-($\80);
    }

    @mixin sm\:size-96 {
      @include sm\:size-($\96);
    }

    @mixin sm\:size-auto {
      @include sm\:size-(auto);
    }

    @mixin sm\:size-1\/2 {
      @include sm\:size-(50%);
    }

    @mixin sm\:size-1\/3 {
      @include sm\:size-(33.333333%);
    }

    @mixin sm\:size-2\/3 {
      @include sm\:size-(66.666667%);
    }

    @mixin sm\:size-1\/4 {
      @include sm\:size-(25%);
    }

    @mixin sm\:size-2\/4 {
      @include sm\:size-(50%);
    }

    @mixin sm\:size-3\/4 {
      @include sm\:size-(75%);
    }

    @mixin sm\:size-1\/5 {
      @include sm\:size-(20%);
    }

    @mixin sm\:size-2\/5 {
      @include sm\:size-(40%);
    }

    @mixin sm\:size-3\/5 {
      @include sm\:size-(60%);
    }

    @mixin sm\:size-4\/5 {
      @include sm\:size-(80%);
    }

    @mixin sm\:size-1\/6 {
      @include sm\:size-(16.666667%);
    }

    @mixin sm\:size-2\/6 {
      @include sm\:size-(33.333333%);
    }

    @mixin sm\:size-3\/6 {
      @include sm\:size-(50%);
    }

    @mixin sm\:size-4\/6 {
      @include sm\:size-(66.666667%);
    }

    @mixin sm\:size-5\/6 {
      @include sm\:size-(83.333333%);
    }

    @mixin sm\:size-1\/12 {
      @include sm\:size-(8.333333%);
    }

    @mixin sm\:size-2\/12 {
      @include sm\:size-(16.666667%);
    }

    @mixin sm\:size-3\/12 {
      @include sm\:size-(25%);
    }

    @mixin sm\:size-4\/12 {
      @include sm\:size-(33.333333%);
    }

    @mixin sm\:size-5\/12 {
      @include sm\:size-(41.666667%);
    }

    @mixin sm\:size-6\/12 {
      @include sm\:size-(50%);
    }

    @mixin sm\:size-7\/12 {
      @include sm\:size-(58.333333%);
    }

    @mixin sm\:size-8\/12 {
      @include sm\:size-(66.666667%);
    }

    @mixin sm\:size-9\/12 {
      @include sm\:size-(75%);
    }

    @mixin sm\:size-10\/12 {
      @include sm\:size-(83.333333%);
    }

    @mixin sm\:size-11\/12 {
      @include sm\:size-(91.666667%);
    }

    @mixin sm\:size-full {
      @include sm\:size-(100%);
    }

    @mixin sm\:size-min {
      @include sm\:size-(min-content);
    }

    @mixin sm\:size-max {
      @include sm\:size-(max-content);
    }

    @mixin sm\:size-fit {
      @include sm\:size-(fit-content);
    }

    @mixin md\:size-0 {
      @include md\:size-($\0);
    }

    @mixin md\:size-px {
      @include md\:size-($\px);
    }

    @mixin md\:size-0\.5 {
      @include md\:size-($\0\.5);
    }

    @mixin md\:size-1 {
      @include md\:size-($\1);
    }

    @mixin md\:size-1\.5 {
      @include md\:size-($\1\.5);
    }

    @mixin md\:size-2 {
      @include md\:size-($\2);
    }

    @mixin md\:size-2\.5 {
      @include md\:size-($\2\.5);
    }

    @mixin md\:size-3 {
      @include md\:size-($\3);
    }

    @mixin md\:size-3\.5 {
      @include md\:size-($\3\.5);
    }

    @mixin md\:size-4 {
      @include md\:size-($\4);
    }

    @mixin md\:size-5 {
      @include md\:size-($\5);
    }

    @mixin md\:size-6 {
      @include md\:size-($\6);
    }

    @mixin md\:size-7 {
      @include md\:size-($\7);
    }

    @mixin md\:size-8 {
      @include md\:size-($\8);
    }

    @mixin md\:size-9 {
      @include md\:size-($\9);
    }

    @mixin md\:size-10 {
      @include md\:size-($\10);
    }

    @mixin md\:size-11 {
      @include md\:size-($\11);
    }

    @mixin md\:size-12 {
      @include md\:size-($\12);
    }

    @mixin md\:size-14 {
      @include md\:size-($\14);
    }

    @mixin md\:size-16 {
      @include md\:size-($\16);
    }

    @mixin md\:size-20 {
      @include md\:size-($\20);
    }

    @mixin md\:size-24 {
      @include md\:size-($\24);
    }

    @mixin md\:size-28 {
      @include md\:size-($\28);
    }

    @mixin md\:size-32 {
      @include md\:size-($\32);
    }

    @mixin md\:size-36 {
      @include md\:size-($\36);
    }

    @mixin md\:size-40 {
      @include md\:size-($\40);
    }

    @mixin md\:size-44 {
      @include md\:size-($\44);
    }

    @mixin md\:size-48 {
      @include md\:size-($\48);
    }

    @mixin md\:size-52 {
      @include md\:size-($\52);
    }

    @mixin md\:size-56 {
      @include md\:size-($\56);
    }

    @mixin md\:size-60 {
      @include md\:size-($\60);
    }

    @mixin md\:size-64 {
      @include md\:size-($\64);
    }

    @mixin md\:size-72 {
      @include md\:size-($\72);
    }

    @mixin md\:size-80 {
      @include md\:size-($\80);
    }

    @mixin md\:size-96 {
      @include md\:size-($\96);
    }

    @mixin md\:size-auto {
      @include md\:size-(auto);
    }

    @mixin md\:size-1\/2 {
      @include md\:size-(50%);
    }

    @mixin md\:size-1\/3 {
      @include md\:size-(33.333333%);
    }

    @mixin md\:size-2\/3 {
      @include md\:size-(66.666667%);
    }

    @mixin md\:size-1\/4 {
      @include md\:size-(25%);
    }

    @mixin md\:size-2\/4 {
      @include md\:size-(50%);
    }

    @mixin md\:size-3\/4 {
      @include md\:size-(75%);
    }

    @mixin md\:size-1\/5 {
      @include md\:size-(20%);
    }

    @mixin md\:size-2\/5 {
      @include md\:size-(40%);
    }

    @mixin md\:size-3\/5 {
      @include md\:size-(60%);
    }

    @mixin md\:size-4\/5 {
      @include md\:size-(80%);
    }

    @mixin md\:size-1\/6 {
      @include md\:size-(16.666667%);
    }

    @mixin md\:size-2\/6 {
      @include md\:size-(33.333333%);
    }

    @mixin md\:size-3\/6 {
      @include md\:size-(50%);
    }

    @mixin md\:size-4\/6 {
      @include md\:size-(66.666667%);
    }

    @mixin md\:size-5\/6 {
      @include md\:size-(83.333333%);
    }

    @mixin md\:size-1\/12 {
      @include md\:size-(8.333333%);
    }

    @mixin md\:size-2\/12 {
      @include md\:size-(16.666667%);
    }

    @mixin md\:size-3\/12 {
      @include md\:size-(25%);
    }

    @mixin md\:size-4\/12 {
      @include md\:size-(33.333333%);
    }

    @mixin md\:size-5\/12 {
      @include md\:size-(41.666667%);
    }

    @mixin md\:size-6\/12 {
      @include md\:size-(50%);
    }

    @mixin md\:size-7\/12 {
      @include md\:size-(58.333333%);
    }

    @mixin md\:size-8\/12 {
      @include md\:size-(66.666667%);
    }

    @mixin md\:size-9\/12 {
      @include md\:size-(75%);
    }

    @mixin md\:size-10\/12 {
      @include md\:size-(83.333333%);
    }

    @mixin md\:size-11\/12 {
      @include md\:size-(91.666667%);
    }

    @mixin md\:size-full {
      @include md\:size-(100%);
    }

    @mixin md\:size-min {
      @include md\:size-(min-content);
    }

    @mixin md\:size-max {
      @include md\:size-(max-content);
    }

    @mixin md\:size-fit {
      @include md\:size-(fit-content);
    }

    @mixin lg\:size-0 {
      @include lg\:size-($\0);
    }

    @mixin lg\:size-px {
      @include lg\:size-($\px);
    }

    @mixin lg\:size-0\.5 {
      @include lg\:size-($\0\.5);
    }

    @mixin lg\:size-1 {
      @include lg\:size-($\1);
    }

    @mixin lg\:size-1\.5 {
      @include lg\:size-($\1\.5);
    }

    @mixin lg\:size-2 {
      @include lg\:size-($\2);
    }

    @mixin lg\:size-2\.5 {
      @include lg\:size-($\2\.5);
    }

    @mixin lg\:size-3 {
      @include lg\:size-($\3);
    }

    @mixin lg\:size-3\.5 {
      @include lg\:size-($\3\.5);
    }

    @mixin lg\:size-4 {
      @include lg\:size-($\4);
    }

    @mixin lg\:size-5 {
      @include lg\:size-($\5);
    }

    @mixin lg\:size-6 {
      @include lg\:size-($\6);
    }

    @mixin lg\:size-7 {
      @include lg\:size-($\7);
    }

    @mixin lg\:size-8 {
      @include lg\:size-($\8);
    }

    @mixin lg\:size-9 {
      @include lg\:size-($\9);
    }

    @mixin lg\:size-10 {
      @include lg\:size-($\10);
    }

    @mixin lg\:size-11 {
      @include lg\:size-($\11);
    }

    @mixin lg\:size-12 {
      @include lg\:size-($\12);
    }

    @mixin lg\:size-14 {
      @include lg\:size-($\14);
    }

    @mixin lg\:size-16 {
      @include lg\:size-($\16);
    }

    @mixin lg\:size-20 {
      @include lg\:size-($\20);
    }

    @mixin lg\:size-24 {
      @include lg\:size-($\24);
    }

    @mixin lg\:size-28 {
      @include lg\:size-($\28);
    }

    @mixin lg\:size-32 {
      @include lg\:size-($\32);
    }

    @mixin lg\:size-36 {
      @include lg\:size-($\36);
    }

    @mixin lg\:size-40 {
      @include lg\:size-($\40);
    }

    @mixin lg\:size-44 {
      @include lg\:size-($\44);
    }

    @mixin lg\:size-48 {
      @include lg\:size-($\48);
    }

    @mixin lg\:size-52 {
      @include lg\:size-($\52);
    }

    @mixin lg\:size-56 {
      @include lg\:size-($\56);
    }

    @mixin lg\:size-60 {
      @include lg\:size-($\60);
    }

    @mixin lg\:size-64 {
      @include lg\:size-($\64);
    }

    @mixin lg\:size-72 {
      @include lg\:size-($\72);
    }

    @mixin lg\:size-80 {
      @include lg\:size-($\80);
    }

    @mixin lg\:size-96 {
      @include lg\:size-($\96);
    }

    @mixin lg\:size-auto {
      @include lg\:size-(auto);
    }

    @mixin lg\:size-1\/2 {
      @include lg\:size-(50%);
    }

    @mixin lg\:size-1\/3 {
      @include lg\:size-(33.333333%);
    }

    @mixin lg\:size-2\/3 {
      @include lg\:size-(66.666667%);
    }

    @mixin lg\:size-1\/4 {
      @include lg\:size-(25%);
    }

    @mixin lg\:size-2\/4 {
      @include lg\:size-(50%);
    }

    @mixin lg\:size-3\/4 {
      @include lg\:size-(75%);
    }

    @mixin lg\:size-1\/5 {
      @include lg\:size-(20%);
    }

    @mixin lg\:size-2\/5 {
      @include lg\:size-(40%);
    }

    @mixin lg\:size-3\/5 {
      @include lg\:size-(60%);
    }

    @mixin lg\:size-4\/5 {
      @include lg\:size-(80%);
    }

    @mixin lg\:size-1\/6 {
      @include lg\:size-(16.666667%);
    }

    @mixin lg\:size-2\/6 {
      @include lg\:size-(33.333333%);
    }

    @mixin lg\:size-3\/6 {
      @include lg\:size-(50%);
    }

    @mixin lg\:size-4\/6 {
      @include lg\:size-(66.666667%);
    }

    @mixin lg\:size-5\/6 {
      @include lg\:size-(83.333333%);
    }

    @mixin lg\:size-1\/12 {
      @include lg\:size-(8.333333%);
    }

    @mixin lg\:size-2\/12 {
      @include lg\:size-(16.666667%);
    }

    @mixin lg\:size-3\/12 {
      @include lg\:size-(25%);
    }

    @mixin lg\:size-4\/12 {
      @include lg\:size-(33.333333%);
    }

    @mixin lg\:size-5\/12 {
      @include lg\:size-(41.666667%);
    }

    @mixin lg\:size-6\/12 {
      @include lg\:size-(50%);
    }

    @mixin lg\:size-7\/12 {
      @include lg\:size-(58.333333%);
    }

    @mixin lg\:size-8\/12 {
      @include lg\:size-(66.666667%);
    }

    @mixin lg\:size-9\/12 {
      @include lg\:size-(75%);
    }

    @mixin lg\:size-10\/12 {
      @include lg\:size-(83.333333%);
    }

    @mixin lg\:size-11\/12 {
      @include lg\:size-(91.666667%);
    }

    @mixin lg\:size-full {
      @include lg\:size-(100%);
    }

    @mixin lg\:size-min {
      @include lg\:size-(min-content);
    }

    @mixin lg\:size-max {
      @include lg\:size-(max-content);
    }

    @mixin lg\:size-fit {
      @include lg\:size-(fit-content);
    }

    @mixin xl\:size-0 {
      @include xl\:size-($\0);
    }

    @mixin xl\:size-px {
      @include xl\:size-($\px);
    }

    @mixin xl\:size-0\.5 {
      @include xl\:size-($\0\.5);
    }

    @mixin xl\:size-1 {
      @include xl\:size-($\1);
    }

    @mixin xl\:size-1\.5 {
      @include xl\:size-($\1\.5);
    }

    @mixin xl\:size-2 {
      @include xl\:size-($\2);
    }

    @mixin xl\:size-2\.5 {
      @include xl\:size-($\2\.5);
    }

    @mixin xl\:size-3 {
      @include xl\:size-($\3);
    }

    @mixin xl\:size-3\.5 {
      @include xl\:size-($\3\.5);
    }

    @mixin xl\:size-4 {
      @include xl\:size-($\4);
    }

    @mixin xl\:size-5 {
      @include xl\:size-($\5);
    }

    @mixin xl\:size-6 {
      @include xl\:size-($\6);
    }

    @mixin xl\:size-7 {
      @include xl\:size-($\7);
    }

    @mixin xl\:size-8 {
      @include xl\:size-($\8);
    }

    @mixin xl\:size-9 {
      @include xl\:size-($\9);
    }

    @mixin xl\:size-10 {
      @include xl\:size-($\10);
    }

    @mixin xl\:size-11 {
      @include xl\:size-($\11);
    }

    @mixin xl\:size-12 {
      @include xl\:size-($\12);
    }

    @mixin xl\:size-14 {
      @include xl\:size-($\14);
    }

    @mixin xl\:size-16 {
      @include xl\:size-($\16);
    }

    @mixin xl\:size-20 {
      @include xl\:size-($\20);
    }

    @mixin xl\:size-24 {
      @include xl\:size-($\24);
    }

    @mixin xl\:size-28 {
      @include xl\:size-($\28);
    }

    @mixin xl\:size-32 {
      @include xl\:size-($\32);
    }

    @mixin xl\:size-36 {
      @include xl\:size-($\36);
    }

    @mixin xl\:size-40 {
      @include xl\:size-($\40);
    }

    @mixin xl\:size-44 {
      @include xl\:size-($\44);
    }

    @mixin xl\:size-48 {
      @include xl\:size-($\48);
    }

    @mixin xl\:size-52 {
      @include xl\:size-($\52);
    }

    @mixin xl\:size-56 {
      @include xl\:size-($\56);
    }

    @mixin xl\:size-60 {
      @include xl\:size-($\60);
    }

    @mixin xl\:size-64 {
      @include xl\:size-($\64);
    }

    @mixin xl\:size-72 {
      @include xl\:size-($\72);
    }

    @mixin xl\:size-80 {
      @include xl\:size-($\80);
    }

    @mixin xl\:size-96 {
      @include xl\:size-($\96);
    }

    @mixin xl\:size-auto {
      @include xl\:size-(auto);
    }

    @mixin xl\:size-1\/2 {
      @include xl\:size-(50%);
    }

    @mixin xl\:size-1\/3 {
      @include xl\:size-(33.333333%);
    }

    @mixin xl\:size-2\/3 {
      @include xl\:size-(66.666667%);
    }

    @mixin xl\:size-1\/4 {
      @include xl\:size-(25%);
    }

    @mixin xl\:size-2\/4 {
      @include xl\:size-(50%);
    }

    @mixin xl\:size-3\/4 {
      @include xl\:size-(75%);
    }

    @mixin xl\:size-1\/5 {
      @include xl\:size-(20%);
    }

    @mixin xl\:size-2\/5 {
      @include xl\:size-(40%);
    }

    @mixin xl\:size-3\/5 {
      @include xl\:size-(60%);
    }

    @mixin xl\:size-4\/5 {
      @include xl\:size-(80%);
    }

    @mixin xl\:size-1\/6 {
      @include xl\:size-(16.666667%);
    }

    @mixin xl\:size-2\/6 {
      @include xl\:size-(33.333333%);
    }

    @mixin xl\:size-3\/6 {
      @include xl\:size-(50%);
    }

    @mixin xl\:size-4\/6 {
      @include xl\:size-(66.666667%);
    }

    @mixin xl\:size-5\/6 {
      @include xl\:size-(83.333333%);
    }

    @mixin xl\:size-1\/12 {
      @include xl\:size-(8.333333%);
    }

    @mixin xl\:size-2\/12 {
      @include xl\:size-(16.666667%);
    }

    @mixin xl\:size-3\/12 {
      @include xl\:size-(25%);
    }

    @mixin xl\:size-4\/12 {
      @include xl\:size-(33.333333%);
    }

    @mixin xl\:size-5\/12 {
      @include xl\:size-(41.666667%);
    }

    @mixin xl\:size-6\/12 {
      @include xl\:size-(50%);
    }

    @mixin xl\:size-7\/12 {
      @include xl\:size-(58.333333%);
    }

    @mixin xl\:size-8\/12 {
      @include xl\:size-(66.666667%);
    }

    @mixin xl\:size-9\/12 {
      @include xl\:size-(75%);
    }

    @mixin xl\:size-10\/12 {
      @include xl\:size-(83.333333%);
    }

    @mixin xl\:size-11\/12 {
      @include xl\:size-(91.666667%);
    }

    @mixin xl\:size-full {
      @include xl\:size-(100%);
    }

    @mixin xl\:size-min {
      @include xl\:size-(min-content);
    }

    @mixin xl\:size-max {
      @include xl\:size-(max-content);
    }

    @mixin xl\:size-fit {
      @include xl\:size-(fit-content);
    }

    @mixin \2xl\:size-0 {
      @include \2xl\:size-($\0);
    }

    @mixin \2xl\:size-px {
      @include \2xl\:size-($\px);
    }

    @mixin \2xl\:size-0\.5 {
      @include \2xl\:size-($\0\.5);
    }

    @mixin \2xl\:size-1 {
      @include \2xl\:size-($\1);
    }

    @mixin \2xl\:size-1\.5 {
      @include \2xl\:size-($\1\.5);
    }

    @mixin \2xl\:size-2 {
      @include \2xl\:size-($\2);
    }

    @mixin \2xl\:size-2\.5 {
      @include \2xl\:size-($\2\.5);
    }

    @mixin \2xl\:size-3 {
      @include \2xl\:size-($\3);
    }

    @mixin \2xl\:size-3\.5 {
      @include \2xl\:size-($\3\.5);
    }

    @mixin \2xl\:size-4 {
      @include \2xl\:size-($\4);
    }

    @mixin \2xl\:size-5 {
      @include \2xl\:size-($\5);
    }

    @mixin \2xl\:size-6 {
      @include \2xl\:size-($\6);
    }

    @mixin \2xl\:size-7 {
      @include \2xl\:size-($\7);
    }

    @mixin \2xl\:size-8 {
      @include \2xl\:size-($\8);
    }

    @mixin \2xl\:size-9 {
      @include \2xl\:size-($\9);
    }

    @mixin \2xl\:size-10 {
      @include \2xl\:size-($\10);
    }

    @mixin \2xl\:size-11 {
      @include \2xl\:size-($\11);
    }

    @mixin \2xl\:size-12 {
      @include \2xl\:size-($\12);
    }

    @mixin \2xl\:size-14 {
      @include \2xl\:size-($\14);
    }

    @mixin \2xl\:size-16 {
      @include \2xl\:size-($\16);
    }

    @mixin \2xl\:size-20 {
      @include \2xl\:size-($\20);
    }

    @mixin \2xl\:size-24 {
      @include \2xl\:size-($\24);
    }

    @mixin \2xl\:size-28 {
      @include \2xl\:size-($\28);
    }

    @mixin \2xl\:size-32 {
      @include \2xl\:size-($\32);
    }

    @mixin \2xl\:size-36 {
      @include \2xl\:size-($\36);
    }

    @mixin \2xl\:size-40 {
      @include \2xl\:size-($\40);
    }

    @mixin \2xl\:size-44 {
      @include \2xl\:size-($\44);
    }

    @mixin \2xl\:size-48 {
      @include \2xl\:size-($\48);
    }

    @mixin \2xl\:size-52 {
      @include \2xl\:size-($\52);
    }

    @mixin \2xl\:size-56 {
      @include \2xl\:size-($\56);
    }

    @mixin \2xl\:size-60 {
      @include \2xl\:size-($\60);
    }

    @mixin \2xl\:size-64 {
      @include \2xl\:size-($\64);
    }

    @mixin \2xl\:size-72 {
      @include \2xl\:size-($\72);
    }

    @mixin \2xl\:size-80 {
      @include \2xl\:size-($\80);
    }

    @mixin \2xl\:size-96 {
      @include \2xl\:size-($\96);
    }

    @mixin \2xl\:size-auto {
      @include \2xl\:size-(auto);
    }

    @mixin \2xl\:size-1\/2 {
      @include \2xl\:size-(50%);
    }

    @mixin \2xl\:size-1\/3 {
      @include \2xl\:size-(33.333333%);
    }

    @mixin \2xl\:size-2\/3 {
      @include \2xl\:size-(66.666667%);
    }

    @mixin \2xl\:size-1\/4 {
      @include \2xl\:size-(25%);
    }

    @mixin \2xl\:size-2\/4 {
      @include \2xl\:size-(50%);
    }

    @mixin \2xl\:size-3\/4 {
      @include \2xl\:size-(75%);
    }

    @mixin \2xl\:size-1\/5 {
      @include \2xl\:size-(20%);
    }

    @mixin \2xl\:size-2\/5 {
      @include \2xl\:size-(40%);
    }

    @mixin \2xl\:size-3\/5 {
      @include \2xl\:size-(60%);
    }

    @mixin \2xl\:size-4\/5 {
      @include \2xl\:size-(80%);
    }

    @mixin \2xl\:size-1\/6 {
      @include \2xl\:size-(16.666667%);
    }

    @mixin \2xl\:size-2\/6 {
      @include \2xl\:size-(33.333333%);
    }

    @mixin \2xl\:size-3\/6 {
      @include \2xl\:size-(50%);
    }

    @mixin \2xl\:size-4\/6 {
      @include \2xl\:size-(66.666667%);
    }

    @mixin \2xl\:size-5\/6 {
      @include \2xl\:size-(83.333333%);
    }

    @mixin \2xl\:size-1\/12 {
      @include \2xl\:size-(8.333333%);
    }

    @mixin \2xl\:size-2\/12 {
      @include \2xl\:size-(16.666667%);
    }

    @mixin \2xl\:size-3\/12 {
      @include \2xl\:size-(25%);
    }

    @mixin \2xl\:size-4\/12 {
      @include \2xl\:size-(33.333333%);
    }

    @mixin \2xl\:size-5\/12 {
      @include \2xl\:size-(41.666667%);
    }

    @mixin \2xl\:size-6\/12 {
      @include \2xl\:size-(50%);
    }

    @mixin \2xl\:size-7\/12 {
      @include \2xl\:size-(58.333333%);
    }

    @mixin \2xl\:size-8\/12 {
      @include \2xl\:size-(66.666667%);
    }

    @mixin \2xl\:size-9\/12 {
      @include \2xl\:size-(75%);
    }

    @mixin \2xl\:size-10\/12 {
      @include \2xl\:size-(83.333333%);
    }

    @mixin \2xl\:size-11\/12 {
      @include \2xl\:size-(91.666667%);
    }

    @mixin \2xl\:size-full {
      @include \2xl\:size-(100%);
    }

    @mixin \2xl\:size-min {
      @include \2xl\:size-(min-content);
    }

    @mixin \2xl\:size-max {
      @include \2xl\:size-(max-content);
    }

    @mixin \2xl\:size-fit {
      @include \2xl\:size-(fit-content);
    }

    // x*/
  }
}

@if $Custom {
  // /*x
  @mixin get_size-($v) {
    @include width($v);
    @include height($v);
  }

  @mixin size-($v) {
    @include get_size-($v);
  }

  @mixin sm\:size-($v) {
    @include sm {
      @include get_size-($v);
    }
  }

  @mixin md\:size-($v) {
    @include md {
      @include get_size-($v);
    }
  }

  @mixin lg\:size-($v) {
    @include lg {
      @include get_size-($v);
    }
  }

  @mixin xl\:size-($v) {
    @include xl {
      @include get_size-($v);
    }
  }

  @mixin \2xl\:size-($v) {
    @include \2xl {
      @include get_size-($v);
    }
  }

  // x*/
}
