@use "../../setting" as *;


$BoxSizing: (
  "box-border": border-box,
  "box-content": content-box,
);

@if $Basic {
  @each $key, $value in $BoxSizing {
    /*x
    @mixin #{$key} {
      @include box-sizing(#{$value});
    }
    x*/
  }
}

@if $Rwd {
  @each $rwd in $rwdBox {
    @each $key, $value in $BoxSizing {
      /*x
      @mixin #{$rwd}\:#{$key} {
        @include box-sizing(#{$value}, $#{$rwd});
      }
      x*/
    }
  }
}