$data: (
  'animate-none': none,
  'animate-spin': spin 1s linear infinite,
  'animate-ping': ping 1s cubic-bezier(0, 0, 0.2, 1) infinite,
  'animate-pulse': pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite,
  'animate-bounce': bounce 1s infinite,
);

@if $isBasic {
  @each $key, $value in $data {
    @if $key == 'animate-none' {
      /*x
      @mixin #{$key} {
        @include animation(#{$value});
      }
      x*/
    } @else if $key == 'animate-spin' {
      /*x
      @mixin #{$key} {
        @include animation(#{$value});
        @keyframes spin {
          to {
            transform: rotate(360deg);
          }
        }
      }
      x*/
    } @else if $key == 'animate-ping' {
      /*x
      @mixin #{$key} {
        @include animation(#{$value});
        @keyframes ping {
          75%,
          100% {
            transform: scale(2);
            opacity: 0;
          }
        }
      }
      x*/
    } @else if $key == 'animate-pulse' {
      /*x
      @mixin #{$key} {
        @include animation(#{$value});
        @keyframes pulse {
          50% {
            opacity: 0.5;
          }
        }
      }
      x*/
    } @else if $key == 'animate-bounce' {
      /*x
      @mixin #{$key} {
        @include animation(#{$value});
        @keyframes bounce {
          0%,
          100% {
            transform: translateY(-25%);
            animate-timing-function: cubic-bezier(0.8, 0, 1, 1);
          }

          50% {
            transform: translateY(0);
            animate-timing-function: cubic-bezier(0, 0, 0.2, 1);
          }
        }
      }
      x*/
    }
  }
}

@if $isArbitrary {
  /*x
  @mixin animate-($v) {
    @include animation($v);
  }
  x*/
}
