$TransitionTimingFunction: (
  'ease-linear': linear,
  'ease-in': cubic-bezier(0.4, 0, 1, 1),
  'ease-out': cubic-bezier(0, 0, 0.2, 1),
  'ease-in-out': cubic-bezier(0.4, 0, 0.2, 1),
);

@if $isBasic {
  @each $key, $value in $TransitionTimingFunction {
    /*x
    @mixin #{$key} {
      @include transition-timing-function(#{$value});
    }
    x*/
  }
}

@if $isRwd and $isClassic {
  @each $rwdToken, $rwd in $rwdBox {
    @each $key, $value in $TransitionTimingFunction {
      /*x
      @mixin #{$rwdToken}\:#{$key} {
        @include transition-timing-function(#{$value}, #{$rwd});
      }
      x*/
    }
  }
}

@if $isCustom {
  /*x
  @mixin ease-($v) {
    @include transition-timing-function($v);
  }
  x*/

  @each $rwdToken, $rwd in $rwdBox {
    /*x
    @mixin #{$rwdToken}\:ease-($v) {
      @include transition-timing-function($v, #{$rwd});
    }
    x*/
  }
}
