$TransitionDelay: (
  'delay-0': 0s,
  'delay-75': 75ms,
  'delay-100': 100ms,
  'delay-150': 150ms,
  'delay-200': 200ms,
  'delay-300': 300ms,
  'delay-500': 500ms,
  'delay-700': 700ms,
  'delay-1000': 1000ms,
);

@if $isBasic {
  @each $key, $value in $TransitionDelay {
    /*x
    @mixin #{$key} {
      @include transition-delay(#{$value});
    }
    x*/
  }
}

@if $isRwd and (not $isAwaken) {
  @each $rwdToken, $rwd in $rwdBox {
    @each $key, $value in $TransitionDelay {
      /*x
      @mixin #{$rwdToken}\:#{$key} {
        @include transition-delay(#{$value}, #{$rwd});
      }
      x*/
    }

    /*x
    @mixin #{$rwdToken}\:delay-($v) {
      @include transition-delay($v, #{$rwd});
    }
    x*/
  }
}

@if $isArbitrary {
  /*x
  @mixin delay-($v) {
    @include transition-delay($v);
  }
  x*/
}
