$TransitionDuration: (
  'duration-0': 0s,
  'duration-75': 75ms,
  'duration-100': 100ms,
  'duration-150': 150ms,
  'duration-200': 200ms,
  'duration-300': 300ms,
  'duration-500': 500ms,
  'duration-700': 700ms,
  'duration-1000': 1000ms,
);

@if $isBasic {
  @each $key, $value in $TransitionDuration {
    /*x
    @mixin #{$key} {
      @include transition-duration(#{$value});
    }
    x*/
  }
}

@if $isRwd and $isClassic {
  @each $rwdToken, $rwd in $rwdBox {
    @each $key, $value in $TransitionDuration {
      /*x
      @mixin #{$rwdToken}\:#{$key} {
        @include transition-duration(#{$value}, #{$rwd});
      }
      x*/
    }
  }
}

@if $isArbitrary {
  /*x
  @mixin duration-($v) {
    @include transition-duration($v);
  }
  x*/

  @each $rwdToken, $rwd in $rwdBox {
    /*x
    @mixin #{$rwdToken}\:duration-($v) {
      @include transition-duration($v, #{$rwd});
    }
    x*/
  }
}
