@use "../../setting" as *;

/* Forced Color Adjust */
@if $Basic {
  /*x
  @mixin forced-color-adjust-auto {
    forced-color-adjust: auto;
  }

  @mixin forced-color-adjust-none {
    forced-color-adjust: none;
  }x*/
}

@if $Rwd {
  /*x
  @mixin sm\:sr-only {
    @media (min-width: $breakpoint-sm) {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      white-space: nowrap;
      border-width: 0;
    }
  }

  @mixin sm\:not-sr-only {
    @media (min-width: $breakpoint-sm) {
      position: static;
      width: auto;
      height: auto;
      padding: 0;
      margin: 0;
      overflow: visible;
      clip: auto;
      white-space: normal;
    }
  }

  @mixin md\:sr-only {
    @media (min-width: $breakpoint-md) {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      white-space: nowrap;
      border-width: 0;
    }
  }

  @mixin md\:not-sr-only {
    @media (min-width: $breakpoint-md) {
      position: static;
      width: auto;
      height: auto;
      padding: 0;
      margin: 0;
      overflow: visible;
      clip: auto;
      white-space: normal;
    }
  }

  @mixin lg\:sr-only {
    @media (min-width: $breakpoint-lg) {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      white-space: nowrap;
      border-width: 0;
    }
  }

  @mixin lg\:not-sr-only {
    @media (min-width: $breakpoint-lg) {
      position: static;
      width: auto;
      height: auto;
      padding: 0;
      margin: 0;
      overflow: visible;
      clip: auto;
      white-space: normal;
    }
  }

  @mixin xl\:sr-only {
    @media (min-width: $breakpoint-xl) {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      white-space: nowrap;
      border-width: 0;
    }
  }

  @mixin xl\:not-sr-only {
    @media (min-width: $breakpoint-xl) {
      position: static;
      width: auto;
      height: auto;
      padding: 0;
      margin: 0;
      overflow: visible;
      clip: auto;
      white-space: normal;
    }
  }

  @mixin \2xl\:sr-only {
    @media (min-width: $breakpoint-2xl) {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      white-space: nowrap;
      border-width: 0;
    }
  }

  @mixin \2xl\:not-sr-only {
    @media (min-width: $breakpoint-2xl) {
      position: static;
      width: auto;
      height: auto;
      padding: 0;
      margin: 0;
      overflow: visible;
      clip: auto;
      white-space: normal;
    }
  }x*/
}
