@use "../../setting" as *;


$Appearance: (
  "appearance-none": none,
  "appearance-auto": auto,
);

@if $Basic {
  @each $key, $value in $Appearance {
    /*x
    @mixin #{$key} {
      @include appearance(#{$value});
    }
    x*/
  }
}

@if $Rwd {
  @each $rwd in $rwdBox {
    @each $key, $value in $Appearance {
      /*x
      @mixin #{$rwd}\:#{$key} {
        @include appearance(#{$value}, $#{$rwd});
      }
      x*/
    }
  }
}
