@use "../../mode0" as *;
@use "true" as *;

@include describe("10.Tables") {
  @include describe("Caption Side") {
    @include describe("Basic") {
      @include it("caption-top") {
        @include assert {
          @include output {
            @include caption-top;
            @include reset;
          }

          @include expect {
            caption-side: top;
          }
        }
      }

      @include it("caption-bottom") {
        @include assert {
          @include output {
            @include caption-bottom;
            @include reset;
          }

          @include expect {
            caption-side: bottom;
          }
        }
      }
    }

    @include describe("Rwd") {
      @include it("sm\:caption-top") {
        @include assert {
          @include output {
            @include sm\:caption-top;
            @include reset;
          }

          @include expect {
            @media (min-width: $sm) {
              caption-side: top;
            }
          }
        }
      }

      @include it("sm\:caption-bottom") {
        @include assert {
          @include output {
            @include sm\:caption-bottom;
            @include reset;
          }

          @include expect {
            @media (min-width: $sm) {
              caption-side: bottom;
            }
          }
        }
      }

      @include it("md\:caption-top") {
        @include assert {
          @include output {
            @include md\:caption-top;
            @include reset;
          }

          @include expect {
            @media (min-width: $md) {
              caption-side: top;
            }
          }
        }
      }

      @include it("md\:caption-bottom") {
        @include assert {
          @include output {
            @include md\:caption-bottom;
            @include reset;
          }

          @include expect {
            @media (min-width: $md) {
              caption-side: bottom;
            }
          }
        }
      }

      @include it("lg\:caption-top") {
        @include assert {
          @include output {
            @include lg\:caption-top;
            @include reset;
          }

          @include expect {
            @media (min-width: $lg) {
              caption-side: top;
            }
          }
        }
      }

      @include it("lg\:caption-bottom") {
        @include assert {
          @include output {
            @include lg\:caption-bottom;
            @include reset;
          }

          @include expect {
            @media (min-width: $lg) {
              caption-side: bottom;
            }
          }
        }
      }

      @include it("xl\:caption-top") {
        @include assert {
          @include output {
            @include xl\:caption-top;
            @include reset;
          }

          @include expect {
            @media (min-width: $xl) {
              caption-side: top;
            }
          }
        }
      }

      @include it("xl\:caption-bottom") {
        @include assert {
          @include output {
            @include xl\:caption-bottom;
            @include reset;
          }

          @include expect {
            @media (min-width: $xl) {
              caption-side: bottom;
            }
          }
        }
      }

      @include it("2xl\:caption-top") {
        @include assert {
          @include output {
            @include \2xl\:caption-top;
            @include reset;
          }

          @include expect {
            @media (min-width: $\2xl) {
              caption-side: top;
            }
          }
        }
      }

      @include it("2xl\:caption-bottom") {
        @include assert {
          @include output {
            @include \2xl\:caption-bottom;
            @include reset;
          }

          @include expect {
            @media (min-width: $\2xl) {
              caption-side: bottom;
            }
          }
        }
      }
    }
  }
}
