@use "../../setting" as *;

$TextUnderlineOffset: (
  "underline-offset-auto": auto,
  "underline-offset-0":0px,
  "underline-offset-1":1px,
  "underline-offset-2":2px,
  "underline-offset-4":4px,
  "underline-offset-8":8px,
);

@if $Basic {
  @each $key, $value in $TextUnderlineOffset {
    /*x
    @mixin #{$key} {
      @include text-underline-offset(#{$value});
    }
    x*/
  }
}

@if $Rwd and ($sizeMode ==0 or $sizeMode ==1) {
  @each $rwd in $rwdBox {
    @each $key, $value in $TextUnderlineOffset {
      /*x
      @mixin #{$rwd}\:#{$key} {
        @include text-underline-offset(#{$value}, $#{$rwd});
      }
      x*/
    }
  }
}

@if $Custom {
  /*x
  @mixin underline-offset-($v) {
    @include text-underline-offset($v);
  }
  x*/

  @each $rwd in $rwdBox {
    /*x
    @mixin #{$rwd}\:underline-offset-($v) {
      @include text-underline-offset($v, $#{$rwd});
    }
    x*/
  }
}