@use "true" as *;
@use "../escss" as *;

@include describe("2-Flexbox & Grid") {
  @include describe("14-Grid Auto Rows") {
    @include describe("Basic") {
      @include it("auto-rows-auto") {
        @include assert {
          @include output {
            @include auto-rows-auto;
          }

          @include expect {
            grid-auto-rows: auto;
          }
        }
      }

      @include it("auto-rows-min") {
        @include assert {
          @include output {
            @include auto-rows-min;
          }

          @include expect {
            grid-auto-rows: min-content;
          }
        }
      }

      @include it("auto-rows-max") {
        @include assert {
          @include output {
            @include auto-rows-max;
          }

          @include expect {
            grid-auto-rows: max-content;
          }
        }
      }

      @include it("auto-rows-fr") {
        @include assert {
          @include output {
            @include auto-rows-fr;
          }

          @include expect {
            grid-auto-rows: minmax(0, 1fr);
          }
        }
      }
    }

    @include describe("Custom") {
      @include it("auto-rows-(minmax(0, 2fr))") {
        @include assert {
          @include output {
            @include auto-rows-(minmax(0, 2fr));
          }

          @include expect {
            grid-auto-rows: minmax(0, 2fr);
          }
        }
      }
    }
  }
}
