@use "true" as *;
@use "../awaken" as *;

@include describe("2-Flexbox & Grid") {
  @include describe("17-Justify Items") {
    @include describe("Basic") {
      @include it("justify-items-start") {
        @include assert {
          @include output {
            @include justify-items-start;
          }

          @include expect {
            justify-items: start;
          }
        }
      }

      @include it("justify-items-end") {
        @include assert {
          @include output {
            @include justify-items-end;
          }

          @include expect {
            justify-items: end;
          }
        }
      }

      @include it("justify-items-center") {
        @include assert {
          @include output {
            @include justify-items-center;
          }

          @include expect {
            justify-items: center;
          }
        }
      }

      @include it("justify-items-stretch") {
        @include assert {
          @include output {
            @include justify-items-stretch;
          }

          @include expect {
            justify-items: stretch;
          }
        }
      }
    }
  }
}
