@use "true" as *;
@use "../escss" as *;

@include describe("2-Flexbox & Grid") {
  @include describe("18-Justify Self") {
    @include describe("Basic") {
      @include it("justify-self-auto") {
        @include assert {
          @include output {
            @include justify-self-auto;
          }

          @include expect {
            justify-self: auto;
          }
        }
      }

      @include it("justify-self-start") {
        @include assert {
          @include output {
            @include justify-self-start;
          }

          @include expect {
            justify-self: start;
          }
        }
      }

      @include it("justify-self-end") {
        @include assert {
          @include output {
            @include justify-self-end;
          }

          @include expect {
            justify-self: end;
          }
        }
      }

      @include it("justify-self-center") {
        @include assert {
          @include output {
            @include justify-self-center;
          }

          @include expect {
            justify-self: center;
          }
        }
      }

      @include it("justify-self-stretch") {
        @include assert {
          @include output {
            @include justify-self-stretch;
          }

          @include expect {
            justify-self: stretch;
          }
        }
      }
    }
  }
}
