@use "true" as *;
@use "../style" as *;

@include describe("2-Flexbox & Grid") {
  @include describe("19-Align Content") {
    @include describe("Basic") {
      @include it("content-normal") {
        @include assert {
          @include output {
            @include content-normal;
          }

          @include expect {
            align-content: normal;
          }
        }
      }

      @include it("content-center") {
        @include assert {
          @include output {
            @include content-center;
          }

          @include expect {
            align-content: center;
          }
        }
      }

      @include it("content-start") {
        @include assert {
          @include output {
            @include content-start;
          }

          @include expect {
            align-content: flex-start;
          }
        }
      }

      @include it("content-end") {
        @include assert {
          @include output {
            @include content-end;
          }

          @include expect {
            align-content: flex-end;
          }
        }
      }

      @include it("content-between") {
        @include assert {
          @include output {
            @include content-between;
          }

          @include expect {
            align-content: space-between;
          }
        }
      }

      @include it("content-around") {
        @include assert {
          @include output {
            @include content-around;
          }

          @include expect {
            align-content: space-around;
          }
        }
      }

      @include it("content-evenly") {
        @include assert {
          @include output {
            @include content-evenly;
          }

          @include expect {
            align-content: space-evenly;
          }
        }
      }

      @include it("content-baseline") {
        @include assert {
          @include output {
            @include content-baseline;
          }

          @include expect {
            align-content: baseline;
          }
        }
      }

      @include it("content-stretch") {
        @include assert {
          @include output {
            @include content-stretch;
          }

          @include expect {
            align-content: stretch;
          }
        }
      }
    }
  }
}
