@use "true" as *;
@use "../escss" as *;

@include describe("2-Flexbox & Grid") {
  @include describe("2-Flex Direction") {
    @include describe("Basic") {
      @include it("flex-row") {
        @include assert {
          @include output {
            @include flex-row;
          }

          @include expect {
            flex-direction: row;
          }
        }
      }

      @include it("flex-row-reverse") {
        @include assert {
          @include output {
            @include flex-row-reverse;
          }

          @include expect {
            flex-direction: row-reverse;
          }
        }
      }

      @include it("flex-col") {
        @include assert {
          @include output {
            @include flex-col;
          }

          @include expect {
            flex-direction: column;
          }
        }
      }

      @include it("flex-col-reverse") {
        @include assert {
          @include output {
            @include flex-col-reverse;
          }

          @include expect {
            flex-direction: column-reverse;
          }
        }
      }
    }
  }
}
