@use "true" as *;
@use "../style" as *;

@include describe("2-Flexbox & Grid") {
  @include describe("20-Align Items") {
    @include describe("Basic") {
      @include it("items-start") {
        @include assert {
          @include output {
            @include items-start;
          }

          @include expect {
            align-items: flex-start;
          }
        }
      }

      @include it("items-end") {
        @include assert {
          @include output {
            @include items-end;
          }

          @include expect {
            align-items: flex-end;
          }
        }
      }

      @include it("items-center") {
        @include assert {
          @include output {
            @include items-center;
          }

          @include expect {
            align-items: center;
          }
        }
      }

      @include it("items-baseline") {
        @include assert {
          @include output {
            @include items-baseline;
          }

          @include expect {
            align-items: baseline;
          }
        }
      }

      @include it("items-stretch") {
        @include assert {
          @include output {
            @include items-stretch;
          }

          @include expect {
            align-items: stretch;
          }
        }
      }
    }
  }
}
