@use "true" as *;
@use "../escss" as *;

@include describe("2-Flexbox & Grid") {
  @include describe("22-Place Content") {
    @include describe("Basic") {
      @include it("place-content-center") {
        @include assert {
          @include output {
            @include place-content-center;
          }

          @include expect {
            place-content: center;
          }
        }
      }

      @include it("place-content-start") {
        @include assert {
          @include output {
            @include place-content-start;
          }

          @include expect {
            place-content: start;
          }
        }
      }

      @include it("place-content-end") {
        @include assert {
          @include output {
            @include place-content-end;
          }

          @include expect {
            place-content: end;
          }
        }
      }

      @include it("place-content-between") {
        @include assert {
          @include output {
            @include place-content-between;
          }

          @include expect {
            place-content: space-between;
          }
        }
      }

      @include it("place-content-around") {
        @include assert {
          @include output {
            @include place-content-around;
          }

          @include expect {
            place-content: space-around;
          }
        }
      }

      @include it("place-content-evenly") {
        @include assert {
          @include output {
            @include place-content-evenly;
          }

          @include expect {
            place-content: space-evenly;
          }
        }
      }

      @include it("place-content-baseline") {
        @include assert {
          @include output {
            @include place-content-baseline;
          }

          @include expect {
            place-content: baseline;
          }
        }
      }

      @include it("place-content-stretch") {
        @include assert {
          @include output {
            @include place-content-stretch;
          }

          @include expect {
            place-content: stretch;
          }
        }
      }
    }
  }
}
