@use "../../setting" as *;

$Opacity: (
  "opacity-0": 0,
  "opacity-5": 0.05,
  "opacity-10": 0.1,
  "opacity-15": 0.15,
  "opacity-20": 0.2,
  "opacity-25": 0.25,
  "opacity-30": 0.3,
  "opacity-35": 0.35,
  "opacity-40": 0.4,
  "opacity-45": 0.45,
  "opacity-50": 0.5,
  "opacity-55": 0.55,
  "opacity-60": 0.6,
  "opacity-65": 0.65,
  "opacity-70": 0.7,
  "opacity-75": 0.75,
  "opacity-80": 0.8,
  "opacity-85": 0.85,
  "opacity-90": 0.9,
  "opacity-95": 0.95,
  "opacity-100": 1,
);

@if $Basic {
  @each $key, $value in $Opacity {
    /*x
    @mixin #{$key} {
      @include opacity(#{$value});
    }
    x*/
  }
}

@if $Rwd and ($sizeMode ==0 or $sizeMode ==1) {
  @each $rwd in $rwdBox {
    @each $key, $value in $Opacity {
      /*x
      @mixin #{$rwd}\:#{$key} {
        @include opacity(#{$value}, $#{$rwd});
      }
      x*/
    }
  }
}

@if $Custom {
  /*x
  @mixin opacity-($v) {
    @include opacity($v);
  }
  x*/

  @each $rwd in $rwdBox {
    /*x
    @mixin #{$rwd}\:opacity-($v) {
      @include opacity($v, $#{$rwd});
    }
    x*/
  }
}