@use "../../setting" as *;


$ListStyleType: (
  "list-none": none,
  "list-disc": disc,
  "list-decimal": decimal,
);

@if $Basic {
  @each $key, $value in $ListStyleType {
    /*x
    @mixin #{$key} {
      @include list-style-type(#{$value});
    }
    x*/
  }
}

@if $Rwd and ($sizeMode ==0 or $sizeMode ==1) {
  @each $rwd in $rwdBox {
    @each $key, $value in $ListStyleType {
      /*x
      @mixin #{$rwd}\:#{$key} {
        @include list-style-type(#{$value}, $#{$rwd});
      }
      x*/
    }
  }
}

@if $Custom {
  /*x
  @mixin list-($v) {
    @include list-style-type($v);
  }
  x*/

  @each $rwd in $rwdBox {
    /*x
    @mixin #{$rwd}\:list-($v) {
      @include list-style-type($v, $#{$rwd});
    }
    x*/
  }
}