@use "../../setting" as *;


$OverscrollBehavior: (
  "overscroll-auto": auto,
  "overscroll-contain": contain,
  "overscroll-none": none,
);

$OverscrollBehavior2: (
  "overscroll-x-auto": auto,
  "overscroll-x-contain": contain,
  "overscroll-x-none": none,
);

$OverscrollBehavior3: (
  "overscroll-y-auto": auto,
  "overscroll-y-contain": contain,
  "overscroll-y-none": none,
);

@if $Basic {
  @each $key, $value in $OverscrollBehavior {
    /*x
    @mixin #{$key} {
      @include overscroll-behavior(#{$value});
    }
    x*/
  }

  @each $key, $value in $OverscrollBehavior2 {
    /*x
    @mixin #{$key} {
      @include overscroll-behavior-x(#{$value});
    }
    x*/
  }

  @each $key, $value in $OverscrollBehavior3 {
    /*x
    @mixin #{$key} {
      @include overscroll-behavior-y(#{$value});
    }
    x*/
  }
}

@if $Rwd {
  @each $rwd in $rwdBox {
    @each $key, $value in $OverscrollBehavior {
      /*x
      @mixin #{$rwd}\:#{$key} {
        @include overscroll-behavior(#{$value}, $#{$rwd});
      }
      x*/
    }

    @each $key, $value in $OverscrollBehavior2 {
      /*x
      @mixin #{$rwd}\:#{$key} {
        @include overscroll-behavior-x(#{$value}, $#{$rwd});
      }
      x*/
    }

    @each $key, $value in $OverscrollBehavior3 {
      /*x
      @mixin #{$rwd}\:#{$key} {
        @include overscroll-behavior-y(#{$value}, $#{$rwd});
      }
      x*/
    }
  }
}