@use "../../setting" as *;


$OutlineWidth: (
  "outline-0": 0px,
  "outline-1": 1px,
  "outline-2": 2px,
  "outline-4": 4px,
  "outline-8": 8px,
);

@if $Basic {
  @each $key, $value in $OutlineWidth {
    /*x
    @mixin #{$key} {
      @include outline-width(#{$value});
    }
    x*/
  }
}

@if $Rwd and ($sizeMode ==0 or $sizeMode ==1) {
  @each $rwd in $rwdBox {
    @each $key, $value in $OutlineWidth {
      /*x
      @mixin #{$rwd}\:#{$key} {
        @include outline-width(#{$value}, $#{$rwd});
      }
      x*/
    }
  }
}

@if $Custom {
  /*x
  @mixin outline-($v) {
    @if meta.type-of($v)==color or list.index(inherit currentColor transparent, $v) {
      @include outline-color($v);
    }

    @else {
      @include outline-width($v);
    }
  }
  x*/

  @each $rwd in $rwdBox {
    /*x
    @mixin #{$rwd}\:outline-($v) {
      @if meta.type-of($v)==color or list.index(inherit currentColor transparent, $v) {
        @include outline-color($v, $#{$rwd});
      }

      @else {
        @include outline-width($v, $#{$rwd});
      }
    }
    x*/
  }
}