@use "../../setting" as *;


$TextAlign: (
  "text-left": left,
  "text-center": center,
  "text-right": right,
  "text-justify": justify,
  "text-start": start,
  "text-end": end,
);

@if $Basic {
  @each $key, $value in $TextAlign {
    /*x
    @mixin #{$key}{
      @include text-align(#{$value});
    }
    x*/
  }
}

@if $Rwd {
  @each $rwd in $rwdBox {
    @each $key, $value in $TextAlign {
      /*x
      @mixin #{$rwd}\:#{$key}{
        @include text-align(#{$value}, $#{$rwd});
      }
      x*/
    }
  }
}