@use "../../setting" as *;

$BackdropSepia: (
  "backdrop-sepia-0": sepia(0),
  "backdrop-sepia": sepia(100%),
);

@if $Basic {
  @each $key, $value in $BackdropSepia {
    /*x
    @mixin #{$key} {
      $tw-backdrop-sepia: #{$value} !global;
      @include backdrop-filter(get_backdrop-filter());
    }
    x*/
  }
}

@if $Rwd and ($sizeMode ==0 or $sizeMode ==1) {
  @each $rwd in $rwdBox {
    @each $key, $value in $BackdropSepia {
      /*x
      @mixin #{$rwd}\:#{$key} {
        $tw-backdrop-sepia: #{$value} !global;
        @include backdrop-filter(get_backdrop-filter(), $#{$rwd});
      }
      x*/
    }
  }
}

@if $Custom {
  /*x
  @mixin backdrop-sepia-($v) {
    $tw-backdrop-sepia: sepia($v) !global;
    @include backdrop-filter(get_backdrop-filter());
  }
  x*/

  @each $rwd in $rwdBox {
    /*x
    @mixin #{$rwd}\:backdrop-sepia-($v) {
      $tw-backdrop-sepia: sepia($v) !global;
      @include backdrop-filter(get_backdrop-filter(), $#{$rwd});
    }
    x*/
  }
}
