@use "../../setting" as *;

/* Backdrop Sepia */
@if $Basic {
  // /*x
  @mixin backdrop-sepia-0 {
    $tw-backdrop-sepia: sepia(0) !global;
    backdrop-filter: get_backdrop-filter();
  }

  @mixin backdrop-sepia {
    $tw-backdrop-sepia: sepia(100%) !global;
    backdrop-filter: get_backdrop-filter();
  }

  // x*/
}

@if $Rwd {
  @if $sizeMode ==0 or $sizeMode ==1 {
    // /*x
    @mixin sm\:backdrop-sepia-0 {
      @include sm\:backdrop-sepia-(0);
    }

    @mixin sm\:backdrop-sepia {
      @include sm\:backdrop-sepia-(100%);
    }

    @mixin md\:backdrop-sepia-0 {
      @include md\:backdrop-sepia-(0);
    }

    @mixin md\:backdrop-sepia {
      @include md\:backdrop-sepia-(100%);
    }

    @mixin lg\:backdrop-sepia-0 {
      @include lg\:backdrop-sepia-(0);
    }

    @mixin lg\:backdrop-sepia {
      @include lg\:backdrop-sepia-(100%);
    }

    @mixin xl\:backdrop-sepia-0 {
      @include xl\:backdrop-sepia-(0);
    }

    @mixin xl\:backdrop-sepia {
      @include xl\:backdrop-sepia-(100%);
    }

    @mixin \2xl\:backdrop-sepia-0 {
      @include \2xl\:backdrop-sepia-(0);
    }

    @mixin \2xl\:backdrop-sepia {
      @include \2xl\:backdrop-sepia-(100%);
    }

    // x*/
  }
}

@if $Custom {
  // /*x
  @mixin backdrop-sepia-($v) {
    $tw-backdrop-sepia: sepia($v) !global;
    @include backdrop-filter(get_backdrop-filter());
  }

  @mixin sm\:backdrop-sepia-($v) {
    $tw-backdrop-sepia: sepia($v) !global;
    @include backdrop-filter(get_backdrop-filter(), $sm);
  }

  @mixin md\:backdrop-sepia-($v) {
    $tw-backdrop-sepia: sepia($v) !global;
    @include backdrop-filter(get_backdrop-filter(), $md);
  }

  @mixin lg\:backdrop-sepia-($v) {
    $tw-backdrop-sepia: sepia($v) !global;
    @include backdrop-filter(get_backdrop-filter(), $lg);
  }

  @mixin xl\:backdrop-sepia-($v) {
    $tw-backdrop-sepia: sepia($v) !global;
    @include backdrop-filter(get_backdrop-filter(), $xl);
  }

  @mixin \2xl\:backdrop-sepia-($v) {
    $tw-backdrop-sepia: sepia($v) !global;
    @include backdrop-filter(get_backdrop-filter(), $\2xl);
  }

  // x*/
}
