@use "../../../settings/structures" as *;
@use "../../../settings//breakpoints" as *;

@if $Container {
  %container {
    width: 100%;
    @media (min-width: $breakpoint-sm) {
      max-width: $breakpoint-sm;
    }

    @media (min-width: $breakpoint-md) {
      max-width: $breakpoint-md;
    }

    @media (min-width: $breakpoint-lg) {
      max-width: $breakpoint-lg;
    }

    @media (min-width: $breakpoint-xl) {
      max-width: $breakpoint-xl;
    }

    @media (min-width: $breakpoint-2xl) {
      max-width: $breakpoint-2xl;
    }
  }
}
