@use "../../setting" as *;

$BackdropSaturate: (
  "backdrop-saturate-0": saturate(0),
  "backdrop-saturate-50": saturate(.5),
  "backdrop-saturate-100": saturate(1),
  "backdrop-saturate-150": saturate(1.5),
  "backdrop-saturate-200": saturate(2),
);

@if $Basic {
  @each $key, $value in $BackdropSaturate {
    /*x
    @mixin #{$key} {
      $tw-backdrop-saturate: #{$value} !global;
      @include backdrop-filter(get_backdrop-filter());
    }
    x*/
  }
}

@if $Rwd and ($sizeMode ==0 or $sizeMode ==1) {
  @each $rwd in $rwdBox {
    @each $key, $value in $BackdropSaturate {
      /*x
      @mixin #{$rwd}\:#{$key} {
        $tw-backdrop-saturate: #{$value} !global;
        @include backdrop-filter(get_backdrop-filter(), $#{$rwd});
      }
      x*/
    }
  }
}

@if $Custom {
  /*x
  @mixin backdrop-saturate-($v) {
    $tw-backdrop-saturate: saturate($v) !global;
    @include backdrop-filter(get_backdrop-filter());
  }
  x*/

  @each $rwd in $rwdBox {
    /*x
    @mixin #{$rwd}\:backdrop-saturate-($v) {
      $tw-backdrop-saturate: saturate($v) !global;
      @include backdrop-filter(get_backdrop-filter(), $#{$rwd});
    }
    x*/
  }
}