@use "../../setting" as *;

/* Size */
@if $Basic {
  // /*x
  @mixin size-0 {
    width: 0px;
    height: 0px;
  }

  @mixin size-px {
    width: 1px;
    height: 1px;
  }

  // 2px
  @mixin size-0\.5 {
    width: 0.125rem;
    height: 0.125rem;
  }

  // 4px
  @mixin size-1 {
    width: 0.25rem;
    height: 0.25rem;
  }

  // 6px
  @mixin size-1\.5 {
    width: 0.375rem;
    height: 0.375rem;
  }

  // 8px
  @mixin size-2 {
    width: 0.5rem;
    height: 0.5rem;
  }

  // 10px
  @mixin size-2\.5 {
    width: 0.625rem;
    height: 0.625rem;
  }

  // 12px
  @mixin size-3 {
    width: 0.75rem;
    height: 0.75rem;
  }

  // 14px
  @mixin size-3\.5 {
    width: 0.875rem;
    height: 0.875rem;
  }

  // 16px
  @mixin size-4 {
    width: 1rem;
    height: 1rem;
  }

  // 20px
  @mixin size-5 {
    width: 1.25rem;
    height: 1.25rem;
  }

  // 24px
  @mixin size-6 {
    width: 1.5rem;
    height: 1.5rem;
  }

  // 28px
  @mixin size-7 {
    width: 1.75rem;
    height: 1.75rem;
  }

  // 32px
  @mixin size-8 {
    width: 2rem;
    height: 2rem;
  }

  // 36px
  @mixin size-9 {
    width: 2.25rem;
    height: 2.25rem;
  }

  // 40px
  @mixin size-10 {
    width: 2.5rem;
    height: 2.5rem;
  }

  // 44px
  @mixin size-11 {
    width: 2.75rem;
    height: 2.75rem;
  }

  // 48px
  @mixin size-12 {
    width: 3rem;
    height: 3rem;
  }

  // 56px
  @mixin size-14 {
    width: 3.5rem;
    height: 3.5rem;
  }

  // 64px
  @mixin size-16 {
    width: 4rem;
    height: 4rem;
  }

  // 80px
  @mixin size-20 {
    width: 5rem;
    height: 5rem;
  }

  // 96px
  @mixin size-24 {
    width: 6rem;
    height: 6rem;
  }

  // 112px
  @mixin size-28 {
    width: 7rem;
    height: 7rem;
  }

  // 128px
  @mixin size-32 {
    width: 8rem;
    height: 8rem;
  }

  // 144px
  @mixin size-36 {
    width: 9rem;
    height: 9rem;
  }

  // 160px
  @mixin size-40 {
    width: 10rem;
    height: 10rem;
  }

  // 176px
  @mixin size-44 {
    width: 11rem;
    height: 11rem;
  }

  // 192px
  @mixin size-48 {
    width: 12rem;
    height: 12rem;
  }

  // 208px
  @mixin size-52 {
    width: 13rem;
    height: 13rem;
  }

  // 224px
  @mixin size-56 {
    width: 14rem;
    height: 14rem;
  }

  // 240px
  @mixin size-60 {
    width: 15rem;
    height: 15rem;
  }

  // 256px
  @mixin size-64 {
    width: 16rem;
    height: 16rem;
  }

  // 288px
  @mixin size-72 {
    width: 18rem;
    height: 18rem;
  }

  // 320px
  @mixin size-80 {
    width: 20rem;
    height: 20rem;
  }

  // 384px
  @mixin size-96 {
    width: 24rem;
    height: 24rem;
  }

  @mixin size-auto {
    width: auto;
    height: auto;
  }

  @mixin size-1\/2 {
    width: 50%;
    height: 50%;
  }

  @mixin size-1\/3 {
    width: 33.333333%;
    height: 33.333333%;
  }

  @mixin size-2\/3 {
    width: 66.666667%;
    height: 66.666667%;
  }

  @mixin size-1\/4 {
    width: 25%;
    height: 25%;
  }

  @mixin size-2\/4 {
    width: 50%;
    height: 50%;
  }

  @mixin size-3\/4 {
    width: 75%;
    height: 75%;
  }

  @mixin size-1\/5 {
    width: 20%;
    height: 20%;
  }

  @mixin size-2\/5 {
    width: 40%;
    height: 40%;
  }

  @mixin size-3\/5 {
    width: 60%;
    height: 60%;
  }

  @mixin size-4\/5 {
    width: 80%;
    height: 80%;
  }

  @mixin size-1\/6 {
    width: 16.666667%;
    height: 16.666667%;
  }

  @mixin size-2\/6 {
    width: 33.333333%;
    height: 33.333333%;
  }

  @mixin size-3\/6 {
    width: 50%;
    height: 50%;
  }

  @mixin size-4\/6 {
    width: 66.666667%;
    height: 66.666667%;
  }

  @mixin size-5\/6 {
    width: 83.333333%;
    height: 83.333333%;
  }

  @mixin size-1\/12 {
    width: 8.333333%;
    height: 8.333333%;
  }

  @mixin size-2\/12 {
    width: 16.666667%;
    height: 16.666667%;
  }

  @mixin size-3\/12 {
    width: 25%;
    height: 25%;
  }

  @mixin size-4\/12 {
    width: 33.333333%;
    height: 33.333333%;
  }

  @mixin size-5\/12 {
    width: 41.666667%;
    height: 41.666667%;
  }

  @mixin size-6\/12 {
    width: 50%;
    height: 50%;
  }

  @mixin size-7\/12 {
    width: 58.333333%;
    height: 58.333333%;
  }

  @mixin size-8\/12 {
    width: 66.666667%;
    height: 66.666667%;
  }

  @mixin size-9\/12 {
    width: 75%;
    height: 75%;
  }

  @mixin size-10\/12 {
    width: 83.333333%;
    height: 83.333333%;
  }

  @mixin size-11\/12 {
    width: 91.666667%;
    height: 91.666667%;
  }

  @mixin size-full {
    width: 100%;
    height: 100%;
  }

  @mixin size-min {
    width: min-content;
    height: min-content;
  }

  @mixin size-max {
    width: max-content;
    height: max-content;
  }

  @mixin size-fit {
    width: fit-content;
    height: fit-content;
  } // x*/
}

@if $Rwd {
  @if $sizeMode == 0 or $sizeMode == 1 {
    // /*x
    @mixin sm\:size-0 {
      @include r(sm, width, 0px, height, 0px);
    }

    @mixin sm\:size-px {
      @include r(sm, width, 1px, height, 1px);
    }

    // 2px
    @mixin sm\:size-0\.5 {
      @include r(sm, width, 0.125rem, height, 0.125rem);
    }

    // 4px
    @mixin sm\:size-1 {
      @include r(sm, width, 0.25rem, height, 0.25rem);
    }

    // 6px
    @mixin sm\:size-1\.5 {
      @include r(sm, width, 0.375rem, height, 0.375rem);
    }

    // 8px
    @mixin sm\:size-2 {
      @include r(sm, width, 0.5rem, height, 0.5rem);
    }

    // 10px
    @mixin sm\:size-2\.5 {
      @include r(sm, width, 0.625rem, height, 0.625rem);
    }

    // 12px
    @mixin sm\:size-3 {
      @include r(sm, width, 0.75rem, height, 0.75rem);
    }

    // 14px
    @mixin sm\:size-3\.5 {
      @include r(sm, width, 0.875rem, height, 0.875rem);
    }

    // 16px
    @mixin sm\:size-4 {
      @include r(sm, width, 1rem, height, 1rem);
    }

    // 20px
    @mixin sm\:size-5 {
      @include r(sm, width, 1.25rem, height, 1.25rem);
    }

    // 24px
    @mixin sm\:size-6 {
      @include r(sm, width, 1.5rem, height, 1.5rem);
    }

    // 28px
    @mixin sm\:size-7 {
      @include r(sm, width, 1.75rem, height, 1.75rem);
    }

    // 32px
    @mixin sm\:size-8 {
      @include r(sm, width, 2rem, height, 2rem);
    }

    // 36px
    @mixin sm\:size-9 {
      @include r(sm, width, 2.25rem, height, 2.25rem);
    }

    // 40px
    @mixin sm\:size-10 {
      @include r(sm, width, 2.5rem, height, 2.5rem);
    }

    // 44px
    @mixin sm\:size-11 {
      @include r(sm, width, 2.75rem, height, 2.75rem);
    }

    // 48px
    @mixin sm\:size-12 {
      @include r(sm, width, 3rem, height, 3rem);
    }

    // 56px
    @mixin sm\:size-14 {
      @include r(sm, width, 3.5rem, height, 3.5rem);
    }

    // 64px
    @mixin sm\:size-16 {
      @include r(sm, width, 4rem, height, 4rem);
    }

    // 80px
    @mixin sm\:size-20 {
      @include r(sm, width, 5rem, height, 5rem);
    }

    // 96px
    @mixin sm\:size-24 {
      @include r(sm, width, 6rem, height, 6rem);
    }

    // 112px
    @mixin sm\:size-28 {
      @include r(sm, width, 7rem, height, 7rem);
    }

    // 128px
    @mixin sm\:size-32 {
      @include r(sm, width, 8rem, height, 8rem);
    }

    // 144px
    @mixin sm\:size-36 {
      @include r(sm, width, 9rem, height, 9rem);
    }

    // 160px
    @mixin sm\:size-40 {
      @include r(sm, width, 10rem, height, 10rem);
    }

    // 176px
    @mixin sm\:size-44 {
      @include r(sm, width, 11rem, height, 11rem);
    }

    // 192px
    @mixin sm\:size-48 {
      @include r(sm, width, 12rem, height, 12rem);
    }

    // 208px
    @mixin sm\:size-52 {
      @include r(sm, width, 13rem, height, 13rem);
    }

    // 224px
    @mixin sm\:size-56 {
      @include r(sm, width, 14rem, height, 14rem);
    }

    // 240px
    @mixin sm\:size-60 {
      @include r(sm, width, 15rem, height, 15rem);
    }

    // 256px
    @mixin sm\:size-64 {
      @include r(sm, width, 16rem, height, 16rem);
    }

    // 288px
    @mixin sm\:size-72 {
      @include r(sm, width, 18rem, height, 18rem);
    }

    // 320px
    @mixin sm\:size-80 {
      @include r(sm, width, 20rem, height, 20rem);
    }

    // 384px
    @mixin sm\:size-96 {
      @include r(sm, width, 24rem, height, 24rem);
    }

    @mixin sm\:size-auto {
      @include r(sm, width, auto, height, auto);
    }

    @mixin sm\:size-1\/2 {
      @include r(sm, width, 50%, height, 50%);
    }

    @mixin sm\:size-1\/3 {
      @include r(sm, width, 33.333333%, height, 33.333333%);
    }

    @mixin sm\:size-2\/3 {
      @include r(sm, width, 66.666667%, height, 66.666667%);
    }

    @mixin sm\:size-1\/4 {
      @include r(sm, width, 25%, height, 25%);
    }

    @mixin sm\:size-2\/4 {
      @include r(sm, width, 50%, height, 50%);
    }

    @mixin sm\:size-3\/4 {
      @include r(sm, width, 75%, height, 75%);
    }

    @mixin sm\:size-1\/5 {
      @include r(sm, width, 20%, height, 20%);
    }

    @mixin sm\:size-2\/5 {
      @include r(sm, width, 40%, height, 40%);
    }

    @mixin sm\:size-3\/5 {
      @include r(sm, width, 60%, height, 60%);
    }

    @mixin sm\:size-4\/5 {
      @include r(sm, width, 80%, height, 80%);
    }

    @mixin sm\:size-1\/6 {
      @include r(sm, width, 16.666667%, height, 16.666667%);
    }

    @mixin sm\:size-2\/6 {
      @include r(sm, width, 33.333333%, height, 33.333333%);
    }

    @mixin sm\:size-3\/6 {
      @include r(sm, width, 50%, height, 50%);
    }

    @mixin sm\:size-4\/6 {
      @include r(sm, width, 66.666667%, height, 66.666667%);
    }

    @mixin sm\:size-5\/6 {
      @include r(sm, width, 83.333333%, height, 83.333333%);
    }

    @mixin sm\:size-1\/12 {
      @include r(sm, width, 8.333333%, height, 8.333333%);
    }

    @mixin sm\:size-2\/12 {
      @include r(sm, width, 16.666667%, height, 16.666667%);
    }

    @mixin sm\:size-3\/12 {
      @include r(sm, width, 25%, height, 25%);
    }

    @mixin sm\:size-4\/12 {
      @include r(sm, width, 33.333333%, height, 33.333333%);
    }

    @mixin sm\:size-5\/12 {
      @include r(sm, width, 41.666667%, height, 41.666667%);
    }

    @mixin sm\:size-6\/12 {
      @include r(sm, width, 50%, height, 50%);
    }

    @mixin sm\:size-7\/12 {
      @include r(sm, width, 58.333333%, height, 58.333333%);
    }

    @mixin sm\:size-8\/12 {
      @include r(sm, width, 66.666667%, height, 66.666667%);
    }

    @mixin sm\:size-9\/12 {
      @include r(sm, width, 75%, height, 75%);
    }

    @mixin sm\:size-10\/12 {
      @include r(sm, width, 83.333333%, height, 83.333333%);
    }

    @mixin sm\:size-11\/12 {
      @include r(sm, width, 91.666667%, height, 91.666667%);
    }

    @mixin sm\:size-full {
      @include r(sm, width, 100%, height, 100%);
    }

    @mixin sm\:size-min {
      @include r(sm, width, min-content, height, min-content);
    }

    @mixin sm\:size-max {
      @include r(sm, width, max-content, height, max-content);
    }

    @mixin sm\:size-fit {
      @include r(sm, width, fit-content, height, fit-content);
    }
    @mixin md\:size-0 {
      @include r(md, width, 0px, height, 0px);
    }

    @mixin md\:size-px {
      @include r(md, width, 1px, height, 1px);
    }

    // 2px
    @mixin md\:size-0\.5 {
      @include r(md, width, 0.125rem, height, 0.125rem);
    }

    // 4px
    @mixin md\:size-1 {
      @include r(md, width, 0.25rem, height, 0.25rem);
    }

    // 6px
    @mixin md\:size-1\.5 {
      @include r(md, width, 0.375rem, height, 0.375rem);
    }

    // 8px
    @mixin md\:size-2 {
      @include r(md, width, 0.5rem, height, 0.5rem);
    }

    // 10px
    @mixin md\:size-2\.5 {
      @include r(md, width, 0.625rem, height, 0.625rem);
    }

    // 12px
    @mixin md\:size-3 {
      @include r(md, width, 0.75rem, height, 0.75rem);
    }

    // 14px
    @mixin md\:size-3\.5 {
      @include r(md, width, 0.875rem, height, 0.875rem);
    }

    // 16px
    @mixin md\:size-4 {
      @include r(md, width, 1rem, height, 1rem);
    }

    // 20px
    @mixin md\:size-5 {
      @include r(md, width, 1.25rem, height, 1.25rem);
    }

    // 24px
    @mixin md\:size-6 {
      @include r(md, width, 1.5rem, height, 1.5rem);
    }

    // 28px
    @mixin md\:size-7 {
      @include r(md, width, 1.75rem, height, 1.75rem);
    }

    // 32px
    @mixin md\:size-8 {
      @include r(md, width, 2rem, height, 2rem);
    }

    // 36px
    @mixin md\:size-9 {
      @include r(md, width, 2.25rem, height, 2.25rem);
    }

    // 40px
    @mixin md\:size-10 {
      @include r(md, width, 2.5rem, height, 2.5rem);
    }

    // 44px
    @mixin md\:size-11 {
      @include r(md, width, 2.75rem, height, 2.75rem);
    }

    // 48px
    @mixin md\:size-12 {
      @include r(md, width, 3rem, height, 3rem);
    }

    // 56px
    @mixin md\:size-14 {
      @include r(md, width, 3.5rem, height, 3.5rem);
    }

    // 64px
    @mixin md\:size-16 {
      @include r(md, width, 4rem, height, 4rem);
    }

    // 80px
    @mixin md\:size-20 {
      @include r(md, width, 5rem, height, 5rem);
    }

    // 96px
    @mixin md\:size-24 {
      @include r(md, width, 6rem, height, 6rem);
    }

    // 112px
    @mixin md\:size-28 {
      @include r(md, width, 7rem, height, 7rem);
    }

    // 128px
    @mixin md\:size-32 {
      @include r(md, width, 8rem, height, 8rem);
    }

    // 144px
    @mixin md\:size-36 {
      @include r(md, width, 9rem, height, 9rem);
    }

    // 160px
    @mixin md\:size-40 {
      @include r(md, width, 10rem, height, 10rem);
    }

    // 176px
    @mixin md\:size-44 {
      @include r(md, width, 11rem, height, 11rem);
    }

    // 192px
    @mixin md\:size-48 {
      @include r(md, width, 12rem, height, 12rem);
    }

    // 208px
    @mixin md\:size-52 {
      @include r(md, width, 13rem, height, 13rem);
    }

    // 224px
    @mixin md\:size-56 {
      @include r(md, width, 14rem, height, 14rem);
    }

    // 240px
    @mixin md\:size-60 {
      @include r(md, width, 15rem, height, 15rem);
    }

    // 256px
    @mixin md\:size-64 {
      @include r(md, width, 16rem, height, 16rem);
    }

    // 288px
    @mixin md\:size-72 {
      @include r(md, width, 18rem, height, 18rem);
    }

    // 320px
    @mixin md\:size-80 {
      @include r(md, width, 20rem, height, 20rem);
    }

    // 384px
    @mixin md\:size-96 {
      @include r(md, width, 24rem, height, 24rem);
    }

    @mixin md\:size-auto {
      @include r(md, width, auto, height, auto);
    }

    @mixin md\:size-1\/2 {
      @include r(md, width, 50%, height, 50%);
    }

    @mixin md\:size-1\/3 {
      @include r(md, width, 33.333333%, height, 33.333333%);
    }

    @mixin md\:size-2\/3 {
      @include r(md, width, 66.666667%, height, 66.666667%);
    }

    @mixin md\:size-1\/4 {
      @include r(md, width, 25%, height, 25%);
    }

    @mixin md\:size-2\/4 {
      @include r(md, width, 50%, height, 50%);
    }

    @mixin md\:size-3\/4 {
      @include r(md, width, 75%, height, 75%);
    }

    @mixin md\:size-1\/5 {
      @include r(md, width, 20%, height, 20%);
    }

    @mixin md\:size-2\/5 {
      @include r(md, width, 40%, height, 40%);
    }

    @mixin md\:size-3\/5 {
      @include r(md, width, 60%, height, 60%);
    }

    @mixin md\:size-4\/5 {
      @include r(md, width, 80%, height, 80%);
    }

    @mixin md\:size-1\/6 {
      @include r(md, width, 16.666667%, height, 16.666667%);
    }

    @mixin md\:size-2\/6 {
      @include r(md, width, 33.333333%, height, 33.333333%);
    }

    @mixin md\:size-3\/6 {
      @include r(md, width, 50%, height, 50%);
    }

    @mixin md\:size-4\/6 {
      @include r(md, width, 66.666667%, height, 66.666667%);
    }

    @mixin md\:size-5\/6 {
      @include r(md, width, 83.333333%, height, 83.333333%);
    }

    @mixin md\:size-1\/12 {
      @include r(md, width, 8.333333%, height, 8.333333%);
    }

    @mixin md\:size-2\/12 {
      @include r(md, width, 16.666667%, height, 16.666667%);
    }

    @mixin md\:size-3\/12 {
      @include r(md, width, 25%, height, 25%);
    }

    @mixin md\:size-4\/12 {
      @include r(md, width, 33.333333%, height, 33.333333%);
    }

    @mixin md\:size-5\/12 {
      @include r(md, width, 41.666667%, height, 41.666667%);
    }

    @mixin md\:size-6\/12 {
      @include r(md, width, 50%, height, 50%);
    }

    @mixin md\:size-7\/12 {
      @include r(md, width, 58.333333%, height, 58.333333%);
    }

    @mixin md\:size-8\/12 {
      @include r(md, width, 66.666667%, height, 66.666667%);
    }

    @mixin md\:size-9\/12 {
      @include r(md, width, 75%, height, 75%);
    }

    @mixin md\:size-10\/12 {
      @include r(md, width, 83.333333%, height, 83.333333%);
    }

    @mixin md\:size-11\/12 {
      @include r(md, width, 91.666667%, height, 91.666667%);
    }

    @mixin md\:size-full {
      @include r(md, width, 100%, height, 100%);
    }

    @mixin md\:size-min {
      @include r(md, width, min-content, height, min-content);
    }

    @mixin md\:size-max {
      @include r(md, width, max-content, height, max-content);
    }

    @mixin md\:size-fit {
      @include r(md, width, fit-content, height, fit-content);
    }
    @mixin lg\:size-0 {
      @include r(lg, width, 0px, height, 0px);
    }

    @mixin lg\:size-px {
      @include r(lg, width, 1px, height, 1px);
    }

    // 2px
    @mixin lg\:size-0\.5 {
      @include r(lg, width, 0.125rem, height, 0.125rem);
    }

    // 4px
    @mixin lg\:size-1 {
      @include r(lg, width, 0.25rem, height, 0.25rem);
    }

    // 6px
    @mixin lg\:size-1\.5 {
      @include r(lg, width, 0.375rem, height, 0.375rem);
    }

    // 8px
    @mixin lg\:size-2 {
      @include r(lg, width, 0.5rem, height, 0.5rem);
    }

    // 10px
    @mixin lg\:size-2\.5 {
      @include r(lg, width, 0.625rem, height, 0.625rem);
    }

    // 12px
    @mixin lg\:size-3 {
      @include r(lg, width, 0.75rem, height, 0.75rem);
    }

    // 14px
    @mixin lg\:size-3\.5 {
      @include r(lg, width, 0.875rem, height, 0.875rem);
    }

    // 16px
    @mixin lg\:size-4 {
      @include r(lg, width, 1rem, height, 1rem);
    }

    // 20px
    @mixin lg\:size-5 {
      @include r(lg, width, 1.25rem, height, 1.25rem);
    }

    // 24px
    @mixin lg\:size-6 {
      @include r(lg, width, 1.5rem, height, 1.5rem);
    }

    // 28px
    @mixin lg\:size-7 {
      @include r(lg, width, 1.75rem, height, 1.75rem);
    }

    // 32px
    @mixin lg\:size-8 {
      @include r(lg, width, 2rem, height, 2rem);
    }

    // 36px
    @mixin lg\:size-9 {
      @include r(lg, width, 2.25rem, height, 2.25rem);
    }

    // 40px
    @mixin lg\:size-10 {
      @include r(lg, width, 2.5rem, height, 2.5rem);
    }

    // 44px
    @mixin lg\:size-11 {
      @include r(lg, width, 2.75rem, height, 2.75rem);
    }

    // 48px
    @mixin lg\:size-12 {
      @include r(lg, width, 3rem, height, 3rem);
    }

    // 56px
    @mixin lg\:size-14 {
      @include r(lg, width, 3.5rem, height, 3.5rem);
    }

    // 64px
    @mixin lg\:size-16 {
      @include r(lg, width, 4rem, height, 4rem);
    }

    // 80px
    @mixin lg\:size-20 {
      @include r(lg, width, 5rem, height, 5rem);
    }

    // 96px
    @mixin lg\:size-24 {
      @include r(lg, width, 6rem, height, 6rem);
    }

    // 112px
    @mixin lg\:size-28 {
      @include r(lg, width, 7rem, height, 7rem);
    }

    // 128px
    @mixin lg\:size-32 {
      @include r(lg, width, 8rem, height, 8rem);
    }

    // 144px
    @mixin lg\:size-36 {
      @include r(lg, width, 9rem, height, 9rem);
    }

    // 160px
    @mixin lg\:size-40 {
      @include r(lg, width, 10rem, height, 10rem);
    }

    // 176px
    @mixin lg\:size-44 {
      @include r(lg, width, 11rem, height, 11rem);
    }

    // 192px
    @mixin lg\:size-48 {
      @include r(lg, width, 12rem, height, 12rem);
    }

    // 208px
    @mixin lg\:size-52 {
      @include r(lg, width, 13rem, height, 13rem);
    }

    // 224px
    @mixin lg\:size-56 {
      @include r(lg, width, 14rem, height, 14rem);
    }

    // 240px
    @mixin lg\:size-60 {
      @include r(lg, width, 15rem, height, 15rem);
    }

    // 256px
    @mixin lg\:size-64 {
      @include r(lg, width, 16rem, height, 16rem);
    }

    // 288px
    @mixin lg\:size-72 {
      @include r(lg, width, 18rem, height, 18rem);
    }

    // 320px
    @mixin lg\:size-80 {
      @include r(lg, width, 20rem, height, 20rem);
    }

    // 384px
    @mixin lg\:size-96 {
      @include r(lg, width, 24rem, height, 24rem);
    }

    @mixin lg\:size-auto {
      @include r(lg, width, auto, height, auto);
    }

    @mixin lg\:size-1\/2 {
      @include r(lg, width, 50%, height, 50%);
    }

    @mixin lg\:size-1\/3 {
      @include r(lg, width, 33.333333%, height, 33.333333%);
    }

    @mixin lg\:size-2\/3 {
      @include r(lg, width, 66.666667%, height, 66.666667%);
    }

    @mixin lg\:size-1\/4 {
      @include r(lg, width, 25%, height, 25%);
    }

    @mixin lg\:size-2\/4 {
      @include r(lg, width, 50%, height, 50%);
    }

    @mixin lg\:size-3\/4 {
      @include r(lg, width, 75%, height, 75%);
    }

    @mixin lg\:size-1\/5 {
      @include r(lg, width, 20%, height, 20%);
    }

    @mixin lg\:size-2\/5 {
      @include r(lg, width, 40%, height, 40%);
    }

    @mixin lg\:size-3\/5 {
      @include r(lg, width, 60%, height, 60%);
    }

    @mixin lg\:size-4\/5 {
      @include r(lg, width, 80%, height, 80%);
    }

    @mixin lg\:size-1\/6 {
      @include r(lg, width, 16.666667%, height, 16.666667%);
    }

    @mixin lg\:size-2\/6 {
      @include r(lg, width, 33.333333%, height, 33.333333%);
    }

    @mixin lg\:size-3\/6 {
      @include r(lg, width, 50%, height, 50%);
    }

    @mixin lg\:size-4\/6 {
      @include r(lg, width, 66.666667%, height, 66.666667%);
    }

    @mixin lg\:size-5\/6 {
      @include r(lg, width, 83.333333%, height, 83.333333%);
    }

    @mixin lg\:size-1\/12 {
      @include r(lg, width, 8.333333%, height, 8.333333%);
    }

    @mixin lg\:size-2\/12 {
      @include r(lg, width, 16.666667%, height, 16.666667%);
    }

    @mixin lg\:size-3\/12 {
      @include r(lg, width, 25%, height, 25%);
    }

    @mixin lg\:size-4\/12 {
      @include r(lg, width, 33.333333%, height, 33.333333%);
    }

    @mixin lg\:size-5\/12 {
      @include r(lg, width, 41.666667%, height, 41.666667%);
    }

    @mixin lg\:size-6\/12 {
      @include r(lg, width, 50%, height, 50%);
    }

    @mixin lg\:size-7\/12 {
      @include r(lg, width, 58.333333%, height, 58.333333%);
    }

    @mixin lg\:size-8\/12 {
      @include r(lg, width, 66.666667%, height, 66.666667%);
    }

    @mixin lg\:size-9\/12 {
      @include r(lg, width, 75%, height, 75%);
    }

    @mixin lg\:size-10\/12 {
      @include r(lg, width, 83.333333%, height, 83.333333%);
    }

    @mixin lg\:size-11\/12 {
      @include r(lg, width, 91.666667%, height, 91.666667%);
    }

    @mixin lg\:size-full {
      @include r(lg, width, 100%, height, 100%);
    }

    @mixin lg\:size-min {
      @include r(lg, width, min-content, height, min-content);
    }

    @mixin lg\:size-max {
      @include r(lg, width, max-content, height, max-content);
    }

    @mixin lg\:size-fit {
      @include r(lg, width, fit-content, height, fit-content);
    }
    @mixin xl\:size-0 {
      @include r(xl, width, 0px, height, 0px);
    }

    @mixin xl\:size-px {
      @include r(xl, width, 1px, height, 1px);
    }

    // 2px
    @mixin xl\:size-0\.5 {
      @include r(xl, width, 0.125rem, height, 0.125rem);
    }

    // 4px
    @mixin xl\:size-1 {
      @include r(xl, width, 0.25rem, height, 0.25rem);
    }

    // 6px
    @mixin xl\:size-1\.5 {
      @include r(xl, width, 0.375rem, height, 0.375rem);
    }

    // 8px
    @mixin xl\:size-2 {
      @include r(xl, width, 0.5rem, height, 0.5rem);
    }

    // 10px
    @mixin xl\:size-2\.5 {
      @include r(xl, width, 0.625rem, height, 0.625rem);
    }

    // 12px
    @mixin xl\:size-3 {
      @include r(xl, width, 0.75rem, height, 0.75rem);
    }

    // 14px
    @mixin xl\:size-3\.5 {
      @include r(xl, width, 0.875rem, height, 0.875rem);
    }

    // 16px
    @mixin xl\:size-4 {
      @include r(xl, width, 1rem, height, 1rem);
    }

    // 20px
    @mixin xl\:size-5 {
      @include r(xl, width, 1.25rem, height, 1.25rem);
    }

    // 24px
    @mixin xl\:size-6 {
      @include r(xl, width, 1.5rem, height, 1.5rem);
    }

    // 28px
    @mixin xl\:size-7 {
      @include r(xl, width, 1.75rem, height, 1.75rem);
    }

    // 32px
    @mixin xl\:size-8 {
      @include r(xl, width, 2rem, height, 2rem);
    }

    // 36px
    @mixin xl\:size-9 {
      @include r(xl, width, 2.25rem, height, 2.25rem);
    }

    // 40px
    @mixin xl\:size-10 {
      @include r(xl, width, 2.5rem, height, 2.5rem);
    }

    // 44px
    @mixin xl\:size-11 {
      @include r(xl, width, 2.75rem, height, 2.75rem);
    }

    // 48px
    @mixin xl\:size-12 {
      @include r(xl, width, 3rem, height, 3rem);
    }

    // 56px
    @mixin xl\:size-14 {
      @include r(xl, width, 3.5rem, height, 3.5rem);
    }

    // 64px
    @mixin xl\:size-16 {
      @include r(xl, width, 4rem, height, 4rem);
    }

    // 80px
    @mixin xl\:size-20 {
      @include r(xl, width, 5rem, height, 5rem);
    }

    // 96px
    @mixin xl\:size-24 {
      @include r(xl, width, 6rem, height, 6rem);
    }

    // 112px
    @mixin xl\:size-28 {
      @include r(xl, width, 7rem, height, 7rem);
    }

    // 128px
    @mixin xl\:size-32 {
      @include r(xl, width, 8rem, height, 8rem);
    }

    // 144px
    @mixin xl\:size-36 {
      @include r(xl, width, 9rem, height, 9rem);
    }

    // 160px
    @mixin xl\:size-40 {
      @include r(xl, width, 10rem, height, 10rem);
    }

    // 176px
    @mixin xl\:size-44 {
      @include r(xl, width, 11rem, height, 11rem);
    }

    // 192px
    @mixin xl\:size-48 {
      @include r(xl, width, 12rem, height, 12rem);
    }

    // 208px
    @mixin xl\:size-52 {
      @include r(xl, width, 13rem, height, 13rem);
    }

    // 224px
    @mixin xl\:size-56 {
      @include r(xl, width, 14rem, height, 14rem);
    }

    // 240px
    @mixin xl\:size-60 {
      @include r(xl, width, 15rem, height, 15rem);
    }

    // 256px
    @mixin xl\:size-64 {
      @include r(xl, width, 16rem, height, 16rem);
    }

    // 288px
    @mixin xl\:size-72 {
      @include r(xl, width, 18rem, height, 18rem);
    }

    // 320px
    @mixin xl\:size-80 {
      @include r(xl, width, 20rem, height, 20rem);
    }

    // 384px
    @mixin xl\:size-96 {
      @include r(xl, width, 24rem, height, 24rem);
    }

    @mixin xl\:size-auto {
      @include r(xl, width, auto, height, auto);
    }

    @mixin xl\:size-1\/2 {
      @include r(xl, width, 50%, height, 50%);
    }

    @mixin xl\:size-1\/3 {
      @include r(xl, width, 33.333333%, height, 33.333333%);
    }

    @mixin xl\:size-2\/3 {
      @include r(xl, width, 66.666667%, height, 66.666667%);
    }

    @mixin xl\:size-1\/4 {
      @include r(xl, width, 25%, height, 25%);
    }

    @mixin xl\:size-2\/4 {
      @include r(xl, width, 50%, height, 50%);
    }

    @mixin xl\:size-3\/4 {
      @include r(xl, width, 75%, height, 75%);
    }

    @mixin xl\:size-1\/5 {
      @include r(xl, width, 20%, height, 20%);
    }

    @mixin xl\:size-2\/5 {
      @include r(xl, width, 40%, height, 40%);
    }

    @mixin xl\:size-3\/5 {
      @include r(xl, width, 60%, height, 60%);
    }

    @mixin xl\:size-4\/5 {
      @include r(xl, width, 80%, height, 80%);
    }

    @mixin xl\:size-1\/6 {
      @include r(xl, width, 16.666667%, height, 16.666667%);
    }

    @mixin xl\:size-2\/6 {
      @include r(xl, width, 33.333333%, height, 33.333333%);
    }

    @mixin xl\:size-3\/6 {
      @include r(xl, width, 50%, height, 50%);
    }

    @mixin xl\:size-4\/6 {
      @include r(xl, width, 66.666667%, height, 66.666667%);
    }

    @mixin xl\:size-5\/6 {
      @include r(xl, width, 83.333333%, height, 83.333333%);
    }

    @mixin xl\:size-1\/12 {
      @include r(xl, width, 8.333333%, height, 8.333333%);
    }

    @mixin xl\:size-2\/12 {
      @include r(xl, width, 16.666667%, height, 16.666667%);
    }

    @mixin xl\:size-3\/12 {
      @include r(xl, width, 25%, height, 25%);
    }

    @mixin xl\:size-4\/12 {
      @include r(xl, width, 33.333333%, height, 33.333333%);
    }

    @mixin xl\:size-5\/12 {
      @include r(xl, width, 41.666667%, height, 41.666667%);
    }

    @mixin xl\:size-6\/12 {
      @include r(xl, width, 50%, height, 50%);
    }

    @mixin xl\:size-7\/12 {
      @include r(xl, width, 58.333333%, height, 58.333333%);
    }

    @mixin xl\:size-8\/12 {
      @include r(xl, width, 66.666667%, height, 66.666667%);
    }

    @mixin xl\:size-9\/12 {
      @include r(xl, width, 75%, height, 75%);
    }

    @mixin xl\:size-10\/12 {
      @include r(xl, width, 83.333333%, height, 83.333333%);
    }

    @mixin xl\:size-11\/12 {
      @include r(xl, width, 91.666667%, height, 91.666667%);
    }

    @mixin xl\:size-full {
      @include r(xl, width, 100%, height, 100%);
    }

    @mixin xl\:size-min {
      @include r(xl, width, min-content, height, min-content);
    }

    @mixin xl\:size-max {
      @include r(xl, width, max-content, height, max-content);
    }

    @mixin xl\:size-fit {
      @include r(xl, width, fit-content, height, fit-content);
    }
    @mixin \2xl\:size-0 {
      @include r(2xl, width, 0px, height, 0px);
    }

    @mixin \2xl\:size-px {
      @include r(2xl, width, 1px, height, 1px);
    }

    // 2px
    @mixin \2xl\:size-0\.5 {
      @include r(2xl, width, 0.125rem, height, 0.125rem);
    }

    // 4px
    @mixin \2xl\:size-1 {
      @include r(2xl, width, 0.25rem, height, 0.25rem);
    }

    // 6px
    @mixin \2xl\:size-1\.5 {
      @include r(2xl, width, 0.375rem, height, 0.375rem);
    }

    // 8px
    @mixin \2xl\:size-2 {
      @include r(2xl, width, 0.5rem, height, 0.5rem);
    }

    // 10px
    @mixin \2xl\:size-2\.5 {
      @include r(2xl, width, 0.625rem, height, 0.625rem);
    }

    // 12px
    @mixin \2xl\:size-3 {
      @include r(2xl, width, 0.75rem, height, 0.75rem);
    }

    // 14px
    @mixin \2xl\:size-3\.5 {
      @include r(2xl, width, 0.875rem, height, 0.875rem);
    }

    // 16px
    @mixin \2xl\:size-4 {
      @include r(2xl, width, 1rem, height, 1rem);
    }

    // 20px
    @mixin \2xl\:size-5 {
      @include r(2xl, width, 1.25rem, height, 1.25rem);
    }

    // 24px
    @mixin \2xl\:size-6 {
      @include r(2xl, width, 1.5rem, height, 1.5rem);
    }

    // 28px
    @mixin \2xl\:size-7 {
      @include r(2xl, width, 1.75rem, height, 1.75rem);
    }

    // 32px
    @mixin \2xl\:size-8 {
      @include r(2xl, width, 2rem, height, 2rem);
    }

    // 36px
    @mixin \2xl\:size-9 {
      @include r(2xl, width, 2.25rem, height, 2.25rem);
    }

    // 40px
    @mixin \2xl\:size-10 {
      @include r(2xl, width, 2.5rem, height, 2.5rem);
    }

    // 44px
    @mixin \2xl\:size-11 {
      @include r(2xl, width, 2.75rem, height, 2.75rem);
    }

    // 48px
    @mixin \2xl\:size-12 {
      @include r(2xl, width, 3rem, height, 3rem);
    }

    // 56px
    @mixin \2xl\:size-14 {
      @include r(2xl, width, 3.5rem, height, 3.5rem);
    }

    // 64px
    @mixin \2xl\:size-16 {
      @include r(2xl, width, 4rem, height, 4rem);
    }

    // 80px
    @mixin \2xl\:size-20 {
      @include r(2xl, width, 5rem, height, 5rem);
    }

    // 96px
    @mixin \2xl\:size-24 {
      @include r(2xl, width, 6rem, height, 6rem);
    }

    // 112px
    @mixin \2xl\:size-28 {
      @include r(2xl, width, 7rem, height, 7rem);
    }

    // 128px
    @mixin \2xl\:size-32 {
      @include r(2xl, width, 8rem, height, 8rem);
    }

    // 144px
    @mixin \2xl\:size-36 {
      @include r(2xl, width, 9rem, height, 9rem);
    }

    // 160px
    @mixin \2xl\:size-40 {
      @include r(2xl, width, 10rem, height, 10rem);
    }

    // 176px
    @mixin \2xl\:size-44 {
      @include r(2xl, width, 11rem, height, 11rem);
    }

    // 192px
    @mixin \2xl\:size-48 {
      @include r(2xl, width, 12rem, height, 12rem);
    }

    // 208px
    @mixin \2xl\:size-52 {
      @include r(2xl, width, 13rem, height, 13rem);
    }

    // 224px
    @mixin \2xl\:size-56 {
      @include r(2xl, width, 14rem, height, 14rem);
    }

    // 240px
    @mixin \2xl\:size-60 {
      @include r(2xl, width, 15rem, height, 15rem);
    }

    // 256px
    @mixin \2xl\:size-64 {
      @include r(2xl, width, 16rem, height, 16rem);
    }

    // 288px
    @mixin \2xl\:size-72 {
      @include r(2xl, width, 18rem, height, 18rem);
    }

    // 320px
    @mixin \2xl\:size-80 {
      @include r(2xl, width, 20rem, height, 20rem);
    }

    // 384px
    @mixin \2xl\:size-96 {
      @include r(2xl, width, 24rem, height, 24rem);
    }

    @mixin \2xl\:size-auto {
      @include r(2xl, width, auto, height, auto);
    }

    @mixin \2xl\:size-1\/2 {
      @include r(2xl, width, 50%, height, 50%);
    }

    @mixin \2xl\:size-1\/3 {
      @include r(2xl, width, 33.333333%, height, 33.333333%);
    }

    @mixin \2xl\:size-2\/3 {
      @include r(2xl, width, 66.666667%, height, 66.666667%);
    }

    @mixin \2xl\:size-1\/4 {
      @include r(2xl, width, 25%, height, 25%);
    }

    @mixin \2xl\:size-2\/4 {
      @include r(2xl, width, 50%, height, 50%);
    }

    @mixin \2xl\:size-3\/4 {
      @include r(2xl, width, 75%, height, 75%);
    }

    @mixin \2xl\:size-1\/5 {
      @include r(2xl, width, 20%, height, 20%);
    }

    @mixin \2xl\:size-2\/5 {
      @include r(2xl, width, 40%, height, 40%);
    }

    @mixin \2xl\:size-3\/5 {
      @include r(2xl, width, 60%, height, 60%);
    }

    @mixin \2xl\:size-4\/5 {
      @include r(2xl, width, 80%, height, 80%);
    }

    @mixin \2xl\:size-1\/6 {
      @include r(2xl, width, 16.666667%, height, 16.666667%);
    }

    @mixin \2xl\:size-2\/6 {
      @include r(2xl, width, 33.333333%, height, 33.333333%);
    }

    @mixin \2xl\:size-3\/6 {
      @include r(2xl, width, 50%, height, 50%);
    }

    @mixin \2xl\:size-4\/6 {
      @include r(2xl, width, 66.666667%, height, 66.666667%);
    }

    @mixin \2xl\:size-5\/6 {
      @include r(2xl, width, 83.333333%, height, 83.333333%);
    }

    @mixin \2xl\:size-1\/12 {
      @include r(2xl, width, 8.333333%, height, 8.333333%);
    }

    @mixin \2xl\:size-2\/12 {
      @include r(2xl, width, 16.666667%, height, 16.666667%);
    }

    @mixin \2xl\:size-3\/12 {
      @include r(2xl, width, 25%, height, 25%);
    }

    @mixin \2xl\:size-4\/12 {
      @include r(2xl, width, 33.333333%, height, 33.333333%);
    }

    @mixin \2xl\:size-5\/12 {
      @include r(2xl, width, 41.666667%, height, 41.666667%);
    }

    @mixin \2xl\:size-6\/12 {
      @include r(2xl, width, 50%, height, 50%);
    }

    @mixin \2xl\:size-7\/12 {
      @include r(2xl, width, 58.333333%, height, 58.333333%);
    }

    @mixin \2xl\:size-8\/12 {
      @include r(2xl, width, 66.666667%, height, 66.666667%);
    }

    @mixin \2xl\:size-9\/12 {
      @include r(2xl, width, 75%, height, 75%);
    }

    @mixin \2xl\:size-10\/12 {
      @include r(2xl, width, 83.333333%, height, 83.333333%);
    }

    @mixin \2xl\:size-11\/12 {
      @include r(2xl, width, 91.666667%, height, 91.666667%);
    }

    @mixin \2xl\:size-full {
      @include r(2xl, width, 100%, height, 100%);
    }

    @mixin \2xl\:size-min {
      @include r(2xl, width, min-content, height, min-content);
    }

    @mixin \2xl\:size-max {
      @include r(2xl, width, max-content, height, max-content);
    }

    @mixin \2xl\:size-fit {
      @include r(2xl, width, fit-content, height, fit-content);
    }

    // x*/
  }
}
@if $Custom {
  // /*x
  @mixin size-($v) {
    width: $v;
    height: $v;
  }

  @mixin sm\:size-($v) {
    @include r(sm, width, $v, height, $v);
  }

  @mixin md\:size-($v) {
    @include r(md, width, $v, height, $v);
  }

  @mixin lg\:size-($v) {
    @include r(lg, width, $v, height, $v);
  }

  @mixin xl\:size-($v) {
    @include r(xl, width, $v, height, $v);
  }

  @mixin \2xl\:size-($v) {
    @include r(2xl, width, $v, height, $v);
  } // x*/
}
