@use "../../setting" as *;


$Blur: (
  "blur-none": blur(0),
  "blur-sm": blur(4px),
  "blur": blur(8px),
  "blur-md": blur(12px),
  "blur-lg": blur(16px),
  "blur-xl": blur(24px),
  "blur-2xl": blur(40px),
  "blur-3xl": blur(64px),
);

@if $Basic {
  @each $key, $value in $Blur {
    /*x
    @mixin #{$key} {
      $tw-blur: #{$value} !global;
      @include filter(get_filter());
    }
    x*/
  }
}

@if $Rwd and ($sizeMode ==0 or $sizeMode ==1) {
  @each $rwd in $rwdBox {
    @each $key, $value in $Blur {
      /*x
      @mixin #{$rwd}\:#{$key} {
        $tw-blur: #{$value} !global;
        @include filter(get_filter(), $#{$rwd});
      }
      x*/
    }
  }
}

@if $Custom {
  /*x
  @mixin blur-($v) {
    $tw-blur: blur($v) !global;
    @include filter(get_filter());
  }
  x*/

  @each $rwd in $rwdBox {
    /*x
    @mixin #{$rwd}\:blur-($v) {
      $tw-blur: blur($v) !global;
      @include filter(get_filter(), $#{$rwd});
    }
    x*/
  }
}