@include describe('1.Layout') {
  @include describe('Clear') {
    @include describe('Basic') {
      @include it('clear-start') {
        @include assert {
          @include output {
            @include clear-start;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            clear: inline-start;
          }
        }
      }

      @include it('clear-end') {
        @include assert {
          @include output {
            @include clear-end;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            clear: inline-end;
          }
        }
      }

      @include it('clear-left') {
        @include assert {
          @include output {
            @include clear-left;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            clear: left;
          }
        }
      }

      @include it('clear-right') {
        @include assert {
          @include output {
            @include clear-right;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            clear: right;
          }
        }
      }

      @include it('clear-both') {
        @include assert {
          @include output {
            @include clear-both;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            clear: both;
          }
        }
      }

      @include it('clear-none') {
        @include assert {
          @include output {
            @include clear-none;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            clear: none;
          }
        }
      }
    }

    @include describe('Rwd') {
      @include it('sm\:clear-start') {
        @include assert {
          @include output {
            @include sm\:clear-start;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              clear: inline-start;
            }
          }
        }
      }

      @include it('sm\:clear-end') {
        @include assert {
          @include output {
            @include sm\:clear-end;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              clear: inline-end;
            }
          }
        }
      }

      @include it('sm\:clear-left') {
        @include assert {
          @include output {
            @include sm\:clear-left;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              clear: left;
            }
          }
        }
      }

      @include it('sm\:clear-right') {
        @include assert {
          @include output {
            @include sm\:clear-right;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              clear: right;
            }
          }
        }
      }

      @include it('sm\:clear-both') {
        @include assert {
          @include output {
            @include sm\:clear-both;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              clear: both;
            }
          }
        }
      }

      @include it('sm\:clear-none') {
        @include assert {
          @include output {
            @include sm\:clear-none;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              clear: none;
            }
          }
        }
      }

      @include it('md\:clear-start') {
        @include assert {
          @include output {
            @include md\:clear-start;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              clear: inline-start;
            }
          }
        }
      }

      @include it('md\:clear-end') {
        @include assert {
          @include output {
            @include md\:clear-end;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              clear: inline-end;
            }
          }
        }
      }

      @include it('md\:clear-left') {
        @include assert {
          @include output {
            @include md\:clear-left;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              clear: left;
            }
          }
        }
      }

      @include it('md\:clear-right') {
        @include assert {
          @include output {
            @include md\:clear-right;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              clear: right;
            }
          }
        }
      }

      @include it('md\:clear-both') {
        @include assert {
          @include output {
            @include md\:clear-both;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              clear: both;
            }
          }
        }
      }

      @include it('md\:clear-none') {
        @include assert {
          @include output {
            @include md\:clear-none;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              clear: none;
            }
          }
        }
      }

      @include it('lg\:clear-start') {
        @include assert {
          @include output {
            @include lg\:clear-start;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              clear: inline-start;
            }
          }
        }
      }

      @include it('lg\:clear-end') {
        @include assert {
          @include output {
            @include lg\:clear-end;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              clear: inline-end;
            }
          }
        }
      }

      @include it('lg\:clear-left') {
        @include assert {
          @include output {
            @include lg\:clear-left;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              clear: left;
            }
          }
        }
      }

      @include it('lg\:clear-right') {
        @include assert {
          @include output {
            @include lg\:clear-right;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              clear: right;
            }
          }
        }
      }

      @include it('lg\:clear-both') {
        @include assert {
          @include output {
            @include lg\:clear-both;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              clear: both;
            }
          }
        }
      }

      @include it('lg\:clear-none') {
        @include assert {
          @include output {
            @include lg\:clear-none;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              clear: none;
            }
          }
        }
      }

      @include it('xl\:clear-start') {
        @include assert {
          @include output {
            @include xl\:clear-start;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              clear: inline-start;
            }
          }
        }
      }

      @include it('xl\:clear-end') {
        @include assert {
          @include output {
            @include xl\:clear-end;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              clear: inline-end;
            }
          }
        }
      }

      @include it('xl\:clear-left') {
        @include assert {
          @include output {
            @include xl\:clear-left;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              clear: left;
            }
          }
        }
      }

      @include it('xl\:clear-right') {
        @include assert {
          @include output {
            @include xl\:clear-right;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              clear: right;
            }
          }
        }
      }

      @include it('xl\:clear-both') {
        @include assert {
          @include output {
            @include xl\:clear-both;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              clear: both;
            }
          }
        }
      }

      @include it('xl\:clear-none') {
        @include assert {
          @include output {
            @include xl\:clear-none;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              clear: none;
            }
          }
        }
      }

      @include it('2xl\:clear-start') {
        @include assert {
          @include output {
            @include \2xl\:clear-start;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              clear: inline-start;
            }
          }
        }
      }

      @include it('2xl\:clear-end') {
        @include assert {
          @include output {
            @include \2xl\:clear-end;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              clear: inline-end;
            }
          }
        }
      }

      @include it('2xl\:clear-left') {
        @include assert {
          @include output {
            @include \2xl\:clear-left;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              clear: left;
            }
          }
        }
      }

      @include it('2xl\:clear-right') {
        @include assert {
          @include output {
            @include \2xl\:clear-right;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              clear: right;
            }
          }
        }
      }

      @include it('2xl\:clear-both') {
        @include assert {
          @include output {
            @include \2xl\:clear-both;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              clear: both;
            }
          }
        }
      }

      @include it('2xl\:clear-none') {
        @include assert {
          @include output {
            @include \2xl\:clear-none;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              clear: none;
            }
          }
        }
      }
    }
  }
}
