@include describe('1.Layout') {
  @include describe('Floats') {
    @include describe('Basic') {
      @include it('float-start') {
        @include assert {
          @include output {
            @include float-start;
            @include utils_reset-tw;
          }

          @include expect {
            float: inline-start;
          }
        }
      }

      @include it('float-end') {
        @include assert {
          @include output {
            @include float-end;
            @include utils_reset-tw;
          }

          @include expect {
            float: inline-end;
          }
        }
      }

      @include it('float-right') {
        @include assert {
          @include output {
            @include float-right;
            @include utils_reset-tw;
          }

          @include expect {
            float: right;
          }
        }
      }

      @include it('float-left') {
        @include assert {
          @include output {
            @include float-left;
            @include utils_reset-tw;
          }

          @include expect {
            float: left;
          }
        }
      }

      @include it('float-none') {
        @include assert {
          @include output {
            @include float-none;
            @include utils_reset-tw;
          }

          @include expect {
            float: none;
          }
        }
      }
    }
  }
}
