

@include describe('1.Layout') {
  @include describe('Floats') {
    @include describe('Basic') {
      @include it('float-start') {
        @include assert {
          @include output {
            @include float-start;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            float: inline-start;
          }
        }
      }

      @include it('float-end') {
        @include assert {
          @include output {
            @include float-end;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            float: inline-end;
          }
        }
      }

      @include it('float-right') {
        @include assert {
          @include output {
            @include float-right;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            float: right;
          }
        }
      }

      @include it('float-left') {
        @include assert {
          @include output {
            @include float-left;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            float: left;
          }
        }
      }

      @include it('float-none') {
        @include assert {
          @include output {
            @include float-none;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            float: none;
          }
        }
      }
    }

    @include describe('Rwd') {
      @include it('sm\:float-start') {
        @include assert {
          @include output {
            @include sm\:float-start;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              float: inline-start;
            }
          }
        }
      }

      @include it('sm\:float-end') {
        @include assert {
          @include output {
            @include sm\:float-end;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              float: inline-end;
            }
          }
        }
      }

      @include it('sm\:float-right') {
        @include assert {
          @include output {
            @include sm\:float-right;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              float: right;
            }
          }
        }
      }

      @include it('sm\:float-left') {
        @include assert {
          @include output {
            @include sm\:float-left;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              float: left;
            }
          }
        }
      }

      @include it('sm\:float-none') {
        @include assert {
          @include output {
            @include sm\:float-none;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              float: none;
            }
          }
        }
      }

      @include it('md\:float-start') {
        @include assert {
          @include output {
            @include md\:float-start;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              float: inline-start;
            }
          }
        }
      }

      @include it('md\:float-end') {
        @include assert {
          @include output {
            @include md\:float-end;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              float: inline-end;
            }
          }
        }
      }

      @include it('md\:float-right') {
        @include assert {
          @include output {
            @include md\:float-right;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              float: right;
            }
          }
        }
      }

      @include it('md\:float-left') {
        @include assert {
          @include output {
            @include md\:float-left;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              float: left;
            }
          }
        }
      }

      @include it('md\:float-none') {
        @include assert {
          @include output {
            @include md\:float-none;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              float: none;
            }
          }
        }
      }

      @include it('lg\:float-start') {
        @include assert {
          @include output {
            @include lg\:float-start;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              float: inline-start;
            }
          }
        }
      }

      @include it('lg\:float-end') {
        @include assert {
          @include output {
            @include lg\:float-end;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              float: inline-end;
            }
          }
        }
      }

      @include it('lg\:float-right') {
        @include assert {
          @include output {
            @include lg\:float-right;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              float: right;
            }
          }
        }
      }

      @include it('lg\:float-left') {
        @include assert {
          @include output {
            @include lg\:float-left;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              float: left;
            }
          }
        }
      }

      @include it('lg\:float-none') {
        @include assert {
          @include output {
            @include lg\:float-none;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              float: none;
            }
          }
        }
      }

      @include it('xl\:float-start') {
        @include assert {
          @include output {
            @include xl\:float-start;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              float: inline-start;
            }
          }
        }
      }

      @include it('xl\:float-end') {
        @include assert {
          @include output {
            @include xl\:float-end;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              float: inline-end;
            }
          }
        }
      }

      @include it('xl\:float-right') {
        @include assert {
          @include output {
            @include xl\:float-right;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              float: right;
            }
          }
        }
      }

      @include it('xl\:float-left') {
        @include assert {
          @include output {
            @include xl\:float-left;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              float: left;
            }
          }
        }
      }

      @include it('xl\:float-none') {
        @include assert {
          @include output {
            @include xl\:float-none;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              float: none;
            }
          }
        }
      }

      @include it('2xl\:float-start') {
        @include assert {
          @include output {
            @include \2xl\:float-start;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_2xl) {
              float: inline-start;
            }
          }
        }
      }

      @include it('2xl\:float-end') {
        @include assert {
          @include output {
            @include \2xl\:float-end;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_2xl) {
              float: inline-end;
            }
          }
        }
      }

      @include it('2xl\:float-right') {
        @include assert {
          @include output {
            @include \2xl\:float-right;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_2xl) {
              float: right;
            }
          }
        }
      }

      @include it('2xl\:float-left') {
        @include assert {
          @include output {
            @include \2xl\:float-left;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_2xl) {
              float: left;
            }
          }
        }
      }

      @include it('2xl\:float-none') {
        @include assert {
          @include output {
            @include \2xl\:float-none;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_2xl) {
              float: none;
            }
          }
        }
      }
    }
  }
}
