// @forward "AspectRatio";
// @forward "BoxDecorationBreak";
// @forward "BoxSizing";
@forward "BreakAfter";
// @forward "BreakBefore";
// @forward "BreakInside";
// @forward "Clear";
// @forward "Columns";
// @forward "Container";
// @forward "Display";
// @forward "Floats";
// @forward "Isolation";
// @forward "ObjectFit";
// @forward "ObjectPosition";
// @forward "Overflow";
// @forward "OverscrollBehavior";
// @forward "Position";
// @forward "TopRightBottomLeft";
// @forward "Visibility";
// @forward "Z-Index";
