@include describe('1.Layout') {
  @include describe('Object Fit') {
    @include describe('Basic') {
      @include it('object-contain') {
        @include assert {
          @include output {
            @include object-contain;
            @include utils_reset-tw-variables;
          }

          @include expect {
            object-fit: contain;
          }
        }
      }

      @include it('object-cover') {
        @include assert {
          @include output {
            @include object-cover;
            @include utils_reset-tw-variables;
          }

          @include expect {
            object-fit: cover;
          }
        }
      }

      @include it('object-fill') {
        @include assert {
          @include output {
            @include object-fill;
            @include utils_reset-tw-variables;
          }

          @include expect {
            object-fit: fill;
          }
        }
      }

      @include it('object-none') {
        @include assert {
          @include output {
            @include object-none;
            @include utils_reset-tw-variables;
          }

          @include expect {
            object-fit: none;
          }
        }
      }

      @include it('object-scale-down') {
        @include assert {
          @include output {
            @include object-scale-down;
            @include utils_reset-tw-variables;
          }

          @include expect {
            object-fit: scale-down;
          }
        }
      }
    }

    @include describe('Rwd') {
      @include it('sm\:object-contain') {
        @include assert {
          @include output {
            @include sm\:object-contain;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              object-fit: contain;
            }
          }
        }
      }

      @include it('sm\:object-cover') {
        @include assert {
          @include output {
            @include sm\:object-cover;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              object-fit: cover;
            }
          }
        }
      }

      @include it('sm\:object-fill') {
        @include assert {
          @include output {
            @include sm\:object-fill;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              object-fit: fill;
            }
          }
        }
      }

      @include it('sm\:object-none') {
        @include assert {
          @include output {
            @include sm\:object-none;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              object-fit: none;
            }
          }
        }
      }

      @include it('sm\:object-scale-down') {
        @include assert {
          @include output {
            @include sm\:object-scale-down;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              object-fit: scale-down;
            }
          }
        }
      }

      @include it('md\:object-contain') {
        @include assert {
          @include output {
            @include md\:object-contain;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              object-fit: contain;
            }
          }
        }
      }

      @include it('md\:object-cover') {
        @include assert {
          @include output {
            @include md\:object-cover;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              object-fit: cover;
            }
          }
        }
      }

      @include it('md\:object-fill') {
        @include assert {
          @include output {
            @include md\:object-fill;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              object-fit: fill;
            }
          }
        }
      }

      @include it('md\:object-none') {
        @include assert {
          @include output {
            @include md\:object-none;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              object-fit: none;
            }
          }
        }
      }

      @include it('md\:object-scale-down') {
        @include assert {
          @include output {
            @include md\:object-scale-down;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              object-fit: scale-down;
            }
          }
        }
      }

      @include it('lg\:object-contain') {
        @include assert {
          @include output {
            @include lg\:object-contain;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              object-fit: contain;
            }
          }
        }
      }

      @include it('lg\:object-cover') {
        @include assert {
          @include output {
            @include lg\:object-cover;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              object-fit: cover;
            }
          }
        }
      }

      @include it('lg\:object-fill') {
        @include assert {
          @include output {
            @include lg\:object-fill;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              object-fit: fill;
            }
          }
        }
      }

      @include it('lg\:object-none') {
        @include assert {
          @include output {
            @include lg\:object-none;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              object-fit: none;
            }
          }
        }
      }

      @include it('lg\:object-scale-down') {
        @include assert {
          @include output {
            @include lg\:object-scale-down;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              object-fit: scale-down;
            }
          }
        }
      }

      @include it('xl\:object-contain') {
        @include assert {
          @include output {
            @include xl\:object-contain;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              object-fit: contain;
            }
          }
        }
      }

      @include it('xl\:object-cover') {
        @include assert {
          @include output {
            @include xl\:object-cover;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              object-fit: cover;
            }
          }
        }
      }

      @include it('xl\:object-fill') {
        @include assert {
          @include output {
            @include xl\:object-fill;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              object-fit: fill;
            }
          }
        }
      }

      @include it('xl\:object-none') {
        @include assert {
          @include output {
            @include xl\:object-none;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              object-fit: none;
            }
          }
        }
      }

      @include it('xl\:object-scale-down') {
        @include assert {
          @include output {
            @include xl\:object-scale-down;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              object-fit: scale-down;
            }
          }
        }
      }

      @include it('2xl\:object-contain') {
        @include assert {
          @include output {
            @include \2xl\:object-contain;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              object-fit: contain;
            }
          }
        }
      }

      @include it('2xl\:object-cover') {
        @include assert {
          @include output {
            @include \2xl\:object-cover;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              object-fit: cover;
            }
          }
        }
      }

      @include it('2xl\:object-fill') {
        @include assert {
          @include output {
            @include \2xl\:object-fill;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              object-fit: fill;
            }
          }
        }
      }

      @include it('2xl\:object-none') {
        @include assert {
          @include output {
            @include \2xl\:object-none;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              object-fit: none;
            }
          }
        }
      }

      @include it('2xl\:object-scale-down') {
        @include assert {
          @include output {
            @include \2xl\:object-scale-down;
            @include utils_reset-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              object-fit: scale-down;
            }
          }
        }
      }
    }
  }
}
