

@include describe('1.Layout') {
  @include describe('Overscroll Behavior') {
    @include describe('Basic') {
      @include it('overscroll-auto') {
        @include assert {
          @include output {
            @include overscroll-auto;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            overscroll-behavior: auto;
          }
        }
      }

      @include it('overscroll-contain') {
        @include assert {
          @include output {
            @include overscroll-contain;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            overscroll-behavior: contain;
          }
        }
      }

      @include it('overscroll-none') {
        @include assert {
          @include output {
            @include overscroll-none;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            overscroll-behavior: none;
          }
        }
      }

      @include it('overscroll-y-auto') {
        @include assert {
          @include output {
            @include overscroll-y-auto;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            overscroll-behavior-y: auto;
          }
        }
      }

      @include it('overscroll-y-contain') {
        @include assert {
          @include output {
            @include overscroll-y-contain;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            overscroll-behavior-y: contain;
          }
        }
      }

      @include it('overscroll-y-none') {
        @include assert {
          @include output {
            @include overscroll-y-none;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            overscroll-behavior-y: none;
          }
        }
      }

      @include it('overscroll-x-auto') {
        @include assert {
          @include output {
            @include overscroll-x-auto;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            overscroll-behavior-x: auto;
          }
        }
      }

      @include it('overscroll-x-contain') {
        @include assert {
          @include output {
            @include overscroll-x-contain;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            overscroll-behavior-x: contain;
          }
        }
      }

      @include it('overscroll-x-none') {
        @include assert {
          @include output {
            @include overscroll-x-none;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            overscroll-behavior-x: none;
          }
        }
      }
    }

    @include describe('Rwd') {
      @include it('sm\:overscroll-auto') {
        @include assert {
          @include output {
            @include sm\:overscroll-auto;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              overscroll-behavior: auto;
            }
          }
        }
      }

      @include it('sm\:overscroll-contain') {
        @include assert {
          @include output {
            @include sm\:overscroll-contain;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              overscroll-behavior: contain;
            }
          }
        }
      }

      @include it('sm\:overscroll-none') {
        @include assert {
          @include output {
            @include sm\:overscroll-none;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              overscroll-behavior: none;
            }
          }
        }
      }

      @include it('sm\:overscroll-y-auto') {
        @include assert {
          @include output {
            @include sm\:overscroll-y-auto;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              overscroll-behavior-y: auto;
            }
          }
        }
      }

      @include it('sm\:overscroll-y-contain') {
        @include assert {
          @include output {
            @include sm\:overscroll-y-contain;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              overscroll-behavior-y: contain;
            }
          }
        }
      }

      @include it('sm\:overscroll-y-none') {
        @include assert {
          @include output {
            @include sm\:overscroll-y-none;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              overscroll-behavior-y: none;
            }
          }
        }
      }

      @include it('sm\:overscroll-x-auto') {
        @include assert {
          @include output {
            @include sm\:overscroll-x-auto;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              overscroll-behavior-x: auto;
            }
          }
        }
      }

      @include it('sm\:overscroll-x-contain') {
        @include assert {
          @include output {
            @include sm\:overscroll-x-contain;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              overscroll-behavior-x: contain;
            }
          }
        }
      }

      @include it('sm\:overscroll-x-none') {
        @include assert {
          @include output {
            @include sm\:overscroll-x-none;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              overscroll-behavior-x: none;
            }
          }
        }
      }

      @include it('md\:overscroll-auto') {
        @include assert {
          @include output {
            @include md\:overscroll-auto;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              overscroll-behavior: auto;
            }
          }
        }
      }

      @include it('md\:overscroll-contain') {
        @include assert {
          @include output {
            @include md\:overscroll-contain;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              overscroll-behavior: contain;
            }
          }
        }
      }

      @include it('md\:overscroll-none') {
        @include assert {
          @include output {
            @include md\:overscroll-none;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              overscroll-behavior: none;
            }
          }
        }
      }

      @include it('md\:overscroll-y-auto') {
        @include assert {
          @include output {
            @include md\:overscroll-y-auto;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              overscroll-behavior-y: auto;
            }
          }
        }
      }

      @include it('md\:overscroll-y-contain') {
        @include assert {
          @include output {
            @include md\:overscroll-y-contain;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              overscroll-behavior-y: contain;
            }
          }
        }
      }

      @include it('md\:overscroll-y-none') {
        @include assert {
          @include output {
            @include md\:overscroll-y-none;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              overscroll-behavior-y: none;
            }
          }
        }
      }

      @include it('md\:overscroll-x-auto') {
        @include assert {
          @include output {
            @include md\:overscroll-x-auto;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              overscroll-behavior-x: auto;
            }
          }
        }
      }

      @include it('md\:overscroll-x-contain') {
        @include assert {
          @include output {
            @include md\:overscroll-x-contain;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              overscroll-behavior-x: contain;
            }
          }
        }
      }

      @include it('md\:overscroll-x-none') {
        @include assert {
          @include output {
            @include md\:overscroll-x-none;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              overscroll-behavior-x: none;
            }
          }
        }
      }

      @include it('lg\:overscroll-auto') {
        @include assert {
          @include output {
            @include lg\:overscroll-auto;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              overscroll-behavior: auto;
            }
          }
        }
      }

      @include it('lg\:overscroll-contain') {
        @include assert {
          @include output {
            @include lg\:overscroll-contain;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              overscroll-behavior: contain;
            }
          }
        }
      }

      @include it('lg\:overscroll-none') {
        @include assert {
          @include output {
            @include lg\:overscroll-none;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              overscroll-behavior: none;
            }
          }
        }
      }

      @include it('lg\:overscroll-y-auto') {
        @include assert {
          @include output {
            @include lg\:overscroll-y-auto;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              overscroll-behavior-y: auto;
            }
          }
        }
      }

      @include it('lg\:overscroll-y-contain') {
        @include assert {
          @include output {
            @include lg\:overscroll-y-contain;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              overscroll-behavior-y: contain;
            }
          }
        }
      }

      @include it('lg\:overscroll-y-none') {
        @include assert {
          @include output {
            @include lg\:overscroll-y-none;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              overscroll-behavior-y: none;
            }
          }
        }
      }

      @include it('lg\:overscroll-x-auto') {
        @include assert {
          @include output {
            @include lg\:overscroll-x-auto;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              overscroll-behavior-x: auto;
            }
          }
        }
      }

      @include it('lg\:overscroll-x-contain') {
        @include assert {
          @include output {
            @include lg\:overscroll-x-contain;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              overscroll-behavior-x: contain;
            }
          }
        }
      }

      @include it('lg\:overscroll-x-none') {
        @include assert {
          @include output {
            @include lg\:overscroll-x-none;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              overscroll-behavior-x: none;
            }
          }
        }
      }

      @include it('xl\:overscroll-auto') {
        @include assert {
          @include output {
            @include xl\:overscroll-auto;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              overscroll-behavior: auto;
            }
          }
        }
      }

      @include it('xl\:overscroll-contain') {
        @include assert {
          @include output {
            @include xl\:overscroll-contain;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              overscroll-behavior: contain;
            }
          }
        }
      }

      @include it('xl\:overscroll-none') {
        @include assert {
          @include output {
            @include xl\:overscroll-none;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              overscroll-behavior: none;
            }
          }
        }
      }

      @include it('xl\:overscroll-y-auto') {
        @include assert {
          @include output {
            @include xl\:overscroll-y-auto;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              overscroll-behavior-y: auto;
            }
          }
        }
      }

      @include it('xl\:overscroll-y-contain') {
        @include assert {
          @include output {
            @include xl\:overscroll-y-contain;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              overscroll-behavior-y: contain;
            }
          }
        }
      }

      @include it('xl\:overscroll-y-none') {
        @include assert {
          @include output {
            @include xl\:overscroll-y-none;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              overscroll-behavior-y: none;
            }
          }
        }
      }

      @include it('xl\:overscroll-x-auto') {
        @include assert {
          @include output {
            @include xl\:overscroll-x-auto;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              overscroll-behavior-x: auto;
            }
          }
        }
      }

      @include it('xl\:overscroll-x-contain') {
        @include assert {
          @include output {
            @include xl\:overscroll-x-contain;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              overscroll-behavior-x: contain;
            }
          }
        }
      }

      @include it('xl\:overscroll-x-none') {
        @include assert {
          @include output {
            @include xl\:overscroll-x-none;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              overscroll-behavior-x: none;
            }
          }
        }
      }

      @include it('2xl\:overscroll-auto') {
        @include assert {
          @include output {
            @include \2xl\:overscroll-auto;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              overscroll-behavior: auto;
            }
          }
        }
      }

      @include it('2xl\:overscroll-contain') {
        @include assert {
          @include output {
            @include \2xl\:overscroll-contain;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              overscroll-behavior: contain;
            }
          }
        }
      }

      @include it('2xl\:overscroll-none') {
        @include assert {
          @include output {
            @include \2xl\:overscroll-none;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              overscroll-behavior: none;
            }
          }
        }
      }

      @include it('2xl\:overscroll-y-auto') {
        @include assert {
          @include output {
            @include \2xl\:overscroll-y-auto;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              overscroll-behavior-y: auto;
            }
          }
        }
      }

      @include it('2xl\:overscroll-y-contain') {
        @include assert {
          @include output {
            @include \2xl\:overscroll-y-contain;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              overscroll-behavior-y: contain;
            }
          }
        }
      }

      @include it('2xl\:overscroll-y-none') {
        @include assert {
          @include output {
            @include \2xl\:overscroll-y-none;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              overscroll-behavior-y: none;
            }
          }
        }
      }

      @include it('2xl\:overscroll-x-auto') {
        @include assert {
          @include output {
            @include \2xl\:overscroll-x-auto;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              overscroll-behavior-x: auto;
            }
          }
        }
      }

      @include it('2xl\:overscroll-x-contain') {
        @include assert {
          @include output {
            @include \2xl\:overscroll-x-contain;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              overscroll-behavior-x: contain;
            }
          }
        }
      }

      @include it('2xl\:overscroll-x-none') {
        @include assert {
          @include output {
            @include \2xl\:overscroll-x-none;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              overscroll-behavior-x: none;
            }
          }
        }
      }
    }
  }
}
