

@include describe('1.Layout') {
  @include describe('Visibility') {
    @include describe('Basic') {
      @include it('visible') {
        @include assert {
          @include output {
            @include visible;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            visibility: visible;
          }
        }
      }

      @include it('invisible') {
        @include assert {
          @include output {
            @include invisible;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            visibility: hidden;
          }
        }
      }

      @include it('collapse') {
        @include assert {
          @include output {
            @include collapse;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            visibility: collapse;
          }
        }
      }
    }

    @include describe('Rwd') {
      @include it('sm\:visible') {
        @include assert {
          @include output {
            @include sm\:visible;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              visibility: visible;
            }
          }
        }
      }

      @include it('sm\:invisible') {
        @include assert {
          @include output {
            @include sm\:invisible;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              visibility: hidden;
            }
          }
        }
      }

      @include it('sm\:collapse') {
        @include assert {
          @include output {
            @include sm\:collapse;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              visibility: collapse;
            }
          }
        }
      }

      @include it('md\:visible') {
        @include assert {
          @include output {
            @include md\:visible;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              visibility: visible;
            }
          }
        }
      }

      @include it('md\:invisible') {
        @include assert {
          @include output {
            @include md\:invisible;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              visibility: hidden;
            }
          }
        }
      }

      @include it('md\:collapse') {
        @include assert {
          @include output {
            @include md\:collapse;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              visibility: collapse;
            }
          }
        }
      }

      @include it('lg\:visible') {
        @include assert {
          @include output {
            @include lg\:visible;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              visibility: visible;
            }
          }
        }
      }

      @include it('lg\:invisible') {
        @include assert {
          @include output {
            @include lg\:invisible;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              visibility: hidden;
            }
          }
        }
      }

      @include it('lg\:collapse') {
        @include assert {
          @include output {
            @include lg\:collapse;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              visibility: collapse;
            }
          }
        }
      }

      @include it('xl\:visible') {
        @include assert {
          @include output {
            @include xl\:visible;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              visibility: visible;
            }
          }
        }
      }

      @include it('xl\:invisible') {
        @include assert {
          @include output {
            @include xl\:invisible;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              visibility: hidden;
            }
          }
        }
      }

      @include it('xl\:collapse') {
        @include assert {
          @include output {
            @include xl\:collapse;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              visibility: collapse;
            }
          }
        }
      }

      @include it('2xl\:visible') {
        @include assert {
          @include output {
            @include \2xl\:visible;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_2xl) {
              visibility: visible;
            }
          }
        }
      }

      @include it('2xl\:invisible') {
        @include assert {
          @include output {
            @include \2xl\:invisible;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_2xl) {
              visibility: hidden;
            }
          }
        }
      }

      @include it('2xl\:collapse') {
        @include assert {
          @include output {
            @include \2xl\:collapse;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_2xl) {
              visibility: collapse;
            }
          }
        }
      }
    }

    @include describe('Custom') {
      @include it('z-(100)') {
        @include assert {
          @include output {
            @include z-(100);
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            z-index: 100;
          }
        }
      }

      @include it('sm\:z-(100)') {
        @include assert {
          @include output {
            @include sm\:z-(100);
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              z-index: 100;
            }
          }
        }
      }

      @include it('md\:z-(100)') {
        @include assert {
          @include output {
            @include md\:z-(100);
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              z-index: 100;
            }
          }
        }
      }

      @include it('lg\:z-(100)') {
        @include assert {
          @include output {
            @include lg\:z-(100);
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              z-index: 100;
            }
          }
        }
      }

      @include it('xl\:z-(100)') {
        @include assert {
          @include output {
            @include xl\:z-(100);
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              z-index: 100;
            }
          }
        }
      }

      @include it('2xl\:z-(100)') {
        @include assert {
          @include output {
            @include \2xl\:z-(100);
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_2xl) {
              z-index: 100;
            }
          }
        }
      }
    }
  }
}
