@use "../../setting" as *;

$BreakInside: (
  "break-inside-auto": auto,
  "break-inside-avoid": avoid,
  "break-inside-avoid-page": avoid-page,
  "break-inside-avoid-column": avoid-column,
);

@if $Basic {
  @each $key, $value in $BreakInside {
    /*x
    @mixin #{$key} {
      @include break-inside(#{$value});
    }
    x*/
  }
}

@if $Rwd {
  @each $rwd in $rwdBox {
    @each $key, $value in $BreakInside {
      /*x
      @mixin #{$rwd}\:#{$key} {
        @include break-inside(#{$value}, $#{$rwd});
      }
      x*/
    }
  }
}