@use "../../setting" as *;


$BackdropHueRotate: (
  "backdrop-hue-rotate-0": 0deg,
  "backdrop-hue-rotate-15": 15deg,
  "backdrop-hue-rotate-30": 30deg,
  "backdrop-hue-rotate-60": 60deg,
  "backdrop-hue-rotate-90": 90deg,
  "backdrop-hue-rotate-180": 180deg
);

@if $Basic {
  @each $key, $value in $BackdropHueRotate {
    /*x
    @mixin #{$key} {
      $tw-backdrop-hue-rotate: hue-rotate(#{$value}) !global;
      @include backdrop-filter(get_backdrop-filter());
    }
    x*/
    /*x
    @mixin -#{$key} {
      $tw-backdrop-hue-rotate: hue-rotate(-#{$value}) !global;
      @include backdrop-filter(get_backdrop-filter());
    }
    x*/
  }
}

@if $Rwd and ($sizeMode ==0 or $sizeMode ==1) {
  @each $rwd in $rwdBox {
    @each $key, $value in $BackdropHueRotate {
    /*x
    @mixin #{$rwd}\:#{$key} {
      $tw-backdrop-hue-rotate: hue-rotate(#{$value}) !global;
      @include backdrop-filter(get_backdrop-filter(), $#{$rwd});
    }
    x*/
    /*x
    @mixin #{$rwd}\:-#{$key} {
      $tw-backdrop-hue-rotate: hue-rotate(-#{$value}) !global;
      @include backdrop-filter(get_backdrop-filter(), $#{$rwd});
    }
    x*/
    }
  }
}

@if $Custom {
  /*x
  @mixin backdrop-hue-rotate-($v) {
    $tw-backdrop-hue-rotate: hue-rotate($v) !global;
    @include backdrop-filter(get_backdrop-filter());
  }
  x*/
  /*x
  @mixin -backdrop-hue-rotate-($v) {
    $tw-backdrop-hue-rotate: hue-rotate(-$v) !global;
    @include backdrop-filter(get_backdrop-filter());
  }
  x*/

  @each $rwd in $rwdBox {
    /*x
    @mixin #{$rwd}\:backdrop-hue-rotate-($v) {
      $tw-backdrop-hue-rotate: hue-rotate($v) !global;
      @include backdrop-filter(get_backdrop-filter(), $#{$rwd});
    }
    x*/
    /*x
    @mixin #{$rwd}\:-backdrop-hue-rotate-($v) {
      $tw-backdrop-hue-rotate: hue-rotate(-$v) !global;
      @include backdrop-filter(get_backdrop-filter(), $#{$rwd});
    }
    x*/
  }
}