@use "../../setting" as *;

/* Space Between */
@if $Basic {
  @mixin_space-x-0 {
    #delete-me > * + * {
      margin-left: 0px;
    }
  }

  @mixin_space-y-0 {
    #delete-me > * + * {
      margin-top: 0px;
    }
  }

  /* 2px */
  @mixin_space-x-0\.5 {
    #delete-me > * + * {
      margin-left: 0.125rem;
    }
  }

  /* 2px */
  @mixin_space-y-0\.5 {
    #delete-me > * + * {
      margin-top: 0.125rem;
    }
  }

  /* 4px */
  @mixin_space-x-1 {
    #delete-me > * + * {
      margin-left: 0.25rem;
    }
  }

  /* 4px */
  @mixin_space-y-1 {
    #delete-me > * + * {
      margin-top: 0.25rem;
    }
  }

  /* 6px */
  @mixin_space-x-1\.5 {
    #delete-me > * + * {
      margin-left: 0.375rem;
    }
  }

  /* 6px */
  @mixin_space-y-1\.5 {
    #delete-me > * + * {
      margin-top: 0.375rem;
    }
  }

  /* 8px */
  @mixin_space-x-2 {
    #delete-me > * + * {
      margin-left: 0.5rem;
    }
  }

  /* 8px */
  @mixin_space-y-2 {
    #delete-me > * + * {
      margin-top: 0.5rem;
    }
  }

  /* 10px */
  @mixin_space-x-2\.5 {
    #delete-me > * + * {
      margin-left: 0.625rem;
    }
  }

  /* 10px */
  @mixin_space-y-2\.5 {
    #delete-me > * + * {
      margin-top: 0.625rem;
    }
  }

  /* 12px */
  @mixin_space-x-3 {
    #delete-me > * + * {
      margin-left: 0.75rem;
    }
  }

  /* 12px */
  @mixin_space-y-3 {
    #delete-me > * + * {
      margin-top: 0.75rem;
    }
  }

  /* 14px */
  @mixin_space-x-3\.5 {
    #delete-me > * + * {
      margin-left: 0.875rem;
    }
  }

  /* 14px */
  @mixin_space-y-3\.5 {
    #delete-me > * + * {
      margin-top: 0.875rem;
    }
  }

  /* 16px */
  @mixin_space-x-4 {
    #delete-me > * + * {
      margin-left: 1rem;
    }
  }

  /* 16px */
  @mixin_space-y-4 {
    #delete-me > * + * {
      margin-top: 1rem;
    }
  }

  /* 20px */
  @mixin_space-x-5 {
    #delete-me > * + * {
      margin-left: 1.25rem;
    }
  }

  /* 20px */
  @mixin_space-y-5 {
    #delete-me > * + * {
      margin-top: 1.25rem;
    }
  }

  /* 24px */
  @mixin_space-x-6 {
    #delete-me > * + * {
      margin-left: 1.5rem;
    }
  }

  /* 24px */
  @mixin_space-y-6 {
    #delete-me > * + * {
      margin-top: 1.5rem;
    }
  }

  /* 28px */
  @mixin_space-x-7 {
    #delete-me > * + * {
      margin-left: 1.75rem;
    }
  }

  /* 28px */
  @mixin_space-y-7 {
    #delete-me > * + * {
      margin-top: 1.75rem;
    }
  }

  /* 32px */
  @mixin_space-x-8 {
    #delete-me > * + * {
      margin-left: 2rem;
    }
  }

  /* 32px */
  @mixin_space-y-8 {
    #delete-me > * + * {
      margin-top: 2rem;
    }
  }

  /* 36px */
  @mixin_space-x-9 {
    #delete-me > * + * {
      margin-left: 2.25rem;
    }
  }

  /* 36px */
  @mixin_space-y-9 {
    #delete-me > * + * {
      margin-top: 2.25rem;
    }
  }

  /* 40px */
  @mixin_space-x-10 {
    #delete-me > * + * {
      margin-left: 2.5rem;
    }
  }

  /* 40px */
  @mixin_space-y-10 {
    #delete-me > * + * {
      margin-top: 2.5rem;
    }
  }

  /* 44px */
  @mixin_space-x-11 {
    #delete-me > * + * {
      margin-left: 2.75rem;
    }
  }

  /* 44px */
  @mixin_space-y-11 {
    #delete-me > * + * {
      margin-top: 2.75rem;
    }
  }

  /* 48px */
  @mixin_space-x-12 {
    #delete-me > * + * {
      margin-left: 3rem;
    }
  }

  /* 48px */
  @mixin_space-y-12 {
    #delete-me > * + * {
      margin-top: 3rem;
    }
  }

  /* 56px */
  @mixin_space-x-14 {
    #delete-me > * + * {
      margin-left: 3.5rem;
    }
  }

  /* 56px */
  @mixin_space-y-14 {
    #delete-me > * + * {
      margin-top: 3.5rem;
    }
  }

  /* 64px */
  @mixin_space-x-16 {
    #delete-me > * + * {
      margin-left: 4rem;
    }
  }

  /* 64px */
  @mixin_space-y-16 {
    #delete-me > * + * {
      margin-top: 4rem;
    }
  }

  /* 80px */
  @mixin_space-x-20 {
    #delete-me > * + * {
      margin-left: 5rem;
    }
  }

  /* 80px */
  @mixin_space-y-20 {
    #delete-me > * + * {
      margin-top: 5rem;
    }
  }

  /* 96px */
  @mixin_space-x-24 {
    #delete-me > * + * {
      margin-left: 6rem;
    }
  }

  /* 96px */
  @mixin_space-y-24 {
    #delete-me > * + * {
      margin-top: 6rem;
    }
  }

  /* 112px */
  @mixin_space-x-28 {
    #delete-me > * + * {
      margin-left: 7rem;
    }
  }

  /* 112px */
  @mixin_space-y-28 {
    #delete-me > * + * {
      margin-top: 7rem;
    }
  }

  /* 128px */
  @mixin_space-x-32 {
    #delete-me > * + * {
      margin-left: 8rem;
    }
  }

  /* 128px */
  @mixin_space-y-32 {
    #delete-me > * + * {
      margin-top: 8rem;
    }
  }

  /* 144px */
  @mixin_space-x-36 {
    #delete-me > * + * {
      margin-left: 9rem;
    }
  }

  /* 144px */
  @mixin_space-y-36 {
    #delete-me > * + * {
      margin-top: 9rem;
    }
  }

  /* 160px */
  @mixin_space-x-40 {
    #delete-me > * + * {
      margin-left: 10rem;
    }
  }

  /* 160px */
  @mixin_space-y-40 {
    #delete-me > * + * {
      margin-top: 10rem;
    }
  }

  /* 176px */
  @mixin_space-x-44 {
    #delete-me > * + * {
      margin-left: 11rem;
    }
  }

  /* 176px */
  @mixin_space-y-44 {
    #delete-me > * + * {
      margin-top: 11rem;
    }
  }

  /* 192px */
  @mixin_space-x-48 {
    #delete-me > * + * {
      margin-left: 12rem;
    }
  }

  /* 192px */
  @mixin_space-y-48 {
    #delete-me > * + * {
      margin-top: 12rem;
    }
  }

  /* 208px */
  @mixin_space-x-52 {
    #delete-me > * + * {
      margin-left: 13rem;
    }
  }

  /* 208px */
  @mixin_space-y-52 {
    #delete-me > * + * {
      margin-top: 13rem;
    }
  }

  /* 224px */
  @mixin_space-x-56 {
    #delete-me > * + * {
      margin-left: 14rem;
    }
  }

  /* 224px */
  @mixin_space-y-56 {
    #delete-me > * + * {
      margin-top: 14rem;
    }
  }

  /* 240px */
  @mixin_space-x-60 {
    #delete-me > * + * {
      margin-left: 15rem;
    }
  }

  /* 240px */
  @mixin_space-y-60 {
    #delete-me > * + * {
      margin-top: 15rem;
    }
  }

  /* 256px */
  @mixin_space-x-64 {
    #delete-me > * + * {
      margin-left: 16rem;
    }
  }

  /* 256px */
  @mixin_space-y-64 {
    #delete-me > * + * {
      margin-top: 16rem;
    }
  }

  /* 288px */
  @mixin_space-x-72 {
    #delete-me > * + * {
      margin-left: 18rem;
    }
  }

  /* 288px */
  @mixin_space-y-72 {
    #delete-me > * + * {
      margin-top: 18rem;
    }
  }

  /* 320px */
  @mixin_space-x-80 {
    #delete-me > * + * {
      margin-left: 20rem;
    }
  }

  /* 320px */
  @mixin_space-y-80 {
    #delete-me > * + * {
      margin-top: 20rem;
    }
  }

  /* 384px */
  @mixin_space-x-96 {
    #delete-me > * + * {
      margin-left: 24rem;
    }
  }

  /* 384px */
  @mixin_space-y-96 {
    #delete-me > * + * {
      margin-top: 24rem;
    }
  }

  @mixin_space-x-px {
    #delete-me > * + * {
      margin-left: 1px;
    }
  }

  @mixin_space-y-px {
    #delete-me > * + * {
      margin-top: 1px;
    }
  }

  @mixin_space-y-reverse {
    #delete-me > * + * {
      --tw-space-y-reverse: 1;
    }
  }

  @mixin_space-x-reverse {
    #delete-me > * + * {
      --tw-space-x-reverse: 1;
    }
  }
  @mixin_-space-x-0 {
    #delete-me > * + * {
      margin-left: -0px;
    }
  }

  @mixin_-space-y-0 {
    #delete-me > * + * {
      margin-top: -0px;
    }
  }

  /* 2px */
  @mixin_-space-x-0\.5 {
    #delete-me > * + * {
      margin-left: -0.125rem;
    }
  }

  /* 2px */
  @mixin_-space-y-0\.5 {
    #delete-me > * + * {
      margin-top: -0.125rem;
    }
  }

  /* 4px */
  @mixin_-space-x-1 {
    #delete-me > * + * {
      margin-left: -0.25rem;
    }
  }

  /* 4px */
  @mixin_-space-y-1 {
    #delete-me > * + * {
      margin-top: -0.25rem;
    }
  }

  /* 6px */
  @mixin_-space-x-1\.5 {
    #delete-me > * + * {
      margin-left: -0.375rem;
    }
  }

  /* 6px */
  @mixin_-space-y-1\.5 {
    #delete-me > * + * {
      margin-top: -0.375rem;
    }
  }

  /* 8px */
  @mixin_-space-x-2 {
    #delete-me > * + * {
      margin-left: -0.5rem;
    }
  }

  /* 8px */
  @mixin_-space-y-2 {
    #delete-me > * + * {
      margin-top: -0.5rem;
    }
  }

  /* 10px */
  @mixin_-space-x-2\.5 {
    #delete-me > * + * {
      margin-left: -0.625rem;
    }
  }

  /* 10px */
  @mixin_-space-y-2\.5 {
    #delete-me > * + * {
      margin-top: -0.625rem;
    }
  }

  /* 12px */
  @mixin_-space-x-3 {
    #delete-me > * + * {
      margin-left: -0.75rem;
    }
  }

  /* 12px */
  @mixin_-space-y-3 {
    #delete-me > * + * {
      margin-top: -0.75rem;
    }
  }

  /* 14px */
  @mixin_-space-x-3\.5 {
    #delete-me > * + * {
      margin-left: -0.875rem;
    }
  }

  /* 14px */
  @mixin_-space-y-3\.5 {
    #delete-me > * + * {
      margin-top: -0.875rem;
    }
  }

  /* 16px */
  @mixin_-space-x-4 {
    #delete-me > * + * {
      margin-left: -1rem;
    }
  }

  /* 16px */
  @mixin_-space-y-4 {
    #delete-me > * + * {
      margin-top: -1rem;
    }
  }

  /* 20px */
  @mixin_-space-x-5 {
    #delete-me > * + * {
      margin-left: -1.25rem;
    }
  }

  /* 20px */
  @mixin_-space-y-5 {
    #delete-me > * + * {
      margin-top: -1.25rem;
    }
  }

  /* 24px */
  @mixin_-space-x-6 {
    #delete-me > * + * {
      margin-left: -1.5rem;
    }
  }

  /* 24px */
  @mixin_-space-y-6 {
    #delete-me > * + * {
      margin-top: -1.5rem;
    }
  }

  /* 28px */
  @mixin_-space-x-7 {
    #delete-me > * + * {
      margin-left: -1.75rem;
    }
  }

  /* 28px */
  @mixin_-space-y-7 {
    #delete-me > * + * {
      margin-top: -1.75rem;
    }
  }

  /* 32px */
  @mixin_-space-x-8 {
    #delete-me > * + * {
      margin-left: -2rem;
    }
  }

  /* 32px */
  @mixin_-space-y-8 {
    #delete-me > * + * {
      margin-top: -2rem;
    }
  }

  /* 36px */
  @mixin_-space-x-9 {
    #delete-me > * + * {
      margin-left: -2.25rem;
    }
  }

  /* 36px */
  @mixin_-space-y-9 {
    #delete-me > * + * {
      margin-top: -2.25rem;
    }
  }

  /* 40px */
  @mixin_-space-x-10 {
    #delete-me > * + * {
      margin-left: -2.5rem;
    }
  }

  /* 40px */
  @mixin_-space-y-10 {
    #delete-me > * + * {
      margin-top: -2.5rem;
    }
  }

  /* 44px */
  @mixin_-space-x-11 {
    #delete-me > * + * {
      margin-left: -2.75rem;
    }
  }

  /* 44px */
  @mixin_-space-y-11 {
    #delete-me > * + * {
      margin-top: -2.75rem;
    }
  }

  /* 48px */
  @mixin_-space-x-12 {
    #delete-me > * + * {
      margin-left: -3rem;
    }
  }

  /* 48px */
  @mixin_-space-y-12 {
    #delete-me > * + * {
      margin-top: -3rem;
    }
  }

  /* 56px */
  @mixin_-space-x-14 {
    #delete-me > * + * {
      margin-left: -3.5rem;
    }
  }

  /* 56px */
  @mixin_-space-y-14 {
    #delete-me > * + * {
      margin-top: -3.5rem;
    }
  }

  /* 64px */
  @mixin_-space-x-16 {
    #delete-me > * + * {
      margin-left: -4rem;
    }
  }

  /* 64px */
  @mixin_-space-y-16 {
    #delete-me > * + * {
      margin-top: -4rem;
    }
  }

  /* 80px */
  @mixin_-space-x-20 {
    #delete-me > * + * {
      margin-left: -5rem;
    }
  }

  /* 80px */
  @mixin_-space-y-20 {
    #delete-me > * + * {
      margin-top: -5rem;
    }
  }

  /* 96px */
  @mixin_-space-x-24 {
    #delete-me > * + * {
      margin-left: -6rem;
    }
  }

  /* 96px */
  @mixin_-space-y-24 {
    #delete-me > * + * {
      margin-top: -6rem;
    }
  }

  /* 112px */
  @mixin_-space-x-28 {
    #delete-me > * + * {
      margin-left: -7rem;
    }
  }

  /* 112px */
  @mixin_-space-y-28 {
    #delete-me > * + * {
      margin-top: -7rem;
    }
  }

  /* 128px */
  @mixin_-space-x-32 {
    #delete-me > * + * {
      margin-left: -8rem;
    }
  }

  /* 128px */
  @mixin_-space-y-32 {
    #delete-me > * + * {
      margin-top: -8rem;
    }
  }

  /* 144px */
  @mixin_-space-x-36 {
    #delete-me > * + * {
      margin-left: -9rem;
    }
  }

  /* 144px */
  @mixin_-space-y-36 {
    #delete-me > * + * {
      margin-top: -9rem;
    }
  }

  /* 160px */
  @mixin_-space-x-40 {
    #delete-me > * + * {
      margin-left: -10rem;
    }
  }

  /* 160px */
  @mixin_-space-y-40 {
    #delete-me > * + * {
      margin-top: -10rem;
    }
  }

  /* 176px */
  @mixin_-space-x-44 {
    #delete-me > * + * {
      margin-left: -11rem;
    }
  }

  /* 176px */
  @mixin_-space-y-44 {
    #delete-me > * + * {
      margin-top: -11rem;
    }
  }

  /* 192px */
  @mixin_-space-x-48 {
    #delete-me > * + * {
      margin-left: -12rem;
    }
  }

  /* 192px */
  @mixin_-space-y-48 {
    #delete-me > * + * {
      margin-top: -12rem;
    }
  }

  /* 208px */
  @mixin_-space-x-52 {
    #delete-me > * + * {
      margin-left: -13rem;
    }
  }

  /* 208px */
  @mixin_-space-y-52 {
    #delete-me > * + * {
      margin-top: -13rem;
    }
  }

  /* 224px */
  @mixin_-space-x-56 {
    #delete-me > * + * {
      margin-left: -14rem;
    }
  }

  /* 224px */
  @mixin_-space-y-56 {
    #delete-me > * + * {
      margin-top: -14rem;
    }
  }

  /* 240px */
  @mixin_-space-x-60 {
    #delete-me > * + * {
      margin-left: -15rem;
    }
  }

  /* 240px */
  @mixin_-space-y-60 {
    #delete-me > * + * {
      margin-top: -15rem;
    }
  }

  /* 256px */
  @mixin_-space-x-64 {
    #delete-me > * + * {
      margin-left: -16rem;
    }
  }

  /* 256px */
  @mixin_-space-y-64 {
    #delete-me > * + * {
      margin-top: -16rem;
    }
  }

  /* 288px */
  @mixin_-space-x-72 {
    #delete-me > * + * {
      margin-left: -18rem;
    }
  }

  /* 288px */
  @mixin_-space-y-72 {
    #delete-me > * + * {
      margin-top: -18rem;
    }
  }

  /* 320px */
  @mixin_-space-x-80 {
    #delete-me > * + * {
      margin-left: -20rem;
    }
  }

  /* 320px */
  @mixin_-space-y-80 {
    #delete-me > * + * {
      margin-top: -20rem;
    }
  }

  /* 384px */
  @mixin_-space-x-96 {
    #delete-me > * + * {
      margin-left: -24rem;
    }
  }

  /* 384px */
  @mixin_-space-y-96 {
    #delete-me > * + * {
      margin-top: -24rem;
    }
  }

  @mixin_-space-x-px {
    #delete-me > * + * {
      margin-left: -1px;
    }
  }

  @mixin_-space-y-px {
    #delete-me > * + * {
      margin-top: -1px;
    }
  }
}

@if $Rwd {
  // reducing size for updating speed
  @if $isLite {
    @mixin_sm\:space-x- (_value) {
      @media (min-width: $breakpoint-sm) {
        #delete-me > * + * {
          margin-left: _value;
        }
      }
    }

    @mixin_sm\:space-y- (_value) {
      @media (min-width: $breakpoint-sm) {
        #delete-me > * + * {
          margin-top: _value;
        }
      }
    }

    @mixin_md\:space-x- (_value) {
      @media (min-width: $breakpoint-md) {
        #delete-me > * + * {
          margin-left: _value;
        }
      }
    }

    @mixin_md\:space-y- (_value) {
      @media (min-width: $breakpoint-md) {
        #delete-me > * + * {
          margin-top: _value;
        }
      }
    }

    @mixin_lg\:space-x- (_value) {
      @media (min-width: $breakpoint-lg) {
        #delete-me > * + * {
          margin-left: _value;
        }
      }
    }

    @mixin_lg\:space-y- (_value) {
      @media (min-width: $breakpoint-lg) {
        #delete-me > * + * {
          margin-top: _value;
        }
      }
    }

    @mixin_xl\:space-x- (_value) {
      @media (min-width: $breakpoint-xl) {
        #delete-me > * + * {
          margin-left: _value;
        }
      }
    }

    @mixin_xl\:space-y- (_value) {
      @media (min-width: $breakpoint-xl) {
        #delete-me > * + * {
          margin-top: _value;
        }
      }
    }

    @mixin_\\2xl\:space-x- (_value) {
      @media (min-width: $breakpoint-2xl) {
        #delete-me > * + * {
          margin-left: _value;
        }
      }
    }

    @mixin_\\2xl\:space-y- (_value) {
      @media (min-width: $breakpoint-2xl) {
        #delete-me > * + * {
          margin-top: _value;
        }
      }
    }
  }

  // tailwind default
  @else {
  }
}

@if $Custom {
  @mixin_space-x- (_value) {
    #delete-me > * + * {
      margin-left: _value;
    }
  }

  @mixin_space-y- (_value) {
    #delete-me > * + * {
      margin-top: _value;
    }
  }
}
