@use "../../setting" as *;

/* Justify Content */
@if $Basic {
  // /*x
  @mixin justify-normal {
    justify-content: normal;
  }

  @mixin justify-start {
    justify-content: flex-start;
  }

  @mixin justify-end {
    justify-content: flex-end;
  }

  @mixin justify-center {
    justify-content: center;
  }

  @mixin justify-between {
    justify-content: space-between;
  }

  @mixin justify-around {
    justify-content: space-around;
  }

  @mixin justify-evenly {
    justify-content: space-evenly;
  }

  @mixin justify-stretch {
    justify-content: stretch;
  } // x*/
}

@if $Rwd {
  // /*x
  @mixin sm\:justify-normal {
    @include r($sm, justify-content, normal);
  }

  @mixin sm\:justify-start {
    @include r($sm, justify-content, flex-start);
  }

  @mixin sm\:justify-end {
    @include r($sm, justify-content, flex-end);
  }

  @mixin sm\:justify-center {
    @include r($sm, justify-content, center);
  }

  @mixin sm\:justify-between {
    @include r($sm, justify-content, space-between);
  }

  @mixin sm\:justify-around {
    @include r($sm, justify-content, space-around);
  }

  @mixin sm\:justify-evenly {
    @include r($sm, justify-content, space-evenly);
  }

  @mixin sm\:justify-stretch {
    @include r($sm, justify-content, stretch);
  }

  @mixin md\:justify-normal {
    @include r($md, justify-content, normal);
  }

  @mixin md\:justify-start {
    @include r($md, justify-content, flex-start);
  }

  @mixin md\:justify-end {
    @include r($md, justify-content, flex-end);
  }

  @mixin md\:justify-center {
    @include r($md, justify-content, center);
  }

  @mixin md\:justify-between {
    @include r($md, justify-content, space-between);
  }

  @mixin md\:justify-around {
    @include r($md, justify-content, space-around);
  }

  @mixin md\:justify-evenly {
    @include r($md, justify-content, space-evenly);
  }

  @mixin md\:justify-stretch {
    @include r($md, justify-content, stretch);
  }

  @mixin lg\:justify-normal {
    @include r($lg, justify-content, normal);
  }

  @mixin lg\:justify-start {
    @include r($lg, justify-content, flex-start);
  }

  @mixin lg\:justify-end {
    @include r($lg, justify-content, flex-end);
  }

  @mixin lg\:justify-center {
    @include r($lg, justify-content, center);
  }

  @mixin lg\:justify-between {
    @include r($lg, justify-content, space-between);
  }

  @mixin lg\:justify-around {
    @include r($lg, justify-content, space-around);
  }

  @mixin lg\:justify-evenly {
    @include r($lg, justify-content, space-evenly);
  }

  @mixin lg\:justify-stretch {
    @include r($lg, justify-content, stretch);
  }

  @mixin xl\:justify-normal {
    @include r($xl, justify-content, normal);
  }

  @mixin xl\:justify-start {
    @include r($xl, justify-content, flex-start);
  }

  @mixin xl\:justify-end {
    @include r($xl, justify-content, flex-end);
  }

  @mixin xl\:justify-center {
    @include r($xl, justify-content, center);
  }

  @mixin xl\:justify-between {
    @include r($xl, justify-content, space-between);
  }

  @mixin xl\:justify-around {
    @include r($xl, justify-content, space-around);
  }

  @mixin xl\:justify-evenly {
    @include r($xl, justify-content, space-evenly);
  }

  @mixin xl\:justify-stretch {
    @include r($xl, justify-content, stretch);
  }

  @mixin \2xl\:justify-normal {
    @include r($\2xl, justify-content, normal);
  }

  @mixin \2xl\:justify-start {
    @include r($\2xl, justify-content, flex-start);
  }

  @mixin \2xl\:justify-end {
    @include r($\2xl, justify-content, flex-end);
  }

  @mixin \2xl\:justify-center {
    @include r($\2xl, justify-content, center);
  }

  @mixin \2xl\:justify-between {
    @include r($\2xl, justify-content, space-between);
  }

  @mixin \2xl\:justify-around {
    @include r($\2xl, justify-content, space-around);
  }

  @mixin \2xl\:justify-evenly {
    @include r($\2xl, justify-content, space-evenly);
  }

  @mixin \2xl\:justify-stretch {
    @include r($\2xl, justify-content, stretch);
  } // x*/
}
