@use "../../setting" as *;

/* Justify Content */
@if $Basic {
  /*x
  @mixin justify-normal {
    justify-content: normal;
  }

  @mixin justify-start {
    justify-content: flex-start;
  }

  @mixin justify-end {
    justify-content: flex-end;
  }

  @mixin justify-center {
    justify-content: center;
  }

  @mixin justify-between {
    justify-content: space-between;
  }

  @mixin justify-around {
    justify-content: space-around;
  }

  @mixin justify-evenly {
    justify-content: space-evenly;
  }

  @mixin justify-stretch {
    justify-content: stretch;
  }
  x*/
}

@if $Rwd {
  /*x
  @mixin sm\:justify-normal {
    @media (min-width: $rwd-sm) {
      justify-content: normal;
    }
  }

  @mixin sm\:justify-start {
    @media (min-width: $rwd-sm) {
      justify-content: flex-start;
    }
  }

  @mixin sm\:justify-end {
    @media (min-width: $rwd-sm) {
      justify-content: flex-end;
    }
  }

  @mixin sm\:justify-center {
    @media (min-width: $rwd-sm) {
      justify-content: center;
    }
  }

  @mixin sm\:justify-between {
    @media (min-width: $rwd-sm) {
      justify-content: space-between;
    }
  }

  @mixin sm\:justify-around {
    @media (min-width: $rwd-sm) {
      justify-content: space-around;
    }
  }

  @mixin sm\:justify-evenly {
    @media (min-width: $rwd-sm) {
      justify-content: space-evenly;
    }
  }

  @mixin sm\:justify-stretch {
    @media (min-width: $rwd-sm) {
      justify-content: stretch;
    }
  }

  @mixin md\:justify-normal {
    @media (min-width: $rwd-md) {
      justify-content: normal;
    }
  }

  @mixin md\:justify-start {
    @media (min-width: $rwd-md) {
      justify-content: flex-start;
    }
  }

  @mixin md\:justify-end {
    @media (min-width: $rwd-md) {
      justify-content: flex-end;
    }
  }

  @mixin md\:justify-center {
    @media (min-width: $rwd-md) {
      justify-content: center;
    }
  }

  @mixin md\:justify-between {
    @media (min-width: $rwd-md) {
      justify-content: space-between;
    }
  }

  @mixin md\:justify-around {
    @media (min-width: $rwd-md) {
      justify-content: space-around;
    }
  }

  @mixin md\:justify-evenly {
    @media (min-width: $rwd-md) {
      justify-content: space-evenly;
    }
  }

  @mixin md\:justify-stretch {
    @media (min-width: $rwd-md) {
      justify-content: stretch;
    }
  }

  @mixin lg\:justify-normal {
    @media (min-width: $rwd-lg) {
      justify-content: normal;
    }
  }

  @mixin lg\:justify-start {
    @media (min-width: $rwd-lg) {
      justify-content: flex-start;
    }
  }

  @mixin lg\:justify-end {
    @media (min-width: $rwd-lg) {
      justify-content: flex-end;
    }
  }

  @mixin lg\:justify-center {
    @media (min-width: $rwd-lg) {
      justify-content: center;
    }
  }

  @mixin lg\:justify-between {
    @media (min-width: $rwd-lg) {
      justify-content: space-between;
    }
  }

  @mixin lg\:justify-around {
    @media (min-width: $rwd-lg) {
      justify-content: space-around;
    }
  }

  @mixin lg\:justify-evenly {
    @media (min-width: $rwd-lg) {
      justify-content: space-evenly;
    }
  }

  @mixin lg\:justify-stretch {
    @media (min-width: $rwd-lg) {
      justify-content: stretch;
    }
  }

  @mixin xl\:justify-normal {
    @media (min-width: $rwd-xl) {
      justify-content: normal;
    }
  }

  @mixin xl\:justify-start {
    @media (min-width: $rwd-xl) {
      justify-content: flex-start;
    }
  }

  @mixin xl\:justify-end {
    @media (min-width: $rwd-xl) {
      justify-content: flex-end;
    }
  }

  @mixin xl\:justify-center {
    @media (min-width: $rwd-xl) {
      justify-content: center;
    }
  }

  @mixin xl\:justify-between {
    @media (min-width: $rwd-xl) {
      justify-content: space-between;
    }
  }

  @mixin xl\:justify-around {
    @media (min-width: $rwd-xl) {
      justify-content: space-around;
    }
  }

  @mixin xl\:justify-evenly {
    @media (min-width: $rwd-xl) {
      justify-content: space-evenly;
    }
  }

  @mixin xl\:justify-stretch {
    @media (min-width: $rwd-xl) {
      justify-content: stretch;
    }
  }

  @mixin \2xl\:justify-normal {
    @media (min-width: $rwd-2xl) {
      justify-content: normal;
    }
  }

  @mixin \2xl\:justify-start {
    @media (min-width: $rwd-2xl) {
      justify-content: flex-start;
    }
  }

  @mixin \2xl\:justify-end {
    @media (min-width: $rwd-2xl) {
      justify-content: flex-end;
    }
  }

  @mixin \2xl\:justify-center {
    @media (min-width: $rwd-2xl) {
      justify-content: center;
    }
  }

  @mixin \2xl\:justify-between {
    @media (min-width: $rwd-2xl) {
      justify-content: space-between;
    }
  }

  @mixin \2xl\:justify-around {
    @media (min-width: $rwd-2xl) {
      justify-content: space-around;
    }
  }

  @mixin \2xl\:justify-evenly {
    @media (min-width: $rwd-2xl) {
      justify-content: space-evenly;
    }
  }

  @mixin \2xl\:justify-stretch {
    @media (min-width: $rwd-2xl) {
      justify-content: stretch;
    }
  }
  x*/
}
