@use "../../setting" as *;

/* Backdrop Hue Rotate */
@if $Basic {
  /*x
  @mixin backdrop-hue-rotate-0 {
    $--tw-backdrop-hue-rotate: hue-rotate(0deg) !global;
    @include get_BackdropFilter;
  }

  @mixin backdrop-hue-rotate-15 {
    $--tw-backdrop-hue-rotate: hue-rotate(15deg) !global;
    @include get_BackdropFilter;
  }

  @mixin backdrop-hue-rotate-30 {
    $--tw-backdrop-hue-rotate: hue-rotate(30deg) !global;
    @include get_BackdropFilter;
  }

  @mixin backdrop-hue-rotate-60 {
    $--tw-backdrop-hue-rotate: hue-rotate(60deg) !global;
    @include get_BackdropFilter;
  }

  @mixin backdrop-hue-rotate-90 {
    $--tw-backdrop-hue-rotate: hue-rotate(90deg) !global;
    @include get_BackdropFilter;
  }

  @mixin backdrop-hue-rotate-180 {
    $--tw-backdrop-hue-rotate: hue-rotate(180deg) !global;
    @include get_BackdropFilter;
  }

  @mixin -backdrop-hue-rotate-0 {
    $--tw-backdrop-hue-rotate: hue-rotate(-0deg) !global;
    @include get_BackdropFilter;
  }

  @mixin -backdrop-hue-rotate-15 {
    $--tw-backdrop-hue-rotate: hue-rotate(-15deg) !global;
    @include get_BackdropFilter;
  }

  @mixin -backdrop-hue-rotate-30 {
    $--tw-backdrop-hue-rotate: hue-rotate(-30deg) !global;
    @include get_BackdropFilter;
  }

  @mixin -backdrop-hue-rotate-60 {
    $--tw-backdrop-hue-rotate: hue-rotate(-60deg) !global;
    @include get_BackdropFilter;
  }

  @mixin -backdrop-hue-rotate-90 {
    $--tw-backdrop-hue-rotate: hue-rotate(-90deg) !global;
    @include get_BackdropFilter;
  }

  @mixin -backdrop-hue-rotate-180 {
    $--tw-backdrop-hue-rotate: hue-rotate(-180deg) !global;
    @include get_BackdropFilter;
  }x*/
}

@if $Rwd {
  // reducing size for updating speed
  @if $isLiteMode {
    /*x
    @mixin sm\:backdrop-hue-rotate-($value) {
      @media (min-width: $rwd-sm) {
        $--tw-backdrop-hue-rotate: hue-rotate($value) !global;
        @include get_BackdropFilter;
      }
    }

    @mixin md\:backdrop-hue-rotate-($value) {
      @media (min-width: $rwd-md) {
        $--tw-backdrop-hue-rotate: hue-rotate($value) !global;
        @include get_BackdropFilter;
      }
    }

    @mixin lg\:backdrop-hue-rotate-($value) {
      @media (min-width: $rwd-lg) {
        $--tw-backdrop-hue-rotate: hue-rotate($value) !global;
        @include get_BackdropFilter;
      }
    }

    @mixin xl\:backdrop-hue-rotate-($value) {
      @media (min-width: $rwd-xl) {
        $--tw-backdrop-hue-rotate: hue-rotate($value) !global;
        @include get_BackdropFilter;
      }
    }

    @mixin \2xl\:backdrop-hue-rotate-($value) {
      @media (min-width: $rwd-2xl) {
        $--tw-backdrop-hue-rotate: hue-rotate($value) !global;
        @include get_BackdropFilter;
      }
    }x*/
  }

  // tailwind default
  @else {
  }
}

@if $Custom {
  /*x
  @mixin backdrop-hue-rotate-($value) {
    $--tw-backdrop-hue-rotate: hue-rotate($value) !global;
    @include get_BackdropFilter;
  }x*/
}
