@use "../../setting" as *;
@use "../../mode0" as *;
@use "true" as *;

@include describe("5.Typography") {
  @include describe("Vertical Align") {
    @include describe("Basic") {
      @include it("align-baseline") {
        @include assert {
          @include output {
            @include align-baseline;
            @include clear;
          }

          @include expect {
            vertical-align: baseline;
          }
        }
      }

      @include it("align-top") {
        @include assert {
          @include output {
            @include align-top;
            @include clear;
          }

          @include expect {
            vertical-align: top;
          }
        }
      }

      @include it("align-middle") {
        @include assert {
          @include output {
            @include align-middle;
            @include clear;
          }

          @include expect {
            vertical-align: middle;
          }
        }
      }

      @include it("align-bottom") {
        @include assert {
          @include output {
            @include align-bottom;
            @include clear;
          }

          @include expect {
            vertical-align: bottom;
          }
        }
      }

      @include it("align-text-top") {
        @include assert {
          @include output {
            @include align-text-top;
            @include clear;
          }

          @include expect {
            vertical-align: text-top;
          }
        }
      }

      @include it("align-text-bottom") {
        @include assert {
          @include output {
            @include align-text-bottom;
            @include clear;
          }

          @include expect {
            vertical-align: text-bottom;
          }
        }
      }

      @include it("align-sub") {
        @include assert {
          @include output {
            @include align-sub;
            @include clear;
          }

          @include expect {
            vertical-align: sub;
          }
        }
      }

      @include it("align-super") {
        @include assert {
          @include output {
            @include align-super;
            @include clear;
          }

          @include expect {
            vertical-align: super;
          }
        }
      }
    }

    @include describe("Rwd") {
      @include it("sm\:align-baseline") {
        @include assert {
          @include output {
            @include sm\:align-baseline;
            @include clear;
          }

          @include expect {
            @media (min-width: $sm) {
              vertical-align: baseline;
            }
          }
        }
      }

      @include it("sm\:align-top") {
        @include assert {
          @include output {
            @include sm\:align-top;
            @include clear;
          }

          @include expect {
            @media (min-width: $sm) {
              vertical-align: top;
            }
          }
        }
      }

      @include it("sm\:align-middle") {
        @include assert {
          @include output {
            @include sm\:align-middle;
            @include clear;
          }

          @include expect {
            @media (min-width: $sm) {
              vertical-align: middle;
            }
          }
        }
      }

      @include it("sm\:align-bottom") {
        @include assert {
          @include output {
            @include sm\:align-bottom;
            @include clear;
          }

          @include expect {
            @media (min-width: $sm) {
              vertical-align: bottom;
            }
          }
        }
      }

      @include it("sm\:align-text-top") {
        @include assert {
          @include output {
            @include sm\:align-text-top;
            @include clear;
          }

          @include expect {
            @media (min-width: $sm) {
              vertical-align: text-top;
            }
          }
        }
      }

      @include it("sm\:align-text-bottom") {
        @include assert {
          @include output {
            @include sm\:align-text-bottom;
            @include clear;
          }

          @include expect {
            @media (min-width: $sm) {
              vertical-align: text-bottom;
            }
          }
        }
      }

      @include it("sm\:align-sub") {
        @include assert {
          @include output {
            @include sm\:align-sub;
            @include clear;
          }

          @include expect {
            @media (min-width: $sm) {
              vertical-align: sub;
            }
          }
        }
      }

      @include it("sm\:align-super") {
        @include assert {
          @include output {
            @include sm\:align-super;
            @include clear;
          }

          @include expect {
            @media (min-width: $sm) {
              vertical-align: super;
            }
          }
        }
      }

      @include it("md\:align-baseline") {
        @include assert {
          @include output {
            @include md\:align-baseline;
            @include clear;
          }

          @include expect {
            @media (min-width: $md) {
              vertical-align: baseline;
            }
          }
        }
      }

      @include it("md\:align-top") {
        @include assert {
          @include output {
            @include md\:align-top;
            @include clear;
          }

          @include expect {
            @media (min-width: $md) {
              vertical-align: top;
            }
          }
        }
      }

      @include it("md\:align-middle") {
        @include assert {
          @include output {
            @include md\:align-middle;
            @include clear;
          }

          @include expect {
            @media (min-width: $md) {
              vertical-align: middle;
            }
          }
        }
      }

      @include it("md\:align-bottom") {
        @include assert {
          @include output {
            @include md\:align-bottom;
            @include clear;
          }

          @include expect {
            @media (min-width: $md) {
              vertical-align: bottom;
            }
          }
        }
      }

      @include it("md\:align-text-top") {
        @include assert {
          @include output {
            @include md\:align-text-top;
            @include clear;
          }

          @include expect {
            @media (min-width: $md) {
              vertical-align: text-top;
            }
          }
        }
      }

      @include it("md\:align-text-bottom") {
        @include assert {
          @include output {
            @include md\:align-text-bottom;
            @include clear;
          }

          @include expect {
            @media (min-width: $md) {
              vertical-align: text-bottom;
            }
          }
        }
      }

      @include it("md\:align-sub") {
        @include assert {
          @include output {
            @include md\:align-sub;
            @include clear;
          }

          @include expect {
            @media (min-width: $md) {
              vertical-align: sub;
            }
          }
        }
      }

      @include it("md\:align-super") {
        @include assert {
          @include output {
            @include md\:align-super;
            @include clear;
          }

          @include expect {
            @media (min-width: $md) {
              vertical-align: super;
            }
          }
        }
      }

      @include it("lg\:align-baseline") {
        @include assert {
          @include output {
            @include lg\:align-baseline;
            @include clear;
          }

          @include expect {
            @media (min-width: $lg) {
              vertical-align: baseline;
            }
          }
        }
      }

      @include it("lg\:align-top") {
        @include assert {
          @include output {
            @include lg\:align-top;
            @include clear;
          }

          @include expect {
            @media (min-width: $lg) {
              vertical-align: top;
            }
          }
        }
      }

      @include it("lg\:align-middle") {
        @include assert {
          @include output {
            @include lg\:align-middle;
            @include clear;
          }

          @include expect {
            @media (min-width: $lg) {
              vertical-align: middle;
            }
          }
        }
      }

      @include it("lg\:align-bottom") {
        @include assert {
          @include output {
            @include lg\:align-bottom;
            @include clear;
          }

          @include expect {
            @media (min-width: $lg) {
              vertical-align: bottom;
            }
          }
        }
      }

      @include it("lg\:align-text-top") {
        @include assert {
          @include output {
            @include lg\:align-text-top;
            @include clear;
          }

          @include expect {
            @media (min-width: $lg) {
              vertical-align: text-top;
            }
          }
        }
      }

      @include it("lg\:align-text-bottom") {
        @include assert {
          @include output {
            @include lg\:align-text-bottom;
            @include clear;
          }

          @include expect {
            @media (min-width: $lg) {
              vertical-align: text-bottom;
            }
          }
        }
      }

      @include it("lg\:align-sub") {
        @include assert {
          @include output {
            @include lg\:align-sub;
            @include clear;
          }

          @include expect {
            @media (min-width: $lg) {
              vertical-align: sub;
            }
          }
        }
      }

      @include it("lg\:align-super") {
        @include assert {
          @include output {
            @include lg\:align-super;
            @include clear;
          }

          @include expect {
            @media (min-width: $lg) {
              vertical-align: super;
            }
          }
        }
      }

      @include it("xl\:align-baseline") {
        @include assert {
          @include output {
            @include xl\:align-baseline;
            @include clear;
          }

          @include expect {
            @media (min-width: $xl) {
              vertical-align: baseline;
            }
          }
        }
      }

      @include it("xl\:align-top") {
        @include assert {
          @include output {
            @include xl\:align-top;
            @include clear;
          }

          @include expect {
            @media (min-width: $xl) {
              vertical-align: top;
            }
          }
        }
      }

      @include it("xl\:align-middle") {
        @include assert {
          @include output {
            @include xl\:align-middle;
            @include clear;
          }

          @include expect {
            @media (min-width: $xl) {
              vertical-align: middle;
            }
          }
        }
      }

      @include it("xl\:align-bottom") {
        @include assert {
          @include output {
            @include xl\:align-bottom;
            @include clear;
          }

          @include expect {
            @media (min-width: $xl) {
              vertical-align: bottom;
            }
          }
        }
      }

      @include it("xl\:align-text-top") {
        @include assert {
          @include output {
            @include xl\:align-text-top;
            @include clear;
          }

          @include expect {
            @media (min-width: $xl) {
              vertical-align: text-top;
            }
          }
        }
      }

      @include it("xl\:align-text-bottom") {
        @include assert {
          @include output {
            @include xl\:align-text-bottom;
            @include clear;
          }

          @include expect {
            @media (min-width: $xl) {
              vertical-align: text-bottom;
            }
          }
        }
      }

      @include it("xl\:align-sub") {
        @include assert {
          @include output {
            @include xl\:align-sub;
            @include clear;
          }

          @include expect {
            @media (min-width: $xl) {
              vertical-align: sub;
            }
          }
        }
      }

      @include it("xl\:align-super") {
        @include assert {
          @include output {
            @include xl\:align-super;
            @include clear;
          }

          @include expect {
            @media (min-width: $xl) {
              vertical-align: super;
            }
          }
        }
      }

      @include it("\2xl\:align-baseline") {
        @include assert {
          @include output {
            @include \2xl\:align-baseline;
            @include clear;
          }

          @include expect {
            @media (min-width: $\2xl) {
              vertical-align: baseline;
            }
          }
        }
      }

      @include it("\2xl\:align-top") {
        @include assert {
          @include output {
            @include \2xl\:align-top;
            @include clear;
          }

          @include expect {
            @media (min-width: $\2xl) {
              vertical-align: top;
            }
          }
        }
      }

      @include it("\2xl\:align-middle") {
        @include assert {
          @include output {
            @include \2xl\:align-middle;
            @include clear;
          }

          @include expect {
            @media (min-width: $\2xl) {
              vertical-align: middle;
            }
          }
        }
      }

      @include it("\2xl\:align-bottom") {
        @include assert {
          @include output {
            @include \2xl\:align-bottom;
            @include clear;
          }

          @include expect {
            @media (min-width: $\2xl) {
              vertical-align: bottom;
            }
          }
        }
      }

      @include it("\2xl\:align-text-top") {
        @include assert {
          @include output {
            @include \2xl\:align-text-top;
            @include clear;
          }

          @include expect {
            @media (min-width: $\2xl) {
              vertical-align: text-top;
            }
          }
        }
      }

      @include it("\2xl\:align-text-bottom") {
        @include assert {
          @include output {
            @include \2xl\:align-text-bottom;
            @include clear;
          }

          @include expect {
            @media (min-width: $\2xl) {
              vertical-align: text-bottom;
            }
          }
        }
      }

      @include it("\2xl\:align-sub") {
        @include assert {
          @include output {
            @include \2xl\:align-sub;
            @include clear;
          }

          @include expect {
            @media (min-width: $\2xl) {
              vertical-align: sub;
            }
          }
        }
      }

      @include it("\2xl\:align-super") {
        @include assert {
          @include output {
            @include \2xl\:align-super;
            @include clear;
          }

          @include expect {
            @media (min-width: $\2xl) {
              vertical-align: super;
            }
          }
        }
      }
    }

    @include describe("Custom") {
      @include it("align-(4px)") {
        @include assert {
          @include output {
            @include align-(4px);
            @include clear;
          }

          @include expect {
            vertical-align: 4px;
          }
        }
      }

      @include it("sm\:align-(4px)") {
        @include assert {
          @include output {
            @include sm\:align-(4px);
            @include clear;
          }

          @include expect {
            @media (min-width: $sm) {
              vertical-align: 4px;
            }
          }
        }
      }

      @include it("md\:align-(4px)") {
        @include assert {
          @include output {
            @include md\:align-(4px);
            @include clear;
          }

          @include expect {
            @media (min-width: $md) {
              vertical-align: 4px;
            }
          }
        }
      }

      @include it("lg\:align-(4px)") {
        @include assert {
          @include output {
            @include lg\:align-(4px);
            @include clear;
          }

          @include expect {
            @media (min-width: $lg) {
              vertical-align: 4px;
            }
          }
        }
      }

      @include it("xl\:align-(4px)") {
        @include assert {
          @include output {
            @include xl\:align-(4px);
            @include clear;
          }

          @include expect {
            @media (min-width: $xl) {
              vertical-align: 4px;
            }
          }
        }
      }

      @include it("\2xl\:align-(4px)") {
        @include assert {
          @include output {
            @include \2xl\:align-(4px);
            @include clear;
          }

          @include expect {
            @media (min-width: $\2xl) {
              vertical-align: 4px;
            }
          }
        }
      }
    }
  }
}
