// arbitrary utility same as @mixin bg-($v)
@use "../setting" as *;

$BackgroundsSize: (
  "bg-auto": auto,
  "bg-cover": cover,
  "bg-contain": contain,
);

@if $QuickReference {
  @each $key, $value in $BackgroundsSize {
    /*x
    @mixin #{$key} {
      background-size: #{$value};
    }
    x*/
  }
}

@if $UsingACustomValue {
  /*x
  @mixin bg-size-($v) {
    background-size: $v;
  }
  x*/
}
