@use "../../setting" as *;

$Margin: (
  "0": "$\\0",
  "px": "$\\px",
  "0\\.5": "$\\0\\.5",
  "1": "$\\1",
  "1\\.5": "$\\1\\.5",
  "2": "$\\2",
  "2\\.5": "$\\2\\.5",
  "3": "$\\3",
  "3\\.5": "$\\3\\.5",
  "4": "$\\4",
  "5": "$\\5",
  "6": "$\\6",
  "7": "$\\7",
  "8": "$\\8",
  "9": "$\\9",
  "10": "$\\10",
  "11": "$\\11",
  "12": "$\\12",
  "14": "$\\14",
  "16": "$\\16",
  "20": "$\\20",
  "24": "$\\24",
  "28": "$\\28",
  "32": "$\\32",
  "36": "$\\36",
  "40": "$\\40",
  "44": "$\\44",
  "48": "$\\48",
  "52": "$\\52",
  "56": "$\\56",
  "60": "$\\60",
  "64": "$\\64",
  "72": "$\\72",
  "80": "$\\80",
  "96": "$\\96",
  "auto": "auto"
);

@if $Basic {
  @each $key, $value in $Margin {
    /*x
    @mixin m-#{$key} {
      @include margin(#{$value});
    }

    @mixin mx-#{$key} {
      @include margin-left(#{$value});
      @include margin-right(#{$value});
    }

    @mixin my-#{$key} {
      @include margin-top(#{$value});
      @include margin-bottom(#{$value});
    }

    @mixin ms-#{$key} {
      @include margin-inline-start(#{$value});
    }

    @mixin me-#{$key} {
      @include margin-inline-end(#{$value});
    }

    @mixin mt-#{$key} {
      @include margin-top(#{$value});
    }

    @mixin mr-#{$key} {
      @include margin-right(#{$value});
    }

    @mixin mb-#{$key} {
      @include margin-bottom(#{$value});
    }

    @mixin ml-#{$key} {
      @include margin-left(#{$value});
    }
    x*/
    /*x
    @mixin -m-#{$key} {
      @include margin(-#{$value});
    }

    @mixin -mx-#{$key} {
      @include margin-left(-#{$value});
      @include margin-right(#{$value});
    }

    @mixin -my-#{$key} {
      @include margin-top(-#{$value});
      @include margin-bottom(#{$value});
    }

    @mixin -ms-#{$key} {
      @include margin-inline-start(-#{$value});
    }

    @mixin -me-#{$key} {
      @include margin-inline-end(-#{$value});
    }

    @mixin -mt-#{$key} {
      @include margin-top(-#{$value});
    }

    @mixin -mr-#{$key} {
      @include margin-right(-#{$value});
    }

    @mixin -mb-#{$key} {
      @include margin-bottom(-#{$value});
    }

    @mixin -ml-#{$key} {
      @include margin-left(-#{$value});
    }
    x*/
  }
}

@if $Rwd and ($sizeMode ==0 or $sizeMode ==1) {
  @each $rwd in $rwdBox {
    @each $key, $value in $Margin {
    /*x
    @mixin #{$rwd}\:m-#{$key} {
      @include margin(#{$value}, $#{$rwd});
    }

    @mixin #{$rwd}\:mx-#{$key} {
      @include #{$rwd} {
        @include margin-left(#{$value});
        @include margin-right(#{$value});
      }
    }

    @mixin #{$rwd}\:my-#{$key} {
      @include #{$rwd} {
        @include margin-top(#{$value});
        @include margin-bottom(#{$value});
      }
    }

    @mixin #{$rwd}\:ms-#{$key} {
      @include margin-inline-start(#{$value}, $#{$rwd});
    }

    @mixin #{$rwd}\:me-#{$key} {
      @include margin-inline-end(#{$value}, $#{$rwd});
    }

    @mixin #{$rwd}\:mt-#{$key} {
      @include margin-top(#{$value}, $#{$rwd});
    }

    @mixin #{$rwd}\:mr-#{$key} {
      @include margin-right(#{$value}, $#{$rwd});
    }

    @mixin #{$rwd}\:mb-#{$key} {
      @include margin-bottom(#{$value}, $#{$rwd});
    }

    @mixin #{$rwd}\:ml-#{$key} {
      @include margin-left(#{$value}, $#{$rwd});
    }
    x*/
    /*x
    @mixin #{$rwd}\:-m-#{$key} {
      @include margin(-#{$value}, $#{$rwd});
    }

    @mixin #{$rwd}\:-mx-#{$key} {
      @include #{$rwd} {
        @include margin-left(-#{$value});
        @include margin-right(-#{$value});
      }
    }

    @mixin #{$rwd}\:-my-#{$key} {
      @include #{$rwd} {
        @include margin-top(-#{$value});
        @include margin-bottom(-#{$value});
      }
    }

    @mixin #{$rwd}\:-ms-#{$key} {
      @include margin-inline-start(-#{$value}, $#{$rwd});
    }

    @mixin #{$rwd}\:-me-#{$key} {
      @include margin-inline-end(-#{$value}, $#{$rwd});
    }

    @mixin #{$rwd}\:-mt-#{$key} {
      @include margin-top(-#{$value}, $#{$rwd});
    }

    @mixin #{$rwd}\:-mr-#{$key} {
      @include margin-right(-#{$value}, $#{$rwd});
    }

    @mixin #{$rwd}\:-mb-#{$key} {
      @include margin-bottom(-#{$value}, $#{$rwd});
    }

    @mixin #{$rwd}\:-ml-#{$key} {
      @include margin-left(-#{$value}, $#{$rwd});
    }
    x*/
    }
  }
}

@if $Custom {
  /*x
  @mixin m-($v) {
    @include margin($v);
  }

  @mixin mx-($v) {
    @include margin-left($v);
    @include margin-right($v);
  }

  @mixin my-($v) {
    @include margin-top($v);
    @include margin-bottom($v);
  }

  @mixin ms-($v) {
    @include margin-inline-start($v);
  }

  @mixin me-($v) {
    @include margin-inline-end($v);
  }

  @mixin mt-($v) {
    @include margin-top($v);
  }

  @mixin mr-($v) {
    @include margin-right($v);
  }

  @mixin mb-($v) {
    @include margin-bottom($v);
  }

  @mixin ml-($v) {
    @include margin-left($v);
  }
  x*/
  /*x
  @mixin -m-($v) {
    @include margin(-$v);
  }

  @mixin -mx-($v) {
    @include margin-left(-$v);
    @include margin-right($v);
  }

  @mixin -my-($v) {
    @include margin-top(-$v);
    @include margin-bottom($v);
  }

  @mixin -ms-($v) {
    @include margin-inline-start(-$v);
  }

  @mixin -me-($v) {
    @include margin-inline-end(-$v);
  }

  @mixin -mt-($v) {
    @include margin-top(-$v);
  }

  @mixin -mr-($v) {
    @include margin-right(-$v);
  }

  @mixin -mb-($v) {
    @include margin-bottom(-$v);
  }

  @mixin -ml-($v) {
    @include margin-left(-$v);
  }
  x*/

  @each $rwd in $rwdBox {
    /*x
    @mixin #{$rwd}\:m-($v) {
      @include margin($v, $#{$rwd});
    }

    @mixin #{$rwd}\:mx-($v) {
      @include #{$rwd} {
        @include margin-left($v);
        @include margin-right($v);
      }
    }

    @mixin #{$rwd}\:my-($v) {
      @include #{$rwd} {
        @include margin-top($v);
        @include margin-bottom($v);
      }
    }

    @mixin #{$rwd}\:ms-($v) {
      @include margin-inline-start($v, $#{$rwd});
    }

    @mixin #{$rwd}\:me-($v) {
      @include margin-inline-end($v, $#{$rwd});
    }

    @mixin #{$rwd}\:mt-($v) {
      @include margin-top($v, $#{$rwd});
    }

    @mixin #{$rwd}\:mr-($v) {
      @include margin-right($v, $#{$rwd});
    }

    @mixin #{$rwd}\:mb-($v) {
      @include margin-bottom($v, $#{$rwd});
    }

    @mixin #{$rwd}\:ml-($v) {
      @include margin-left($v, $#{$rwd});
    }
    x*/
    /*x
    @mixin #{$rwd}\:-m-($v) {
      @include margin(-$v, $#{$rwd});
    }

    @mixin #{$rwd}\:-mx-($v) {
      @include #{$rwd} {
        @include margin-left(-$v);
        @include margin-right(-$v);
      }
    }

    @mixin #{$rwd}\:-my-($v) {
      @include #{$rwd} {
        @include margin-top(-$v);
        @include margin-bottom(-$v);
      }
    }

    @mixin #{$rwd}\:-ms-($v) {
      @include margin-inline-start(-$v, $#{$rwd});
    }

    @mixin #{$rwd}\:-me-($v) {
      @include margin-inline-end(-$v, $#{$rwd});
    }

    @mixin #{$rwd}\:-mt-($v) {
      @include margin-top(-$v, $#{$rwd});
    }

    @mixin #{$rwd}\:-mr-($v) {
      @include margin-right(-$v, $#{$rwd});
    }

    @mixin #{$rwd}\:-mb-($v) {
      @include margin-bottom(-$v, $#{$rwd});
    }

    @mixin #{$rwd}\:-ml-($v) {
      @include margin-left(-$v, $#{$rwd});
    }
    x*/
  }
}