@use "../../setting" as *;


$Resize: (
  "resize-none": none,
  "resize-y": vertical,
  "resize-x": horizontal,
  "resize": both,
);

@if $Basic {
  @each $key, $value in $Resize {
    /*x
    @mixin #{$key} {
      @include resize(#{$value});
    }
    x*/
  }
}

@if $Rwd {
  @each $rwd in $rwdBox {
    @each $key, $value in $Resize {
      /*x
      @mixin #{$rwd}\:#{$key} {
        @include resize(#{$value}, $#{$rwd});
      }
      x*/
    }
  }
}
