@use "../../setting" as *;


$BackgroundsAttachment: (
  "bg-fixed": fixed,
  "bg-local": local,
  "bg-scroll": scroll,
);

@if $Basic {
  @each $key, $value in $BackgroundsAttachment {
    /*x
    @mixin #{$key}{
      @include background-attachment(#{$value});
    }
    x*/
  }
}

@if $Rwd {
  @each $rwd in $rwdBox {
    @each $key, $value in $BackgroundsAttachment {
      /*x
      @mixin #{$rwd}\:#{$key}{
        @include background-attachment(#{$value}, $#{$rwd});
      }
      x*/
    }
  }
}