@use "true" as *;
@use "../escss" as *;

@include describe("13-Interactivity") {
  @include describe("10-Scroll Margin") {
    @include describe("Positive") {
      @include describe("Basic") {
        @include it("scroll-m-0") {
          @include assert {
            @include output {
              @include scroll-m-0;
            }

            @include expect {
              scroll-margin: 0px;
            }
          }
        }

        @include it("scroll-mx-0") {
          @include assert {
            @include output {
              @include scroll-mx-0;
            }

            @include expect {
              scroll-margin-inline: 0px;
            }
          }
        }

        @include it("scroll-my-0") {
          @include assert {
            @include output {
              @include scroll-my-0;
            }

            @include expect {
              scroll-margin-block: 0px;
            }
          }
        }

        @include it("scroll-ms-0") {
          @include assert {
            @include output {
              @include scroll-ms-0;
            }

            @include expect {
              scroll-margin-inline-start: 0px;
            }
          }
        }

        @include it("scroll-me-0") {
          @include assert {
            @include output {
              @include scroll-me-0;
            }

            @include expect {
              scroll-margin-inline-end: 0px;
            }
          }
        }

        @include it("scroll-mt-0") {
          @include assert {
            @include output {
              @include scroll-mt-0;
            }

            @include expect {
              scroll-margin-top: 0px;
            }
          }
        }

        @include it("scroll-mr-0") {
          @include assert {
            @include output {
              @include scroll-mr-0;
            }

            @include expect {
              scroll-margin-right: 0px;
            }
          }
        }

        @include it("scroll-mb-0") {
          @include assert {
            @include output {
              @include scroll-mb-0;
            }

            @include expect {
              scroll-margin-bottom: 0px;
            }
          }
        }

        @include it("scroll-ml-0") {
          @include assert {
            @include output {
              @include scroll-ml-0;
            }

            @include expect {
              scroll-margin-left: 0px;
            }
          }
        }
      }

      @include describe("Custom") {
        @include it("scroll-m-(24rem)") {
          @include assert {
            @include output {
              @include scroll-m-(24rem);
            }

            @include expect {
              scroll-margin: 24rem;
            }
          }
        }

        @include it("scroll-mx-(24rem)") {
          @include assert {
            @include output {
              @include scroll-mx-(24rem);
            }

            @include expect {
              scroll-margin-inline: 24rem;
            }
          }
        }

        @include it("scroll-my-(24rem)") {
          @include assert {
            @include output {
              @include scroll-my-(24rem);
            }

            @include expect {
              scroll-margin-block: 24rem;
            }
          }
        }

        @include it("scroll-ms-(24rem)") {
          @include assert {
            @include output {
              @include scroll-ms-(24rem);
            }

            @include expect {
              scroll-margin-inline-start: 24rem;
            }
          }
        }

        @include it("scroll-me-(24rem)") {
          @include assert {
            @include output {
              @include scroll-me-(24rem);
            }

            @include expect {
              scroll-margin-inline-end: 24rem;
            }
          }
        }

        @include it("scroll-mt-(24rem)") {
          @include assert {
            @include output {
              @include scroll-mt-(24rem);
            }

            @include expect {
              scroll-margin-top: 24rem;
            }
          }
        }

        @include it("scroll-mr-(24rem)") {
          @include assert {
            @include output {
              @include scroll-mr-(24rem);
            }

            @include expect {
              scroll-margin-right: 24rem;
            }
          }
        }

        @include it("scroll-mb-(24rem)") {
          @include assert {
            @include output {
              @include scroll-mb-(24rem);
            }

            @include expect {
              scroll-margin-bottom: 24rem;
            }
          }
        }

        @include it("scroll-ml-(24rem)") {
          @include assert {
            @include output {
              @include scroll-ml-(24rem);
            }

            @include expect {
              scroll-margin-left: 24rem;
            }
          }
        }
      }
    }

    @include describe("Negative") {
      @include describe("Basic") {
        @include it("-scroll-m-0") {
          @include assert {
            @include output {
              @include \-scroll-m-0;
            }

            @include expect {
              scroll-margin: -0px;
            }
          }
        }

        @include it("-scroll-mx-0") {
          @include assert {
            @include output {
              @include \-scroll-mx-0;
            }

            @include expect {
              scroll-margin-inline: -0px;
            }
          }
        }

        @include it("-scroll-my-0") {
          @include assert {
            @include output {
              @include \-scroll-my-0;
            }

            @include expect {
              scroll-margin-block: -0px;
            }
          }
        }

        @include it("-scroll-ms-0") {
          @include assert {
            @include output {
              @include \-scroll-ms-0;
            }

            @include expect {
              scroll-margin-inline-start: -0px;
            }
          }
        }

        @include it("-scroll-me-0") {
          @include assert {
            @include output {
              @include \-scroll-me-0;
            }

            @include expect {
              scroll-margin-inline-end: -0px;
            }
          }
        }

        @include it("-scroll-mt-0") {
          @include assert {
            @include output {
              @include \-scroll-mt-0;
            }

            @include expect {
              scroll-margin-top: -0px;
            }
          }
        }

        @include it("-scroll-mr-0") {
          @include assert {
            @include output {
              @include \-scroll-mr-0;
            }

            @include expect {
              scroll-margin-right: -0px;
            }
          }
        }

        @include it("-scroll-mb-0") {
          @include assert {
            @include output {
              @include \-scroll-mb-0;
            }

            @include expect {
              scroll-margin-bottom: -0px;
            }
          }
        }

        @include it("-scroll-ml-0") {
          @include assert {
            @include output {
              @include \-scroll-ml-0;
            }

            @include expect {
              scroll-margin-left: -0px;
            }
          }
        }
      }

      @include describe("Custom") {
        @include it("-scroll-m-(24rem)") {
          @include assert {
            @include output {
              @include \-scroll-m-(24rem);
            }

            @include expect {
              scroll-margin: -24rem;
            }
          }
        }

        @include it("-scroll-mx-(24rem)") {
          @include assert {
            @include output {
              @include \-scroll-mx-(24rem);
            }

            @include expect {
              scroll-margin-inline: -24rem;
            }
          }
        }

        @include it("-scroll-my-(24rem)") {
          @include assert {
            @include output {
              @include \-scroll-my-(24rem);
            }

            @include expect {
              scroll-margin-block: -24rem;
            }
          }
        }

        @include it("-scroll-ms-(24rem)") {
          @include assert {
            @include output {
              @include \-scroll-ms-(24rem);
            }

            @include expect {
              scroll-margin-inline-start: -24rem;
            }
          }
        }

        @include it("-scroll-me-(24rem)") {
          @include assert {
            @include output {
              @include \-scroll-me-(24rem);
            }

            @include expect {
              scroll-margin-inline-end: -24rem;
            }
          }
        }

        @include it("-scroll-mt-(24rem)") {
          @include assert {
            @include output {
              @include \-scroll-mt-(24rem);
            }

            @include expect {
              scroll-margin-top: -24rem;
            }
          }
        }

        @include it("-scroll-mr-(24rem)") {
          @include assert {
            @include output {
              @include \-scroll-mr-(24rem);
            }

            @include expect {
              scroll-margin-right: -24rem;
            }
          }
        }

        @include it("-scroll-mb-(24rem)") {
          @include assert {
            @include output {
              @include \-scroll-mb-(24rem);
            }

            @include expect {
              scroll-margin-bottom: -24rem;
            }
          }
        }

        @include it("-scroll-ml-(24rem)") {
          @include assert {
            @include output {
              @include \-scroll-ml-(24rem);
            }

            @include expect {
              scroll-margin-left: -24rem;
            }
          }
        }
      }
    }
  }
}
