@use "true" as *;
@use "../escss" as *;

@include describe("13-Interactivity") {
  @include describe("11-Scroll Padding") {
    @include describe("Basic") {
      @include it("scroll-p-0") {
        @include assert {
          @include output {
            @include scroll-p-0;
          }

          @include expect {
            scroll-padding: 0px;
          }
        }
      }

      @include it("scroll-px-0") {
        @include assert {
          @include output {
            @include scroll-px-0;
          }

          @include expect {
            scroll-padding-inline: 0px;
          }
        }
      }

      @include it("scroll-py-0") {
        @include assert {
          @include output {
            @include scroll-py-0;
          }

          @include expect {
            scroll-padding-block: 0px;
          }
        }
      }

      @include it("scroll-ps-0") {
        @include assert {
          @include output {
            @include scroll-ps-0;
          }

          @include expect {
            scroll-padding-inline-start: 0px;
          }
        }
      }

      @include it("scroll-pe-0") {
        @include assert {
          @include output {
            @include scroll-pe-0;
          }

          @include expect {
            scroll-padding-inline-end: 0px;
          }
        }
      }

      @include it("scroll-pt-0") {
        @include assert {
          @include output {
            @include scroll-pt-0;
          }

          @include expect {
            scroll-padding-top: 0px;
          }
        }
      }

      @include it("scroll-pr-0") {
        @include assert {
          @include output {
            @include scroll-pr-0;
          }

          @include expect {
            scroll-padding-right: 0px;
          }
        }
      }

      @include it("scroll-pb-0") {
        @include assert {
          @include output {
            @include scroll-pb-0;
          }

          @include expect {
            scroll-padding-bottom: 0px;
          }
        }
      }

      @include it("scroll-pl-0") {
        @include assert {
          @include output {
            @include scroll-pl-0;
          }

          @include expect {
            scroll-padding-left: 0px;
          }
        }
      }
    }

    @include describe("Custom") {
      @include it("scroll-p-(24rem)") {
        @include assert {
          @include output {
            @include scroll-p-(24rem);
          }

          @include expect {
            scroll-padding: 24rem;
          }
        }
      }

      @include it("scroll-px-(24rem)") {
        @include assert {
          @include output {
            @include scroll-px-(24rem);
          }

          @include expect {
            scroll-padding-inline: 24rem;
          }
        }
      }

      @include it("scroll-py-(24rem)") {
        @include assert {
          @include output {
            @include scroll-py-(24rem);
          }

          @include expect {
            scroll-padding-block: 24rem;
          }
        }
      }

      @include it("scroll-ps-(24rem)") {
        @include assert {
          @include output {
            @include scroll-ps-(24rem);
          }

          @include expect {
            scroll-padding-inline-start: 24rem;
          }
        }
      }

      @include it("scroll-pe-(24rem)") {
        @include assert {
          @include output {
            @include scroll-pe-(24rem);
          }

          @include expect {
            scroll-padding-inline-end: 24rem;
          }
        }
      }

      @include it("scroll-pt-(24rem)") {
        @include assert {
          @include output {
            @include scroll-pt-(24rem);
          }

          @include expect {
            scroll-padding-top: 24rem;
          }
        }
      }

      @include it("scroll-pr-(24rem)") {
        @include assert {
          @include output {
            @include scroll-pr-(24rem);
          }

          @include expect {
            scroll-padding-right: 24rem;
          }
        }
      }

      @include it("scroll-pb-(24rem)") {
        @include assert {
          @include output {
            @include scroll-pb-(24rem);
          }

          @include expect {
            scroll-padding-bottom: 24rem;
          }
        }
      }

      @include it("scroll-pl-(24rem)") {
        @include assert {
          @include output {
            @include scroll-pl-(24rem);
          }

          @include expect {
            scroll-padding-left: 24rem;
          }
        }
      }
    }
  }
}
