@use "true" as *;
@use "../awaken" as *;

@include describe("13-Interactivity") {
  @include describe("13-Touch Action") {
    @include describe("Basic") {
      @include it("touch-auto") {
        @include assert {
          @include output {
            @include touch-auto;
          }

          @include expect {
            touch-action: auto;
          }
        }
      }

      @include it("touch-none") {
        @include assert {
          @include output {
            @include touch-none;
          }

          @include expect {
            touch-action: none;
          }
        }
      }

      @include it("touch-pan-x") {
        @include assert {
          @include output {
            @include touch-pan-x;
          }

          @include expect {
            touch-action: pan-x;
          }
        }
      }

      @include it("touch-pan-left") {
        @include assert {
          @include output {
            @include touch-pan-left;
          }

          @include expect {
            touch-action: pan-left;
          }
        }
      }

      @include it("touch-pan-right") {
        @include assert {
          @include output {
            @include touch-pan-right;
          }

          @include expect {
            touch-action: pan-right;
          }
        }
      }

      @include it("touch-pan-y") {
        @include assert {
          @include output {
            @include touch-pan-y;
          }

          @include expect {
            touch-action: pan-y;
          }
        }
      }

      @include it("touch-pan-up") {
        @include assert {
          @include output {
            @include touch-pan-up;
          }

          @include expect {
            touch-action: pan-up;
          }
        }
      }

      @include it("touch-pan-down") {
        @include assert {
          @include output {
            @include touch-pan-down;
          }

          @include expect {
            touch-action: pan-down;
          }
        }
      }

      @include it("touch-pinch-zoom") {
        @include assert {
          @include output {
            @include touch-pinch-zoom;
          }

          @include expect {
            touch-action: pinch-zoom;
          }
        }
      }

      @include it("touch-manipulation") {
        @include assert {
          @include output {
            @include touch-manipulation;
          }

          @include expect {
            touch-action: manipulation;
          }
        }
      }
    }
  }
}
