@use "true" as *;
@use "../escss" as *;

@include describe("13-Interactivity") {
  @include describe("13-Scroll Snap Stop") {
    @include describe("Basic") {
      @include it("snap-normal") {
        @include assert {
          @include output {
            @include snap-normal;
          }

          @include expect {
            scroll-snap-stop: normal;
          }
        }
      }

      @include it("snap-always") {
        @include assert {
          @include output {
            @include snap-always;
          }

          @include expect {
            scroll-snap-stop: always;
          }
        }
      }
    }
  }
}
