@use "true" as *;
@use "../style" as *;

@include describe("13-Interactivity") {
  @include describe("15-Touch Action") {
    @include describe("Basic") {
      @include it("touch-auto") {
        @include assert {
          @include output {
            @include touch-auto;
          }

          @include expect {
            touch-action: auto;
          }
        }
      }

      @include it("touch-none") {
        @include assert {
          @include output {
            @include touch-none;
          }

          @include expect {
            touch-action: none;
          }
        }
      }

      @include it("touch-pan-x") {
        @include assert {
          @include output {
            @include touch-pan-x;
          }

          @include expect {
            --tw-pan-x: pan-x;
            touch-action: var(--tw-pan-x,) var(--tw-pan-y,)
              var(--tw-pinch-zoom,);
          }
        }
      }

      @include it("touch-pan-left") {
        @include assert {
          @include output {
            @include touch-pan-left;
          }

          @include expect {
            --tw-pan-x: pan-left;
            touch-action: var(--tw-pan-x,) var(--tw-pan-y,)
              var(--tw-pinch-zoom,);
          }
        }
      }

      @include it("touch-pan-right") {
        @include assert {
          @include output {
            @include touch-pan-right;
          }

          @include expect {
            --tw-pan-x: pan-right;
            touch-action: var(--tw-pan-x,) var(--tw-pan-y,)
              var(--tw-pinch-zoom,);
          }
        }
      }

      @include it("touch-pan-y") {
        @include assert {
          @include output {
            @include touch-pan-y;
          }

          @include expect {
            --tw-pan-y: pan-y;
            touch-action: var(--tw-pan-x,) var(--tw-pan-y,)
              var(--tw-pinch-zoom,);
          }
        }
      }

      @include it("touch-pan-up") {
        @include assert {
          @include output {
            @include touch-pan-up;
          }

          @include expect {
            --tw-pan-y: pan-up;
            touch-action: var(--tw-pan-x,) var(--tw-pan-y,)
              var(--tw-pinch-zoom,);
          }
        }
      }

      @include it("touch-pan-down") {
        @include assert {
          @include output {
            @include touch-pan-down;
          }

          @include expect {
            --tw-pan-y: pan-down;
            touch-action: var(--tw-pan-x,) var(--tw-pan-y,)
              var(--tw-pinch-zoom,);
          }
        }
      }

      @include it("touch-pinch-zoom") {
        @include assert {
          @include output {
            @include touch-pinch-zoom;
          }

          @include expect {
            --tw-pinch-zoom: pinch-zoom;
            touch-action: var(--tw-pan-x,) var(--tw-pan-y,)
              var(--tw-pinch-zoom,);
          }
        }
      }

      @include it("touch-manipulation") {
        @include assert {
          @include output {
            @include touch-manipulation;
          }

          @include expect {
            touch-action: manipulation;
          }
        }
      }
    }
  }
}
