@use "true" as *;
@use "../escss" as *;

@include describe("13-Interactivity") {
  @include describe("16-User Select") {
    @include describe("Basic") {
      @include it("select-none") {
        @include assert {
          @include output {
            @include select-none;
          }

          @include expect {
            user-select: none;
          }
        }
      }

      @include it("select-text") {
        @include assert {
          @include output {
            @include select-text;
          }

          @include expect {
            user-select: text;
          }
        }
      }

      @include it("select-all") {
        @include assert {
          @include output {
            @include select-all;
          }

          @include expect {
            user-select: all;
          }
        }
      }

      @include it("select-auto") {
        @include assert {
          @include output {
            @include select-auto;
          }

          @include expect {
            user-select: auto;
          }
        }
      }
    }
  }
}
