@use "true" as *;
@use "../escss" as *;

@include describe("13-Interactivity") {
  @include describe("7-Pointer Events") {
    @include describe("Basic") {
      @include it("pointer-events-none") {
        @include assert {
          @include output {
            @include pointer-events-none;
          }

          @include expect {
            pointer-events: none;
          }
        }
      }

      @include it("pointer-events-auto") {
        @include assert {
          @include output {
            @include pointer-events-auto;
          }

          @include expect {
            pointer-events: auto;
          }
        }
      }
    }
  }
}
