@use "true" as *;
@use "../escss" as *;

@include describe("13-Interactivity") {
  @include describe("8-Resize") {
    @include describe("Basic") {
      @include it("resize-none") {
        @include assert {
          @include output {
            @include resize-none;
          }

          @include expect {
            resize: none;
          }
        }
      }

      @include it("resize-y") {
        @include assert {
          @include output {
            @include resize-y;
          }

          @include expect {
            resize: vertical;
          }
        }
      }

      @include it("resize-x") {
        @include assert {
          @include output {
            @include resize-x;
          }

          @include expect {
            resize: horizontal;
          }
        }
      }

      @include it("resize") {
        @include assert {
          @include output {
            @include resize;
          }

          @include expect {
            resize: both;
          }
        }
      }
    }
  }
}
