@use "true" as *;
@use "../escss" as *;

@include describe("13-Interactivity") {
  @include describe("9-Scroll Behavior") {
    @include describe("Basic") {
      @include it("scroll-auto") {
        @include assert {
          @include output {
            @include scroll-auto;
          }

          @include expect {
            scroll-behavior: auto;
          }
        }
      }

      @include it("scroll-smooth") {
        @include assert {
          @include output {
            @include scroll-smooth;
          }

          @include expect {
            scroll-behavior: smooth;
          }
        }
      }
    }
  }
}
