$Resize: (
  'resize-none': none,
  'resize-y': vertical,
  'resize-x': horizontal,
  'resize': both,
);

@if $isBasic {
  @each $key, $value in $Resize {
    // atomic handle resize
    @if $key != 'resize' {
      /*x
      @mixin #{$key} {
        @include resize(#{$value});
      }
      x*/
    }
  }
}

@if $isRwd and (not $isAwaken) {
  @each $rwdToken, $rwd in $rwdBox {
    @each $key, $value in $Resize {
      /*x
      @mixin #{$rwdToken}\:#{$key} {
        @include resize(#{$value}, #{$rwd});
      }
      x*/
    }
  }
}
