$data: (
  'snap-none': none,
  'snap-x': x '$tw-scroll-snap-strictness',
  'snap-y': y '$tw-scroll-snap-strictness',
  'snap-both': both '$tw-scroll-snap-strictness',
  'snap-mandatory': mandatory,
  'snap-proximity': proximity,
);

@if $isBasic {
  @each $key, $value in $data {
    @if list.index('snap-none', $key) {
      /*x
      @mixin #{$key} {
        @include scroll-snap-type(#{$value});
      }
      x*/
    } @else if list.index('snap-x' 'snap-y' 'snap-both', $key) {
      /*x
      @mixin #{$key} {
        $tw-mismatch--snap: true !global;
        @include scroll-snap-type(#{$value});
      }
      x*/
    } @else if list.index('snap-mandatory' 'snap-proximity', $key) {
      /*x
      @mixin #{$key} {
        @if $tw-mismatch--snap {
          @error ("「 snap-mandatory/proximity 」should come before「 snap-x/y/both 」to match Tailwind's order.");
        }

        $tw-scroll-snap-strictness: #{$value} !global;
      }
      x*/
    }
  }
}
