$data: (
  'will-change-auto': auto,
  'will-change-scroll': scroll-position,
  'will-change-contents': contents,
  'will-change-transform': transform,
);

@if $isBasic {
  @each $key, $value in $data {
    /*x
    @mixin #{$key} {
      @include will-change(#{$value});
    }
    x*/
  }
}

@if $isArbitrary {
  /*x
  @mixin will-change-($v, $v2: null) {
    @include will-change($v, $v2);
  }
  x*/
}
