@use "../../../settings/structures" as *;

@if $RingColor {
  %ring-inherit {
    --tw-ring-color: inherit;
  }

  %ring-current {
    --tw-ring-color: currentColor;
  }

  %ring-transparent {
    --tw-ring-color: transparent;
  }

  %ring-black {
    --tw-ring-color: #000000;
  }

  %ring-white {
    --tw-ring-color: #ffffff;
  }

  %ring-slate-50 {
    --tw-ring-color: #f8fafc;
  }

  %ring-slate-100 {
    --tw-ring-color: #f1f5f9;
  }

  %ring-slate-200 {
    --tw-ring-color: #e2e8f0;
  }

  %ring-slate-300 {
    --tw-ring-color: #cbd5e1;
  }

  %ring-slate-400 {
    --tw-ring-color: #94a3b8;
  }

  %ring-slate-500 {
    --tw-ring-color: #64748b;
  }

  %ring-slate-600 {
    --tw-ring-color: #475569;
  }

  %ring-slate-700 {
    --tw-ring-color: #334155;
  }

  %ring-slate-800 {
    --tw-ring-color: #1e293b;
  }

  %ring-slate-900 {
    --tw-ring-color: #0f172a;
  }

  %ring-slate-950 {
    --tw-ring-color: #020617;
  }

  %ring-gray-50 {
    --tw-ring-color: #f9fafb;
  }

  %ring-gray-100 {
    --tw-ring-color: #f3f4f6;
  }

  %ring-gray-200 {
    --tw-ring-color: #e5e7eb;
  }

  %ring-gray-300 {
    --tw-ring-color: #d1d5db;
  }

  %ring-gray-400 {
    --tw-ring-color: #9ca3af;
  }

  %ring-gray-500 {
    --tw-ring-color: #6b7280;
  }

  %ring-gray-600 {
    --tw-ring-color: #4b5563;
  }

  %ring-gray-700 {
    --tw-ring-color: #374151;
  }

  %ring-gray-800 {
    --tw-ring-color: #1f2937;
  }

  %ring-gray-900 {
    --tw-ring-color: #111827;
  }

  %ring-gray-950 {
    --tw-ring-color: #030712;
  }

  %ring-zinc-50 {
    --tw-ring-color: #fafafa;
  }

  %ring-zinc-100 {
    --tw-ring-color: #f4f4f5;
  }

  %ring-zinc-200 {
    --tw-ring-color: #e4e4e7;
  }

  %ring-zinc-300 {
    --tw-ring-color: #d4d4d8;
  }

  %ring-zinc-400 {
    --tw-ring-color: #a1a1aa;
  }

  %ring-zinc-500 {
    --tw-ring-color: #71717a;
  }

  %ring-zinc-600 {
    --tw-ring-color: #52525b;
  }

  %ring-zinc-700 {
    --tw-ring-color: #3f3f46;
  }

  %ring-zinc-800 {
    --tw-ring-color: #27272a;
  }

  %ring-zinc-900 {
    --tw-ring-color: #18181b;
  }

  %ring-zinc-950 {
    --tw-ring-color: #09090b;
  }

  %ring-neutral-50 {
    --tw-ring-color: #fafafa;
  }

  %ring-neutral-100 {
    --tw-ring-color: #f5f5f5;
  }

  %ring-neutral-200 {
    --tw-ring-color: #e5e5e5;
  }

  %ring-neutral-300 {
    --tw-ring-color: #d4d4d4;
  }

  %ring-neutral-400 {
    --tw-ring-color: #a3a3a3;
  }

  %ring-neutral-500 {
    --tw-ring-color: #737373;
  }

  %ring-neutral-600 {
    --tw-ring-color: #525252;
  }

  %ring-neutral-700 {
    --tw-ring-color: #404040;
  }

  %ring-neutral-800 {
    --tw-ring-color: #262626;
  }

  %ring-neutral-900 {
    --tw-ring-color: #171717;
  }

  %ring-neutral-950 {
    --tw-ring-color: #0a0a0a;
  }

  %ring-stone-50 {
    --tw-ring-color: #fafaf9;
  }

  %ring-stone-100 {
    --tw-ring-color: #f5f5f4;
  }

  %ring-stone-200 {
    --tw-ring-color: #e7e5e4;
  }

  %ring-stone-300 {
    --tw-ring-color: #d6d3d1;
  }

  %ring-stone-400 {
    --tw-ring-color: #a8a29e;
  }

  %ring-stone-500 {
    --tw-ring-color: #78716c;
  }

  %ring-stone-600 {
    --tw-ring-color: #57534e;
  }

  %ring-stone-700 {
    --tw-ring-color: #44403c;
  }

  %ring-stone-800 {
    --tw-ring-color: #292524;
  }

  %ring-stone-900 {
    --tw-ring-color: #1c1917;
  }

  %ring-stone-950 {
    --tw-ring-color: #0c0a09;
  }

  %ring-red-50 {
    --tw-ring-color: #fef2f2;
  }

  %ring-red-100 {
    --tw-ring-color: #fee2e2;
  }

  %ring-red-200 {
    --tw-ring-color: #fecaca;
  }

  %ring-red-300 {
    --tw-ring-color: #fca5a5;
  }

  %ring-red-400 {
    --tw-ring-color: #f87171;
  }

  %ring-red-500 {
    --tw-ring-color: #ef4444;
  }

  %ring-red-600 {
    --tw-ring-color: #dc2626;
  }

  %ring-red-700 {
    --tw-ring-color: #b91c1c;
  }

  %ring-red-800 {
    --tw-ring-color: #991b1b;
  }

  %ring-red-900 {
    --tw-ring-color: #7f1d1d;
  }

  %ring-red-950 {
    --tw-ring-color: #450a0a;
  }

  %ring-orange-50 {
    --tw-ring-color: #fff7ed;
  }

  %ring-orange-100 {
    --tw-ring-color: #ffedd5;
  }

  %ring-orange-200 {
    --tw-ring-color: #fed7aa;
  }

  %ring-orange-300 {
    --tw-ring-color: #fdba74;
  }

  %ring-orange-400 {
    --tw-ring-color: #fb923c;
  }

  %ring-orange-500 {
    --tw-ring-color: #f97316;
  }

  %ring-orange-600 {
    --tw-ring-color: #ea580c;
  }

  %ring-orange-700 {
    --tw-ring-color: #c2410c;
  }

  %ring-orange-800 {
    --tw-ring-color: #9a3412;
  }

  %ring-orange-900 {
    --tw-ring-color: #7c2d12;
  }

  %ring-orange-950 {
    --tw-ring-color: #431407;
  }

  %ring-amber-50 {
    --tw-ring-color: #fffbeb;
  }

  %ring-amber-100 {
    --tw-ring-color: #fef3c7;
  }

  %ring-amber-200 {
    --tw-ring-color: #fde68a;
  }

  %ring-amber-300 {
    --tw-ring-color: #fcd34d;
  }

  %ring-amber-400 {
    --tw-ring-color: #fbbf24;
  }

  %ring-amber-500 {
    --tw-ring-color: #f59e0b;
  }

  %ring-amber-600 {
    --tw-ring-color: #d97706;
  }

  %ring-amber-700 {
    --tw-ring-color: #b45309;
  }

  %ring-amber-800 {
    --tw-ring-color: #92400e;
  }

  %ring-amber-900 {
    --tw-ring-color: #78350f;
  }

  %ring-amber-950 {
    --tw-ring-color: #451a03;
  }

  %ring-yellow-50 {
    --tw-ring-color: #fefce8;
  }

  %ring-yellow-100 {
    --tw-ring-color: #fef9c3;
  }

  %ring-yellow-200 {
    --tw-ring-color: #fef08a;
  }

  %ring-yellow-300 {
    --tw-ring-color: #fde047;
  }

  %ring-yellow-400 {
    --tw-ring-color: #facc15;
  }

  %ring-yellow-500 {
    --tw-ring-color: #eab308;
  }

  %ring-yellow-600 {
    --tw-ring-color: #ca8a04;
  }

  %ring-yellow-700 {
    --tw-ring-color: #a16207;
  }

  %ring-yellow-800 {
    --tw-ring-color: #854d0e;
  }

  %ring-yellow-900 {
    --tw-ring-color: #713f12;
  }

  %ring-yellow-950 {
    --tw-ring-color: #422006;
  }

  %ring-lime-50 {
    --tw-ring-color: #f7fee7;
  }

  %ring-lime-100 {
    --tw-ring-color: #ecfccb;
  }

  %ring-lime-200 {
    --tw-ring-color: #d9f99d;
  }

  %ring-lime-300 {
    --tw-ring-color: #bef264;
  }

  %ring-lime-400 {
    --tw-ring-color: #a3e635;
  }

  %ring-lime-500 {
    --tw-ring-color: #84cc16;
  }

  %ring-lime-600 {
    --tw-ring-color: #65a30d;
  }

  %ring-lime-700 {
    --tw-ring-color: #4d7c0f;
  }

  %ring-lime-800 {
    --tw-ring-color: #3f6212;
  }

  %ring-lime-900 {
    --tw-ring-color: #365314;
  }

  %ring-lime-950 {
    --tw-ring-color: #1a2e05;
  }

  %ring-green-50 {
    --tw-ring-color: #f0fdf4;
  }

  %ring-green-100 {
    --tw-ring-color: #dcfce7;
  }

  %ring-green-200 {
    --tw-ring-color: #bbf7d0;
  }

  %ring-green-300 {
    --tw-ring-color: #86efac;
  }

  %ring-green-400 {
    --tw-ring-color: #4ade80;
  }

  %ring-green-500 {
    --tw-ring-color: #22c55e;
  }

  %ring-green-600 {
    --tw-ring-color: #16a34a;
  }

  %ring-green-700 {
    --tw-ring-color: #15803d;
  }

  %ring-green-800 {
    --tw-ring-color: #166534;
  }

  %ring-green-900 {
    --tw-ring-color: #14532d;
  }

  %ring-green-950 {
    --tw-ring-color: #052e16;
  }

  %ring-emerald-50 {
    --tw-ring-color: #ecfdf5;
  }

  %ring-emerald-100 {
    --tw-ring-color: #d1fae5;
  }

  %ring-emerald-200 {
    --tw-ring-color: #a7f3d0;
  }

  %ring-emerald-300 {
    --tw-ring-color: #6ee7b7;
  }

  %ring-emerald-400 {
    --tw-ring-color: #34d399;
  }

  %ring-emerald-500 {
    --tw-ring-color: #10b981;
  }

  %ring-emerald-600 {
    --tw-ring-color: #059669;
  }

  %ring-emerald-700 {
    --tw-ring-color: #047857;
  }

  %ring-emerald-800 {
    --tw-ring-color: #065f46;
  }

  %ring-emerald-900 {
    --tw-ring-color: #064e3b;
  }

  %ring-emerald-950 {
    --tw-ring-color: #022c22;
  }

  %ring-teal-50 {
    --tw-ring-color: #f0fdfa;
  }

  %ring-teal-100 {
    --tw-ring-color: #ccfbf1;
  }

  %ring-teal-200 {
    --tw-ring-color: #99f6e4;
  }

  %ring-teal-300 {
    --tw-ring-color: #5eead4;
  }

  %ring-teal-400 {
    --tw-ring-color: #2dd4bf;
  }

  %ring-teal-500 {
    --tw-ring-color: #14b8a6;
  }

  %ring-teal-600 {
    --tw-ring-color: #0d9488;
  }

  %ring-teal-700 {
    --tw-ring-color: #0f766e;
  }

  %ring-teal-800 {
    --tw-ring-color: #115e59;
  }

  %ring-teal-900 {
    --tw-ring-color: #134e4a;
  }

  %ring-teal-950 {
    --tw-ring-color: #042f2e;
  }

  %ring-cyan-50 {
    --tw-ring-color: #ecfeff;
  }

  %ring-cyan-100 {
    --tw-ring-color: #cffafe;
  }

  %ring-cyan-200 {
    --tw-ring-color: #a5f3fc;
  }

  %ring-cyan-300 {
    --tw-ring-color: #67e8f9;
  }

  %ring-cyan-400 {
    --tw-ring-color: #22d3ee;
  }

  %ring-cyan-500 {
    --tw-ring-color: #06b6d4;
  }

  %ring-cyan-600 {
    --tw-ring-color: #0891b2;
  }

  %ring-cyan-700 {
    --tw-ring-color: #0e7490;
  }

  %ring-cyan-800 {
    --tw-ring-color: #155e75;
  }

  %ring-cyan-900 {
    --tw-ring-color: #164e63;
  }

  %ring-cyan-950 {
    --tw-ring-color: #083344;
  }

  %ring-sky-50 {
    --tw-ring-color: #f0f9ff;
  }

  %ring-sky-100 {
    --tw-ring-color: #e0f2fe;
  }

  %ring-sky-200 {
    --tw-ring-color: #bae6fd;
  }

  %ring-sky-300 {
    --tw-ring-color: #7dd3fc;
  }

  %ring-sky-400 {
    --tw-ring-color: #38bdf8;
  }

  %ring-sky-500 {
    --tw-ring-color: #0ea5e9;
  }

  %ring-sky-600 {
    --tw-ring-color: #0284c7;
  }

  %ring-sky-700 {
    --tw-ring-color: #0369a1;
  }

  %ring-sky-800 {
    --tw-ring-color: #075985;
  }

  %ring-sky-900 {
    --tw-ring-color: #0c4a6e;
  }

  %ring-sky-950 {
    --tw-ring-color: #082f49;
  }

  %ring-blue-50 {
    --tw-ring-color: #eff6ff;
  }

  %ring-blue-100 {
    --tw-ring-color: #dbeafe;
  }

  %ring-blue-200 {
    --tw-ring-color: #bfdbfe;
  }

  %ring-blue-300 {
    --tw-ring-color: #93c5fd;
  }

  %ring-blue-400 {
    --tw-ring-color: #60a5fa;
  }

  %ring-blue-500 {
    --tw-ring-color: #3b82f6;
  }

  %ring-blue-600 {
    --tw-ring-color: #2563eb;
  }

  %ring-blue-700 {
    --tw-ring-color: #1d4ed8;
  }

  %ring-blue-800 {
    --tw-ring-color: #1e40af;
  }

  %ring-blue-900 {
    --tw-ring-color: #1e3a8a;
  }

  %ring-blue-950 {
    --tw-ring-color: #172554;
  }

  %ring-indigo-50 {
    --tw-ring-color: #eef2ff;
  }

  %ring-indigo-100 {
    --tw-ring-color: #e0e7ff;
  }

  %ring-indigo-200 {
    --tw-ring-color: #c7d2fe;
  }

  %ring-indigo-300 {
    --tw-ring-color: #a5b4fc;
  }

  %ring-indigo-400 {
    --tw-ring-color: #818cf8;
  }

  %ring-indigo-500 {
    --tw-ring-color: #6366f1;
  }

  %ring-indigo-600 {
    --tw-ring-color: #4f46e5;
  }

  %ring-indigo-700 {
    --tw-ring-color: #4338ca;
  }

  %ring-indigo-800 {
    --tw-ring-color: #3730a3;
  }

  %ring-indigo-900 {
    --tw-ring-color: #312e7f;
  }

  %ring-indigo-950 {
    --tw-ring-color: #1e1b4b;
  }

  %ring-violet-50 {
    --tw-ring-color: #f5f3ff;
  }

  %ring-violet-100 {
    --tw-ring-color: #ede9fe;
  }

  %ring-violet-200 {
    --tw-ring-color: #ddd6fe;
  }

  %ring-violet-300 {
    --tw-ring-color: #c4b5fd;
  }

  %ring-violet-400 {
    --tw-ring-color: #a78bfa;
  }

  %ring-violet-500 {
    --tw-ring-color: #8b5cf6;
  }

  %ring-violet-600 {
    --tw-ring-color: #7c3aed;
  }

  %ring-violet-700 {
    --tw-ring-color: #6d28d9;
  }

  %ring-violet-800 {
    --tw-ring-color: #5b21b6;
  }

  %ring-violet-900 {
    --tw-ring-color: #4c1d95;
  }

  %ring-violet-950 {
    --tw-ring-color: #2e1065;
  }

  %ring-purple-50 {
    --tw-ring-color: #faf5ff;
  }

  %ring-purple-100 {
    --tw-ring-color: #f3e8ff;
  }

  %ring-purple-200 {
    --tw-ring-color: #e9d5ff;
  }

  %ring-purple-300 {
    --tw-ring-color: #d8b4fe;
  }

  %ring-purple-400 {
    --tw-ring-color: #c084fc;
  }

  %ring-purple-500 {
    --tw-ring-color: #a855f7;
  }

  %ring-purple-600 {
    --tw-ring-color: #9333ea;
  }

  %ring-purple-700 {
    --tw-ring-color: #7e22ce;
  }

  %ring-purple-800 {
    --tw-ring-color: #6b21a8;
  }

  %ring-purple-900 {
    --tw-ring-color: #581c87;
  }

  %ring-purple-950 {
    --tw-ring-color: #3b0764;
  }

  %ring-fuchsia-50 {
    --tw-ring-color: #fdf4ff;
  }

  %ring-fuchsia-100 {
    --tw-ring-color: #fae8ff;
  }

  %ring-fuchsia-200 {
    --tw-ring-color: #f5d0fe;
  }

  %ring-fuchsia-300 {
    --tw-ring-color: #f0abfc;
  }

  %ring-fuchsia-400 {
    --tw-ring-color: #e879f9;
  }

  %ring-fuchsia-500 {
    --tw-ring-color: #d946ef;
  }

  %ring-fuchsia-600 {
    --tw-ring-color: #c026d3;
  }

  %ring-fuchsia-700 {
    --tw-ring-color: #a21caf;
  }

  %ring-fuchsia-800 {
    --tw-ring-color: #86198f;
  }

  %ring-fuchsia-900 {
    --tw-ring-color: #701a75;
  }

  %ring-fuchsia-950 {
    --tw-ring-color: #4a044e;
  }

  %ring-pink-50 {
    --tw-ring-color: #fdf2f8;
  }

  %ring-pink-100 {
    --tw-ring-color: #fce7f3;
  }

  %ring-pink-200 {
    --tw-ring-color: #fbcfe8;
  }

  %ring-pink-300 {
    --tw-ring-color: #f9a8d4;
  }

  %ring-pink-400 {
    --tw-ring-color: #f472b6;
  }

  %ring-pink-500 {
    --tw-ring-color: #ec4899;
  }

  %ring-pink-600 {
    --tw-ring-color: #db2777;
  }

  %ring-pink-700 {
    --tw-ring-color: #be185d;
  }

  %ring-pink-800 {
    --tw-ring-color: #9d174d;
  }

  %ring-pink-900 {
    --tw-ring-color: #831843;
  }

  %ring-pink-950 {
    --tw-ring-color: #500724;
  }

  %ring-rose-50 {
    --tw-ring-color: #fff1f2;
  }

  %ring-rose-100 {
    --tw-ring-color: #ffe4e6;
  }

  %ring-rose-200 {
    --tw-ring-color: #fecdd3;
  }

  %ring-rose-300 {
    --tw-ring-color: #fda4af;
  }

  %ring-rose-400 {
    --tw-ring-color: #fb7185;
  }

  %ring-rose-500 {
    --tw-ring-color: #f43f5e;
  }

  %ring-rose-600 {
    --tw-ring-color: #e11d48;
  }

  %ring-rose-700 {
    --tw-ring-color: #be123c;
  }

  %ring-rose-800 {
    --tw-ring-color: #9f1239;
  }

  %ring-rose-900 {
    --tw-ring-color: #881337;
  }

  %ring-rose-950 {
    --tw-ring-color: #4c0519;
  }
}
