@use "../../setting" as *;

/* Scroll Snap Align */
@if $Basic {
  /*x
  @mixin snap-start {
    scroll-snap-align: start;
  }

  @mixin snap-end {
    scroll-snap-align: end;
  }

  @mixin snap-center {
    scroll-snap-align: center;
  }

  @mixin snap-align-none {
    scroll-snap-align: none;
  }x*/
}

@if $Rwd {
  /*x
  @mixin sm\:snap-start {
    @media (min-width: $Rwd-sm) {
      scroll-snap-align: start;
    }
  }

  @mixin sm\:snap-end {
    @media (min-width: $Rwd-sm) {
      scroll-snap-align: end;
    }
  }

  @mixin sm\:snap-center {
    @media (min-width: $Rwd-sm) {
      scroll-snap-align: center;
    }
  }

  @mixin sm\:snap-align-none {
    @media (min-width: $Rwd-sm) {
      scroll-snap-align: none;
    }
  }

  @mixin md\:snap-start {
    @media (min-width: $Rwd-md) {
      scroll-snap-align: start;
    }
  }

  @mixin md\:snap-end {
    @media (min-width: $Rwd-md) {
      scroll-snap-align: end;
    }
  }

  @mixin md\:snap-center {
    @media (min-width: $Rwd-md) {
      scroll-snap-align: center;
    }
  }

  @mixin md\:snap-align-none {
    @media (min-width: $Rwd-md) {
      scroll-snap-align: none;
    }
  }

  @mixin lg\:snap-start {
    @media (min-width: $Rwd-lg) {
      scroll-snap-align: start;
    }
  }

  @mixin lg\:snap-end {
    @media (min-width: $Rwd-lg) {
      scroll-snap-align: end;
    }
  }

  @mixin lg\:snap-center {
    @media (min-width: $Rwd-lg) {
      scroll-snap-align: center;
    }
  }

  @mixin lg\:snap-align-none {
    @media (min-width: $Rwd-lg) {
      scroll-snap-align: none;
    }
  }

  @mixin xl\:snap-start {
    @media (min-width: $Rwd-xl) {
      scroll-snap-align: start;
    }
  }

  @mixin xl\:snap-end {
    @media (min-width: $Rwd-xl) {
      scroll-snap-align: end;
    }
  }

  @mixin xl\:snap-center {
    @media (min-width: $Rwd-xl) {
      scroll-snap-align: center;
    }
  }

  @mixin xl\:snap-align-none {
    @media (min-width: $Rwd-xl) {
      scroll-snap-align: none;
    }
  }

  @mixin \2xl\:snap-start {
    @media (min-width: $Rwd-2xl) {
      scroll-snap-align: start;
    }
  }

  @mixin \2xl\:snap-end {
    @media (min-width: $Rwd-2xl) {
      scroll-snap-align: end;
    }
  }

  @mixin \2xl\:snap-center {
    @media (min-width: $Rwd-2xl) {
      scroll-snap-align: center;
    }
  }

  @mixin \2xl\:snap-align-none {
    @media (min-width: $Rwd-2xl) {
      scroll-snap-align: none;
    }
  }x*/
}
