@use "../../setting" as *;


$OutlineOffset: (
  "outline-offset-0": 0px,
  "outline-offset-1": 1px,
  "outline-offset-2": 2px,
  "outline-offset-4": 4px,
  "outline-offset-8": 8px,
);

@if $Basic {
  @each $key, $value in $OutlineOffset {
    /*x
    @mixin #{$key} {
      @include outline-offset(#{$value});
    }
    x*/
  }
}

@if $Rwd and ($sizeMode ==0 or $sizeMode ==1) {
  @each $rwd in $rwdBox {
    @each $key, $value in $OutlineOffset {
      /*x
      @mixin #{$rwd}\:#{$key} {
        @include outline-offset(#{$value}, $#{$rwd});
      }
      x*/
    }
  }
}

@if $Custom {
  /*x
  @mixin outline-offset-($v) {
    @include outline-offset($v);
  }
  x*/

  @each $rwd in $rwdBox {
    /*x
    @mixin #{$rwd}\:outline-offset-($v) {
      @include outline-offset($v, $#{$rwd});
    }
    x*/
  }
}