@use "true" as *;
@use "../awaken" as *;

@include describe("9-Filters") {
  @include describe("8-Saturate") {
    @include describe("Basic") {
      @include it("saturate-0") {
        @include assert {
          @include output {
            @include saturate-0;
            
          }

          @include expect {
            filter: saturate(0);
          }
        }
      }

      @include it("saturate-50") {
        @include assert {
          @include output {
            @include saturate-50;
            
          }

          @include expect {
            filter: saturate(0.5);
          }
        }
      }

      @include it("saturate-100") {
        @include assert {
          @include output {
            @include saturate-100;
            
          }

          @include expect {
            filter: saturate(1);
          }
        }
      }

      @include it("saturate-150") {
        @include assert {
          @include output {
            @include saturate-150;
            
          }

          @include expect {
            filter: saturate(1.5);
          }
        }
      }

      @include it("saturate-200") {
        @include assert {
          @include output {
            @include saturate-200;
            
          }

          @include expect {
            filter: saturate(2);
          }
        }
      }
    }

    @include describe("Custom") {
      @include it("saturate-(.25)") {
        @include assert {
          @include output {
            @include saturate-(0.25);
            
          }

          @include expect {
            filter: saturate(0.25);
          }
        }
      }
    }
  }
}
