@use "true" as *;
@use "../style" as *;

@include describe("9-Filters") {
  @include describe("9-Sepia") {
    @include describe("Basic") {
      @include it("sepia-0") {
        @include assert {
          @include output {
            @include sepia-0;
          }

          @include expect {
            filter: sepia(0);
          }
        }
      }

      @include it("sepia") {
        @include assert {
          @include output {
            @include sepia;
          }

          @include expect {
            filter: sepia(100%);
          }
        }
      }
    }

    @include describe("Custom") {
      @include it("sepia-(.25)") {
        @include assert {
          @include output {
            @include sepia-(0.25);
          }

          @include expect {
            filter: sepia(0.25);
          }
        }
      }
    }
  }
}
