@use "../../setting" as *;

/* Border Collapse */
@if $Basic {
  @mixin_border-collapse {
    border-collapse: collapse;
  }

  @mixin_border-separate {
    border-collapse: separate;
  }
}

@if $Rwd {
  @mixin_sm\:border-collapse {
    @media (min-width: $breakpoint-sm) {
      border-collapse: collapse;
    }
  }

  @mixin_sm\:border-separate {
    @media (min-width: $breakpoint-sm) {
      border-collapse: separate;
    }
  }

  @mixin_md\:border-collapse {
    @media (min-width: $breakpoint-md) {
      border-collapse: collapse;
    }
  }

  @mixin_md\:border-separate {
    @media (min-width: $breakpoint-md) {
      border-collapse: separate;
    }
  }

  @mixin_lg\:border-collapse {
    @media (min-width: $breakpoint-lg) {
      border-collapse: collapse;
    }
  }

  @mixin_lg\:border-separate {
    @media (min-width: $breakpoint-lg) {
      border-collapse: separate;
    }
  }

  @mixin_xl\:border-collapse {
    @media (min-width: $breakpoint-xl) {
      border-collapse: collapse;
    }
  }

  @mixin_xl\:border-separate {
    @media (min-width: $breakpoint-xl) {
      border-collapse: separate;
    }
  }

  @mixin_\\2xl\:border-collapse {
    @media (min-width: $breakpoint-2xl) {
      border-collapse: collapse;
    }
  }

  @mixin_\\2xl\:border-separate {
    @media (min-width: $breakpoint-2xl) {
      border-collapse: separate;
    }
  }
}
