@use "../../setting" as *;

/* Border Collapse */
@if $Basic {
  /*x
  @mixin border-collapse {
    border-collapse: collapse;
  }

  @mixin border-separate {
    border-collapse: separate;
  }x*/
}

@if $Rwd {
  /*x
  @mixin sm\:border-collapse {
    @media (min-width: $breakpoint-sm) {
      border-collapse: collapse;
    }
  }

  @mixin sm\:border-separate {
    @media (min-width: $breakpoint-sm) {
      border-collapse: separate;
    }
  }

  @mixin md\:border-collapse {
    @media (min-width: $breakpoint-md) {
      border-collapse: collapse;
    }
  }

  @mixin md\:border-separate {
    @media (min-width: $breakpoint-md) {
      border-collapse: separate;
    }
  }

  @mixin lg\:border-collapse {
    @media (min-width: $breakpoint-lg) {
      border-collapse: collapse;
    }
  }

  @mixin lg\:border-separate {
    @media (min-width: $breakpoint-lg) {
      border-collapse: separate;
    }
  }

  @mixin xl\:border-collapse {
    @media (min-width: $breakpoint-xl) {
      border-collapse: collapse;
    }
  }

  @mixin xl\:border-separate {
    @media (min-width: $breakpoint-xl) {
      border-collapse: separate;
    }
  }

  @mixin \2xl\:border-collapse {
    @media (min-width: $breakpoint-2xl) {
      border-collapse: collapse;
    }
  }

  @mixin \2xl\:border-separate {
    @media (min-width: $breakpoint-2xl) {
      border-collapse: separate;
    }
  }x*/
}
