@use "true" as *;
@use "../../escss" as *;

@include describe("9-Filters") {
  @include describe("1-Blur") {
    @include describe("Basic") {
      @include it("blur-none") {
        @include assert {
          @include output {
            @include blur-none;
          }

          @include expect {
            --tw-blur: ;
            filter: var(--tw-blur,) var(--tw-brightness,) var(--tw-contrast,)
              var(--tw-grayscale,) var(--tw-hue-rotate,) var(--tw-invert,)
              var(--tw-saturate,) var(--tw-sepia,) var(--tw-drop-shadow,);
          }
        }
      }

      @include it("blur-sm") {
        @include assert {
          @include output {
            @include blur-sm;
          }

          @include expect {
            --tw-blur: blur(8px);
            filter: var(--tw-blur,) var(--tw-brightness,) var(--tw-contrast,)
              var(--tw-grayscale,) var(--tw-hue-rotate,) var(--tw-invert,)
              var(--tw-saturate,) var(--tw-sepia,) var(--tw-drop-shadow,);
          }
        }
      }

      @include it("blur") {
        @include assert {
          @include output {
            @include blur;
          }

          @include expect {
            --tw-blur: blur(8px);
            filter: var(--tw-blur,) var(--tw-brightness,) var(--tw-contrast,)
              var(--tw-grayscale,) var(--tw-hue-rotate,) var(--tw-invert,)
              var(--tw-saturate,) var(--tw-sepia,) var(--tw-drop-shadow,);
          }
        }
      }

      @include it("blur-md") {
        @include assert {
          @include output {
            @include blur-md;
          }

          @include expect {
            --tw-blur: blur(12px);
            filter: var(--tw-blur,) var(--tw-brightness,) var(--tw-contrast,)
              var(--tw-grayscale,) var(--tw-hue-rotate,) var(--tw-invert,)
              var(--tw-saturate,) var(--tw-sepia,) var(--tw-drop-shadow,);
          }
        }
      }

      @include it("blur-lg") {
        @include assert {
          @include output {
            @include blur-lg;
          }

          @include expect {
            --tw-blur: blur(16px);
            filter: var(--tw-blur,) var(--tw-brightness,) var(--tw-contrast,)
              var(--tw-grayscale,) var(--tw-hue-rotate,) var(--tw-invert,)
              var(--tw-saturate,) var(--tw-sepia,) var(--tw-drop-shadow,);
          }
        }
      }

      @include it("blur-xl") {
        @include assert {
          @include output {
            @include blur-xl;
          }

          @include expect {
            --tw-blur: blur(24px);
            filter: var(--tw-blur,) var(--tw-brightness,) var(--tw-contrast,)
              var(--tw-grayscale,) var(--tw-hue-rotate,) var(--tw-invert,)
              var(--tw-saturate,) var(--tw-sepia,) var(--tw-drop-shadow,);
          }
        }
      }

      @include it("blur-2xl") {
        @include assert {
          @include output {
            @include blur-2xl;
          }

          @include expect {
            --tw-blur: blur(40px);
            filter: var(--tw-blur,) var(--tw-brightness,) var(--tw-contrast,)
              var(--tw-grayscale,) var(--tw-hue-rotate,) var(--tw-invert,)
              var(--tw-saturate,) var(--tw-sepia,) var(--tw-drop-shadow,);
          }
        }
      }

      @include it("blur-3xl") {
        @include assert {
          @include output {
            @include blur-3xl;
          }

          @include expect {
            --tw-blur: blur(64px);
            filter: var(--tw-blur,) var(--tw-brightness,) var(--tw-contrast,)
              var(--tw-grayscale,) var(--tw-hue-rotate,) var(--tw-invert,)
              var(--tw-saturate,) var(--tw-sepia,) var(--tw-drop-shadow,);
          }
        }
      }
    }

    @include describe("Custom") {
      @include it("blur-(2px)") {
        @include assert {
          @include output {
            @include blur-(2px);
          }

          @include expect {
            --tw-blur: blur(2px);
            filter: var(--tw-blur,) var(--tw-brightness,) var(--tw-contrast,)
              var(--tw-grayscale,) var(--tw-hue-rotate,) var(--tw-invert,)
              var(--tw-saturate,) var(--tw-sepia,) var(--tw-drop-shadow,);
          }
        }
      }
    }
  }
}
