@use "true" as *;
@use "../../escss" as *;

@include describe("9-Filters") {
  @include describe("4-Drop Shadow") {
    @include describe("Basic") {
      @include it("drop-shadow-sm") {
        @include assert {
          @include output {
            @include drop-shadow-sm;
          }

          @include expect {
            --tw-drop-shadow-size: drop-shadow(
              0 1px 2px var(--tw-drop-shadow-color, rgba(0, 0, 0, 0.15))
            );
            --tw-drop-shadow: drop-shadow(var(--drop-shadow-sm));
            filter: var(--tw-blur,) var(--tw-brightness,) var(--tw-contrast,)
              var(--tw-grayscale,) var(--tw-hue-rotate,) var(--tw-invert,)
              var(--tw-saturate,) var(--tw-sepia,) var(--tw-drop-shadow,);
          }
        }
      }

      @include it("drop-shadow-md") {
        @include assert {
          @include output {
            @include drop-shadow-md;
          }

          @include expect {
            --tw-drop-shadow-size: drop-shadow(
              0 3px 3px var(--tw-drop-shadow-color, rgba(0, 0, 0, 0.12))
            );
            --tw-drop-shadow: drop-shadow(var(--drop-shadow-md));
            filter: var(--tw-blur,) var(--tw-brightness,) var(--tw-contrast,)
              var(--tw-grayscale,) var(--tw-hue-rotate,) var(--tw-invert,)
              var(--tw-saturate,) var(--tw-sepia,) var(--tw-drop-shadow,);
          }
        }
      }

      @include it("drop-shadow-lg") {
        @include assert {
          @include output {
            @include drop-shadow-lg;
          }

          @include expect {
            --tw-drop-shadow-size: drop-shadow(
              0 4px 4px var(--tw-drop-shadow-color, rgba(0, 0, 0, 0.15))
            );
            --tw-drop-shadow: drop-shadow(var(--drop-shadow-lg));
            filter: var(--tw-blur,) var(--tw-brightness,) var(--tw-contrast,)
              var(--tw-grayscale,) var(--tw-hue-rotate,) var(--tw-invert,)
              var(--tw-saturate,) var(--tw-sepia,) var(--tw-drop-shadow,);
          }
        }
      }

      @include it("drop-shadow-xl") {
        @include assert {
          @include output {
            @include drop-shadow-xl;
          }

          @include expect {
            --tw-drop-shadow-size: drop-shadow(
              0 9px 7px var(--tw-drop-shadow-color, rgba(0, 0, 0, 0.1))
            );
            --tw-drop-shadow: drop-shadow(var(--drop-shadow-xl));
            filter: var(--tw-blur,) var(--tw-brightness,) var(--tw-contrast,)
              var(--tw-grayscale,) var(--tw-hue-rotate,) var(--tw-invert,)
              var(--tw-saturate,) var(--tw-sepia,) var(--tw-drop-shadow,);
          }
        }
      }

      @include it("drop-shadow-2xl") {
        @include assert {
          @include output {
            @include drop-shadow-2xl;
          }

          @include expect {
            --tw-drop-shadow-size: drop-shadow(
              0 25px 25px var(--tw-drop-shadow-color, rgba(0, 0, 0, 0.15))
            );
            --tw-drop-shadow: drop-shadow(var(--drop-shadow-2xl));
            filter: var(--tw-blur,) var(--tw-brightness,) var(--tw-contrast,)
              var(--tw-grayscale,) var(--tw-hue-rotate,) var(--tw-invert,)
              var(--tw-saturate,) var(--tw-sepia,) var(--tw-drop-shadow,);
          }
        }
      }

      @include it("drop-shadow-none") {
        @include assert {
          @include output {
            @include drop-shadow-none;
          }

          @include expect {
            --tw-drop-shadow-size: ;
            --tw-drop-shadow: ;
            filter: var(--tw-blur,) var(--tw-brightness,) var(--tw-contrast,)
              var(--tw-grayscale,) var(--tw-hue-rotate,) var(--tw-invert,)
              var(--tw-saturate,) var(--tw-sepia,) var(--tw-drop-shadow,);
          }
        }
      }
    }

    @include describe("Custom") {
      @include it("drop-shadow-(0 35px 35px rgba(0,0,0,0.25))") {
        @include assert {
          @include output {
            @include drop-shadow-(0 35px 35px rgba(0, 0, 0, 0.25));
          }

          @include expect {
            --tw-drop-shadow: drop-shadow(0 35px 35px rgba(0, 0, 0, 0.25));
            filter: var(--tw-blur,) var(--tw-brightness,) var(--tw-contrast,)
              var(--tw-grayscale,) var(--tw-hue-rotate,) var(--tw-invert,)
              var(--tw-saturate,) var(--tw-sepia,) var(--tw-drop-shadow,);
          }
        }
      }
    }
  }
}
