@use "true" as *;
@use "../../escss" as *;

@include describe("9-Filters") {
  @include describe("6-Hue Rotate") {
    @include describe("Positive") {
      @include describe("Basic") {
        @include it("hue-rotate-0") {
          @include assert {
            @include output {
              @include hue-rotate-0;
            }

            @include expect {
              --tw-hue-rotate: hue-rotate(0deg);
              filter: var(--tw-blur,) var(--tw-brightness,) var(--tw-contrast,)
                var(--tw-grayscale,) var(--tw-hue-rotate,) var(--tw-invert,)
                var(--tw-saturate,) var(--tw-sepia,) var(--tw-drop-shadow,);
            }
          }
        }

        @include it("hue-rotate-15") {
          @include assert {
            @include output {
              @include hue-rotate-15;
            }

            @include expect {
              --tw-hue-rotate: hue-rotate(15deg);
              filter: var(--tw-blur,) var(--tw-brightness,) var(--tw-contrast,)
                var(--tw-grayscale,) var(--tw-hue-rotate,) var(--tw-invert,)
                var(--tw-saturate,) var(--tw-sepia,) var(--tw-drop-shadow,);
            }
          }
        }

        @include it("hue-rotate-30") {
          @include assert {
            @include output {
              @include hue-rotate-30;
            }

            @include expect {
              --tw-hue-rotate: hue-rotate(30deg);
              filter: var(--tw-blur,) var(--tw-brightness,) var(--tw-contrast,)
                var(--tw-grayscale,) var(--tw-hue-rotate,) var(--tw-invert,)
                var(--tw-saturate,) var(--tw-sepia,) var(--tw-drop-shadow,);
            }
          }
        }

        @include it("hue-rotate-60") {
          @include assert {
            @include output {
              @include hue-rotate-60;
            }

            @include expect {
              --tw-hue-rotate: hue-rotate(60deg);
              filter: var(--tw-blur,) var(--tw-brightness,) var(--tw-contrast,)
                var(--tw-grayscale,) var(--tw-hue-rotate,) var(--tw-invert,)
                var(--tw-saturate,) var(--tw-sepia,) var(--tw-drop-shadow,);
            }
          }
        }

        @include it("hue-rotate-90") {
          @include assert {
            @include output {
              @include hue-rotate-90;
            }

            @include expect {
              --tw-hue-rotate: hue-rotate(90deg);
              filter: var(--tw-blur,) var(--tw-brightness,) var(--tw-contrast,)
                var(--tw-grayscale,) var(--tw-hue-rotate,) var(--tw-invert,)
                var(--tw-saturate,) var(--tw-sepia,) var(--tw-drop-shadow,);
            }
          }
        }

        @include it("hue-rotate-180") {
          @include assert {
            @include output {
              @include hue-rotate-180;
            }

            @include expect {
              --tw-hue-rotate: hue-rotate(180deg);
              filter: var(--tw-blur,) var(--tw-brightness,) var(--tw-contrast,)
                var(--tw-grayscale,) var(--tw-hue-rotate,) var(--tw-invert,)
                var(--tw-saturate,) var(--tw-sepia,) var(--tw-drop-shadow,);
            }
          }
        }
      }

      @include describe("Custom") {
        @include it("hue-rotate-(270deg)") {
          @include assert {
            @include output {
              @include hue-rotate-(270deg);
            }

            @include expect {
              --tw-hue-rotate: hue-rotate(270deg);
              filter: var(--tw-blur,) var(--tw-brightness,) var(--tw-contrast,)
                var(--tw-grayscale,) var(--tw-hue-rotate,) var(--tw-invert,)
                var(--tw-saturate,) var(--tw-sepia,) var(--tw-drop-shadow,);
            }
          }
        }
      }
    }

    @include describe("Negative") {
      @include describe("Basic") {
        @include it("-hue-rotate-0") {
          @include assert {
            @include output {
              @include \-hue-rotate-0;
            }

            @include expect {
              --tw-hue-rotate: hue-rotate(0deg);
              filter: var(--tw-blur,) var(--tw-brightness,) var(--tw-contrast,)
                var(--tw-grayscale,) var(--tw-hue-rotate,) var(--tw-invert,)
                var(--tw-saturate,) var(--tw-sepia,) var(--tw-drop-shadow,);
            }
          }
        }

        @include it("-hue-rotate-15") {
          @include assert {
            @include output {
              @include \-hue-rotate-15;
            }

            @include expect {
              --tw-hue-rotate: hue-rotate(-15deg);
              filter: var(--tw-blur,) var(--tw-brightness,) var(--tw-contrast,)
                var(--tw-grayscale,) var(--tw-hue-rotate,) var(--tw-invert,)
                var(--tw-saturate,) var(--tw-sepia,) var(--tw-drop-shadow,);
            }
          }
        }

        @include it("-hue-rotate-30") {
          @include assert {
            @include output {
              @include \-hue-rotate-30;
            }

            @include expect {
              --tw-hue-rotate: hue-rotate(-30deg);
              filter: var(--tw-blur,) var(--tw-brightness,) var(--tw-contrast,)
                var(--tw-grayscale,) var(--tw-hue-rotate,) var(--tw-invert,)
                var(--tw-saturate,) var(--tw-sepia,) var(--tw-drop-shadow,);
            }
          }
        }

        @include it("-hue-rotate-60") {
          @include assert {
            @include output {
              @include \-hue-rotate-60;
            }

            @include expect {
              --tw-hue-rotate: hue-rotate(-60deg);
              filter: var(--tw-blur,) var(--tw-brightness,) var(--tw-contrast,)
                var(--tw-grayscale,) var(--tw-hue-rotate,) var(--tw-invert,)
                var(--tw-saturate,) var(--tw-sepia,) var(--tw-drop-shadow,);
            }
          }
        }

        @include it("-hue-rotate-90") {
          @include assert {
            @include output {
              @include \-hue-rotate-90;
            }

            @include expect {
              --tw-hue-rotate: hue-rotate(-90deg);
              filter: var(--tw-blur,) var(--tw-brightness,) var(--tw-contrast,)
                var(--tw-grayscale,) var(--tw-hue-rotate,) var(--tw-invert,)
                var(--tw-saturate,) var(--tw-sepia,) var(--tw-drop-shadow,);
            }
          }
        }

        @include it("-hue-rotate-180") {
          @include assert {
            @include output {
              @include \-hue-rotate-180;
            }

            @include expect {
              --tw-hue-rotate: hue-rotate(-180deg);
              filter: var(--tw-blur,) var(--tw-brightness,) var(--tw-contrast,)
                var(--tw-grayscale,) var(--tw-hue-rotate,) var(--tw-invert,)
                var(--tw-saturate,) var(--tw-sepia,) var(--tw-drop-shadow,);
            }
          }
        }
      }

      @include describe("Custom") {
        @include it("-hue-rotate-(270deg)") {
          @include assert {
            @include output {
              @include \-hue-rotate-(270deg);
            }

            @include expect {
              --tw-hue-rotate: hue-rotate(-270deg);
              filter: var(--tw-blur,) var(--tw-brightness,) var(--tw-contrast,)
                var(--tw-grayscale,) var(--tw-hue-rotate,) var(--tw-invert,)
                var(--tw-saturate,) var(--tw-sepia,) var(--tw-drop-shadow,);
            }
          }
        }
      }
    }
  }
}
