@use "true" as *;
@use "../../escss" as *;

@include describe("9-Filters") {
  @include describe("7-Invert") {
    @include describe("Basic") {
      @include it("invert-0") {
        @include assert {
          @include output {
            @include invert-0;
          }

          @include expect {
            --tw-invert: invert(0%);
            filter: var(--tw-blur,) var(--tw-brightness,) var(--tw-contrast,)
              var(--tw-grayscale,) var(--tw-hue-rotate,) var(--tw-invert,)
              var(--tw-saturate,) var(--tw-sepia,) var(--tw-drop-shadow,);
          }
        }
      }

      @include it("invert") {
        @include assert {
          @include output {
            @include invert;
          }

          @include expect {
            --tw-invert: invert(100%);
            filter: var(--tw-blur,) var(--tw-brightness,) var(--tw-contrast,)
              var(--tw-grayscale,) var(--tw-hue-rotate,) var(--tw-invert,)
              var(--tw-saturate,) var(--tw-sepia,) var(--tw-drop-shadow,);
          }
        }
      }
    }

    @include describe("Custom") {
      @include it("invert-(.25)") {
        @include assert {
          @include output {
            @include invert-(0.25);
          }

          @include expect {
            --tw-invert: invert(0.25);
            filter: var(--tw-blur,) var(--tw-brightness,) var(--tw-contrast,)
              var(--tw-grayscale,) var(--tw-hue-rotate,) var(--tw-invert,)
              var(--tw-saturate,) var(--tw-sepia,) var(--tw-drop-shadow,);
          }
        }
      }
    }
  }
}
