@use "true" as *;
@use "../../escss" as *;

@include describe("9-Filters") {
  @include describe("8-Saturate") {
    @include describe("Basic") {
      @include it("saturate-0") {
        @include assert {
          @include output {
            @include saturate-0;
          }

          @include expect {
            --tw-saturate: saturate(0%);
            filter: var(--tw-blur,) var(--tw-brightness,) var(--tw-contrast,)
              var(--tw-grayscale,) var(--tw-hue-rotate,) var(--tw-invert,)
              var(--tw-saturate,) var(--tw-sepia,) var(--tw-drop-shadow,);
          }
        }
      }

      @include it("saturate-50") {
        @include assert {
          @include output {
            @include saturate-50;
          }

          @include expect {
            --tw-saturate: saturate(50%);
            filter: var(--tw-blur,) var(--tw-brightness,) var(--tw-contrast,)
              var(--tw-grayscale,) var(--tw-hue-rotate,) var(--tw-invert,)
              var(--tw-saturate,) var(--tw-sepia,) var(--tw-drop-shadow,);
          }
        }
      }

      @include it("saturate-100") {
        @include assert {
          @include output {
            @include saturate-100;
          }

          @include expect {
            --tw-saturate: saturate(100%);
            filter: var(--tw-blur,) var(--tw-brightness,) var(--tw-contrast,)
              var(--tw-grayscale,) var(--tw-hue-rotate,) var(--tw-invert,)
              var(--tw-saturate,) var(--tw-sepia,) var(--tw-drop-shadow,);
          }
        }
      }

      @include it("saturate-150") {
        @include assert {
          @include output {
            @include saturate-150;
          }

          @include expect {
            --tw-saturate: saturate(150%);
            filter: var(--tw-blur,) var(--tw-brightness,) var(--tw-contrast,)
              var(--tw-grayscale,) var(--tw-hue-rotate,) var(--tw-invert,)
              var(--tw-saturate,) var(--tw-sepia,) var(--tw-drop-shadow,);
          }
        }
      }

      @include it("saturate-200") {
        @include assert {
          @include output {
            @include saturate-200;
          }

          @include expect {
            --tw-saturate: saturate(200%);
            filter: var(--tw-blur,) var(--tw-brightness,) var(--tw-contrast,)
              var(--tw-grayscale,) var(--tw-hue-rotate,) var(--tw-invert,)
              var(--tw-saturate,) var(--tw-sepia,) var(--tw-drop-shadow,);
          }
        }
      }
    }

    @include describe("Custom") {
      @include it("saturate-(.25)") {
        @include assert {
          @include output {
            @include saturate-(0.25);
          }

          @include expect {
            --tw-saturate: saturate(0.25);
            filter: var(--tw-blur,) var(--tw-brightness,) var(--tw-contrast,)
              var(--tw-grayscale,) var(--tw-hue-rotate,) var(--tw-invert,)
              var(--tw-saturate,) var(--tw-sepia,) var(--tw-drop-shadow,);
          }
        }
      }
    }
  }
}
