@use "true" as *;
@use "../../escss" as *;

@include describe("9-Filters") {
  @include describe("9-Sepia") {
    @include describe("Basic") {
      @include it("sepia-0") {
        @include assert {
          @include output {
            @include sepia-0;
          }

          @include expect {
            --tw-sepia: sepia(0%);
            filter: var(--tw-blur,) var(--tw-brightness,) var(--tw-contrast,)
              var(--tw-grayscale,) var(--tw-hue-rotate,) var(--tw-invert,)
              var(--tw-saturate,) var(--tw-sepia,) var(--tw-drop-shadow,);
          }
        }
      }

      @include it("sepia") {
        @include assert {
          @include output {
            @include sepia;
          }

          @include expect {
            --tw-sepia: sepia(100%);
            filter: var(--tw-blur,) var(--tw-brightness,) var(--tw-contrast,)
              var(--tw-grayscale,) var(--tw-hue-rotate,) var(--tw-invert,)
              var(--tw-saturate,) var(--tw-sepia,) var(--tw-drop-shadow,);
          }
        }
      }
    }

    @include describe("Custom") {
      @include it("sepia-(.25)") {
        @include assert {
          @include output {
            @include sepia-(0.25);
          }

          @include expect {
            --tw-sepia: sepia(0.25);
            filter: var(--tw-blur,) var(--tw-brightness,) var(--tw-contrast,)
              var(--tw-grayscale,) var(--tw-hue-rotate,) var(--tw-invert,)
              var(--tw-saturate,) var(--tw-sepia,) var(--tw-drop-shadow,);
          }
        }
      }
    }
  }
}
