@use "../../mode0" as *;
@use "true" as *;

@include describe("13.Interactivity") {
  @include describe("Scroll Snap Stop") {
    @include describe("Basic") {
      @include it("snap-normal") {
        @include assert {
          @include output {
            @include snap-normal;
            @include reset;
          }

          @include expect {
            scroll-snap-stop: normal;
          }
        }
      }

      @include it("snap-always") {
        @include assert {
          @include output {
            @include snap-always;
            @include reset;
          }

          @include expect {
            scroll-snap-stop: always;
          }
        }
      }
    }

    @include describe("Rwd") {
      @include it("sm\:snap-normal") {
        @include assert {
          @include output {
            @include sm\:snap-normal;
            @include reset;
          }

          @include expect {
            @media (min-width: $sm) {
              scroll-snap-stop: normal;
            }
          }
        }
      }

      @include it("sm\:snap-always") {
        @include assert {
          @include output {
            @include sm\:snap-always;
            @include reset;
          }

          @include expect {
            @media (min-width: $sm) {
              scroll-snap-stop: always;
            }
          }
        }
      }

      @include it("md\:snap-normal") {
        @include assert {
          @include output {
            @include md\:snap-normal;
            @include reset;
          }

          @include expect {
            @media (min-width: $md) {
              scroll-snap-stop: normal;
            }
          }
        }
      }

      @include it("md\:snap-always") {
        @include assert {
          @include output {
            @include md\:snap-always;
            @include reset;
          }

          @include expect {
            @media (min-width: $md) {
              scroll-snap-stop: always;
            }
          }
        }
      }

      @include it("lg\:snap-normal") {
        @include assert {
          @include output {
            @include lg\:snap-normal;
            @include reset;
          }

          @include expect {
            @media (min-width: $lg) {
              scroll-snap-stop: normal;
            }
          }
        }
      }

      @include it("lg\:snap-always") {
        @include assert {
          @include output {
            @include lg\:snap-always;
            @include reset;
          }

          @include expect {
            @media (min-width: $lg) {
              scroll-snap-stop: always;
            }
          }
        }
      }

      @include it("xl\:snap-normal") {
        @include assert {
          @include output {
            @include xl\:snap-normal;
            @include reset;
          }

          @include expect {
            @media (min-width: $xl) {
              scroll-snap-stop: normal;
            }
          }
        }
      }

      @include it("xl\:snap-always") {
        @include assert {
          @include output {
            @include xl\:snap-always;
            @include reset;
          }

          @include expect {
            @media (min-width: $xl) {
              scroll-snap-stop: always;
            }
          }
        }
      }

      @include it("2xl\:snap-normal") {
        @include assert {
          @include output {
            @include \2xl\:snap-normal;
            @include reset;
          }

          @include expect {
            @media (min-width: $\2xl) {
              scroll-snap-stop: normal;
            }
          }
        }
      }

      @include it("2xl\:snap-always") {
        @include assert {
          @include output {
            @include \2xl\:snap-always;
            @include reset;
          }

          @include expect {
            @media (min-width: $\2xl) {
              scroll-snap-stop: always;
            }
          }
        }
      }
    }
  }
}
