@use "../../setting" as *;


$Visibility: (
  "visible": visible,
  "invisible": hidden,
  "collapse": collapse,
);

@if $Basic {
  @each $key, $value in $Visibility {
    /*x
    @mixin #{$key} {
      @include visibility(#{$value});
    }
    x*/
  }
}

@if $Rwd {
  @each $rwd in $rwdBox {
    @each $key, $value in $Visibility {
      /*x
      @mixin #{$rwd}\:#{$key} {
        @include visibility(#{$value}, $#{$rwd});
      }
      x*/
    }
  }
}