@use "../../setting" as *;


$GridAutoRows: (
  "auto-rows-auto": auto,
  "auto-rows-min": min-content,
  "auto-rows-max": max-content,
  "auto-rows-fr": minmax(0, 1fr),
);

@if $Basic {
  @each $key, $value in $GridAutoRows {
    /*x
    @mixin #{$key} {
      @include grid-auto-rows(#{$value});
    }
    x*/
  }
}

@if $Rwd and ($sizeMode ==0 or $sizeMode ==1) {
  @each $rwd in $rwdBox {
    @each $key, $value in $GridAutoRows {
      /*x
      @mixin #{$rwd}\:#{$key} {
        @include grid-auto-rows(#{$value}, $#{$rwd});
      }
      x*/
    }
  }
}

@if $Custom {
  /*x
  @mixin auto-rows-($v) {
    @include grid-auto-rows($v);
  }
  x*/

  @each $rwd in $rwdBox {
    /*x
    @mixin #{$rwd}\:auto-rows-($v) {
      @include grid-auto-rows($v, $#{$rwd});
    }
    x*/
  }
}