@use "../../setting" as *;

/* Scroll Snap Type */
@if $Basic {
  /*x
  @mixin snap-none {
    scroll-snap-type: none;
  }

  @mixin snap-x {
    scroll-snap-type: x $--tw-scroll-snap-strictness;
  }

  @mixin snap-y {
    scroll-snap-type: y $--tw-scroll-snap-strictness;
  }

  @mixin snap-both {
    scroll-snap-type: both $--tw-scroll-snap-strictness;
  }

  @mixin snap-mandatory {
    $--tw-scroll-snap-strictness: mandatory !global;
  }

  @mixin snap-proximity {
    $--tw-scroll-snap-strictness: proximity !global;
  }x*/
}

@if $Rwd {
  /*x
  @mixin sm\:snap-none {
    @media (min-width: $rwd-sm) {
      scroll-snap-type: none;
    }
  }

  @mixin sm\:snap-x {
    @media (min-width: $rwd-sm) {
      scroll-snap-type: x $--tw-scroll-snap-strictness;
    }
  }

  @mixin sm\:snap-y {
    @media (min-width: $rwd-sm) {
      scroll-snap-type: y $--tw-scroll-snap-strictness;
    }
  }

  @mixin sm\:snap-both {
    @media (min-width: $rwd-sm) {
      scroll-snap-type: both $--tw-scroll-snap-strictness;
    }
  }

  @mixin sm\:snap-mandatory {
    @media (min-width: $rwd-sm) {
      $--tw-scroll-snap-strictness: mandatory !global;
    }
  }

  @mixin sm\:snap-proximity {
    @media (min-width: $rwd-sm) {
      $--tw-scroll-snap-strictness: proximity !global;
    }
  }

  @mixin md\:snap-none {
    @media (min-width: $rwd-md) {
      scroll-snap-type: none;
    }
  }

  @mixin md\:snap-x {
    @media (min-width: $rwd-md) {
      scroll-snap-type: x $--tw-scroll-snap-strictness;
    }
  }

  @mixin md\:snap-y {
    @media (min-width: $rwd-md) {
      scroll-snap-type: y $--tw-scroll-snap-strictness;
    }
  }

  @mixin md\:snap-both {
    @media (min-width: $rwd-md) {
      scroll-snap-type: both $--tw-scroll-snap-strictness;
    }
  }

  @mixin md\:snap-mandatory {
    @media (min-width: $rwd-md) {
      $--tw-scroll-snap-strictness: mandatory !global;
    }
  }

  @mixin md\:snap-proximity {
    @media (min-width: $rwd-md) {
      $--tw-scroll-snap-strictness: proximity !global;
    }
  }

  @mixin lg\:snap-none {
    @media (min-width: $rwd-lg) {
      scroll-snap-type: none;
    }
  }

  @mixin lg\:snap-x {
    @media (min-width: $rwd-lg) {
      scroll-snap-type: x $--tw-scroll-snap-strictness;
    }
  }

  @mixin lg\:snap-y {
    @media (min-width: $rwd-lg) {
      scroll-snap-type: y $--tw-scroll-snap-strictness;
    }
  }

  @mixin lg\:snap-both {
    @media (min-width: $rwd-lg) {
      scroll-snap-type: both $--tw-scroll-snap-strictness;
    }
  }

  @mixin lg\:snap-mandatory {
    @media (min-width: $rwd-lg) {
      $--tw-scroll-snap-strictness: mandatory !global;
    }
  }

  @mixin lg\:snap-proximity {
    @media (min-width: $rwd-lg) {
      $--tw-scroll-snap-strictness: proximity !global;
    }
  }

  @mixin xl\:snap-none {
    @media (min-width: $rwd-xl) {
      scroll-snap-type: none;
    }
  }

  @mixin xl\:snap-x {
    @media (min-width: $rwd-xl) {
      scroll-snap-type: x $--tw-scroll-snap-strictness;
    }
  }

  @mixin xl\:snap-y {
    @media (min-width: $rwd-xl) {
      scroll-snap-type: y $--tw-scroll-snap-strictness;
    }
  }

  @mixin xl\:snap-both {
    @media (min-width: $rwd-xl) {
      scroll-snap-type: both $--tw-scroll-snap-strictness;
    }
  }

  @mixin xl\:snap-mandatory {
    @media (min-width: $rwd-xl) {
      $--tw-scroll-snap-strictness: mandatory !global;
    }
  }

  @mixin xl\:snap-proximity {
    @media (min-width: $rwd-xl) {
      $--tw-scroll-snap-strictness: proximity !global;
    }
  }

  @mixin \2xl\:snap-none {
    @media (min-width: $rwd-2xl) {
      scroll-snap-type: none;
    }
  }

  @mixin \2xl\:snap-x {
    @media (min-width: $rwd-2xl) {
      scroll-snap-type: x $--tw-scroll-snap-strictness;
    }
  }

  @mixin \2xl\:snap-y {
    @media (min-width: $rwd-2xl) {
      scroll-snap-type: y $--tw-scroll-snap-strictness;
    }
  }

  @mixin \2xl\:snap-both {
    @media (min-width: $rwd-2xl) {
      scroll-snap-type: both $--tw-scroll-snap-strictness;
    }
  }

  @mixin \2xl\:snap-mandatory {
    @media (min-width: $rwd-2xl) {
      $--tw-scroll-snap-strictness: mandatory !global;
    }
  }

  @mixin \2xl\:snap-proximity {
    @media (min-width: $rwd-2xl) {
      $--tw-scroll-snap-strictness: proximity !global;
    }
  }
  x*/
}
