@use "../../setting" as *;

$StrokeWidth: (
  "stroke-0": 0,
  "stroke-1": 1,
  "stroke-2": 2,
);

@if $Basic {
  @each $key, $value in $StrokeWidth {
    /*x
    @mixin #{$key} {
      @include stroke-width(#{$value});
    }
    x*/
  }
}

@if $Rwd and ($sizeMode ==0 or $sizeMode ==1) {
  @each $rwd in $rwdBox {
    @each $key, $value in $StrokeWidth {
      /*x
      @mixin #{$rwd}\:#{$key} {
        @include stroke-width(#{$value}, $#{$rwd});
      }
      x*/
    }
  }
}

@if $Custom {
  /*x
  @mixin stroke-($v) {
    @if meta.type-of($v)==color or list.index(inherit currentColor transparent, $v) {
      @include stroke($v);
    }

    @else {
      @include stroke-width($v);
    }
  }
  x*/

  @each $rwd in $rwdBox {
    /*x
    @mixin #{$rwd}\:stroke-($v) {
      @if meta.type-of($v)==color or list.index(inherit currentColor transparent, $v) {
        @include stroke($v, $#{$rwd});
      }

      @else {
        @include stroke-width($v, $#{$rwd});
      }
    }
    x*/
  }
}