@use "../../setting" as *;

$LineHeight: (
  "leading-3": "$leading-3",
  "leading-4": "$leading-4",
  "leading-5": "$leading-5",
  "leading-6": "$leading-6",
  "leading-7": "$leading-7",
  "leading-8": "$leading-8",
  "leading-9": "$leading-9",
  "leading-10": "$leading-10",
  "leading-none": "$leading-none",
  "leading-tight": "$leading-tight",
  "leading-snug": "$leading-snug",
  "leading-normal": "$leading-normal",
  "leading-relaxed": "$leading-relaxed",
  "leading-loose": "$leading-loose",
);

@if $Basic {
  @each $key, $value in $LineHeight {
    /*x
    @mixin #{$key} {
      @include line-height(#{$value});
    }
    x*/
  }
}

@if $Rwd and ($sizeMode ==0 or $sizeMode ==1) {
  @each $rwd in $rwdBox {
    @each $key, $value in $LineHeight {
      /*x
      @mixin #{$rwd}\:#{$key} {
        @include line-height(#{$value}, $#{$rwd});
      }
      x*/
    }
  }
}

@if $Custom {
  /*x
  @mixin leading-($v) {
    @include line-height($v);
  }
  x*/

  @each $rwd in $rwdBox {
    /*x
    @mixin #{$rwd}\:leading-($v) {
      @include line-height($v, $#{$rwd});
    }
    x*/
  }
}
