@use "../../setting" as *;

@if $Margin {
  /* Margin */
  @if $Basic {
    @mixin_m-0 {
      margin: 0px;
    }

    @mixin_mx-0 {
      margin-left: 0px;
      margin-right: 0px;
    }

    @mixin_my-0 {
      margin-top: 0px;
      margin-bottom: 0px;
    }

    @mixin_ms-0 {
      margin-inline-start: 0px;
    }

    @mixin_me-0 {
      margin-inline-end: 0px;
    }

    @mixin_mt-0 {
      margin-top: 0px;
    }

    @mixin_mr-0 {
      margin-right: 0px;
    }

    @mixin_mb-0 {
      margin-bottom: 0px;
    }

    @mixin_ml-0 {
      margin-left: 0px;
    }

    @mixin_m-px {
      margin: 1px;
    }

    @mixin_mx-px {
      margin-left: 1px;
      margin-right: 1px;
    }

    @mixin_my-px {
      margin-top: 1px;
      margin-bottom: 1px;
    }

    @mixin_ms-px {
      margin-inline-start: 1px;
    }

    @mixin_me-px {
      margin-inline-end: 1px;
    }

    @mixin_mt-px {
      margin-top: 1px;
    }

    @mixin_mr-px {
      margin-right: 1px;
    }

    @mixin_mb-px {
      margin-bottom: 1px;
    }

    @mixin_ml-px {
      margin-left: 1px;
    }

    /* 2px */
    @mixin_m-0\.5 {
      margin: 0.125rem;
    }

    /* 2px */
    @mixin_mx-0\.5 {
      margin-left: 0.125rem;
      margin-right: 0.125rem;
    }

    /* 2px */
    @mixin_my-0\.5 {
      margin-top: 0.125rem;
      margin-bottom: 0.125rem;
    }

    /* 2px */
    @mixin_ms-0\.5 {
      margin-inline-start: 0.125rem;
    }

    /* 2px */
    @mixin_me-0\.5 {
      margin-inline-end: 0.125rem;
    }

    /* 2px */
    @mixin_mt-0\.5 {
      margin-top: 0.125rem;
    }

    /* 2px */
    @mixin_mr-0\.5 {
      margin-right: 0.125rem;
    }

    /* 2px */
    @mixin_mb-0\.5 {
      margin-bottom: 0.125rem;
    }

    /* 2px */
    @mixin_ml-0\.5 {
      margin-left: 0.125rem;
    }

    /* 4px */
    @mixin_m-1 {
      margin: 0.25rem;
    }

    /* 4px */
    @mixin_mx-1 {
      margin-left: 0.25rem;
      margin-right: 0.25rem;
    }

    /* 4px */
    @mixin_my-1 {
      margin-top: 0.25rem;
      margin-bottom: 0.25rem;
    }

    /* 4px */
    @mixin_ms-1 {
      margin-inline-start: 0.25rem;
    }

    /* 4px */
    @mixin_me-1 {
      margin-inline-end: 0.25rem;
    }

    /* 4px */
    @mixin_mt-1 {
      margin-top: 0.25rem;
    }

    /* 4px */
    @mixin_mr-1 {
      margin-right: 0.25rem;
    }

    /* 4px */
    @mixin_mb-1 {
      margin-bottom: 0.25rem;
    }

    /* 4px */
    @mixin_ml-1 {
      margin-left: 0.25rem;
    }

    /* 6px */
    @mixin_m-1\.5 {
      margin: 0.375rem;
    }

    /* 6px */
    @mixin_mx-1\.5 {
      margin-left: 0.375rem;
      margin-right: 0.375rem;
    }

    /* 6px */
    @mixin_my-1\.5 {
      margin-top: 0.375rem;
      margin-bottom: 0.375rem;
    }

    /* 6px */
    @mixin_ms-1\.5 {
      margin-inline-start: 0.375rem;
    }

    /* 6px */
    @mixin_me-1\.5 {
      margin-inline-end: 0.375rem;
    }

    /* 6px */
    @mixin_mt-1\.5 {
      margin-top: 0.375rem;
    }

    /* 6px */
    @mixin_mr-1\.5 {
      margin-right: 0.375rem;
    }

    /* 6px */
    @mixin_mb-1\.5 {
      margin-bottom: 0.375rem;
    }

    /* 6px */
    @mixin_ml-1\.5 {
      margin-left: 0.375rem;
    }

    /* 8px */
    @mixin_m-2 {
      margin: 0.5rem;
    }

    /* 8px */
    @mixin_mx-2 {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }

    /* 8px */
    @mixin_my-2 {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }

    /* 8px */
    @mixin_ms-2 {
      margin-inline-start: 0.5rem;
    }

    /* 8px */
    @mixin_me-2 {
      margin-inline-end: 0.5rem;
    }

    /* 8px */
    @mixin_mt-2 {
      margin-top: 0.5rem;
    }

    /* 8px */
    @mixin_mr-2 {
      margin-right: 0.5rem;
    }

    /* 8px */
    @mixin_mb-2 {
      margin-bottom: 0.5rem;
    }

    /* 8px */
    @mixin_ml-2 {
      margin-left: 0.5rem;
    }

    /* 10px */
    @mixin_m-2\.5 {
      margin: 0.625rem;
    }

    /* 10px */
    @mixin_mx-2\.5 {
      margin-left: 0.625rem;
      margin-right: 0.625rem;
    }

    /* 10px */
    @mixin_my-2\.5 {
      margin-top: 0.625rem;
      margin-bottom: 0.625rem;
    }

    /* 10px */
    @mixin_ms-2\.5 {
      margin-inline-start: 0.625rem;
    }

    /* 10px */
    @mixin_me-2\.5 {
      margin-inline-end: 0.625rem;
    }

    /* 10px */
    @mixin_mt-2\.5 {
      margin-top: 0.625rem;
    }

    /* 10px */
    @mixin_mr-2\.5 {
      margin-right: 0.625rem;
    }

    /* 10px */
    @mixin_mb-2\.5 {
      margin-bottom: 0.625rem;
    }

    /* 10px */
    @mixin_ml-2\.5 {
      margin-left: 0.625rem;
    }

    /* 12px */
    @mixin_m-3 {
      margin: 0.75rem;
    }

    /* 12px */
    @mixin_mx-3 {
      margin-left: 0.75rem;
      margin-right: 0.75rem;
    }

    /* 12px */
    @mixin_my-3 {
      margin-top: 0.75rem;
      margin-bottom: 0.75rem;
    }

    /* 12px */
    @mixin_ms-3 {
      margin-inline-start: 0.75rem;
    }

    /* 12px */
    @mixin_me-3 {
      margin-inline-end: 0.75rem;
    }

    /* 12px */
    @mixin_mt-3 {
      margin-top: 0.75rem;
    }

    /* 12px */
    @mixin_mr-3 {
      margin-right: 0.75rem;
    }

    /* 12px */
    @mixin_mb-3 {
      margin-bottom: 0.75rem;
    }

    /* 12px */
    @mixin_ml-3 {
      margin-left: 0.75rem;
    }

    /* 14px */
    @mixin_m-3\.5 {
      margin: 0.875rem;
    }

    /* 14px */
    @mixin_mx-3\.5 {
      margin-left: 0.875rem;
      margin-right: 0.875rem;
    }

    /* 14px */
    @mixin_my-3\.5 {
      margin-top: 0.875rem;
      margin-bottom: 0.875rem;
    }

    /* 14px */
    @mixin_ms-3\.5 {
      margin-inline-start: 0.875rem;
    }

    /* 14px */
    @mixin_me-3\.5 {
      margin-inline-end: 0.875rem;
    }

    /* 14px */
    @mixin_mt-3\.5 {
      margin-top: 0.875rem;
    }

    /* 14px */
    @mixin_mr-3\.5 {
      margin-right: 0.875rem;
    }

    /* 14px */
    @mixin_mb-3\.5 {
      margin-bottom: 0.875rem;
    }

    /* 14px */
    @mixin_ml-3\.5 {
      margin-left: 0.875rem;
    }

    /* 16px */
    @mixin_m-4 {
      margin: 1rem;
    }

    /* 16px */
    @mixin_mx-4 {
      margin-left: 1rem;
      margin-right: 1rem;
    }

    /* 16px */
    @mixin_my-4 {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    /* 16px */
    @mixin_ms-4 {
      margin-inline-start: 1rem;
    }

    /* 16px */
    @mixin_me-4 {
      margin-inline-end: 1rem;
    }

    /* 16px */
    @mixin_mt-4 {
      margin-top: 1rem;
    }

    /* 16px */
    @mixin_mr-4 {
      margin-right: 1rem;
    }

    /* 16px */
    @mixin_mb-4 {
      margin-bottom: 1rem;
    }

    /* 16px */
    @mixin_ml-4 {
      margin-left: 1rem;
    }

    /* 20px */
    @mixin_m-5 {
      margin: 1.25rem;
    }

    /* 20px */
    @mixin_mx-5 {
      margin-left: 1.25rem;
      margin-right: 1.25rem;
    }

    /* 20px */
    @mixin_my-5 {
      margin-top: 1.25rem;
      margin-bottom: 1.25rem;
    }

    /* 20px */
    @mixin_ms-5 {
      margin-inline-start: 1.25rem;
    }

    /* 20px */
    @mixin_me-5 {
      margin-inline-end: 1.25rem;
    }

    /* 20px */
    @mixin_mt-5 {
      margin-top: 1.25rem;
    }

    /* 20px */
    @mixin_mr-5 {
      margin-right: 1.25rem;
    }

    /* 20px */
    @mixin_mb-5 {
      margin-bottom: 1.25rem;
    }

    /* 20px */
    @mixin_ml-5 {
      margin-left: 1.25rem;
    }

    /* 24px */
    @mixin_m-6 {
      margin: 1.5rem;
    }

    /* 24px */
    @mixin_mx-6 {
      margin-left: 1.5rem;
      margin-right: 1.5rem;
    }

    /* 24px */
    @mixin_my-6 {
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
    }

    /* 24px */
    @mixin_ms-6 {
      margin-inline-start: 1.5rem;
    }

    /* 24px */
    @mixin_me-6 {
      margin-inline-end: 1.5rem;
    }

    /* 24px */
    @mixin_mt-6 {
      margin-top: 1.5rem;
    }

    /* 24px */
    @mixin_mr-6 {
      margin-right: 1.5rem;
    }

    /* 24px */
    @mixin_mb-6 {
      margin-bottom: 1.5rem;
    }

    /* 24px */
    @mixin_ml-6 {
      margin-left: 1.5rem;
    }

    /* 28px */
    @mixin_m-7 {
      margin: 1.75rem;
    }

    /* 28px */
    @mixin_mx-7 {
      margin-left: 1.75rem;
      margin-right: 1.75rem;
    }

    /* 28px */
    @mixin_my-7 {
      margin-top: 1.75rem;
      margin-bottom: 1.75rem;
    }

    /* 28px */
    @mixin_ms-7 {
      margin-inline-start: 1.75rem;
    }

    /* 28px */
    @mixin_me-7 {
      margin-inline-end: 1.75rem;
    }

    /* 28px */
    @mixin_mt-7 {
      margin-top: 1.75rem;
    }

    /* 28px */
    @mixin_mr-7 {
      margin-right: 1.75rem;
    }

    /* 28px */
    @mixin_mb-7 {
      margin-bottom: 1.75rem;
    }

    /* 28px */
    @mixin_ml-7 {
      margin-left: 1.75rem;
    }

    /* 32px */
    @mixin_m-8 {
      margin: 2rem;
    }

    /* 32px */
    @mixin_mx-8 {
      margin-left: 2rem;
      margin-right: 2rem;
    }

    /* 32px */
    @mixin_my-8 {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }

    /* 32px */
    @mixin_ms-8 {
      margin-inline-start: 2rem;
    }

    /* 32px */
    @mixin_me-8 {
      margin-inline-end: 2rem;
    }

    /* 32px */
    @mixin_mt-8 {
      margin-top: 2rem;
    }

    /* 32px */
    @mixin_mr-8 {
      margin-right: 2rem;
    }

    /* 32px */
    @mixin_mb-8 {
      margin-bottom: 2rem;
    }

    /* 32px */
    @mixin_ml-8 {
      margin-left: 2rem;
    }

    /* 36px */
    @mixin_m-9 {
      margin: 2.25rem;
    }

    /* 36px */
    @mixin_mx-9 {
      margin-left: 2.25rem;
      margin-right: 2.25rem;
    }

    /* 36px */
    @mixin_my-9 {
      margin-top: 2.25rem;
      margin-bottom: 2.25rem;
    }

    /* 36px */
    @mixin_ms-9 {
      margin-inline-start: 2.25rem;
    }

    /* 36px */
    @mixin_me-9 {
      margin-inline-end: 2.25rem;
    }

    /* 36px */
    @mixin_mt-9 {
      margin-top: 2.25rem;
    }

    /* 36px */
    @mixin_mr-9 {
      margin-right: 2.25rem;
    }

    /* 36px */
    @mixin_mb-9 {
      margin-bottom: 2.25rem;
    }

    /* 36px */
    @mixin_ml-9 {
      margin-left: 2.25rem;
    }

    /* 40px */
    @mixin_m-10 {
      margin: 2.5rem;
    }

    /* 40px */
    @mixin_mx-10 {
      margin-left: 2.5rem;
      margin-right: 2.5rem;
    }

    /* 40px */
    @mixin_my-10 {
      margin-top: 2.5rem;
      margin-bottom: 2.5rem;
    }

    /* 40px */
    @mixin_ms-10 {
      margin-inline-start: 2.5rem;
    }

    /* 40px */
    @mixin_me-10 {
      margin-inline-end: 2.5rem;
    }

    /* 40px */
    @mixin_mt-10 {
      margin-top: 2.5rem;
    }

    /* 40px */
    @mixin_mr-10 {
      margin-right: 2.5rem;
    }

    /* 40px */
    @mixin_mb-10 {
      margin-bottom: 2.5rem;
    }

    /* 40px */
    @mixin_ml-10 {
      margin-left: 2.5rem;
    }

    /* 44px */
    @mixin_m-11 {
      margin: 2.75rem;
    }

    /* 44px */
    @mixin_mx-11 {
      margin-left: 2.75rem;
      margin-right: 2.75rem;
    }

    /* 44px */
    @mixin_my-11 {
      margin-top: 2.75rem;
      margin-bottom: 2.75rem;
    }

    /* 44px */
    @mixin_ms-11 {
      margin-inline-start: 2.75rem;
    }

    /* 44px */
    @mixin_me-11 {
      margin-inline-end: 2.75rem;
    }

    /* 44px */
    @mixin_mt-11 {
      margin-top: 2.75rem;
    }

    /* 44px */
    @mixin_mr-11 {
      margin-right: 2.75rem;
    }

    /* 44px */
    @mixin_mb-11 {
      margin-bottom: 2.75rem;
    }

    /* 44px */
    @mixin_ml-11 {
      margin-left: 2.75rem;
    }

    /* 48px */
    @mixin_m-12 {
      margin: 3rem;
    }

    /* 48px */
    @mixin_mx-12 {
      margin-left: 3rem;
      margin-right: 3rem;
    }

    /* 48px */
    @mixin_my-12 {
      margin-top: 3rem;
      margin-bottom: 3rem;
    }

    /* 48px */
    @mixin_ms-12 {
      margin-inline-start: 3rem;
    }

    /* 48px */
    @mixin_me-12 {
      margin-inline-end: 3rem;
    }

    /* 48px */
    @mixin_mt-12 {
      margin-top: 3rem;
    }

    /* 48px */
    @mixin_mr-12 {
      margin-right: 3rem;
    }

    /* 48px */
    @mixin_mb-12 {
      margin-bottom: 3rem;
    }

    /* 48px */
    @mixin_ml-12 {
      margin-left: 3rem;
    }

    /* 56px */
    @mixin_m-14 {
      margin: 3.5rem;
    }

    /* 56px */
    @mixin_mx-14 {
      margin-left: 3.5rem;
      margin-right: 3.5rem;
    }

    /* 56px */
    @mixin_my-14 {
      margin-top: 3.5rem;
      margin-bottom: 3.5rem;
    }

    /* 56px */
    @mixin_ms-14 {
      margin-inline-start: 3.5rem;
    }

    /* 56px */
    @mixin_me-14 {
      margin-inline-end: 3.5rem;
    }

    /* 56px */
    @mixin_mt-14 {
      margin-top: 3.5rem;
    }

    /* 56px */
    @mixin_mr-14 {
      margin-right: 3.5rem;
    }

    /* 56px */
    @mixin_mb-14 {
      margin-bottom: 3.5rem;
    }

    /* 56px */
    @mixin_ml-14 {
      margin-left: 3.5rem;
    }

    /* 64px */
    @mixin_m-16 {
      margin: 4rem;
    }

    /* 64px */
    @mixin_mx-16 {
      margin-left: 4rem;
      margin-right: 4rem;
    }

    /* 64px */
    @mixin_my-16 {
      margin-top: 4rem;
      margin-bottom: 4rem;
    }

    /* 64px */
    @mixin_ms-16 {
      margin-inline-start: 4rem;
    }

    /* 64px */
    @mixin_me-16 {
      margin-inline-end: 4rem;
    }

    /* 64px */
    @mixin_mt-16 {
      margin-top: 4rem;
    }

    /* 64px */
    @mixin_mr-16 {
      margin-right: 4rem;
    }

    /* 64px */
    @mixin_mb-16 {
      margin-bottom: 4rem;
    }

    /* 64px */
    @mixin_ml-16 {
      margin-left: 4rem;
    }

    /* 80px */
    @mixin_m-20 {
      margin: 5rem;
    }

    /* 80px */
    @mixin_mx-20 {
      margin-left: 5rem;
      margin-right: 5rem;
    }

    /* 80px */
    @mixin_my-20 {
      margin-top: 5rem;
      margin-bottom: 5rem;
    }

    /* 80px */
    @mixin_ms-20 {
      margin-inline-start: 5rem;
    }

    /* 80px */
    @mixin_me-20 {
      margin-inline-end: 5rem;
    }

    /* 80px */
    @mixin_mt-20 {
      margin-top: 5rem;
    }

    /* 80px */
    @mixin_mr-20 {
      margin-right: 5rem;
    }

    /* 80px */
    @mixin_mb-20 {
      margin-bottom: 5rem;
    }

    /* 80px */
    @mixin_ml-20 {
      margin-left: 5rem;
    }

    /* 96px */
    @mixin_m-24 {
      margin: 6rem;
    }

    /* 96px */
    @mixin_mx-24 {
      margin-left: 6rem;
      margin-right: 6rem;
    }

    /* 96px */
    @mixin_my-24 {
      margin-top: 6rem;
      margin-bottom: 6rem;
    }

    /* 96px */
    @mixin_ms-24 {
      margin-inline-start: 6rem;
    }

    /* 96px */
    @mixin_me-24 {
      margin-inline-end: 6rem;
    }

    /* 96px */
    @mixin_mt-24 {
      margin-top: 6rem;
    }

    /* 96px */
    @mixin_mr-24 {
      margin-right: 6rem;
    }

    /* 96px */
    @mixin_mb-24 {
      margin-bottom: 6rem;
    }

    /* 96px */
    @mixin_ml-24 {
      margin-left: 6rem;
    }

    /* 112px */
    @mixin_m-28 {
      margin: 7rem;
    }

    /* 112px */
    @mixin_mx-28 {
      margin-left: 7rem;
      margin-right: 7rem;
    }

    /* 112px */
    @mixin_my-28 {
      margin-top: 7rem;
      margin-bottom: 7rem;
    }

    /* 112px */
    @mixin_ms-28 {
      margin-inline-start: 7rem;
    }

    /* 112px */
    @mixin_me-28 {
      margin-inline-end: 7rem;
    }

    /* 112px */
    @mixin_mt-28 {
      margin-top: 7rem;
    }

    /* 112px */
    @mixin_mr-28 {
      margin-right: 7rem;
    }

    /* 112px */
    @mixin_mb-28 {
      margin-bottom: 7rem;
    }

    /* 112px */
    @mixin_ml-28 {
      margin-left: 7rem;
    }

    /* 128px */
    @mixin_m-32 {
      margin: 8rem;
    }

    /* 128px */
    @mixin_mx-32 {
      margin-left: 8rem;
      margin-right: 8rem;
    }

    /* 128px */
    @mixin_my-32 {
      margin-top: 8rem;
      margin-bottom: 8rem;
    }

    /* 128px */
    @mixin_ms-32 {
      margin-inline-start: 8rem;
    }

    /* 128px */
    @mixin_me-32 {
      margin-inline-end: 8rem;
    }

    /* 128px */
    @mixin_mt-32 {
      margin-top: 8rem;
    }

    /* 128px */
    @mixin_mr-32 {
      margin-right: 8rem;
    }

    /* 128px */
    @mixin_mb-32 {
      margin-bottom: 8rem;
    }

    /* 128px */
    @mixin_ml-32 {
      margin-left: 8rem;
    }

    /* 144px */
    @mixin_m-36 {
      margin: 9rem;
    }

    /* 144px */
    @mixin_mx-36 {
      margin-left: 9rem;
      margin-right: 9rem;
    }

    /* 144px */
    @mixin_my-36 {
      margin-top: 9rem;
      margin-bottom: 9rem;
    }

    /* 144px */
    @mixin_ms-36 {
      margin-inline-start: 9rem;
    }

    /* 144px */
    @mixin_me-36 {
      margin-inline-end: 9rem;
    }

    /* 144px */
    @mixin_mt-36 {
      margin-top: 9rem;
    }

    /* 144px */
    @mixin_mr-36 {
      margin-right: 9rem;
    }

    /* 144px */
    @mixin_mb-36 {
      margin-bottom: 9rem;
    }

    /* 144px */
    @mixin_ml-36 {
      margin-left: 9rem;
    }

    /* 160px */
    @mixin_m-40 {
      margin: 10rem;
    }

    /* 160px */
    @mixin_mx-40 {
      margin-left: 10rem;
      margin-right: 10rem;
    }

    /* 160px */
    @mixin_my-40 {
      margin-top: 10rem;
      margin-bottom: 10rem;
    }

    /* 160px */
    @mixin_ms-40 {
      margin-inline-start: 10rem;
    }

    /* 160px */
    @mixin_me-40 {
      margin-inline-end: 10rem;
    }

    /* 160px */
    @mixin_mt-40 {
      margin-top: 10rem;
    }

    /* 160px */
    @mixin_mr-40 {
      margin-right: 10rem;
    }

    /* 160px */
    @mixin_mb-40 {
      margin-bottom: 10rem;
    }

    /* 160px */
    @mixin_ml-40 {
      margin-left: 10rem;
    }

    /* 176px */
    @mixin_m-44 {
      margin: 11rem;
    }

    /* 176px */
    @mixin_mx-44 {
      margin-left: 11rem;
      margin-right: 11rem;
    }

    /* 176px */
    @mixin_my-44 {
      margin-top: 11rem;
      margin-bottom: 11rem;
    }

    /* 176px */
    @mixin_ms-44 {
      margin-inline-start: 11rem;
    }

    /* 176px */
    @mixin_me-44 {
      margin-inline-end: 11rem;
    }

    /* 176px */
    @mixin_mt-44 {
      margin-top: 11rem;
    }

    /* 176px */
    @mixin_mr-44 {
      margin-right: 11rem;
    }

    /* 176px */
    @mixin_mb-44 {
      margin-bottom: 11rem;
    }

    /* 176px */
    @mixin_ml-44 {
      margin-left: 11rem;
    }

    /* 192px */
    @mixin_m-48 {
      margin: 12rem;
    }

    /* 192px */
    @mixin_mx-48 {
      margin-left: 12rem;
      margin-right: 12rem;
    }

    /* 192px */
    @mixin_my-48 {
      margin-top: 12rem;
      margin-bottom: 12rem;
    }

    /* 192px */
    @mixin_ms-48 {
      margin-inline-start: 12rem;
    }

    /* 192px */
    @mixin_me-48 {
      margin-inline-end: 12rem;
    }

    /* 192px */
    @mixin_mt-48 {
      margin-top: 12rem;
    }

    /* 192px */
    @mixin_mr-48 {
      margin-right: 12rem;
    }

    /* 192px */
    @mixin_mb-48 {
      margin-bottom: 12rem;
    }

    /* 192px */
    @mixin_ml-48 {
      margin-left: 12rem;
    }

    /* 208px */
    @mixin_m-52 {
      margin: 13rem;
    }

    /* 208px */
    @mixin_mx-52 {
      margin-left: 13rem;
      margin-right: 13rem;
    }

    /* 208px */
    @mixin_my-52 {
      margin-top: 13rem;
      margin-bottom: 13rem;
    }

    /* 208px */
    @mixin_ms-52 {
      margin-inline-start: 13rem;
    }

    /* 208px */
    @mixin_me-52 {
      margin-inline-end: 13rem;
    }

    /* 208px */
    @mixin_mt-52 {
      margin-top: 13rem;
    }

    /* 208px */
    @mixin_mr-52 {
      margin-right: 13rem;
    }

    /* 208px */
    @mixin_mb-52 {
      margin-bottom: 13rem;
    }

    /* 208px */
    @mixin_ml-52 {
      margin-left: 13rem;
    }

    /* 224px */
    @mixin_m-56 {
      margin: 14rem;
    }

    /* 224px */
    @mixin_mx-56 {
      margin-left: 14rem;
      margin-right: 14rem;
    }

    /* 224px */
    @mixin_my-56 {
      margin-top: 14rem;
      margin-bottom: 14rem;
    }

    /* 224px */
    @mixin_ms-56 {
      margin-inline-start: 14rem;
    }

    /* 224px */
    @mixin_me-56 {
      margin-inline-end: 14rem;
    }

    /* 224px */
    @mixin_mt-56 {
      margin-top: 14rem;
    }

    /* 224px */
    @mixin_mr-56 {
      margin-right: 14rem;
    }

    /* 224px */
    @mixin_mb-56 {
      margin-bottom: 14rem;
    }

    /* 224px */
    @mixin_ml-56 {
      margin-left: 14rem;
    }

    /* 240px */
    @mixin_m-60 {
      margin: 15rem;
    }

    /* 240px */
    @mixin_mx-60 {
      margin-left: 15rem;
      margin-right: 15rem;
    }

    /* 240px */
    @mixin_my-60 {
      margin-top: 15rem;
      margin-bottom: 15rem;
    }

    /* 240px */
    @mixin_ms-60 {
      margin-inline-start: 15rem;
    }

    /* 240px */
    @mixin_me-60 {
      margin-inline-end: 15rem;
    }

    /* 240px */
    @mixin_mt-60 {
      margin-top: 15rem;
    }

    /* 240px */
    @mixin_mr-60 {
      margin-right: 15rem;
    }

    /* 240px */
    @mixin_mb-60 {
      margin-bottom: 15rem;
    }

    /* 240px */
    @mixin_ml-60 {
      margin-left: 15rem;
    }

    /* 256px */
    @mixin_m-64 {
      margin: 16rem;
    }

    /* 256px */
    @mixin_mx-64 {
      margin-left: 16rem;
      margin-right: 16rem;
    }

    /* 256px */
    @mixin_my-64 {
      margin-top: 16rem;
      margin-bottom: 16rem;
    }

    /* 256px */
    @mixin_ms-64 {
      margin-inline-start: 16rem;
    }

    /* 256px */
    @mixin_me-64 {
      margin-inline-end: 16rem;
    }

    /* 256px */
    @mixin_mt-64 {
      margin-top: 16rem;
    }

    /* 256px */
    @mixin_mr-64 {
      margin-right: 16rem;
    }

    /* 256px */
    @mixin_mb-64 {
      margin-bottom: 16rem;
    }

    /* 256px */
    @mixin_ml-64 {
      margin-left: 16rem;
    }

    /* 288px */
    @mixin_m-72 {
      margin: 18rem;
    }

    /* 288px */
    @mixin_mx-72 {
      margin-left: 18rem;
      margin-right: 18rem;
    }

    /* 288px */
    @mixin_my-72 {
      margin-top: 18rem;
      margin-bottom: 18rem;
    }

    /* 288px */
    @mixin_ms-72 {
      margin-inline-start: 18rem;
    }

    /* 288px */
    @mixin_me-72 {
      margin-inline-end: 18rem;
    }

    /* 288px */
    @mixin_mt-72 {
      margin-top: 18rem;
    }

    /* 288px */
    @mixin_mr-72 {
      margin-right: 18rem;
    }

    /* 288px */
    @mixin_mb-72 {
      margin-bottom: 18rem;
    }

    /* 288px */
    @mixin_ml-72 {
      margin-left: 18rem;
    }

    /* 320px */
    @mixin_m-80 {
      margin: 20rem;
    }

    /* 320px */
    @mixin_mx-80 {
      margin-left: 20rem;
      margin-right: 20rem;
    }

    /* 320px */
    @mixin_my-80 {
      margin-top: 20rem;
      margin-bottom: 20rem;
    }

    /* 320px */
    @mixin_ms-80 {
      margin-inline-start: 20rem;
    }

    /* 320px */
    @mixin_me-80 {
      margin-inline-end: 20rem;
    }

    /* 320px */
    @mixin_mt-80 {
      margin-top: 20rem;
    }

    /* 320px */
    @mixin_mr-80 {
      margin-right: 20rem;
    }

    /* 320px */
    @mixin_mb-80 {
      margin-bottom: 20rem;
    }

    /* 320px */
    @mixin_ml-80 {
      margin-left: 20rem;
    }

    /* 384px */
    @mixin_m-96 {
      margin: 24rem;
    }

    /* 384px */
    @mixin_mx-96 {
      margin-left: 24rem;
      margin-right: 24rem;
    }

    /* 384px */
    @mixin_my-96 {
      margin-top: 24rem;
      margin-bottom: 24rem;
    }

    /* 384px */
    @mixin_ms-96 {
      margin-inline-start: 24rem;
    }

    /* 384px */
    @mixin_me-96 {
      margin-inline-end: 24rem;
    }

    /* 384px */
    @mixin_mt-96 {
      margin-top: 24rem;
    }

    /* 384px */
    @mixin_mr-96 {
      margin-right: 24rem;
    }

    /* 384px */
    @mixin_mb-96 {
      margin-bottom: 24rem;
    }

    /* 384px */
    @mixin_ml-96 {
      margin-left: 24rem;
    }

    @mixin_m-auto {
      margin: auto;
    }

    @mixin_mx-auto {
      margin-left: auto;
      margin-right: auto;
    }

    @mixin_my-auto {
      margin-top: auto;
      margin-bottom: auto;
    }

    @mixin_ms-auto {
      margin-inline-start: auto;
    }

    @mixin_me-auto {
      margin-inline-end: auto;
    }

    @mixin_mt-auto {
      margin-top: auto;
    }

    @mixin_mr-auto {
      margin-right: auto;
    }

    @mixin_mb-auto {
      margin-bottom: auto;
    }

    @mixin_ml-auto {
      margin-left: auto;
    }

    @mixin_-m-0 {
      margin: -0px;
    }

    @mixin_-mx-0 {
      margin-left: -0px;
      margin-right: -0px;
    }

    @mixin_-my-0 {
      margin-top: -0px;
      margin-bottom: -0px;
    }

    @mixin_-ms-0 {
      margin-inline-start: -0px;
    }

    @mixin_-me-0 {
      margin-inline-end: -0px;
    }

    @mixin_-mt-0 {
      margin-top: -0px;
    }

    @mixin_-mr-0 {
      margin-right: -0px;
    }

    @mixin_-mb-0 {
      margin-bottom: -0px;
    }

    @mixin_-ml-0 {
      margin-left: -0px;
    }

    @mixin_-m-px {
      margin: -1px;
    }

    @mixin_-mx-px {
      margin-left: -1px;
      margin-right: -1px;
    }

    @mixin_-my-px {
      margin-top: -1px;
      margin-bottom: -1px;
    }

    @mixin_-ms-px {
      margin-inline-start: -1px;
    }

    @mixin_-me-px {
      margin-inline-end: -1px;
    }

    @mixin_-mt-px {
      margin-top: -1px;
    }

    @mixin_-mr-px {
      margin-right: -1px;
    }

    @mixin_-mb-px {
      margin-bottom: -1px;
    }

    @mixin_-ml-px {
      margin-left: -1px;
    }

    /* 2px */
    @mixin_-m-0\.5 {
      margin: -0.125rem;
    }

    /* 2px */
    @mixin_-mx-0\.5 {
      margin-left: -0.125rem;
      margin-right: -0.125rem;
    }

    /* 2px */
    @mixin_-my-0\.5 {
      margin-top: -0.125rem;
      margin-bottom: -0.125rem;
    }

    /* 2px */
    @mixin_-ms-0\.5 {
      margin-inline-start: -0.125rem;
    }

    /* 2px */
    @mixin_-me-0\.5 {
      margin-inline-end: -0.125rem;
    }

    /* 2px */
    @mixin_-mt-0\.5 {
      margin-top: -0.125rem;
    }

    /* 2px */
    @mixin_-mr-0\.5 {
      margin-right: -0.125rem;
    }

    /* 2px */
    @mixin_-mb-0\.5 {
      margin-bottom: -0.125rem;
    }

    /* 2px */
    @mixin_-ml-0\.5 {
      margin-left: -0.125rem;
    }

    /* 4px */
    @mixin_-m-1 {
      margin: -0.25rem;
    }

    /* 4px */
    @mixin_-mx-1 {
      margin-left: -0.25rem;
      margin-right: -0.25rem;
    }

    /* 4px */
    @mixin_-my-1 {
      margin-top: -0.25rem;
      margin-bottom: -0.25rem;
    }

    /* 4px */
    @mixin_-ms-1 {
      margin-inline-start: -0.25rem;
    }

    /* 4px */
    @mixin_-me-1 {
      margin-inline-end: -0.25rem;
    }

    /* 4px */
    @mixin_-mt-1 {
      margin-top: -0.25rem;
    }

    /* 4px */
    @mixin_-mr-1 {
      margin-right: -0.25rem;
    }

    /* 4px */
    @mixin_-mb-1 {
      margin-bottom: -0.25rem;
    }

    /* 4px */
    @mixin_-ml-1 {
      margin-left: -0.25rem;
    }

    /* 6px */
    @mixin_-m-1\.5 {
      margin: -0.375rem;
    }

    /* 6px */
    @mixin_-mx-1\.5 {
      margin-left: -0.375rem;
      margin-right: -0.375rem;
    }

    /* 6px */
    @mixin_-my-1\.5 {
      margin-top: -0.375rem;
      margin-bottom: -0.375rem;
    }

    /* 6px */
    @mixin_-ms-1\.5 {
      margin-inline-start: -0.375rem;
    }

    /* 6px */
    @mixin_-me-1\.5 {
      margin-inline-end: -0.375rem;
    }

    /* 6px */
    @mixin_-mt-1\.5 {
      margin-top: -0.375rem;
    }

    /* 6px */
    @mixin_-mr-1\.5 {
      margin-right: -0.375rem;
    }

    /* 6px */
    @mixin_-mb-1\.5 {
      margin-bottom: -0.375rem;
    }

    /* 6px */
    @mixin_-ml-1\.5 {
      margin-left: -0.375rem;
    }

    /* 8px */
    @mixin_-m-2 {
      margin: -0.5rem;
    }

    /* 8px */
    @mixin_-mx-2 {
      margin-left: -0.5rem;
      margin-right: -0.5rem;
    }

    /* 8px */
    @mixin_-my-2 {
      margin-top: -0.5rem;
      margin-bottom: -0.5rem;
    }

    /* 8px */
    @mixin_-ms-2 {
      margin-inline-start: -0.5rem;
    }

    /* 8px */
    @mixin_-me-2 {
      margin-inline-end: -0.5rem;
    }

    /* 8px */
    @mixin_-mt-2 {
      margin-top: -0.5rem;
    }

    /* 8px */
    @mixin_-mr-2 {
      margin-right: -0.5rem;
    }

    /* 8px */
    @mixin_-mb-2 {
      margin-bottom: -0.5rem;
    }

    /* 8px */
    @mixin_-ml-2 {
      margin-left: -0.5rem;
    }

    /* 10px */
    @mixin_-m-2\.5 {
      margin: -0.625rem;
    }

    /* 10px */
    @mixin_-mx-2\.5 {
      margin-left: -0.625rem;
      margin-right: -0.625rem;
    }

    /* 10px */
    @mixin_-my-2\.5 {
      margin-top: -0.625rem;
      margin-bottom: -0.625rem;
    }

    /* 10px */
    @mixin_-ms-2\.5 {
      margin-inline-start: -0.625rem;
    }

    /* 10px */
    @mixin_-me-2\.5 {
      margin-inline-end: -0.625rem;
    }

    /* 10px */
    @mixin_-mt-2\.5 {
      margin-top: -0.625rem;
    }

    /* 10px */
    @mixin_-mr-2\.5 {
      margin-right: -0.625rem;
    }

    /* 10px */
    @mixin_-mb-2\.5 {
      margin-bottom: -0.625rem;
    }

    /* 10px */
    @mixin_-ml-2\.5 {
      margin-left: -0.625rem;
    }

    /* 12px */
    @mixin_-m-3 {
      margin: -0.75rem;
    }

    /* 12px */
    @mixin_-mx-3 {
      margin-left: -0.75rem;
      margin-right: -0.75rem;
    }

    /* 12px */
    @mixin_-my-3 {
      margin-top: -0.75rem;
      margin-bottom: -0.75rem;
    }

    /* 12px */
    @mixin_-ms-3 {
      margin-inline-start: -0.75rem;
    }

    /* 12px */
    @mixin_-me-3 {
      margin-inline-end: -0.75rem;
    }

    /* 12px */
    @mixin_-mt-3 {
      margin-top: -0.75rem;
    }

    /* 12px */
    @mixin_-mr-3 {
      margin-right: -0.75rem;
    }

    /* 12px */
    @mixin_-mb-3 {
      margin-bottom: -0.75rem;
    }

    /* 12px */
    @mixin_-ml-3 {
      margin-left: -0.75rem;
    }

    /* 14px */
    @mixin_-m-3\.5 {
      margin: -0.875rem;
    }

    /* 14px */
    @mixin_-mx-3\.5 {
      margin-left: -0.875rem;
      margin-right: -0.875rem;
    }

    /* 14px */
    @mixin_-my-3\.5 {
      margin-top: -0.875rem;
      margin-bottom: -0.875rem;
    }

    /* 14px */
    @mixin_-ms-3\.5 {
      margin-inline-start: -0.875rem;
    }

    /* 14px */
    @mixin_-me-3\.5 {
      margin-inline-end: -0.875rem;
    }

    /* 14px */
    @mixin_-mt-3\.5 {
      margin-top: -0.875rem;
    }

    /* 14px */
    @mixin_-mr-3\.5 {
      margin-right: -0.875rem;
    }

    /* 14px */
    @mixin_-mb-3\.5 {
      margin-bottom: -0.875rem;
    }

    /* 14px */
    @mixin_-ml-3\.5 {
      margin-left: -0.875rem;
    }

    /* 16px */
    @mixin_-m-4 {
      margin: -1rem;
    }

    /* 16px */
    @mixin_-mx-4 {
      margin-left: -1rem;
      margin-right: -1rem;
    }

    /* 16px */
    @mixin_-my-4 {
      margin-top: -1rem;
      margin-bottom: -1rem;
    }

    /* 16px */
    @mixin_-ms-4 {
      margin-inline-start: -1rem;
    }

    /* 16px */
    @mixin_-me-4 {
      margin-inline-end: -1rem;
    }

    /* 16px */
    @mixin_-mt-4 {
      margin-top: -1rem;
    }

    /* 16px */
    @mixin_-mr-4 {
      margin-right: -1rem;
    }

    /* 16px */
    @mixin_-mb-4 {
      margin-bottom: -1rem;
    }

    /* 16px */
    @mixin_-ml-4 {
      margin-left: -1rem;
    }

    /* 20px */
    @mixin_-m-5 {
      margin: -1.25rem;
    }

    /* 20px */
    @mixin_-mx-5 {
      margin-left: -1.25rem;
      margin-right: -1.25rem;
    }

    /* 20px */
    @mixin_-my-5 {
      margin-top: -1.25rem;
      margin-bottom: -1.25rem;
    }

    /* 20px */
    @mixin_-ms-5 {
      margin-inline-start: -1.25rem;
    }

    /* 20px */
    @mixin_-me-5 {
      margin-inline-end: -1.25rem;
    }

    /* 20px */
    @mixin_-mt-5 {
      margin-top: -1.25rem;
    }

    /* 20px */
    @mixin_-mr-5 {
      margin-right: -1.25rem;
    }

    /* 20px */
    @mixin_-mb-5 {
      margin-bottom: -1.25rem;
    }

    /* 20px */
    @mixin_-ml-5 {
      margin-left: -1.25rem;
    }

    /* 24px */
    @mixin_-m-6 {
      margin: -1.5rem;
    }

    /* 24px */
    @mixin_-mx-6 {
      margin-left: -1.5rem;
      margin-right: -1.5rem;
    }

    /* 24px */
    @mixin_-my-6 {
      margin-top: -1.5rem;
      margin-bottom: -1.5rem;
    }

    /* 24px */
    @mixin_-ms-6 {
      margin-inline-start: -1.5rem;
    }

    /* 24px */
    @mixin_-me-6 {
      margin-inline-end: -1.5rem;
    }

    /* 24px */
    @mixin_-mt-6 {
      margin-top: -1.5rem;
    }

    /* 24px */
    @mixin_-mr-6 {
      margin-right: -1.5rem;
    }

    /* 24px */
    @mixin_-mb-6 {
      margin-bottom: -1.5rem;
    }

    /* 24px */
    @mixin_-ml-6 {
      margin-left: -1.5rem;
    }

    /* 28px */
    @mixin_-m-7 {
      margin: -1.75rem;
    }

    /* 28px */
    @mixin_-mx-7 {
      margin-left: -1.75rem;
      margin-right: -1.75rem;
    }

    /* 28px */
    @mixin_-my-7 {
      margin-top: -1.75rem;
      margin-bottom: -1.75rem;
    }

    /* 28px */
    @mixin_-ms-7 {
      margin-inline-start: -1.75rem;
    }

    /* 28px */
    @mixin_-me-7 {
      margin-inline-end: -1.75rem;
    }

    /* 28px */
    @mixin_-mt-7 {
      margin-top: -1.75rem;
    }

    /* 28px */
    @mixin_-mr-7 {
      margin-right: -1.75rem;
    }

    /* 28px */
    @mixin_-mb-7 {
      margin-bottom: -1.75rem;
    }

    /* 28px */
    @mixin_-ml-7 {
      margin-left: -1.75rem;
    }

    /* 32px */
    @mixin_-m-8 {
      margin: -2rem;
    }

    /* 32px */
    @mixin_-mx-8 {
      margin-left: -2rem;
      margin-right: -2rem;
    }

    /* 32px */
    @mixin_-my-8 {
      margin-top: -2rem;
      margin-bottom: -2rem;
    }

    /* 32px */
    @mixin_-ms-8 {
      margin-inline-start: -2rem;
    }

    /* 32px */
    @mixin_-me-8 {
      margin-inline-end: -2rem;
    }

    /* 32px */
    @mixin_-mt-8 {
      margin-top: -2rem;
    }

    /* 32px */
    @mixin_-mr-8 {
      margin-right: -2rem;
    }

    /* 32px */
    @mixin_-mb-8 {
      margin-bottom: -2rem;
    }

    /* 32px */
    @mixin_-ml-8 {
      margin-left: -2rem;
    }

    /* 36px */
    @mixin_-m-9 {
      margin: -2.25rem;
    }

    /* 36px */
    @mixin_-mx-9 {
      margin-left: -2.25rem;
      margin-right: -2.25rem;
    }

    /* 36px */
    @mixin_-my-9 {
      margin-top: -2.25rem;
      margin-bottom: -2.25rem;
    }

    /* 36px */
    @mixin_-ms-9 {
      margin-inline-start: -2.25rem;
    }

    /* 36px */
    @mixin_-me-9 {
      margin-inline-end: -2.25rem;
    }

    /* 36px */
    @mixin_-mt-9 {
      margin-top: -2.25rem;
    }

    /* 36px */
    @mixin_-mr-9 {
      margin-right: -2.25rem;
    }

    /* 36px */
    @mixin_-mb-9 {
      margin-bottom: -2.25rem;
    }

    /* 36px */
    @mixin_-ml-9 {
      margin-left: -2.25rem;
    }

    /* 40px */
    @mixin_-m-10 {
      margin: -2.5rem;
    }

    /* 40px */
    @mixin_-mx-10 {
      margin-left: -2.5rem;
      margin-right: -2.5rem;
    }

    /* 40px */
    @mixin_-my-10 {
      margin-top: -2.5rem;
      margin-bottom: -2.5rem;
    }

    /* 40px */
    @mixin_-ms-10 {
      margin-inline-start: -2.5rem;
    }

    /* 40px */
    @mixin_-me-10 {
      margin-inline-end: -2.5rem;
    }

    /* 40px */
    @mixin_-mt-10 {
      margin-top: -2.5rem;
    }

    /* 40px */
    @mixin_-mr-10 {
      margin-right: -2.5rem;
    }

    /* 40px */
    @mixin_-mb-10 {
      margin-bottom: -2.5rem;
    }

    /* 40px */
    @mixin_-ml-10 {
      margin-left: -2.5rem;
    }

    /* 44px */
    @mixin_-m-11 {
      margin: -2.75rem;
    }

    /* 44px */
    @mixin_-mx-11 {
      margin-left: -2.75rem;
      margin-right: -2.75rem;
    }

    /* 44px */
    @mixin_-my-11 {
      margin-top: -2.75rem;
      margin-bottom: -2.75rem;
    }

    /* 44px */
    @mixin_-ms-11 {
      margin-inline-start: -2.75rem;
    }

    /* 44px */
    @mixin_-me-11 {
      margin-inline-end: -2.75rem;
    }

    /* 44px */
    @mixin_-mt-11 {
      margin-top: -2.75rem;
    }

    /* 44px */
    @mixin_-mr-11 {
      margin-right: -2.75rem;
    }

    /* 44px */
    @mixin_-mb-11 {
      margin-bottom: -2.75rem;
    }

    /* 44px */
    @mixin_-ml-11 {
      margin-left: -2.75rem;
    }

    /* 48px */
    @mixin_-m-12 {
      margin: -3rem;
    }

    /* 48px */
    @mixin_-mx-12 {
      margin-left: -3rem;
      margin-right: -3rem;
    }

    /* 48px */
    @mixin_-my-12 {
      margin-top: -3rem;
      margin-bottom: -3rem;
    }

    /* 48px */
    @mixin_-ms-12 {
      margin-inline-start: -3rem;
    }

    /* 48px */
    @mixin_-me-12 {
      margin-inline-end: -3rem;
    }

    /* 48px */
    @mixin_-mt-12 {
      margin-top: -3rem;
    }

    /* 48px */
    @mixin_-mr-12 {
      margin-right: -3rem;
    }

    /* 48px */
    @mixin_-mb-12 {
      margin-bottom: -3rem;
    }

    /* 48px */
    @mixin_-ml-12 {
      margin-left: -3rem;
    }

    /* 56px */
    @mixin_-m-14 {
      margin: -3.5rem;
    }

    /* 56px */
    @mixin_-mx-14 {
      margin-left: -3.5rem;
      margin-right: -3.5rem;
    }

    /* 56px */
    @mixin_-my-14 {
      margin-top: -3.5rem;
      margin-bottom: -3.5rem;
    }

    /* 56px */
    @mixin_-ms-14 {
      margin-inline-start: -3.5rem;
    }

    /* 56px */
    @mixin_-me-14 {
      margin-inline-end: -3.5rem;
    }

    /* 56px */
    @mixin_-mt-14 {
      margin-top: -3.5rem;
    }

    /* 56px */
    @mixin_-mr-14 {
      margin-right: -3.5rem;
    }

    /* 56px */
    @mixin_-mb-14 {
      margin-bottom: -3.5rem;
    }

    /* 56px */
    @mixin_-ml-14 {
      margin-left: -3.5rem;
    }

    /* 64px */
    @mixin_-m-16 {
      margin: -4rem;
    }

    /* 64px */
    @mixin_-mx-16 {
      margin-left: -4rem;
      margin-right: -4rem;
    }

    /* 64px */
    @mixin_-my-16 {
      margin-top: -4rem;
      margin-bottom: -4rem;
    }

    /* 64px */
    @mixin_-ms-16 {
      margin-inline-start: -4rem;
    }

    /* 64px */
    @mixin_-me-16 {
      margin-inline-end: -4rem;
    }

    /* 64px */
    @mixin_-mt-16 {
      margin-top: -4rem;
    }

    /* 64px */
    @mixin_-mr-16 {
      margin-right: -4rem;
    }

    /* 64px */
    @mixin_-mb-16 {
      margin-bottom: -4rem;
    }

    /* 64px */
    @mixin_-ml-16 {
      margin-left: -4rem;
    }

    /* 80px */
    @mixin_-m-20 {
      margin: -5rem;
    }

    /* 80px */
    @mixin_-mx-20 {
      margin-left: -5rem;
      margin-right: -5rem;
    }

    /* 80px */
    @mixin_-my-20 {
      margin-top: -5rem;
      margin-bottom: -5rem;
    }

    /* 80px */
    @mixin_-ms-20 {
      margin-inline-start: -5rem;
    }

    /* 80px */
    @mixin_-me-20 {
      margin-inline-end: -5rem;
    }

    /* 80px */
    @mixin_-mt-20 {
      margin-top: -5rem;
    }

    /* 80px */
    @mixin_-mr-20 {
      margin-right: -5rem;
    }

    /* 80px */
    @mixin_-mb-20 {
      margin-bottom: -5rem;
    }

    /* 80px */
    @mixin_-ml-20 {
      margin-left: -5rem;
    }

    /* 96px */
    @mixin_-m-24 {
      margin: -6rem;
    }

    /* 96px */
    @mixin_-mx-24 {
      margin-left: -6rem;
      margin-right: -6rem;
    }

    /* 96px */
    @mixin_-my-24 {
      margin-top: -6rem;
      margin-bottom: -6rem;
    }

    /* 96px */
    @mixin_-ms-24 {
      margin-inline-start: -6rem;
    }

    /* 96px */
    @mixin_-me-24 {
      margin-inline-end: -6rem;
    }

    /* 96px */
    @mixin_-mt-24 {
      margin-top: -6rem;
    }

    /* 96px */
    @mixin_-mr-24 {
      margin-right: -6rem;
    }

    /* 96px */
    @mixin_-mb-24 {
      margin-bottom: -6rem;
    }

    /* 96px */
    @mixin_-ml-24 {
      margin-left: -6rem;
    }

    /* 112px */
    @mixin_-m-28 {
      margin: -7rem;
    }

    /* 112px */
    @mixin_-mx-28 {
      margin-left: -7rem;
      margin-right: -7rem;
    }

    /* 112px */
    @mixin_-my-28 {
      margin-top: -7rem;
      margin-bottom: -7rem;
    }

    /* 112px */
    @mixin_-ms-28 {
      margin-inline-start: -7rem;
    }

    /* 112px */
    @mixin_-me-28 {
      margin-inline-end: -7rem;
    }

    /* 112px */
    @mixin_-mt-28 {
      margin-top: -7rem;
    }

    /* 112px */
    @mixin_-mr-28 {
      margin-right: -7rem;
    }

    /* 112px */
    @mixin_-mb-28 {
      margin-bottom: -7rem;
    }

    /* 112px */
    @mixin_-ml-28 {
      margin-left: -7rem;
    }

    /* 128px */
    @mixin_-m-32 {
      margin: -8rem;
    }

    /* 128px */
    @mixin_-mx-32 {
      margin-left: -8rem;
      margin-right: -8rem;
    }

    /* 128px */
    @mixin_-my-32 {
      margin-top: -8rem;
      margin-bottom: -8rem;
    }

    /* 128px */
    @mixin_-ms-32 {
      margin-inline-start: -8rem;
    }

    /* 128px */
    @mixin_-me-32 {
      margin-inline-end: -8rem;
    }

    /* 128px */
    @mixin_-mt-32 {
      margin-top: -8rem;
    }

    /* 128px */
    @mixin_-mr-32 {
      margin-right: -8rem;
    }

    /* 128px */
    @mixin_-mb-32 {
      margin-bottom: -8rem;
    }

    /* 128px */
    @mixin_-ml-32 {
      margin-left: -8rem;
    }

    /* 144px */
    @mixin_-m-36 {
      margin: -9rem;
    }

    /* 144px */
    @mixin_-mx-36 {
      margin-left: -9rem;
      margin-right: -9rem;
    }

    /* 144px */
    @mixin_-my-36 {
      margin-top: -9rem;
      margin-bottom: -9rem;
    }

    /* 144px */
    @mixin_-ms-36 {
      margin-inline-start: -9rem;
    }

    /* 144px */
    @mixin_-me-36 {
      margin-inline-end: -9rem;
    }

    /* 144px */
    @mixin_-mt-36 {
      margin-top: -9rem;
    }

    /* 144px */
    @mixin_-mr-36 {
      margin-right: -9rem;
    }

    /* 144px */
    @mixin_-mb-36 {
      margin-bottom: -9rem;
    }

    /* 144px */
    @mixin_-ml-36 {
      margin-left: -9rem;
    }

    /* 160px */
    @mixin_-m-40 {
      margin: -10rem;
    }

    /* 160px */
    @mixin_-mx-40 {
      margin-left: -10rem;
      margin-right: -10rem;
    }

    /* 160px */
    @mixin_-my-40 {
      margin-top: -10rem;
      margin-bottom: -10rem;
    }

    /* 160px */
    @mixin_-ms-40 {
      margin-inline-start: -10rem;
    }

    /* 160px */
    @mixin_-me-40 {
      margin-inline-end: -10rem;
    }

    /* 160px */
    @mixin_-mt-40 {
      margin-top: -10rem;
    }

    /* 160px */
    @mixin_-mr-40 {
      margin-right: -10rem;
    }

    /* 160px */
    @mixin_-mb-40 {
      margin-bottom: -10rem;
    }

    /* 160px */
    @mixin_-ml-40 {
      margin-left: -10rem;
    }

    /* 176px */
    @mixin_-m-44 {
      margin: -11rem;
    }

    /* 176px */
    @mixin_-mx-44 {
      margin-left: -11rem;
      margin-right: -11rem;
    }

    /* 176px */
    @mixin_-my-44 {
      margin-top: -11rem;
      margin-bottom: -11rem;
    }

    /* 176px */
    @mixin_-ms-44 {
      margin-inline-start: -11rem;
    }

    /* 176px */
    @mixin_-me-44 {
      margin-inline-end: -11rem;
    }

    /* 176px */
    @mixin_-mt-44 {
      margin-top: -11rem;
    }

    /* 176px */
    @mixin_-mr-44 {
      margin-right: -11rem;
    }

    /* 176px */
    @mixin_-mb-44 {
      margin-bottom: -11rem;
    }

    /* 176px */
    @mixin_-ml-44 {
      margin-left: -11rem;
    }

    /* 192px */
    @mixin_-m-48 {
      margin: -12rem;
    }

    /* 192px */
    @mixin_-mx-48 {
      margin-left: -12rem;
      margin-right: -12rem;
    }

    /* 192px */
    @mixin_-my-48 {
      margin-top: -12rem;
      margin-bottom: -12rem;
    }

    /* 192px */
    @mixin_-ms-48 {
      margin-inline-start: -12rem;
    }

    /* 192px */
    @mixin_-me-48 {
      margin-inline-end: -12rem;
    }

    /* 192px */
    @mixin_-mt-48 {
      margin-top: -12rem;
    }

    /* 192px */
    @mixin_-mr-48 {
      margin-right: -12rem;
    }

    /* 192px */
    @mixin_-mb-48 {
      margin-bottom: -12rem;
    }

    /* 192px */
    @mixin_-ml-48 {
      margin-left: -12rem;
    }

    /* 208px */
    @mixin_-m-52 {
      margin: -13rem;
    }

    /* 208px */
    @mixin_-mx-52 {
      margin-left: -13rem;
      margin-right: -13rem;
    }

    /* 208px */
    @mixin_-my-52 {
      margin-top: -13rem;
      margin-bottom: -13rem;
    }

    /* 208px */
    @mixin_-ms-52 {
      margin-inline-start: -13rem;
    }

    /* 208px */
    @mixin_-me-52 {
      margin-inline-end: -13rem;
    }

    /* 208px */
    @mixin_-mt-52 {
      margin-top: -13rem;
    }

    /* 208px */
    @mixin_-mr-52 {
      margin-right: -13rem;
    }

    /* 208px */
    @mixin_-mb-52 {
      margin-bottom: -13rem;
    }

    /* 208px */
    @mixin_-ml-52 {
      margin-left: -13rem;
    }

    /* 224px */
    @mixin_-m-56 {
      margin: -14rem;
    }

    /* 224px */
    @mixin_-mx-56 {
      margin-left: -14rem;
      margin-right: -14rem;
    }

    /* 224px */
    @mixin_-my-56 {
      margin-top: -14rem;
      margin-bottom: -14rem;
    }

    /* 224px */
    @mixin_-ms-56 {
      margin-inline-start: -14rem;
    }

    /* 224px */
    @mixin_-me-56 {
      margin-inline-end: -14rem;
    }

    /* 224px */
    @mixin_-mt-56 {
      margin-top: -14rem;
    }

    /* 224px */
    @mixin_-mr-56 {
      margin-right: -14rem;
    }

    /* 224px */
    @mixin_-mb-56 {
      margin-bottom: -14rem;
    }

    /* 224px */
    @mixin_-ml-56 {
      margin-left: -14rem;
    }

    /* 240px */
    @mixin_-m-60 {
      margin: -15rem;
    }

    /* 240px */
    @mixin_-mx-60 {
      margin-left: -15rem;
      margin-right: -15rem;
    }

    /* 240px */
    @mixin_-my-60 {
      margin-top: -15rem;
      margin-bottom: -15rem;
    }

    /* 240px */
    @mixin_-ms-60 {
      margin-inline-start: -15rem;
    }

    /* 240px */
    @mixin_-me-60 {
      margin-inline-end: -15rem;
    }

    /* 240px */
    @mixin_-mt-60 {
      margin-top: -15rem;
    }

    /* 240px */
    @mixin_-mr-60 {
      margin-right: -15rem;
    }

    /* 240px */
    @mixin_-mb-60 {
      margin-bottom: -15rem;
    }

    /* 240px */
    @mixin_-ml-60 {
      margin-left: -15rem;
    }

    /* 256px */
    @mixin_-m-64 {
      margin: -16rem;
    }

    /* 256px */
    @mixin_-mx-64 {
      margin-left: -16rem;
      margin-right: -16rem;
    }

    /* 256px */
    @mixin_-my-64 {
      margin-top: -16rem;
      margin-bottom: -16rem;
    }

    /* 256px */
    @mixin_-ms-64 {
      margin-inline-start: -16rem;
    }

    /* 256px */
    @mixin_-me-64 {
      margin-inline-end: -16rem;
    }

    /* 256px */
    @mixin_-mt-64 {
      margin-top: -16rem;
    }

    /* 256px */
    @mixin_-mr-64 {
      margin-right: -16rem;
    }

    /* 256px */
    @mixin_-mb-64 {
      margin-bottom: -16rem;
    }

    /* 256px */
    @mixin_-ml-64 {
      margin-left: -16rem;
    }

    /* 288px */
    @mixin_-m-72 {
      margin: -18rem;
    }

    /* 288px */
    @mixin_-mx-72 {
      margin-left: -18rem;
      margin-right: -18rem;
    }

    /* 288px */
    @mixin_-my-72 {
      margin-top: -18rem;
      margin-bottom: -18rem;
    }

    /* 288px */
    @mixin_-ms-72 {
      margin-inline-start: -18rem;
    }

    /* 288px */
    @mixin_-me-72 {
      margin-inline-end: -18rem;
    }

    /* 288px */
    @mixin_-mt-72 {
      margin-top: -18rem;
    }

    /* 288px */
    @mixin_-mr-72 {
      margin-right: -18rem;
    }

    /* 288px */
    @mixin_-mb-72 {
      margin-bottom: -18rem;
    }

    /* 288px */
    @mixin_-ml-72 {
      margin-left: -18rem;
    }

    /* 320px */
    @mixin_-m-80 {
      margin: -20rem;
    }

    /* 320px */
    @mixin_-mx-80 {
      margin-left: -20rem;
      margin-right: -20rem;
    }

    /* 320px */
    @mixin_-my-80 {
      margin-top: -20rem;
      margin-bottom: -20rem;
    }

    /* 320px */
    @mixin_-ms-80 {
      margin-inline-start: -20rem;
    }

    /* 320px */
    @mixin_-me-80 {
      margin-inline-end: -20rem;
    }

    /* 320px */
    @mixin_-mt-80 {
      margin-top: -20rem;
    }

    /* 320px */
    @mixin_-mr-80 {
      margin-right: -20rem;
    }

    /* 320px */
    @mixin_-mb-80 {
      margin-bottom: -20rem;
    }

    /* 320px */
    @mixin_-ml-80 {
      margin-left: -20rem;
    }

    /* 384px */
    @mixin_-m-96 {
      margin: -24rem;
    }

    /* 384px */
    @mixin_-mx-96 {
      margin-left: -24rem;
      margin-right: -24rem;
    }

    /* 384px */
    @mixin_-my-96 {
      margin-top: -24rem;
      margin-bottom: -24rem;
    }

    /* 384px */
    @mixin_-ms-96 {
      margin-inline-start: -24rem;
    }

    /* 384px */
    @mixin_-me-96 {
      margin-inline-end: -24rem;
    }

    /* 384px */
    @mixin_-mt-96 {
      margin-top: -24rem;
    }

    /* 384px */
    @mixin_-mr-96 {
      margin-right: -24rem;
    }

    /* 384px */
    @mixin_-mb-96 {
      margin-bottom: -24rem;
    }

    /* 384px */
    @mixin_-ml-96 {
      margin-left: -24rem;
    }
  }

  @if $Rwd {
    // reducing size for updating speed
    @if $isLite {
      @mixin_sm\:m-($value) {
        @media (min-width: $breakpoint-sm) {
          margin: _value;
        }
      }

      @mixin_sm\:mx-($value) {
        @media (min-width: $breakpoint-sm) {
          margin-left: _value;
          margin-right: _value;
        }
      }

      @mixin_sm\:my-($value) {
        @media (min-width: $breakpoint-sm) {
          margin-top: _value;
          margin-bottom: _value;
        }
      }

      @mixin_sm\:ms-($value) {
        @media (min-width: $breakpoint-sm) {
          margin-inline-start: _value;
        }
      }

      @mixin_sm\:me-($value) {
        @media (min-width: $breakpoint-sm) {
          margin-inline-end: _value;
        }
      }

      @mixin_sm\:mt-($value) {
        @media (min-width: $breakpoint-sm) {
          margin-top: _value;
        }
      }

      @mixin_sm\:mr-($value) {
        @media (min-width: $breakpoint-sm) {
          margin-right: _value;
        }
      }

      @mixin_sm\:mb-($value) {
        @media (min-width: $breakpoint-sm) {
          margin-bottom: _value;
        }
      }

      @mixin_sm\:ml-($value) {
        @media (min-width: $breakpoint-sm) {
          margin-left: _value;
        }
      }

      @mixin_md\:m-($value) {
        @media (min-width: $breakpoint-md) {
          margin: _value;
        }
      }

      @mixin_md\:mx-($value) {
        @media (min-width: $breakpoint-md) {
          margin-left: _value;
          margin-right: _value;
        }
      }

      @mixin_md\:my-($value) {
        @media (min-width: $breakpoint-md) {
          margin-top: _value;
          margin-bottom: _value;
        }
      }

      @mixin_md\:ms-($value) {
        @media (min-width: $breakpoint-md) {
          margin-inline-start: _value;
        }
      }

      @mixin_md\:me-($value) {
        @media (min-width: $breakpoint-md) {
          margin-inline-end: _value;
        }
      }

      @mixin_md\:mt-($value) {
        @media (min-width: $breakpoint-md) {
          margin-top: _value;
        }
      }

      @mixin_md\:mr-($value) {
        @media (min-width: $breakpoint-md) {
          margin-right: _value;
        }
      }

      @mixin_md\:mb-($value) {
        @media (min-width: $breakpoint-md) {
          margin-bottom: _value;
        }
      }

      @mixin_md\:ml-($value) {
        @media (min-width: $breakpoint-md) {
          margin-left: _value;
        }
      }

      @mixin_lg\:m-($value) {
        @media (min-width: $breakpoint-lg) {
          margin: _value;
        }
      }

      @mixin_lg\:mx-($value) {
        @media (min-width: $breakpoint-lg) {
          margin-left: _value;
          margin-right: _value;
        }
      }

      @mixin_lg\:my-($value) {
        @media (min-width: $breakpoint-lg) {
          margin-top: _value;
          margin-bottom: _value;
        }
      }

      @mixin_lg\:ms-($value) {
        @media (min-width: $breakpoint-lg) {
          margin-inline-start: _value;
        }
      }

      @mixin_lg\:me-($value) {
        @media (min-width: $breakpoint-lg) {
          margin-inline-end: _value;
        }
      }

      @mixin_lg\:mt-($value) {
        @media (min-width: $breakpoint-lg) {
          margin-top: _value;
        }
      }

      @mixin_lg\:mr-($value) {
        @media (min-width: $breakpoint-lg) {
          margin-right: _value;
        }
      }

      @mixin_lg\:mb-($value) {
        @media (min-width: $breakpoint-lg) {
          margin-bottom: _value;
        }
      }

      @mixin_lg\:ml-($value) {
        @media (min-width: $breakpoint-lg) {
          margin-left: _value;
        }
      }

      @mixin_xl\:m-($value) {
        @media (min-width: $breakpoint-xl) {
          margin: _value;
        }
      }

      @mixin_xl\:mx-($value) {
        @media (min-width: $breakpoint-xl) {
          margin-left: _value;
          margin-right: _value;
        }
      }

      @mixin_xl\:my-($value) {
        @media (min-width: $breakpoint-xl) {
          margin-top: _value;
          margin-bottom: _value;
        }
      }

      @mixin_xl\:ms-($value) {
        @media (min-width: $breakpoint-xl) {
          margin-inline-start: _value;
        }
      }

      @mixin_xl\:me-($value) {
        @media (min-width: $breakpoint-xl) {
          margin-inline-end: _value;
        }
      }

      @mixin_xl\:mt-($value) {
        @media (min-width: $breakpoint-xl) {
          margin-top: _value;
        }
      }

      @mixin_xl\:mr-($value) {
        @media (min-width: $breakpoint-xl) {
          margin-right: _value;
        }
      }

      @mixin_xl\:mb-($value) {
        @media (min-width: $breakpoint-xl) {
          margin-bottom: _value;
        }
      }

      @mixin_xl\:ml-($value) {
        @media (min-width: $breakpoint-xl) {
          margin-left: _value;
        }
      }

      @mixin_\\2xl\:m-($value) {
        @media (min-width: $breakpoint-2xl) {
          margin: _value;
        }
      }

      @mixin_\\2xl\:mx-($value) {
        @media (min-width: $breakpoint-2xl) {
          margin-left: _value;
          margin-right: _value;
        }
      }

      @mixin_\\2xl\:my-($value) {
        @media (min-width: $breakpoint-2xl) {
          margin-top: _value;
          margin-bottom: _value;
        }
      }

      @mixin_\\2xl\:ms-($value) {
        @media (min-width: $breakpoint-2xl) {
          margin-inline-start: _value;
        }
      }

      @mixin_\\2xl\:me-($value) {
        @media (min-width: $breakpoint-2xl) {
          margin-inline-end: _value;
        }
      }

      @mixin_\\2xl\:mt-($value) {
        @media (min-width: $breakpoint-2xl) {
          margin-top: _value;
        }
      }

      @mixin_\\2xl\:mr-($value) {
        @media (min-width: $breakpoint-2xl) {
          margin-right: _value;
        }
      }

      @mixin_\\2xl\:mb-($value) {
        @media (min-width: $breakpoint-2xl) {
          margin-bottom: _value;
        }
      }

      @mixin_\\2xl\:ml-($value) {
        @media (min-width: $breakpoint-2xl) {
          margin-left: _value;
        }
      }
    }

    // tailwind default
    @else {
    }
  }

  @if $Custom {
    @mixin_m-($value) {
      margin: _value;
    }

    @mixin_mx-($value) {
      margin-left: _value;
      margin-right: _value;
    }

    @mixin_my-($value) {
      margin-top: _value;
      margin-bottom: _value;
    }

    @mixin_ms-($value) {
      margin-inline-start: _value;
    }

    @mixin_me-($value) {
      margin-inline-end: _value;
    }

    @mixin_mt-($value) {
      margin-top: _value;
    }

    @mixin_mr-($value) {
      margin-right: _value;
    }

    @mixin_mb-($value) {
      margin-bottom: _value;
    }

    @mixin_ml-($value) {
      margin-left: _value;
    }
  }
}
