// 1st property: overflow
// 2nd property: display
// 3rd property: -webkit-box-orient
// 4th property: -webkit-line-clamp
$data: (
  'line-clamp-1': (
    hidden,
    -webkit-box,
    vertical,
    1,
  ),
  'line-clamp-2': (
    hidden,
    -webkit-box,
    vertical,
    2,
  ),
  'line-clamp-3': (
    hidden,
    -webkit-box,
    vertical,
    3,
  ),
  'line-clamp-4': (
    hidden,
    -webkit-box,
    vertical,
    4,
  ),
  'line-clamp-5': (
    hidden,
    -webkit-box,
    vertical,
    5,
  ),
  'line-clamp-6': (
    hidden,
    -webkit-box,
    vertical,
    6,
  ),
  'line-clamp-none': (
    visible,
    block,
    horizontal,
    none,
  ),
);

@if $isBasic {
  @each $key, $value in $data {
    /*x
    @mixin #{$key} {
      @include overflow(#{list.nth($value, 1)});
      @include display(#{list.nth($value, 2)});
      @include -webkit-box-orient(#{list.nth($value, 3)});
      @include -webkit-line-clamp(#{list.nth($value, 4)});
    }
    x*/
  }
}

@if $isArbitrary {
  /*x
  @mixin line-clamp-($v) {
    @include overflow(hidden);
    @include display(-webkit-box);
    @include -webkit-box-orient(vertical);
    @include -webkit-line-clamp($v);
  }
  x*/
}
