$LineHeight: (
  'leading-3': '$_leading-3',
  'leading-4': '$_leading-4',
  'leading-5': '$_leading-5',
  'leading-6': '$_leading-6',
  'leading-7': '$_leading-7',
  'leading-8': '$_leading-8',
  'leading-9': '$_leading-9',
  'leading-10': '$_leading-10',
  'leading-none': '$_leading-none',
  'leading-tight': '$_leading-tight',
  'leading-snug': '$_leading-snug',
  'leading-normal': '$_leading-normal',
  'leading-relaxed': '$_leading-relaxed',
  'leading-loose': '$_leading-loose',
);

@if $isBasic {
  @each $key, $value in $LineHeight {
    /*x
    @mixin #{$key} {
      @include line-height(#{$value});
    }
    x*/
  }
}

@if $isRwd and $isClassic {
  @each $rwdToken, $rwd in $rwdBox {
    @each $key, $value in $LineHeight {
      /*x
      @mixin #{$rwdToken}\:#{$key} {
        @include line-height(#{$value}, #{$rwd});
      }
      x*/
    }
  }
}

@if $isCustom {
  /*x
  @mixin leading-($v) {
    @include line-height($v);
  }
  x*/

  @each $rwdToken, $rwd in $rwdBox {
    /*x
    @mixin #{$rwdToken}\:leading-($v) {
      @include line-height($v, #{$rwd});
    }
    x*/
  }
}
