$TextUnderlineOffset: (
  'underline-offset-auto': auto,
  'underline-offset-0': 0px,
  'underline-offset-1': 1px,
  'underline-offset-2': 2px,
  'underline-offset-4': 4px,
  'underline-offset-8': 8px,
);

@if $isBasic {
  @each $key, $value in $TextUnderlineOffset {
    /*x
    @mixin #{$key} {
      @include text-underline-offset(#{$value});
    }
    x*/
  }
}

@if $isRwd and $isClassic {
  @each $rwdToken, $rwd in $rwdBox {
    @each $key, $value in $TextUnderlineOffset {
      /*x
      @mixin #{$rwdToken}\:#{$key} {
        @include text-underline-offset(#{$value}, #{$rwd});
      }
      x*/
    }
  }
}

@if $isCustom {
  /*x
  @mixin underline-offset-($v) {
    @include text-underline-offset($v);
  }
  x*/

  @each $rwdToken, $rwd in $rwdBox {
    /*x
    @mixin #{$rwdToken}\:underline-offset-($v) {
      @include text-underline-offset($v, #{$rwd});
    }
    x*/
  }
}
