$TextDecoration: (
  'underline': underline,
  'overline': overline,
  'line-through': line-through,
  'no-underline': none,
);

@if $isBasic {
  @each $key, $value in $TextDecoration {
    /*x
    @mixin #{$key}{
      @include 	text-decoration-line(#{$value});
    }
    x*/
  }
}

@if $isRwd and (not $isAwaken) {
  @each $rwdToken, $rwd in $rwdBox {
    @each $key, $value in $TextDecoration {
      /*x
      @mixin #{$rwdToken}\:#{$key}{
        @include 	text-decoration-line(#{$value}, #{$rwd});
      }
      x*/
    }
  }
}
