// arbitrary utility same as @mixin decoration-($v)
$data: (
  'decoration-auto': auto,
  'decoration-from-font': from-font,
  'decoration-0': 0px,
  'decoration-1': 1px,
  'decoration-2': 2px,
  'decoration-4': 4px,
  'decoration-8': 8px,
);

@if $isBasic {
  @each $key, $value in $data {
    /*x
    @mixin #{$key} {
      @include text-decoration-thickness(#{$value});
    }
    x*/
  }
}
