$VerticalAlign: (
  'align-baseline': baseline,
  'align-top': top,
  'align-middle': middle,
  'align-bottom': bottom,
  'align-text-top': text-top,
  'align-text-bottom': text-bottom,
  'align-sub': sub,
  'align-super': super,
);

@if $isBasic {
  @each $key, $value in $VerticalAlign {
    /*x
    @mixin #{$key} {
      @include vertical-align(#{$value});
    }
    x*/
  }
}

@if $isRwd and (not $isAwaken) {
  @each $rwdToken, $rwd in $rwdBox {
    @each $key, $value in $VerticalAlign {
      /*x
      @mixin #{$rwdToken}\:#{$key} {
        @include vertical-align(#{$value}, #{$rwd});
      }
      x*/
    }

    /*x
    @mixin #{$rwdToken}\:align-($v) {
      @include vertical-align($v, #{$rwd});
    }
    x*/
  }
}

@if $isArbitrary {
  /*x
  @mixin align-($v) {
    @include vertical-align($v);
  }
  x*/
}
