// 1st property: overflow-wrap
// 2nd property: word-break
$data: (
  'break-normal': (
    normal,
    normal,
  ),
  'break-words': (
    break-word,
    'null',
  ),
  'break-all': (
    'null',
    break-all,
  ),
  'break-keep': (
    'null',
    keep-all,
  ),
);

@if $isBasic {
  @each $key, $value in $data {
    /*x
    @mixin #{$key} {
      @include overflow-wrap(#{list.nth($value, 1)});
      @include word-break(#{list.nth($value, 2)});
    }
    x*/
  }
}
