@use "../../../settings/structures" as *;

@if $OutlineWidth {
  #mixin__outline-0 {
    outline-width: 0px;
  }

  #mixin__outline-1 {
    outline-width: 1px;
  }

  #mixin__outline-2 {
    outline-width: 2px;
  }

  #mixin__outline-4 {
    outline-width: 4px;
  }

  #mixin__outline-8 {
    outline-width: 8px;
  }
}
