$BackdropSepia: (
  'backdrop-sepia-0': sepia(0),
  'backdrop-sepia': sepia(100%),
);

@if $isBasic {
  @each $key, $value in $BackdropSepia {
    /*x
    @mixin #{$key} {
      $tw-backdrop-sepia: #{$value} !global;
      @include backdrop-filter(_b-f());
    }
    x*/
  }
}

@if $isRwd and (not $isAwaken) {
  @each $rwdToken, $rwd in $rwdBox {
    @each $key, $value in $BackdropSepia {
      /*x
      @mixin #{$rwdToken}\:#{$key} {
        $tw-backdrop-sepia: #{$value} !global;
        @include backdrop-filter(_b-f(), #{$rwd});
      }
      x*/
    }

    /*x
    @mixin #{$rwdToken}\:backdrop-sepia-($v) {
      $tw-backdrop-sepia: sepia($v) !global;
      @include backdrop-filter(_b-f(), #{$rwd});
    }
    x*/
  }
}

@if $isArbitrary {
  /*x
  @mixin backdrop-sepia-($v) {
    $tw-backdrop-sepia: sepia($v) !global;
    @include backdrop-filter(_b-f());
  }
  x*/
}
