@use "../setting" as *;

$BackdropContrast: (
  "backdrop-contrast-0": contrast(0),
  "backdrop-contrast-50": contrast(0.5),
  "backdrop-contrast-75": contrast(0.75),
  "backdrop-contrast-100": contrast(1),
  "backdrop-contrast-125": contrast(1.25),
  "backdrop-contrast-150": contrast(1.5),
  "backdrop-contrast-200": contrast(2),
);

@if $isBasic {
  @each $key, $value in $BackdropContrast {
    /*x
    @mixin #{$key} {
      $tw-backdrop-contrast: #{$value} !global;
      @include backdrop-filter(_b-f());
    }
    x*/
  }
}

@if $isArbitrary {
  /*x
  @mixin backdrop-contrast-($v) {
    $tw-backdrop-contrast: contrast($v) !global;
    @include backdrop-filter(_b-f());
  }
  x*/
}
