$data: (
  'backdrop-hue-rotate-0': 0deg,
  'backdrop-hue-rotate-15': 15deg,
  'backdrop-hue-rotate-30': 30deg,
  'backdrop-hue-rotate-60': 60deg,
  'backdrop-hue-rotate-90': 90deg,
  'backdrop-hue-rotate-180': 180deg,
);

@if $isBasic {
  @each $key, $value in $data {
    /*x
    @mixin #{$key} {
      $tw-backdrop-hue-rotate: hue-rotate(#{$value}) !global;
      @include backdrop-filter(_b-f());
    }
    x*/
  }
}

@if $isArbitrary {
  /*x
  @mixin backdrop-hue-rotate-($v) {
    $tw-backdrop-hue-rotate: hue-rotate($v) !global;
    @include backdrop-filter(_b-f());
  }
  x*/
}

@if $isNegative {
  @if $isBasic {
    @each $key, $value in $data {
      /*x
      @mixin \-#{$key} {
        $tw-backdrop-hue-rotate: hue-rotate(-#{$value}) !global;
        @include backdrop-filter(_b-f());
      }
      x*/
    }
  }

  @if $isArbitrary {
    /*x
    @mixin \-backdrop-hue-rotate-($v) {
      $tw-backdrop-hue-rotate: hue-rotate(-$v) !global;
      @include backdrop-filter(_b-f());
    }
    x*/
  }
}
