$data: (
  'backdrop-sepia-0': sepia(0),
  'backdrop-sepia': sepia(100%),
);

@if $isBasic {
  @each $key, $value in $data {
    /*x
    @mixin #{$key} {
      $tw-backdrop-sepia: #{$value} !global;
      @include backdrop-filter(_b-f());
    }
    x*/
  }
}

@if $isArbitrary {
  /*x
  @mixin backdrop-sepia-($v) {
    $tw-backdrop-sepia: sepia($v) !global;
    @include backdrop-filter(_b-f());
  }
  x*/
}
