$BackdropBrightness: (
  'backdrop-brightness-0': brightness(0),
  'backdrop-brightness-50': brightness(0.5),
  'backdrop-brightness-75': brightness(0.75),
  'backdrop-brightness-90': brightness(0.9),
  'backdrop-brightness-95': brightness(0.95),
  'backdrop-brightness-100': brightness(1),
  'backdrop-brightness-105': brightness(1.05),
  'backdrop-brightness-110': brightness(1.1),
  'backdrop-brightness-125': brightness(1.25),
  'backdrop-brightness-150': brightness(1.5),
  'backdrop-brightness-200': brightness(2),
);

@if $isBasic {
  @each $key, $value in $BackdropBrightness {
    /*x
    @mixin #{$key} {
      $tw-backdrop-brightness: #{$value} !global;
      @include backdrop-filter(_b-f());
    }
    x*/
  }
}

@if $isRwd and $isClassic {
  @each $rwdToken, $rwd in $rwdBox {
    @each $key, $value in $BackdropBrightness {
      /*x
      @mixin #{$rwdToken}\:#{$key} {
        $tw-backdrop-brightness: #{$value} !global;
        @include backdrop-filter(_b-f(), #{$rwd});
      }
      x*/
    }
  }
}

@if $isArbitrary {
  /*x
  @mixin backdrop-brightness-($v) {
    $tw-backdrop-brightness: brightness($v) !global;
    @include backdrop-filter(_b-f());
  }
  x*/

  @each $rwdToken, $rwd in $rwdBox {
    /*x
    @mixin #{$rwdToken}\:backdrop-brightness-($v) {
      $tw-backdrop-brightness: brightness($v) !global;
      @include backdrop-filter(_b-f(), #{$rwd});
    }
    x*/
  }
}
