$BackdropBlur: (
  'backdrop-blur-none': blur(0),
  'backdrop-blur-sm': blur(4px),
  'backdrop-blur': blur(8px),
  'backdrop-blur-md': blur(12px),
  'backdrop-blur-lg': blur(16px),
  'backdrop-blur-xl': blur(24px),
  'backdrop-blur-2xl': blur(40px),
  'backdrop-blur-3xl': blur(64px),
);

@if $isBasic {
  @each $key, $value in $BackdropBlur {
    /*x
    @mixin #{$key} {
      $tw-backdrop-blur: #{$value} !global;
      @include backdrop-filter(_b-f());
    }
    x*/
  }
}

@if $isRwd and $isClassic {
  @each $rwdToken, $rwd in $rwdBox {
    @each $key, $value in $BackdropBlur {
      /*x
      @mixin #{$rwdToken}\:#{$key} {
        $tw-backdrop-blur: #{$value} !global;
        @include backdrop-filter(_b-f(), #{$rwd});
      }
      x*/
    }
  }
}

@if $isArbitrary {
  /*x
  @mixin backdrop-blur-($v) {
    $tw-backdrop-blur: blur($v) !global;
    @include backdrop-filter(_b-f());
  }
  x*/

  @each $rwdToken, $rwd in $rwdBox {
    /*x
    @mixin #{$rwdToken}\:backdrop-blur-($v) {
      $tw-backdrop-blur: blur($v) !global;
      @include backdrop-filter(_b-f(), #{$rwd});
    }
    x*/
  }
}
