$data: (
  'blur-none': blur(0),
  'blur-sm': blur(4px),
  'blur': blur(8px),
  'blur-md': blur(12px),
  'blur-lg': blur(16px),
  'blur-xl': blur(24px),
  'blur-2xl': blur(40px),
  'blur-3xl': blur(64px),
);

@if $isBasic {
  @each $key, $value in $data {
    /*x
    @mixin #{$key} {
      $tw-blur: #{$value} !global;
      @include filter(_f());
    }
    x*/
  }
}

@if $isArbitrary {
  /*x
  @mixin blur-($v) {
    $tw-blur: blur($v) !global;
    @include filter(_f());
  }
  x*/
}
