$data: (
  'contrast-0': contrast(0),
  'contrast-50': contrast(0.5),
  'contrast-75': contrast(0.75),
  'contrast-100': contrast(1),
  'contrast-125': contrast(1.25),
  'contrast-150': contrast(1.5),
  'contrast-200': contrast(2),
);

@if $isBasic {
  @each $key, $value in $data {
    /*x
    @mixin #{$key} {
      $tw-contrast: #{$value} !global;
      @include filter(_f());
    }
    x*/
  }
}

@if $isArbitrary {
  /*x
  @mixin contrast-($v) {
    $tw-contrast: contrast($v) !global;
    @include filter(_f());
  }
  x*/
}
