$Contrast: (
  'contrast-0': contrast(0),
  'contrast-50': contrast(0.5),
  'contrast-75': contrast(0.75),
  'contrast-100': contrast(1),
  'contrast-125': contrast(1.25),
  'contrast-150': contrast(1.5),
  'contrast-200': contrast(2),
);

@if $isBasic {
  @each $key, $value in $Contrast {
    /*x
    @mixin #{$key} {
      $tw-contrast: #{$value} !global;
      @include filter(_get_filter());
    }
    x*/
  }
}

@if $isRwd and $isClassic {
  @each $rwdToken, $rwd in $rwdBox {
    @each $key, $value in $Contrast {
      /*x
      @mixin #{$rwdToken}\:#{$key} {
        $tw-contrast: #{$value} !global;
        @include filter(_get_filter(), #{$rwd});
      }
      x*/
    }
  }
}

@if $isCustom {
  /*x
  @mixin contrast-($v) {
    $tw-contrast: contrast($v) !global;
    @include filter(_get_filter());
  }
  x*/

  @each $rwdToken, $rwd in $rwdBox {
    /*x
    @mixin #{$rwdToken}\:contrast-($v) {
      $tw-contrast: contrast($v) !global;
      @include filter(_get_filter(), #{$rwd});
    }
    x*/
  }
}
