$HueRotate: (
  'hue-rotate-0': 0deg,
  'hue-rotate-15': 15deg,
  'hue-rotate-30': 30deg,
  'hue-rotate-60': 60deg,
  'hue-rotate-90': 90deg,
  'hue-rotate-180': 180deg,
);

@if $isBasic {
  @each $key, $value in $HueRotate {
    /*x
    @mixin #{$key} {
      $tw-hue-rotate: hue-rotate(#{$value}) !global;
      @include filter(_f());
    }
    x*/
  }
}

@if $isRwd and $isClassic {
  @each $rwdToken, $rwd in $rwdBox {
    @each $key, $value in $HueRotate {
      /*x
      @mixin #{$rwdToken}\:#{$key} {
        $tw-hue-rotate: hue-rotate(#{$value}) !global;
        @include filter(_f(), #{$rwd});
      }
      x*/
    }
  }
}

@if $isCustom {
  /*x
  @mixin hue-rotate-($v) {
    $tw-hue-rotate: hue-rotate($v) !global;
    @include filter(_f());
  }
  x*/

  @each $rwdToken, $rwd in $rwdBox {
    /*x
    @mixin #{$rwdToken}\:hue-rotate-($v) {
      $tw-hue-rotate: hue-rotate($v) !global;
      @include filter(_f(), #{$rwd});
    }
    x*/
  }
}

@if $isNegative {
  @if $isBasic {
    @each $key, $value in $HueRotate {
      /*x
      @mixin -#{$key} {
        $tw-hue-rotate: hue-rotate(-#{$value}) !global;
        @include filter(_f());
      }
      x*/
    }
  }

  @if $isRwd and $isClassic {
    @each $rwdToken, $rwd in $rwdBox {
      @each $key, $value in $HueRotate {
        /*x
        @mixin #{$rwdToken}\:-#{$key} {
          $tw-hue-rotate: hue-rotate(-#{$value}) !global;
          @include filter(_f(), #{$rwd});
        }
        x*/
      }
    }
  }

  @if $isCustom {
    /*x
    @mixin -hue-rotate-($v) {
      $tw-hue-rotate: hue-rotate(-$v) !global;
      @include filter(_f());
    }
    x*/

    @each $rwdToken, $rwd in $rwdBox {
      /*x
      @mixin #{$rwdToken}\:-hue-rotate-($v) {
        $tw-hue-rotate: hue-rotate(-$v) !global;
        @include filter(_f(), #{$rwd});
      }
      x*/
    }
  }
}
