$Saturate: (
  'saturate-0': saturate(0),
  'saturate-50': saturate(0.5),
  'saturate-100': saturate(1),
  'saturate-150': saturate(1.5),
  'saturate-200': saturate(2),
);

@if $isBasic {
  @each $key, $value in $Saturate {
    /*x
    @mixin #{$key} {
      $tw-saturate: #{$value} !global;
      @include filter(_f());
    }
    x*/
  }
}

@if $isRwd and (not $isAwaken) {
  @each $rwdToken, $rwd in $rwdBox {
    @each $key, $value in $Saturate {
      /*x
      @mixin #{$rwdToken}\:#{$key} {
        $tw-saturate: #{$value} !global;
        @include filter(_f(), #{$rwd});
      }
      x*/
    }

    /*x
    @mixin #{$rwdToken}\:saturate-($v) {
      $tw-saturate: saturate($v) !global;
      @include filter(_f(), #{$rwd});
    }
    x*/
  }
}

@if $isArbitrary {
  /*x
  @mixin saturate-($v) {
    $tw-saturate: saturate($v) !global;
    @include filter(_f());
  }
  x*/
}
