$data: (
  'sepia-0': sepia(0),
  'sepia': sepia(100%),
);

@if $isBasic {
  @each $key, $value in $data {
    /*x
    @mixin #{$key} {
      $tw-sepia: #{$value} !global;
      @include filter(#{$value});
    }
    x*/
  }
}

@if $isArbitrary {
  /*x
  @mixin sepia-($v) {
    $tw-sepia: sepia($v) !global;
    @include filter(_f());
  }
  x*/
}
