@use "../../mode0" as *;
@use "true" as *;

@include describe("1.Layout") {
  @include describe("Box Decoration Break") {
    @include describe("Basic") {
      @include it("box-decoration-clone") {
        @include assert {
          @include output {
            @include box-decoration-clone;
            @include reset;
          }

          @include expect {
            box-decoration-break: clone;
          }
        }
      }

      @include it("box-decoration-slice") {
        @include assert {
          @include output {
            @include box-decoration-slice;
            @include reset;
          }

          @include expect {
            box-decoration-break: slice;
          }
        }
      }
    }

    @include describe("Rwd") {
      @include it("sm\:box-decoration-clone") {
        @include assert {
          @include output {
            @include sm\:box-decoration-clone;
            @include reset;
          }

          @include expect {
            @media (min-width: $sm) {
              box-decoration-break: clone;
            }
          }
        }
      }

      @include it("sm\:box-decoration-slice") {
        @include assert {
          @include output {
            @include sm\:box-decoration-slice;
            @include reset;
          }

          @include expect {
            @media (min-width: $sm) {
              box-decoration-break: slice;
            }
          }
        }
      }

      @include it("md\:box-decoration-clone") {
        @include assert {
          @include output {
            @include md\:box-decoration-clone;
            @include reset;
          }

          @include expect {
            @media (min-width: $md) {
              box-decoration-break: clone;
            }
          }
        }
      }

      @include it("md\:box-decoration-slice") {
        @include assert {
          @include output {
            @include md\:box-decoration-slice;
            @include reset;
          }

          @include expect {
            @media (min-width: $md) {
              box-decoration-break: slice;
            }
          }
        }
      }

      @include it("lg\:box-decoration-clone") {
        @include assert {
          @include output {
            @include lg\:box-decoration-clone;
            @include reset;
          }

          @include expect {
            @media (min-width: $lg) {
              box-decoration-break: clone;
            }
          }
        }
      }

      @include it("lg\:box-decoration-slice") {
        @include assert {
          @include output {
            @include lg\:box-decoration-slice;
            @include reset;
          }

          @include expect {
            @media (min-width: $lg) {
              box-decoration-break: slice;
            }
          }
        }
      }

      @include it("xl\:box-decoration-clone") {
        @include assert {
          @include output {
            @include xl\:box-decoration-clone;
            @include reset;
          }

          @include expect {
            @media (min-width: $xl) {
              box-decoration-break: clone;
            }
          }
        }
      }

      @include it("xl\:box-decoration-slice") {
        @include assert {
          @include output {
            @include xl\:box-decoration-slice;
            @include reset;
          }

          @include expect {
            @media (min-width: $xl) {
              box-decoration-break: slice;
            }
          }
        }
      }

      @include it("\2xl\:box-decoration-clone") {
        @include assert {
          @include output {
            @include \2xl\:box-decoration-clone;
            @include reset;
          }

          @include expect {
            @media (min-width: $\2xl) {
              box-decoration-break: clone;
            }
          }
        }
      }

      @include it("\2xl\:box-decoration-slice") {
        @include assert {
          @include output {
            @include \2xl\:box-decoration-slice;
            @include reset;
          }

          @include expect {
            @media (min-width: $\2xl) {
              box-decoration-break: slice;
            }
          }
        }
      }
    }
  }
}
