@use "../../setting" as *;
@use "../../mode0" as *;
@use "true" as *;

@include describe("7.Borders") {
  @include describe("Outline Width") {
    @include describe("Basic") {
      @include it("outline-0") {
        @include assert {
          @include output {
            @include outline-0;
            @include clear;
          }

          @include expect {
            outline-width: 0px;
          }
        }
      }

      @include it("outline-1") {
        @include assert {
          @include output {
            @include outline-1;
            @include clear;
          }

          @include expect {
            outline-width: 1px;
          }
        }
      }

      @include it("outline-2") {
        @include assert {
          @include output {
            @include outline-2;
            @include clear;
          }

          @include expect {
            outline-width: 2px;
          }
        }
      }

      @include it("outline-4	") {
        @include assert {
          @include output {
            @include outline-4;
            @include clear;
          }

          @include expect {
            outline-width: 4px;
          }
        }
      }

      @include it("outline-8") {
        @include assert {
          @include output {
            @include outline-8;
            @include clear;
          }

          @include expect {
            outline-width: 8px;
          }
        }
      }
    }

    @include describe("Rwd") {
      @include it("sm\:outline-0") {
        @include assert {
          @include output {
            @include sm\:outline-0;
            @include clear;
          }

          @include expect {
            @media (min-width: $sm) {
              outline-width: 0px;
            }
          }
        }
      }

      @include it("sm\:outline-1") {
        @include assert {
          @include output {
            @include sm\:outline-1;
            @include clear;
          }

          @include expect {
            @media (min-width: $sm) {
              outline-width: 1px;
            }
          }
        }
      }

      @include it("sm\:outline-2") {
        @include assert {
          @include output {
            @include sm\:outline-2;
            @include clear;
          }

          @include expect {
            @media (min-width: $sm) {
              outline-width: 2px;
            }
          }
        }
      }

      @include it("sm\:outline-4	") {
        @include assert {
          @include output {
            @include sm\:outline-4;
            @include clear;
          }

          @include expect {
            @media (min-width: $sm) {
              outline-width: 4px;
            }
          }
        }
      }

      @include it("sm\:outline-8") {
        @include assert {
          @include output {
            @include sm\:outline-8;
            @include clear;
          }

          @include expect {
            @media (min-width: $sm) {
              outline-width: 8px;
            }
          }
        }
      }

      @include it("md\:outline-0") {
        @include assert {
          @include output {
            @include md\:outline-0;
            @include clear;
          }

          @include expect {
            @media (min-width: $md) {
              outline-width: 0px;
            }
          }
        }
      }

      @include it("md\:outline-1") {
        @include assert {
          @include output {
            @include md\:outline-1;
            @include clear;
          }

          @include expect {
            @media (min-width: $md) {
              outline-width: 1px;
            }
          }
        }
      }

      @include it("md\:outline-2") {
        @include assert {
          @include output {
            @include md\:outline-2;
            @include clear;
          }

          @include expect {
            @media (min-width: $md) {
              outline-width: 2px;
            }
          }
        }
      }

      @include it("md\:outline-4	") {
        @include assert {
          @include output {
            @include md\:outline-4;
            @include clear;
          }

          @include expect {
            @media (min-width: $md) {
              outline-width: 4px;
            }
          }
        }
      }

      @include it("md\:outline-8") {
        @include assert {
          @include output {
            @include md\:outline-8;
            @include clear;
          }

          @include expect {
            @media (min-width: $md) {
              outline-width: 8px;
            }
          }
        }
      }

      @include it("lg\:outline-0") {
        @include assert {
          @include output {
            @include lg\:outline-0;
            @include clear;
          }

          @include expect {
            @media (min-width: $lg) {
              outline-width: 0px;
            }
          }
        }
      }

      @include it("lg\:outline-1") {
        @include assert {
          @include output {
            @include lg\:outline-1;
            @include clear;
          }

          @include expect {
            @media (min-width: $lg) {
              outline-width: 1px;
            }
          }
        }
      }

      @include it("lg\:outline-2") {
        @include assert {
          @include output {
            @include lg\:outline-2;
            @include clear;
          }

          @include expect {
            @media (min-width: $lg) {
              outline-width: 2px;
            }
          }
        }
      }

      @include it("lg\:outline-4	") {
        @include assert {
          @include output {
            @include lg\:outline-4;
            @include clear;
          }

          @include expect {
            @media (min-width: $lg) {
              outline-width: 4px;
            }
          }
        }
      }

      @include it("lg\:outline-8") {
        @include assert {
          @include output {
            @include lg\:outline-8;
            @include clear;
          }

          @include expect {
            @media (min-width: $lg) {
              outline-width: 8px;
            }
          }
        }
      }

      @include it("xl\:outline-0") {
        @include assert {
          @include output {
            @include xl\:outline-0;
            @include clear;
          }

          @include expect {
            @media (min-width: $xl) {
              outline-width: 0px;
            }
          }
        }
      }

      @include it("xl\:outline-1") {
        @include assert {
          @include output {
            @include xl\:outline-1;
            @include clear;
          }

          @include expect {
            @media (min-width: $xl) {
              outline-width: 1px;
            }
          }
        }
      }

      @include it("xl\:outline-2") {
        @include assert {
          @include output {
            @include xl\:outline-2;
            @include clear;
          }

          @include expect {
            @media (min-width: $xl) {
              outline-width: 2px;
            }
          }
        }
      }

      @include it("xl\:outline-4	") {
        @include assert {
          @include output {
            @include xl\:outline-4;
            @include clear;
          }

          @include expect {
            @media (min-width: $xl) {
              outline-width: 4px;
            }
          }
        }
      }

      @include it("xl\:outline-8") {
        @include assert {
          @include output {
            @include xl\:outline-8;
            @include clear;
          }

          @include expect {
            @media (min-width: $xl) {
              outline-width: 8px;
            }
          }
        }
      }

      @include it("\2xl\:outline-0") {
        @include assert {
          @include output {
            @include \2xl\:outline-0;
            @include clear;
          }

          @include expect {
            @media (min-width: $\2xl) {
              outline-width: 0px;
            }
          }
        }
      }

      @include it("\2xl\:outline-1") {
        @include assert {
          @include output {
            @include \2xl\:outline-1;
            @include clear;
          }

          @include expect {
            @media (min-width: $\2xl) {
              outline-width: 1px;
            }
          }
        }
      }

      @include it("\2xl\:outline-2") {
        @include assert {
          @include output {
            @include \2xl\:outline-2;
            @include clear;
          }

          @include expect {
            @media (min-width: $\2xl) {
              outline-width: 2px;
            }
          }
        }
      }

      @include it("\2xl\:outline-4	") {
        @include assert {
          @include output {
            @include \2xl\:outline-4;
            @include clear;
          }

          @include expect {
            @media (min-width: $\2xl) {
              outline-width: 4px;
            }
          }
        }
      }

      @include it("\2xl\:outline-8") {
        @include assert {
          @include output {
            @include \2xl\:outline-8;
            @include clear;
          }

          @include expect {
            @media (min-width: $\2xl) {
              outline-width: 8px;
            }
          }
        }
      }
    }

    @include describe("Custom") {
      @include it("sm\:outline-(5px)") {
        @include assert {
          @include output {
            @include sm\:outline-(5px);
            @include clear;
          }

          @include expect {
            @media (min-width: $sm) {
              outline-width: 5px;
            }
          }
        }
      }

      @include it("md\:outline-(5px)") {
        @include assert {
          @include output {
            @include md\:outline-(5px);
            @include clear;
          }

          @include expect {
            @media (min-width: $md) {
              outline-width: 5px;
            }
          }
        }
      }

      @include it("lg\:outline-(5px)") {
        @include assert {
          @include output {
            @include lg\:outline-(5px);
            @include clear;
          }

          @include expect {
            @media (min-width: $lg) {
              outline-width: 5px;
            }
          }
        }
      }

      @include it("xl\:outline-(5px)") {
        @include assert {
          @include output {
            @include xl\:outline-(5px);
            @include clear;
          }

          @include expect {
            @media (min-width: $xl) {
              outline-width: 5px;
            }
          }
        }
      }

      @include it("\2xl\:outline-(5px)") {
        @include assert {
          @include output {
            @include \2xl\:outline-(5px);
            @include clear;
          }

          @include expect {
            @media (min-width: $\2xl) {
              outline-width: 5px;
            }
          }
        }
      }
    }
  }
}
