@use "../../setting" as *;


$Rotate: (
  "rotate-0": 0deg,
  "rotate-1": 1deg,
  "rotate-2": 2deg,
  "rotate-3": 3deg,
  "rotate-6": 6deg,
  "rotate-12": 12deg,
  "rotate-45": 45deg,
  "rotate-90": 90deg,
  "rotate-180": 180deg
);

@if $Basic {
  @each $key, $value in $Rotate {
    /*x
    @mixin #{$key} {
      $tw-rotate: #{$value} !global;
      @include transform(get_transform());
    }
    x*/
    /*x
    @mixin -#{$key} {
      $tw-rotate: #{-$value} !global;
      @include transform(get_transform());
    }
    x*/
  }
}

@if $Rwd and ($sizeMode ==0 or $sizeMode ==1) {
  @each $rwd in $rwdBox {
    @each $key, $value in $Rotate {
    /*x
    @mixin #{$rwd}\:#{$key} {
      $tw-rotate: #{$value} !global;
      @include transform(get_transform(), $#{$rwd});
    }
    x*/
    /*x
    @mixin #{$rwd}\:-#{$key} {
      $tw-rotate: #{-$value} !global;
      @include transform(get_transform(), $#{$rwd});
    }
    x*/
    }
  }
}

@if $Custom {
  /*x
  @mixin rotate-($v) {
    $tw-rotate: $v !global;
    @include transform(get_transform());
  }
  x*/
  /*x
  @mixin -rotate-($v) {
    $tw-rotate: -$v !global;
    @include transform(get_transform());
  }
  x*/

  @each $rwd in $rwdBox {
    /*x
    @mixin #{$rwd}\:rotate-($v) {
      $tw-rotate: $v !global;
      @include transform(get_transform(), $#{$rwd});
    }
    x*/
    /*x
    @mixin #{$rwd}\:-rotate-($v) {
      $tw-rotate: -$v !global;
      @include transform(get_transform(), $#{$rwd});
    }
    x*/
  }
}