@use "../../mode0" as *;
@use "true" as *;

@include describe("7.Borders") {
  @include describe("Ring Offset Width") {
    @include describe("Basic") {
      @include it("ring-offset-0") {
        @include assert {
          @include output {
            @include ring-offset-0;
            @include reset;
          }

          @include expect {
            box-shadow:
              0 0 0 0px #fff,
              0 0 0 0 rgba(59, 130, 246, 0.5),
              0 0 0 0 #fff;
          }
        }
      }

      @include it("ring-offset-1") {
        @include assert {
          @include output {
            @include ring-offset-1;
            @include reset;
          }

          @include expect {
            box-shadow:
              0 0 0 1px #fff,
              0 0 0 0 rgba(59, 130, 246, 0.5),
              0 0 0 0 #fff;
          }
        }
      }

      @include it("ring-offset-2") {
        @include assert {
          @include output {
            @include ring-offset-2;
            @include reset;
          }

          @include expect {
            box-shadow:
              0 0 0 2px #fff,
              0 0 0 0 rgba(59, 130, 246, 0.5),
              0 0 0 0 #fff;
          }
        }
      }

      @include it("ring-offset-4") {
        @include assert {
          @include output {
            @include ring-offset-4;
            @include reset;
          }

          @include expect {
            box-shadow:
              0 0 0 4px #fff,
              0 0 0 0 rgba(59, 130, 246, 0.5),
              0 0 0 0 #fff;
          }
        }
      }

      @include it("ring-offset-8") {
        @include assert {
          @include output {
            @include ring-offset-8;
            @include reset;
          }

          @include expect {
            box-shadow:
              0 0 0 8px #fff,
              0 0 0 0 rgba(59, 130, 246, 0.5),
              0 0 0 0 #fff;
          }
        }
      }
    }

    @include describe("Rwd") {
      @include it("sm\:ring-offset-0") {
        @include assert {
          @include output {
            @include sm\:ring-offset-0;
            @include reset;
          }

          @include expect {
            @media (min-width: $sm) {
              box-shadow:
                0 0 0 0px #fff,
                0 0 0 0 rgba(59, 130, 246, 0.5),
                0 0 0 0 #fff;
            }
          }
        }
      }

      @include it("sm\:ring-offset-1") {
        @include assert {
          @include output {
            @include sm\:ring-offset-1;
            @include reset;
          }

          @include expect {
            @media (min-width: $sm) {
              box-shadow:
                0 0 0 1px #fff,
                0 0 0 0 rgba(59, 130, 246, 0.5),
                0 0 0 0 #fff;
            }
          }
        }
      }

      @include it("sm\:ring-offset-2") {
        @include assert {
          @include output {
            @include sm\:ring-offset-2;
            @include reset;
          }

          @include expect {
            @media (min-width: $sm) {
              box-shadow:
                0 0 0 2px #fff,
                0 0 0 0 rgba(59, 130, 246, 0.5),
                0 0 0 0 #fff;
            }
          }
        }
      }

      @include it("sm\:ring-offset-4") {
        @include assert {
          @include output {
            @include sm\:ring-offset-4;
            @include reset;
          }

          @include expect {
            @media (min-width: $sm) {
              box-shadow:
                0 0 0 4px #fff,
                0 0 0 0 rgba(59, 130, 246, 0.5),
                0 0 0 0 #fff;
            }
          }
        }
      }

      @include it("sm\:ring-offset-8") {
        @include assert {
          @include output {
            @include sm\:ring-offset-8;
            @include reset;
          }

          @include expect {
            @media (min-width: $sm) {
              box-shadow:
                0 0 0 8px #fff,
                0 0 0 0 rgba(59, 130, 246, 0.5),
                0 0 0 0 #fff;
            }
          }
        }
      }

      @include it("md\:ring-offset-0") {
        @include assert {
          @include output {
            @include md\:ring-offset-0;
            @include reset;
          }

          @include expect {
            @media (min-width: $md) {
              box-shadow:
                0 0 0 0px #fff,
                0 0 0 0 rgba(59, 130, 246, 0.5),
                0 0 0 0 #fff;
            }
          }
        }
      }

      @include it("md\:ring-offset-1") {
        @include assert {
          @include output {
            @include md\:ring-offset-1;
            @include reset;
          }

          @include expect {
            @media (min-width: $md) {
              box-shadow:
                0 0 0 1px #fff,
                0 0 0 0 rgba(59, 130, 246, 0.5),
                0 0 0 0 #fff;
            }
          }
        }
      }

      @include it("md\:ring-offset-2") {
        @include assert {
          @include output {
            @include md\:ring-offset-2;
            @include reset;
          }

          @include expect {
            @media (min-width: $md) {
              box-shadow:
                0 0 0 2px #fff,
                0 0 0 0 rgba(59, 130, 246, 0.5),
                0 0 0 0 #fff;
            }
          }
        }
      }

      @include it("md\:ring-offset-4") {
        @include assert {
          @include output {
            @include md\:ring-offset-4;
            @include reset;
          }

          @include expect {
            @media (min-width: $md) {
              box-shadow:
                0 0 0 4px #fff,
                0 0 0 0 rgba(59, 130, 246, 0.5),
                0 0 0 0 #fff;
            }
          }
        }
      }

      @include it("md\:ring-offset-8") {
        @include assert {
          @include output {
            @include md\:ring-offset-8;
            @include reset;
          }

          @include expect {
            @media (min-width: $md) {
              box-shadow:
                0 0 0 8px #fff,
                0 0 0 0 rgba(59, 130, 246, 0.5),
                0 0 0 0 #fff;
            }
          }
        }
      }

      @include it("lg\:ring-offset-0") {
        @include assert {
          @include output {
            @include lg\:ring-offset-0;
            @include reset;
          }

          @include expect {
            @media (min-width: $lg) {
              box-shadow:
                0 0 0 0px #fff,
                0 0 0 0 rgba(59, 130, 246, 0.5),
                0 0 0 0 #fff;
            }
          }
        }
      }

      @include it("lg\:ring-offset-1") {
        @include assert {
          @include output {
            @include lg\:ring-offset-1;
            @include reset;
          }

          @include expect {
            @media (min-width: $lg) {
              box-shadow:
                0 0 0 1px #fff,
                0 0 0 0 rgba(59, 130, 246, 0.5),
                0 0 0 0 #fff;
            }
          }
        }
      }

      @include it("lg\:ring-offset-2") {
        @include assert {
          @include output {
            @include lg\:ring-offset-2;
            @include reset;
          }

          @include expect {
            @media (min-width: $lg) {
              box-shadow:
                0 0 0 2px #fff,
                0 0 0 0 rgba(59, 130, 246, 0.5),
                0 0 0 0 #fff;
            }
          }
        }
      }

      @include it("lg\:ring-offset-4") {
        @include assert {
          @include output {
            @include lg\:ring-offset-4;
            @include reset;
          }

          @include expect {
            @media (min-width: $lg) {
              box-shadow:
                0 0 0 4px #fff,
                0 0 0 0 rgba(59, 130, 246, 0.5),
                0 0 0 0 #fff;
            }
          }
        }
      }

      @include it("lg\:ring-offset-8") {
        @include assert {
          @include output {
            @include lg\:ring-offset-8;
            @include reset;
          }

          @include expect {
            @media (min-width: $lg) {
              box-shadow:
                0 0 0 8px #fff,
                0 0 0 0 rgba(59, 130, 246, 0.5),
                0 0 0 0 #fff;
            }
          }
        }
      }

      @include it("xl\:ring-offset-0") {
        @include assert {
          @include output {
            @include xl\:ring-offset-0;
            @include reset;
          }

          @include expect {
            @media (min-width: $xl) {
              box-shadow:
                0 0 0 0px #fff,
                0 0 0 0 rgba(59, 130, 246, 0.5),
                0 0 0 0 #fff;
            }
          }
        }
      }

      @include it("xl\:ring-offset-1") {
        @include assert {
          @include output {
            @include xl\:ring-offset-1;
            @include reset;
          }

          @include expect {
            @media (min-width: $xl) {
              box-shadow:
                0 0 0 1px #fff,
                0 0 0 0 rgba(59, 130, 246, 0.5),
                0 0 0 0 #fff;
            }
          }
        }
      }

      @include it("xl\:ring-offset-2") {
        @include assert {
          @include output {
            @include xl\:ring-offset-2;
            @include reset;
          }

          @include expect {
            @media (min-width: $xl) {
              box-shadow:
                0 0 0 2px #fff,
                0 0 0 0 rgba(59, 130, 246, 0.5),
                0 0 0 0 #fff;
            }
          }
        }
      }

      @include it("xl\:ring-offset-4") {
        @include assert {
          @include output {
            @include xl\:ring-offset-4;
            @include reset;
          }

          @include expect {
            @media (min-width: $xl) {
              box-shadow:
                0 0 0 4px #fff,
                0 0 0 0 rgba(59, 130, 246, 0.5),
                0 0 0 0 #fff;
            }
          }
        }
      }

      @include it("xl\:ring-offset-8") {
        @include assert {
          @include output {
            @include xl\:ring-offset-8;
            @include reset;
          }

          @include expect {
            @media (min-width: $xl) {
              box-shadow:
                0 0 0 8px #fff,
                0 0 0 0 rgba(59, 130, 246, 0.5),
                0 0 0 0 #fff;
            }
          }
        }
      }

      @include it("\2xl\:ring-offset-0") {
        @include assert {
          @include output {
            @include \2xl\:ring-offset-0;
            @include reset;
          }

          @include expect {
            @media (min-width: $\2xl) {
              box-shadow:
                0 0 0 0px #fff,
                0 0 0 0 rgba(59, 130, 246, 0.5),
                0 0 0 0 #fff;
            }
          }
        }
      }

      @include it("\2xl\:ring-offset-1") {
        @include assert {
          @include output {
            @include \2xl\:ring-offset-1;
            @include reset;
          }

          @include expect {
            @media (min-width: $\2xl) {
              box-shadow:
                0 0 0 1px #fff,
                0 0 0 0 rgba(59, 130, 246, 0.5),
                0 0 0 0 #fff;
            }
          }
        }
      }

      @include it("\2xl\:ring-offset-2") {
        @include assert {
          @include output {
            @include \2xl\:ring-offset-2;
            @include reset;
          }

          @include expect {
            @media (min-width: $\2xl) {
              box-shadow:
                0 0 0 2px #fff,
                0 0 0 0 rgba(59, 130, 246, 0.5),
                0 0 0 0 #fff;
            }
          }
        }
      }

      @include it("\2xl\:ring-offset-4") {
        @include assert {
          @include output {
            @include \2xl\:ring-offset-4;
            @include reset;
          }

          @include expect {
            @media (min-width: $\2xl) {
              box-shadow:
                0 0 0 4px #fff,
                0 0 0 0 rgba(59, 130, 246, 0.5),
                0 0 0 0 #fff;
            }
          }
        }
      }

      @include it("\2xl\:ring-offset-8") {
        @include assert {
          @include output {
            @include \2xl\:ring-offset-8;
            @include reset;
          }

          @include expect {
            @media (min-width: $\2xl) {
              box-shadow:
                0 0 0 8px #fff,
                0 0 0 0 rgba(59, 130, 246, 0.5),
                0 0 0 0 #fff;
            }
          }
        }
      }
    }

    @include describe("Custom") {
      @include it("ring-offset-(3px)") {
        @include assert {
          @include output {
            @include ring-offset-(3px);
            @include reset;
          }

          @include expect {
            box-shadow:
              0 0 0 3px #fff,
              0 0 0 0 rgba(59, 130, 246, 0.5),
              0 0 0 0 #fff;
          }
        }
      }

      @include it("sm\:ring-offset-(3px)") {
        @include assert {
          @include output {
            @include sm\:ring-offset-(3px);
            @include reset;
          }

          @include expect {
            @media (min-width: $sm) {
              box-shadow:
                0 0 0 3px #fff,
                0 0 0 0 rgba(59, 130, 246, 0.5),
                0 0 0 0 #fff;
            }
          }
        }
      }

      @include it("md\:ring-offset-(3px)") {
        @include assert {
          @include output {
            @include md\:ring-offset-(3px);
            @include reset;
          }

          @include expect {
            @media (min-width: $md) {
              box-shadow:
                0 0 0 3px #fff,
                0 0 0 0 rgba(59, 130, 246, 0.5),
                0 0 0 0 #fff;
            }
          }
        }
      }

      @include it("lg\:ring-offset-(3px)") {
        @include assert {
          @include output {
            @include lg\:ring-offset-(3px);
            @include reset;
          }

          @include expect {
            @media (min-width: $lg) {
              box-shadow:
                0 0 0 3px #fff,
                0 0 0 0 rgba(59, 130, 246, 0.5),
                0 0 0 0 #fff;
            }
          }
        }
      }

      @include it("xl\:ring-offset-(3px)") {
        @include assert {
          @include output {
            @include xl\:ring-offset-(3px);
            @include reset;
          }

          @include expect {
            @media (min-width: $xl) {
              box-shadow:
                0 0 0 3px #fff,
                0 0 0 0 rgba(59, 130, 246, 0.5),
                0 0 0 0 #fff;
            }
          }
        }
      }

      @include it("\2xl\:ring-offset-(3px)") {
        @include assert {
          @include output {
            @include \2xl\:ring-offset-(3px);
            @include reset;
          }

          @include expect {
            @media (min-width: $\2xl) {
              box-shadow:
                0 0 0 3px #fff,
                0 0 0 0 rgba(59, 130, 246, 0.5),
                0 0 0 0 #fff;
            }
          }
        }
      }
    }
  }
}
