@use "../../setting" as *;

$Width: (
  "0": "$\\0",
  "px": "$\\px",
  "0\\.5": "$\\0\\.5",
  "1": "$\\1",
  "1\\.5": "$\\1\\.5",
  "2": "$\\2",
  "2\\.5": "$\\2\\.5",
  "3": "$\\3",
  "3\\.5": "$\\3\\.5",
  "4": "$\\4",
  "5": "$\\5",
  "6": "$\\6",
  "7": "$\\7",
  "8": "$\\8",
  "9": "$\\9",
  "10": "$\\10",
  "11": "$\\11",
  "12": "$\\12",
  "14": "$\\14",
  "16": "$\\16",
  "20": "$\\20",
  "24": "$\\24",
  "28": "$\\28",
  "32": "$\\32",
  "36": "$\\36",
  "40": "$\\40",
  "44": "$\\44",
  "48": "$\\48",
  "52": "$\\52",
  "56": "$\\56",
  "60": "$\\60",
  "64": "$\\64",
  "72": "$\\72",
  "80": "$\\80",
  "96": "$\\96",
  "auto": "auto",
  "1\\/2": "50%",
  "1\\/3": "33.333333%",
  "2\\/3": "66.666667%",
  "1\\/4": "25%",
  "2\\/4": "50%",
  "3\\/4": "75%",
  "1\\/5": "20%",
  "2\\/5": "40%",
  "3\\/5": "60%",
  "4\\/5": "80%",
  "1\\/6": "16.666667%",
  "2\\/6": "33.333333%",
  "3\\/6": "50%",
  "4\\/6": "66.666667%",
  "5\\/6": "83.333333%",
  "1\\/12": "8.333333%",
  "2\\/12": "16.666667%",
  "3\\/12": "25%",
  "4\\/12": "33.333333%",
  "5\\/12": "41.666667%",
  "6\\/12": "50%",
  "7\\/12": "58.333333%",
  "8\\/12": "66.666667%",
  "9\\/12": "75%",
  "10\\/12": "83.333333%",
  "11\\/12": "91.666667%",
  "full": "100%",
  "screen": "100vw",
  "svw": "100svw",
  "lvw": "100lvw",
  "dvw": "100dvw",
  "min": "min-content",
  "max": "max-content",
  "fit": "fit-content",
);

@if $Basic {
  @each $key, $value in $Width {
    /*x
    @mixin w-#{$key} {
      @include width(#{$value});
    }
    x*/
  }
}

@if $Rwd and ($sizeMode ==0 or $sizeMode ==1) {
  @each $rwd in $rwdBox {
    @each $key, $value in $Width {
      /*x
      @mixin #{$rwd}\:w-#{$key} {
        @include width(#{$value}, $#{$rwd});
      }
      x*/
    }
  }
}

@if $Custom {
  /*x
  @mixin w-($v) {
    @include width($v);
  }
  x*/

  @each $rwd in $rwdBox {
    /*x
    @mixin #{$rwd}\:w-($v) {
      @include width($v, $#{$rwd});
    }
    x*/
  }
}