@use "../../setting" as *;

@if $Basic {
  // /*x
  @mixin w-0 {
    width: $\0;
  }

  @mixin w-px {
    width: $\px;
  }

  @mixin w-0\.5 {
    width: $\0\.5;
  }

  @mixin w-1 {
    width: $\1;
  }

  @mixin w-1\.5 {
    width: $\1\.5;
  }

  @mixin w-2 {
    width: $\2;
  }

  @mixin w-2\.5 {
    width: $\2\.5;
  }

  @mixin w-3 {
    width: $\3;
  }

  @mixin w-3\.5 {
    width: $\3\.5;
  }

  @mixin w-4 {
    width: $\4;
  }

  @mixin w-5 {
    width: $\5;
  }

  @mixin w-6 {
    width: $\6;
  }

  @mixin w-7 {
    width: $\7;
  }

  @mixin w-8 {
    width: $\8;
  }

  @mixin w-9 {
    width: $\9;
  }

  @mixin w-10 {
    width: $\10;
  }

  @mixin w-11 {
    width: $\11;
  }

  @mixin w-12 {
    width: $\12;
  }

  @mixin w-14 {
    width: $\14;
  }

  @mixin w-16 {
    width: $\16;
  }

  @mixin w-20 {
    width: $\20;
  }

  @mixin w-24 {
    width: $\24;
  }

  @mixin w-28 {
    width: $\28;
  }

  @mixin w-32 {
    width: $\32;
  }

  @mixin w-36 {
    width: $\36;
  }

  @mixin w-40 {
    width: $\40;
  }

  @mixin w-44 {
    width: $\44;
  }

  @mixin w-48 {
    width: $\48;
  }

  @mixin w-52 {
    width: $\52;
  }

  @mixin w-56 {
    width: $\56;
  }

  @mixin w-60 {
    width: $\60;
  }

  @mixin w-64 {
    width: $\64;
  }

  @mixin w-72 {
    width: $\72;
  }

  @mixin w-80 {
    width: $\80;
  }

  @mixin w-96 {
    width: $\96;
  }

  @mixin w-auto {
    width: auto;
  }

  @mixin w-1\/2 {
    width: 50%;
  }

  @mixin w-1\/3 {
    width: 33.333333%;
  }

  @mixin w-2\/3 {
    width: 66.666667%;
  }

  @mixin w-1\/4 {
    width: 25%;
  }

  @mixin w-2\/4 {
    width: 50%;
  }

  @mixin w-3\/4 {
    width: 75%;
  }

  @mixin w-1\/5 {
    width: 20%;
  }

  @mixin w-2\/5 {
    width: 40%;
  }

  @mixin w-3\/5 {
    width: 60%;
  }

  @mixin w-4\/5 {
    width: 80%;
  }

  @mixin w-1\/6 {
    width: 16.666667%;
  }

  @mixin w-2\/6 {
    width: 33.333333%;
  }

  @mixin w-3\/6 {
    width: 50%;
  }

  @mixin w-4\/6 {
    width: 66.666667%;
  }

  @mixin w-5\/6 {
    width: 83.333333%;
  }

  @mixin w-1\/12 {
    width: 8.333333%;
  }

  @mixin w-2\/12 {
    width: 16.666667%;
  }

  @mixin w-3\/12 {
    width: 25%;
  }

  @mixin w-4\/12 {
    width: 33.333333%;
  }

  @mixin w-5\/12 {
    width: 41.666667%;
  }

  @mixin w-6\/12 {
    width: 50%;
  }

  @mixin w-7\/12 {
    width: 58.333333%;
  }

  @mixin w-8\/12 {
    width: 66.666667%;
  }

  @mixin w-9\/12 {
    width: 75%;
  }

  @mixin w-10\/12 {
    width: 83.333333%;
  }

  @mixin w-11\/12 {
    width: 91.666667%;
  }

  @mixin w-full {
    width: 100%;
  }

  @mixin w-screen {
    width: 100vw;
  }

  @mixin w-svw {
    width: 100svw;
  }

  @mixin w-lvw {
    width: 100lvw;
  }

  @mixin w-dvw {
    width: 100dvw;
  }

  @mixin w-min {
    width: min-content;
  }

  @mixin w-max {
    width: max-content;
  }

  @mixin w-fit {
    width: fit-content;
  }

  // x*/
}

@if $Rwd and ($sizeMode == 0 or $sizeMode == 1) {
  // /*x
  @mixin sm\:w-0 {
    @include sm\:w-($\0);
  }

  @mixin sm\:w-px {
    @include sm\:w-($\px);
  }

  @mixin sm\:w-0\.5 {
    @include sm\:w-($\0\.5);
  }

  @mixin sm\:w-1 {
    @include sm\:w-($\1);
  }

  @mixin sm\:w-1\.5 {
    @include sm\:w-($\1\.5);
  }

  @mixin sm\:w-2 {
    @include sm\:w-($\2);
  }

  @mixin sm\:w-2\.5 {
    @include sm\:w-($\2\.5);
  }

  @mixin sm\:w-3 {
    @include sm\:w-($\3);
  }

  @mixin sm\:w-3\.5 {
    @include sm\:w-($\3\.5);
  }

  @mixin sm\:w-4 {
    @include sm\:w-($\4);
  }

  @mixin sm\:w-5 {
    @include sm\:w-($\5);
  }

  @mixin sm\:w-6 {
    @include sm\:w-($\6);
  }

  @mixin sm\:w-7 {
    @include sm\:w-($\7);
  }

  @mixin sm\:w-8 {
    @include sm\:w-($\8);
  }

  @mixin sm\:w-9 {
    @include sm\:w-($\9);
  }

  @mixin sm\:w-10 {
    @include sm\:w-($\10);
  }

  @mixin sm\:w-11 {
    @include sm\:w-($\11);
  }

  @mixin sm\:w-12 {
    @include sm\:w-($\12);
  }

  @mixin sm\:w-14 {
    @include sm\:w-($\14);
  }

  @mixin sm\:w-16 {
    @include sm\:w-($\16);
  }

  @mixin sm\:w-20 {
    @include sm\:w-($\20);
  }

  @mixin sm\:w-24 {
    @include sm\:w-($\24);
  }

  @mixin sm\:w-28 {
    @include sm\:w-($\28);
  }

  @mixin sm\:w-32 {
    @include sm\:w-($\32);
  }

  @mixin sm\:w-36 {
    @include sm\:w-($\36);
  }

  @mixin sm\:w-40 {
    @include sm\:w-($\40);
  }

  @mixin sm\:w-44 {
    @include sm\:w-($\44);
  }

  @mixin sm\:w-48 {
    @include sm\:w-($\48);
  }

  @mixin sm\:w-52 {
    @include sm\:w-($\52);
  }

  @mixin sm\:w-56 {
    @include sm\:w-($\56);
  }

  @mixin sm\:w-60 {
    @include sm\:w-($\60);
  }

  @mixin sm\:w-64 {
    @include sm\:w-($\64);
  }

  @mixin sm\:w-72 {
    @include sm\:w-($\72);
  }

  @mixin sm\:w-80 {
    @include sm\:w-($\80);
  }

  @mixin sm\:w-96 {
    @include sm\:w-($\96);
  }

  @mixin sm\:w-auto {
    @include sm\:w-(auto);
  }

  @mixin sm\:w-1\/2 {
    @include sm\:w-(50%);
  }

  @mixin sm\:w-1\/3 {
    @include sm\:w-(33.333333%);
  }

  @mixin sm\:w-2\/3 {
    @include sm\:w-(66.666667%);
  }

  @mixin sm\:w-1\/4 {
    @include sm\:w-(25%);
  }

  @mixin sm\:w-2\/4 {
    @include sm\:w-(50%);
  }

  @mixin sm\:w-3\/4 {
    @include sm\:w-(75%);
  }

  @mixin sm\:w-1\/5 {
    @include sm\:w-(20%);
  }

  @mixin sm\:w-2\/5 {
    @include sm\:w-(40%);
  }

  @mixin sm\:w-3\/5 {
    @include sm\:w-(60%);
  }

  @mixin sm\:w-4\/5 {
    @include sm\:w-(80%);
  }

  @mixin sm\:w-1\/6 {
    @include sm\:w-(16.666667%);
  }

  @mixin sm\:w-2\/6 {
    @include sm\:w-(33.333333%);
  }

  @mixin sm\:w-3\/6 {
    @include sm\:w-(50%);
  }

  @mixin sm\:w-4\/6 {
    @include sm\:w-(66.666667%);
  }

  @mixin sm\:w-5\/6 {
    @include sm\:w-(83.333333%);
  }

  @mixin sm\:w-1\/12 {
    @include sm\:w-(8.333333%);
  }

  @mixin sm\:w-2\/12 {
    @include sm\:w-(16.666667%);
  }

  @mixin sm\:w-3\/12 {
    @include sm\:w-(25%);
  }

  @mixin sm\:w-4\/12 {
    @include sm\:w-(33.333333%);
  }

  @mixin sm\:w-5\/12 {
    @include sm\:w-(41.666667%);
  }

  @mixin sm\:w-6\/12 {
    @include sm\:w-(50%);
  }

  @mixin sm\:w-7\/12 {
    @include sm\:w-(58.333333%);
  }

  @mixin sm\:w-8\/12 {
    @include sm\:w-(66.666667%);
  }

  @mixin sm\:w-9\/12 {
    @include sm\:w-(75%);
  }

  @mixin sm\:w-10\/12 {
    @include sm\:w-(83.333333%);
  }

  @mixin sm\:w-11\/12 {
    @include sm\:w-(91.666667%);
  }

  @mixin sm\:w-full {
    @include sm\:w-(100%);
  }

  @mixin sm\:w-screen {
    @include sm\:w-(100vw);
  }

  @mixin sm\:w-svw {
    @include sm\:w-(100svw);
  }

  @mixin sm\:w-lvw {
    @include sm\:w-(100lvw);
  }

  @mixin sm\:w-dvw {
    @include sm\:w-(100dvw);
  }

  @mixin sm\:w-min {
    @include sm\:w-(min-content);
  }

  @mixin sm\:w-max {
    @include sm\:w-(max-content);
  }

  @mixin sm\:w-fit {
    @include sm\:w-(fit-content);
  }

  @mixin md\:w-0 {
    @include md\:w-($\0);
  }

  @mixin md\:w-px {
    @include md\:w-($\px);
  }

  @mixin md\:w-0\.5 {
    @include md\:w-($\0\.5);
  }

  @mixin md\:w-1 {
    @include md\:w-($\1);
  }

  @mixin md\:w-1\.5 {
    @include md\:w-($\1\.5);
  }

  @mixin md\:w-2 {
    @include md\:w-($\2);
  }

  @mixin md\:w-2\.5 {
    @include md\:w-($\2\.5);
  }

  @mixin md\:w-3 {
    @include md\:w-($\3);
  }

  @mixin md\:w-3\.5 {
    @include md\:w-($\3\.5);
  }

  @mixin md\:w-4 {
    @include md\:w-($\4);
  }

  @mixin md\:w-5 {
    @include md\:w-($\5);
  }

  @mixin md\:w-6 {
    @include md\:w-($\6);
  }

  @mixin md\:w-7 {
    @include md\:w-($\7);
  }

  @mixin md\:w-8 {
    @include md\:w-($\8);
  }

  @mixin md\:w-9 {
    @include md\:w-($\9);
  }

  @mixin md\:w-10 {
    @include md\:w-($\10);
  }

  @mixin md\:w-11 {
    @include md\:w-($\11);
  }

  @mixin md\:w-12 {
    @include md\:w-($\12);
  }

  @mixin md\:w-14 {
    @include md\:w-($\14);
  }

  @mixin md\:w-16 {
    @include md\:w-($\16);
  }

  @mixin md\:w-20 {
    @include md\:w-($\20);
  }

  @mixin md\:w-24 {
    @include md\:w-($\24);
  }

  @mixin md\:w-28 {
    @include md\:w-($\28);
  }

  @mixin md\:w-32 {
    @include md\:w-($\32);
  }

  @mixin md\:w-36 {
    @include md\:w-($\36);
  }

  @mixin md\:w-40 {
    @include md\:w-($\40);
  }

  @mixin md\:w-44 {
    @include md\:w-($\44);
  }

  @mixin md\:w-48 {
    @include md\:w-($\48);
  }

  @mixin md\:w-52 {
    @include md\:w-($\52);
  }

  @mixin md\:w-56 {
    @include md\:w-($\56);
  }

  @mixin md\:w-60 {
    @include md\:w-($\60);
  }

  @mixin md\:w-64 {
    @include md\:w-($\64);
  }

  @mixin md\:w-72 {
    @include md\:w-($\72);
  }

  @mixin md\:w-80 {
    @include md\:w-($\80);
  }

  @mixin md\:w-96 {
    @include md\:w-($\96);
  }

  @mixin md\:w-auto {
    @include md\:w-(auto);
  }

  @mixin md\:w-1\/2 {
    @include md\:w-(50%);
  }

  @mixin md\:w-1\/3 {
    @include md\:w-(33.333333%);
  }

  @mixin md\:w-2\/3 {
    @include md\:w-(66.666667%);
  }

  @mixin md\:w-1\/4 {
    @include md\:w-(25%);
  }

  @mixin md\:w-2\/4 {
    @include md\:w-(50%);
  }

  @mixin md\:w-3\/4 {
    @include md\:w-(75%);
  }

  @mixin md\:w-1\/5 {
    @include md\:w-(20%);
  }

  @mixin md\:w-2\/5 {
    @include md\:w-(40%);
  }

  @mixin md\:w-3\/5 {
    @include md\:w-(60%);
  }

  @mixin md\:w-4\/5 {
    @include md\:w-(80%);
  }

  @mixin md\:w-1\/6 {
    @include md\:w-(16.666667%);
  }

  @mixin md\:w-2\/6 {
    @include md\:w-(33.333333%);
  }

  @mixin md\:w-3\/6 {
    @include md\:w-(50%);
  }

  @mixin md\:w-4\/6 {
    @include md\:w-(66.666667%);
  }

  @mixin md\:w-5\/6 {
    @include md\:w-(83.333333%);
  }

  @mixin md\:w-1\/12 {
    @include md\:w-(8.333333%);
  }

  @mixin md\:w-2\/12 {
    @include md\:w-(16.666667%);
  }

  @mixin md\:w-3\/12 {
    @include md\:w-(25%);
  }

  @mixin md\:w-4\/12 {
    @include md\:w-(33.333333%);
  }

  @mixin md\:w-5\/12 {
    @include md\:w-(41.666667%);
  }

  @mixin md\:w-6\/12 {
    @include md\:w-(50%);
  }

  @mixin md\:w-7\/12 {
    @include md\:w-(58.333333%);
  }

  @mixin md\:w-8\/12 {
    @include md\:w-(66.666667%);
  }

  @mixin md\:w-9\/12 {
    @include md\:w-(75%);
  }

  @mixin md\:w-10\/12 {
    @include md\:w-(83.333333%);
  }

  @mixin md\:w-11\/12 {
    @include md\:w-(91.666667%);
  }

  @mixin md\:w-full {
    @include md\:w-(100%);
  }

  @mixin md\:w-screen {
    @include md\:w-(100vw);
  }

  @mixin md\:w-svw {
    @include md\:w-(100svw);
  }

  @mixin md\:w-lvw {
    @include md\:w-(100lvw);
  }

  @mixin md\:w-dvw {
    @include md\:w-(100dvw);
  }

  @mixin md\:w-min {
    @include md\:w-(min-content);
  }

  @mixin md\:w-max {
    @include md\:w-(max-content);
  }

  @mixin md\:w-fit {
    @include md\:w-(fit-content);
  }

  @mixin lg\:w-0 {
    @include lg\:w-($\0);
  }

  @mixin lg\:w-px {
    @include lg\:w-($\px);
  }

  @mixin lg\:w-0\.5 {
    @include lg\:w-($\0\.5);
  }

  @mixin lg\:w-1 {
    @include lg\:w-($\1);
  }

  @mixin lg\:w-1\.5 {
    @include lg\:w-($\1\.5);
  }

  @mixin lg\:w-2 {
    @include lg\:w-($\2);
  }

  @mixin lg\:w-2\.5 {
    @include lg\:w-($\2\.5);
  }

  @mixin lg\:w-3 {
    @include lg\:w-($\3);
  }

  @mixin lg\:w-3\.5 {
    @include lg\:w-($\3\.5);
  }

  @mixin lg\:w-4 {
    @include lg\:w-($\4);
  }

  @mixin lg\:w-5 {
    @include lg\:w-($\5);
  }

  @mixin lg\:w-6 {
    @include lg\:w-($\6);
  }

  @mixin lg\:w-7 {
    @include lg\:w-($\7);
  }

  @mixin lg\:w-8 {
    @include lg\:w-($\8);
  }

  @mixin lg\:w-9 {
    @include lg\:w-($\9);
  }

  @mixin lg\:w-10 {
    @include lg\:w-($\10);
  }

  @mixin lg\:w-11 {
    @include lg\:w-($\11);
  }

  @mixin lg\:w-12 {
    @include lg\:w-($\12);
  }

  @mixin lg\:w-14 {
    @include lg\:w-($\14);
  }

  @mixin lg\:w-16 {
    @include lg\:w-($\16);
  }

  @mixin lg\:w-20 {
    @include lg\:w-($\20);
  }

  @mixin lg\:w-24 {
    @include lg\:w-($\24);
  }

  @mixin lg\:w-28 {
    @include lg\:w-($\28);
  }

  @mixin lg\:w-32 {
    @include lg\:w-($\32);
  }

  @mixin lg\:w-36 {
    @include lg\:w-($\36);
  }

  @mixin lg\:w-40 {
    @include lg\:w-($\40);
  }

  @mixin lg\:w-44 {
    @include lg\:w-($\44);
  }

  @mixin lg\:w-48 {
    @include lg\:w-($\48);
  }

  @mixin lg\:w-52 {
    @include lg\:w-($\52);
  }

  @mixin lg\:w-56 {
    @include lg\:w-($\56);
  }

  @mixin lg\:w-60 {
    @include lg\:w-($\60);
  }

  @mixin lg\:w-64 {
    @include lg\:w-($\64);
  }

  @mixin lg\:w-72 {
    @include lg\:w-($\72);
  }

  @mixin lg\:w-80 {
    @include lg\:w-($\80);
  }

  @mixin lg\:w-96 {
    @include lg\:w-($\96);
  }

  @mixin lg\:w-auto {
    @include lg\:w-(auto);
  }

  @mixin lg\:w-1\/2 {
    @include lg\:w-(50%);
  }

  @mixin lg\:w-1\/3 {
    @include lg\:w-(33.333333%);
  }

  @mixin lg\:w-2\/3 {
    @include lg\:w-(66.666667%);
  }

  @mixin lg\:w-1\/4 {
    @include lg\:w-(25%);
  }

  @mixin lg\:w-2\/4 {
    @include lg\:w-(50%);
  }

  @mixin lg\:w-3\/4 {
    @include lg\:w-(75%);
  }

  @mixin lg\:w-1\/5 {
    @include lg\:w-(20%);
  }

  @mixin lg\:w-2\/5 {
    @include lg\:w-(40%);
  }

  @mixin lg\:w-3\/5 {
    @include lg\:w-(60%);
  }

  @mixin lg\:w-4\/5 {
    @include lg\:w-(80%);
  }

  @mixin lg\:w-1\/6 {
    @include lg\:w-(16.666667%);
  }

  @mixin lg\:w-2\/6 {
    @include lg\:w-(33.333333%);
  }

  @mixin lg\:w-3\/6 {
    @include lg\:w-(50%);
  }

  @mixin lg\:w-4\/6 {
    @include lg\:w-(66.666667%);
  }

  @mixin lg\:w-5\/6 {
    @include lg\:w-(83.333333%);
  }

  @mixin lg\:w-1\/12 {
    @include lg\:w-(8.333333%);
  }

  @mixin lg\:w-2\/12 {
    @include lg\:w-(16.666667%);
  }

  @mixin lg\:w-3\/12 {
    @include lg\:w-(25%);
  }

  @mixin lg\:w-4\/12 {
    @include lg\:w-(33.333333%);
  }

  @mixin lg\:w-5\/12 {
    @include lg\:w-(41.666667%);
  }

  @mixin lg\:w-6\/12 {
    @include lg\:w-(50%);
  }

  @mixin lg\:w-7\/12 {
    @include lg\:w-(58.333333%);
  }

  @mixin lg\:w-8\/12 {
    @include lg\:w-(66.666667%);
  }

  @mixin lg\:w-9\/12 {
    @include lg\:w-(75%);
  }

  @mixin lg\:w-10\/12 {
    @include lg\:w-(83.333333%);
  }

  @mixin lg\:w-11\/12 {
    @include lg\:w-(91.666667%);
  }

  @mixin lg\:w-full {
    @include lg\:w-(100%);
  }

  @mixin lg\:w-screen {
    @include lg\:w-(100vw);
  }

  @mixin lg\:w-svw {
    @include lg\:w-(100svw);
  }

  @mixin lg\:w-lvw {
    @include lg\:w-(100lvw);
  }

  @mixin lg\:w-dvw {
    @include lg\:w-(100dvw);
  }

  @mixin lg\:w-min {
    @include lg\:w-(min-content);
  }

  @mixin lg\:w-max {
    @include lg\:w-(max-content);
  }

  @mixin lg\:w-fit {
    @include lg\:w-(fit-content);
  }

  @mixin xl\:w-0 {
    @include xl\:w-($\0);
  }

  @mixin xl\:w-px {
    @include xl\:w-($\px);
  }

  @mixin xl\:w-0\.5 {
    @include xl\:w-($\0\.5);
  }

  @mixin xl\:w-1 {
    @include xl\:w-($\1);
  }

  @mixin xl\:w-1\.5 {
    @include xl\:w-($\1\.5);
  }

  @mixin xl\:w-2 {
    @include xl\:w-($\2);
  }

  @mixin xl\:w-2\.5 {
    @include xl\:w-($\2\.5);
  }

  @mixin xl\:w-3 {
    @include xl\:w-($\3);
  }

  @mixin xl\:w-3\.5 {
    @include xl\:w-($\3\.5);
  }

  @mixin xl\:w-4 {
    @include xl\:w-($\4);
  }

  @mixin xl\:w-5 {
    @include xl\:w-($\5);
  }

  @mixin xl\:w-6 {
    @include xl\:w-($\6);
  }

  @mixin xl\:w-7 {
    @include xl\:w-($\7);
  }

  @mixin xl\:w-8 {
    @include xl\:w-($\8);
  }

  @mixin xl\:w-9 {
    @include xl\:w-($\9);
  }

  @mixin xl\:w-10 {
    @include xl\:w-($\10);
  }

  @mixin xl\:w-11 {
    @include xl\:w-($\11);
  }

  @mixin xl\:w-12 {
    @include xl\:w-($\12);
  }

  @mixin xl\:w-14 {
    @include xl\:w-($\14);
  }

  @mixin xl\:w-16 {
    @include xl\:w-($\16);
  }

  @mixin xl\:w-20 {
    @include xl\:w-($\20);
  }

  @mixin xl\:w-24 {
    @include xl\:w-($\24);
  }

  @mixin xl\:w-28 {
    @include xl\:w-($\28);
  }

  @mixin xl\:w-32 {
    @include xl\:w-($\32);
  }

  @mixin xl\:w-36 {
    @include xl\:w-($\36);
  }

  @mixin xl\:w-40 {
    @include xl\:w-($\40);
  }

  @mixin xl\:w-44 {
    @include xl\:w-($\44);
  }

  @mixin xl\:w-48 {
    @include xl\:w-($\48);
  }

  @mixin xl\:w-52 {
    @include xl\:w-($\52);
  }

  @mixin xl\:w-56 {
    @include xl\:w-($\56);
  }

  @mixin xl\:w-60 {
    @include xl\:w-($\60);
  }

  @mixin xl\:w-64 {
    @include xl\:w-($\64);
  }

  @mixin xl\:w-72 {
    @include xl\:w-($\72);
  }

  @mixin xl\:w-80 {
    @include xl\:w-($\80);
  }

  @mixin xl\:w-96 {
    @include xl\:w-($\96);
  }

  @mixin xl\:w-auto {
    @include xl\:w-(auto);
  }

  @mixin xl\:w-1\/2 {
    @include xl\:w-(50%);
  }

  @mixin xl\:w-1\/3 {
    @include xl\:w-(33.333333%);
  }

  @mixin xl\:w-2\/3 {
    @include xl\:w-(66.666667%);
  }

  @mixin xl\:w-1\/4 {
    @include xl\:w-(25%);
  }

  @mixin xl\:w-2\/4 {
    @include xl\:w-(50%);
  }

  @mixin xl\:w-3\/4 {
    @include xl\:w-(75%);
  }

  @mixin xl\:w-1\/5 {
    @include xl\:w-(20%);
  }

  @mixin xl\:w-2\/5 {
    @include xl\:w-(40%);
  }

  @mixin xl\:w-3\/5 {
    @include xl\:w-(60%);
  }

  @mixin xl\:w-4\/5 {
    @include xl\:w-(80%);
  }

  @mixin xl\:w-1\/6 {
    @include xl\:w-(16.666667%);
  }

  @mixin xl\:w-2\/6 {
    @include xl\:w-(33.333333%);
  }

  @mixin xl\:w-3\/6 {
    @include xl\:w-(50%);
  }

  @mixin xl\:w-4\/6 {
    @include xl\:w-(66.666667%);
  }

  @mixin xl\:w-5\/6 {
    @include xl\:w-(83.333333%);
  }

  @mixin xl\:w-1\/12 {
    @include xl\:w-(8.333333%);
  }

  @mixin xl\:w-2\/12 {
    @include xl\:w-(16.666667%);
  }

  @mixin xl\:w-3\/12 {
    @include xl\:w-(25%);
  }

  @mixin xl\:w-4\/12 {
    @include xl\:w-(33.333333%);
  }

  @mixin xl\:w-5\/12 {
    @include xl\:w-(41.666667%);
  }

  @mixin xl\:w-6\/12 {
    @include xl\:w-(50%);
  }

  @mixin xl\:w-7\/12 {
    @include xl\:w-(58.333333%);
  }

  @mixin xl\:w-8\/12 {
    @include xl\:w-(66.666667%);
  }

  @mixin xl\:w-9\/12 {
    @include xl\:w-(75%);
  }

  @mixin xl\:w-10\/12 {
    @include xl\:w-(83.333333%);
  }

  @mixin xl\:w-11\/12 {
    @include xl\:w-(91.666667%);
  }

  @mixin xl\:w-full {
    @include xl\:w-(100%);
  }

  @mixin xl\:w-screen {
    @include xl\:w-(100vw);
  }

  @mixin xl\:w-svw {
    @include xl\:w-(100svw);
  }

  @mixin xl\:w-lvw {
    @include xl\:w-(100lvw);
  }

  @mixin xl\:w-dvw {
    @include xl\:w-(100dvw);
  }

  @mixin xl\:w-min {
    @include xl\:w-(min-content);
  }

  @mixin xl\:w-max {
    @include xl\:w-(max-content);
  }

  @mixin xl\:w-fit {
    @include xl\:w-(fit-content);
  }

  @mixin \2xl\:w-0 {
    @include \2xl\:w-($\0);
  }

  @mixin \2xl\:w-px {
    @include \2xl\:w-($\px);
  }

  @mixin \2xl\:w-0\.5 {
    @include \2xl\:w-($\0\.5);
  }

  @mixin \2xl\:w-1 {
    @include \2xl\:w-($\1);
  }

  @mixin \2xl\:w-1\.5 {
    @include \2xl\:w-($\1\.5);
  }

  @mixin \2xl\:w-2 {
    @include \2xl\:w-($\2);
  }

  @mixin \2xl\:w-2\.5 {
    @include \2xl\:w-($\2\.5);
  }

  @mixin \2xl\:w-3 {
    @include \2xl\:w-($\3);
  }

  @mixin \2xl\:w-3\.5 {
    @include \2xl\:w-($\3\.5);
  }

  @mixin \2xl\:w-4 {
    @include \2xl\:w-($\4);
  }

  @mixin \2xl\:w-5 {
    @include \2xl\:w-($\5);
  }

  @mixin \2xl\:w-6 {
    @include \2xl\:w-($\6);
  }

  @mixin \2xl\:w-7 {
    @include \2xl\:w-($\7);
  }

  @mixin \2xl\:w-8 {
    @include \2xl\:w-($\8);
  }

  @mixin \2xl\:w-9 {
    @include \2xl\:w-($\9);
  }

  @mixin \2xl\:w-10 {
    @include \2xl\:w-($\10);
  }

  @mixin \2xl\:w-11 {
    @include \2xl\:w-($\11);
  }

  @mixin \2xl\:w-12 {
    @include \2xl\:w-($\12);
  }

  @mixin \2xl\:w-14 {
    @include \2xl\:w-($\14);
  }

  @mixin \2xl\:w-16 {
    @include \2xl\:w-($\16);
  }

  @mixin \2xl\:w-20 {
    @include \2xl\:w-($\20);
  }

  @mixin \2xl\:w-24 {
    @include \2xl\:w-($\24);
  }

  @mixin \2xl\:w-28 {
    @include \2xl\:w-($\28);
  }

  @mixin \2xl\:w-32 {
    @include \2xl\:w-($\32);
  }

  @mixin \2xl\:w-36 {
    @include \2xl\:w-($\36);
  }

  @mixin \2xl\:w-40 {
    @include \2xl\:w-($\40);
  }

  @mixin \2xl\:w-44 {
    @include \2xl\:w-($\44);
  }

  @mixin \2xl\:w-48 {
    @include \2xl\:w-($\48);
  }

  @mixin \2xl\:w-52 {
    @include \2xl\:w-($\52);
  }

  @mixin \2xl\:w-56 {
    @include \2xl\:w-($\56);
  }

  @mixin \2xl\:w-60 {
    @include \2xl\:w-($\60);
  }

  @mixin \2xl\:w-64 {
    @include \2xl\:w-($\64);
  }

  @mixin \2xl\:w-72 {
    @include \2xl\:w-($\72);
  }

  @mixin \2xl\:w-80 {
    @include \2xl\:w-($\80);
  }

  @mixin \2xl\:w-96 {
    @include \2xl\:w-($\96);
  }

  @mixin \2xl\:w-auto {
    @include \2xl\:w-(auto);
  }

  @mixin \2xl\:w-1\/2 {
    @include \2xl\:w-(50%);
  }

  @mixin \2xl\:w-1\/3 {
    @include \2xl\:w-(33.333333%);
  }

  @mixin \2xl\:w-2\/3 {
    @include \2xl\:w-(66.666667%);
  }

  @mixin \2xl\:w-1\/4 {
    @include \2xl\:w-(25%);
  }

  @mixin \2xl\:w-2\/4 {
    @include \2xl\:w-(50%);
  }

  @mixin \2xl\:w-3\/4 {
    @include \2xl\:w-(75%);
  }

  @mixin \2xl\:w-1\/5 {
    @include \2xl\:w-(20%);
  }

  @mixin \2xl\:w-2\/5 {
    @include \2xl\:w-(40%);
  }

  @mixin \2xl\:w-3\/5 {
    @include \2xl\:w-(60%);
  }

  @mixin \2xl\:w-4\/5 {
    @include \2xl\:w-(80%);
  }

  @mixin \2xl\:w-1\/6 {
    @include \2xl\:w-(16.666667%);
  }

  @mixin \2xl\:w-2\/6 {
    @include \2xl\:w-(33.333333%);
  }

  @mixin \2xl\:w-3\/6 {
    @include \2xl\:w-(50%);
  }

  @mixin \2xl\:w-4\/6 {
    @include \2xl\:w-(66.666667%);
  }

  @mixin \2xl\:w-5\/6 {
    @include \2xl\:w-(83.333333%);
  }

  @mixin \2xl\:w-1\/12 {
    @include \2xl\:w-(8.333333%);
  }

  @mixin \2xl\:w-2\/12 {
    @include \2xl\:w-(16.666667%);
  }

  @mixin \2xl\:w-3\/12 {
    @include \2xl\:w-(25%);
  }

  @mixin \2xl\:w-4\/12 {
    @include \2xl\:w-(33.333333%);
  }

  @mixin \2xl\:w-5\/12 {
    @include \2xl\:w-(41.666667%);
  }

  @mixin \2xl\:w-6\/12 {
    @include \2xl\:w-(50%);
  }

  @mixin \2xl\:w-7\/12 {
    @include \2xl\:w-(58.333333%);
  }

  @mixin \2xl\:w-8\/12 {
    @include \2xl\:w-(66.666667%);
  }

  @mixin \2xl\:w-9\/12 {
    @include \2xl\:w-(75%);
  }

  @mixin \2xl\:w-10\/12 {
    @include \2xl\:w-(83.333333%);
  }

  @mixin \2xl\:w-11\/12 {
    @include \2xl\:w-(91.666667%);
  }

  @mixin \2xl\:w-full {
    @include \2xl\:w-(100%);
  }

  @mixin \2xl\:w-screen {
    @include \2xl\:w-(100vw);
  }

  @mixin \2xl\:w-svw {
    @include \2xl\:w-(100svw);
  }

  @mixin \2xl\:w-lvw {
    @include \2xl\:w-(100lvw);
  }

  @mixin \2xl\:w-dvw {
    @include \2xl\:w-(100dvw);
  }

  @mixin \2xl\:w-min {
    @include \2xl\:w-(min-content);
  }

  @mixin \2xl\:w-max {
    @include \2xl\:w-(max-content);
  }

  @mixin \2xl\:w-fit {
    @include \2xl\:w-(fit-content);
  }

  // x*/
}

@if $Custom {
  // /*x
  @mixin w-($v) {
    @include width($v);
  }

  @mixin sm\:w-($v) {
    @include width($v, $sm);
  }

  @mixin md\:w-($v) {
    @include width($v, $md);
  }

  @mixin lg\:w-($v) {
    @include width($v, $lg);
  }

  @mixin xl\:w-($v) {
    @include width($v, $xl);
  }

  @mixin \2xl\:w-($v) {
    @include width($v, $\2xl);
  }

  // x*/
}
