@use "../../../settings/structures" as *;

@if $TextAlign {
  #mixin__text-left {
    text-align: left;
  }

  #mixin__text-center {
    text-align: center;
  }

  #mixin__text-right {
    text-align: right;
  }

  #mixin__text-justify {
    text-align: justify;
  }

  #mixin__text-start {
    text-align: start;
  }

  #mixin__text-end {
    text-align: end;
  }
}
