@use "../../setting" as *;

$Contrast: (
  "contrast-0": contrast(0),
  "contrast-50": contrast(0.5),
  "contrast-75": contrast(0.75),
  "contrast-100": contrast(1),
  "contrast-125": contrast(1.25),
  "contrast-150": contrast(1.5),
  "contrast-200": contrast(2),
);

@if $Basic {
  @each $key, $value in $Contrast {
    /*x
    @mixin #{$key} {
      $tw-contrast: #{$value} !global;
      @include filter(get_filter());
    }
    x*/
  }
}

@if $Rwd and ($sizeMode ==0 or $sizeMode ==1) {
  @each $rwd in $rwdBox {
    @each $key, $value in $Contrast {
      /*x
      @mixin #{$rwd}\:#{$key} {
        $tw-contrast: #{$value} !global;
        @include filter(get_filter(), $#{$rwd});
      }
      x*/
    }
  }
}

@if $Custom {
  /*x
  @mixin contrast-($v) {
    $tw-contrast: contrast($v) !global;
    @include filter(get_filter());
  }
  x*/

  @each $rwd in $rwdBox {
    /*x
    @mixin #{$rwd}\:contrast-($v) {
      $tw-contrast: contrast($v) !global;
      @include filter(get_filter(), $#{$rwd});
    }
    x*/
  }
}