@use "../../setting" as *;

/* Border Width */
@if $Basic {
  // /*x
  @mixin border-0 {
    border-width: 0px;
  }

  @mixin border-2 {
    border-width: 2px;
  }

  @mixin border-4 {
    border-width: 4px;
  }

  @mixin border-8 {
    border-width: 8px;
  }

  @mixin border {
    border-width: 1px;
  }

  @mixin border-x-0 {
    border-left-width: 0px;
    border-right-width: 0px;
  }

  @mixin border-x-2 {
    border-left-width: 2px;
    border-right-width: 2px;
  }

  @mixin border-x-4 {
    border-left-width: 4px;
    border-right-width: 4px;
  }

  @mixin border-x-8 {
    border-left-width: 8px;
    border-right-width: 8px;
  }

  @mixin border-x {
    border-left-width: 1px;
    border-right-width: 1px;
  }

  @mixin border-y-0 {
    border-top-width: 0px;
    border-bottom-width: 0px;
  }

  @mixin border-y-2 {
    border-top-width: 2px;
    border-bottom-width: 2px;
  }

  @mixin border-y-4 {
    border-top-width: 4px;
    border-bottom-width: 4px;
  }

  @mixin border-y-8 {
    border-top-width: 8px;
    border-bottom-width: 8px;
  }

  @mixin border-y {
    border-top-width: 1px;
    border-bottom-width: 1px;
  }

  @mixin border-s-0 {
    border-inline-start-width: 0px;
  }

  @mixin border-s-2 {
    border-inline-start-width: 2px;
  }

  @mixin border-s-4 {
    border-inline-start-width: 4px;
  }

  @mixin border-s-8 {
    border-inline-start-width: 8px;
  }

  @mixin border-s {
    border-inline-start-width: 1px;
  }

  @mixin border-e-0 {
    border-inline-end-width: 0px;
  }

  @mixin border-e-2 {
    border-inline-end-width: 2px;
  }

  @mixin border-e-4 {
    border-inline-end-width: 4px;
  }

  @mixin border-e-8 {
    border-inline-end-width: 8px;
  }

  @mixin border-e {
    border-inline-end-width: 1px;
  }

  @mixin border-t-0 {
    border-top-width: 0px;
  }

  @mixin border-t-2 {
    border-top-width: 2px;
  }

  @mixin border-t-4 {
    border-top-width: 4px;
  }

  @mixin border-t-8 {
    border-top-width: 8px;
  }

  @mixin border-t {
    border-top-width: 1px;
  }

  @mixin border-r-0 {
    border-right-width: 0px;
  }

  @mixin border-r-2 {
    border-right-width: 2px;
  }

  @mixin border-r-4 {
    border-right-width: 4px;
  }

  @mixin border-r-8 {
    border-right-width: 8px;
  }

  @mixin border-r {
    border-right-width: 1px;
  }

  @mixin border-b-0 {
    border-bottom-width: 0px;
  }

  @mixin border-b-2 {
    border-bottom-width: 2px;
  }

  @mixin border-b-4 {
    border-bottom-width: 4px;
  }

  @mixin border-b-8 {
    border-bottom-width: 8px;
  }

  @mixin border-b {
    border-bottom-width: 1px;
  }

  @mixin border-l-0 {
    border-left-width: 0px;
  }

  @mixin border-l-2 {
    border-left-width: 2px;
  }

  @mixin border-l-4 {
    border-left-width: 4px;
  }

  @mixin border-l-8 {
    border-left-width: 8px;
  }

  @mixin border-l {
    border-left-width: 1px;
  } // x*/
}

@if $Rwd {
  // /*x
  @mixin sm\:border-0 {
    @include r(sm, border-width, 0px);
  }

  @mixin sm\:border-2 {
    @include r(sm, border-width, 2px);
  }

  @mixin sm\:border-4 {
    @include r(sm, border-width, 4px);
  }

  @mixin sm\:border-8 {
    @include r(sm, border-width, 8px);
  }

  @mixin sm\:border {
    @include r(sm, border-width, 1px);
  }

  @mixin sm\:border-x-0 {
    @include r(sm, border-left-width, 0px, border-right-width, 0px);
  }

  @mixin sm\:border-x-2 {
    @include r(sm, border-left-width, 2px, border-right-width, 2px);
  }

  @mixin sm\:border-x-4 {
    @include r(sm, border-left-width, 4px, border-right-width, 4px);
  }

  @mixin sm\:border-x-8 {
    @include r(sm, border-left-width, 8px, border-right-width, 8px);
  }

  @mixin sm\:border-x {
    @include r(sm, border-left-width, 1px, border-right-width, 1px);
  }

  @mixin sm\:border-y-0 {
    @include r(sm, border-top-width, 0px, border-bottom-width, 0px);
  }

  @mixin sm\:border-y-2 {
    @include r(sm, border-top-width, 2px, border-bottom-width, 2px);
  }

  @mixin sm\:border-y-4 {
    @include r(sm, border-top-width, 4px, border-bottom-width, 4px);
  }

  @mixin sm\:border-y-8 {
    @include r(sm, border-top-width, 8px, border-bottom-width, 8px);
  }

  @mixin sm\:border-y {
    @include r(sm, border-top-width, 1px, border-bottom-width, 1px);
  }

  @mixin sm\:border-s-0 {
    @include r(sm, border-inline-start-width, 0px);
  }

  @mixin sm\:border-s-2 {
    @include r(sm, border-inline-start-width, 2px);
  }

  @mixin sm\:border-s-4 {
    @include r(sm, border-inline-start-width, 4px);
  }

  @mixin sm\:border-s-8 {
    @include r(sm, border-inline-start-width, 8px);
  }

  @mixin sm\:border-s {
    @include r(sm, border-inline-start-width, 1px);
  }

  @mixin sm\:border-e-0 {
    @include r(sm, border-inline-end-width, 0px);
  }

  @mixin sm\:border-e-2 {
    @include r(sm, border-inline-end-width, 2px);
  }

  @mixin sm\:border-e-4 {
    @include r(sm, border-inline-end-width, 4px);
  }

  @mixin sm\:border-e-8 {
    @include r(sm, border-inline-end-width, 8px);
  }

  @mixin sm\:border-e {
    @include r(sm, border-inline-end-width, 1px);
  }

  @mixin sm\:border-t-0 {
    @include r(sm, border-top-width, 0px);
  }

  @mixin sm\:border-t-2 {
    @include r(sm, border-top-width, 2px);
  }

  @mixin sm\:border-t-4 {
    @include r(sm, border-top-width, 4px);
  }

  @mixin sm\:border-t-8 {
    @include r(sm, border-top-width, 8px);
  }

  @mixin sm\:border-t {
    @include r(sm, border-top-width, 1px);
  }

  @mixin sm\:border-r-0 {
    @include r(sm, border-right-width, 0px);
  }

  @mixin sm\:border-r-2 {
    @include r(sm, border-right-width, 2px);
  }

  @mixin sm\:border-r-4 {
    @include r(sm, border-right-width, 4px);
  }

  @mixin sm\:border-r-8 {
    @include r(sm, border-right-width, 8px);
  }

  @mixin sm\:border-r {
    @include r(sm, border-right-width, 1px);
  }

  @mixin sm\:border-b-0 {
    @include r(sm, border-bottom-width, 0px);
  }

  @mixin sm\:border-b-2 {
    @include r(sm, border-bottom-width, 2px);
  }

  @mixin sm\:border-b-4 {
    @include r(sm, border-bottom-width, 4px);
  }

  @mixin sm\:border-b-8 {
    @include r(sm, border-bottom-width, 8px);
  }

  @mixin sm\:border-b {
    @include r(sm, border-bottom-width, 1px);
  }

  @mixin sm\:border-l-0 {
    @include r(sm, border-left-width, 0px);
  }

  @mixin sm\:border-l-2 {
    @include r(sm, border-left-width, 2px);
  }

  @mixin sm\:border-l-4 {
    @include r(sm, border-left-width, 4px);
  }

  @mixin sm\:border-l-8 {
    @include r(sm, border-left-width, 8px);
  }

  @mixin sm\:border-l {
    @include r(sm, border-left-width, 1px);
  }
  @mixin md\:border-0 {
    @include r(md, border-width, 0px);
  }

  @mixin md\:border-2 {
    @include r(md, border-width, 2px);
  }

  @mixin md\:border-4 {
    @include r(md, border-width, 4px);
  }

  @mixin md\:border-8 {
    @include r(md, border-width, 8px);
  }

  @mixin md\:border {
    @include r(md, border-width, 1px);
  }

  @mixin md\:border-x-0 {
    @include r(md, border-left-width, 0px, border-right-width, 0px);
  }

  @mixin md\:border-x-2 {
    @include r(md, border-left-width, 2px, border-right-width, 2px);
  }

  @mixin md\:border-x-4 {
    @include r(md, border-left-width, 4px, border-right-width, 4px);
  }

  @mixin md\:border-x-8 {
    @include r(md, border-left-width, 8px, border-right-width, 8px);
  }

  @mixin md\:border-x {
    @include r(md, border-left-width, 1px, border-right-width, 1px);
  }

  @mixin md\:border-y-0 {
    @include r(md, border-top-width, 0px, border-bottom-width, 0px);
  }

  @mixin md\:border-y-2 {
    @include r(md, border-top-width, 2px, border-bottom-width, 2px);
  }

  @mixin md\:border-y-4 {
    @include r(md, border-top-width, 4px, border-bottom-width, 4px);
  }

  @mixin md\:border-y-8 {
    @include r(md, border-top-width, 8px, border-bottom-width, 8px);
  }

  @mixin md\:border-y {
    @include r(md, border-top-width, 1px, border-bottom-width, 1px);
  }

  @mixin md\:border-s-0 {
    @include r(md, border-inline-start-width, 0px);
  }

  @mixin md\:border-s-2 {
    @include r(md, border-inline-start-width, 2px);
  }

  @mixin md\:border-s-4 {
    @include r(md, border-inline-start-width, 4px);
  }

  @mixin md\:border-s-8 {
    @include r(md, border-inline-start-width, 8px);
  }

  @mixin md\:border-s {
    @include r(md, border-inline-start-width, 1px);
  }

  @mixin md\:border-e-0 {
    @include r(md, border-inline-end-width, 0px);
  }

  @mixin md\:border-e-2 {
    @include r(md, border-inline-end-width, 2px);
  }

  @mixin md\:border-e-4 {
    @include r(md, border-inline-end-width, 4px);
  }

  @mixin md\:border-e-8 {
    @include r(md, border-inline-end-width, 8px);
  }

  @mixin md\:border-e {
    @include r(md, border-inline-end-width, 1px);
  }

  @mixin md\:border-t-0 {
    @include r(md, border-top-width, 0px);
  }

  @mixin md\:border-t-2 {
    @include r(md, border-top-width, 2px);
  }

  @mixin md\:border-t-4 {
    @include r(md, border-top-width, 4px);
  }

  @mixin md\:border-t-8 {
    @include r(md, border-top-width, 8px);
  }

  @mixin md\:border-t {
    @include r(md, border-top-width, 1px);
  }

  @mixin md\:border-r-0 {
    @include r(md, border-right-width, 0px);
  }

  @mixin md\:border-r-2 {
    @include r(md, border-right-width, 2px);
  }

  @mixin md\:border-r-4 {
    @include r(md, border-right-width, 4px);
  }

  @mixin md\:border-r-8 {
    @include r(md, border-right-width, 8px);
  }

  @mixin md\:border-r {
    @include r(md, border-right-width, 1px);
  }

  @mixin md\:border-b-0 {
    @include r(md, border-bottom-width, 0px);
  }

  @mixin md\:border-b-2 {
    @include r(md, border-bottom-width, 2px);
  }

  @mixin md\:border-b-4 {
    @include r(md, border-bottom-width, 4px);
  }

  @mixin md\:border-b-8 {
    @include r(md, border-bottom-width, 8px);
  }

  @mixin md\:border-b {
    @include r(md, border-bottom-width, 1px);
  }

  @mixin md\:border-l-0 {
    @include r(md, border-left-width, 0px);
  }

  @mixin md\:border-l-2 {
    @include r(md, border-left-width, 2px);
  }

  @mixin md\:border-l-4 {
    @include r(md, border-left-width, 4px);
  }

  @mixin md\:border-l-8 {
    @include r(md, border-left-width, 8px);
  }

  @mixin md\:border-l {
    @include r(md, border-left-width, 1px);
  }
  @mixin lg\:border-0 {
    @include r(lg, border-width, 0px);
  }

  @mixin lg\:border-2 {
    @include r(lg, border-width, 2px);
  }

  @mixin lg\:border-4 {
    @include r(lg, border-width, 4px);
  }

  @mixin lg\:border-8 {
    @include r(lg, border-width, 8px);
  }

  @mixin lg\:border {
    @include r(lg, border-width, 1px);
  }

  @mixin lg\:border-x-0 {
    @include r(lg, border-left-width, 0px, border-right-width, 0px);
  }

  @mixin lg\:border-x-2 {
    @include r(lg, border-left-width, 2px, border-right-width, 2px);
  }

  @mixin lg\:border-x-4 {
    @include r(lg, border-left-width, 4px, border-right-width, 4px);
  }

  @mixin lg\:border-x-8 {
    @include r(lg, border-left-width, 8px, border-right-width, 8px);
  }

  @mixin lg\:border-x {
    @include r(lg, border-left-width, 1px, border-right-width, 1px);
  }

  @mixin lg\:border-y-0 {
    @include r(lg, border-top-width, 0px, border-bottom-width, 0px);
  }

  @mixin lg\:border-y-2 {
    @include r(lg, border-top-width, 2px, border-bottom-width, 2px);
  }

  @mixin lg\:border-y-4 {
    @include r(lg, border-top-width, 4px, border-bottom-width, 4px);
  }

  @mixin lg\:border-y-8 {
    @include r(lg, border-top-width, 8px, border-bottom-width, 8px);
  }

  @mixin lg\:border-y {
    @include r(lg, border-top-width, 1px, border-bottom-width, 1px);
  }

  @mixin lg\:border-s-0 {
    @include r(lg, border-inline-start-width, 0px);
  }

  @mixin lg\:border-s-2 {
    @include r(lg, border-inline-start-width, 2px);
  }

  @mixin lg\:border-s-4 {
    @include r(lg, border-inline-start-width, 4px);
  }

  @mixin lg\:border-s-8 {
    @include r(lg, border-inline-start-width, 8px);
  }

  @mixin lg\:border-s {
    @include r(lg, border-inline-start-width, 1px);
  }

  @mixin lg\:border-e-0 {
    @include r(lg, border-inline-end-width, 0px);
  }

  @mixin lg\:border-e-2 {
    @include r(lg, border-inline-end-width, 2px);
  }

  @mixin lg\:border-e-4 {
    @include r(lg, border-inline-end-width, 4px);
  }

  @mixin lg\:border-e-8 {
    @include r(lg, border-inline-end-width, 8px);
  }

  @mixin lg\:border-e {
    @include r(lg, border-inline-end-width, 1px);
  }

  @mixin lg\:border-t-0 {
    @include r(lg, border-top-width, 0px);
  }

  @mixin lg\:border-t-2 {
    @include r(lg, border-top-width, 2px);
  }

  @mixin lg\:border-t-4 {
    @include r(lg, border-top-width, 4px);
  }

  @mixin lg\:border-t-8 {
    @include r(lg, border-top-width, 8px);
  }

  @mixin lg\:border-t {
    @include r(lg, border-top-width, 1px);
  }

  @mixin lg\:border-r-0 {
    @include r(lg, border-right-width, 0px);
  }

  @mixin lg\:border-r-2 {
    @include r(lg, border-right-width, 2px);
  }

  @mixin lg\:border-r-4 {
    @include r(lg, border-right-width, 4px);
  }

  @mixin lg\:border-r-8 {
    @include r(lg, border-right-width, 8px);
  }

  @mixin lg\:border-r {
    @include r(lg, border-right-width, 1px);
  }

  @mixin lg\:border-b-0 {
    @include r(lg, border-bottom-width, 0px);
  }

  @mixin lg\:border-b-2 {
    @include r(lg, border-bottom-width, 2px);
  }

  @mixin lg\:border-b-4 {
    @include r(lg, border-bottom-width, 4px);
  }

  @mixin lg\:border-b-8 {
    @include r(lg, border-bottom-width, 8px);
  }

  @mixin lg\:border-b {
    @include r(lg, border-bottom-width, 1px);
  }

  @mixin lg\:border-l-0 {
    @include r(lg, border-left-width, 0px);
  }

  @mixin lg\:border-l-2 {
    @include r(lg, border-left-width, 2px);
  }

  @mixin lg\:border-l-4 {
    @include r(lg, border-left-width, 4px);
  }

  @mixin lg\:border-l-8 {
    @include r(lg, border-left-width, 8px);
  }

  @mixin lg\:border-l {
    @include r(lg, border-left-width, 1px);
  }
  @mixin xl\:border-0 {
    @include r(xl, border-width, 0px);
  }

  @mixin xl\:border-2 {
    @include r(xl, border-width, 2px);
  }

  @mixin xl\:border-4 {
    @include r(xl, border-width, 4px);
  }

  @mixin xl\:border-8 {
    @include r(xl, border-width, 8px);
  }

  @mixin xl\:border {
    @include r(xl, border-width, 1px);
  }

  @mixin xl\:border-x-0 {
    @include r(xl, border-left-width, 0px, border-right-width, 0px);
  }

  @mixin xl\:border-x-2 {
    @include r(xl, border-left-width, 2px, border-right-width, 2px);
  }

  @mixin xl\:border-x-4 {
    @include r(xl, border-left-width, 4px, border-right-width, 4px);
  }

  @mixin xl\:border-x-8 {
    @include r(xl, border-left-width, 8px, border-right-width, 8px);
  }

  @mixin xl\:border-x {
    @include r(xl, border-left-width, 1px, border-right-width, 1px);
  }

  @mixin xl\:border-y-0 {
    @include r(xl, border-top-width, 0px, border-bottom-width, 0px);
  }

  @mixin xl\:border-y-2 {
    @include r(xl, border-top-width, 2px, border-bottom-width, 2px);
  }

  @mixin xl\:border-y-4 {
    @include r(xl, border-top-width, 4px, border-bottom-width, 4px);
  }

  @mixin xl\:border-y-8 {
    @include r(xl, border-top-width, 8px, border-bottom-width, 8px);
  }

  @mixin xl\:border-y {
    @include r(xl, border-top-width, 1px, border-bottom-width, 1px);
  }

  @mixin xl\:border-s-0 {
    @include r(xl, border-inline-start-width, 0px);
  }

  @mixin xl\:border-s-2 {
    @include r(xl, border-inline-start-width, 2px);
  }

  @mixin xl\:border-s-4 {
    @include r(xl, border-inline-start-width, 4px);
  }

  @mixin xl\:border-s-8 {
    @include r(xl, border-inline-start-width, 8px);
  }

  @mixin xl\:border-s {
    @include r(xl, border-inline-start-width, 1px);
  }

  @mixin xl\:border-e-0 {
    @include r(xl, border-inline-end-width, 0px);
  }

  @mixin xl\:border-e-2 {
    @include r(xl, border-inline-end-width, 2px);
  }

  @mixin xl\:border-e-4 {
    @include r(xl, border-inline-end-width, 4px);
  }

  @mixin xl\:border-e-8 {
    @include r(xl, border-inline-end-width, 8px);
  }

  @mixin xl\:border-e {
    @include r(xl, border-inline-end-width, 1px);
  }

  @mixin xl\:border-t-0 {
    @include r(xl, border-top-width, 0px);
  }

  @mixin xl\:border-t-2 {
    @include r(xl, border-top-width, 2px);
  }

  @mixin xl\:border-t-4 {
    @include r(xl, border-top-width, 4px);
  }

  @mixin xl\:border-t-8 {
    @include r(xl, border-top-width, 8px);
  }

  @mixin xl\:border-t {
    @include r(xl, border-top-width, 1px);
  }

  @mixin xl\:border-r-0 {
    @include r(xl, border-right-width, 0px);
  }

  @mixin xl\:border-r-2 {
    @include r(xl, border-right-width, 2px);
  }

  @mixin xl\:border-r-4 {
    @include r(xl, border-right-width, 4px);
  }

  @mixin xl\:border-r-8 {
    @include r(xl, border-right-width, 8px);
  }

  @mixin xl\:border-r {
    @include r(xl, border-right-width, 1px);
  }

  @mixin xl\:border-b-0 {
    @include r(xl, border-bottom-width, 0px);
  }

  @mixin xl\:border-b-2 {
    @include r(xl, border-bottom-width, 2px);
  }

  @mixin xl\:border-b-4 {
    @include r(xl, border-bottom-width, 4px);
  }

  @mixin xl\:border-b-8 {
    @include r(xl, border-bottom-width, 8px);
  }

  @mixin xl\:border-b {
    @include r(xl, border-bottom-width, 1px);
  }

  @mixin xl\:border-l-0 {
    @include r(xl, border-left-width, 0px);
  }

  @mixin xl\:border-l-2 {
    @include r(xl, border-left-width, 2px);
  }

  @mixin xl\:border-l-4 {
    @include r(xl, border-left-width, 4px);
  }

  @mixin xl\:border-l-8 {
    @include r(xl, border-left-width, 8px);
  }

  @mixin xl\:border-l {
    @include r(xl, border-left-width, 1px);
  }
  @mixin \2xl\:border-0 {
    @include r(2xl, border-width, 0px);
  }

  @mixin \2xl\:border-2 {
    @include r(2xl, border-width, 2px);
  }

  @mixin \2xl\:border-4 {
    @include r(2xl, border-width, 4px);
  }

  @mixin \2xl\:border-8 {
    @include r(2xl, border-width, 8px);
  }

  @mixin \2xl\:border {
    @include r(2xl, border-width, 1px);
  }

  @mixin \2xl\:border-x-0 {
    @include r(2xl, border-left-width, 0px, border-right-width, 0px);
  }

  @mixin \2xl\:border-x-2 {
    @include r(2xl, border-left-width, 2px, border-right-width, 2px);
  }

  @mixin \2xl\:border-x-4 {
    @include r(2xl, border-left-width, 4px, border-right-width, 4px);
  }

  @mixin \2xl\:border-x-8 {
    @include r(2xl, border-left-width, 8px, border-right-width, 8px);
  }

  @mixin \2xl\:border-x {
    @include r(2xl, border-left-width, 1px, border-right-width, 1px);
  }

  @mixin \2xl\:border-y-0 {
    @include r(2xl, border-top-width, 0px, border-bottom-width, 0px);
  }

  @mixin \2xl\:border-y-2 {
    @include r(2xl, border-top-width, 2px, border-bottom-width, 2px);
  }

  @mixin \2xl\:border-y-4 {
    @include r(2xl, border-top-width, 4px, border-bottom-width, 4px);
  }

  @mixin \2xl\:border-y-8 {
    @include r(2xl, border-top-width, 8px, border-bottom-width, 8px);
  }

  @mixin \2xl\:border-y {
    @include r(2xl, border-top-width, 1px, border-bottom-width, 1px);
  }

  @mixin \2xl\:border-s-0 {
    @include r(2xl, border-inline-start-width, 0px);
  }

  @mixin \2xl\:border-s-2 {
    @include r(2xl, border-inline-start-width, 2px);
  }

  @mixin \2xl\:border-s-4 {
    @include r(2xl, border-inline-start-width, 4px);
  }

  @mixin \2xl\:border-s-8 {
    @include r(2xl, border-inline-start-width, 8px);
  }

  @mixin \2xl\:border-s {
    @include r(2xl, border-inline-start-width, 1px);
  }

  @mixin \2xl\:border-e-0 {
    @include r(2xl, border-inline-end-width, 0px);
  }

  @mixin \2xl\:border-e-2 {
    @include r(2xl, border-inline-end-width, 2px);
  }

  @mixin \2xl\:border-e-4 {
    @include r(2xl, border-inline-end-width, 4px);
  }

  @mixin \2xl\:border-e-8 {
    @include r(2xl, border-inline-end-width, 8px);
  }

  @mixin \2xl\:border-e {
    @include r(2xl, border-inline-end-width, 1px);
  }

  @mixin \2xl\:border-t-0 {
    @include r(2xl, border-top-width, 0px);
  }

  @mixin \2xl\:border-t-2 {
    @include r(2xl, border-top-width, 2px);
  }

  @mixin \2xl\:border-t-4 {
    @include r(2xl, border-top-width, 4px);
  }

  @mixin \2xl\:border-t-8 {
    @include r(2xl, border-top-width, 8px);
  }

  @mixin \2xl\:border-t {
    @include r(2xl, border-top-width, 1px);
  }

  @mixin \2xl\:border-r-0 {
    @include r(2xl, border-right-width, 0px);
  }

  @mixin \2xl\:border-r-2 {
    @include r(2xl, border-right-width, 2px);
  }

  @mixin \2xl\:border-r-4 {
    @include r(2xl, border-right-width, 4px);
  }

  @mixin \2xl\:border-r-8 {
    @include r(2xl, border-right-width, 8px);
  }

  @mixin \2xl\:border-r {
    @include r(2xl, border-right-width, 1px);
  }

  @mixin \2xl\:border-b-0 {
    @include r(2xl, border-bottom-width, 0px);
  }

  @mixin \2xl\:border-b-2 {
    @include r(2xl, border-bottom-width, 2px);
  }

  @mixin \2xl\:border-b-4 {
    @include r(2xl, border-bottom-width, 4px);
  }

  @mixin \2xl\:border-b-8 {
    @include r(2xl, border-bottom-width, 8px);
  }

  @mixin \2xl\:border-b {
    @include r(2xl, border-bottom-width, 1px);
  }

  @mixin \2xl\:border-l-0 {
    @include r(2xl, border-left-width, 0px);
  }

  @mixin \2xl\:border-l-2 {
    @include r(2xl, border-left-width, 2px);
  }

  @mixin \2xl\:border-l-4 {
    @include r(2xl, border-left-width, 4px);
  }

  @mixin \2xl\:border-l-8 {
    @include r(2xl, border-left-width, 8px);
  }

  @mixin \2xl\:border-l {
    @include r(2xl, border-left-width, 1px);
  }

  // x*/
}

@if $Custom {
  // same as @mixin border-($v)
}
