@use "../../setting" as *;


$GridAutoFlow: (
  "grid-flow-row": row,
  "grid-flow-col": column,
  "grid-flow-dense": dense,
  "grid-flow-row-dense": row dense,
  "grid-flow-col-dense": column dense,
);

@if $Basic {
  @each $key, $value in $GridAutoFlow {
    /*x
    @mixin #{$key} {
      @include grid-auto-flow(#{$value});
    }
    x*/
  }
}

@if $Rwd {
  @each $rwd in $rwdBox {
    @each $key, $value in $GridAutoFlow {
      /*x
      @mixin #{$rwd}\:#{$key} {
        @include grid-auto-flow(#{$value}, $#{$rwd});
      }
      x*/
    }
  }
}