@use "../../mode0" as *;
@use "true" as *;

@include describe("13.Interactivity") {
  @include describe("Will Change") {
    @include describe("Basic") {
      @include it("will-change-auto") {
        @include assert {
          @include output {
            @include will-change-auto;
            @include reset;
          }

          @include expect {
            will-change: auto;
          }
        }
      }

      @include it("will-change-scroll") {
        @include assert {
          @include output {
            @include will-change-scroll;
            @include reset;
          }

          @include expect {
            will-change: scroll-position;
          }
        }
      }

      @include it("will-change-contents") {
        @include assert {
          @include output {
            @include will-change-contents;
            @include reset;
          }

          @include expect {
            will-change: contents;
          }
        }
      }

      @include it("will-change-transform") {
        @include assert {
          @include output {
            @include will-change-transform;
            @include reset;
          }

          @include expect {
            will-change: transform;
          }
        }
      }
    }

    @include describe("Rwd") {
      @include it("sm\:will-change-auto") {
        @include assert {
          @include output {
            @include sm\:will-change-auto;
            @include reset;
          }

          @include expect {
            @media (min-width: $sm) {
              will-change: auto;
            }
          }
        }
      }

      @include it("sm\:will-change-scroll") {
        @include assert {
          @include output {
            @include sm\:will-change-scroll;
            @include reset;
          }

          @include expect {
            @media (min-width: $sm) {
              will-change: scroll-position;
            }
          }
        }
      }

      @include it("sm\:will-change-contents") {
        @include assert {
          @include output {
            @include sm\:will-change-contents;
            @include reset;
          }

          @include expect {
            @media (min-width: $sm) {
              will-change: contents;
            }
          }
        }
      }

      @include it("sm\:will-change-transform") {
        @include assert {
          @include output {
            @include sm\:will-change-transform;
            @include reset;
          }

          @include expect {
            @media (min-width: $sm) {
              will-change: transform;
            }
          }
        }
      }

      @include it("md\:will-change-auto") {
        @include assert {
          @include output {
            @include md\:will-change-auto;
            @include reset;
          }

          @include expect {
            @media (min-width: $md) {
              will-change: auto;
            }
          }
        }
      }

      @include it("md\:will-change-scroll") {
        @include assert {
          @include output {
            @include md\:will-change-scroll;
            @include reset;
          }

          @include expect {
            @media (min-width: $md) {
              will-change: scroll-position;
            }
          }
        }
      }

      @include it("md\:will-change-contents") {
        @include assert {
          @include output {
            @include md\:will-change-contents;
            @include reset;
          }

          @include expect {
            @media (min-width: $md) {
              will-change: contents;
            }
          }
        }
      }

      @include it("md\:will-change-transform") {
        @include assert {
          @include output {
            @include md\:will-change-transform;
            @include reset;
          }

          @include expect {
            @media (min-width: $md) {
              will-change: transform;
            }
          }
        }
      }

      @include it("lg\:will-change-auto") {
        @include assert {
          @include output {
            @include lg\:will-change-auto;
            @include reset;
          }

          @include expect {
            @media (min-width: $lg) {
              will-change: auto;
            }
          }
        }
      }

      @include it("lg\:will-change-scroll") {
        @include assert {
          @include output {
            @include lg\:will-change-scroll;
            @include reset;
          }

          @include expect {
            @media (min-width: $lg) {
              will-change: scroll-position;
            }
          }
        }
      }

      @include it("lg\:will-change-contents") {
        @include assert {
          @include output {
            @include lg\:will-change-contents;
            @include reset;
          }

          @include expect {
            @media (min-width: $lg) {
              will-change: contents;
            }
          }
        }
      }

      @include it("lg\:will-change-transform") {
        @include assert {
          @include output {
            @include lg\:will-change-transform;
            @include reset;
          }

          @include expect {
            @media (min-width: $lg) {
              will-change: transform;
            }
          }
        }
      }

      @include it("xl\:will-change-auto") {
        @include assert {
          @include output {
            @include xl\:will-change-auto;
            @include reset;
          }

          @include expect {
            @media (min-width: $xl) {
              will-change: auto;
            }
          }
        }
      }

      @include it("xl\:will-change-scroll") {
        @include assert {
          @include output {
            @include xl\:will-change-scroll;
            @include reset;
          }

          @include expect {
            @media (min-width: $xl) {
              will-change: scroll-position;
            }
          }
        }
      }

      @include it("xl\:will-change-contents") {
        @include assert {
          @include output {
            @include xl\:will-change-contents;
            @include reset;
          }

          @include expect {
            @media (min-width: $xl) {
              will-change: contents;
            }
          }
        }
      }

      @include it("xl\:will-change-transform") {
        @include assert {
          @include output {
            @include xl\:will-change-transform;
            @include reset;
          }

          @include expect {
            @media (min-width: $xl) {
              will-change: transform;
            }
          }
        }
      }

      @include it("\2xl\:will-change-auto") {
        @include assert {
          @include output {
            @include \2xl\:will-change-auto;
            @include reset;
          }

          @include expect {
            @media (min-width: $\2xl) {
              will-change: auto;
            }
          }
        }
      }

      @include it("\2xl\:will-change-scroll") {
        @include assert {
          @include output {
            @include \2xl\:will-change-scroll;
            @include reset;
          }

          @include expect {
            @media (min-width: $\2xl) {
              will-change: scroll-position;
            }
          }
        }
      }

      @include it("\2xl\:will-change-contents") {
        @include assert {
          @include output {
            @include \2xl\:will-change-contents;
            @include reset;
          }

          @include expect {
            @media (min-width: $\2xl) {
              will-change: contents;
            }
          }
        }
      }

      @include it("\2xl\:will-change-transform") {
        @include assert {
          @include output {
            @include \2xl\:will-change-transform;
            @include reset;
          }

          @include expect {
            @media (min-width: $\2xl) {
              will-change: transform;
            }
          }
        }
      }
    }

    @include describe("Custom") {
      @include it("will-change-(top, left)") {
        @include assert {
          @include output {
            @include will-change-(top, left);
            @include reset;
          }

          @include expect {
            will-change: top, left;
          }
        }
      }

      @include it("sm\:will-change-(top, left)") {
        @include assert {
          @include output {
            @include sm\:will-change-(top, left);
            @include reset;
          }

          @include expect {
            @media (min-width: $sm) {
              will-change: top, left;
            }
          }
        }
      }

      @include it("md\:will-change-(top, left)") {
        @include assert {
          @include output {
            @include md\:will-change-(top, left);
            @include reset;
          }

          @include expect {
            @media (min-width: $md) {
              will-change: top, left;
            }
          }
        }
      }

      @include it("lg\:will-change-(top, left)") {
        @include assert {
          @include output {
            @include lg\:will-change-(top, left);
            @include reset;
          }

          @include expect {
            @media (min-width: $lg) {
              will-change: top, left;
            }
          }
        }
      }

      @include it("xl\:will-change-(top, left)") {
        @include assert {
          @include output {
            @include xl\:will-change-(top, left);
            @include reset;
          }

          @include expect {
            @media (min-width: $xl) {
              will-change: top, left;
            }
          }
        }
      }

      @include it("\2xl\:will-change-(top, left)") {
        @include assert {
          @include output {
            @include \2xl\:will-change-(top, left);
            @include reset;
          }

          @include expect {
            @media (min-width: $\2xl) {
              will-change: top, left;
            }
          }
        }
      }
    }
  }
}
