@use "../../../settings/structures" as *;

@if $ObjectPosition {
  #mixin__object-bottom {
    object-position: bottom;
  }

  #mixin__object-center {
    object-position: center;
  }

  #mixin__object-left {
    object-position: left;
  }

  #mixin__object-left-bottom {
    object-position: left bottom;
  }

  #mixin__object-left-top {
    object-position: left top;
  }

  #mixin__object-right {
    object-position: right;
  }

  #mixin__object-right-bottom {
    object-position: right bottom;
  }

  #mixin__object-right-top {
    object-position: right top;
  }

  #mixin__object-top {
    object-position: top;
  }
}
