@use "../../setting" as *;



$ScrollSnapAlign: (
  "snap-start": start,
  "snap-end": end,
  "snap-center": center,
  "snap-align-none": none,
);

@if $Basic {
  @each $key, $value in $ScrollSnapAlign {
    /*x
    @mixin #{$key} {
      @include scroll-snap-align(#{$value});
    }
    x*/
  }
}

@if $Rwd {
  @each $rwd in $rwdBox {
    @each $key, $value in $ScrollSnapAlign {
      /*x
      @mixin #{$rwd}\:#{$key} {
        @include scroll-snap-align(#{$value}, $#{$rwd});
      }
      x*/
    }
  }
}