@use "../../setting" as *;
@use "../../mode0" as *;
@use "true" as *;

@include describe("10.Tables") {
  @include describe("Table Layout") {
    @include describe("Basic") {
      @include it("table-auto") {
        @include assert {
          @include output {
            @include table-auto;
            @include clear;
          }

          @include expect {
            table-layout: auto;
          }
        }
      }

      @include it("table-fixed") {
        @include assert {
          @include output {
            @include table-fixed;
            @include clear;
          }

          @include expect {
            table-layout: fixed;
          }
        }
      }
    }

    @include describe("Rwd") {
      @include it("sm\:table-auto") {
        @include assert {
          @include output {
            @include sm\:table-auto;
            @include clear;
          }

          @include expect {
            @media (min-width: $sm) {
              table-layout: auto;
            }
          }
        }
      }

      @include it("sm\:table-fixed") {
        @include assert {
          @include output {
            @include sm\:table-fixed;
            @include clear;
          }

          @include expect {
            @media (min-width: $sm) {
              table-layout: fixed;
            }
          }
        }
      }

      @include it("md\:table-auto") {
        @include assert {
          @include output {
            @include md\:table-auto;
            @include clear;
          }

          @include expect {
            @media (min-width: $md) {
              table-layout: auto;
            }
          }
        }
      }

      @include it("md\:table-fixed") {
        @include assert {
          @include output {
            @include md\:table-fixed;
            @include clear;
          }

          @include expect {
            @media (min-width: $md) {
              table-layout: fixed;
            }
          }
        }
      }

      @include it("lg\:table-auto") {
        @include assert {
          @include output {
            @include lg\:table-auto;
            @include clear;
          }

          @include expect {
            @media (min-width: $lg) {
              table-layout: auto;
            }
          }
        }
      }

      @include it("lg\:table-fixed") {
        @include assert {
          @include output {
            @include lg\:table-fixed;
            @include clear;
          }

          @include expect {
            @media (min-width: $lg) {
              table-layout: fixed;
            }
          }
        }
      }

      @include it("xl\:table-auto") {
        @include assert {
          @include output {
            @include xl\:table-auto;
            @include clear;
          }

          @include expect {
            @media (min-width: $xl) {
              table-layout: auto;
            }
          }
        }
      }

      @include it("xl\:table-fixed") {
        @include assert {
          @include output {
            @include xl\:table-fixed;
            @include clear;
          }

          @include expect {
            @media (min-width: $xl) {
              table-layout: fixed;
            }
          }
        }
      }

      @include it("\2xl\:table-auto") {
        @include assert {
          @include output {
            @include \2xl\:table-auto;
            @include clear;
          }

          @include expect {
            @media (min-width: $\2xl) {
              table-layout: auto;
            }
          }
        }
      }

      @include it("\2xl\:table-fixed") {
        @include assert {
          @include output {
            @include \2xl\:table-fixed;
            @include clear;
          }

          @include expect {
            @media (min-width: $\2xl) {
              table-layout: fixed;
            }
          }
        }
      }
    }
  }
}
