@use "../../setting" as *;

$BorderStyle: (
  "border-solid": solid,
  "border-dashed": dashed,
  "border-dotted": dotted,
  "border-double": double,
  "border-hidden": hidden,
  "border-none": none,
);

@if $Basic {
  @each $key, $value in $BorderStyle {
    /*x
    @mixin #{$key}{
      @include border-style(#{$value});
    }
    x*/
  }
}

@if $Rwd {
  @each $rwd in $rwdBox {
    @each $key, $value in $BorderStyle {
      /*x
      @mixin #{$rwd}\:#{$key}{
        @include border-style(#{$value}, $#{$rwd});
      }
      x*/
    }
  }
}