@use "../../mode0" as *;
@use "true" as *;

@include describe("2.Flexbox & Grid") {
  @include describe("Align Items") {
    @include describe("Basic") {
      @include it("items-start") {
        @include assert {
          @include output {
            @include items-start;
            @include reset;
          }

          @include expect {
            align-items: flex-start;
          }
        }
      }

      @include it("items-end") {
        @include assert {
          @include output {
            @include items-end;
            @include reset;
          }

          @include expect {
            align-items: flex-end;
          }
        }
      }

      @include it("items-center") {
        @include assert {
          @include output {
            @include items-center;
            @include reset;
          }

          @include expect {
            align-items: center;
          }
        }
      }

      @include it("items-baseline") {
        @include assert {
          @include output {
            @include items-baseline;
            @include reset;
          }

          @include expect {
            align-items: baseline;
          }
        }
      }

      @include it("items-stretch") {
        @include assert {
          @include output {
            @include items-stretch;
            @include reset;
          }

          @include expect {
            align-items: stretch;
          }
        }
      }
    }

    @include describe("Rwd") {
      @include it("sm\:items-start") {
        @include assert {
          @include output {
            @include sm\:items-start;
            @include reset;
          }

          @include expect {
            @media (min-width: $sm) {
              align-items: flex-start;
            }
          }
        }
      }

      @include it("sm\:items-end") {
        @include assert {
          @include output {
            @include sm\:items-end;
            @include reset;
          }

          @include expect {
            @media (min-width: $sm) {
              align-items: flex-end;
            }
          }
        }
      }

      @include it("sm\:items-center") {
        @include assert {
          @include output {
            @include sm\:items-center;
            @include reset;
          }

          @include expect {
            @media (min-width: $sm) {
              align-items: center;
            }
          }
        }
      }

      @include it("sm\:items-baseline") {
        @include assert {
          @include output {
            @include sm\:items-baseline;
            @include reset;
          }

          @include expect {
            @media (min-width: $sm) {
              align-items: baseline;
            }
          }
        }
      }

      @include it("sm\:items-stretch") {
        @include assert {
          @include output {
            @include sm\:items-stretch;
            @include reset;
          }

          @include expect {
            @media (min-width: $sm) {
              align-items: stretch;
            }
          }
        }
      }

      @include it("md\:items-start") {
        @include assert {
          @include output {
            @include md\:items-start;
            @include reset;
          }

          @include expect {
            @media (min-width: $md) {
              align-items: flex-start;
            }
          }
        }
      }

      @include it("md\:items-end") {
        @include assert {
          @include output {
            @include md\:items-end;
            @include reset;
          }

          @include expect {
            @media (min-width: $md) {
              align-items: flex-end;
            }
          }
        }
      }

      @include it("md\:items-center") {
        @include assert {
          @include output {
            @include md\:items-center;
            @include reset;
          }

          @include expect {
            @media (min-width: $md) {
              align-items: center;
            }
          }
        }
      }

      @include it("md\:items-baseline") {
        @include assert {
          @include output {
            @include md\:items-baseline;
            @include reset;
          }

          @include expect {
            @media (min-width: $md) {
              align-items: baseline;
            }
          }
        }
      }

      @include it("md\:items-stretch") {
        @include assert {
          @include output {
            @include md\:items-stretch;
            @include reset;
          }

          @include expect {
            @media (min-width: $md) {
              align-items: stretch;
            }
          }
        }
      }

      @include it("lg\:items-start") {
        @include assert {
          @include output {
            @include lg\:items-start;
            @include reset;
          }

          @include expect {
            @media (min-width: $lg) {
              align-items: flex-start;
            }
          }
        }
      }

      @include it("lg\:items-end") {
        @include assert {
          @include output {
            @include lg\:items-end;
            @include reset;
          }

          @include expect {
            @media (min-width: $lg) {
              align-items: flex-end;
            }
          }
        }
      }

      @include it("lg\:items-center") {
        @include assert {
          @include output {
            @include lg\:items-center;
            @include reset;
          }

          @include expect {
            @media (min-width: $lg) {
              align-items: center;
            }
          }
        }
      }

      @include it("lg\:items-baseline") {
        @include assert {
          @include output {
            @include lg\:items-baseline;
            @include reset;
          }

          @include expect {
            @media (min-width: $lg) {
              align-items: baseline;
            }
          }
        }
      }

      @include it("lg\:items-stretch") {
        @include assert {
          @include output {
            @include lg\:items-stretch;
            @include reset;
          }

          @include expect {
            @media (min-width: $lg) {
              align-items: stretch;
            }
          }
        }
      }

      @include it("xl\:items-start") {
        @include assert {
          @include output {
            @include xl\:items-start;
            @include reset;
          }

          @include expect {
            @media (min-width: $xl) {
              align-items: flex-start;
            }
          }
        }
      }

      @include it("xl\:items-end") {
        @include assert {
          @include output {
            @include xl\:items-end;
            @include reset;
          }

          @include expect {
            @media (min-width: $xl) {
              align-items: flex-end;
            }
          }
        }
      }

      @include it("xl\:items-center") {
        @include assert {
          @include output {
            @include xl\:items-center;
            @include reset;
          }

          @include expect {
            @media (min-width: $xl) {
              align-items: center;
            }
          }
        }
      }

      @include it("xl\:items-baseline") {
        @include assert {
          @include output {
            @include xl\:items-baseline;
            @include reset;
          }

          @include expect {
            @media (min-width: $xl) {
              align-items: baseline;
            }
          }
        }
      }

      @include it("xl\:items-stretch") {
        @include assert {
          @include output {
            @include xl\:items-stretch;
            @include reset;
          }

          @include expect {
            @media (min-width: $xl) {
              align-items: stretch;
            }
          }
        }
      }

      @include it("2xl\:items-start") {
        @include assert {
          @include output {
            @include \2xl\:items-start;
            @include reset;
          }

          @include expect {
            @media (min-width: $\2xl) {
              align-items: flex-start;
            }
          }
        }
      }

      @include it("2xl\:items-end") {
        @include assert {
          @include output {
            @include \2xl\:items-end;
            @include reset;
          }

          @include expect {
            @media (min-width: $\2xl) {
              align-items: flex-end;
            }
          }
        }
      }

      @include it("2xl\:items-center") {
        @include assert {
          @include output {
            @include \2xl\:items-center;
            @include reset;
          }

          @include expect {
            @media (min-width: $\2xl) {
              align-items: center;
            }
          }
        }
      }

      @include it("2xl\:items-baseline") {
        @include assert {
          @include output {
            @include \2xl\:items-baseline;
            @include reset;
          }

          @include expect {
            @media (min-width: $\2xl) {
              align-items: baseline;
            }
          }
        }
      }

      @include it("2xl\:items-stretch") {
        @include assert {
          @include output {
            @include \2xl\:items-stretch;
            @include reset;
          }

          @include expect {
            @media (min-width: $\2xl) {
              align-items: stretch;
            }
          }
        }
      }
    }
  }
}
