@use "../../mode0" as *;
@use "true" as *;

@include describe("9.Filters") {
  @include describe("Backdrop Sepia") {
    @include describe("Basic") {
      @include it("backdrop-sepia-0") {
        @include assert {
          @include output {
            @include backdrop-sepia-0;
            @include reset;
          }

          @include expect {
            backdrop-filter: sepia(0);
          }
        }
      }

      @include it("backdrop-sepia") {
        @include assert {
          @include output {
            @include backdrop-sepia;
            @include reset;
          }

          @include expect {
            backdrop-filter: sepia(100%);
          }
        }
      }
    }

    @include describe("Rwd") {
      @include it("sm\:backdrop-sepia-0") {
        @include assert {
          @include output {
            @include sm\:backdrop-sepia-0;
            @include reset;
          }

          @include expect {
            @media (min-width: $sm) {
              backdrop-filter: sepia(0);
            }
          }
        }
      }

      @include it("sm\:backdrop-sepia") {
        @include assert {
          @include output {
            @include sm\:backdrop-sepia;
            @include reset;
          }

          @include expect {
            @media (min-width: $sm) {
              backdrop-filter: sepia(100%);
            }
          }
        }
      }
      @include it("md\:backdrop-sepia-0") {
        @include assert {
          @include output {
            @include md\:backdrop-sepia-0;
            @include reset;
          }

          @include expect {
            @media (min-width: $md) {
              backdrop-filter: sepia(0);
            }
          }
        }
      }

      @include it("md\:backdrop-sepia") {
        @include assert {
          @include output {
            @include md\:backdrop-sepia;
            @include reset;
          }

          @include expect {
            @media (min-width: $md) {
              backdrop-filter: sepia(100%);
            }
          }
        }
      }
      @include it("lg\:backdrop-sepia-0") {
        @include assert {
          @include output {
            @include lg\:backdrop-sepia-0;
            @include reset;
          }

          @include expect {
            @media (min-width: $lg) {
              backdrop-filter: sepia(0);
            }
          }
        }
      }

      @include it("lg\:backdrop-sepia") {
        @include assert {
          @include output {
            @include lg\:backdrop-sepia;
            @include reset;
          }

          @include expect {
            @media (min-width: $lg) {
              backdrop-filter: sepia(100%);
            }
          }
        }
      }
      @include it("xl\:backdrop-sepia-0") {
        @include assert {
          @include output {
            @include xl\:backdrop-sepia-0;
            @include reset;
          }

          @include expect {
            @media (min-width: $xl) {
              backdrop-filter: sepia(0);
            }
          }
        }
      }

      @include it("xl\:backdrop-sepia") {
        @include assert {
          @include output {
            @include xl\:backdrop-sepia;
            @include reset;
          }

          @include expect {
            @media (min-width: $xl) {
              backdrop-filter: sepia(100%);
            }
          }
        }
      }
      @include it("\2xl\:backdrop-sepia-0") {
        @include assert {
          @include output {
            @include \2xl\:backdrop-sepia-0;
            @include reset;
          }

          @include expect {
            @media (min-width: $\2xl) {
              backdrop-filter: sepia(0);
            }
          }
        }
      }

      @include it("\2xl\:backdrop-sepia") {
        @include assert {
          @include output {
            @include \2xl\:backdrop-sepia;
            @include reset;
          }

          @include expect {
            @media (min-width: $\2xl) {
              backdrop-filter: sepia(100%);
            }
          }
        }
      }
    }

    @include describe("Custom") {
      @include it("backdrop-sepia-(.25)") {
        @include assert {
          @include output {
            @include backdrop-sepia-(0.25);
            @include reset;
          }

          @include expect {
            backdrop-filter: sepia(0.25);
          }
        }
      }

      @include it("sm\:backdrop-sepia-(.25)") {
        @include assert {
          @include output {
            @include sm\:backdrop-sepia-(0.25);
            @include reset;
          }

          @include expect {
            @media (min-width: $sm) {
              backdrop-filter: sepia(0.25);
            }
          }
        }
      }

      @include it("md\:backdrop-sepia-(.25)") {
        @include assert {
          @include output {
            @include md\:backdrop-sepia-(0.25);
            @include reset;
          }

          @include expect {
            @media (min-width: $md) {
              backdrop-filter: sepia(0.25);
            }
          }
        }
      }

      @include it("lg\:backdrop-sepia-(.25)") {
        @include assert {
          @include output {
            @include lg\:backdrop-sepia-(0.25);
            @include reset;
          }

          @include expect {
            @media (min-width: $lg) {
              backdrop-filter: sepia(0.25);
            }
          }
        }
      }

      @include it("xl\:backdrop-sepia-(.25)") {
        @include assert {
          @include output {
            @include xl\:backdrop-sepia-(0.25);
            @include reset;
          }

          @include expect {
            @media (min-width: $xl) {
              backdrop-filter: sepia(0.25);
            }
          }
        }
      }

      @include it("\2xl\:backdrop-sepia-(.25)") {
        @include assert {
          @include output {
            @include \2xl\:backdrop-sepia-(0.25);
            @include reset;
          }

          @include expect {
            @media (min-width: $\2xl) {
              backdrop-filter: sepia(0.25);
            }
          }
        }
      }
    }
  }
}
