@use "../../mode0" as *;
@use "true" as *;

@include describe("10.Tables") {
  @include describe("Title") {
    @include describe("Basic") {
    }

    @include describe("Rwd") {
      @include it("border-collapse") {
        @include assert {
          @include output {
            @include border-collapse;
            @include reset;
          }

          @include expect {
            border-collapse: collapse;
          }
        }
      }

      @include it("border-separate") {
        @include assert {
          @include output {
            @include border-separate;
            @include reset;
          }

          @include expect {
            border-collapse: separate;
          }
        }
      }
    }

    @include describe("Rwd") {
      @include it("sm\:border-collapse") {
        @include assert {
          @include output {
            @include sm\:border-collapse;
            @include reset;
          }

          @include expect {
            @media (min-width: $sm) {
              border-collapse: collapse;
            }
          }
        }
      }

      @include it("sm\:border-separate") {
        @include assert {
          @include output {
            @include sm\:border-separate;
            @include reset;
          }

          @include expect {
            @media (min-width: $sm) {
              border-collapse: separate;
            }
          }
        }
      }

      @include it("md\:border-collapse") {
        @include assert {
          @include output {
            @include md\:border-collapse;
            @include reset;
          }

          @include expect {
            @media (min-width: $md) {
              border-collapse: collapse;
            }
          }
        }
      }

      @include it("md\:border-separate") {
        @include assert {
          @include output {
            @include md\:border-separate;
            @include reset;
          }

          @include expect {
            @media (min-width: $md) {
              border-collapse: separate;
            }
          }
        }
      }

      @include it("lg\:border-collapse") {
        @include assert {
          @include output {
            @include lg\:border-collapse;
            @include reset;
          }

          @include expect {
            @media (min-width: $lg) {
              border-collapse: collapse;
            }
          }
        }
      }

      @include it("lg\:border-separate") {
        @include assert {
          @include output {
            @include lg\:border-separate;
            @include reset;
          }

          @include expect {
            @media (min-width: $lg) {
              border-collapse: separate;
            }
          }
        }
      }

      @include it("xl\:border-collapse") {
        @include assert {
          @include output {
            @include xl\:border-collapse;
            @include reset;
          }

          @include expect {
            @media (min-width: $xl) {
              border-collapse: collapse;
            }
          }
        }
      }

      @include it("xl\:border-separate") {
        @include assert {
          @include output {
            @include xl\:border-separate;
            @include reset;
          }

          @include expect {
            @media (min-width: $xl) {
              border-collapse: separate;
            }
          }
        }
      }

      @include it("2xl\:border-collapse") {
        @include assert {
          @include output {
            @include \2xl\:border-collapse;
            @include reset;
          }

          @include expect {
            @media (min-width: $\2xl) {
              border-collapse: collapse;
            }
          }
        }
      }

      @include it("2xl\:border-separate") {
        @include assert {
          @include output {
            @include \2xl\:border-separate;
            @include reset;
          }

          @include expect {
            @media (min-width: $\2xl) {
              border-collapse: separate;
            }
          }
        }
      }
    }
  }
}
