// 1st: position
// 2nd: width
// 3rd: height
// 4th: padding
// 5th: margin
// 6th: overflow
// 7th: clip
// 8th: white-space
// 9th: border-width
$ScreenReaders: (
  'sr-only': (
    absolute,
    1px,
    1px,
    0,
    -1px,
    hidden,
    rect(0, 0, 0, 0),
    nowrap,
    0,
  ),
  'not-sr-only': (
    static,
    auto,
    auto,
    0,
    0,
    visible,
    auto,
    normal,
    'null',
  ),
);

@if $isBasic {
  @each $key, $value in $ScreenReaders {
    /*x
    @mixin #{$key} {
      @include position(#{list.nth($value, 1)});
      @include width(#{list.nth($value, 2)});
      @include height(#{list.nth($value, 3)});
      @include padding(#{list.nth($value, 4)});
      @include margin(#{list.nth($value, 5)});
      @include overflow(#{list.nth($value, 6)});
      @include clip(#{list.nth($value, 7)});
      @include white-space(#{list.nth($value, 8)});
      @include border-width(#{list.nth($value, 9)});
    }
    x*/
  }
}

@if $isRwd and (not $isAwaken) {
  @each $rwdToken, $rwd in $rwdBox {
    @each $key, $value in $ScreenReaders {
      /*x
      @mixin #{$rwdToken}\:#{$key} {
        @include #{$rwdToken} {
          @include position(#{list.nth($value, 1)});
          @include width(#{list.nth($value, 2)});
          @include height(#{list.nth($value, 3)});
          @include padding(#{list.nth($value, 4)});
          @include margin(#{list.nth($value, 5)});
          @include overflow(#{list.nth($value, 6)});
          @include clip(#{list.nth($value, 7)});
          @include white-space(#{list.nth($value, 8)});
          @include border-width(#{list.nth($value, 9)});
        }
      }
      x*/
    }
  }
}
