@use "../../setting" as *;

/* Outline Color */
@if $Basic {
  /*x
  @mixin outline-inherit {
    outline-color: inherit;
  }
  
  @mixin outline-current {
    outline-color: currentColor;
  }
  
  @mixin outline-transparent {
    outline-color: transparent;
  }
  
  @mixin outline-black($v: 1) {
    outline-color: c(bla, $v);
  }
  
  @mixin outline-white($v: 1) {
    outline-color: c(whi, $v);
  }
  
  @mixin outline-slate-50($v: 1) {
    outline-color: c(sla-50, $v);
  }
  
  @mixin outline-slate-100($v: 1) {
    outline-color: c(sla-100, $v);
  }
  
  @mixin outline-slate-200($v: 1) {
    outline-color: c(sla-200, $v);
  }
  
  @mixin outline-slate-300($v: 1) {
    outline-color: c(sla-300, $v);
  }
  
  @mixin outline-slate-400($v: 1) {
    outline-color: c(sla-400, $v);
  }
  
  @mixin outline-slate-500($v: 1) {
    outline-color: c(sla-500, $v);
  }
  
  @mixin outline-slate-600($v: 1) {
    outline-color: c(sla-600, $v);
  }
  
  @mixin outline-slate-700($v: 1) {
    outline-color: c(sla-700, $v);
  }
  
  @mixin outline-slate-800($v: 1) {
    outline-color: c(sla-800, $v);
  }
  
  @mixin outline-slate-900($v: 1) {
    outline-color: c(sla-900, $v);
  }
  
  @mixin outline-slate-950($v: 1) {
    outline-color: c(sla-950, $v);
  }
  
  @mixin outline-gray-50($v: 1) {
    outline-color: c(gra-50, $v);
  }
  
  @mixin outline-gray-100($v: 1) {
    outline-color: c(gra-100, $v);
  }
  
  @mixin outline-gray-200($v: 1) {
    outline-color: c(gra-200, $v);
  }
  
  @mixin outline-gray-300($v: 1) {
    outline-color: c(gra-300, $v);
  }
  
  @mixin outline-gray-400($v: 1) {
    outline-color: c(gra-400, $v);
  }
  
  @mixin outline-gray-500($v: 1) {
    outline-color: c(gra-500, $v);
  }
  
  @mixin outline-gray-600($v: 1) {
    outline-color: c(gra-600, $v);
  }
  
  @mixin outline-gray-700($v: 1) {
    outline-color: c(gra-700, $v);
  }
  
  @mixin outline-gray-800($v: 1) {
    outline-color: c(gra-800, $v);
  }
  
  @mixin outline-gray-900($v: 1) {
    outline-color: c(gra-900, $v);
  }
  
  @mixin outline-gray-950($v: 1) {
    outline-color: c(gra-950, $v);
  }
  
  @mixin outline-zinc-50($v: 1) {
    outline-color: c(zin-50, $v);
  }
  
  @mixin outline-zinc-100($v: 1) {
    outline-color: c(zin-100, $v);
  }
  
  @mixin outline-zinc-200($v: 1) {
    outline-color: c(zin-200, $v);
  }
  
  @mixin outline-zinc-300($v: 1) {
    outline-color: c(zin-300, $v);
  }
  
  @mixin outline-zinc-400($v: 1) {
    outline-color: c(zin-400, $v);
  }
  
  @mixin outline-zinc-500($v: 1) {
    outline-color: c(zin-500, $v);
  }
  
  @mixin outline-zinc-600($v: 1) {
    outline-color: c(zin-600, $v);
  }
  
  @mixin outline-zinc-700($v: 1) {
    outline-color: c(zin-700, $v);
  }
  
  @mixin outline-zinc-800($v: 1) {
    outline-color: c(zin-800, $v);
  }
  
  @mixin outline-zinc-900($v: 1) {
    outline-color: c(zin-900, $v);
  }
  
  @mixin outline-zinc-950($v: 1) {
    outline-color: c(zin-950, $v);
  }
  
  @mixin outline-neutral-50($v: 1) {
    outline-color: c(neu-50, $v);
  }
  
  @mixin outline-neutral-100($v: 1) {
    outline-color: c(neu-100, $v);
  }
  
  @mixin outline-neutral-200($v: 1) {
    outline-color: c(neu-200, $v);
  }
  
  @mixin outline-neutral-300($v: 1) {
    outline-color: c(neu-300, $v);
  }
  
  @mixin outline-neutral-400($v: 1) {
    outline-color: c(neu-400, $v);
  }
  
  @mixin outline-neutral-500($v: 1) {
    outline-color: c(neu-500, $v);
  }
  
  @mixin outline-neutral-600($v: 1) {
    outline-color: c(neu-600, $v);
  }
  
  @mixin outline-neutral-700($v: 1) {
    outline-color: c(neu-700, $v);
  }
  
  @mixin outline-neutral-800($v: 1) {
    outline-color: c(neu-800, $v);
  }
  
  @mixin outline-neutral-900($v: 1) {
    outline-color: c(neu-900, $v);
  }
  
  @mixin outline-neutral-950($v: 1) {
    outline-color: c(neu-950, $v);
  }
  
  @mixin outline-stone-50($v: 1) {
    outline-color: c(sto-50, $v);
  }
  
  @mixin outline-stone-100($v: 1) {
    outline-color: c(sto-100, $v);
  }
  
  @mixin outline-stone-200($v: 1) {
    outline-color: c(sto-200, $v);
  }
  
  @mixin outline-stone-300($v: 1) {
    outline-color: c(sto-300, $v);
  }
  
  @mixin outline-stone-400($v: 1) {
    outline-color: c(sto-400, $v);
  }
  
  @mixin outline-stone-500($v: 1) {
    outline-color: c(sto-500, $v);
  }
  
  @mixin outline-stone-600($v: 1) {
    outline-color: c(sto-600, $v);
  }
  
  @mixin outline-stone-700($v: 1) {
    outline-color: c(sto-700, $v);
  }
  
  @mixin outline-stone-800($v: 1) {
    outline-color: c(sto-800, $v);
  }
  
  @mixin outline-stone-900($v: 1) {
    outline-color: c(sto-900, $v);
  }
  
  @mixin outline-stone-950($v: 1) {
    outline-color: c(sto-950, $v);
  }
  
  @mixin outline-red-50($v: 1) {
    outline-color: c(red-50, $v);
  }
  
  @mixin outline-red-100($v: 1) {
    outline-color: c(red-100, $v);
  }
  
  @mixin outline-red-200($v: 1) {
    outline-color: c(red-200, $v);
  }
  
  @mixin outline-red-300($v: 1) {
    outline-color: c(red-300, $v);
  }
  
  @mixin outline-red-400($v: 1) {
    outline-color: c(red-400, $v);
  }
  
  @mixin outline-red-500($v: 1) {
    outline-color: c(red-500, $v);
  }
  
  @mixin outline-red-600($v: 1) {
    outline-color: c(red-600, $v);
  }
  
  @mixin outline-red-700($v: 1) {
    outline-color: c(red-700, $v);
  }
  
  @mixin outline-red-800($v: 1) {
    outline-color: c(red-800, $v);
  }
  
  @mixin outline-red-900($v: 1) {
    outline-color: c(red-900, $v);
  }
  
  @mixin outline-red-950($v: 1) {
    outline-color: c(red-950, $v);
  }
  
  @mixin outline-orange-50($v: 1) {
    outline-color: c(ora-50, $v);
  }
  
  @mixin outline-orange-100($v: 1) {
    outline-color: c(ora-100, $v);
  }
  
  @mixin outline-orange-200($v: 1) {
    outline-color: c(ora-200, $v);
  }
  
  @mixin outline-orange-300($v: 1) {
    outline-color: c(ora-300, $v);
  }
  
  @mixin outline-orange-400($v: 1) {
    outline-color: c(ora-400, $v);
  }
  
  @mixin outline-orange-500($v: 1) {
    outline-color: c(ora-500, $v);
  }
  
  @mixin outline-orange-600($v: 1) {
    outline-color: c(ora-600, $v);
  }
  
  @mixin outline-orange-700($v: 1) {
    outline-color: c(ora-700, $v);
  }
  
  @mixin outline-orange-800($v: 1) {
    outline-color: c(ora-800, $v);
  }
  
  @mixin outline-orange-900($v: 1) {
    outline-color: c(ora-900, $v);
  }
  
  @mixin outline-orange-950($v: 1) {
    outline-color: c(ora-950, $v);
  }
  
  @mixin outline-amber-50($v: 1) {
    outline-color: c(amb-50, $v);
  }
  
  @mixin outline-amber-100($v: 1) {
    outline-color: c(amb-100, $v);
  }
  
  @mixin outline-amber-200($v: 1) {
    outline-color: c(amb-200, $v);
  }
  
  @mixin outline-amber-300($v: 1) {
    outline-color: c(amb-300, $v);
  }
  
  @mixin outline-amber-400($v: 1) {
    outline-color: c(amb-400, $v);
  }
  
  @mixin outline-amber-500($v: 1) {
    outline-color: c(amb-500, $v);
  }
  
  @mixin outline-amber-600($v: 1) {
    outline-color: c(amb-600, $v);
  }
  
  @mixin outline-amber-700($v: 1) {
    outline-color: c(amb-700, $v);
  }
  
  @mixin outline-amber-800($v: 1) {
    outline-color: c(amb-800, $v);
  }
  
  @mixin outline-amber-900($v: 1) {
    outline-color: c(amb-900, $v);
  }
  
  @mixin outline-amber-950($v: 1) {
    outline-color: c(amb-950, $v);
  }
  
  @mixin outline-yellow-50($v: 1) {
    outline-color: c(yel-50, $v);
  }
  
  @mixin outline-yellow-100($v: 1) {
    outline-color: c(yel-100, $v);
  }
  
  @mixin outline-yellow-200($v: 1) {
    outline-color: c(yel-200, $v);
  }
  
  @mixin outline-yellow-300($v: 1) {
    outline-color: c(yel-300, $v);
  }
  
  @mixin outline-yellow-400($v: 1) {
    outline-color: c(yel-400, $v);
  }
  
  @mixin outline-yellow-500($v: 1) {
    outline-color: c(yel-500, $v);
  }
  
  @mixin outline-yellow-600($v: 1) {
    outline-color: c(yel-600, $v);
  }
  
  @mixin outline-yellow-700($v: 1) {
    outline-color: c(yel-700, $v);
  }
  
  @mixin outline-yellow-800($v: 1) {
    outline-color: c(yel-800, $v);
  }
  
  @mixin outline-yellow-900($v: 1) {
    outline-color: c(yel-900, $v);
  }
  
  @mixin outline-yellow-950($v: 1) {
    outline-color: c(yel-950, $v);
  }
  
  @mixin outline-lime-50($v: 1) {
    outline-color: c(lim-50, $v);
  }
  
  @mixin outline-lime-100($v: 1) {
    outline-color: c(lim-100, $v);
  }
  
  @mixin outline-lime-200($v: 1) {
    outline-color: c(lim-200, $v);
  }
  
  @mixin outline-lime-300($v: 1) {
    outline-color: c(lim-300, $v);
  }
  
  @mixin outline-lime-400($v: 1) {
    outline-color: c(lim-400, $v);
  }
  
  @mixin outline-lime-500($v: 1) {
    outline-color: c(lim-500, $v);
  }
  
  @mixin outline-lime-600($v: 1) {
    outline-color: c(lim-600, $v);
  }
  
  @mixin outline-lime-700($v: 1) {
    outline-color: c(lim-700, $v);
  }
  
  @mixin outline-lime-800($v: 1) {
    outline-color: c(lim-800, $v);
  }
  
  @mixin outline-lime-900($v: 1) {
    outline-color: c(lim-900, $v);
  }
  
  @mixin outline-lime-950($v: 1) {
    outline-color: c(lim-950, $v);
  }
  
  @mixin outline-green-50($v: 1) {
    outline-color: c(gre-50, $v);
  }
  
  @mixin outline-green-100($v: 1) {
    outline-color: c(gre-100, $v);
  }
  
  @mixin outline-green-200($v: 1) {
    outline-color: c(gre-200, $v);
  }
  
  @mixin outline-green-300($v: 1) {
    outline-color: c(gre-300, $v);
  }
  
  @mixin outline-green-400($v: 1) {
    outline-color: c(gre-400, $v);
  }
  
  @mixin outline-green-500($v: 1) {
    outline-color: c(gre-500, $v);
  }
  
  @mixin outline-green-600($v: 1) {
    outline-color: c(gre-600, $v);
  }
  
  @mixin outline-green-700($v: 1) {
    outline-color: c(gre-700, $v);
  }
  
  @mixin outline-green-800($v: 1) {
    outline-color: c(gre-800, $v);
  }
  
  @mixin outline-green-900($v: 1) {
    outline-color: c(gre-900, $v);
  }
  
  @mixin outline-green-950($v: 1) {
    outline-color: c(gre-950, $v);
  }
  
  @mixin outline-emerald-50($v: 1) {
    outline-color: c(eme-50, $v);
  }
  
  @mixin outline-emerald-100($v: 1) {
    outline-color: c(eme-100, $v);
  }
  
  @mixin outline-emerald-200($v: 1) {
    outline-color: c(eme-200, $v);
  }
  
  @mixin outline-emerald-300($v: 1) {
    outline-color: c(eme-300, $v);
  }
  
  @mixin outline-emerald-400($v: 1) {
    outline-color: c(eme-400, $v);
  }
  
  @mixin outline-emerald-500($v: 1) {
    outline-color: c(eme-500, $v);
  }
  
  @mixin outline-emerald-600($v: 1) {
    outline-color: c(eme-600, $v);
  }
  
  @mixin outline-emerald-700($v: 1) {
    outline-color: c(eme-700, $v);
  }
  
  @mixin outline-emerald-800($v: 1) {
    outline-color: c(eme-800, $v);
  }
  
  @mixin outline-emerald-900($v: 1) {
    outline-color: c(eme-900, $v);
  }
  
  @mixin outline-emerald-950($v: 1) {
    outline-color: c(eme-950, $v);
  }
  
  @mixin outline-teal-50($v: 1) {
    outline-color: c(tea-50, $v);
  }
  
  @mixin outline-teal-100($v: 1) {
    outline-color: c(tea-100, $v);
  }
  
  @mixin outline-teal-200($v: 1) {
    outline-color: c(tea-200, $v);
  }
  
  @mixin outline-teal-300($v: 1) {
    outline-color: c(tea-300, $v);
  }
  
  @mixin outline-teal-400($v: 1) {
    outline-color: c(tea-400, $v);
  }
  
  @mixin outline-teal-500($v: 1) {
    outline-color: c(tea-500, $v);
  }
  
  @mixin outline-teal-600($v: 1) {
    outline-color: c(tea-600, $v);
  }
  
  @mixin outline-teal-700($v: 1) {
    outline-color: c(tea-700, $v);
  }
  
  @mixin outline-teal-800($v: 1) {
    outline-color: c(tea-800, $v);
  }
  
  @mixin outline-teal-900($v: 1) {
    outline-color: c(tea-900, $v);
  }
  
  @mixin outline-teal-950($v: 1) {
    outline-color: c(tea-950, $v);
  }
  
  @mixin outline-cyan-50($v: 1) {
    outline-color: c(cya-50, $v);
  }
  
  @mixin outline-cyan-100($v: 1) {
    outline-color: c(cya-100, $v);
  }
  
  @mixin outline-cyan-200($v: 1) {
    outline-color: c(cya-200, $v);
  }
  
  @mixin outline-cyan-300($v: 1) {
    outline-color: c(cya-300, $v);
  }
  
  @mixin outline-cyan-400($v: 1) {
    outline-color: c(cya-400, $v);
  }
  
  @mixin outline-cyan-500($v: 1) {
    outline-color: c(cya-500, $v);
  }
  
  @mixin outline-cyan-600($v: 1) {
    outline-color: c(cya-600, $v);
  }
  
  @mixin outline-cyan-700($v: 1) {
    outline-color: c(cya-700, $v);
  }
  
  @mixin outline-cyan-800($v: 1) {
    outline-color: c(cya-800, $v);
  }
  
  @mixin outline-cyan-900($v: 1) {
    outline-color: c(cya-900, $v);
  }
  
  @mixin outline-cyan-950($v: 1) {
    outline-color: c(cya-950, $v);
  }
  
  @mixin outline-sky-50($v: 1) {
    outline-color: c(sky-50, $v);
  }
  
  @mixin outline-sky-100($v: 1) {
    outline-color: c(sky-100, $v);
  }
  
  @mixin outline-sky-200($v: 1) {
    outline-color: c(sky-200, $v);
  }
  
  @mixin outline-sky-300($v: 1) {
    outline-color: c(sky-300, $v);
  }
  
  @mixin outline-sky-400($v: 1) {
    outline-color: c(sky-400, $v);
  }
  
  @mixin outline-sky-500($v: 1) {
    outline-color: c(sky-500, $v);
  }
  
  @mixin outline-sky-600($v: 1) {
    outline-color: c(sky-600, $v);
  }
  
  @mixin outline-sky-700($v: 1) {
    outline-color: c(sky-700, $v);
  }
  
  @mixin outline-sky-800($v: 1) {
    outline-color: c(sky-800, $v);
  }
  
  @mixin outline-sky-900($v: 1) {
    outline-color: c(sky-900, $v);
  }
  
  @mixin outline-sky-950($v: 1) {
    outline-color: c(sky-950, $v);
  }
  
  @mixin outline-blue-50($v: 1) {
    outline-color: c(blu-50, $v);
  }
  
  @mixin outline-blue-100($v: 1) {
    outline-color: c(blu-100, $v);
  }
  
  @mixin outline-blue-200($v: 1) {
    outline-color: c(blu-200, $v);
  }
  
  @mixin outline-blue-300($v: 1) {
    outline-color: c(blu-300, $v);
  }
  
  @mixin outline-blue-400($v: 1) {
    outline-color: c(blu-400, $v);
  }
  
  @mixin outline-blue-500($v: 1) {
    outline-color: c(blu-500, $v);
  }
  
  @mixin outline-blue-600($v: 1) {
    outline-color: c(blu-600, $v);
  }
  
  @mixin outline-blue-700($v: 1) {
    outline-color: c(blu-700, $v);
  }
  
  @mixin outline-blue-800($v: 1) {
    outline-color: c(blu-800, $v);
  }
  
  @mixin outline-blue-900($v: 1) {
    outline-color: c(blu-900, $v);
  }
  
  @mixin outline-blue-950($v: 1) {
    outline-color: c(blu-950, $v);
  }
  
  @mixin outline-indigo-50($v: 1) {
    outline-color: c(ind-50, $v);
  }
  
  @mixin outline-indigo-100($v: 1) {
    outline-color: c(ind-100, $v);
  }
  
  @mixin outline-indigo-200($v: 1) {
    outline-color: c(ind-200, $v);
  }
  
  @mixin outline-indigo-300($v: 1) {
    outline-color: c(ind-300, $v);
  }
  
  @mixin outline-indigo-400($v: 1) {
    outline-color: c(ind-400, $v);
  }
  
  @mixin outline-indigo-500($v: 1) {
    outline-color: c(ind-500, $v);
  }
  
  @mixin outline-indigo-600($v: 1) {
    outline-color: c(ind-600, $v);
  }
  
  @mixin outline-indigo-700($v: 1) {
    outline-color: c(ind-700, $v);
  }
  
  @mixin outline-indigo-800($v: 1) {
    outline-color: c(ind-800, $v);
  }
  
  @mixin outline-indigo-900($v: 1) {
    outline-color: c(ind-900, $v);
  }
  
  @mixin outline-indigo-950($v: 1) {
    outline-color: c(ind-950, $v);
  }
  
  @mixin outline-violet-50($v: 1) {
    outline-color: c(vio-50, $v);
  }
  
  @mixin outline-violet-100($v: 1) {
    outline-color: c(vio-100, $v);
  }
  
  @mixin outline-violet-200($v: 1) {
    outline-color: c(vio-200, $v);
  }
  
  @mixin outline-violet-300($v: 1) {
    outline-color: c(vio-300, $v);
  }
  
  @mixin outline-violet-400($v: 1) {
    outline-color: c(vio-400, $v);
  }
  
  @mixin outline-violet-500($v: 1) {
    outline-color: c(vio-500, $v);
  }
  
  @mixin outline-violet-600($v: 1) {
    outline-color: c(vio-600, $v);
  }
  
  @mixin outline-violet-700($v: 1) {
    outline-color: c(vio-700, $v);
  }
  
  @mixin outline-violet-800($v: 1) {
    outline-color: c(vio-800, $v);
  }
  
  @mixin outline-violet-900($v: 1) {
    outline-color: c(vio-900, $v);
  }
  
  @mixin outline-violet-950($v: 1) {
    outline-color: c(vio-950, $v);
  }
  
  @mixin outline-purple-50($v: 1) {
    outline-color: c(pur-50, $v);
  }
  
  @mixin outline-purple-100($v: 1) {
    outline-color: c(pur-100, $v);
  }
  
  @mixin outline-purple-200($v: 1) {
    outline-color: c(pur-200, $v);
  }
  
  @mixin outline-purple-300($v: 1) {
    outline-color: c(pur-300, $v);
  }
  
  @mixin outline-purple-400($v: 1) {
    outline-color: c(pur-400, $v);
  }
  
  @mixin outline-purple-500($v: 1) {
    outline-color: c(pur-500, $v);
  }
  
  @mixin outline-purple-600($v: 1) {
    outline-color: c(pur-600, $v);
  }
  
  @mixin outline-purple-700($v: 1) {
    outline-color: c(pur-700, $v);
  }
  
  @mixin outline-purple-800($v: 1) {
    outline-color: c(pur-800, $v);
  }
  
  @mixin outline-purple-900($v: 1) {
    outline-color: c(pur-900, $v);
  }
  
  @mixin outline-purple-950($v: 1) {
    outline-color: c(pur-950, $v);
  }
  
  @mixin outline-fuchsia-50($v: 1) {
    outline-color: c(fuc-50, $v);
  }
  
  @mixin outline-fuchsia-100($v: 1) {
    outline-color: c(fuc-100, $v);
  }
  
  @mixin outline-fuchsia-200($v: 1) {
    outline-color: c(fuc-200, $v);
  }
  
  @mixin outline-fuchsia-300($v: 1) {
    outline-color: c(fuc-300, $v);
  }
  
  @mixin outline-fuchsia-400($v: 1) {
    outline-color: c(fuc-400, $v);
  }
  
  @mixin outline-fuchsia-500($v: 1) {
    outline-color: c(fuc-500, $v);
  }
  
  @mixin outline-fuchsia-600($v: 1) {
    outline-color: c(fuc-600, $v);
  }
  
  @mixin outline-fuchsia-700($v: 1) {
    outline-color: c(fuc-700, $v);
  }
  
  @mixin outline-fuchsia-800($v: 1) {
    outline-color: c(fuc-800, $v);
  }
  
  @mixin outline-fuchsia-900($v: 1) {
    outline-color: c(fuc-900, $v);
  }
  
  @mixin outline-fuchsia-950($v: 1) {
    outline-color: c(fuc-950, $v);
  }
  
  @mixin outline-pink-50($v: 1) {
    outline-color: c(pin-50, $v);
  }
  
  @mixin outline-pink-100($v: 1) {
    outline-color: c(pin-100, $v);
  }
  
  @mixin outline-pink-200($v: 1) {
    outline-color: c(pin-200, $v);
  }
  
  @mixin outline-pink-300($v: 1) {
    outline-color: c(pin-300, $v);
  }
  
  @mixin outline-pink-400($v: 1) {
    outline-color: c(pin-400, $v);
  }
  
  @mixin outline-pink-500($v: 1) {
    outline-color: c(pin-500, $v);
  }
  
  @mixin outline-pink-600($v: 1) {
    outline-color: c(pin-600, $v);
  }
  
  @mixin outline-pink-700($v: 1) {
    outline-color: c(pin-700, $v);
  }
  
  @mixin outline-pink-800($v: 1) {
    outline-color: c(pin-800, $v);
  }
  
  @mixin outline-pink-900($v: 1) {
    outline-color: c(pin-900, $v);
  }
  
  @mixin outline-pink-950($v: 1) {
    outline-color: c(pin-950, $v);
  }
  
  @mixin outline-rose-50($v: 1) {
    outline-color: c(ros-50, $v);
  }
  
  @mixin outline-rose-100($v: 1) {
    outline-color: c(ros-100, $v);
  }
  
  @mixin outline-rose-200($v: 1) {
    outline-color: c(ros-200, $v);
  }
  
  @mixin outline-rose-300($v: 1) {
    outline-color: c(ros-300, $v);
  }
  
  @mixin outline-rose-400($v: 1) {
    outline-color: c(ros-400, $v);
  }
  
  @mixin outline-rose-500($v: 1) {
    outline-color: c(ros-500, $v);
  }
  
  @mixin outline-rose-600($v: 1) {
    outline-color: c(ros-600, $v);
  }
  
  @mixin outline-rose-700($v: 1) {
    outline-color: c(ros-700, $v);
  }
  
  @mixin outline-rose-800($v: 1) {
    outline-color: c(ros-800, $v);
  }
  
  @mixin outline-rose-900($v: 1) {
    outline-color: c(ros-900, $v);
  }
  
  @mixin outline-rose-950($v: 1) {
    outline-color: c(ros-950, $v);
  }  
  x*/
}

@if $Rwd {
  // reducing size for updating speed
  @if $isLiteMode {
    /*x
    @mixin sm\:outline-color-($v) {
      @media (min-width: $rwd-sm) {
        outline-color: $v;
      }
    }

    @mixin md\:outline-color-($v) {
      @media (min-width: $rwd-md) {
        outline-color: $v;
      }
    }

    @mixin lg\:outline-color-($v) {
      @media (min-width: $rwd-lg) {
        outline-color: $v;
      }
    }

    @mixin xl\:outline-color-($v) {
      @media (min-width: $rwd-xl) {
        outline-color: $v;
      }
    }

    @mixin \2xl\:outline-color-($v) {
      @media (min-width: $rwd-2xl) {
        outline-color: $v;
      }
    }x*/
  }

  // tailwind default
  @else {
  }
}

/* Naming collision: outline -> outline-color */
@if $Custom {
  /*x
  @mixin outline-color-($v) {
    outline-color: $v;
  }
  x*/
}
