@use "../../mode0" as *;
@use "true" as *;

@include describe("1.Layout") {
  @include describe("Object Fit") {
    @include describe("Basic") {
      @include it("object-contain") {
        @include assert {
          @include output {
            @include object-contain;
            @include clear;
          }

          @include expect {
            object-fit: contain;
          }
        }
      }

      @include it("object-cover") {
        @include assert {
          @include output {
            @include object-cover;
            @include clear;
          }

          @include expect {
            object-fit: cover;
          }
        }
      }

      @include it("object-fill") {
        @include assert {
          @include output {
            @include object-fill;
            @include clear;
          }

          @include expect {
            object-fit: fill;
          }
        }
      }

      @include it("object-none") {
        @include assert {
          @include output {
            @include object-none;
            @include clear;
          }

          @include expect {
            object-fit: none;
          }
        }
      }

      @include it("object-scale-down") {
        @include assert {
          @include output {
            @include object-scale-down;
            @include clear;
          }

          @include expect {
            object-fit: scale-down;
          }
        }
      }
    }

    @include describe("Rwd") {
      @include it("sm\:object-contain") {
        @include assert {
          @include output {
            @include sm\:object-contain;
            @include clear;
          }

          @include expect {
            @media (min-width: $sm) {
              object-fit: contain;
            }
          }
        }
      }

      @include it("sm\:object-cover") {
        @include assert {
          @include output {
            @include sm\:object-cover;
            @include clear;
          }

          @include expect {
            @media (min-width: $sm) {
              object-fit: cover;
            }
          }
        }
      }

      @include it("sm\:object-fill") {
        @include assert {
          @include output {
            @include sm\:object-fill;
            @include clear;
          }

          @include expect {
            @media (min-width: $sm) {
              object-fit: fill;
            }
          }
        }
      }

      @include it("sm\:object-none") {
        @include assert {
          @include output {
            @include sm\:object-none;
            @include clear;
          }

          @include expect {
            @media (min-width: $sm) {
              object-fit: none;
            }
          }
        }
      }

      @include it("sm\:object-scale-down") {
        @include assert {
          @include output {
            @include sm\:object-scale-down;
            @include clear;
          }

          @include expect {
            @media (min-width: $sm) {
              object-fit: scale-down;
            }
          }
        }
      }

      @include it("md\:object-contain") {
        @include assert {
          @include output {
            @include md\:object-contain;
            @include clear;
          }

          @include expect {
            @media (min-width: $md) {
              object-fit: contain;
            }
          }
        }
      }

      @include it("md\:object-cover") {
        @include assert {
          @include output {
            @include md\:object-cover;
            @include clear;
          }

          @include expect {
            @media (min-width: $md) {
              object-fit: cover;
            }
          }
        }
      }

      @include it("md\:object-fill") {
        @include assert {
          @include output {
            @include md\:object-fill;
            @include clear;
          }

          @include expect {
            @media (min-width: $md) {
              object-fit: fill;
            }
          }
        }
      }

      @include it("md\:object-none") {
        @include assert {
          @include output {
            @include md\:object-none;
            @include clear;
          }

          @include expect {
            @media (min-width: $md) {
              object-fit: none;
            }
          }
        }
      }

      @include it("md\:object-scale-down") {
        @include assert {
          @include output {
            @include md\:object-scale-down;
            @include clear;
          }

          @include expect {
            @media (min-width: $md) {
              object-fit: scale-down;
            }
          }
        }
      }

      @include it("lg\:object-contain") {
        @include assert {
          @include output {
            @include lg\:object-contain;
            @include clear;
          }

          @include expect {
            @media (min-width: $lg) {
              object-fit: contain;
            }
          }
        }
      }

      @include it("lg\:object-cover") {
        @include assert {
          @include output {
            @include lg\:object-cover;
            @include clear;
          }

          @include expect {
            @media (min-width: $lg) {
              object-fit: cover;
            }
          }
        }
      }

      @include it("lg\:object-fill") {
        @include assert {
          @include output {
            @include lg\:object-fill;
            @include clear;
          }

          @include expect {
            @media (min-width: $lg) {
              object-fit: fill;
            }
          }
        }
      }

      @include it("lg\:object-none") {
        @include assert {
          @include output {
            @include lg\:object-none;
            @include clear;
          }

          @include expect {
            @media (min-width: $lg) {
              object-fit: none;
            }
          }
        }
      }

      @include it("lg\:object-scale-down") {
        @include assert {
          @include output {
            @include lg\:object-scale-down;
            @include clear;
          }

          @include expect {
            @media (min-width: $lg) {
              object-fit: scale-down;
            }
          }
        }
      }

      @include it("xl\:object-contain") {
        @include assert {
          @include output {
            @include xl\:object-contain;
            @include clear;
          }

          @include expect {
            @media (min-width: $xl) {
              object-fit: contain;
            }
          }
        }
      }

      @include it("xl\:object-cover") {
        @include assert {
          @include output {
            @include xl\:object-cover;
            @include clear;
          }

          @include expect {
            @media (min-width: $xl) {
              object-fit: cover;
            }
          }
        }
      }

      @include it("xl\:object-fill") {
        @include assert {
          @include output {
            @include xl\:object-fill;
            @include clear;
          }

          @include expect {
            @media (min-width: $xl) {
              object-fit: fill;
            }
          }
        }
      }

      @include it("xl\:object-none") {
        @include assert {
          @include output {
            @include xl\:object-none;
            @include clear;
          }

          @include expect {
            @media (min-width: $xl) {
              object-fit: none;
            }
          }
        }
      }

      @include it("xl\:object-scale-down") {
        @include assert {
          @include output {
            @include xl\:object-scale-down;
            @include clear;
          }

          @include expect {
            @media (min-width: $xl) {
              object-fit: scale-down;
            }
          }
        }
      }

      @include it("\2xl\:object-contain") {
        @include assert {
          @include output {
            @include \2xl\:object-contain;
            @include clear;
          }

          @include expect {
            @media (min-width: $\2xl) {
              object-fit: contain;
            }
          }
        }
      }

      @include it("\2xl\:object-cover") {
        @include assert {
          @include output {
            @include \2xl\:object-cover;
            @include clear;
          }

          @include expect {
            @media (min-width: $\2xl) {
              object-fit: cover;
            }
          }
        }
      }

      @include it("\2xl\:object-fill") {
        @include assert {
          @include output {
            @include \2xl\:object-fill;
            @include clear;
          }

          @include expect {
            @media (min-width: $\2xl) {
              object-fit: fill;
            }
          }
        }
      }

      @include it("\2xl\:object-none") {
        @include assert {
          @include output {
            @include \2xl\:object-none;
            @include clear;
          }

          @include expect {
            @media (min-width: $\2xl) {
              object-fit: none;
            }
          }
        }
      }

      @include it("\2xl\:object-scale-down") {
        @include assert {
          @include output {
            @include \2xl\:object-scale-down;
            @include clear;
          }

          @include expect {
            @media (min-width: $\2xl) {
              object-fit: scale-down;
            }
          }
        }
      }
    }
  }
}
