@use "../../setting" as *;

/* Padding */
@if $Basic {
  /*x
  @mixin p-0 {
    padding: 0px;
  }

  @mixin px-0 {
    padding-left: 0px;
    padding-right: 0px;
  }

  @mixin py-0 {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  @mixin ps-0 {
    padding-inline-start: 0px;
  }

  @mixin pe-0 {
    padding-inline-end: 0px;
  }

  @mixin pt-0 {
    padding-top: 0px;
  }

  @mixin pr-0 {
    padding-right: 0px;
  }

  @mixin pb-0 {
    padding-bottom: 0px;
  }

  @mixin pl-0 {
    padding-left: 0px;
  }

  @mixin p-px {
    padding: 1px;
  }

  @mixin px-px {
    padding-left: 1px;
    padding-right: 1px;
  }

  @mixin py-px {
    padding-top: 1px;
    padding-bottom: 1px;
  }

  @mixin ps-px {
    padding-inline-start: 1px;
  }

  @mixin pe-px {
    padding-inline-end: 1px;
  }

  @mixin pt-px {
    padding-top: 1px;
  }

  @mixin pr-px {
    padding-right: 1px;
  }

  @mixin pb-px {
    padding-bottom: 1px;
  }

  @mixin pl-px {
    padding-left: 1px;
  }

  // 2px
  @mixin p-0\.5 {
    padding: 0.125rem;
  }

  // 2px
  @mixin px-0\.5 {
    padding-left: 0.125rem;
    padding-right: 0.125rem;
  }

  // 2px
  @mixin py-0\.5 {
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
  }

  // 2px
  @mixin ps-0\.5 {
    padding-inline-start: 0.125rem;
  }

  // 2px
  @mixin pe-0\.5 {
    padding-inline-end: 0.125rem;
  }

  // 2px
  @mixin pt-0\.5 {
    padding-top: 0.125rem;
  }

  // 2px
  @mixin pr-0\.5 {
    padding-right: 0.125rem;
  }

  // 2px
  @mixin pb-0\.5 {
    padding-bottom: 0.125rem;
  }

  // 2px
  @mixin pl-0\.5 {
    padding-left: 0.125rem;
  }

  // 4px
  @mixin p-1 {
    padding: 0.25rem;
  }

  // 4px
  @mixin px-1 {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }

  // 4px
  @mixin py-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }

  // 4px
  @mixin ps-1 {
    padding-inline-start: 0.25rem;
  }

  // 4px
  @mixin pe-1 {
    padding-inline-end: 0.25rem;
  }

  // 4px
  @mixin pt-1 {
    padding-top: 0.25rem;
  }

  // 4px
  @mixin pr-1 {
    padding-right: 0.25rem;
  }

  // 4px
  @mixin pb-1 {
    padding-bottom: 0.25rem;
  }

  // 4px
  @mixin pl-1 {
    padding-left: 0.25rem;
  }

  // 6px
  @mixin p-1\.5 {
    padding: 0.375rem;
  }

  // 6px
  @mixin px-1\.5 {
    padding-left: 0.375rem;
    padding-right: 0.375rem;
  }

  // 6px
  @mixin py-1\.5 {
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
  }

  // 6px
  @mixin ps-1\.5 {
    padding-inline-start: 0.375rem;
  }

  // 6px
  @mixin pe-1\.5 {
    padding-inline-end: 0.375rem;
  }

  // 6px
  @mixin pt-1\.5 {
    padding-top: 0.375rem;
  }

  // 6px
  @mixin pr-1\.5 {
    padding-right: 0.375rem;
  }

  // 6px
  @mixin pb-1\.5 {
    padding-bottom: 0.375rem;
  }

  // 6px
  @mixin pl-1\.5 {
    padding-left: 0.375rem;
  }

  // 8px
  @mixin p-2 {
    padding: 0.5rem;
  }

  // 8px
  @mixin px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  // 8px
  @mixin py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  // 8px
  @mixin ps-2 {
    padding-inline-start: 0.5rem;
  }

  // 8px
  @mixin pe-2 {
    padding-inline-end: 0.5rem;
  }

  // 8px
  @mixin pt-2 {
    padding-top: 0.5rem;
  }

  // 8px
  @mixin pr-2 {
    padding-right: 0.5rem;
  }

  // 8px
  @mixin pb-2 {
    padding-bottom: 0.5rem;
  }

  // 8px
  @mixin pl-2 {
    padding-left: 0.5rem;
  }

  // 10px
  @mixin p-2\.5 {
    padding: 0.625rem;
  }

  // 10px
  @mixin px-2\.5 {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
  }

  // 10px
  @mixin py-2\.5 {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
  }

  // 10px
  @mixin ps-2\.5 {
    padding-inline-start: 0.625rem;
  }

  // 10px
  @mixin pe-2\.5 {
    padding-inline-end: 0.625rem;
  }

  // 10px
  @mixin pt-2\.5 {
    padding-top: 0.625rem;
  }

  // 10px
  @mixin pr-2\.5 {
    padding-right: 0.625rem;
  }

  // 10px
  @mixin pb-2\.5 {
    padding-bottom: 0.625rem;
  }

  // 10px
  @mixin pl-2\.5 {
    padding-left: 0.625rem;
  }

  // 12px
  @mixin p-3 {
    padding: 0.75rem;
  }

  // 12px
  @mixin px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  // 12px
  @mixin py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }

  // 12px
  @mixin ps-3 {
    padding-inline-start: 0.75rem;
  }

  // 12px
  @mixin pe-3 {
    padding-inline-end: 0.75rem;
  }

  // 12px
  @mixin pt-3 {
    padding-top: 0.75rem;
  }

  // 12px
  @mixin pr-3 {
    padding-right: 0.75rem;
  }

  // 12px
  @mixin pb-3 {
    padding-bottom: 0.75rem;
  }

  // 12px
  @mixin pl-3 {
    padding-left: 0.75rem;
  }

  // 14px
  @mixin p-3\.5 {
    padding: 0.875rem;
  }

  // 14px
  @mixin px-3\.5 {
    padding-left: 0.875rem;
    padding-right: 0.875rem;
  }

  // 14px
  @mixin py-3\.5 {
    padding-top: 0.875rem;
    padding-bottom: 0.875rem;
  }

  // 14px
  @mixin ps-3\.5 {
    padding-inline-start: 0.875rem;
  }

  // 14px
  @mixin pe-3\.5 {
    padding-inline-end: 0.875rem;
  }

  // 14px
  @mixin pt-3\.5 {
    padding-top: 0.875rem;
  }

  // 14px
  @mixin pr-3\.5 {
    padding-right: 0.875rem;
  }

  // 14px
  @mixin pb-3\.5 {
    padding-bottom: 0.875rem;
  }

  // 14px
  @mixin pl-3\.5 {
    padding-left: 0.875rem;
  }

  // 16px
  @mixin p-4 {
    padding: 1rem;
  }

  // 16px
  @mixin px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  // 16px
  @mixin py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  // 16px
  @mixin ps-4 {
    padding-inline-start: 1rem;
  }

  // 16px
  @mixin pe-4 {
    padding-inline-end: 1rem;
  }

  // 16px
  @mixin pt-4 {
    padding-top: 1rem;
  }

  // 16px
  @mixin pr-4 {
    padding-right: 1rem;
  }

  // 16px
  @mixin pb-4 {
    padding-bottom: 1rem;
  }

  // 16px
  @mixin pl-4 {
    padding-left: 1rem;
  }

  // 20px
  @mixin p-5 {
    padding: 1.25rem;
  }

  // 20px
  @mixin px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  // 20px
  @mixin py-5 {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }

  // 20px
  @mixin ps-5 {
    padding-inline-start: 1.25rem;
  }

  // 20px
  @mixin pe-5 {
    padding-inline-end: 1.25rem;
  }

  // 20px
  @mixin pt-5 {
    padding-top: 1.25rem;
  }

  // 20px
  @mixin pr-5 {
    padding-right: 1.25rem;
  }

  // 20px
  @mixin pb-5 {
    padding-bottom: 1.25rem;
  }

  // 20px
  @mixin pl-5 {
    padding-left: 1.25rem;
  }

  // 24px
  @mixin p-6 {
    padding: 1.5rem;
  }

  // 24px
  @mixin px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  // 24px
  @mixin py-6 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  // 24px
  @mixin ps-6 {
    padding-inline-start: 1.5rem;
  }

  // 24px
  @mixin pe-6 {
    padding-inline-end: 1.5rem;
  }

  // 24px
  @mixin pt-6 {
    padding-top: 1.5rem;
  }

  // 24px
  @mixin pr-6 {
    padding-right: 1.5rem;
  }

  // 24px
  @mixin pb-6 {
    padding-bottom: 1.5rem;
  }

  // 24px
  @mixin pl-6 {
    padding-left: 1.5rem;
  }

  // 28px
  @mixin p-7 {
    padding: 1.75rem;
  }

  // 28px
  @mixin px-7 {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
  }

  // 28px
  @mixin py-7 {
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
  }

  // 28px
  @mixin ps-7 {
    padding-inline-start: 1.75rem;
  }

  // 28px
  @mixin pe-7 {
    padding-inline-end: 1.75rem;
  }

  // 28px
  @mixin pt-7 {
    padding-top: 1.75rem;
  }

  // 28px
  @mixin pr-7 {
    padding-right: 1.75rem;
  }

  // 28px
  @mixin pb-7 {
    padding-bottom: 1.75rem;
  }

  // 28px
  @mixin pl-7 {
    padding-left: 1.75rem;
  }

  // 32px
  @mixin p-8 {
    padding: 2rem;
  }

  // 32px
  @mixin px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  // 32px
  @mixin py-8 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  // 32px
  @mixin ps-8 {
    padding-inline-start: 2rem;
  }

  // 32px
  @mixin pe-8 {
    padding-inline-end: 2rem;
  }

  // 32px
  @mixin pt-8 {
    padding-top: 2rem;
  }

  // 32px
  @mixin pr-8 {
    padding-right: 2rem;
  }

  // 32px
  @mixin pb-8 {
    padding-bottom: 2rem;
  }

  // 32px
  @mixin pl-8 {
    padding-left: 2rem;
  }

  // 36px
  @mixin p-9 {
    padding: 2.25rem;
  }

  // 36px
  @mixin px-9 {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }

  // 36px
  @mixin py-9 {
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
  }

  // 36px
  @mixin ps-9 {
    padding-inline-start: 2.25rem;
  }

  // 36px
  @mixin pe-9 {
    padding-inline-end: 2.25rem;
  }

  // 36px
  @mixin pt-9 {
    padding-top: 2.25rem;
  }

  // 36px
  @mixin pr-9 {
    padding-right: 2.25rem;
  }

  // 36px
  @mixin pb-9 {
    padding-bottom: 2.25rem;
  }

  // 36px
  @mixin pl-9 {
    padding-left: 2.25rem;
  }

  // 40px
  @mixin p-10 {
    padding: 2.5rem;
  }

  // 40px
  @mixin px-10 {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  // 40px
  @mixin py-10 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  // 40px
  @mixin ps-10 {
    padding-inline-start: 2.5rem;
  }

  // 40px
  @mixin pe-10 {
    padding-inline-end: 2.5rem;
  }

  // 40px
  @mixin pt-10 {
    padding-top: 2.5rem;
  }

  // 40px
  @mixin pr-10 {
    padding-right: 2.5rem;
  }

  // 40px
  @mixin pb-10 {
    padding-bottom: 2.5rem;
  }

  // 40px
  @mixin pl-10 {
    padding-left: 2.5rem;
  }

  // 44px
  @mixin p-11 {
    padding: 2.75rem;
  }

  // 44px
  @mixin px-11 {
    padding-left: 2.75rem;
    padding-right: 2.75rem;
  }

  // 44px
  @mixin py-11 {
    padding-top: 2.75rem;
    padding-bottom: 2.75rem;
  }

  // 44px
  @mixin ps-11 {
    padding-inline-start: 2.75rem;
  }

  // 44px
  @mixin pe-11 {
    padding-inline-end: 2.75rem;
  }

  // 44px
  @mixin pt-11 {
    padding-top: 2.75rem;
  }

  // 44px
  @mixin pr-11 {
    padding-right: 2.75rem;
  }

  // 44px
  @mixin pb-11 {
    padding-bottom: 2.75rem;
  }

  // 44px
  @mixin pl-11 {
    padding-left: 2.75rem;
  }

  // 48px
  @mixin p-12 {
    padding: 3rem;
  }

  // 48px
  @mixin px-12 {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  // 48px
  @mixin py-12 {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  // 48px
  @mixin ps-12 {
    padding-inline-start: 3rem;
  }

  // 48px
  @mixin pe-12 {
    padding-inline-end: 3rem;
  }

  // 48px
  @mixin pt-12 {
    padding-top: 3rem;
  }

  // 48px
  @mixin pr-12 {
    padding-right: 3rem;
  }

  // 48px
  @mixin pb-12 {
    padding-bottom: 3rem;
  }

  // 48px
  @mixin pl-12 {
    padding-left: 3rem;
  }

  // 56px
  @mixin p-14 {
    padding: 3.5rem;
  }

  // 56px
  @mixin px-14 {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }

  // 56px
  @mixin py-14 {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
  }

  // 56px
  @mixin ps-14 {
    padding-inline-start: 3.5rem;
  }

  // 56px
  @mixin pe-14 {
    padding-inline-end: 3.5rem;
  }

  // 56px
  @mixin pt-14 {
    padding-top: 3.5rem;
  }

  // 56px
  @mixin pr-14 {
    padding-right: 3.5rem;
  }

  // 56px
  @mixin pb-14 {
    padding-bottom: 3.5rem;
  }

  // 56px
  @mixin pl-14 {
    padding-left: 3.5rem;
  }

  // 64px
  @mixin p-16 {
    padding: 4rem;
  }

  // 64px
  @mixin px-16 {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  // 64px
  @mixin py-16 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  // 64px
  @mixin ps-16 {
    padding-inline-start: 4rem;
  }

  // 64px
  @mixin pe-16 {
    padding-inline-end: 4rem;
  }

  // 64px
  @mixin pt-16 {
    padding-top: 4rem;
  }

  // 64px
  @mixin pr-16 {
    padding-right: 4rem;
  }

  // 64px
  @mixin pb-16 {
    padding-bottom: 4rem;
  }

  // 64px
  @mixin pl-16 {
    padding-left: 4rem;
  }

  // 80px
  @mixin p-20 {
    padding: 5rem;
  }

  // 80px
  @mixin px-20 {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  // 80px
  @mixin py-20 {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  // 80px
  @mixin ps-20 {
    padding-inline-start: 5rem;
  }

  // 80px
  @mixin pe-20 {
    padding-inline-end: 5rem;
  }

  // 80px
  @mixin pt-20 {
    padding-top: 5rem;
  }

  // 80px
  @mixin pr-20 {
    padding-right: 5rem;
  }

  // 80px
  @mixin pb-20 {
    padding-bottom: 5rem;
  }

  // 80px
  @mixin pl-20 {
    padding-left: 5rem;
  }

  // 96px
  @mixin p-24 {
    padding: 6rem;
  }

  // 96px
  @mixin px-24 {
    padding-left: 6rem;
    padding-right: 6rem;
  }

  // 96px
  @mixin py-24 {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  // 96px
  @mixin ps-24 {
    padding-inline-start: 6rem;
  }

  // 96px
  @mixin pe-24 {
    padding-inline-end: 6rem;
  }

  // 96px
  @mixin pt-24 {
    padding-top: 6rem;
  }

  // 96px
  @mixin pr-24 {
    padding-right: 6rem;
  }

  // 96px
  @mixin pb-24 {
    padding-bottom: 6rem;
  }

  // 96px
  @mixin pl-24 {
    padding-left: 6rem;
  }

  // 112px
  @mixin p-28 {
    padding: 7rem;
  }

  // 112px
  @mixin px-28 {
    padding-left: 7rem;
    padding-right: 7rem;
  }

  // 112px
  @mixin py-28 {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }

  // 112px
  @mixin ps-28 {
    padding-inline-start: 7rem;
  }

  // 112px
  @mixin pe-28 {
    padding-inline-end: 7rem;
  }

  // 112px
  @mixin pt-28 {
    padding-top: 7rem;
  }

  // 112px
  @mixin pr-28 {
    padding-right: 7rem;
  }

  // 112px
  @mixin pb-28 {
    padding-bottom: 7rem;
  }

  // 112px
  @mixin pl-28 {
    padding-left: 7rem;
  }

  // 128px
  @mixin p-32 {
    padding: 8rem;
  }

  // 128px
  @mixin px-32 {
    padding-left: 8rem;
    padding-right: 8rem;
  }

  // 128px
  @mixin py-32 {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }

  // 128px
  @mixin ps-32 {
    padding-inline-start: 8rem;
  }

  // 128px
  @mixin pe-32 {
    padding-inline-end: 8rem;
  }

  // 128px
  @mixin pt-32 {
    padding-top: 8rem;
  }

  // 128px
  @mixin pr-32 {
    padding-right: 8rem;
  }

  // 128px
  @mixin pb-32 {
    padding-bottom: 8rem;
  }

  // 128px
  @mixin pl-32 {
    padding-left: 8rem;
  }

  // 144px
  @mixin p-36 {
    padding: 9rem;
  }

  // 144px
  @mixin px-36 {
    padding-left: 9rem;
    padding-right: 9rem;
  }

  // 144px
  @mixin py-36 {
    padding-top: 9rem;
    padding-bottom: 9rem;
  }

  // 144px
  @mixin ps-36 {
    padding-inline-start: 9rem;
  }

  // 144px
  @mixin pe-36 {
    padding-inline-end: 9rem;
  }

  // 144px
  @mixin pt-36 {
    padding-top: 9rem;
  }

  // 144px
  @mixin pr-36 {
    padding-right: 9rem;
  }

  // 144px
  @mixin pb-36 {
    padding-bottom: 9rem;
  }

  // 144px
  @mixin pl-36 {
    padding-left: 9rem;
  }

  // 160px
  @mixin p-40 {
    padding: 10rem;
  }

  // 160px
  @mixin px-40 {
    padding-left: 10rem;
    padding-right: 10rem;
  }

  // 160px
  @mixin py-40 {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }

  // 160px
  @mixin ps-40 {
    padding-inline-start: 10rem;
  }

  // 160px
  @mixin pe-40 {
    padding-inline-end: 10rem;
  }

  // 160px
  @mixin pt-40 {
    padding-top: 10rem;
  }

  // 160px
  @mixin pr-40 {
    padding-right: 10rem;
  }

  // 160px
  @mixin pb-40 {
    padding-bottom: 10rem;
  }

  // 160px
  @mixin pl-40 {
    padding-left: 10rem;
  }

  // 176px
  @mixin p-44 {
    padding: 11rem;
  }

  // 176px
  @mixin px-44 {
    padding-left: 11rem;
    padding-right: 11rem;
  }

  // 176px
  @mixin py-44 {
    padding-top: 11rem;
    padding-bottom: 11rem;
  }

  // 176px
  @mixin ps-44 {
    padding-inline-start: 11rem;
  }

  // 176px
  @mixin pe-44 {
    padding-inline-end: 11rem;
  }

  // 176px
  @mixin pt-44 {
    padding-top: 11rem;
  }

  // 176px
  @mixin pr-44 {
    padding-right: 11rem;
  }

  // 176px
  @mixin pb-44 {
    padding-bottom: 11rem;
  }

  // 176px
  @mixin pl-44 {
    padding-left: 11rem;
  }

  // 192px
  @mixin p-48 {
    padding: 12rem;
  }

  // 192px
  @mixin px-48 {
    padding-left: 12rem;
    padding-right: 12rem;
  }

  // 192px
  @mixin py-48 {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }

  // 192px
  @mixin ps-48 {
    padding-inline-start: 12rem;
  }

  // 192px
  @mixin pe-48 {
    padding-inline-end: 12rem;
  }

  // 192px
  @mixin pt-48 {
    padding-top: 12rem;
  }

  // 192px
  @mixin pr-48 {
    padding-right: 12rem;
  }

  // 192px
  @mixin pb-48 {
    padding-bottom: 12rem;
  }

  // 192px
  @mixin pl-48 {
    padding-left: 12rem;
  }

  // 208px
  @mixin p-52 {
    padding: 13rem;
  }

  // 208px
  @mixin px-52 {
    padding-left: 13rem;
    padding-right: 13rem;
  }

  // 208px
  @mixin py-52 {
    padding-top: 13rem;
    padding-bottom: 13rem;
  }

  // 208px
  @mixin ps-52 {
    padding-inline-start: 13rem;
  }

  // 208px
  @mixin pe-52 {
    padding-inline-end: 13rem;
  }

  // 208px
  @mixin pt-52 {
    padding-top: 13rem;
  }

  // 208px
  @mixin pr-52 {
    padding-right: 13rem;
  }

  // 208px
  @mixin pb-52 {
    padding-bottom: 13rem;
  }

  // 208px
  @mixin pl-52 {
    padding-left: 13rem;
  }

  // 224px
  @mixin p-56 {
    padding: 14rem;
  }

  // 224px
  @mixin px-56 {
    padding-left: 14rem;
    padding-right: 14rem;
  }

  // 224px
  @mixin py-56 {
    padding-top: 14rem;
    padding-bottom: 14rem;
  }

  // 224px
  @mixin ps-56 {
    padding-inline-start: 14rem;
  }

  // 224px
  @mixin pe-56 {
    padding-inline-end: 14rem;
  }

  // 224px
  @mixin pt-56 {
    padding-top: 14rem;
  }

  // 224px
  @mixin pr-56 {
    padding-right: 14rem;
  }

  // 224px
  @mixin pb-56 {
    padding-bottom: 14rem;
  }

  // 224px
  @mixin pl-56 {
    padding-left: 14rem;
  }

  // 240px
  @mixin p-60 {
    padding: 15rem;
  }

  // 240px
  @mixin px-60 {
    padding-left: 15rem;
    padding-right: 15rem;
  }

  // 240px
  @mixin py-60 {
    padding-top: 15rem;
    padding-bottom: 15rem;
  }

  // 240px
  @mixin ps-60 {
    padding-inline-start: 15rem;
  }

  // 240px
  @mixin pe-60 {
    padding-inline-end: 15rem;
  }

  // 240px
  @mixin pt-60 {
    padding-top: 15rem;
  }

  // 240px
  @mixin pr-60 {
    padding-right: 15rem;
  }

  // 240px
  @mixin pb-60 {
    padding-bottom: 15rem;
  }

  // 240px
  @mixin pl-60 {
    padding-left: 15rem;
  }

  // 256px
  @mixin p-64 {
    padding: 16rem;
  }

  // 256px
  @mixin px-64 {
    padding-left: 16rem;
    padding-right: 16rem;
  }

  // 256px
  @mixin py-64 {
    padding-top: 16rem;
    padding-bottom: 16rem;
  }

  // 256px
  @mixin ps-64 {
    padding-inline-start: 16rem;
  }

  // 256px
  @mixin pe-64 {
    padding-inline-end: 16rem;
  }

  // 256px
  @mixin pt-64 {
    padding-top: 16rem;
  }

  // 256px
  @mixin pr-64 {
    padding-right: 16rem;
  }

  // 256px
  @mixin pb-64 {
    padding-bottom: 16rem;
  }

  // 256px
  @mixin pl-64 {
    padding-left: 16rem;
  }

  // 288px
  @mixin p-72 {
    padding: 18rem;
  }

  // 288px
  @mixin px-72 {
    padding-left: 18rem;
    padding-right: 18rem;
  }

  // 288px
  @mixin py-72 {
    padding-top: 18rem;
    padding-bottom: 18rem;
  }

  // 288px
  @mixin ps-72 {
    padding-inline-start: 18rem;
  }

  // 288px
  @mixin pe-72 {
    padding-inline-end: 18rem;
  }

  // 288px
  @mixin pt-72 {
    padding-top: 18rem;
  }

  // 288px
  @mixin pr-72 {
    padding-right: 18rem;
  }

  // 288px
  @mixin pb-72 {
    padding-bottom: 18rem;
  }

  // 288px
  @mixin pl-72 {
    padding-left: 18rem;
  }

  // 320px
  @mixin p-80 {
    padding: 20rem;
  }

  // 320px
  @mixin px-80 {
    padding-left: 20rem;
    padding-right: 20rem;
  }

  // 320px
  @mixin py-80 {
    padding-top: 20rem;
    padding-bottom: 20rem;
  }

  // 320px
  @mixin ps-80 {
    padding-inline-start: 20rem;
  }

  // 320px
  @mixin pe-80 {
    padding-inline-end: 20rem;
  }

  // 320px
  @mixin pt-80 {
    padding-top: 20rem;
  }

  // 320px
  @mixin pr-80 {
    padding-right: 20rem;
  }

  // 320px
  @mixin pb-80 {
    padding-bottom: 20rem;
  }

  // 320px
  @mixin pl-80 {
    padding-left: 20rem;
  }

  // 384px
  @mixin p-96 {
    padding: 24rem;
  }

  // 384px
  @mixin px-96 {
    padding-left: 24rem;
    padding-right: 24rem;
  }

  // 384px
  @mixin py-96 {
    padding-top: 24rem;
    padding-bottom: 24rem;
  }

  // 384px
  @mixin ps-96 {
    padding-inline-start: 24rem;
  }

  // 384px
  @mixin pe-96 {
    padding-inline-end: 24rem;
  }

  // 384px
  @mixin pt-96 {
    padding-top: 24rem;
  }

  // 384px
  @mixin pr-96 {
    padding-right: 24rem;
  }

  // 384px
  @mixin pb-96 {
    padding-bottom: 24rem;
  }

  // 384px
  @mixin pl-96 {
    padding-left: 24rem;
  }
  x*/
}

@if $Rwd {
  // reducing size for updating speed
  @if $isLiteMode {
    /*x
    @mixin sm\:p-($v) {
      @media (min-width: $rwd-sm) {
        padding: $v;
      }
    }

    @mixin sm\:px-($v) {
      @media (min-width: $rwd-sm) {
        padding-left: $v;
        padding-right: $v;
      }
    }

    @mixin sm\:py-($v) {
      @media (min-width: $rwd-sm) {
        padding-top: $v;
        padding-bottom: $v;
      }
    }

    @mixin sm\:ps-($v) {
      @media (min-width: $rwd-sm) {
        padding-inline-start: $v;
      }
    }

    @mixin sm\:pe-($v) {
      @media (min-width: $rwd-sm) {
        padding-inline-end: $v;
      }
    }

    @mixin sm\:pt-($v) {
      @media (min-width: $rwd-sm) {
        padding-top: $v;
      }
    }

    @mixin sm\:pr-($v) {
      @media (min-width: $rwd-sm) {
        padding-right: $v;
      }
    }

    @mixin sm\:pb-($v) {
      @media (min-width: $rwd-sm) {
        padding-bottom: $v;
      }
    }

    @mixin sm\:pl-($v) {
      @media (min-width: $rwd-sm) {
        padding-left: $v;
      }
    }

    @mixin md\:p-($v) {
      @media (min-width: $rwd-md) {
        padding: $v;
      }
    }

    @mixin md\:px-($v) {
      @media (min-width: $rwd-md) {
        padding-left: $v;
        padding-right: $v;
      }
    }

    @mixin md\:py-($v) {
      @media (min-width: $rwd-md) {
        padding-top: $v;
        padding-bottom: $v;
      }
    }

    @mixin md\:ps-($v) {
      @media (min-width: $rwd-md) {
        padding-inline-start: $v;
      }
    }

    @mixin md\:pe-($v) {
      @media (min-width: $rwd-md) {
        padding-inline-end: $v;
      }
    }

    @mixin md\:pt-($v) {
      @media (min-width: $rwd-md) {
        padding-top: $v;
      }
    }

    @mixin md\:pr-($v) {
      @media (min-width: $rwd-md) {
        padding-right: $v;
      }
    }

    @mixin md\:pb-($v) {
      @media (min-width: $rwd-md) {
        padding-bottom: $v;
      }
    }

    @mixin md\:pl-($v) {
      @media (min-width: $rwd-md) {
        padding-left: $v;
      }
    }

    @mixin lg\:p-($v) {
      @media (min-width: $rwd-lg) {
        padding: $v;
      }
    }

    @mixin lg\:px-($v) {
      @media (min-width: $rwd-lg) {
        padding-left: $v;
        padding-right: $v;
      }
    }

    @mixin lg\:py-($v) {
      @media (min-width: $rwd-lg) {
        padding-top: $v;
        padding-bottom: $v;
      }
    }

    @mixin lg\:ps-($v) {
      @media (min-width: $rwd-lg) {
        padding-inline-start: $v;
      }
    }

    @mixin lg\:pe-($v) {
      @media (min-width: $rwd-lg) {
        padding-inline-end: $v;
      }
    }

    @mixin lg\:pt-($v) {
      @media (min-width: $rwd-lg) {
        padding-top: $v;
      }
    }

    @mixin lg\:pr-($v) {
      @media (min-width: $rwd-lg) {
        padding-right: $v;
      }
    }

    @mixin lg\:pb-($v) {
      @media (min-width: $rwd-lg) {
        padding-bottom: $v;
      }
    }

    @mixin lg\:pl-($v) {
      @media (min-width: $rwd-lg) {
        padding-left: $v;
      }
    }

    @mixin xl\:p-($v) {
      @media (min-width: $rwd-xl) {
        padding: $v;
      }
    }

    @mixin xl\:px-($v) {
      @media (min-width: $rwd-xl) {
        padding-left: $v;
        padding-right: $v;
      }
    }

    @mixin xl\:py-($v) {
      @media (min-width: $rwd-xl) {
        padding-top: $v;
        padding-bottom: $v;
      }
    }

    @mixin xl\:ps-($v) {
      @media (min-width: $rwd-xl) {
        padding-inline-start: $v;
      }
    }

    @mixin xl\:pe-($v) {
      @media (min-width: $rwd-xl) {
        padding-inline-end: $v;
      }
    }

    @mixin xl\:pt-($v) {
      @media (min-width: $rwd-xl) {
        padding-top: $v;
      }
    }

    @mixin xl\:pr-($v) {
      @media (min-width: $rwd-xl) {
        padding-right: $v;
      }
    }

    @mixin xl\:pb-($v) {
      @media (min-width: $rwd-xl) {
        padding-bottom: $v;
      }
    }

    @mixin xl\:pl-($v) {
      @media (min-width: $rwd-xl) {
        padding-left: $v;
      }
    }

    @mixin \2xl\:p-($v) {
      @media (min-width: $rwd-2xl) {
        padding: $v;
      }
    }

    @mixin \2xl\:px-($v) {
      @media (min-width: $rwd-2xl) {
        padding-left: $v;
        padding-right: $v;
      }
    }

    @mixin \2xl\:py-($v) {
      @media (min-width: $rwd-2xl) {
        padding-top: $v;
        padding-bottom: $v;
      }
    }

    @mixin \2xl\:ps-($v) {
      @media (min-width: $rwd-2xl) {
        padding-inline-start: $v;
      }
    }

    @mixin \2xl\:pe-($v) {
      @media (min-width: $rwd-2xl) {
        padding-inline-end: $v;
      }
    }

    @mixin \2xl\:pt-($v) {
      @media (min-width: $rwd-2xl) {
        padding-top: $v;
      }
    }

    @mixin \2xl\:pr-($v) {
      @media (min-width: $rwd-2xl) {
        padding-right: $v;
      }
    }

    @mixin \2xl\:pb-($v) {
      @media (min-width: $rwd-2xl) {
        padding-bottom: $v;
      }
    }

    @mixin \2xl\:pl-($v) {
      @media (min-width: $rwd-2xl) {
        padding-left: $v;
      }
    }
    x*/
  }

  // tailwind default
  @else {
  }
}

@if $Custom {
  /*x
  @mixin p-($v) {
    padding: $v;
  }

  @mixin px-($v) {
    padding-left: $v;
    padding-right: $v;
  }

  @mixin py-($v) {
    padding-top: $v;
    padding-bottom: $v;
  }

  @mixin ps-($v) {
    padding-inline-start: $v;
  }

  @mixin pe-($v) {
    padding-inline-end: $v;
  }

  @mixin pt-($v) {
    padding-top: $v;
  }

  @mixin pr-($v) {
    padding-right: $v;
  }

  @mixin pb-($v) {
    padding-bottom: $v;
  }

  @mixin pl-($v) {
    padding-left: $v;
  }
  x*/
}
