@use "../../setting" as *;
@use "../../mode0" as *;
@use "true" as *;

@include describe("9.Filters") {
  @include describe("Backdrop Saturate") {
    @include describe("Basic") {
      @include it("backdrop-saturate-0") {
        @include assert {
          @include output {
            @include backdrop-saturate-0;
            @include clear;
          }

          @include expect {
            backdrop-filter: saturate(0);
          }
        }
      }

      @include it("backdrop-saturate-50") {
        @include assert {
          @include output {
            @include backdrop-saturate-50;
            @include clear;
          }

          @include expect {
            backdrop-filter: saturate(0.5);
          }
        }
      }

      @include it("backdrop-saturate-100") {
        @include assert {
          @include output {
            @include backdrop-saturate-100;
            @include clear;
          }

          @include expect {
            backdrop-filter: saturate(1);
          }
        }
      }

      @include it("backdrop-saturate-150") {
        @include assert {
          @include output {
            @include backdrop-saturate-150;
            @include clear;
          }

          @include expect {
            backdrop-filter: saturate(1.5);
          }
        }
      }

      @include it("backdrop-saturate-200") {
        @include assert {
          @include output {
            @include backdrop-saturate-200;
            @include clear;
          }

          @include expect {
            backdrop-filter: saturate(2);
          }
        }
      }
    }

    @include describe("Rwd") {
      @include it("sm\:backdrop-saturate-0") {
        @include assert {
          @include output {
            @include sm\:backdrop-saturate-0;
            @include clear;
          }

          @include expect {
            @media (min-width: $sm) {
              backdrop-filter: saturate(0);
            }
          }
        }
      }

      @include it("sm\:backdrop-saturate-50") {
        @include assert {
          @include output {
            @include sm\:backdrop-saturate-50;
            @include clear;
          }

          @include expect {
            @media (min-width: $sm) {
              backdrop-filter: saturate(0.5);
            }
          }
        }
      }

      @include it("sm\:backdrop-saturate-100") {
        @include assert {
          @include output {
            @include sm\:backdrop-saturate-100;
            @include clear;
          }

          @include expect {
            @media (min-width: $sm) {
              backdrop-filter: saturate(1);
            }
          }
        }
      }

      @include it("sm\:backdrop-saturate-150") {
        @include assert {
          @include output {
            @include sm\:backdrop-saturate-150;
            @include clear;
          }

          @include expect {
            @media (min-width: $sm) {
              backdrop-filter: saturate(1.5);
            }
          }
        }
      }

      @include it("sm\:backdrop-saturate-200") {
        @include assert {
          @include output {
            @include sm\:backdrop-saturate-200;
            @include clear;
          }

          @include expect {
            @media (min-width: $sm) {
              backdrop-filter: saturate(2);
            }
          }
        }
      }
      @include it("md\:backdrop-saturate-0") {
        @include assert {
          @include output {
            @include md\:backdrop-saturate-0;
            @include clear;
          }

          @include expect {
            @media (min-width: $md) {
              backdrop-filter: saturate(0);
            }
          }
        }
      }

      @include it("md\:backdrop-saturate-50") {
        @include assert {
          @include output {
            @include md\:backdrop-saturate-50;
            @include clear;
          }

          @include expect {
            @media (min-width: $md) {
              backdrop-filter: saturate(0.5);
            }
          }
        }
      }

      @include it("md\:backdrop-saturate-100") {
        @include assert {
          @include output {
            @include md\:backdrop-saturate-100;
            @include clear;
          }

          @include expect {
            @media (min-width: $md) {
              backdrop-filter: saturate(1);
            }
          }
        }
      }

      @include it("md\:backdrop-saturate-150") {
        @include assert {
          @include output {
            @include md\:backdrop-saturate-150;
            @include clear;
          }

          @include expect {
            @media (min-width: $md) {
              backdrop-filter: saturate(1.5);
            }
          }
        }
      }

      @include it("md\:backdrop-saturate-200") {
        @include assert {
          @include output {
            @include md\:backdrop-saturate-200;
            @include clear;
          }

          @include expect {
            @media (min-width: $md) {
              backdrop-filter: saturate(2);
            }
          }
        }
      }
      @include it("lg\:backdrop-saturate-0") {
        @include assert {
          @include output {
            @include lg\:backdrop-saturate-0;
            @include clear;
          }

          @include expect {
            @media (min-width: $lg) {
              backdrop-filter: saturate(0);
            }
          }
        }
      }

      @include it("lg\:backdrop-saturate-50") {
        @include assert {
          @include output {
            @include lg\:backdrop-saturate-50;
            @include clear;
          }

          @include expect {
            @media (min-width: $lg) {
              backdrop-filter: saturate(0.5);
            }
          }
        }
      }

      @include it("lg\:backdrop-saturate-100") {
        @include assert {
          @include output {
            @include lg\:backdrop-saturate-100;
            @include clear;
          }

          @include expect {
            @media (min-width: $lg) {
              backdrop-filter: saturate(1);
            }
          }
        }
      }

      @include it("lg\:backdrop-saturate-150") {
        @include assert {
          @include output {
            @include lg\:backdrop-saturate-150;
            @include clear;
          }

          @include expect {
            @media (min-width: $lg) {
              backdrop-filter: saturate(1.5);
            }
          }
        }
      }

      @include it("lg\:backdrop-saturate-200") {
        @include assert {
          @include output {
            @include lg\:backdrop-saturate-200;
            @include clear;
          }

          @include expect {
            @media (min-width: $lg) {
              backdrop-filter: saturate(2);
            }
          }
        }
      }
      @include it("xl\:backdrop-saturate-0") {
        @include assert {
          @include output {
            @include xl\:backdrop-saturate-0;
            @include clear;
          }

          @include expect {
            @media (min-width: $xl) {
              backdrop-filter: saturate(0);
            }
          }
        }
      }

      @include it("xl\:backdrop-saturate-50") {
        @include assert {
          @include output {
            @include xl\:backdrop-saturate-50;
            @include clear;
          }

          @include expect {
            @media (min-width: $xl) {
              backdrop-filter: saturate(0.5);
            }
          }
        }
      }

      @include it("xl\:backdrop-saturate-100") {
        @include assert {
          @include output {
            @include xl\:backdrop-saturate-100;
            @include clear;
          }

          @include expect {
            @media (min-width: $xl) {
              backdrop-filter: saturate(1);
            }
          }
        }
      }

      @include it("xl\:backdrop-saturate-150") {
        @include assert {
          @include output {
            @include xl\:backdrop-saturate-150;
            @include clear;
          }

          @include expect {
            @media (min-width: $xl) {
              backdrop-filter: saturate(1.5);
            }
          }
        }
      }

      @include it("xl\:backdrop-saturate-200") {
        @include assert {
          @include output {
            @include xl\:backdrop-saturate-200;
            @include clear;
          }

          @include expect {
            @media (min-width: $xl) {
              backdrop-filter: saturate(2);
            }
          }
        }
      }
      @include it("\2xl\:backdrop-saturate-0") {
        @include assert {
          @include output {
            @include \2xl\:backdrop-saturate-0;
            @include clear;
          }

          @include expect {
            @media (min-width: $\2xl) {
              backdrop-filter: saturate(0);
            }
          }
        }
      }

      @include it("\2xl\:backdrop-saturate-50") {
        @include assert {
          @include output {
            @include \2xl\:backdrop-saturate-50;
            @include clear;
          }

          @include expect {
            @media (min-width: $\2xl) {
              backdrop-filter: saturate(0.5);
            }
          }
        }
      }

      @include it("\2xl\:backdrop-saturate-100") {
        @include assert {
          @include output {
            @include \2xl\:backdrop-saturate-100;
            @include clear;
          }

          @include expect {
            @media (min-width: $\2xl) {
              backdrop-filter: saturate(1);
            }
          }
        }
      }

      @include it("\2xl\:backdrop-saturate-150") {
        @include assert {
          @include output {
            @include \2xl\:backdrop-saturate-150;
            @include clear;
          }

          @include expect {
            @media (min-width: $\2xl) {
              backdrop-filter: saturate(1.5);
            }
          }
        }
      }

      @include it("\2xl\:backdrop-saturate-200") {
        @include assert {
          @include output {
            @include \2xl\:backdrop-saturate-200;
            @include clear;
          }

          @include expect {
            @media (min-width: $\2xl) {
              backdrop-filter: saturate(2);
            }
          }
        }
      }
    }

    @include describe("Custom") {
      @include it("backdrop-saturate-(.25)") {
        @include assert {
          @include output {
            @include backdrop-saturate-(0.25);
            @include clear;
          }

          @include expect {
            backdrop-filter: saturate(0.25);
          }
        }
      }

      @include it("sm\:backdrop-saturate-(.25)") {
        @include assert {
          @include output {
            @include sm\:backdrop-saturate-(0.25);
            @include clear;
          }

          @include expect {
            @media (min-width: $sm) {
              backdrop-filter: saturate(0.25);
            }
          }
        }
      }

      @include it("md\:backdrop-saturate-(.25)") {
        @include assert {
          @include output {
            @include md\:backdrop-saturate-(0.25);
            @include clear;
          }

          @include expect {
            @media (min-width: $md) {
              backdrop-filter: saturate(0.25);
            }
          }
        }
      }

      @include it("lg\:backdrop-saturate-(.25)") {
        @include assert {
          @include output {
            @include lg\:backdrop-saturate-(0.25);
            @include clear;
          }

          @include expect {
            @media (min-width: $lg) {
              backdrop-filter: saturate(0.25);
            }
          }
        }
      }

      @include it("xl\:backdrop-saturate-(.25)") {
        @include assert {
          @include output {
            @include xl\:backdrop-saturate-(0.25);
            @include clear;
          }

          @include expect {
            @media (min-width: $xl) {
              backdrop-filter: saturate(0.25);
            }
          }
        }
      }

      @include it("\2xl\:backdrop-saturate-(.25)") {
        @include assert {
          @include output {
            @include \2xl\:backdrop-saturate-(0.25);
            @include clear;
          }

          @include expect {
            @media (min-width: $\2xl) {
              backdrop-filter: saturate(0.25);
            }
          }
        }
      }
    }
  }
}
