@use "../../mode0" as *;
@use "true" as *;

@include describe("5.Typography") {
  @include describe("Font Smoothing") {
    @include describe("Basic") {
      @include it("antialiased") {
        @include assert {
          @include output {
            @include antialiased;
            @include clear;
          }

          @include expect {
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
          }
        }
      }

      @include it("subpixel-antialiased") {
        @include assert {
          @include output {
            @include subpixel-antialiased;
            @include clear;
          }

          @include expect {
            -webkit-font-smoothing: auto;
            -moz-osx-font-smoothing: auto;
          }
        }
      }
    }

    @include describe("Rwd") {
      @include it("sm\:antialiased") {
        @include assert {
          @include output {
            @include sm\:antialiased;
            @include clear;
          }

          @include expect {
            @media (min-width: $sm) {
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
            }
          }
        }
      }

      @include it("sm\:subpixel-antialiased") {
        @include assert {
          @include output {
            @include sm\:subpixel-antialiased;
            @include clear;
          }

          @include expect {
            @media (min-width: $sm) {
              -webkit-font-smoothing: auto;
              -moz-osx-font-smoothing: auto;
            }
          }
        }
      }
      @include it("md\:antialiased") {
        @include assert {
          @include output {
            @include md\:antialiased;
            @include clear;
          }

          @include expect {
            @media (min-width: $md) {
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
            }
          }
        }
      }

      @include it("md\:subpixel-antialiased") {
        @include assert {
          @include output {
            @include md\:subpixel-antialiased;
            @include clear;
          }

          @include expect {
            @media (min-width: $md) {
              -webkit-font-smoothing: auto;
              -moz-osx-font-smoothing: auto;
            }
          }
        }
      }
      @include it("lg\:antialiased") {
        @include assert {
          @include output {
            @include lg\:antialiased;
            @include clear;
          }

          @include expect {
            @media (min-width: $lg) {
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
            }
          }
        }
      }

      @include it("lg\:subpixel-antialiased") {
        @include assert {
          @include output {
            @include lg\:subpixel-antialiased;
            @include clear;
          }

          @include expect {
            @media (min-width: $lg) {
              -webkit-font-smoothing: auto;
              -moz-osx-font-smoothing: auto;
            }
          }
        }
      }
      @include it("xl\:antialiased") {
        @include assert {
          @include output {
            @include xl\:antialiased;
            @include clear;
          }

          @include expect {
            @media (min-width: $xl) {
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
            }
          }
        }
      }

      @include it("xl\:subpixel-antialiased") {
        @include assert {
          @include output {
            @include xl\:subpixel-antialiased;
            @include clear;
          }

          @include expect {
            @media (min-width: $xl) {
              -webkit-font-smoothing: auto;
              -moz-osx-font-smoothing: auto;
            }
          }
        }
      }
      @include it("\2xl\:antialiased") {
        @include assert {
          @include output {
            @include \2xl\:antialiased;
            @include clear;
          }

          @include expect {
            @media (min-width: $\2xl) {
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
            }
          }
        }
      }

      @include it("\2xl\:subpixel-antialiased") {
        @include assert {
          @include output {
            @include \2xl\:subpixel-antialiased;
            @include clear;
          }

          @include expect {
            @media (min-width: $\2xl) {
              -webkit-font-smoothing: auto;
              -moz-osx-font-smoothing: auto;
            }
          }
        }
      }
    }
  }
}
