@use "../../setting" as *;


$Translate: (
  "0": "$\\0",
  "px": "$\\px",
  "0\\.5": "$\\0\\.5",
  "1": "$\\1",
  "1\\.5": "$\\1\\.5",
  "2": "$\\2",
  "2\\.5": "$\\2\\.5",
  "3": "$\\3",
  "3\\.5": "$\\3\\.5",
  "4": "$\\4",
  "5": "$\\5",
  "6": "$\\6",
  "7": "$\\7",
  "8": "$\\8",
  "9": "$\\9",
  "10": "$\\10",
  "11": "$\\11",
  "12": "$\\12",
  "14": "$\\14",
  "16": "$\\16",
  "20": "$\\20",
  "24": "$\\24",
  "28": "$\\28",
  "32": "$\\32",
  "36": "$\\36",
  "40": "$\\40",
  "44": "$\\44",
  "48": "$\\48",
  "52": "$\\52",
  "56": "$\\56",
  "60": "$\\60",
  "64": "$\\64",
  "72": "$\\72",
  "80": "$\\80",
  "96": "$\\96",
  "1\\/2": "50%",
  "1\\/3": "33.333333%",
  "2\\/3": "66.666667%",
  "1\\/4": "25%",
  "2\\/4": "50%",
  "3\\/4": "75%",
  "full": "100%"
);

@if $Basic {
  @each $key, $value in $Translate {
    /*x
    @mixin translate-x-#{$key} {
      $tw-translate-x: #{$value} !global;
      @include transform(get_transform());
    }

    @mixin translate-y-#{$key} {
      $tw-translate-y: #{$value} !global;
      @include transform(get_transform());
    }
    x*/
    /*x
    @mixin -translate-x-#{$key} {
      $tw-translate-x: -#{$value} !global;
      @include transform(get_transform());
    }

    @mixin -translate-y-#{$key} {
      $tw-translate-y: -#{$value} !global;
      @include transform(get_transform());
    }
    x*/
  }
}

@if $Rwd and ($sizeMode ==0 or $sizeMode ==1) {
  @each $rwd in $rwdBox {
    @each $key, $value in $Translate {
      /*x
      @mixin #{$rwd}\:translate-x-#{$key} {
        $tw-translate-x: #{$value} !global;
        @include transform(get_transform(), $#{$rwd});
      }

      @mixin #{$rwd}\:translate-y-#{$key} {
        $tw-translate-y: #{$value} !global;
        @include transform(get_transform(), $#{$rwd});
      }
      x*/
      /*x
      @mixin #{$rwd}\:-translate-x-#{$key} {
        $tw-translate-x: -#{$value} !global;
        @include transform(get_transform(), $#{$rwd});
      }

      @mixin #{$rwd}\:-translate-y-#{$key} {
        $tw-translate-y: -#{$value} !global;
        @include transform(get_transform(), $#{$rwd});
      }
      x*/
    }
  }
}

@if $Custom {
  /*x
  @mixin translate-x-($v) {
    $tw-translate-x: $v !global;
    @include transform(get_transform());
  }

  @mixin translate-y-($v) {
    $tw-translate-y: $v !global;
    @include transform(get_transform());
  }
  x*/
  /*x
  @mixin -translate-x-($v) {
    $tw-translate-x: -$v !global;
    @include transform(get_transform());
  }

  @mixin -translate-y-($v) {
    $tw-translate-y: -$v !global;
    @include transform(get_transform());
  }
  x*/

  @each $rwd in $rwdBox {
    /*x
    @mixin #{$rwd}\:translate-x-($v) {
      $tw-translate-x: $v !global;
      @include transform(get_transform(), $#{$rwd});
    }

    @mixin #{$rwd}\:translate-y-($v) {
      $tw-translate-y: $v !global;
      @include transform(get_transform(), $#{$rwd});
    }
    x*/
      /*x
    @mixin #{$rwd}\:-translate-x-($v) {
      $tw-translate-x: -$v !global;
      @include transform(get_transform(), $#{$rwd});
    }

    @mixin #{$rwd}\:-translate-y-($v) {
      $tw-translate-y: -$v !global;
      @include transform(get_transform(), $#{$rwd});
    }
    x*/
  }
}