@use "../../setting" as *;

/* Grid Auto Columns */
@if $Basic {
  // /*x
  @mixin auto-cols-auto {
    grid-auto-columns: auto;
  }

  @mixin auto-cols-min {
    grid-auto-columns: min-content;
  }

  @mixin auto-cols-max {
    grid-auto-columns: max-content;
  }

  @mixin auto-cols-fr {
    grid-auto-columns: minmax(0, 1fr);
  } // x*/
}

@if $Rwd {
  @if $sizeMode == 0 or $sizeMode == 1 {
    // /*x
    @mixin sm\:auto-cols-auto {
      @include r($sm, grid-auto-columns, auto);
    }

    @mixin sm\:auto-cols-min {
      @include r($sm, grid-auto-columns, min-content);
    }

    @mixin sm\:auto-cols-max {
      @include r($sm, grid-auto-columns, max-content);
    }

    @mixin sm\:auto-cols-fr {
      @include r($sm, grid-auto-columns, minmax(0, 1fr));
    }
    @mixin md\:auto-cols-auto {
      @include r($md, grid-auto-columns, auto);
    }

    @mixin md\:auto-cols-min {
      @include r($md, grid-auto-columns, min-content);
    }

    @mixin md\:auto-cols-max {
      @include r($md, grid-auto-columns, max-content);
    }

    @mixin md\:auto-cols-fr {
      @include r($md, grid-auto-columns, minmax(0, 1fr));
    }
    @mixin lg\:auto-cols-auto {
      @include r($lg, grid-auto-columns, auto);
    }

    @mixin lg\:auto-cols-min {
      @include r($lg, grid-auto-columns, min-content);
    }

    @mixin lg\:auto-cols-max {
      @include r($lg, grid-auto-columns, max-content);
    }

    @mixin lg\:auto-cols-fr {
      @include r($lg, grid-auto-columns, minmax(0, 1fr));
    }
    @mixin xl\:auto-cols-auto {
      @include r($xl, grid-auto-columns, auto);
    }

    @mixin xl\:auto-cols-min {
      @include r($xl, grid-auto-columns, min-content);
    }

    @mixin xl\:auto-cols-max {
      @include r($xl, grid-auto-columns, max-content);
    }

    @mixin xl\:auto-cols-fr {
      @include r($xl, grid-auto-columns, minmax(0, 1fr));
    }
    @mixin \2xl\:auto-cols-auto {
      @include r($\2xl, grid-auto-columns, auto);
    }

    @mixin \2xl\:auto-cols-min {
      @include r($\2xl, grid-auto-columns, min-content);
    }

    @mixin \2xl\:auto-cols-max {
      @include r($\2xl, grid-auto-columns, max-content);
    }

    @mixin \2xl\:auto-cols-fr {
      @include r($\2xl, grid-auto-columns, minmax(0, 1fr));
    }
    // x*/
  }
}
@if $Custom {
  // /*x
  @mixin auto-cols-($v) {
    grid-auto-columns: $v;
  }
  @mixin sm\:auto-cols-($v) {
    @include r($sm, grid-auto-columns, $v);
  }

  @mixin md\:auto-cols-($v) {
    @include r($md, grid-auto-columns, $v);
  }

  @mixin lg\:auto-cols-($v) {
    @include r($lg, grid-auto-columns, $v);
  }

  @mixin xl\:auto-cols-($v) {
    @include r($xl, grid-auto-columns, $v);
  }

  @mixin \2xl\:auto-cols-($v) {
    @include r($\2xl, grid-auto-columns, $v);
  } // x*/
}
