@use "../../setting" as *;

/* Grid Auto Columns */
@if $Basic {
  /*x
  @mixin auto-cols-auto {
    grid-auto-columns: auto;
  }

  @mixin auto-cols-min {
    grid-auto-columns: min-content;
  }

  @mixin auto-cols-max {
    grid-auto-columns: max-content;
  }

  @mixin auto-cols-fr {
    grid-auto-columns: minmax(0, 1fr);
  }
  x*/
}

@if $Rwd {
  // reducing size for updating speed
  @if $isLiteMode {
    /*x
    @mixin sm\:auto-cols-($v) {
      @media (min-width: $Rwd-sm) {
        grid-auto-columns: $v;
      }
    }

    @mixin md\:auto-cols-($v) {
      @media (min-width: $Rwd-md) {
        grid-auto-columns: $v;
      }
    }

    @mixin lg\:auto-cols-($v) {
      @media (min-width: $Rwd-lg) {
        grid-auto-columns: $v;
      }
    }

    @mixin xl\:auto-cols-($v) {
      @media (min-width: $Rwd-xl) {
        grid-auto-columns: $v;
      }
    }

    @mixin \2xl\:auto-cols-($v) {
      @media (min-width: $Rwd-2xl) {
        grid-auto-columns: $v;
      }
    }
    x*/
  }

  // tailwind default
  @else {
  }
}

@if $Custom {
  /*x
  @mixin auto-cols-($v) {
    grid-auto-columns: $v;
  }
  x*/
}
