@use "../../mode0" as *;
@use "true" as *;

@include describe("5.Typography") {
  @include describe("Text Transform") {
    @include describe("Basic") {
      @include it("uppercase") {
        @include assert {
          @include output {
            @include uppercase;
            @include reset;
          }

          @include expect {
            text-transform: uppercase;
          }
        }
      }

      @include it("lowercase") {
        @include assert {
          @include output {
            @include lowercase;
            @include reset;
          }

          @include expect {
            text-transform: lowercase;
          }
        }
      }

      @include it("capitalize") {
        @include assert {
          @include output {
            @include capitalize;
            @include reset;
          }

          @include expect {
            text-transform: capitalize;
          }
        }
      }

      @include it("normal-case") {
        @include assert {
          @include output {
            @include normal-case;
            @include reset;
          }

          @include expect {
            text-transform: none;
          }
        }
      }
    }

    @include describe("Rwd") {
      @include it("sm\:uppercase") {
        @include assert {
          @include output {
            @include sm\:uppercase;
            @include reset;
          }

          @include expect {
            @media (min-width: $sm) {
              text-transform: uppercase;
            }
          }
        }
      }

      @include it("sm\:lowercase") {
        @include assert {
          @include output {
            @include sm\:lowercase;
            @include reset;
          }

          @include expect {
            @media (min-width: $sm) {
              text-transform: lowercase;
            }
          }
        }
      }

      @include it("sm\:capitalize") {
        @include assert {
          @include output {
            @include sm\:capitalize;
            @include reset;
          }

          @include expect {
            @media (min-width: $sm) {
              text-transform: capitalize;
            }
          }
        }
      }

      @include it("sm\:normal-case") {
        @include assert {
          @include output {
            @include sm\:normal-case;
            @include reset;
          }

          @include expect {
            @media (min-width: $sm) {
              text-transform: none;
            }
          }
        }
      }

      @include it("md\:uppercase") {
        @include assert {
          @include output {
            @include md\:uppercase;
            @include reset;
          }

          @include expect {
            @media (min-width: $md) {
              text-transform: uppercase;
            }
          }
        }
      }

      @include it("md\:lowercase") {
        @include assert {
          @include output {
            @include md\:lowercase;
            @include reset;
          }

          @include expect {
            @media (min-width: $md) {
              text-transform: lowercase;
            }
          }
        }
      }

      @include it("md\:capitalize") {
        @include assert {
          @include output {
            @include md\:capitalize;
            @include reset;
          }

          @include expect {
            @media (min-width: $md) {
              text-transform: capitalize;
            }
          }
        }
      }

      @include it("md\:normal-case") {
        @include assert {
          @include output {
            @include md\:normal-case;
            @include reset;
          }

          @include expect {
            @media (min-width: $md) {
              text-transform: none;
            }
          }
        }
      }

      @include it("lg\:uppercase") {
        @include assert {
          @include output {
            @include lg\:uppercase;
            @include reset;
          }

          @include expect {
            @media (min-width: $lg) {
              text-transform: uppercase;
            }
          }
        }
      }

      @include it("lg\:lowercase") {
        @include assert {
          @include output {
            @include lg\:lowercase;
            @include reset;
          }

          @include expect {
            @media (min-width: $lg) {
              text-transform: lowercase;
            }
          }
        }
      }

      @include it("lg\:capitalize") {
        @include assert {
          @include output {
            @include lg\:capitalize;
            @include reset;
          }

          @include expect {
            @media (min-width: $lg) {
              text-transform: capitalize;
            }
          }
        }
      }

      @include it("lg\:normal-case") {
        @include assert {
          @include output {
            @include lg\:normal-case;
            @include reset;
          }

          @include expect {
            @media (min-width: $lg) {
              text-transform: none;
            }
          }
        }
      }

      @include it("xl\:uppercase") {
        @include assert {
          @include output {
            @include xl\:uppercase;
            @include reset;
          }

          @include expect {
            @media (min-width: $xl) {
              text-transform: uppercase;
            }
          }
        }
      }

      @include it("xl\:lowercase") {
        @include assert {
          @include output {
            @include xl\:lowercase;
            @include reset;
          }

          @include expect {
            @media (min-width: $xl) {
              text-transform: lowercase;
            }
          }
        }
      }

      @include it("xl\:capitalize") {
        @include assert {
          @include output {
            @include xl\:capitalize;
            @include reset;
          }

          @include expect {
            @media (min-width: $xl) {
              text-transform: capitalize;
            }
          }
        }
      }

      @include it("xl\:normal-case") {
        @include assert {
          @include output {
            @include xl\:normal-case;
            @include reset;
          }

          @include expect {
            @media (min-width: $xl) {
              text-transform: none;
            }
          }
        }
      }

      @include it("2xl\:uppercase") {
        @include assert {
          @include output {
            @include \2xl\:uppercase;
            @include reset;
          }

          @include expect {
            @media (min-width: $\2xl) {
              text-transform: uppercase;
            }
          }
        }
      }

      @include it("2xl\:lowercase") {
        @include assert {
          @include output {
            @include \2xl\:lowercase;
            @include reset;
          }

          @include expect {
            @media (min-width: $\2xl) {
              text-transform: lowercase;
            }
          }
        }
      }

      @include it("2xl\:capitalize") {
        @include assert {
          @include output {
            @include \2xl\:capitalize;
            @include reset;
          }

          @include expect {
            @media (min-width: $\2xl) {
              text-transform: capitalize;
            }
          }
        }
      }

      @include it("2xl\:normal-case") {
        @include assert {
          @include output {
            @include \2xl\:normal-case;
            @include reset;
          }

          @include expect {
            @media (min-width: $\2xl) {
              text-transform: none;
            }
          }
        }
      }
    }
  }
}
