@use "../../setting" as *;


$TransitionDelay: (
  "delay-0": 0s,
  "delay-75": 75ms,
  "delay-100": 100ms,
  "delay-150": 150ms,
  "delay-200": 200ms,
  "delay-300": 300ms,
  "delay-500": 500ms,
  "delay-700": 700ms,
  "delay-1000": 1000ms,
);

@if $Basic {
  @each $key, $value in $TransitionDelay {
    /*x
    @mixin #{$key} {
      @include transition-delay(#{$value});
    }
    x*/
  }
}

@if $Rwd and ($sizeMode ==0 or $sizeMode ==1) {
  @each $rwd in $rwdBox {
    @each $key, $value in $TransitionDelay {
      /*x
      @mixin #{$rwd}\:#{$key} {
        @include transition-delay(#{$value}, $#{$rwd});
      }
      x*/
    }
  }
}

@if $Custom {
  /*x
  @mixin delay-($v) {
    @include transition-delay($v);
  }
  x*/

  @each $rwd in $rwdBox {
    /*x
    @mixin #{$rwd}\:delay-($v) {
      @include transition-delay($v, $#{$rwd});
    }
    x*/
  }
}
