@use "../../setting" as *;


$Hyphens: (
  "hyphens-none": none,
  "hyphens-manual": manual,
  "hyphens-auto": auto,
);

@if $Basic {
  @each $key, $value in $Hyphens {
    /*x
    @mixin #{$key}{
      @include hyphens(#{$value});
    }
    x*/
  }
}

@if $Rwd {
  @each $rwd in $rwdBox {
    @each $key, $value in $Hyphens {
      /*x
      @mixin #{$rwd}\:#{$key}{
        @include hyphens(#{$value}, $#{$key});
      }
      x*/
    }
  }
}
