@use "../../setting" as *;

$HueRotate: (
  "hue-rotate-0": 0deg,
  "hue-rotate-15": 15deg,
  "hue-rotate-30": 30deg,
  "hue-rotate-60": 60deg,
  "hue-rotate-90": 90deg,
  "hue-rotate-180": 180deg
);

@if $Basic {
  @each $key, $value in $HueRotate {
    /*x
    @mixin #{$key} {
      $tw-hue-rotate: hue-rotate(#{$value}) !global;
      @include filter(get_filter());
    }
    x*/
    /*x
    @mixin -#{$key} {
      $tw-hue-rotate: hue-rotate(-#{$value}) !global;
      @include filter(get_filter());
    }
    x*/
  }
}

@if $Rwd and ($sizeMode ==0 or $sizeMode ==1) {
  @each $rwd in $rwdBox {
    @each $key, $value in $HueRotate {
    /*x
    @mixin #{$rwd}\:#{$key} {
      $tw-hue-rotate: hue-rotate(#{$value}) !global;
      @include filter(get_filter(), $#{$rwd});
    }
    x*/
    /*x
    @mixin #{$rwd}\:-#{$key} {
      $tw-hue-rotate: hue-rotate(-#{$value}) !global;
      @include filter(get_filter(), $#{$rwd});
    }
    x*/
    }
  }
}

@if $Custom {
  /*x
  @mixin hue-rotate-($v) {
    $tw-hue-rotate: hue-rotate($v) !global;
    @include filter(get_filter());
  }
  x*/
  /*x
  @mixin -hue-rotate-($v) {
    $tw-hue-rotate: hue-rotate(-$v) !global;
    @include filter(get_filter());
  }
  x*/

  @each $rwd in $rwdBox {
    /*x
    @mixin #{$rwd}\:hue-rotate-($v) {
      $tw-hue-rotate: hue-rotate($v) !global;
      @include filter(get_filter(), $#{$rwd});
    }
    x*/
    /*x
    @mixin #{$rwd}\:-hue-rotate-($v) {
      $tw-hue-rotate: hue-rotate(-$v) !global;
      @include filter(get_filter(), $#{$rwd});
    }
    x*/
  }
}