@use "../../setting" as *;

/* Appearance */
@if $Basic {
  /*x
  @mixin appearance-none {
    appearance: none;
  }

  @mixin appearance-auto {
    appearance: auto;
  }x*/
}

@if $Rwd {
  /*x
  @mixin sm\:appearance-none {
    @media (min-width: $Rwd-sm) {
      appearance: none;
    }
  }

  @mixin sm\:appearance-auto {
    @media (min-width: $Rwd-sm) {
      appearance: auto;
    }
  }

  @mixin md\:appearance-none {
    @media (min-width: $Rwd-md) {
      appearance: none;
    }
  }

  @mixin md\:appearance-auto {
    @media (min-width: $Rwd-md) {
      appearance: auto;
    }
  }

  @mixin lg\:appearance-none {
    @media (min-width: $Rwd-lg) {
      appearance: none;
    }
  }

  @mixin lg\:appearance-auto {
    @media (min-width: $Rwd-lg) {
      appearance: auto;
    }
  }

  @mixin xl\:appearance-none {
    @media (min-width: $Rwd-xl) {
      appearance: none;
    }
  }

  @mixin xl\:appearance-auto {
    @media (min-width: $Rwd-xl) {
      appearance: auto;
    }
  }

  @mixin \2xl\:appearance-none {
    @media (min-width: $Rwd-2xl) {
      appearance: none;
    }
  }

  @mixin \2xl\:appearance-auto {
    @media (min-width: $Rwd-2xl) {
      appearance: auto;
    }
  }x*/
}
