@use "../../../settings/structures" as *;

@if $PlaceSelf {
  #mixin__place-self-auto {
    place-self: auto;
  }

  #mixin__place-self-start {
    place-self: start;
  }

  #mixin__place-self-end {
    place-self: end;
  }

  #mixin__place-self-center {
    place-self: center;
  }

  #mixin__place-self-stretch {
    place-self: stretch;
  }
}
