@use "../../setting" as *;

$Scale: (
  "0": 0,
  "50": 0.5,
  "75": 0.75,
  "90": 0.9,
  "95": 0.95,
  "100": 1,
  "105": 1.05,
  "110": 1.1,
  "125": 1.25,
  "150": 1.5,
);

@if $Basic {
  @each $key, $value in $Scale {
    /*x
    @mixin scale-#{$key} {
      $tw-scale-x: #{$value} !global;
      $tw-scale-y: #{$value} !global;
      @include transform(get_transform());
    }

    @mixin scale-x-#{$key} {
      $tw-scale-x: #{$value} !global;
      @include transform(get_transform());
    }

    @mixin scale-y-#{$key} {
      $tw-scale-y: #{$value} !global;
      @include transform(get_transform());
    }
    x*/
    /*x
    @mixin -scale-#{$key} {
      $tw-scale-x: #{-$value} !global;
      $tw-scale-y: #{-$value} !global;
      @include transform(get_transform());
    }

    @mixin -scale-x-#{$key} {
      $tw-scale-x: #{-$value} !global;
      @include transform(get_transform());
    }

    @mixin -scale-y-#{$key} {
      $tw-scale-y: #{-$value} !global;
      @include transform(get_transform());
    }
    x*/
  }
}

@if $Rwd and ($sizeMode ==0 or $sizeMode ==1) {
  @each $rwd in $rwdBox {
    @each $key, $value in $Scale {
    /*x
    @mixin #{$rwd}\:scale-#{$key} {
      $tw-scale-x: #{$value} !global;
      $tw-scale-y: #{$value} !global;
      @include transform(get_transform(), $#{$rwd});
    }

    @mixin #{$rwd}\:scale-x-#{$key} {
      $tw-scale-x: #{$value} !global;
      @include transform(get_transform(), $#{$rwd});
    }

    @mixin #{$rwd}\:scale-y-#{$key} {
      $tw-scale-y: #{$value} !global;
      @include transform(get_transform(), $#{$rwd});
    }
    x*/
    /*x
    @mixin #{$rwd}\:-scale-#{$key} {
      $tw-scale-x: #{-$value} !global;
      $tw-scale-y: #{-$value} !global;
      @include transform(get_transform(), $#{$rwd});
    }

    @mixin #{$rwd}\:-scale-x-#{$key} {
      $tw-scale-x: #{-$value} !global;
      @include transform(get_transform(), $#{$rwd});
    }

    @mixin #{$rwd}\:-scale-y-#{$key} {
      $tw-scale-y: #{-$value} !global;
      @include transform(get_transform(), $#{$rwd});
    }
    x*/
    }
  }
}

@if $Custom {
  /*x
  @mixin scale-($v) {
    $tw-scale-x: $v !global;
    $tw-scale-y: $v !global;
    @include transform(get_transform());
  }

  @mixin scale-x-($v) {
    $tw-scale-x: $v !global;
    @include transform(get_transform());
  }

  @mixin scale-y-($v) {
    $tw-scale-y: $v !global;
    @include transform(get_transform());
  }
  x*/
  /*x
  @mixin -scale-($v) {
    $tw-scale-x: -$v !global;
    $tw-scale-y: -$v !global;
    @include transform(get_transform());
  }

  @mixin -scale-x-($v) {
    $tw-scale-x: -$v !global;
    @include transform(get_transform());
  }

  @mixin -scale-y-($v) {
    $tw-scale-y: -$v !global;
    @include transform(get_transform());
  }
  x*/

  @each $rwd in $rwdBox {
  /*x
  @mixin #{$rwd}\:scale-($v) {
    $tw-scale-x: $v !global;
    $tw-scale-y: $v !global;
    @include transform(get_transform(), $#{$rwd});
  }

  @mixin #{$rwd}\:scale-x-($v) {
    $tw-scale-x: $v !global;
    @include transform(get_transform(), $#{$rwd});
  }

  @mixin #{$rwd}\:scale-y-($v) {
    $tw-scale-y: $v !global;
    @include transform(get_transform(), $#{$rwd});
  }
  x*/
  /*x
  @mixin #{$rwd}\:-scale-($v) {
    $tw-scale-x: -$v !global;
    $tw-scale-y: -$v !global;
    @include transform(get_transform(), $#{$rwd});
  }

  @mixin #{$rwd}\:-scale-x-($v) {
    $tw-scale-x: -$v !global;
    @include transform(get_transform(), $#{$rwd});
  }

  @mixin #{$rwd}\:-scale-y-($v) {
    $tw-scale-y: -$v !global;
    @include transform(get_transform(), $#{$rwd});
  }
  x*/
  }
}