@use "../../setting" as *;

/* Divide Color */
@if $Basic {
  /*x
  @mixin divide-inherit {
    >*~* {
      border-color: inherit;
    }
  }
  
  @mixin divide-current {
    >*~* {
      border-color: currentColor;
    }
  }
  
  @mixin divide-transparent {
    >*~* {
      border-color: transparent;
    }
  }
  
  @mixin divide-black($v: 1) {
    >*~* {
      border-color: c(bla, $v);
    }
  }
  
  @mixin divide-white($v: 1) {
    >*~* {
      border-color: c(whi, $v);
    }
  }
  
  @mixin divide-slate-50($v: 1) {
    >*~* {
      border-color: c(sla-50, $v);
    }
  }
  
  @mixin divide-slate-100($v: 1) {
    >*~* {
      border-color: c(sla-100, $v);
    }
  }
  
  @mixin divide-slate-200($v: 1) {
    >*~* {
      border-color: c(sla-200, $v);
    }
  }
  
  @mixin divide-slate-300($v: 1) {
    >*~* {
      border-color: c(sla-300, $v);
    }
  }
  
  @mixin divide-slate-400($v: 1) {
    >*~* {
      border-color: c(sla-400, $v);
    }
  }
  
  @mixin divide-slate-500($v: 1) {
    >*~* {
      border-color: c(sla-500, $v);
    }
  }
  
  @mixin divide-slate-600($v: 1) {
    >*~* {
      border-color: c(sla-600, $v);
    }
  }
  
  @mixin divide-slate-700($v: 1) {
    >*~* {
      border-color: c(sla-700, $v);
    }
  }
  
  @mixin divide-slate-800($v: 1) {
    >*~* {
      border-color: c(sla-800, $v);
    }
  }
  
  @mixin divide-slate-900($v: 1) {
    >*~* {
      border-color: c(sla-900, $v);
    }
  }
  
  @mixin divide-slate-950($v: 1) {
    >*~* {
      border-color: c(sla-950, $v);
    }
  }
  
  @mixin divide-gray-50($v: 1) {
    >*~* {
      border-color: c(gra-50, $v);
    }
  }
  
  @mixin divide-gray-100($v: 1) {
    >*~* {
      border-color: c(gra-100, $v);
    }
  }
  
  @mixin divide-gray-200($v: 1) {
    >*~* {
      border-color: c(gra-200, $v);
    }
  }
  
  @mixin divide-gray-300($v: 1) {
    >*~* {
      border-color: c(gra-300, $v);
    }
  }
  
  @mixin divide-gray-400($v: 1) {
    >*~* {
      border-color: c(gra-400, $v);
    }
  }
  
  @mixin divide-gray-500($v: 1) {
    >*~* {
      border-color: c(gra-500, $v);
    }
  }
  
  @mixin divide-gray-600($v: 1) {
    >*~* {
      border-color: c(gra-600, $v);
    }
  }
  
  @mixin divide-gray-700($v: 1) {
    >*~* {
      border-color: c(gra-700, $v);
    }
  }
  
  @mixin divide-gray-800($v: 1) {
    >*~* {
      border-color: c(gra-800, $v);
    }
  }
  
  @mixin divide-gray-900($v: 1) {
    >*~* {
      border-color: c(gra-900, $v);
    }
  }
  
  @mixin divide-gray-950($v: 1) {
    >*~* {
      border-color: c(gra-950, $v);
    }
  }
  
  @mixin divide-zinc-50($v: 1) {
    >*~* {
      border-color: c(zin-50, $v);
    }
  }
  
  @mixin divide-zinc-100($v: 1) {
    >*~* {
      border-color: c(zin-100, $v);
    }
  }
  
  @mixin divide-zinc-200($v: 1) {
    >*~* {
      border-color: c(zin-200, $v);
    }
  }
  
  @mixin divide-zinc-300($v: 1) {
    >*~* {
      border-color: c(zin-300, $v);
    }
  }
  
  @mixin divide-zinc-400($v: 1) {
    >*~* {
      border-color: c(zin-400, $v);
    }
  }
  
  @mixin divide-zinc-500($v: 1) {
    >*~* {
      border-color: c(zin-500, $v);
    }
  }
  
  @mixin divide-zinc-600($v: 1) {
    >*~* {
      border-color: c(zin-600, $v);
    }
  }
  
  @mixin divide-zinc-700($v: 1) {
    >*~* {
      border-color: c(zin-700, $v);
    }
  }
  
  @mixin divide-zinc-800($v: 1) {
    >*~* {
      border-color: c(zin-800, $v);
    }
  }
  
  @mixin divide-zinc-900($v: 1) {
    >*~* {
      border-color: c(zin-900, $v);
    }
  }
  
  @mixin divide-zinc-950($v: 1) {
    >*~* {
      border-color: c(zin-950, $v);
    }
  }
  
  @mixin divide-neutral-50($v: 1) {
    >*~* {
      border-color: c(neu-50, $v);
    }
  }
  
  @mixin divide-neutral-100($v: 1) {
    >*~* {
      border-color: c(neu-100, $v);
    }
  }
  
  @mixin divide-neutral-200($v: 1) {
    >*~* {
      border-color: c(neu-200, $v);
    }
  }
  
  @mixin divide-neutral-300($v: 1) {
    >*~* {
      border-color: c(neu-300, $v);
    }
  }
  
  @mixin divide-neutral-400($v: 1) {
    >*~* {
      border-color: c(neu-400, $v);
    }
  }
  
  @mixin divide-neutral-500($v: 1) {
    >*~* {
      border-color: c(neu-500, $v);
    }
  }
  
  @mixin divide-neutral-600($v: 1) {
    >*~* {
      border-color: c(neu-600, $v);
    }
  }
  
  @mixin divide-neutral-700($v: 1) {
    >*~* {
      border-color: c(neu-700, $v);
    }
  }
  
  @mixin divide-neutral-800($v: 1) {
    >*~* {
      border-color: c(neu-800, $v);
    }
  }
  
  @mixin divide-neutral-900($v: 1) {
    >*~* {
      border-color: c(neu-900, $v);
    }
  }
  
  @mixin divide-neutral-950($v: 1) {
    >*~* {
      border-color: c(neu-950, $v);
    }
  }
  
  @mixin divide-stone-50($v: 1) {
    >*~* {
      border-color: c(sto-50, $v);
    }
  }
  
  @mixin divide-stone-100($v: 1) {
    >*~* {
      border-color: c(sto-100, $v);
    }
  }
  
  @mixin divide-stone-200($v: 1) {
    >*~* {
      border-color: c(sto-200, $v);
    }
  }
  
  @mixin divide-stone-300($v: 1) {
    >*~* {
      border-color: c(sto-300, $v);
    }
  }
  
  @mixin divide-stone-400($v: 1) {
    >*~* {
      border-color: c(sto-400, $v);
    }
  }
  
  @mixin divide-stone-500($v: 1) {
    >*~* {
      border-color: c(sto-500, $v);
    }
  }
  
  @mixin divide-stone-600($v: 1) {
    >*~* {
      border-color: c(sto-600, $v);
    }
  }
  
  @mixin divide-stone-700($v: 1) {
    >*~* {
      border-color: c(sto-700, $v);
    }
  }
  
  @mixin divide-stone-800($v: 1) {
    >*~* {
      border-color: c(sto-800, $v);
    }
  }
  
  @mixin divide-stone-900($v: 1) {
    >*~* {
      border-color: c(sto-900, $v);
    }
  }
  
  @mixin divide-stone-950($v: 1) {
    >*~* {
      border-color: c(sto-950, $v);
    }
  }
  
  @mixin divide-red-50($v: 1) {
    >*~* {
      border-color: c(red-50, $v);
    }
  }
  
  @mixin divide-red-100($v: 1) {
    >*~* {
      border-color: c(red-100, $v);
    }
  }
  
  @mixin divide-red-200($v: 1) {
    >*~* {
      border-color: c(red-200, $v);
    }
  }
  
  @mixin divide-red-300($v: 1) {
    >*~* {
      border-color: c(red-300, $v);
    }
  }
  
  @mixin divide-red-400($v: 1) {
    >*~* {
      border-color: c(red-400, $v);
    }
  }
  
  @mixin divide-red-500($v: 1) {
    >*~* {
      border-color: c(red-500, $v);
    }
  }
  
  @mixin divide-red-600($v: 1) {
    >*~* {
      border-color: c(red-600, $v);
    }
  }
  
  @mixin divide-red-700($v: 1) {
    >*~* {
      border-color: c(red-700, $v);
    }
  }
  
  @mixin divide-red-800($v: 1) {
    >*~* {
      border-color: c(red-800, $v);
    }
  }
  
  @mixin divide-red-900($v: 1) {
    >*~* {
      border-color: c(red-900, $v);
    }
  }
  
  @mixin divide-red-950($v: 1) {
    >*~* {
      border-color: c(red-950, $v);
    }
  }
  
  @mixin divide-orange-50($v: 1) {
    >*~* {
      border-color: c(ora-50, $v);
    }
  }
  
  @mixin divide-orange-100($v: 1) {
    >*~* {
      border-color: c(ora-100, $v);
    }
  }
  
  @mixin divide-orange-200($v: 1) {
    >*~* {
      border-color: c(ora-200, $v);
    }
  }
  
  @mixin divide-orange-300($v: 1) {
    >*~* {
      border-color: c(ora-300, $v);
    }
  }
  
  @mixin divide-orange-400($v: 1) {
    >*~* {
      border-color: c(ora-400, $v);
    }
  }
  
  @mixin divide-orange-500($v: 1) {
    >*~* {
      border-color: c(ora-500, $v);
    }
  }
  
  @mixin divide-orange-600($v: 1) {
    >*~* {
      border-color: c(ora-600, $v);
    }
  }
  
  @mixin divide-orange-700($v: 1) {
    >*~* {
      border-color: c(ora-700, $v);
    }
  }
  
  @mixin divide-orange-800($v: 1) {
    >*~* {
      border-color: c(ora-800, $v);
    }
  }
  
  @mixin divide-orange-900($v: 1) {
    >*~* {
      border-color: c(ora-900, $v);
    }
  }
  
  @mixin divide-orange-950($v: 1) {
    >*~* {
      border-color: c(ora-950, $v);
    }
  }
  
  @mixin divide-amber-50($v: 1) {
    >*~* {
      border-color: c(amb-50, $v);
    }
  }
  
  @mixin divide-amber-100($v: 1) {
    >*~* {
      border-color: c(amb-100, $v);
    }
  }
  
  @mixin divide-amber-200($v: 1) {
    >*~* {
      border-color: c(amb-200, $v);
    }
  }
  
  @mixin divide-amber-300($v: 1) {
    >*~* {
      border-color: c(amb-300, $v);
    }
  }
  
  @mixin divide-amber-400($v: 1) {
    >*~* {
      border-color: c(amb-400, $v);
    }
  }
  
  @mixin divide-amber-500($v: 1) {
    >*~* {
      border-color: c(amb-500, $v);
    }
  }
  
  @mixin divide-amber-600($v: 1) {
    >*~* {
      border-color: c(amb-600, $v);
    }
  }
  
  @mixin divide-amber-700($v: 1) {
    >*~* {
      border-color: c(amb-700, $v);
    }
  }
  
  @mixin divide-amber-800($v: 1) {
    >*~* {
      border-color: c(amb-800, $v);
    }
  }
  
  @mixin divide-amber-900($v: 1) {
    >*~* {
      border-color: c(amb-900, $v);
    }
  }
  
  @mixin divide-amber-950($v: 1) {
    >*~* {
      border-color: c(amb-950, $v);
    }
  }
  
  @mixin divide-yellow-50($v: 1) {
    >*~* {
      border-color: c(yel-50, $v);
    }
  }
  
  @mixin divide-yellow-100($v: 1) {
    >*~* {
      border-color: c(yel-100, $v);
    }
  }
  
  @mixin divide-yellow-200($v: 1) {
    >*~* {
      border-color: c(yel-200, $v);
    }
  }
  
  @mixin divide-yellow-300($v: 1) {
    >*~* {
      border-color: c(yel-300, $v);
    }
  }
  
  @mixin divide-yellow-400($v: 1) {
    >*~* {
      border-color: c(yel-400, $v);
    }
  }
  
  @mixin divide-yellow-500($v: 1) {
    >*~* {
      border-color: c(yel-500, $v);
    }
  }
  
  @mixin divide-yellow-600($v: 1) {
    >*~* {
      border-color: c(yel-600, $v);
    }
  }
  
  @mixin divide-yellow-700($v: 1) {
    >*~* {
      border-color: c(yel-700, $v);
    }
  }
  
  @mixin divide-yellow-800($v: 1) {
    >*~* {
      border-color: c(yel-800, $v);
    }
  }
  
  @mixin divide-yellow-900($v: 1) {
    >*~* {
      border-color: c(yel-900, $v);
    }
  }
  
  @mixin divide-yellow-950($v: 1) {
    >*~* {
      border-color: c(yel-950, $v);
    }
  }
  
  @mixin divide-lime-50($v: 1) {
    >*~* {
      border-color: c(lim-50, $v);
    }
  }
  
  @mixin divide-lime-100($v: 1) {
    >*~* {
      border-color: c(lim-100, $v);
    }
  }
  
  @mixin divide-lime-200($v: 1) {
    >*~* {
      border-color: c(lim-200, $v);
    }
  }
  
  @mixin divide-lime-300($v: 1) {
    >*~* {
      border-color: c(lim-300, $v);
    }
  }
  
  @mixin divide-lime-400($v: 1) {
    >*~* {
      border-color: c(lim-400, $v);
    }
  }
  
  @mixin divide-lime-500($v: 1) {
    >*~* {
      border-color: c(lim-500, $v);
    }
  }
  
  @mixin divide-lime-600($v: 1) {
    >*~* {
      border-color: c(lim-600, $v);
    }
  }
  
  @mixin divide-lime-700($v: 1) {
    >*~* {
      border-color: c(lim-700, $v);
    }
  }
  
  @mixin divide-lime-800($v: 1) {
    >*~* {
      border-color: c(lim-800, $v);
    }
  }
  
  @mixin divide-lime-900($v: 1) {
    >*~* {
      border-color: c(lim-900, $v);
    }
  }
  
  @mixin divide-lime-950($v: 1) {
    >*~* {
      border-color: c(lim-950, $v);
    }
  }
  
  @mixin divide-green-50($v: 1) {
    >*~* {
      border-color: c(gre-50, $v);
    }
  }
  
  @mixin divide-green-100($v: 1) {
    >*~* {
      border-color: c(gre-100, $v);
    }
  }
  
  @mixin divide-green-200($v: 1) {
    >*~* {
      border-color: c(gre-200, $v);
    }
  }
  
  @mixin divide-green-300($v: 1) {
    >*~* {
      border-color: c(gre-300, $v);
    }
  }
  
  @mixin divide-green-400($v: 1) {
    >*~* {
      border-color: c(gre-400, $v);
    }
  }
  
  @mixin divide-green-500($v: 1) {
    >*~* {
      border-color: c(gre-500, $v);
    }
  }
  
  @mixin divide-green-600($v: 1) {
    >*~* {
      border-color: c(gre-600, $v);
    }
  }
  
  @mixin divide-green-700($v: 1) {
    >*~* {
      border-color: c(gre-700, $v);
    }
  }
  
  @mixin divide-green-800($v: 1) {
    >*~* {
      border-color: c(gre-800, $v);
    }
  }
  
  @mixin divide-green-900($v: 1) {
    >*~* {
      border-color: c(gre-900, $v);
    }
  }
  
  @mixin divide-green-950($v: 1) {
    >*~* {
      border-color: c(gre-950, $v);
    }
  }
  
  @mixin divide-emerald-50($v: 1) {
    >*~* {
      border-color: c(eme-50, $v);
    }
  }
  
  @mixin divide-emerald-100($v: 1) {
    >*~* {
      border-color: c(eme-100, $v);
    }
  }
  
  @mixin divide-emerald-200($v: 1) {
    >*~* {
      border-color: c(eme-200, $v);
    }
  }
  
  @mixin divide-emerald-300($v: 1) {
    >*~* {
      border-color: c(eme-300, $v);
    }
  }
  
  @mixin divide-emerald-400($v: 1) {
    >*~* {
      border-color: c(eme-400, $v);
    }
  }
  
  @mixin divide-emerald-500($v: 1) {
    >*~* {
      border-color: c(eme-500, $v);
    }
  }
  
  @mixin divide-emerald-600($v: 1) {
    >*~* {
      border-color: c(eme-600, $v);
    }
  }
  
  @mixin divide-emerald-700($v: 1) {
    >*~* {
      border-color: c(eme-700, $v);
    }
  }
  
  @mixin divide-emerald-800($v: 1) {
    >*~* {
      border-color: c(eme-800, $v);
    }
  }
  
  @mixin divide-emerald-900($v: 1) {
    >*~* {
      border-color: c(eme-900, $v);
    }
  }
  
  @mixin divide-emerald-950($v: 1) {
    >*~* {
      border-color: c(eme-950, $v);
    }
  }
  
  @mixin divide-teal-50($v: 1) {
    >*~* {
      border-color: c(tea-50, $v);
    }
  }
  
  @mixin divide-teal-100($v: 1) {
    >*~* {
      border-color: c(tea-100, $v);
    }
  }
  
  @mixin divide-teal-200($v: 1) {
    >*~* {
      border-color: c(tea-200, $v);
    }
  }
  
  @mixin divide-teal-300($v: 1) {
    >*~* {
      border-color: c(tea-300, $v);
    }
  }
  
  @mixin divide-teal-400($v: 1) {
    >*~* {
      border-color: c(tea-400, $v);
    }
  }
  
  @mixin divide-teal-500($v: 1) {
    >*~* {
      border-color: c(tea-500, $v);
    }
  }
  
  @mixin divide-teal-600($v: 1) {
    >*~* {
      border-color: c(tea-600, $v);
    }
  }
  
  @mixin divide-teal-700($v: 1) {
    >*~* {
      border-color: c(tea-700, $v);
    }
  }
  
  @mixin divide-teal-800($v: 1) {
    >*~* {
      border-color: c(tea-800, $v);
    }
  }
  
  @mixin divide-teal-900($v: 1) {
    >*~* {
      border-color: c(tea-900, $v);
    }
  }
  
  @mixin divide-teal-950($v: 1) {
    >*~* {
      border-color: c(tea-950, $v);
    }
  }
  
  @mixin divide-cyan-50($v: 1) {
    >*~* {
      border-color: c(cya-50, $v);
    }
  }
  
  @mixin divide-cyan-100($v: 1) {
    >*~* {
      border-color: c(cya-100, $v);
    }
  }
  
  @mixin divide-cyan-200($v: 1) {
    >*~* {
      border-color: c(cya-200, $v);
    }
  }
  
  @mixin divide-cyan-300($v: 1) {
    >*~* {
      border-color: c(cya-300, $v);
    }
  }
  
  @mixin divide-cyan-400($v: 1) {
    >*~* {
      border-color: c(cya-400, $v);
    }
  }
  
  @mixin divide-cyan-500($v: 1) {
    >*~* {
      border-color: c(cya-500, $v);
    }
  }
  
  @mixin divide-cyan-600($v: 1) {
    >*~* {
      border-color: c(cya-600, $v);
    }
  }
  
  @mixin divide-cyan-700($v: 1) {
    >*~* {
      border-color: c(cya-700, $v);
    }
  }
  
  @mixin divide-cyan-800($v: 1) {
    >*~* {
      border-color: c(cya-800, $v);
    }
  }
  
  @mixin divide-cyan-900($v: 1) {
    >*~* {
      border-color: c(cya-900, $v);
    }
  }
  
  @mixin divide-cyan-950($v: 1) {
    >*~* {
      border-color: c(cya-950, $v);
    }
  }
  
  @mixin divide-sky-50($v: 1) {
    >*~* {
      border-color: c(sky-50, $v);
    }
  }
  
  @mixin divide-sky-100($v: 1) {
    >*~* {
      border-color: c(sky-100, $v);
    }
  }
  
  @mixin divide-sky-200($v: 1) {
    >*~* {
      border-color: c(sky-200, $v);
    }
  }
  
  @mixin divide-sky-300($v: 1) {
    >*~* {
      border-color: c(sky-300, $v);
    }
  }
  
  @mixin divide-sky-400($v: 1) {
    >*~* {
      border-color: c(sky-400, $v);
    }
  }
  
  @mixin divide-sky-500($v: 1) {
    >*~* {
      border-color: c(sky-500, $v);
    }
  }
  
  @mixin divide-sky-600($v: 1) {
    >*~* {
      border-color: c(sky-600, $v);
    }
  }
  
  @mixin divide-sky-700($v: 1) {
    >*~* {
      border-color: c(sky-700, $v);
    }
  }
  
  @mixin divide-sky-800($v: 1) {
    >*~* {
      border-color: c(sky-800, $v);
    }
  }
  
  @mixin divide-sky-900($v: 1) {
    >*~* {
      border-color: c(sky-900, $v);
    }
  }
  
  @mixin divide-sky-950($v: 1) {
    >*~* {
      border-color: c(sky-950, $v);
    }
  }
  
  @mixin divide-blue-50($v: 1) {
    >*~* {
      border-color: c(blu-50, $v);
    }
  }
  
  @mixin divide-blue-100($v: 1) {
    >*~* {
      border-color: c(blu-100, $v);
    }
  }
  
  @mixin divide-blue-200($v: 1) {
    >*~* {
      border-color: c(blu-200, $v);
    }
  }
  
  @mixin divide-blue-300($v: 1) {
    >*~* {
      border-color: c(blu-300, $v);
    }
  }
  
  @mixin divide-blue-400($v: 1) {
    >*~* {
      border-color: c(blu-400, $v);
    }
  }
  
  @mixin divide-blue-500($v: 1) {
    >*~* {
      border-color: c(blu-500, $v);
    }
  }
  
  @mixin divide-blue-600($v: 1) {
    >*~* {
      border-color: c(blu-600, $v);
    }
  }
  
  @mixin divide-blue-700($v: 1) {
    >*~* {
      border-color: c(blu-700, $v);
    }
  }
  
  @mixin divide-blue-800($v: 1) {
    >*~* {
      border-color: c(blu-800, $v);
    }
  }
  
  @mixin divide-blue-900($v: 1) {
    >*~* {
      border-color: c(blu-900, $v);
    }
  }
  
  @mixin divide-blue-950($v: 1) {
    >*~* {
      border-color: c(blu-950, $v);
    }
  }
  
  @mixin divide-indigo-50($v: 1) {
    >*~* {
      border-color: c(ind-50, $v);
    }
  }
  
  @mixin divide-indigo-100($v: 1) {
    >*~* {
      border-color: c(ind-100, $v);
    }
  }
  
  @mixin divide-indigo-200($v: 1) {
    >*~* {
      border-color: c(ind-200, $v);
    }
  }
  
  @mixin divide-indigo-300($v: 1) {
    >*~* {
      border-color: c(ind-300, $v);
    }
  }
  
  @mixin divide-indigo-400($v: 1) {
    >*~* {
      border-color: c(ind-400, $v);
    }
  }
  
  @mixin divide-indigo-500($v: 1) {
    >*~* {
      border-color: c(ind-500, $v);
    }
  }
  
  @mixin divide-indigo-600($v: 1) {
    >*~* {
      border-color: c(ind-600, $v);
    }
  }
  
  @mixin divide-indigo-700($v: 1) {
    >*~* {
      border-color: c(ind-700, $v);
    }
  }
  
  @mixin divide-indigo-800($v: 1) {
    >*~* {
      border-color: c(ind-800, $v);
    }
  }
  
  @mixin divide-indigo-900($v: 1) {
    >*~* {
      border-color: c(ind-900, $v);
    }
  }
  
  @mixin divide-indigo-950($v: 1) {
    >*~* {
      border-color: c(ind-950, $v);
    }
  }
  
  @mixin divide-violet-50($v: 1) {
    >*~* {
      border-color: c(vio-50, $v);
    }
  }
  
  @mixin divide-violet-100($v: 1) {
    >*~* {
      border-color: c(vio-100, $v);
    }
  }
  
  @mixin divide-violet-200($v: 1) {
    >*~* {
      border-color: c(vio-200, $v);
    }
  }
  
  @mixin divide-violet-300($v: 1) {
    >*~* {
      border-color: c(vio-300, $v);
    }
  }
  
  @mixin divide-violet-400($v: 1) {
    >*~* {
      border-color: c(vio-400, $v);
    }
  }
  
  @mixin divide-violet-500($v: 1) {
    >*~* {
      border-color: c(vio-500, $v);
    }
  }
  
  @mixin divide-violet-600($v: 1) {
    >*~* {
      border-color: c(vio-600, $v);
    }
  }
  
  @mixin divide-violet-700($v: 1) {
    >*~* {
      border-color: c(vio-700, $v);
    }
  }
  
  @mixin divide-violet-800($v: 1) {
    >*~* {
      border-color: c(vio-800, $v);
    }
  }
  
  @mixin divide-violet-900($v: 1) {
    >*~* {
      border-color: c(vio-900, $v);
    }
  }
  
  @mixin divide-violet-950($v: 1) {
    >*~* {
      border-color: c(vio-950, $v);
    }
  }
  
  @mixin divide-purple-50($v: 1) {
    >*~* {
      border-color: c(pur-50, $v);
    }
  }
  
  @mixin divide-purple-100($v: 1) {
    >*~* {
      border-color: c(pur-100, $v);
    }
  }
  
  @mixin divide-purple-200($v: 1) {
    >*~* {
      border-color: c(pur-200, $v);
    }
  }
  
  @mixin divide-purple-300($v: 1) {
    >*~* {
      border-color: c(pur-300, $v);
    }
  }
  
  @mixin divide-purple-400($v: 1) {
    >*~* {
      border-color: c(pur-400, $v);
    }
  }
  
  @mixin divide-purple-500($v: 1) {
    >*~* {
      border-color: c(pur-500, $v);
    }
  }
  
  @mixin divide-purple-600($v: 1) {
    >*~* {
      border-color: c(pur-600, $v);
    }
  }
  
  @mixin divide-purple-700($v: 1) {
    >*~* {
      border-color: c(pur-700, $v);
    }
  }
  
  @mixin divide-purple-800($v: 1) {
    >*~* {
      border-color: c(pur-800, $v);
    }
  }
  
  @mixin divide-purple-900($v: 1) {
    >*~* {
      border-color: c(pur-900, $v);
    }
  }
  
  @mixin divide-purple-950($v: 1) {
    >*~* {
      border-color: c(pur-950, $v);
    }
  }
  
  @mixin divide-fuchsia-50($v: 1) {
    >*~* {
      border-color: c(fuc-50, $v);
    }
  }
  
  @mixin divide-fuchsia-100($v: 1) {
    >*~* {
      border-color: c(fuc-100, $v);
    }
  }
  
  @mixin divide-fuchsia-200($v: 1) {
    >*~* {
      border-color: c(fuc-200, $v);
    }
  }
  
  @mixin divide-fuchsia-300($v: 1) {
    >*~* {
      border-color: c(fuc-300, $v);
    }
  }
  
  @mixin divide-fuchsia-400($v: 1) {
    >*~* {
      border-color: c(fuc-400, $v);
    }
  }
  
  @mixin divide-fuchsia-500($v: 1) {
    >*~* {
      border-color: c(fuc-500, $v);
    }
  }
  
  @mixin divide-fuchsia-600($v: 1) {
    >*~* {
      border-color: c(fuc-600, $v);
    }
  }
  
  @mixin divide-fuchsia-700($v: 1) {
    >*~* {
      border-color: c(fuc-700, $v);
    }
  }
  
  @mixin divide-fuchsia-800($v: 1) {
    >*~* {
      border-color: c(fuc-800, $v);
    }
  }
  
  @mixin divide-fuchsia-900($v: 1) {
    >*~* {
      border-color: c(fuc-900, $v);
    }
  }
  
  @mixin divide-fuchsia-950($v: 1) {
    >*~* {
      border-color: c(fuc-950, $v);
    }
  }
  
  @mixin divide-pink-50($v: 1) {
    >*~* {
      border-color: c(pin-50, $v);
    }
  }
  
  @mixin divide-pink-100($v: 1) {
    >*~* {
      border-color: c(pin-100, $v);
    }
  }
  
  @mixin divide-pink-200($v: 1) {
    >*~* {
      border-color: c(pin-200, $v);
    }
  }
  
  @mixin divide-pink-300($v: 1) {
    >*~* {
      border-color: c(pin-300, $v);
    }
  }
  
  @mixin divide-pink-400($v: 1) {
    >*~* {
      border-color: c(pin-400, $v);
    }
  }
  
  @mixin divide-pink-500($v: 1) {
    >*~* {
      border-color: c(pin-500, $v);
    }
  }
  
  @mixin divide-pink-600($v: 1) {
    >*~* {
      border-color: c(pin-600, $v);
    }
  }
  
  @mixin divide-pink-700($v: 1) {
    >*~* {
      border-color: c(pin-700, $v);
    }
  }
  
  @mixin divide-pink-800($v: 1) {
    >*~* {
      border-color: c(pin-800, $v);
    }
  }
  
  @mixin divide-pink-900($v: 1) {
    >*~* {
      border-color: c(pin-900, $v);
    }
  }
  
  @mixin divide-pink-950($v: 1) {
    >*~* {
      border-color: c(pin-950, $v);
    }
  }
  
  @mixin divide-rose-50($v: 1) {
    >*~* {
      border-color: c(ros-50, $v);
    }
  }
  
  @mixin divide-rose-100($v: 1) {
    >*~* {
      border-color: c(ros-100, $v);
    }
  }
  
  @mixin divide-rose-200($v: 1) {
    >*~* {
      border-color: c(ros-200, $v);
    }
  }
  
  @mixin divide-rose-300($v: 1) {
    >*~* {
      border-color: c(ros-300, $v);
    }
  }
  
  @mixin divide-rose-400($v: 1) {
    >*~* {
      border-color: c(ros-400, $v);
    }
  }
  
  @mixin divide-rose-500($v: 1) {
    >*~* {
      border-color: c(ros-500, $v);
    }
  }
  
  @mixin divide-rose-600($v: 1) {
    >*~* {
      border-color: c(ros-600, $v);
    }
  }
  
  @mixin divide-rose-700($v: 1) {
    >*~* {
      border-color: c(ros-700, $v);
    }
  }
  
  @mixin divide-rose-800($v: 1) {
    >*~* {
      border-color: c(ros-800, $v);
    }
  }
  
  @mixin divide-rose-900($v: 1) {
    >*~* {
      border-color: c(ros-900, $v);
    }
  }
  
  @mixin divide-rose-950($v: 1) {
    >*~* {
      border-color: c(ros-950, $v);
    }
  }
  x*/
}

@if $Rwd {
  // reducing size for updating speed
  @if $isLiteMode {
    /*x
    @mixin sm\:divide-color-($v) {
      @media (min-width: $Rwd-sm) {
        > *~* {
          border-color: $v;
        }
      }
    }

    @mixin md\:divide-color-($v) {
      @media (min-width: $Rwd-md) {
        > *~* {
          border-color: $v;
        }
      }
    }

    @mixin lg\:divide-color-($v) {
      @media (min-width: $Rwd-lg) {
        > *~* {
          border-color: $v;
        }
      }
    }

    @mixin xl\:divide-color-($v) {
      @media (min-width: $Rwd-xl) {
        > *~* {
          border-color: $v;
        }
      }
    }

    @mixin \2xl\:divide-color-($v) {
      @media (min-width: $Rwd-2xl) {
        > *~* {
          border-color: $v;
        }
      }
    }x*/
  }

  // tailwind default
  @else {
  }
}

/* Naming collision: divide -> divide-color */
@if $Custom {
  /*x
  @mixin divide-color-($v) {
    > *~* {
      border-color: $v;
    }
  }
  x*/
}
