@use "../../setting" as *;

/* Divide Color */
@if $Basic {
  @mixin_divide-inherit {
    #x > * + * {
      border-color: inherit;
    }
  }

  @mixin_divide-current {
    #x > * + * {
      border-color: currentColor;
    }
  }

  @mixin_divide-transparent {
    #x > * + * {
      border-color: transparent;
    }
  }

  @mixin_divide-black {
    #x > * + * {
      border-color: #000000;
    }
  }

  @mixin_divide-white {
    #x > * + * {
      border-color: #ffffff;
    }
  }

  @mixin_divide-slate-50 {
    #x > * + * {
      border-color: #f8fafc;
    }
  }

  @mixin_divide-slate-100 {
    #x > * + * {
      border-color: #f1f5f9;
    }
  }

  @mixin_divide-slate-200 {
    #x > * + * {
      border-color: #e2e8f0;
    }
  }

  @mixin_divide-slate-300 {
    #x > * + * {
      border-color: #cbd5e1;
    }
  }

  @mixin_divide-slate-400 {
    #x > * + * {
      border-color: #94a3b8;
    }
  }

  @mixin_divide-slate-500 {
    #x > * + * {
      border-color: #64748b;
    }
  }

  @mixin_divide-slate-600 {
    #x > * + * {
      border-color: #475569;
    }
  }

  @mixin_divide-slate-700 {
    #x > * + * {
      border-color: #334155;
    }
  }

  @mixin_divide-slate-800 {
    #x > * + * {
      border-color: #1e293b;
    }
  }

  @mixin_divide-slate-900 {
    #x > * + * {
      border-color: #0f172a;
    }
  }

  @mixin_divide-slate-950 {
    #x > * + * {
      border-color: #020617;
    }
  }

  @mixin_divide-gray-50 {
    #x > * + * {
      border-color: #f9fafb;
    }
  }

  @mixin_divide-gray-100 {
    #x > * + * {
      border-color: #f3f4f6;
    }
  }

  @mixin_divide-gray-200 {
    #x > * + * {
      border-color: #e5e7eb;
    }
  }

  @mixin_divide-gray-300 {
    #x > * + * {
      border-color: #d1d5db;
    }
  }

  @mixin_divide-gray-400 {
    #x > * + * {
      border-color: #9ca3af;
    }
  }

  @mixin_divide-gray-500 {
    #x > * + * {
      border-color: #6b7280;
    }
  }

  @mixin_divide-gray-600 {
    #x > * + * {
      border-color: #4b5563;
    }
  }

  @mixin_divide-gray-700 {
    #x > * + * {
      border-color: #374151;
    }
  }

  @mixin_divide-gray-800 {
    #x > * + * {
      border-color: #1f2937;
    }
  }

  @mixin_divide-gray-900 {
    #x > * + * {
      border-color: #111827;
    }
  }

  @mixin_divide-gray-950 {
    #x > * + * {
      border-color: #030712;
    }
  }

  @mixin_divide-zinc-50 {
    #x > * + * {
      border-color: #fafafa;
    }
  }

  @mixin_divide-zinc-100 {
    #x > * + * {
      border-color: #f4f4f5;
    }
  }

  @mixin_divide-zinc-200 {
    #x > * + * {
      border-color: #e4e4e7;
    }
  }

  @mixin_divide-zinc-300 {
    #x > * + * {
      border-color: #d4d4d8;
    }
  }

  @mixin_divide-zinc-400 {
    #x > * + * {
      border-color: #a1a1aa;
    }
  }

  @mixin_divide-zinc-500 {
    #x > * + * {
      border-color: #71717a;
    }
  }

  @mixin_divide-zinc-600 {
    #x > * + * {
      border-color: #52525b;
    }
  }

  @mixin_divide-zinc-700 {
    #x > * + * {
      border-color: #3f3f46;
    }
  }

  @mixin_divide-zinc-800 {
    #x > * + * {
      border-color: #27272a;
    }
  }

  @mixin_divide-zinc-900 {
    #x > * + * {
      border-color: #18181b;
    }
  }

  @mixin_divide-zinc-950 {
    #x > * + * {
      border-color: #09090b;
    }
  }

  @mixin_divide-neutral-50 {
    #x > * + * {
      border-color: #fafafa;
    }
  }

  @mixin_divide-neutral-100 {
    #x > * + * {
      border-color: #f5f5f5;
    }
  }

  @mixin_divide-neutral-200 {
    #x > * + * {
      border-color: #e5e5e5;
    }
  }

  @mixin_divide-neutral-300 {
    #x > * + * {
      border-color: #d4d4d4;
    }
  }

  @mixin_divide-neutral-400 {
    #x > * + * {
      border-color: #a3a3a3;
    }
  }

  @mixin_divide-neutral-500 {
    #x > * + * {
      border-color: #737373;
    }
  }

  @mixin_divide-neutral-600 {
    #x > * + * {
      border-color: #525252;
    }
  }

  @mixin_divide-neutral-700 {
    #x > * + * {
      border-color: #404040;
    }
  }

  @mixin_divide-neutral-800 {
    #x > * + * {
      border-color: #262626;
    }
  }

  @mixin_divide-neutral-900 {
    #x > * + * {
      border-color: #171717;
    }
  }

  @mixin_divide-neutral-950 {
    #x > * + * {
      border-color: #0a0a0a;
    }
  }

  @mixin_divide-stone-50 {
    #x > * + * {
      border-color: #fafaf9;
    }
  }

  @mixin_divide-stone-100 {
    #x > * + * {
      border-color: #f5f5f4;
    }
  }

  @mixin_divide-stone-200 {
    #x > * + * {
      border-color: #e7e5e4;
    }
  }

  @mixin_divide-stone-300 {
    #x > * + * {
      border-color: #d6d3d1;
    }
  }

  @mixin_divide-stone-400 {
    #x > * + * {
      border-color: #a8a29e;
    }
  }

  @mixin_divide-stone-500 {
    #x > * + * {
      border-color: #78716c;
    }
  }

  @mixin_divide-stone-600 {
    #x > * + * {
      border-color: #57534e;
    }
  }

  @mixin_divide-stone-700 {
    #x > * + * {
      border-color: #44403c;
    }
  }

  @mixin_divide-stone-800 {
    #x > * + * {
      border-color: #292524;
    }
  }

  @mixin_divide-stone-900 {
    #x > * + * {
      border-color: #1c1917;
    }
  }

  @mixin_divide-stone-950 {
    #x > * + * {
      border-color: #0c0a09;
    }
  }

  @mixin_divide-red-50 {
    #x > * + * {
      border-color: #fef2f2;
    }
  }

  @mixin_divide-red-100 {
    #x > * + * {
      border-color: #fee2e2;
    }
  }

  @mixin_divide-red-200 {
    #x > * + * {
      border-color: #fecaca;
    }
  }

  @mixin_divide-red-300 {
    #x > * + * {
      border-color: #fca5a5;
    }
  }

  @mixin_divide-red-400 {
    #x > * + * {
      border-color: #f87171;
    }
  }

  @mixin_divide-red-500 {
    #x > * + * {
      border-color: #ef4444;
    }
  }

  @mixin_divide-red-600 {
    #x > * + * {
      border-color: #dc2626;
    }
  }

  @mixin_divide-red-700 {
    #x > * + * {
      border-color: #b91c1c;
    }
  }

  @mixin_divide-red-800 {
    #x > * + * {
      border-color: #991b1b;
    }
  }

  @mixin_divide-red-900 {
    #x > * + * {
      border-color: #7f1d1d;
    }
  }

  @mixin_divide-red-950 {
    #x > * + * {
      border-color: #450a0a;
    }
  }

  @mixin_divide-orange-50 {
    #x > * + * {
      border-color: #fff7ed;
    }
  }

  @mixin_divide-orange-100 {
    #x > * + * {
      border-color: #ffedd5;
    }
  }

  @mixin_divide-orange-200 {
    #x > * + * {
      border-color: #fed7aa;
    }
  }

  @mixin_divide-orange-300 {
    #x > * + * {
      border-color: #fdba74;
    }
  }

  @mixin_divide-orange-400 {
    #x > * + * {
      border-color: #fb923c;
    }
  }

  @mixin_divide-orange-500 {
    #x > * + * {
      border-color: #f97316;
    }
  }

  @mixin_divide-orange-600 {
    #x > * + * {
      border-color: #ea580c;
    }
  }

  @mixin_divide-orange-700 {
    #x > * + * {
      border-color: #c2410c;
    }
  }

  @mixin_divide-orange-800 {
    #x > * + * {
      border-color: #9a3412;
    }
  }

  @mixin_divide-orange-900 {
    #x > * + * {
      border-color: #7c2d12;
    }
  }

  @mixin_divide-orange-950 {
    #x > * + * {
      border-color: #431407;
    }
  }

  @mixin_divide-amber-50 {
    #x > * + * {
      border-color: #fffbeb;
    }
  }

  @mixin_divide-amber-100 {
    #x > * + * {
      border-color: #fef3c7;
    }
  }

  @mixin_divide-amber-200 {
    #x > * + * {
      border-color: #fde68a;
    }
  }

  @mixin_divide-amber-300 {
    #x > * + * {
      border-color: #fcd34d;
    }
  }

  @mixin_divide-amber-400 {
    #x > * + * {
      border-color: #fbbf24;
    }
  }

  @mixin_divide-amber-500 {
    #x > * + * {
      border-color: #f59e0b;
    }
  }

  @mixin_divide-amber-600 {
    #x > * + * {
      border-color: #d97706;
    }
  }

  @mixin_divide-amber-700 {
    #x > * + * {
      border-color: #b45309;
    }
  }

  @mixin_divide-amber-800 {
    #x > * + * {
      border-color: #92400e;
    }
  }

  @mixin_divide-amber-900 {
    #x > * + * {
      border-color: #78350f;
    }
  }

  @mixin_divide-amber-950 {
    #x > * + * {
      border-color: #451a03;
    }
  }

  @mixin_divide-yellow-50 {
    #x > * + * {
      border-color: #fefce8;
    }
  }

  @mixin_divide-yellow-100 {
    #x > * + * {
      border-color: #fef9c3;
    }
  }

  @mixin_divide-yellow-200 {
    #x > * + * {
      border-color: #fef08a;
    }
  }

  @mixin_divide-yellow-300 {
    #x > * + * {
      border-color: #fde047;
    }
  }

  @mixin_divide-yellow-400 {
    #x > * + * {
      border-color: #facc15;
    }
  }

  @mixin_divide-yellow-500 {
    #x > * + * {
      border-color: #eab308;
    }
  }

  @mixin_divide-yellow-600 {
    #x > * + * {
      border-color: #ca8a04;
    }
  }

  @mixin_divide-yellow-700 {
    #x > * + * {
      border-color: #a16207;
    }
  }

  @mixin_divide-yellow-800 {
    #x > * + * {
      border-color: #854d0e;
    }
  }

  @mixin_divide-yellow-900 {
    #x > * + * {
      border-color: #713f12;
    }
  }

  @mixin_divide-yellow-950 {
    #x > * + * {
      border-color: #422006;
    }
  }

  @mixin_divide-lime-50 {
    #x > * + * {
      border-color: #f7fee7;
    }
  }

  @mixin_divide-lime-100 {
    #x > * + * {
      border-color: #ecfccb;
    }
  }

  @mixin_divide-lime-200 {
    #x > * + * {
      border-color: #d9f99d;
    }
  }

  @mixin_divide-lime-300 {
    #x > * + * {
      border-color: #bef264;
    }
  }

  @mixin_divide-lime-400 {
    #x > * + * {
      border-color: #a3e635;
    }
  }

  @mixin_divide-lime-500 {
    #x > * + * {
      border-color: #84cc16;
    }
  }

  @mixin_divide-lime-600 {
    #x > * + * {
      border-color: #65a30d;
    }
  }

  @mixin_divide-lime-700 {
    #x > * + * {
      border-color: #4d7c0f;
    }
  }

  @mixin_divide-lime-800 {
    #x > * + * {
      border-color: #3f6212;
    }
  }

  @mixin_divide-lime-900 {
    #x > * + * {
      border-color: #365314;
    }
  }

  @mixin_divide-lime-950 {
    #x > * + * {
      border-color: #1a2e05;
    }
  }

  @mixin_divide-green-50 {
    #x > * + * {
      border-color: #f0fdf4;
    }
  }

  @mixin_divide-green-100 {
    #x > * + * {
      border-color: #dcfce7;
    }
  }

  @mixin_divide-green-200 {
    #x > * + * {
      border-color: #bbf7d0;
    }
  }

  @mixin_divide-green-300 {
    #x > * + * {
      border-color: #86efac;
    }
  }

  @mixin_divide-green-400 {
    #x > * + * {
      border-color: #4ade80;
    }
  }

  @mixin_divide-green-500 {
    #x > * + * {
      border-color: #22c55e;
    }
  }

  @mixin_divide-green-600 {
    #x > * + * {
      border-color: #16a34a;
    }
  }

  @mixin_divide-green-700 {
    #x > * + * {
      border-color: #15803d;
    }
  }

  @mixin_divide-green-800 {
    #x > * + * {
      border-color: #166534;
    }
  }

  @mixin_divide-green-900 {
    #x > * + * {
      border-color: #14532d;
    }
  }

  @mixin_divide-green-950 {
    #x > * + * {
      border-color: #052e16;
    }
  }

  @mixin_divide-emerald-50 {
    #x > * + * {
      border-color: #ecfdf5;
    }
  }

  @mixin_divide-emerald-100 {
    #x > * + * {
      border-color: #d1fae5;
    }
  }

  @mixin_divide-emerald-200 {
    #x > * + * {
      border-color: #a7f3d0;
    }
  }

  @mixin_divide-emerald-300 {
    #x > * + * {
      border-color: #6ee7b7;
    }
  }

  @mixin_divide-emerald-400 {
    #x > * + * {
      border-color: #34d399;
    }
  }

  @mixin_divide-emerald-500 {
    #x > * + * {
      border-color: #10b981;
    }
  }

  @mixin_divide-emerald-600 {
    #x > * + * {
      border-color: #059669;
    }
  }

  @mixin_divide-emerald-700 {
    #x > * + * {
      border-color: #047857;
    }
  }

  @mixin_divide-emerald-800 {
    #x > * + * {
      border-color: #065f46;
    }
  }

  @mixin_divide-emerald-900 {
    #x > * + * {
      border-color: #064e3b;
    }
  }

  @mixin_divide-emerald-950 {
    #x > * + * {
      border-color: #022c22;
    }
  }

  @mixin_divide-teal-50 {
    #x > * + * {
      border-color: #f0fdfa;
    }
  }

  @mixin_divide-teal-100 {
    #x > * + * {
      border-color: #ccfbf1;
    }
  }

  @mixin_divide-teal-200 {
    #x > * + * {
      border-color: #99f6e4;
    }
  }

  @mixin_divide-teal-300 {
    #x > * + * {
      border-color: #5eead4;
    }
  }

  @mixin_divide-teal-400 {
    #x > * + * {
      border-color: #2dd4bf;
    }
  }

  @mixin_divide-teal-500 {
    #x > * + * {
      border-color: #14b8a6;
    }
  }

  @mixin_divide-teal-600 {
    #x > * + * {
      border-color: #0d9488;
    }
  }

  @mixin_divide-teal-700 {
    #x > * + * {
      border-color: #0f766e;
    }
  }

  @mixin_divide-teal-800 {
    #x > * + * {
      border-color: #115e59;
    }
  }

  @mixin_divide-teal-900 {
    #x > * + * {
      border-color: #134e4a;
    }
  }

  @mixin_divide-teal-950 {
    #x > * + * {
      border-color: #042f2e;
    }
  }

  @mixin_divide-cyan-50 {
    #x > * + * {
      border-color: #ecfeff;
    }
  }

  @mixin_divide-cyan-100 {
    #x > * + * {
      border-color: #cffafe;
    }
  }

  @mixin_divide-cyan-200 {
    #x > * + * {
      border-color: #a5f3fc;
    }
  }

  @mixin_divide-cyan-300 {
    #x > * + * {
      border-color: #67e8f9;
    }
  }

  @mixin_divide-cyan-400 {
    #x > * + * {
      border-color: #22d3ee;
    }
  }

  @mixin_divide-cyan-500 {
    #x > * + * {
      border-color: #06b6d4;
    }
  }

  @mixin_divide-cyan-600 {
    #x > * + * {
      border-color: #0891b2;
    }
  }

  @mixin_divide-cyan-700 {
    #x > * + * {
      border-color: #0e7490;
    }
  }

  @mixin_divide-cyan-800 {
    #x > * + * {
      border-color: #155e75;
    }
  }

  @mixin_divide-cyan-900 {
    #x > * + * {
      border-color: #164e63;
    }
  }

  @mixin_divide-cyan-950 {
    #x > * + * {
      border-color: #083344;
    }
  }

  @mixin_divide-sky-50 {
    #x > * + * {
      border-color: #f0f9ff;
    }
  }

  @mixin_divide-sky-100 {
    #x > * + * {
      border-color: #e0f2fe;
    }
  }

  @mixin_divide-sky-200 {
    #x > * + * {
      border-color: #bae6fd;
    }
  }

  @mixin_divide-sky-300 {
    #x > * + * {
      border-color: #7dd3fc;
    }
  }

  @mixin_divide-sky-400 {
    #x > * + * {
      border-color: #38bdf8;
    }
  }

  @mixin_divide-sky-500 {
    #x > * + * {
      border-color: #0ea5e9;
    }
  }

  @mixin_divide-sky-600 {
    #x > * + * {
      border-color: #0284c7;
    }
  }

  @mixin_divide-sky-700 {
    #x > * + * {
      border-color: #0369a1;
    }
  }

  @mixin_divide-sky-800 {
    #x > * + * {
      border-color: #075985;
    }
  }

  @mixin_divide-sky-900 {
    #x > * + * {
      border-color: #0c4a6e;
    }
  }

  @mixin_divide-sky-950 {
    #x > * + * {
      border-color: #082f49;
    }
  }

  @mixin_divide-blue-50 {
    #x > * + * {
      border-color: #eff6ff;
    }
  }

  @mixin_divide-blue-100 {
    #x > * + * {
      border-color: #dbeafe;
    }
  }

  @mixin_divide-blue-200 {
    #x > * + * {
      border-color: #bfdbfe;
    }
  }

  @mixin_divide-blue-300 {
    #x > * + * {
      border-color: #93c5fd;
    }
  }

  @mixin_divide-blue-400 {
    #x > * + * {
      border-color: #60a5fa;
    }
  }

  @mixin_divide-blue-500 {
    #x > * + * {
      border-color: #3b82f6;
    }
  }

  @mixin_divide-blue-600 {
    #x > * + * {
      border-color: #2563eb;
    }
  }

  @mixin_divide-blue-700 {
    #x > * + * {
      border-color: #1d4ed8;
    }
  }

  @mixin_divide-blue-800 {
    #x > * + * {
      border-color: #1e40af;
    }
  }

  @mixin_divide-blue-900 {
    #x > * + * {
      border-color: #1e3a8a;
    }
  }

  @mixin_divide-blue-950 {
    #x > * + * {
      border-color: #172554;
    }
  }

  @mixin_divide-indigo-50 {
    #x > * + * {
      border-color: #eef2ff;
    }
  }

  @mixin_divide-indigo-100 {
    #x > * + * {
      border-color: #e0e7ff;
    }
  }

  @mixin_divide-indigo-200 {
    #x > * + * {
      border-color: #c7d2fe;
    }
  }

  @mixin_divide-indigo-300 {
    #x > * + * {
      border-color: #a5b4fc;
    }
  }

  @mixin_divide-indigo-400 {
    #x > * + * {
      border-color: #818cf8;
    }
  }

  @mixin_divide-indigo-500 {
    #x > * + * {
      border-color: #6366f1;
    }
  }

  @mixin_divide-indigo-600 {
    #x > * + * {
      border-color: #4f46e5;
    }
  }

  @mixin_divide-indigo-700 {
    #x > * + * {
      border-color: #4338ca;
    }
  }

  @mixin_divide-indigo-800 {
    #x > * + * {
      border-color: #3730a3;
    }
  }

  @mixin_divide-indigo-900 {
    #x > * + * {
      border-color: #312e7f;
    }
  }

  @mixin_divide-indigo-950 {
    #x > * + * {
      border-color: #1e1b4b;
    }
  }

  @mixin_divide-violet-50 {
    #x > * + * {
      border-color: #f5f3ff;
    }
  }

  @mixin_divide-violet-100 {
    #x > * + * {
      border-color: #ede9fe;
    }
  }

  @mixin_divide-violet-200 {
    #x > * + * {
      border-color: #ddd6fe;
    }
  }

  @mixin_divide-violet-300 {
    #x > * + * {
      border-color: #c4b5fd;
    }
  }

  @mixin_divide-violet-400 {
    #x > * + * {
      border-color: #a78bfa;
    }
  }

  @mixin_divide-violet-500 {
    #x > * + * {
      border-color: #8b5cf6;
    }
  }

  @mixin_divide-violet-600 {
    #x > * + * {
      border-color: #7c3aed;
    }
  }

  @mixin_divide-violet-700 {
    #x > * + * {
      border-color: #6d28d9;
    }
  }

  @mixin_divide-violet-800 {
    #x > * + * {
      border-color: #5b21b6;
    }
  }

  @mixin_divide-violet-900 {
    #x > * + * {
      border-color: #4c1d95;
    }
  }

  @mixin_divide-violet-950 {
    #x > * + * {
      border-color: #2e1065;
    }
  }

  @mixin_divide-purple-50 {
    #x > * + * {
      border-color: #faf5ff;
    }
  }

  @mixin_divide-purple-100 {
    #x > * + * {
      border-color: #f3e8ff;
    }
  }

  @mixin_divide-purple-200 {
    #x > * + * {
      border-color: #e9d5ff;
    }
  }

  @mixin_divide-purple-300 {
    #x > * + * {
      border-color: #d8b4fe;
    }
  }

  @mixin_divide-purple-400 {
    #x > * + * {
      border-color: #c084fc;
    }
  }

  @mixin_divide-purple-500 {
    #x > * + * {
      border-color: #a855f7;
    }
  }

  @mixin_divide-purple-600 {
    #x > * + * {
      border-color: #9333ea;
    }
  }

  @mixin_divide-purple-700 {
    #x > * + * {
      border-color: #7e22ce;
    }
  }

  @mixin_divide-purple-800 {
    #x > * + * {
      border-color: #6b21a8;
    }
  }

  @mixin_divide-purple-900 {
    #x > * + * {
      border-color: #581c87;
    }
  }

  @mixin_divide-purple-950 {
    #x > * + * {
      border-color: #3b0764;
    }
  }

  @mixin_divide-fuchsia-50 {
    #x > * + * {
      border-color: #fdf4ff;
    }
  }

  @mixin_divide-fuchsia-100 {
    #x > * + * {
      border-color: #fae8ff;
    }
  }

  @mixin_divide-fuchsia-200 {
    #x > * + * {
      border-color: #f5d0fe;
    }
  }

  @mixin_divide-fuchsia-300 {
    #x > * + * {
      border-color: #f0abfc;
    }
  }

  @mixin_divide-fuchsia-400 {
    #x > * + * {
      border-color: #e879f9;
    }
  }

  @mixin_divide-fuchsia-500 {
    #x > * + * {
      border-color: #d946ef;
    }
  }

  @mixin_divide-fuchsia-600 {
    #x > * + * {
      border-color: #c026d3;
    }
  }

  @mixin_divide-fuchsia-700 {
    #x > * + * {
      border-color: #a21caf;
    }
  }

  @mixin_divide-fuchsia-800 {
    #x > * + * {
      border-color: #86198f;
    }
  }

  @mixin_divide-fuchsia-900 {
    #x > * + * {
      border-color: #701a75;
    }
  }

  @mixin_divide-fuchsia-950 {
    #x > * + * {
      border-color: #4a044e;
    }
  }

  @mixin_divide-pink-50 {
    #x > * + * {
      border-color: #fdf2f8;
    }
  }

  @mixin_divide-pink-100 {
    #x > * + * {
      border-color: #fce7f3;
    }
  }

  @mixin_divide-pink-200 {
    #x > * + * {
      border-color: #fbcfe8;
    }
  }

  @mixin_divide-pink-300 {
    #x > * + * {
      border-color: #f9a8d4;
    }
  }

  @mixin_divide-pink-400 {
    #x > * + * {
      border-color: #f472b6;
    }
  }

  @mixin_divide-pink-500 {
    #x > * + * {
      border-color: #ec4899;
    }
  }

  @mixin_divide-pink-600 {
    #x > * + * {
      border-color: #db2777;
    }
  }

  @mixin_divide-pink-700 {
    #x > * + * {
      border-color: #be185d;
    }
  }

  @mixin_divide-pink-800 {
    #x > * + * {
      border-color: #9d174d;
    }
  }

  @mixin_divide-pink-900 {
    #x > * + * {
      border-color: #831843;
    }
  }

  @mixin_divide-pink-950 {
    #x > * + * {
      border-color: #500724;
    }
  }

  @mixin_divide-rose-50 {
    #x > * + * {
      border-color: #fff1f2;
    }
  }

  @mixin_divide-rose-100 {
    #x > * + * {
      border-color: #ffe4e6;
    }
  }

  @mixin_divide-rose-200 {
    #x > * + * {
      border-color: #fecdd3;
    }
  }

  @mixin_divide-rose-300 {
    #x > * + * {
      border-color: #fda4af;
    }
  }

  @mixin_divide-rose-400 {
    #x > * + * {
      border-color: #fb7185;
    }
  }

  @mixin_divide-rose-500 {
    #x > * + * {
      border-color: #f43f5e;
    }
  }

  @mixin_divide-rose-600 {
    #x > * + * {
      border-color: #e11d48;
    }
  }

  @mixin_divide-rose-700 {
    #x > * + * {
      border-color: #be123c;
    }
  }

  @mixin_divide-rose-800 {
    #x > * + * {
      border-color: #9f1239;
    }
  }

  @mixin_divide-rose-900 {
    #x > * + * {
      border-color: #881337;
    }
  }

  @mixin_divide-rose-950 {
    #x > * + * {
      border-color: #4c0519;
    }
  }
}

@if $Rwd {
  // reducing size for updating speed
  @if $isLite {
    @mixin_sm\:divide-color- (_value) {
      @media (min-width: $breakpoint-sm) {
        #x > * + * {
          border-color: _value;
        }
      }
    }

    @mixin_md\:divide-color- (_value) {
      @media (min-width: $breakpoint-md) {
        #x > * + * {
          border-color: _value;
        }
      }
    }

    @mixin_lg\:divide-color- (_value) {
      @media (min-width: $breakpoint-lg) {
        #x > * + * {
          border-color: _value;
        }
      }
    }

    @mixin_xl\:divide-color- (_value) {
      @media (min-width: $breakpoint-xl) {
        #x > * + * {
          border-color: _value;
        }
      }
    }

    @mixin_\\2xl\:divide-color- (_value) {
      @media (min-width: $breakpoint-2xl) {
        #x > * + * {
          border-color: _value;
        }
      }
    }
  }

  // tailwind default
  @else {
  }
}

/* Naming collision: divide -> divide-color */
@if $Custom {
  @mixin_divide-color- (_value) {
    #x > * + * {
      border-color: _value;
    }
  }

  /* Color Opacity */
  @mixin_divide-black\/ (_value) {
    #x > * + * {
      border-color: rgb(0 0 0 / "#<_value / 100>");
    }
  }

  @mixin_divide-white\/ (_value) {
    #x > * + * {
      border-color: rgb(255 255 255 / "#<_value / 100>");
    }
  }

  @mixin_divide-slate-50\/ (_value) {
    #x > * + * {
      border-color: rgb(248 250 252 / "#<_value / 100>");
    }
  }

  @mixin_divide-slate-100\/ (_value) {
    #x > * + * {
      border-color: rgb(241 245 249 / "#<_value / 100>");
    }
  }

  @mixin_divide-slate-200\/ (_value) {
    #x > * + * {
      border-color: rgb(226 232 240 / "#<_value / 100>");
    }
  }

  @mixin_divide-slate-300\/ (_value) {
    #x > * + * {
      border-color: rgb(203 213 225 / "#<_value / 100>");
    }
  }

  @mixin_divide-slate-400\/ (_value) {
    #x > * + * {
      border-color: rgb(148 163 184 / "#<_value / 100>");
    }
  }

  @mixin_divide-slate-500\/ (_value) {
    #x > * + * {
      border-color: rgb(100 116 139 / "#<_value / 100>");
    }
  }

  @mixin_divide-slate-600\/ (_value) {
    #x > * + * {
      border-color: rgb(71 85 105 / "#<_value / 100>");
    }
  }

  @mixin_divide-slate-700\/ (_value) {
    #x > * + * {
      border-color: rgb(51 65 85 / "#<_value / 100>");
    }
  }

  @mixin_divide-slate-800\/ (_value) {
    #x > * + * {
      border-color: rgb(30 41 59 / "#<_value / 100>");
    }
  }

  @mixin_divide-slate-900\/ (_value) {
    #x > * + * {
      border-color: rgb(15 23 42 / "#<_value / 100>");
    }
  }

  @mixin_divide-slate-950\/ (_value) {
    #x > * + * {
      border-color: rgb(2 6 23 / "#<_value / 100>");
    }
  }

  @mixin_divide-gray-50\/ (_value) {
    #x > * + * {
      border-color: rgb(249 250 251 / "#<_value / 100>");
    }
  }

  @mixin_divide-gray-100\/ (_value) {
    #x > * + * {
      border-color: rgb(243 244 246 / "#<_value / 100>");
    }
  }

  @mixin_divide-gray-200\/ (_value) {
    #x > * + * {
      border-color: rgb(229 231 235 / "#<_value / 100>");
    }
  }

  @mixin_divide-gray-300\/ (_value) {
    #x > * + * {
      border-color: rgb(209 213 219 / "#<_value / 100>");
    }
  }

  @mixin_divide-gray-400\/ (_value) {
    #x > * + * {
      border-color: rgb(156 163 175 / "#<_value / 100>");
    }
  }

  @mixin_divide-gray-500\/ (_value) {
    #x > * + * {
      border-color: rgb(107 114 128 / "#<_value / 100>");
    }
  }

  @mixin_divide-gray-600\/ (_value) {
    #x > * + * {
      border-color: rgb(75 85 99 / "#<_value / 100>");
    }
  }

  @mixin_divide-gray-700\/ (_value) {
    #x > * + * {
      border-color: rgb(55 65 81 / "#<_value / 100>");
    }
  }

  @mixin_divide-gray-800\/ (_value) {
    #x > * + * {
      border-color: rgb(31 41 55 / "#<_value / 100>");
    }
  }

  @mixin_divide-gray-900\/ (_value) {
    #x > * + * {
      border-color: rgb(17 24 39 / "#<_value / 100>");
    }
  }

  @mixin_divide-gray-950\/ (_value) {
    #x > * + * {
      border-color: rgb(3 7 18 / "#<_value / 100>");
    }
  }

  @mixin_divide-zinc-50\/ (_value) {
    #x > * + * {
      border-color: rgb(250 250 250 / "#<_value / 100>");
    }
  }

  @mixin_divide-zinc-100\/ (_value) {
    #x > * + * {
      border-color: rgb(244 244 245 / "#<_value / 100>");
    }
  }

  @mixin_divide-zinc-200\/ (_value) {
    #x > * + * {
      border-color: rgb(228 228 231 / "#<_value / 100>");
    }
  }

  @mixin_divide-zinc-300\/ (_value) {
    #x > * + * {
      border-color: rgb(212 212 216 / "#<_value / 100>");
    }
  }

  @mixin_divide-zinc-400\/ (_value) {
    #x > * + * {
      border-color: rgb(161 161 170 / "#<_value / 100>");
    }
  }

  @mixin_divide-zinc-500\/ (_value) {
    #x > * + * {
      border-color: rgb(113 113 122 / "#<_value / 100>");
    }
  }

  @mixin_divide-zinc-600\/ (_value) {
    #x > * + * {
      border-color: rgb(82 82 91 / "#<_value / 100>");
    }
  }

  @mixin_divide-zinc-700\/ (_value) {
    #x > * + * {
      border-color: rgb(63 63 70 / "#<_value / 100>");
    }
  }

  @mixin_divide-zinc-800\/ (_value) {
    #x > * + * {
      border-color: rgb(39 39 42 / "#<_value / 100>");
    }
  }

  @mixin_divide-zinc-900\/ (_value) {
    #x > * + * {
      border-color: rgb(24 24 27 / "#<_value / 100>");
    }
  }

  @mixin_divide-zinc-950\/ (_value) {
    #x > * + * {
      border-color: rgb(9 9 11 / "#<_value / 100>");
    }
  }

  @mixin_divide-neutral-50\/ (_value) {
    #x > * + * {
      border-color: rgb(250 250 250 / "#<_value / 100>");
    }
  }

  @mixin_divide-neutral-100\/ (_value) {
    #x > * + * {
      border-color: rgb(245 245 245 / "#<_value / 100>");
    }
  }

  @mixin_divide-neutral-200\/ (_value) {
    #x > * + * {
      border-color: rgb(229 229 229 / "#<_value / 100>");
    }
  }

  @mixin_divide-neutral-300\/ (_value) {
    #x > * + * {
      border-color: rgb(212 212 212 / "#<_value / 100>");
    }
  }

  @mixin_divide-neutral-400\/ (_value) {
    #x > * + * {
      border-color: rgb(163 163 163 / "#<_value / 100>");
    }
  }

  @mixin_divide-neutral-500\/ (_value) {
    #x > * + * {
      border-color: rgb(115 115 115 / "#<_value / 100>");
    }
  }

  @mixin_divide-neutral-600\/ (_value) {
    #x > * + * {
      border-color: rgb(82 82 82 / "#<_value / 100>");
    }
  }

  @mixin_divide-neutral-700\/ (_value) {
    #x > * + * {
      border-color: rgb(64 64 64 / "#<_value / 100>");
    }
  }

  @mixin_divide-neutral-800\/ (_value) {
    #x > * + * {
      border-color: rgb(38 38 38 / "#<_value / 100>");
    }
  }

  @mixin_divide-neutral-900\/ (_value) {
    #x > * + * {
      border-color: rgb(23 23 23 / "#<_value / 100>");
    }
  }

  @mixin_divide-neutral-950\/ (_value) {
    #x > * + * {
      border-color: rgb(10 10 10 / "#<_value / 100>");
    }
  }

  @mixin_divide-stone-50\/ (_value) {
    #x > * + * {
      border-color: rgb(250 250 249 / "#<_value / 100>");
    }
  }

  @mixin_divide-stone-100\/ (_value) {
    #x > * + * {
      border-color: rgb(245 245 244 / "#<_value / 100>");
    }
  }

  @mixin_divide-stone-200\/ (_value) {
    #x > * + * {
      border-color: rgb(231 229 228 / "#<_value / 100>");
    }
  }

  @mixin_divide-stone-300\/ (_value) {
    #x > * + * {
      border-color: rgb(214 211 209 / "#<_value / 100>");
    }
  }

  @mixin_divide-stone-400\/ (_value) {
    #x > * + * {
      border-color: rgb(168 162 158 / "#<_value / 100>");
    }
  }

  @mixin_divide-stone-500\/ (_value) {
    #x > * + * {
      border-color: rgb(120 113 108 / "#<_value / 100>");
    }
  }

  @mixin_divide-stone-600\/ (_value) {
    #x > * + * {
      border-color: rgb(87 83 78 / "#<_value / 100>");
    }
  }

  @mixin_divide-stone-700\/ (_value) {
    #x > * + * {
      border-color: rgb(68 64 60 / "#<_value / 100>");
    }
  }

  @mixin_divide-stone-800\/ (_value) {
    #x > * + * {
      border-color: rgb(41 37 36 / "#<_value / 100>");
    }
  }

  @mixin_divide-stone-900\/ (_value) {
    #x > * + * {
      border-color: rgb(28 25 23 / "#<_value / 100>");
    }
  }

  @mixin_divide-stone-950\/ (_value) {
    #x > * + * {
      border-color: rgb(12 10 9 / "#<_value / 100>");
    }
  }

  @mixin_divide-red-50\/ (_value) {
    #x > * + * {
      border-color: rgb(254 242 242 / "#<_value / 100>");
    }
  }

  @mixin_divide-red-100\/ (_value) {
    #x > * + * {
      border-color: rgb(254 226 226 / "#<_value / 100>");
    }
  }

  @mixin_divide-red-200\/ (_value) {
    #x > * + * {
      border-color: rgb(254 202 202 / "#<_value / 100>");
    }
  }

  @mixin_divide-red-300\/ (_value) {
    #x > * + * {
      border-color: rgb(252 165 165 / "#<_value / 100>");
    }
  }

  @mixin_divide-red-400\/ (_value) {
    #x > * + * {
      border-color: rgb(248 113 113 / "#<_value / 100>");
    }
  }

  @mixin_divide-red-500\/ (_value) {
    #x > * + * {
      border-color: rgb(239 68 68 / "#<_value / 100>");
    }
  }

  @mixin_divide-red-600\/ (_value) {
    #x > * + * {
      border-color: rgb(220 38 38 / "#<_value / 100>");
    }
  }

  @mixin_divide-red-700\/ (_value) {
    #x > * + * {
      border-color: rgb(185 28 28 / "#<_value / 100>");
    }
  }

  @mixin_divide-red-800\/ (_value) {
    #x > * + * {
      border-color: rgb(153 27 27 / "#<_value / 100>");
    }
  }

  @mixin_divide-red-900\/ (_value) {
    #x > * + * {
      border-color: rgb(127 29 29 / "#<_value / 100>");
    }
  }

  @mixin_divide-red-950\/ (_value) {
    #x > * + * {
      border-color: rgb(69 10 10 / "#<_value / 100>");
    }
  }

  @mixin_divide-orange-50\/ (_value) {
    #x > * + * {
      border-color: rgb(255 247 237 / "#<_value / 100>");
    }
  }

  @mixin_divide-orange-100\/ (_value) {
    #x > * + * {
      border-color: rgb(255 237 213 / "#<_value / 100>");
    }
  }

  @mixin_divide-orange-200\/ (_value) {
    #x > * + * {
      border-color: rgb(254 215 170 / "#<_value / 100>");
    }
  }

  @mixin_divide-orange-300\/ (_value) {
    #x > * + * {
      border-color: rgb(253 186 116 / "#<_value / 100>");
    }
  }

  @mixin_divide-orange-400\/ (_value) {
    #x > * + * {
      border-color: rgb(251 146 60 / "#<_value / 100>");
    }
  }

  @mixin_divide-orange-500\/ (_value) {
    #x > * + * {
      border-color: rgb(249 115 22 / "#<_value / 100>");
    }
  }

  @mixin_divide-orange-600\/ (_value) {
    #x > * + * {
      border-color: rgb(234 88 12 / "#<_value / 100>");
    }
  }

  @mixin_divide-orange-700\/ (_value) {
    #x > * + * {
      border-color: rgb(194 65 12 / "#<_value / 100>");
    }
  }

  @mixin_divide-orange-800\/ (_value) {
    #x > * + * {
      border-color: rgb(154 52 18 / "#<_value / 100>");
    }
  }

  @mixin_divide-orange-900\/ (_value) {
    #x > * + * {
      border-color: rgb(124 45 18 / "#<_value / 100>");
    }
  }

  @mixin_divide-orange-950\/ (_value) {
    #x > * + * {
      border-color: rgb(67 20 7 / "#<_value / 100>");
    }
  }

  @mixin_divide-amber-50\/ (_value) {
    #x > * + * {
      border-color: rgb(255 251 235 / "#<_value / 100>");
    }
  }

  @mixin_divide-amber-100\/ (_value) {
    #x > * + * {
      border-color: rgb(254 243 199 / "#<_value / 100>");
    }
  }

  @mixin_divide-amber-200\/ (_value) {
    #x > * + * {
      border-color: rgb(253 230 138 / "#<_value / 100>");
    }
  }

  @mixin_divide-amber-300\/ (_value) {
    #x > * + * {
      border-color: rgb(252 211 77 / "#<_value / 100>");
    }
  }

  @mixin_divide-amber-400\/ (_value) {
    #x > * + * {
      border-color: rgb(251 191 36 / "#<_value / 100>");
    }
  }

  @mixin_divide-amber-500\/ (_value) {
    #x > * + * {
      border-color: rgb(245 158 11 / "#<_value / 100>");
    }
  }

  @mixin_divide-amber-600\/ (_value) {
    #x > * + * {
      border-color: rgb(217 119 6 / "#<_value / 100>");
    }
  }

  @mixin_divide-amber-700\/ (_value) {
    #x > * + * {
      border-color: rgb(180 83 9 / "#<_value / 100>");
    }
  }

  @mixin_divide-amber-800\/ (_value) {
    #x > * + * {
      border-color: rgb(146 64 14 / "#<_value / 100>");
    }
  }

  @mixin_divide-amber-900\/ (_value) {
    #x > * + * {
      border-color: rgb(120 53 15 / "#<_value / 100>");
    }
  }

  @mixin_divide-amber-950\/ (_value) {
    #x > * + * {
      border-color: rgb(69 26 3 / "#<_value / 100>");
    }
  }

  @mixin_divide-yellow-50\/ (_value) {
    #x > * + * {
      border-color: rgb(254 252 232 / "#<_value / 100>");
    }
  }

  @mixin_divide-yellow-100\/ (_value) {
    #x > * + * {
      border-color: rgb(254 249 195 / "#<_value / 100>");
    }
  }

  @mixin_divide-yellow-200\/ (_value) {
    #x > * + * {
      border-color: rgb(254 240 138 / "#<_value / 100>");
    }
  }

  @mixin_divide-yellow-300\/ (_value) {
    #x > * + * {
      border-color: rgb(253 224 71 / "#<_value / 100>");
    }
  }

  @mixin_divide-yellow-400\/ (_value) {
    #x > * + * {
      border-color: rgb(250 204 21 / "#<_value / 100>");
    }
  }

  @mixin_divide-yellow-500\/ (_value) {
    #x > * + * {
      border-color: rgb(234 179 8 / "#<_value / 100>");
    }
  }

  @mixin_divide-yellow-600\/ (_value) {
    #x > * + * {
      border-color: rgb(202 138 4 / "#<_value / 100>");
    }
  }

  @mixin_divide-yellow-700\/ (_value) {
    #x > * + * {
      border-color: rgb(161 98 7 / "#<_value / 100>");
    }
  }

  @mixin_divide-yellow-800\/ (_value) {
    #x > * + * {
      border-color: rgb(133 77 14 / "#<_value / 100>");
    }
  }

  @mixin_divide-yellow-900\/ (_value) {
    #x > * + * {
      border-color: rgb(113 63 18 / "#<_value / 100>");
    }
  }

  @mixin_divide-yellow-950\/ (_value) {
    #x > * + * {
      border-color: rgb(66 32 6 / "#<_value / 100>");
    }
  }

  @mixin_divide-lime-50\/ (_value) {
    #x > * + * {
      border-color: rgb(247 254 231 / "#<_value / 100>");
    }
  }

  @mixin_divide-lime-100\/ (_value) {
    #x > * + * {
      border-color: rgb(236 252 203 / "#<_value / 100>");
    }
  }

  @mixin_divide-lime-200\/ (_value) {
    #x > * + * {
      border-color: rgb(217 249 157 / "#<_value / 100>");
    }
  }

  @mixin_divide-lime-300\/ (_value) {
    #x > * + * {
      border-color: rgb(190 242 100 / "#<_value / 100>");
    }
  }

  @mixin_divide-lime-400\/ (_value) {
    #x > * + * {
      border-color: rgb(163 230 53 / "#<_value / 100>");
    }
  }

  @mixin_divide-lime-500\/ (_value) {
    #x > * + * {
      border-color: rgb(132 204 22 / "#<_value / 100>");
    }
  }

  @mixin_divide-lime-600\/ (_value) {
    #x > * + * {
      border-color: rgb(101 163 13 / "#<_value / 100>");
    }
  }

  @mixin_divide-lime-700\/ (_value) {
    #x > * + * {
      border-color: rgb(77 124 15 / "#<_value / 100>");
    }
  }

  @mixin_divide-lime-800\/ (_value) {
    #x > * + * {
      border-color: rgb(63 98 18 / "#<_value / 100>");
    }
  }

  @mixin_divide-lime-900\/ (_value) {
    #x > * + * {
      border-color: rgb(54 83 20 / "#<_value / 100>");
    }
  }

  @mixin_divide-lime-950\/ (_value) {
    #x > * + * {
      border-color: rgb(26 46 5 / "#<_value / 100>");
    }
  }

  @mixin_divide-green-50\/ (_value) {
    #x > * + * {
      border-color: rgb(240 253 244 / "#<_value / 100>");
    }
  }

  @mixin_divide-green-100\/ (_value) {
    #x > * + * {
      border-color: rgb(220 252 231 / "#<_value / 100>");
    }
  }

  @mixin_divide-green-200\/ (_value) {
    #x > * + * {
      border-color: rgb(187 247 208 / "#<_value / 100>");
    }
  }

  @mixin_divide-green-300\/ (_value) {
    #x > * + * {
      border-color: rgb(134 239 172 / "#<_value / 100>");
    }
  }

  @mixin_divide-green-400\/ (_value) {
    #x > * + * {
      border-color: rgb(74 222 128 / "#<_value / 100>");
    }
  }

  @mixin_divide-green-500\/ (_value) {
    #x > * + * {
      border-color: rgb(34 197 94 / "#<_value / 100>");
    }
  }

  @mixin_divide-green-600\/ (_value) {
    #x > * + * {
      border-color: rgb(22 163 74 / "#<_value / 100>");
    }
  }

  @mixin_divide-green-700\/ (_value) {
    #x > * + * {
      border-color: rgb(21 128 61 / "#<_value / 100>");
    }
  }

  @mixin_divide-green-800\/ (_value) {
    #x > * + * {
      border-color: rgb(22 101 52 / "#<_value / 100>");
    }
  }

  @mixin_divide-green-900\/ (_value) {
    #x > * + * {
      border-color: rgb(20 83 45 / "#<_value / 100>");
    }
  }

  @mixin_divide-green-950\/ (_value) {
    #x > * + * {
      border-color: rgb(5 46 22 / "#<_value / 100>");
    }
  }

  @mixin_divide-emerald-50\/ (_value) {
    #x > * + * {
      border-color: rgb(236 253 245 / "#<_value / 100>");
    }
  }

  @mixin_divide-emerald-100\/ (_value) {
    #x > * + * {
      border-color: rgb(209 250 229 / "#<_value / 100>");
    }
  }

  @mixin_divide-emerald-200\/ (_value) {
    #x > * + * {
      border-color: rgb(167 243 208 / "#<_value / 100>");
    }
  }

  @mixin_divide-emerald-300\/ (_value) {
    #x > * + * {
      border-color: rgb(110 231 183 / "#<_value / 100>");
    }
  }

  @mixin_divide-emerald-400\/ (_value) {
    #x > * + * {
      border-color: rgb(52 211 153 / "#<_value / 100>");
    }
  }

  @mixin_divide-emerald-500\/ (_value) {
    #x > * + * {
      border-color: rgb(16 185 129 / "#<_value / 100>");
    }
  }

  @mixin_divide-emerald-600\/ (_value) {
    #x > * + * {
      border-color: rgb(5 150 105 / "#<_value / 100>");
    }
  }

  @mixin_divide-emerald-700\/ (_value) {
    #x > * + * {
      border-color: rgb(4 120 87 / "#<_value / 100>");
    }
  }

  @mixin_divide-emerald-800\/ (_value) {
    #x > * + * {
      border-color: rgb(6 95 70 / "#<_value / 100>");
    }
  }

  @mixin_divide-emerald-900\/ (_value) {
    #x > * + * {
      border-color: rgb(6 78 59 / "#<_value / 100>");
    }
  }

  @mixin_divide-emerald-950\/ (_value) {
    #x > * + * {
      border-color: rgb(2 44 34 / "#<_value / 100>");
    }
  }

  @mixin_divide-teal-50\/ (_value) {
    #x > * + * {
      border-color: rgb(240 253 250 / "#<_value / 100>");
    }
  }

  @mixin_divide-teal-100\/ (_value) {
    #x > * + * {
      border-color: rgb(204 251 241 / "#<_value / 100>");
    }
  }

  @mixin_divide-teal-200\/ (_value) {
    #x > * + * {
      border-color: rgb(153 246 228 / "#<_value / 100>");
    }
  }

  @mixin_divide-teal-300\/ (_value) {
    #x > * + * {
      border-color: rgb(94 234 212 / "#<_value / 100>");
    }
  }

  @mixin_divide-teal-400\/ (_value) {
    #x > * + * {
      border-color: rgb(45 212 191 / "#<_value / 100>");
    }
  }

  @mixin_divide-teal-500\/ (_value) {
    #x > * + * {
      border-color: rgb(20 184 166 / "#<_value / 100>");
    }
  }

  @mixin_divide-teal-600\/ (_value) {
    #x > * + * {
      border-color: rgb(13 148 136 / "#<_value / 100>");
    }
  }

  @mixin_divide-teal-700\/ (_value) {
    #x > * + * {
      border-color: rgb(15 118 110 / "#<_value / 100>");
    }
  }

  @mixin_divide-teal-800\/ (_value) {
    #x > * + * {
      border-color: rgb(17 94 89 / "#<_value / 100>");
    }
  }

  @mixin_divide-teal-900\/ (_value) {
    #x > * + * {
      border-color: rgb(19 78 74 / "#<_value / 100>");
    }
  }

  @mixin_divide-teal-950\/ (_value) {
    #x > * + * {
      border-color: rgb(4 47 46 / "#<_value / 100>");
    }
  }

  @mixin_divide-cyan-50\/ (_value) {
    #x > * + * {
      border-color: rgb(236 254 255 / "#<_value / 100>");
    }
  }

  @mixin_divide-cyan-100\/ (_value) {
    #x > * + * {
      border-color: rgb(207 250 254 / "#<_value / 100>");
    }
  }

  @mixin_divide-cyan-200\/ (_value) {
    #x > * + * {
      border-color: rgb(165 243 252 / "#<_value / 100>");
    }
  }

  @mixin_divide-cyan-300\/ (_value) {
    #x > * + * {
      border-color: rgb(103 232 249 / "#<_value / 100>");
    }
  }

  @mixin_divide-cyan-400\/ (_value) {
    #x > * + * {
      border-color: rgb(34 211 238 / "#<_value / 100>");
    }
  }

  @mixin_divide-cyan-500\/ (_value) {
    #x > * + * {
      border-color: rgb(6 182 212 / "#<_value / 100>");
    }
  }

  @mixin_divide-cyan-600\/ (_value) {
    #x > * + * {
      border-color: rgb(8 145 178 / "#<_value / 100>");
    }
  }

  @mixin_divide-cyan-700\/ (_value) {
    #x > * + * {
      border-color: rgb(14 116 144 / "#<_value / 100>");
    }
  }

  @mixin_divide-cyan-800\/ (_value) {
    #x > * + * {
      border-color: rgb(21 94 117 / "#<_value / 100>");
    }
  }

  @mixin_divide-cyan-900\/ (_value) {
    #x > * + * {
      border-color: rgb(22 78 99 / "#<_value / 100>");
    }
  }

  @mixin_divide-cyan-950\/ (_value) {
    #x > * + * {
      border-color: rgb(8 51 68 / "#<_value / 100>");
    }
  }

  @mixin_divide-sky-50\/ (_value) {
    #x > * + * {
      border-color: rgb(240 249 255 / "#<_value / 100>");
    }
  }

  @mixin_divide-sky-100\/ (_value) {
    #x > * + * {
      border-color: rgb(224 242 254 / "#<_value / 100>");
    }
  }

  @mixin_divide-sky-200\/ (_value) {
    #x > * + * {
      border-color: rgb(186 230 253 / "#<_value / 100>");
    }
  }

  @mixin_divide-sky-300\/ (_value) {
    #x > * + * {
      border-color: rgb(125 211 252 / "#<_value / 100>");
    }
  }

  @mixin_divide-sky-400\/ (_value) {
    #x > * + * {
      border-color: rgb(56 189 248 / "#<_value / 100>");
    }
  }

  @mixin_divide-sky-500\/ (_value) {
    #x > * + * {
      border-color: rgb(14 165 233 / "#<_value / 100>");
    }
  }

  @mixin_divide-sky-600\/ (_value) {
    #x > * + * {
      border-color: rgb(2 132 199 / "#<_value / 100>");
    }
  }

  @mixin_divide-sky-700\/ (_value) {
    #x > * + * {
      border-color: rgb(3 105 161 / "#<_value / 100>");
    }
  }

  @mixin_divide-sky-800\/ (_value) {
    #x > * + * {
      border-color: rgb(7 89 133 / "#<_value / 100>");
    }
  }

  @mixin_divide-sky-900\/ (_value) {
    #x > * + * {
      border-color: rgb(12 74 110 / "#<_value / 100>");
    }
  }

  @mixin_divide-sky-950\/ (_value) {
    #x > * + * {
      border-color: rgb(8 47 73 / "#<_value / 100>");
    }
  }

  @mixin_divide-blue-50\/ (_value) {
    #x > * + * {
      border-color: rgb(239 246 255 / "#<_value / 100>");
    }
  }

  @mixin_divide-blue-100\/ (_value) {
    #x > * + * {
      border-color: rgb(219 234 254 / "#<_value / 100>");
    }
  }

  @mixin_divide-blue-200\/ (_value) {
    #x > * + * {
      border-color: rgb(191 219 254 / "#<_value / 100>");
    }
  }

  @mixin_divide-blue-300\/ (_value) {
    #x > * + * {
      border-color: rgb(147 197 253 / "#<_value / 100>");
    }
  }

  @mixin_divide-blue-400\/ (_value) {
    #x > * + * {
      border-color: rgb(96 165 250 / "#<_value / 100>");
    }
  }

  @mixin_divide-blue-500\/ (_value) {
    #x > * + * {
      border-color: rgb(59 130 246 / "#<_value / 100>");
    }
  }

  @mixin_divide-blue-600\/ (_value) {
    #x > * + * {
      border-color: rgb(37 99 235 / "#<_value / 100>");
    }
  }

  @mixin_divide-blue-700\/ (_value) {
    #x > * + * {
      border-color: rgb(29 78 216 / "#<_value / 100>");
    }
  }

  @mixin_divide-blue-800\/ (_value) {
    #x > * + * {
      border-color: rgb(30 64 175 / "#<_value / 100>");
    }
  }

  @mixin_divide-blue-900\/ (_value) {
    #x > * + * {
      border-color: rgb(30 58 138 / "#<_value / 100>");
    }
  }

  @mixin_divide-blue-950\/ (_value) {
    #x > * + * {
      border-color: rgb(23 37 84 / "#<_value / 100>");
    }
  }

  @mixin_divide-indigo-50\/ (_value) {
    #x > * + * {
      border-color: rgb(238 242 255 / "#<_value / 100>");
    }
  }

  @mixin_divide-indigo-100\/ (_value) {
    #x > * + * {
      border-color: rgb(224 231 255 / "#<_value / 100>");
    }
  }

  @mixin_divide-indigo-200\/ (_value) {
    #x > * + * {
      border-color: rgb(199 210 254 / "#<_value / 100>");
    }
  }

  @mixin_divide-indigo-300\/ (_value) {
    #x > * + * {
      border-color: rgb(165 180 252 / "#<_value / 100>");
    }
  }

  @mixin_divide-indigo-400\/ (_value) {
    #x > * + * {
      border-color: rgb(129 140 248 / "#<_value / 100>");
    }
  }

  @mixin_divide-indigo-500\/ (_value) {
    #x > * + * {
      border-color: rgb(99 102 241 / "#<_value / 100>");
    }
  }

  @mixin_divide-indigo-600\/ (_value) {
    #x > * + * {
      border-color: rgb(79 70 229 / "#<_value / 100>");
    }
  }

  @mixin_divide-indigo-700\/ (_value) {
    #x > * + * {
      border-color: rgb(67 56 202 / "#<_value / 100>");
    }
  }

  @mixin_divide-indigo-800\/ (_value) {
    #x > * + * {
      border-color: rgb(55 48 163 / "#<_value / 100>");
    }
  }

  @mixin_divide-indigo-900\/ (_value) {
    #x > * + * {
      border-color: rgb(49 46 129 / "#<_value / 100>");
    }
  }

  @mixin_divide-indigo-950\/ (_value) {
    #x > * + * {
      border-color: rgb(30 27 75 / "#<_value / 100>");
    }
  }

  @mixin_divide-violet-50\/ (_value) {
    #x > * + * {
      border-color: rgb(245 243 255 / "#<_value / 100>");
    }
  }

  @mixin_divide-violet-100\/ (_value) {
    #x > * + * {
      border-color: rgb(237 233 254 / "#<_value / 100>");
    }
  }

  @mixin_divide-violet-200\/ (_value) {
    #x > * + * {
      border-color: rgb(221 214 254 / "#<_value / 100>");
    }
  }

  @mixin_divide-violet-300\/ (_value) {
    #x > * + * {
      border-color: rgb(196 181 253 / "#<_value / 100>");
    }
  }

  @mixin_divide-violet-400\/ (_value) {
    #x > * + * {
      border-color: rgb(167 139 250 / "#<_value / 100>");
    }
  }

  @mixin_divide-violet-500\/ (_value) {
    #x > * + * {
      border-color: rgb(139 92 246 / "#<_value / 100>");
    }
  }

  @mixin_divide-violet-600\/ (_value) {
    #x > * + * {
      border-color: rgb(124 58 237 / "#<_value / 100>");
    }
  }

  @mixin_divide-violet-700\/ (_value) {
    #x > * + * {
      border-color: rgb(109 40 217 / "#<_value / 100>");
    }
  }

  @mixin_divide-violet-800\/ (_value) {
    #x > * + * {
      border-color: rgb(91 33 182 / "#<_value / 100>");
    }
  }

  @mixin_divide-violet-900\/ (_value) {
    #x > * + * {
      border-color: rgb(76 29 149 / "#<_value / 100>");
    }
  }

  @mixin_divide-violet-950\/ (_value) {
    #x > * + * {
      border-color: rgb(46 16 101 / "#<_value / 100>");
    }
  }

  @mixin_divide-purple-50\/ (_value) {
    #x > * + * {
      border-color: rgb(250 245 255 / "#<_value / 100>");
    }
  }

  @mixin_divide-purple-100\/ (_value) {
    #x > * + * {
      border-color: rgb(243 232 255 / "#<_value / 100>");
    }
  }

  @mixin_divide-purple-200\/ (_value) {
    #x > * + * {
      border-color: rgb(233 213 255 / "#<_value / 100>");
    }
  }

  @mixin_divide-purple-300\/ (_value) {
    #x > * + * {
      border-color: rgb(216 180 254 / "#<_value / 100>");
    }
  }

  @mixin_divide-purple-400\/ (_value) {
    #x > * + * {
      border-color: rgb(192 132 252 / "#<_value / 100>");
    }
  }

  @mixin_divide-purple-500\/ (_value) {
    #x > * + * {
      border-color: rgb(168 85 247 / "#<_value / 100>");
    }
  }

  @mixin_divide-purple-600\/ (_value) {
    #x > * + * {
      border-color: rgb(147 51 234 / "#<_value / 100>");
    }
  }

  @mixin_divide-purple-700\/ (_value) {
    #x > * + * {
      border-color: rgb(126 34 206 / "#<_value / 100>");
    }
  }

  @mixin_divide-purple-800\/ (_value) {
    #x > * + * {
      border-color: rgb(107 33 168 / "#<_value / 100>");
    }
  }

  @mixin_divide-purple-900\/ (_value) {
    #x > * + * {
      border-color: rgb(88 28 135 / "#<_value / 100>");
    }
  }

  @mixin_divide-purple-950\/ (_value) {
    #x > * + * {
      border-color: rgb(59 7 100 / "#<_value / 100>");
    }
  }

  @mixin_divide-fuchsia-50\/ (_value) {
    #x > * + * {
      border-color: rgb(253 244 255 / "#<_value / 100>");
    }
  }

  @mixin_divide-fuchsia-100\/ (_value) {
    #x > * + * {
      border-color: rgb(250 232 255 / "#<_value / 100>");
    }
  }

  @mixin_divide-fuchsia-200\/ (_value) {
    #x > * + * {
      border-color: rgb(245 208 254 / "#<_value / 100>");
    }
  }

  @mixin_divide-fuchsia-300\/ (_value) {
    #x > * + * {
      border-color: rgb(240 171 252 / "#<_value / 100>");
    }
  }

  @mixin_divide-fuchsia-400\/ (_value) {
    #x > * + * {
      border-color: rgb(232 121 249 / "#<_value / 100>");
    }
  }

  @mixin_divide-fuchsia-500\/ (_value) {
    #x > * + * {
      border-color: rgb(217 70 239 / "#<_value / 100>");
    }
  }

  @mixin_divide-fuchsia-600\/ (_value) {
    #x > * + * {
      border-color: rgb(192 38 211 / "#<_value / 100>");
    }
  }

  @mixin_divide-fuchsia-700\/ (_value) {
    #x > * + * {
      border-color: rgb(162 28 175 / "#<_value / 100>");
    }
  }

  @mixin_divide-fuchsia-800\/ (_value) {
    #x > * + * {
      border-color: rgb(134 25 143 / "#<_value / 100>");
    }
  }

  @mixin_divide-fuchsia-900\/ (_value) {
    #x > * + * {
      border-color: rgb(112 26 117 / "#<_value / 100>");
    }
  }

  @mixin_divide-fuchsia-950\/ (_value) {
    #x > * + * {
      border-color: rgb(74 4 78 / "#<_value / 100>");
    }
  }

  @mixin_divide-pink-50\/ (_value) {
    #x > * + * {
      border-color: rgb(253 242 248 / "#<_value / 100>");
    }
  }

  @mixin_divide-pink-100\/ (_value) {
    #x > * + * {
      border-color: rgb(252 231 243 / "#<_value / 100>");
    }
  }

  @mixin_divide-pink-200\/ (_value) {
    #x > * + * {
      border-color: rgb(251 207 232 / "#<_value / 100>");
    }
  }

  @mixin_divide-pink-300\/ (_value) {
    #x > * + * {
      border-color: rgb(249 168 212 / "#<_value / 100>");
    }
  }

  @mixin_divide-pink-400\/ (_value) {
    #x > * + * {
      border-color: rgb(244 114 182 / "#<_value / 100>");
    }
  }

  @mixin_divide-pink-500\/ (_value) {
    #x > * + * {
      border-color: rgb(236 72 153 / "#<_value / 100>");
    }
  }

  @mixin_divide-pink-600\/ (_value) {
    #x > * + * {
      border-color: rgb(219 39 119 / "#<_value / 100>");
    }
  }

  @mixin_divide-pink-700\/ (_value) {
    #x > * + * {
      border-color: rgb(190 24 93 / "#<_value / 100>");
    }
  }

  @mixin_divide-pink-800\/ (_value) {
    #x > * + * {
      border-color: rgb(157 23 77 / "#<_value / 100>");
    }
  }

  @mixin_divide-pink-900\/ (_value) {
    #x > * + * {
      border-color: rgb(131 24 67 / "#<_value / 100>");
    }
  }

  @mixin_divide-pink-950\/ (_value) {
    #x > * + * {
      border-color: rgb(80 7 36 / "#<_value / 100>");
    }
  }

  @mixin_divide-rose-50\/ (_value) {
    #x > * + * {
      border-color: rgb(255 241 242 / "#<_value / 100>");
    }
  }

  @mixin_divide-rose-100\/ (_value) {
    #x > * + * {
      border-color: rgb(255 228 230 / "#<_value / 100>");
    }
  }

  @mixin_divide-rose-200\/ (_value) {
    #x > * + * {
      border-color: rgb(254 205 211 / "#<_value / 100>");
    }
  }

  @mixin_divide-rose-300\/ (_value) {
    #x > * + * {
      border-color: rgb(253 164 175 / "#<_value / 100>");
    }
  }

  @mixin_divide-rose-400\/ (_value) {
    #x > * + * {
      border-color: rgb(251 113 133 / "#<_value / 100>");
    }
  }

  @mixin_divide-rose-500\/ (_value) {
    #x > * + * {
      border-color: rgb(244 63 94 / "#<_value / 100>");
    }
  }

  @mixin_divide-rose-600\/ (_value) {
    #x > * + * {
      border-color: rgb(225 29 72 / "#<_value / 100>");
    }
  }

  @mixin_divide-rose-700\/ (_value) {
    #x > * + * {
      border-color: rgb(190 18 60 / "#<_value / 100>");
    }
  }

  @mixin_divide-rose-800\/ (_value) {
    #x > * + * {
      border-color: rgb(159 18 57 / "#<_value / 100>");
    }
  }

  @mixin_divide-rose-900\/ (_value) {
    #x > * + * {
      border-color: rgb(136 19 55 / "#<_value / 100>");
    }
  }

  @mixin_divide-rose-950\/ (_value) {
    #x > * + * {
      border-color: rgb(76 5 25 / "#<_value / 100>");
    }
  }
}
