@use "../../setting" as *;

@if $Basic {
  // /*x
  @mixin font-thin {
    font-weight: 100;
  }

  @mixin font-extralight {
    font-weight: 200;
  }

  @mixin font-light {
    font-weight: 300;
  }

  @mixin font-normal {
    font-weight: 400;
  }

  @mixin font-medium {
    font-weight: 500;
  }

  @mixin font-semibold {
    font-weight: 600;
  }

  @mixin font-bold {
    font-weight: 700;
  }

  @mixin font-extrabold {
    font-weight: 800;
  }

  @mixin font-black {
    font-weight: 900;
  }

  // x*/
}

@if $Rwd and ($sizeMode == 0 or $sizeMode == 1) {
  // /*x
  @mixin sm\:font-thin {
    @include sm\:font-(100);
  }

  @mixin sm\:font-extralight {
    @include sm\:font-(200);
  }

  @mixin sm\:font-light {
    @include sm\:font-(300);
  }

  @mixin sm\:font-normal {
    @include sm\:font-(400);
  }

  @mixin sm\:font-medium {
    @include sm\:font-(500);
  }

  @mixin sm\:font-semibold {
    @include sm\:font-(600);
  }

  @mixin sm\:font-bold {
    @include sm\:font-(700);
  }

  @mixin sm\:font-extrabold {
    @include sm\:font-(800);
  }

  @mixin sm\:font-black {
    @include sm\:font-(900);
  }

  @mixin md\:font-thin {
    @include md\:font-(100);
  }

  @mixin md\:font-extralight {
    @include md\:font-(200);
  }

  @mixin md\:font-light {
    @include md\:font-(300);
  }

  @mixin md\:font-normal {
    @include md\:font-(400);
  }

  @mixin md\:font-medium {
    @include md\:font-(500);
  }

  @mixin md\:font-semibold {
    @include md\:font-(600);
  }

  @mixin md\:font-bold {
    @include md\:font-(700);
  }

  @mixin md\:font-extrabold {
    @include md\:font-(800);
  }

  @mixin md\:font-black {
    @include md\:font-(900);
  }

  @mixin lg\:font-thin {
    @include lg\:font-(100);
  }

  @mixin lg\:font-extralight {
    @include lg\:font-(200);
  }

  @mixin lg\:font-light {
    @include lg\:font-(300);
  }

  @mixin lg\:font-normal {
    @include lg\:font-(400);
  }

  @mixin lg\:font-medium {
    @include lg\:font-(500);
  }

  @mixin lg\:font-semibold {
    @include lg\:font-(600);
  }

  @mixin lg\:font-bold {
    @include lg\:font-(700);
  }

  @mixin lg\:font-extrabold {
    @include lg\:font-(800);
  }

  @mixin lg\:font-black {
    @include lg\:font-(900);
  }

  @mixin xl\:font-thin {
    @include xl\:font-(100);
  }

  @mixin xl\:font-extralight {
    @include xl\:font-(200);
  }

  @mixin xl\:font-light {
    @include xl\:font-(300);
  }

  @mixin xl\:font-normal {
    @include xl\:font-(400);
  }

  @mixin xl\:font-medium {
    @include xl\:font-(500);
  }

  @mixin xl\:font-semibold {
    @include xl\:font-(600);
  }

  @mixin xl\:font-bold {
    @include xl\:font-(700);
  }

  @mixin xl\:font-extrabold {
    @include xl\:font-(800);
  }

  @mixin xl\:font-black {
    @include xl\:font-(900);
  }

  @mixin \2xl\:font-thin {
    @include \2xl\:font-(100);
  }

  @mixin \2xl\:font-extralight {
    @include \2xl\:font-(200);
  }

  @mixin \2xl\:font-light {
    @include \2xl\:font-(300);
  }

  @mixin \2xl\:font-normal {
    @include \2xl\:font-(400);
  }

  @mixin \2xl\:font-medium {
    @include \2xl\:font-(500);
  }

  @mixin \2xl\:font-semibold {
    @include \2xl\:font-(600);
  }

  @mixin \2xl\:font-bold {
    @include \2xl\:font-(700);
  }

  @mixin \2xl\:font-extrabold {
    @include \2xl\:font-(800);
  }

  @mixin \2xl\:font-black {
    @include \2xl\:font-(900);
  }

  // x*/
}

@if $Custom {
  // /*x
  @mixin get_font-($v) {
    @if meta.type-of($v) ==number {
      @include font-weight($v);
    } @else {
      @include font-family($v);
    }
  }

  @mixin font-($v) {
    @include get_font-($v);
  }

  @mixin sm\:font-($v) {
    @include sm {
      @include get_font-($v);
    }
  }

  @mixin md\:font-($v) {
    @include md {
      @include get_font-($v);
    }
  }

  @mixin lg\:font-($v) {
    @include lg {
      @include get_font-($v);
    }
  }

  @mixin xl\:font-($v) {
    @include xl {
      @include get_font-($v);
    }
  }

  @mixin \2xl\:font-($v) {
    @include \2xl {
      @include get_font-($v);
    }
  }

  // x*/
}
