@use "../../setting" as *;


$FontWeight: (
  "font-thin": 100,
  "font-extralight": 200,
  "font-light": 300,
  "font-normal": 400,
  "font-medium": 500,
  "font-semibold": 600,
  "font-bold": 700,
  "font-extrabold": 800,
  "font-black": 900,
);

@if $Basic {
  @each $key, $value in $FontWeight {
    /*x
    @mixin #{$key} {
      @include font-weight(#{$value});
    }
    x*/
  }
}

@if $Rwd and ($sizeMode ==0 or $sizeMode ==1) {
  @each $rwd in $rwdBox {
    @each $key, $value in $FontWeight {
      /*x
      @mixin #{$rwd}\:#{$key} {
        @include font-weight(#{$value}, $#{$rwd});
      }
      x*/
    }
  }
}

@if $Custom {
  /*x
  @mixin font-($v) {
    @if meta.type-of($v)==number {
      @include font-weight($v);
    }

    @else {
      @include font-family($v);
    }
  }
  x*/

  @each $rwd in $rwdBox {
    /*x
    @mixin #{$rwd}\:font-($v) {
      @if meta.type-of($v)==number {
        @include font-weight($v, $#{$rwd});
      }

      @else {
        @include font-family($v, $#{$rwd});
      }
    }
    x*/
  }
}