@use "../../setting" as *;


$AlignContent: (
  "content-normal": normal,
  "content-center": center,
  "content-start": flex-start,
  "content-end": flex-end,
  "content-between": space-between,
  "content-around": space-around,
  "content-evenly": space-evenly,
  "content-baseline": baseline,
  "content-stretch": stretch,
);

@if $Basic {
  @each $key, $value in $AlignContent {
    /*x
    @mixin #{$key} {
      @include align-content(#{$value});
    }
    x*/
  }
}

@if $Rwd {
  @each $rwd in $rwdBox {
    @each $key, $value in $AlignContent {
      /*x
      @mixin #{$rwd}\:#{$key} {
        @include align-content(#{$value}, $#{$rwd});
      }
      x*/
    }
  }
}