@use "../../setting" as *;
@use "../../mode0" as *;
@use "true" as *;

@include describe("8.Effects") {
  @include describe("Opacity") {
    @include describe("Basic") {
      @include it("opacity-0") {
        @include assert {
          @include output {
            @include opacity-0;
            @include clear;
          }
      
          @include expect {
            opacity: 0;
          }
        }
      }
      
      @include it("opacity-5") {
        @include assert {
          @include output {
            @include opacity-5;
            @include clear;
          }
      
          @include expect {
            opacity: 0.05;
          }
        }
      }
      
      @include it("opacity-10") {
        @include assert {
          @include output {
            @include opacity-10;
            @include clear;
          }
      
          @include expect {
            opacity: 0.1;
          }
        }
      }
      
      @include it("opacity-15") {
        @include assert {
          @include output {
            @include opacity-15;
            @include clear;
          }
      
          @include expect {
            opacity: 0.15;
          }
        }
      }
      
      @include it("opacity-20") {
        @include assert {
          @include output {
            @include opacity-20;
            @include clear;
          }
      
          @include expect {
            opacity: 0.2;
          }
        }
      }
      
      @include it("opacity-25") {
        @include assert {
          @include output {
            @include opacity-25;
            @include clear;
          }
      
          @include expect {
            opacity: 0.25;
          }
        }
      }
      
      @include it("opacity-30") {
        @include assert {
          @include output {
            @include opacity-30;
            @include clear;
          }
      
          @include expect {
            opacity: 0.3;
          }
        }
      }
      
      @include it("opacity-35") {
        @include assert {
          @include output {
            @include opacity-35;
            @include clear;
          }
      
          @include expect {
            opacity: 0.35;
          }
        }
      }
      
      @include it("opacity-40") {
        @include assert {
          @include output {
            @include opacity-40;
            @include clear;
          }
      
          @include expect {
            opacity: 0.4;
          }
        }
      }
      
      @include it("opacity-45") {
        @include assert {
          @include output {
            @include opacity-45;
            @include clear;
          }
      
          @include expect {
            opacity: 0.45;
          }
        }
      }
      
      @include it("opacity-50") {
        @include assert {
          @include output {
            @include opacity-50;
            @include clear;
          }
      
          @include expect {
            opacity: 0.5;
          }
        }
      }
      
      @include it("opacity-55") {
        @include assert {
          @include output {
            @include opacity-55;
            @include clear;
          }
      
          @include expect {
            opacity: 0.55;
          }
        }
      }
      
      @include it("opacity-60") {
        @include assert {
          @include output {
            @include opacity-60;
            @include clear;
          }
      
          @include expect {
            opacity: 0.6;
          }
        }
      }
      
      @include it("opacity-65") {
        @include assert {
          @include output {
            @include opacity-65;
            @include clear;
          }
      
          @include expect {
            opacity: 0.65;
          }
        }
      }
      
      @include it("opacity-70") {
        @include assert {
          @include output {
            @include opacity-70;
            @include clear;
          }
      
          @include expect {
            opacity: 0.7;
          }
        }
      }
      
      @include it("opacity-75") {
        @include assert {
          @include output {
            @include opacity-75;
            @include clear;
          }
      
          @include expect {
            opacity: 0.75;
          }
        }
      }
      
      @include it("opacity-80") {
        @include assert {
          @include output {
            @include opacity-80;
            @include clear;
          }
      
          @include expect {
            opacity: 0.8;
          }
        }
      }
      
      @include it("opacity-85") {
        @include assert {
          @include output {
            @include opacity-85;
            @include clear;
          }
      
          @include expect {
            opacity: 0.85;
          }
        }
      }
      
      @include it("opacity-90") {
        @include assert {
          @include output {
            @include opacity-90;
            @include clear;
          }
      
          @include expect {
            opacity: 0.9;
          }
        }
      }
      
      @include it("opacity-95") {
        @include assert {
          @include output {
            @include opacity-95;
            @include clear;
          }
      
          @include expect {
            opacity: 0.95;
          }
        }
      }
      
      @include it("opacity-100") {
        @include assert {
          @include output {
            @include opacity-100;
            @include clear;
          }
      
          @include expect {
            opacity: 1;
          }
        }
      }
    }

    @include describe("Rwd") {
      @include it("sm\:opacity-0") {
        @include assert {
          @include output {
            @include sm\:opacity-0;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$sm) {
              opacity: 0;
            }
          }
        }
      }
      
      @include it("sm\:opacity-5") {
        @include assert {
          @include output {
            @include sm\:opacity-5;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$sm) {
              opacity: 0.05;
            }
          }
        }
      }
      
      @include it("sm\:opacity-10") {
        @include assert {
          @include output {
            @include sm\:opacity-10;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$sm) {
              opacity: 0.1;
            }
          }
        }
      }
      
      @include it("sm\:opacity-15") {
        @include assert {
          @include output {
            @include sm\:opacity-15;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$sm) {
              opacity: 0.15;
            }
          }
        }
      }
      
      @include it("sm\:opacity-20") {
        @include assert {
          @include output {
            @include sm\:opacity-20;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$sm) {
              opacity: 0.2;
            }
          }
        }
      }
      
      @include it("sm\:opacity-25") {
        @include assert {
          @include output {
            @include sm\:opacity-25;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$sm) {
              opacity: 0.25;
            }
          }
        }
      }
      
      @include it("sm\:opacity-30") {
        @include assert {
          @include output {
            @include sm\:opacity-30;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$sm) {
              opacity: 0.3;
            }
          }
        }
      }
      
      @include it("sm\:opacity-35") {
        @include assert {
          @include output {
            @include sm\:opacity-35;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$sm) {
              opacity: 0.35;
            }
          }
        }
      }
      
      @include it("sm\:opacity-40") {
        @include assert {
          @include output {
            @include sm\:opacity-40;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$sm) {
              opacity: 0.4;
            }
          }
        }
      }
      
      @include it("sm\:opacity-45") {
        @include assert {
          @include output {
            @include sm\:opacity-45;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$sm) {
              opacity: 0.45;
            }
          }
        }
      }
      
      @include it("sm\:opacity-50") {
        @include assert {
          @include output {
            @include sm\:opacity-50;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$sm) {
              opacity: 0.5;
            }
          }
        }
      }
      
      @include it("sm\:opacity-55") {
        @include assert {
          @include output {
            @include sm\:opacity-55;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$sm) {
              opacity: 0.55;
            }
          }
        }
      }
      
      @include it("sm\:opacity-60") {
        @include assert {
          @include output {
            @include sm\:opacity-60;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$sm) {
              opacity: 0.6;
            }
          }
        }
      }
      
      @include it("sm\:opacity-65") {
        @include assert {
          @include output {
            @include sm\:opacity-65;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$sm) {
              opacity: 0.65;
            }
          }
        }
      }
      
      @include it("sm\:opacity-70") {
        @include assert {
          @include output {
            @include sm\:opacity-70;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$sm) {
              opacity: 0.7;
            }
          }
        }
      }
      
      @include it("sm\:opacity-75") {
        @include assert {
          @include output {
            @include sm\:opacity-75;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$sm) {
              opacity: 0.75;
            }
          }
        }
      }
      
      @include it("sm\:opacity-80") {
        @include assert {
          @include output {
            @include sm\:opacity-80;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$sm) {
              opacity: 0.8;
            }
          }
        }
      }
      
      @include it("sm\:opacity-85") {
        @include assert {
          @include output {
            @include sm\:opacity-85;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$sm) {
              opacity: 0.85;
            }
          }
        }
      }
      
      @include it("sm\:opacity-90") {
        @include assert {
          @include output {
            @include sm\:opacity-90;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$sm) {
              opacity: 0.9;
            }
          }
        }
      }
      
      @include it("sm\:opacity-95") {
        @include assert {
          @include output {
            @include sm\:opacity-95;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$sm) {
              opacity: 0.95;
            }
          }
        }
      }
      
      @include it("sm\:opacity-100") {
        @include assert {
          @include output {
            @include sm\:opacity-100;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$sm) {
              opacity: 1;
            }
          }
        }
      }
      
      @include it("md\:opacity-0") {
        @include assert {
          @include output {
            @include md\:opacity-0;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$md) {
              opacity: 0;
            }
          }
        }
      }
      
      @include it("md\:opacity-5") {
        @include assert {
          @include output {
            @include md\:opacity-5;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$md) {
              opacity: 0.05;
            }
          }
        }
      }
      
      @include it("md\:opacity-10") {
        @include assert {
          @include output {
            @include md\:opacity-10;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$md) {
              opacity: 0.1;
            }
          }
        }
      }
      
      @include it("md\:opacity-15") {
        @include assert {
          @include output {
            @include md\:opacity-15;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$md) {
              opacity: 0.15;
            }
          }
        }
      }
      
      @include it("md\:opacity-20") {
        @include assert {
          @include output {
            @include md\:opacity-20;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$md) {
              opacity: 0.2;
            }
          }
        }
      }
      
      @include it("md\:opacity-25") {
        @include assert {
          @include output {
            @include md\:opacity-25;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$md) {
              opacity: 0.25;
            }
          }
        }
      }
      
      @include it("md\:opacity-30") {
        @include assert {
          @include output {
            @include md\:opacity-30;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$md) {
              opacity: 0.3;
            }
          }
        }
      }
      
      @include it("md\:opacity-35") {
        @include assert {
          @include output {
            @include md\:opacity-35;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$md) {
              opacity: 0.35;
            }
          }
        }
      }
      
      @include it("md\:opacity-40") {
        @include assert {
          @include output {
            @include md\:opacity-40;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$md) {
              opacity: 0.4;
            }
          }
        }
      }
      
      @include it("md\:opacity-45") {
        @include assert {
          @include output {
            @include md\:opacity-45;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$md) {
              opacity: 0.45;
            }
          }
        }
      }
      
      @include it("md\:opacity-50") {
        @include assert {
          @include output {
            @include md\:opacity-50;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$md) {
              opacity: 0.5;
            }
          }
        }
      }
      
      @include it("md\:opacity-55") {
        @include assert {
          @include output {
            @include md\:opacity-55;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$md) {
              opacity: 0.55;
            }
          }
        }
      }
      
      @include it("md\:opacity-60") {
        @include assert {
          @include output {
            @include md\:opacity-60;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$md) {
              opacity: 0.6;
            }
          }
        }
      }
      
      @include it("md\:opacity-65") {
        @include assert {
          @include output {
            @include md\:opacity-65;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$md) {
              opacity: 0.65;
            }
          }
        }
      }
      
      @include it("md\:opacity-70") {
        @include assert {
          @include output {
            @include md\:opacity-70;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$md) {
              opacity: 0.7;
            }
          }
        }
      }
      
      @include it("md\:opacity-75") {
        @include assert {
          @include output {
            @include md\:opacity-75;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$md) {
              opacity: 0.75;
            }
          }
        }
      }
      
      @include it("md\:opacity-80") {
        @include assert {
          @include output {
            @include md\:opacity-80;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$md) {
              opacity: 0.8;
            }
          }
        }
      }
      
      @include it("md\:opacity-85") {
        @include assert {
          @include output {
            @include md\:opacity-85;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$md) {
              opacity: 0.85;
            }
          }
        }
      }
      
      @include it("md\:opacity-90") {
        @include assert {
          @include output {
            @include md\:opacity-90;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$md) {
              opacity: 0.9;
            }
          }
        }
      }
      
      @include it("md\:opacity-95") {
        @include assert {
          @include output {
            @include md\:opacity-95;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$md) {
              opacity: 0.95;
            }
          }
        }
      }
      
      @include it("md\:opacity-100") {
        @include assert {
          @include output {
            @include md\:opacity-100;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$md) {
              opacity: 1;
            }
          }
        }
      }
      
      @include it("lg\:opacity-0") {
        @include assert {
          @include output {
            @include lg\:opacity-0;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$lg) {
              opacity: 0;
            }
          }
        }
      }
      
      @include it("lg\:opacity-5") {
        @include assert {
          @include output {
            @include lg\:opacity-5;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$lg) {
              opacity: 0.05;
            }
          }
        }
      }
      
      @include it("lg\:opacity-10") {
        @include assert {
          @include output {
            @include lg\:opacity-10;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$lg) {
              opacity: 0.1;
            }
          }
        }
      }
      
      @include it("lg\:opacity-15") {
        @include assert {
          @include output {
            @include lg\:opacity-15;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$lg) {
              opacity: 0.15;
            }
          }
        }
      }
      
      @include it("lg\:opacity-20") {
        @include assert {
          @include output {
            @include lg\:opacity-20;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$lg) {
              opacity: 0.2;
            }
          }
        }
      }
      
      @include it("lg\:opacity-25") {
        @include assert {
          @include output {
            @include lg\:opacity-25;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$lg) {
              opacity: 0.25;
            }
          }
        }
      }
      
      @include it("lg\:opacity-30") {
        @include assert {
          @include output {
            @include lg\:opacity-30;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$lg) {
              opacity: 0.3;
            }
          }
        }
      }
      
      @include it("lg\:opacity-35") {
        @include assert {
          @include output {
            @include lg\:opacity-35;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$lg) {
              opacity: 0.35;
            }
          }
        }
      }
      
      @include it("lg\:opacity-40") {
        @include assert {
          @include output {
            @include lg\:opacity-40;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$lg) {
              opacity: 0.4;
            }
          }
        }
      }
      
      @include it("lg\:opacity-45") {
        @include assert {
          @include output {
            @include lg\:opacity-45;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$lg) {
              opacity: 0.45;
            }
          }
        }
      }
      
      @include it("lg\:opacity-50") {
        @include assert {
          @include output {
            @include lg\:opacity-50;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$lg) {
              opacity: 0.5;
            }
          }
        }
      }
      
      @include it("lg\:opacity-55") {
        @include assert {
          @include output {
            @include lg\:opacity-55;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$lg) {
              opacity: 0.55;
            }
          }
        }
      }
      
      @include it("lg\:opacity-60") {
        @include assert {
          @include output {
            @include lg\:opacity-60;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$lg) {
              opacity: 0.6;
            }
          }
        }
      }
      
      @include it("lg\:opacity-65") {
        @include assert {
          @include output {
            @include lg\:opacity-65;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$lg) {
              opacity: 0.65;
            }
          }
        }
      }
      
      @include it("lg\:opacity-70") {
        @include assert {
          @include output {
            @include lg\:opacity-70;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$lg) {
              opacity: 0.7;
            }
          }
        }
      }
      
      @include it("lg\:opacity-75") {
        @include assert {
          @include output {
            @include lg\:opacity-75;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$lg) {
              opacity: 0.75;
            }
          }
        }
      }
      
      @include it("lg\:opacity-80") {
        @include assert {
          @include output {
            @include lg\:opacity-80;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$lg) {
              opacity: 0.8;
            }
          }
        }
      }
      
      @include it("lg\:opacity-85") {
        @include assert {
          @include output {
            @include lg\:opacity-85;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$lg) {
              opacity: 0.85;
            }
          }
        }
      }
      
      @include it("lg\:opacity-90") {
        @include assert {
          @include output {
            @include lg\:opacity-90;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$lg) {
              opacity: 0.9;
            }
          }
        }
      }
      
      @include it("lg\:opacity-95") {
        @include assert {
          @include output {
            @include lg\:opacity-95;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$lg) {
              opacity: 0.95;
            }
          }
        }
      }
      
      @include it("lg\:opacity-100") {
        @include assert {
          @include output {
            @include lg\:opacity-100;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$lg) {
              opacity: 1;
            }
          }
        }
      }
      
      @include it("xl\:opacity-0") {
        @include assert {
          @include output {
            @include xl\:opacity-0;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$xl) {
              opacity: 0;
            }
          }
        }
      }
      
      @include it("xl\:opacity-5") {
        @include assert {
          @include output {
            @include xl\:opacity-5;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$xl) {
              opacity: 0.05;
            }
          }
        }
      }
      
      @include it("xl\:opacity-10") {
        @include assert {
          @include output {
            @include xl\:opacity-10;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$xl) {
              opacity: 0.1;
            }
          }
        }
      }
      
      @include it("xl\:opacity-15") {
        @include assert {
          @include output {
            @include xl\:opacity-15;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$xl) {
              opacity: 0.15;
            }
          }
        }
      }
      
      @include it("xl\:opacity-20") {
        @include assert {
          @include output {
            @include xl\:opacity-20;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$xl) {
              opacity: 0.2;
            }
          }
        }
      }
      
      @include it("xl\:opacity-25") {
        @include assert {
          @include output {
            @include xl\:opacity-25;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$xl) {
              opacity: 0.25;
            }
          }
        }
      }
      
      @include it("xl\:opacity-30") {
        @include assert {
          @include output {
            @include xl\:opacity-30;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$xl) {
              opacity: 0.3;
            }
          }
        }
      }
      
      @include it("xl\:opacity-35") {
        @include assert {
          @include output {
            @include xl\:opacity-35;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$xl) {
              opacity: 0.35;
            }
          }
        }
      }
      
      @include it("xl\:opacity-40") {
        @include assert {
          @include output {
            @include xl\:opacity-40;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$xl) {
              opacity: 0.4;
            }
          }
        }
      }
      
      @include it("xl\:opacity-45") {
        @include assert {
          @include output {
            @include xl\:opacity-45;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$xl) {
              opacity: 0.45;
            }
          }
        }
      }
      
      @include it("xl\:opacity-50") {
        @include assert {
          @include output {
            @include xl\:opacity-50;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$xl) {
              opacity: 0.5;
            }
          }
        }
      }
      
      @include it("xl\:opacity-55") {
        @include assert {
          @include output {
            @include xl\:opacity-55;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$xl) {
              opacity: 0.55;
            }
          }
        }
      }
      
      @include it("xl\:opacity-60") {
        @include assert {
          @include output {
            @include xl\:opacity-60;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$xl) {
              opacity: 0.6;
            }
          }
        }
      }
      
      @include it("xl\:opacity-65") {
        @include assert {
          @include output {
            @include xl\:opacity-65;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$xl) {
              opacity: 0.65;
            }
          }
        }
      }
      
      @include it("xl\:opacity-70") {
        @include assert {
          @include output {
            @include xl\:opacity-70;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$xl) {
              opacity: 0.7;
            }
          }
        }
      }
      
      @include it("xl\:opacity-75") {
        @include assert {
          @include output {
            @include xl\:opacity-75;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$xl) {
              opacity: 0.75;
            }
          }
        }
      }
      
      @include it("xl\:opacity-80") {
        @include assert {
          @include output {
            @include xl\:opacity-80;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$xl) {
              opacity: 0.8;
            }
          }
        }
      }
      
      @include it("xl\:opacity-85") {
        @include assert {
          @include output {
            @include xl\:opacity-85;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$xl) {
              opacity: 0.85;
            }
          }
        }
      }
      
      @include it("xl\:opacity-90") {
        @include assert {
          @include output {
            @include xl\:opacity-90;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$xl) {
              opacity: 0.9;
            }
          }
        }
      }
      
      @include it("xl\:opacity-95") {
        @include assert {
          @include output {
            @include xl\:opacity-95;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$xl) {
              opacity: 0.95;
            }
          }
        }
      }
      
      @include it("xl\:opacity-100") {
        @include assert {
          @include output {
            @include xl\:opacity-100;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$xl) {
              opacity: 1;
            }
          }
        }
      }
      
      @include it("\2xl\:opacity-0") {
        @include assert {
          @include output {
            @include \2xl\:opacity-0;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$\2xl) {
              opacity: 0;
            }
          }
        }
      }
      
      @include it("\2xl\:opacity-5") {
        @include assert {
          @include output {
            @include \2xl\:opacity-5;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$\2xl) {
              opacity: 0.05;
            }
          }
        }
      }
      
      @include it("\2xl\:opacity-10") {
        @include assert {
          @include output {
            @include \2xl\:opacity-10;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$\2xl) {
              opacity: 0.1;
            }
          }
        }
      }
      
      @include it("\2xl\:opacity-15") {
        @include assert {
          @include output {
            @include \2xl\:opacity-15;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$\2xl) {
              opacity: 0.15;
            }
          }
        }
      }
      
      @include it("\2xl\:opacity-20") {
        @include assert {
          @include output {
            @include \2xl\:opacity-20;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$\2xl) {
              opacity: 0.2;
            }
          }
        }
      }
      
      @include it("\2xl\:opacity-25") {
        @include assert {
          @include output {
            @include \2xl\:opacity-25;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$\2xl) {
              opacity: 0.25;
            }
          }
        }
      }
      
      @include it("\2xl\:opacity-30") {
        @include assert {
          @include output {
            @include \2xl\:opacity-30;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$\2xl) {
              opacity: 0.3;
            }
          }
        }
      }
      
      @include it("\2xl\:opacity-35") {
        @include assert {
          @include output {
            @include \2xl\:opacity-35;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$\2xl) {
              opacity: 0.35;
            }
          }
        }
      }
      
      @include it("\2xl\:opacity-40") {
        @include assert {
          @include output {
            @include \2xl\:opacity-40;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$\2xl) {
              opacity: 0.4;
            }
          }
        }
      }
      
      @include it("\2xl\:opacity-45") {
        @include assert {
          @include output {
            @include \2xl\:opacity-45;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$\2xl) {
              opacity: 0.45;
            }
          }
        }
      }
      
      @include it("\2xl\:opacity-50") {
        @include assert {
          @include output {
            @include \2xl\:opacity-50;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$\2xl) {
              opacity: 0.5;
            }
          }
        }
      }
      
      @include it("\2xl\:opacity-55") {
        @include assert {
          @include output {
            @include \2xl\:opacity-55;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$\2xl) {
              opacity: 0.55;
            }
          }
        }
      }
      
      @include it("\2xl\:opacity-60") {
        @include assert {
          @include output {
            @include \2xl\:opacity-60;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$\2xl) {
              opacity: 0.6;
            }
          }
        }
      }
      
      @include it("\2xl\:opacity-65") {
        @include assert {
          @include output {
            @include \2xl\:opacity-65;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$\2xl) {
              opacity: 0.65;
            }
          }
        }
      }
      
      @include it("\2xl\:opacity-70") {
        @include assert {
          @include output {
            @include \2xl\:opacity-70;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$\2xl) {
              opacity: 0.7;
            }
          }
        }
      }
      
      @include it("\2xl\:opacity-75") {
        @include assert {
          @include output {
            @include \2xl\:opacity-75;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$\2xl) {
              opacity: 0.75;
            }
          }
        }
      }
      
      @include it("\2xl\:opacity-80") {
        @include assert {
          @include output {
            @include \2xl\:opacity-80;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$\2xl) {
              opacity: 0.8;
            }
          }
        }
      }
      
      @include it("\2xl\:opacity-85") {
        @include assert {
          @include output {
            @include \2xl\:opacity-85;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$\2xl) {
              opacity: 0.85;
            }
          }
        }
      }
      
      @include it("\2xl\:opacity-90") {
        @include assert {
          @include output {
            @include \2xl\:opacity-90;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$\2xl) {
              opacity: 0.9;
            }
          }
        }
      }
      
      @include it("\2xl\:opacity-95") {
        @include assert {
          @include output {
            @include \2xl\:opacity-95;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$\2xl) {
              opacity: 0.95;
            }
          }
        }
      }
      
      @include it("\2xl\:opacity-100") {
        @include assert {
          @include output {
            @include \2xl\:opacity-100;
            @include clear;
          }
      
          @include expect {
            @media(min-width:$\2xl) {
              opacity: 1;
            }
          }
        }
      }
    }

    @include describe("Custom") {
      @include it("opacity-(.67)") {
        @include assert {
          @include output {
            @include opacity-(.67);
            @include clear;
          }
      
          @include expect {
            opacity: .67;
          }
        }
      }
      
      @include it("sm\:opacity-(.67)") {
        @include assert {
          @include output {
            @include sm\:opacity-(.67);
            @include clear;
          }
      
          @include expect {
            @media(min-width:$sm) {
              opacity: .67;
            }
          }
        }
      }
      
      @include it("md\:opacity-(.67)") {
        @include assert {
          @include output {
            @include md\:opacity-(.67);
            @include clear;
          }
      
          @include expect {
            @media(min-width:$md) {
              opacity: .67;
            }
          }
        }
      }
      
      @include it("lg\:opacity-(.67)") {
        @include assert {
          @include output {
            @include lg\:opacity-(.67);
            @include clear;
          }
      
          @include expect {
            @media(min-width:$lg) {
              opacity: .67;
            }
          }
        }
      }
      
      @include it("xl\:opacity-(.67)") {
        @include assert {
          @include output {
            @include xl\:opacity-(.67);
            @include clear;
          }
      
          @include expect {
            @media(min-width:$xl) {
              opacity: .67;
            }
          }
        }
      }
      
      @include it("\2xl\:opacity-(.67)") {
        @include assert {
          @include output {
            @include \2xl\:opacity-(.67);
            @include clear;
          }
      
          @include expect {
            @media(min-width:$\2xl) {
              opacity: .67;
            }
          }
        }
      }
    }
  }
}