@use "../../setting" as *;
@use "sass:list";

$Container: (
  "container": ("100%", "$sm", "$md", "$lg", "$xl", "$\\2xl"),
);

@if $Basic {
  @each $key, $value in $Container {
    /*x
    @mixin #{$key} {
      @include width(#{list.nth($value, 1)});

      @include max-width(#{list.nth($value, 2), "$sm"});
      @include max-width(#{list.nth($value, 3), "$md"});
      @include max-width(#{list.nth($value, 4), "$lg"});
      @include max-width(#{list.nth($value, 5), "$xl"});
      @include max-width(#{list.nth($value, 6), "$\\2xl"});
    }
    x*/
  }
}

@if $Rwd {
  @each $rwd in $rwdBox {
    @each $key, $value in $Container {
      /*x
      @mixin #{$key} {
        @include #{$rwd} {
          @include width(#{list.nth($value, 1)});

          @include max-width(#{list.nth($value, 2), "$sm"});
          @include max-width(#{list.nth($value, 3), "$md"});
          @include max-width(#{list.nth($value, 4), "$lg"});
          @include max-width(#{list.nth($value, 5), "$xl"});
          @include max-width(#{list.nth($value, 6), "$\\2xl"});
        }
      }
      x*/
    }
  }
}