@use "../../setting" as *;

@if $Basic {
  // /*x
  @mixin container {
    width: 100%;

    @media (min-width: $sm) {
      max-width: $sm;
    }

    @media (min-width: $md) {
      max-width: $md;
    }

    @media (min-width: $lg) {
      max-width: $lg;
    }

    @media (min-width: $xl) {
      max-width: $xl;
    }

    @media (min-width: $\2xl) {
      max-width: $\2xl;
    }
  }

  // x*/
}

@if $Rwd {
  // /*x
  @mixin sm\:container {
    @include sm {
      @include width(100%);

      @include sm {
        @include max-width($sm);
      }

      @include md {
        @include max-width($md);
      }

      @include lg {
        @include max-width($lg);
      }

      @include xl {
        @include max-width($xl);
      }

      @include \2xl {
        @include max-width($\2xl);
      }
    }
  }

  @mixin md\:container {
    @include md {
      @include width(100%);

      @include sm {
        @include max-width($sm);
      }

      @include md {
        @include max-width($md);
      }

      @include lg {
        @include max-width($lg);
      }

      @include xl {
        @include max-width($xl);
      }

      @include \2xl {
        @include max-width($\2xl);
      }
    }
  }

  @mixin lg\:container {
    @include lg {
      @include width(100%);

      @include sm {
        @include max-width($sm);
      }

      @include md {
        @include max-width($md);
      }

      @include lg {
        @include max-width($lg);
      }

      @include xl {
        @include max-width($xl);
      }

      @include \2xl {
        @include max-width($\2xl);
      }
    }
  }

  @mixin xl\:container {
    @include xl {
      @include width(100%);

      @include sm {
        @include max-width($sm);
      }

      @include md {
        @include max-width($md);
      }

      @include lg {
        @include max-width($lg);
      }

      @include xl {
        @include max-width($xl);
      }

      @include \2xl {
        @include max-width($\2xl);
      }
    }
  }

  @mixin \2xl\:container {
    @include \2xl {
      @include width(100%);

      @include sm {
        @include max-width($sm);
      }

      @include md {
        @include max-width($md);
      }

      @include lg {
        @include max-width($lg);
      }

      @include xl {
        @include max-width($xl);
      }

      @include \2xl {
        @include max-width($\2xl);
      }
    }
  }

  // x*/
}
