@use "../../../settings/structures" as *;

@if $OutlineStyle {
  /* OutlineStyle */
  @if $Basic {
    #mixin__outline-none {
      outline: 2px solid transparent;
      outline-offset: 2px;
    }

    #mixin__outline {
      outline-style: solid;
    }

    #mixin__outline-dashed {
      outline-style: dashed;
    }

    #mixin__outline-dotted {
      outline-style: dotted;
    }

    #mixin__outline-double {
      outline-style: double;
    }
  }

  @if $Rwd {
    #mixin__sm\:outline-none {
      @media (min-width: $breakpoint-sm) {
        outline: 2px solid transparent;
        outline-offset: 2px;
      }
    }

    #mixin__sm\:outline {
      @media (min-width: $breakpoint-sm) {
        outline-style: solid;
      }
    }

    #mixin__sm\:outline-dashed {
      @media (min-width: $breakpoint-sm) {
        outline-style: dashed;
      }
    }

    #mixin__sm\:outline-dotted {
      @media (min-width: $breakpoint-sm) {
        outline-style: dotted;
      }
    }

    #mixin__sm\:outline-double {
      @media (min-width: $breakpoint-sm) {
        outline-style: double;
      }
    }

    #mixin__md\:outline-none {
      @media (min-width: $breakpoint-md) {
        outline: 2px solid transparent;
        outline-offset: 2px;
      }
    }

    #mixin__md\:outline {
      @media (min-width: $breakpoint-md) {
        outline-style: solid;
      }
    }

    #mixin__md\:outline-dashed {
      @media (min-width: $breakpoint-md) {
        outline-style: dashed;
      }
    }

    #mixin__md\:outline-dotted {
      @media (min-width: $breakpoint-md) {
        outline-style: dotted;
      }
    }

    #mixin__md\:outline-double {
      @media (min-width: $breakpoint-md) {
        outline-style: double;
      }
    }

    #mixin__lg\:outline-none {
      @media (min-width: $breakpoint-lg) {
        outline: 2px solid transparent;
        outline-offset: 2px;
      }
    }

    #mixin__lg\:outline {
      @media (min-width: $breakpoint-lg) {
        outline-style: solid;
      }
    }

    #mixin__lg\:outline-dashed {
      @media (min-width: $breakpoint-lg) {
        outline-style: dashed;
      }
    }

    #mixin__lg\:outline-dotted {
      @media (min-width: $breakpoint-lg) {
        outline-style: dotted;
      }
    }

    #mixin__lg\:outline-double {
      @media (min-width: $breakpoint-lg) {
        outline-style: double;
      }
    }

    #mixin__xl\:outline-none {
      @media (min-width: $breakpoint-xl) {
        outline: 2px solid transparent;
        outline-offset: 2px;
      }
    }

    #mixin__xl\:outline {
      @media (min-width: $breakpoint-xl) {
        outline-style: solid;
      }
    }

    #mixin__xl\:outline-dashed {
      @media (min-width: $breakpoint-xl) {
        outline-style: dashed;
      }
    }

    #mixin__xl\:outline-dotted {
      @media (min-width: $breakpoint-xl) {
        outline-style: dotted;
      }
    }

    #mixin__xl\:outline-double {
      @media (min-width: $breakpoint-xl) {
        outline-style: double;
      }
    }

    #mixin__\\2xl\:outline-none {
      @media (min-width: $breakpoint-2xl) {
        outline: 2px solid transparent;
        outline-offset: 2px;
      }
    }

    #mixin__\\2xl\:outline {
      @media (min-width: $breakpoint-2xl) {
        outline-style: solid;
      }
    }

    #mixin__\\2xl\:outline-dashed {
      @media (min-width: $breakpoint-2xl) {
        outline-style: dashed;
      }
    }

    #mixin__\\2xl\:outline-dotted {
      @media (min-width: $breakpoint-2xl) {
        outline-style: dotted;
      }
    }

    #mixin__\\2xl\:outline-double {
      @media (min-width: $breakpoint-2xl) {
        outline-style: double;
      }
    }
  }
}
