@use "true" as *;
@use "../style" as *;

@include describe("12-Transforms") {
  @include describe("3-PerspectiveOrigin") {
    @include describe("Basic") {
      @include it("perspective-origin-center") {
        @include assert {
          @include output {
            @include perspective-origin-center;
          }

          @include expect {
            perspective-origin: center;
          }
        }
      }

      @include it("perspective-origin-top") {
        @include assert {
          @include output {
            @include perspective-origin-top;
          }

          @include expect {
            perspective-origin: top;
          }
        }
      }

      @include it("perspective-origin-top-right") {
        @include assert {
          @include output {
            @include perspective-origin-top-right;
          }

          @include expect {
            perspective-origin: top right;
          }
        }
      }

      @include it("perspective-origin-right") {
        @include assert {
          @include output {
            @include perspective-origin-right;
          }

          @include expect {
            perspective-origin: right;
          }
        }
      }

      @include it("perspective-origin-bottom-right") {
        @include assert {
          @include output {
            @include perspective-origin-bottom-right;
          }

          @include expect {
            perspective-origin: bottom right;
          }
        }
      }

      @include it("perspective-origin-bottom") {
        @include assert {
          @include output {
            @include perspective-origin-bottom;
          }

          @include expect {
            perspective-origin: bottom;
          }
        }
      }

      @include it("perspective-origin-bottom-left") {
        @include assert {
          @include output {
            @include perspective-origin-bottom-left;
          }

          @include expect {
            perspective-origin: bottom left;
          }
        }
      }

      @include it("perspective-origin-left") {
        @include assert {
          @include output {
            @include perspective-origin-left;
          }

          @include expect {
            perspective-origin: left;
          }
        }
      }

      @include it("perspective-origin-top-left") {
        @include assert {
          @include output {
            @include perspective-origin-top-left;
          }

          @include expect {
            perspective-origin: top left;
          }
        }
      }
    }

    @include describe("Custom") {
      @include it("perspective-origin-(10px)") {
        @include assert {
          @include output {
            @include perspective-origin-(10px);
          }

          @include expect {
            perspective-origin: 10px;
          }
        }
      }
    }
  }
}
