@use "true" as *;
@use "../escss" as *;

@include describe("12-Transforms") {
  @include describe("8-Transform Origin") {
    @include describe("Basic") {
      @include it("origin-center") {
        @include assert {
          @include output {
            @include origin-center;
          }

          @include expect {
            transform-origin: center;
          }
        }
      }

      @include it("origin-top") {
        @include assert {
          @include output {
            @include origin-top;
          }

          @include expect {
            transform-origin: top;
          }
        }
      }

      @include it("origin-top-right") {
        @include assert {
          @include output {
            @include origin-top-right;
          }

          @include expect {
            transform-origin: top right;
          }
        }
      }

      @include it("origin-right") {
        @include assert {
          @include output {
            @include origin-right;
          }

          @include expect {
            transform-origin: right;
          }
        }
      }

      @include it("origin-bottom-right") {
        @include assert {
          @include output {
            @include origin-bottom-right;
          }

          @include expect {
            transform-origin: bottom right;
          }
        }
      }

      @include it("origin-bottom") {
        @include assert {
          @include output {
            @include origin-bottom;
          }

          @include expect {
            transform-origin: bottom;
          }
        }
      }

      @include it("origin-bottom-left") {
        @include assert {
          @include output {
            @include origin-bottom-left;
          }

          @include expect {
            transform-origin: bottom left;
          }
        }
      }

      @include it("origin-left") {
        @include assert {
          @include output {
            @include origin-left;
          }

          @include expect {
            transform-origin: left;
          }
        }
      }

      @include it("origin-top-left") {
        @include assert {
          @include output {
            @include origin-top-left;
          }

          @include expect {
            transform-origin: top left;
          }
        }
      }
    }

    @include describe("Custom") {
      @include it("origin-(33% 75%)") {
        @include assert {
          @include output {
            @include origin-(33% 75%);
          }

          @include expect {
            transform-origin: 33% 75%;
          }
        }
      }
    }
  }
}
