@use "../../../settings/structures" as *;

@if $FlexWrap {
  /* Flex Wrap */
  @if $Basic {
    #mixin__flex-wrap {
      flex-wrap: wrap;
    }

    #mixin__flex-wrap-reverse {
      flex-wrap: wrap-reverse;
    }

    #mixin__flex-nowrap {
      flex-wrap: nowrap;
    }
  }

  @if $Rwd {
    #mixin__sm\:flex-wrap {
      @media (min-width: $breakpoint-sm) {
        flex-wrap: wrap;
      }
    }

    #mixin__sm\:flex-wrap-reverse {
      @media (min-width: $breakpoint-sm) {
        flex-wrap: wrap-reverse;
      }
    }

    #mixin__sm\:flex-nowrap {
      @media (min-width: $breakpoint-sm) {
        flex-wrap: nowrap;
      }
    }

    #mixin__md\:flex-wrap {
      @media (min-width: $breakpoint-md) {
        flex-wrap: wrap;
      }
    }

    #mixin__md\:flex-wrap-reverse {
      @media (min-width: $breakpoint-md) {
        flex-wrap: wrap-reverse;
      }
    }

    #mixin__md\:flex-nowrap {
      @media (min-width: $breakpoint-md) {
        flex-wrap: nowrap;
      }
    }

    #mixin__lg\:flex-wrap {
      @media (min-width: $breakpoint-lg) {
        flex-wrap: wrap;
      }
    }

    #mixin__lg\:flex-wrap-reverse {
      @media (min-width: $breakpoint-lg) {
        flex-wrap: wrap-reverse;
      }
    }

    #mixin__lg\:flex-nowrap {
      @media (min-width: $breakpoint-lg) {
        flex-wrap: nowrap;
      }
    }

    #mixin__xl\:flex-wrap {
      @media (min-width: $breakpoint-xl) {
        flex-wrap: wrap;
      }
    }

    #mixin__xl\:flex-wrap-reverse {
      @media (min-width: $breakpoint-xl) {
        flex-wrap: wrap-reverse;
      }
    }

    #mixin__xl\:flex-nowrap {
      @media (min-width: $breakpoint-xl) {
        flex-wrap: nowrap;
      }
    }

    #mixin__\\2xl\:flex-wrap {
      @media (min-width: $breakpoint-2xl) {
        flex-wrap: wrap;
      }
    }

    #mixin__\\2xl\:flex-wrap-reverse {
      @media (min-width: $breakpoint-2xl) {
        flex-wrap: wrap-reverse;
      }
    }

    #mixin__\\2xl\:flex-nowrap {
      @media (min-width: $breakpoint-2xl) {
        flex-wrap: nowrap;
      }
    }
  }
}
