/*x
// _c :color
@function _c($token, $v) {
  @if $token ==null {
    @error "custom variable $name-* or $var-* is null";
  }

  @return color.change($token, $alpha: $v);
}

// _b-s :box-shadow
@function _b-s() {
  $tw-ring-offset-shadow: $tw-ring-inset 0 0 0 $tw-ring-offset-width $tw-ring-offset-color;
  $tw-ring-shadow: $tw-ring-inset 0 0 0 $tw-dummy-ring-width $tw-ring-color;
  $tw-shadow: null;

  @if list.index(shadow md lg xl, $tw-dummy-shadow-token) {
    $tw-shadow: list.nth($tw-dummy-shadow-width, 1) $tw-shadow-color,
      list.nth($tw-dummy-shadow-width, 2) $tw-shadow-color;
  }

  @else if $tw-dummy-shadow-token ==inner {
    $tw-shadow: inset $tw-dummy-shadow-width $tw-shadow-color;
  }

  @else {
    $tw-shadow: $tw-dummy-shadow-width $tw-shadow-color;
  }

  @return $tw-ring-offset-shadow, $tw-ring-shadow, $tw-shadow;
}

// _t :transform
@function _t() {
  @return translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

// _f :filter
@function _f() {
  @return $tw-blur $tw-brightness $tw-contrast $tw-grayscale $tw-hue-rotate $tw-invert $tw-saturate $tw-sepia $tw-drop-shadow;
}

// _b-f :backdrop-filter
@function _b-f() {
  @return $tw-backdrop-blur $tw-backdrop-brightness $tw-backdrop-contrast $tw-backdrop-grayscale $tw-backdrop-hue-rotate $tw-backdrop-invert $tw-backdrop-opacity $tw-backdrop-saturate $tw-backdrop-sepia;
}

// _l-g :linear-gradient
@function _l-g() {
  @if $tw-dummy-gradient-direction==none {
    @return none;
  }

  @else if $tw-gradient-via==null {
    @return linear-gradient($tw-dummy-gradient-direction,
      $tw-gradient-from $tw-gradient-from-position,
      $tw-gradient-to $tw-gradient-to-position );
  }

  @else {
    @return linear-gradient($tw-dummy-gradient-direction,
      $tw-gradient-from $tw-gradient-from-position,
      $tw-gradient-via $tw-gradient-via-position,
      $tw-gradient-to $tw-gradient-to-position );
  }
}
x*/
