/*x
// _c :color
@function _c($token, $v) {
  @if $token ==null {
    @error "custom variable $name-* or $var-* is null";
  }

  @return color.change($token, $alpha: $v);
}

// _b-s :box-shadow
@function _b-s() {
  $tw-ring-offset-shadow: $tw-ring-inset 0 0 0 $tw-ring-offset-width $tw-ring-offset-color;
  $tw-ring-shadow: $tw-ring-inset 0 0 0 $tw-dummy-ring-width $tw-ring-color;
  $tw-shadow: null;

  @if list.index(shadow md lg xl, $tw-dummy-shadow-token) {
    $tw-shadow: list.nth($tw-dummy-shadow-width, 1) $tw-shadow-color,
      list.nth($tw-dummy-shadow-width, 2) $tw-shadow-color;
  }

  @else if $tw-dummy-shadow-token ==inner {
    $tw-shadow: inset $tw-dummy-shadow-width $tw-shadow-color;
  }

  @else {
    $tw-shadow: $tw-dummy-shadow-width $tw-shadow-color;
  }

  @return $tw-ring-offset-shadow, $tw-ring-shadow, $tw-shadow;
}

// _t :transform
@function _t() {
  @return translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

// _f :filter
@function _f() {
  @return var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

// _b-f :backdrop-filter
@function _b-f() {
  @return var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}
x*/
