// update time in awaken.scss
// MacBook Air 2020 | intel Core 3 | 8G | ~0.7s

// true: generate light version for production(awaken.scss) <885 KB>
// false: generate full version to run all 79067 test cases <7.8MB>
$isAwaken: true;

// Controlling render output
$isBasic: true; // Tailwind classes
$isResponsive: true; // Tailwind classes which have media queries
$isArbitrary: true; // Tailwind classes which have arbitrary values
$isNegative: true; // Tailwind tailwind negative utils

$rwdBox: (
  'sm': '$_sm',
  'md': '$_md',
  'lg': '$_lg',
  'xl': '$_xl',
  '\\2xl': '$_xxl',
);
