// test in my MacBook Air 2020, intel Core 3
// 0: update time: 2.5s <5.45 MB>. all basic classes & @media in tailwind.
// 1: update time 1s <1.92 MB>. no Margin/Padding、ScrollMargin/ScrollPadding、color, using arbitrary values to instead.
// 2: update time 0.7s <972 KB>. using arbitrary values to instead RWD (if there is an arbitrary value).

// true: tailwind without bg-red-500/25 feature(to reduce 400+ MB). <7.29 MB>
// false: remove all tailwind rwd without custom feature and replace color opacity by bg-red-500($v: 1). <984 KB>
$isClassic: false;

// Controlling render output
$isBasic: true; // Tailwind classes
$isRwd: true; // Tailwind classes which have media queries
$isCustom: true; // Tailwind classes which have arbitrary values
$isNegative: true; // Tailwind tailwind negative utils

$rwdBox: (
  'sm': '$_sm',
  'md': '$_md',
  'lg': '$_lg',
  'xl': '$_xl',
  '\\2xl': '$_\\2xl',
);
