// test in my MacBook Air 2020, intel Core 3
// update time 0.7s <1000 KB>

// true: tailwind without bg-red-500/25 feature(to reduce 400+ MB). <7.29 MB>
// false: remove all tailwind rwd without arbitrary feature and replace color opacity by bg-red-500($v: 1). <984 KB>
$isClassic: true;

// Controlling render output
$isBasic: true; // Tailwind classes
$isRwd: true; // Tailwind classes which have media queries
$isArbitrary: true; // Tailwind classes which have arbitrary values
$isNegative: true; // Tailwind tailwind negative utils

$rwdBox: (
  'sm': '$_sm',
  'md': '$_md',
  'lg': '$_lg',
  'xl': '$_xl',
  '\\2xl': '$_\\2xl',
);
