/*x
// search "Dual Licensing" for more license detail

@use "sass:color";
@use "sass:list";
@use "sass:map";
@use "sass:math";
@use "sass:meta";
@use "sass:selector";
@use "sass:string";
x*/
@use 'sass:list';
@use 'sass:meta';
@use 'config' as *;
@use 'private' as *;
@use 'utils' as *;
@use 'atomic' as *;
@use 'setting' as *;
@use 'license' as *;

// Tailwind utils
@import '1.Layout';
@import '2.flexboxGrid';
@import '3.Spacing';
@import '4.Sizing';
@import '5.Typography';
@import '6.Backgrounds';
@import '7.Borders';
@import '8.Effects';
@import '9.Filters';
@import '10.Tables';
@import '11.TransitionsAnimation';
@import '12.Transforms';
@import '13.Interactivity';
@import '14.SVG';
@import '15.Accessibility';
