@use "../../setting" as *;

/* Text Color */
@if $Basic {
  /*x
  @mixin text-inherit {
    color: inherit;
  }

  @mixin text-current {
    color: currentColor;
  }

  @mixin text-transparent {
    color: transparent;
  }
  
  @mixin text-black($v: 1) {
  color: rgb(0 0 0 /#{$v});
  }

  @mixin text-white($v: 1) {
    color: rgb(255 255 255 /#{$v});
  }

  @mixin text-slate-50($v: 1) {
    color: rgb(248 250 252 /#{$v});
  }

  @mixin text-slate-100($v: 1) {
    color: rgb(241 245 249 /#{$v});
  }

  @mixin text-slate-200($v: 1) {
    color: rgb(226 232 240 /#{$v});
  }

  @mixin text-slate-300($v: 1) {
    color: rgb(203 213 225 /#{$v});
  }

  @mixin text-slate-400($v: 1) {
    color: rgb(148 163 184 /#{$v});
  }

  @mixin text-slate-500($v: 1) {
    color: rgb(100 116 139 /#{$v});
  }

  @mixin text-slate-600($v: 1) {
    color: rgb(71 85 105 /#{$v});
  }

  @mixin text-slate-700($v: 1) {
    color: rgb(51 65 85 /#{$v});
  }

  @mixin text-slate-800($v: 1) {
    color: rgb(30 41 59 /#{$v});
  }

  @mixin text-slate-900($v: 1) {
    color: rgb(15 23 42 /#{$v});
  }

  @mixin text-slate-950($v: 1) {
    color: rgb(2 6 23 /#{$v});
  }

  @mixin text-gray-50($v: 1) {
    color: rgb(249 250 251 /#{$v});
  }

  @mixin text-gray-100($v: 1) {
    color: rgb(243 244 246 /#{$v});
  }

  @mixin text-gray-200($v: 1) {
    color: rgb(229 231 235 /#{$v});
  }

  @mixin text-gray-300($v: 1) {
    color: rgb(209 213 219 /#{$v});
  }

  @mixin text-gray-400($v: 1) {
    color: rgb(156 163 175 /#{$v});
  }

  @mixin text-gray-500($v: 1) {
    color: rgb(107 114 128 /#{$v});
  }

  @mixin text-gray-600($v: 1) {
    color: rgb(75 85 99 /#{$v});
  }

  @mixin text-gray-700($v: 1) {
    color: rgb(55 65 81 /#{$v});
  }

  @mixin text-gray-800($v: 1) {
    color: rgb(31 41 55 /#{$v});
  }

  @mixin text-gray-900($v: 1) {
    color: rgb(17 24 39 /#{$v});
  }

  @mixin text-gray-950($v: 1) {
    color: rgb(3 7 18 /#{$v});
  }

  @mixin text-zinc-50($v: 1) {
    color: rgb(250 250 250 /#{$v});
  }

  @mixin text-zinc-100($v: 1) {
    color: rgb(244 244 245 /#{$v});
  }

  @mixin text-zinc-200($v: 1) {
    color: rgb(228 228 231 /#{$v});
  }

  @mixin text-zinc-300($v: 1) {
    color: rgb(212 212 216 /#{$v});
  }

  @mixin text-zinc-400($v: 1) {
    color: rgb(161 161 170 /#{$v});
  }

  @mixin text-zinc-500($v: 1) {
    color: rgb(113 113 122 /#{$v});
  }

  @mixin text-zinc-600($v: 1) {
    color: rgb(82 82 91 /#{$v});
  }

  @mixin text-zinc-700($v: 1) {
    color: rgb(63 63 70 /#{$v});
  }

  @mixin text-zinc-800($v: 1) {
    color: rgb(39 39 42 /#{$v});
  }

  @mixin text-zinc-900($v: 1) {
    color: rgb(24 24 27 /#{$v});
  }

  @mixin text-zinc-950($v: 1) {
    color: rgb(9 9 11 /#{$v});
  }

  @mixin text-neutral-50($v: 1) {
    color: rgb(250 250 250 /#{$v});
  }

  @mixin text-neutral-100($v: 1) {
    color: rgb(245 245 245 /#{$v});
  }

  @mixin text-neutral-200($v: 1) {
    color: rgb(229 229 229 /#{$v});
  }

  @mixin text-neutral-300($v: 1) {
    color: rgb(212 212 212 /#{$v});
  }

  @mixin text-neutral-400($v: 1) {
    color: rgb(163 163 163 /#{$v});
  }

  @mixin text-neutral-500($v: 1) {
    color: rgb(115 115 115 /#{$v});
  }

  @mixin text-neutral-600($v: 1) {
    color: rgb(82 82 82 /#{$v});
  }

  @mixin text-neutral-700($v: 1) {
    color: rgb(64 64 64 /#{$v});
  }

  @mixin text-neutral-800($v: 1) {
    color: rgb(38 38 38 /#{$v});
  }

  @mixin text-neutral-900($v: 1) {
    color: rgb(23 23 23 /#{$v});
  }

  @mixin text-neutral-950($v: 1) {
    color: rgb(10 10 10 /#{$v});
  }

  @mixin text-stone-50($v: 1) {
    color: rgb(250 250 249 /#{$v});
  }

  @mixin text-stone-100($v: 1) {
    color: rgb(245 245 244 /#{$v});
  }

  @mixin text-stone-200($v: 1) {
    color: rgb(231 229 228 /#{$v});
  }

  @mixin text-stone-300($v: 1) {
    color: rgb(214 211 209 /#{$v});
  }

  @mixin text-stone-400($v: 1) {
    color: rgb(168 162 158 /#{$v});
  }

  @mixin text-stone-500($v: 1) {
    color: rgb(120 113 108 /#{$v});
  }

  @mixin text-stone-600($v: 1) {
    color: rgb(87 83 78 /#{$v});
  }

  @mixin text-stone-700($v: 1) {
    color: rgb(68 64 60 /#{$v});
  }

  @mixin text-stone-800($v: 1) {
    color: rgb(41 37 36 /#{$v});
  }

  @mixin text-stone-900($v: 1) {
    color: rgb(28 25 23 /#{$v});
  }

  @mixin text-stone-950($v: 1) {
    color: rgb(12 10 9 /#{$v});
  }

  @mixin text-red-50($v: 1) {
    color: rgb(254 242 242 /#{$v});
  }

  @mixin text-red-100($v: 1) {
    color: rgb(254 226 226 /#{$v});
  }

  @mixin text-red-200($v: 1) {
    color: rgb(254 202 202 /#{$v});
  }

  @mixin text-red-300($v: 1) {
    color: rgb(252 165 165 /#{$v});
  }

  @mixin text-red-400($v: 1) {
    color: rgb(248 113 113 /#{$v});
  }

  @mixin text-red-500($v: 1) {
    color: rgb(239 68 68 /#{$v});
  }

  @mixin text-red-600($v: 1) {
    color: rgb(220 38 38 /#{$v});
  }

  @mixin text-red-700($v: 1) {
    color: rgb(185 28 28 /#{$v});
  }

  @mixin text-red-800($v: 1) {
    color: rgb(153 27 27 /#{$v});
  }

  @mixin text-red-900($v: 1) {
    color: rgb(127 29 29 /#{$v});
  }

  @mixin text-red-950($v: 1) {
    color: rgb(69 10 10 /#{$v});
  }

  @mixin text-orange-50($v: 1) {
    color: rgb(255 247 237 /#{$v});
  }

  @mixin text-orange-100($v: 1) {
    color: rgb(255 237 213 /#{$v});
  }

  @mixin text-orange-200($v: 1) {
    color: rgb(254 215 170 /#{$v});
  }

  @mixin text-orange-300($v: 1) {
    color: rgb(253 186 116 /#{$v});
  }

  @mixin text-orange-400($v: 1) {
    color: rgb(251 146 60 /#{$v});
  }

  @mixin text-orange-500($v: 1) {
    color: rgb(249 115 22 /#{$v});
  }

  @mixin text-orange-600($v: 1) {
    color: rgb(234 88 12 /#{$v});
  }

  @mixin text-orange-700($v: 1) {
    color: rgb(194 65 12 /#{$v});
  }

  @mixin text-orange-800($v: 1) {
    color: rgb(154 52 18 /#{$v});
  }

  @mixin text-orange-900($v: 1) {
    color: rgb(124 45 18 /#{$v});
  }

  @mixin text-orange-950($v: 1) {
    color: rgb(67 20 7 /#{$v});
  }

  @mixin text-amber-50($v: 1) {
    color: rgb(255 251 235 /#{$v});
  }

  @mixin text-amber-100($v: 1) {
    color: rgb(254 243 199 /#{$v});
  }

  @mixin text-amber-200($v: 1) {
    color: rgb(253 230 138 /#{$v});
  }

  @mixin text-amber-300($v: 1) {
    color: rgb(252 211 77 /#{$v});
  }

  @mixin text-amber-400($v: 1) {
    color: rgb(251 191 36 /#{$v});
  }

  @mixin text-amber-500($v: 1) {
    color: rgb(245 158 11 /#{$v});
  }

  @mixin text-amber-600($v: 1) {
    color: rgb(217 119 6 /#{$v});
  }

  @mixin text-amber-700($v: 1) {
    color: rgb(180 83 9 /#{$v});
  }

  @mixin text-amber-800($v: 1) {
    color: rgb(146 64 14 /#{$v});
  }

  @mixin text-amber-900($v: 1) {
    color: rgb(120 53 15 /#{$v});
  }

  @mixin text-amber-950($v: 1) {
    color: rgb(69 26 3 /#{$v});
  }

  @mixin text-yellow-50($v: 1) {
    color: rgb(254 252 232 /#{$v});
  }

  @mixin text-yellow-100($v: 1) {
    color: rgb(254 249 195 /#{$v});
  }

  @mixin text-yellow-200($v: 1) {
    color: rgb(254 240 138 /#{$v});
  }

  @mixin text-yellow-300($v: 1) {
    color: rgb(253 224 71 /#{$v});
  }

  @mixin text-yellow-400($v: 1) {
    color: rgb(250 204 21 /#{$v});
  }

  @mixin text-yellow-500($v: 1) {
    color: rgb(234 179 8 /#{$v});
  }

  @mixin text-yellow-600($v: 1) {
    color: rgb(202 138 4 /#{$v});
  }

  @mixin text-yellow-700($v: 1) {
    color: rgb(161 98 7 /#{$v});
  }

  @mixin text-yellow-800($v: 1) {
    color: rgb(133 77 14 /#{$v});
  }

  @mixin text-yellow-900($v: 1) {
    color: rgb(113 63 18 /#{$v});
  }

  @mixin text-yellow-950($v: 1) {
    color: rgb(66 32 6 /#{$v});
  }

  @mixin text-lime-50($v: 1) {
    color: rgb(247 254 231 /#{$v});
  }

  @mixin text-lime-100($v: 1) {
    color: rgb(236 252 203 /#{$v});
  }

  @mixin text-lime-200($v: 1) {
    color: rgb(217 249 157 /#{$v});
  }

  @mixin text-lime-300($v: 1) {
    color: rgb(190 242 100 /#{$v});
  }

  @mixin text-lime-400($v: 1) {
    color: rgb(163 230 53 /#{$v});
  }

  @mixin text-lime-500($v: 1) {
    color: rgb(132 204 22 /#{$v});
  }

  @mixin text-lime-600($v: 1) {
    color: rgb(101 163 13 /#{$v});
  }

  @mixin text-lime-700($v: 1) {
    color: rgb(77 124 15 /#{$v});
  }

  @mixin text-lime-800($v: 1) {
    color: rgb(63 98 18 /#{$v});
  }

  @mixin text-lime-900($v: 1) {
    color: rgb(54 83 20 /#{$v});
  }

  @mixin text-lime-950($v: 1) {
    color: rgb(26 46 5 /#{$v});
  }

  @mixin text-green-50($v: 1) {
    color: rgb(240 253 244 /#{$v});
  }

  @mixin text-green-100($v: 1) {
    color: rgb(220 252 231 /#{$v});
  }

  @mixin text-green-200($v: 1) {
    color: rgb(187 247 208 /#{$v});
  }

  @mixin text-green-300($v: 1) {
    color: rgb(134 239 172 /#{$v});
  }

  @mixin text-green-400($v: 1) {
    color: rgb(74 222 128 /#{$v});
  }

  @mixin text-green-500($v: 1) {
    color: rgb(34 197 94 /#{$v});
  }

  @mixin text-green-600($v: 1) {
    color: rgb(22 163 74 /#{$v});
  }

  @mixin text-green-700($v: 1) {
    color: rgb(21 128 61 /#{$v});
  }

  @mixin text-green-800($v: 1) {
    color: rgb(22 101 52 /#{$v});
  }

  @mixin text-green-900($v: 1) {
    color: rgb(20 83 45 /#{$v});
  }

  @mixin text-green-950($v: 1) {
    color: rgb(5 46 22 /#{$v});
  }

  @mixin text-emerald-50($v: 1) {
    color: rgb(236 253 245 /#{$v});
  }

  @mixin text-emerald-100($v: 1) {
    color: rgb(209 250 229 /#{$v});
  }

  @mixin text-emerald-200($v: 1) {
    color: rgb(167 243 208 /#{$v});
  }

  @mixin text-emerald-300($v: 1) {
    color: rgb(110 231 183 /#{$v});
  }

  @mixin text-emerald-400($v: 1) {
    color: rgb(52 211 153 /#{$v});
  }

  @mixin text-emerald-500($v: 1) {
    color: rgb(16 185 129 /#{$v});
  }

  @mixin text-emerald-600($v: 1) {
    color: rgb(5 150 105 /#{$v});
  }

  @mixin text-emerald-700($v: 1) {
    color: rgb(4 120 87 /#{$v});
  }

  @mixin text-emerald-800($v: 1) {
    color: rgb(6 95 70 /#{$v});
  }

  @mixin text-emerald-900($v: 1) {
    color: rgb(6 78 59 /#{$v});
  }

  @mixin text-emerald-950($v: 1) {
    color: rgb(2 44 34 /#{$v});
  }

  @mixin text-teal-50($v: 1) {
    color: rgb(240 253 250 /#{$v});
  }

  @mixin text-teal-100($v: 1) {
    color: rgb(204 251 241 /#{$v});
  }

  @mixin text-teal-200($v: 1) {
    color: rgb(153 246 228 /#{$v});
  }

  @mixin text-teal-300($v: 1) {
    color: rgb(94 234 212 /#{$v});
  }

  @mixin text-teal-400($v: 1) {
    color: rgb(45 212 191 /#{$v});
  }

  @mixin text-teal-500($v: 1) {
    color: rgb(20 184 166 /#{$v});
  }

  @mixin text-teal-600($v: 1) {
    color: rgb(13 148 136 /#{$v});
  }

  @mixin text-teal-700($v: 1) {
    color: rgb(15 118 110 /#{$v});
  }

  @mixin text-teal-800($v: 1) {
    color: rgb(17 94 89 /#{$v});
  }

  @mixin text-teal-900($v: 1) {
    color: rgb(19 78 74 /#{$v});
  }

  @mixin text-teal-950($v: 1) {
    color: rgb(4 47 46 /#{$v});
  }

  @mixin text-cyan-50($v: 1) {
    color: rgb(236 254 255 /#{$v});
  }

  @mixin text-cyan-100($v: 1) {
    color: rgb(207 250 254 /#{$v});
  }

  @mixin text-cyan-200($v: 1) {
    color: rgb(165 243 252 /#{$v});
  }

  @mixin text-cyan-300($v: 1) {
    color: rgb(103 232 249 /#{$v});
  }

  @mixin text-cyan-400($v: 1) {
    color: rgb(34 211 238 /#{$v});
  }

  @mixin text-cyan-500($v: 1) {
    color: rgb(6 182 212 /#{$v});
  }

  @mixin text-cyan-600($v: 1) {
    color: rgb(8 145 178 /#{$v});
  }

  @mixin text-cyan-700($v: 1) {
    color: rgb(14 116 144 /#{$v});
  }

  @mixin text-cyan-800($v: 1) {
    color: rgb(21 94 117 /#{$v});
  }

  @mixin text-cyan-900($v: 1) {
    color: rgb(22 78 99 /#{$v});
  }

  @mixin text-cyan-950($v: 1) {
    color: rgb(8 51 68 /#{$v});
  }

  @mixin text-sky-50($v: 1) {
    color: rgb(240 249 255 /#{$v});
  }

  @mixin text-sky-100($v: 1) {
    color: rgb(224 242 254 /#{$v});
  }

  @mixin text-sky-200($v: 1) {
    color: rgb(186 230 253 /#{$v});
  }

  @mixin text-sky-300($v: 1) {
    color: rgb(125 211 252 /#{$v});
  }

  @mixin text-sky-400($v: 1) {
    color: rgb(56 189 248 /#{$v});
  }

  @mixin text-sky-500($v: 1) {
    color: rgb(14 165 233 /#{$v});
  }

  @mixin text-sky-600($v: 1) {
    color: rgb(2 132 199 /#{$v});
  }

  @mixin text-sky-700($v: 1) {
    color: rgb(3 105 161 /#{$v});
  }

  @mixin text-sky-800($v: 1) {
    color: rgb(7 89 133 /#{$v});
  }

  @mixin text-sky-900($v: 1) {
    color: rgb(12 74 110 /#{$v});
  }

  @mixin text-sky-950($v: 1) {
    color: rgb(8 47 73 /#{$v});
  }

  @mixin text-blue-50($v: 1) {
    color: rgb(239 246 255 /#{$v});
  }

  @mixin text-blue-100($v: 1) {
    color: rgb(219 234 254 /#{$v});
  }

  @mixin text-blue-200($v: 1) {
    color: rgb(191 219 254 /#{$v});
  }

  @mixin text-blue-300($v: 1) {
    color: rgb(147 197 253 /#{$v});
  }

  @mixin text-blue-400($v: 1) {
    color: rgb(96 165 250 /#{$v});
  }

  @mixin text-blue-500($v: 1) {
    color: rgb(59 130 246 /#{$v});
  }

  @mixin text-blue-600($v: 1) {
    color: rgb(37 99 235 /#{$v});
  }

  @mixin text-blue-700($v: 1) {
    color: rgb(29 78 216 /#{$v});
  }

  @mixin text-blue-800($v: 1) {
    color: rgb(30 64 175 /#{$v});
  }

  @mixin text-blue-900($v: 1) {
    color: rgb(30 58 138 /#{$v});
  }

  @mixin text-blue-950($v: 1) {
    color: rgb(23 37 84 /#{$v});
  }

  @mixin text-indigo-50($v: 1) {
    color: rgb(238 242 255 /#{$v});
  }

  @mixin text-indigo-100($v: 1) {
    color: rgb(224 231 255 /#{$v});
  }

  @mixin text-indigo-200($v: 1) {
    color: rgb(199 210 254 /#{$v});
  }

  @mixin text-indigo-300($v: 1) {
    color: rgb(165 180 252 /#{$v});
  }

  @mixin text-indigo-400($v: 1) {
    color: rgb(129 140 248 /#{$v});
  }

  @mixin text-indigo-500($v: 1) {
    color: rgb(99 102 241 /#{$v});
  }

  @mixin text-indigo-600($v: 1) {
    color: rgb(79 70 229 /#{$v});
  }

  @mixin text-indigo-700($v: 1) {
    color: rgb(67 56 202 /#{$v});
  }

  @mixin text-indigo-800($v: 1) {
    color: rgb(55 48 163 /#{$v});
  }

  @mixin text-indigo-900($v: 1) {
    color: rgb(49 46 129 /#{$v});
  }

  @mixin text-indigo-950($v: 1) {
    color: rgb(30 27 75 /#{$v});
  }

  @mixin text-violet-50($v: 1) {
    color: rgb(245 243 255 /#{$v});
  }

  @mixin text-violet-100($v: 1) {
    color: rgb(237 233 254 /#{$v});
  }

  @mixin text-violet-200($v: 1) {
    color: rgb(221 214 254 /#{$v});
  }

  @mixin text-violet-300($v: 1) {
    color: rgb(196 181 253 /#{$v});
  }

  @mixin text-violet-400($v: 1) {
    color: rgb(167 139 250 /#{$v});
  }

  @mixin text-violet-500($v: 1) {
    color: rgb(139 92 246 /#{$v});
  }

  @mixin text-violet-600($v: 1) {
    color: rgb(124 58 237 /#{$v});
  }

  @mixin text-violet-700($v: 1) {
    color: rgb(109 40 217 /#{$v});
  }

  @mixin text-violet-800($v: 1) {
    color: rgb(91 33 182 /#{$v});
  }

  @mixin text-violet-900($v: 1) {
    color: rgb(76 29 149 /#{$v});
  }

  @mixin text-violet-950($v: 1) {
    color: rgb(46 16 101 /#{$v});
  }

  @mixin text-purple-50($v: 1) {
    color: rgb(250 245 255 /#{$v});
  }

  @mixin text-purple-100($v: 1) {
    color: rgb(243 232 255 /#{$v});
  }

  @mixin text-purple-200($v: 1) {
    color: rgb(233 213 255 /#{$v});
  }

  @mixin text-purple-300($v: 1) {
    color: rgb(216 180 254 /#{$v});
  }

  @mixin text-purple-400($v: 1) {
    color: rgb(192 132 252 /#{$v});
  }

  @mixin text-purple-500($v: 1) {
    color: rgb(168 85 247 /#{$v});
  }

  @mixin text-purple-600($v: 1) {
    color: rgb(147 51 234 /#{$v});
  }

  @mixin text-purple-700($v: 1) {
    color: rgb(126 34 206 /#{$v});
  }

  @mixin text-purple-800($v: 1) {
    color: rgb(107 33 168 /#{$v});
  }

  @mixin text-purple-900($v: 1) {
    color: rgb(88 28 135 /#{$v});
  }

  @mixin text-purple-950($v: 1) {
    color: rgb(59 7 100 /#{$v});
  }

  @mixin text-fuchsia-50($v: 1) {
    color: rgb(253 244 255 /#{$v});
  }

  @mixin text-fuchsia-100($v: 1) {
    color: rgb(250 232 255 /#{$v});
  }

  @mixin text-fuchsia-200($v: 1) {
    color: rgb(245 208 254 /#{$v});
  }

  @mixin text-fuchsia-300($v: 1) {
    color: rgb(240 171 252 /#{$v});
  }

  @mixin text-fuchsia-400($v: 1) {
    color: rgb(232 121 249 /#{$v});
  }

  @mixin text-fuchsia-500($v: 1) {
    color: rgb(217 70 239 /#{$v});
  }

  @mixin text-fuchsia-600($v: 1) {
    color: rgb(192 38 211 /#{$v});
  }

  @mixin text-fuchsia-700($v: 1) {
    color: rgb(162 28 175 /#{$v});
  }

  @mixin text-fuchsia-800($v: 1) {
    color: rgb(134 25 143 /#{$v});
  }

  @mixin text-fuchsia-900($v: 1) {
    color: rgb(112 26 117 /#{$v});
  }

  @mixin text-fuchsia-950($v: 1) {
    color: rgb(74 4 78 /#{$v});
  }

  @mixin text-pink-50($v: 1) {
    color: rgb(253 242 248 /#{$v});
  }

  @mixin text-pink-100($v: 1) {
    color: rgb(252 231 243 /#{$v});
  }

  @mixin text-pink-200($v: 1) {
    color: rgb(251 207 232 /#{$v});
  }

  @mixin text-pink-300($v: 1) {
    color: rgb(249 168 212 /#{$v});
  }

  @mixin text-pink-400($v: 1) {
    color: rgb(244 114 182 /#{$v});
  }

  @mixin text-pink-500($v: 1) {
    color: rgb(236 72 153 /#{$v});
  }

  @mixin text-pink-600($v: 1) {
    color: rgb(219 39 119 /#{$v});
  }

  @mixin text-pink-700($v: 1) {
    color: rgb(190 24 93 /#{$v});
  }

  @mixin text-pink-800($v: 1) {
    color: rgb(157 23 77 /#{$v});
  }

  @mixin text-pink-900($v: 1) {
    color: rgb(131 24 67 /#{$v});
  }

  @mixin text-pink-950($v: 1) {
    color: rgb(80 7 36 /#{$v});
  }

  @mixin text-rose-50($v: 1) {
    color: rgb(255 241 242 /#{$v});
  }

  @mixin text-rose-100($v: 1) {
    color: rgb(255 228 230 /#{$v});
  }

  @mixin text-rose-200($v: 1) {
    color: rgb(254 205 211 /#{$v});
  }

  @mixin text-rose-300($v: 1) {
    color: rgb(253 164 175 /#{$v});
  }

  @mixin text-rose-400($v: 1) {
    color: rgb(251 113 133 /#{$v});
  }

  @mixin text-rose-500($v: 1) {
    color: rgb(244 63 94 /#{$v});
  }

  @mixin text-rose-600($v: 1) {
    color: rgb(225 29 72 /#{$v});
  }

  @mixin text-rose-700($v: 1) {
    color: rgb(190 18 60 /#{$v});
  }

  @mixin text-rose-800($v: 1) {
    color: rgb(159 18 57 /#{$v});
  }

  @mixin text-rose-900($v: 1) {
    color: rgb(136 19 55 /#{$v});
  }

  @mixin text-rose-950($v: 1) {
    color: rgb(76 5 25 /#{$v});
  }
  x*/
}

@if $Rwd {
  // reducing size for updating speed
  @if $isLiteMode {
    /*x
    @mixin sm\:text-color-($v) {
      @media (min-width: $rwd-sm) {
        color: $v;
      }
    }

    @mixin md\:text-color-($v) {
      @media (min-width: $rwd-md) {
        color: $v;
      }
    }

    @mixin lg\:text-color-($v) {
      @media (min-width: $rwd-lg) {
        color: $v;
      }
    }

    @mixin xl\:text-color-($v) {
      @media (min-width: $rwd-xl) {
        color: $v;
      }
    }

    @mixin \2xl\:text-color-($v) {
      @media (min-width: $rwd-2xl) {
        color: $v;
      }
    }x*/
  }

  // tailwind default
  @else {
  }
}

/* Naming collision: text -> text-color */
@if $Custom {
  /*x
  @mixin text-color-($v) {
    color: $v;
  }
  x*/
}
