@use "../../setting" as *;

/* Text Color */
@if $Basic {
  /*x
  @mixin text-inherit {
    color: inherit;
  }

  @mixin text-current {
    color: currentColor;
  }

  @mixin text-transparent {
    color: transparent;
  }

  @mixin text-black {
    color: #000000;
  }

  @mixin text-white {
    color: #ffffff;
  }

  @mixin text-slate-50 {
    color: #f8fafc;
  }

  @mixin text-slate-100 {
    color: #f1f5f9;
  }

  @mixin text-slate-200 {
    color: #e2e8f0;
  }

  @mixin text-slate-300 {
    color: #cbd5e1;
  }

  @mixin text-slate-400 {
    color: #94a3b8;
  }

  @mixin text-slate-500 {
    color: #64748b;
  }

  @mixin text-slate-600 {
    color: #475569;
  }

  @mixin text-slate-700 {
    color: #334155;
  }

  @mixin text-slate-800 {
    color: #1e293b;
  }

  @mixin text-slate-900 {
    color: #0f172a;
  }

  @mixin text-slate-950 {
    color: #020617;
  }

  @mixin text-gray-50 {
    color: #f9fafb;
  }

  @mixin text-gray-100 {
    color: #f3f4f6;
  }

  @mixin text-gray-200 {
    color: #e5e7eb;
  }

  @mixin text-gray-300 {
    color: #d1d5db;
  }

  @mixin text-gray-400 {
    color: #9ca3af;
  }

  @mixin text-gray-500 {
    color: #6b7280;
  }

  @mixin text-gray-600 {
    color: #4b5563;
  }

  @mixin text-gray-700 {
    color: #374151;
  }

  @mixin text-gray-800 {
    color: #1f2937;
  }

  @mixin text-gray-900 {
    color: #111827;
  }

  @mixin text-gray-950 {
    color: #030712;
  }

  @mixin text-zinc-50 {
    color: #fafafa;
  }

  @mixin text-zinc-100 {
    color: #f4f4f5;
  }

  @mixin text-zinc-200 {
    color: #e4e4e7;
  }

  @mixin text-zinc-300 {
    color: #d4d4d8;
  }

  @mixin text-zinc-400 {
    color: #a1a1aa;
  }

  @mixin text-zinc-500 {
    color: #71717a;
  }

  @mixin text-zinc-600 {
    color: #52525b;
  }

  @mixin text-zinc-700 {
    color: #3f3f46;
  }

  @mixin text-zinc-800 {
    color: #27272a;
  }

  @mixin text-zinc-900 {
    color: #18181b;
  }

  @mixin text-zinc-950 {
    color: #09090b;
  }

  @mixin text-neutral-50 {
    color: #fafafa;
  }

  @mixin text-neutral-100 {
    color: #f5f5f5;
  }

  @mixin text-neutral-200 {
    color: #e5e5e5;
  }

  @mixin text-neutral-300 {
    color: #d4d4d4;
  }

  @mixin text-neutral-400 {
    color: #a3a3a3;
  }

  @mixin text-neutral-500 {
    color: #737373;
  }

  @mixin text-neutral-600 {
    color: #525252;
  }

  @mixin text-neutral-700 {
    color: #404040;
  }

  @mixin text-neutral-800 {
    color: #262626;
  }

  @mixin text-neutral-900 {
    color: #171717;
  }

  @mixin text-neutral-950 {
    color: #0a0a0a;
  }

  @mixin text-stone-50 {
    color: #fafaf9;
  }

  @mixin text-stone-100 {
    color: #f5f5f4;
  }

  @mixin text-stone-200 {
    color: #e7e5e4;
  }

  @mixin text-stone-300 {
    color: #d6d3d1;
  }

  @mixin text-stone-400 {
    color: #a8a29e;
  }

  @mixin text-stone-500 {
    color: #78716c;
  }

  @mixin text-stone-600 {
    color: #57534e;
  }

  @mixin text-stone-700 {
    color: #44403c;
  }

  @mixin text-stone-800 {
    color: #292524;
  }

  @mixin text-stone-900 {
    color: #1c1917;
  }

  @mixin text-stone-950 {
    color: #0c0a09;
  }

  @mixin text-red-50 {
    color: #fef2f2;
  }

  @mixin text-red-100 {
    color: #fee2e2;
  }

  @mixin text-red-200 {
    color: #fecaca;
  }

  @mixin text-red-300 {
    color: #fca5a5;
  }

  @mixin text-red-400 {
    color: #f87171;
  }

  @mixin text-red-500 {
    color: #ef4444;
  }

  @mixin text-red-600 {
    color: #dc2626;
  }

  @mixin text-red-700 {
    color: #b91c1c;
  }

  @mixin text-red-800 {
    color: #991b1b;
  }

  @mixin text-red-900 {
    color: #7f1d1d;
  }

  @mixin text-red-950 {
    color: #450a0a;
  }

  @mixin text-orange-50 {
    color: #fff7ed;
  }

  @mixin text-orange-100 {
    color: #ffedd5;
  }

  @mixin text-orange-200 {
    color: #fed7aa;
  }

  @mixin text-orange-300 {
    color: #fdba74;
  }

  @mixin text-orange-400 {
    color: #fb923c;
  }

  @mixin text-orange-500 {
    color: #f97316;
  }

  @mixin text-orange-600 {
    color: #ea580c;
  }

  @mixin text-orange-700 {
    color: #c2410c;
  }

  @mixin text-orange-800 {
    color: #9a3412;
  }

  @mixin text-orange-900 {
    color: #7c2d12;
  }

  @mixin text-orange-950 {
    color: #431407;
  }

  @mixin text-amber-50 {
    color: #fffbeb;
  }

  @mixin text-amber-100 {
    color: #fef3c7;
  }

  @mixin text-amber-200 {
    color: #fde68a;
  }

  @mixin text-amber-300 {
    color: #fcd34d;
  }

  @mixin text-amber-400 {
    color: #fbbf24;
  }

  @mixin text-amber-500 {
    color: #f59e0b;
  }

  @mixin text-amber-600 {
    color: #d97706;
  }

  @mixin text-amber-700 {
    color: #b45309;
  }

  @mixin text-amber-800 {
    color: #92400e;
  }

  @mixin text-amber-900 {
    color: #78350f;
  }

  @mixin text-amber-950 {
    color: #451a03;
  }

  @mixin text-yellow-50 {
    color: #fefce8;
  }

  @mixin text-yellow-100 {
    color: #fef9c3;
  }

  @mixin text-yellow-200 {
    color: #fef08a;
  }

  @mixin text-yellow-300 {
    color: #fde047;
  }

  @mixin text-yellow-400 {
    color: #facc15;
  }

  @mixin text-yellow-500 {
    color: #eab308;
  }

  @mixin text-yellow-600 {
    color: #ca8a04;
  }

  @mixin text-yellow-700 {
    color: #a16207;
  }

  @mixin text-yellow-800 {
    color: #854d0e;
  }

  @mixin text-yellow-900 {
    color: #713f12;
  }

  @mixin text-yellow-950 {
    color: #422006;
  }

  @mixin text-lime-50 {
    color: #f7fee7;
  }

  @mixin text-lime-100 {
    color: #ecfccb;
  }

  @mixin text-lime-200 {
    color: #d9f99d;
  }

  @mixin text-lime-300 {
    color: #bef264;
  }

  @mixin text-lime-400 {
    color: #a3e635;
  }

  @mixin text-lime-500 {
    color: #84cc16;
  }

  @mixin text-lime-600 {
    color: #65a30d;
  }

  @mixin text-lime-700 {
    color: #4d7c0f;
  }

  @mixin text-lime-800 {
    color: #3f6212;
  }

  @mixin text-lime-900 {
    color: #365314;
  }

  @mixin text-lime-950 {
    color: #1a2e05;
  }

  @mixin text-green-50 {
    color: #f0fdf4;
  }

  @mixin text-green-100 {
    color: #dcfce7;
  }

  @mixin text-green-200 {
    color: #bbf7d0;
  }

  @mixin text-green-300 {
    color: #86efac;
  }

  @mixin text-green-400 {
    color: #4ade80;
  }

  @mixin text-green-500 {
    color: #22c55e;
  }

  @mixin text-green-600 {
    color: #16a34a;
  }

  @mixin text-green-700 {
    color: #15803d;
  }

  @mixin text-green-800 {
    color: #166534;
  }

  @mixin text-green-900 {
    color: #14532d;
  }

  @mixin text-green-950 {
    color: #052e16;
  }

  @mixin text-emerald-50 {
    color: #ecfdf5;
  }

  @mixin text-emerald-100 {
    color: #d1fae5;
  }

  @mixin text-emerald-200 {
    color: #a7f3d0;
  }

  @mixin text-emerald-300 {
    color: #6ee7b7;
  }

  @mixin text-emerald-400 {
    color: #34d399;
  }

  @mixin text-emerald-500 {
    color: #10b981;
  }

  @mixin text-emerald-600 {
    color: #059669;
  }

  @mixin text-emerald-700 {
    color: #047857;
  }

  @mixin text-emerald-800 {
    color: #065f46;
  }

  @mixin text-emerald-900 {
    color: #064e3b;
  }

  @mixin text-emerald-950 {
    color: #022c22;
  }

  @mixin text-teal-50 {
    color: #f0fdfa;
  }

  @mixin text-teal-100 {
    color: #ccfbf1;
  }

  @mixin text-teal-200 {
    color: #99f6e4;
  }

  @mixin text-teal-300 {
    color: #5eead4;
  }

  @mixin text-teal-400 {
    color: #2dd4bf;
  }

  @mixin text-teal-500 {
    color: #14b8a6;
  }

  @mixin text-teal-600 {
    color: #0d9488;
  }

  @mixin text-teal-700 {
    color: #0f766e;
  }

  @mixin text-teal-800 {
    color: #115e59;
  }

  @mixin text-teal-900 {
    color: #134e4a;
  }

  @mixin text-teal-950 {
    color: #042f2e;
  }

  @mixin text-cyan-50 {
    color: #ecfeff;
  }

  @mixin text-cyan-100 {
    color: #cffafe;
  }

  @mixin text-cyan-200 {
    color: #a5f3fc;
  }

  @mixin text-cyan-300 {
    color: #67e8f9;
  }

  @mixin text-cyan-400 {
    color: #22d3ee;
  }

  @mixin text-cyan-500 {
    color: #06b6d4;
  }

  @mixin text-cyan-600 {
    color: #0891b2;
  }

  @mixin text-cyan-700 {
    color: #0e7490;
  }

  @mixin text-cyan-800 {
    color: #155e75;
  }

  @mixin text-cyan-900 {
    color: #164e63;
  }

  @mixin text-cyan-950 {
    color: #083344;
  }

  @mixin text-sky-50 {
    color: #f0f9ff;
  }

  @mixin text-sky-100 {
    color: #e0f2fe;
  }

  @mixin text-sky-200 {
    color: #bae6fd;
  }

  @mixin text-sky-300 {
    color: #7dd3fc;
  }

  @mixin text-sky-400 {
    color: #38bdf8;
  }

  @mixin text-sky-500 {
    color: #0ea5e9;
  }

  @mixin text-sky-600 {
    color: #0284c7;
  }

  @mixin text-sky-700 {
    color: #0369a1;
  }

  @mixin text-sky-800 {
    color: #075985;
  }

  @mixin text-sky-900 {
    color: #0c4a6e;
  }

  @mixin text-sky-950 {
    color: #082f49;
  }

  @mixin text-blue-50 {
    color: #eff6ff;
  }

  @mixin text-blue-100 {
    color: #dbeafe;
  }

  @mixin text-blue-200 {
    color: #bfdbfe;
  }

  @mixin text-blue-300 {
    color: #93c5fd;
  }

  @mixin text-blue-400 {
    color: #60a5fa;
  }

  @mixin text-blue-500 {
    color: #3b82f6;
  }

  @mixin text-blue-600 {
    color: #2563eb;
  }

  @mixin text-blue-700 {
    color: #1d4ed8;
  }

  @mixin text-blue-800 {
    color: #1e40af;
  }

  @mixin text-blue-900 {
    color: #1e3a8a;
  }

  @mixin text-blue-950 {
    color: #172554;
  }

  @mixin text-indigo-50 {
    color: #eef2ff;
  }

  @mixin text-indigo-100 {
    color: #e0e7ff;
  }

  @mixin text-indigo-200 {
    color: #c7d2fe;
  }

  @mixin text-indigo-300 {
    color: #a5b4fc;
  }

  @mixin text-indigo-400 {
    color: #818cf8;
  }

  @mixin text-indigo-500 {
    color: #6366f1;
  }

  @mixin text-indigo-600 {
    color: #4f46e5;
  }

  @mixin text-indigo-700 {
    color: #4338ca;
  }

  @mixin text-indigo-800 {
    color: #3730a3;
  }

  @mixin text-indigo-900 {
    color: #312e7f;
  }

  @mixin text-indigo-950 {
    color: #1e1b4b;
  }

  @mixin text-violet-50 {
    color: #f5f3ff;
  }

  @mixin text-violet-100 {
    color: #ede9fe;
  }

  @mixin text-violet-200 {
    color: #ddd6fe;
  }

  @mixin text-violet-300 {
    color: #c4b5fd;
  }

  @mixin text-violet-400 {
    color: #a78bfa;
  }

  @mixin text-violet-500 {
    color: #8b5cf6;
  }

  @mixin text-violet-600 {
    color: #7c3aed;
  }

  @mixin text-violet-700 {
    color: #6d28d9;
  }

  @mixin text-violet-800 {
    color: #5b21b6;
  }

  @mixin text-violet-900 {
    color: #4c1d95;
  }

  @mixin text-violet-950 {
    color: #2e1065;
  }

  @mixin text-purple-50 {
    color: #faf5ff;
  }

  @mixin text-purple-100 {
    color: #f3e8ff;
  }

  @mixin text-purple-200 {
    color: #e9d5ff;
  }

  @mixin text-purple-300 {
    color: #d8b4fe;
  }

  @mixin text-purple-400 {
    color: #c084fc;
  }

  @mixin text-purple-500 {
    color: #a855f7;
  }

  @mixin text-purple-600 {
    color: #9333ea;
  }

  @mixin text-purple-700 {
    color: #7e22ce;
  }

  @mixin text-purple-800 {
    color: #6b21a8;
  }

  @mixin text-purple-900 {
    color: #581c87;
  }

  @mixin text-purple-950 {
    color: #3b0764;
  }

  @mixin text-fuchsia-50 {
    color: #fdf4ff;
  }

  @mixin text-fuchsia-100 {
    color: #fae8ff;
  }

  @mixin text-fuchsia-200 {
    color: #f5d0fe;
  }

  @mixin text-fuchsia-300 {
    color: #f0abfc;
  }

  @mixin text-fuchsia-400 {
    color: #e879f9;
  }

  @mixin text-fuchsia-500 {
    color: #d946ef;
  }

  @mixin text-fuchsia-600 {
    color: #c026d3;
  }

  @mixin text-fuchsia-700 {
    color: #a21caf;
  }

  @mixin text-fuchsia-800 {
    color: #86198f;
  }

  @mixin text-fuchsia-900 {
    color: #701a75;
  }

  @mixin text-fuchsia-950 {
    color: #4a044e;
  }

  @mixin text-pink-50 {
    color: #fdf2f8;
  }

  @mixin text-pink-100 {
    color: #fce7f3;
  }

  @mixin text-pink-200 {
    color: #fbcfe8;
  }

  @mixin text-pink-300 {
    color: #f9a8d4;
  }

  @mixin text-pink-400 {
    color: #f472b6;
  }

  @mixin text-pink-500 {
    color: #ec4899;
  }

  @mixin text-pink-600 {
    color: #db2777;
  }

  @mixin text-pink-700 {
    color: #be185d;
  }

  @mixin text-pink-800 {
    color: #9d174d;
  }

  @mixin text-pink-900 {
    color: #831843;
  }

  @mixin text-pink-950 {
    color: #500724;
  }

  @mixin text-rose-50 {
    color: #fff1f2;
  }

  @mixin text-rose-100 {
    color: #ffe4e6;
  }

  @mixin text-rose-200 {
    color: #fecdd3;
  }

  @mixin text-rose-300 {
    color: #fda4af;
  }

  @mixin text-rose-400 {
    color: #fb7185;
  }

  @mixin text-rose-500 {
    color: #f43f5e;
  }

  @mixin text-rose-600 {
    color: #e11d48;
  }

  @mixin text-rose-700 {
    color: #be123c;
  }

  @mixin text-rose-800 {
    color: #9f1239;
  }

  @mixin text-rose-900 {
    color: #881337;
  }

  @mixin text-rose-950 {
    color: #4c0519;
  }x*/
}

@if $Rwd {
  // reducing size for updating speed
  @if $isLite {
    /*x
    @mixin sm\:text-color-($value) {
      @media (min-width: $rwd-sm) {
        color: $value;
      }
    }

    @mixin md\:text-color-($value) {
      @media (min-width: $rwd-md) {
        color: $value;
      }
    }

    @mixin lg\:text-color-($value) {
      @media (min-width: $rwd-lg) {
        color: $value;
      }
    }

    @mixin xl\:text-color-($value) {
      @media (min-width: $rwd-xl) {
        color: $value;
      }
    }

    @mixin \2xl\:text-color-($value) {
      @media (min-width: $rwd-2xl) {
        color: $value;
      }
    }x*/
  }

  // tailwind default
  @else {
  }
}

/* Naming collision: text -> text-color */
@if $Custom {
  /*x
  @mixin text-color-($value) {
    color: $value;
  }

  // Color Opacity
  @mixin text-black($value) {
    color: rgb(0 0 0 / #/*x{$value / 100});
  }

  @mixin text-white($value) {
    color: rgb(255 255 255 / #/*x{$value / 100});
  }

  @mixin text-slate-50($value) {
    color: rgb(248 250 252 / #/*x{$value / 100});
  }

  @mixin text-slate-100($value) {
    color: rgb(241 245 249 / #/*x{$value / 100});
  }

  @mixin text-slate-200($value) {
    color: rgb(226 232 240 / #/*x{$value / 100});
  }

  @mixin text-slate-300($value) {
    color: rgb(203 213 225 / #/*x{$value / 100});
  }

  @mixin text-slate-400($value) {
    color: rgb(148 163 184 / #/*x{$value / 100});
  }

  @mixin text-slate-500($value) {
    color: rgb(100 116 139 / #/*x{$value / 100});
  }

  @mixin text-slate-600($value) {
    color: rgb(71 85 105 / #/*x{$value / 100});
  }

  @mixin text-slate-700($value) {
    color: rgb(51 65 85 / #/*x{$value / 100});
  }

  @mixin text-slate-800($value) {
    color: rgb(30 41 59 / #/*x{$value / 100});
  }

  @mixin text-slate-900($value) {
    color: rgb(15 23 42 / #/*x{$value / 100});
  }

  @mixin text-slate-950($value) {
    color: rgb(2 6 23 / #/*x{$value / 100});
  }

  @mixin text-gray-50($value) {
    color: rgb(249 250 251 / #/*x{$value / 100});
  }

  @mixin text-gray-100($value) {
    color: rgb(243 244 246 / #/*x{$value / 100});
  }

  @mixin text-gray-200($value) {
    color: rgb(229 231 235 / #/*x{$value / 100});
  }

  @mixin text-gray-300($value) {
    color: rgb(209 213 219 / #/*x{$value / 100});
  }

  @mixin text-gray-400($value) {
    color: rgb(156 163 175 / #/*x{$value / 100});
  }

  @mixin text-gray-500($value) {
    color: rgb(107 114 128 / #/*x{$value / 100});
  }

  @mixin text-gray-600($value) {
    color: rgb(75 85 99 / #/*x{$value / 100});
  }

  @mixin text-gray-700($value) {
    color: rgb(55 65 81 / #/*x{$value / 100});
  }

  @mixin text-gray-800($value) {
    color: rgb(31 41 55 / #/*x{$value / 100});
  }

  @mixin text-gray-900($value) {
    color: rgb(17 24 39 / #/*x{$value / 100});
  }

  @mixin text-gray-950($value) {
    color: rgb(3 7 18 / #/*x{$value / 100});
  }

  @mixin text-zinc-50($value) {
    color: rgb(250 250 250 / #/*x{$value / 100});
  }

  @mixin text-zinc-100($value) {
    color: rgb(244 244 245 / #/*x{$value / 100});
  }

  @mixin text-zinc-200($value) {
    color: rgb(228 228 231 / #/*x{$value / 100});
  }

  @mixin text-zinc-300($value) {
    color: rgb(212 212 216 / #/*x{$value / 100});
  }

  @mixin text-zinc-400($value) {
    color: rgb(161 161 170 / #/*x{$value / 100});
  }

  @mixin text-zinc-500($value) {
    color: rgb(113 113 122 / #/*x{$value / 100});
  }

  @mixin text-zinc-600($value) {
    color: rgb(82 82 91 / #/*x{$value / 100});
  }

  @mixin text-zinc-700($value) {
    color: rgb(63 63 70 / #/*x{$value / 100});
  }

  @mixin text-zinc-800($value) {
    color: rgb(39 39 42 / #/*x{$value / 100});
  }

  @mixin text-zinc-900($value) {
    color: rgb(24 24 27 / #/*x{$value / 100});
  }

  @mixin text-zinc-950($value) {
    color: rgb(9 9 11 / #/*x{$value / 100});
  }

  @mixin text-neutral-50($value) {
    color: rgb(250 250 250 / #/*x{$value / 100});
  }

  @mixin text-neutral-100($value) {
    color: rgb(245 245 245 / #/*x{$value / 100});
  }

  @mixin text-neutral-200($value) {
    color: rgb(229 229 229 / #/*x{$value / 100});
  }

  @mixin text-neutral-300($value) {
    color: rgb(212 212 212 / #/*x{$value / 100});
  }

  @mixin text-neutral-400($value) {
    color: rgb(163 163 163 / #/*x{$value / 100});
  }

  @mixin text-neutral-500($value) {
    color: rgb(115 115 115 / #/*x{$value / 100});
  }

  @mixin text-neutral-600($value) {
    color: rgb(82 82 82 / #/*x{$value / 100});
  }

  @mixin text-neutral-700($value) {
    color: rgb(64 64 64 / #/*x{$value / 100});
  }

  @mixin text-neutral-800($value) {
    color: rgb(38 38 38 / #/*x{$value / 100});
  }

  @mixin text-neutral-900($value) {
    color: rgb(23 23 23 / #/*x{$value / 100});
  }

  @mixin text-neutral-950($value) {
    color: rgb(10 10 10 / #/*x{$value / 100});
  }

  @mixin text-stone-50($value) {
    color: rgb(250 250 249 / #/*x{$value / 100});
  }

  @mixin text-stone-100($value) {
    color: rgb(245 245 244 / #/*x{$value / 100});
  }

  @mixin text-stone-200($value) {
    color: rgb(231 229 228 / #/*x{$value / 100});
  }

  @mixin text-stone-300($value) {
    color: rgb(214 211 209 / #/*x{$value / 100});
  }

  @mixin text-stone-400($value) {
    color: rgb(168 162 158 / #/*x{$value / 100});
  }

  @mixin text-stone-500($value) {
    color: rgb(120 113 108 / #/*x{$value / 100});
  }

  @mixin text-stone-600($value) {
    color: rgb(87 83 78 / #/*x{$value / 100});
  }

  @mixin text-stone-700($value) {
    color: rgb(68 64 60 / #/*x{$value / 100});
  }

  @mixin text-stone-800($value) {
    color: rgb(41 37 36 / #/*x{$value / 100});
  }

  @mixin text-stone-900($value) {
    color: rgb(28 25 23 / #/*x{$value / 100});
  }

  @mixin text-stone-950($value) {
    color: rgb(12 10 9 / #/*x{$value / 100});
  }

  @mixin text-red-50($value) {
    color: rgb(254 242 242 / #/*x{$value / 100});
  }

  @mixin text-red-100($value) {
    color: rgb(254 226 226 / #/*x{$value / 100});
  }

  @mixin text-red-200($value) {
    color: rgb(254 202 202 / #/*x{$value / 100});
  }

  @mixin text-red-300($value) {
    color: rgb(252 165 165 / #/*x{$value / 100});
  }

  @mixin text-red-400($value) {
    color: rgb(248 113 113 / #/*x{$value / 100});
  }

  @mixin text-red-500($value) {
    color: rgb(239 68 68 / #/*x{$value / 100});
  }

  @mixin text-red-600($value) {
    color: rgb(220 38 38 / #/*x{$value / 100});
  }

  @mixin text-red-700($value) {
    color: rgb(185 28 28 / #/*x{$value / 100});
  }

  @mixin text-red-800($value) {
    color: rgb(153 27 27 / #/*x{$value / 100});
  }

  @mixin text-red-900($value) {
    color: rgb(127 29 29 / #/*x{$value / 100});
  }

  @mixin text-red-950($value) {
    color: rgb(69 10 10 / #/*x{$value / 100});
  }

  @mixin text-orange-50($value) {
    color: rgb(255 247 237 / #/*x{$value / 100});
  }

  @mixin text-orange-100($value) {
    color: rgb(255 237 213 / #/*x{$value / 100});
  }

  @mixin text-orange-200($value) {
    color: rgb(254 215 170 / #/*x{$value / 100});
  }

  @mixin text-orange-300($value) {
    color: rgb(253 186 116 / #/*x{$value / 100});
  }

  @mixin text-orange-400($value) {
    color: rgb(251 146 60 / #/*x{$value / 100});
  }

  @mixin text-orange-500($value) {
    color: rgb(249 115 22 / #/*x{$value / 100});
  }

  @mixin text-orange-600($value) {
    color: rgb(234 88 12 / #/*x{$value / 100});
  }

  @mixin text-orange-700($value) {
    color: rgb(194 65 12 / #/*x{$value / 100});
  }

  @mixin text-orange-800($value) {
    color: rgb(154 52 18 / #/*x{$value / 100});
  }

  @mixin text-orange-900($value) {
    color: rgb(124 45 18 / #/*x{$value / 100});
  }

  @mixin text-orange-950($value) {
    color: rgb(67 20 7 / #/*x{$value / 100});
  }

  @mixin text-amber-50($value) {
    color: rgb(255 251 235 / #/*x{$value / 100});
  }

  @mixin text-amber-100($value) {
    color: rgb(254 243 199 / #/*x{$value / 100});
  }

  @mixin text-amber-200($value) {
    color: rgb(253 230 138 / #/*x{$value / 100});
  }

  @mixin text-amber-300($value) {
    color: rgb(252 211 77 / #/*x{$value / 100});
  }

  @mixin text-amber-400($value) {
    color: rgb(251 191 36 / #/*x{$value / 100});
  }

  @mixin text-amber-500($value) {
    color: rgb(245 158 11 / #/*x{$value / 100});
  }

  @mixin text-amber-600($value) {
    color: rgb(217 119 6 / #/*x{$value / 100});
  }

  @mixin text-amber-700($value) {
    color: rgb(180 83 9 / #/*x{$value / 100});
  }

  @mixin text-amber-800($value) {
    color: rgb(146 64 14 / #/*x{$value / 100});
  }

  @mixin text-amber-900($value) {
    color: rgb(120 53 15 / #/*x{$value / 100});
  }

  @mixin text-amber-950($value) {
    color: rgb(69 26 3 / #/*x{$value / 100});
  }

  @mixin text-yellow-50($value) {
    color: rgb(254 252 232 / #/*x{$value / 100});
  }

  @mixin text-yellow-100($value) {
    color: rgb(254 249 195 / #/*x{$value / 100});
  }

  @mixin text-yellow-200($value) {
    color: rgb(254 240 138 / #/*x{$value / 100});
  }

  @mixin text-yellow-300($value) {
    color: rgb(253 224 71 / #/*x{$value / 100});
  }

  @mixin text-yellow-400($value) {
    color: rgb(250 204 21 / #/*x{$value / 100});
  }

  @mixin text-yellow-500($value) {
    color: rgb(234 179 8 / #/*x{$value / 100});
  }

  @mixin text-yellow-600($value) {
    color: rgb(202 138 4 / #/*x{$value / 100});
  }

  @mixin text-yellow-700($value) {
    color: rgb(161 98 7 / #/*x{$value / 100});
  }

  @mixin text-yellow-800($value) {
    color: rgb(133 77 14 / #/*x{$value / 100});
  }

  @mixin text-yellow-900($value) {
    color: rgb(113 63 18 / #/*x{$value / 100});
  }

  @mixin text-yellow-950($value) {
    color: rgb(66 32 6 / #/*x{$value / 100});
  }

  @mixin text-lime-50($value) {
    color: rgb(247 254 231 / #/*x{$value / 100});
  }

  @mixin text-lime-100($value) {
    color: rgb(236 252 203 / #/*x{$value / 100});
  }

  @mixin text-lime-200($value) {
    color: rgb(217 249 157 / #/*x{$value / 100});
  }

  @mixin text-lime-300($value) {
    color: rgb(190 242 100 / #/*x{$value / 100});
  }

  @mixin text-lime-400($value) {
    color: rgb(163 230 53 / #/*x{$value / 100});
  }

  @mixin text-lime-500($value) {
    color: rgb(132 204 22 / #/*x{$value / 100});
  }

  @mixin text-lime-600($value) {
    color: rgb(101 163 13 / #/*x{$value / 100});
  }

  @mixin text-lime-700($value) {
    color: rgb(77 124 15 / #/*x{$value / 100});
  }

  @mixin text-lime-800($value) {
    color: rgb(63 98 18 / #/*x{$value / 100});
  }

  @mixin text-lime-900($value) {
    color: rgb(54 83 20 / #/*x{$value / 100});
  }

  @mixin text-lime-950($value) {
    color: rgb(26 46 5 / #/*x{$value / 100});
  }

  @mixin text-green-50($value) {
    color: rgb(240 253 244 / #/*x{$value / 100});
  }

  @mixin text-green-100($value) {
    color: rgb(220 252 231 / #/*x{$value / 100});
  }

  @mixin text-green-200($value) {
    color: rgb(187 247 208 / #/*x{$value / 100});
  }

  @mixin text-green-300($value) {
    color: rgb(134 239 172 / #/*x{$value / 100});
  }

  @mixin text-green-400($value) {
    color: rgb(74 222 128 / #/*x{$value / 100});
  }

  @mixin text-green-500($value) {
    color: rgb(34 197 94 / #/*x{$value / 100});
  }

  @mixin text-green-600($value) {
    color: rgb(22 163 74 / #/*x{$value / 100});
  }

  @mixin text-green-700($value) {
    color: rgb(21 128 61 / #/*x{$value / 100});
  }

  @mixin text-green-800($value) {
    color: rgb(22 101 52 / #/*x{$value / 100});
  }

  @mixin text-green-900($value) {
    color: rgb(20 83 45 / #/*x{$value / 100});
  }

  @mixin text-green-950($value) {
    color: rgb(5 46 22 / #/*x{$value / 100});
  }

  @mixin text-emerald-50($value) {
    color: rgb(236 253 245 / #/*x{$value / 100});
  }

  @mixin text-emerald-100($value) {
    color: rgb(209 250 229 / #/*x{$value / 100});
  }

  @mixin text-emerald-200($value) {
    color: rgb(167 243 208 / #/*x{$value / 100});
  }

  @mixin text-emerald-300($value) {
    color: rgb(110 231 183 / #/*x{$value / 100});
  }

  @mixin text-emerald-400($value) {
    color: rgb(52 211 153 / #/*x{$value / 100});
  }

  @mixin text-emerald-500($value) {
    color: rgb(16 185 129 / #/*x{$value / 100});
  }

  @mixin text-emerald-600($value) {
    color: rgb(5 150 105 / #/*x{$value / 100});
  }

  @mixin text-emerald-700($value) {
    color: rgb(4 120 87 / #/*x{$value / 100});
  }

  @mixin text-emerald-800($value) {
    color: rgb(6 95 70 / #/*x{$value / 100});
  }

  @mixin text-emerald-900($value) {
    color: rgb(6 78 59 / #/*x{$value / 100});
  }

  @mixin text-emerald-950($value) {
    color: rgb(2 44 34 / #/*x{$value / 100});
  }

  @mixin text-teal-50($value) {
    color: rgb(240 253 250 / #/*x{$value / 100});
  }

  @mixin text-teal-100($value) {
    color: rgb(204 251 241 / #/*x{$value / 100});
  }

  @mixin text-teal-200($value) {
    color: rgb(153 246 228 / #/*x{$value / 100});
  }

  @mixin text-teal-300($value) {
    color: rgb(94 234 212 / #/*x{$value / 100});
  }

  @mixin text-teal-400($value) {
    color: rgb(45 212 191 / #/*x{$value / 100});
  }

  @mixin text-teal-500($value) {
    color: rgb(20 184 166 / #/*x{$value / 100});
  }

  @mixin text-teal-600($value) {
    color: rgb(13 148 136 / #/*x{$value / 100});
  }

  @mixin text-teal-700($value) {
    color: rgb(15 118 110 / #/*x{$value / 100});
  }

  @mixin text-teal-800($value) {
    color: rgb(17 94 89 / #/*x{$value / 100});
  }

  @mixin text-teal-900($value) {
    color: rgb(19 78 74 / #/*x{$value / 100});
  }

  @mixin text-teal-950($value) {
    color: rgb(4 47 46 / #/*x{$value / 100});
  }

  @mixin text-cyan-50($value) {
    color: rgb(236 254 255 / #/*x{$value / 100});
  }

  @mixin text-cyan-100($value) {
    color: rgb(207 250 254 / #/*x{$value / 100});
  }

  @mixin text-cyan-200($value) {
    color: rgb(165 243 252 / #/*x{$value / 100});
  }

  @mixin text-cyan-300($value) {
    color: rgb(103 232 249 / #/*x{$value / 100});
  }

  @mixin text-cyan-400($value) {
    color: rgb(34 211 238 / #/*x{$value / 100});
  }

  @mixin text-cyan-500($value) {
    color: rgb(6 182 212 / #/*x{$value / 100});
  }

  @mixin text-cyan-600($value) {
    color: rgb(8 145 178 / #/*x{$value / 100});
  }

  @mixin text-cyan-700($value) {
    color: rgb(14 116 144 / #/*x{$value / 100});
  }

  @mixin text-cyan-800($value) {
    color: rgb(21 94 117 / #/*x{$value / 100});
  }

  @mixin text-cyan-900($value) {
    color: rgb(22 78 99 / #/*x{$value / 100});
  }

  @mixin text-cyan-950($value) {
    color: rgb(8 51 68 / #/*x{$value / 100});
  }

  @mixin text-sky-50($value) {
    color: rgb(240 249 255 / #/*x{$value / 100});
  }

  @mixin text-sky-100($value) {
    color: rgb(224 242 254 / #/*x{$value / 100});
  }

  @mixin text-sky-200($value) {
    color: rgb(186 230 253 / #/*x{$value / 100});
  }

  @mixin text-sky-300($value) {
    color: rgb(125 211 252 / #/*x{$value / 100});
  }

  @mixin text-sky-400($value) {
    color: rgb(56 189 248 / #/*x{$value / 100});
  }

  @mixin text-sky-500($value) {
    color: rgb(14 165 233 / #/*x{$value / 100});
  }

  @mixin text-sky-600($value) {
    color: rgb(2 132 199 / #/*x{$value / 100});
  }

  @mixin text-sky-700($value) {
    color: rgb(3 105 161 / #/*x{$value / 100});
  }

  @mixin text-sky-800($value) {
    color: rgb(7 89 133 / #/*x{$value / 100});
  }

  @mixin text-sky-900($value) {
    color: rgb(12 74 110 / #/*x{$value / 100});
  }

  @mixin text-sky-950($value) {
    color: rgb(8 47 73 / #/*x{$value / 100});
  }

  @mixin text-blue-50($value) {
    color: rgb(239 246 255 / #/*x{$value / 100});
  }

  @mixin text-blue-100($value) {
    color: rgb(219 234 254 / #/*x{$value / 100});
  }

  @mixin text-blue-200($value) {
    color: rgb(191 219 254 / #/*x{$value / 100});
  }

  @mixin text-blue-300($value) {
    color: rgb(147 197 253 / #/*x{$value / 100});
  }

  @mixin text-blue-400($value) {
    color: rgb(96 165 250 / #/*x{$value / 100});
  }

  @mixin text-blue-500($value) {
    color: rgb(59 130 246 / #/*x{$value / 100});
  }

  @mixin text-blue-600($value) {
    color: rgb(37 99 235 / #/*x{$value / 100});
  }

  @mixin text-blue-700($value) {
    color: rgb(29 78 216 / #/*x{$value / 100});
  }

  @mixin text-blue-800($value) {
    color: rgb(30 64 175 / #/*x{$value / 100});
  }

  @mixin text-blue-900($value) {
    color: rgb(30 58 138 / #/*x{$value / 100});
  }

  @mixin text-blue-950($value) {
    color: rgb(23 37 84 / #/*x{$value / 100});
  }

  @mixin text-indigo-50($value) {
    color: rgb(238 242 255 / #/*x{$value / 100});
  }

  @mixin text-indigo-100($value) {
    color: rgb(224 231 255 / #/*x{$value / 100});
  }

  @mixin text-indigo-200($value) {
    color: rgb(199 210 254 / #/*x{$value / 100});
  }

  @mixin text-indigo-300($value) {
    color: rgb(165 180 252 / #/*x{$value / 100});
  }

  @mixin text-indigo-400($value) {
    color: rgb(129 140 248 / #/*x{$value / 100});
  }

  @mixin text-indigo-500($value) {
    color: rgb(99 102 241 / #/*x{$value / 100});
  }

  @mixin text-indigo-600($value) {
    color: rgb(79 70 229 / #/*x{$value / 100});
  }

  @mixin text-indigo-700($value) {
    color: rgb(67 56 202 / #/*x{$value / 100});
  }

  @mixin text-indigo-800($value) {
    color: rgb(55 48 163 / #/*x{$value / 100});
  }

  @mixin text-indigo-900($value) {
    color: rgb(49 46 129 / #/*x{$value / 100});
  }

  @mixin text-indigo-950($value) {
    color: rgb(30 27 75 / #/*x{$value / 100});
  }

  @mixin text-violet-50($value) {
    color: rgb(245 243 255 / #/*x{$value / 100});
  }

  @mixin text-violet-100($value) {
    color: rgb(237 233 254 / #/*x{$value / 100});
  }

  @mixin text-violet-200($value) {
    color: rgb(221 214 254 / #/*x{$value / 100});
  }

  @mixin text-violet-300($value) {
    color: rgb(196 181 253 / #/*x{$value / 100});
  }

  @mixin text-violet-400($value) {
    color: rgb(167 139 250 / #/*x{$value / 100});
  }

  @mixin text-violet-500($value) {
    color: rgb(139 92 246 / #/*x{$value / 100});
  }

  @mixin text-violet-600($value) {
    color: rgb(124 58 237 / #/*x{$value / 100});
  }

  @mixin text-violet-700($value) {
    color: rgb(109 40 217 / #/*x{$value / 100});
  }

  @mixin text-violet-800($value) {
    color: rgb(91 33 182 / #/*x{$value / 100});
  }

  @mixin text-violet-900($value) {
    color: rgb(76 29 149 / #/*x{$value / 100});
  }

  @mixin text-violet-950($value) {
    color: rgb(46 16 101 / #/*x{$value / 100});
  }

  @mixin text-purple-50($value) {
    color: rgb(250 245 255 / #/*x{$value / 100});
  }

  @mixin text-purple-100($value) {
    color: rgb(243 232 255 / #/*x{$value / 100});
  }

  @mixin text-purple-200($value) {
    color: rgb(233 213 255 / #/*x{$value / 100});
  }

  @mixin text-purple-300($value) {
    color: rgb(216 180 254 / #/*x{$value / 100});
  }

  @mixin text-purple-400($value) {
    color: rgb(192 132 252 / #/*x{$value / 100});
  }

  @mixin text-purple-500($value) {
    color: rgb(168 85 247 / #/*x{$value / 100});
  }

  @mixin text-purple-600($value) {
    color: rgb(147 51 234 / #/*x{$value / 100});
  }

  @mixin text-purple-700($value) {
    color: rgb(126 34 206 / #/*x{$value / 100});
  }

  @mixin text-purple-800($value) {
    color: rgb(107 33 168 / #/*x{$value / 100});
  }

  @mixin text-purple-900($value) {
    color: rgb(88 28 135 / #/*x{$value / 100});
  }

  @mixin text-purple-950($value) {
    color: rgb(59 7 100 / #/*x{$value / 100});
  }

  @mixin text-fuchsia-50($value) {
    color: rgb(253 244 255 / #/*x{$value / 100});
  }

  @mixin text-fuchsia-100($value) {
    color: rgb(250 232 255 / #/*x{$value / 100});
  }

  @mixin text-fuchsia-200($value) {
    color: rgb(245 208 254 / #/*x{$value / 100});
  }

  @mixin text-fuchsia-300($value) {
    color: rgb(240 171 252 / #/*x{$value / 100});
  }

  @mixin text-fuchsia-400($value) {
    color: rgb(232 121 249 / #/*x{$value / 100});
  }

  @mixin text-fuchsia-500($value) {
    color: rgb(217 70 239 / #/*x{$value / 100});
  }

  @mixin text-fuchsia-600($value) {
    color: rgb(192 38 211 / #/*x{$value / 100});
  }

  @mixin text-fuchsia-700($value) {
    color: rgb(162 28 175 / #/*x{$value / 100});
  }

  @mixin text-fuchsia-800($value) {
    color: rgb(134 25 143 / #/*x{$value / 100});
  }

  @mixin text-fuchsia-900($value) {
    color: rgb(112 26 117 / #/*x{$value / 100});
  }

  @mixin text-fuchsia-950($value) {
    color: rgb(74 4 78 / #/*x{$value / 100});
  }

  @mixin text-pink-50($value) {
    color: rgb(253 242 248 / #/*x{$value / 100});
  }

  @mixin text-pink-100($value) {
    color: rgb(252 231 243 / #/*x{$value / 100});
  }

  @mixin text-pink-200($value) {
    color: rgb(251 207 232 / #/*x{$value / 100});
  }

  @mixin text-pink-300($value) {
    color: rgb(249 168 212 / #/*x{$value / 100});
  }

  @mixin text-pink-400($value) {
    color: rgb(244 114 182 / #/*x{$value / 100});
  }

  @mixin text-pink-500($value) {
    color: rgb(236 72 153 / #/*x{$value / 100});
  }

  @mixin text-pink-600($value) {
    color: rgb(219 39 119 / #/*x{$value / 100});
  }

  @mixin text-pink-700($value) {
    color: rgb(190 24 93 / #/*x{$value / 100});
  }

  @mixin text-pink-800($value) {
    color: rgb(157 23 77 / #/*x{$value / 100});
  }

  @mixin text-pink-900($value) {
    color: rgb(131 24 67 / #/*x{$value / 100});
  }

  @mixin text-pink-950($value) {
    color: rgb(80 7 36 / #/*x{$value / 100});
  }

  @mixin text-rose-50($value) {
    color: rgb(255 241 242 / #/*x{$value / 100});
  }

  @mixin text-rose-100($value) {
    color: rgb(255 228 230 / #/*x{$value / 100});
  }

  @mixin text-rose-200($value) {
    color: rgb(254 205 211 / #/*x{$value / 100});
  }

  @mixin text-rose-300($value) {
    color: rgb(253 164 175 / #/*x{$value / 100});
  }

  @mixin text-rose-400($value) {
    color: rgb(251 113 133 / #/*x{$value / 100});
  }

  @mixin text-rose-500($value) {
    color: rgb(244 63 94 / #/*x{$value / 100});
  }

  @mixin text-rose-600($value) {
    color: rgb(225 29 72 / #/*x{$value / 100});
  }

  @mixin text-rose-700($value) {
    color: rgb(190 18 60 / #/*x{$value / 100});
  }

  @mixin text-rose-800($value) {
    color: rgb(159 18 57 / #/*x{$value / 100});
  }

  @mixin text-rose-900($value) {
    color: rgb(136 19 55 / #/*x{$value / 100});
  }

  @mixin text-rose-950($value) {
    color: rgb(76 5 25 / #/*x{$value / 100});
  }x*/
}
