@use "../../setting" as *;

/* Text Color */
@if $Basic {
  /*x
  @mixin text-inherit {
    color: inherit;
  }

  @mixin text-current {
    color: currentColor;
  }

  @mixin text-transparent {
    color: transparent;
  }
  
  @mixin text-black($value: 1) {
  color: rgb(0 0 0 / get_Opa($value));
  }

  @mixin text-white($value: 1) {
    color: rgb(255 255 255 / get_Opa($value));
  }

  @mixin text-slate-50($value: 1) {
    color: rgb(248 250 252 / get_Opa($value));
  }

  @mixin text-slate-100($value: 1) {
    color: rgb(241 245 249 / get_Opa($value));
  }

  @mixin text-slate-200($value: 1) {
    color: rgb(226 232 240 / get_Opa($value));
  }

  @mixin text-slate-300($value: 1) {
    color: rgb(203 213 225 / get_Opa($value));
  }

  @mixin text-slate-400($value: 1) {
    color: rgb(148 163 184 / get_Opa($value));
  }

  @mixin text-slate-500($value: 1) {
    color: rgb(100 116 139 / get_Opa($value));
  }

  @mixin text-slate-600($value: 1) {
    color: rgb(71 85 105 / get_Opa($value));
  }

  @mixin text-slate-700($value: 1) {
    color: rgb(51 65 85 / get_Opa($value));
  }

  @mixin text-slate-800($value: 1) {
    color: rgb(30 41 59 / get_Opa($value));
  }

  @mixin text-slate-900($value: 1) {
    color: rgb(15 23 42 / get_Opa($value));
  }

  @mixin text-slate-950($value: 1) {
    color: rgb(2 6 23 / get_Opa($value));
  }

  @mixin text-gray-50($value: 1) {
    color: rgb(249 250 251 / get_Opa($value));
  }

  @mixin text-gray-100($value: 1) {
    color: rgb(243 244 246 / get_Opa($value));
  }

  @mixin text-gray-200($value: 1) {
    color: rgb(229 231 235 / get_Opa($value));
  }

  @mixin text-gray-300($value: 1) {
    color: rgb(209 213 219 / get_Opa($value));
  }

  @mixin text-gray-400($value: 1) {
    color: rgb(156 163 175 / get_Opa($value));
  }

  @mixin text-gray-500($value: 1) {
    color: rgb(107 114 128 / get_Opa($value));
  }

  @mixin text-gray-600($value: 1) {
    color: rgb(75 85 99 / get_Opa($value));
  }

  @mixin text-gray-700($value: 1) {
    color: rgb(55 65 81 / get_Opa($value));
  }

  @mixin text-gray-800($value: 1) {
    color: rgb(31 41 55 / get_Opa($value));
  }

  @mixin text-gray-900($value: 1) {
    color: rgb(17 24 39 / get_Opa($value));
  }

  @mixin text-gray-950($value: 1) {
    color: rgb(3 7 18 / get_Opa($value));
  }

  @mixin text-zinc-50($value: 1) {
    color: rgb(250 250 250 / get_Opa($value));
  }

  @mixin text-zinc-100($value: 1) {
    color: rgb(244 244 245 / get_Opa($value));
  }

  @mixin text-zinc-200($value: 1) {
    color: rgb(228 228 231 / get_Opa($value));
  }

  @mixin text-zinc-300($value: 1) {
    color: rgb(212 212 216 / get_Opa($value));
  }

  @mixin text-zinc-400($value: 1) {
    color: rgb(161 161 170 / get_Opa($value));
  }

  @mixin text-zinc-500($value: 1) {
    color: rgb(113 113 122 / get_Opa($value));
  }

  @mixin text-zinc-600($value: 1) {
    color: rgb(82 82 91 / get_Opa($value));
  }

  @mixin text-zinc-700($value: 1) {
    color: rgb(63 63 70 / get_Opa($value));
  }

  @mixin text-zinc-800($value: 1) {
    color: rgb(39 39 42 / get_Opa($value));
  }

  @mixin text-zinc-900($value: 1) {
    color: rgb(24 24 27 / get_Opa($value));
  }

  @mixin text-zinc-950($value: 1) {
    color: rgb(9 9 11 / get_Opa($value));
  }

  @mixin text-neutral-50($value: 1) {
    color: rgb(250 250 250 / get_Opa($value));
  }

  @mixin text-neutral-100($value: 1) {
    color: rgb(245 245 245 / get_Opa($value));
  }

  @mixin text-neutral-200($value: 1) {
    color: rgb(229 229 229 / get_Opa($value));
  }

  @mixin text-neutral-300($value: 1) {
    color: rgb(212 212 212 / get_Opa($value));
  }

  @mixin text-neutral-400($value: 1) {
    color: rgb(163 163 163 / get_Opa($value));
  }

  @mixin text-neutral-500($value: 1) {
    color: rgb(115 115 115 / get_Opa($value));
  }

  @mixin text-neutral-600($value: 1) {
    color: rgb(82 82 82 / get_Opa($value));
  }

  @mixin text-neutral-700($value: 1) {
    color: rgb(64 64 64 / get_Opa($value));
  }

  @mixin text-neutral-800($value: 1) {
    color: rgb(38 38 38 / get_Opa($value));
  }

  @mixin text-neutral-900($value: 1) {
    color: rgb(23 23 23 / get_Opa($value));
  }

  @mixin text-neutral-950($value: 1) {
    color: rgb(10 10 10 / get_Opa($value));
  }

  @mixin text-stone-50($value: 1) {
    color: rgb(250 250 249 / get_Opa($value));
  }

  @mixin text-stone-100($value: 1) {
    color: rgb(245 245 244 / get_Opa($value));
  }

  @mixin text-stone-200($value: 1) {
    color: rgb(231 229 228 / get_Opa($value));
  }

  @mixin text-stone-300($value: 1) {
    color: rgb(214 211 209 / get_Opa($value));
  }

  @mixin text-stone-400($value: 1) {
    color: rgb(168 162 158 / get_Opa($value));
  }

  @mixin text-stone-500($value: 1) {
    color: rgb(120 113 108 / get_Opa($value));
  }

  @mixin text-stone-600($value: 1) {
    color: rgb(87 83 78 / get_Opa($value));
  }

  @mixin text-stone-700($value: 1) {
    color: rgb(68 64 60 / get_Opa($value));
  }

  @mixin text-stone-800($value: 1) {
    color: rgb(41 37 36 / get_Opa($value));
  }

  @mixin text-stone-900($value: 1) {
    color: rgb(28 25 23 / get_Opa($value));
  }

  @mixin text-stone-950($value: 1) {
    color: rgb(12 10 9 / get_Opa($value));
  }

  @mixin text-red-50($value: 1) {
    color: rgb(254 242 242 / get_Opa($value));
  }

  @mixin text-red-100($value: 1) {
    color: rgb(254 226 226 / get_Opa($value));
  }

  @mixin text-red-200($value: 1) {
    color: rgb(254 202 202 / get_Opa($value));
  }

  @mixin text-red-300($value: 1) {
    color: rgb(252 165 165 / get_Opa($value));
  }

  @mixin text-red-400($value: 1) {
    color: rgb(248 113 113 / get_Opa($value));
  }

  @mixin text-red-500($value: 1) {
    color: rgb(239 68 68 / get_Opa($value));
  }

  @mixin text-red-600($value: 1) {
    color: rgb(220 38 38 / get_Opa($value));
  }

  @mixin text-red-700($value: 1) {
    color: rgb(185 28 28 / get_Opa($value));
  }

  @mixin text-red-800($value: 1) {
    color: rgb(153 27 27 / get_Opa($value));
  }

  @mixin text-red-900($value: 1) {
    color: rgb(127 29 29 / get_Opa($value));
  }

  @mixin text-red-950($value: 1) {
    color: rgb(69 10 10 / get_Opa($value));
  }

  @mixin text-orange-50($value: 1) {
    color: rgb(255 247 237 / get_Opa($value));
  }

  @mixin text-orange-100($value: 1) {
    color: rgb(255 237 213 / get_Opa($value));
  }

  @mixin text-orange-200($value: 1) {
    color: rgb(254 215 170 / get_Opa($value));
  }

  @mixin text-orange-300($value: 1) {
    color: rgb(253 186 116 / get_Opa($value));
  }

  @mixin text-orange-400($value: 1) {
    color: rgb(251 146 60 / get_Opa($value));
  }

  @mixin text-orange-500($value: 1) {
    color: rgb(249 115 22 / get_Opa($value));
  }

  @mixin text-orange-600($value: 1) {
    color: rgb(234 88 12 / get_Opa($value));
  }

  @mixin text-orange-700($value: 1) {
    color: rgb(194 65 12 / get_Opa($value));
  }

  @mixin text-orange-800($value: 1) {
    color: rgb(154 52 18 / get_Opa($value));
  }

  @mixin text-orange-900($value: 1) {
    color: rgb(124 45 18 / get_Opa($value));
  }

  @mixin text-orange-950($value: 1) {
    color: rgb(67 20 7 / get_Opa($value));
  }

  @mixin text-amber-50($value: 1) {
    color: rgb(255 251 235 / get_Opa($value));
  }

  @mixin text-amber-100($value: 1) {
    color: rgb(254 243 199 / get_Opa($value));
  }

  @mixin text-amber-200($value: 1) {
    color: rgb(253 230 138 / get_Opa($value));
  }

  @mixin text-amber-300($value: 1) {
    color: rgb(252 211 77 / get_Opa($value));
  }

  @mixin text-amber-400($value: 1) {
    color: rgb(251 191 36 / get_Opa($value));
  }

  @mixin text-amber-500($value: 1) {
    color: rgb(245 158 11 / get_Opa($value));
  }

  @mixin text-amber-600($value: 1) {
    color: rgb(217 119 6 / get_Opa($value));
  }

  @mixin text-amber-700($value: 1) {
    color: rgb(180 83 9 / get_Opa($value));
  }

  @mixin text-amber-800($value: 1) {
    color: rgb(146 64 14 / get_Opa($value));
  }

  @mixin text-amber-900($value: 1) {
    color: rgb(120 53 15 / get_Opa($value));
  }

  @mixin text-amber-950($value: 1) {
    color: rgb(69 26 3 / get_Opa($value));
  }

  @mixin text-yellow-50($value: 1) {
    color: rgb(254 252 232 / get_Opa($value));
  }

  @mixin text-yellow-100($value: 1) {
    color: rgb(254 249 195 / get_Opa($value));
  }

  @mixin text-yellow-200($value: 1) {
    color: rgb(254 240 138 / get_Opa($value));
  }

  @mixin text-yellow-300($value: 1) {
    color: rgb(253 224 71 / get_Opa($value));
  }

  @mixin text-yellow-400($value: 1) {
    color: rgb(250 204 21 / get_Opa($value));
  }

  @mixin text-yellow-500($value: 1) {
    color: rgb(234 179 8 / get_Opa($value));
  }

  @mixin text-yellow-600($value: 1) {
    color: rgb(202 138 4 / get_Opa($value));
  }

  @mixin text-yellow-700($value: 1) {
    color: rgb(161 98 7 / get_Opa($value));
  }

  @mixin text-yellow-800($value: 1) {
    color: rgb(133 77 14 / get_Opa($value));
  }

  @mixin text-yellow-900($value: 1) {
    color: rgb(113 63 18 / get_Opa($value));
  }

  @mixin text-yellow-950($value: 1) {
    color: rgb(66 32 6 / get_Opa($value));
  }

  @mixin text-lime-50($value: 1) {
    color: rgb(247 254 231 / get_Opa($value));
  }

  @mixin text-lime-100($value: 1) {
    color: rgb(236 252 203 / get_Opa($value));
  }

  @mixin text-lime-200($value: 1) {
    color: rgb(217 249 157 / get_Opa($value));
  }

  @mixin text-lime-300($value: 1) {
    color: rgb(190 242 100 / get_Opa($value));
  }

  @mixin text-lime-400($value: 1) {
    color: rgb(163 230 53 / get_Opa($value));
  }

  @mixin text-lime-500($value: 1) {
    color: rgb(132 204 22 / get_Opa($value));
  }

  @mixin text-lime-600($value: 1) {
    color: rgb(101 163 13 / get_Opa($value));
  }

  @mixin text-lime-700($value: 1) {
    color: rgb(77 124 15 / get_Opa($value));
  }

  @mixin text-lime-800($value: 1) {
    color: rgb(63 98 18 / get_Opa($value));
  }

  @mixin text-lime-900($value: 1) {
    color: rgb(54 83 20 / get_Opa($value));
  }

  @mixin text-lime-950($value: 1) {
    color: rgb(26 46 5 / get_Opa($value));
  }

  @mixin text-green-50($value: 1) {
    color: rgb(240 253 244 / get_Opa($value));
  }

  @mixin text-green-100($value: 1) {
    color: rgb(220 252 231 / get_Opa($value));
  }

  @mixin text-green-200($value: 1) {
    color: rgb(187 247 208 / get_Opa($value));
  }

  @mixin text-green-300($value: 1) {
    color: rgb(134 239 172 / get_Opa($value));
  }

  @mixin text-green-400($value: 1) {
    color: rgb(74 222 128 / get_Opa($value));
  }

  @mixin text-green-500($value: 1) {
    color: rgb(34 197 94 / get_Opa($value));
  }

  @mixin text-green-600($value: 1) {
    color: rgb(22 163 74 / get_Opa($value));
  }

  @mixin text-green-700($value: 1) {
    color: rgb(21 128 61 / get_Opa($value));
  }

  @mixin text-green-800($value: 1) {
    color: rgb(22 101 52 / get_Opa($value));
  }

  @mixin text-green-900($value: 1) {
    color: rgb(20 83 45 / get_Opa($value));
  }

  @mixin text-green-950($value: 1) {
    color: rgb(5 46 22 / get_Opa($value));
  }

  @mixin text-emerald-50($value: 1) {
    color: rgb(236 253 245 / get_Opa($value));
  }

  @mixin text-emerald-100($value: 1) {
    color: rgb(209 250 229 / get_Opa($value));
  }

  @mixin text-emerald-200($value: 1) {
    color: rgb(167 243 208 / get_Opa($value));
  }

  @mixin text-emerald-300($value: 1) {
    color: rgb(110 231 183 / get_Opa($value));
  }

  @mixin text-emerald-400($value: 1) {
    color: rgb(52 211 153 / get_Opa($value));
  }

  @mixin text-emerald-500($value: 1) {
    color: rgb(16 185 129 / get_Opa($value));
  }

  @mixin text-emerald-600($value: 1) {
    color: rgb(5 150 105 / get_Opa($value));
  }

  @mixin text-emerald-700($value: 1) {
    color: rgb(4 120 87 / get_Opa($value));
  }

  @mixin text-emerald-800($value: 1) {
    color: rgb(6 95 70 / get_Opa($value));
  }

  @mixin text-emerald-900($value: 1) {
    color: rgb(6 78 59 / get_Opa($value));
  }

  @mixin text-emerald-950($value: 1) {
    color: rgb(2 44 34 / get_Opa($value));
  }

  @mixin text-teal-50($value: 1) {
    color: rgb(240 253 250 / get_Opa($value));
  }

  @mixin text-teal-100($value: 1) {
    color: rgb(204 251 241 / get_Opa($value));
  }

  @mixin text-teal-200($value: 1) {
    color: rgb(153 246 228 / get_Opa($value));
  }

  @mixin text-teal-300($value: 1) {
    color: rgb(94 234 212 / get_Opa($value));
  }

  @mixin text-teal-400($value: 1) {
    color: rgb(45 212 191 / get_Opa($value));
  }

  @mixin text-teal-500($value: 1) {
    color: rgb(20 184 166 / get_Opa($value));
  }

  @mixin text-teal-600($value: 1) {
    color: rgb(13 148 136 / get_Opa($value));
  }

  @mixin text-teal-700($value: 1) {
    color: rgb(15 118 110 / get_Opa($value));
  }

  @mixin text-teal-800($value: 1) {
    color: rgb(17 94 89 / get_Opa($value));
  }

  @mixin text-teal-900($value: 1) {
    color: rgb(19 78 74 / get_Opa($value));
  }

  @mixin text-teal-950($value: 1) {
    color: rgb(4 47 46 / get_Opa($value));
  }

  @mixin text-cyan-50($value: 1) {
    color: rgb(236 254 255 / get_Opa($value));
  }

  @mixin text-cyan-100($value: 1) {
    color: rgb(207 250 254 / get_Opa($value));
  }

  @mixin text-cyan-200($value: 1) {
    color: rgb(165 243 252 / get_Opa($value));
  }

  @mixin text-cyan-300($value: 1) {
    color: rgb(103 232 249 / get_Opa($value));
  }

  @mixin text-cyan-400($value: 1) {
    color: rgb(34 211 238 / get_Opa($value));
  }

  @mixin text-cyan-500($value: 1) {
    color: rgb(6 182 212 / get_Opa($value));
  }

  @mixin text-cyan-600($value: 1) {
    color: rgb(8 145 178 / get_Opa($value));
  }

  @mixin text-cyan-700($value: 1) {
    color: rgb(14 116 144 / get_Opa($value));
  }

  @mixin text-cyan-800($value: 1) {
    color: rgb(21 94 117 / get_Opa($value));
  }

  @mixin text-cyan-900($value: 1) {
    color: rgb(22 78 99 / get_Opa($value));
  }

  @mixin text-cyan-950($value: 1) {
    color: rgb(8 51 68 / get_Opa($value));
  }

  @mixin text-sky-50($value: 1) {
    color: rgb(240 249 255 / get_Opa($value));
  }

  @mixin text-sky-100($value: 1) {
    color: rgb(224 242 254 / get_Opa($value));
  }

  @mixin text-sky-200($value: 1) {
    color: rgb(186 230 253 / get_Opa($value));
  }

  @mixin text-sky-300($value: 1) {
    color: rgb(125 211 252 / get_Opa($value));
  }

  @mixin text-sky-400($value: 1) {
    color: rgb(56 189 248 / get_Opa($value));
  }

  @mixin text-sky-500($value: 1) {
    color: rgb(14 165 233 / get_Opa($value));
  }

  @mixin text-sky-600($value: 1) {
    color: rgb(2 132 199 / get_Opa($value));
  }

  @mixin text-sky-700($value: 1) {
    color: rgb(3 105 161 / get_Opa($value));
  }

  @mixin text-sky-800($value: 1) {
    color: rgb(7 89 133 / get_Opa($value));
  }

  @mixin text-sky-900($value: 1) {
    color: rgb(12 74 110 / get_Opa($value));
  }

  @mixin text-sky-950($value: 1) {
    color: rgb(8 47 73 / get_Opa($value));
  }

  @mixin text-blue-50($value: 1) {
    color: rgb(239 246 255 / get_Opa($value));
  }

  @mixin text-blue-100($value: 1) {
    color: rgb(219 234 254 / get_Opa($value));
  }

  @mixin text-blue-200($value: 1) {
    color: rgb(191 219 254 / get_Opa($value));
  }

  @mixin text-blue-300($value: 1) {
    color: rgb(147 197 253 / get_Opa($value));
  }

  @mixin text-blue-400($value: 1) {
    color: rgb(96 165 250 / get_Opa($value));
  }

  @mixin text-blue-500($value: 1) {
    color: rgb(59 130 246 / get_Opa($value));
  }

  @mixin text-blue-600($value: 1) {
    color: rgb(37 99 235 / get_Opa($value));
  }

  @mixin text-blue-700($value: 1) {
    color: rgb(29 78 216 / get_Opa($value));
  }

  @mixin text-blue-800($value: 1) {
    color: rgb(30 64 175 / get_Opa($value));
  }

  @mixin text-blue-900($value: 1) {
    color: rgb(30 58 138 / get_Opa($value));
  }

  @mixin text-blue-950($value: 1) {
    color: rgb(23 37 84 / get_Opa($value));
  }

  @mixin text-indigo-50($value: 1) {
    color: rgb(238 242 255 / get_Opa($value));
  }

  @mixin text-indigo-100($value: 1) {
    color: rgb(224 231 255 / get_Opa($value));
  }

  @mixin text-indigo-200($value: 1) {
    color: rgb(199 210 254 / get_Opa($value));
  }

  @mixin text-indigo-300($value: 1) {
    color: rgb(165 180 252 / get_Opa($value));
  }

  @mixin text-indigo-400($value: 1) {
    color: rgb(129 140 248 / get_Opa($value));
  }

  @mixin text-indigo-500($value: 1) {
    color: rgb(99 102 241 / get_Opa($value));
  }

  @mixin text-indigo-600($value: 1) {
    color: rgb(79 70 229 / get_Opa($value));
  }

  @mixin text-indigo-700($value: 1) {
    color: rgb(67 56 202 / get_Opa($value));
  }

  @mixin text-indigo-800($value: 1) {
    color: rgb(55 48 163 / get_Opa($value));
  }

  @mixin text-indigo-900($value: 1) {
    color: rgb(49 46 129 / get_Opa($value));
  }

  @mixin text-indigo-950($value: 1) {
    color: rgb(30 27 75 / get_Opa($value));
  }

  @mixin text-violet-50($value: 1) {
    color: rgb(245 243 255 / get_Opa($value));
  }

  @mixin text-violet-100($value: 1) {
    color: rgb(237 233 254 / get_Opa($value));
  }

  @mixin text-violet-200($value: 1) {
    color: rgb(221 214 254 / get_Opa($value));
  }

  @mixin text-violet-300($value: 1) {
    color: rgb(196 181 253 / get_Opa($value));
  }

  @mixin text-violet-400($value: 1) {
    color: rgb(167 139 250 / get_Opa($value));
  }

  @mixin text-violet-500($value: 1) {
    color: rgb(139 92 246 / get_Opa($value));
  }

  @mixin text-violet-600($value: 1) {
    color: rgb(124 58 237 / get_Opa($value));
  }

  @mixin text-violet-700($value: 1) {
    color: rgb(109 40 217 / get_Opa($value));
  }

  @mixin text-violet-800($value: 1) {
    color: rgb(91 33 182 / get_Opa($value));
  }

  @mixin text-violet-900($value: 1) {
    color: rgb(76 29 149 / get_Opa($value));
  }

  @mixin text-violet-950($value: 1) {
    color: rgb(46 16 101 / get_Opa($value));
  }

  @mixin text-purple-50($value: 1) {
    color: rgb(250 245 255 / get_Opa($value));
  }

  @mixin text-purple-100($value: 1) {
    color: rgb(243 232 255 / get_Opa($value));
  }

  @mixin text-purple-200($value: 1) {
    color: rgb(233 213 255 / get_Opa($value));
  }

  @mixin text-purple-300($value: 1) {
    color: rgb(216 180 254 / get_Opa($value));
  }

  @mixin text-purple-400($value: 1) {
    color: rgb(192 132 252 / get_Opa($value));
  }

  @mixin text-purple-500($value: 1) {
    color: rgb(168 85 247 / get_Opa($value));
  }

  @mixin text-purple-600($value: 1) {
    color: rgb(147 51 234 / get_Opa($value));
  }

  @mixin text-purple-700($value: 1) {
    color: rgb(126 34 206 / get_Opa($value));
  }

  @mixin text-purple-800($value: 1) {
    color: rgb(107 33 168 / get_Opa($value));
  }

  @mixin text-purple-900($value: 1) {
    color: rgb(88 28 135 / get_Opa($value));
  }

  @mixin text-purple-950($value: 1) {
    color: rgb(59 7 100 / get_Opa($value));
  }

  @mixin text-fuchsia-50($value: 1) {
    color: rgb(253 244 255 / get_Opa($value));
  }

  @mixin text-fuchsia-100($value: 1) {
    color: rgb(250 232 255 / get_Opa($value));
  }

  @mixin text-fuchsia-200($value: 1) {
    color: rgb(245 208 254 / get_Opa($value));
  }

  @mixin text-fuchsia-300($value: 1) {
    color: rgb(240 171 252 / get_Opa($value));
  }

  @mixin text-fuchsia-400($value: 1) {
    color: rgb(232 121 249 / get_Opa($value));
  }

  @mixin text-fuchsia-500($value: 1) {
    color: rgb(217 70 239 / get_Opa($value));
  }

  @mixin text-fuchsia-600($value: 1) {
    color: rgb(192 38 211 / get_Opa($value));
  }

  @mixin text-fuchsia-700($value: 1) {
    color: rgb(162 28 175 / get_Opa($value));
  }

  @mixin text-fuchsia-800($value: 1) {
    color: rgb(134 25 143 / get_Opa($value));
  }

  @mixin text-fuchsia-900($value: 1) {
    color: rgb(112 26 117 / get_Opa($value));
  }

  @mixin text-fuchsia-950($value: 1) {
    color: rgb(74 4 78 / get_Opa($value));
  }

  @mixin text-pink-50($value: 1) {
    color: rgb(253 242 248 / get_Opa($value));
  }

  @mixin text-pink-100($value: 1) {
    color: rgb(252 231 243 / get_Opa($value));
  }

  @mixin text-pink-200($value: 1) {
    color: rgb(251 207 232 / get_Opa($value));
  }

  @mixin text-pink-300($value: 1) {
    color: rgb(249 168 212 / get_Opa($value));
  }

  @mixin text-pink-400($value: 1) {
    color: rgb(244 114 182 / get_Opa($value));
  }

  @mixin text-pink-500($value: 1) {
    color: rgb(236 72 153 / get_Opa($value));
  }

  @mixin text-pink-600($value: 1) {
    color: rgb(219 39 119 / get_Opa($value));
  }

  @mixin text-pink-700($value: 1) {
    color: rgb(190 24 93 / get_Opa($value));
  }

  @mixin text-pink-800($value: 1) {
    color: rgb(157 23 77 / get_Opa($value));
  }

  @mixin text-pink-900($value: 1) {
    color: rgb(131 24 67 / get_Opa($value));
  }

  @mixin text-pink-950($value: 1) {
    color: rgb(80 7 36 / get_Opa($value));
  }

  @mixin text-rose-50($value: 1) {
    color: rgb(255 241 242 / get_Opa($value));
  }

  @mixin text-rose-100($value: 1) {
    color: rgb(255 228 230 / get_Opa($value));
  }

  @mixin text-rose-200($value: 1) {
    color: rgb(254 205 211 / get_Opa($value));
  }

  @mixin text-rose-300($value: 1) {
    color: rgb(253 164 175 / get_Opa($value));
  }

  @mixin text-rose-400($value: 1) {
    color: rgb(251 113 133 / get_Opa($value));
  }

  @mixin text-rose-500($value: 1) {
    color: rgb(244 63 94 / get_Opa($value));
  }

  @mixin text-rose-600($value: 1) {
    color: rgb(225 29 72 / get_Opa($value));
  }

  @mixin text-rose-700($value: 1) {
    color: rgb(190 18 60 / get_Opa($value));
  }

  @mixin text-rose-800($value: 1) {
    color: rgb(159 18 57 / get_Opa($value));
  }

  @mixin text-rose-900($value: 1) {
    color: rgb(136 19 55 / get_Opa($value));
  }

  @mixin text-rose-950($value: 1) {
    color: rgb(76 5 25 / get_Opa($value));
  }
  x*/
}

@if $Rwd {
  // reducing size for updating speed
  @if $isLiteMode {
    /*x
    @mixin sm\:text-color-($value) {
      @media (min-width: $rwd-sm) {
        color: $value;
      }
    }

    @mixin md\:text-color-($value) {
      @media (min-width: $rwd-md) {
        color: $value;
      }
    }

    @mixin lg\:text-color-($value) {
      @media (min-width: $rwd-lg) {
        color: $value;
      }
    }

    @mixin xl\:text-color-($value) {
      @media (min-width: $rwd-xl) {
        color: $value;
      }
    }

    @mixin \2xl\:text-color-($value) {
      @media (min-width: $rwd-2xl) {
        color: $value;
      }
    }x*/
  }

  // tailwind default
  @else {
  }
}

/* Naming collision: text -> text-color */
@if $Custom {
  /*x
  @mixin text-color-($value) {
    color: $value;
  }
  x*/
}
