@use "../../setting" as *;

// flex is same as atomic class
@if $Basic {
  // /*x
  @mixin block {
    display: block;
  }

  @mixin inline-block {
    display: inline-block;
  }

  @mixin inline {
    display: inline;
  }

  @mixin inline-flex {
    display: inline-flex;
  }

  @mixin table {
    display: table;
  }

  @mixin inline-table {
    display: inline-table;
  }

  @mixin table-caption {
    display: table-caption;
  }

  @mixin table-cell {
    display: table-cell;
  }

  @mixin table-column {
    display: table-column;
  }

  @mixin table-column-group {
    display: table-column-group;
  }

  @mixin table-footer-group {
    display: table-footer-group;
  }

  @mixin table-header-group {
    display: table-header-group;
  }

  @mixin table-row-group {
    display: table-row-group;
  }

  @mixin table-row {
    display: table-row;
  }

  @mixin flow-root {
    display: flow-root;
  }

  @mixin grid {
    display: grid;
  }

  @mixin inline-grid {
    display: inline-grid;
  }

  @mixin contents {
    display: contents;
  }

  @mixin list-item {
    display: list-item;
  }

  @mixin hidden {
    display: none;
  }

  // x*/
}

@if $Rwd {
  // /*x
  @mixin sm\:block {
    @include display(block, $sm);
  }

  @mixin sm\:inline-block {
    @include display(inline-block, $sm);
  }

  @mixin sm\:inline {
    @include display(inline, $sm);
  }

  @mixin sm\:flex {
    @include display(flex, $sm);
  }

  @mixin sm\:inline-flex {
    @include display(inline-flex, $sm);
  }

  @mixin sm\:table {
    @include display(table, $sm);
  }

  @mixin sm\:inline-table {
    @include display(inline-table, $sm);
  }

  @mixin sm\:table-caption {
    @include display(table-caption, $sm);
  }

  @mixin sm\:table-cell {
    @include display(table-cell, $sm);
  }

  @mixin sm\:table-column {
    @include display(table-column, $sm);
  }

  @mixin sm\:table-column-group {
    @include display(table-column-group, $sm);
  }

  @mixin sm\:table-footer-group {
    @include display(table-footer-group, $sm);
  }

  @mixin sm\:table-header-group {
    @include display(table-header-group, $sm);
  }

  @mixin sm\:table-row-group {
    @include display(table-row-group, $sm);
  }

  @mixin sm\:table-row {
    @include display(table-row, $sm);
  }

  @mixin sm\:flow-root {
    @include display(flow-root, $sm);
  }

  @mixin sm\:grid {
    @include display(grid, $sm);
  }

  @mixin sm\:inline-grid {
    @include display(inline-grid, $sm);
  }

  @mixin sm\:contents {
    @include display(contents, $sm);
  }

  @mixin sm\:list-item {
    @include display(list-item, $sm);
  }

  @mixin sm\:hidden {
    @include display(none, $sm);
  }

  @mixin md\:block {
    @include display(block, $md);
  }

  @mixin md\:inline-block {
    @include display(inline-block, $md);
  }

  @mixin md\:inline {
    @include display(inline, $md);
  }

  @mixin md\:flex {
    @include display(flex, $md);
  }

  @mixin md\:inline-flex {
    @include display(inline-flex, $md);
  }

  @mixin md\:table {
    @include display(table, $md);
  }

  @mixin md\:inline-table {
    @include display(inline-table, $md);
  }

  @mixin md\:table-caption {
    @include display(table-caption, $md);
  }

  @mixin md\:table-cell {
    @include display(table-cell, $md);
  }

  @mixin md\:table-column {
    @include display(table-column, $md);
  }

  @mixin md\:table-column-group {
    @include display(table-column-group, $md);
  }

  @mixin md\:table-footer-group {
    @include display(table-footer-group, $md);
  }

  @mixin md\:table-header-group {
    @include display(table-header-group, $md);
  }

  @mixin md\:table-row-group {
    @include display(table-row-group, $md);
  }

  @mixin md\:table-row {
    @include display(table-row, $md);
  }

  @mixin md\:flow-root {
    @include display(flow-root, $md);
  }

  @mixin md\:grid {
    @include display(grid, $md);
  }

  @mixin md\:inline-grid {
    @include display(inline-grid, $md);
  }

  @mixin md\:contents {
    @include display(contents, $md);
  }

  @mixin md\:list-item {
    @include display(list-item, $md);
  }

  @mixin md\:hidden {
    @include display(none, $md);
  }

  @mixin lg\:block {
    @include display(block, $lg);
  }

  @mixin lg\:inline-block {
    @include display(inline-block, $lg);
  }

  @mixin lg\:inline {
    @include display(inline, $lg);
  }

  @mixin lg\:flex {
    @include display(flex, $lg);
  }

  @mixin lg\:inline-flex {
    @include display(inline-flex, $lg);
  }

  @mixin lg\:table {
    @include display(table, $lg);
  }

  @mixin lg\:inline-table {
    @include display(inline-table, $lg);
  }

  @mixin lg\:table-caption {
    @include display(table-caption, $lg);
  }

  @mixin lg\:table-cell {
    @include display(table-cell, $lg);
  }

  @mixin lg\:table-column {
    @include display(table-column, $lg);
  }

  @mixin lg\:table-column-group {
    @include display(table-column-group, $lg);
  }

  @mixin lg\:table-footer-group {
    @include display(table-footer-group, $lg);
  }

  @mixin lg\:table-header-group {
    @include display(table-header-group, $lg);
  }

  @mixin lg\:table-row-group {
    @include display(table-row-group, $lg);
  }

  @mixin lg\:table-row {
    @include display(table-row, $lg);
  }

  @mixin lg\:flow-root {
    @include display(flow-root, $lg);
  }

  @mixin lg\:grid {
    @include display(grid, $lg);
  }

  @mixin lg\:inline-grid {
    @include display(inline-grid, $lg);
  }

  @mixin lg\:contents {
    @include display(contents, $lg);
  }

  @mixin lg\:list-item {
    @include display(list-item, $lg);
  }

  @mixin lg\:hidden {
    @include display(none, $lg);
  }

  @mixin xl\:block {
    @include display(block, $xl);
  }

  @mixin xl\:inline-block {
    @include display(inline-block, $xl);
  }

  @mixin xl\:inline {
    @include display(inline, $xl);
  }

  @mixin xl\:flex {
    @include display(flex, $xl);
  }

  @mixin xl\:inline-flex {
    @include display(inline-flex, $xl);
  }

  @mixin xl\:table {
    @include display(table, $xl);
  }

  @mixin xl\:inline-table {
    @include display(inline-table, $xl);
  }

  @mixin xl\:table-caption {
    @include display(table-caption, $xl);
  }

  @mixin xl\:table-cell {
    @include display(table-cell, $xl);
  }

  @mixin xl\:table-column {
    @include display(table-column, $xl);
  }

  @mixin xl\:table-column-group {
    @include display(table-column-group, $xl);
  }

  @mixin xl\:table-footer-group {
    @include display(table-footer-group, $xl);
  }

  @mixin xl\:table-header-group {
    @include display(table-header-group, $xl);
  }

  @mixin xl\:table-row-group {
    @include display(table-row-group, $xl);
  }

  @mixin xl\:table-row {
    @include display(table-row, $xl);
  }

  @mixin xl\:flow-root {
    @include display(flow-root, $xl);
  }

  @mixin xl\:grid {
    @include display(grid, $xl);
  }

  @mixin xl\:inline-grid {
    @include display(inline-grid, $xl);
  }

  @mixin xl\:contents {
    @include display(contents, $xl);
  }

  @mixin xl\:list-item {
    @include display(list-item, $xl);
  }

  @mixin xl\:hidden {
    @include display(none, $xl);
  }

  @mixin \2xl\:block {
    @include display(block, $\2xl);
  }

  @mixin \2xl\:inline-block {
    @include display(inline-block, $\2xl);
  }

  @mixin \2xl\:inline {
    @include display(inline, $\2xl);
  }

  @mixin \2xl\:flex {
    @include display(flex, $\2xl);
  }

  @mixin \2xl\:inline-flex {
    @include display(inline-flex, $\2xl);
  }

  @mixin \2xl\:table {
    @include display(table, $\2xl);
  }

  @mixin \2xl\:inline-table {
    @include display(inline-table, $\2xl);
  }

  @mixin \2xl\:table-caption {
    @include display(table-caption, $\2xl);
  }

  @mixin \2xl\:table-cell {
    @include display(table-cell, $\2xl);
  }

  @mixin \2xl\:table-column {
    @include display(table-column, $\2xl);
  }

  @mixin \2xl\:table-column-group {
    @include display(table-column-group, $\2xl);
  }

  @mixin \2xl\:table-footer-group {
    @include display(table-footer-group, $\2xl);
  }

  @mixin \2xl\:table-header-group {
    @include display(table-header-group, $\2xl);
  }

  @mixin \2xl\:table-row-group {
    @include display(table-row-group, $\2xl);
  }

  @mixin \2xl\:table-row {
    @include display(table-row, $\2xl);
  }

  @mixin \2xl\:flow-root {
    @include display(flow-root, $\2xl);
  }

  @mixin \2xl\:grid {
    @include display(grid, $\2xl);
  }

  @mixin \2xl\:inline-grid {
    @include display(inline-grid, $\2xl);
  }

  @mixin \2xl\:contents {
    @include display(contents, $\2xl);
  }

  @mixin \2xl\:list-item {
    @include display(list-item, $\2xl);
  }

  @mixin \2xl\:hidden {
    @include display(none, $\2xl);
  }
  // x*/
}
