@use "../../setting" as *;

/* Display */
// flex is same as atomic class
@if $Basic {
  // /*x
  @mixin block {
    display: block;
  }

  @mixin inline-block {
    display: inline-block;
  }

  @mixin inline {
    display: inline;
  }

  @mixin inline-flex {
    display: inline-flex;
  }

  @mixin table {
    display: table;
  }

  @mixin inline-table {
    display: inline-table;
  }

  @mixin table-caption {
    display: table-caption;
  }

  @mixin table-cell {
    display: table-cell;
  }

  @mixin table-column {
    display: table-column;
  }

  @mixin table-column-group {
    display: table-column-group;
  }

  @mixin table-footer-group {
    display: table-footer-group;
  }

  @mixin table-header-group {
    display: table-header-group;
  }

  @mixin table-row-group {
    display: table-row-group;
  }

  @mixin table-row {
    display: table-row;
  }

  @mixin flow-root {
    display: flow-root;
  }

  @mixin grid {
    display: grid;
  }

  @mixin inline-grid {
    display: inline-grid;
  }

  @mixin contents {
    display: contents;
  }

  @mixin list-item {
    display: list-item;
  }

  @mixin hidden {
    display: none;
  }

  // x*/
}

@if $Rwd {
  // /*x
  @mixin sm\:block {
    @include sm\:display(block);
  }

  @mixin sm\:inline-block {
    @include sm\:display(inline-block);
  }

  @mixin sm\:inline {
    @include sm\:display(inline);
  }

  @mixin sm\:inline-flex {
    @include sm\:display(inline-flex);
  }

  @mixin sm\:table {
    @include sm\:display(table);
  }

  @mixin sm\:inline-table {
    @include sm\:display(inline-table);
  }

  @mixin sm\:table-caption {
    @include sm\:display(table-caption);
  }

  @mixin sm\:table-cell {
    @include sm\:display(table-cell);
  }

  @mixin sm\:table-column {
    @include sm\:display(table-column);
  }

  @mixin sm\:table-column-group {
    @include sm\:display(table-column-group);
  }

  @mixin sm\:table-footer-group {
    @include sm\:display(table-footer-group);
  }

  @mixin sm\:table-header-group {
    @include sm\:display(table-header-group);
  }

  @mixin sm\:table-row-group {
    @include sm\:display(table-row-group);
  }

  @mixin sm\:table-row {
    @include sm\:display(table-row);
  }

  @mixin sm\:flow-root {
    @include sm\:display(flow-root);
  }

  @mixin sm\:grid {
    @include sm\:display(grid);
  }

  @mixin sm\:inline-grid {
    @include sm\:display(inline-grid);
  }

  @mixin sm\:contents {
    @include sm\:display(contents);
  }

  @mixin sm\:list-item {
    @include sm\:display(list-item);
  }

  @mixin sm\:hidden {
    @include sm\:display(none);
  }

  @mixin md\:block {
    @include md\:display(block);
  }

  @mixin md\:inline-block {
    @include md\:display(inline-block);
  }

  @mixin md\:inline {
    @include md\:display(inline);
  }

  @mixin md\:inline-flex {
    @include md\:display(inline-flex);
  }

  @mixin md\:table {
    @include md\:display(table);
  }

  @mixin md\:inline-table {
    @include md\:display(inline-table);
  }

  @mixin md\:table-caption {
    @include md\:display(table-caption);
  }

  @mixin md\:table-cell {
    @include md\:display(table-cell);
  }

  @mixin md\:table-column {
    @include md\:display(table-column);
  }

  @mixin md\:table-column-group {
    @include md\:display(table-column-group);
  }

  @mixin md\:table-footer-group {
    @include md\:display(table-footer-group);
  }

  @mixin md\:table-header-group {
    @include md\:display(table-header-group);
  }

  @mixin md\:table-row-group {
    @include md\:display(table-row-group);
  }

  @mixin md\:table-row {
    @include md\:display(table-row);
  }

  @mixin md\:flow-root {
    @include md\:display(flow-root);
  }

  @mixin md\:grid {
    @include md\:display(grid);
  }

  @mixin md\:inline-grid {
    @include md\:display(inline-grid);
  }

  @mixin md\:contents {
    @include md\:display(contents);
  }

  @mixin md\:list-item {
    @include md\:display(list-item);
  }

  @mixin md\:hidden {
    @include md\:display(none);
  }

  @mixin lg\:block {
    @include lg\:display(block);
  }

  @mixin lg\:inline-block {
    @include lg\:display(inline-block);
  }

  @mixin lg\:inline {
    @include lg\:display(inline);
  }

  @mixin lg\:inline-flex {
    @include lg\:display(inline-flex);
  }

  @mixin lg\:table {
    @include lg\:display(table);
  }

  @mixin lg\:inline-table {
    @include lg\:display(inline-table);
  }

  @mixin lg\:table-caption {
    @include lg\:display(table-caption);
  }

  @mixin lg\:table-cell {
    @include lg\:display(table-cell);
  }

  @mixin lg\:table-column {
    @include lg\:display(table-column);
  }

  @mixin lg\:table-column-group {
    @include lg\:display(table-column-group);
  }

  @mixin lg\:table-footer-group {
    @include lg\:display(table-footer-group);
  }

  @mixin lg\:table-header-group {
    @include lg\:display(table-header-group);
  }

  @mixin lg\:table-row-group {
    @include lg\:display(table-row-group);
  }

  @mixin lg\:table-row {
    @include lg\:display(table-row);
  }

  @mixin lg\:flow-root {
    @include lg\:display(flow-root);
  }

  @mixin lg\:grid {
    @include lg\:display(grid);
  }

  @mixin lg\:inline-grid {
    @include lg\:display(inline-grid);
  }

  @mixin lg\:contents {
    @include lg\:display(contents);
  }

  @mixin lg\:list-item {
    @include lg\:display(list-item);
  }

  @mixin lg\:hidden {
    @include lg\:display(none);
  }

  @mixin xl\:block {
    @include xl\:display(block);
  }

  @mixin xl\:inline-block {
    @include xl\:display(inline-block);
  }

  @mixin xl\:inline {
    @include xl\:display(inline);
  }

  @mixin xl\:inline-flex {
    @include xl\:display(inline-flex);
  }

  @mixin xl\:table {
    @include xl\:display(table);
  }

  @mixin xl\:inline-table {
    @include xl\:display(inline-table);
  }

  @mixin xl\:table-caption {
    @include xl\:display(table-caption);
  }

  @mixin xl\:table-cell {
    @include xl\:display(table-cell);
  }

  @mixin xl\:table-column {
    @include xl\:display(table-column);
  }

  @mixin xl\:table-column-group {
    @include xl\:display(table-column-group);
  }

  @mixin xl\:table-footer-group {
    @include xl\:display(table-footer-group);
  }

  @mixin xl\:table-header-group {
    @include xl\:display(table-header-group);
  }

  @mixin xl\:table-row-group {
    @include xl\:display(table-row-group);
  }

  @mixin xl\:table-row {
    @include xl\:display(table-row);
  }

  @mixin xl\:flow-root {
    @include xl\:display(flow-root);
  }

  @mixin xl\:grid {
    @include xl\:display(grid);
  }

  @mixin xl\:inline-grid {
    @include xl\:display(inline-grid);
  }

  @mixin xl\:contents {
    @include xl\:display(contents);
  }

  @mixin xl\:list-item {
    @include xl\:display(list-item);
  }

  @mixin xl\:hidden {
    @include xl\:display(none);
  }

  @mixin \2xl\:block {
    @include \2xl\:display(block);
  }

  @mixin \2xl\:inline-block {
    @include \2xl\:display(inline-block);
  }

  @mixin \2xl\:inline {
    @include \2xl\:display(inline);
  }

  @mixin \2xl\:inline-flex {
    @include \2xl\:display(inline-flex);
  }

  @mixin \2xl\:table {
    @include \2xl\:display(table);
  }

  @mixin \2xl\:inline-table {
    @include \2xl\:display(inline-table);
  }

  @mixin \2xl\:table-caption {
    @include \2xl\:display(table-caption);
  }

  @mixin \2xl\:table-cell {
    @include \2xl\:display(table-cell);
  }

  @mixin \2xl\:table-column {
    @include \2xl\:display(table-column);
  }

  @mixin \2xl\:table-column-group {
    @include \2xl\:display(table-column-group);
  }

  @mixin \2xl\:table-footer-group {
    @include \2xl\:display(table-footer-group);
  }

  @mixin \2xl\:table-header-group {
    @include \2xl\:display(table-header-group);
  }

  @mixin \2xl\:table-row-group {
    @include \2xl\:display(table-row-group);
  }

  @mixin \2xl\:table-row {
    @include \2xl\:display(table-row);
  }

  @mixin \2xl\:flow-root {
    @include \2xl\:display(flow-root);
  }

  @mixin \2xl\:grid {
    @include \2xl\:display(grid);
  }

  @mixin \2xl\:inline-grid {
    @include \2xl\:display(inline-grid);
  }

  @mixin \2xl\:contents {
    @include \2xl\:display(contents);
  }

  @mixin \2xl\:list-item {
    @include \2xl\:display(list-item);
  }

  @mixin \2xl\:hidden {
    @include \2xl\:display(none);
  }
  // x*/
}
