@use "../../mode0" as *;
@use "true" as *;

@include describe("5.Typography") {
  @include describe("Text Overflow") {
    @include describe("Basic") {
      @include it("underline-offset-auto") {
        @include assert {
          @include output {
            @include underline-offset-auto;
            @include reset;
          }

          @include expect {
            text-underline-offset: auto;
          }
        }
      }

      @include it("underline-offset-0") {
        @include assert {
          @include output {
            @include underline-offset-0;
            @include reset;
          }

          @include expect {
            text-underline-offset: 0px;
          }
        }
      }

      @include it("underline-offset-1") {
        @include assert {
          @include output {
            @include underline-offset-1;
            @include reset;
          }

          @include expect {
            text-underline-offset: 1px;
          }
        }
      }

      @include it("underline-offset-2") {
        @include assert {
          @include output {
            @include underline-offset-2;
            @include reset;
          }

          @include expect {
            text-underline-offset: 2px;
          }
        }
      }

      @include it("underline-offset-4") {
        @include assert {
          @include output {
            @include underline-offset-4;
            @include reset;
          }

          @include expect {
            text-underline-offset: 4px;
          }
        }
      }

      @include it("underline-offset-8") {
        @include assert {
          @include output {
            @include underline-offset-8;
            @include reset;
          }

          @include expect {
            text-underline-offset: 8px;
          }
        }
      }
    }

    @include describe("Rwd") {
      @include it("sm\:underline-offset-auto") {
        @include assert {
          @include output {
            @include sm\:underline-offset-auto;
            @include reset;
          }

          @include expect {
            @media (min-width: $sm) {
              text-underline-offset: auto;
            }
          }
        }
      }

      @include it("sm\:underline-offset-0") {
        @include assert {
          @include output {
            @include sm\:underline-offset-0;
            @include reset;
          }

          @include expect {
            @media (min-width: $sm) {
              text-underline-offset: 0px;
            }
          }
        }
      }

      @include it("sm\:underline-offset-1") {
        @include assert {
          @include output {
            @include sm\:underline-offset-1;
            @include reset;
          }

          @include expect {
            @media (min-width: $sm) {
              text-underline-offset: 1px;
            }
          }
        }
      }

      @include it("sm\:underline-offset-2") {
        @include assert {
          @include output {
            @include sm\:underline-offset-2;
            @include reset;
          }

          @include expect {
            @media (min-width: $sm) {
              text-underline-offset: 2px;
            }
          }
        }
      }

      @include it("sm\:underline-offset-4") {
        @include assert {
          @include output {
            @include sm\:underline-offset-4;
            @include reset;
          }

          @include expect {
            @media (min-width: $sm) {
              text-underline-offset: 4px;
            }
          }
        }
      }

      @include it("sm\:underline-offset-8") {
        @include assert {
          @include output {
            @include sm\:underline-offset-8;
            @include reset;
          }

          @include expect {
            @media (min-width: $sm) {
              text-underline-offset: 8px;
            }
          }
        }
      }

      @include it("md\:underline-offset-auto") {
        @include assert {
          @include output {
            @include md\:underline-offset-auto;
            @include reset;
          }

          @include expect {
            @media (min-width: $md) {
              text-underline-offset: auto;
            }
          }
        }
      }

      @include it("md\:underline-offset-0") {
        @include assert {
          @include output {
            @include md\:underline-offset-0;
            @include reset;
          }

          @include expect {
            @media (min-width: $md) {
              text-underline-offset: 0px;
            }
          }
        }
      }

      @include it("md\:underline-offset-1") {
        @include assert {
          @include output {
            @include md\:underline-offset-1;
            @include reset;
          }

          @include expect {
            @media (min-width: $md) {
              text-underline-offset: 1px;
            }
          }
        }
      }

      @include it("md\:underline-offset-2") {
        @include assert {
          @include output {
            @include md\:underline-offset-2;
            @include reset;
          }

          @include expect {
            @media (min-width: $md) {
              text-underline-offset: 2px;
            }
          }
        }
      }

      @include it("md\:underline-offset-4") {
        @include assert {
          @include output {
            @include md\:underline-offset-4;
            @include reset;
          }

          @include expect {
            @media (min-width: $md) {
              text-underline-offset: 4px;
            }
          }
        }
      }

      @include it("md\:underline-offset-8") {
        @include assert {
          @include output {
            @include md\:underline-offset-8;
            @include reset;
          }

          @include expect {
            @media (min-width: $md) {
              text-underline-offset: 8px;
            }
          }
        }
      }

      @include it("lg\:underline-offset-auto") {
        @include assert {
          @include output {
            @include lg\:underline-offset-auto;
            @include reset;
          }

          @include expect {
            @media (min-width: $lg) {
              text-underline-offset: auto;
            }
          }
        }
      }

      @include it("lg\:underline-offset-0") {
        @include assert {
          @include output {
            @include lg\:underline-offset-0;
            @include reset;
          }

          @include expect {
            @media (min-width: $lg) {
              text-underline-offset: 0px;
            }
          }
        }
      }

      @include it("lg\:underline-offset-1") {
        @include assert {
          @include output {
            @include lg\:underline-offset-1;
            @include reset;
          }

          @include expect {
            @media (min-width: $lg) {
              text-underline-offset: 1px;
            }
          }
        }
      }

      @include it("lg\:underline-offset-2") {
        @include assert {
          @include output {
            @include lg\:underline-offset-2;
            @include reset;
          }

          @include expect {
            @media (min-width: $lg) {
              text-underline-offset: 2px;
            }
          }
        }
      }

      @include it("lg\:underline-offset-4") {
        @include assert {
          @include output {
            @include lg\:underline-offset-4;
            @include reset;
          }

          @include expect {
            @media (min-width: $lg) {
              text-underline-offset: 4px;
            }
          }
        }
      }

      @include it("lg\:underline-offset-8") {
        @include assert {
          @include output {
            @include lg\:underline-offset-8;
            @include reset;
          }

          @include expect {
            @media (min-width: $lg) {
              text-underline-offset: 8px;
            }
          }
        }
      }

      @include it("xl\:underline-offset-auto") {
        @include assert {
          @include output {
            @include xl\:underline-offset-auto;
            @include reset;
          }

          @include expect {
            @media (min-width: $xl) {
              text-underline-offset: auto;
            }
          }
        }
      }

      @include it("xl\:underline-offset-0") {
        @include assert {
          @include output {
            @include xl\:underline-offset-0;
            @include reset;
          }

          @include expect {
            @media (min-width: $xl) {
              text-underline-offset: 0px;
            }
          }
        }
      }

      @include it("xl\:underline-offset-1") {
        @include assert {
          @include output {
            @include xl\:underline-offset-1;
            @include reset;
          }

          @include expect {
            @media (min-width: $xl) {
              text-underline-offset: 1px;
            }
          }
        }
      }

      @include it("xl\:underline-offset-2") {
        @include assert {
          @include output {
            @include xl\:underline-offset-2;
            @include reset;
          }

          @include expect {
            @media (min-width: $xl) {
              text-underline-offset: 2px;
            }
          }
        }
      }

      @include it("xl\:underline-offset-4") {
        @include assert {
          @include output {
            @include xl\:underline-offset-4;
            @include reset;
          }

          @include expect {
            @media (min-width: $xl) {
              text-underline-offset: 4px;
            }
          }
        }
      }

      @include it("xl\:underline-offset-8") {
        @include assert {
          @include output {
            @include xl\:underline-offset-8;
            @include reset;
          }

          @include expect {
            @media (min-width: $xl) {
              text-underline-offset: 8px;
            }
          }
        }
      }

      @include it("2xl\:underline-offset-auto") {
        @include assert {
          @include output {
            @include \2xl\:underline-offset-auto;
            @include reset;
          }

          @include expect {
            @media (min-width: $\2xl) {
              text-underline-offset: auto;
            }
          }
        }
      }

      @include it("2xl\:underline-offset-0") {
        @include assert {
          @include output {
            @include \2xl\:underline-offset-0;
            @include reset;
          }

          @include expect {
            @media (min-width: $\2xl) {
              text-underline-offset: 0px;
            }
          }
        }
      }

      @include it("2xl\:underline-offset-1") {
        @include assert {
          @include output {
            @include \2xl\:underline-offset-1;
            @include reset;
          }

          @include expect {
            @media (min-width: $\2xl) {
              text-underline-offset: 1px;
            }
          }
        }
      }

      @include it("2xl\:underline-offset-2") {
        @include assert {
          @include output {
            @include \2xl\:underline-offset-2;
            @include reset;
          }

          @include expect {
            @media (min-width: $\2xl) {
              text-underline-offset: 2px;
            }
          }
        }
      }

      @include it("2xl\:underline-offset-4") {
        @include assert {
          @include output {
            @include \2xl\:underline-offset-4;
            @include reset;
          }

          @include expect {
            @media (min-width: $\2xl) {
              text-underline-offset: 4px;
            }
          }
        }
      }

      @include it("2xl\:underline-offset-8") {
        @include assert {
          @include output {
            @include \2xl\:underline-offset-8;
            @include reset;
          }

          @include expect {
            @media (min-width: $\2xl) {
              text-underline-offset: 8px;
            }
          }
        }
      }
    }

    @include describe("Custom") {
      @include it("underline-offset-(3px)") {
        @include assert {
          @include output {
            @include underline-offset-(3px);
            @include reset;
          }

          @include expect {
            text-underline-offset: 3px;
          }
        }
      }

      @include it("sm\:underline-offset-(3px)") {
        @include assert {
          @include output {
            @include sm\:underline-offset-(3px);
            @include reset;
          }

          @include expect {
            @media (min-width: $sm) {
              text-underline-offset: 3px;
            }
          }
        }
      }

      @include it("md\:underline-offset-(3px)") {
        @include assert {
          @include output {
            @include md\:underline-offset-(3px);
            @include reset;
          }

          @include expect {
            @media (min-width: $md) {
              text-underline-offset: 3px;
            }
          }
        }
      }

      @include it("lg\:underline-offset-(3px)") {
        @include assert {
          @include output {
            @include lg\:underline-offset-(3px);
            @include reset;
          }

          @include expect {
            @media (min-width: $lg) {
              text-underline-offset: 3px;
            }
          }
        }
      }

      @include it("xl\:underline-offset-(3px)") {
        @include assert {
          @include output {
            @include xl\:underline-offset-(3px);
            @include reset;
          }

          @include expect {
            @media (min-width: $xl) {
              text-underline-offset: 3px;
            }
          }
        }
      }

      @include it("2xl\:underline-offset-(3px)") {
        @include assert {
          @include output {
            @include \2xl\:underline-offset-(3px);
            @include reset;
          }

          @include expect {
            @media (min-width: $\2xl) {
              text-underline-offset: 3px;
            }
          }
        }
      }
    }
  }
}
