@use "../../setting" as *;


$DivideStyle: (
  "divide-solid": solid,
  "divide-dashed": dashed,
  "divide-dotted": dotted,
  "divide-double": double,
  "divide-none": none,
);

@if $Basic {
  @each $key, $value in $DivideStyle {
    /*x
    @mixin #{$key}{
      >*~* {
        @include border-style(#{$value});
      }
    }
    x*/
  }
}

@if $Rwd {
  @each $rwd in $rwdBox {
    @each $key, $value in $DivideStyle {
      /*x
      @mixin #{$rwd}\:#{$key}{
        >*~* {
          @include border-style(#{$value}, $#{$rwd});
        }
      }
      x*/
    }
  }
}