@use "../../setting" as *;

@if $UserSelect {
  /* UserSelect */
  @if $Basic {
    #mixin__select-none {
      user-select: none;
    }

    #mixin__select-text {
      user-select: text;
    }

    #mixin__select-all {
      user-select: all;
    }

    #mixin__select-auto {
      user-select: auto;
    }
  }

  @if $Rwd {
    #mixin__sm\:select-none {
      @media (min-width: $breakpoint-sm) {
        user-select: none;
      }
    }

    #mixin__sm\:select-text {
      @media (min-width: $breakpoint-sm) {
        user-select: text;
      }
    }

    #mixin__sm\:select-all {
      @media (min-width: $breakpoint-sm) {
        user-select: all;
      }
    }

    #mixin__sm\:select-auto {
      @media (min-width: $breakpoint-sm) {
        user-select: auto;
      }
    }

    #mixin__md\:select-none {
      @media (min-width: $breakpoint-md) {
        user-select: none;
      }
    }

    #mixin__md\:select-text {
      @media (min-width: $breakpoint-md) {
        user-select: text;
      }
    }

    #mixin__md\:select-all {
      @media (min-width: $breakpoint-md) {
        user-select: all;
      }
    }

    #mixin__md\:select-auto {
      @media (min-width: $breakpoint-md) {
        user-select: auto;
      }
    }

    #mixin__lg\:select-none {
      @media (min-width: $breakpoint-lg) {
        user-select: none;
      }
    }

    #mixin__lg\:select-text {
      @media (min-width: $breakpoint-lg) {
        user-select: text;
      }
    }

    #mixin__lg\:select-all {
      @media (min-width: $breakpoint-lg) {
        user-select: all;
      }
    }

    #mixin__lg\:select-auto {
      @media (min-width: $breakpoint-lg) {
        user-select: auto;
      }
    }

    #mixin__xl\:select-none {
      @media (min-width: $breakpoint-xl) {
        user-select: none;
      }
    }

    #mixin__xl\:select-text {
      @media (min-width: $breakpoint-xl) {
        user-select: text;
      }
    }

    #mixin__xl\:select-all {
      @media (min-width: $breakpoint-xl) {
        user-select: all;
      }
    }

    #mixin__xl\:select-auto {
      @media (min-width: $breakpoint-xl) {
        user-select: auto;
      }
    }

    #mixin__\\2xl\:select-none {
      @media (min-width: $breakpoint-2xl) {
        user-select: none;
      }
    }

    #mixin__\\2xl\:select-text {
      @media (min-width: $breakpoint-2xl) {
        user-select: text;
      }
    }

    #mixin__\\2xl\:select-all {
      @media (min-width: $breakpoint-2xl) {
        user-select: all;
      }
    }

    #mixin__\\2xl\:select-auto {
      @media (min-width: $breakpoint-2xl) {
        user-select: auto;
      }
    }
  }
}
