@use "../../setting" as *;

$Order: (
  "order-1": 1,
  "order-2": 2,
  "order-3": 3,
  "order-4": 4,
  "order-5": 5,
  "order-6": 6,
  "order-7": 7,
  "order-8": 8,
  "order-9": 9,
  "order-10": 10,
  "order-11": 11,
  "order-12": 12,
  "order-first": -9999,
  "order-last": 9999,
  "order-none": 0
);

@if $Basic {
  @each $key, $value in $Order {
  /*x
  @mixin #{$key} {
    @include order(#{$value});
  }
  x*/
  /*x
  @mixin -#{$key} {
    @include order(#{-$value});
  }
  x*/
  }
}

@if $Rwd and ($sizeMode ==0 or $sizeMode ==1) {
  @each $rwd in $rwdBox {
    @each $key, $value in $Order {
      /*x
      @mixin #{$rwd}\:#{$key} {
        @include order(#{$value}, $#{$rwd});
      }
      x*/
      /*x
      @mixin #{$rwd}\:-#{$key} {
        @include order(#{-$value}, $#{$rwd});
      }
      x*/
    }
  }
}

@if $Custom {
  /*x
  @mixin order-($v) {
    @include order($v);
  }
  x*/
  /*x
  @mixin -order-($v) {
    @include order(-$v);
  }
  x*/

  @each $rwd in $rwdBox {
    /*x
    @mixin #{$rwd}\:order-($v) {
      @include order($v, $#{$rwd});
    }
    x*/
    /*x
    @mixin #{$rwd}\:-order-($v) {
      @include order(-$v, $#{$rwd});
    }
    x*/
  }
}