@use "../../setting" as *;

$TransitionOrigin: (
  "origin-center": center,
  "origin-top": top,
  "origin-top-right": top right,
  "origin-right": right,
  "origin-bottom-right": bottom right,
  "origin-bottom": bottom,
  "origin-bottom-left": bottom left,
  "origin-left": left,
  "origin-top-left": top left
);

@if $Basic {
  @each $key, $value in $TransitionOrigin {
    /*x
    @mixin #{$key} {
      @include transform-origin(#{$value});
    }
    x*/
  }
}

@if $Rwd and ($sizeMode ==0 or $sizeMode ==1) {
  @each $rwd in $rwdBox {
    @each $key, $value in $TransitionOrigin {
      /*x
      @mixin #{$rwd}\:#{$key} {
        @include transform-origin(#{$value}, $#{$rwd});
      }
      x*/
    }
  }
}

@if $Custom {
  /*x
  @mixin origin-($v) {
    @include transform-origin($v);
  }
  x*/

  @each $rwd in $rwdBox {
    /*x
    @mixin #{$rwd}\:origin-($v) {
      @include transform-origin($v, $#{$rwd});
    }
    x*/
  }
}