@use "../../setting" as *;

$BorderRadius: (
  "-none": 0px,
  "-sm": "$rounded-sm",
  null: "$rounded",
  "-md": "$rounded-md",
  "-lg": "$rounded-lg",
  "-xl": "$rounded-xl",
  "-2xl": "$rounded-2xl",
  "-3xl": "$rounded-3xl",
  "-full": 9999px,
);

@if $Basic {
  @each $key, $value in $BorderRadius {
    /*x
    @mixin rounded#{$key} {
      @include border-radius(#{$value});
    }

    @mixin rounded-s#{$key} {
      @include border-start-start-radius(#{$value});
      @include border-end-start-radius(#{$value});
    }

    @mixin rounded-e#{$key} {
      @include border-start-end-radius(#{$value});
      @include border-end-end-radius(#{$value});
    }

    @mixin rounded-t#{$key} {
      @include border-top-left-radius(#{$value});
      @include border-top-right-radius(#{$value});
    }

    @mixin rounded-r#{$key} {
      @include border-top-right-radius(#{$value});
      @include border-bottom-right-radius(#{$value});
    }

    @mixin rounded-b#{$key} {
      @include border-bottom-right-radius(#{$value});
      @include border-bottom-left-radius(#{$value});
    }

    @mixin rounded-l#{$key} {
      @include border-top-left-radius(#{$value});
      @include border-bottom-left-radius(#{$value});
    }

    @mixin rounded-ss#{$key} {
      @include border-start-start-radius(#{$value});
    }

    @mixin rounded-se#{$key} {
      @include border-start-end-radius(#{$value});
    }

    @mixin rounded-ee#{$key} {
      @include border-end-end-radius(#{$value});
    }

    @mixin rounded-es#{$key} {
      @include border-end-start-radius(#{$value});
    }

    @mixin rounded-tl#{$key} {
      @include border-top-left-radius(#{$value});
    }

    @mixin rounded-tr#{$key} {
      @include border-top-right-radius(#{$value});
    }

    @mixin rounded-br#{$key} {
      @include border-bottom-right-radius(#{$value});
    }

    @mixin rounded-bl#{$key} {
      @include border-bottom-left-radius(#{$value});
    }
    x*/
  }
}

@if $Rwd and ($sizeMode ==0 or $sizeMode ==1) {
  @each $rwd in $rwdBox {
    @each $key, $value in $BorderRadius {
      /*x
      @mixin #{$rwd}\:rounded#{$key} {
        @include border-radius(#{$value}, $#{$rwd});
      }

      @mixin #{$rwd}\:rounded-s#{$key} {
        @include #{$rwd} {
          @include border-start-start-radius(#{$value});
          @include border-end-start-radius(#{$value});
        }
      }

      @mixin #{$rwd}\:rounded-e#{$key} {
        @include #{$rwd} {
          @include border-start-end-radius(#{$value});
          @include border-end-end-radius(#{$value});
        }
      }

      @mixin #{$rwd}\:rounded-t#{$key} {
        @include #{$rwd} {
          @include border-top-left-radius(#{$value});
          @include border-top-right-radius(#{$value});
        }
      }

      @mixin #{$rwd}\:rounded-r#{$key} {
        @include #{$rwd} {
          @include border-top-right-radius(#{$value});
          @include border-bottom-right-radius(#{$value});
        }
      }

      @mixin #{$rwd}\:rounded-b#{$key} {
        @include #{$rwd} {
          @include border-bottom-right-radius(#{$value});
          @include border-bottom-left-radius(#{$value});
        }
      }

      @mixin #{$rwd}\:rounded-l#{$key} {
        @include #{$rwd} {
          @include border-top-left-radius(#{$value});
          @include border-bottom-left-radius(#{$value});
        }
      }

      @mixin #{$rwd}\:rounded-ss#{$key} {
        @include border-start-start-radius(#{$value}, $#{$rwd});
      }

      @mixin #{$rwd}\:rounded-se#{$key} {
        @include border-start-end-radius(#{$value}, $#{$rwd});
      }

      @mixin #{$rwd}\:rounded-ee#{$key} {
        @include border-end-end-radius(#{$value}, $#{$rwd});
      }

      @mixin #{$rwd}\:rounded-es#{$key} {
        @include border-end-start-radius(#{$value}, $#{$rwd});
      }

      @mixin #{$rwd}\:rounded-tl#{$key} {
        @include border-top-left-radius(#{$value}, $#{$rwd});
      }

      @mixin #{$rwd}\:rounded-tr#{$key} {
        @include border-top-right-radius(#{$value}, $#{$rwd});
      }

      @mixin #{$rwd}\:rounded-br#{$key} {
        @include border-bottom-right-radius(#{$value}, $#{$rwd});
      }

      @mixin #{$rwd}\:rounded-bl#{$key} {
        @include border-bottom-left-radius(#{$value}, $#{$rwd});
      }
      x*/
    }
  }
}

@if $Custom {
  /*x
  @mixin rounded-($v) {
    @include border-radius($v);
  }

  @mixin rounded-s-($v) {
    @include border-start-start-radius($v);
    @include border-end-start-radius($v);
  }

  @mixin rounded-e-($v) {
    @include border-start-end-radius($v);
    @include border-end-end-radius($v);
  }

  @mixin rounded-t-($v) {
    @include border-top-left-radius($v);
    @include border-top-right-radius($v);
  }

  @mixin rounded-r-($v) {
    @include border-top-right-radius($v);
    @include border-bottom-right-radius($v);
  }

  @mixin rounded-b-($v) {
    @include border-bottom-right-radius($v);
    @include border-bottom-left-radius($v);
  }

  @mixin rounded-l-($v) {
    @include border-top-left-radius($v);
    @include border-bottom-left-radius($v);
  }

  @mixin rounded-ss-($v) {
    @include border-start-start-radius($v);
  }

  @mixin rounded-se-($v) {
    @include border-start-end-radius($v);
  }

  @mixin rounded-ee-($v) {
    @include border-end-end-radius($v);
  }

  @mixin rounded-es-($v) {
    @include border-end-start-radius($v);
  }

  @mixin rounded-tl-($v) {
    @include border-top-left-radius($v);
  }

  @mixin rounded-tr-($v) {
    @include border-top-right-radius($v);
  }

  @mixin rounded-br-($v) {
    @include border-bottom-right-radius($v);
  }

  @mixin rounded-bl-($v) {
    @include border-bottom-left-radius($v);
  }
  x*/

  @each $rwd in $rwdBox {
    /*x
    @mixin #{$rwd}\:rounded-($v) {
      @include border-radius($v, $#{$rwd});
    }

    @mixin #{$rwd}\:rounded-s-($v) {
      @include #{$rwd} {
        @include border-start-start-radius($v);
        @include border-end-start-radius($v);
      }
    }

    @mixin #{$rwd}\:rounded-e-($v) {
      @include #{$rwd} {
        @include border-start-end-radius($v);
        @include border-end-end-radius($v);
      }
    }

    @mixin #{$rwd}\:rounded-t-($v) {
      @include #{$rwd} {
        @include border-top-left-radius($v);
        @include border-top-right-radius($v);
      }
    }

    @mixin #{$rwd}\:rounded-r-($v) {
      @include #{$rwd} {
        @include border-top-right-radius($v);
        @include border-bottom-right-radius($v);
      }
    }

    @mixin #{$rwd}\:rounded-b-($v) {
      @include #{$rwd} {
        @include border-bottom-right-radius($v);
        @include border-bottom-left-radius($v);
      }
    }

    @mixin #{$rwd}\:rounded-l-($v) {
      @include #{$rwd} {
        @include border-top-left-radius($v);
        @include border-bottom-left-radius($v);
      }
    }

    @mixin #{$rwd}\:rounded-ss-($v) {
      @include border-start-start-radius($v, $#{$rwd});
    }

    @mixin #{$rwd}\:rounded-se-($v) {
      @include border-start-end-radius($v, $#{$rwd});
    }

    @mixin #{$rwd}\:rounded-ee-($v) {
      @include border-end-end-radius($v, $#{$rwd});
    }

    @mixin #{$rwd}\:rounded-es-($v) {
      @include border-end-start-radius($v, $#{$rwd});
    }

    @mixin #{$rwd}\:rounded-tl-($v) {
      @include border-top-left-radius($v, $#{$rwd});
    }

    @mixin #{$rwd}\:rounded-tr-($v) {
      @include border-top-right-radius($v, $#{$rwd});
    }

    @mixin #{$rwd}\:rounded-br-($v) {
      @include border-bottom-right-radius($v, $#{$rwd});
    }

    @mixin #{$rwd}\:rounded-bl-($v) {
      @include border-bottom-left-radius($v, $#{$rwd});
    }
    x*/
  }
}