@use "../../setting" as *;

/* Max-Height */
@if $Basic {
  // /*x
  @mixin max-h-0 {
    max-height: $\0;
  }

  @mixin max-h-px {
    max-height: $\px;
  }

  @mixin max-h-0\.5 {
    max-height: $\0\.5;
  }

  @mixin max-h-1 {
    max-height: $\1;
  }

  @mixin max-h-1\.5 {
    max-height: $\1\.5;
  }

  @mixin max-h-2 {
    max-height: $\2;
  }

  @mixin max-h-2\.5 {
    max-height: $\2\.5;
  }

  @mixin max-h-3 {
    max-height: $\3;
  }

  @mixin max-h-3\.5 {
    max-height: $\3\.5;
  }

  @mixin max-h-4 {
    max-height: $\4;
  }

  @mixin max-h-5 {
    max-height: $\5;
  }

  @mixin max-h-6 {
    max-height: $\6;
  }

  @mixin max-h-7 {
    max-height: $\7;
  }

  @mixin max-h-8 {
    max-height: $\8;
  }

  @mixin max-h-9 {
    max-height: $\9;
  }

  @mixin max-h-10 {
    max-height: $\10;
  }

  @mixin max-h-11 {
    max-height: $\11;
  }

  @mixin max-h-12 {
    max-height: $\12;
  }

  @mixin max-h-14 {
    max-height: $\14;
  }

  @mixin max-h-16 {
    max-height: $\16;
  }

  @mixin max-h-20 {
    max-height: $\20;
  }

  @mixin max-h-24 {
    max-height: $\24;
  }

  @mixin max-h-28 {
    max-height: $\28;
  }

  @mixin max-h-32 {
    max-height: $\32;
  }

  @mixin max-h-36 {
    max-height: $\36;
  }

  @mixin max-h-40 {
    max-height: $\40;
  }

  @mixin max-h-44 {
    max-height: $\44;
  }

  @mixin max-h-48 {
    max-height: $\48;
  }

  @mixin max-h-52 {
    max-height: $\52;
  }

  @mixin max-h-56 {
    max-height: $\56;
  }

  @mixin max-h-60 {
    max-height: $\60;
  }

  @mixin max-h-64 {
    max-height: $\64;
  }

  @mixin max-h-72 {
    max-height: $\72;
  }

  @mixin max-h-80 {
    max-height: $\80;
  }

  @mixin max-h-96 {
    max-height: $\96;
  }

  @mixin max-h-none {
    max-height: none;
  }

  @mixin max-h-full {
    max-height: 100%;
  }

  @mixin max-h-screen {
    max-height: 100vh;
  }

  @mixin max-h-svh {
    max-height: 100svh;
  }

  @mixin max-h-lvh {
    max-height: 100lvh;
  }

  @mixin max-h-dvh {
    max-height: 100dvh;
  }

  @mixin max-h-min {
    max-height: min-content;
  }

  @mixin max-h-max {
    max-height: max-content;
  }

  @mixin max-h-fit {
    max-height: fit-content;
  }

  // x*/
}

@if $Rwd {
  @if $sizeMode == 0 or $sizeMode == 1 {
    // /*x
    @mixin sm\:max-h-0 {
      @include max-h-($\0, $sm);
    }

    @mixin sm\:max-h-px {
      @include max-h-($\px, $sm);
    }

    @mixin sm\:max-h-0\.5 {
      @include max-h-($\0\.5, $sm);
    }

    @mixin sm\:max-h-1 {
      @include max-h-($\1, $sm);
    }

    @mixin sm\:max-h-1\.5 {
      @include max-h-($\1\.5, $sm);
    }

    @mixin sm\:max-h-2 {
      @include max-h-($\2, $sm);
    }

    @mixin sm\:max-h-2\.5 {
      @include max-h-($\2\.5, $sm);
    }

    @mixin sm\:max-h-3 {
      @include max-h-($\3, $sm);
    }

    @mixin sm\:max-h-3\.5 {
      @include max-h-($\3\.5, $sm);
    }

    @mixin sm\:max-h-4 {
      @include max-h-($\4, $sm);
    }

    @mixin sm\:max-h-5 {
      @include max-h-($\5, $sm);
    }

    @mixin sm\:max-h-6 {
      @include max-h-($\6, $sm);
    }

    @mixin sm\:max-h-7 {
      @include max-h-($\7, $sm);
    }

    @mixin sm\:max-h-8 {
      @include max-h-($\8, $sm);
    }

    @mixin sm\:max-h-9 {
      @include max-h-($\9, $sm);
    }

    @mixin sm\:max-h-10 {
      @include max-h-($\10, $sm);
    }

    @mixin sm\:max-h-11 {
      @include max-h-($\11, $sm);
    }

    @mixin sm\:max-h-12 {
      @include max-h-($\12, $sm);
    }

    @mixin sm\:max-h-14 {
      @include max-h-($\14, $sm);
    }

    @mixin sm\:max-h-16 {
      @include max-h-($\16, $sm);
    }

    @mixin sm\:max-h-20 {
      @include max-h-($\20, $sm);
    }

    @mixin sm\:max-h-24 {
      @include max-h-($\24, $sm);
    }

    @mixin sm\:max-h-28 {
      @include max-h-($\28, $sm);
    }

    @mixin sm\:max-h-32 {
      @include max-h-($\32, $sm);
    }

    @mixin sm\:max-h-36 {
      @include max-h-($\36, $sm);
    }

    @mixin sm\:max-h-40 {
      @include max-h-($\40, $sm);
    }

    @mixin sm\:max-h-44 {
      @include max-h-($\44, $sm);
    }

    @mixin sm\:max-h-48 {
      @include max-h-($\48, $sm);
    }

    @mixin sm\:max-h-52 {
      @include max-h-($\52, $sm);
    }

    @mixin sm\:max-h-56 {
      @include max-h-($\56, $sm);
    }

    @mixin sm\:max-h-60 {
      @include max-h-($\60, $sm);
    }

    @mixin sm\:max-h-64 {
      @include max-h-($\64, $sm);
    }

    @mixin sm\:max-h-72 {
      @include max-h-($\72, $sm);
    }

    @mixin sm\:max-h-80 {
      @include max-h-($\80, $sm);
    }

    @mixin sm\:max-h-96 {
      @include max-h-($\96, $sm);
    }

    @mixin sm\:max-h-none {
      @include max-h-(none, $sm);
    }

    @mixin sm\:max-h-full {
      @include max-h-(100%, $sm);
    }

    @mixin sm\:max-h-screen {
      @include max-h-(100vh, $sm);
    }

    @mixin sm\:max-h-svh {
      @include max-h-(100svh, $sm);
    }

    @mixin sm\:max-h-lvh {
      @include max-h-(100lvh, $sm);
    }

    @mixin sm\:max-h-dvh {
      @include max-h-(100dvh, $sm);
    }

    @mixin sm\:max-h-min {
      @include max-h-(min-content, $sm);
    }

    @mixin sm\:max-h-max {
      @include max-h-(max-content, $sm);
    }

    @mixin sm\:max-h-fit {
      @include max-h-(fit-content, $sm);
    }

    @mixin md\:max-h-0 {
      @include max-h-($\0, $md);
    }

    @mixin md\:max-h-px {
      @include max-h-($\px, $md);
    }

    @mixin md\:max-h-0\.5 {
      @include max-h-($\0\.5, $md);
    }

    @mixin md\:max-h-1 {
      @include max-h-($\1, $md);
    }

    @mixin md\:max-h-1\.5 {
      @include max-h-($\1\.5, $md);
    }

    @mixin md\:max-h-2 {
      @include max-h-($\2, $md);
    }

    @mixin md\:max-h-2\.5 {
      @include max-h-($\2\.5, $md);
    }

    @mixin md\:max-h-3 {
      @include max-h-($\3, $md);
    }

    @mixin md\:max-h-3\.5 {
      @include max-h-($\3\.5, $md);
    }

    @mixin md\:max-h-4 {
      @include max-h-($\4, $md);
    }

    @mixin md\:max-h-5 {
      @include max-h-($\5, $md);
    }

    @mixin md\:max-h-6 {
      @include max-h-($\6, $md);
    }

    @mixin md\:max-h-7 {
      @include max-h-($\7, $md);
    }

    @mixin md\:max-h-8 {
      @include max-h-($\8, $md);
    }

    @mixin md\:max-h-9 {
      @include max-h-($\9, $md);
    }

    @mixin md\:max-h-10 {
      @include max-h-($\10, $md);
    }

    @mixin md\:max-h-11 {
      @include max-h-($\11, $md);
    }

    @mixin md\:max-h-12 {
      @include max-h-($\12, $md);
    }

    @mixin md\:max-h-14 {
      @include max-h-($\14, $md);
    }

    @mixin md\:max-h-16 {
      @include max-h-($\16, $md);
    }

    @mixin md\:max-h-20 {
      @include max-h-($\20, $md);
    }

    @mixin md\:max-h-24 {
      @include max-h-($\24, $md);
    }

    @mixin md\:max-h-28 {
      @include max-h-($\28, $md);
    }

    @mixin md\:max-h-32 {
      @include max-h-($\32, $md);
    }

    @mixin md\:max-h-36 {
      @include max-h-($\36, $md);
    }

    @mixin md\:max-h-40 {
      @include max-h-($\40, $md);
    }

    @mixin md\:max-h-44 {
      @include max-h-($\44, $md);
    }

    @mixin md\:max-h-48 {
      @include max-h-($\48, $md);
    }

    @mixin md\:max-h-52 {
      @include max-h-($\52, $md);
    }

    @mixin md\:max-h-56 {
      @include max-h-($\56, $md);
    }

    @mixin md\:max-h-60 {
      @include max-h-($\60, $md);
    }

    @mixin md\:max-h-64 {
      @include max-h-($\64, $md);
    }

    @mixin md\:max-h-72 {
      @include max-h-($\72, $md);
    }

    @mixin md\:max-h-80 {
      @include max-h-($\80, $md);
    }

    @mixin md\:max-h-96 {
      @include max-h-($\96, $md);
    }

    @mixin md\:max-h-none {
      @include max-h-(none, $md);
    }

    @mixin md\:max-h-full {
      @include max-h-(100%, $md);
    }

    @mixin md\:max-h-screen {
      @include max-h-(100vh, $md);
    }

    @mixin md\:max-h-svh {
      @include max-h-(100svh, $md);
    }

    @mixin md\:max-h-lvh {
      @include max-h-(100lvh, $md);
    }

    @mixin md\:max-h-dvh {
      @include max-h-(100dvh, $md);
    }

    @mixin md\:max-h-min {
      @include max-h-(min-content, $md);
    }

    @mixin md\:max-h-max {
      @include max-h-(max-content, $md);
    }

    @mixin md\:max-h-fit {
      @include max-h-(fit-content, $md);
    }

    @mixin lg\:max-h-0 {
      @include max-h-($\0, $lg);
    }

    @mixin lg\:max-h-px {
      @include max-h-($\px, $lg);
    }

    @mixin lg\:max-h-0\.5 {
      @include max-h-($\0\.5, $lg);
    }

    @mixin lg\:max-h-1 {
      @include max-h-($\1, $lg);
    }

    @mixin lg\:max-h-1\.5 {
      @include max-h-($\1\.5, $lg);
    }

    @mixin lg\:max-h-2 {
      @include max-h-($\2, $lg);
    }

    @mixin lg\:max-h-2\.5 {
      @include max-h-($\2\.5, $lg);
    }

    @mixin lg\:max-h-3 {
      @include max-h-($\3, $lg);
    }

    @mixin lg\:max-h-3\.5 {
      @include max-h-($\3\.5, $lg);
    }

    @mixin lg\:max-h-4 {
      @include max-h-($\4, $lg);
    }

    @mixin lg\:max-h-5 {
      @include max-h-($\5, $lg);
    }

    @mixin lg\:max-h-6 {
      @include max-h-($\6, $lg);
    }

    @mixin lg\:max-h-7 {
      @include max-h-($\7, $lg);
    }

    @mixin lg\:max-h-8 {
      @include max-h-($\8, $lg);
    }

    @mixin lg\:max-h-9 {
      @include max-h-($\9, $lg);
    }

    @mixin lg\:max-h-10 {
      @include max-h-($\10, $lg);
    }

    @mixin lg\:max-h-11 {
      @include max-h-($\11, $lg);
    }

    @mixin lg\:max-h-12 {
      @include max-h-($\12, $lg);
    }

    @mixin lg\:max-h-14 {
      @include max-h-($\14, $lg);
    }

    @mixin lg\:max-h-16 {
      @include max-h-($\16, $lg);
    }

    @mixin lg\:max-h-20 {
      @include max-h-($\20, $lg);
    }

    @mixin lg\:max-h-24 {
      @include max-h-($\24, $lg);
    }

    @mixin lg\:max-h-28 {
      @include max-h-($\28, $lg);
    }

    @mixin lg\:max-h-32 {
      @include max-h-($\32, $lg);
    }

    @mixin lg\:max-h-36 {
      @include max-h-($\36, $lg);
    }

    @mixin lg\:max-h-40 {
      @include max-h-($\40, $lg);
    }

    @mixin lg\:max-h-44 {
      @include max-h-($\44, $lg);
    }

    @mixin lg\:max-h-48 {
      @include max-h-($\48, $lg);
    }

    @mixin lg\:max-h-52 {
      @include max-h-($\52, $lg);
    }

    @mixin lg\:max-h-56 {
      @include max-h-($\56, $lg);
    }

    @mixin lg\:max-h-60 {
      @include max-h-($\60, $lg);
    }

    @mixin lg\:max-h-64 {
      @include max-h-($\64, $lg);
    }

    @mixin lg\:max-h-72 {
      @include max-h-($\72, $lg);
    }

    @mixin lg\:max-h-80 {
      @include max-h-($\80, $lg);
    }

    @mixin lg\:max-h-96 {
      @include max-h-($\96, $lg);
    }

    @mixin lg\:max-h-none {
      @include max-h-(none, $lg);
    }

    @mixin lg\:max-h-full {
      @include max-h-(100%, $lg);
    }

    @mixin lg\:max-h-screen {
      @include max-h-(100vh, $lg);
    }

    @mixin lg\:max-h-svh {
      @include max-h-(100svh, $lg);
    }

    @mixin lg\:max-h-lvh {
      @include max-h-(100lvh, $lg);
    }

    @mixin lg\:max-h-dvh {
      @include max-h-(100dvh, $lg);
    }

    @mixin lg\:max-h-min {
      @include max-h-(min-content, $lg);
    }

    @mixin lg\:max-h-max {
      @include max-h-(max-content, $lg);
    }

    @mixin lg\:max-h-fit {
      @include max-h-(fit-content, $lg);
    }

    @mixin xl\:max-h-0 {
      @include max-h-($\0, $xl);
    }

    @mixin xl\:max-h-px {
      @include max-h-($\px, $xl);
    }

    @mixin xl\:max-h-0\.5 {
      @include max-h-($\0\.5, $xl);
    }

    @mixin xl\:max-h-1 {
      @include max-h-($\1, $xl);
    }

    @mixin xl\:max-h-1\.5 {
      @include max-h-($\1\.5, $xl);
    }

    @mixin xl\:max-h-2 {
      @include max-h-($\2, $xl);
    }

    @mixin xl\:max-h-2\.5 {
      @include max-h-($\2\.5, $xl);
    }

    @mixin xl\:max-h-3 {
      @include max-h-($\3, $xl);
    }

    @mixin xl\:max-h-3\.5 {
      @include max-h-($\3\.5, $xl);
    }

    @mixin xl\:max-h-4 {
      @include max-h-($\4, $xl);
    }

    @mixin xl\:max-h-5 {
      @include max-h-($\5, $xl);
    }

    @mixin xl\:max-h-6 {
      @include max-h-($\6, $xl);
    }

    @mixin xl\:max-h-7 {
      @include max-h-($\7, $xl);
    }

    @mixin xl\:max-h-8 {
      @include max-h-($\8, $xl);
    }

    @mixin xl\:max-h-9 {
      @include max-h-($\9, $xl);
    }

    @mixin xl\:max-h-10 {
      @include max-h-($\10, $xl);
    }

    @mixin xl\:max-h-11 {
      @include max-h-($\11, $xl);
    }

    @mixin xl\:max-h-12 {
      @include max-h-($\12, $xl);
    }

    @mixin xl\:max-h-14 {
      @include max-h-($\14, $xl);
    }

    @mixin xl\:max-h-16 {
      @include max-h-($\16, $xl);
    }

    @mixin xl\:max-h-20 {
      @include max-h-($\20, $xl);
    }

    @mixin xl\:max-h-24 {
      @include max-h-($\24, $xl);
    }

    @mixin xl\:max-h-28 {
      @include max-h-($\28, $xl);
    }

    @mixin xl\:max-h-32 {
      @include max-h-($\32, $xl);
    }

    @mixin xl\:max-h-36 {
      @include max-h-($\36, $xl);
    }

    @mixin xl\:max-h-40 {
      @include max-h-($\40, $xl);
    }

    @mixin xl\:max-h-44 {
      @include max-h-($\44, $xl);
    }

    @mixin xl\:max-h-48 {
      @include max-h-($\48, $xl);
    }

    @mixin xl\:max-h-52 {
      @include max-h-($\52, $xl);
    }

    @mixin xl\:max-h-56 {
      @include max-h-($\56, $xl);
    }

    @mixin xl\:max-h-60 {
      @include max-h-($\60, $xl);
    }

    @mixin xl\:max-h-64 {
      @include max-h-($\64, $xl);
    }

    @mixin xl\:max-h-72 {
      @include max-h-($\72, $xl);
    }

    @mixin xl\:max-h-80 {
      @include max-h-($\80, $xl);
    }

    @mixin xl\:max-h-96 {
      @include max-h-($\96, $xl);
    }

    @mixin xl\:max-h-none {
      @include max-h-(none, $xl);
    }

    @mixin xl\:max-h-full {
      @include max-h-(100%, $xl);
    }

    @mixin xl\:max-h-screen {
      @include max-h-(100vh, $xl);
    }

    @mixin xl\:max-h-svh {
      @include max-h-(100svh, $xl);
    }

    @mixin xl\:max-h-lvh {
      @include max-h-(100lvh, $xl);
    }

    @mixin xl\:max-h-dvh {
      @include max-h-(100dvh, $xl);
    }

    @mixin xl\:max-h-min {
      @include max-h-(min-content, $xl);
    }

    @mixin xl\:max-h-max {
      @include max-h-(max-content, $xl);
    }

    @mixin xl\:max-h-fit {
      @include max-h-(fit-content, $xl);
    }

    @mixin \2xl\:max-h-0 {
      @include max-h-($\0, $\2xl);
    }

    @mixin \2xl\:max-h-px {
      @include max-h-($\px, $\2xl);
    }

    @mixin \2xl\:max-h-0\.5 {
      @include max-h-($\0\.5, $\2xl);
    }

    @mixin \2xl\:max-h-1 {
      @include max-h-($\1, $\2xl);
    }

    @mixin \2xl\:max-h-1\.5 {
      @include max-h-($\1\.5, $\2xl);
    }

    @mixin \2xl\:max-h-2 {
      @include max-h-($\2, $\2xl);
    }

    @mixin \2xl\:max-h-2\.5 {
      @include max-h-($\2\.5, $\2xl);
    }

    @mixin \2xl\:max-h-3 {
      @include max-h-($\3, $\2xl);
    }

    @mixin \2xl\:max-h-3\.5 {
      @include max-h-($\3\.5, $\2xl);
    }

    @mixin \2xl\:max-h-4 {
      @include max-h-($\4, $\2xl);
    }

    @mixin \2xl\:max-h-5 {
      @include max-h-($\5, $\2xl);
    }

    @mixin \2xl\:max-h-6 {
      @include max-h-($\6, $\2xl);
    }

    @mixin \2xl\:max-h-7 {
      @include max-h-($\7, $\2xl);
    }

    @mixin \2xl\:max-h-8 {
      @include max-h-($\8, $\2xl);
    }

    @mixin \2xl\:max-h-9 {
      @include max-h-($\9, $\2xl);
    }

    @mixin \2xl\:max-h-10 {
      @include max-h-($\10, $\2xl);
    }

    @mixin \2xl\:max-h-11 {
      @include max-h-($\11, $\2xl);
    }

    @mixin \2xl\:max-h-12 {
      @include max-h-($\12, $\2xl);
    }

    @mixin \2xl\:max-h-14 {
      @include max-h-($\14, $\2xl);
    }

    @mixin \2xl\:max-h-16 {
      @include max-h-($\16, $\2xl);
    }

    @mixin \2xl\:max-h-20 {
      @include max-h-($\20, $\2xl);
    }

    @mixin \2xl\:max-h-24 {
      @include max-h-($\24, $\2xl);
    }

    @mixin \2xl\:max-h-28 {
      @include max-h-($\28, $\2xl);
    }

    @mixin \2xl\:max-h-32 {
      @include max-h-($\32, $\2xl);
    }

    @mixin \2xl\:max-h-36 {
      @include max-h-($\36, $\2xl);
    }

    @mixin \2xl\:max-h-40 {
      @include max-h-($\40, $\2xl);
    }

    @mixin \2xl\:max-h-44 {
      @include max-h-($\44, $\2xl);
    }

    @mixin \2xl\:max-h-48 {
      @include max-h-($\48, $\2xl);
    }

    @mixin \2xl\:max-h-52 {
      @include max-h-($\52, $\2xl);
    }

    @mixin \2xl\:max-h-56 {
      @include max-h-($\56, $\2xl);
    }

    @mixin \2xl\:max-h-60 {
      @include max-h-($\60, $\2xl);
    }

    @mixin \2xl\:max-h-64 {
      @include max-h-($\64, $\2xl);
    }

    @mixin \2xl\:max-h-72 {
      @include max-h-($\72, $\2xl);
    }

    @mixin \2xl\:max-h-80 {
      @include max-h-($\80, $\2xl);
    }

    @mixin \2xl\:max-h-96 {
      @include max-h-($\96, $\2xl);
    }

    @mixin \2xl\:max-h-none {
      @include max-h-(none, $\2xl);
    }

    @mixin \2xl\:max-h-full {
      @include max-h-(100%, $\2xl);
    }

    @mixin \2xl\:max-h-screen {
      @include max-h-(100vh, $\2xl);
    }

    @mixin \2xl\:max-h-svh {
      @include max-h-(100svh, $\2xl);
    }

    @mixin \2xl\:max-h-lvh {
      @include max-h-(100lvh, $\2xl);
    }

    @mixin \2xl\:max-h-dvh {
      @include max-h-(100dvh, $\2xl);
    }

    @mixin \2xl\:max-h-min {
      @include max-h-(min-content, $\2xl);
    }

    @mixin \2xl\:max-h-max {
      @include max-h-(max-content, $\2xl);
    }

    @mixin \2xl\:max-h-fit {
      @include max-h-(fit-content, $\2xl);
    }
    // x*/
  }
}

@if $Custom {
  // /*x
  @mixin max-h-($v, $rwd: null) {
    @if $rwd==null {
      @include max-height($v);
    } @else {
      @media (min-width: $rwd) {
        @include max-height($v);
      }
    }
  }

  @mixin sm\:max-h-($v) {
    @include max-h-($v, $sm);
  }

  @mixin md\:max-h-($v) {
    @include max-h-($v, $md);
  }

  @mixin lg\:max-h-($v) {
    @include max-h-($v, $lg);
  }

  @mixin xl\:max-h-($v) {
    @include max-h-($v, $xl);
  }

  @mixin \2xl\:max-h-($v) {
    @include max-h-($v, $\2xl);
  } // x*/
}
