@use "../../setting" as *;

/* Max-Height */
@if $Basic {
  // /*x
  @mixin max-h-0 {
    max-height: $\0;
  }

  @mixin max-h-px {
    max-height: $\px;
  }

  @mixin max-h-0\.5 {
    max-height: $\0\.5;
  }

  @mixin max-h-1 {
    max-height: $\1;
  }

  @mixin max-h-1\.5 {
    max-height: $\1\.5;
  }

  @mixin max-h-2 {
    max-height: $\2;
  }

  @mixin max-h-2\.5 {
    max-height: $\2\.5;
  }

  @mixin max-h-3 {
    max-height: $\3;
  }

  @mixin max-h-3\.5 {
    max-height: $\3\.5;
  }

  @mixin max-h-4 {
    max-height: $\4;
  }

  @mixin max-h-5 {
    max-height: $\5;
  }

  @mixin max-h-6 {
    max-height: $\6;
  }

  @mixin max-h-7 {
    max-height: $\7;
  }

  @mixin max-h-8 {
    max-height: $\8;
  }

  @mixin max-h-9 {
    max-height: $\9;
  }

  @mixin max-h-10 {
    max-height: $\10;
  }

  @mixin max-h-11 {
    max-height: $\11;
  }

  @mixin max-h-12 {
    max-height: $\12;
  }

  @mixin max-h-14 {
    max-height: $\14;
  }

  @mixin max-h-16 {
    max-height: $\16;
  }

  @mixin max-h-20 {
    max-height: $\20;
  }

  @mixin max-h-24 {
    max-height: $\24;
  }

  @mixin max-h-28 {
    max-height: $\28;
  }

  @mixin max-h-32 {
    max-height: $\32;
  }

  @mixin max-h-36 {
    max-height: $\36;
  }

  @mixin max-h-40 {
    max-height: $\40;
  }

  @mixin max-h-44 {
    max-height: $\44;
  }

  @mixin max-h-48 {
    max-height: $\48;
  }

  @mixin max-h-52 {
    max-height: $\52;
  }

  @mixin max-h-56 {
    max-height: $\56;
  }

  @mixin max-h-60 {
    max-height: $\60;
  }

  @mixin max-h-64 {
    max-height: $\64;
  }

  @mixin max-h-72 {
    max-height: $\72;
  }

  @mixin max-h-80 {
    max-height: $\80;
  }

  @mixin max-h-96 {
    max-height: $\96;
  }

  @mixin max-h-none {
    max-height: none;
  }

  @mixin max-h-full {
    max-height: 100%;
  }

  @mixin max-h-screen {
    max-height: 100vh;
  }

  @mixin max-h-svh {
    max-height: 100svh;
  }

  @mixin max-h-lvh {
    max-height: 100lvh;
  }

  @mixin max-h-dvh {
    max-height: 100dvh;
  }

  @mixin max-h-min {
    max-height: min-content;
  }

  @mixin max-h-max {
    max-height: max-content;
  }

  @mixin max-h-fit {
    max-height: fit-content;
  }

  // x*/
}

@if $Rwd {
  @if $sizeMode ==0 or $sizeMode ==1 {
    // /*x
    @mixin sm\:max-h-0 {
      @include sm\:max-h-($\0);
    }

    @mixin sm\:max-h-px {
      @include sm\:max-h-($\px);
    }

    @mixin sm\:max-h-0\.5 {
      @include sm\:max-h-($\0\.5);
    }

    @mixin sm\:max-h-1 {
      @include sm\:max-h-($\1);
    }

    @mixin sm\:max-h-1\.5 {
      @include sm\:max-h-($\1\.5);
    }

    @mixin sm\:max-h-2 {
      @include sm\:max-h-($\2);
    }

    @mixin sm\:max-h-2\.5 {
      @include sm\:max-h-($\2\.5);
    }

    @mixin sm\:max-h-3 {
      @include sm\:max-h-($\3);
    }

    @mixin sm\:max-h-3\.5 {
      @include sm\:max-h-($\3\.5);
    }

    @mixin sm\:max-h-4 {
      @include sm\:max-h-($\4);
    }

    @mixin sm\:max-h-5 {
      @include sm\:max-h-($\5);
    }

    @mixin sm\:max-h-6 {
      @include sm\:max-h-($\6);
    }

    @mixin sm\:max-h-7 {
      @include sm\:max-h-($\7);
    }

    @mixin sm\:max-h-8 {
      @include sm\:max-h-($\8);
    }

    @mixin sm\:max-h-9 {
      @include sm\:max-h-($\9);
    }

    @mixin sm\:max-h-10 {
      @include sm\:max-h-($\10);
    }

    @mixin sm\:max-h-11 {
      @include sm\:max-h-($\11);
    }

    @mixin sm\:max-h-12 {
      @include sm\:max-h-($\12);
    }

    @mixin sm\:max-h-14 {
      @include sm\:max-h-($\14);
    }

    @mixin sm\:max-h-16 {
      @include sm\:max-h-($\16);
    }

    @mixin sm\:max-h-20 {
      @include sm\:max-h-($\20);
    }

    @mixin sm\:max-h-24 {
      @include sm\:max-h-($\24);
    }

    @mixin sm\:max-h-28 {
      @include sm\:max-h-($\28);
    }

    @mixin sm\:max-h-32 {
      @include sm\:max-h-($\32);
    }

    @mixin sm\:max-h-36 {
      @include sm\:max-h-($\36);
    }

    @mixin sm\:max-h-40 {
      @include sm\:max-h-($\40);
    }

    @mixin sm\:max-h-44 {
      @include sm\:max-h-($\44);
    }

    @mixin sm\:max-h-48 {
      @include sm\:max-h-($\48);
    }

    @mixin sm\:max-h-52 {
      @include sm\:max-h-($\52);
    }

    @mixin sm\:max-h-56 {
      @include sm\:max-h-($\56);
    }

    @mixin sm\:max-h-60 {
      @include sm\:max-h-($\60);
    }

    @mixin sm\:max-h-64 {
      @include sm\:max-h-($\64);
    }

    @mixin sm\:max-h-72 {
      @include sm\:max-h-($\72);
    }

    @mixin sm\:max-h-80 {
      @include sm\:max-h-($\80);
    }

    @mixin sm\:max-h-96 {
      @include sm\:max-h-($\96);
    }

    @mixin sm\:max-h-none {
      @include sm\:max-h-(none);
    }

    @mixin sm\:max-h-full {
      @include sm\:max-h-(100%);
    }

    @mixin sm\:max-h-screen {
      @include sm\:max-h-(100vh);
    }

    @mixin sm\:max-h-svh {
      @include sm\:max-h-(100svh);
    }

    @mixin sm\:max-h-lvh {
      @include sm\:max-h-(100lvh);
    }

    @mixin sm\:max-h-dvh {
      @include sm\:max-h-(100dvh);
    }

    @mixin sm\:max-h-min {
      @include sm\:max-h-(min-content);
    }

    @mixin sm\:max-h-max {
      @include sm\:max-h-(max-content);
    }

    @mixin sm\:max-h-fit {
      @include sm\:max-h-(fit-content);
    }

    @mixin md\:max-h-0 {
      @include md\:max-h-($\0);
    }

    @mixin md\:max-h-px {
      @include md\:max-h-($\px);
    }

    @mixin md\:max-h-0\.5 {
      @include md\:max-h-($\0\.5);
    }

    @mixin md\:max-h-1 {
      @include md\:max-h-($\1);
    }

    @mixin md\:max-h-1\.5 {
      @include md\:max-h-($\1\.5);
    }

    @mixin md\:max-h-2 {
      @include md\:max-h-($\2);
    }

    @mixin md\:max-h-2\.5 {
      @include md\:max-h-($\2\.5);
    }

    @mixin md\:max-h-3 {
      @include md\:max-h-($\3);
    }

    @mixin md\:max-h-3\.5 {
      @include md\:max-h-($\3\.5);
    }

    @mixin md\:max-h-4 {
      @include md\:max-h-($\4);
    }

    @mixin md\:max-h-5 {
      @include md\:max-h-($\5);
    }

    @mixin md\:max-h-6 {
      @include md\:max-h-($\6);
    }

    @mixin md\:max-h-7 {
      @include md\:max-h-($\7);
    }

    @mixin md\:max-h-8 {
      @include md\:max-h-($\8);
    }

    @mixin md\:max-h-9 {
      @include md\:max-h-($\9);
    }

    @mixin md\:max-h-10 {
      @include md\:max-h-($\10);
    }

    @mixin md\:max-h-11 {
      @include md\:max-h-($\11);
    }

    @mixin md\:max-h-12 {
      @include md\:max-h-($\12);
    }

    @mixin md\:max-h-14 {
      @include md\:max-h-($\14);
    }

    @mixin md\:max-h-16 {
      @include md\:max-h-($\16);
    }

    @mixin md\:max-h-20 {
      @include md\:max-h-($\20);
    }

    @mixin md\:max-h-24 {
      @include md\:max-h-($\24);
    }

    @mixin md\:max-h-28 {
      @include md\:max-h-($\28);
    }

    @mixin md\:max-h-32 {
      @include md\:max-h-($\32);
    }

    @mixin md\:max-h-36 {
      @include md\:max-h-($\36);
    }

    @mixin md\:max-h-40 {
      @include md\:max-h-($\40);
    }

    @mixin md\:max-h-44 {
      @include md\:max-h-($\44);
    }

    @mixin md\:max-h-48 {
      @include md\:max-h-($\48);
    }

    @mixin md\:max-h-52 {
      @include md\:max-h-($\52);
    }

    @mixin md\:max-h-56 {
      @include md\:max-h-($\56);
    }

    @mixin md\:max-h-60 {
      @include md\:max-h-($\60);
    }

    @mixin md\:max-h-64 {
      @include md\:max-h-($\64);
    }

    @mixin md\:max-h-72 {
      @include md\:max-h-($\72);
    }

    @mixin md\:max-h-80 {
      @include md\:max-h-($\80);
    }

    @mixin md\:max-h-96 {
      @include md\:max-h-($\96);
    }

    @mixin md\:max-h-none {
      @include md\:max-h-(none);
    }

    @mixin md\:max-h-full {
      @include md\:max-h-(100%);
    }

    @mixin md\:max-h-screen {
      @include md\:max-h-(100vh);
    }

    @mixin md\:max-h-svh {
      @include md\:max-h-(100svh);
    }

    @mixin md\:max-h-lvh {
      @include md\:max-h-(100lvh);
    }

    @mixin md\:max-h-dvh {
      @include md\:max-h-(100dvh);
    }

    @mixin md\:max-h-min {
      @include md\:max-h-(min-content);
    }

    @mixin md\:max-h-max {
      @include md\:max-h-(max-content);
    }

    @mixin md\:max-h-fit {
      @include md\:max-h-(fit-content);
    }

    @mixin lg\:max-h-0 {
      @include lg\:max-h-($\0);
    }

    @mixin lg\:max-h-px {
      @include lg\:max-h-($\px);
    }

    @mixin lg\:max-h-0\.5 {
      @include lg\:max-h-($\0\.5);
    }

    @mixin lg\:max-h-1 {
      @include lg\:max-h-($\1);
    }

    @mixin lg\:max-h-1\.5 {
      @include lg\:max-h-($\1\.5);
    }

    @mixin lg\:max-h-2 {
      @include lg\:max-h-($\2);
    }

    @mixin lg\:max-h-2\.5 {
      @include lg\:max-h-($\2\.5);
    }

    @mixin lg\:max-h-3 {
      @include lg\:max-h-($\3);
    }

    @mixin lg\:max-h-3\.5 {
      @include lg\:max-h-($\3\.5);
    }

    @mixin lg\:max-h-4 {
      @include lg\:max-h-($\4);
    }

    @mixin lg\:max-h-5 {
      @include lg\:max-h-($\5);
    }

    @mixin lg\:max-h-6 {
      @include lg\:max-h-($\6);
    }

    @mixin lg\:max-h-7 {
      @include lg\:max-h-($\7);
    }

    @mixin lg\:max-h-8 {
      @include lg\:max-h-($\8);
    }

    @mixin lg\:max-h-9 {
      @include lg\:max-h-($\9);
    }

    @mixin lg\:max-h-10 {
      @include lg\:max-h-($\10);
    }

    @mixin lg\:max-h-11 {
      @include lg\:max-h-($\11);
    }

    @mixin lg\:max-h-12 {
      @include lg\:max-h-($\12);
    }

    @mixin lg\:max-h-14 {
      @include lg\:max-h-($\14);
    }

    @mixin lg\:max-h-16 {
      @include lg\:max-h-($\16);
    }

    @mixin lg\:max-h-20 {
      @include lg\:max-h-($\20);
    }

    @mixin lg\:max-h-24 {
      @include lg\:max-h-($\24);
    }

    @mixin lg\:max-h-28 {
      @include lg\:max-h-($\28);
    }

    @mixin lg\:max-h-32 {
      @include lg\:max-h-($\32);
    }

    @mixin lg\:max-h-36 {
      @include lg\:max-h-($\36);
    }

    @mixin lg\:max-h-40 {
      @include lg\:max-h-($\40);
    }

    @mixin lg\:max-h-44 {
      @include lg\:max-h-($\44);
    }

    @mixin lg\:max-h-48 {
      @include lg\:max-h-($\48);
    }

    @mixin lg\:max-h-52 {
      @include lg\:max-h-($\52);
    }

    @mixin lg\:max-h-56 {
      @include lg\:max-h-($\56);
    }

    @mixin lg\:max-h-60 {
      @include lg\:max-h-($\60);
    }

    @mixin lg\:max-h-64 {
      @include lg\:max-h-($\64);
    }

    @mixin lg\:max-h-72 {
      @include lg\:max-h-($\72);
    }

    @mixin lg\:max-h-80 {
      @include lg\:max-h-($\80);
    }

    @mixin lg\:max-h-96 {
      @include lg\:max-h-($\96);
    }

    @mixin lg\:max-h-none {
      @include lg\:max-h-(none);
    }

    @mixin lg\:max-h-full {
      @include lg\:max-h-(100%);
    }

    @mixin lg\:max-h-screen {
      @include lg\:max-h-(100vh);
    }

    @mixin lg\:max-h-svh {
      @include lg\:max-h-(100svh);
    }

    @mixin lg\:max-h-lvh {
      @include lg\:max-h-(100lvh);
    }

    @mixin lg\:max-h-dvh {
      @include lg\:max-h-(100dvh);
    }

    @mixin lg\:max-h-min {
      @include lg\:max-h-(min-content);
    }

    @mixin lg\:max-h-max {
      @include lg\:max-h-(max-content);
    }

    @mixin lg\:max-h-fit {
      @include lg\:max-h-(fit-content);
    }

    @mixin xl\:max-h-0 {
      @include xl\:max-h-($\0);
    }

    @mixin xl\:max-h-px {
      @include xl\:max-h-($\px);
    }

    @mixin xl\:max-h-0\.5 {
      @include xl\:max-h-($\0\.5);
    }

    @mixin xl\:max-h-1 {
      @include xl\:max-h-($\1);
    }

    @mixin xl\:max-h-1\.5 {
      @include xl\:max-h-($\1\.5);
    }

    @mixin xl\:max-h-2 {
      @include xl\:max-h-($\2);
    }

    @mixin xl\:max-h-2\.5 {
      @include xl\:max-h-($\2\.5);
    }

    @mixin xl\:max-h-3 {
      @include xl\:max-h-($\3);
    }

    @mixin xl\:max-h-3\.5 {
      @include xl\:max-h-($\3\.5);
    }

    @mixin xl\:max-h-4 {
      @include xl\:max-h-($\4);
    }

    @mixin xl\:max-h-5 {
      @include xl\:max-h-($\5);
    }

    @mixin xl\:max-h-6 {
      @include xl\:max-h-($\6);
    }

    @mixin xl\:max-h-7 {
      @include xl\:max-h-($\7);
    }

    @mixin xl\:max-h-8 {
      @include xl\:max-h-($\8);
    }

    @mixin xl\:max-h-9 {
      @include xl\:max-h-($\9);
    }

    @mixin xl\:max-h-10 {
      @include xl\:max-h-($\10);
    }

    @mixin xl\:max-h-11 {
      @include xl\:max-h-($\11);
    }

    @mixin xl\:max-h-12 {
      @include xl\:max-h-($\12);
    }

    @mixin xl\:max-h-14 {
      @include xl\:max-h-($\14);
    }

    @mixin xl\:max-h-16 {
      @include xl\:max-h-($\16);
    }

    @mixin xl\:max-h-20 {
      @include xl\:max-h-($\20);
    }

    @mixin xl\:max-h-24 {
      @include xl\:max-h-($\24);
    }

    @mixin xl\:max-h-28 {
      @include xl\:max-h-($\28);
    }

    @mixin xl\:max-h-32 {
      @include xl\:max-h-($\32);
    }

    @mixin xl\:max-h-36 {
      @include xl\:max-h-($\36);
    }

    @mixin xl\:max-h-40 {
      @include xl\:max-h-($\40);
    }

    @mixin xl\:max-h-44 {
      @include xl\:max-h-($\44);
    }

    @mixin xl\:max-h-48 {
      @include xl\:max-h-($\48);
    }

    @mixin xl\:max-h-52 {
      @include xl\:max-h-($\52);
    }

    @mixin xl\:max-h-56 {
      @include xl\:max-h-($\56);
    }

    @mixin xl\:max-h-60 {
      @include xl\:max-h-($\60);
    }

    @mixin xl\:max-h-64 {
      @include xl\:max-h-($\64);
    }

    @mixin xl\:max-h-72 {
      @include xl\:max-h-($\72);
    }

    @mixin xl\:max-h-80 {
      @include xl\:max-h-($\80);
    }

    @mixin xl\:max-h-96 {
      @include xl\:max-h-($\96);
    }

    @mixin xl\:max-h-none {
      @include xl\:max-h-(none);
    }

    @mixin xl\:max-h-full {
      @include xl\:max-h-(100%);
    }

    @mixin xl\:max-h-screen {
      @include xl\:max-h-(100vh);
    }

    @mixin xl\:max-h-svh {
      @include xl\:max-h-(100svh);
    }

    @mixin xl\:max-h-lvh {
      @include xl\:max-h-(100lvh);
    }

    @mixin xl\:max-h-dvh {
      @include xl\:max-h-(100dvh);
    }

    @mixin xl\:max-h-min {
      @include xl\:max-h-(min-content);
    }

    @mixin xl\:max-h-max {
      @include xl\:max-h-(max-content);
    }

    @mixin xl\:max-h-fit {
      @include xl\:max-h-(fit-content);
    }

    @mixin \2xl\:max-h-0 {
      @include \2xl\:max-h-($\0);
    }

    @mixin \2xl\:max-h-px {
      @include \2xl\:max-h-($\px);
    }

    @mixin \2xl\:max-h-0\.5 {
      @include \2xl\:max-h-($\0\.5);
    }

    @mixin \2xl\:max-h-1 {
      @include \2xl\:max-h-($\1);
    }

    @mixin \2xl\:max-h-1\.5 {
      @include \2xl\:max-h-($\1\.5);
    }

    @mixin \2xl\:max-h-2 {
      @include \2xl\:max-h-($\2);
    }

    @mixin \2xl\:max-h-2\.5 {
      @include \2xl\:max-h-($\2\.5);
    }

    @mixin \2xl\:max-h-3 {
      @include \2xl\:max-h-($\3);
    }

    @mixin \2xl\:max-h-3\.5 {
      @include \2xl\:max-h-($\3\.5);
    }

    @mixin \2xl\:max-h-4 {
      @include \2xl\:max-h-($\4);
    }

    @mixin \2xl\:max-h-5 {
      @include \2xl\:max-h-($\5);
    }

    @mixin \2xl\:max-h-6 {
      @include \2xl\:max-h-($\6);
    }

    @mixin \2xl\:max-h-7 {
      @include \2xl\:max-h-($\7);
    }

    @mixin \2xl\:max-h-8 {
      @include \2xl\:max-h-($\8);
    }

    @mixin \2xl\:max-h-9 {
      @include \2xl\:max-h-($\9);
    }

    @mixin \2xl\:max-h-10 {
      @include \2xl\:max-h-($\10);
    }

    @mixin \2xl\:max-h-11 {
      @include \2xl\:max-h-($\11);
    }

    @mixin \2xl\:max-h-12 {
      @include \2xl\:max-h-($\12);
    }

    @mixin \2xl\:max-h-14 {
      @include \2xl\:max-h-($\14);
    }

    @mixin \2xl\:max-h-16 {
      @include \2xl\:max-h-($\16);
    }

    @mixin \2xl\:max-h-20 {
      @include \2xl\:max-h-($\20);
    }

    @mixin \2xl\:max-h-24 {
      @include \2xl\:max-h-($\24);
    }

    @mixin \2xl\:max-h-28 {
      @include \2xl\:max-h-($\28);
    }

    @mixin \2xl\:max-h-32 {
      @include \2xl\:max-h-($\32);
    }

    @mixin \2xl\:max-h-36 {
      @include \2xl\:max-h-($\36);
    }

    @mixin \2xl\:max-h-40 {
      @include \2xl\:max-h-($\40);
    }

    @mixin \2xl\:max-h-44 {
      @include \2xl\:max-h-($\44);
    }

    @mixin \2xl\:max-h-48 {
      @include \2xl\:max-h-($\48);
    }

    @mixin \2xl\:max-h-52 {
      @include \2xl\:max-h-($\52);
    }

    @mixin \2xl\:max-h-56 {
      @include \2xl\:max-h-($\56);
    }

    @mixin \2xl\:max-h-60 {
      @include \2xl\:max-h-($\60);
    }

    @mixin \2xl\:max-h-64 {
      @include \2xl\:max-h-($\64);
    }

    @mixin \2xl\:max-h-72 {
      @include \2xl\:max-h-($\72);
    }

    @mixin \2xl\:max-h-80 {
      @include \2xl\:max-h-($\80);
    }

    @mixin \2xl\:max-h-96 {
      @include \2xl\:max-h-($\96);
    }

    @mixin \2xl\:max-h-none {
      @include \2xl\:max-h-(none);
    }

    @mixin \2xl\:max-h-full {
      @include \2xl\:max-h-(100%);
    }

    @mixin \2xl\:max-h-screen {
      @include \2xl\:max-h-(100vh);
    }

    @mixin \2xl\:max-h-svh {
      @include \2xl\:max-h-(100svh);
    }

    @mixin \2xl\:max-h-lvh {
      @include \2xl\:max-h-(100lvh);
    }

    @mixin \2xl\:max-h-dvh {
      @include \2xl\:max-h-(100dvh);
    }

    @mixin \2xl\:max-h-min {
      @include \2xl\:max-h-(min-content);
    }

    @mixin \2xl\:max-h-max {
      @include \2xl\:max-h-(max-content);
    }

    @mixin \2xl\:max-h-fit {
      @include \2xl\:max-h-(fit-content);
    }

    // x*/
  }
}

@if $Custom {
  // /*x
  @mixin max-h-($v) {
    @include max-height($v);
  }

  @mixin sm\:max-h-($v) {
    @include sm\:max-height($v);
  }

  @mixin md\:max-h-($v) {
    @include md\:max-height($v);
  }

  @mixin lg\:max-h-($v) {
    @include lg\:max-height($v);
  }

  @mixin xl\:max-h-($v) {
    @include xl\:max-height($v);
  }

  @mixin \2xl\:max-h-($v) {
    @include \2xl\:max-height($v);
  }

  // x*/
}
