@use "../../setting" as *;

/* Place Content */
@if $Basic {
  @mixin_place-content-center {
    place-content: center;
  }

  @mixin_place-content-start {
    place-content: start;
  }

  @mixin_place-content-end {
    place-content: end;
  }

  @mixin_place-content-between {
    place-content: space-between;
  }

  @mixin_place-content-around {
    place-content: space-around;
  }

  @mixin_place-content-evenly {
    place-content: space-evenly;
  }

  @mixin_place-content-baseline {
    place-content: baseline;
  }

  @mixin_place-content-stretch {
    place-content: stretch;
  }
}

@if $Rwd {
  @mixin_sm\:place-content-center {
    @media (min-width: $breakpoint-sm) {
      place-content: center;
    }
  }

  @mixin_sm\:place-content-start {
    @media (min-width: $breakpoint-sm) {
      place-content: start;
    }
  }

  @mixin_sm\:place-content-end {
    @media (min-width: $breakpoint-sm) {
      place-content: end;
    }
  }

  @mixin_sm\:place-content-between {
    @media (min-width: $breakpoint-sm) {
      place-content: space-between;
    }
  }

  @mixin_sm\:place-content-around {
    @media (min-width: $breakpoint-sm) {
      place-content: space-around;
    }
  }

  @mixin_sm\:place-content-evenly {
    @media (min-width: $breakpoint-sm) {
      place-content: space-evenly;
    }
  }

  @mixin_sm\:place-content-baseline {
    @media (min-width: $breakpoint-sm) {
      place-content: baseline;
    }
  }

  @mixin_sm\:place-content-stretch {
    @media (min-width: $breakpoint-sm) {
      place-content: stretch;
    }
  }

  @mixin_md\:place-content-center {
    @media (min-width: $breakpoint-md) {
      place-content: center;
    }
  }

  @mixin_md\:place-content-start {
    @media (min-width: $breakpoint-md) {
      place-content: start;
    }
  }

  @mixin_md\:place-content-end {
    @media (min-width: $breakpoint-md) {
      place-content: end;
    }
  }

  @mixin_md\:place-content-between {
    @media (min-width: $breakpoint-md) {
      place-content: space-between;
    }
  }

  @mixin_md\:place-content-around {
    @media (min-width: $breakpoint-md) {
      place-content: space-around;
    }
  }

  @mixin_md\:place-content-evenly {
    @media (min-width: $breakpoint-md) {
      place-content: space-evenly;
    }
  }

  @mixin_md\:place-content-baseline {
    @media (min-width: $breakpoint-md) {
      place-content: baseline;
    }
  }

  @mixin_md\:place-content-stretch {
    @media (min-width: $breakpoint-md) {
      place-content: stretch;
    }
  }

  @mixin_lg\:place-content-center {
    @media (min-width: $breakpoint-lg) {
      place-content: center;
    }
  }

  @mixin_lg\:place-content-start {
    @media (min-width: $breakpoint-lg) {
      place-content: start;
    }
  }

  @mixin_lg\:place-content-end {
    @media (min-width: $breakpoint-lg) {
      place-content: end;
    }
  }

  @mixin_lg\:place-content-between {
    @media (min-width: $breakpoint-lg) {
      place-content: space-between;
    }
  }

  @mixin_lg\:place-content-around {
    @media (min-width: $breakpoint-lg) {
      place-content: space-around;
    }
  }

  @mixin_lg\:place-content-evenly {
    @media (min-width: $breakpoint-lg) {
      place-content: space-evenly;
    }
  }

  @mixin_lg\:place-content-baseline {
    @media (min-width: $breakpoint-lg) {
      place-content: baseline;
    }
  }

  @mixin_lg\:place-content-stretch {
    @media (min-width: $breakpoint-lg) {
      place-content: stretch;
    }
  }

  @mixin_xl\:place-content-center {
    @media (min-width: $breakpoint-xl) {
      place-content: center;
    }
  }

  @mixin_xl\:place-content-start {
    @media (min-width: $breakpoint-xl) {
      place-content: start;
    }
  }

  @mixin_xl\:place-content-end {
    @media (min-width: $breakpoint-xl) {
      place-content: end;
    }
  }

  @mixin_xl\:place-content-between {
    @media (min-width: $breakpoint-xl) {
      place-content: space-between;
    }
  }

  @mixin_xl\:place-content-around {
    @media (min-width: $breakpoint-xl) {
      place-content: space-around;
    }
  }

  @mixin_xl\:place-content-evenly {
    @media (min-width: $breakpoint-xl) {
      place-content: space-evenly;
    }
  }

  @mixin_xl\:place-content-baseline {
    @media (min-width: $breakpoint-xl) {
      place-content: baseline;
    }
  }

  @mixin_xl\:place-content-stretch {
    @media (min-width: $breakpoint-xl) {
      place-content: stretch;
    }
  }

  @mixin_\\2xl\:place-content-center {
    @media (min-width: $breakpoint-2xl) {
      place-content: center;
    }
  }

  @mixin_\\2xl\:place-content-start {
    @media (min-width: $breakpoint-2xl) {
      place-content: start;
    }
  }

  @mixin_\\2xl\:place-content-end {
    @media (min-width: $breakpoint-2xl) {
      place-content: end;
    }
  }

  @mixin_\\2xl\:place-content-between {
    @media (min-width: $breakpoint-2xl) {
      place-content: space-between;
    }
  }

  @mixin_\\2xl\:place-content-around {
    @media (min-width: $breakpoint-2xl) {
      place-content: space-around;
    }
  }

  @mixin_\\2xl\:place-content-evenly {
    @media (min-width: $breakpoint-2xl) {
      place-content: space-evenly;
    }
  }

  @mixin_\\2xl\:place-content-baseline {
    @media (min-width: $breakpoint-2xl) {
      place-content: baseline;
    }
  }

  @mixin_\\2xl\:place-content-stretch {
    @media (min-width: $breakpoint-2xl) {
      place-content: stretch;
    }
  }
}
