@use "../../setting" as *;
@use "../../mode0" as *;
@use "true" as *;

@include describe("2.Flexbox & Grid") {
  @include describe("Justify Items") {
    @include describe("Basic") {
      @include it("justify-items-start") {
        @include assert {
          @include output {
            @include justify-items-start;
            @include clear;
          }

          @include expect {
            justify-items: start;
          }
        }
      }

      @include it("justify-items-end") {
        @include assert {
          @include output {
            @include justify-items-end;
            @include clear;
          }

          @include expect {
            justify-items: end;
          }
        }
      }

      @include it("justify-items-center") {
        @include assert {
          @include output {
            @include justify-items-center;
            @include clear;
          }

          @include expect {
            justify-items: center;
          }
        }
      }

      @include it("justify-items-stretch") {
        @include assert {
          @include output {
            @include justify-items-stretch;
            @include clear;
          }

          @include expect {
            justify-items: stretch;
          }
        }
      }
    }

    @include describe("Rwd") {
      @include it("sm\:justify-items-start") {
        @include assert {
          @include output {
            @include sm\:justify-items-start;
            @include clear;
          }

          @include expect {
            @media(min-width:$sm) {
              justify-items: start;
            }
          }
        }
      }

      @include it("sm\:justify-items-end") {
        @include assert {
          @include output {
            @include sm\:justify-items-end;
            @include clear;
          }

          @include expect {
            @media(min-width:$sm) {
              justify-items: end;
            }
          }
        }
      }

      @include it("sm\:justify-items-center") {
        @include assert {
          @include output {
            @include sm\:justify-items-center;
            @include clear;
          }

          @include expect {
            @media(min-width:$sm) {
              justify-items: center;
            }
          }
        }
      }

      @include it("sm\:justify-items-stretch") {
        @include assert {
          @include output {
            @include sm\:justify-items-stretch;
            @include clear;
          }

          @include expect {
            @media(min-width:$sm) {
              justify-items: stretch;
            }
          }
        }
      }

      @include it("md\:justify-items-start") {
        @include assert {
          @include output {
            @include md\:justify-items-start;
            @include clear;
          }

          @include expect {
            @media(min-width:$md) {
              justify-items: start;
            }
          }
        }
      }

      @include it("md\:justify-items-end") {
        @include assert {
          @include output {
            @include md\:justify-items-end;
            @include clear;
          }

          @include expect {
            @media(min-width:$md) {
              justify-items: end;
            }
          }
        }
      }

      @include it("md\:justify-items-center") {
        @include assert {
          @include output {
            @include md\:justify-items-center;
            @include clear;
          }

          @include expect {
            @media(min-width:$md) {
              justify-items: center;
            }
          }
        }
      }

      @include it("md\:justify-items-stretch") {
        @include assert {
          @include output {
            @include md\:justify-items-stretch;
            @include clear;
          }

          @include expect {
            @media(min-width:$md) {
              justify-items: stretch;
            }
          }
        }
      }

      @include it("lg\:justify-items-start") {
        @include assert {
          @include output {
            @include lg\:justify-items-start;
            @include clear;
          }

          @include expect {
            @media(min-width:$lg) {
              justify-items: start;
            }
          }
        }
      }

      @include it("lg\:justify-items-end") {
        @include assert {
          @include output {
            @include lg\:justify-items-end;
            @include clear;
          }

          @include expect {
            @media(min-width:$lg) {
              justify-items: end;
            }
          }
        }
      }

      @include it("lg\:justify-items-center") {
        @include assert {
          @include output {
            @include lg\:justify-items-center;
            @include clear;
          }

          @include expect {
            @media(min-width:$lg) {
              justify-items: center;
            }
          }
        }
      }

      @include it("lg\:justify-items-stretch") {
        @include assert {
          @include output {
            @include lg\:justify-items-stretch;
            @include clear;
          }

          @include expect {
            @media(min-width:$lg) {
              justify-items: stretch;
            }
          }
        }
      }

      @include it("xl\:justify-items-start") {
        @include assert {
          @include output {
            @include xl\:justify-items-start;
            @include clear;
          }

          @include expect {
            @media(min-width:$xl) {
              justify-items: start;
            }
          }
        }
      }

      @include it("xl\:justify-items-end") {
        @include assert {
          @include output {
            @include xl\:justify-items-end;
            @include clear;
          }

          @include expect {
            @media(min-width:$xl) {
              justify-items: end;
            }
          }
        }
      }

      @include it("xl\:justify-items-center") {
        @include assert {
          @include output {
            @include xl\:justify-items-center;
            @include clear;
          }

          @include expect {
            @media(min-width:$xl) {
              justify-items: center;
            }
          }
        }
      }

      @include it("xl\:justify-items-stretch") {
        @include assert {
          @include output {
            @include xl\:justify-items-stretch;
            @include clear;
          }

          @include expect {
            @media(min-width:$xl) {
              justify-items: stretch;
            }
          }
        }
      }

      @include it("\2xl\:justify-items-start") {
        @include assert {
          @include output {
            @include \2xl\:justify-items-start;
            @include clear;
          }

          @include expect {
            @media(min-width:$\2xl) {
              justify-items: start;
            }
          }
        }
      }

      @include it("\2xl\:justify-items-end") {
        @include assert {
          @include output {
            @include \2xl\:justify-items-end;
            @include clear;
          }

          @include expect {
            @media(min-width:$\2xl) {
              justify-items: end;
            }
          }
        }
      }

      @include it("\2xl\:justify-items-center") {
        @include assert {
          @include output {
            @include \2xl\:justify-items-center;
            @include clear;
          }

          @include expect {
            @media(min-width:$\2xl) {
              justify-items: center;
            }
          }
        }
      }

      @include it("\2xl\:justify-items-stretch") {
        @include assert {
          @include output {
            @include \2xl\:justify-items-stretch;
            @include clear;
          }

          @include expect {
            @media(min-width:$\2xl) {
              justify-items: stretch;
            }
          }
        }
      }
    }
  }
}