@use "../../setting" as *;


$AspectRatio: (
  "aspect-auto": auto,
  "aspect-square": "#/*x{1 / 1}",
  "aspect-video": "#/*x{16 / 9}",
);

@if $Basic {
  @each $key, $value in $AspectRatio {
    /*x
    @mixin #{$key} {
      @include aspect-ratio(#{$value});
    }

    @mixin #{$key} {
      @include aspect-ratio(#{$value});
    }

    @mixin #{$key} {
      @include aspect-ratio(#{$value});
    }
    x*/
  }
}

@if $Rwd and ($sizeMode ==0 or $sizeMode ==1) {
  @each $rwd in $rwdBox {
    @each $key, $value in $AspectRatio {
    /*x
    @mixin #{$rwd}\:#{$key} {
      @include aspect-ratio(#{$value}, $#{$rwd});
    }

    @mixin #{$rwd}\:#{$key} {
      @include aspect-ratio(#{$value}, $#{$rwd});
    }

    @mixin #{$rwd}\:#{$key} {
      @include aspect-ratio(#{$value}, $#{$rwd});
    }
    x*/
    }
  }
}

@if $Custom {
  /*x
  @mixin aspect-($v) {
    @include aspect-ratio($v);
  }
  x*/

  @each $rwd in $rwdBox {
    /*x
    @mixin #{$rwd}\:aspect-($v) {
      @include aspect-ratio($v, $#{$rwd});
    }
    x*/
  }
}
