@use "true" as *;
@use "../escss" as *;

@include describe("15-Accessibility") {
  @include describe("1-Forced Color Adjust") {
    @include describe("Basic") {
      @include it("forced-color-adjust-auto") {
        @include assert {
          @include output {
            @include forced-color-adjust-auto;
          }

          @include expect {
            forced-color-adjust: auto;
          }
        }
      }

      @include it("forced-color-adjust-none") {
        @include assert {
          @include output {
            @include forced-color-adjust-none;
          }

          @include expect {
            forced-color-adjust: none;
          }
        }
      }
    }
  }
}
