@use "true" as *;
@use "../awaken" as *;

@include describe("15.Accessibility") {
  @include describe("Screen Readers") {
    @include describe("Basic") {
      @include it("sr-only") {
        @include assert {
          @include output {
            @include sr-only;
            @include utils_reset;
          }

          @include expect {
            position: absolute;
            width: 1px;
            height: 1px;
            padding: 0;
            margin: -1px;
            overflow: hidden;
            clip: rect(0, 0, 0, 0);
            white-space: nowrap;
            border-width: 0;
          }
        }
      }

      @include it("not-sr-only") {
        @include assert {
          @include output {
            @include not-sr-only;
            @include utils_reset;
          }

          @include expect {
            position: static;
            width: auto;
            height: auto;
            padding: 0;
            margin: 0;
            overflow: visible;
            clip: auto;
            white-space: normal;
          }
        }
      }
    }
  }
}
