@use "../setting" as *;

$Opacity: (
  "opacity-0": 0%,
  "opacity-5": 5%,
  "opacity-10": 10%,
  "opacity-15": 15%,
  "opacity-20": 20%,
  "opacity-25": 25%,
  "opacity-30": 30%,
  "opacity-35": 35%,
  "opacity-40": 40%,
  "opacity-45": 45%,
  "opacity-50": 50%,
  "opacity-55": 55%,
  "opacity-60": 60%,
  "opacity-65": 65%,
  "opacity-70": 70%,
  "opacity-75": 75%,
  "opacity-80": 80%,
  "opacity-85": 85%,
  "opacity-90": 90%,
  "opacity-95": 95%,
  "opacity-100": 100%,
);

@if $QuickReference {
  @each $key, $value in $Opacity {
    /*x
    @mixin #{$key} {
      opacity: #{$value};
    }
    x*/
  }
}

@if $UsingACustomValue {
  /*x
  @mixin opacity-($v) {
    opacity: $v;
  }
  x*/
}
