@use "../../setting" as *;

/* Min-Height */
@if $Basic {
  // /*x
  @mixin min-h-0 {
    min-height: 0px;
  }

  // 4px
  @mixin min-h-1 {
    min-height: 0.25rem;
  }

  // 8px
  @mixin min-h-2 {
    min-height: 0.5rem;
  }

  // 12px
  @mixin min-h-3 {
    min-height: 0.75rem;
  }

  // 16px
  @mixin min-h-4 {
    min-height: 1rem;
  }

  // 20px
  @mixin min-h-5 {
    min-height: 1.25rem;
  }

  // 24px
  @mixin min-h-6 {
    min-height: 1.5rem;
  }

  // 28px
  @mixin min-h-7 {
    min-height: 1.75rem;
  }

  // 32px
  @mixin min-h-8 {
    min-height: 2rem;
  }

  // 36px
  @mixin min-h-9 {
    min-height: 2.25rem;
  }

  // 40px
  @mixin min-h-10 {
    min-height: 2.5rem;
  }

  // 44px
  @mixin min-h-11 {
    min-height: 2.75rem;
  }

  // 48px
  @mixin min-h-12 {
    min-height: 3rem;
  }

  // 56px
  @mixin min-h-14 {
    min-height: 3.5rem;
  }

  // 64px
  @mixin min-h-16 {
    min-height: 4rem;
  }

  // 80px
  @mixin min-h-20 {
    min-height: 5rem;
  }

  // 96px
  @mixin min-h-24 {
    min-height: 6rem;
  }

  // 112px
  @mixin min-h-28 {
    min-height: 7rem;
  }

  // 128px
  @mixin min-h-32 {
    min-height: 8rem;
  }

  // 144px
  @mixin min-h-36 {
    min-height: 9rem;
  }

  // 160px
  @mixin min-h-40 {
    min-height: 10rem;
  }

  // 176px
  @mixin min-h-44 {
    min-height: 11rem;
  }

  // 192px
  @mixin min-h-48 {
    min-height: 12rem;
  }

  // 208px
  @mixin min-h-52 {
    min-height: 13rem;
  }

  // 224px
  @mixin min-h-56 {
    min-height: 14rem;
  }

  // 240px
  @mixin min-h-60 {
    min-height: 15rem;
  }

  // 256px
  @mixin min-h-64 {
    min-height: 16rem;
  }

  // 288px
  @mixin min-h-72 {
    min-height: 18rem;
  }

  // 320px
  @mixin min-h-80 {
    min-height: 20rem;
  }

  // 384px
  @mixin min-h-96 {
    min-height: 24rem;
  }

  @mixin min-h-px {
    min-height: 1px;
  }

  // 2px
  @mixin min-h-0\.5 {
    min-height: 0.125rem;
  }

  // 6px
  @mixin min-h-1\.5 {
    min-height: 0.375rem;
  }

  // 10px
  @mixin min-h-2\.5 {
    min-height: 0.625rem;
  }

  // 14px
  @mixin min-h-3\.5 {
    min-height: 0.875rem;
  }

  @mixin min-h-full {
    min-height: 100%;
  }

  @mixin min-h-screen {
    min-height: 100vh;
  }

  @mixin min-h-svh {
    min-height: 100svh;
  }

  @mixin min-h-lvh {
    min-height: 100lvh;
  }

  @mixin min-h-dvh {
    min-height: 100dvh;
  }

  @mixin min-h-min {
    min-height: min-content;
  }

  @mixin min-h-max {
    min-height: max-content;
  }

  @mixin min-h-fit {
    min-height: fit-content;
  } // x*/
}

@if $Rwd {
  @if $sizeMode == 0 or $sizeMode == 1 {
    // /*x
    @mixin sm\:min-h-0 {
      @include r(sm, min-height, 0px);
    }

    // 4px
    @mixin sm\:min-h-1 {
      @include r(sm, min-height, 0.25rem);
    }

    // 8px
    @mixin sm\:min-h-2 {
      @include r(sm, min-height, 0.5rem);
    }

    // 12px
    @mixin sm\:min-h-3 {
      @include r(sm, min-height, 0.75rem);
    }

    // 16px
    @mixin sm\:min-h-4 {
      @include r(sm, min-height, 1rem);
    }

    // 20px
    @mixin sm\:min-h-5 {
      @include r(sm, min-height, 1.25rem);
    }

    // 24px
    @mixin sm\:min-h-6 {
      @include r(sm, min-height, 1.5rem);
    }

    // 28px
    @mixin sm\:min-h-7 {
      @include r(sm, min-height, 1.75rem);
    }

    // 32px
    @mixin sm\:min-h-8 {
      @include r(sm, min-height, 2rem);
    }

    // 36px
    @mixin sm\:min-h-9 {
      @include r(sm, min-height, 2.25rem);
    }

    // 40px
    @mixin sm\:min-h-10 {
      @include r(sm, min-height, 2.5rem);
    }

    // 44px
    @mixin sm\:min-h-11 {
      @include r(sm, min-height, 2.75rem);
    }

    // 48px
    @mixin sm\:min-h-12 {
      @include r(sm, min-height, 3rem);
    }

    // 56px
    @mixin sm\:min-h-14 {
      @include r(sm, min-height, 3.5rem);
    }

    // 64px
    @mixin sm\:min-h-16 {
      @include r(sm, min-height, 4rem);
    }

    // 80px
    @mixin sm\:min-h-20 {
      @include r(sm, min-height, 5rem);
    }

    // 96px
    @mixin sm\:min-h-24 {
      @include r(sm, min-height, 6rem);
    }

    // 112px
    @mixin sm\:min-h-28 {
      @include r(sm, min-height, 7rem);
    }

    // 128px
    @mixin sm\:min-h-32 {
      @include r(sm, min-height, 8rem);
    }

    // 144px
    @mixin sm\:min-h-36 {
      @include r(sm, min-height, 9rem);
    }

    // 160px
    @mixin sm\:min-h-40 {
      @include r(sm, min-height, 10rem);
    }

    // 176px
    @mixin sm\:min-h-44 {
      @include r(sm, min-height, 11rem);
    }

    // 192px
    @mixin sm\:min-h-48 {
      @include r(sm, min-height, 12rem);
    }

    // 208px
    @mixin sm\:min-h-52 {
      @include r(sm, min-height, 13rem);
    }

    // 224px
    @mixin sm\:min-h-56 {
      @include r(sm, min-height, 14rem);
    }

    // 240px
    @mixin sm\:min-h-60 {
      @include r(sm, min-height, 15rem);
    }

    // 256px
    @mixin sm\:min-h-64 {
      @include r(sm, min-height, 16rem);
    }

    // 288px
    @mixin sm\:min-h-72 {
      @include r(sm, min-height, 18rem);
    }

    // 320px
    @mixin sm\:min-h-80 {
      @include r(sm, min-height, 20rem);
    }

    // 384px
    @mixin sm\:min-h-96 {
      @include r(sm, min-height, 24rem);
    }

    @mixin sm\:min-h-px {
      @include r(sm, min-height, 1px);
    }

    // 2px
    @mixin sm\:min-h-0\.5 {
      @include r(sm, min-height, 0.125rem);
    }

    // 6px
    @mixin sm\:min-h-1\.5 {
      @include r(sm, min-height, 0.375rem);
    }

    // 10px
    @mixin sm\:min-h-2\.5 {
      @include r(sm, min-height, 0.625rem);
    }

    // 14px
    @mixin sm\:min-h-3\.5 {
      @include r(sm, min-height, 0.875rem);
    }

    @mixin sm\:min-h-full {
      @include r(sm, min-height, 100%);
    }

    @mixin sm\:min-h-screen {
      @include r(sm, min-height, 100vh);
    }

    @mixin sm\:min-h-svh {
      @include r(sm, min-height, 100svh);
    }

    @mixin sm\:min-h-lvh {
      @include r(sm, min-height, 100lvh);
    }

    @mixin sm\:min-h-dvh {
      @include r(sm, min-height, 100dvh);
    }

    @mixin sm\:min-h-min {
      @include r(sm, min-height, min-content);
    }

    @mixin sm\:min-h-max {
      @include r(sm, min-height, max-content);
    }

    @mixin sm\:min-h-fit {
      @include r(sm, min-height, fit-content);
    }
    @mixin md\:min-h-0 {
      @include r(md, min-height, 0px);
    }

    // 4px
    @mixin md\:min-h-1 {
      @include r(md, min-height, 0.25rem);
    }

    // 8px
    @mixin md\:min-h-2 {
      @include r(md, min-height, 0.5rem);
    }

    // 12px
    @mixin md\:min-h-3 {
      @include r(md, min-height, 0.75rem);
    }

    // 16px
    @mixin md\:min-h-4 {
      @include r(md, min-height, 1rem);
    }

    // 20px
    @mixin md\:min-h-5 {
      @include r(md, min-height, 1.25rem);
    }

    // 24px
    @mixin md\:min-h-6 {
      @include r(md, min-height, 1.5rem);
    }

    // 28px
    @mixin md\:min-h-7 {
      @include r(md, min-height, 1.75rem);
    }

    // 32px
    @mixin md\:min-h-8 {
      @include r(md, min-height, 2rem);
    }

    // 36px
    @mixin md\:min-h-9 {
      @include r(md, min-height, 2.25rem);
    }

    // 40px
    @mixin md\:min-h-10 {
      @include r(md, min-height, 2.5rem);
    }

    // 44px
    @mixin md\:min-h-11 {
      @include r(md, min-height, 2.75rem);
    }

    // 48px
    @mixin md\:min-h-12 {
      @include r(md, min-height, 3rem);
    }

    // 56px
    @mixin md\:min-h-14 {
      @include r(md, min-height, 3.5rem);
    }

    // 64px
    @mixin md\:min-h-16 {
      @include r(md, min-height, 4rem);
    }

    // 80px
    @mixin md\:min-h-20 {
      @include r(md, min-height, 5rem);
    }

    // 96px
    @mixin md\:min-h-24 {
      @include r(md, min-height, 6rem);
    }

    // 112px
    @mixin md\:min-h-28 {
      @include r(md, min-height, 7rem);
    }

    // 128px
    @mixin md\:min-h-32 {
      @include r(md, min-height, 8rem);
    }

    // 144px
    @mixin md\:min-h-36 {
      @include r(md, min-height, 9rem);
    }

    // 160px
    @mixin md\:min-h-40 {
      @include r(md, min-height, 10rem);
    }

    // 176px
    @mixin md\:min-h-44 {
      @include r(md, min-height, 11rem);
    }

    // 192px
    @mixin md\:min-h-48 {
      @include r(md, min-height, 12rem);
    }

    // 208px
    @mixin md\:min-h-52 {
      @include r(md, min-height, 13rem);
    }

    // 224px
    @mixin md\:min-h-56 {
      @include r(md, min-height, 14rem);
    }

    // 240px
    @mixin md\:min-h-60 {
      @include r(md, min-height, 15rem);
    }

    // 256px
    @mixin md\:min-h-64 {
      @include r(md, min-height, 16rem);
    }

    // 288px
    @mixin md\:min-h-72 {
      @include r(md, min-height, 18rem);
    }

    // 320px
    @mixin md\:min-h-80 {
      @include r(md, min-height, 20rem);
    }

    // 384px
    @mixin md\:min-h-96 {
      @include r(md, min-height, 24rem);
    }

    @mixin md\:min-h-px {
      @include r(md, min-height, 1px);
    }

    // 2px
    @mixin md\:min-h-0\.5 {
      @include r(md, min-height, 0.125rem);
    }

    // 6px
    @mixin md\:min-h-1\.5 {
      @include r(md, min-height, 0.375rem);
    }

    // 10px
    @mixin md\:min-h-2\.5 {
      @include r(md, min-height, 0.625rem);
    }

    // 14px
    @mixin md\:min-h-3\.5 {
      @include r(md, min-height, 0.875rem);
    }

    @mixin md\:min-h-full {
      @include r(md, min-height, 100%);
    }

    @mixin md\:min-h-screen {
      @include r(md, min-height, 100vh);
    }

    @mixin md\:min-h-svh {
      @include r(md, min-height, 100svh);
    }

    @mixin md\:min-h-lvh {
      @include r(md, min-height, 100lvh);
    }

    @mixin md\:min-h-dvh {
      @include r(md, min-height, 100dvh);
    }

    @mixin md\:min-h-min {
      @include r(md, min-height, min-content);
    }

    @mixin md\:min-h-max {
      @include r(md, min-height, max-content);
    }

    @mixin md\:min-h-fit {
      @include r(md, min-height, fit-content);
    }
    @mixin lg\:min-h-0 {
      @include r(lg, min-height, 0px);
    }

    // 4px
    @mixin lg\:min-h-1 {
      @include r(lg, min-height, 0.25rem);
    }

    // 8px
    @mixin lg\:min-h-2 {
      @include r(lg, min-height, 0.5rem);
    }

    // 12px
    @mixin lg\:min-h-3 {
      @include r(lg, min-height, 0.75rem);
    }

    // 16px
    @mixin lg\:min-h-4 {
      @include r(lg, min-height, 1rem);
    }

    // 20px
    @mixin lg\:min-h-5 {
      @include r(lg, min-height, 1.25rem);
    }

    // 24px
    @mixin lg\:min-h-6 {
      @include r(lg, min-height, 1.5rem);
    }

    // 28px
    @mixin lg\:min-h-7 {
      @include r(lg, min-height, 1.75rem);
    }

    // 32px
    @mixin lg\:min-h-8 {
      @include r(lg, min-height, 2rem);
    }

    // 36px
    @mixin lg\:min-h-9 {
      @include r(lg, min-height, 2.25rem);
    }

    // 40px
    @mixin lg\:min-h-10 {
      @include r(lg, min-height, 2.5rem);
    }

    // 44px
    @mixin lg\:min-h-11 {
      @include r(lg, min-height, 2.75rem);
    }

    // 48px
    @mixin lg\:min-h-12 {
      @include r(lg, min-height, 3rem);
    }

    // 56px
    @mixin lg\:min-h-14 {
      @include r(lg, min-height, 3.5rem);
    }

    // 64px
    @mixin lg\:min-h-16 {
      @include r(lg, min-height, 4rem);
    }

    // 80px
    @mixin lg\:min-h-20 {
      @include r(lg, min-height, 5rem);
    }

    // 96px
    @mixin lg\:min-h-24 {
      @include r(lg, min-height, 6rem);
    }

    // 112px
    @mixin lg\:min-h-28 {
      @include r(lg, min-height, 7rem);
    }

    // 128px
    @mixin lg\:min-h-32 {
      @include r(lg, min-height, 8rem);
    }

    // 144px
    @mixin lg\:min-h-36 {
      @include r(lg, min-height, 9rem);
    }

    // 160px
    @mixin lg\:min-h-40 {
      @include r(lg, min-height, 10rem);
    }

    // 176px
    @mixin lg\:min-h-44 {
      @include r(lg, min-height, 11rem);
    }

    // 192px
    @mixin lg\:min-h-48 {
      @include r(lg, min-height, 12rem);
    }

    // 208px
    @mixin lg\:min-h-52 {
      @include r(lg, min-height, 13rem);
    }

    // 224px
    @mixin lg\:min-h-56 {
      @include r(lg, min-height, 14rem);
    }

    // 240px
    @mixin lg\:min-h-60 {
      @include r(lg, min-height, 15rem);
    }

    // 256px
    @mixin lg\:min-h-64 {
      @include r(lg, min-height, 16rem);
    }

    // 288px
    @mixin lg\:min-h-72 {
      @include r(lg, min-height, 18rem);
    }

    // 320px
    @mixin lg\:min-h-80 {
      @include r(lg, min-height, 20rem);
    }

    // 384px
    @mixin lg\:min-h-96 {
      @include r(lg, min-height, 24rem);
    }

    @mixin lg\:min-h-px {
      @include r(lg, min-height, 1px);
    }

    // 2px
    @mixin lg\:min-h-0\.5 {
      @include r(lg, min-height, 0.125rem);
    }

    // 6px
    @mixin lg\:min-h-1\.5 {
      @include r(lg, min-height, 0.375rem);
    }

    // 10px
    @mixin lg\:min-h-2\.5 {
      @include r(lg, min-height, 0.625rem);
    }

    // 14px
    @mixin lg\:min-h-3\.5 {
      @include r(lg, min-height, 0.875rem);
    }

    @mixin lg\:min-h-full {
      @include r(lg, min-height, 100%);
    }

    @mixin lg\:min-h-screen {
      @include r(lg, min-height, 100vh);
    }

    @mixin lg\:min-h-svh {
      @include r(lg, min-height, 100svh);
    }

    @mixin lg\:min-h-lvh {
      @include r(lg, min-height, 100lvh);
    }

    @mixin lg\:min-h-dvh {
      @include r(lg, min-height, 100dvh);
    }

    @mixin lg\:min-h-min {
      @include r(lg, min-height, min-content);
    }

    @mixin lg\:min-h-max {
      @include r(lg, min-height, max-content);
    }

    @mixin lg\:min-h-fit {
      @include r(lg, min-height, fit-content);
    }
    @mixin xl\:min-h-0 {
      @include r(xl, min-height, 0px);
    }

    // 4px
    @mixin xl\:min-h-1 {
      @include r(xl, min-height, 0.25rem);
    }

    // 8px
    @mixin xl\:min-h-2 {
      @include r(xl, min-height, 0.5rem);
    }

    // 12px
    @mixin xl\:min-h-3 {
      @include r(xl, min-height, 0.75rem);
    }

    // 16px
    @mixin xl\:min-h-4 {
      @include r(xl, min-height, 1rem);
    }

    // 20px
    @mixin xl\:min-h-5 {
      @include r(xl, min-height, 1.25rem);
    }

    // 24px
    @mixin xl\:min-h-6 {
      @include r(xl, min-height, 1.5rem);
    }

    // 28px
    @mixin xl\:min-h-7 {
      @include r(xl, min-height, 1.75rem);
    }

    // 32px
    @mixin xl\:min-h-8 {
      @include r(xl, min-height, 2rem);
    }

    // 36px
    @mixin xl\:min-h-9 {
      @include r(xl, min-height, 2.25rem);
    }

    // 40px
    @mixin xl\:min-h-10 {
      @include r(xl, min-height, 2.5rem);
    }

    // 44px
    @mixin xl\:min-h-11 {
      @include r(xl, min-height, 2.75rem);
    }

    // 48px
    @mixin xl\:min-h-12 {
      @include r(xl, min-height, 3rem);
    }

    // 56px
    @mixin xl\:min-h-14 {
      @include r(xl, min-height, 3.5rem);
    }

    // 64px
    @mixin xl\:min-h-16 {
      @include r(xl, min-height, 4rem);
    }

    // 80px
    @mixin xl\:min-h-20 {
      @include r(xl, min-height, 5rem);
    }

    // 96px
    @mixin xl\:min-h-24 {
      @include r(xl, min-height, 6rem);
    }

    // 112px
    @mixin xl\:min-h-28 {
      @include r(xl, min-height, 7rem);
    }

    // 128px
    @mixin xl\:min-h-32 {
      @include r(xl, min-height, 8rem);
    }

    // 144px
    @mixin xl\:min-h-36 {
      @include r(xl, min-height, 9rem);
    }

    // 160px
    @mixin xl\:min-h-40 {
      @include r(xl, min-height, 10rem);
    }

    // 176px
    @mixin xl\:min-h-44 {
      @include r(xl, min-height, 11rem);
    }

    // 192px
    @mixin xl\:min-h-48 {
      @include r(xl, min-height, 12rem);
    }

    // 208px
    @mixin xl\:min-h-52 {
      @include r(xl, min-height, 13rem);
    }

    // 224px
    @mixin xl\:min-h-56 {
      @include r(xl, min-height, 14rem);
    }

    // 240px
    @mixin xl\:min-h-60 {
      @include r(xl, min-height, 15rem);
    }

    // 256px
    @mixin xl\:min-h-64 {
      @include r(xl, min-height, 16rem);
    }

    // 288px
    @mixin xl\:min-h-72 {
      @include r(xl, min-height, 18rem);
    }

    // 320px
    @mixin xl\:min-h-80 {
      @include r(xl, min-height, 20rem);
    }

    // 384px
    @mixin xl\:min-h-96 {
      @include r(xl, min-height, 24rem);
    }

    @mixin xl\:min-h-px {
      @include r(xl, min-height, 1px);
    }

    // 2px
    @mixin xl\:min-h-0\.5 {
      @include r(xl, min-height, 0.125rem);
    }

    // 6px
    @mixin xl\:min-h-1\.5 {
      @include r(xl, min-height, 0.375rem);
    }

    // 10px
    @mixin xl\:min-h-2\.5 {
      @include r(xl, min-height, 0.625rem);
    }

    // 14px
    @mixin xl\:min-h-3\.5 {
      @include r(xl, min-height, 0.875rem);
    }

    @mixin xl\:min-h-full {
      @include r(xl, min-height, 100%);
    }

    @mixin xl\:min-h-screen {
      @include r(xl, min-height, 100vh);
    }

    @mixin xl\:min-h-svh {
      @include r(xl, min-height, 100svh);
    }

    @mixin xl\:min-h-lvh {
      @include r(xl, min-height, 100lvh);
    }

    @mixin xl\:min-h-dvh {
      @include r(xl, min-height, 100dvh);
    }

    @mixin xl\:min-h-min {
      @include r(xl, min-height, min-content);
    }

    @mixin xl\:min-h-max {
      @include r(xl, min-height, max-content);
    }

    @mixin xl\:min-h-fit {
      @include r(xl, min-height, fit-content);
    }

    @mixin \2xl\:min-h-0 {
      @include r(2xl, min-height, 0px);
    }

    // 4px
    @mixin \2xl\:min-h-1 {
      @include r(2xl, min-height, 0.25rem);
    }

    // 8px
    @mixin \2xl\:min-h-2 {
      @include r(2xl, min-height, 0.5rem);
    }

    // 12px
    @mixin \2xl\:min-h-3 {
      @include r(2xl, min-height, 0.75rem);
    }

    // 16px
    @mixin \2xl\:min-h-4 {
      @include r(2xl, min-height, 1rem);
    }

    // 20px
    @mixin \2xl\:min-h-5 {
      @include r(2xl, min-height, 1.25rem);
    }

    // 24px
    @mixin \2xl\:min-h-6 {
      @include r(2xl, min-height, 1.5rem);
    }

    // 28px
    @mixin \2xl\:min-h-7 {
      @include r(2xl, min-height, 1.75rem);
    }

    // 32px
    @mixin \2xl\:min-h-8 {
      @include r(2xl, min-height, 2rem);
    }

    // 36px
    @mixin \2xl\:min-h-9 {
      @include r(2xl, min-height, 2.25rem);
    }

    // 40px
    @mixin \2xl\:min-h-10 {
      @include r(2xl, min-height, 2.5rem);
    }

    // 44px
    @mixin \2xl\:min-h-11 {
      @include r(2xl, min-height, 2.75rem);
    }

    // 48px
    @mixin \2xl\:min-h-12 {
      @include r(2xl, min-height, 3rem);
    }

    // 56px
    @mixin \2xl\:min-h-14 {
      @include r(2xl, min-height, 3.5rem);
    }

    // 64px
    @mixin \2xl\:min-h-16 {
      @include r(2xl, min-height, 4rem);
    }

    // 80px
    @mixin \2xl\:min-h-20 {
      @include r(2xl, min-height, 5rem);
    }

    // 96px
    @mixin \2xl\:min-h-24 {
      @include r(2xl, min-height, 6rem);
    }

    // 112px
    @mixin \2xl\:min-h-28 {
      @include r(2xl, min-height, 7rem);
    }

    // 128px
    @mixin \2xl\:min-h-32 {
      @include r(2xl, min-height, 8rem);
    }

    // 144px
    @mixin \2xl\:min-h-36 {
      @include r(2xl, min-height, 9rem);
    }

    // 160px
    @mixin \2xl\:min-h-40 {
      @include r(2xl, min-height, 10rem);
    }

    // 176px
    @mixin \2xl\:min-h-44 {
      @include r(2xl, min-height, 11rem);
    }

    // 192px
    @mixin \2xl\:min-h-48 {
      @include r(2xl, min-height, 12rem);
    }

    // 208px
    @mixin \2xl\:min-h-52 {
      @include r(2xl, min-height, 13rem);
    }

    // 224px
    @mixin \2xl\:min-h-56 {
      @include r(2xl, min-height, 14rem);
    }

    // 240px
    @mixin \2xl\:min-h-60 {
      @include r(2xl, min-height, 15rem);
    }

    // 256px
    @mixin \2xl\:min-h-64 {
      @include r(2xl, min-height, 16rem);
    }

    // 288px
    @mixin \2xl\:min-h-72 {
      @include r(2xl, min-height, 18rem);
    }

    // 320px
    @mixin \2xl\:min-h-80 {
      @include r(2xl, min-height, 20rem);
    }

    // 384px
    @mixin \2xl\:min-h-96 {
      @include r(2xl, min-height, 24rem);
    }

    @mixin \2xl\:min-h-px {
      @include r(2xl, min-height, 1px);
    }

    // 2px
    @mixin \2xl\:min-h-0\.5 {
      @include r(2xl, min-height, 0.125rem);
    }

    // 6px
    @mixin \2xl\:min-h-1\.5 {
      @include r(2xl, min-height, 0.375rem);
    }

    // 10px
    @mixin \2xl\:min-h-2\.5 {
      @include r(2xl, min-height, 0.625rem);
    }

    // 14px
    @mixin \2xl\:min-h-3\.5 {
      @include r(2xl, min-height, 0.875rem);
    }

    @mixin \2xl\:min-h-full {
      @include r(2xl, min-height, 100%);
    }

    @mixin \2xl\:min-h-screen {
      @include r(2xl, min-height, 100vh);
    }

    @mixin \2xl\:min-h-svh {
      @include r(2xl, min-height, 100svh);
    }

    @mixin \2xl\:min-h-lvh {
      @include r(2xl, min-height, 100lvh);
    }

    @mixin \2xl\:min-h-dvh {
      @include r(2xl, min-height, 100dvh);
    }

    @mixin \2xl\:min-h-min {
      @include r(2xl, min-height, min-content);
    }

    @mixin \2xl\:min-h-max {
      @include r(2xl, min-height, max-content);
    }

    @mixin \2xl\:min-h-fit {
      @include r(2xl, min-height, fit-content);
    }
    // x*/
  }
}
@if $Custom {
  // /*x
  @mixin min-h-($v) {
    min-height: $v;
  }

  @mixin sm\:min-h-($v) {
    @include r(sm, min-height, $v);
  }

  @mixin md\:min-h-($v) {
    @include r(md, min-height, $v);
  }

  @mixin lg\:min-h-($v) {
    @include r(lg, min-height, $v);
  }

  @mixin xl\:min-h-($v) {
    @include r(xl, min-height, $v);
  }

  @mixin \2xl\:min-h-($v) {
    @include r(2xl, min-height, $v);
  } // x*/
}
