@use "../../setting" as *;

/* Min-Height */
@if $Basic {
  @mixin_min-h-0 {
    min-height: 0px;
  }

  /* 4px */
  @mixin_min-h-1 {
    min-height: 0.25rem;
  }

  /* 8px */
  @mixin_min-h-2 {
    min-height: 0.5rem;
  }

  /* 12px */
  @mixin_min-h-3 {
    min-height: 0.75rem;
  }

  /* 16px */
  @mixin_min-h-4 {
    min-height: 1rem;
  }

  /* 20px */
  @mixin_min-h-5 {
    min-height: 1.25rem;
  }

  /* 24px */
  @mixin_min-h-6 {
    min-height: 1.5rem;
  }

  /* 28px */
  @mixin_min-h-7 {
    min-height: 1.75rem;
  }

  /* 32px */
  @mixin_min-h-8 {
    min-height: 2rem;
  }

  /* 36px */
  @mixin_min-h-9 {
    min-height: 2.25rem;
  }

  /* 40px */
  @mixin_min-h-10 {
    min-height: 2.5rem;
  }

  /* 44px */
  @mixin_min-h-11 {
    min-height: 2.75rem;
  }

  /* 48px */
  @mixin_min-h-12 {
    min-height: 3rem;
  }

  /* 56px */
  @mixin_min-h-14 {
    min-height: 3.5rem;
  }

  /* 64px */
  @mixin_min-h-16 {
    min-height: 4rem;
  }

  /* 80px */
  @mixin_min-h-20 {
    min-height: 5rem;
  }

  /* 96px */
  @mixin_min-h-24 {
    min-height: 6rem;
  }

  /* 112px */
  @mixin_min-h-28 {
    min-height: 7rem;
  }

  /* 128px */
  @mixin_min-h-32 {
    min-height: 8rem;
  }

  /* 144px */
  @mixin_min-h-36 {
    min-height: 9rem;
  }

  /* 160px */
  @mixin_min-h-40 {
    min-height: 10rem;
  }

  /* 176px */
  @mixin_min-h-44 {
    min-height: 11rem;
  }

  /* 192px */
  @mixin_min-h-48 {
    min-height: 12rem;
  }

  /* 208px */
  @mixin_min-h-52 {
    min-height: 13rem;
  }

  /* 224px */
  @mixin_min-h-56 {
    min-height: 14rem;
  }

  /* 240px */
  @mixin_min-h-60 {
    min-height: 15rem;
  }

  /* 256px */
  @mixin_min-h-64 {
    min-height: 16rem;
  }

  /* 288px */
  @mixin_min-h-72 {
    min-height: 18rem;
  }

  /* 320px */
  @mixin_min-h-80 {
    min-height: 20rem;
  }

  /* 384px */
  @mixin_min-h-96 {
    min-height: 24rem;
  }

  @mixin_min-h-px {
    min-height: 1px;
  }

  /* 2px */
  @mixin_min-h-0\.5 {
    min-height: 0.125rem;
  }

  /* 6px */
  @mixin_min-h-1\.5 {
    min-height: 0.375rem;
  }

  /* 10px */
  @mixin_min-h-2\.5 {
    min-height: 0.625rem;
  }

  /* 14px */
  @mixin_min-h-3\.5 {
    min-height: 0.875rem;
  }

  @mixin_min-h-full {
    min-height: 100%;
  }

  @mixin_min-h-screen {
    min-height: 100vh;
  }

  @mixin_min-h-svh {
    min-height: 100svh;
  }

  @mixin_min-h-lvh {
    min-height: 100lvh;
  }

  @mixin_min-h-dvh {
    min-height: 100dvh;
  }

  @mixin_min-h-min {
    min-height: min-content;
  }

  @mixin_min-h-max {
    min-height: max-content;
  }

  @mixin_min-h-fit {
    min-height: fit-content;
  }
}

@if $Rwd {
  // reducing size for updating speed
  @if $isLite {
    @mixin_sm\:min-h- ($value) {
      @media (min-width: $breakpoint-sm) {
        min-height: _value;
      }
    }

    @mixin_md\:min-h- ($value) {
      @media (min-width: $breakpoint-md) {
        min-height: _value;
      }
    }

    @mixin_lg\:min-h- ($value) {
      @media (min-width: $breakpoint-lg) {
        min-height: _value;
      }
    }

    @mixin_xl\:min-h- ($value) {
      @media (min-width: $breakpoint-xl) {
        min-height: _value;
      }
    }

    @mixin_\\2xl\:min-h- ($value) {
      @media (min-width: $breakpoint-2xl) {
        min-height: _value;
      }
    }
  }

  // tailwind default
  @else {
  }
}

@if $Custom {
  @mixin_min-h- ($value) {
    min-height: _value;
  }
}
