@use "../../setting" as *;

/* Min-Height */
@if $Basic {
  /*x
  @mixin min-h-0 {
    min-height: 0px;
  }

  // 4px
  @mixin min-h-1 {
    min-height: 0.25rem;
  }

  // 8px
  @mixin min-h-2 {
    min-height: 0.5rem;
  }

  // 12px
  @mixin min-h-3 {
    min-height: 0.75rem;
  }

  // 16px
  @mixin min-h-4 {
    min-height: 1rem;
  }

  // 20px
  @mixin min-h-5 {
    min-height: 1.25rem;
  }

  // 24px
  @mixin min-h-6 {
    min-height: 1.5rem;
  }

  // 28px
  @mixin min-h-7 {
    min-height: 1.75rem;
  }

  // 32px
  @mixin min-h-8 {
    min-height: 2rem;
  }

  // 36px
  @mixin min-h-9 {
    min-height: 2.25rem;
  }

  // 40px
  @mixin min-h-10 {
    min-height: 2.5rem;
  }

  // 44px
  @mixin min-h-11 {
    min-height: 2.75rem;
  }

  // 48px
  @mixin min-h-12 {
    min-height: 3rem;
  }

  // 56px
  @mixin min-h-14 {
    min-height: 3.5rem;
  }

  // 64px
  @mixin min-h-16 {
    min-height: 4rem;
  }

  // 80px
  @mixin min-h-20 {
    min-height: 5rem;
  }

  // 96px
  @mixin min-h-24 {
    min-height: 6rem;
  }

  // 112px
  @mixin min-h-28 {
    min-height: 7rem;
  }

  // 128px
  @mixin min-h-32 {
    min-height: 8rem;
  }

  // 144px
  @mixin min-h-36 {
    min-height: 9rem;
  }

  // 160px
  @mixin min-h-40 {
    min-height: 10rem;
  }

  // 176px
  @mixin min-h-44 {
    min-height: 11rem;
  }

  // 192px
  @mixin min-h-48 {
    min-height: 12rem;
  }

  // 208px
  @mixin min-h-52 {
    min-height: 13rem;
  }

  // 224px
  @mixin min-h-56 {
    min-height: 14rem;
  }

  // 240px
  @mixin min-h-60 {
    min-height: 15rem;
  }

  // 256px
  @mixin min-h-64 {
    min-height: 16rem;
  }

  // 288px
  @mixin min-h-72 {
    min-height: 18rem;
  }

  // 320px
  @mixin min-h-80 {
    min-height: 20rem;
  }

  // 384px
  @mixin min-h-96 {
    min-height: 24rem;
  }

  @mixin min-h-px {
    min-height: 1px;
  }

  // 2px
  @mixin min-h-0\.5 {
    min-height: 0.125rem;
  }

  // 6px
  @mixin min-h-1\.5 {
    min-height: 0.375rem;
  }

  // 10px
  @mixin min-h-2\.5 {
    min-height: 0.625rem;
  }

  // 14px
  @mixin min-h-3\.5 {
    min-height: 0.875rem;
  }

  @mixin min-h-full {
    min-height: 100%;
  }

  @mixin min-h-screen {
    min-height: 100vh;
  }

  @mixin min-h-svh {
    min-height: 100svh;
  }

  @mixin min-h-lvh {
    min-height: 100lvh;
  }

  @mixin min-h-dvh {
    min-height: 100dvh;
  }

  @mixin min-h-min {
    min-height: min-content;
  }

  @mixin min-h-max {
    min-height: max-content;
  }

  @mixin min-h-fit {
    min-height: fit-content;
  }x*/
}

@if $Rwd {
  // reducing size for updating speed
  @if $isLiteMode {
    /*x
    @mixin sm\:min-h-($v) {
      @include r(sm, min-height, $v);
    }

    @mixin md\:min-h-($v) {
      @include r(md, min-height, $v);
    }

    @mixin lg\:min-h-($v) {
      @include r(lg, min-height, $v);
    }

    @mixin xl\:min-h-($v) {
      @include r(xl, min-height, $v);
    }

    @mixin \2xl\:min-h-($v) {
      @include r(2xl, min-height, $v);
    }x*/
  }

  // tailwind default
  @else {
  }
}

@if $Custom {
  /*x
  @mixin min-h-($v) {
    min-height: $v;
  }x*/
}
