@use "../../setting" as *;

$RingWidth: (
  "ring-0": "0px + $tw-ring-offset-width",
  "ring-1": "1px + $tw-ring-offset-width",
  "ring-2": "2px + $tw-ring-offset-width",
  "ring": "3px + $tw-ring-offset-width",
  "ring-4": "4px + $tw-ring-offset-width",
  "ring-8": "8px + $tw-ring-offset-width",
);

$RingWidth2: (
  "ring-inset": null,
);

@if $Basic {
  @each $key, $value in $RingWidth {
    /*x
    @mixin #{$key} {
      $tw-dummy-not-match--ring-offset-width: true !global;
      $tw-dummy-ring-width: #{$value} !global;

      @include box-shadow(get_box-shadow());
    }
    x*/
  }

  @each $key, $value in $RingWidth2 {
    /*x
    @mixin #{$key} {
      $tw-dummy-not-match--ring-offset-width: true !global;

      @include box-shadow(get_box-shadow());
    }
    x*/
  }
}

@if $Rwd and ($sizeMode ==0 or $sizeMode ==1) {
  @each $rwd in $rwdBox {
    @each $key, $value in $RingWidth {
      /*x
      @mixin #{$rwd}\:#{$key} {
        $tw-dummy-not-match--ring-offset-width: true !global;
        $tw-dummy-ring-width: #{$value} !global;

        @include box-shadow(get_box-shadow(), $#{$rwd});
      }
      x*/
    }

    @each $key, $value in $RingWidth2 {
      /*x
      @mixin #{$rwd}\:#{$key} {
        $tw-dummy-not-match--ring-offset-width: true !global;

        @include box-shadow(get_box-shadow(), $#{$rwd});
      }
      x*/
    }
  }
}

@if $Custom {
  /*x
  @mixin ring-($v) {
    @if meta.type-of($v)==color or list.index(inherit currentColor transparent, $v) {
      $tw-ring-color: $v !global;
    }

    @else {
      $tw-dummy-not-match--ring-offset-width: true !global;
      $tw-dummy-ring-width: $v + $tw-ring-offset-width !global;
    }

    @include box-shadow(get_box-shadow());
  }
  x*/

  @each $rwd in $rwdBox {
    /*x
    @mixin #{$rwd}\:ring-($v) {
      @if meta.type-of($v)==color or list.index(inherit currentColor transparent, $v) {
        $tw-ring-color: $v !global;
      }

      @else {
        $tw-dummy-not-match--ring-offset-width: true !global;
        $tw-dummy-ring-width: $v + $tw-ring-offset-width !global;
      }

      @include box-shadow(get_box-shadow(), $#{$rwd});
    }
    x*/
  }
}