@use "../../setting" as *;

/* List Style Type */
@if $Basic {
  @mixin_list-none {
    list-style-type: none;
  }

  @mixin_list-disc {
    list-style-type: disc;
  }

  @mixin_list-decimal {
    list-style-type: decimal;
  }
}

@if $Rwd {
  // reducing size for updating speed
  @if $isLite {
    @mixin_sm\:list- ($value) {
      @media (min-width: $breakpoint-sm) {
        list-style-type: _value;
      }
    }

    @mixin_md\:list- ($value) {
      @media (min-width: $breakpoint-md) {
        list-style-type: _value;
      }
    }

    @mixin_lg\:list- ($value) {
      @media (min-width: $breakpoint-lg) {
        list-style-type: _value;
      }
    }

    @mixin_xl\:list- ($value) {
      @media (min-width: $breakpoint-xl) {
        list-style-type: _value;
      }
    }

    @mixin_\\2xl\:list- ($value) {
      @media (min-width: $breakpoint-2xl) {
        list-style-type: _value;
      }
    }
  }

  // tailwind default
  @else {
  }
}

@if $Custom {
  @mixin_list- ($value) {
    list-style-type: _value;
  }
}
