@use "../../setting" as *;

/* List Style Type */
@if $Basic {
  // /*x
  @mixin list-none {
    list-style-type: none;
  }

  @mixin list-disc {
    list-style-type: disc;
  }

  @mixin list-decimal {
    list-style-type: decimal;
  } // x*/
}

@if $Rwd {
  // /*x
  @mixin sm\:list-none {
    @include r(sm, list-style-type, none);
  }

  @mixin sm\:list-disc {
    @include r(sm, list-style-type, disc);
  }

  @mixin sm\:list-decimal {
    @include r(sm, list-style-type, decimal);
  }
  @mixin md\:list-none {
    @include r(md, list-style-type, none);
  }

  @mixin md\:list-disc {
    @include r(md, list-style-type, disc);
  }

  @mixin md\:list-decimal {
    @include r(md, list-style-type, decimal);
  }
  @mixin lg\:list-none {
    @include r(lg, list-style-type, none);
  }

  @mixin lg\:list-disc {
    @include r(lg, list-style-type, disc);
  }

  @mixin lg\:list-decimal {
    @include r(lg, list-style-type, decimal);
  }
  @mixin xl\:list-none {
    @include r(xl, list-style-type, none);
  }

  @mixin xl\:list-disc {
    @include r(xl, list-style-type, disc);
  }

  @mixin xl\:list-decimal {
    @include r(xl, list-style-type, decimal);
  }
  @mixin \2xl\:list-none {
    @include r(2xl, list-style-type, none);
  }

  @mixin \2xl\:list-disc {
    @include r(2xl, list-style-type, disc);
  }

  @mixin \2xl\:list-decimal {
    @include r(2xl, list-style-type, decimal);
  }
  @mixin sm\:list-($v) {
    @include r(sm, list-style-type, $v);
  }

  @mixin md\:list-($v) {
    @include r(md, list-style-type, $v);
  }

  @mixin lg\:list-($v) {
    @include r(lg, list-style-type, $v);
  }

  @mixin xl\:list-($v) {
    @include r(xl, list-style-type, $v);
  }

  @mixin \2xl\:list-($v) {
    @include r(2xl, list-style-type, $v);
  }
  // x*/
}

@if $Custom {
  // /*x
  @mixin list-($v) {
    list-style-type: $v;
  } // x*/
}
