@use "../../setting" as *;

/* Transition Delay */
@if $Basic {
  // /*x 
  @mixin delay-0 {
    transition-delay: 0s;
  }

  @mixin delay-75 {
    transition-delay: 75ms;
  }

  @mixin delay-100 {
    transition-delay: 100ms;
  }

  @mixin delay-150 {
    transition-delay: 150ms;
  }

  @mixin delay-200 {
    transition-delay: 200ms;
  }

  @mixin delay-300 {
    transition-delay: 300ms;
  }

  @mixin delay-500 {
    transition-delay: 500ms;
  }

  @mixin delay-700 {
    transition-delay: 700ms;
  }

  @mixin delay-1000 {
    transition-delay: 1000ms;
  } // x*/
}

@if $Rwd {
  // reducing size for updating speed
  @if $isLiteMode {
    // /*x 
    @mixin sm\:delay-($v) {
      @include r(sm, transition-delay, $v);
    }

    @mixin md\:delay-($v) {
      @include r(md, transition-delay, $v);
    }

    @mixin lg\:delay-($v) {
      @include r(lg, transition-delay, $v);
    }

    @mixin xl\:delay-($v) {
      @include r(xl, transition-delay, $v);
    }

    @mixin \2xl\:delay-($v) {
      @include r(2xl, transition-delay, $v);
    } // x*/
  }

  // tailwind default
  @else {
  }
}

@if $Custom {
  // /*x 
  @mixin delay-($v) {
    transition-delay: $v;
  } // x*/
}
