@use "../../setting" as *;

@if $Basic {
  // /*x
  @mixin mix-blend-normal {
    mix-blend-mode: normal;
  }

  @mixin mix-blend-multiply {
    mix-blend-mode: multiply;
  }

  @mixin mix-blend-screen {
    mix-blend-mode: screen;
  }

  @mixin mix-blend-overlay {
    mix-blend-mode: overlay;
  }

  @mixin mix-blend-darken {
    mix-blend-mode: darken;
  }

  @mixin mix-blend-lighten {
    mix-blend-mode: lighten;
  }

  @mixin mix-blend-color-dodge {
    mix-blend-mode: color-dodge;
  }

  @mixin mix-blend-color-burn {
    mix-blend-mode: color-burn;
  }

  @mixin mix-blend-hard-light {
    mix-blend-mode: hard-light;
  }

  @mixin mix-blend-soft-light {
    mix-blend-mode: soft-light;
  }

  @mixin mix-blend-difference {
    mix-blend-mode: difference;
  }

  @mixin mix-blend-exclusion {
    mix-blend-mode: exclusion;
  }

  @mixin mix-blend-hue {
    mix-blend-mode: hue;
  }

  @mixin mix-blend-saturation {
    mix-blend-mode: saturation;
  }

  @mixin mix-blend-color {
    mix-blend-mode: color;
  }

  @mixin mix-blend-luminosity {
    mix-blend-mode: luminosity;
  }

  @mixin mix-blend-plus-darker {
    mix-blend-mode: plus-darker;
  }

  @mixin mix-blend-plus-lighter {
    mix-blend-mode: plus-lighter;
  }

  // x*/
}

@if $Rwd {
  // /*x
  @mixin sm\:mix-blend-normal {
    @include mix-blend-mode(normal, $sm);
  }

  @mixin sm\:mix-blend-multiply {
    @include mix-blend-mode(multiply, $sm);
  }

  @mixin sm\:mix-blend-screen {
    @include mix-blend-mode(screen, $sm);
  }

  @mixin sm\:mix-blend-overlay {
    @include mix-blend-mode(overlay, $sm);
  }

  @mixin sm\:mix-blend-darken {
    @include mix-blend-mode(darken, $sm);
  }

  @mixin sm\:mix-blend-lighten {
    @include mix-blend-mode(lighten, $sm);
  }

  @mixin sm\:mix-blend-color-dodge {
    @include mix-blend-mode(color-dodge, $sm);
  }

  @mixin sm\:mix-blend-color-burn {
    @include mix-blend-mode(color-burn, $sm);
  }

  @mixin sm\:mix-blend-hard-light {
    @include mix-blend-mode(hard-light, $sm);
  }

  @mixin sm\:mix-blend-soft-light {
    @include mix-blend-mode(soft-light, $sm);
  }

  @mixin sm\:mix-blend-difference {
    @include mix-blend-mode(difference, $sm);
  }

  @mixin sm\:mix-blend-exclusion {
    @include mix-blend-mode(exclusion, $sm);
  }

  @mixin sm\:mix-blend-hue {
    @include mix-blend-mode(hue, $sm);
  }

  @mixin sm\:mix-blend-saturation {
    @include mix-blend-mode(saturation, $sm);
  }

  @mixin sm\:mix-blend-color {
    @include mix-blend-mode(color, $sm);
  }

  @mixin sm\:mix-blend-luminosity {
    @include mix-blend-mode(luminosity, $sm);
  }

  @mixin sm\:mix-blend-plus-darker {
    @include mix-blend-mode(plus-darker, $sm);
  }

  @mixin sm\:mix-blend-plus-lighter {
    @include mix-blend-mode(plus-lighter, $sm);
  }

  @mixin md\:mix-blend-normal {
    @include mix-blend-mode(normal, $md);
  }

  @mixin md\:mix-blend-multiply {
    @include mix-blend-mode(multiply, $md);
  }

  @mixin md\:mix-blend-screen {
    @include mix-blend-mode(screen, $md);
  }

  @mixin md\:mix-blend-overlay {
    @include mix-blend-mode(overlay, $md);
  }

  @mixin md\:mix-blend-darken {
    @include mix-blend-mode(darken, $md);
  }

  @mixin md\:mix-blend-lighten {
    @include mix-blend-mode(lighten, $md);
  }

  @mixin md\:mix-blend-color-dodge {
    @include mix-blend-mode(color-dodge, $md);
  }

  @mixin md\:mix-blend-color-burn {
    @include mix-blend-mode(color-burn, $md);
  }

  @mixin md\:mix-blend-hard-light {
    @include mix-blend-mode(hard-light, $md);
  }

  @mixin md\:mix-blend-soft-light {
    @include mix-blend-mode(soft-light, $md);
  }

  @mixin md\:mix-blend-difference {
    @include mix-blend-mode(difference, $md);
  }

  @mixin md\:mix-blend-exclusion {
    @include mix-blend-mode(exclusion, $md);
  }

  @mixin md\:mix-blend-hue {
    @include mix-blend-mode(hue, $md);
  }

  @mixin md\:mix-blend-saturation {
    @include mix-blend-mode(saturation, $md);
  }

  @mixin md\:mix-blend-color {
    @include mix-blend-mode(color, $md);
  }

  @mixin md\:mix-blend-luminosity {
    @include mix-blend-mode(luminosity, $md);
  }

  @mixin md\:mix-blend-plus-darker {
    @include mix-blend-mode(plus-darker, $md);
  }

  @mixin md\:mix-blend-plus-lighter {
    @include mix-blend-mode(plus-lighter, $md);
  }

  @mixin lg\:mix-blend-normal {
    @include mix-blend-mode(normal, $lg);
  }

  @mixin lg\:mix-blend-multiply {
    @include mix-blend-mode(multiply, $lg);
  }

  @mixin lg\:mix-blend-screen {
    @include mix-blend-mode(screen, $lg);
  }

  @mixin lg\:mix-blend-overlay {
    @include mix-blend-mode(overlay, $lg);
  }

  @mixin lg\:mix-blend-darken {
    @include mix-blend-mode(darken, $lg);
  }

  @mixin lg\:mix-blend-lighten {
    @include mix-blend-mode(lighten, $lg);
  }

  @mixin lg\:mix-blend-color-dodge {
    @include mix-blend-mode(color-dodge, $lg);
  }

  @mixin lg\:mix-blend-color-burn {
    @include mix-blend-mode(color-burn, $lg);
  }

  @mixin lg\:mix-blend-hard-light {
    @include mix-blend-mode(hard-light, $lg);
  }

  @mixin lg\:mix-blend-soft-light {
    @include mix-blend-mode(soft-light, $lg);
  }

  @mixin lg\:mix-blend-difference {
    @include mix-blend-mode(difference, $lg);
  }

  @mixin lg\:mix-blend-exclusion {
    @include mix-blend-mode(exclusion, $lg);
  }

  @mixin lg\:mix-blend-hue {
    @include mix-blend-mode(hue, $lg);
  }

  @mixin lg\:mix-blend-saturation {
    @include mix-blend-mode(saturation, $lg);
  }

  @mixin lg\:mix-blend-color {
    @include mix-blend-mode(color, $lg);
  }

  @mixin lg\:mix-blend-luminosity {
    @include mix-blend-mode(luminosity, $lg);
  }

  @mixin lg\:mix-blend-plus-darker {
    @include mix-blend-mode(plus-darker, $lg);
  }

  @mixin lg\:mix-blend-plus-lighter {
    @include mix-blend-mode(plus-lighter, $lg);
  }

  @mixin xl\:mix-blend-normal {
    @include mix-blend-mode(normal, $xl);
  }

  @mixin xl\:mix-blend-multiply {
    @include mix-blend-mode(multiply, $xl);
  }

  @mixin xl\:mix-blend-screen {
    @include mix-blend-mode(screen, $xl);
  }

  @mixin xl\:mix-blend-overlay {
    @include mix-blend-mode(overlay, $xl);
  }

  @mixin xl\:mix-blend-darken {
    @include mix-blend-mode(darken, $xl);
  }

  @mixin xl\:mix-blend-lighten {
    @include mix-blend-mode(lighten, $xl);
  }

  @mixin xl\:mix-blend-color-dodge {
    @include mix-blend-mode(color-dodge, $xl);
  }

  @mixin xl\:mix-blend-color-burn {
    @include mix-blend-mode(color-burn, $xl);
  }

  @mixin xl\:mix-blend-hard-light {
    @include mix-blend-mode(hard-light, $xl);
  }

  @mixin xl\:mix-blend-soft-light {
    @include mix-blend-mode(soft-light, $xl);
  }

  @mixin xl\:mix-blend-difference {
    @include mix-blend-mode(difference, $xl);
  }

  @mixin xl\:mix-blend-exclusion {
    @include mix-blend-mode(exclusion, $xl);
  }

  @mixin xl\:mix-blend-hue {
    @include mix-blend-mode(hue, $xl);
  }

  @mixin xl\:mix-blend-saturation {
    @include mix-blend-mode(saturation, $xl);
  }

  @mixin xl\:mix-blend-color {
    @include mix-blend-mode(color, $xl);
  }

  @mixin xl\:mix-blend-luminosity {
    @include mix-blend-mode(luminosity, $xl);
  }

  @mixin xl\:mix-blend-plus-darker {
    @include mix-blend-mode(plus-darker, $xl);
  }

  @mixin xl\:mix-blend-plus-lighter {
    @include mix-blend-mode(plus-lighter, $xl);
  }

  @mixin \2xl\:mix-blend-normal {
    @include mix-blend-mode(normal, $\2xl);
  }

  @mixin \2xl\:mix-blend-multiply {
    @include mix-blend-mode(multiply, $\2xl);
  }

  @mixin \2xl\:mix-blend-screen {
    @include mix-blend-mode(screen, $\2xl);
  }

  @mixin \2xl\:mix-blend-overlay {
    @include mix-blend-mode(overlay, $\2xl);
  }

  @mixin \2xl\:mix-blend-darken {
    @include mix-blend-mode(darken, $\2xl);
  }

  @mixin \2xl\:mix-blend-lighten {
    @include mix-blend-mode(lighten, $\2xl);
  }

  @mixin \2xl\:mix-blend-color-dodge {
    @include mix-blend-mode(color-dodge, $\2xl);
  }

  @mixin \2xl\:mix-blend-color-burn {
    @include mix-blend-mode(color-burn, $\2xl);
  }

  @mixin \2xl\:mix-blend-hard-light {
    @include mix-blend-mode(hard-light, $\2xl);
  }

  @mixin \2xl\:mix-blend-soft-light {
    @include mix-blend-mode(soft-light, $\2xl);
  }

  @mixin \2xl\:mix-blend-difference {
    @include mix-blend-mode(difference, $\2xl);
  }

  @mixin \2xl\:mix-blend-exclusion {
    @include mix-blend-mode(exclusion, $\2xl);
  }

  @mixin \2xl\:mix-blend-hue {
    @include mix-blend-mode(hue, $\2xl);
  }

  @mixin \2xl\:mix-blend-saturation {
    @include mix-blend-mode(saturation, $\2xl);
  }

  @mixin \2xl\:mix-blend-color {
    @include mix-blend-mode(color, $\2xl);
  }

  @mixin \2xl\:mix-blend-luminosity {
    @include mix-blend-mode(luminosity, $\2xl);
  }

  @mixin \2xl\:mix-blend-plus-darker {
    @include mix-blend-mode(plus-darker, $\2xl);
  }

  @mixin \2xl\:mix-blend-plus-lighter {
    @include mix-blend-mode(plus-lighter, $\2xl);
  }
  // x*/
}
