@use "../../setting" as *;


$MixBlendMode: (
  "mix-blend-normal": normal,
  "mix-blend-multiply": multiply,
  "mix-blend-screen": screen,
  "mix-blend-overlay": overlay,
  "mix-blend-darken": darken,
  "mix-blend-lighten": lighten,
  "mix-blend-color-dodge": color-dodge,
  "mix-blend-color-burn": color-burn,
  "mix-blend-hard-light": hard-light,
  "mix-blend-soft-light": soft-light,
  "mix-blend-difference": difference,
  "mix-blend-exclusion": exclusion,
  "mix-blend-hue": hue,
  "mix-blend-saturation": saturation,
  "mix-blend-color": color,
  "mix-blend-luminosity": luminosity,
  "mix-blend-plus-darker": plus-darker,
  "mix-blend-plus-lighter": plus-lighter,
);

@if $Basic {
  @each $key, $value in $MixBlendMode {
    /*x
    @mixin #{$key}{
      @include mix-blend-mode(#{$value});
    }
    x*/
  }
}

@if $Rwd {
  @each $rwd in $rwdBox {
    @each $key, $value in $MixBlendMode {
      /*x
      @mixin #{$rwd}\:#{$key}{
        @include mix-blend-mode(#{$value}, $#{$rwd});
      }
      x*/
    }
  }
}