@use "../../setting" as *;
@use "../../mode0" as *;
@use "true" as *;

@include describe("5.Typography") {
  @include describe("Text Align") {
    @include describe("Basic") {
      @include it("text-left") {
        @include assert {
          @include output {
            @include text-left;
            @include clear;
          }

          @include expect {
            text-align: left;
          }
        }
      }

      @include it("text-center") {
        @include assert {
          @include output {
            @include text-center;
            @include clear;
          }

          @include expect {
            text-align: center;
          }
        }
      }

      @include it("text-right") {
        @include assert {
          @include output {
            @include text-right;
            @include clear;
          }

          @include expect {
            text-align: right;
          }
        }
      }

      @include it("text-justify") {
        @include assert {
          @include output {
            @include text-justify;
            @include clear;
          }

          @include expect {
            text-align: justify;
          }
        }
      }

      @include it("text-start") {
        @include assert {
          @include output {
            @include text-start;
            @include clear;
          }

          @include expect {
            text-align: start;
          }
        }
      }

      @include it("text-end") {
        @include assert {
          @include output {
            @include text-end;
            @include clear;
          }

          @include expect {
            text-align: end;
          }
        }
      }
    }

    @include describe("Rwd") {
      @include it("sm\:text-left") {
        @include assert {
          @include output {
            @include sm\:text-left;
            @include clear;
          }

          @include expect {
            @media (min-width: $sm) {
              text-align: left;
            }
          }
        }
      }

      @include it("sm\:text-center") {
        @include assert {
          @include output {
            @include sm\:text-center;
            @include clear;
          }

          @include expect {
            @media (min-width: $sm) {
              text-align: center;
            }
          }
        }
      }

      @include it("sm\:text-right") {
        @include assert {
          @include output {
            @include sm\:text-right;
            @include clear;
          }

          @include expect {
            @media (min-width: $sm) {
              text-align: right;
            }
          }
        }
      }

      @include it("sm\:text-justify") {
        @include assert {
          @include output {
            @include sm\:text-justify;
            @include clear;
          }

          @include expect {
            @media (min-width: $sm) {
              text-align: justify;
            }
          }
        }
      }

      @include it("sm\:text-start") {
        @include assert {
          @include output {
            @include sm\:text-start;
            @include clear;
          }

          @include expect {
            @media (min-width: $sm) {
              text-align: start;
            }
          }
        }
      }

      @include it("sm\:text-end") {
        @include assert {
          @include output {
            @include sm\:text-end;
            @include clear;
          }

          @include expect {
            @media (min-width: $sm) {
              text-align: end;
            }
          }
        }
      }

      @include it("md\:text-left") {
        @include assert {
          @include output {
            @include md\:text-left;
            @include clear;
          }

          @include expect {
            @media (min-width: $md) {
              text-align: left;
            }
          }
        }
      }

      @include it("md\:text-center") {
        @include assert {
          @include output {
            @include md\:text-center;
            @include clear;
          }

          @include expect {
            @media (min-width: $md) {
              text-align: center;
            }
          }
        }
      }

      @include it("md\:text-right") {
        @include assert {
          @include output {
            @include md\:text-right;
            @include clear;
          }

          @include expect {
            @media (min-width: $md) {
              text-align: right;
            }
          }
        }
      }

      @include it("md\:text-justify") {
        @include assert {
          @include output {
            @include md\:text-justify;
            @include clear;
          }

          @include expect {
            @media (min-width: $md) {
              text-align: justify;
            }
          }
        }
      }

      @include it("md\:text-start") {
        @include assert {
          @include output {
            @include md\:text-start;
            @include clear;
          }

          @include expect {
            @media (min-width: $md) {
              text-align: start;
            }
          }
        }
      }

      @include it("md\:text-end") {
        @include assert {
          @include output {
            @include md\:text-end;
            @include clear;
          }

          @include expect {
            @media (min-width: $md) {
              text-align: end;
            }
          }
        }
      }

      @include it("lg\:text-left") {
        @include assert {
          @include output {
            @include lg\:text-left;
            @include clear;
          }

          @include expect {
            @media (min-width: $lg) {
              text-align: left;
            }
          }
        }
      }

      @include it("lg\:text-center") {
        @include assert {
          @include output {
            @include lg\:text-center;
            @include clear;
          }

          @include expect {
            @media (min-width: $lg) {
              text-align: center;
            }
          }
        }
      }

      @include it("lg\:text-right") {
        @include assert {
          @include output {
            @include lg\:text-right;
            @include clear;
          }

          @include expect {
            @media (min-width: $lg) {
              text-align: right;
            }
          }
        }
      }

      @include it("lg\:text-justify") {
        @include assert {
          @include output {
            @include lg\:text-justify;
            @include clear;
          }

          @include expect {
            @media (min-width: $lg) {
              text-align: justify;
            }
          }
        }
      }

      @include it("lg\:text-start") {
        @include assert {
          @include output {
            @include lg\:text-start;
            @include clear;
          }

          @include expect {
            @media (min-width: $lg) {
              text-align: start;
            }
          }
        }
      }

      @include it("lg\:text-end") {
        @include assert {
          @include output {
            @include lg\:text-end;
            @include clear;
          }

          @include expect {
            @media (min-width: $lg) {
              text-align: end;
            }
          }
        }
      }

      @include it("xl\:text-left") {
        @include assert {
          @include output {
            @include xl\:text-left;
            @include clear;
          }

          @include expect {
            @media (min-width: $xl) {
              text-align: left;
            }
          }
        }
      }

      @include it("xl\:text-center") {
        @include assert {
          @include output {
            @include xl\:text-center;
            @include clear;
          }

          @include expect {
            @media (min-width: $xl) {
              text-align: center;
            }
          }
        }
      }

      @include it("xl\:text-right") {
        @include assert {
          @include output {
            @include xl\:text-right;
            @include clear;
          }

          @include expect {
            @media (min-width: $xl) {
              text-align: right;
            }
          }
        }
      }

      @include it("xl\:text-justify") {
        @include assert {
          @include output {
            @include xl\:text-justify;
            @include clear;
          }

          @include expect {
            @media (min-width: $xl) {
              text-align: justify;
            }
          }
        }
      }

      @include it("xl\:text-start") {
        @include assert {
          @include output {
            @include xl\:text-start;
            @include clear;
          }

          @include expect {
            @media (min-width: $xl) {
              text-align: start;
            }
          }
        }
      }

      @include it("xl\:text-end") {
        @include assert {
          @include output {
            @include xl\:text-end;
            @include clear;
          }

          @include expect {
            @media (min-width: $xl) {
              text-align: end;
            }
          }
        }
      }

      @include it("\2xl\:text-left") {
        @include assert {
          @include output {
            @include \2xl\:text-left;
            @include clear;
          }

          @include expect {
            @media (min-width: $\2xl) {
              text-align: left;
            }
          }
        }
      }

      @include it("\2xl\:text-center") {
        @include assert {
          @include output {
            @include \2xl\:text-center;
            @include clear;
          }

          @include expect {
            @media (min-width: $\2xl) {
              text-align: center;
            }
          }
        }
      }

      @include it("\2xl\:text-right") {
        @include assert {
          @include output {
            @include \2xl\:text-right;
            @include clear;
          }

          @include expect {
            @media (min-width: $\2xl) {
              text-align: right;
            }
          }
        }
      }

      @include it("\2xl\:text-justify") {
        @include assert {
          @include output {
            @include \2xl\:text-justify;
            @include clear;
          }

          @include expect {
            @media (min-width: $\2xl) {
              text-align: justify;
            }
          }
        }
      }

      @include it("\2xl\:text-start") {
        @include assert {
          @include output {
            @include \2xl\:text-start;
            @include clear;
          }

          @include expect {
            @media (min-width: $\2xl) {
              text-align: start;
            }
          }
        }
      }

      @include it("\2xl\:text-end") {
        @include assert {
          @include output {
            @include \2xl\:text-end;
            @include clear;
          }

          @include expect {
            @media (min-width: $\2xl) {
              text-align: end;
            }
          }
        }
      }
    }
  }
}
