@use "../../setting" as *;
@use "sass:list";

// 1st: -webkit-font-smoothing
// 2nd: -moz-osx-font-smoothing
$FontSmoothing: (
  "antialiased": (antialiased, grayscale),
  "subpixel-antialiased": (auto, auto),
);

@if $Basic {
  @each $key, $value in $FontSmoothing {
    /*x
    @mixin #{$key} {
      @include -webkit-font-smoothing(#{list.nth($value, 1)});
      @include -moz-osx-font-smoothing(#{list.nth($value, 2)});
    }
    x*/
  }
}

@if $Rwd {
  @each $rwd in $rwdBox {
    @each $key, $value in $FontSmoothing {
      /*x
        @mixin #{$rwd}\:#{$key} {
          @include #{$rwd} {
            @include -webkit-font-smoothing(#{list.nth($value, 1)});
            @include -moz-osx-font-smoothing(#{list.nth($value, 2)});
          }
        }
      x*/
    }
  }
}