@use "../../setting" as *;

/* Position */
@if $Basic {
  /*x
  @mixin static {
    position: static;
  }

  @mixin fixed {
    position: fixed;
  }

  @mixin absolute {
    position: absolute;
  }

  @mixin relative {
    position: relative;
  }

  @mixin sticky {
    position: sticky;
  }
  x*/
}

@if $Rwd {
  /*x
  @mixin sm\:static {
    @media (min-width: $breakpoint-sm) {
      position: static;
    }
  }

  @mixin sm\:fixed {
    @media (min-width: $breakpoint-sm) {
      position: fixed;
    }
  }

  @mixin sm\:absolute {
    @media (min-width: $breakpoint-sm) {
      position: absolute;
    }
  }

  @mixin sm\:relative {
    @media (min-width: $breakpoint-sm) {
      position: relative;
    }
  }

  @mixin sm\:sticky {
    @media (min-width: $breakpoint-sm) {
      position: sticky;
    }
  }

  @mixin md\:static {
    @media (min-width: $breakpoint-md) {
      position: static;
    }
  }

  @mixin md\:fixed {
    @media (min-width: $breakpoint-md) {
      position: fixed;
    }
  }

  @mixin md\:absolute {
    @media (min-width: $breakpoint-md) {
      position: absolute;
    }
  }

  @mixin md\:relative {
    @media (min-width: $breakpoint-md) {
      position: relative;
    }
  }

  @mixin md\:sticky {
    @media (min-width: $breakpoint-md) {
      position: sticky;
    }
  }

  @mixin lg\:static {
    @media (min-width: $breakpoint-lg) {
      position: static;
    }
  }

  @mixin lg\:fixed {
    @media (min-width: $breakpoint-lg) {
      position: fixed;
    }
  }

  @mixin lg\:absolute {
    @media (min-width: $breakpoint-lg) {
      position: absolute;
    }
  }

  @mixin lg\:relative {
    @media (min-width: $breakpoint-lg) {
      position: relative;
    }
  }

  @mixin lg\:sticky {
    @media (min-width: $breakpoint-lg) {
      position: sticky;
    }
  }

  @mixin xl\:static {
    @media (min-width: $breakpoint-xl) {
      position: static;
    }
  }

  @mixin xl\:fixed {
    @media (min-width: $breakpoint-xl) {
      position: fixed;
    }
  }

  @mixin xl\:absolute {
    @media (min-width: $breakpoint-xl) {
      position: absolute;
    }
  }

  @mixin xl\:relative {
    @media (min-width: $breakpoint-xl) {
      position: relative;
    }
  }

  @mixin xl\:sticky {
    @media (min-width: $breakpoint-xl) {
      position: sticky;
    }
  }

  @mixin \2xl\:static {
    @media (min-width: $breakpoint-2xl) {
      position: static;
    }
  }

  @mixin \2xl\:fixed {
    @media (min-width: $breakpoint-2xl) {
      position: fixed;
    }
  }

  @mixin \2xl\:absolute {
    @media (min-width: $breakpoint-2xl) {
      position: absolute;
    }
  }

  @mixin \2xl\:relative {
    @media (min-width: $breakpoint-2xl) {
      position: relative;
    }
  }

  @mixin \2xl\:sticky {
    @media (min-width: $breakpoint-2xl) {
      position: sticky;
    }
  }
  x*/
}
