@use "../../setting" as *;

@if $FlexGrow {
  /* FlexGrow */
  @if $Basic {
    @mixin_grow {
      flex-grow: 1;
    }

    @mixin_grow-0 {
      flex-grow: 0;
    }
  }

  @if $Rwd {
    // reducing size for updating speed
    @if $isLite {
      @mixin_sm\:grow-value {
        @media (min-width: $breakpoint-sm) {
          flex-grow: _value;
        }
      }

      @mixin_md\:grow-value {
        @media (min-width: $breakpoint-md) {
          flex-grow: _value;
        }
      }

      @mixin_lg\:grow-value {
        @media (min-width: $breakpoint-lg) {
          flex-grow: _value;
        }
      }

      @mixin_xl\:grow-value {
        @media (min-width: $breakpoint-xl) {
          flex-grow: _value;
        }
      }

      @mixin_\\2xl\:grow-value {
        @media (min-width: $breakpoint-2xl) {
          flex-grow: _value;
        }
      }
    }

    // tailwind default
    @else {
    }
  }

  @if $Custom {
    @mixin_grow-value {
      flex-grow: _value;
    }
  }
}
