@use "../../mode0" as *;
@use "true" as *;

@include describe("15.Accessibility") {
  @include describe("Forced Color Adjust") {
    @include describe("Basic") {
      @include it("forced-color-adjust-auto") {
        @include assert {
          @include output {
            @include forced-color-adjust-auto;
            @include reset;
          }

          @include expect {
            forced-color-adjust: auto;
          }
        }
      }

      @include it("forced-color-adjust-none") {
        @include assert {
          @include output {
            @include forced-color-adjust-none;
            @include reset;
          }

          @include expect {
            forced-color-adjust: none;
          }
        }
      }
    }

    @include describe("Rwd") {
      @include it("sm\:forced-color-adjust-auto") {
        @include assert {
          @include output {
            @include sm\:forced-color-adjust-auto;
            @include reset;
          }

          @include expect {
            @media (min-width: $sm) {
              forced-color-adjust: auto;
            }
          }
        }
      }

      @include it("sm\:forced-color-adjust-none") {
        @include assert {
          @include output {
            @include sm\:forced-color-adjust-none;
            @include reset;
          }

          @include expect {
            @media (min-width: $sm) {
              forced-color-adjust: none;
            }
          }
        }
      }
      @include it("md\:forced-color-adjust-auto") {
        @include assert {
          @include output {
            @include md\:forced-color-adjust-auto;
            @include reset;
          }

          @include expect {
            @media (min-width: $md) {
              forced-color-adjust: auto;
            }
          }
        }
      }

      @include it("md\:forced-color-adjust-none") {
        @include assert {
          @include output {
            @include md\:forced-color-adjust-none;
            @include reset;
          }

          @include expect {
            @media (min-width: $md) {
              forced-color-adjust: none;
            }
          }
        }
      }
      @include it("lg\:forced-color-adjust-auto") {
        @include assert {
          @include output {
            @include lg\:forced-color-adjust-auto;
            @include reset;
          }

          @include expect {
            @media (min-width: $lg) {
              forced-color-adjust: auto;
            }
          }
        }
      }

      @include it("lg\:forced-color-adjust-none") {
        @include assert {
          @include output {
            @include lg\:forced-color-adjust-none;
            @include reset;
          }

          @include expect {
            @media (min-width: $lg) {
              forced-color-adjust: none;
            }
          }
        }
      }
      @include it("xl\:forced-color-adjust-auto") {
        @include assert {
          @include output {
            @include xl\:forced-color-adjust-auto;
            @include reset;
          }

          @include expect {
            @media (min-width: $xl) {
              forced-color-adjust: auto;
            }
          }
        }
      }

      @include it("xl\:forced-color-adjust-none") {
        @include assert {
          @include output {
            @include xl\:forced-color-adjust-none;
            @include reset;
          }

          @include expect {
            @media (min-width: $xl) {
              forced-color-adjust: none;
            }
          }
        }
      }
      @include it("\2xl\:forced-color-adjust-auto") {
        @include assert {
          @include output {
            @include \2xl\:forced-color-adjust-auto;
            @include reset;
          }

          @include expect {
            @media (min-width: $\2xl) {
              forced-color-adjust: auto;
            }
          }
        }
      }

      @include it("\2xl\:forced-color-adjust-none") {
        @include assert {
          @include output {
            @include \2xl\:forced-color-adjust-none;
            @include reset;
          }

          @include expect {
            @media (min-width: $\2xl) {
              forced-color-adjust: none;
            }
          }
        }
      }
    }
  }
}
