@use "../../setting" as *;
@use "../../mode0" as *;
@use "true" as *;

@include describe("9.Filters") {
  @include describe("Backdrop Contrast") {
    @include describe("Basic") {
      @include it("backdrop-contrast-0") {
        @include assert {
          @include output {
            @include backdrop-contrast-0;
            @include clear;
          }

          @include expect {
            backdrop-filter: contrast(0);
          }
        }
      }

      @include it("backdrop-contrast-50") {
        @include assert {
          @include output {
            @include backdrop-contrast-50;
            @include clear;
          }

          @include expect {
            backdrop-filter: contrast(.5);
          }
        }
      }

      @include it("backdrop-contrast-75") {
        @include assert {
          @include output {
            @include backdrop-contrast-75;
            @include clear;
          }

          @include expect {
            backdrop-filter: contrast(.75);
          }
        }
      }

      @include it("backdrop-contrast-100") {
        @include assert {
          @include output {
            @include backdrop-contrast-100;
            @include clear;
          }

          @include expect {
            backdrop-filter: contrast(1);
          }
        }
      }

      @include it("backdrop-contrast-125") {
        @include assert {
          @include output {
            @include backdrop-contrast-125;
            @include clear;
          }

          @include expect {
            backdrop-filter: contrast(1.25);
          }
        }
      }

      @include it("backdrop-contrast-150") {
        @include assert {
          @include output {
            @include backdrop-contrast-150;
            @include clear;
          }

          @include expect {
            backdrop-filter: contrast(1.5);
          }
        }
      }

      @include it("backdrop-contrast-200") {
        @include assert {
          @include output {
            @include backdrop-contrast-200;
            @include clear;
          }

          @include expect {
            backdrop-filter: contrast(2);
          }
        }
      }
    }

    @include describe("Rwd") {
      @include it("sm\:backdrop-contrast-0") {
        @include assert {
          @include output {
            @include sm\:backdrop-contrast-0;
            @include clear;
          }

          @include expect {
            @media(min-width:$sm) {
              backdrop-filter: contrast(0);
            }
          }
        }
      }

      @include it("sm\:backdrop-contrast-50") {
        @include assert {
          @include output {
            @include sm\:backdrop-contrast-50;
            @include clear;
          }

          @include expect {
            @media(min-width:$sm) {
              backdrop-filter: contrast(.5);
            }
          }
        }
      }

      @include it("sm\:backdrop-contrast-75") {
        @include assert {
          @include output {
            @include sm\:backdrop-contrast-75;
            @include clear;
          }

          @include expect {
            @media(min-width:$sm) {
              backdrop-filter: contrast(.75);
            }
          }
        }
      }

      @include it("sm\:backdrop-contrast-100") {
        @include assert {
          @include output {
            @include sm\:backdrop-contrast-100;
            @include clear;
          }

          @include expect {
            @media(min-width:$sm) {
              backdrop-filter: contrast(1);
            }
          }
        }
      }

      @include it("sm\:backdrop-contrast-125") {
        @include assert {
          @include output {
            @include sm\:backdrop-contrast-125;
            @include clear;
          }

          @include expect {
            @media(min-width:$sm) {
              backdrop-filter: contrast(1.25);
            }
          }
        }
      }

      @include it("sm\:backdrop-contrast-150") {
        @include assert {
          @include output {
            @include sm\:backdrop-contrast-150;
            @include clear;
          }

          @include expect {
            @media(min-width:$sm) {
              backdrop-filter: contrast(1.5);
            }
          }
        }
      }

      @include it("sm\:backdrop-contrast-200") {
        @include assert {
          @include output {
            @include sm\:backdrop-contrast-200;
            @include clear;
          }

          @include expect {
            @media(min-width:$sm) {
              backdrop-filter: contrast(2);
            }
          }
        }
      }

      @include it("md\:backdrop-contrast-0") {
        @include assert {
          @include output {
            @include md\:backdrop-contrast-0;
            @include clear;
          }

          @include expect {
            @media(min-width:$md) {
              backdrop-filter: contrast(0);
            }
          }
        }
      }

      @include it("md\:backdrop-contrast-50") {
        @include assert {
          @include output {
            @include md\:backdrop-contrast-50;
            @include clear;
          }

          @include expect {
            @media(min-width:$md) {
              backdrop-filter: contrast(.5);
            }
          }
        }
      }

      @include it("md\:backdrop-contrast-75") {
        @include assert {
          @include output {
            @include md\:backdrop-contrast-75;
            @include clear;
          }

          @include expect {
            @media(min-width:$md) {
              backdrop-filter: contrast(.75);
            }
          }
        }
      }

      @include it("md\:backdrop-contrast-100") {
        @include assert {
          @include output {
            @include md\:backdrop-contrast-100;
            @include clear;
          }

          @include expect {
            @media(min-width:$md) {
              backdrop-filter: contrast(1);
            }
          }
        }
      }

      @include it("md\:backdrop-contrast-125") {
        @include assert {
          @include output {
            @include md\:backdrop-contrast-125;
            @include clear;
          }

          @include expect {
            @media(min-width:$md) {
              backdrop-filter: contrast(1.25);
            }
          }
        }
      }

      @include it("md\:backdrop-contrast-150") {
        @include assert {
          @include output {
            @include md\:backdrop-contrast-150;
            @include clear;
          }

          @include expect {
            @media(min-width:$md) {
              backdrop-filter: contrast(1.5);
            }
          }
        }
      }

      @include it("md\:backdrop-contrast-200") {
        @include assert {
          @include output {
            @include md\:backdrop-contrast-200;
            @include clear;
          }

          @include expect {
            @media(min-width:$md) {
              backdrop-filter: contrast(2);
            }
          }
        }
      }

      @include it("lg\:backdrop-contrast-0") {
        @include assert {
          @include output {
            @include lg\:backdrop-contrast-0;
            @include clear;
          }

          @include expect {
            @media(min-width:$lg) {
              backdrop-filter: contrast(0);
            }
          }
        }
      }

      @include it("lg\:backdrop-contrast-50") {
        @include assert {
          @include output {
            @include lg\:backdrop-contrast-50;
            @include clear;
          }

          @include expect {
            @media(min-width:$lg) {
              backdrop-filter: contrast(.5);
            }
          }
        }
      }

      @include it("lg\:backdrop-contrast-75") {
        @include assert {
          @include output {
            @include lg\:backdrop-contrast-75;
            @include clear;
          }

          @include expect {
            @media(min-width:$lg) {
              backdrop-filter: contrast(.75);
            }
          }
        }
      }

      @include it("lg\:backdrop-contrast-100") {
        @include assert {
          @include output {
            @include lg\:backdrop-contrast-100;
            @include clear;
          }

          @include expect {
            @media(min-width:$lg) {
              backdrop-filter: contrast(1);
            }
          }
        }
      }

      @include it("lg\:backdrop-contrast-125") {
        @include assert {
          @include output {
            @include lg\:backdrop-contrast-125;
            @include clear;
          }

          @include expect {
            @media(min-width:$lg) {
              backdrop-filter: contrast(1.25);
            }
          }
        }
      }

      @include it("lg\:backdrop-contrast-150") {
        @include assert {
          @include output {
            @include lg\:backdrop-contrast-150;
            @include clear;
          }

          @include expect {
            @media(min-width:$lg) {
              backdrop-filter: contrast(1.5);
            }
          }
        }
      }

      @include it("lg\:backdrop-contrast-200") {
        @include assert {
          @include output {
            @include lg\:backdrop-contrast-200;
            @include clear;
          }

          @include expect {
            @media(min-width:$lg) {
              backdrop-filter: contrast(2);
            }
          }
        }
      }

      @include it("xl\:backdrop-contrast-0") {
        @include assert {
          @include output {
            @include xl\:backdrop-contrast-0;
            @include clear;
          }

          @include expect {
            @media(min-width:$xl) {
              backdrop-filter: contrast(0);
            }
          }
        }
      }

      @include it("xl\:backdrop-contrast-50") {
        @include assert {
          @include output {
            @include xl\:backdrop-contrast-50;
            @include clear;
          }

          @include expect {
            @media(min-width:$xl) {
              backdrop-filter: contrast(.5);
            }
          }
        }
      }

      @include it("xl\:backdrop-contrast-75") {
        @include assert {
          @include output {
            @include xl\:backdrop-contrast-75;
            @include clear;
          }

          @include expect {
            @media(min-width:$xl) {
              backdrop-filter: contrast(.75);
            }
          }
        }
      }

      @include it("xl\:backdrop-contrast-100") {
        @include assert {
          @include output {
            @include xl\:backdrop-contrast-100;
            @include clear;
          }

          @include expect {
            @media(min-width:$xl) {
              backdrop-filter: contrast(1);
            }
          }
        }
      }

      @include it("xl\:backdrop-contrast-125") {
        @include assert {
          @include output {
            @include xl\:backdrop-contrast-125;
            @include clear;
          }

          @include expect {
            @media(min-width:$xl) {
              backdrop-filter: contrast(1.25);
            }
          }
        }
      }

      @include it("xl\:backdrop-contrast-150") {
        @include assert {
          @include output {
            @include xl\:backdrop-contrast-150;
            @include clear;
          }

          @include expect {
            @media(min-width:$xl) {
              backdrop-filter: contrast(1.5);
            }
          }
        }
      }

      @include it("xl\:backdrop-contrast-200") {
        @include assert {
          @include output {
            @include xl\:backdrop-contrast-200;
            @include clear;
          }

          @include expect {
            @media(min-width:$xl) {
              backdrop-filter: contrast(2);
            }
          }
        }
      }

      @include it("\2xl\:backdrop-contrast-0") {
        @include assert {
          @include output {
            @include \2xl\:backdrop-contrast-0;
            @include clear;
          }

          @include expect {
            @media(min-width:$\2xl) {
              backdrop-filter: contrast(0);
            }
          }
        }
      }

      @include it("\2xl\:backdrop-contrast-50") {
        @include assert {
          @include output {
            @include \2xl\:backdrop-contrast-50;
            @include clear;
          }

          @include expect {
            @media(min-width:$\2xl) {
              backdrop-filter: contrast(.5);
            }
          }
        }
      }

      @include it("\2xl\:backdrop-contrast-75") {
        @include assert {
          @include output {
            @include \2xl\:backdrop-contrast-75;
            @include clear;
          }

          @include expect {
            @media(min-width:$\2xl) {
              backdrop-filter: contrast(.75);
            }
          }
        }
      }

      @include it("\2xl\:backdrop-contrast-100") {
        @include assert {
          @include output {
            @include \2xl\:backdrop-contrast-100;
            @include clear;
          }

          @include expect {
            @media(min-width:$\2xl) {
              backdrop-filter: contrast(1);
            }
          }
        }
      }

      @include it("\2xl\:backdrop-contrast-125") {
        @include assert {
          @include output {
            @include \2xl\:backdrop-contrast-125;
            @include clear;
          }

          @include expect {
            @media(min-width:$\2xl) {
              backdrop-filter: contrast(1.25);
            }
          }
        }
      }

      @include it("\2xl\:backdrop-contrast-150") {
        @include assert {
          @include output {
            @include \2xl\:backdrop-contrast-150;
            @include clear;
          }

          @include expect {
            @media(min-width:$\2xl) {
              backdrop-filter: contrast(1.5);
            }
          }
        }
      }

      @include it("\2xl\:backdrop-contrast-200") {
        @include assert {
          @include output {
            @include \2xl\:backdrop-contrast-200;
            @include clear;
          }

          @include expect {
            @media(min-width:$\2xl) {
              backdrop-filter: contrast(2);
            }
          }
        }
      }
    }

    @include describe("Custom") {
      @include it("backdrop-contrast-(.25)") {
        @include assert {
          @include output {
            @include backdrop-contrast-(.25);
            @include clear;
          }

          @include expect {
            backdrop-filter: contrast(.25);
          }
        }
      }

      @include it("sm\:backdrop-contrast-(.25)") {
        @include assert {
          @include output {
            @include sm\:backdrop-contrast-(.25);
            @include clear;
          }

          @include expect {
            @media(min-width:$sm) {
              backdrop-filter: contrast(.25);
            }
          }
        }
      }

      @include it("md\:backdrop-contrast-(.25)") {
        @include assert {
          @include output {
            @include md\:backdrop-contrast-(.25);
            @include clear;
          }

          @include expect {
            @media(min-width:$md) {
              backdrop-filter: contrast(.25);
            }
          }
        }
      }

      @include it("lg\:backdrop-contrast-(.25)") {
        @include assert {
          @include output {
            @include lg\:backdrop-contrast-(.25);
            @include clear;
          }

          @include expect {
            @media(min-width:$lg) {
              backdrop-filter: contrast(.25);
            }
          }
        }
      }

      @include it("xl\:backdrop-contrast-(.25)") {
        @include assert {
          @include output {
            @include xl\:backdrop-contrast-(.25);
            @include clear;
          }

          @include expect {
            @media(min-width:$xl) {
              backdrop-filter: contrast(.25);
            }
          }
        }
      }

      @include it("\2xl\:backdrop-contrast-(.25)") {
        @include assert {
          @include output {
            @include \2xl\:backdrop-contrast-(.25);
            @include clear;
          }

          @include expect {
            @media(min-width:$\2xl) {
              backdrop-filter: contrast(.25);
            }
          }
        }
      }
    }
  }
}