@use "../../setting" as *;


$Clear: (
  "clear-start": inline-start,
  "clear-end": inline-end,
  "clear-left": left,
  "clear-right": right,
  "clear-both": both,
  "clear-none": none,
);

@if $Basic {
  @each $key, $value in $Clear {
    /*x
    @mixin #{$key} {
      @include clear(#{$value});
    }
    x*/
  }
}

@if $Rwd {
  @each $rwd in $rwdBox {
    @each $key, $value in $Clear {
      /*x
      @mixin #{$rwd}\:#{$key} {
        @include clear(#{$value}, $#{$rwd});
      }
      x*/
    }
  }
}