@use "../../setting" as *;

/* Clear */
@if $Basic {
  // /*x
  @mixin clear-start {
    clear: inline-start;
  }

  @mixin clear-end {
    clear: inline-end;
  }

  @mixin clear-left {
    clear: left;
  }

  @mixin clear-right {
    clear: right;
  }

  @mixin clear-both {
    clear: both;
  }

  @mixin clear-none {
    clear: none;
  }

  // x*/
}

@if $Rwd {
  // /*x
  @mixin sm\:clear-start {
    @include sm\:clear(inline-start);
  }

  @mixin sm\:clear-end {
    @include sm\:clear(inline-end);
  }

  @mixin sm\:clear-left {
    @include sm\:clear(left);
  }

  @mixin sm\:clear-right {
    @include sm\:clear(right);
  }

  @mixin sm\:clear-both {
    @include sm\:clear(both);
  }

  @mixin sm\:clear-none {
    @include sm\:clear(none);
  }

  @mixin md\:clear-start {
    @include md\:clear(inline-start);
  }

  @mixin md\:clear-end {
    @include md\:clear(inline-end);
  }

  @mixin md\:clear-left {
    @include md\:clear(left);
  }

  @mixin md\:clear-right {
    @include md\:clear(right);
  }

  @mixin md\:clear-both {
    @include md\:clear(both);
  }

  @mixin md\:clear-none {
    @include md\:clear(none);
  }

  @mixin lg\:clear-start {
    @include lg\:clear(inline-start);
  }

  @mixin lg\:clear-end {
    @include lg\:clear(inline-end);
  }

  @mixin lg\:clear-left {
    @include lg\:clear(left);
  }

  @mixin lg\:clear-right {
    @include lg\:clear(right);
  }

  @mixin lg\:clear-both {
    @include lg\:clear(both);
  }

  @mixin lg\:clear-none {
    @include lg\:clear(none);
  }

  @mixin xl\:clear-start {
    @include xl\:clear(inline-start);
  }

  @mixin xl\:clear-end {
    @include xl\:clear(inline-end);
  }

  @mixin xl\:clear-left {
    @include xl\:clear(left);
  }

  @mixin xl\:clear-right {
    @include xl\:clear(right);
  }

  @mixin xl\:clear-both {
    @include xl\:clear(both);
  }

  @mixin xl\:clear-none {
    @include xl\:clear(none);
  }

  @mixin \2xl\:clear-start {
    @include \2xl\:clear(inline-start);
  }

  @mixin \2xl\:clear-end {
    @include \2xl\:clear(inline-end);
  }

  @mixin \2xl\:clear-left {
    @include \2xl\:clear(left);
  }

  @mixin \2xl\:clear-right {
    @include \2xl\:clear(right);
  }

  @mixin \2xl\:clear-both {
    @include \2xl\:clear(both);
  }

  @mixin \2xl\:clear-none {
    @include \2xl\:clear(none);
  }

  // x*/
}
