@use "../../setting" as *;

/* Clear */
@if $Basic {
  // /*x
  @mixin clear-start {
    clear: inline-start;
  }

  @mixin clear-end {
    clear: inline-end;
  }

  @mixin clear-left {
    clear: left;
  }

  @mixin clear-right {
    clear: right;
  }

  @mixin clear-both {
    clear: both;
  }

  @mixin clear-none {
    clear: none;
  }

  // x*/
}

@if $Rwd {
  // /*x
  @mixin sm\:clear-start {
    @include clear(inline-start, $sm);
  }

  @mixin sm\:clear-end {
    @include clear(inline-end, $sm);
  }

  @mixin sm\:clear-left {
    @include clear(left, $sm);
  }

  @mixin sm\:clear-right {
    @include clear(right, $sm);
  }

  @mixin sm\:clear-both {
    @include clear(both, $sm);
  }

  @mixin sm\:clear-none {
    @include clear(none, $sm);
  }

  @mixin md\:clear-start {
    @include clear(inline-start, $md);
  }

  @mixin md\:clear-end {
    @include clear(inline-end, $md);
  }

  @mixin md\:clear-left {
    @include clear(left, $md);
  }

  @mixin md\:clear-right {
    @include clear(right, $md);
  }

  @mixin md\:clear-both {
    @include clear(both, $md);
  }

  @mixin md\:clear-none {
    @include clear(none, $md);
  }

  @mixin lg\:clear-start {
    @include clear(inline-start, $lg);
  }

  @mixin lg\:clear-end {
    @include clear(inline-end, $lg);
  }

  @mixin lg\:clear-left {
    @include clear(left, $lg);
  }

  @mixin lg\:clear-right {
    @include clear(right, $lg);
  }

  @mixin lg\:clear-both {
    @include clear(both, $lg);
  }

  @mixin lg\:clear-none {
    @include clear(none, $lg);
  }

  @mixin xl\:clear-start {
    @include clear(inline-start, $xl);
  }

  @mixin xl\:clear-end {
    @include clear(inline-end, $xl);
  }

  @mixin xl\:clear-left {
    @include clear(left, $xl);
  }

  @mixin xl\:clear-right {
    @include clear(right, $xl);
  }

  @mixin xl\:clear-both {
    @include clear(both, $xl);
  }

  @mixin xl\:clear-none {
    @include clear(none, $xl);
  }

  @mixin \2xl\:clear-start {
    @include clear(inline-start, $\2xl);
  }

  @mixin \2xl\:clear-end {
    @include clear(inline-end, $\2xl);
  }

  @mixin \2xl\:clear-left {
    @include clear(left, $\2xl);
  }

  @mixin \2xl\:clear-right {
    @include clear(right, $\2xl);
  }

  @mixin \2xl\:clear-both {
    @include clear(both, $\2xl);
  }

  @mixin \2xl\:clear-none {
    @include clear(none, $\2xl);
  }

  // x*/
}
