@use "../../setting" as *;

/* Animation */
@if $Basic {
  /*x
  @mixin animate-none {
    animation: none;
  }

  @mixin animate-spin {
    animation: spin 1s linear infinite;

    @keyframes spin {
      from {
        transform: rotate(0deg);
      }

      to {
        transform: rotate(360deg);
      }
    }
  }

  @mixin animate-ping {
    animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;

    @keyframes ping {
      75%,
      100% {
        transform: scale(2);
        opacity: 0;
      }
    }
  }

  @mixin animate-pulse {
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;

    @keyframes pulse {
      0%,
      100% {
        opacity: 1;
      }

      50% {
        opacity: 0.5;
      }
    }
  }

  @mixin animate-bounce {
    animation: bounce 1s infinite;

    @keyframes bounce {
      0%,
      100% {
        transform: translateY(-25%);
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
      }

      50% {
        transform: translateY(0);
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
      }
    }
  }x*/
}

@if $Rwd {
  // reducing size for updating speed
  @if $isLiteMode {
    /*x
    @mixin sm\:animate-($value) {
      @media (min-width: $rwd-sm) {
        animation: $value;
      }
    }

    @mixin md\:animate-($value) {
      @media (min-width: $rwd-md) {
        animation: $value;
      }
    }

    @mixin lg\:animate-($value) {
      @media (min-width: $rwd-lg) {
        animation: $value;
      }
    }

    @mixin xl\:animate-($value) {
      @media (min-width: $rwd-xl) {
        animation: $value;
      }
    }

    @mixin \2xl\:animate-($value) {
      @media (min-width: $rwd-2xl) {
        animation: $value;
      }
    }x*/
  }

  // tailwind default
  @else {
  }
}

@if $Custom {
  /*x
  @mixin animate-($value) {
    animation: $value;
  }x*/
}
