@use "../../mode0" as *;
@use "true" as *;

@include describe("13.Interactivity") {
  @include describe("Scroll Behavior") {
    @include describe("Basic") {
      @include it("scroll-auto") {
        @include assert {
          @include output {
            @include scroll-auto;
            @include reset;
          }

          @include expect {
            scroll-behavior: auto;
          }
        }
      }

      @include it("scroll-smooth") {
        @include assert {
          @include output {
            @include scroll-smooth;
            @include reset;
          }

          @include expect {
            scroll-behavior: smooth;
          }
        }
      }
    }

    @include describe("Rwd") {
      @include it("sm\:scroll-auto") {
        @include assert {
          @include output {
            @include sm\:scroll-auto;
            @include reset;
          }

          @include expect {
            @media (min-width: $sm) {
              scroll-behavior: auto;
            }
          }
        }
      }

      @include it("sm\:scroll-smooth") {
        @include assert {
          @include output {
            @include sm\:scroll-smooth;
            @include reset;
          }

          @include expect {
            @media (min-width: $sm) {
              scroll-behavior: smooth;
            }
          }
        }
      }
      @include it("md\:scroll-auto") {
        @include assert {
          @include output {
            @include md\:scroll-auto;
            @include reset;
          }

          @include expect {
            @media (min-width: $md) {
              scroll-behavior: auto;
            }
          }
        }
      }

      @include it("md\:scroll-smooth") {
        @include assert {
          @include output {
            @include md\:scroll-smooth;
            @include reset;
          }

          @include expect {
            @media (min-width: $md) {
              scroll-behavior: smooth;
            }
          }
        }
      }
      @include it("lg\:scroll-auto") {
        @include assert {
          @include output {
            @include lg\:scroll-auto;
            @include reset;
          }

          @include expect {
            @media (min-width: $lg) {
              scroll-behavior: auto;
            }
          }
        }
      }

      @include it("lg\:scroll-smooth") {
        @include assert {
          @include output {
            @include lg\:scroll-smooth;
            @include reset;
          }

          @include expect {
            @media (min-width: $lg) {
              scroll-behavior: smooth;
            }
          }
        }
      }
      @include it("xl\:scroll-auto") {
        @include assert {
          @include output {
            @include xl\:scroll-auto;
            @include reset;
          }

          @include expect {
            @media (min-width: $xl) {
              scroll-behavior: auto;
            }
          }
        }
      }

      @include it("xl\:scroll-smooth") {
        @include assert {
          @include output {
            @include xl\:scroll-smooth;
            @include reset;
          }

          @include expect {
            @media (min-width: $xl) {
              scroll-behavior: smooth;
            }
          }
        }
      }
      @include it("2xl\:scroll-auto") {
        @include assert {
          @include output {
            @include \2xl\:scroll-auto;
            @include reset;
          }

          @include expect {
            @media (min-width: $\2xl) {
              scroll-behavior: auto;
            }
          }
        }
      }

      @include it("2xl\:scroll-smooth") {
        @include assert {
          @include output {
            @include \2xl\:scroll-smooth;
            @include reset;
          }

          @include expect {
            @media (min-width: $\2xl) {
              scroll-behavior: smooth;
            }
          }
        }
      }
    }
  }
}
