@use "../../setting" as *;

$LetterSpacing: (
  "tracking-tighter": "$tighter",
  "tracking-tight": "$tight",
  "tracking-normal": "$normal",
  "tracking-wide": "$wide",
  "tracking-wider": "$wider",
  "tracking-widest": "$widest"
);

@if $Basic {
  @each $key, $value in $LetterSpacing {
    /*x
    @mixin #{$key} {
      @include letter-spacing(#{$value});
    }
    x*/
      /*x
    @mixin -#{$key} {
      @include letter-spacing(-#{$value});
    }
    x*/
  }
}

@if $Rwd and ($sizeMode ==0 or $sizeMode ==1) {
  @each $rwd in $rwdBox {
    @each $key, $value in $LetterSpacing {
      /*x
      @mixin #{$rwd}\:#{$key} {
        @include letter-spacing(#{$value}, $#{$rwd});
      }
      x*/
      /*x
      @mixin #{$rwd}\:-#{$key} {
        @include letter-spacing(-#{$value}, $#{$rwd});
      }
      x*/
    }
  }
}

@if $Custom {
  /*x
  @mixin tracking-($v) {
    @include letter-spacing($v);
  }
  x*/
  /*x
  @mixin -tracking-($v) {
    @include letter-spacing(-$v);
  }
  x*/

  @each $rwd in $rwdBox {
    /*x
    @mixin #{$rwd}\:tracking-($v) {
      @include letter-spacing($v, $#{$rwd});
    }
    x*/
    /*x
    @mixin #{$rwd}\:-tracking-($v) {
      @include letter-spacing(-$v, $#{$rwd});
    }
    x*/
  }
}