@use "../../setting" as *;

/* Whitespace */
@if $Basic {
  /*x
  @mixin whitespace-normal {
    white-space: normal;
  }

  @mixin whitespace-nowrap {
    white-space: nowrap;
  }

  @mixin whitespace-pre {
    white-space: pre;
  }

  @mixin whitespace-pre-line {
    white-space: pre-line;
  }

  @mixin whitespace-pre-wrap {
    white-space: pre-wrap;
  }

  @mixin whitespace-break-spaces {
    white-space: break-spaces;
  }x*/
}

@if $Rwd {
  /*x
  @mixin sm\:whitespace-normal {
    @include r(sm, white-space, normal);
  }

  @mixin sm\:whitespace-nowrap {
    @include r(sm, white-space, nowrap);
  }

  @mixin sm\:whitespace-pre {
    @include r(sm, white-space, pre);
  }

  @mixin sm\:whitespace-pre-line {
    @include r(sm, white-space, pre-line);
  }

  @mixin sm\:whitespace-pre-wrap {
    @include r(sm, white-space, pre-wrap);
  }

  @mixin sm\:whitespace-break-spaces {
    @include r(sm, white-space, break-spaces);
  }

  @mixin md\:whitespace-normal {
    @include r(md, white-space, normal);
  }

  @mixin md\:whitespace-nowrap {
    @include r(md, white-space, nowrap);
  }

  @mixin md\:whitespace-pre {
    @include r(md, white-space, pre);
  }

  @mixin md\:whitespace-pre-line {
    @include r(md, white-space, pre-line);
  }

  @mixin md\:whitespace-pre-wrap {
    @include r(md, white-space, pre-wrap);
  }

  @mixin md\:whitespace-break-spaces {
    @include r(md, white-space, break-spaces);
  }

  @mixin lg\:whitespace-normal {
    @include r(lg, white-space, normal);
  }

  @mixin lg\:whitespace-nowrap {
    @include r(lg, white-space, nowrap);
  }

  @mixin lg\:whitespace-pre {
    @include r(lg, white-space, pre);
  }

  @mixin lg\:whitespace-pre-line {
    @include r(lg, white-space, pre-line);
  }

  @mixin lg\:whitespace-pre-wrap {
    @include r(lg, white-space, pre-wrap);
  }

  @mixin lg\:whitespace-break-spaces {
    @include r(lg, white-space, break-spaces);
  }

  @mixin xl\:whitespace-normal {
    @include r(xl, white-space, normal);
  }

  @mixin xl\:whitespace-nowrap {
    @include r(xl, white-space, nowrap);
  }

  @mixin xl\:whitespace-pre {
    @include r(xl, white-space, pre);
  }

  @mixin xl\:whitespace-pre-line {
    @include r(xl, white-space, pre-line);
  }

  @mixin xl\:whitespace-pre-wrap {
    @include r(xl, white-space, pre-wrap);
  }

  @mixin xl\:whitespace-break-spaces {
    @include r(xl, white-space, break-spaces);
  }

  @mixin \2xl\:whitespace-normal {
    @include r(2xl, white-space, normal);
  }

  @mixin \2xl\:whitespace-nowrap {
    @include r(2xl, white-space, nowrap);
  }

  @mixin \2xl\:whitespace-pre {
    @include r(2xl, white-space, pre);
  }

  @mixin \2xl\:whitespace-pre-line {
    @include r(2xl, white-space, pre-line);
  }

  @mixin \2xl\:whitespace-pre-wrap {
    @include r(2xl, white-space, pre-wrap);
  }

  @mixin \2xl\:whitespace-break-spaces {
    @include r(2xl, white-space, break-spaces);
  }x*/
}
