@use "../../setting" as *;


$BreakAfter: (
  "break-after-auto": auto,
  "break-after-avoid": avoid,
  "break-after-all": all,
  "break-after-avoid-page": avoid-page,
  "break-after-page": page,
  "break-after-left": left,
  "break-after-right": right,
  "break-after-column": column,
);

@if $Basic {
  @each $key, $value in $BreakAfter {
    /*x
    @mixin #{$key} {
      @include break-after(#{$value});
    }
    x*/
  }
}

@if $Rwd {
  @each $rwd in $rwdBox {
    @each $key, $value in $BreakAfter {
      /*x
      @mixin #{$rwd}\:#{$key} {
        @include break-after(#{$value}, $#{$rwd});
      }
      x*/
    }
  }
}