@use "../../setting" as *;

$AlignItems: (
  "items-start": flex-start,
  "items-end": flex-end,
  "items-center": center,
  "items-baseline": baseline,
  "items-stretch": stretch,
);

@if $Basic {
  @each $key, $value in $AlignItems {
    /*x
    @mixin #{$key} {
      @include align-items(#{$value});
    }
    x*/
  }
}

@if $Rwd {
  @each $rwd in $rwdBox {
    @each $key, $value in $AlignItems {
      /*x
      @mixin #{$rwd}\:#{$key} {
        @include align-items(#{$value}, $#{$rwd});
      }
      x*/
    }
  }
}