@use "../../setting" as *;

@if $Basic {
  // /*x
  @mixin normal-nums {
    font-variant-numeric: normal;
  }

  @mixin ordinal {
    font-variant-numeric: ordinal;
  }

  @mixin slashed-zero {
    font-variant-numeric: slashed-zero;
  }

  @mixin lining-nums {
    font-variant-numeric: lining-nums;
  }

  @mixin oldstyle-nums {
    font-variant-numeric: oldstyle-nums;
  }

  @mixin proportional-nums {
    font-variant-numeric: proportional-nums;
  }

  @mixin tabular-nums {
    font-variant-numeric: tabular-nums;
  }

  @mixin diagonal-fractions {
    font-variant-numeric: diagonal-fractions;
  }

  @mixin stacked-fractions {
    font-variant-numeric: stacked-fractions;
  }

  // x*/
}

@if $Rwd {
  // /*x
  @mixin sm\:normal-nums {
    @include font-variant-numeric(normal, $sm);
  }

  @mixin sm\:ordinal {
    @include font-variant-numeric(ordinal, $sm);
  }

  @mixin sm\:slashed-zero {
    @include font-variant-numeric(slashed-zero, $sm);
  }

  @mixin sm\:lining-nums {
    @include font-variant-numeric(lining-nums, $sm);
  }

  @mixin sm\:oldstyle-nums {
    @include font-variant-numeric(oldstyle-nums, $sm);
  }

  @mixin sm\:proportional-nums {
    @include font-variant-numeric(proportional-nums, $sm);
  }

  @mixin sm\:tabular-nums {
    @include font-variant-numeric(tabular-nums, $sm);
  }

  @mixin sm\:diagonal-fractions {
    @include font-variant-numeric(diagonal-fractions, $sm);
  }

  @mixin sm\:stacked-fractions {
    @include font-variant-numeric(stacked-fractions, $sm);
  }

  @mixin md\:normal-nums {
    @include font-variant-numeric(normal, $md);
  }

  @mixin md\:ordinal {
    @include font-variant-numeric(ordinal, $md);
  }

  @mixin md\:slashed-zero {
    @include font-variant-numeric(slashed-zero, $md);
  }

  @mixin md\:lining-nums {
    @include font-variant-numeric(lining-nums, $md);
  }

  @mixin md\:oldstyle-nums {
    @include font-variant-numeric(oldstyle-nums, $md);
  }

  @mixin md\:proportional-nums {
    @include font-variant-numeric(proportional-nums, $md);
  }

  @mixin md\:tabular-nums {
    @include font-variant-numeric(tabular-nums, $md);
  }

  @mixin md\:diagonal-fractions {
    @include font-variant-numeric(diagonal-fractions, $md);
  }

  @mixin md\:stacked-fractions {
    @include font-variant-numeric(stacked-fractions, $md);
  }

  @mixin lg\:normal-nums {
    @include font-variant-numeric(normal, $lg);
  }

  @mixin lg\:ordinal {
    @include font-variant-numeric(ordinal, $lg);
  }

  @mixin lg\:slashed-zero {
    @include font-variant-numeric(slashed-zero, $lg);
  }

  @mixin lg\:lining-nums {
    @include font-variant-numeric(lining-nums, $lg);
  }

  @mixin lg\:oldstyle-nums {
    @include font-variant-numeric(oldstyle-nums, $lg);
  }

  @mixin lg\:proportional-nums {
    @include font-variant-numeric(proportional-nums, $lg);
  }

  @mixin lg\:tabular-nums {
    @include font-variant-numeric(tabular-nums, $lg);
  }

  @mixin lg\:diagonal-fractions {
    @include font-variant-numeric(diagonal-fractions, $lg);
  }

  @mixin lg\:stacked-fractions {
    @include font-variant-numeric(stacked-fractions, $lg);
  }

  @mixin xl\:normal-nums {
    @include font-variant-numeric(normal, $xl);
  }

  @mixin xl\:ordinal {
    @include font-variant-numeric(ordinal, $xl);
  }

  @mixin xl\:slashed-zero {
    @include font-variant-numeric(slashed-zero, $xl);
  }

  @mixin xl\:lining-nums {
    @include font-variant-numeric(lining-nums, $xl);
  }

  @mixin xl\:oldstyle-nums {
    @include font-variant-numeric(oldstyle-nums, $xl);
  }

  @mixin xl\:proportional-nums {
    @include font-variant-numeric(proportional-nums, $xl);
  }

  @mixin xl\:tabular-nums {
    @include font-variant-numeric(tabular-nums, $xl);
  }

  @mixin xl\:diagonal-fractions {
    @include font-variant-numeric(diagonal-fractions, $xl);
  }

  @mixin xl\:stacked-fractions {
    @include font-variant-numeric(stacked-fractions, $xl);
  }

  @mixin \2xl\:normal-nums {
    @include font-variant-numeric(normal, $\2xl);
  }

  @mixin \2xl\:ordinal {
    @include font-variant-numeric(ordinal, $\2xl);
  }

  @mixin \2xl\:slashed-zero {
    @include font-variant-numeric(slashed-zero, $\2xl);
  }

  @mixin \2xl\:lining-nums {
    @include font-variant-numeric(lining-nums, $\2xl);
  }

  @mixin \2xl\:oldstyle-nums {
    @include font-variant-numeric(oldstyle-nums, $\2xl);
  }

  @mixin \2xl\:proportional-nums {
    @include font-variant-numeric(proportional-nums, $\2xl);
  }

  @mixin \2xl\:tabular-nums {
    @include font-variant-numeric(tabular-nums, $\2xl);
  }

  @mixin \2xl\:diagonal-fractions {
    @include font-variant-numeric(diagonal-fractions, $\2xl);
  }

  @mixin \2xl\:stacked-fractions {
    @include font-variant-numeric(stacked-fractions, $\2xl);
  }

  // x*/
}
