@use "../../../settings/structures" as *;

@if $PlaceContent {
  #mixin__place-content-center {
    place-content: center;
  }

  #mixin__place-content-start {
    place-content: start;
  }

  #mixin__place-content-end {
    place-content: end;
  }

  #mixin__place-content-between {
    place-content: space-between;
  }

  #mixin__place-content-around {
    place-content: space-around;
  }

  #mixin__place-content-evenly {
    place-content: space-evenly;
  }

  #mixin__place-content-baseline {
    place-content: baseline;
  }

  #mixin__place-content-stretch {
    place-content: stretch;
  }
}
