@use "../../../settings/structures" as *;

@if $FlexDirection {
  /* Flex Direction */
  @if $Basic {
    #mixin__flex-row {
      flex-direction: row;
    }

    #mixin__flex-row-reverse {
      flex-direction: row-reverse;
    }

    #mixin__flex-col {
      flex-direction: column;
    }

    #mixin__flex-col-reverse {
      flex-direction: column-reverse;
    }
  }

  @if $Rwd {
    #mixin__sm\:flex-row {
      @media (min-width: $breakpoint-sm) {
        flex-direction: row;
      }
    }

    #mixin__sm\:flex-row-reverse {
      @media (min-width: $breakpoint-sm) {
        flex-direction: row-reverse;
      }
    }

    #mixin__sm\:flex-col {
      @media (min-width: $breakpoint-sm) {
        flex-direction: column;
      }
    }

    #mixin__sm\:flex-col-reverse {
      @media (min-width: $breakpoint-sm) {
        flex-direction: column-reverse;
      }
    }

    #mixin__md\:flex-row {
      @media (min-width: $breakpoint-md) {
        flex-direction: row;
      }
    }

    #mixin__md\:flex-row-reverse {
      @media (min-width: $breakpoint-md) {
        flex-direction: row-reverse;
      }
    }

    #mixin__md\:flex-col {
      @media (min-width: $breakpoint-md) {
        flex-direction: column;
      }
    }

    #mixin__md\:flex-col-reverse {
      @media (min-width: $breakpoint-md) {
        flex-direction: column-reverse;
      }
    }

    #mixin__lg\:flex-row {
      @media (min-width: $breakpoint-lg) {
        flex-direction: row;
      }
    }

    #mixin__lg\:flex-row-reverse {
      @media (min-width: $breakpoint-lg) {
        flex-direction: row-reverse;
      }
    }

    #mixin__lg\:flex-col {
      @media (min-width: $breakpoint-lg) {
        flex-direction: column;
      }
    }

    #mixin__lg\:flex-col-reverse {
      @media (min-width: $breakpoint-lg) {
        flex-direction: column-reverse;
      }
    }

    #mixin__xl\:flex-row {
      @media (min-width: $breakpoint-xl) {
        flex-direction: row;
      }
    }

    #mixin__xl\:flex-row-reverse {
      @media (min-width: $breakpoint-xl) {
        flex-direction: row-reverse;
      }
    }

    #mixin__xl\:flex-col {
      @media (min-width: $breakpoint-xl) {
        flex-direction: column;
      }
    }

    #mixin__xl\:flex-col-reverse {
      @media (min-width: $breakpoint-xl) {
        flex-direction: column-reverse;
      }
    }

    #mixin__\\2xl\:flex-row {
      @media (min-width: $breakpoint-2xl) {
        flex-direction: row;
      }
    }

    #mixin__\\2xl\:flex-row-reverse {
      @media (min-width: $breakpoint-2xl) {
        flex-direction: row-reverse;
      }
    }

    #mixin__\\2xl\:flex-col {
      @media (min-width: $breakpoint-2xl) {
        flex-direction: column;
      }
    }

    #mixin__\\2xl\:flex-col-reverse {
      @media (min-width: $breakpoint-2xl) {
        flex-direction: column-reverse;
      }
    }
  }
}
