@use "../../setting" as *;

$BackgroundsOrigin: (
  "bg-origin-border": border-box,
  "bg-origin-padding": padding-box,
  "bg-origin-content": content-box,
);

@if $Basic {
  @each $key, $value in $BackgroundsOrigin {
    /*x
    @mixin #{$key}{
      @include background-origin(#{$value});
    }
    x*/
  }
}

@if $Rwd {
  @each $rwd in $rwdBox {
    @each $key, $value in $BackgroundsOrigin {
      /*x
      @mixin #{$rwd}\:#{$key}{
        @include background-origin(#{$value}, $#{$key});
      }
      x*/
    }
  }
}