@use "../../setting" as *;

/* Line Clamp */
@if $Basic {
  // /*x
  @mixin line-clamp-1 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }

  @mixin line-clamp-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  @mixin line-clamp-3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }

  @mixin line-clamp-4 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
  }

  @mixin line-clamp-5 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
  }

  @mixin line-clamp-6 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
  }

  @mixin line-clamp-none {
    overflow: visible;
    display: block;
    -webkit-box-orient: horizontal;
    -webkit-line-clamp: none;
  } // x*/
}

@if $Rwd {
  // /*x
  @mixin sm\:line-clamp-1 {
    @media (min-width: map.get($RWD, sm)) {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
    }
  }

  @mixin sm\:line-clamp-2 {
    @media (min-width: map.get($RWD, sm)) {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }
  }

  @mixin sm\:line-clamp-3 {
    @media (min-width: map.get($RWD, sm)) {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
    }
  }

  @mixin sm\:line-clamp-4 {
    @media (min-width: map.get($RWD, sm)) {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4;
    }
  }

  @mixin sm\:line-clamp-5 {
    @media (min-width: map.get($RWD, sm)) {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 5;
    }
  }

  @mixin sm\:line-clamp-6 {
    @media (min-width: map.get($RWD, sm)) {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 6;
    }
  }

  @mixin sm\:line-clamp-none {
    @media (min-width: map.get($RWD, sm)) {
      overflow: visible;
      display: block;
      -webkit-box-orient: horizontal;
      -webkit-line-clamp: none;
    }
  }

  @mixin md\:line-clamp-1 {
    @media (min-width: map.get($RWD, md)) {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
    }
  }

  @mixin md\:line-clamp-2 {
    @media (min-width: map.get($RWD, md)) {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }
  }

  @mixin md\:line-clamp-3 {
    @media (min-width: map.get($RWD, md)) {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
    }
  }

  @mixin md\:line-clamp-4 {
    @media (min-width: map.get($RWD, md)) {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4;
    }
  }

  @mixin md\:line-clamp-5 {
    @media (min-width: map.get($RWD, md)) {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 5;
    }
  }

  @mixin md\:line-clamp-6 {
    @media (min-width: map.get($RWD, md)) {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 6;
    }
  }

  @mixin md\:line-clamp-none {
    @media (min-width: map.get($RWD, md)) {
      overflow: visible;
      display: block;
      -webkit-box-orient: horizontal;
      -webkit-line-clamp: none;
    }
  }

  @mixin lg\:line-clamp-1 {
    @media (min-width: map.get($RWD, lg)) {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
    }
  }

  @mixin lg\:line-clamp-2 {
    @media (min-width: map.get($RWD, lg)) {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }
  }

  @mixin lg\:line-clamp-3 {
    @media (min-width: map.get($RWD, lg)) {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
    }
  }

  @mixin lg\:line-clamp-4 {
    @media (min-width: map.get($RWD, lg)) {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4;
    }
  }

  @mixin lg\:line-clamp-5 {
    @media (min-width: map.get($RWD, lg)) {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 5;
    }
  }

  @mixin lg\:line-clamp-6 {
    @media (min-width: map.get($RWD, lg)) {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 6;
    }
  }

  @mixin lg\:line-clamp-none {
    @media (min-width: map.get($RWD, lg)) {
      overflow: visible;
      display: block;
      -webkit-box-orient: horizontal;
      -webkit-line-clamp: none;
    }
  }

  @mixin xl\:line-clamp-1 {
    @media (min-width: map.get($RWD, xl)) {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
    }
  }

  @mixin xl\:line-clamp-2 {
    @media (min-width: map.get($RWD, xl)) {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }
  }

  @mixin xl\:line-clamp-3 {
    @media (min-width: map.get($RWD, xl)) {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
    }
  }

  @mixin xl\:line-clamp-4 {
    @media (min-width: map.get($RWD, xl)) {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4;
    }
  }

  @mixin xl\:line-clamp-5 {
    @media (min-width: map.get($RWD, xl)) {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 5;
    }
  }

  @mixin xl\:line-clamp-6 {
    @media (min-width: map.get($RWD, xl)) {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 6;
    }
  }

  @mixin xl\:line-clamp-none {
    @media (min-width: map.get($RWD, xl)) {
      overflow: visible;
      display: block;
      -webkit-box-orient: horizontal;
      -webkit-line-clamp: none;
    }
  }

  @mixin \2xl\:line-clamp-1 {
    @media (min-width: map.get($RWD, 2xl)) {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
    }
  }

  @mixin \2xl\:line-clamp-2 {
    @media (min-width: map.get($RWD, 2xl)) {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }
  }

  @mixin \2xl\:line-clamp-3 {
    @media (min-width: map.get($RWD, 2xl)) {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
    }
  }

  @mixin \2xl\:line-clamp-4 {
    @media (min-width: map.get($RWD, 2xl)) {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4;
    }
  }

  @mixin \2xl\:line-clamp-5 {
    @media (min-width: map.get($RWD, 2xl)) {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 5;
    }
  }

  @mixin \2xl\:line-clamp-6 {
    @media (min-width: map.get($RWD, 2xl)) {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 6;
    }
  }

  @mixin \2xl\:line-clamp-none {
    @media (min-width: map.get($RWD, 2xl)) {
      overflow: visible;
      display: block;
      -webkit-box-orient: horizontal;
      -webkit-line-clamp: none;
    }
  }

  @mixin sm\:line-clamp-($v) {
    @media (min-width: map.get($RWD, sm)) {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: $v;
    }
  }

  @mixin md\:line-clamp-($v) {
    @media (min-width: map.get($RWD, md)) {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: $v;
    }
  }

  @mixin lg\:line-clamp-($v) {
    @media (min-width: map.get($RWD, lg)) {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: $v;
    }
  }

  @mixin xl\:line-clamp-($v) {
    @media (min-width: map.get($RWD, xl)) {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: $v;
    }
  }

  @mixin \2xl\:line-clamp-($v) {
    @media (min-width: map.get($RWD, 2xl)) {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: $v;
    }
  } // x*/
}

@if $Custom {
  // /*x
  @mixin line-clamp-($v) {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $v;
  } // x*/
}
