@use "true" as *;
@use "../awaken" as *;

@include describe("6-Backgrounds") {
  @include describe("1-Background Attachment") {
    @include describe("Basic") {
      @include it("bg-fixed") {
        @include assert {
          @include output {
            @include bg-fixed;
            
          }

          @include expect {
            background-attachment: fixed;
          }
        }
      }

      @include it("bg-local") {
        @include assert {
          @include output {
            @include bg-local;
            
          }

          @include expect {
            background-attachment: local;
          }
        }
      }

      @include it("bg-scroll") {
        @include assert {
          @include output {
            @include bg-scroll;
            
          }

          @include expect {
            background-attachment: scroll;
          }
        }
      }
    }
  }
}
