@use "true" as *;
@use "../escss" as *;

@include describe("6-Backgrounds") {
  @include describe("2-Background Clip") {
    @include describe("Basic") {
      @include it("bg-clip-border") {
        @include assert {
          @include output {
            @include bg-clip-border;
          }

          @include expect {
            background-clip: border-box;
          }
        }
      }

      @include it("bg-clip-padding") {
        @include assert {
          @include output {
            @include bg-clip-padding;
          }

          @include expect {
            background-clip: padding-box;
          }
        }
      }

      @include it("bg-clip-content") {
        @include assert {
          @include output {
            @include bg-clip-content;
          }

          @include expect {
            background-clip: content-box;
          }
        }
      }

      @include it("bg-clip-text") {
        @include assert {
          @include output {
            @include bg-clip-text;
          }

          @include expect {
            background-clip: text;
          }
        }
      }
    }
  }
}
