@use "true" as *;
@use "../escss" as *;

@include describe("6-Backgrounds") {
  @include describe("5-Background Origin") {
    @include describe("Basic") {
      @include it("bg-origin-border") {
        @include assert {
          @include output {
            @include bg-origin-border;
          }

          @include expect {
            background-origin: border-box;
          }
        }
      }

      @include it("bg-origin-padding") {
        @include assert {
          @include output {
            @include bg-origin-padding;
          }

          @include expect {
            background-origin: padding-box;
          }
        }
      }

      @include it("bg-origin-content") {
        @include assert {
          @include output {
            @include bg-origin-content;
          }

          @include expect {
            background-origin: content-box;
          }
        }
      }
    }
  }
}
