@use "true" as *;
@use "../escss" as *;

@include describe("6-Backgrounds") {
  @include describe("7-Background Repeat") {
    @include describe("Basic") {
      @include it("bg-repeat") {
        @include assert {
          @include output {
            @include bg-repeat;
          }

          @include expect {
            background-repeat: repeat;
          }
        }
      }

      @include it("bg-no-repeat") {
        @include assert {
          @include output {
            @include bg-no-repeat;
          }

          @include expect {
            background-repeat: no-repeat;
          }
        }
      }

      @include it("bg-repeat-x") {
        @include assert {
          @include output {
            @include bg-repeat-x;
          }

          @include expect {
            background-repeat: repeat-x;
          }
        }
      }

      @include it("bg-repeat-y") {
        @include assert {
          @include output {
            @include bg-repeat-y;
          }

          @include expect {
            background-repeat: repeat-y;
          }
        }
      }

      @include it("bg-repeat-round") {
        @include assert {
          @include output {
            @include bg-repeat-round;
          }

          @include expect {
            background-repeat: round;
          }
        }
      }

      @include it("bg-repeat-space") {
        @include assert {
          @include output {
            @include bg-repeat-space;
          }

          @include expect {
            background-repeat: space;
          }
        }
      }
    }
  }
}
