@use "../../setting" as *;


$Float: (
  "float-start": inline-start,
  "float-end": inline-end,
  "float-right": right,
  "float-left": left,
  "float-none": none,
);

@if $Basic {
  @each $key, $value in $Float {
    /*x
    @mixin #{$key} {
      @include float(#{$value});
    }
    x*/
  }
}

@if $Rwd {
  @each $rwd in $rwdBox {
    @each $key, $value in $Float {
      /*x
      @mixin #{$rwd}\:#{$key} {
        @include float(#{$value}, $#{$rwd});
      }
      x*/
    }
  }
}
