@use "../../setting" as *;

/* Floats */
@if $Basic {
  // /*x
  @mixin float-start($rwd: null) {
    @if $rwd==null {
      float: inline-start;
    } @else {
      @media (min-width: $rwd) {
        float: inline-start;
      }
    }
  }

  @mixin float-end($rwd: null) {
    @if $rwd==null {
      float: inline-end;
    } @else {
      @media (min-width: $rwd) {
        float: inline-end;
      }
    }
  }

  @mixin float-right($rwd: null) {
    @if $rwd==null {
      float: right;
    } @else {
      @media (min-width: $rwd) {
        float: right;
      }
    }
  }

  @mixin float-left($rwd: null) {
    @if $rwd==null {
      float: left;
    } @else {
      @media (min-width: $rwd) {
        float: left;
      }
    }
  }

  @mixin float-none($rwd: null) {
    @if $rwd==null {
      float: none;
    } @else {
      @media (min-width: $rwd) {
        float: none;
      }
    }
  }

  // x*/
}

@if $Rwd {
  // /*x
  @mixin sm\:float-start {
    @include float-start($sm);
  }

  @mixin sm\:float-end {
    @include float-end($sm);
  }

  @mixin sm\:float-right {
    @include float-right($sm);
  }

  @mixin sm\:float-left {
    @include float-left($sm);
  }

  @mixin sm\:float-none {
    @include float-none($sm);
  }

  @mixin md\:float-start {
    @include float-start($md);
  }

  @mixin md\:float-end {
    @include float-end($md);
  }

  @mixin md\:float-right {
    @include float-right($md);
  }

  @mixin md\:float-left {
    @include float-left($md);
  }

  @mixin md\:float-none {
    @include float-none($md);
  }

  @mixin lg\:float-start {
    @include float-start($lg);
  }

  @mixin lg\:float-end {
    @include float-end($lg);
  }

  @mixin lg\:float-right {
    @include float-right($lg);
  }

  @mixin lg\:float-left {
    @include float-left($lg);
  }

  @mixin lg\:float-none {
    @include float-none($lg);
  }

  @mixin xl\:float-start {
    @include float-start($xl);
  }

  @mixin xl\:float-end {
    @include float-end($xl);
  }

  @mixin xl\:float-right {
    @include float-right($xl);
  }

  @mixin xl\:float-left {
    @include float-left($xl);
  }

  @mixin xl\:float-none {
    @include float-none($xl);
  }

  @mixin \2xl\:float-start {
    @include float-start($\2xl);
  }

  @mixin \2xl\:float-end {
    @include float-end($\2xl);
  }

  @mixin \2xl\:float-right {
    @include float-right($\2xl);
  }

  @mixin \2xl\:float-left {
    @include float-left($\2xl);
  }

  @mixin \2xl\:float-none {
    @include float-none($\2xl);
  }

  // x*/
}
