@use "../../mode0" as *;
@use "true" as *;

@include describe("9.Filters") {
  @include describe("Sepia") {
    @include describe("Basic") {
      @include it("sepia-0") {
        @include assert {
          @include output {
            @include sepia-0;
            @include reset;
          }

          @include expect {
            filter: sepia(0);
          }
        }
      }

      @include it("sepia") {
        @include assert {
          @include output {
            @include sepia;
            @include reset;
          }

          @include expect {
            filter: sepia(100%);
          }
        }
      }
    }

    @include describe("Rwd") {
      @include it("sm\:sepia-0") {
        @include assert {
          @include output {
            @include sm\:sepia-0;
            @include reset;
          }

          @include expect {
            @media (min-width: $sm) {
              filter: sepia(0);
            }
          }
        }
      }

      @include it("sm\:sepia") {
        @include assert {
          @include output {
            @include sm\:sepia;
            @include reset;
          }

          @include expect {
            @media (min-width: $sm) {
              filter: sepia(100%);
            }
          }
        }
      }

      @include it("md\:sepia-0") {
        @include assert {
          @include output {
            @include md\:sepia-0;
            @include reset;
          }

          @include expect {
            @media (min-width: $md) {
              filter: sepia(0);
            }
          }
        }
      }

      @include it("md\:sepia") {
        @include assert {
          @include output {
            @include md\:sepia;
            @include reset;
          }

          @include expect {
            @media (min-width: $md) {
              filter: sepia(100%);
            }
          }
        }
      }

      @include it("lg\:sepia-0") {
        @include assert {
          @include output {
            @include lg\:sepia-0;
            @include reset;
          }

          @include expect {
            @media (min-width: $lg) {
              filter: sepia(0);
            }
          }
        }
      }

      @include it("lg\:sepia") {
        @include assert {
          @include output {
            @include lg\:sepia;
            @include reset;
          }

          @include expect {
            @media (min-width: $lg) {
              filter: sepia(100%);
            }
          }
        }
      }

      @include it("xl\:sepia-0") {
        @include assert {
          @include output {
            @include xl\:sepia-0;
            @include reset;
          }

          @include expect {
            @media (min-width: $xl) {
              filter: sepia(0);
            }
          }
        }
      }

      @include it("xl\:sepia") {
        @include assert {
          @include output {
            @include xl\:sepia;
            @include reset;
          }

          @include expect {
            @media (min-width: $xl) {
              filter: sepia(100%);
            }
          }
        }
      }

      @include it("\2xl\:sepia-0") {
        @include assert {
          @include output {
            @include \2xl\:sepia-0;
            @include reset;
          }

          @include expect {
            @media (min-width: $\2xl) {
              filter: sepia(0);
            }
          }
        }
      }

      @include it("\2xl\:sepia") {
        @include assert {
          @include output {
            @include \2xl\:sepia;
            @include reset;
          }

          @include expect {
            @media (min-width: $\2xl) {
              filter: sepia(100%);
            }
          }
        }
      }
    }

    @include describe("Custom") {
      @include it("sepia-(.25)") {
        @include assert {
          @include output {
            @include sepia-(0.25);
            @include reset;
          }

          @include expect {
            filter: sepia(0.25);
          }
        }
      }

      @include it("sm\:sepia-(.25)") {
        @include assert {
          @include output {
            @include sm\:sepia-(0.25);
            @include reset;
          }

          @include expect {
            @media (min-width: $sm) {
              filter: sepia(0.25);
            }
          }
        }
      }

      @include it("md\:sepia-(.25)") {
        @include assert {
          @include output {
            @include md\:sepia-(0.25);
            @include reset;
          }

          @include expect {
            @media (min-width: $md) {
              filter: sepia(0.25);
            }
          }
        }
      }

      @include it("lg\:sepia-(.25)") {
        @include assert {
          @include output {
            @include lg\:sepia-(0.25);
            @include reset;
          }

          @include expect {
            @media (min-width: $lg) {
              filter: sepia(0.25);
            }
          }
        }
      }

      @include it("xl\:sepia-(.25)") {
        @include assert {
          @include output {
            @include xl\:sepia-(0.25);
            @include reset;
          }

          @include expect {
            @media (min-width: $xl) {
              filter: sepia(0.25);
            }
          }
        }
      }

      @include it("\2xl\:sepia-(.25)") {
        @include assert {
          @include output {
            @include \2xl\:sepia-(0.25);
            @include reset;
          }

          @include expect {
            @media (min-width: $\2xl) {
              filter: sepia(0.25);
            }
          }
        }
      }
    }
  }
}
