@use "../../setting" as *;


$ListStyleImage: (
  "list-image-none": none,
);

@if $Basic {
  @each $key, $value in $ListStyleImage {
    /*x
    @mixin #{$key} {
      @include list-style-image(#{$value});
    }
    x*/
  }
}

@if $Rwd and ($sizeMode ==0 or $sizeMode ==1) {
  @each $rwd in $rwdBox {
    @each $key, $value in $ListStyleImage {
      /*x
      @mixin #{$key}\:#{$rwd} {
        @include list-style-image(#{$value}, $#{$rwd});
      }
      x*/
    }
  }
}

@if $Custom {
  /*x
  @mixin list-image-($v) {
    @include list-style-image($v);
  }
  x*/

  @each $rwd in $rwdBox {
    /*x
    @mixin #{$rwd}\:list-image-($v) {
      @include list-style-image($v, $#{$rwd});
    }
    x*/
  }
}