@use "../../setting" as *;


$BorderCollapse: (
  "border-collapse": collapse,
  "border-separate": separate,
);

@if $Basic {
  @each $key, $value in $BorderCollapse {
    /*x
    @mixin #{$key} {
      @include border-collapse(#{$value});
    }
    x*/
  }
}

@if $Rwd {
  @each $rwd in $rwdBox {
    @each $key, $value in $BorderCollapse {
      /*x
      @mixin #{$rwd}\:#{$key} {
        @include border-collapse(#{$value}, $#{$rwd});
      }
      x*/
    }
  }
}