@use "../../setting" as *;
@use "sass:list";

// Custom same as @mixin text-($v)
$FontSize: (
  "text-xs": ("$font-size_xs", "$line-height_xs"),
  "text-sm": ("$font-size_sm", "$line-height_sm"),
  "text-base": ("$font-size_base", "$line-height_base"),
  "text-lg": ("$font-size_lg", "$line-height_lg"),
  "text-xl": ("$font-size_xl", "$line-height_xl"),
  "text-2xl": ("$font-size_2xl", "$line-height_2xl"),
  "text-3xl": ("$font-size_3xl", "$line-height_3xl"),
  "text-4xl": ("$font-size_4xl", "$line-height_4xl"),
  "text-5xl": ("$font-size_5xl", "$line-height_5xl"),
  "text-6xl": ("$font-size_6xl", "$line-height_6xl"),
  "text-7xl": ("$font-size_7xl", "$line-height_7xl"),
  "text-8xl": ("$font-size_8xl", "$line-height_8xl"),
  "text-9xl": ("$font-size_9xl", "$line-height_9xl"),
);

@if $Basic {
  @each $key, $value in $FontSize {
    /*x
    @mixin #{$key} {
      @include font-size(#{list.nth($value, 1)});
      @include line-height(#{list.nth($value, 2)});
    }
    x*/
    /*x
    @mixin #{$key}\/3 {
      @include font-size(#{list.nth($value, 1)});
      @include line-height($leading-3);
    }
    x*/
    /*x
    @mixin #{$key}\/4 {
      @include font-size(#{list.nth($value, 1)});
      @include line-height($leading-4);
    }
    x*/
    /*x
    @mixin #{$key}\/5 {
      @include font-size(#{list.nth($value, 1)});
      @include line-height($leading-5);
    }
    x*/
    /*x
    @mixin #{$key}\/6 {
      @include font-size(#{list.nth($value, 1)});
      @include line-height($leading-6);
    }
    x*/
    /*x
    @mixin #{$key}\/7 {
      @include font-size(#{list.nth($value, 1)});
      @include line-height($leading-7);
    }
    x*/
    /*x
    @mixin #{$key}\/8 {
      @include font-size(#{list.nth($value, 1)});
      @include line-height($leading-8);
    }
    x*/
    /*x
    @mixin #{$key}\/9 {
      @include font-size(#{list.nth($value, 1)});
      @include line-height($leading-9);
    }
    x*/
    /*x
    @mixin #{$key}\/10 {
      @include font-size(#{list.nth($value, 1)});
      @include line-height($leading-10);
    }
    x*/
    /*x
    @mixin #{$key}\/none {
      @include font-size(#{list.nth($value, 1)});
      @include line-height($leading-none);
    }
    x*/
    /*x
    @mixin #{$key}\/tight {
      @include font-size(#{list.nth($value, 1)});
      @include line-height($leading-tight);
    }
    x*/
    /*x
    @mixin #{$key}\/snug {
      @include font-size(#{list.nth($value, 1)});
      @include line-height($leading-snug);
    }
    x*/
    /*x
    @mixin #{$key}\/normal {
      @include font-size(#{list.nth($value, 1)});
      @include line-height($leading-normal);
    }
    x*/
    /*x
    @mixin #{$key}\/relaxed {
      @include font-size(#{list.nth($value, 1)});
      @include line-height($leading-relaxed);
    }
    x*/
    /*x
    @mixin #{$key}\/loose {
      @include font-size(#{list.nth($value, 1)});
      @include line-height($leading-loose);
    }
    x*/
  }
}

@if $Rwd and ($sizeMode ==0 or $sizeMode ==1) {
  @each $rwd in $rwdBox {
    @each $key, $value in $FontSize {
      /*x
      @mixin #{$rwd}\:#{$key} {
        @include #{$rwd} {
          @include font-size(#{list.nth($value, 1)});
          @include line-height(#{list.nth($value, 2)});
        }
      }
      x*/
      /*x
      @mixin #{$rwd}\:#{$key}\/3 {
        @include #{$rwd} {
          @include font-size(#{list.nth($value, 1)});
          @include line-height($leading-3);
        }
      }
      x*/
      /*x
      @mixin #{$rwd}\:#{$key}\/4 {
        @include #{$rwd} {
          @include font-size(#{list.nth($value, 1)});
          @include line-height($leading-4);
        }
      }
      x*/
      /*x
      @mixin #{$rwd}\:#{$key}\/5 {
        @include #{$rwd} {
          @include font-size(#{list.nth($value, 1)});
          @include line-height($leading-5);
        }
      }
      x*/
      /*x
      @mixin #{$rwd}\:#{$key}\/6 {
        @include #{$rwd} {
          @include font-size(#{list.nth($value, 1)});
          @include line-height($leading-6);
        }
      }
      x*/
      /*x
      @mixin #{$rwd}\:#{$key}\/7 {
        @include #{$rwd} {
          @include font-size(#{list.nth($value, 1)});
          @include line-height($leading-7);
        }
      }
      x*/
      /*x
      @mixin #{$rwd}\:#{$key}\/8 {
        @include #{$rwd} {
          @include font-size(#{list.nth($value, 1)});
          @include line-height($leading-8);
        }
      }
      x*/
      /*x
      @mixin #{$rwd}\:#{$key}\/9 {
        @include #{$rwd} {
          @include font-size(#{list.nth($value, 1)});
          @include line-height($leading-9);
        }
      }
      x*/
      /*x
      @mixin #{$rwd}\:#{$key}\/10 {
        @include #{$rwd} {
          @include font-size(#{list.nth($value, 1)});
          @include line-height($leading-10);
        }
      }
      x*/
      /*x
      @mixin #{$rwd}\:#{$key}\/none {
        @include #{$rwd} {
          @include font-size(#{list.nth($value, 1)});
          @include line-height($leading-none);
        }
      }
      x*/
      /*x
      @mixin #{$rwd}\:#{$key}\/tight {
        @include #{$rwd} {
          @include font-size(#{list.nth($value, 1)});
          @include line-height($leading-tight);
        }
      }
      x*/
      /*x
      @mixin #{$rwd}\:#{$key}\/snug {
        @include #{$rwd} {
          @include font-size(#{list.nth($value, 1)});
          @include line-height($leading-snug);
        }
      }
      x*/
      /*x
      @mixin #{$rwd}\:#{$key}\/normal {
        @include #{$rwd} {
          @include font-size(#{list.nth($value, 1)});
          @include line-height($leading-normal);
        }
      }
      x*/
      /*x
      @mixin #{$rwd}\:#{$key}\/relaxed {
        @include #{$rwd} {
          @include font-size(#{list.nth($value, 1)});
          @include line-height($leading-relaxed);
        }
      }
      x*/
      /*x
      @mixin #{$rwd}\:#{$key}\/loose {
        @include #{$rwd} {
          @include font-size(#{list.nth($value, 1)});
          @include line-height($leading-loose);
        }
      }
      x*/
    }
  }
}

@if $Custom {
  /*x
  @mixin text-xs\/($v) {
    @include font-size($font-size_xs);
    @include line-height($v);
  }

  @mixin text-sm\/($v) {
    @include font-size($font-size_sm);
    @include line-height($v);
  }

  @mixin text-base\/($v) {
    @include font-size($font-size_base);
    @include line-height($v);
  }

  @mixin text-lg\/($v) {
    @include font-size($font-size_lg);
    @include line-height($v);
  }

  @mixin text-xl\/($v) {
    @include font-size($font-size_xl);
    @include line-height($v);
  }

  @mixin text-2xl\/($v) {
    @include font-size($font-size_2xl);
    @include line-height($v);
  }

  @mixin text-3xl\/($v) {
    @include font-size($font-size_3xl);
    @include line-height($v);
  }

  @mixin text-4xl\/($v) {
    @include font-size($font-size_4xl);
    @include line-height($v);
  }

  @mixin text-5xl\/($v) {
    @include font-size($font-size_5xl);
    @include line-height($v);
  }

  @mixin text-6xl\/($v) {
    @include font-size($font-size_6xl);
    @include line-height($v);
  }

  @mixin text-7xl\/($v) {
    @include font-size($font-size_7xl);
    @include line-height($v);
  }

  @mixin text-8xl\/($v) {
    @include font-size($font-size_8xl);
    @include line-height($v);
  }

  @mixin text-9xl\/($v) {
    @include font-size($font-size_9xl);
    @include line-height($v);
  }
  x*/
  @each $rwd in $rwdBox {
    /*x
    @mixin #{$rwd}\:text-xs\/($v) {
      @include #{$rwd} {
        @include font-size($font-size_xs);
        @include line-height($v);
      }
    }

    @mixin #{$rwd}\:text-sm\/($v) {
      @include #{$rwd} {
        @include font-size($font-size_sm);
        @include line-height($v);
      }
    }

    @mixin #{$rwd}\:text-base\/($v) {
      @include #{$rwd} {
        @include font-size($font-size_base);
        @include line-height($v);
      }
    }

    @mixin #{$rwd}\:text-lg\/($v) {
      @include #{$rwd} {
        @include font-size($font-size_lg);
        @include line-height($v);
      }
    }

    @mixin #{$rwd}\:text-xl\/($v) {
      @include #{$rwd} {
        @include font-size($font-size_xl);
        @include line-height($v);
      }
    }

    @mixin #{$rwd}\:text-2xl\/($v) {
      @include #{$rwd} {
        @include font-size($font-size_2xl);
        @include line-height($v);
      }
    }

    @mixin #{$rwd}\:text-3xl\/($v) {
      @include #{$rwd} {
        @include font-size($font-size_3xl);
        @include line-height($v);
      }
    }

    @mixin #{$rwd}\:text-4xl\/($v) {
      @include #{$rwd} {
        @include font-size($font-size_4xl);
        @include line-height($v);
      }
    }

    @mixin #{$rwd}\:text-5xl\/($v) {
      @include #{$rwd} {
        @include font-size($font-size_5xl);
        @include line-height($v);
      }
    }

    @mixin #{$rwd}\:text-6xl\/($v) {
      @include #{$rwd} {
        @include font-size($font-size_6xl);
        @include line-height($v);
      }
    }

    @mixin #{$rwd}\:text-7xl\/($v) {
      @include #{$rwd} {
        @include font-size($font-size_7xl);
        @include line-height($v);
      }
    }

    @mixin #{$rwd}\:text-8xl\/($v) {
      @include #{$rwd} {
        @include font-size($font-size_8xl);
        @include line-height($v);
      }
    }

    @mixin #{$rwd}\:text-9xl\/($v) {
      @include #{$rwd} {
        @include font-size($font-size_9xl);
        @include line-height($v);
      }
    }
    x*/
  }
}
