@use "../../mode0" as *;
@use "true" as *;

@include describe("9.Filters") {
  @include describe("Backdrop Invert") {
    @include describe("Basic") {
      @include it("backdrop-invert-0") {
        @include assert {
          @include output {
            @include backdrop-invert-0;
            @include reset;
          }

          @include expect {
            backdrop-filter: invert(0);
          }
        }
      }

      @include it("backdrop-invert") {
        @include assert {
          @include output {
            @include backdrop-invert;
            @include reset;
          }

          @include expect {
            backdrop-filter: invert(100%);
          }
        }
      }
    }

    @include describe("Rwd") {
      @include it("backdrop-invert-0") {
        @include assert {
          @include output {
            @include backdrop-invert-0;
            @include reset;
          }

          @include expect {
            backdrop-filter: invert(0);
          }
        }
      }

      @include it("backdrop-invert") {
        @include assert {
          @include output {
            @include backdrop-invert;
            @include reset;
          }

          @include expect {
            backdrop-filter: invert(100%);
          }
        }
      }

      @include it("sm\:backdrop-invert-0") {
        @include assert {
          @include output {
            @include sm\:backdrop-invert-0;
            @include reset;
          }

          @include expect {
            @media (min-width: $sm) {
              backdrop-filter: invert(0);
            }
          }
        }
      }

      @include it("sm\:backdrop-invert") {
        @include assert {
          @include output {
            @include sm\:backdrop-invert;
            @include reset;
          }

          @include expect {
            @media (min-width: $sm) {
              backdrop-filter: invert(100%);
            }
          }
        }
      }

      @include it("md\:backdrop-invert-0") {
        @include assert {
          @include output {
            @include md\:backdrop-invert-0;
            @include reset;
          }

          @include expect {
            @media (min-width: $md) {
              backdrop-filter: invert(0);
            }
          }
        }
      }

      @include it("md\:backdrop-invert") {
        @include assert {
          @include output {
            @include md\:backdrop-invert;
            @include reset;
          }

          @include expect {
            @media (min-width: $md) {
              backdrop-filter: invert(100%);
            }
          }
        }
      }

      @include it("lg\:backdrop-invert-0") {
        @include assert {
          @include output {
            @include lg\:backdrop-invert-0;
            @include reset;
          }

          @include expect {
            @media (min-width: $lg) {
              backdrop-filter: invert(0);
            }
          }
        }
      }

      @include it("lg\:backdrop-invert") {
        @include assert {
          @include output {
            @include lg\:backdrop-invert;
            @include reset;
          }

          @include expect {
            @media (min-width: $lg) {
              backdrop-filter: invert(100%);
            }
          }
        }
      }

      @include it("xl\:backdrop-invert-0") {
        @include assert {
          @include output {
            @include xl\:backdrop-invert-0;
            @include reset;
          }

          @include expect {
            @media (min-width: $xl) {
              backdrop-filter: invert(0);
            }
          }
        }
      }

      @include it("xl\:backdrop-invert") {
        @include assert {
          @include output {
            @include xl\:backdrop-invert;
            @include reset;
          }

          @include expect {
            @media (min-width: $xl) {
              backdrop-filter: invert(100%);
            }
          }
        }
      }

      @include it("\2xl\:backdrop-invert-0") {
        @include assert {
          @include output {
            @include \2xl\:backdrop-invert-0;
            @include reset;
          }

          @include expect {
            @media (min-width: $\2xl) {
              backdrop-filter: invert(0);
            }
          }
        }
      }

      @include it("\2xl\:backdrop-invert") {
        @include assert {
          @include output {
            @include \2xl\:backdrop-invert;
            @include reset;
          }

          @include expect {
            @media (min-width: $\2xl) {
              backdrop-filter: invert(100%);
            }
          }
        }
      }
    }

    @include describe("Custom") {
      @include it("backdrop-invert-(.25)") {
        @include assert {
          @include output {
            @include backdrop-invert-(0.25);
            @include reset;
          }

          @include expect {
            backdrop-filter: invert(0.25);
          }
        }
      }

      @include it("sm\:backdrop-invert-(.25)") {
        @include assert {
          @include output {
            @include sm\:backdrop-invert-(0.25);
            @include reset;
          }

          @include expect {
            @media (min-width: $sm) {
              backdrop-filter: invert(0.25);
            }
          }
        }
      }

      @include it("md\:backdrop-invert-(.25)") {
        @include assert {
          @include output {
            @include md\:backdrop-invert-(0.25);
            @include reset;
          }

          @include expect {
            @media (min-width: $md) {
              backdrop-filter: invert(0.25);
            }
          }
        }
      }

      @include it("lg\:backdrop-invert-(.25)") {
        @include assert {
          @include output {
            @include lg\:backdrop-invert-(0.25);
            @include reset;
          }

          @include expect {
            @media (min-width: $lg) {
              backdrop-filter: invert(0.25);
            }
          }
        }
      }

      @include it("xl\:backdrop-invert-(.25)") {
        @include assert {
          @include output {
            @include xl\:backdrop-invert-(0.25);
            @include reset;
          }

          @include expect {
            @media (min-width: $xl) {
              backdrop-filter: invert(0.25);
            }
          }
        }
      }

      @include it("\2xl\:backdrop-invert-(.25)") {
        @include assert {
          @include output {
            @include \2xl\:backdrop-invert-(0.25);
            @include reset;
          }

          @include expect {
            @media (min-width: $\2xl) {
              backdrop-filter: invert(0.25);
            }
          }
        }
      }
    }
  }
}
