@use "../../setting" as *;

// Custom same as  @mixin bg-($v)
$BackgroundsPosition: (
  "bg-bottom": bottom,
  "bg-center": center,
  "bg-left": left,
  "bg-left-bottom": left bottom,
  "bg-left-top": left top,
  "bg-right": right,
  "bg-right-bottom": right bottom,
  "bg-right-top": right top,
  "bg-top": top,
);

@if $Basic {
  @each $key, $value in $BackgroundsPosition {
    /*x
    @mixin #{$key} {
      @include background-position(#{$value});
    }
    x*/
  }
}

@if $Rwd and ($sizeMode ==0 or $sizeMode ==1) {
  @each $rwd in $rwdBox {
    @each $key, $value in $BackgroundsPosition {
      /*x
      @mixin #{$rwd}\:#{$key} {
        @include background-position(#{$value}, $#{$rwd});
      }
      x*/
    }
  }
}