@include describe('14.SVG') {
  @include describe('Stroke Width') {
    @include describe('Basic') {
      @include it('stroke-0') {
        @include assert {
          @include output {
            @include stroke-0;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            stroke-width: 0;
          }
        }
      }

      @include it('stroke-1') {
        @include assert {
          @include output {
            @include stroke-1;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            stroke-width: 1;
          }
        }
      }

      @include it('stroke-2') {
        @include assert {
          @include output {
            @include stroke-2;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            stroke-width: 2;
          }
        }
      }
    }

    @include describe('Rwd') {
      @include it('sm\:stroke-0') {
        @include assert {
          @include output {
            @include stroke-0;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            stroke-width: 0;
          }
        }
      }

      @include it('sm\:stroke-1') {
        @include assert {
          @include output {
            @include stroke-1;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            stroke-width: 1;
          }
        }
      }

      @include it('sm\:stroke-2') {
        @include assert {
          @include output {
            @include stroke-2;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            stroke-width: 2;
          }
        }
      }

      @include it('md\:stroke-0') {
        @include assert {
          @include output {
            @include stroke-0;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            stroke-width: 0;
          }
        }
      }

      @include it('md\:stroke-1') {
        @include assert {
          @include output {
            @include stroke-1;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            stroke-width: 1;
          }
        }
      }

      @include it('md\:stroke-2') {
        @include assert {
          @include output {
            @include stroke-2;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            stroke-width: 2;
          }
        }
      }

      @include it('lg\:stroke-0') {
        @include assert {
          @include output {
            @include stroke-0;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            stroke-width: 0;
          }
        }
      }

      @include it('lg\:stroke-1') {
        @include assert {
          @include output {
            @include stroke-1;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            stroke-width: 1;
          }
        }
      }

      @include it('lg\:stroke-2') {
        @include assert {
          @include output {
            @include stroke-2;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            stroke-width: 2;
          }
        }
      }

      @include it('xl\:stroke-0') {
        @include assert {
          @include output {
            @include stroke-0;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            stroke-width: 0;
          }
        }
      }

      @include it('xl\:stroke-1') {
        @include assert {
          @include output {
            @include stroke-1;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            stroke-width: 1;
          }
        }
      }

      @include it('xl\:stroke-2') {
        @include assert {
          @include output {
            @include stroke-2;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            stroke-width: 2;
          }
        }
      }

      @include it('2xl\:stroke-0') {
        @include assert {
          @include output {
            @include stroke-0;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            stroke-width: 0;
          }
        }
      }

      @include it('2xl\:stroke-1') {
        @include assert {
          @include output {
            @include stroke-1;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            stroke-width: 1;
          }
        }
      }

      @include it('2xl\:stroke-2') {
        @include assert {
          @include output {
            @include stroke-2;
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            stroke-width: 2;
          }
        }
      }
    }

    @include describe('Custom') {
      @include it('stroke-(2px)') {
        @include assert {
          @include output {
            @include stroke-(2px);
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            stroke-width: 2px;
          }
        }
      }

      @include it('sm\:stroke-(2px)') {
        @include assert {
          @include output {
            @include sm\:stroke-(2px);
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_sm) {
              stroke-width: 2px;
            }
          }
        }
      }

      @include it('md\:stroke-(2px)') {
        @include assert {
          @include output {
            @include md\:stroke-(2px);
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_md) {
              stroke-width: 2px;
            }
          }
        }
      }

      @include it('lg\:stroke-(2px)') {
        @include assert {
          @include output {
            @include lg\:stroke-(2px);
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_lg) {
              stroke-width: 2px;
            }
          }
        }
      }

      @include it('xl\:stroke-(2px)') {
        @include assert {
          @include output {
            @include xl\:stroke-(2px);
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_xl) {
              stroke-width: 2px;
            }
          }
        }
      }

      @include it('2xl\:stroke-(2px)') {
        @include assert {
          @include output {
            @include \2xl\:stroke-(2px);
            @include utils_reset-scss-tw-variables;
          }

          @include expect {
            @media (min-width: $_\2xl) {
              stroke-width: 2px;
            }
          }
        }
      }
    }
  }
}
