@use "../../setting" as *;

/* Font Variant Numeric */
@if $Basic {
  // /*x
  @mixin normal-nums {
    font-variant-numeric: normal;
  }

  @mixin ordinal {
    font-variant-numeric: ordinal;
  }

  @mixin slashed-zero {
    font-variant-numeric: slashed-zero;
  }

  @mixin lining-nums {
    font-variant-numeric: lining-nums;
  }

  @mixin oldstyle-nums {
    font-variant-numeric: oldstyle-nums;
  }

  @mixin proportional-nums {
    font-variant-numeric: proportional-nums;
  }

  @mixin tabular-nums {
    font-variant-numeric: tabular-nums;
  }

  @mixin diagonal-fractions {
    font-variant-numeric: diagonal-fractions;
  }

  @mixin stacked-fractions {
    font-variant-numeric: stacked-fractions;
  } // x*/
}

@if $Rwd {
  // /*x
  @mixin sm\:normal-nums {
    @include r(sm, font-variant-numeric, normal);
  }

  @mixin sm\:ordinal {
    @include r(sm, font-variant-numeric, ordinal);
  }

  @mixin sm\:slashed-zero {
    @include r(sm, font-variant-numeric, slashed-zero);
  }

  @mixin sm\:lining-nums {
    @include r(sm, font-variant-numeric, lining-nums);
  }

  @mixin sm\:oldstyle-nums {
    @include r(sm, font-variant-numeric, oldstyle-nums);
  }

  @mixin sm\:proportional-nums {
    @include r(sm, font-variant-numeric, proportional-nums);
  }

  @mixin sm\:tabular-nums {
    @include r(sm, font-variant-numeric, tabular-nums);
  }

  @mixin sm\:diagonal-fractions {
    @include r(sm, font-variant-numeric, diagonal-fractions);
  }

  @mixin sm\:stacked-fractions {
    @include r(sm, font-variant-numeric, stacked-fractions);
  }

  @mixin md\:normal-nums {
    @include r(md, font-variant-numeric, normal);
  }

  @mixin md\:ordinal {
    @include r(md, font-variant-numeric, ordinal);
  }

  @mixin md\:slashed-zero {
    @include r(md, font-variant-numeric, slashed-zero);
  }

  @mixin md\:lining-nums {
    @include r(md, font-variant-numeric, lining-nums);
  }

  @mixin md\:oldstyle-nums {
    @include r(md, font-variant-numeric, oldstyle-nums);
  }

  @mixin md\:proportional-nums {
    @include r(md, font-variant-numeric, proportional-nums);
  }

  @mixin md\:tabular-nums {
    @include r(md, font-variant-numeric, tabular-nums);
  }

  @mixin md\:diagonal-fractions {
    @include r(md, font-variant-numeric, diagonal-fractions);
  }

  @mixin md\:stacked-fractions {
    @include r(md, font-variant-numeric, stacked-fractions);
  }

  @mixin lg\:normal-nums {
    @include r(lg, font-variant-numeric, normal);
  }

  @mixin lg\:ordinal {
    @include r(lg, font-variant-numeric, ordinal);
  }

  @mixin lg\:slashed-zero {
    @include r(lg, font-variant-numeric, slashed-zero);
  }

  @mixin lg\:lining-nums {
    @include r(lg, font-variant-numeric, lining-nums);
  }

  @mixin lg\:oldstyle-nums {
    @include r(lg, font-variant-numeric, oldstyle-nums);
  }

  @mixin lg\:proportional-nums {
    @include r(lg, font-variant-numeric, proportional-nums);
  }

  @mixin lg\:tabular-nums {
    @include r(lg, font-variant-numeric, tabular-nums);
  }

  @mixin lg\:diagonal-fractions {
    @include r(lg, font-variant-numeric, diagonal-fractions);
  }

  @mixin lg\:stacked-fractions {
    @include r(lg, font-variant-numeric, stacked-fractions);
  }

  @mixin xl\:normal-nums {
    @include r(xl, font-variant-numeric, normal);
  }

  @mixin xl\:ordinal {
    @include r(xl, font-variant-numeric, ordinal);
  }

  @mixin xl\:slashed-zero {
    @include r(xl, font-variant-numeric, slashed-zero);
  }

  @mixin xl\:lining-nums {
    @include r(xl, font-variant-numeric, lining-nums);
  }

  @mixin xl\:oldstyle-nums {
    @include r(xl, font-variant-numeric, oldstyle-nums);
  }

  @mixin xl\:proportional-nums {
    @include r(xl, font-variant-numeric, proportional-nums);
  }

  @mixin xl\:tabular-nums {
    @include r(xl, font-variant-numeric, tabular-nums);
  }

  @mixin xl\:diagonal-fractions {
    @include r(xl, font-variant-numeric, diagonal-fractions);
  }

  @mixin xl\:stacked-fractions {
    @include r(xl, font-variant-numeric, stacked-fractions);
  }

  @mixin \2xl\:normal-nums {
    @include r(2xl, font-variant-numeric, normal);
  }

  @mixin \2xl\:ordinal {
    @include r(2xl, font-variant-numeric, ordinal);
  }

  @mixin \2xl\:slashed-zero {
    @include r(2xl, font-variant-numeric, slashed-zero);
  }

  @mixin \2xl\:lining-nums {
    @include r(2xl, font-variant-numeric, lining-nums);
  }

  @mixin \2xl\:oldstyle-nums {
    @include r(2xl, font-variant-numeric, oldstyle-nums);
  }

  @mixin \2xl\:proportional-nums {
    @include r(2xl, font-variant-numeric, proportional-nums);
  }

  @mixin \2xl\:tabular-nums {
    @include r(2xl, font-variant-numeric, tabular-nums);
  }

  @mixin \2xl\:diagonal-fractions {
    @include r(2xl, font-variant-numeric, diagonal-fractions);
  }

  @mixin \2xl\:stacked-fractions {
    @include r(2xl, font-variant-numeric, stacked-fractions);
  } // x*/
}
