@use "../../setting" as *;

/* Isolation */
@if $Basic {
  /*x
  @mixin isolate {
    isolation: isolate;
  }

  @mixin isolation-auto {
    isolation: auto;
  }
  x*/
}

@if $Rwd {
  /*x
  @mixin sm\:isolate {
    @media (min-width: $breakpoint-sm) {
      isolation: isolate;
    }
  }

  @mixin sm\:isolation-auto {
    @media (min-width: $breakpoint-sm) {
      isolation: auto;
    }
  }

  @mixin md\:isolate {
    @media (min-width: $breakpoint-md) {
      isolation: isolate;
    }
  }

  @mixin md\:isolation-auto {
    @media (min-width: $breakpoint-md) {
      isolation: auto;
    }
  }

  @mixin lg\:isolate {
    @media (min-width: $breakpoint-lg) {
      isolation: isolate;
    }
  }

  @mixin lg\:isolation-auto {
    @media (min-width: $breakpoint-lg) {
      isolation: auto;
    }
  }

  @mixin xl\:isolate {
    @media (min-width: $breakpoint-xl) {
      isolation: isolate;
    }
  }

  @mixin xl\:isolation-auto {
    @media (min-width: $breakpoint-xl) {
      isolation: auto;
    }
  }

  @mixin \2xl\:isolate {
    @media (min-width: $breakpoint-2xl) {
      isolation: isolate;
    }
  }

  @mixin \2xl\:isolation-auto {
    @media (min-width: $breakpoint-2xl) {
      isolation: auto;
    }
  }
  x*/
}
