@use "../setting" as *;

$Margin: (
  "0": "$spacing-0",
  "0\\.5": "$spacing-0\\.5",
  "1": "$spacing-1",
  "1\\.5": "$spacing-1\\.5",
  "2": "$spacing-2",
  "2\\.5": "$spacing-2\\.5",
  "3": "$spacing-3",
  "3\\.5": "$spacing-3\\.5",
  "4": "$spacing-4",
  "5": "$spacing-5",
  "6": "$spacing-6",
  "7": "$spacing-7",
  "8": "$spacing-8",
  "9": "$spacing-9",
  "10": "$spacing-10",
  "11": "$spacing-11",
  "12": "$spacing-12",
  "14": "$spacing-14",
  "16": "$spacing-16",
  "20": "$spacing-20",
  "24": "$spacing-24",
  "28": "$spacing-28",
  "32": "$spacing-32",
  "36": "$spacing-36",
  "40": "$spacing-40",
  "44": "$spacing-44",
  "48": "$spacing-48",
  "52": "$spacing-52",
  "56": "$spacing-56",
  "60": "$spacing-60",
  "64": "$spacing-64",
  "72": "$spacing-72",
  "80": "$spacing-80",
  "96": "$spacing-96",
  "px": 1px,
);

@if $QuickReference {
  /*x
  @mixin space-x-reverse {
    :where(& > :not(:last-child)) {
      --tw-space-x-reverse: 1 !important;
    }
  }

  @mixin space-y-reverse {
    :where(& > :not(:last-child)) {
      --tw-space-y-reverse: 1 !important;
    }
  }

  @mixin m-auto {
    margin: auto;
  }

  @mixin mx-auto {
    margin-left: auto;
    margin-right: auto;
  }

  @mixin my-auto {
    margin-top: auto;
    margin-bottom: auto;
  }

  @mixin ms-auto {
    margin-inline-start: auto;
  }

  @mixin me-auto {
    margin-inline-end: auto;
  }

  @mixin mt-auto {
    margin-top: auto;
  }

  @mixin mr-auto {
    margin-right: auto;
  }

  @mixin mb-auto {
    margin-bottom: auto;
  }

  @mixin ml-auto {
    margin-left: auto;
  }
  x*/

  @each $key, $value in $Margin {
    /*x
    @mixin m-#{$key} {
      margin: #{$value};
    }

    @mixin mx-#{$key} {
      margin-left: #{$value};
      margin-right: #{$value};
    }

    @mixin my-#{$key} {
      margin-top: #{$value};
      margin-bottom: #{$value};
    }

    @mixin ms-#{$key} {
      margin-inline-start: #{$value};
    }

    @mixin me-#{$key} {
      margin-inline-end: #{$value};
    }

    @mixin mt-#{$key} {
      margin-top: #{$value};
    }

    @mixin mr-#{$key} {
      margin-right: #{$value};
    }

    @mixin mb-#{$key} {
      margin-bottom: #{$value};
    }

    @mixin ml-#{$key} {
      margin-left: #{$value};
    }

    @mixin space-x-#{$key} {
      :where(& > :not(:last-child)) {
        --tw-space-x-reverse: 0;
        margin-inline-start: calc(#{$value} * var(--tw-space-x-reverse));
        margin-inline-end: calc(#{$value} * calc(1 - var(--tw-space-x-reverse)));
      }
    }

    @mixin space-y-#{$key} {
      :where(& > :not(:last-child)) {
        --tw-space-y-reverse: 0;
        margin-block-start: calc(#{$value} * var(--tw-space-y-reverse));
        margin-block-end: calc(#{$value} * calc(1 - var(--tw-space-y-reverse)));
      }
    }
    x*/
  }
}

@if $UsingNegativeValues {
  @if $QuickReference {
    @each $key, $value in $Margin {
      /*x
      @mixin \-m-#{$key} {
        margin: -#{$value};
      }
  
      @mixin \-mx-#{$key} {
        margin-left: -#{$value};
        margin-right: -#{$value};
      }
  
      @mixin \-my-#{$key} {
        margin-top: -#{$value};
        margin-bottom: -#{$value};
      }
  
      @mixin \-ms-#{$key} {
        margin-inline-start: -#{$value};
      }
  
      @mixin \-me-#{$key} {
        margin-inline-end: -#{$value};
      }
  
      @mixin \-mt-#{$key} {
        margin-top: -#{$value};
      }
  
      @mixin \-mr-#{$key} {
        margin-right: -#{$value};
      }
  
      @mixin \-mb-#{$key} {
        margin-bottom: -#{$value};
      }
  
      @mixin \-ml-#{$key} {
        margin-left: -#{$value};
      }

      @mixin \-space-x-#{$key} {
        :where(& > :not(:last-child)) {
          --tw-space-x-reverse: 0;
          margin-inline-start: calc(#{-$value} * var(--tw-space-x-reverse));
          margin-inline-end: calc(#{-$value} * calc(1 - var(--tw-space-x-reverse)));
        }
      }

      @mixin \-space-y-#{$key} {
        :where(& > :not(:last-child)) {
          --tw-space-y-reverse: 0;
          margin-block-start: calc(#{-$value} * var(--tw-space-y-reverse));
          margin-block-end: calc(#{-$value} * calc(1 - var(--tw-space-y-reverse)));
        }
      }
      x*/
    }
  }

  @if $UsingACustomValue {
    /*x
    @mixin \-m-($v) {
      margin: -$v;
    }
  
    @mixin \-mx-($v) {
      margin-left: -$v;
      margin-right: -$v;
    }
  
    @mixin \-my-($v) {
      margin-top: -$v;
      margin-bottom: -$v;
    }
  
    @mixin \-ms-($v) {
      margin-inline-start: -$v;
    }
  
    @mixin \-me-($v) {
      margin-inline-end: -$v;
    }
  
    @mixin \-mt-($v) {
      margin-top: -$v;
    }
  
    @mixin \-mr-($v) {
      margin-right: -$v;
    }
  
    @mixin \-mb-($v) {
      margin-bottom: -$v;
    }
  
    @mixin \-ml-($v) {
      margin-left: -$v;
    }

    @mixin \-space-x-($v) {
      :where(& > :not(:last-child)) {
        --tw-space-x-reverse: 0;
        margin-inline-start: calc(#/*x{-$v} * var(--tw-space-x-reverse));
        margin-inline-end: calc(#/*x{-$v} * calc(1 - var(--tw-space-x-reverse)));
      }
    }
  
    @mixin \-space-y-($v) {
      :where(& > :not(:last-child)) {
        --tw-space-y-reverse: 0;
        margin-block-start: calc(#/*x{-$v} * var(--tw-space-y-reverse));
        margin-block-end: calc(#/*x{-$v} * calc(1 - var(--tw-space-y-reverse)));
      }
    }
    x*/
  }
}

@if $UsingACustomValue {
  /*x
  @mixin m-($v) {
    margin: $v;
  }

  @mixin mx-($v) {
    margin-left: $v;
    margin-right: $v;
  }

  @mixin my-($v) {
    margin-top: $v;
    margin-bottom: $v;
  }

  @mixin ms-($v) {
    margin-inline-start: $v;
  }

  @mixin me-($v) {
    margin-inline-end: $v;
  }

  @mixin mt-($v) {
    margin-top: $v;
  }

  @mixin mr-($v) {
    margin-right: $v;
  }

  @mixin mb-($v) {
    margin-bottom: $v;
  }

  @mixin ml-($v) {
    margin-left: $v;
  }

  @mixin space-x-($v) {
    :where(& > :not(:last-child)) {
      --tw-space-x-reverse: 0;
      margin-inline-start: calc($v * var(--tw-space-x-reverse));
      margin-inline-end: calc($v * calc(1 - var(--tw-space-x-reverse)));
    }
  }

  @mixin space-y-($v) {
    :where(& > :not(:last-child)) {
      --tw-space-y-reverse: 0;
      margin-block-start: calc($v * var(--tw-space-y-reverse));
      margin-block-end: calc($v * calc(1 - var(--tw-space-y-reverse)));
    }
  }
  x*/
}
