@use "../../setting" as *;

/* Font Smoothing */
@if $Basic {
  @mixin_antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  @mixin_subpixel-antialiased {
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
  }
}

@if $Rwd {
  @mixin_sm\:antialiased {
    @media (min-width: $breakpoint-sm) {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }

  @mixin_sm\:subpixel-antialiased {
    @media (min-width: $breakpoint-sm) {
      -webkit-font-smoothing: auto;
      -moz-osx-font-smoothing: auto;
    }
  }

  @mixin_md\:antialiased {
    @media (min-width: $breakpoint-md) {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }

  @mixin_md\:subpixel-antialiased {
    @media (min-width: $breakpoint-md) {
      -webkit-font-smoothing: auto;
      -moz-osx-font-smoothing: auto;
    }
  }

  @mixin_lg\:antialiased {
    @media (min-width: $breakpoint-lg) {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }

  @mixin_lg\:subpixel-antialiased {
    @media (min-width: $breakpoint-lg) {
      -webkit-font-smoothing: auto;
      -moz-osx-font-smoothing: auto;
    }
  }

  @mixin_xl\:antialiased {
    @media (min-width: $breakpoint-xl) {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }

  @mixin_xl\:subpixel-antialiased {
    @media (min-width: $breakpoint-xl) {
      -webkit-font-smoothing: auto;
      -moz-osx-font-smoothing: auto;
    }
  }

  @mixin_\\2xl\:antialiased {
    @media (min-width: $breakpoint-2xl) {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }

  @mixin_\\2xl\:subpixel-antialiased {
    @media (min-width: $breakpoint-2xl) {
      -webkit-font-smoothing: auto;
      -moz-osx-font-smoothing: auto;
    }
  }
}
