@use "../../setting" as *;
@use "../../mode0" as *;
@use "true" as *;

/* Backgrounds Origin */
@if $Basic {
  // /*x
  @mixin bg-origin-border($rwd: null) {
    @if $rwd==null {
      background-origin: border-box;
    } @else {
      @media (min-width: $rwd) {
        background-origin: border-box;
      }
    }
  }

  @mixin bg-origin-padding($rwd: null) {
    @if $rwd==null {
      background-origin: padding-box;
    } @else {
      @media (min-width: $rwd) {
        background-origin: padding-box;
      }
    }
  }

  @mixin bg-origin-content($rwd: null) {
    @if $rwd==null {
      background-origin: content-box;
    } @else {
      @media (min-width: $rwd) {
        background-origin: content-box;
      }
    }
  }

  // x*/
}

@if $Rwd {
  // /*x
  @mixin sm\:bg-origin-border {
    @include bg-origin-border($sm);
  }

  @mixin sm\:bg-origin-padding {
    @include bg-origin-padding($sm);
  }

  @mixin sm\:bg-origin-content {
    @include bg-origin-content($sm);
  }

  @mixin md\:bg-origin-border {
    @include bg-origin-border($md);
  }

  @mixin md\:bg-origin-padding {
    @include bg-origin-padding($md);
  }

  @mixin md\:bg-origin-content {
    @include bg-origin-content($md);
  }

  @mixin lg\:bg-origin-border {
    @include bg-origin-border($lg);
  }

  @mixin lg\:bg-origin-padding {
    @include bg-origin-padding($lg);
  }

  @mixin lg\:bg-origin-content {
    @include bg-origin-content($lg);
  }

  @mixin xl\:bg-origin-border {
    @include bg-origin-border($xl);
  }

  @mixin xl\:bg-origin-padding {
    @include bg-origin-padding($xl);
  }

  @mixin xl\:bg-origin-content {
    @include bg-origin-content($xl);
  }

  @mixin \2xl\:bg-origin-border {
    @include bg-origin-border($\2xl);
  }

  @mixin \2xl\:bg-origin-padding {
    @include bg-origin-padding($\2xl);
  }

  @mixin \2xl\:bg-origin-content {
    @include bg-origin-content($\2xl);
  }

  // x*/
}
