@use "../../setting" as *;

/* Stroke */
@if $Basic {
  // /*x 
  @mixin stroke-none {
    stroke: none;
  }

  @mixin stroke-inherit {
    stroke: inherit;
  }

  @mixin stroke-current {
    stroke: currentColor;
  }

  @mixin stroke-transparent {
    stroke: transparent;
  }

  @mixin stroke-black($v: 1) {
    stroke: c(bla, $v);
  }

  @mixin stroke-white($v: 1) {
    stroke: c(whi, $v);
  }

  @mixin stroke-slate-50($v: 1) {
    stroke: c(sla-50, $v);
  }

  @mixin stroke-slate-100($v: 1) {
    stroke: c(sla-100, $v);
  }

  @mixin stroke-slate-200($v: 1) {
    stroke: c(sla-200, $v);
  }

  @mixin stroke-slate-300($v: 1) {
    stroke: c(sla-300, $v);
  }

  @mixin stroke-slate-400($v: 1) {
    stroke: c(sla-400, $v);
  }

  @mixin stroke-slate-500($v: 1) {
    stroke: c(sla-500, $v);
  }

  @mixin stroke-slate-600($v: 1) {
    stroke: c(sla-600, $v);
  }

  @mixin stroke-slate-700($v: 1) {
    stroke: c(sla-700, $v);
  }

  @mixin stroke-slate-800($v: 1) {
    stroke: c(sla-800, $v);
  }

  @mixin stroke-slate-900($v: 1) {
    stroke: c(sla-900, $v);
  }

  @mixin stroke-slate-950($v: 1) {
    stroke: c(sla-950, $v);
  }

  @mixin stroke-gray-50($v: 1) {
    stroke: c(gra-50, $v);
  }

  @mixin stroke-gray-100($v: 1) {
    stroke: c(gra-100, $v);
  }

  @mixin stroke-gray-200($v: 1) {
    stroke: c(gra-200, $v);
  }

  @mixin stroke-gray-300($v: 1) {
    stroke: c(gra-300, $v);
  }

  @mixin stroke-gray-400($v: 1) {
    stroke: c(gra-400, $v);
  }

  @mixin stroke-gray-500($v: 1) {
    stroke: c(gra-500, $v);
  }

  @mixin stroke-gray-600($v: 1) {
    stroke: c(gra-600, $v);
  }

  @mixin stroke-gray-700($v: 1) {
    stroke: c(gra-700, $v);
  }

  @mixin stroke-gray-800($v: 1) {
    stroke: c(gra-800, $v);
  }

  @mixin stroke-gray-900($v: 1) {
    stroke: c(gra-900, $v);
  }

  @mixin stroke-gray-950($v: 1) {
    stroke: c(gra-950, $v);
  }

  @mixin stroke-zinc-50($v: 1) {
    stroke: c(zin-50, $v);
  }

  @mixin stroke-zinc-100($v: 1) {
    stroke: c(zin-100, $v);
  }

  @mixin stroke-zinc-200($v: 1) {
    stroke: c(zin-200, $v);
  }

  @mixin stroke-zinc-300($v: 1) {
    stroke: c(zin-300, $v);
  }

  @mixin stroke-zinc-400($v: 1) {
    stroke: c(zin-400, $v);
  }

  @mixin stroke-zinc-500($v: 1) {
    stroke: c(zin-500, $v);
  }

  @mixin stroke-zinc-600($v: 1) {
    stroke: c(zin-600, $v);
  }

  @mixin stroke-zinc-700($v: 1) {
    stroke: c(zin-700, $v);
  }

  @mixin stroke-zinc-800($v: 1) {
    stroke: c(zin-800, $v);
  }

  @mixin stroke-zinc-900($v: 1) {
    stroke: c(zin-900, $v);
  }

  @mixin stroke-zinc-950($v: 1) {
    stroke: c(zin-950, $v);
  }

  @mixin stroke-neutral-50($v: 1) {
    stroke: c(neu-50, $v);
  }

  @mixin stroke-neutral-100($v: 1) {
    stroke: c(neu-100, $v);
  }

  @mixin stroke-neutral-200($v: 1) {
    stroke: c(neu-200, $v);
  }

  @mixin stroke-neutral-300($v: 1) {
    stroke: c(neu-300, $v);
  }

  @mixin stroke-neutral-400($v: 1) {
    stroke: c(neu-400, $v);
  }

  @mixin stroke-neutral-500($v: 1) {
    stroke: c(neu-500, $v);
  }

  @mixin stroke-neutral-600($v: 1) {
    stroke: c(neu-600, $v);
  }

  @mixin stroke-neutral-700($v: 1) {
    stroke: c(neu-700, $v);
  }

  @mixin stroke-neutral-800($v: 1) {
    stroke: c(neu-800, $v);
  }

  @mixin stroke-neutral-900($v: 1) {
    stroke: c(neu-900, $v);
  }

  @mixin stroke-neutral-950($v: 1) {
    stroke: c(neu-950, $v);
  }

  @mixin stroke-stone-50($v: 1) {
    stroke: c(sto-50, $v);
  }

  @mixin stroke-stone-100($v: 1) {
    stroke: c(sto-100, $v);
  }

  @mixin stroke-stone-200($v: 1) {
    stroke: c(sto-200, $v);
  }

  @mixin stroke-stone-300($v: 1) {
    stroke: c(sto-300, $v);
  }

  @mixin stroke-stone-400($v: 1) {
    stroke: c(sto-400, $v);
  }

  @mixin stroke-stone-500($v: 1) {
    stroke: c(sto-500, $v);
  }

  @mixin stroke-stone-600($v: 1) {
    stroke: c(sto-600, $v);
  }

  @mixin stroke-stone-700($v: 1) {
    stroke: c(sto-700, $v);
  }

  @mixin stroke-stone-800($v: 1) {
    stroke: c(sto-800, $v);
  }

  @mixin stroke-stone-900($v: 1) {
    stroke: c(sto-900, $v);
  }

  @mixin stroke-stone-950($v: 1) {
    stroke: c(sto-950, $v);
  }

  @mixin stroke-red-50($v: 1) {
    stroke: c(red-50, $v);
  }

  @mixin stroke-red-100($v: 1) {
    stroke: c(red-100, $v);
  }

  @mixin stroke-red-200($v: 1) {
    stroke: c(red-200, $v);
  }

  @mixin stroke-red-300($v: 1) {
    stroke: c(red-300, $v);
  }

  @mixin stroke-red-400($v: 1) {
    stroke: c(red-400, $v);
  }

  @mixin stroke-red-500($v: 1) {
    stroke: c(red-500, $v);
  }

  @mixin stroke-red-600($v: 1) {
    stroke: c(red-600, $v);
  }

  @mixin stroke-red-700($v: 1) {
    stroke: c(red-700, $v);
  }

  @mixin stroke-red-800($v: 1) {
    stroke: c(red-800, $v);
  }

  @mixin stroke-red-900($v: 1) {
    stroke: c(red-900, $v);
  }

  @mixin stroke-red-950($v: 1) {
    stroke: c(red-950, $v);
  }

  @mixin stroke-orange-50($v: 1) {
    stroke: c(ora-50, $v);
  }

  @mixin stroke-orange-100($v: 1) {
    stroke: c(ora-100, $v);
  }

  @mixin stroke-orange-200($v: 1) {
    stroke: c(ora-200, $v);
  }

  @mixin stroke-orange-300($v: 1) {
    stroke: c(ora-300, $v);
  }

  @mixin stroke-orange-400($v: 1) {
    stroke: c(ora-400, $v);
  }

  @mixin stroke-orange-500($v: 1) {
    stroke: c(ora-500, $v);
  }

  @mixin stroke-orange-600($v: 1) {
    stroke: c(ora-600, $v);
  }

  @mixin stroke-orange-700($v: 1) {
    stroke: c(ora-700, $v);
  }

  @mixin stroke-orange-800($v: 1) {
    stroke: c(ora-800, $v);
  }

  @mixin stroke-orange-900($v: 1) {
    stroke: c(ora-900, $v);
  }

  @mixin stroke-orange-950($v: 1) {
    stroke: c(ora-950, $v);
  }

  @mixin stroke-amber-50($v: 1) {
    stroke: c(amb-50, $v);
  }

  @mixin stroke-amber-100($v: 1) {
    stroke: c(amb-100, $v);
  }

  @mixin stroke-amber-200($v: 1) {
    stroke: c(amb-200, $v);
  }

  @mixin stroke-amber-300($v: 1) {
    stroke: c(amb-300, $v);
  }

  @mixin stroke-amber-400($v: 1) {
    stroke: c(amb-400, $v);
  }

  @mixin stroke-amber-500($v: 1) {
    stroke: c(amb-500, $v);
  }

  @mixin stroke-amber-600($v: 1) {
    stroke: c(amb-600, $v);
  }

  @mixin stroke-amber-700($v: 1) {
    stroke: c(amb-700, $v);
  }

  @mixin stroke-amber-800($v: 1) {
    stroke: c(amb-800, $v);
  }

  @mixin stroke-amber-900($v: 1) {
    stroke: c(amb-900, $v);
  }

  @mixin stroke-amber-950($v: 1) {
    stroke: c(amb-950, $v);
  }

  @mixin stroke-yellow-50($v: 1) {
    stroke: c(yel-50, $v);
  }

  @mixin stroke-yellow-100($v: 1) {
    stroke: c(yel-100, $v);
  }

  @mixin stroke-yellow-200($v: 1) {
    stroke: c(yel-200, $v);
  }

  @mixin stroke-yellow-300($v: 1) {
    stroke: c(yel-300, $v);
  }

  @mixin stroke-yellow-400($v: 1) {
    stroke: c(yel-400, $v);
  }

  @mixin stroke-yellow-500($v: 1) {
    stroke: c(yel-500, $v);
  }

  @mixin stroke-yellow-600($v: 1) {
    stroke: c(yel-600, $v);
  }

  @mixin stroke-yellow-700($v: 1) {
    stroke: c(yel-700, $v);
  }

  @mixin stroke-yellow-800($v: 1) {
    stroke: c(yel-800, $v);
  }

  @mixin stroke-yellow-900($v: 1) {
    stroke: c(yel-900, $v);
  }

  @mixin stroke-yellow-950($v: 1) {
    stroke: c(yel-950, $v);
  }

  @mixin stroke-lime-50($v: 1) {
    stroke: c(lim-50, $v);
  }

  @mixin stroke-lime-100($v: 1) {
    stroke: c(lim-100, $v);
  }

  @mixin stroke-lime-200($v: 1) {
    stroke: c(lim-200, $v);
  }

  @mixin stroke-lime-300($v: 1) {
    stroke: c(lim-300, $v);
  }

  @mixin stroke-lime-400($v: 1) {
    stroke: c(lim-400, $v);
  }

  @mixin stroke-lime-500($v: 1) {
    stroke: c(lim-500, $v);
  }

  @mixin stroke-lime-600($v: 1) {
    stroke: c(lim-600, $v);
  }

  @mixin stroke-lime-700($v: 1) {
    stroke: c(lim-700, $v);
  }

  @mixin stroke-lime-800($v: 1) {
    stroke: c(lim-800, $v);
  }

  @mixin stroke-lime-900($v: 1) {
    stroke: c(lim-900, $v);
  }

  @mixin stroke-lime-950($v: 1) {
    stroke: c(lim-950, $v);
  }

  @mixin stroke-green-50($v: 1) {
    stroke: c(gre-50, $v);
  }

  @mixin stroke-green-100($v: 1) {
    stroke: c(gre-100, $v);
  }

  @mixin stroke-green-200($v: 1) {
    stroke: c(gre-200, $v);
  }

  @mixin stroke-green-300($v: 1) {
    stroke: c(gre-300, $v);
  }

  @mixin stroke-green-400($v: 1) {
    stroke: c(gre-400, $v);
  }

  @mixin stroke-green-500($v: 1) {
    stroke: c(gre-500, $v);
  }

  @mixin stroke-green-600($v: 1) {
    stroke: c(gre-600, $v);
  }

  @mixin stroke-green-700($v: 1) {
    stroke: c(gre-700, $v);
  }

  @mixin stroke-green-800($v: 1) {
    stroke: c(gre-800, $v);
  }

  @mixin stroke-green-900($v: 1) {
    stroke: c(gre-900, $v);
  }

  @mixin stroke-green-950($v: 1) {
    stroke: c(gre-950, $v);
  }

  @mixin stroke-emerald-50($v: 1) {
    stroke: c(eme-50, $v);
  }

  @mixin stroke-emerald-100($v: 1) {
    stroke: c(eme-100, $v);
  }

  @mixin stroke-emerald-200($v: 1) {
    stroke: c(eme-200, $v);
  }

  @mixin stroke-emerald-300($v: 1) {
    stroke: c(eme-300, $v);
  }

  @mixin stroke-emerald-400($v: 1) {
    stroke: c(eme-400, $v);
  }

  @mixin stroke-emerald-500($v: 1) {
    stroke: c(eme-500, $v);
  }

  @mixin stroke-emerald-600($v: 1) {
    stroke: c(eme-600, $v);
  }

  @mixin stroke-emerald-700($v: 1) {
    stroke: c(eme-700, $v);
  }

  @mixin stroke-emerald-800($v: 1) {
    stroke: c(eme-800, $v);
  }

  @mixin stroke-emerald-900($v: 1) {
    stroke: c(eme-900, $v);
  }

  @mixin stroke-emerald-950($v: 1) {
    stroke: c(eme-950, $v);
  }

  @mixin stroke-teal-50($v: 1) {
    stroke: c(tea-50, $v);
  }

  @mixin stroke-teal-100($v: 1) {
    stroke: c(tea-100, $v);
  }

  @mixin stroke-teal-200($v: 1) {
    stroke: c(tea-200, $v);
  }

  @mixin stroke-teal-300($v: 1) {
    stroke: c(tea-300, $v);
  }

  @mixin stroke-teal-400($v: 1) {
    stroke: c(tea-400, $v);
  }

  @mixin stroke-teal-500($v: 1) {
    stroke: c(tea-500, $v);
  }

  @mixin stroke-teal-600($v: 1) {
    stroke: c(tea-600, $v);
  }

  @mixin stroke-teal-700($v: 1) {
    stroke: c(tea-700, $v);
  }

  @mixin stroke-teal-800($v: 1) {
    stroke: c(tea-800, $v);
  }

  @mixin stroke-teal-900($v: 1) {
    stroke: c(tea-900, $v);
  }

  @mixin stroke-teal-950($v: 1) {
    stroke: c(tea-950, $v);
  }

  @mixin stroke-cyan-50($v: 1) {
    stroke: c(cya-50, $v);
  }

  @mixin stroke-cyan-100($v: 1) {
    stroke: c(cya-100, $v);
  }

  @mixin stroke-cyan-200($v: 1) {
    stroke: c(cya-200, $v);
  }

  @mixin stroke-cyan-300($v: 1) {
    stroke: c(cya-300, $v);
  }

  @mixin stroke-cyan-400($v: 1) {
    stroke: c(cya-400, $v);
  }

  @mixin stroke-cyan-500($v: 1) {
    stroke: c(cya-500, $v);
  }

  @mixin stroke-cyan-600($v: 1) {
    stroke: c(cya-600, $v);
  }

  @mixin stroke-cyan-700($v: 1) {
    stroke: c(cya-700, $v);
  }

  @mixin stroke-cyan-800($v: 1) {
    stroke: c(cya-800, $v);
  }

  @mixin stroke-cyan-900($v: 1) {
    stroke: c(cya-900, $v);
  }

  @mixin stroke-cyan-950($v: 1) {
    stroke: c(cya-950, $v);
  }

  @mixin stroke-sky-50($v: 1) {
    stroke: c(sky-50, $v);
  }

  @mixin stroke-sky-100($v: 1) {
    stroke: c(sky-100, $v);
  }

  @mixin stroke-sky-200($v: 1) {
    stroke: c(sky-200, $v);
  }

  @mixin stroke-sky-300($v: 1) {
    stroke: c(sky-300, $v);
  }

  @mixin stroke-sky-400($v: 1) {
    stroke: c(sky-400, $v);
  }

  @mixin stroke-sky-500($v: 1) {
    stroke: c(sky-500, $v);
  }

  @mixin stroke-sky-600($v: 1) {
    stroke: c(sky-600, $v);
  }

  @mixin stroke-sky-700($v: 1) {
    stroke: c(sky-700, $v);
  }

  @mixin stroke-sky-800($v: 1) {
    stroke: c(sky-800, $v);
  }

  @mixin stroke-sky-900($v: 1) {
    stroke: c(sky-900, $v);
  }

  @mixin stroke-sky-950($v: 1) {
    stroke: c(sky-950, $v);
  }

  @mixin stroke-blue-50($v: 1) {
    stroke: c(blu-50, $v);
  }

  @mixin stroke-blue-100($v: 1) {
    stroke: c(blu-100, $v);
  }

  @mixin stroke-blue-200($v: 1) {
    stroke: c(blu-200, $v);
  }

  @mixin stroke-blue-300($v: 1) {
    stroke: c(blu-300, $v);
  }

  @mixin stroke-blue-400($v: 1) {
    stroke: c(blu-400, $v);
  }

  @mixin stroke-blue-500($v: 1) {
    stroke: c(blu-500, $v);
  }

  @mixin stroke-blue-600($v: 1) {
    stroke: c(blu-600, $v);
  }

  @mixin stroke-blue-700($v: 1) {
    stroke: c(blu-700, $v);
  }

  @mixin stroke-blue-800($v: 1) {
    stroke: c(blu-800, $v);
  }

  @mixin stroke-blue-900($v: 1) {
    stroke: c(blu-900, $v);
  }

  @mixin stroke-blue-950($v: 1) {
    stroke: c(blu-950, $v);
  }

  @mixin stroke-indigo-50($v: 1) {
    stroke: c(ind-50, $v);
  }

  @mixin stroke-indigo-100($v: 1) {
    stroke: c(ind-100, $v);
  }

  @mixin stroke-indigo-200($v: 1) {
    stroke: c(ind-200, $v);
  }

  @mixin stroke-indigo-300($v: 1) {
    stroke: c(ind-300, $v);
  }

  @mixin stroke-indigo-400($v: 1) {
    stroke: c(ind-400, $v);
  }

  @mixin stroke-indigo-500($v: 1) {
    stroke: c(ind-500, $v);
  }

  @mixin stroke-indigo-600($v: 1) {
    stroke: c(ind-600, $v);
  }

  @mixin stroke-indigo-700($v: 1) {
    stroke: c(ind-700, $v);
  }

  @mixin stroke-indigo-800($v: 1) {
    stroke: c(ind-800, $v);
  }

  @mixin stroke-indigo-900($v: 1) {
    stroke: c(ind-900, $v);
  }

  @mixin stroke-indigo-950($v: 1) {
    stroke: c(ind-950, $v);
  }

  @mixin stroke-violet-50($v: 1) {
    stroke: c(vio-50, $v);
  }

  @mixin stroke-violet-100($v: 1) {
    stroke: c(vio-100, $v);
  }

  @mixin stroke-violet-200($v: 1) {
    stroke: c(vio-200, $v);
  }

  @mixin stroke-violet-300($v: 1) {
    stroke: c(vio-300, $v);
  }

  @mixin stroke-violet-400($v: 1) {
    stroke: c(vio-400, $v);
  }

  @mixin stroke-violet-500($v: 1) {
    stroke: c(vio-500, $v);
  }

  @mixin stroke-violet-600($v: 1) {
    stroke: c(vio-600, $v);
  }

  @mixin stroke-violet-700($v: 1) {
    stroke: c(vio-700, $v);
  }

  @mixin stroke-violet-800($v: 1) {
    stroke: c(vio-800, $v);
  }

  @mixin stroke-violet-900($v: 1) {
    stroke: c(vio-900, $v);
  }

  @mixin stroke-violet-950($v: 1) {
    stroke: c(vio-950, $v);
  }

  @mixin stroke-purple-50($v: 1) {
    stroke: c(pur-50, $v);
  }

  @mixin stroke-purple-100($v: 1) {
    stroke: c(pur-100, $v);
  }

  @mixin stroke-purple-200($v: 1) {
    stroke: c(pur-200, $v);
  }

  @mixin stroke-purple-300($v: 1) {
    stroke: c(pur-300, $v);
  }

  @mixin stroke-purple-400($v: 1) {
    stroke: c(pur-400, $v);
  }

  @mixin stroke-purple-500($v: 1) {
    stroke: c(pur-500, $v);
  }

  @mixin stroke-purple-600($v: 1) {
    stroke: c(pur-600, $v);
  }

  @mixin stroke-purple-700($v: 1) {
    stroke: c(pur-700, $v);
  }

  @mixin stroke-purple-800($v: 1) {
    stroke: c(pur-800, $v);
  }

  @mixin stroke-purple-900($v: 1) {
    stroke: c(pur-900, $v);
  }

  @mixin stroke-purple-950($v: 1) {
    stroke: c(pur-950, $v);
  }

  @mixin stroke-fuchsia-50($v: 1) {
    stroke: c(fuc-50, $v);
  }

  @mixin stroke-fuchsia-100($v: 1) {
    stroke: c(fuc-100, $v);
  }

  @mixin stroke-fuchsia-200($v: 1) {
    stroke: c(fuc-200, $v);
  }

  @mixin stroke-fuchsia-300($v: 1) {
    stroke: c(fuc-300, $v);
  }

  @mixin stroke-fuchsia-400($v: 1) {
    stroke: c(fuc-400, $v);
  }

  @mixin stroke-fuchsia-500($v: 1) {
    stroke: c(fuc-500, $v);
  }

  @mixin stroke-fuchsia-600($v: 1) {
    stroke: c(fuc-600, $v);
  }

  @mixin stroke-fuchsia-700($v: 1) {
    stroke: c(fuc-700, $v);
  }

  @mixin stroke-fuchsia-800($v: 1) {
    stroke: c(fuc-800, $v);
  }

  @mixin stroke-fuchsia-900($v: 1) {
    stroke: c(fuc-900, $v);
  }

  @mixin stroke-fuchsia-950($v: 1) {
    stroke: c(fuc-950, $v);
  }

  @mixin stroke-pink-50($v: 1) {
    stroke: c(pin-50, $v);
  }

  @mixin stroke-pink-100($v: 1) {
    stroke: c(pin-100, $v);
  }

  @mixin stroke-pink-200($v: 1) {
    stroke: c(pin-200, $v);
  }

  @mixin stroke-pink-300($v: 1) {
    stroke: c(pin-300, $v);
  }

  @mixin stroke-pink-400($v: 1) {
    stroke: c(pin-400, $v);
  }

  @mixin stroke-pink-500($v: 1) {
    stroke: c(pin-500, $v);
  }

  @mixin stroke-pink-600($v: 1) {
    stroke: c(pin-600, $v);
  }

  @mixin stroke-pink-700($v: 1) {
    stroke: c(pin-700, $v);
  }

  @mixin stroke-pink-800($v: 1) {
    stroke: c(pin-800, $v);
  }

  @mixin stroke-pink-900($v: 1) {
    stroke: c(pin-900, $v);
  }

  @mixin stroke-pink-950($v: 1) {
    stroke: c(pin-950, $v);
  }

  @mixin stroke-rose-50($v: 1) {
    stroke: c(ros-50, $v);
  }

  @mixin stroke-rose-100($v: 1) {
    stroke: c(ros-100, $v);
  }

  @mixin stroke-rose-200($v: 1) {
    stroke: c(ros-200, $v);
  }

  @mixin stroke-rose-300($v: 1) {
    stroke: c(ros-300, $v);
  }

  @mixin stroke-rose-400($v: 1) {
    stroke: c(ros-400, $v);
  }

  @mixin stroke-rose-500($v: 1) {
    stroke: c(ros-500, $v);
  }

  @mixin stroke-rose-600($v: 1) {
    stroke: c(ros-600, $v);
  }

  @mixin stroke-rose-700($v: 1) {
    stroke: c(ros-700, $v);
  }

  @mixin stroke-rose-800($v: 1) {
    stroke: c(ros-800, $v);
  }

  @mixin stroke-rose-900($v: 1) {
    stroke: c(ros-900, $v);
  }

  @mixin stroke-rose-950($v: 1) {
    stroke: c(ros-950, $v);
  } // x*/
}

@if $Rwd {
  // reducing size for updating speed
  @if $isLiteMode {
    // /*x 
    @mixin sm\:stroke-($v) {
      @include r(sm, stroke, $v);
    }

    @mixin md\:stroke-($v) {
      @include r(md, stroke, $v);
    }

    @mixin lg\:stroke-($v) {
      @include r(lg, stroke, $v);
    }

    @mixin xl\:stroke-($v) {
      @include r(xl, stroke, $v);
    }

    @mixin \2xl\:stroke-($v) {
      @include r(2xl, stroke, $v);
    } // x*/
  }

  // tailwind default
  @else {
  }
}

@if $Custom {
  // /*x 
  @mixin stroke-($v) {
    stroke: $v;
  } // x*/
}
