@use "../../setting" as *;


$FlexWrap: (
  "flex-wrap": wrap,
  "flex-wrap-reverse": wrap-reverse,
  "flex-nowrap": nowrap,
);

@if $Basic {
  @each $key, $value in $FlexWrap {
    /*x
    @mixin #{$key} {
      @include flex-wrap(#{$value});
    }
    x*/
  }
}

@if $Rwd {
  @each $rwd in $rwdBox {
    @each $key, $value in $FlexWrap {
      /*x
      @mixin #{$rwd}\:#{$key} {
        @include flex-wrap(#{$value}, $#{$rwd});
      }
      x*/
    }
  }
}