@use "../../../settings/structures" as *;

@if $JustifyContent {
  #mixin__justify-normal {
    justify-content: normal;
  }

  #mixin__justify-start {
    justify-content: flex-start;
  }

  #mixin__justify-end {
    justify-content: flex-end;
  }

  #mixin__justify-center {
    justify-content: center;
  }

  #mixin__justify-between {
    justify-content: space-between;
  }

  #mixin__justify-around {
    justify-content: space-around;
  }

  #mixin__justify-evenly {
    justify-content: space-evenly;
  }

  #mixin__justify-stretch {
    justify-content: stretch;
  }
}
