@use "../../../settings/structures" as *;

@if $JustifyContent {
  /* Justify Content */
  @if $Basic {
    #mixin__justify-normal {
      justify-content: normal;
    }

    #mixin__justify-start {
      justify-content: flex-start;
    }

    #mixin__justify-end {
      justify-content: flex-end;
    }

    #mixin__justify-center {
      justify-content: center;
    }

    #mixin__justify-between {
      justify-content: space-between;
    }

    #mixin__justify-around {
      justify-content: space-around;
    }

    #mixin__justify-evenly {
      justify-content: space-evenly;
    }

    #mixin__justify-stretch {
      justify-content: stretch;
    }
  }

  @if $Rwd {
    #mixin__sm\:justify-normal {
      @media (min-width: $breakpoint-sm) {
        justify-content: normal;
      }
    }

    #mixin__sm\:justify-start {
      @media (min-width: $breakpoint-sm) {
        justify-content: flex-start;
      }
    }

    #mixin__sm\:justify-end {
      @media (min-width: $breakpoint-sm) {
        justify-content: flex-end;
      }
    }

    #mixin__sm\:justify-center {
      @media (min-width: $breakpoint-sm) {
        justify-content: center;
      }
    }

    #mixin__sm\:justify-between {
      @media (min-width: $breakpoint-sm) {
        justify-content: space-between;
      }
    }

    #mixin__sm\:justify-around {
      @media (min-width: $breakpoint-sm) {
        justify-content: space-around;
      }
    }

    #mixin__sm\:justify-evenly {
      @media (min-width: $breakpoint-sm) {
        justify-content: space-evenly;
      }
    }

    #mixin__sm\:justify-stretch {
      @media (min-width: $breakpoint-sm) {
        justify-content: stretch;
      }
    }

    #mixin__md\:justify-normal {
      @media (min-width: $breakpoint-md) {
        justify-content: normal;
      }
    }

    #mixin__md\:justify-start {
      @media (min-width: $breakpoint-md) {
        justify-content: flex-start;
      }
    }

    #mixin__md\:justify-end {
      @media (min-width: $breakpoint-md) {
        justify-content: flex-end;
      }
    }

    #mixin__md\:justify-center {
      @media (min-width: $breakpoint-md) {
        justify-content: center;
      }
    }

    #mixin__md\:justify-between {
      @media (min-width: $breakpoint-md) {
        justify-content: space-between;
      }
    }

    #mixin__md\:justify-around {
      @media (min-width: $breakpoint-md) {
        justify-content: space-around;
      }
    }

    #mixin__md\:justify-evenly {
      @media (min-width: $breakpoint-md) {
        justify-content: space-evenly;
      }
    }

    #mixin__md\:justify-stretch {
      @media (min-width: $breakpoint-md) {
        justify-content: stretch;
      }
    }

    #mixin__lg\:justify-normal {
      @media (min-width: $breakpoint-lg) {
        justify-content: normal;
      }
    }

    #mixin__lg\:justify-start {
      @media (min-width: $breakpoint-lg) {
        justify-content: flex-start;
      }
    }

    #mixin__lg\:justify-end {
      @media (min-width: $breakpoint-lg) {
        justify-content: flex-end;
      }
    }

    #mixin__lg\:justify-center {
      @media (min-width: $breakpoint-lg) {
        justify-content: center;
      }
    }

    #mixin__lg\:justify-between {
      @media (min-width: $breakpoint-lg) {
        justify-content: space-between;
      }
    }

    #mixin__lg\:justify-around {
      @media (min-width: $breakpoint-lg) {
        justify-content: space-around;
      }
    }

    #mixin__lg\:justify-evenly {
      @media (min-width: $breakpoint-lg) {
        justify-content: space-evenly;
      }
    }

    #mixin__lg\:justify-stretch {
      @media (min-width: $breakpoint-lg) {
        justify-content: stretch;
      }
    }

    #mixin__xl\:justify-normal {
      @media (min-width: $breakpoint-xl) {
        justify-content: normal;
      }
    }

    #mixin__xl\:justify-start {
      @media (min-width: $breakpoint-xl) {
        justify-content: flex-start;
      }
    }

    #mixin__xl\:justify-end {
      @media (min-width: $breakpoint-xl) {
        justify-content: flex-end;
      }
    }

    #mixin__xl\:justify-center {
      @media (min-width: $breakpoint-xl) {
        justify-content: center;
      }
    }

    #mixin__xl\:justify-between {
      @media (min-width: $breakpoint-xl) {
        justify-content: space-between;
      }
    }

    #mixin__xl\:justify-around {
      @media (min-width: $breakpoint-xl) {
        justify-content: space-around;
      }
    }

    #mixin__xl\:justify-evenly {
      @media (min-width: $breakpoint-xl) {
        justify-content: space-evenly;
      }
    }

    #mixin__xl\:justify-stretch {
      @media (min-width: $breakpoint-xl) {
        justify-content: stretch;
      }
    }

    #mixin__\\2xl\:justify-normal {
      @media (min-width: $breakpoint-2xl) {
        justify-content: normal;
      }
    }

    #mixin__\\2xl\:justify-start {
      @media (min-width: $breakpoint-2xl) {
        justify-content: flex-start;
      }
    }

    #mixin__\\2xl\:justify-end {
      @media (min-width: $breakpoint-2xl) {
        justify-content: flex-end;
      }
    }

    #mixin__\\2xl\:justify-center {
      @media (min-width: $breakpoint-2xl) {
        justify-content: center;
      }
    }

    #mixin__\\2xl\:justify-between {
      @media (min-width: $breakpoint-2xl) {
        justify-content: space-between;
      }
    }

    #mixin__\\2xl\:justify-around {
      @media (min-width: $breakpoint-2xl) {
        justify-content: space-around;
      }
    }

    #mixin__\\2xl\:justify-evenly {
      @media (min-width: $breakpoint-2xl) {
        justify-content: space-evenly;
      }
    }

    #mixin__\\2xl\:justify-stretch {
      @media (min-width: $breakpoint-2xl) {
        justify-content: stretch;
      }
    }
  }
}
