@use "../../setting" as *;

/* Pointer Events */
@if $Basic {
  /*x
  @mixin pointer-events-none {
    pointer-events: none;
  }

  @mixin pointer-events-auto {
    pointer-events: auto;
  }x*/
}

@if $Rwd {
  /*x
  @mixin sm\:pointer-events-none {
    @media (min-width: $breakpoint-sm) {
      pointer-events: none;
    }
  }

  @mixin sm\:pointer-events-auto {
    @media (min-width: $breakpoint-sm) {
      pointer-events: auto;
    }
  }

  @mixin md\:pointer-events-none {
    @media (min-width: $breakpoint-md) {
      pointer-events: none;
    }
  }

  @mixin md\:pointer-events-auto {
    @media (min-width: $breakpoint-md) {
      pointer-events: auto;
    }
  }

  @mixin lg\:pointer-events-none {
    @media (min-width: $breakpoint-lg) {
      pointer-events: none;
    }
  }

  @mixin lg\:pointer-events-auto {
    @media (min-width: $breakpoint-lg) {
      pointer-events: auto;
    }
  }

  @mixin xl\:pointer-events-none {
    @media (min-width: $breakpoint-xl) {
      pointer-events: none;
    }
  }

  @mixin xl\:pointer-events-auto {
    @media (min-width: $breakpoint-xl) {
      pointer-events: auto;
    }
  }

  @mixin \2xl\:pointer-events-none {
    @media (min-width: $breakpoint-2xl) {
      pointer-events: none;
    }
  }

  @mixin \2xl\:pointer-events-auto {
    @media (min-width: $breakpoint-2xl) {
      pointer-events: auto;
    }
  }x*/
}
