@use "../mode0" as *;
@use "true" as *;

// Sass doesn’t (yet) provide a way to catch errors you can flip those tailwind atomic and then get a error message that I provided

@include describe("ErrorHandlings(You need to manually test this)") {
  @include describe("Scroll Snap Type") {
    @include describe("Basic") {
      @include it(
        "「 snap-mandatory/proximity 」should go before「 snap-x/y/both 」(to have same behavior as tailwind)"
      ) {
        @include assert {
          @include output {
            @include snap-mandatory;
            @include snap-y;
            @include reset;
          }

          @include expect {
            scroll-snap-type: y mandatory;
          }
        }
      }
    }

    @include describe("Rwd") {
      @include it(
        "「 snap-mandatory/proximity 」should go before「 snap-x/y/both 」(to have same behavior as tailwind)"
      ) {
        @include assert {
          @include output {
            @include sm\:snap-mandatory;
            @include sm\:snap-y;
            @include reset;
          }

          @include expect {
            @media (min-width: $sm) {
              scroll-snap-type: y mandatory;
            }
          }
        }
      }
    }
  }

  @include describe("Box Shadow Color") {
    @include describe("Basic") {
      @include it(
        "e.g.「 shadow-(0px 0px 5px 10px red) 」should go before「 shadow-sky-500 」(to have same behavior as tailwind)"
      ) {
        @include assert {
          @include output {
            @include shadow-(0px 0px 5px 10px red);
            @include shadow-sky-500;
            @include reset;
          }

          @include expect {
            box-shadow:
              0 0 0 0 #fff,
              0 0 0 0 rgba(59, 130, 246, 0.5),
              0px 0px 5px 10px red;
            box-shadow:
              0 0 0 0 #fff,
              0 0 0 0 rgba(59, 130, 246, 0.5),
              0px 0px 5px 10px #0ea5e9;
          }
        }
      }
    }

    @include describe("Rwd") {
      @include it(
        "e.g.「 shadow-(0px 0px 5px 10px red) 」should go before「 shadow-sky-500 」(to have same behavior as tailwind)"
      ) {
        @include assert {
          @include output {
            @include sm\:shadow-(0px 0px 5px 10px red);
            @include sm\:shadow-sky-500;
            @include reset;
          }

          @include expect {
            @media (min-width: $sm) {
              box-shadow:
                0 0 0 0 #fff,
                0 0 0 0 rgba(59, 130, 246, 0.5),
                0px 0px 5px 10px red;
            }

            @media (min-width: $sm) {
              box-shadow:
                0 0 0 0 #fff,
                0 0 0 0 rgba(59, 130, 246, 0.5),
                0px 0px 5px 10px #0ea5e9;
            }
          }
        }
      }
    }
  }

  @include describe("Ring Shadow Width") {
    @include describe("Basic") {
      @include it(
        "「 ring-offset-* 」should go before「 ring-* (to have same behavior as tailwind)"
      ) {
        @include assert {
          @include output {
            @include ring-offset-8;
            @include ring-8;
            @include reset;
          }

          @include expect {
            box-shadow:
              0 0 0 8px #fff,
              0 0 0 0 rgba(59, 130, 246, 0.5),
              0 0 0 0 #fff;
            box-shadow:
              0 0 0 8px #fff,
              0 0 0 16px rgba(59, 130, 246, 0.5),
              0 0 0 0 #fff;
          }
        }
      }
    }

    @include describe("Rwd") {
      @include it(
        "「 ring-offset-* 」should go before「 ring-* (to have same behavior as tailwind)"
      ) {
        @include assert {
          @include output {
            @include sm\:ring-offset-8;
            @include sm\:ring-8;
            @include reset;
          }

          @include expect {
            @media (min-width: $sm) {
              box-shadow:
                0 0 0 8px #fff,
                0 0 0 0 rgba(59, 130, 246, 0.5),
                0 0 0 0 #fff;
            }

            @media (min-width: $sm) {
              box-shadow:
                0 0 0 8px #fff,
                0 0 0 16px rgba(59, 130, 246, 0.5),
                0 0 0 0 #fff;
            }
          }
        }
      }
    }
  }
}
