@use "../../setting" as *;

$FontStyle: (
  "italic": italic,
  "not-italic": normal,
);

@if $Basic {
  @each $key, $value in $FontStyle {
    /*x
    @mixin #{$key} {
      @include font-style(#{$value});
    }
    x*/
  }
}

@if $Rwd {
  @each $rwd in $rwdBox {
    @each $key, $value in $FontStyle {
      /*x
      @mixin #{$rwd}\:#{$key} {
        @include font-style(#{$value}, $#{$rwd});
      }
      x*/
    }
  }
}