@use "../../mode0" as *;
@use "true" as *;

@include describe("1.Layout") {
  @include describe("Box Sizing") {
    @include describe("Basic") {
      @include it("box-border") {
        @include assert {
          @include output {
            @include box-border;
            @include reset;
          }

          @include expect {
            box-sizing: border-box;
          }
        }
      }

      @include it("box-content") {
        @include assert {
          @include output {
            @include box-content;
            @include reset;
          }

          @include expect {
            box-sizing: content-box;
          }
        }
      }
    }

    @include describe("Rwd") {
      @include it("sm\:box-border") {
        @include assert {
          @include output {
            @include sm\:box-border;
            @include reset;
          }

          @include expect {
            @media (min-width: $sm) {
              box-sizing: border-box;
            }
          }
        }
      }

      @include it("sm\:box-content") {
        @include assert {
          @include output {
            @include sm\:box-content;
            @include reset;
          }

          @include expect {
            @media (min-width: $sm) {
              box-sizing: content-box;
            }
          }
        }
      }

      @include it("md\:box-border") {
        @include assert {
          @include output {
            @include md\:box-border;
            @include reset;
          }

          @include expect {
            @media (min-width: $md) {
              box-sizing: border-box;
            }
          }
        }
      }

      @include it("md\:box-content") {
        @include assert {
          @include output {
            @include md\:box-content;
            @include reset;
          }

          @include expect {
            @media (min-width: $md) {
              box-sizing: content-box;
            }
          }
        }
      }

      @include it("lg\:box-border") {
        @include assert {
          @include output {
            @include lg\:box-border;
            @include reset;
          }

          @include expect {
            @media (min-width: $lg) {
              box-sizing: border-box;
            }
          }
        }
      }

      @include it("lg\:box-content") {
        @include assert {
          @include output {
            @include lg\:box-content;
            @include reset;
          }

          @include expect {
            @media (min-width: $lg) {
              box-sizing: content-box;
            }
          }
        }
      }

      @include it("xl\:box-border") {
        @include assert {
          @include output {
            @include xl\:box-border;
            @include reset;
          }

          @include expect {
            @media (min-width: $xl) {
              box-sizing: border-box;
            }
          }
        }
      }

      @include it("xl\:box-content") {
        @include assert {
          @include output {
            @include xl\:box-content;
            @include reset;
          }

          @include expect {
            @media (min-width: $xl) {
              box-sizing: content-box;
            }
          }
        }
      }

      @include it("\2xl\:box-border") {
        @include assert {
          @include output {
            @include \2xl\:box-border;
            @include reset;
          }

          @include expect {
            @media (min-width: $\2xl) {
              box-sizing: border-box;
            }
          }
        }
      }

      @include it("\2xl\:box-content") {
        @include assert {
          @include output {
            @include \2xl\:box-content;
            @include reset;
          }

          @include expect {
            @media (min-width: $\2xl) {
              box-sizing: content-box;
            }
          }
        }
      }
    }
  }
}
