$BoxShadowColor: (
  'name-50': '$_name-50',
  'name-100': '$_name-100',
  'name-200': '$_name-200',
  'name-300': '$_name-300',
  'name-400': '$_name-400',
  'name-500': '$_name-500',
  'name-600': '$_name-600',
  'name-700': '$_name-700',
  'name-800': '$_name-800',
  'name-900': '$_name-900',
  'name-950': '$_name-950',
  'name2-50': '$_name2-50',
  'name2-100': '$_name2-100',
  'name2-200': '$_name2-200',
  'name2-300': '$_name2-300',
  'name2-400': '$_name2-400',
  'name2-500': '$_name2-500',
  'name2-600': '$_name2-600',
  'name2-700': '$_name2-700',
  'name2-800': '$_name2-800',
  'name2-900': '$_name2-900',
  'name2-950': '$_name2-950',
  'name3-50': '$_name3-50',
  'name3-100': '$_name3-100',
  'name3-200': '$_name3-200',
  'name3-300': '$_name3-300',
  'name3-400': '$_name3-400',
  'name3-500': '$_name3-500',
  'name3-600': '$_name3-600',
  'name3-700': '$_name3-700',
  'name3-800': '$_name3-800',
  'name3-900': '$_name3-900',
  'name3-950': '$_name3-950',
  'transparent': transparent,
  'black': '$_black',
  'white': '$_white',
  'slate-50': '$_slate-50',
  'slate-100': '$_slate-100',
  'slate-200': '$_slate-200',
  'slate-300': '$_slate-300',
  'slate-400': '$_slate-400',
  'slate-500': '$_slate-500',
  'slate-600': '$_slate-600',
  'slate-700': '$_slate-700',
  'slate-800': '$_slate-800',
  'slate-900': '$_slate-900',
  'slate-950': '$_slate-950',
  'gray-50': '$_gray-50',
  'gray-100': '$_gray-100',
  'gray-200': '$_gray-200',
  'gray-300': '$_gray-300',
  'gray-400': '$_gray-400',
  'gray-500': '$_gray-500',
  'gray-600': '$_gray-600',
  'gray-700': '$_gray-700',
  'gray-800': '$_gray-800',
  'gray-900': '$_gray-900',
  'gray-950': '$_gray-950',
  'zinc-50': '$_zinc-50',
  'zinc-100': '$_zinc-100',
  'zinc-200': '$_zinc-200',
  'zinc-300': '$_zinc-300',
  'zinc-400': '$_zinc-400',
  'zinc-500': '$_zinc-500',
  'zinc-600': '$_zinc-600',
  'zinc-700': '$_zinc-700',
  'zinc-800': '$_zinc-800',
  'zinc-900': '$_zinc-900',
  'zinc-950': '$_zinc-950',
  'neutral-50': '$_neutral-50',
  'neutral-100': '$_neutral-100',
  'neutral-200': '$_neutral-200',
  'neutral-300': '$_neutral-300',
  'neutral-400': '$_neutral-400',
  'neutral-500': '$_neutral-500',
  'neutral-600': '$_neutral-600',
  'neutral-700': '$_neutral-700',
  'neutral-800': '$_neutral-800',
  'neutral-900': '$_neutral-900',
  'neutral-950': '$_neutral-950',
  'stone-50': '$_stone-50',
  'stone-100': '$_stone-100',
  'stone-200': '$_stone-200',
  'stone-300': '$_stone-300',
  'stone-400': '$_stone-400',
  'stone-500': '$_stone-500',
  'stone-600': '$_stone-600',
  'stone-700': '$_stone-700',
  'stone-800': '$_stone-800',
  'stone-900': '$_stone-900',
  'stone-950': '$_stone-950',
  'red-50': '$_red-50',
  'red-100': '$_red-100',
  'red-200': '$_red-200',
  'red-300': '$_red-300',
  'red-400': '$_red-400',
  'red-500': '$_red-500',
  'red-600': '$_red-600',
  'red-700': '$_red-700',
  'red-800': '$_red-800',
  'red-900': '$_red-900',
  'red-950': '$_red-950',
  'orange-50': '$_orange-50',
  'orange-100': '$_orange-100',
  'orange-200': '$_orange-200',
  'orange-300': '$_orange-300',
  'orange-400': '$_orange-400',
  'orange-500': '$_orange-500',
  'orange-600': '$_orange-600',
  'orange-700': '$_orange-700',
  'orange-800': '$_orange-800',
  'orange-900': '$_orange-900',
  'orange-950': '$_orange-950',
  'amber-50': '$_amber-50',
  'amber-100': '$_amber-100',
  'amber-200': '$_amber-200',
  'amber-300': '$_amber-300',
  'amber-400': '$_amber-400',
  'amber-500': '$_amber-500',
  'amber-600': '$_amber-600',
  'amber-700': '$_amber-700',
  'amber-800': '$_amber-800',
  'amber-900': '$_amber-900',
  'amber-950': '$_amber-950',
  'yellow-50': '$_yellow-50',
  'yellow-100': '$_yellow-100',
  'yellow-200': '$_yellow-200',
  'yellow-300': '$_yellow-300',
  'yellow-400': '$_yellow-400',
  'yellow-500': '$_yellow-500',
  'yellow-600': '$_yellow-600',
  'yellow-700': '$_yellow-700',
  'yellow-800': '$_yellow-800',
  'yellow-900': '$_yellow-900',
  'yellow-950': '$_yellow-950',
  'lime-50': '$_lime-50',
  'lime-100': '$_lime-100',
  'lime-200': '$_lime-200',
  'lime-300': '$_lime-300',
  'lime-400': '$_lime-400',
  'lime-500': '$_lime-500',
  'lime-600': '$_lime-600',
  'lime-700': '$_lime-700',
  'lime-800': '$_lime-800',
  'lime-900': '$_lime-900',
  'lime-950': '$_lime-950',
  'green-50': '$_green-50',
  'green-100': '$_green-100',
  'green-200': '$_green-200',
  'green-300': '$_green-300',
  'green-400': '$_green-400',
  'green-500': '$_green-500',
  'green-600': '$_green-600',
  'green-700': '$_green-700',
  'green-800': '$_green-800',
  'green-900': '$_green-900',
  'green-950': '$_green-950',
  'emerald-50': '$_emerald-50',
  'emerald-100': '$_emerald-100',
  'emerald-200': '$_emerald-200',
  'emerald-300': '$_emerald-300',
  'emerald-400': '$_emerald-400',
  'emerald-500': '$_emerald-500',
  'emerald-600': '$_emerald-600',
  'emerald-700': '$_emerald-700',
  'emerald-800': '$_emerald-800',
  'emerald-900': '$_emerald-900',
  'emerald-950': '$_emerald-950',
  'teal-50': '$_teal-50',
  'teal-100': '$_teal-100',
  'teal-200': '$_teal-200',
  'teal-300': '$_teal-300',
  'teal-400': '$_teal-400',
  'teal-500': '$_teal-500',
  'teal-600': '$_teal-600',
  'teal-700': '$_teal-700',
  'teal-800': '$_teal-800',
  'teal-900': '$_teal-900',
  'teal-950': '$_teal-950',
  'cyan-50': '$_cyan-50',
  'cyan-100': '$_cyan-100',
  'cyan-200': '$_cyan-200',
  'cyan-300': '$_cyan-300',
  'cyan-400': '$_cyan-400',
  'cyan-500': '$_cyan-500',
  'cyan-600': '$_cyan-600',
  'cyan-700': '$_cyan-700',
  'cyan-800': '$_cyan-800',
  'cyan-900': '$_cyan-900',
  'cyan-950': '$_cyan-950',
  'sky-50': '$_sky-50',
  'sky-100': '$_sky-100',
  'sky-200': '$_sky-200',
  'sky-300': '$_sky-300',
  'sky-400': '$_sky-400',
  'sky-500': '$_sky-500',
  'sky-600': '$_sky-600',
  'sky-700': '$_sky-700',
  'sky-800': '$_sky-800',
  'sky-900': '$_sky-900',
  'sky-950': '$_sky-950',
  'blue-50': '$_blue-50',
  'blue-100': '$_blue-100',
  'blue-200': '$_blue-200',
  'blue-300': '$_blue-300',
  'blue-400': '$_blue-400',
  'blue-500': '$_blue-500',
  'blue-600': '$_blue-600',
  'blue-700': '$_blue-700',
  'blue-800': '$_blue-800',
  'blue-900': '$_blue-900',
  'blue-950': '$_blue-950',
  'indigo-50': '$_indigo-50',
  'indigo-100': '$_indigo-100',
  'indigo-200': '$_indigo-200',
  'indigo-300': '$_indigo-300',
  'indigo-400': '$_indigo-400',
  'indigo-500': '$_indigo-500',
  'indigo-600': '$_indigo-600',
  'indigo-700': '$_indigo-700',
  'indigo-800': '$_indigo-800',
  'indigo-900': '$_indigo-900',
  'indigo-950': '$_indigo-950',
  'violet-50': '$_violet-50',
  'violet-100': '$_violet-100',
  'violet-200': '$_violet-200',
  'violet-300': '$_violet-300',
  'violet-400': '$_violet-400',
  'violet-500': '$_violet-500',
  'violet-600': '$_violet-600',
  'violet-700': '$_violet-700',
  'violet-800': '$_violet-800',
  'violet-900': '$_violet-900',
  'violet-950': '$_violet-950',
  'purple-50': '$_purple-50',
  'purple-100': '$_purple-100',
  'purple-200': '$_purple-200',
  'purple-300': '$_purple-300',
  'purple-400': '$_purple-400',
  'purple-500': '$_purple-500',
  'purple-600': '$_purple-600',
  'purple-700': '$_purple-700',
  'purple-800': '$_purple-800',
  'purple-900': '$_purple-900',
  'purple-950': '$_purple-950',
  'fuchsia-50': '$_fuchsia-50',
  'fuchsia-100': '$_fuchsia-100',
  'fuchsia-200': '$_fuchsia-200',
  'fuchsia-300': '$_fuchsia-300',
  'fuchsia-400': '$_fuchsia-400',
  'fuchsia-500': '$_fuchsia-500',
  'fuchsia-600': '$_fuchsia-600',
  'fuchsia-700': '$_fuchsia-700',
  'fuchsia-800': '$_fuchsia-800',
  'fuchsia-900': '$_fuchsia-900',
  'fuchsia-950': '$_fuchsia-950',
  'pink-50': '$_pink-50',
  'pink-100': '$_pink-100',
  'pink-200': '$_pink-200',
  'pink-300': '$_pink-300',
  'pink-400': '$_pink-400',
  'pink-500': '$_pink-500',
  'pink-600': '$_pink-600',
  'pink-700': '$_pink-700',
  'pink-800': '$_pink-800',
  'pink-900': '$_pink-900',
  'pink-950': '$_pink-950',
  'rose-50': '$_rose-50',
  'rose-100': '$_rose-100',
  'rose-200': '$_rose-200',
  'rose-300': '$_rose-300',
  'rose-400': '$_rose-400',
  'rose-500': '$_rose-500',
  'rose-600': '$_rose-600',
  'rose-700': '$_rose-700',
  'rose-800': '$_rose-800',
  'rose-900': '$_rose-900',
  'rose-950': '$_rose-950',
);

@if $isBasic {
  /*x
  @mixin shadow-inherit {
    $tw-mismatch--shadow-color: true !global;
    $tw-shadow-color: inherit !global;
    @include box-shadow(_b-s());
  }

  @mixin shadow-current {
    $tw-mismatch--shadow-color: true !global;
    $tw-shadow-color: currentColor !global;
    @include box-shadow(_b-s());
  }
  x*/
  @each $key, $value in $BoxShadowColor {
    @if $isAwaken {
      /*x
      @mixin shadow-#{$key}($v: 1) {
        $tw-mismatch--shadow-color: true !global;
        $tw-shadow-color: _c(#{$value}, $v) !global;
        @include box-shadow(_b-s());
      }
      x*/
    } @else {
      /*x
      @mixin shadow-#{$key} {
        $tw-mismatch--shadow-color: true !global;
        $tw-shadow-color: #{$value} !global;
        @include box-shadow(_b-s());
      }

      @mixin shadow-#{$key}\/($v) {
        $tw-mismatch--shadow-color: true !global;
        $tw-shadow-color: _c(#{$value}, $v) !global;
        @include box-shadow(_b-s());
      }
      x*/
    }
  }
}

@if $isRwd and (not $isAwaken) {
  @each $rwdToken, $rwd in $rwdBox {
    /*x
    @mixin #{$rwdToken}\:shadow-inherit {
      $tw-mismatch--shadow-color: true !global;
      $tw-shadow-color: inherit !global;
      @include box-shadow(_b-s(), #{$rwd});
    }

    @mixin #{$rwdToken}\:shadow-current {
      $tw-mismatch--shadow-color: true !global;
      $tw-shadow-color: currentColor !global;
      @include box-shadow(_b-s(), #{$rwd});
    }
    x*/
    @each $key, $value in $BoxShadowColor {
      /*x
      @mixin #{$rwdToken}\:shadow-#{$key} {
        $tw-mismatch--shadow-color: true !global;
        $tw-shadow-color: #{$value} !global;
        @include box-shadow(_b-s(), #{$rwd});
      }

      @mixin #{$rwdToken}\:shadow-#{$key}\/($v) {
        $tw-mismatch--shadow-color: true !global;
        $tw-shadow-color: _c(#{$value}, $v) !global;
        @include box-shadow(_b-s(), #{$rwd});
      }
      x*/
    }

    /*x
    @mixin #{$rwdToken}\:shadow-($v) {
      @if meta.type-of($v)==color or list.index(inherit currentColor transparent, $v) {
        $tw-mismatch--shadow-color: true !global;
        $tw-shadow-color: $v !global;
      }

      // arbitrary shadow e.g shadow-(inset 0px 0px 5px 10px red)
      @else if meta.type-of($v)==list {
        @if $tw-mismatch--shadow-color {
          @error ("e.g.「 shadow-(0px 0px 5px 10px red) 」should come before「 shadow-sky-500 」to match Tailwind's order.");
        }

        $tw-dummy-shadow-token: arbitrary !global;
        $tw-shadow-color: list.nth($v, -1) !global; // red

        @if list.nth($v, 1)==inset {
          $tw-dummy-shadow-width: list.set-nth($v, -1, #/*x{""}) !global; // inset 0px 0px 5px 10px
        }

        @else {
          $tw-dummy-shadow-width: list.set-nth($v, -1, #/*x{""}) !global; // inset 0px 0px 5px 10px
        }
      }

      @include box-shadow(_b-s(), #{$rwd});
    }
    x*/
  }
}

@if $isArbitrary {
  /*x
  @mixin shadow-($v) {
    @if meta.type-of($v)==color or list.index(inherit currentColor transparent, $v) {
      $tw-mismatch--shadow-color: true !global;
      $tw-shadow-color: $v !global;
    }

    // arbitrary shadow e.g shadow-(inset 0px 0px 5px 10px red)
    @else if meta.type-of($v)==list {
      @if $tw-mismatch--shadow-color {
        @error ("e.g.「 shadow-(0px 0px 5px 10px red) 」should come before「 shadow-sky-500 」to match Tailwind's order.");
      }

      $tw-dummy-shadow-token: arbitrary !global;
      $tw-shadow-color: list.nth($v, -1) !global; // red

      @if list.nth($v, 1)==inset {
        $tw-dummy-shadow-width: list.set-nth($v, -1, #/*x{""}) !global; // inset 0px 0px 5px 10px
      }

      @else {
        $tw-dummy-shadow-width: list.set-nth($v, -1, #/*x{""}) !global; // inset 0px 0px 5px 10px
      }
    }

    @include box-shadow(_b-s());
  }
  x*/
}
