@use "../../setting" as *;


$TransitionTimingFunction: (
  "ease-linear": linear,
  "ease-in": cubic-bezier(0.4, 0, 1, 1),
  "ease-out": cubic-bezier(0, 0, 0.2, 1),
  "ease-in-out": cubic-bezier(0.4, 0, 0.2, 1),
);

@if $Basic {
  @each $key, $value in $TransitionTimingFunction {
    /*x
    @mixin #{$key} {
      @include transition-timing-function(#{$value});
    }
    x*/
  }
}

@if $Rwd and ($sizeMode ==0 or $sizeMode ==1) {
  @each $rwd in $rwdBox {
    @each $key, $value in $TransitionTimingFunction {
      /*x
      @mixin #{$rwd}\:#{$key} {
        @include transition-timing-function(#{$value}, $#{$rwd});
      }
      x*/
    }
  }
}

@if $Custom {
  /*x
  @mixin ease-($v) {
    @include transition-timing-function($v);
  }
  x*/

  @each $rwd in $rwdBox {
    /*x
    @mixin #{$rwd}\:ease-($v) {
      @include transition-timing-function($v, $#{$rwd});
    }
    x*/
  }
}