@use "../../setting" as *;


$ScrollSnapStop: (
  "snap-normal": normal,
  "snap-always": always,
);

@if $Basic {
  @each $key, $value in $ScrollSnapStop {
    /*x
    @mixin #{$key} {
      @include scroll-snap-stop(#{$value});
    }
    x*/
  }
}

@if $Rwd {
  @each $rwd in $rwdBox {
    @each $key, $value in $ScrollSnapStop {
      /*x
      @mixin #{$rwd}\:#{$key} {
        @include scroll-snap-stop(#{$value}, $#{$rwd});
      }
      x*/
    }
  }
}