@use "../../mode0" as *;
@use "true" as *;

@include describe("13.Interactivity") {
  @include describe("Pointer Events") {
    @include describe("Basic") {
      @include it("pointer-events-none") {
        @include assert {
          @include output {
            @include pointer-events-none;
            @include clear;
          }

          @include expect {
            pointer-events: none;
          }
        }
      }

      @include it("pointer-events-auto") {
        @include assert {
          @include output {
            @include pointer-events-auto;
            @include clear;
          }

          @include expect {
            pointer-events: auto;
          }
        }
      }
    }

    @include describe("Rwd") {
      @include it("sm\:pointer-events-none") {
        @include assert {
          @include output {
            @include sm\:pointer-events-none;
            @include clear;
          }

          @include expect {
            @media (min-width: $sm) {
              pointer-events: none;
            }
          }
        }
      }

      @include it("sm\:pointer-events-auto") {
        @include assert {
          @include output {
            @include sm\:pointer-events-auto;
            @include clear;
          }

          @include expect {
            @media (min-width: $sm) {
              pointer-events: auto;
            }
          }
        }
      }

      @include it("md\:pointer-events-none") {
        @include assert {
          @include output {
            @include md\:pointer-events-none;
            @include clear;
          }

          @include expect {
            @media (min-width: $md) {
              pointer-events: none;
            }
          }
        }
      }

      @include it("md\:pointer-events-auto") {
        @include assert {
          @include output {
            @include md\:pointer-events-auto;
            @include clear;
          }

          @include expect {
            @media (min-width: $md) {
              pointer-events: auto;
            }
          }
        }
      }

      @include it("lg\:pointer-events-none") {
        @include assert {
          @include output {
            @include lg\:pointer-events-none;
            @include clear;
          }

          @include expect {
            @media (min-width: $lg) {
              pointer-events: none;
            }
          }
        }
      }

      @include it("lg\:pointer-events-auto") {
        @include assert {
          @include output {
            @include lg\:pointer-events-auto;
            @include clear;
          }

          @include expect {
            @media (min-width: $lg) {
              pointer-events: auto;
            }
          }
        }
      }

      @include it("xl\:pointer-events-none") {
        @include assert {
          @include output {
            @include xl\:pointer-events-none;
            @include clear;
          }

          @include expect {
            @media (min-width: $xl) {
              pointer-events: none;
            }
          }
        }
      }

      @include it("xl\:pointer-events-auto") {
        @include assert {
          @include output {
            @include xl\:pointer-events-auto;
            @include clear;
          }

          @include expect {
            @media (min-width: $xl) {
              pointer-events: auto;
            }
          }
        }
      }

      @include it("\2xl\:pointer-events-none") {
        @include assert {
          @include output {
            @include \2xl\:pointer-events-none;
            @include clear;
          }

          @include expect {
            @media (min-width: $\2xl) {
              pointer-events: none;
            }
          }
        }
      }

      @include it("\2xl\:pointer-events-auto") {
        @include assert {
          @include output {
            @include \2xl\:pointer-events-auto;
            @include clear;
          }

          @include expect {
            @media (min-width: $\2xl) {
              pointer-events: auto;
            }
          }
        }
      }
    }
  }
}
