@use "../../setting" as *;


$UserSelect: (
  "select-none": none,
  "select-text": text,
  "select-all": all,
  "select-auto": auto,
);

@if $Basic {
  @each $key, $value in $UserSelect {
    /*x
    @mixin #{$key} {
      @include user-select(#{$value});
    }
    x*/
  }
}

@if $Rwd {
  @each $rwd in $rwdBox {
    @each $key, $value in $UserSelect {
      /*x
      @mixin #{$rwd}\:#{$key} {
        @include user-select(#{$value}, $#{$rwd});
      }
      x*/
    }
  }
}
