@use "../../setting" as *;

/* Order */
@if $Basic {
  /*x
  @mixin order-1 {
    order: 1;
  }

  @mixin order-2 {
    order: 2;
  }

  @mixin order-3 {
    order: 3;
  }

  @mixin order-4 {
    order: 4;
  }

  @mixin order-5 {
    order: 5;
  }

  @mixin order-6 {
    order: 6;
  }

  @mixin order-7 {
    order: 7;
  }

  @mixin order-8 {
    order: 8;
  }

  @mixin order-9 {
    order: 9;
  }

  @mixin order-10 {
    order: 10;
  }

  @mixin order-11 {
    order: 11;
  }

  @mixin order-12 {
    order: 12;
  }

  @mixin order-first {
    order: -9999;
  }

  @mixin order-last {
    order: 9999;
  }

  @mixin order-none {
    order: 0;
  }

  @mixin -order-1 {
    order: -(1);
  }

  @mixin -order-2 {
    order: -(2);
  }

  @mixin -order-3 {
    order: -(3);
  }

  @mixin -order-4 {
    order: -(4);
  }

  @mixin -order-5 {
    order: -(5);
  }

  @mixin -order-6 {
    order: -(6);
  }

  @mixin -order-7 {
    order: -(7);
  }

  @mixin -order-8 {
    order: -(8);
  }

  @mixin -order-9 {
    order: -(9);
  }

  @mixin -order-10 {
    order: -(10);
  }

  @mixin -order-11 {
    order: -(11);
  }

  @mixin -order-12 {
    order: -(12);
  }

  @mixin -order-first {
    order: -(-9999);
  }

  @mixin -order-last {
    order: -(9999);
  }

  @mixin -order-none {
    order: -(0);
  }
  x*/
}

@if $Rwd {
  // reducing size for updating speed
  @if $isLite {
    /*
    @mixin sm\:order-($value) {
      @media (min-width: $breakpoint-sm) {
        order: $value;
      }
    }

    @mixin md\:order-($value) {
      @media (min-width: $breakpoint-md) {
        order: $value;
      }
    }

    @mixin lg\:order-($value) {
      @media (min-width: $breakpoint-lg) {
        order: $value;
      }
    }

    @mixin xl\:order-($value) {
      @media (min-width: $breakpoint-xl) {
        order: $value;
      }
    }

    @mixin \2xl\:order-($value) {
      @media (min-width: $breakpoint-2xl) {
        order: $value;
      }
    }
    x*/
  }

  // tailwind default
  @else {
  }
}

@if $Custom {
  /*x
  @mixin order-($value) {
    order: $value;
  }
  x*/
}
