@use "../../setting" as *;
@use "../../mode0" as *;
@use "true" as *;

@include describe("13.Interactivity") {
  @include describe("Resize") {
    @include describe("Basic") {
      @include it("resize-none") {
        @include assert {
          @include output {
            @include resize-none;
            @include clear;
          }

          @include expect {
            resize: none;
          }
        }
      }

      @include it("resize-y") {
        @include assert {
          @include output {
            @include resize-y;
            @include clear;
          }

          @include expect {
            resize: vertical;
          }
        }
      }

      @include it("resize-x") {
        @include assert {
          @include output {
            @include resize-x;
            @include clear;
          }

          @include expect {
            resize: horizontal;
          }
        }
      }

      @include it("resize") {
        @include assert {
          @include output {
            @include resize;
            @include clear;
          }

          @include expect {
            resize: both;
          }
        }
      }
    }

    @include describe("Rwd") {
      @include it("sm\:resize-none") {
        @include assert {
          @include output {
            @include sm\:resize-none;
            @include clear;
          }

          @include expect {
            @media(min-width:$sm) {
              resize: none;
            }
          }
        }
      }

      @include it("sm\:resize-y") {
        @include assert {
          @include output {
            @include sm\:resize-y;
            @include clear;
          }

          @include expect {
            @media(min-width:$sm) {
              resize: vertical;
            }
          }
        }
      }

      @include it("sm\:resize-x") {
        @include assert {
          @include output {
            @include sm\:resize-x;
            @include clear;
          }

          @include expect {
            @media(min-width:$sm) {
              resize: horizontal;
            }
          }
        }
      }

      @include it("sm\:resize") {
        @include assert {
          @include output {
            @include sm\:resize;
            @include clear;
          }

          @include expect {
            @media(min-width:$sm) {
              resize: both;
            }
          }
        }
      }

      @include it("md\:resize-none") {
        @include assert {
          @include output {
            @include md\:resize-none;
            @include clear;
          }

          @include expect {
            @media(min-width:$md) {
              resize: none;
            }
          }
        }
      }

      @include it("md\:resize-y") {
        @include assert {
          @include output {
            @include md\:resize-y;
            @include clear;
          }

          @include expect {
            @media(min-width:$md) {
              resize: vertical;
            }
          }
        }
      }

      @include it("md\:resize-x") {
        @include assert {
          @include output {
            @include md\:resize-x;
            @include clear;
          }

          @include expect {
            @media(min-width:$md) {
              resize: horizontal;
            }
          }
        }
      }

      @include it("md\:resize") {
        @include assert {
          @include output {
            @include md\:resize;
            @include clear;
          }

          @include expect {
            @media(min-width:$md) {
              resize: both;
            }
          }
        }
      }

      @include it("lg\:resize-none") {
        @include assert {
          @include output {
            @include lg\:resize-none;
            @include clear;
          }

          @include expect {
            @media(min-width:$lg) {
              resize: none;
            }
          }
        }
      }

      @include it("lg\:resize-y") {
        @include assert {
          @include output {
            @include lg\:resize-y;
            @include clear;
          }

          @include expect {
            @media(min-width:$lg) {
              resize: vertical;
            }
          }
        }
      }

      @include it("lg\:resize-x") {
        @include assert {
          @include output {
            @include lg\:resize-x;
            @include clear;
          }

          @include expect {
            @media(min-width:$lg) {
              resize: horizontal;
            }
          }
        }
      }

      @include it("lg\:resize") {
        @include assert {
          @include output {
            @include lg\:resize;
            @include clear;
          }

          @include expect {
            @media(min-width:$lg) {
              resize: both;
            }
          }
        }
      }

      @include it("xl\:resize-none") {
        @include assert {
          @include output {
            @include xl\:resize-none;
            @include clear;
          }

          @include expect {
            @media(min-width:$xl) {
              resize: none;
            }
          }
        }
      }

      @include it("xl\:resize-y") {
        @include assert {
          @include output {
            @include xl\:resize-y;
            @include clear;
          }

          @include expect {
            @media(min-width:$xl) {
              resize: vertical;
            }
          }
        }
      }

      @include it("xl\:resize-x") {
        @include assert {
          @include output {
            @include xl\:resize-x;
            @include clear;
          }

          @include expect {
            @media(min-width:$xl) {
              resize: horizontal;
            }
          }
        }
      }

      @include it("xl\:resize") {
        @include assert {
          @include output {
            @include xl\:resize;
            @include clear;
          }

          @include expect {
            @media(min-width:$xl) {
              resize: both;
            }
          }
        }
      }

      @include it("\2xl\:resize-none") {
        @include assert {
          @include output {
            @include \2xl\:resize-none;
            @include clear;
          }

          @include expect {
            @media(min-width:$\2xl) {
              resize: none;
            }
          }
        }
      }

      @include it("\2xl\:resize-y") {
        @include assert {
          @include output {
            @include \2xl\:resize-y;
            @include clear;
          }

          @include expect {
            @media(min-width:$\2xl) {
              resize: vertical;
            }
          }
        }
      }

      @include it("\2xl\:resize-x") {
        @include assert {
          @include output {
            @include \2xl\:resize-x;
            @include clear;
          }

          @include expect {
            @media(min-width:$\2xl) {
              resize: horizontal;
            }
          }
        }
      }

      @include it("\2xl\:resize") {
        @include assert {
          @include output {
            @include \2xl\:resize;
            @include clear;
          }

          @include expect {
            @media(min-width:$\2xl) {
              resize: both;
            }
          }
        }
      }
    }

  }
}