@use "../../setting" as *;

/* Break Before */
@if $Basic {
  // /*x 
  @mixin break-before-auto {
    break-before: auto;
  }

  @mixin break-before-avoid {
    break-before: avoid;
  }

  @mixin break-before-all {
    break-before: all;
  }

  @mixin break-before-avoid-page {
    break-before: avoid-page;
  }

  @mixin break-before-page {
    break-before: page;
  }

  @mixin break-before-left {
    break-before: left;
  }

  @mixin break-before-right {
    break-before: right;
  }

  @mixin break-before-column {
    break-before: column;
  } // x*/
}

@if $Rwd {
  // /*x 
  @mixin sm\:break-before-auto {
    @include r(sm, break-before, auto);
  }

  @mixin sm\:break-before-avoid {
    @include r(sm, break-before, avoid);
  }

  @mixin sm\:break-before-all {
    @include r(sm, break-before, all);
  }

  @mixin sm\:break-before-avoid-page {
    @include r(sm, break-before, avoid-page);
  }

  @mixin sm\:break-before-page {
    @include r(sm, break-before, page);
  }

  @mixin sm\:break-before-left {
    @include r(sm, break-before, left);
  }

  @mixin sm\:break-before-right {
    @include r(sm, break-before, right);
  }

  @mixin sm\:break-before-column {
    @include r(sm, break-before, column);
  }

  @mixin md\:break-before-auto {
    @include r(md, break-before, auto);
  }

  @mixin md\:break-before-avoid {
    @include r(md, break-before, avoid);
  }

  @mixin md\:break-before-all {
    @include r(md, break-before, all);
  }

  @mixin md\:break-before-avoid-page {
    @include r(md, break-before, avoid-page);
  }

  @mixin md\:break-before-page {
    @include r(md, break-before, page);
  }

  @mixin md\:break-before-left {
    @include r(md, break-before, left);
  }

  @mixin md\:break-before-right {
    @include r(md, break-before, right);
  }

  @mixin md\:break-before-column {
    @include r(md, break-before, column);
  }

  @mixin lg\:break-before-auto {
    @include r(lg, break-before, auto);
  }

  @mixin lg\:break-before-avoid {
    @include r(lg, break-before, avoid);
  }

  @mixin lg\:break-before-all {
    @include r(lg, break-before, all);
  }

  @mixin lg\:break-before-avoid-page {
    @include r(lg, break-before, avoid-page);
  }

  @mixin lg\:break-before-page {
    @include r(lg, break-before, page);
  }

  @mixin lg\:break-before-left {
    @include r(lg, break-before, left);
  }

  @mixin lg\:break-before-right {
    @include r(lg, break-before, right);
  }

  @mixin lg\:break-before-column {
    @include r(lg, break-before, column);
  }

  @mixin xl\:break-before-auto {
    @include r(xl, break-before, auto);
  }

  @mixin xl\:break-before-avoid {
    @include r(xl, break-before, avoid);
  }

  @mixin xl\:break-before-all {
    @include r(xl, break-before, all);
  }

  @mixin xl\:break-before-avoid-page {
    @include r(xl, break-before, avoid-page);
  }

  @mixin xl\:break-before-page {
    @include r(xl, break-before, page);
  }

  @mixin xl\:break-before-left {
    @include r(xl, break-before, left);
  }

  @mixin xl\:break-before-right {
    @include r(xl, break-before, right);
  }

  @mixin xl\:break-before-column {
    @include r(xl, break-before, column);
  }

  @mixin \2xl\:break-before-auto {
    @include r(2xl, break-before, auto);
  }

  @mixin \2xl\:break-before-avoid {
    @include r(2xl, break-before, avoid);
  }

  @mixin \2xl\:break-before-all {
    @include r(2xl, break-before, all);
  }

  @mixin \2xl\:break-before-avoid-page {
    @include r(2xl, break-before, avoid-page);
  }

  @mixin \2xl\:break-before-page {
    @include r(2xl, break-before, page);
  }

  @mixin \2xl\:break-before-left {
    @include r(2xl, break-before, left);
  }

  @mixin \2xl\:break-before-right {
    @include r(2xl, break-before, right);
  }

  @mixin \2xl\:break-before-column {
    @include r(2xl, break-before, column);
  } // x*/
}
