@use "../../setting" as *;


$JustifyContent: (
  "justify-normal": normal,
  "justify-start": flex-start,
  "justify-end": flex-end,
  "justify-center": center,
  "justify-between": space-between,
  "justify-around": space-around,
  "justify-evenly": space-evenly,
  "justify-stretch": stretch,
);

@if $Basic {
  @each $key, $value in $JustifyContent {
    /*x
    @mixin #{$key} {
      @include justify-content(#{$value});
    }
    x*/
  }
}

@if $Rwd {
  @each $rwd in $rwdBox {
    @each $key, $value in $JustifyContent {
      /*x
      @mixin #{$rwd}\:#{$key} {
        @include justify-content(#{$value}, $#{$rwd});
      }
      x*/
    }
  }
}
