@use "../../setting" as *;

/* Flex Direction */
@if $Basic {
  // /*x
  @mixin flex-row {
    flex-direction: row;
  }

  @mixin flex-row-reverse {
    flex-direction: row-reverse;
  }

  @mixin flex-col {
    flex-direction: column;
  }

  @mixin flex-col-reverse {
    flex-direction: column-reverse;
  } // x*/
}

@if $Rwd {
  // /*x
  @mixin sm\:flex-row {
    @include r($sm, flex-direction, row);
  }

  @mixin sm\:flex-row-reverse {
    @include r($sm, flex-direction, row-reverse);
  }

  @mixin sm\:flex-col {
    @include r($sm, flex-direction, column);
  }

  @mixin sm\:flex-col-reverse {
    @include r($sm, flex-direction, column-reverse);
  }

  @mixin md\:flex-row {
    @include r($md, flex-direction, row);
  }

  @mixin md\:flex-row-reverse {
    @include r($md, flex-direction, row-reverse);
  }

  @mixin md\:flex-col {
    @include r($md, flex-direction, column);
  }

  @mixin md\:flex-col-reverse {
    @include r($md, flex-direction, column-reverse);
  }

  @mixin lg\:flex-row {
    @include r($lg, flex-direction, row);
  }

  @mixin lg\:flex-row-reverse {
    @include r($lg, flex-direction, row-reverse);
  }

  @mixin lg\:flex-col {
    @include r($lg, flex-direction, column);
  }

  @mixin lg\:flex-col-reverse {
    @include r($lg, flex-direction, column-reverse);
  }

  @mixin xl\:flex-row {
    @include r($xl, flex-direction, row);
  }

  @mixin xl\:flex-row-reverse {
    @include r($xl, flex-direction, row-reverse);
  }

  @mixin xl\:flex-col {
    @include r($xl, flex-direction, column);
  }

  @mixin xl\:flex-col-reverse {
    @include r($xl, flex-direction, column-reverse);
  }

  @mixin \2xl\:flex-row {
    @include r($\2xl, flex-direction, row);
  }

  @mixin \2xl\:flex-row-reverse {
    @include r($\2xl, flex-direction, row-reverse);
  }

  @mixin \2xl\:flex-col {
    @include r($\2xl, flex-direction, column);
  }

  @mixin \2xl\:flex-col-reverse {
    @include r($\2xl, flex-direction, column-reverse);
  } // x*/
}
