@use "../setting" as *;

$BorderRadius: (
  "xs": 0.125rem,
  "sm": 0.25rem,
  "md": 0.375rem,
  "lg": 0.5rem,
  "xl": 0.75rem,
  "2xl": 1rem,
  "3xl": 1.5rem,
  "4xl": 2rem,
  "none": 0,
  "full": calc(infinity * 1px),
);

@if $QuickReference {
  /*x
  @mixin rounded {
    border-radius: 0.25rem;
  }
  x*/
  
  @each $key, $value in $BorderRadius {
    /*x
    @mixin rounded-#{$key} {
      border-radius: #{$value};
    }

    @mixin rounded-s-#{$key} {
      border-start-start-radius: #{$value};
      border-end-start-radius: #{$value};
    }

    @mixin rounded-e-#{$key} {
      border-start-end-radius: #{$value};
      border-end-end-radius: #{$value};
    }

    @mixin rounded-t-#{$key} {
      border-top-left-radius: #{$value};
      border-top-right-radius: #{$value};
    }

    @mixin rounded-r-#{$key} {
      border-top-right-radius: #{$value};
      border-bottom-right-radius: #{$value};
    }

    @mixin rounded-b-#{$key} {
      border-bottom-right-radius: #{$value};
      border-bottom-left-radius: #{$value};
    }

    @mixin rounded-l-#{$key} {
      border-top-left-radius: #{$value};
      border-bottom-left-radius: #{$value};
    }

    @mixin rounded-ss-#{$key} {
      border-start-start-radius: #{$value};
    }

    @mixin rounded-se-#{$key} {
      border-start-end-radius: #{$value};
    }

    @mixin rounded-ee-#{$key} {
      border-end-end-radius: #{$value};
    }

    @mixin rounded-es-#{$key} {
      border-end-start-radius: #{$value};
    }

    @mixin rounded-tl-#{$key} {
      border-top-left-radius: #{$value};
    }

    @mixin rounded-tr-#{$key} {
      border-top-right-radius: #{$value};
    }

    @mixin rounded-br-#{$key} {
      border-bottom-right-radius: #{$value};
    }

    @mixin rounded-bl-#{$key} {
      border-bottom-left-radius: #{$value};
    }
    x*/
  }
}

@if $UsingACustomValue {
  /*x
  @mixin rounded-($v) {
    border-radius: $v;
  }

  @mixin rounded-s-($v) {
    border-start-start-radius: $v;
    border-end-start-radius: $v;
  }

  @mixin rounded-e-($v) {
    border-start-end-radius: $v;
    border-end-end-radius: $v;
  }

  @mixin rounded-t-($v) {
    border-top-left-radius: $v;
    border-top-right-radius: $v;
  }

  @mixin rounded-r-($v) {
    border-top-right-radius: $v;
    border-bottom-right-radius: $v;
  }

  @mixin rounded-b-($v) {
    border-bottom-right-radius: $v;
    border-bottom-left-radius: $v;
  }

  @mixin rounded-l-($v) {
    border-top-left-radius: $v;
    border-bottom-left-radius: $v;
  }

  @mixin rounded-ss-($v) {
    border-start-start-radius: $v;
  }

  @mixin rounded-se-($v) {
    border-start-end-radius: $v;
  }

  @mixin rounded-ee-($v) {
    border-end-end-radius: $v;
  }

  @mixin rounded-es-($v) {
    border-end-start-radius: $v;
  }

  @mixin rounded-tl-($v) {
    border-top-left-radius: $v;
  }

  @mixin rounded-tr-($v) {
    border-top-right-radius: $v;
  }

  @mixin rounded-br-($v) {
    border-bottom-right-radius: $v;
  }

  @mixin rounded-bl-($v) {
    border-bottom-left-radius: $v;
  }
  x*/
}
