@use "../setting" as *;

$OutlineOffset: (
  "0": 0px,
  "1": 1px,
  "2": 2px,
  "4": 4px,
  "8": 8px,
);

@if $QuickReference {
  @each $key, $value in $OutlineOffset {
    /*x
    @mixin outline-offset-#{$key} {
      outline-offset: #{$value};
    }
    x*/
  }
}

@if $UsingNegativeValues {
  @if $QuickReference {
    @each $key, $value in $OutlineOffset {
      /*x
      @mixin \-outline-offset-#{$key} {
        outline-offset: #{-$value};
      }
      x*/
    }
  }

  @if $UsingACustomValue {
    /*x
    @mixin \-outline-offset-($v) {
      outline-offset: -$v;
    }
    x*/
  }
}

@if $UsingACustomValue {
  /*x
  @mixin outline-offset-($v) {
    outline-offset: $v;
  }
  x*/
}
