@use "../../setting" as *;

$Skew: (
  "0": 0deg,
  "1": 1deg,
  "2": 2deg,
  "3": 3deg,
  "6": 6deg,
  "12": 12deg
);

@if $Basic {
  @each $key, $value in $Skew {
    /*x
    @mixin skew-x-#{$key} {
      $tw-skew-x: #{$value} !global;
      @include transform(get_transform());
    }

    @mixin skew-y-#{$key} {
      $tw-skew-y: #{$value} !global;
      @include transform(get_transform());
    }
    x*/
    /*x
    @mixin -skew-x-#{$key} {
      $tw-skew-x: #{-$value} !global;
      @include transform(get_transform());
    }

    @mixin -skew-y-#{$key} {
      $tw-skew-y: #{-$value} !global;
      @include transform(get_transform());
    }
    x*/
  }
}

@if $Rwd and ($sizeMode ==0 or $sizeMode ==1) {
  @each $rwd in $rwdBox {
    @each $key, $value in $Skew {
      /*x
      @mixin #{$rwd}\:skew-x-#{$key} {
        $tw-skew-x: #{$value} !global;
        @include transform(get_transform(), $#{$rwd});
      }

      @mixin #{$rwd}\:skew-y-#{$key} {
        $tw-skew-y: #{$value} !global;
        @include transform(get_transform(), $#{$rwd});
      }
      x*/
      /*x
      @mixin #{$rwd}\:-skew-x-#{$key} {
        $tw-skew-x: #{-$value} !global;
        @include transform(get_transform(), $#{$rwd});
      }

      @mixin #{$rwd}\:-skew-y-#{$key} {
        $tw-skew-y: #{-$value} !global;
        @include transform(get_transform(), $#{$rwd});
      }
      x*/
    }
  }
}

@if $Custom {
  /*x
  @mixin skew-x-($v) {
    $tw-skew-x: $v !global;
    @include transform(get_transform());
  }

  @mixin skew-y-($v) {
    $tw-skew-y: $v !global;
    @include transform(get_transform());
  }
  x*/
  /*x
  @mixin -skew-x-($v) {
    $tw-skew-x: -$v !global;
    @include transform(get_transform());
  }

  @mixin -skew-y-($v) {
    $tw-skew-y: -$v !global;
    @include transform(get_transform());
  }
  x*/

  @each $rwd in $rwdBox {
    /*x
    @mixin #{$rwd}\:skew-x-($v) {
      $tw-skew-x: $v !global;
      @include transform(get_transform(), $#{$rwd});
    }

    @mixin #{$rwd}\:skew-y-($v) {
      $tw-skew-y: $v !global;
      @include transform(get_transform(), $#{$rwd});
    }
    x*/
    /*x
    @mixin #{$rwd}\:-skew-x-($v) {
      $tw-skew-x: -$v !global;
      @include transform(get_transform(), $#{$rwd});
    }

    @mixin #{$rwd}\:-skew-y-($v) {
      $tw-skew-y: -$v !global;
      @include transform(get_transform(), $#{$rwd});
    }
    x*/
  }
}