@use "../../setting" as *;

/* Backgrounds Repeat */
@if $Basic {
  /*x
  @mixin bg-repeat {
    background-repeat: repeat;
  }

  @mixin bg-no-repeat {
    background-repeat: no-repeat;
  }

  @mixin bg-repeat-x {
    background-repeat: repeat-x;
  }

  @mixin bg-repeat-y {
    background-repeat: repeat-y;
  }

  @mixin bg-repeat-round {
    background-repeat: round;
  }

  @mixin bg-repeat-space {
    background-repeat: space;
  }x*/
}

@if $Rwd {
  /*x
  @mixin sm\:bg-repeat {
    @include r(sm, background-repeat, repeat);
  }

  @mixin sm\:bg-no-repeat {
    @include r(sm, background-repeat, no-repeat);
  }

  @mixin sm\:bg-repeat-x {
    @include r(sm, background-repeat, repeat-x);
  }

  @mixin sm\:bg-repeat-y {
    @include r(sm, background-repeat, repeat-y);
  }

  @mixin sm\:bg-repeat-round {
    @include r(sm, background-repeat, round);
  }

  @mixin sm\:bg-repeat-space {
    @include r(sm, background-repeat, space);
  }

  @mixin md\:bg-repeat {
    @include r(md, background-repeat, repeat);
  }

  @mixin md\:bg-no-repeat {
    @include r(md, background-repeat, no-repeat);
  }

  @mixin md\:bg-repeat-x {
    @include r(md, background-repeat, repeat-x);
  }

  @mixin md\:bg-repeat-y {
    @include r(md, background-repeat, repeat-y);
  }

  @mixin md\:bg-repeat-round {
    @include r(md, background-repeat, round);
  }

  @mixin md\:bg-repeat-space {
    @include r(md, background-repeat, space);
  }

  @mixin lg\:bg-repeat {
    @include r(lg, background-repeat, repeat);
  }

  @mixin lg\:bg-no-repeat {
    @include r(lg, background-repeat, no-repeat);
  }

  @mixin lg\:bg-repeat-x {
    @include r(lg, background-repeat, repeat-x);
  }

  @mixin lg\:bg-repeat-y {
    @include r(lg, background-repeat, repeat-y);
  }

  @mixin lg\:bg-repeat-round {
    @include r(lg, background-repeat, round);
  }

  @mixin lg\:bg-repeat-space {
    @include r(lg, background-repeat, space);
  }

  @mixin xl\:bg-repeat {
    @include r(xl, background-repeat, repeat);
  }

  @mixin xl\:bg-no-repeat {
    @include r(xl, background-repeat, no-repeat);
  }

  @mixin xl\:bg-repeat-x {
    @include r(xl, background-repeat, repeat-x);
  }

  @mixin xl\:bg-repeat-y {
    @include r(xl, background-repeat, repeat-y);
  }

  @mixin xl\:bg-repeat-round {
    @include r(xl, background-repeat, round);
  }

  @mixin xl\:bg-repeat-space {
    @include r(xl, background-repeat, space);
  }

  @mixin \2xl\:bg-repeat {
    @include r(2xl, background-repeat, repeat);
  }

  @mixin \2xl\:bg-no-repeat {
    @include r(2xl, background-repeat, no-repeat);
  }

  @mixin \2xl\:bg-repeat-x {
    @include r(2xl, background-repeat, repeat-x);
  }

  @mixin \2xl\:bg-repeat-y {
    @include r(2xl, background-repeat, repeat-y);
  }

  @mixin \2xl\:bg-repeat-round {
    @include r(2xl, background-repeat, round);
  }

  @mixin \2xl\:bg-repeat-space {
    @include r(2xl, background-repeat, space);
  }x*/
}
