@use "../../setting" as *;

/* Object Position */
@if $Basic {
  // /*x
  @mixin object-bottom {
    object-position: bottom;
  }

  @mixin object-center {
    object-position: center;
  }

  @mixin object-left {
    object-position: left;
  }

  @mixin object-left-bottom {
    object-position: left bottom;
  }

  @mixin object-left-top {
    object-position: left top;
  }

  @mixin object-right {
    object-position: right;
  }

  @mixin object-right-bottom {
    object-position: right bottom;
  }

  @mixin object-right-top {
    object-position: right top;
  }

  @mixin object-top {
    object-position: top;
  }

  // x*/
}

@if $Rwd {
  @if $sizeMode == 0 or $sizeMode == 1 {
    // /*x
    @mixin sm\:object-bottom {
      @include object-(bottom, $sm);
    }

    @mixin sm\:object-center {
      @include object-(center, $sm);
    }

    @mixin sm\:object-left {
      @include object-(left, $sm);
    }

    @mixin sm\:object-left-bottom {
      @include object-(left bottom, $sm);
    }

    @mixin sm\:object-left-top {
      @include object-(left top, $sm);
    }

    @mixin sm\:object-right {
      @include object-(right, $sm);
    }

    @mixin sm\:object-right-bottom {
      @include object-(right bottom, $sm);
    }

    @mixin sm\:object-right-top {
      @include object-(right top, $sm);
    }

    @mixin sm\:object-top {
      @include object-(top, $sm);
    }

    @mixin md\:object-bottom {
      @include object-(bottom, $md);
    }

    @mixin md\:object-center {
      @include object-(center, $md);
    }

    @mixin md\:object-left {
      @include object-(left, $md);
    }

    @mixin md\:object-left-bottom {
      @include object-(left bottom, $md);
    }

    @mixin md\:object-left-top {
      @include object-(left top, $md);
    }

    @mixin md\:object-right {
      @include object-(right, $md);
    }

    @mixin md\:object-right-bottom {
      @include object-(right bottom, $md);
    }

    @mixin md\:object-right-top {
      @include object-(right top, $md);
    }

    @mixin md\:object-top {
      @include object-(top, $md);
    }

    @mixin lg\:object-bottom {
      @include object-(bottom, $lg);
    }

    @mixin lg\:object-center {
      @include object-(center, $lg);
    }

    @mixin lg\:object-left {
      @include object-(left, $lg);
    }

    @mixin lg\:object-left-bottom {
      @include object-(left bottom, $lg);
    }

    @mixin lg\:object-left-top {
      @include object-(left top, $lg);
    }

    @mixin lg\:object-right {
      @include object-(right, $lg);
    }

    @mixin lg\:object-right-bottom {
      @include object-(right bottom, $lg);
    }

    @mixin lg\:object-right-top {
      @include object-(right top, $lg);
    }

    @mixin lg\:object-top {
      @include object-(top, $lg);
    }

    @mixin xl\:object-bottom {
      @include object-(bottom, $xl);
    }

    @mixin xl\:object-center {
      @include object-(center, $xl);
    }

    @mixin xl\:object-left {
      @include object-(left, $xl);
    }

    @mixin xl\:object-left-bottom {
      @include object-(left bottom, $xl);
    }

    @mixin xl\:object-left-top {
      @include object-(left top, $xl);
    }

    @mixin xl\:object-right {
      @include object-(right, $xl);
    }

    @mixin xl\:object-right-bottom {
      @include object-(right bottom, $xl);
    }

    @mixin xl\:object-right-top {
      @include object-(right top, $xl);
    }

    @mixin xl\:object-top {
      @include object-(top, $xl);
    }

    @mixin \2xl\:object-bottom {
      @include object-(bottom, $\2xl);
    }

    @mixin \2xl\:object-center {
      @include object-(center, $\2xl);
    }

    @mixin \2xl\:object-left {
      @include object-(left, $\2xl);
    }

    @mixin \2xl\:object-left-bottom {
      @include object-(left bottom, $\2xl);
    }

    @mixin \2xl\:object-left-top {
      @include object-(left top, $\2xl);
    }

    @mixin \2xl\:object-right {
      @include object-(right, $\2xl);
    }

    @mixin \2xl\:object-right-bottom {
      @include object-(right bottom, $\2xl);
    }

    @mixin \2xl\:object-right-top {
      @include object-(right top, $\2xl);
    }

    @mixin \2xl\:object-top {
      @include object-(top, $\2xl);
    }

    // x*/
  }
}

@if $Custom {
  // /*x
  @mixin object-($v, $rwd: null) {
    @if $rwd==null {
      @include object-position($v);
    } @else {
      @media (min-width: $rwd) {
        @include object-position($v);
      }
    }
  }

  @mixin sm\:object-($v) {
    @include object-($v, $sm);
  }

  @mixin md\:object-($v) {
    @include object-($v, $md);
  }

  @mixin lg\:object-($v) {
    @include object-($v, $lg);
  }

  @mixin xl\:object-($v) {
    @include object-($v, $xl);
  }

  @mixin \2xl\:object-($v) {
    @include object-($v, $\2xl);
  }

  // x*/
}
