@use "../../setting" as *;

/* Mix Blend Mode */
@if $Basic {
  // /*x
  @mixin mix-blend-normal {
    mix-blend-mode: normal;
  }

  @mixin mix-blend-multiply {
    mix-blend-mode: multiply;
  }

  @mixin mix-blend-screen {
    mix-blend-mode: screen;
  }

  @mixin mix-blend-overlay {
    mix-blend-mode: overlay;
  }

  @mixin mix-blend-darken {
    mix-blend-mode: darken;
  }

  @mixin mix-blend-lighten {
    mix-blend-mode: lighten;
  }

  @mixin mix-blend-color-dodge {
    mix-blend-mode: color-dodge;
  }

  @mixin mix-blend-color-burn {
    mix-blend-mode: color-burn;
  }

  @mixin mix-blend-hard-light {
    mix-blend-mode: hard-light;
  }

  @mixin mix-blend-soft-light {
    mix-blend-mode: soft-light;
  }

  @mixin mix-blend-difference {
    mix-blend-mode: difference;
  }

  @mixin mix-blend-exclusion {
    mix-blend-mode: exclusion;
  }

  @mixin mix-blend-hue {
    mix-blend-mode: hue;
  }

  @mixin mix-blend-saturation {
    mix-blend-mode: saturation;
  }

  @mixin mix-blend-color {
    mix-blend-mode: color;
  }

  @mixin mix-blend-luminosity {
    mix-blend-mode: luminosity;
  }

  @mixin mix-blend-plus-lighter {
    mix-blend-mode: plus-lighter;
  } // x*/
}

@if $Rwd {
  // /*x
  @mixin sm\:mix-blend-normal {
    @include r(sm, mix-blend-mode, normal);
  }

  @mixin sm\:mix-blend-multiply {
    @include r(sm, mix-blend-mode, multiply);
  }

  @mixin sm\:mix-blend-screen {
    @include r(sm, mix-blend-mode, screen);
  }

  @mixin sm\:mix-blend-overlay {
    @include r(sm, mix-blend-mode, overlay);
  }

  @mixin sm\:mix-blend-darken {
    @include r(sm, mix-blend-mode, darken);
  }

  @mixin sm\:mix-blend-lighten {
    @include r(sm, mix-blend-mode, lighten);
  }

  @mixin sm\:mix-blend-color-dodge {
    @include r(sm, mix-blend-mode, color-dodge);
  }

  @mixin sm\:mix-blend-color-burn {
    @include r(sm, mix-blend-mode, color-burn);
  }

  @mixin sm\:mix-blend-hard-light {
    @include r(sm, mix-blend-mode, hard-light);
  }

  @mixin sm\:mix-blend-soft-light {
    @include r(sm, mix-blend-mode, soft-light);
  }

  @mixin sm\:mix-blend-difference {
    @include r(sm, mix-blend-mode, difference);
  }

  @mixin sm\:mix-blend-exclusion {
    @include r(sm, mix-blend-mode, exclusion);
  }

  @mixin sm\:mix-blend-hue {
    @include r(sm, mix-blend-mode, hue);
  }

  @mixin sm\:mix-blend-saturation {
    @include r(sm, mix-blend-mode, saturation);
  }

  @mixin sm\:mix-blend-color {
    @include r(sm, mix-blend-mode, color);
  }

  @mixin sm\:mix-blend-luminosity {
    @include r(sm, mix-blend-mode, luminosity);
  }

  @mixin sm\:mix-blend-plus-lighter {
    @include r(sm, mix-blend-mode, plus-lighter);
  }

  @mixin md\:mix-blend-normal {
    @include r(md, mix-blend-mode, normal);
  }

  @mixin md\:mix-blend-multiply {
    @include r(md, mix-blend-mode, multiply);
  }

  @mixin md\:mix-blend-screen {
    @include r(md, mix-blend-mode, screen);
  }

  @mixin md\:mix-blend-overlay {
    @include r(md, mix-blend-mode, overlay);
  }

  @mixin md\:mix-blend-darken {
    @include r(md, mix-blend-mode, darken);
  }

  @mixin md\:mix-blend-lighten {
    @include r(md, mix-blend-mode, lighten);
  }

  @mixin md\:mix-blend-color-dodge {
    @include r(md, mix-blend-mode, color-dodge);
  }

  @mixin md\:mix-blend-color-burn {
    @include r(md, mix-blend-mode, color-burn);
  }

  @mixin md\:mix-blend-hard-light {
    @include r(md, mix-blend-mode, hard-light);
  }

  @mixin md\:mix-blend-soft-light {
    @include r(md, mix-blend-mode, soft-light);
  }

  @mixin md\:mix-blend-difference {
    @include r(md, mix-blend-mode, difference);
  }

  @mixin md\:mix-blend-exclusion {
    @include r(md, mix-blend-mode, exclusion);
  }

  @mixin md\:mix-blend-hue {
    @include r(md, mix-blend-mode, hue);
  }

  @mixin md\:mix-blend-saturation {
    @include r(md, mix-blend-mode, saturation);
  }

  @mixin md\:mix-blend-color {
    @include r(md, mix-blend-mode, color);
  }

  @mixin md\:mix-blend-luminosity {
    @include r(md, mix-blend-mode, luminosity);
  }

  @mixin md\:mix-blend-plus-lighter {
    @include r(md, mix-blend-mode, plus-lighter);
  }

  @mixin lg\:mix-blend-normal {
    @include r(lg, mix-blend-mode, normal);
  }

  @mixin lg\:mix-blend-multiply {
    @include r(lg, mix-blend-mode, multiply);
  }

  @mixin lg\:mix-blend-screen {
    @include r(lg, mix-blend-mode, screen);
  }

  @mixin lg\:mix-blend-overlay {
    @include r(lg, mix-blend-mode, overlay);
  }

  @mixin lg\:mix-blend-darken {
    @include r(lg, mix-blend-mode, darken);
  }

  @mixin lg\:mix-blend-lighten {
    @include r(lg, mix-blend-mode, lighten);
  }

  @mixin lg\:mix-blend-color-dodge {
    @include r(lg, mix-blend-mode, color-dodge);
  }

  @mixin lg\:mix-blend-color-burn {
    @include r(lg, mix-blend-mode, color-burn);
  }

  @mixin lg\:mix-blend-hard-light {
    @include r(lg, mix-blend-mode, hard-light);
  }

  @mixin lg\:mix-blend-soft-light {
    @include r(lg, mix-blend-mode, soft-light);
  }

  @mixin lg\:mix-blend-difference {
    @include r(lg, mix-blend-mode, difference);
  }

  @mixin lg\:mix-blend-exclusion {
    @include r(lg, mix-blend-mode, exclusion);
  }

  @mixin lg\:mix-blend-hue {
    @include r(lg, mix-blend-mode, hue);
  }

  @mixin lg\:mix-blend-saturation {
    @include r(lg, mix-blend-mode, saturation);
  }

  @mixin lg\:mix-blend-color {
    @include r(lg, mix-blend-mode, color);
  }

  @mixin lg\:mix-blend-luminosity {
    @include r(lg, mix-blend-mode, luminosity);
  }

  @mixin lg\:mix-blend-plus-lighter {
    @include r(lg, mix-blend-mode, plus-lighter);
  }

  @mixin xl\:mix-blend-normal {
    @include r(xl, mix-blend-mode, normal);
  }

  @mixin xl\:mix-blend-multiply {
    @include r(xl, mix-blend-mode, multiply);
  }

  @mixin xl\:mix-blend-screen {
    @include r(xl, mix-blend-mode, screen);
  }

  @mixin xl\:mix-blend-overlay {
    @include r(xl, mix-blend-mode, overlay);
  }

  @mixin xl\:mix-blend-darken {
    @include r(xl, mix-blend-mode, darken);
  }

  @mixin xl\:mix-blend-lighten {
    @include r(xl, mix-blend-mode, lighten);
  }

  @mixin xl\:mix-blend-color-dodge {
    @include r(xl, mix-blend-mode, color-dodge);
  }

  @mixin xl\:mix-blend-color-burn {
    @include r(xl, mix-blend-mode, color-burn);
  }

  @mixin xl\:mix-blend-hard-light {
    @include r(xl, mix-blend-mode, hard-light);
  }

  @mixin xl\:mix-blend-soft-light {
    @include r(xl, mix-blend-mode, soft-light);
  }

  @mixin xl\:mix-blend-difference {
    @include r(xl, mix-blend-mode, difference);
  }

  @mixin xl\:mix-blend-exclusion {
    @include r(xl, mix-blend-mode, exclusion);
  }

  @mixin xl\:mix-blend-hue {
    @include r(xl, mix-blend-mode, hue);
  }

  @mixin xl\:mix-blend-saturation {
    @include r(xl, mix-blend-mode, saturation);
  }

  @mixin xl\:mix-blend-color {
    @include r(xl, mix-blend-mode, color);
  }

  @mixin xl\:mix-blend-luminosity {
    @include r(xl, mix-blend-mode, luminosity);
  }

  @mixin xl\:mix-blend-plus-lighter {
    @include r(xl, mix-blend-mode, plus-lighter);
  }

  @mixin \2xl\:mix-blend-normal {
    @include r(2xl, mix-blend-mode, normal);
  }

  @mixin \2xl\:mix-blend-multiply {
    @include r(2xl, mix-blend-mode, multiply);
  }

  @mixin \2xl\:mix-blend-screen {
    @include r(2xl, mix-blend-mode, screen);
  }

  @mixin \2xl\:mix-blend-overlay {
    @include r(2xl, mix-blend-mode, overlay);
  }

  @mixin \2xl\:mix-blend-darken {
    @include r(2xl, mix-blend-mode, darken);
  }

  @mixin \2xl\:mix-blend-lighten {
    @include r(2xl, mix-blend-mode, lighten);
  }

  @mixin \2xl\:mix-blend-color-dodge {
    @include r(2xl, mix-blend-mode, color-dodge);
  }

  @mixin \2xl\:mix-blend-color-burn {
    @include r(2xl, mix-blend-mode, color-burn);
  }

  @mixin \2xl\:mix-blend-hard-light {
    @include r(2xl, mix-blend-mode, hard-light);
  }

  @mixin \2xl\:mix-blend-soft-light {
    @include r(2xl, mix-blend-mode, soft-light);
  }

  @mixin \2xl\:mix-blend-difference {
    @include r(2xl, mix-blend-mode, difference);
  }

  @mixin \2xl\:mix-blend-exclusion {
    @include r(2xl, mix-blend-mode, exclusion);
  }

  @mixin \2xl\:mix-blend-hue {
    @include r(2xl, mix-blend-mode, hue);
  }

  @mixin \2xl\:mix-blend-saturation {
    @include r(2xl, mix-blend-mode, saturation);
  }

  @mixin \2xl\:mix-blend-color {
    @include r(2xl, mix-blend-mode, color);
  }

  @mixin \2xl\:mix-blend-luminosity {
    @include r(2xl, mix-blend-mode, luminosity);
  }

  @mixin \2xl\:mix-blend-plus-lighter {
    @include r(2xl, mix-blend-mode, plus-lighter);
  } // x*/
}
