@use "../../setting" as *;
@use "sass:list";

// 1st: outline
// 2nd: outline-offset
// 3rd: outline-style
$OutlineStyle: (
  "outline-none": ((2px solid transparent), 2px, "null"),
  "outline": ("null", "null", solid),
  "outline-dashed": ("null", "null", dashed),
  "outline-dotted": ("null", "null", dotted),
  "outline-double": ("null", "null", double),
);

@if $Basic {
  @each $key, $value in $OutlineStyle {
    /*x
    @mixin #{$key} {
      @include outline(#{list.nth($value, 1)});
      @include outline-offset(#{list.nth($value, 2)});
      @include outline-style(#{list.nth($value, 3)});
    }
    x*/
  }
}

@if $Rwd {
  @each $rwd in $rwdBox {
    @each $key, $value in $OutlineStyle {
      /*x
      @mixin #{$rwd}\:#{$key} {
        @include #{$rwd} {
          @include outline(#{list.nth($value, 1)});
          @include outline-offset(#{list.nth($value, 2)});
          @include outline-style(#{list.nth($value, 3)});
        }
      }
      x*/
    }
  }
}