@use "../../setting" as *;

/* Transform Origin */
@if $Basic {
  /*x
  @mixin origin-center {
    transform-origin: center;
  }

  @mixin origin-top {
    transform-origin: top;
  }

  @mixin origin-top-right {
    transform-origin: top right;
  }

  @mixin origin-right {
    transform-origin: right;
  }

  @mixin origin-bottom-right {
    transform-origin: bottom right;
  }

  @mixin origin-bottom {
    transform-origin: bottom;
  }

  @mixin origin-bottom-left {
    transform-origin: bottom left;
  }

  @mixin origin-left {
    transform-origin: left;
  }

  @mixin origin-top-left {
    transform-origin: top left;
  }x*/
}

@if $Rwd {
  // reducing size for updating speed
  @if $isLite {
    /*x
    @mixin sm\:origin-center {
      @media (min-width: $rwd-sm) {
        transform-origin: center;
      }
    }

    @mixin sm\:origin-top {
      @media (min-width: $rwd-sm) {
        transform-origin: top;
      }
    }

    @mixin sm\:origin-top-right {
      @media (min-width: $rwd-sm) {
        transform-origin: top right;
      }
    }

    @mixin sm\:origin-right {
      @media (min-width: $rwd-sm) {
        transform-origin: right;
      }
    }

    @mixin sm\:origin-bottom-right {
      @media (min-width: $rwd-sm) {
        transform-origin: bottom right;
      }
    }

    @mixin sm\:origin-bottom {
      @media (min-width: $rwd-sm) {
        transform-origin: bottom;
      }
    }

    @mixin sm\:origin-bottom-left {
      @media (min-width: $rwd-sm) {
        transform-origin: bottom left;
      }
    }

    @mixin sm\:origin-left {
      @media (min-width: $rwd-sm) {
        transform-origin: left;
      }
    }

    @mixin sm\:origin-top-left {
      @media (min-width: $rwd-sm) {
        transform-origin: top left;
      }
    }

    @mixin md\:origin-center {
      @media (min-width: $rwd-md) {
        transform-origin: center;
      }
    }

    @mixin md\:origin-top {
      @media (min-width: $rwd-md) {
        transform-origin: top;
      }
    }

    @mixin md\:origin-top-right {
      @media (min-width: $rwd-md) {
        transform-origin: top right;
      }
    }

    @mixin md\:origin-right {
      @media (min-width: $rwd-md) {
        transform-origin: right;
      }
    }

    @mixin md\:origin-bottom-right {
      @media (min-width: $rwd-md) {
        transform-origin: bottom right;
      }
    }

    @mixin md\:origin-bottom {
      @media (min-width: $rwd-md) {
        transform-origin: bottom;
      }
    }

    @mixin md\:origin-bottom-left {
      @media (min-width: $rwd-md) {
        transform-origin: bottom left;
      }
    }

    @mixin md\:origin-left {
      @media (min-width: $rwd-md) {
        transform-origin: left;
      }
    }

    @mixin md\:origin-top-left {
      @media (min-width: $rwd-md) {
        transform-origin: top left;
      }
    }

    @mixin lg\:origin-center {
      @media (min-width: $rwd-lg) {
        transform-origin: center;
      }
    }

    @mixin lg\:origin-top {
      @media (min-width: $rwd-lg) {
        transform-origin: top;
      }
    }

    @mixin lg\:origin-top-right {
      @media (min-width: $rwd-lg) {
        transform-origin: top right;
      }
    }

    @mixin lg\:origin-right {
      @media (min-width: $rwd-lg) {
        transform-origin: right;
      }
    }

    @mixin lg\:origin-bottom-right {
      @media (min-width: $rwd-lg) {
        transform-origin: bottom right;
      }
    }

    @mixin lg\:origin-bottom {
      @media (min-width: $rwd-lg) {
        transform-origin: bottom;
      }
    }

    @mixin lg\:origin-bottom-left {
      @media (min-width: $rwd-lg) {
        transform-origin: bottom left;
      }
    }

    @mixin lg\:origin-left {
      @media (min-width: $rwd-lg) {
        transform-origin: left;
      }
    }

    @mixin lg\:origin-top-left {
      @media (min-width: $rwd-lg) {
        transform-origin: top left;
      }
    }

    @mixin xl\:origin-center {
      @media (min-width: $rwd-xl) {
        transform-origin: center;
      }
    }

    @mixin xl\:origin-top {
      @media (min-width: $rwd-xl) {
        transform-origin: top;
      }
    }

    @mixin xl\:origin-top-right {
      @media (min-width: $rwd-xl) {
        transform-origin: top right;
      }
    }

    @mixin xl\:origin-right {
      @media (min-width: $rwd-xl) {
        transform-origin: right;
      }
    }

    @mixin xl\:origin-bottom-right {
      @media (min-width: $rwd-xl) {
        transform-origin: bottom right;
      }
    }

    @mixin xl\:origin-bottom {
      @media (min-width: $rwd-xl) {
        transform-origin: bottom;
      }
    }

    @mixin xl\:origin-bottom-left {
      @media (min-width: $rwd-xl) {
        transform-origin: bottom left;
      }
    }

    @mixin xl\:origin-left {
      @media (min-width: $rwd-xl) {
        transform-origin: left;
      }
    }

    @mixin xl\:origin-top-left {
      @media (min-width: $rwd-xl) {
        transform-origin: top left;
      }
    }

    @mixin \2xl\:origin-center {
      @media (min-width: $rwd-2xl) {
        transform-origin: center;
      }
    }

    @mixin \2xl\:origin-top {
      @media (min-width: $rwd-2xl) {
        transform-origin: top;
      }
    }

    @mixin \2xl\:origin-top-right {
      @media (min-width: $rwd-2xl) {
        transform-origin: top right;
      }
    }

    @mixin \2xl\:origin-right {
      @media (min-width: $rwd-2xl) {
        transform-origin: right;
      }
    }

    @mixin \2xl\:origin-bottom-right {
      @media (min-width: $rwd-2xl) {
        transform-origin: bottom right;
      }
    }

    @mixin \2xl\:origin-bottom {
      @media (min-width: $rwd-2xl) {
        transform-origin: bottom;
      }
    }

    @mixin \2xl\:origin-bottom-left {
      @media (min-width: $rwd-2xl) {
        transform-origin: bottom left;
      }
    }

    @mixin \2xl\:origin-left {
      @media (min-width: $rwd-2xl) {
        transform-origin: left;
      }
    }

    @mixin \2xl\:origin-top-left {
      @media (min-width: $rwd-2xl) {
        transform-origin: top left;
      }
    }

    @mixin sm\:origin-($value) {
      @media (min-width: $rwd-sm) {
        transform-origin: $value;
      }
    }

    @mixin md\:origin-($value) {
      @media (min-width: $rwd-md) {
        transform-origin: $value;
      }
    }

    @mixin lg\:origin-($value) {
      @media (min-width: $rwd-lg) {
        transform-origin: $value;
      }
    }

    @mixin xl\:origin-($value) {
      @media (min-width: $rwd-xl) {
        transform-origin: $value;
      }
    }

    @mixin \2xl\:origin-($value) {
      @media (min-width: $rwd-2xl) {
        transform-origin: $value;
      }
    }x*/
  }

  // tailwind default
  @else {
  }
}

@if $Custom {
  /*x
  @mixin origin-($value) {
    transform-origin: $value;
  }x*/
}
