@use "../../setting" as *;



$ScrollBehavior: (
  "scroll-auto": auto,
  "scroll-smooth": smooth,
);

@if $Basic {
  @each $key, $value in $ScrollBehavior {
    /*x
    @mixin #{$key} {
      @include scroll-behavior(#{$value});
    }
    x*/
  }
}

@if $Rwd {
  @each $rwd in $rwdBox {
    @each $key, $value in $ScrollBehavior {
      /*x
      @mixin #{$rwd}\:#{$key} {
        @include scroll-behavior(#{$value}, $#{$rwd});
      }
      x*/
    }
  }
}
