@use "../../../settings/structures" as *;

@if $Floats {
	%float-start {
		float: inline-start;
	}

	%float-end {
		float: inline-end;
	}

	%float-right {
		float: right;
	}

	%float-left {
		float: left;
	}

	%float-none {
		float: none;
	}
}
