@use "../../setting" as *;


$BackgroundsRepeat: (
  "bg-repeat": repeat,
  "bg-no-repeat": no-repeat,
  "bg-repeat-x": repeat-x,
  "bg-repeat-y": repeat-y,
  "bg-repeat-round": round,
  "bg-repeat-space": space,
);

@if $Basic {
  @each $key, $value in $BackgroundsRepeat {
    /*x
    @mixin #{$key}{
      @include background-repeat(#{$value});
    }
    x*/
  }
}

@if $Rwd {
  @each $rwd in $rwdBox {
    @each $key, $value in $BackgroundsRepeat {
      /*x
      @mixin #{$rwd}\:#{$key}{
        @include background-repeat(#{$value}, $#{$rwd});
      }
      x*/
    }
  }
}