@use "../../setting" as *;
@use "sass:list";

// 1st: overflow-wrap
// 2nd: word-break
$WordBreak: (
  "break-normal": (normal, normal),
  "break-words": (break-word, "null"),
  "break-all": ("null", break-all),
  "break-keep": ("null", keep-all),
);

@if $Basic {
  @each $key, $value in $WordBreak {
    /*x
    @mixin #{$key} {
      @include overflow-wrap(#{list.nth($value, 1)});
      @include word-break(#{list.nth($value, 2)});
    }
    x*/
  }
}

@if $Rwd {
  @each $rwd in $rwdBox {
    @each $key, $value in $WordBreak {
      /*x
      @mixin #{$rwd}\:#{$key} {
        @include #{$rwd} {
          @include overflow-wrap(#{list.nth($value, 1)});
          @include word-break(#{list.nth($value, 2)});
        }
      }
      x*/
    }
  }
}