@use "../../setting" as *;

$WillChange: (
  "will-change-auto": auto,
  "will-change-scroll": scroll-position,
  "will-change-contents": contents,
  "will-change-transform": transform,
);

@if $Basic {
  @each $key, $value in $WillChange {
    /*x
    @mixin #{$key} {
      @include will-change(#{$value});
    }
    x*/
  }
}

@if $Rwd and ($sizeMode ==0 or $sizeMode ==1) {
  @each $rwd in $rwdBox {
    @each $key, $value in $WillChange {
      /*x
      @mixin #{$rwd}\:#{$key} {
        @include will-change(#{$value}, null, $#{$rwd});
      }
      x*/
    }
  }
}

@if $Custom {
  /*x
  @mixin will-change-($v, $v2: null) {
    @include will-change($v, $v2);
  }
  x*/

  @each $rwd in $rwdBox {
    /*x
    @mixin #{$rwd}\:will-change-($v, $v2: null) {
      @include will-change($v, $v2, $#{$rwd});
    }
    x*/
  }
}