@use "../setting" as *;

$Z-Index: (
  "z-0": 0,
  "z-10": 10,
  "z-20": 20,
  "z-30": 30,
  "z-40": 40,
  "z-50": 50,
  "z-auto": auto,
);

@if $isBasicUsage {
  @each $key, $value in $Z-Index {
    /*x
    @mixin #{$key} {
      z-index: #{$value};
    }
    x*/
  }
}

@if $isUsingCustomValues {
  /*x
  @mixin z-($v) {
    z-index: $v;
  }
  x*/
}

@if $isUsingNegativeValues {
  @if $isBasicUsage {
    @each $key, $value in $Z-Index {
      /*x
      @mixin \-#{$key} {
        z-index: -#{$value};
      }
      x*/
    }
  }

  @if $isUsingCustomValues {
    /*x
    @mixin \-z-($v) {
      z-index: -$v;
    }
    x*/
  }
}
