@use "../setting" as *;

$Columns: (
  "columns-1": 1,
  "columns-2": 2,
  "columns-3": 3,
  "columns-4": 4,
  "columns-5": 5,
  "columns-6": 6,
  "columns-7": 7,
  "columns-8": 8,
  "columns-9": 9,
  "columns-10": 10,
  "columns-11": 11,
  "columns-12": 12,
  "columns-auto": auto,
  "columns-3xs": "$width-3xs",
  "columns-2xs": "$width-2xs",
  "columns-xs": "$width-xs",
  "columns-sm": "$width-sm",
  "columns-md": "$width-md",
  "columns-lg": "$width-lg",
  "columns-xl": "$width-xl",
  "columns-2xl": "$width-2xl",
  "columns-3xl": "$width-3xl",
  "columns-4xl": "$width-4xl",
  "columns-5xl": "$width-5xl",
  "columns-6xl": "$width-6xl",
  "columns-7xl": "$width-7xl",
);

@if $isBasicUsage {
  @each $key, $value in $Columns {
    /*x
    @mixin #{$key} {
      columns: #{$value};
    }
    x*/
  }
}

@if $isUsingCustomValues {
  /*x
  @mixin columns-($v) {
    columns: $v;
  }
  x*/
}
