@use "../../setting" as *;

$ScrollMargin: (
  "0": "$\\0",
  "px": "$\\px",
  "0\\.5": "$\\0\\.5",
  "1": "$\\1",
  "1\\.5": "$\\1\\.5",
  "2": "$\\2",
  "2\\.5": "$\\2\\.5",
  "3": "$\\3",
  "3\\.5": "$\\3\\.5",
  "4": "$\\4",
  "5": "$\\5",
  "6": "$\\6",
  "7": "$\\7",
  "8": "$\\8",
  "9": "$\\9",
  "10": "$\\10",
  "11": "$\\11",
  "12": "$\\12",
  "14": "$\\14",
  "16": "$\\16",
  "20": "$\\20",
  "24": "$\\24",
  "28": "$\\28",
  "32": "$\\32",
  "36": "$\\36",
  "40": "$\\40",
  "44": "$\\44",
  "48": "$\\48",
  "52": "$\\52",
  "56": "$\\56",
  "60": "$\\60",
  "64": "$\\64",
  "72": "$\\72",
  "80": "$\\80",
  "96": "$\\96"
);

@if $Basic {
  @each $key, $value in $ScrollMargin {
    /*x
    @mixin scroll-m-#{$key} {
      @include scroll-margin(#{$value});
    }

    @mixin scroll-mx-#{$key} {
      @include scroll-margin-left(#{$value});
      @include scroll-margin-right(#{$value});
    }

    @mixin scroll-my-#{$key} {
      @include scroll-margin-top(#{$value});
      @include scroll-margin-bottom(#{$value});
    }

    @mixin scroll-ms-#{$key} {
      @include scroll-margin-inline-start(#{$value});
    }

    @mixin scroll-me-#{$key} {
      @include scroll-margin-inline-end(#{$value});
    }

    @mixin scroll-mt-#{$key} {
      @include scroll-margin-top(#{$value});
    }

    @mixin scroll-mr-#{$key} {
      @include scroll-margin-right(#{$value});
    }

    @mixin scroll-mb-#{$key} {
      @include scroll-margin-bottom(#{$value});
    }

    @mixin scroll-ml-#{$key} {
      @include scroll-margin-left(#{$value});
    }
    x*/
    /*x
    @mixin -scroll-m-#{$key} {
      @include scroll-margin(-#{$value});
    }

    @mixin -scroll-mx-#{$key} {
      @include scroll-margin-left(-#{$value});
      @include scroll-margin-right(-#{$value});
    }

    @mixin -scroll-my-#{$key} {
      @include scroll-margin-top(-#{$value});
      @include scroll-margin-bottom(-#{$value});
    }

    @mixin -scroll-ms-#{$key} {
      @include scroll-margin-inline-start(-#{$value});
    }

    @mixin -scroll-me-#{$key} {
      @include scroll-margin-inline-end(-#{$value});
    }

    @mixin -scroll-mt-#{$key} {
      @include scroll-margin-top(-#{$value});
    }

    @mixin -scroll-mr-#{$key} {
      @include scroll-margin-right(-#{$value});
    }

    @mixin -scroll-mb-#{$key} {
      @include scroll-margin-bottom(-#{$value});
    }

    @mixin -scroll-ml-#{$key} {
      @include scroll-margin-left(-#{$value});
    }
    x*/
  }
}

@if $Rwd and ($sizeMode ==0 or $sizeMode ==1) {
  @each $rwd in $rwdBox {
    @each $key, $value in $ScrollMargin {
    /*x
    @mixin #{$rwd}\:scroll-m-#{$key} {
      @include scroll-margin(#{$value}, $#{$rwd});
    }

    @mixin #{$rwd}\:scroll-mx-#{$key} {
      @include #{$rwd} {
        @include scroll-margin-left(#{$value});
        @include scroll-margin-right(#{$value});
      }
    }

    @mixin #{$rwd}\:scroll-my-#{$key} {
      @include #{$rwd} {
        @include scroll-margin-top(#{$value});
        @include scroll-margin-bottom(#{$value});
      }
    }

    @mixin #{$rwd}\:scroll-ms-#{$key} {
      @include scroll-margin-inline-start(#{$value}, $#{$rwd});
    }

    @mixin #{$rwd}\:scroll-me-#{$key} {
      @include scroll-margin-inline-end(#{$value}, $#{$rwd});
    }

    @mixin #{$rwd}\:scroll-mt-#{$key} {
      @include scroll-margin-top(#{$value}, $#{$rwd});
    }

    @mixin #{$rwd}\:scroll-mr-#{$key} {
      @include scroll-margin-right(#{$value}, $#{$rwd});
    }

    @mixin #{$rwd}\:scroll-mb-#{$key} {
      @include scroll-margin-bottom(#{$value}, $#{$rwd});
    }

    @mixin #{$rwd}\:scroll-ml-#{$key} {
      @include scroll-margin-left(#{$value}, $#{$rwd});
    }
    x*/
    /*x
    @mixin #{$rwd}\:-scroll-m-#{$key} {
      @include scroll-margin(-#{$value}, $#{$rwd});
    }

    @mixin #{$rwd}\:-scroll-mx-#{$key} {
      @include #{$rwd} {
        @include scroll-margin-left(-#{$value});
        @include scroll-margin-right(-#{$value});
      }
    }

    @mixin #{$rwd}\:-scroll-my-#{$key} {
      @include #{$rwd} {
        @include scroll-margin-top(-#{$value});
        @include scroll-margin-bottom(-#{$value});
      }
    }

    @mixin #{$rwd}\:-scroll-ms-#{$key} {
      @include scroll-margin-inline-start(-#{$value}, $#{$rwd});
    }

    @mixin #{$rwd}\:-scroll-me-#{$key} {
      @include scroll-margin-inline-end(-#{$value}, $#{$rwd});
    }

    @mixin #{$rwd}\:-scroll-mt-#{$key} {
      @include scroll-margin-top(-#{$value}, $#{$rwd});
    }

    @mixin #{$rwd}\:-scroll-mr-#{$key} {
      @include scroll-margin-right(-#{$value}, $#{$rwd});
    }

    @mixin #{$rwd}\:-scroll-mb-#{$key} {
      @include scroll-margin-bottom(-#{$value}, $#{$rwd});
    }

    @mixin #{$rwd}\:-scroll-ml-#{$key} {
      @include scroll-margin-left(-#{$value}, $#{$rwd});
    }
    x*/
    }
  }
}

@if $Custom {
  /*x
  @mixin scroll-m-($v) {
    @include scroll-margin($v);
  }

  @mixin scroll-mx-($v) {
    @include scroll-margin-left($v);
    @include scroll-margin-right($v);
  }

  @mixin scroll-my-($v) {
    @include scroll-margin-top($v);
    @include scroll-margin-bottom($v);
  }

  @mixin scroll-ms-($v) {
    @include scroll-margin-inline-start($v);
  }

  @mixin scroll-me-($v) {
    @include scroll-margin-inline-end($v);
  }

  @mixin scroll-mt-($v) {
    @include scroll-margin-top($v);
  }

  @mixin scroll-mr-($v) {
    @include scroll-margin-right($v);
  }

  @mixin scroll-mb-($v) {
    @include scroll-margin-bottom($v);
  }

  @mixin scroll-ml-($v) {
    @include scroll-margin-left($v);
  }
  x*/
  /*x
  @mixin -scroll-m-($v) {
    @include scroll-margin(-$v);
  }

  @mixin -scroll-mx-($v) {
    @include scroll-margin-left(-$v);
    @include scroll-margin-right(-$v);
  }

  @mixin -scroll-my-($v) {
    @include scroll-margin-top(-$v);
    @include scroll-margin-bottom(-$v);
  }

  @mixin -scroll-ms-($v) {
    @include scroll-margin-inline-start(-$v);
  }

  @mixin -scroll-me-($v) {
    @include scroll-margin-inline-end(-$v);
  }

  @mixin -scroll-mt-($v) {
    @include scroll-margin-top(-$v);
  }

  @mixin -scroll-mr-($v) {
    @include scroll-margin-right(-$v);
  }

  @mixin -scroll-mb-($v) {
    @include scroll-margin-bottom(-$v);
  }

  @mixin -scroll-ml-($v) {
    @include scroll-margin-left(-$v);
  }
  x*/

  @each $rwd in $rwdBox {
    /*x
    @mixin #{$rwd}\:scroll-m-($v) {
      @include scroll-margin($v, $#{$rwd});
    }

    @mixin #{$rwd}\:scroll-mx-($v) {
      @include #{$rwd} {
        @include scroll-margin-left($v);
        @include scroll-margin-right($v);
      }
    }

    @mixin #{$rwd}\:scroll-my-($v) {
      @include #{$rwd} {
        @include scroll-margin-top($v);
        @include scroll-margin-bottom($v);
      }
    }

    @mixin #{$rwd}\:scroll-ms-($v) {
      @include scroll-margin-inline-start($v, $#{$rwd});
    }

    @mixin #{$rwd}\:scroll-me-($v) {
      @include scroll-margin-inline-end($v, $#{$rwd});
    }

    @mixin #{$rwd}\:scroll-mt-($v) {
      @include scroll-margin-top($v, $#{$rwd});
    }

    @mixin #{$rwd}\:scroll-mr-($v) {
      @include scroll-margin-right($v, $#{$rwd});
    }

    @mixin #{$rwd}\:scroll-mb-($v) {
      @include scroll-margin-bottom($v, $#{$rwd});
    }

    @mixin #{$rwd}\:scroll-ml-($v) {
      @include scroll-margin-left($v, $#{$rwd});
    }
    x*/
    /*x
    @mixin #{$rwd}\:-scroll-m-($v) {
      @include scroll-margin(-$v, $#{$rwd});
    }

    @mixin #{$rwd}\:-scroll-mx-($v) {
      @include #{$rwd} {
        @include scroll-margin-left(-$v);
        @include scroll-margin-right(-$v);
      }
    }

    @mixin #{$rwd}\:-scroll-my-($v) {
      @include #{$rwd} {
        @include scroll-margin-top(-$v);
        @include scroll-margin-bottom(-$v);
      }
    }

    @mixin #{$rwd}\:-scroll-ms-($v) {
      @include scroll-margin-inline-start(-$v, $#{$rwd});
    }

    @mixin #{$rwd}\:-scroll-me-($v) {
      @include scroll-margin-inline-end(-$v, $#{$rwd});
    }

    @mixin #{$rwd}\:-scroll-mt-($v) {
      @include scroll-margin-top(-$v, $#{$rwd});
    }

    @mixin #{$rwd}\:-scroll-mr-($v) {
      @include scroll-margin-right(-$v, $#{$rwd});
    }

    @mixin #{$rwd}\:-scroll-mb-($v) {
      @include scroll-margin-bottom(-$v, $#{$rwd});
    }

    @mixin #{$rwd}\:-scroll-ml-($v) {
      @include scroll-margin-left(-$v, $#{$rwd});
    }
    x*/
  }
}