@use "../../setting" as *;


$BackgroundsClip: (
  "bg-clip-border": border-box,
  "bg-clip-padding": padding-box,
  "bg-clip-content": content-box,
  "bg-clip-text": text,
);

@if $Basic {
  @each $key, $value in $BackgroundsClip {
    /*x
    @mixin #{$key}{
      @include background-clip(#{$value});
    }
    x*/
  }
}

@if $Rwd {
  @each $rwd in $rwdBox {
    @each $key, $value in $BackgroundsClip {
      /*x
      @mixin #{$rwd}\:#{$key}{
        @include background-clip(#{$value}, $#{$key});
      }
      x*/
    }
  }
}