@use "../../setting" as *;

$PointerEvents: (
  "pointer-events-none": none,
  "pointer-events-auto": auto,
);

@if $Basic {
  @each $key, $value in $PointerEvents {
    /*x
    @mixin #{$key} {
      @include pointer-events(#{$value});
    }
    x*/
  }
}

@if $Rwd {
  @each $rwd in $rwdBox {
    @each $key, $value in $PointerEvents {
      /*x
      @mixin #{$rwd}\:#{$key} {
        @include pointer-events(#{$value}, $#{$rwd});
      }
      x*/
    }
  }
}