@use "true" as *;
@use "../awaken" as *;

@include describe("8.Effects") {
  @include describe("Mix Blend Mode") {
    @include describe("Basic") {
      @include it("mix-blend-normal") {
        @include assert {
          @include output {
            @include mix-blend-normal;
            @include utils_reset-tw;
          }

          @include expect {
            mix-blend-mode: normal;
          }
        }
      }

      @include it("mix-blend-multiply") {
        @include assert {
          @include output {
            @include mix-blend-multiply;
            @include utils_reset-tw;
          }

          @include expect {
            mix-blend-mode: multiply;
          }
        }
      }

      @include it("mix-blend-screen") {
        @include assert {
          @include output {
            @include mix-blend-screen;
            @include utils_reset-tw;
          }

          @include expect {
            mix-blend-mode: screen;
          }
        }
      }

      @include it("mix-blend-overlay") {
        @include assert {
          @include output {
            @include mix-blend-overlay;
            @include utils_reset-tw;
          }

          @include expect {
            mix-blend-mode: overlay;
          }
        }
      }

      @include it("mix-blend-darken") {
        @include assert {
          @include output {
            @include mix-blend-darken;
            @include utils_reset-tw;
          }

          @include expect {
            mix-blend-mode: darken;
          }
        }
      }

      @include it("mix-blend-lighten") {
        @include assert {
          @include output {
            @include mix-blend-lighten;
            @include utils_reset-tw;
          }

          @include expect {
            mix-blend-mode: lighten;
          }
        }
      }

      @include it("mix-blend-color-dodge") {
        @include assert {
          @include output {
            @include mix-blend-color-dodge;
            @include utils_reset-tw;
          }

          @include expect {
            mix-blend-mode: color-dodge;
          }
        }
      }

      @include it("mix-blend-color-burn") {
        @include assert {
          @include output {
            @include mix-blend-color-burn;
            @include utils_reset-tw;
          }

          @include expect {
            mix-blend-mode: color-burn;
          }
        }
      }

      @include it("mix-blend-hard-light") {
        @include assert {
          @include output {
            @include mix-blend-hard-light;
            @include utils_reset-tw;
          }

          @include expect {
            mix-blend-mode: hard-light;
          }
        }
      }

      @include it("mix-blend-soft-light") {
        @include assert {
          @include output {
            @include mix-blend-soft-light;
            @include utils_reset-tw;
          }

          @include expect {
            mix-blend-mode: soft-light;
          }
        }
      }

      @include it("mix-blend-difference") {
        @include assert {
          @include output {
            @include mix-blend-difference;
            @include utils_reset-tw;
          }

          @include expect {
            mix-blend-mode: difference;
          }
        }
      }

      @include it("mix-blend-exclusion") {
        @include assert {
          @include output {
            @include mix-blend-exclusion;
            @include utils_reset-tw;
          }

          @include expect {
            mix-blend-mode: exclusion;
          }
        }
      }

      @include it("mix-blend-hue") {
        @include assert {
          @include output {
            @include mix-blend-hue;
            @include utils_reset-tw;
          }

          @include expect {
            mix-blend-mode: hue;
          }
        }
      }

      @include it("mix-blend-saturation") {
        @include assert {
          @include output {
            @include mix-blend-saturation;
            @include utils_reset-tw;
          }

          @include expect {
            mix-blend-mode: saturation;
          }
        }
      }

      @include it("mix-blend-color") {
        @include assert {
          @include output {
            @include mix-blend-color;
            @include utils_reset-tw;
          }

          @include expect {
            mix-blend-mode: color;
          }
        }
      }

      @include it("mix-blend-luminosity") {
        @include assert {
          @include output {
            @include mix-blend-luminosity;
            @include utils_reset-tw;
          }

          @include expect {
            mix-blend-mode: luminosity;
          }
        }
      }

      @include it("mix-blend-plus-darker") {
        @include assert {
          @include output {
            @include mix-blend-plus-darker;
            @include utils_reset-tw;
          }

          @include expect {
            mix-blend-mode: plus-darker;
          }
        }
      }

      @include it("mix-blend-plus-lighter") {
        @include assert {
          @include output {
            @include mix-blend-plus-lighter;
            @include utils_reset-tw;
          }

          @include expect {
            mix-blend-mode: plus-lighter;
          }
        }
      }
    }
  }
}
