@use "../../setting" as *;


$Overflow: (
  "overflow-auto": auto,
  "overflow-hidden": hidden,
  "overflow-clip": clip,
  "overflow-visible": visible,
  "overflow-scroll": scroll,
);

$Overflow2: (
  "overflow-x-auto": auto,
  "overflow-x-hidden": hidden,
  "overflow-x-clip": clip,
  "overflow-x-visible": visible,
  "overflow-x-scroll": scroll,
);

$Overflow3: (
  "overflow-y-auto": auto,
  "overflow-y-hidden": hidden,
  "overflow-y-clip": clip,
  "overflow-y-visible": visible,
  "overflow-y-scroll": scroll,
);

@if $Basic {
  @each $key, $value in $Overflow {
    /*x
    @mixin #{$key} {
      @include overflow(#{$value});
    }
    x*/
  }

  @each $key, $value in $Overflow2 {
    /*x
    @mixin #{$key} {
      @include overflow-x(#{$value});
    }
    x*/
  }

  @each $key, $value in $Overflow3 {
    /*x
    @mixin #{$key} {
      @include overflow-y(#{$value});
    }
    x*/
  }
}

@if $Rwd {
  @each $rwd in $rwdBox {
    @each $key, $value in $Overflow {
      /*x
      @mixin #{$rwd}\:#{$key} {
        @include overflow(#{$value}, $#{$rwd});
      }
      x*/
    }

    @each $key, $value in $Overflow2 {
      /*x
      @mixin #{$rwd}\:#{$key} {
        @include overflow-x(#{$value}, $#{$rwd});
      }
      x*/
    }

    @each $key, $value in $Overflow3 {
      /*x
      @mixin #{$rwd}\:#{$key} {
        @include overflow-y(#{$value}, $#{$rwd});
      }
      x*/
    }
  }
}