@use "../../setting" as *;

$Saturate: (
  "saturate-0": saturate(0),
  "saturate-50": saturate(0.5),
  "saturate-100": saturate(1),
  "saturate-150": saturate(1.5),
  "saturate-200": saturate(2),
);

@if $Basic {
  @each $key, $value in $Saturate {
    /*x
    @mixin #{$key} {
      $tw-saturate: #{$value} !global;
      @include filter(get_filter());
    }
    x*/
  }
}

@if $Rwd and ($sizeMode ==0 or $sizeMode ==1) {
  @each $rwd in $rwdBox {
    @each $key, $value in $Saturate {
      /*x
      @mixin #{$rwd}\:#{$key} {
        $tw-saturate: #{$value} !global;
        @include filter(get_filter(), $#{$rwd});
      }
      x*/
    }
  }
}

@if $Custom {
  /*x
  @mixin saturate-($v) {
    $tw-saturate: saturate($v) !global;
    @include filter(get_filter());
  }
  x*/

  @each $rwd in $rwdBox {
    /*x
    @mixin #{$rwd}\:saturate-($v) {
      $tw-saturate: saturate($v) !global;
      @include filter(get_filter(), $#{$rwd});
    }
    x*/
  }
}
