@use "../../setting" as *;

@if $BackgroundsImage {
  /* BackgroundsImage */
  @if $Basic {
    #mixin__bg-none {
      background-image: none;
    }

    #mixin__bg-gradient-to-t {
      background-image: linear-gradient(to top, var(--tw-gradient-stops));
    }

    #mixin__bg-gradient-to-tr {
      background-image: linear-gradient(to top right, var(--tw-gradient-stops));
    }

    #mixin__bg-gradient-to-r {
      background-image: linear-gradient(to right, var(--tw-gradient-stops));
    }

    #mixin__bg-gradient-to-br {
      background-image: linear-gradient(
        to bottom right,
        var(--tw-gradient-stops)
      );
    }

    #mixin__bg-gradient-to-b {
      background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
    }

    #mixin__bg-gradient-to-bl {
      background-image: linear-gradient(
        to bottom left,
        var(--tw-gradient-stops)
      );
    }

    #mixin__bg-gradient-to-l {
      background-image: linear-gradient(to left, var(--tw-gradient-stops));
    }

    #mixin__bg-gradient-to-tl {
      background-image: linear-gradient(to top left, var(--tw-gradient-stops));
    }
  }

  @if $Rwd {
    // reducing size for updating speed
    @if $isLite {
      /* Purpose(name conflict): bg -> bg-image */
      #mixin__sm\:bg-image-v {
        @media (min-width: $breakpoint-sm) {
          background-image: v;
        }
      }

      #mixin__md\:bg-image-v {
        @media (min-width: $breakpoint-md) {
          background-image: v;
        }
      }

      #mixin__lg\:bg-image-v {
        @media (min-width: $breakpoint-lg) {
          background-image: v;
        }
      }

      #mixin__xl\:bg-image-v {
        @media (min-width: $breakpoint-xl) {
          background-image: v;
        }
      }

      #mixin__\\2xl\:bg-image-v {
        @media (min-width: $breakpoint-2xl) {
          background-image: v;
        }
      }
    }

    // tailwind default
    @else {
    }
  }

  @if $Custom {
    /* Purpose(name conflict): bg -> bg-image */
    #mixin__bg-image-v {
      background-image: v;
    }
  }
}
