@use "../../../settings/structures" as *;

@if $Position {
  /* Position */
  @if $Basic {
    #mixin__static {
      position: static;
    }

    #mixin__fixed {
      position: fixed;
    }

    #mixin__absolute {
      position: absolute;
    }

    #mixin__relative {
      position: relative;
    }

    #mixin__sticky {
      position: sticky;
    }
  }

  @if $Rwd {
    #mixin__sm\:static {
      @media (min-width: $breakpoint-sm) {
        position: static;
      }
    }

    #mixin__sm\:fixed {
      @media (min-width: $breakpoint-sm) {
        position: fixed;
      }
    }

    #mixin__sm\:absolute {
      @media (min-width: $breakpoint-sm) {
        position: absolute;
      }
    }

    #mixin__sm\:relative {
      @media (min-width: $breakpoint-sm) {
        position: relative;
      }
    }

    #mixin__sm\:sticky {
      @media (min-width: $breakpoint-sm) {
        position: sticky;
      }
    }

    #mixin__md\:static {
      @media (min-width: $breakpoint-md) {
        position: static;
      }
    }

    #mixin__md\:fixed {
      @media (min-width: $breakpoint-md) {
        position: fixed;
      }
    }

    #mixin__md\:absolute {
      @media (min-width: $breakpoint-md) {
        position: absolute;
      }
    }

    #mixin__md\:relative {
      @media (min-width: $breakpoint-md) {
        position: relative;
      }
    }

    #mixin__md\:sticky {
      @media (min-width: $breakpoint-md) {
        position: sticky;
      }
    }

    #mixin__lg\:static {
      @media (min-width: $breakpoint-lg) {
        position: static;
      }
    }

    #mixin__lg\:fixed {
      @media (min-width: $breakpoint-lg) {
        position: fixed;
      }
    }

    #mixin__lg\:absolute {
      @media (min-width: $breakpoint-lg) {
        position: absolute;
      }
    }

    #mixin__lg\:relative {
      @media (min-width: $breakpoint-lg) {
        position: relative;
      }
    }

    #mixin__lg\:sticky {
      @media (min-width: $breakpoint-lg) {
        position: sticky;
      }
    }

    #mixin__xl\:static {
      @media (min-width: $breakpoint-xl) {
        position: static;
      }
    }

    #mixin__xl\:fixed {
      @media (min-width: $breakpoint-xl) {
        position: fixed;
      }
    }

    #mixin__xl\:absolute {
      @media (min-width: $breakpoint-xl) {
        position: absolute;
      }
    }

    #mixin__xl\:relative {
      @media (min-width: $breakpoint-xl) {
        position: relative;
      }
    }

    #mixin__xl\:sticky {
      @media (min-width: $breakpoint-xl) {
        position: sticky;
      }
    }

    #mixin__\\2xl\:static {
      @media (min-width: $breakpoint-2xl) {
        position: static;
      }
    }

    #mixin__\\2xl\:fixed {
      @media (min-width: $breakpoint-2xl) {
        position: fixed;
      }
    }

    #mixin__\\2xl\:absolute {
      @media (min-width: $breakpoint-2xl) {
        position: absolute;
      }
    }

    #mixin__\\2xl\:relative {
      @media (min-width: $breakpoint-2xl) {
        position: relative;
      }
    }

    #mixin__\\2xl\:sticky {
      @media (min-width: $breakpoint-2xl) {
        position: sticky;
      }
    }
  }
}
