@use "../../../settings/structures" as *;

@if $Position {
  #mixin__static {
    position: static;
  }

  #mixin__fixed {
    position: fixed;
  }

  #mixin__absolute {
    position: absolute;
  }

  #mixin__relative {
    position: relative;
  }

  #mixin__sticky {
    position: sticky;
  }
}
