@use "../../setting" as *;

/* Text Wrap */
@if $Basic {
  // /*x
  @mixin text-wrap {
    text-wrap: wrap;
  }

  @mixin text-nowrap {
    text-wrap: nowrap;
  }

  @mixin text-balance {
    text-wrap: balance;
  }

  @mixin text-pretty {
    text-wrap: pretty;
  } // x*/
}

@if $Rwd {
  // /*x
  @mixin sm\:text-wrap {
    @include r($sm, text-wrap, wrap);
  }

  @mixin sm\:text-nowrap {
    @include r($sm, text-wrap, nowrap);
  }

  @mixin sm\:text-balance {
    @include r($sm, text-wrap, balance);
  }

  @mixin sm\:text-pretty {
    @include r($sm, text-wrap, pretty);
  }

  @mixin md\:text-wrap {
    @include r($md, text-wrap, wrap);
  }

  @mixin md\:text-nowrap {
    @include r($md, text-wrap, nowrap);
  }

  @mixin md\:text-balance {
    @include r($md, text-wrap, balance);
  }

  @mixin md\:text-pretty {
    @include r($md, text-wrap, pretty);
  }

  @mixin lg\:text-wrap {
    @include r($lg, text-wrap, wrap);
  }

  @mixin lg\:text-nowrap {
    @include r($lg, text-wrap, nowrap);
  }

  @mixin lg\:text-balance {
    @include r($lg, text-wrap, balance);
  }

  @mixin lg\:text-pretty {
    @include r($lg, text-wrap, pretty);
  }

  @mixin xl\:text-wrap {
    @include r($xl, text-wrap, wrap);
  }

  @mixin xl\:text-nowrap {
    @include r($xl, text-wrap, nowrap);
  }

  @mixin xl\:text-balance {
    @include r($xl, text-wrap, balance);
  }

  @mixin xl\:text-pretty {
    @include r($xl, text-wrap, pretty);
  }

  @mixin \2xl\:text-wrap {
    @include r($\2xl, text-wrap, wrap);
  }

  @mixin \2xl\:text-nowrap {
    @include r($\2xl, text-wrap, nowrap);
  }

  @mixin \2xl\:text-balance {
    @include r($\2xl, text-wrap, balance);
  }

  @mixin \2xl\:text-pretty {
    @include r($\2xl, text-wrap, pretty);
  } // x*/
}
