@use "../../setting" as *;


$GridAutoColumns: (
  "auto-cols-auto": auto,
  "auto-cols-min": min-content,
  "auto-cols-max": max-content,
  "auto-cols-fr": minmax(0, 1fr),
);

@if $Basic {
  @each $key, $value in $GridAutoColumns {
    /*x
    @mixin #{$key} {
      @include grid-auto-columns(#{$value});
    }
    x*/
  }
}

@if $Rwd and ($sizeMode ==0 or $sizeMode ==1) {
  @each $rwd in $rwdBox {
    @each $key, $value in $GridAutoColumns {
      /*x
      @mixin #{$rwd}\:#{$key} {
        @include grid-auto-columns(#{$value}, $#{$rwd});
      }
      x*/
    }
  }
}

@if $Custom {
  /*x
  @mixin auto-cols-($v) {
    @include grid-auto-columns($v);
  }
  x*/

  @each $rwd in $rwdBox {
    /*x
    @mixin #{$rwd}\:auto-cols-($v) {
      @include grid-auto-columns($v, $#{$rwd});
    }
    x*/
  }
}