@use "../../setting" as *;


$JustifySelf: (
  "justify-self-auto": auto,
  "justify-self-start": start,
  "justify-self-end": end,
  "justify-self-center": center,
  "justify-self-stretch": stretch,
);

@if $Basic {
  @each $key, $value in $JustifySelf {
    /*x
    @mixin #{$key} {
      @include justify-self(#{$value});
    }
    x*/
  }
}

@if $Rwd {
  @each $rwd in $rwdBox {
    @each $key, $value in $JustifySelf {
      /*x
      @mixin #{$rwd}\:#{$key} {
        @include justify-self(#{$value}, $#{$rwd});
      }
      x*/
    }
  }
}