@use "../../setting" as *;

/* Justify Self */
@if $Basic {
  // /*x
  @mixin justify-self-auto {
    justify-self: auto;
  }

  @mixin justify-self-start {
    justify-self: start;
  }

  @mixin justify-self-end {
    justify-self: end;
  }

  @mixin justify-self-center {
    justify-self: center;
  }

  @mixin justify-self-stretch {
    justify-self: stretch;
  }

  // x*/
}

@if $Rwd {
  // /*x
  @mixin sm\:justify-self-auto {
    @include sm\:justify-self(auto);
  }

  @mixin sm\:justify-self-start {
    @include sm\:justify-self(start);
  }

  @mixin sm\:justify-self-end {
    @include sm\:justify-self(end);
  }

  @mixin sm\:justify-self-center {
    @include sm\:justify-self(center);
  }

  @mixin sm\:justify-self-stretch {
    @include sm\:justify-self(stretch);
  }

  @mixin md\:justify-self-auto {
    @include md\:justify-self(auto);
  }

  @mixin md\:justify-self-start {
    @include md\:justify-self(start);
  }

  @mixin md\:justify-self-end {
    @include md\:justify-self(end);
  }

  @mixin md\:justify-self-center {
    @include md\:justify-self(center);
  }

  @mixin md\:justify-self-stretch {
    @include md\:justify-self(stretch);
  }

  @mixin lg\:justify-self-auto {
    @include lg\:justify-self(auto);
  }

  @mixin lg\:justify-self-start {
    @include lg\:justify-self(start);
  }

  @mixin lg\:justify-self-end {
    @include lg\:justify-self(end);
  }

  @mixin lg\:justify-self-center {
    @include lg\:justify-self(center);
  }

  @mixin lg\:justify-self-stretch {
    @include lg\:justify-self(stretch);
  }

  @mixin xl\:justify-self-auto {
    @include xl\:justify-self(auto);
  }

  @mixin xl\:justify-self-start {
    @include xl\:justify-self(start);
  }

  @mixin xl\:justify-self-end {
    @include xl\:justify-self(end);
  }

  @mixin xl\:justify-self-center {
    @include xl\:justify-self(center);
  }

  @mixin xl\:justify-self-stretch {
    @include xl\:justify-self(stretch);
  }

  @mixin \2xl\:justify-self-auto {
    @include \2xl\:justify-self(auto);
  }

  @mixin \2xl\:justify-self-start {
    @include \2xl\:justify-self(start);
  }

  @mixin \2xl\:justify-self-end {
    @include \2xl\:justify-self(end);
  }

  @mixin \2xl\:justify-self-center {
    @include \2xl\:justify-self(center);
  }

  @mixin \2xl\:justify-self-stretch {
    @include \2xl\:justify-self(stretch);
  }

  // x*/
}
