@use "../../../settings/structures" as *;

@if $Display {
  #mixin__block {
    display: block;
  }

  #mixin__inline-block {
    display: inline-block;
  }

  #mixin__inline {
    display: inline;
  }

  #mixin__flex {
    display: flex;
  }

  #mixin__inline-flex {
    display: inline-flex;
  }

  #mixin__table {
    display: table;
  }

  #mixin__inline-table {
    display: inline-table;
  }

  #mixin__table-caption {
    display: table-caption;
  }

  #mixin__table-cell {
    display: table-cell;
  }

  #mixin__table-column {
    display: table-column;
  }

  #mixin__table-column-group {
    display: table-column-group;
  }

  #mixin__table-footer-group {
    display: table-footer-group;
  }

  #mixin__table-header-group {
    display: table-header-group;
  }

  #mixin__table-row-group {
    display: table-row-group;
  }

  #mixin__table-row {
    display: table-row;
  }

  #mixin__flow-root {
    display: flow-root;
  }

  #mixin__grid {
    display: grid;
  }

  #mixin__inline-grid {
    display: inline-grid;
  }

  #mixin__contents {
    display: contents;
  }

  #mixin__list-item {
    display: list-item;
  }

  #mixin__hidden {
    display: none;
  }
}
