@use "../../../settings/structures" as *;

@if $ScrollSnapType {
  #mixin__snap-none {
    scroll-snap-type: none;
  }

  #mixin__snap-x {
    scroll-snap-type: x var(--tw-scroll-snap-strictness);
  }

  #mixin__snap-y {
    scroll-snap-type: y var(--tw-scroll-snap-strictness);
  }

  #mixin__snap-both {
    scroll-snap-type: both var(--tw-scroll-snap-strictness);
  }

  #mixin__snap-mandatory {
    --tw-scroll-snap-strictness: mandatory;
  }

  #mixin__snap-proximity {
    --tw-scroll-snap-strictness: proximity;
  }
}
