@use "../../setting" as *;


$Flex: (
  "flex-1": 1 1 0%,
  "flex-auto": 1 1 auto,
  "flex-initial": 0 1 auto,
  "flex-none": none,
);

@if $Basic {
  @each $key, $value in $Flex {
    /*x
    @mixin #{$key} {
      @include flex(#{$value});
    }
    x*/
  }
}

@if $Rwd and ($sizeMode ==0 or $sizeMode ==1) {
  @each $rwd in $rwdBox {
    @each $key, $value in $Flex {
      /*x
      @mixin #{$rwd}\:#{$key} {
        @include flex(#{$value}, $#{$rwd});
      }
      x*/
    }
  }
}

@if $Custom {
  /*x
  @mixin flex-($v) {
    @include flex($v);
  }
  x*/

  @each $rwd in $rwdBox {
    /*x
    @mixin #{$rwd}\:flex-($v) {
      @include flex($v, $#{$rwd});
    }
    x*/
  }
}