@use "../../setting" as *;

/* Backgrounds Origin */
@if $Basic {
  // /*x
  @mixin bg-origin-border {
    background-origin: border-box;
  }

  @mixin bg-origin-padding {
    background-origin: padding-box;
  }

  @mixin bg-origin-content {
    background-origin: content-box;
  } // x*/
}

@if $Rwd {
  // /*x
  @mixin sm\:bg-origin-border {
    @include r($sm, background-origin, border-box);
  }

  @mixin sm\:bg-origin-padding {
    @include r($sm, background-origin, padding-box);
  }

  @mixin sm\:bg-origin-content {
    @include r($sm, background-origin, content-box);
  }

  @mixin md\:bg-origin-border {
    @include r($md, background-origin, border-box);
  }

  @mixin md\:bg-origin-padding {
    @include r($md, background-origin, padding-box);
  }

  @mixin md\:bg-origin-content {
    @include r($md, background-origin, content-box);
  }

  @mixin lg\:bg-origin-border {
    @include r($lg, background-origin, border-box);
  }

  @mixin lg\:bg-origin-padding {
    @include r($lg, background-origin, padding-box);
  }

  @mixin lg\:bg-origin-content {
    @include r($lg, background-origin, content-box);
  }

  @mixin xl\:bg-origin-border {
    @include r($xl, background-origin, border-box);
  }

  @mixin xl\:bg-origin-padding {
    @include r($xl, background-origin, padding-box);
  }

  @mixin xl\:bg-origin-content {
    @include r($xl, background-origin, content-box);
  }

  @mixin \2xl\:bg-origin-border {
    @include r($\2xl, background-origin, border-box);
  }

  @mixin \2xl\:bg-origin-padding {
    @include r($\2xl, background-origin, padding-box);
  }

  @mixin \2xl\:bg-origin-content {
    @include r($\2xl, background-origin, content-box);
  } // x*/
}
