@use "../../setting" as *;

/* Place Self */
@if $Basic {
  @mixin place-self-auto {
    place-self: auto;
  }

  @mixin place-self-start {
    place-self: start;
  }

  @mixin place-self-end {
    place-self: end;
  }

  @mixin place-self-center {
    place-self: center;
  }

  @mixin place-self-stretch {
    place-self: stretch;
  }
}

@if $Rwd {
  @mixin sm\:place-self-auto {
    @media (min-width: $breakpoint-sm) {
      place-self: auto;
    }
  }

  @mixin sm\:place-self-start {
    @media (min-width: $breakpoint-sm) {
      place-self: start;
    }
  }

  @mixin sm\:place-self-end {
    @media (min-width: $breakpoint-sm) {
      place-self: end;
    }
  }

  @mixin sm\:place-self-center {
    @media (min-width: $breakpoint-sm) {
      place-self: center;
    }
  }

  @mixin sm\:place-self-stretch {
    @media (min-width: $breakpoint-sm) {
      place-self: stretch;
    }
  }

  @mixin md\:place-self-auto {
    @media (min-width: $breakpoint-md) {
      place-self: auto;
    }
  }

  @mixin md\:place-self-start {
    @media (min-width: $breakpoint-md) {
      place-self: start;
    }
  }

  @mixin md\:place-self-end {
    @media (min-width: $breakpoint-md) {
      place-self: end;
    }
  }

  @mixin md\:place-self-center {
    @media (min-width: $breakpoint-md) {
      place-self: center;
    }
  }

  @mixin md\:place-self-stretch {
    @media (min-width: $breakpoint-md) {
      place-self: stretch;
    }
  }

  @mixin lg\:place-self-auto {
    @media (min-width: $breakpoint-lg) {
      place-self: auto;
    }
  }

  @mixin lg\:place-self-start {
    @media (min-width: $breakpoint-lg) {
      place-self: start;
    }
  }

  @mixin lg\:place-self-end {
    @media (min-width: $breakpoint-lg) {
      place-self: end;
    }
  }

  @mixin lg\:place-self-center {
    @media (min-width: $breakpoint-lg) {
      place-self: center;
    }
  }

  @mixin lg\:place-self-stretch {
    @media (min-width: $breakpoint-lg) {
      place-self: stretch;
    }
  }

  @mixin xl\:place-self-auto {
    @media (min-width: $breakpoint-xl) {
      place-self: auto;
    }
  }

  @mixin xl\:place-self-start {
    @media (min-width: $breakpoint-xl) {
      place-self: start;
    }
  }

  @mixin xl\:place-self-end {
    @media (min-width: $breakpoint-xl) {
      place-self: end;
    }
  }

  @mixin xl\:place-self-center {
    @media (min-width: $breakpoint-xl) {
      place-self: center;
    }
  }

  @mixin xl\:place-self-stretch {
    @media (min-width: $breakpoint-xl) {
      place-self: stretch;
    }
  }

  @mixin \2xl\:place-self-auto {
    @media (min-width: $breakpoint-2xl) {
      place-self: auto;
    }
  }

  @mixin \2xl\:place-self-start {
    @media (min-width: $breakpoint-2xl) {
      place-self: start;
    }
  }

  @mixin \2xl\:place-self-end {
    @media (min-width: $breakpoint-2xl) {
      place-self: end;
    }
  }

  @mixin \2xl\:place-self-center {
    @media (min-width: $breakpoint-2xl) {
      place-self: center;
    }
  }

  @mixin \2xl\:place-self-stretch {
    @media (min-width: $breakpoint-2xl) {
      place-self: stretch;
    }
  }
}
