@use "../../setting" as *;

/* Text Decoration Style */
@if $Basic {
  @mixin_decoration-solid {
    text-decoration-style: solid;
  }

  @mixin_decoration-double {
    text-decoration-style: double;
  }

  @mixin_decoration-dotted {
    text-decoration-style: dotted;
  }

  @mixin_decoration-dashed {
    text-decoration-style: dashed;
  }

  @mixin_decoration-wavy {
    text-decoration-style: wavy;
  }
}

@if $Rwd {
  @mixin_sm\:decoration-solid {
    @media (min-width: $breakpoint-sm) {
      text-decoration-style: solid;
    }
  }

  @mixin_sm\:decoration-double {
    @media (min-width: $breakpoint-sm) {
      text-decoration-style: double;
    }
  }

  @mixin_sm\:decoration-dotted {
    @media (min-width: $breakpoint-sm) {
      text-decoration-style: dotted;
    }
  }

  @mixin_sm\:decoration-dashed {
    @media (min-width: $breakpoint-sm) {
      text-decoration-style: dashed;
    }
  }

  @mixin_sm\:decoration-wavy {
    @media (min-width: $breakpoint-sm) {
      text-decoration-style: wavy;
    }
  }

  @mixin_md\:decoration-solid {
    @media (min-width: $breakpoint-md) {
      text-decoration-style: solid;
    }
  }

  @mixin_md\:decoration-double {
    @media (min-width: $breakpoint-md) {
      text-decoration-style: double;
    }
  }

  @mixin_md\:decoration-dotted {
    @media (min-width: $breakpoint-md) {
      text-decoration-style: dotted;
    }
  }

  @mixin_md\:decoration-dashed {
    @media (min-width: $breakpoint-md) {
      text-decoration-style: dashed;
    }
  }

  @mixin_md\:decoration-wavy {
    @media (min-width: $breakpoint-md) {
      text-decoration-style: wavy;
    }
  }

  @mixin_lg\:decoration-solid {
    @media (min-width: $breakpoint-lg) {
      text-decoration-style: solid;
    }
  }

  @mixin_lg\:decoration-double {
    @media (min-width: $breakpoint-lg) {
      text-decoration-style: double;
    }
  }

  @mixin_lg\:decoration-dotted {
    @media (min-width: $breakpoint-lg) {
      text-decoration-style: dotted;
    }
  }

  @mixin_lg\:decoration-dashed {
    @media (min-width: $breakpoint-lg) {
      text-decoration-style: dashed;
    }
  }

  @mixin_lg\:decoration-wavy {
    @media (min-width: $breakpoint-lg) {
      text-decoration-style: wavy;
    }
  }

  @mixin_xl\:decoration-solid {
    @media (min-width: $breakpoint-xl) {
      text-decoration-style: solid;
    }
  }

  @mixin_xl\:decoration-double {
    @media (min-width: $breakpoint-xl) {
      text-decoration-style: double;
    }
  }

  @mixin_xl\:decoration-dotted {
    @media (min-width: $breakpoint-xl) {
      text-decoration-style: dotted;
    }
  }

  @mixin_xl\:decoration-dashed {
    @media (min-width: $breakpoint-xl) {
      text-decoration-style: dashed;
    }
  }

  @mixin_xl\:decoration-wavy {
    @media (min-width: $breakpoint-xl) {
      text-decoration-style: wavy;
    }
  }

  @mixin_\\2xl\:decoration-solid {
    @media (min-width: $breakpoint-2xl) {
      text-decoration-style: solid;
    }
  }

  @mixin_\\2xl\:decoration-double {
    @media (min-width: $breakpoint-2xl) {
      text-decoration-style: double;
    }
  }

  @mixin_\\2xl\:decoration-dotted {
    @media (min-width: $breakpoint-2xl) {
      text-decoration-style: dotted;
    }
  }

  @mixin_\\2xl\:decoration-dashed {
    @media (min-width: $breakpoint-2xl) {
      text-decoration-style: dashed;
    }
  }

  @mixin_\\2xl\:decoration-wavy {
    @media (min-width: $breakpoint-2xl) {
      text-decoration-style: wavy;
    }
  }
}
