@use "../../setting" as *;

/* Backgrounds Position */
@if $Basic {
  // /*x
  @mixin bg-bottom {
    background-position: bottom;
  }

  @mixin bg-center {
    background-position: center;
  }

  @mixin bg-left {
    background-position: left;
  }

  @mixin bg-left-bottom {
    background-position: left bottom;
  }

  @mixin bg-left-top {
    background-position: left top;
  }

  @mixin bg-right {
    background-position: right;
  }

  @mixin bg-right-bottom {
    background-position: right bottom;
  }

  @mixin bg-right-top {
    background-position: right top;
  }

  @mixin bg-top {
    background-position: top;
  } // x*/
}

@if $Rwd {
  // /*x
  @mixin sm\:bg-bottom {
    @include r(sm, background-position, bottom);
  }

  @mixin sm\:bg-center {
    @include r(sm, background-position, center);
  }

  @mixin sm\:bg-left {
    @include r(sm, background-position, left);
  }

  @mixin sm\:bg-left-bottom {
    @include r(sm, background-position, left bottom);
  }

  @mixin sm\:bg-left-top {
    @include r(sm, background-position, left top);
  }

  @mixin sm\:bg-right {
    @include r(sm, background-position, right);
  }

  @mixin sm\:bg-right-bottom {
    @include r(sm, background-position, right bottom);
  }

  @mixin sm\:bg-right-top {
    @include r(sm, background-position, right top);
  }

  @mixin sm\:bg-top {
    @include r(sm, background-position, top);
  }
  @mixin md\:bg-bottom {
    @include r(md, background-position, bottom);
  }

  @mixin md\:bg-center {
    @include r(md, background-position, center);
  }

  @mixin md\:bg-left {
    @include r(md, background-position, left);
  }

  @mixin md\:bg-left-bottom {
    @include r(md, background-position, left bottom);
  }

  @mixin md\:bg-left-top {
    @include r(md, background-position, left top);
  }

  @mixin md\:bg-right {
    @include r(md, background-position, right);
  }

  @mixin md\:bg-right-bottom {
    @include r(md, background-position, right bottom);
  }

  @mixin md\:bg-right-top {
    @include r(md, background-position, right top);
  }

  @mixin md\:bg-top {
    @include r(md, background-position, top);
  }
  @mixin lg\:bg-bottom {
    @include r(lg, background-position, bottom);
  }

  @mixin lg\:bg-center {
    @include r(lg, background-position, center);
  }

  @mixin lg\:bg-left {
    @include r(lg, background-position, left);
  }

  @mixin lg\:bg-left-bottom {
    @include r(lg, background-position, left bottom);
  }

  @mixin lg\:bg-left-top {
    @include r(lg, background-position, left top);
  }

  @mixin lg\:bg-right {
    @include r(lg, background-position, right);
  }

  @mixin lg\:bg-right-bottom {
    @include r(lg, background-position, right bottom);
  }

  @mixin lg\:bg-right-top {
    @include r(lg, background-position, right top);
  }

  @mixin lg\:bg-top {
    @include r(lg, background-position, top);
  }
  @mixin xl\:bg-bottom {
    @include r(xl, background-position, bottom);
  }

  @mixin xl\:bg-center {
    @include r(xl, background-position, center);
  }

  @mixin xl\:bg-left {
    @include r(xl, background-position, left);
  }

  @mixin xl\:bg-left-bottom {
    @include r(xl, background-position, left bottom);
  }

  @mixin xl\:bg-left-top {
    @include r(xl, background-position, left top);
  }

  @mixin xl\:bg-right {
    @include r(xl, background-position, right);
  }

  @mixin xl\:bg-right-bottom {
    @include r(xl, background-position, right bottom);
  }

  @mixin xl\:bg-right-top {
    @include r(xl, background-position, right top);
  }

  @mixin xl\:bg-top {
    @include r(xl, background-position, top);
  }
  @mixin \2xl\:bg-bottom {
    @include r(2xl, background-position, bottom);
  }

  @mixin \2xl\:bg-center {
    @include r(2xl, background-position, center);
  }

  @mixin \2xl\:bg-left {
    @include r(2xl, background-position, left);
  }

  @mixin \2xl\:bg-left-bottom {
    @include r(2xl, background-position, left bottom);
  }

  @mixin \2xl\:bg-left-top {
    @include r(2xl, background-position, left top);
  }

  @mixin \2xl\:bg-right {
    @include r(2xl, background-position, right);
  }

  @mixin \2xl\:bg-right-bottom {
    @include r(2xl, background-position, right bottom);
  }

  @mixin \2xl\:bg-right-top {
    @include r(2xl, background-position, right top);
  }

  @mixin \2xl\:bg-top {
    @include r(2xl, background-position, top);
  }

  @mixin sm\:bg-position-($v) {
    @include r(sm, background-position, $v);
  }

  @mixin md\:bg-position-($v) {
    @include r(md, background-position, $v);
  }

  @mixin lg\:bg-position-($v) {
    @include r(lg, background-position, $v);
  }

  @mixin xl\:bg-position-($v) {
    @include r(xl, background-position, $v);
  }

  @mixin \2xl\:bg-position-($v) {
    @include r(2xl, background-position, $v);
  } // x*/
}

/* Naming collision: bg -> bg-position */
@if $Custom {
  // /*x
  @mixin bg-position-($v) {
    background-position: $v;
  } // x*/
}
