@use "../../mode0" as *;
@use "true" as *;

@include describe("9.Filters") {
  @include describe("Backdrop Grayscale") {
    @include describe("Basic") {
      @include it("backdrop-grayscale-0") {
        @include assert {
          @include output {
            @include backdrop-grayscale-0;
            @include clear;
          }

          @include expect {
            backdrop-filter: grayscale(0);
          }
        }
      }

      @include it("backdrop-grayscale") {
        @include assert {
          @include output {
            @include backdrop-grayscale;
            @include clear;
          }

          @include expect {
            backdrop-filter: grayscale(100%);
          }
        }
      }
    }

    @include describe("Rwd") {
      @include it("sm\:backdrop-grayscale-0") {
        @include assert {
          @include output {
            @include sm\:backdrop-grayscale-0;
            @include clear;
          }

          @include expect {
            @media (min-width: $sm) {
              backdrop-filter: grayscale(0);
            }
          }
        }
      }

      @include it("sm\:backdrop-grayscale") {
        @include assert {
          @include output {
            @include sm\:backdrop-grayscale;
            @include clear;
          }

          @include expect {
            @media (min-width: $sm) {
              backdrop-filter: grayscale(100%);
            }
          }
        }
      }

      @include it("md\:backdrop-grayscale-0") {
        @include assert {
          @include output {
            @include md\:backdrop-grayscale-0;
            @include clear;
          }

          @include expect {
            @media (min-width: $md) {
              backdrop-filter: grayscale(0);
            }
          }
        }
      }

      @include it("md\:backdrop-grayscale") {
        @include assert {
          @include output {
            @include md\:backdrop-grayscale;
            @include clear;
          }

          @include expect {
            @media (min-width: $md) {
              backdrop-filter: grayscale(100%);
            }
          }
        }
      }

      @include it("lg\:backdrop-grayscale-0") {
        @include assert {
          @include output {
            @include lg\:backdrop-grayscale-0;
            @include clear;
          }

          @include expect {
            @media (min-width: $lg) {
              backdrop-filter: grayscale(0);
            }
          }
        }
      }

      @include it("lg\:backdrop-grayscale") {
        @include assert {
          @include output {
            @include lg\:backdrop-grayscale;
            @include clear;
          }

          @include expect {
            @media (min-width: $lg) {
              backdrop-filter: grayscale(100%);
            }
          }
        }
      }

      @include it("xl\:backdrop-grayscale-0") {
        @include assert {
          @include output {
            @include xl\:backdrop-grayscale-0;
            @include clear;
          }

          @include expect {
            @media (min-width: $xl) {
              backdrop-filter: grayscale(0);
            }
          }
        }
      }

      @include it("xl\:backdrop-grayscale") {
        @include assert {
          @include output {
            @include xl\:backdrop-grayscale;
            @include clear;
          }

          @include expect {
            @media (min-width: $xl) {
              backdrop-filter: grayscale(100%);
            }
          }
        }
      }

      @include it("\2xl\:backdrop-grayscale-0") {
        @include assert {
          @include output {
            @include \2xl\:backdrop-grayscale-0;
            @include clear;
          }

          @include expect {
            @media (min-width: $\2xl) {
              backdrop-filter: grayscale(0);
            }
          }
        }
      }

      @include it("\2xl\:backdrop-grayscale") {
        @include assert {
          @include output {
            @include \2xl\:backdrop-grayscale;
            @include clear;
          }

          @include expect {
            @media (min-width: $\2xl) {
              backdrop-filter: grayscale(100%);
            }
          }
        }
      }
    }

    @include describe("Custom") {
      @include it("backdrop-grayscale-(.5)") {
        @include assert {
          @include output {
            @include backdrop-grayscale-(0.5);
            @include clear;
          }

          @include expect {
            backdrop-filter: grayscale(0.5);
          }
        }
      }

      @include it("sm\:backdrop-grayscale-(.5)") {
        @include assert {
          @include output {
            @include sm\:backdrop-grayscale-(0.5);
            @include clear;
          }

          @include expect {
            @media (min-width: $sm) {
              backdrop-filter: grayscale(0.5);
            }
          }
        }
      }

      @include it("md\:backdrop-grayscale-(.5)") {
        @include assert {
          @include output {
            @include md\:backdrop-grayscale-(0.5);
            @include clear;
          }

          @include expect {
            @media (min-width: $md) {
              backdrop-filter: grayscale(0.5);
            }
          }
        }
      }

      @include it("lg\:backdrop-grayscale-(.5)") {
        @include assert {
          @include output {
            @include lg\:backdrop-grayscale-(0.5);
            @include clear;
          }

          @include expect {
            @media (min-width: $lg) {
              backdrop-filter: grayscale(0.5);
            }
          }
        }
      }

      @include it("xl\:backdrop-grayscale-(.5)") {
        @include assert {
          @include output {
            @include xl\:backdrop-grayscale-(0.5);
            @include clear;
          }

          @include expect {
            @media (min-width: $xl) {
              backdrop-filter: grayscale(0.5);
            }
          }
        }
      }

      @include it("\2xl\:backdrop-grayscale-(.5)") {
        @include assert {
          @include output {
            @include \2xl\:backdrop-grayscale-(0.5);
            @include clear;
          }

          @include expect {
            @media (min-width: $\2xl) {
              backdrop-filter: grayscale(0.5);
            }
          }
        }
      }
    }
  }
}
