@use "../../setting" as *;


$PlaceItems: (
  "place-items-start": start,
  "place-items-end": end,
  "place-items-center": center,
  "place-items-baseline": baseline,
  "place-items-stretch": stretch,
);

@if $Basic {
  @each $key, $value in $PlaceItems {
    /*x
    @mixin #{$key} {
      @include place-items(#{$value});
    }
    x*/
  }
}

@if $Rwd {
  @each $rwd in $rwdBox {
    @each $key, $value in $PlaceItems {
      /*x
      @mixin #{$rwd}\:#{$key} {
        @include place-items(#{$value}, $#{$rwd});
      }
      x*/
    }
  }
}