@use "../../setting" as *;

$Animation: (
  "animate-none": none,
  "animate-spin": spin 1s linear infinite,
  "animate-ping": ping 1s cubic-bezier(0, 0, 0.2, 1) infinite,
  "animate-pulse": pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite,
  "animate-bounce": bounce 1s infinite,
);

@if $Basic {
  @each $key, $value in $Animation {
    /*x
    @mixin #{$key} {
      @include animation(#{$value});
    }
    x*/
  }
}

@if $Rwd and ($sizeMode ==0 or $sizeMode ==1) {
  @each $rwd in $rwdBox {
    @each $key, $value in $Animation {
      /*x
      @mixin #{$rwd}\:#{$key} {
        @include animation(#{$value}, $#{$rwd});
      }
      x*/
    }
  }
}

@if $Custom {
  /*x
  @mixin animate-($v) {
    @include animation($v);
  }
  x*/

  @each $rwd in $rwdBox {
    /*x
    @mixin #{$rwd}\:animate-($v) {
      @include animation($v, $#{$rwd});
    }
    x*/
  }
}


@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes ping {

  75%,
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes pulse {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }
}

@keyframes bounce {

  0%,
  100% {
    transform: translateY(-25%);
    animate-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }

  50% {
    transform: translateY(0);
    animate-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}