@use "../../setting" as *;

/* Animation */
@if $Basic {
  // /*x
  @mixin animate-none {
    animation: none;
  }

  @mixin animate-spin {
    animation: spin 1s linear infinite;
  }

  @mixin animate-ping {
    animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
  }

  @mixin animate-pulse {
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }

  @mixin animate-bounce {
    animation: bounce 1s infinite;
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  @keyframes ping {
    75%,
    100% {
      transform: scale(2);
      opacity: 0;
    }
  }

  @keyframes pulse {
    0%,
    100% {
      opacity: 1;
    }

    50% {
      opacity: 0.5;
    }
  }

  @keyframes bounce {
    0%,
    100% {
      transform: translateY(-25%);
      animate-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }

    50% {
      transform: translateY(0);
      animate-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }

  // x*/
}

@if $Rwd {
  @if $sizeMode ==0 or $sizeMode ==1 {
    // /*x
    @mixin sm\:animate-none {
      @include sm\:animate-(none);
    }

    @mixin sm\:animate-spin {
      @include sm\:animate-(spin 1s linear infinite);
    }

    @mixin sm\:animate-ping {
      @include sm\:animate-(ping 1s cubic-bezier(0, 0, 0.2, 1) infinite);
    }

    @mixin sm\:animate-pulse {
      @include sm\:animate-(pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite);
    }

    @mixin sm\:animate-bounce {
      @include sm\:animate-(bounce 1s infinite);
    }

    @mixin md\:animate-none {
      @include md\:animate-(none);
    }

    @mixin md\:animate-spin {
      @include md\:animate-(spin 1s linear infinite);
    }

    @mixin md\:animate-ping {
      @include md\:animate-(ping 1s cubic-bezier(0, 0, 0.2, 1) infinite);
    }

    @mixin md\:animate-pulse {
      @include md\:animate-(pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite);
    }

    @mixin md\:animate-bounce {
      @include md\:animate-(bounce 1s infinite);
    }

    @mixin lg\:animate-none {
      @include lg\:animate-(none);
    }

    @mixin lg\:animate-spin {
      @include lg\:animate-(spin 1s linear infinite);
    }

    @mixin lg\:animate-ping {
      @include lg\:animate-(ping 1s cubic-bezier(0, 0, 0.2, 1) infinite);
    }

    @mixin lg\:animate-pulse {
      @include lg\:animate-(pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite);
    }

    @mixin lg\:animate-bounce {
      @include lg\:animate-(bounce 1s infinite);
    }

    @mixin xl\:animate-none {
      @include xl\:animate-(none);
    }

    @mixin xl\:animate-spin {
      @include xl\:animate-(spin 1s linear infinite);
    }

    @mixin xl\:animate-ping {
      @include xl\:animate-(ping 1s cubic-bezier(0, 0, 0.2, 1) infinite);
    }

    @mixin xl\:animate-pulse {
      @include xl\:animate-(pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite);
    }

    @mixin xl\:animate-bounce {
      @include xl\:animate-(bounce 1s infinite);
    }

    @mixin \2xl\:animate-none {
      @include \2xl\:animate-(none);
    }

    @mixin \2xl\:animate-spin {
      @include \2xl\:animate-(spin 1s linear infinite);
    }

    @mixin \2xl\:animate-ping {
      @include \2xl\:animate-(ping 1s cubic-bezier(0, 0, 0.2, 1) infinite);
    }

    @mixin \2xl\:animate-pulse {
      @include \2xl\:animate-(pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite);
    }

    @mixin \2xl\:animate-bounce {
      @include \2xl\:animate-(bounce 1s infinite);
    }

    // x*/
  }
}

@if $Custom {
  // /*x
  @mixin animate-($v) {
    @include animation($v);
  }

  @mixin sm\:animate-($v) {
    @include sm\:animation($v);
  }

  @mixin md\:animate-($v) {
    @include md\:animation($v);
  }

  @mixin lg\:animate-($v) {
    @include lg\:animation($v);
  }

  @mixin xl\:animate-($v) {
    @include xl\:animation($v);
  }

  @mixin \2xl\:animate-($v) {
    @include \2xl\:animation($v);
  }

  // x*/
}
