@use "../../setting" as *;

$ListStylePosition: (
  "list-inside": inside,
  "list-outside": outside,
);

@if $Basic {
  @each $key, $value in $ListStylePosition {
    /*x
    @mixin #{$key}{
      @include list-style-position(#{$value});
    }
    x*/
  }
}

@if $Rwd {
  @each $rwd in $rwdBox {
    @each $key, $value in $ListStylePosition {
      /*x
      @mixin #{$rwd}\:#{$key}{
        @include list-style-position(#{$value}, $#{$rwd});
      }
      x*/
    }
  }
}
