@use "true" as *;
@use "../awaken" as *;

@include describe("4-Size") {
  @include describe("3-Max-Width") {
    @include describe("Basic") {
      @include it("max-w-0") {
        @include assert {
          @include output {
            @include max-w-0;
            @include utils_reset;
          }

          @include expect {
            max-width: 0px;
          }
        }
      }

      @include it("max-w-px") {
        @include assert {
          @include output {
            @include max-w-px;
            @include utils_reset;
          }

          @include expect {
            max-width: 1px;
          }
        }
      }

      @include it("max-w-0_5") {
        @include assert {
          @include output {
            @include max-w-0_5;
            @include utils_reset;
          }

          @include expect {
            max-width: 0.125rem;
          }
        }
      }

      @include it("max-w-1") {
        @include assert {
          @include output {
            @include max-w-1;
            @include utils_reset;
          }

          @include expect {
            max-width: 0.25rem;
          }
        }
      }

      @include it("max-w-1_5") {
        @include assert {
          @include output {
            @include max-w-1_5;
            @include utils_reset;
          }

          @include expect {
            max-width: 0.375rem;
          }
        }
      }

      @include it("max-w-2") {
        @include assert {
          @include output {
            @include max-w-2;
            @include utils_reset;
          }

          @include expect {
            max-width: 0.5rem;
          }
        }
      }

      @include it("max-w-2_5") {
        @include assert {
          @include output {
            @include max-w-2_5;
            @include utils_reset;
          }

          @include expect {
            max-width: 0.625rem;
          }
        }
      }

      @include it("max-w-3") {
        @include assert {
          @include output {
            @include max-w-3;
            @include utils_reset;
          }

          @include expect {
            max-width: 0.75rem;
          }
        }
      }

      @include it("max-w-3_5") {
        @include assert {
          @include output {
            @include max-w-3_5;
            @include utils_reset;
          }

          @include expect {
            max-width: 0.875rem;
          }
        }
      }

      @include it("max-w-4") {
        @include assert {
          @include output {
            @include max-w-4;
            @include utils_reset;
          }

          @include expect {
            max-width: 1rem;
          }
        }
      }

      @include it("max-w-5") {
        @include assert {
          @include output {
            @include max-w-5;
            @include utils_reset;
          }

          @include expect {
            max-width: 1.25rem;
          }
        }
      }

      @include it("max-w-6") {
        @include assert {
          @include output {
            @include max-w-6;
            @include utils_reset;
          }

          @include expect {
            max-width: 1.5rem;
          }
        }
      }

      @include it("max-w-7") {
        @include assert {
          @include output {
            @include max-w-7;
            @include utils_reset;
          }

          @include expect {
            max-width: 1.75rem;
          }
        }
      }

      @include it("max-w-8") {
        @include assert {
          @include output {
            @include max-w-8;
            @include utils_reset;
          }

          @include expect {
            max-width: 2rem;
          }
        }
      }

      @include it("max-w-9") {
        @include assert {
          @include output {
            @include max-w-9;
            @include utils_reset;
          }

          @include expect {
            max-width: 2.25rem;
          }
        }
      }

      @include it("max-w-10") {
        @include assert {
          @include output {
            @include max-w-10;
            @include utils_reset;
          }

          @include expect {
            max-width: 2.5rem;
          }
        }
      }

      @include it("max-w-11") {
        @include assert {
          @include output {
            @include max-w-11;
            @include utils_reset;
          }

          @include expect {
            max-width: 2.75rem;
          }
        }
      }

      @include it("max-w-12") {
        @include assert {
          @include output {
            @include max-w-12;
            @include utils_reset;
          }

          @include expect {
            max-width: 3rem;
          }
        }
      }

      @include it("max-w-14") {
        @include assert {
          @include output {
            @include max-w-14;
            @include utils_reset;
          }

          @include expect {
            max-width: 3.5rem;
          }
        }
      }

      @include it("max-w-16") {
        @include assert {
          @include output {
            @include max-w-16;
            @include utils_reset;
          }

          @include expect {
            max-width: 4rem;
          }
        }
      }

      @include it("max-w-20") {
        @include assert {
          @include output {
            @include max-w-20;
            @include utils_reset;
          }

          @include expect {
            max-width: 5rem;
          }
        }
      }

      @include it("max-w-24") {
        @include assert {
          @include output {
            @include max-w-24;
            @include utils_reset;
          }

          @include expect {
            max-width: 6rem;
          }
        }
      }

      @include it("max-w-28") {
        @include assert {
          @include output {
            @include max-w-28;
            @include utils_reset;
          }

          @include expect {
            max-width: 7rem;
          }
        }
      }

      @include it("max-w-32") {
        @include assert {
          @include output {
            @include max-w-32;
            @include utils_reset;
          }

          @include expect {
            max-width: 8rem;
          }
        }
      }

      @include it("max-w-36") {
        @include assert {
          @include output {
            @include max-w-36;
            @include utils_reset;
          }

          @include expect {
            max-width: 9rem;
          }
        }
      }

      @include it("max-w-40") {
        @include assert {
          @include output {
            @include max-w-40;
            @include utils_reset;
          }

          @include expect {
            max-width: 10rem;
          }
        }
      }

      @include it("max-w-44") {
        @include assert {
          @include output {
            @include max-w-44;
            @include utils_reset;
          }

          @include expect {
            max-width: 11rem;
          }
        }
      }

      @include it("max-w-48") {
        @include assert {
          @include output {
            @include max-w-48;
            @include utils_reset;
          }

          @include expect {
            max-width: 12rem;
          }
        }
      }

      @include it("max-w-52") {
        @include assert {
          @include output {
            @include max-w-52;
            @include utils_reset;
          }

          @include expect {
            max-width: 13rem;
          }
        }
      }

      @include it("max-w-56") {
        @include assert {
          @include output {
            @include max-w-56;
            @include utils_reset;
          }

          @include expect {
            max-width: 14rem;
          }
        }
      }

      @include it("max-w-60") {
        @include assert {
          @include output {
            @include max-w-60;
            @include utils_reset;
          }

          @include expect {
            max-width: 15rem;
          }
        }
      }

      @include it("max-w-64") {
        @include assert {
          @include output {
            @include max-w-64;
            @include utils_reset;
          }

          @include expect {
            max-width: 16rem;
          }
        }
      }

      @include it("max-w-72") {
        @include assert {
          @include output {
            @include max-w-72;
            @include utils_reset;
          }

          @include expect {
            max-width: 18rem;
          }
        }
      }

      @include it("max-w-80") {
        @include assert {
          @include output {
            @include max-w-80;
            @include utils_reset;
          }

          @include expect {
            max-width: 20rem;
          }
        }
      }

      @include it("max-w-96") {
        @include assert {
          @include output {
            @include max-w-96;
            @include utils_reset;
          }

          @include expect {
            max-width: 24rem;
          }
        }
      }

      @include it("max-w-none") {
        @include assert {
          @include output {
            @include max-w-none;
            @include utils_reset;
          }

          @include expect {
            max-width: none;
          }
        }
      }

      @include it("max-w-xs") {
        @include assert {
          @include output {
            @include max-w-xs;
            @include utils_reset;
          }

          @include expect {
            max-width: 20rem;
          }
        }
      }

      @include it("max-w-sm") {
        @include assert {
          @include output {
            @include max-w-sm;
            @include utils_reset;
          }

          @include expect {
            max-width: 24rem;
          }
        }
      }

      @include it("max-w-md") {
        @include assert {
          @include output {
            @include max-w-md;
            @include utils_reset;
          }

          @include expect {
            max-width: 28rem;
          }
        }
      }

      @include it("max-w-lg") {
        @include assert {
          @include output {
            @include max-w-lg;
            @include utils_reset;
          }

          @include expect {
            max-width: 32rem;
          }
        }
      }

      @include it("max-w-xl") {
        @include assert {
          @include output {
            @include max-w-xl;
            @include utils_reset;
          }

          @include expect {
            max-width: 36rem;
          }
        }
      }

      @include it("max-w-2xl") {
        @include assert {
          @include output {
            @include max-w-2xl;
            @include utils_reset;
          }

          @include expect {
            max-width: 42rem;
          }
        }
      }

      @include it("max-w-3xl") {
        @include assert {
          @include output {
            @include max-w-3xl;
            @include utils_reset;
          }

          @include expect {
            max-width: 48rem;
          }
        }
      }

      @include it("max-w-4xl") {
        @include assert {
          @include output {
            @include max-w-4xl;
            @include utils_reset;
          }

          @include expect {
            max-width: 56rem;
          }
        }
      }

      @include it("max-w-5xl") {
        @include assert {
          @include output {
            @include max-w-5xl;
            @include utils_reset;
          }

          @include expect {
            max-width: 64rem;
          }
        }
      }

      @include it("max-w-6xl") {
        @include assert {
          @include output {
            @include max-w-6xl;
            @include utils_reset;
          }

          @include expect {
            max-width: 72rem;
          }
        }
      }

      @include it("max-w-7xl") {
        @include assert {
          @include output {
            @include max-w-7xl;
            @include utils_reset;
          }

          @include expect {
            max-width: 80rem;
          }
        }
      }

      @include it("max-w-full") {
        @include assert {
          @include output {
            @include max-w-full;
            @include utils_reset;
          }

          @include expect {
            max-width: 100%;
          }
        }
      }

      @include it("max-w-min") {
        @include assert {
          @include output {
            @include max-w-min;
            @include utils_reset;
          }

          @include expect {
            max-width: min-content;
          }
        }
      }

      @include it("max-w-max") {
        @include assert {
          @include output {
            @include max-w-max;
            @include utils_reset;
          }

          @include expect {
            max-width: max-content;
          }
        }
      }

      @include it("max-w-fit") {
        @include assert {
          @include output {
            @include max-w-fit;
            @include utils_reset;
          }

          @include expect {
            max-width: fit-content;
          }
        }
      }

      @include it("max-w-prose") {
        @include assert {
          @include output {
            @include max-w-prose;
            @include utils_reset;
          }

          @include expect {
            max-width: 65ch;
          }
        }
      }

      @include it("max-w-screen-sm") {
        @include assert {
          @include output {
            @include max-w-screen-sm;
            @include utils_reset;
          }

          @include expect {
            max-width: $SM;
          }
        }
      }

      @include it("max-w-screen-md") {
        @include assert {
          @include output {
            @include max-w-screen-md;
            @include utils_reset;
          }

          @include expect {
            max-width: $MD;
          }
        }
      }

      @include it("max-w-screen-lg") {
        @include assert {
          @include output {
            @include max-w-screen-lg;
            @include utils_reset;
          }

          @include expect {
            max-width: $LG;
          }
        }
      }

      @include it("max-w-screen-xl") {
        @include assert {
          @include output {
            @include max-w-screen-xl;
            @include utils_reset;
          }

          @include expect {
            max-width: $XL;
          }
        }
      }

      @include it("max-w-screen-2xl") {
        @include assert {
          @include output {
            @include max-w-screen-2xl;
            @include utils_reset;
          }

          @include expect {
            max-width: $XXL;
          }
        }
      }
    }

    @include describe("Custom") {
      @include it("max-w-(220px)") {
        @include assert {
          @include output {
            @include max-w-(220px);
            @include utils_reset;
          }

          @include expect {
            max-width: 220px;
          }
        }
      }
    }
  }
}
