@use "true" as *;
@use "../escss" as *;

@include describe("4-Size") {
  @include describe("5-Min-Height") {
    @include describe("Basic") {
      @include it("min-h-0") {
        @include assert {
          @include output {
            @include min-h-0;
          }

          @include expect {
            min-height: 0px;
          }
        }
      }

      @include it("min-h-1") {
        @include assert {
          @include output {
            @include min-h-1;
          }

          @include expect {
            min-height: 0.25rem;
          }
        }
      }

      @include it("min-h-2") {
        @include assert {
          @include output {
            @include min-h-2;
          }

          @include expect {
            min-height: 0.5rem;
          }
        }
      }

      @include it("min-h-3") {
        @include assert {
          @include output {
            @include min-h-3;
          }

          @include expect {
            min-height: 0.75rem;
          }
        }
      }

      @include it("min-h-4") {
        @include assert {
          @include output {
            @include min-h-4;
          }

          @include expect {
            min-height: 1rem;
          }
        }
      }

      @include it("min-h-5") {
        @include assert {
          @include output {
            @include min-h-5;
          }

          @include expect {
            min-height: 1.25rem;
          }
        }
      }

      @include it("min-h-6") {
        @include assert {
          @include output {
            @include min-h-6;
          }

          @include expect {
            min-height: 1.5rem;
          }
        }
      }

      @include it("min-h-7") {
        @include assert {
          @include output {
            @include min-h-7;
          }

          @include expect {
            min-height: 1.75rem;
          }
        }
      }

      @include it("min-h-8") {
        @include assert {
          @include output {
            @include min-h-8;
          }

          @include expect {
            min-height: 2rem;
          }
        }
      }

      @include it("min-h-9") {
        @include assert {
          @include output {
            @include min-h-9;
          }

          @include expect {
            min-height: 2.25rem;
          }
        }
      }

      @include it("min-h-10") {
        @include assert {
          @include output {
            @include min-h-10;
          }

          @include expect {
            min-height: 2.5rem;
          }
        }
      }

      @include it("min-h-11") {
        @include assert {
          @include output {
            @include min-h-11;
          }

          @include expect {
            min-height: 2.75rem;
          }
        }
      }

      @include it("min-h-12") {
        @include assert {
          @include output {
            @include min-h-12;
          }

          @include expect {
            min-height: 3rem;
          }
        }
      }

      @include it("min-h-14") {
        @include assert {
          @include output {
            @include min-h-14;
          }

          @include expect {
            min-height: 3.5rem;
          }
        }
      }

      @include it("min-h-16") {
        @include assert {
          @include output {
            @include min-h-16;
          }

          @include expect {
            min-height: 4rem;
          }
        }
      }

      @include it("min-h-20") {
        @include assert {
          @include output {
            @include min-h-20;
          }

          @include expect {
            min-height: 5rem;
          }
        }
      }

      @include it("min-h-24") {
        @include assert {
          @include output {
            @include min-h-24;
          }

          @include expect {
            min-height: 6rem;
          }
        }
      }

      @include it("min-h-28") {
        @include assert {
          @include output {
            @include min-h-28;
          }

          @include expect {
            min-height: 7rem;
          }
        }
      }

      @include it("min-h-32") {
        @include assert {
          @include output {
            @include min-h-32;
          }

          @include expect {
            min-height: 8rem;
          }
        }
      }

      @include it("min-h-36") {
        @include assert {
          @include output {
            @include min-h-36;
          }

          @include expect {
            min-height: 9rem;
          }
        }
      }

      @include it("min-h-40") {
        @include assert {
          @include output {
            @include min-h-40;
          }

          @include expect {
            min-height: 10rem;
          }
        }
      }

      @include it("min-h-44") {
        @include assert {
          @include output {
            @include min-h-44;
          }

          @include expect {
            min-height: 11rem;
          }
        }
      }

      @include it("min-h-48") {
        @include assert {
          @include output {
            @include min-h-48;
          }

          @include expect {
            min-height: 12rem;
          }
        }
      }

      @include it("min-h-52") {
        @include assert {
          @include output {
            @include min-h-52;
          }

          @include expect {
            min-height: 13rem;
          }
        }
      }

      @include it("min-h-56") {
        @include assert {
          @include output {
            @include min-h-56;
          }

          @include expect {
            min-height: 14rem;
          }
        }
      }

      @include it("min-h-60") {
        @include assert {
          @include output {
            @include min-h-60;
          }

          @include expect {
            min-height: 15rem;
          }
        }
      }

      @include it("min-h-64") {
        @include assert {
          @include output {
            @include min-h-64;
          }

          @include expect {
            min-height: 16rem;
          }
        }
      }

      @include it("min-h-72") {
        @include assert {
          @include output {
            @include min-h-72;
          }

          @include expect {
            min-height: 18rem;
          }
        }
      }

      @include it("min-h-80") {
        @include assert {
          @include output {
            @include min-h-80;
          }

          @include expect {
            min-height: 20rem;
          }
        }
      }

      @include it("min-h-96") {
        @include assert {
          @include output {
            @include min-h-96;
          }

          @include expect {
            min-height: 24rem;
          }
        }
      }

      @include it("min-h-px") {
        @include assert {
          @include output {
            @include min-h-px;
          }

          @include expect {
            min-height: 1px;
          }
        }
      }

      @include it("min-h-0\.5") {
        @include assert {
          @include output {
            @include min-h-0\.5;
          }

          @include expect {
            min-height: 0.125rem;
          }
        }
      }

      @include it("min-h-1\.5") {
        @include assert {
          @include output {
            @include min-h-1\.5;
          }

          @include expect {
            min-height: 0.375rem;
          }
        }
      }

      @include it("min-h-2\.5") {
        @include assert {
          @include output {
            @include min-h-2\.5;
          }

          @include expect {
            min-height: 0.625rem;
          }
        }
      }

      @include it("min-h-3\.5") {
        @include assert {
          @include output {
            @include min-h-3\.5;
          }

          @include expect {
            min-height: 0.875rem;
          }
        }
      }

      @include it("min-h-full") {
        @include assert {
          @include output {
            @include min-h-full;
          }

          @include expect {
            min-height: 100%;
          }
        }
      }

      @include it("min-h-screen") {
        @include assert {
          @include output {
            @include min-h-screen;
          }

          @include expect {
            min-height: 100vh;
          }
        }
      }

      @include it("min-h-svh") {
        @include assert {
          @include output {
            @include min-h-svh;
          }

          @include expect {
            min-height: 100svh;
          }
        }
      }

      @include it("min-h-lvh") {
        @include assert {
          @include output {
            @include min-h-lvh;
          }

          @include expect {
            min-height: 100lvh;
          }
        }
      }

      @include it("min-h-dvh") {
        @include assert {
          @include output {
            @include min-h-dvh;
          }

          @include expect {
            min-height: 100dvh;
          }
        }
      }

      @include it("min-h-min") {
        @include assert {
          @include output {
            @include min-h-min;
          }

          @include expect {
            min-height: min-content;
          }
        }
      }

      @include it("min-h-max") {
        @include assert {
          @include output {
            @include min-h-max;
          }

          @include expect {
            min-height: max-content;
          }
        }
      }

      @include it("min-h-fit") {
        @include assert {
          @include output {
            @include min-h-fit;
          }

          @include expect {
            min-height: fit-content;
          }
        }
      }
    }

    @include describe("Custom") {
      @include it("min-h-(220px)") {
        @include assert {
          @include output {
            @include min-h-(220px);
          }

          @include expect {
            min-height: 220px;
          }
        }
      }
    }
  }
}
