@use "../../setting" as *;

/* Grid Template Rows */
@if $Basic {
  /*x
  @mixin grid-rows-1 {
    grid-template-rows: repeat(1, minmax(0, 1fr));
  }

  @mixin grid-rows-2 {
    grid-template-rows: repeat(2, minmax(0, 1fr));
  }

  @mixin grid-rows-3 {
    grid-template-rows: repeat(3, minmax(0, 1fr));
  }

  @mixin grid-rows-4 {
    grid-template-rows: repeat(4, minmax(0, 1fr));
  }

  @mixin grid-rows-5 {
    grid-template-rows: repeat(5, minmax(0, 1fr));
  }

  @mixin grid-rows-6 {
    grid-template-rows: repeat(6, minmax(0, 1fr));
  }

  @mixin grid-rows-7 {
    grid-template-rows: repeat(7, minmax(0, 1fr));
  }

  @mixin grid-rows-8 {
    grid-template-rows: repeat(8, minmax(0, 1fr));
  }

  @mixin grid-rows-9 {
    grid-template-rows: repeat(9, minmax(0, 1fr));
  }

  @mixin grid-rows-10 {
    grid-template-rows: repeat(10, minmax(0, 1fr));
  }

  @mixin grid-rows-11 {
    grid-template-rows: repeat(11, minmax(0, 1fr));
  }

  @mixin grid-rows-12 {
    grid-template-rows: repeat(12, minmax(0, 1fr));
  }

  @mixin grid-rows-none {
    grid-template-rows: none;
  }

  @mixin grid-rows-subgrid {
    grid-template-rows: subgrid;
  }
  x*/
}

@if $Rwd {
  // reducing size for updating speed
  @if $isLiteMode {
    /*x
    @mixin sm\:grid-rows-($value) {
      @media (min-width: $rwd-sm) {
        grid-template-rows: $value;
      }
    }

    @mixin md\:grid-rows-($value) {
      @media (min-width: $rwd-md) {
        grid-template-rows: $value;
      }
    }

    @mixin lg\:grid-rows-($value) {
      @media (min-width: $rwd-lg) {
        grid-template-rows: $value;
      }
    }

    @mixin xl\:grid-rows-($value) {
      @media (min-width: $rwd-xl) {
        grid-template-rows: $value;
      }
    }

    @mixin \2xl\:grid-rows-($value) {
      @media (min-width: $rwd-2xl) {
        grid-template-rows: $value;
      }
    }
    x*/
  }

  // tailwind default
  @else {
  }
}

@if $Custom {
  /*x
  @mixin grid-rows-($value) {
    grid-template-rows: $value;
  }
  x*/
}
