@use "../../setting" as *;


$ForcedColorAdjust: (
  "forced-color-adjust-auto": auto,
  "forced-color-adjust-none": none,
);

@if $Basic {
  @each $key, $value in $ForcedColorAdjust {
    /*x
    @mixin #{$key} {
      @include forced-color-adjust(#{$value});
    }
    x*/
  }
}

@if $Rwd {
  @each $rwd in $rwdBox {
    @each $key, $value in $ForcedColorAdjust {
      /*x
      @mixin #{$rwd}\:#{$key} {
        @include forced-color-adjust(#{$value}, $#{$rwd});
      }
      x*/
    }
  }
}