@use "true" as *;
@use "../escss" as *;

@include describe("8-Effects") {
  @include describe("5-Background Blend Mode") {
    @include describe("Basic") {
      @include it("bg-blend-normal") {
        @include assert {
          @include output {
            @include bg-blend-normal;
          }

          @include expect {
            background-blend-mode: normal;
          }
        }
      }

      @include it("bg-blend-multiply") {
        @include assert {
          @include output {
            @include bg-blend-multiply;
          }

          @include expect {
            background-blend-mode: multiply;
          }
        }
      }

      @include it("bg-blend-screen") {
        @include assert {
          @include output {
            @include bg-blend-screen;
          }

          @include expect {
            background-blend-mode: screen;
          }
        }
      }

      @include it("bg-blend-overlay") {
        @include assert {
          @include output {
            @include bg-blend-overlay;
          }

          @include expect {
            background-blend-mode: overlay;
          }
        }
      }

      @include it("bg-blend-darken") {
        @include assert {
          @include output {
            @include bg-blend-darken;
          }

          @include expect {
            background-blend-mode: darken;
          }
        }
      }

      @include it("bg-blend-lighten") {
        @include assert {
          @include output {
            @include bg-blend-lighten;
          }

          @include expect {
            background-blend-mode: lighten;
          }
        }
      }

      @include it("bg-blend-color-dodge") {
        @include assert {
          @include output {
            @include bg-blend-color-dodge;
          }

          @include expect {
            background-blend-mode: color-dodge;
          }
        }
      }

      @include it("bg-blend-color-burn") {
        @include assert {
          @include output {
            @include bg-blend-color-burn;
          }

          @include expect {
            background-blend-mode: color-burn;
          }
        }
      }

      @include it("bg-blend-hard-light") {
        @include assert {
          @include output {
            @include bg-blend-hard-light;
          }

          @include expect {
            background-blend-mode: hard-light;
          }
        }
      }

      @include it("bg-blend-soft-light") {
        @include assert {
          @include output {
            @include bg-blend-soft-light;
          }

          @include expect {
            background-blend-mode: soft-light;
          }
        }
      }

      @include it("bg-blend-difference") {
        @include assert {
          @include output {
            @include bg-blend-difference;
          }

          @include expect {
            background-blend-mode: difference;
          }
        }
      }

      @include it("bg-blend-exclusion") {
        @include assert {
          @include output {
            @include bg-blend-exclusion;
          }

          @include expect {
            background-blend-mode: exclusion;
          }
        }
      }

      @include it("bg-blend-hue") {
        @include assert {
          @include output {
            @include bg-blend-hue;
          }

          @include expect {
            background-blend-mode: hue;
          }
        }
      }

      @include it("bg-blend-saturation") {
        @include assert {
          @include output {
            @include bg-blend-saturation;
          }

          @include expect {
            background-blend-mode: saturation;
          }
        }
      }

      @include it("bg-blend-color") {
        @include assert {
          @include output {
            @include bg-blend-color;
          }

          @include expect {
            background-blend-mode: color;
          }
        }
      }

      @include it("bg-blend-luminosity") {
        @include assert {
          @include output {
            @include bg-blend-luminosity;
          }

          @include expect {
            background-blend-mode: luminosity;
          }
        }
      }
    }
  }
}
