$Rotate: (
  'rotate-0': 0deg,
  'rotate-1': 1deg,
  'rotate-2': 2deg,
  'rotate-3': 3deg,
  'rotate-6': 6deg,
  'rotate-12': 12deg,
  'rotate-45': 45deg,
  'rotate-90': 90deg,
  'rotate-180': 180deg,
);

@if $isBasic {
  @each $key, $value in $Rotate {
    /*x
    @mixin #{$key} {
      $tw-rotate: #{$value} !global;
      @include transform(_t());
    }
    x*/
    /*x
    @mixin -#{$key} {
      $tw-rotate: #{-$value} !global;
      @include transform(_t());
    }
    x*/
  }
}

@if $isRwd and $isClassic {
  @each $rwdToken, $rwd in $rwdBox {
    @each $key, $value in $Rotate {
      /*x
    @mixin #{$rwdToken}\:#{$key} {
      $tw-rotate: #{$value} !global;
      @include transform(_t(), #{$rwd});
    }
    x*/
      /*x
    @mixin #{$rwdToken}\:-#{$key} {
      $tw-rotate: #{-$value} !global;
      @include transform(_t(), #{$rwd});
    }
    x*/
    }
  }
}

@if $isCustom {
  /*x
  @mixin rotate-($v) {
    $tw-rotate: $v !global;
    @include transform(_t());
  }
  x*/
  /*x
  @mixin -rotate-($v) {
    $tw-rotate: -$v !global;
    @include transform(_t());
  }
  x*/

  @each $rwdToken, $rwd in $rwdBox {
    /*x
    @mixin #{$rwdToken}\:rotate-($v) {
      $tw-rotate: $v !global;
      @include transform(_t(), #{$rwd});
    }
    x*/
    /*x
    @mixin #{$rwdToken}\:-rotate-($v) {
      $tw-rotate: -$v !global;
      @include transform(_t(), #{$rwd});
    }
    x*/
  }
}
