$Scale: (
  '0': 0,
  '50': 0.5,
  '75': 0.75,
  '90': 0.9,
  '95': 0.95,
  '100': 1,
  '105': 1.05,
  '110': 1.1,
  '125': 1.25,
  '150': 1.5,
);

@if $isBasic {
  @each $key, $value in $Scale {
    /*x
    @mixin scale-#{$key} {
      $tw-scale-x: #{$value} !global;
      $tw-scale-y: #{$value} !global;
      @include transform(_t());
    }

    @mixin scale-x-#{$key} {
      $tw-scale-x: #{$value} !global;
      @include transform(_t());
    }

    @mixin scale-y-#{$key} {
      $tw-scale-y: #{$value} !global;
      @include transform(_t());
    }
    x*/
  }
}

@if $isRwd and (not $isAwaken) {
  @each $rwdToken, $rwd in $rwdBox {
    @each $key, $value in $Scale {
      /*x
      @mixin #{$rwdToken}\:scale-#{$key} {
        $tw-scale-x: #{$value} !global;
        $tw-scale-y: #{$value} !global;
        @include transform(_t(), #{$rwd});
      }

      @mixin #{$rwdToken}\:scale-x-#{$key} {
        $tw-scale-x: #{$value} !global;
        @include transform(_t(), #{$rwd});
      }

      @mixin #{$rwdToken}\:scale-y-#{$key} {
        $tw-scale-y: #{$value} !global;
        @include transform(_t(), #{$rwd});
      }
      x*/
    }

    /*x
    @mixin #{$rwdToken}\:scale-($v) {
      $tw-scale-x: $v !global;
      $tw-scale-y: $v !global;
      @include transform(_t(), #{$rwd});
    }

    @mixin #{$rwdToken}\:scale-x-($v) {
      $tw-scale-x: $v !global;
      @include transform(_t(), #{$rwd});
    }

    @mixin #{$rwdToken}\:scale-y-($v) {
      $tw-scale-y: $v !global;
      @include transform(_t(), #{$rwd});
    }
    x*/
  }
}

@if $isArbitrary {
  /*x
  @mixin scale-($v) {
    $tw-scale-x: $v !global;
    $tw-scale-y: $v !global;
    @include transform(_t());
  }

  @mixin scale-x-($v) {
    $tw-scale-x: $v !global;
    @include transform(_t());
  }

  @mixin scale-y-($v) {
    $tw-scale-y: $v !global;
    @include transform(_t());
  }
  x*/
}

@if $isNegative {
  @if $isBasic {
    @each $key, $value in $Scale {
      /*x
      @mixin -scale-#{$key} {
        $tw-scale-x: #{-$value} !global;
        $tw-scale-y: #{-$value} !global;
        @include transform(_t());
      }
  
      @mixin -scale-x-#{$key} {
        $tw-scale-x: #{-$value} !global;
        @include transform(_t());
      }
  
      @mixin -scale-y-#{$key} {
        $tw-scale-y: #{-$value} !global;
        @include transform(_t());
      }
      x*/
    }
  }

  @if $isRwd and (not $isAwaken) {
    @each $rwdToken, $rwd in $rwdBox {
      @each $key, $value in $Scale {
        /*x
        @mixin #{$rwdToken}\:-scale-#{$key} {
          $tw-scale-x: #{-$value} !global;
          $tw-scale-y: #{-$value} !global;
          @include transform(_t(), #{$rwd});
        }
    
        @mixin #{$rwdToken}\:-scale-x-#{$key} {
          $tw-scale-x: #{-$value} !global;
          @include transform(_t(), #{$rwd});
        }
    
        @mixin #{$rwdToken}\:-scale-y-#{$key} {
          $tw-scale-y: #{-$value} !global;
          @include transform(_t(), #{$rwd});
        }
        x*/
      }

      /*x
      @mixin #{$rwdToken}\:-scale-($v) {
        $tw-scale-x: -$v !global;
        $tw-scale-y: -$v !global;
        @include transform(_t(), #{$rwd});
      }
    
      @mixin #{$rwdToken}\:-scale-x-($v) {
        $tw-scale-x: -$v !global;
        @include transform(_t(), #{$rwd});
      }
    
      @mixin #{$rwdToken}\:-scale-y-($v) {
        $tw-scale-y: -$v !global;
        @include transform(_t(), #{$rwd});
      }
      x*/
    }
  }

  @if $isArbitrary {
    /*x
    @mixin -scale-($v) {
      $tw-scale-x: -$v !global;
      $tw-scale-y: -$v !global;
      @include transform(_t());
    }
  
    @mixin -scale-x-($v) {
      $tw-scale-x: -$v !global;
      @include transform(_t());
    }
  
    @mixin -scale-y-($v) {
      $tw-scale-y: -$v !global;
      @include transform(_t());
    }
    x*/
  }
}
