$Skew: (
  '0': 0deg,
  '1': 1deg,
  '2': 2deg,
  '3': 3deg,
  '6': 6deg,
  '12': 12deg,
);

@if $isBasic {
  @each $key, $value in $Skew {
    /*x
    @mixin skew-x-#{$key} {
      $tw-skew-x: #{$value} !global;
      @include transform(_t());
    }

    @mixin skew-y-#{$key} {
      $tw-skew-y: #{$value} !global;
      @include transform(_t());
    }
    x*/
  }
}

@if $isRwd and $isClassic {
  @each $rwdToken, $rwd in $rwdBox {
    @each $key, $value in $Skew {
      /*x
      @mixin #{$rwdToken}\:skew-x-#{$key} {
        $tw-skew-x: #{$value} !global;
        @include transform(_t(), #{$rwd});
      }

      @mixin #{$rwdToken}\:skew-y-#{$key} {
        $tw-skew-y: #{$value} !global;
        @include transform(_t(), #{$rwd});
      }
      x*/
    }
  }
}

@if $isArbitrary {
  /*x
  @mixin skew-x-($v) {
    $tw-skew-x: $v !global;
    @include transform(_t());
  }

  @mixin skew-y-($v) {
    $tw-skew-y: $v !global;
    @include transform(_t());
  }
  x*/

  @each $rwdToken, $rwd in $rwdBox {
    /*x
    @mixin #{$rwdToken}\:skew-x-($v) {
      $tw-skew-x: $v !global;
      @include transform(_t(), #{$rwd});
    }

    @mixin #{$rwdToken}\:skew-y-($v) {
      $tw-skew-y: $v !global;
      @include transform(_t(), #{$rwd});
    }
    x*/
  }
}

@if $isNegative {
  @if $isBasic {
    @each $key, $value in $Skew {
      /*x
      @mixin -skew-x-#{$key} {
        $tw-skew-x: #{-$value} !global;
        @include transform(_t());
      }
  
      @mixin -skew-y-#{$key} {
        $tw-skew-y: #{-$value} !global;
        @include transform(_t());
      }
      x*/
    }
  }

  @if $isRwd and $isClassic {
    @each $rwdToken, $rwd in $rwdBox {
      @each $key, $value in $Skew {
        /*x
        @mixin #{$rwdToken}\:-skew-x-#{$key} {
          $tw-skew-x: #{-$value} !global;
          @include transform(_t(), #{$rwd});
        }
  
        @mixin #{$rwdToken}\:-skew-y-#{$key} {
          $tw-skew-y: #{-$value} !global;
          @include transform(_t(), #{$rwd});
        }
        x*/
      }
    }
  }

  @if $isArbitrary {
    /*x
    @mixin -skew-x-($v) {
      $tw-skew-x: -$v !global;
      @include transform(_t());
    }
  
    @mixin -skew-y-($v) {
      $tw-skew-y: -$v !global;
      @include transform(_t());
    }
    x*/

    @each $rwdToken, $rwd in $rwdBox {
      /*x
      @mixin #{$rwdToken}\:-skew-x-($v) {
        $tw-skew-x: -$v !global;
        @include transform(_t(), #{$rwd});
      }
  
      @mixin #{$rwdToken}\:-skew-y-($v) {
        $tw-skew-y: -$v !global;
        @include transform(_t(), #{$rwd});
      }
      x*/
    }
  }
}
