$Translate: (
  '0': '$_0',
  'px': '$_px',
  '0\\.5': '$_0\\.5',
  '1': '$_1',
  '1\\.5': '$_1\\.5',
  '2': '$_2',
  '2\\.5': '$_2\\.5',
  '3': '$_3',
  '3\\.5': '$_3\\.5',
  '4': '$_4',
  '5': '$_5',
  '6': '$_6',
  '7': '$_7',
  '8': '$_8',
  '9': '$_9',
  '10': '$_10',
  '11': '$_11',
  '12': '$_12',
  '14': '$_14',
  '16': '$_16',
  '20': '$_20',
  '24': '$_24',
  '28': '$_28',
  '32': '$_32',
  '36': '$_36',
  '40': '$_40',
  '44': '$_44',
  '48': '$_48',
  '52': '$_52',
  '56': '$_56',
  '60': '$_60',
  '64': '$_64',
  '72': '$_72',
  '80': '$_80',
  '96': '$_96',
  '1\\/2': 50%,
  '1\\/3': 33.333333%,
  '2\\/3': 66.666667%,
  '1\\/4': 25%,
  '2\\/4': 50%,
  '3\\/4': 75%,
  'full': 100%,
);

@if $isBasic {
  @each $key, $value in $Translate {
    /*x
    @mixin translate-x-#{$key} {
      $tw-translate-x: #{$value} !global;
      @include transform(_t());
    }

    @mixin translate-y-#{$key} {
      $tw-translate-y: #{$value} !global;
      @include transform(_t());
    }
    x*/
  }
}

@if $isRwd and (not $isAwaken) {
  @each $rwdToken, $rwd in $rwdBox {
    @each $key, $value in $Translate {
      /*x
      @mixin #{$rwdToken}\:translate-x-#{$key} {
        $tw-translate-x: #{$value} !global;
        @include transform(_t(), #{$rwd});
      }

      @mixin #{$rwdToken}\:translate-y-#{$key} {
        $tw-translate-y: #{$value} !global;
        @include transform(_t(), #{$rwd});
      }
      x*/
    }

    /*x
    @mixin #{$rwdToken}\:translate-x-($v) {
      $tw-translate-x: $v !global;
      @include transform(_t(), #{$rwd});
    }

    @mixin #{$rwdToken}\:translate-y-($v) {
      $tw-translate-y: $v !global;
      @include transform(_t(), #{$rwd});
    }
    x*/
  }
}

@if $isArbitrary {
  /*x
  @mixin translate-x-($v) {
    $tw-translate-x: $v !global;
    @include transform(_t());
  }

  @mixin translate-y-($v) {
    $tw-translate-y: $v !global;
    @include transform(_t());
  }
  x*/
}

@if $isNegative {
  @if $isBasic {
    @each $key, $value in $Translate {
      /*x
      @mixin -translate-x-#{$key} {
        $tw-translate-x: -#{$value} !global;
        @include transform(_t());
      }
  
      @mixin -translate-y-#{$key} {
        $tw-translate-y: -#{$value} !global;
        @include transform(_t());
      }
      x*/
    }
  }

  @if $isRwd and (not $isAwaken) {
    @each $rwdToken, $rwd in $rwdBox {
      @each $key, $value in $Translate {
        /*x
        @mixin #{$rwdToken}\:-translate-x-#{$key} {
          $tw-translate-x: -#{$value} !global;
          @include transform(_t(), #{$rwd});
        }
  
        @mixin #{$rwdToken}\:-translate-y-#{$key} {
          $tw-translate-y: -#{$value} !global;
          @include transform(_t(), #{$rwd});
        }
        x*/
      }

      /*x
      @mixin #{$rwdToken}\:-translate-x-($v) {
        $tw-translate-x: -$v !global;
        @include transform(_t(), #{$rwd});
      }
  
      @mixin #{$rwdToken}\:-translate-y-($v) {
        $tw-translate-y: -$v !global;
        @include transform(_t(), #{$rwd});
      }
      x*/
    }
  }

  @if $isArbitrary {
    /*x
    @mixin -translate-x-($v) {
      $tw-translate-x: -$v !global;
      @include transform(_t());
    }
  
    @mixin -translate-y-($v) {
      $tw-translate-y: -$v !global;
      @include transform(_t());
    }
    x*/
  }
}
