@use "../../mode0" as *;
@use "true" as *;

@include describe("2.Flexbox & Grid") {
  @include describe("Place Self") {
    @include describe("Basic") {
      @include it("place-self-auto") {
        @include assert {
          @include output {
            @include place-self-auto;
            @include clear;
          }

          @include expect {
            place-self: auto;
          }
        }
      }

      @include it("place-self-start") {
        @include assert {
          @include output {
            @include place-self-start;
            @include clear;
          }

          @include expect {
            place-self: start;
          }
        }
      }

      @include it("place-self-end") {
        @include assert {
          @include output {
            @include place-self-end;
            @include clear;
          }

          @include expect {
            place-self: end;
          }
        }
      }

      @include it("place-self-center") {
        @include assert {
          @include output {
            @include place-self-center;
            @include clear;
          }

          @include expect {
            place-self: center;
          }
        }
      }

      @include it("place-self-stretch") {
        @include assert {
          @include output {
            @include place-self-stretch;
            @include clear;
          }

          @include expect {
            place-self: stretch;
          }
        }
      }
    }

    @include describe("Rwd") {
      @include it("sm\:place-self-auto") {
        @include assert {
          @include output {
            @include sm\:place-self-auto;
            @include clear;
          }

          @include expect {
            @media (min-width: $sm) {
              place-self: auto;
            }
          }
        }
      }

      @include it("sm\:place-self-start") {
        @include assert {
          @include output {
            @include sm\:place-self-start;
            @include clear;
          }

          @include expect {
            @media (min-width: $sm) {
              place-self: start;
            }
          }
        }
      }

      @include it("sm\:place-self-end") {
        @include assert {
          @include output {
            @include sm\:place-self-end;
            @include clear;
          }

          @include expect {
            @media (min-width: $sm) {
              place-self: end;
            }
          }
        }
      }

      @include it("sm\:place-self-center") {
        @include assert {
          @include output {
            @include sm\:place-self-center;
            @include clear;
          }

          @include expect {
            @media (min-width: $sm) {
              place-self: center;
            }
          }
        }
      }

      @include it("sm\:place-self-stretch") {
        @include assert {
          @include output {
            @include sm\:place-self-stretch;
            @include clear;
          }

          @include expect {
            @media (min-width: $sm) {
              place-self: stretch;
            }
          }
        }
      }

      @include it("md\:place-self-auto") {
        @include assert {
          @include output {
            @include md\:place-self-auto;
            @include clear;
          }

          @include expect {
            @media (min-width: $md) {
              place-self: auto;
            }
          }
        }
      }

      @include it("md\:place-self-start") {
        @include assert {
          @include output {
            @include md\:place-self-start;
            @include clear;
          }

          @include expect {
            @media (min-width: $md) {
              place-self: start;
            }
          }
        }
      }

      @include it("md\:place-self-end") {
        @include assert {
          @include output {
            @include md\:place-self-end;
            @include clear;
          }

          @include expect {
            @media (min-width: $md) {
              place-self: end;
            }
          }
        }
      }

      @include it("md\:place-self-center") {
        @include assert {
          @include output {
            @include md\:place-self-center;
            @include clear;
          }

          @include expect {
            @media (min-width: $md) {
              place-self: center;
            }
          }
        }
      }

      @include it("md\:place-self-stretch") {
        @include assert {
          @include output {
            @include md\:place-self-stretch;
            @include clear;
          }

          @include expect {
            @media (min-width: $md) {
              place-self: stretch;
            }
          }
        }
      }

      @include it("lg\:place-self-auto") {
        @include assert {
          @include output {
            @include lg\:place-self-auto;
            @include clear;
          }

          @include expect {
            @media (min-width: $lg) {
              place-self: auto;
            }
          }
        }
      }

      @include it("lg\:place-self-start") {
        @include assert {
          @include output {
            @include lg\:place-self-start;
            @include clear;
          }

          @include expect {
            @media (min-width: $lg) {
              place-self: start;
            }
          }
        }
      }

      @include it("lg\:place-self-end") {
        @include assert {
          @include output {
            @include lg\:place-self-end;
            @include clear;
          }

          @include expect {
            @media (min-width: $lg) {
              place-self: end;
            }
          }
        }
      }

      @include it("lg\:place-self-center") {
        @include assert {
          @include output {
            @include lg\:place-self-center;
            @include clear;
          }

          @include expect {
            @media (min-width: $lg) {
              place-self: center;
            }
          }
        }
      }

      @include it("lg\:place-self-stretch") {
        @include assert {
          @include output {
            @include lg\:place-self-stretch;
            @include clear;
          }

          @include expect {
            @media (min-width: $lg) {
              place-self: stretch;
            }
          }
        }
      }

      @include it("xl\:place-self-auto") {
        @include assert {
          @include output {
            @include xl\:place-self-auto;
            @include clear;
          }

          @include expect {
            @media (min-width: $xl) {
              place-self: auto;
            }
          }
        }
      }

      @include it("xl\:place-self-start") {
        @include assert {
          @include output {
            @include xl\:place-self-start;
            @include clear;
          }

          @include expect {
            @media (min-width: $xl) {
              place-self: start;
            }
          }
        }
      }

      @include it("xl\:place-self-end") {
        @include assert {
          @include output {
            @include xl\:place-self-end;
            @include clear;
          }

          @include expect {
            @media (min-width: $xl) {
              place-self: end;
            }
          }
        }
      }

      @include it("xl\:place-self-center") {
        @include assert {
          @include output {
            @include xl\:place-self-center;
            @include clear;
          }

          @include expect {
            @media (min-width: $xl) {
              place-self: center;
            }
          }
        }
      }

      @include it("xl\:place-self-stretch") {
        @include assert {
          @include output {
            @include xl\:place-self-stretch;
            @include clear;
          }

          @include expect {
            @media (min-width: $xl) {
              place-self: stretch;
            }
          }
        }
      }

      @include it("\2xl\:place-self-auto") {
        @include assert {
          @include output {
            @include \2xl\:place-self-auto;
            @include clear;
          }

          @include expect {
            @media (min-width: $\2xl) {
              place-self: auto;
            }
          }
        }
      }

      @include it("\2xl\:place-self-start") {
        @include assert {
          @include output {
            @include \2xl\:place-self-start;
            @include clear;
          }

          @include expect {
            @media (min-width: $\2xl) {
              place-self: start;
            }
          }
        }
      }

      @include it("\2xl\:place-self-end") {
        @include assert {
          @include output {
            @include \2xl\:place-self-end;
            @include clear;
          }

          @include expect {
            @media (min-width: $\2xl) {
              place-self: end;
            }
          }
        }
      }

      @include it("\2xl\:place-self-center") {
        @include assert {
          @include output {
            @include \2xl\:place-self-center;
            @include clear;
          }

          @include expect {
            @media (min-width: $\2xl) {
              place-self: center;
            }
          }
        }
      }

      @include it("\2xl\:place-self-stretch") {
        @include assert {
          @include output {
            @include \2xl\:place-self-stretch;
            @include clear;
          }

          @include expect {
            @media (min-width: $\2xl) {
              place-self: stretch;
            }
          }
        }
      }
    }
  }
}
