$MaxWidth: (
  '0': '$_0',
  'px': '$_px',
  '0\\.5': '$_0\\.5',
  '1': '$_1',
  '1\\.5': '$_1\\.5',
  '2': '$_2',
  '2\\.5': '$_2\\.5',
  '3': '$_3',
  '3\\.5': '$_3\\.5',
  '4': '$_4',
  '5': '$_5',
  '6': '$_6',
  '7': '$_7',
  '8': '$_8',
  '9': '$_9',
  '10': '$_10',
  '11': '$_11',
  '12': '$_12',
  '14': '$_14',
  '16': '$_16',
  '20': '$_20',
  '24': '$_24',
  '28': '$_28',
  '32': '$_32',
  '36': '$_36',
  '40': '$_40',
  '44': '$_44',
  '48': '$_48',
  '52': '$_52',
  '56': '$_56',
  '60': '$_60',
  '64': '$_64',
  '72': '$_72',
  '80': '$_80',
  '96': '$_96',
  'none': none,
  'xs': 20rem,
  'sm': 24rem,
  'md': 28rem,
  'lg': 32rem,
  'xl': 36rem,
  '2xl': 42rem,
  '3xl': 48rem,
  '4xl': 56rem,
  '5xl': 64rem,
  '6xl': 72rem,
  '7xl': 80rem,
  'full': 100%,
  'min': min-content,
  'max': max-content,
  'fit': fit-content,
  'prose': 65ch,
  'screen-sm': '$_sm',
  'screen-md': '$_md',
  'screen-lg': '$_lg',
  'screen-xl': '$_xl',
  'screen-2xl': '$_2xl',
);

@if $isBasic {
  @each $key, $value in $MaxWidth {
    /*x
    @mixin max-w-#{$key} {
      @include max-width(#{$value});
    }
    x*/
  }
}

@if $isRwd and $isClassic {
  @each $rwdToken, $rwd in $rwdBox {
    @each $key, $value in $MaxWidth {
      /*x
      @mixin #{$rwdToken}\:max-w-#{$key} {
        @include max-width(#{$value}, #{$rwd});
      }
      x*/
    }
  }
}

@if $isCustom {
  /*x
  @mixin max-w-($v) {
    @include max-width($v);
  }
  x*/

  @each $rwdToken, $rwd in $rwdBox {
    /*x
    @mixin #{$rwdToken}\:max-w-($v) {
      @include max-width($v, #{$rwd});
    }
    x*/
  }
}
