$Width: (
  '0': '$_0',
  'px': '$_px',
  '0\\.5': '$_0\\.5',
  '1': '$_1',
  '1\\.5': '$_1\\.5',
  '2': '$_2',
  '2\\.5': '$_2\\.5',
  '3': '$_3',
  '3\\.5': '$_3\\.5',
  '4': '$_4',
  '5': '$_5',
  '6': '$_6',
  '7': '$_7',
  '8': '$_8',
  '9': '$_9',
  '10': '$_10',
  '11': '$_11',
  '12': '$_12',
  '14': '$_14',
  '16': '$_16',
  '20': '$_20',
  '24': '$_24',
  '28': '$_28',
  '32': '$_32',
  '36': '$_36',
  '40': '$_40',
  '44': '$_44',
  '48': '$_48',
  '52': '$_52',
  '56': '$_56',
  '60': '$_60',
  '64': '$_64',
  '72': '$_72',
  '80': '$_80',
  '96': '$_96',
  'auto': auto,
  '1\\/2': 50%,
  '1\\/3': 33.333333%,
  '2\\/3': 66.666667%,
  '1\\/4': 25%,
  '2\\/4': 50%,
  '3\\/4': 75%,
  '1\\/5': 20%,
  '2\\/5': 40%,
  '3\\/5': 60%,
  '4\\/5': 80%,
  '1\\/6': 16.666667%,
  '2\\/6': 33.333333%,
  '3\\/6': 50%,
  '4\\/6': 66.666667%,
  '5\\/6': 83.333333%,
  '1\\/12': 8.333333%,
  '2\\/12': 16.666667%,
  '3\\/12': 25%,
  '4\\/12': 33.333333%,
  '5\\/12': 41.666667%,
  '6\\/12': 50%,
  '7\\/12': 58.333333%,
  '8\\/12': 66.666667%,
  '9\\/12': 75%,
  '10\\/12': 83.333333%,
  '11\\/12': 91.666667%,
  'full': 100%,
  'screen': 100vw,
  'svw': 100svw,
  'lvw': 100lvw,
  'dvw': 100dvw,
  'min': min-content,
  'max': max-content,
  'fit': fit-content,
);

@if $isBasic {
  @each $key, $value in $Width {
    /*x
    @mixin w-#{$key} {
      @include width(#{$value});
    }
    x*/
  }
}

@if $isRwd and (not $isAwaken) {
  @each $rwdToken, $rwd in $rwdBox {
    @each $key, $value in $Width {
      /*x
      @mixin #{$rwdToken}\:w-#{$key} {
        @include width(#{$value}, #{$rwd});
      }
      x*/
    }

    /*x
    @mixin #{$rwdToken}\:w-($v) {
      @include width($v, #{$rwd});
    }
    x*/
  }
}

@if $isArbitrary {
  /*x
  @mixin w-($v) {
    @include width($v);
  }
  x*/
}
